{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudkms",
    "version": "v1",
    "title": "Cloud Key Management Service (KMS) API",
    "baseUrl": "https://cloudkms.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudkms_v1#ShowEffectiveAutokeyConfigResponse": {
      "type": "structure",
      "members": {
        "keyProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the key project configured in the resource project's folder ancestry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ShowEffectiveAutokeyConfig."
      }
    },
    "com.gcp.cloudkms_v1#RemoveQuorumMember": {
      "type": "structure",
      "members": {
        "twoFactorPublicKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The public key associated with the 2FA key for the quorum member to remove. Public keys must be associated with RSA 2048 keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remove a quorum member from the SingleTenantHsmInstance. This will reduce total_approver_count by 1. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation."
      }
    },
    "com.gcp.cloudkms_v1#ApproveSingleTenantHsmInstanceProposalRequest": {
      "type": "structure",
      "members": {
        "requiredActionQuorumReply": {
          "target": "com.gcp.cloudkms_v1#RequiredActionQuorumReply",
          "traits": {
            "smithy.api#documentation": "Required. The reply to RequiredActionQuorumParameters for approving the proposal."
          }
        },
        "quorumReply": {
          "target": "com.gcp.cloudkms_v1#QuorumReply",
          "traits": {
            "smithy.api#documentation": "Required. The reply to QuorumParameters for approving the proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for HsmManagement.ApproveSingleTenantHsmInstanceProposal."
      }
    },
    "com.gcp.cloudkms_v1#RegisterTwoFactorAuthKeys": {
      "type": "structure",
      "members": {
        "twoFactorPublicKeyPems": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The public keys associated with the 2FA keys for M of N quorum auth. Public keys must be associated with RSA 2048 keys."
          }
        },
        "requiredApproverCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The required numbers of approvers to set for the SingleTenantHsmInstance. This is the M value used for M of N quorum auth. Must be greater than or equal to 2 and less than or equal to total_approver_count - 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Register 2FA keys for the SingleTenantHsmInstance. This operation requires all Challenges to be signed by 2FA keys. The SingleTenantHsmInstance must be in the PENDING_TWO_FACTOR_AUTH_REGISTRATION state to perform this operation."
      }
    },
    "com.gcp.cloudkms_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudkms_v1#DecryptRequest": {
      "type": "structure",
      "members": {
        "ciphertext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The encrypted data originally returned in EncryptResponse.ciphertext."
          }
        },
        "additionalAuthenticatedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional data that must match the data originally supplied in EncryptRequest.additional_authenticated_data."
          }
        },
        "ciphertextCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the DecryptRequest.ciphertext. If specified, KeyManagementService will verify the integrity of the received DecryptRequest.ciphertext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(DecryptRequest.ciphertext) is equal to DecryptRequest.ciphertext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "additionalAuthenticatedDataCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the DecryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received DecryptRequest.additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(DecryptRequest.additional_authenticated_data) is equal to DecryptRequest.additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.Decrypt."
      }
    },
    "com.gcp.cloudkms_v1#KeyHandle": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of a CryptoKey that has been provisioned for Customer Managed Encryption Key (CMEK) use in the KeyHandle project and location for the requested resource type. The CryptoKey project will reflect the value configured in the AutokeyConfig on the resource project's ancestor folder at the time of the KeyHandle creation. If more than one ancestor folder has a configured AutokeyConfig, the nearest of these configurations is used."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the KeyHandle resource, e.g. `projects/{PROJECT_ID}/locations/{LOCATION}/keyHandles/{KEY_HANDLE_ID}`."
          }
        },
        "resourceTypeSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the resource type that the resulting CryptoKey is meant to protect, e.g. `{SERVICE}.googleapis.com/{TYPE}`. See documentation for supported resource types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource-oriented representation of a request to Cloud KMS Autokey and the resulting provisioning of a CryptoKey."
      }
    },
    "com.gcp.cloudkms_v1#ListImportJobsResponse": {
      "type": "structure",
      "members": {
        "importJobs": {
          "target": "com.gcp.cloudkms_v1#ImportJobList",
          "traits": {
            "smithy.api#documentation": "The list of ImportJobs."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of ImportJobs that matched the query. This field is not populated if ListImportJobsRequest.filter is applied."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListImportJobsRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.ListImportJobs."
      }
    },
    "com.gcp.cloudkms_v1#ImportJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#ImportJob"
      }
    },
    "com.gcp.cloudkms_v1#ListRetiredResourcesResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of RetiredResources that matched the query."
          }
        },
        "retiredResources": {
          "target": "com.gcp.cloudkms_v1#RetiredResourceList",
          "traits": {
            "smithy.api#documentation": "The list of RetiredResources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in ListRetiredResourcesRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.ListRetiredResources."
      }
    },
    "com.gcp.cloudkms_v1#RetiredResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#RetiredResource"
      }
    },
    "com.gcp.cloudkms_v1#KeyAccessJustificationsPolicyConfig": {
      "type": "structure",
      "members": {
        "defaultPolicyAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this parent resource is available to default policy feature. Please consult [the prerequisite of default policy feature](https://cloud.google.com/assured-workloads/key-access-justifications/docs/set-default-policy#before) for more details."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Represents the resource name for this KeyAccessJustificationsPolicyConfig in the format of \"{organizations|folders|projects}/*/kajPolicyConfig\"."
          }
        },
        "defaultKeyAccessJustificationPolicy": {
          "target": "com.gcp.cloudkms_v1#KeyAccessJustificationsPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the default key access justifications (KAJ) policy used when a CryptoKey is created in this folder. This is only used when a Key Access Justifications policy is not provided in the CreateCryptoKeyRequest. This overrides any default policies in its ancestry. If this field is unset, or is set but contains an empty allowed_access_reasons list, no default Key Access Justifications (KAJ) policy configuration is active. In this scenario, all newly created keys will default to an \"allow-all\" policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a singleton configuration for Key Access Justifications policies."
      }
    },
    "com.gcp.cloudkms_v1#PublicKey": {
      "type": "structure",
      "members": {
        "publicKeyFormat": {
          "target": "com.gcp.cloudkms_v1#PublicKeyPublicKeyFormatEnum",
          "traits": {
            "smithy.api#documentation": "The PublicKey format specified by the customer through the public_key_format field."
          }
        },
        "pemCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned PublicKey.pem. An integrity check of PublicKey.pem can be performed by computing the CRC32C checksum of PublicKey.pem and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed `2^32-1`, and can be safely downconverted to uint32 in languages that support this type. NOTE: This field is in Beta."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the CryptoKeyVersion public key. Provided here for verification. NOTE: This field is in Beta."
          }
        },
        "pem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key, encoded in PEM format. For more information, see the [RFC 7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13)."
          }
        },
        "publicKey": {
          "target": "com.gcp.cloudkms_v1#ChecksummedData",
          "traits": {
            "smithy.api#documentation": "This field contains the public key (with integrity verification), formatted according to the public_key_format field."
          }
        },
        "algorithm": {
          "target": "com.gcp.cloudkms_v1#PublicKeyAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The Algorithm associated with this key."
          }
        },
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#PublicKeyProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "The ProtectionLevel of the CryptoKeyVersion public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The public keys for a given CryptoKeyVersion. Obtained via GetPublicKey."
      }
    },
    "com.gcp.cloudkms_v1#PublicKeyPublicKeyFormatEnum": {
      "type": "enum",
      "members": {
        "PUBLIC_KEY_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_KEY_FORMAT_UNSPECIFIED"
          }
        },
        "PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEM"
          }
        },
        "DER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DER"
          }
        },
        "NIST_PQC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_PQC"
          }
        },
        "XWING_RAW_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XWING_RAW_BYTES"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#PublicKeyAlgorithmEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "GOOGLE_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYMMETRIC_ENCRYPTION"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_GCM"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_GCM"
          }
        },
        "AES_128_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CBC"
          }
        },
        "AES_256_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CBC"
          }
        },
        "AES_128_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CTR"
          }
        },
        "AES_256_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CTR"
          }
        },
        "RSA_SIGN_PSS_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_2048_SHA256"
          }
        },
        "RSA_SIGN_PSS_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_3072_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA512"
          }
        },
        "RSA_SIGN_PKCS1_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_2048_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_3072_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA512"
          }
        },
        "RSA_SIGN_RAW_PKCS1_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_2048"
          }
        },
        "RSA_SIGN_RAW_PKCS1_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_3072"
          }
        },
        "RSA_SIGN_RAW_PKCS1_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_4096"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA512"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA1"
          }
        },
        "EC_SIGN_P256_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P256_SHA256"
          }
        },
        "EC_SIGN_P384_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P384_SHA384"
          }
        },
        "EC_SIGN_SECP256K1_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_SECP256K1_SHA256"
          }
        },
        "EC_SIGN_ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_ED25519"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA256"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA1"
          }
        },
        "HMAC_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA384"
          }
        },
        "HMAC_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA512"
          }
        },
        "HMAC_SHA224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA224"
          }
        },
        "EXTERNAL_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_SYMMETRIC_ENCRYPTION"
          }
        },
        "ML_KEM_768": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_768"
          }
        },
        "ML_KEM_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_1024"
          }
        },
        "KEM_XWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEM_XWING"
          }
        },
        "PQ_SIGN_ML_DSA_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44"
          }
        },
        "PQ_SIGN_ML_DSA_65": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65"
          }
        },
        "PQ_SIGN_ML_DSA_87": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87"
          }
        },
        "PQ_SIGN_SLH_DSA_SHA2_128S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_SLH_DSA_SHA2_128S"
          }
        },
        "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256"
          }
        },
        "PQ_SIGN_ML_DSA_44_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_65_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_87_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#PublicKeyProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#ListSingleTenantHsmInstancesResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of SingleTenantHsmInstances that matched the query. This field is not populated if ListSingleTenantHsmInstancesRequest.filter is applied."
          }
        },
        "singleTenantHsmInstances": {
          "target": "com.gcp.cloudkms_v1#SingleTenantHsmInstanceList",
          "traits": {
            "smithy.api#documentation": "The list of SingleTenantHsmInstances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListSingleTenantHsmInstancesRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for HsmManagement.ListSingleTenantHsmInstances."
      }
    },
    "com.gcp.cloudkms_v1#SingleTenantHsmInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#SingleTenantHsmInstance"
      }
    },
    "com.gcp.cloudkms_v1#RawEncryptRequest": {
      "type": "structure",
      "members": {
        "plaintext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The data to encrypt. Must be no larger than 64KiB. The maximum size depends on the key version's protection_level. For SOFTWARE keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB."
          }
        },
        "plaintextCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the RawEncryptRequest.plaintext. If specified, KeyManagementService will verify the integrity of the received plaintext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(plaintext) is equal to plaintext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "additionalAuthenticatedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional data that, if specified, must also be provided during decryption through RawDecryptRequest.additional_authenticated_data. This field may only be used in conjunction with an algorithm that accepts additional authenticated data (for example, AES-GCM). The maximum size depends on the key version's protection_level. For SOFTWARE keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB."
          }
        },
        "initializationVector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A customer-supplied initialization vector that will be used for encryption. If it is not provided for AES-CBC and AES-CTR, one will be generated. It will be returned in RawEncryptResponse.initialization_vector."
          }
        },
        "initializationVectorCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the RawEncryptRequest.initialization_vector. If specified, KeyManagementService will verify the integrity of the received initialization_vector using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(initialization_vector) is equal to initialization_vector_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "additionalAuthenticatedDataCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the RawEncryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(additional_authenticated_data) is equal to additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.RawEncrypt."
      }
    },
    "com.gcp.cloudkms_v1#ListKeyHandlesResponse": {
      "type": "structure",
      "members": {
        "keyHandles": {
          "target": "com.gcp.cloudkms_v1#KeyHandleList",
          "traits": {
            "smithy.api#documentation": "Resulting KeyHandles."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListKeyHandlesRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Autokey.ListKeyHandles."
      }
    },
    "com.gcp.cloudkms_v1#KeyHandleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#KeyHandle"
      }
    },
    "com.gcp.cloudkms_v1#CertificateChains": {
      "type": "structure",
      "members": {
        "caviumCerts": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Cavium certificate chain corresponding to the attestation."
          }
        },
        "googleCardCerts": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Google card certificate chain corresponding to the attestation."
          }
        },
        "googlePartitionCerts": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Google partition certificate chain corresponding to the attestation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2."
      }
    },
    "com.gcp.cloudkms_v1#RawDecryptResponse": {
      "type": "structure",
      "members": {
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#RawDecryptResponseProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "The ProtectionLevel of the CryptoKeyVersion used in decryption."
          }
        },
        "verifiedAdditionalAuthenticatedDataCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawDecryptRequest.additional_authenticated_data_crc32c was received by KeyManagementService and used for the integrity verification of additional_authenticated_data. A false value of this field indicates either that // RawDecryptRequest.additional_authenticated_data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawDecryptRequest.additional_authenticated_data_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "plaintext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decrypted data."
          }
        },
        "plaintextCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned RawDecryptResponse.plaintext. An integrity check of plaintext can be performed by computing the CRC32C checksum of plaintext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: receiving this response message indicates that KeyManagementService is able to successfully decrypt the ciphertext. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "verifiedCiphertextCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawDecryptRequest.ciphertext_crc32c was received by KeyManagementService and used for the integrity verification of the ciphertext. A false value of this field indicates either that RawDecryptRequest.ciphertext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawDecryptRequest.ciphertext_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "verifiedInitializationVectorCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawDecryptRequest.initialization_vector_crc32c was received by KeyManagementService and used for the integrity verification of initialization_vector. A false value of this field indicates either that RawDecryptRequest.initialization_vector_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawDecryptRequest.initialization_vector_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.RawDecrypt."
      }
    },
    "com.gcp.cloudkms_v1#RawDecryptResponseProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#Digest": {
      "type": "structure",
      "members": {
        "sha384": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message digest produced with the SHA-384 algorithm."
          }
        },
        "sha512": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message digest produced with the SHA-512 algorithm."
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message digest produced with the SHA-256 algorithm."
          }
        },
        "externalMu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message digest produced with SHAKE-256, to be used with ML-DSA external-μ algorithms only. See \"message representative\" note in section 6.2, algorithm 7 of the FIPS-204 standard: https://doi.org/10.6028/nist.fips.204"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Digest holds a cryptographic message digest."
      }
    },
    "com.gcp.cloudkms_v1#ListEkmConnectionsResponse": {
      "type": "structure",
      "members": {
        "ekmConnections": {
          "target": "com.gcp.cloudkms_v1#EkmConnectionList",
          "traits": {
            "smithy.api#documentation": "The list of EkmConnections."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of EkmConnections that matched the query. This field is not populated if ListEkmConnectionsRequest.filter is applied."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListEkmConnectionsRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for EkmService.ListEkmConnections."
      }
    },
    "com.gcp.cloudkms_v1#EkmConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#EkmConnection"
      }
    },
    "com.gcp.cloudkms_v1#WrappingPublicKey": {
      "type": "structure",
      "members": {
        "pem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key, encoded in PEM format. For more information, see the [RFC 7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13). This field gets populated by default for RSA-based import methods, if no public_key_format is specified in the request. If you want to retrieve the wrapping key of an ImportJob in some other format, use KeyManagementService.GetImportJob and set the public_key_format to the desired public key format."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Contains the public key, formatted according to the PublicKey.PublicKeyFormat specified in the KeyManagementService.GetImportJob request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The public key component of the wrapping key. For details of the type of key this public key corresponds to, see the ImportMethod."
      }
    },
    "com.gcp.cloudkms_v1#RawEncryptResponse": {
      "type": "structure",
      "members": {
        "tagLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of the authentication tag that is appended to the end of the ciphertext."
          }
        },
        "initializationVectorCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned RawEncryptResponse.initialization_vector. An integrity check of initialization_vector can be performed by computing the CRC32C checksum of initialization_vector and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "verifiedInitializationVectorCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawEncryptRequest.initialization_vector_crc32c was received by KeyManagementService and used for the integrity verification of initialization_vector. A false value of this field indicates either that RawEncryptRequest.initialization_vector_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawEncryptRequest.initialization_vector_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "ciphertext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted data. In the case of AES-GCM, the authentication tag is the tag_length bytes at the end of this field."
          }
        },
        "ciphertextCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned RawEncryptResponse.ciphertext. An integrity check of ciphertext can be performed by computing the CRC32C checksum of ciphertext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "verifiedAdditionalAuthenticatedDataCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawEncryptRequest.additional_authenticated_data_crc32c was received by KeyManagementService and used for the integrity verification of additional_authenticated_data. A false value of this field indicates either that // RawEncryptRequest.additional_authenticated_data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawEncryptRequest.additional_authenticated_data_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the CryptoKeyVersion used in encryption. Check this field to verify that the intended resource was used for encryption."
          }
        },
        "verifiedPlaintextCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether RawEncryptRequest.plaintext_crc32c was received by KeyManagementService and used for the integrity verification of the plaintext. A false value of this field indicates either that RawEncryptRequest.plaintext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set RawEncryptRequest.plaintext_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#RawEncryptResponseProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "The ProtectionLevel of the CryptoKeyVersion used in encryption."
          }
        },
        "initializationVector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initialization vector (IV) generated by the service during encryption. This value must be stored and provided in RawDecryptRequest.initialization_vector at decryption time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.RawEncrypt."
      }
    },
    "com.gcp.cloudkms_v1#RawEncryptResponseProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudkms_v1#ExternalProtectionLevelOptions": {
      "type": "structure",
      "members": {
        "externalKeyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI for an external resource that this CryptoKeyVersion represents."
          }
        },
        "ekmConnectionKeyPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
      }
    },
    "com.gcp.cloudkms_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudkms_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudkms_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#Location"
      }
    },
    "com.gcp.cloudkms_v1#Challenge": {
      "type": "structure",
      "members": {
        "publicKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The public key associated with the 2FA key that should sign the challenge."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The challenge to be signed by the 2FA key indicated by the public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A challenge to be signed by a 2FA key."
      }
    },
    "com.gcp.cloudkms_v1#GenerateRandomBytesResponse": {
      "type": "structure",
      "members": {
        "dataCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned GenerateRandomBytesResponse.data. An integrity check of GenerateRandomBytesResponse.data can be performed by computing the CRC32C checksum of GenerateRandomBytesResponse.data and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.GenerateRandomBytes."
      }
    },
    "com.gcp.cloudkms_v1#RestoreCryptoKeyVersionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.RestoreCryptoKeyVersion."
      }
    },
    "com.gcp.cloudkms_v1#KeyRing": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for the KeyRing in the format `projects/*/locations/*/keyRings/*`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this KeyRing was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A KeyRing is a toplevel logical grouping of CryptoKeys."
      }
    },
    "com.gcp.cloudkms_v1#QuorumParameters": {
      "type": "structure",
      "members": {
        "requiredApproverCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The required numbers of approvers. This is the M value used for M of N quorum auth. It is less than the number of public keys."
          }
        },
        "challenges": {
          "target": "com.gcp.cloudkms_v1#ChallengeList",
          "traits": {
            "smithy.api#documentation": "Output only. The challenges to be signed by 2FA keys for quorum auth. M of N of these challenges are required to be signed to approve the operation."
          }
        },
        "approvedTwoFactorPublicKeyPems": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The public keys associated with the 2FA keys that have already approved the SingleTenantHsmInstanceProposal by signing the challenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters of quorum approval for the SingleTenantHsmInstanceProposal."
      }
    },
    "com.gcp.cloudkms_v1#ChallengeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#Challenge"
      }
    },
    "com.gcp.cloudkms_v1#ChecksummedData": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw Data."
          }
        },
        "crc32cChecksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned ChecksummedData.data. An integrity check of ChecksummedData.data can be performed by computing the CRC32C checksum of ChecksummedData.data and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed `2^32-1`, and can be safely downconverted to uint32 in languages that support this type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data with integrity verification field."
      }
    },
    "com.gcp.cloudkms_v1#UpdateCryptoKeyPrimaryVersionRequest": {
      "type": "structure",
      "members": {
        "cryptoKeyVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the child CryptoKeyVersion to use as primary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.UpdateCryptoKeyPrimaryVersion."
      }
    },
    "com.gcp.cloudkms_v1#ListSingleTenantHsmInstanceProposalsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListSingleTenantHsmInstanceProposalsRequest.page_token to retrieve the next page of results."
          }
        },
        "singleTenantHsmInstanceProposals": {
          "target": "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposalList",
          "traits": {
            "smithy.api#documentation": "The list of SingleTenantHsmInstanceProposals."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of SingleTenantHsmInstanceProposals that matched the query. This field is not populated if ListSingleTenantHsmInstanceProposalsRequest.filter is applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for HsmManagement.ListSingleTenantHsmInstanceProposals."
      }
    },
    "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposal"
      }
    },
    "com.gcp.cloudkms_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudkms_v1#ShowEffectiveKeyAccessJustificationsPolicyConfigResponse": {
      "type": "structure",
      "members": {
        "effectiveKajPolicy": {
          "target": "com.gcp.cloudkms_v1#KeyAccessJustificationsPolicyConfig",
          "traits": {
            "smithy.api#documentation": "Contains the effective KeyAccessJustificationsPolicyConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a response message for KeyAccessJustificationsConfig.ShowEffectiveKeyAccessJustificationsPolicyConfig."
      }
    },
    "com.gcp.cloudkms_v1#DeleteSingleTenantHsmInstance": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Delete the SingleTenantHsmInstance. Deleting a SingleTenantHsmInstance will make all CryptoKeys attached to the SingleTenantHsmInstance unusable. The SingleTenantHsmInstance must not be in the DELETING or DELETED state to perform this operation."
      }
    },
    "com.gcp.cloudkms_v1#ListCryptoKeysResponse": {
      "type": "structure",
      "members": {
        "cryptoKeys": {
          "target": "com.gcp.cloudkms_v1#CryptoKeyList",
          "traits": {
            "smithy.api#documentation": "The list of CryptoKeys."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of CryptoKeys that matched the query. This field is not populated if ListCryptoKeysRequest.filter is applied."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListCryptoKeysRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.ListCryptoKeys."
      }
    },
    "com.gcp.cloudkms_v1#CryptoKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#CryptoKey"
      }
    },
    "com.gcp.cloudkms_v1#DestroyCryptoKeyVersionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.DestroyCryptoKeyVersion."
      }
    },
    "com.gcp.cloudkms_v1#ServiceResolver": {
      "type": "structure",
      "members": {
        "serviceDirectoryService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Service Directory service pointing to an EKM replica, in the format `projects/*/locations/*/namespaces/*/services/*`."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The hostname of the EKM replica used at TLS and HTTP layers."
          }
        },
        "endpointFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter applied to the endpoints of the resolved service. If no filter is specified, all endpoints will be considered. An endpoint will be chosen arbitrarily from the filtered list for each request. For endpoint filter syntax and examples, see https://cloud.google.com/service-directory/docs/reference/rpc/google.cloud.servicedirectory.v1#resolveservicerequest."
          }
        },
        "serverCertificates": {
          "target": "com.gcp.cloudkms_v1#CertificateList",
          "traits": {
            "smithy.api#documentation": "Required. A list of leaf server certificates used to authenticate HTTPS connections to the EKM replica. Currently, a maximum of 10 Certificate is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ServiceResolver represents an EKM replica that can be reached within an EkmConnection."
      }
    },
    "com.gcp.cloudkms_v1#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudkms_v1#Certificate"
      }
    },
    "com.gcp.cloudkms_v1#MacVerifyRequest": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The data used previously as a MacSignRequest.data to generate the MAC tag."
          }
        },
        "macCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the MacVerifyRequest.mac. If specified, KeyManagementService will verify the integrity of the received MacVerifyRequest.mac using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(MacVerifyRequest.mac) is equal to MacVerifyRequest.mac_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "dataCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional CRC32C checksum of the MacVerifyRequest.data. If specified, KeyManagementService will verify the integrity of the received MacVerifyRequest.data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(MacVerifyRequest.data) is equal to MacVerifyRequest.data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "mac": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The signature to verify."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for KeyManagementService.MacVerify."
      }
    },
    "com.gcp.cloudkms_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudkms_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudkms_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudkms_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.cloudkms_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.cloudkms_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudkms_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudkms_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudkms_v1#AsymmetricSignResponse": {
      "type": "structure",
      "members": {
        "signatureCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned AsymmetricSignResponse.signature. An integrity check of AsymmetricSignResponse.signature can be performed by computing the CRC32C checksum of AsymmetricSignResponse.signature and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the CryptoKeyVersion used for signing. Check this field to verify that the intended resource was used for signing."
          }
        },
        "verifiedDataCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether AsymmetricSignRequest.data_crc32c was received by KeyManagementService and used for the integrity verification of the data. A false value of this field indicates either that AsymmetricSignRequest.data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricSignRequest.data_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The created signature."
          }
        },
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#AsymmetricSignResponseProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "The ProtectionLevel of the CryptoKeyVersion used for signing."
          }
        },
        "verifiedDigestCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether AsymmetricSignRequest.digest_crc32c was received by KeyManagementService and used for the integrity verification of the digest. A false value of this field indicates either that AsymmetricSignRequest.digest_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricSignRequest.digest_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.AsymmetricSign."
      }
    },
    "com.gcp.cloudkms_v1#AsymmetricSignResponseProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#VerifyConnectivityResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for EkmService.VerifyConnectivity."
      }
    },
    "com.gcp.cloudkms_v1#Certificate": {
      "type": "structure",
      "members": {
        "notAfterTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate is not valid after this time. Only present if parsed is true."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The subject distinguished name in RFC 2253 format. Only present if parsed is true."
          }
        },
        "notBeforeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate is not valid before this time. Only present if parsed is true."
          }
        },
        "subjectAlternativeDnsNames": {
          "target": "com.gcp.cloudkms_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The subject Alternative DNS names. Only present if parsed is true."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate serial number as a hex string. Only present if parsed is true."
          }
        },
        "parsed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the certificate was parsed successfully."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The issuer distinguished name in RFC 2253 format. Only present if parsed is true."
          }
        },
        "rawDer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The raw certificate bytes in DER format."
          }
        },
        "sha256Fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SHA-256 certificate fingerprint as a hex string. Only present if parsed is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Certificate represents an X.509 certificate used to authenticate HTTPS connections to EKM replicas."
      }
    },
    "com.gcp.cloudkms_v1#AsymmetricDecryptResponse": {
      "type": "structure",
      "members": {
        "verifiedCiphertextCrc32c": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A flag indicating whether AsymmetricDecryptRequest.ciphertext_crc32c was received by KeyManagementService and used for the integrity verification of the ciphertext. A false value of this field indicates either that AsymmetricDecryptRequest.ciphertext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricDecryptRequest.ciphertext_crc32c but this field is still false, discard the response and perform a limited number of retries."
          }
        },
        "plaintext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decrypted data originally encrypted with the matching public key."
          }
        },
        "plaintextCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integrity verification field. A CRC32C checksum of the returned AsymmetricDecryptResponse.plaintext. An integrity check of AsymmetricDecryptResponse.plaintext can be performed by computing the CRC32C checksum of AsymmetricDecryptResponse.plaintext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
          }
        },
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#AsymmetricDecryptResponseProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "The ProtectionLevel of the CryptoKeyVersion used in decryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyManagementService.AsymmetricDecrypt."
      }
    },
    "com.gcp.cloudkms_v1#AsymmetricDecryptResponseProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#RetiredResource": {
      "type": "structure",
      "members": {
        "originalResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource name of the original CryptoKey that was deleted in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name for this RetiredResource in the format `projects/*/locations/*/retiredResources/*`."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource type of the original deleted resource."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the original resource was deleted and this RetiredResource record was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A RetiredResource resource represents the record of a deleted CryptoKey. Its purpose is to provide visibility into retained user data and to prevent reuse of these names for new CryptoKeys."
      }
    },
    "com.gcp.cloudkms_v1#ShowEffectiveKeyAccessJustificationsEnrollmentConfigResponse": {
      "type": "structure",
      "members": {
        "softwareConfig": {
          "target": "com.gcp.cloudkms_v1#KeyAccessJustificationsEnrollmentConfig",
          "traits": {
            "smithy.api#documentation": "Contains the effective KeyAccessJustificationsEnrollmentConfig for software keys."
          }
        },
        "hardwareConfig": {
          "target": "com.gcp.cloudkms_v1#KeyAccessJustificationsEnrollmentConfig",
          "traits": {
            "smithy.api#documentation": "Contains the effective KeyAccessJustificationsEnrollmentConfig for hardware keys."
          }
        },
        "externalConfig": {
          "target": "com.gcp.cloudkms_v1#KeyAccessJustificationsEnrollmentConfig",
          "traits": {
            "smithy.api#documentation": "Contains the effective KeyAccessJustificationsEnrollmentConfig for external keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a response message for KeyAccessJustificationsConfig.ShowEffectiveKeyAccessJustificationsEnrollmentConfig"
      }
    },
    "com.gcp.cloudkms_v1#CryptoKeyVersionTemplate": {
      "type": "structure",
      "members": {
        "protectionLevel": {
          "target": "com.gcp.cloudkms_v1#CryptoKeyVersionTemplateProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE."
          }
        },
        "algorithm": {
          "target": "com.gcp.cloudkms_v1#CryptoKeyVersionTemplateAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation."
      }
    },
    "com.gcp.cloudkms_v1#CryptoKeyVersionTemplateProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#CryptoKeyVersionTemplateAlgorithmEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "GOOGLE_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYMMETRIC_ENCRYPTION"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_GCM"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_GCM"
          }
        },
        "AES_128_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CBC"
          }
        },
        "AES_256_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CBC"
          }
        },
        "AES_128_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CTR"
          }
        },
        "AES_256_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CTR"
          }
        },
        "RSA_SIGN_PSS_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_2048_SHA256"
          }
        },
        "RSA_SIGN_PSS_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_3072_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA512"
          }
        },
        "RSA_SIGN_PKCS1_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_2048_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_3072_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA512"
          }
        },
        "RSA_SIGN_RAW_PKCS1_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_2048"
          }
        },
        "RSA_SIGN_RAW_PKCS1_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_3072"
          }
        },
        "RSA_SIGN_RAW_PKCS1_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_4096"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA512"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA1"
          }
        },
        "EC_SIGN_P256_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P256_SHA256"
          }
        },
        "EC_SIGN_P384_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P384_SHA384"
          }
        },
        "EC_SIGN_SECP256K1_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_SECP256K1_SHA256"
          }
        },
        "EC_SIGN_ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_ED25519"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA256"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA1"
          }
        },
        "HMAC_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA384"
          }
        },
        "HMAC_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA512"
          }
        },
        "HMAC_SHA224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA224"
          }
        },
        "EXTERNAL_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_SYMMETRIC_ENCRYPTION"
          }
        },
        "ML_KEM_768": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_768"
          }
        },
        "ML_KEM_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_1024"
          }
        },
        "KEM_XWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEM_XWING"
          }
        },
        "PQ_SIGN_ML_DSA_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44"
          }
        },
        "PQ_SIGN_ML_DSA_65": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65"
          }
        },
        "PQ_SIGN_ML_DSA_87": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87"
          }
        },
        "PQ_SIGN_SLH_DSA_SHA2_128S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_SLH_DSA_SHA2_128S"
          }
        },
        "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256"
          }
        },
        "PQ_SIGN_ML_DSA_44_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_65_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_87_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#ChallengeReply": {
      "type": "structure",
      "members": {
        "signedChallenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The signed challenge associated with the 2FA key. The signature must be RSASSA-PKCS1 v1.5 with a SHA256 digest."
          }
        },
        "publicKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The public key associated with the 2FA key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reply to a challenge signed by a 2FA key."
      }
    },
    "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposal": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the SingleTenantHsmInstanceProposal was deleted."
          }
        },
        "deleteSingleTenantHsmInstance": {
          "target": "com.gcp.cloudkms_v1#DeleteSingleTenantHsmInstance",
          "traits": {
            "smithy.api#documentation": "Delete the SingleTenantHsmInstance. Deleting a SingleTenantHsmInstance will make all CryptoKeys attached to the SingleTenantHsmInstance unusable. The SingleTenantHsmInstance must be in the DISABLED or PENDING_TWO_FACTOR_AUTH_REGISTRATION state to perform this operation."
          }
        },
        "quorumParameters": {
          "target": "com.gcp.cloudkms_v1#QuorumParameters",
          "traits": {
            "smithy.api#documentation": "Output only. The quorum approval parameters for the SingleTenantHsmInstanceProposal."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The TTL for the SingleTenantHsmInstanceProposal. Proposals will expire after this duration."
          }
        },
        "refreshSingleTenantHsmInstance": {
          "target": "com.gcp.cloudkms_v1#RefreshSingleTenantHsmInstance",
          "traits": {
            "smithy.api#documentation": "Refreshes the SingleTenantHsmInstance. This operation must be performed periodically to keep the SingleTenantHsmInstance active. This operation must be performed before unrefreshed_duration_until_disable has passed. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation."
          }
        },
        "enableSingleTenantHsmInstance": {
          "target": "com.gcp.cloudkms_v1#EnableSingleTenantHsmInstance",
          "traits": {
            "smithy.api#documentation": "Enable the SingleTenantHsmInstance. The SingleTenantHsmInstance must be in the DISABLED state to perform this operation."
          }
        },
        "addQuorumMember": {
          "target": "com.gcp.cloudkms_v1#AddQuorumMember",
          "traits": {
            "smithy.api#documentation": "Add a quorum member to the SingleTenantHsmInstance. This will increase the total_approver_count by 1. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The root cause of the most recent failure. Only present if state is FAILED."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the soft-deleted SingleTenantHsmInstanceProposal will be permanently purged. This field is only populated when the state is DELETED and will be set a time after expiration of the proposal, i.e. >= expire_time or (create_time + ttl)."
          }
        },
        "state": {
          "target": "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the SingleTenantHsmInstanceProposal."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the SingleTenantHsmInstanceProposal was created."
          }
        },
        "removeQuorumMember": {
          "target": "com.gcp.cloudkms_v1#RemoveQuorumMember",
          "traits": {
            "smithy.api#documentation": "Remove a quorum member from the SingleTenantHsmInstance. This will reduce total_approver_count by 1. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this SingleTenantHsmInstance in the format `projects/*/locations/*/singleTenantHsmInstances/*/proposals/*`."
          }
        },
        "registerTwoFactorAuthKeys": {
          "target": "com.gcp.cloudkms_v1#RegisterTwoFactorAuthKeys",
          "traits": {
            "smithy.api#documentation": "Register 2FA keys for the SingleTenantHsmInstance. This operation requires all N Challenges to be signed by 2FA keys. The SingleTenantHsmInstance must be in the PENDING_TWO_FACTOR_AUTH_REGISTRATION state to perform this operation."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the SingleTenantHsmInstanceProposal will expire if not approved and executed."
          }
        },
        "disableSingleTenantHsmInstance": {
          "target": "com.gcp.cloudkms_v1#DisableSingleTenantHsmInstance",
          "traits": {
            "smithy.api#documentation": "Disable the SingleTenantHsmInstance. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation."
          }
        },
        "requiredActionQuorumParameters": {
          "target": "com.gcp.cloudkms_v1#RequiredActionQuorumParameters",
          "traits": {
            "smithy.api#documentation": "Output only. Parameters for an approval of a SingleTenantHsmInstanceProposal that has both required challenges and a quorum."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A SingleTenantHsmInstanceProposal represents a proposal to perform an operation on a SingleTenantHsmInstance."
      }
    },
    "com.gcp.cloudkms_v1#SingleTenantHsmInstanceProposalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.cloudkms_v1#KeyAccessJustificationsEnrollmentConfig": {
      "type": "structure",
      "members": {
        "auditLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
