{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudidentity",
    "version": "v1",
    "title": "Cloud Identity API",
    "baseUrl": "https://cloudidentity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for cancelling an unfinished user account wipe."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for cancelling an unfinished device wipe."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceList",
          "traits": {
            "smithy.api#documentation": "Devices meeting the list restrictions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned from the ListDevices method."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device"
      }
    },
    "com.gcp.cloudidentity_v1#DeleteInboundOidcSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1#SearchTransitiveGroupsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.cloudidentity_v1#GroupRelationList",
          "traits": {
            "smithy.api#documentation": "List of transitive groups satisfying the query."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.SearchTransitiveGroups."
      }
    },
    "com.gcp.cloudidentity_v1#GroupRelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#GroupRelation"
      }
    },
    "com.gcp.cloudidentity_v1#ListMembershipsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.cloudidentity_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "The `Membership`s under the specified `parent`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.ListMemberships."
      }
    },
    "com.gcp.cloudidentity_v1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#Membership"
      }
    },
    "com.gcp.cloudidentity_v1#Group": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.cloudidentity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
          }
        },
        "dynamicGroupMetadata": {
          "target": "com.gcp.cloudidentity_v1#DynamicGroupMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic group metadata like queries and status."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the `Group`."
          }
        },
        "additionalGroupKeys": {
          "target": "com.gcp.cloudidentity_v1#EntityKeyList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional group keys associated with the Group."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was created."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
          }
        },
        "groupKey": {
          "target": "com.gcp.cloudidentity_v1#EntityKey",
          "traits": {
            "smithy.api#documentation": "Required. The `EntityKey` of the `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account."
      }
    },
    "com.gcp.cloudidentity_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudidentity_v1#EntityKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#EntityKey"
      }
    },
    "com.gcp.cloudidentity_v1#RsaPublicKeyInfo": {
      "type": "structure",
      "members": {
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Key size in bits (size of the modulus)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a RSA public key."
      }
    },
    "com.gcp.cloudidentity_v1#MembershipRoleRestrictionEvaluation": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.cloudidentity_v1#MembershipRoleRestrictionEvaluationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The evaluated state of this restriction."
      }
    },
    "com.gcp.cloudidentity_v1#MembershipRoleRestrictionEvaluationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "FORWARD_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD_COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATING"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "structure",
      "members": {
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User agent on the device for this specific user"
          }
        },
        "passwordState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserPasswordStateEnum",
          "traits": {
            "smithy.api#documentation": "Password state of the DeviceUser object"
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user registered on the device."
          }
        },
        "firstSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent time when user registered with this service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last time when user synced with policies."
          }
        },
        "compromisedState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserCompromisedStateEnum",
          "traits": {
            "smithy.api#documentation": "Compromised State of the DeviceUser object"
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Default locale used on device, in IETF BCP-47 format."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user first signed in to the device"
          }
        },
        "managementState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Management state of the user on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserPasswordStateEnum": {
      "type": "enum",
      "members": {
        "PASSWORD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_STATE_UNSPECIFIED"
          }
        },
        "PASSWORD_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_SET"
          }
        },
        "PASSWORD_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_NOT_SET"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserCompromisedStateEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_STATE_UNSPECIFIED"
          }
        },
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED"
          }
        },
        "NOT_COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_COMPROMISED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserManagementStateEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "WIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPING"
          }
        },
        "WIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "PENDING_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_APPROVAL"
          }
        },
        "UNENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENROLLED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#UserInvitation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the `UserInvitation` was last updated."
          }
        },
        "state": {
          "target": "com.gcp.cloudidentity_v1#UserInvitationStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the `UserInvitation`."
          }
        },
        "mailsSentCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of invitation emails sent to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed."
      }
    },
    "com.gcp.cloudidentity_v1#UserInvitationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NOT_YET_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_YET_SENT"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#MembershipRole": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
          }
        },
        "expiryDetail": {
          "target": "com.gcp.cloudidentity_v1#ExpiryDetail",
          "traits": {
            "smithy.api#documentation": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
          }
        },
        "restrictionEvaluations": {
          "target": "com.gcp.cloudidentity_v1#RestrictionEvaluations",
          "traits": {
            "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CancelWipeDeviceUser LRO."
      }
    },
    "com.gcp.cloudidentity_v1#ListIdpCredentialsResponse": {
      "type": "structure",
      "members": {
        "idpCredentials": {
          "target": "com.gcp.cloudidentity_v1#IdpCredentialList",
          "traits": {
            "smithy.api#documentation": "The IdpCredentials from the specified InboundSamlSsoProfile."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method."
      }
    },
    "com.gcp.cloudidentity_v1#IdpCredentialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#IdpCredential"
      }
    },
    "com.gcp.cloudidentity_v1#ListPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.cloudidentity_v1#PolicyList",
          "traits": {
            "smithy.api#documentation": "The results"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for PoliciesService.ListPolicies."
      }
    },
    "com.gcp.cloudidentity_v1#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#Policy"
      }
    },
    "com.gcp.cloudidentity_v1#InboundSamlSsoProfile": {
      "type": "structure",
      "members": {
        "spConfig": {
          "target": "com.gcp.cloudidentity_v1#SamlSpConfig",
          "traits": {
            "smithy.api#documentation": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the SAML SSO profile."
          }
        },
        "idpConfig": {
          "target": "com.gcp.cloudidentity_v1#SamlIdpConfig",
          "traits": {
            "smithy.api#documentation": "SAML identity provider configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider."
      }
    },
    "com.gcp.cloudidentity_v1#SamlSpConfig": {
      "type": "structure",
      "members": {
        "assertionConsumerServiceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SAML **Entity ID** for this service provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SAML SP (service provider) configuration."
      }
    },
    "com.gcp.cloudidentity_v1#AddIdpCredentialRequest": {
      "type": "structure",
      "members": {
        "pemData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM encoded x509 certificate containing the public key for verifying IdP signatures."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials."
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupQuery": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.gcp.cloudidentity_v1#DynamicGroupQueryResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Resource type for the Dynamic Group Query"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a query on a resource."
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupQueryResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#SecuritySettings": {
      "type": "structure",
      "members": {
        "memberRestriction": {
          "target": "com.gcp.cloudidentity_v1#MemberRestriction",
          "traits": {
            "smithy.api#documentation": "The Member Restriction value"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of security settings."
      }
    },
    "com.gcp.cloudidentity_v1#ModifyMembershipRolesResponse": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.gcp.cloudidentity_v1#Membership",
          "traits": {
            "smithy.api#documentation": "The `Membership` resource after modifying its `MembershipRole`s."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.ModifyMembershipRoles."
      }
    },
    "com.gcp.cloudidentity_v1#ListInboundOidcSsoProfilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "inboundOidcSsoProfiles": {
          "target": "com.gcp.cloudidentity_v1#InboundOidcSsoProfileList",
          "traits": {
            "smithy.api#documentation": "List of InboundOidcSsoProfiles."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method."
      }
    },
    "com.gcp.cloudidentity_v1#InboundOidcSsoProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#InboundOidcSsoProfile"
      }
    },
    "com.gcp.cloudidentity_v1#RestrictionEvaluations": {
      "type": "structure",
      "members": {
        "memberRestrictionEvaluation": {
          "target": "com.gcp.cloudidentity_v1#MembershipRoleRestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
      }
    },
    "com.gcp.cloudidentity_v1#InboundSsoAssignment": {
      "type": "structure",
      "members": {
        "targetOrgUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Must be of the form `orgUnits/{org_unit}`."
          }
        },
        "samlSsoInfo": {
          "target": "com.gcp.cloudidentity_v1#SamlSsoInfo",
          "traits": {
            "smithy.api#documentation": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`."
          }
        },
        "targetGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Must be of the form `groups/{group}`."
          }
        },
        "signInBehavior": {
          "target": "com.gcp.cloudidentity_v1#SignInBehavior",
          "traits": {
            "smithy.api#documentation": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
          }
        },
        "rank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "ssoMode": {
          "target": "com.gcp.cloudidentity_v1#InboundSsoAssignmentSsoModeEnum",
          "traits": {
            "smithy.api#documentation": "Inbound SSO behavior."
          }
        },
        "oidcSsoInfo": {
          "target": "com.gcp.cloudidentity_v1#OidcSsoInfo",
          "traits": {
            "smithy.api#documentation": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targets with \"set\" SSO assignments and their respective assignments."
      }
    },
    "com.gcp.cloudidentity_v1#InboundSsoAssignmentSsoModeEnum": {
      "type": "enum",
      "members": {
        "SSO_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO_MODE_UNSPECIFIED"
          }
        },
        "SSO_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO_OFF"
          }
        },
        "SAML_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_SSO"
          }
        },
        "OIDC_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_SSO"
          }
        },
        "DOMAIN_WIDE_SAML_IF_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_WIDE_SAML_IF_ENABLED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for approving the device to access user data."
      }
    },
    "com.gcp.cloudidentity_v1#AddIdpCredentialOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "type": "structure",
      "members": {
        "deviceUsers": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserList",
          "traits": {
            "smithy.api#documentation": "Devices meeting the list restrictions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned from the ListDeviceUsers method."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser"
      }
    },
    "com.gcp.cloudidentity_v1#LookupMembershipNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.LookupMembershipName."
      }
    },
    "com.gcp.cloudidentity_v1#OidcRpConfig": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth2 client ID for OIDC."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. OAuth2 client secret for OIDC."
          }
        },
        "redirectUris": {
          "target": "com.gcp.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The URL(s) that this client may use in authentication requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC RP (relying party) configuration."
      }
    },
    "com.gcp.cloudidentity_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudidentity_v1#LookupGroupNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for GroupsService.LookupGroupName."
      }
    },
    "com.gcp.cloudidentity_v1#ListInboundSsoAssignmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "inboundSsoAssignments": {
          "target": "com.gcp.cloudidentity_v1#InboundSsoAssignmentList",
          "traits": {
            "smithy.api#documentation": "The assignments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method."
      }
    },
    "com.gcp.cloudidentity_v1#InboundSsoAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#InboundSsoAssignment"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for blocking account on device."
      }
    },
    "com.gcp.cloudidentity_v1#IdpCredential": {
      "type": "structure",
      "members": {
        "dsaKeyInfo": {
          "target": "com.gcp.cloudidentity_v1#DsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a DSA public key."
          }
        },
        "rsaKeyInfo": {
          "target": "com.gcp.cloudidentity_v1#RsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a RSA public key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the `IdpCredential` was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential for verifying signatures produced by the Identity Provider."
      }
    },
    "com.gcp.cloudidentity_v1#Policy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793."
          }
        },
        "type": {
          "target": "com.gcp.cloudidentity_v1#PolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the policy."
          }
        },
        "policyQuery": {
          "target": "com.gcp.cloudidentity_v1#PolicyQuery",
          "traits": {
            "smithy.api#documentation": "Required. The PolicyQuery the Setting applies to."
          }
        },
        "setting": {
          "target": "com.gcp.cloudidentity_v1#Setting",
          "traits": {
            "smithy.api#documentation": "Required. The Setting configured by this Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query."
      }
    },
    "com.gcp.cloudidentity_v1#PolicyTypeEnum": {
      "type": "enum",
      "members": {
        "POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for WipeDeviceUser LRO."
      }
    },
    "com.gcp.cloudidentity_v1#CreateInboundSamlSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1#PolicyQuery": {
      "type": "structure",
      "members": {
        "orgUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string."
          }
        },
        "sortOrder": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set)."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyQuery"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1#CreateMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CreateMembership LRO."
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupMetadata": {
      "type": "structure",
      "members": {
        "queries": {
          "target": "com.gcp.cloudidentity_v1#DynamicGroupQueryList",
          "traits": {
            "smithy.api#documentation": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups."
          }
        },
        "status": {
          "target": "com.gcp.cloudidentity_v1#DynamicGroupStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the dynamic group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic group metadata like queries and status."
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#DynamicGroupQuery"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for cancelling an unfinished device wipe."
      }
    },
    "com.gcp.cloudidentity_v1#DsaPublicKeyInfo": {
      "type": "structure",
      "members": {
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Key size in bits (size of parameter P)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a DSA public key."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "structure",
      "members": {
        "assetTags": {
          "target": "com.gcp.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The caller can specify asset tags for this resource"
          }
        },
        "managed": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateManagedEnum",
          "traits": {
            "smithy.api#documentation": "The management state of the resource as specified by the API client."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the client state data was created."
          }
        },
        "keyValuePairs": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CustomAttributeValueMap",
          "traits": {
            "smithy.api#documentation": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
          }
        },
        "scoreReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive cause of the health score."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')"
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the client state data was last updated."
          }
        },
        "customId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
          }
        },
        "healthScore": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateHealthScoreEnum",
          "traits": {
            "smithy.api#documentation": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies."
          }
        },
        "complianceState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateComplianceStateEnum",
          "traits": {
            "smithy.api#documentation": "The compliance state of the resource as specified by the API client."
          }
        },
        "ownerType": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateOwnerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The owner of the ClientState"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateManagedEnum": {
      "type": "enum",
      "members": {
        "MANAGED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_STATE_UNSPECIFIED"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CustomAttributeValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateHealthScoreEnum": {
      "type": "enum",
      "members": {
        "HEALTH_SCORE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_SCORE_UNSPECIFIED"
          }
        },
        "VERY_POOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_POOR"
          }
        },
        "POOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POOR"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        },
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOD"
          }
        },
        "VERY_GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_GOOD"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateComplianceStateEnum": {
      "type": "enum",
      "members": {
        "COMPLIANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE_STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateOwnerTypeEnum": {
      "type": "enum",
      "members": {
        "OWNER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_UNSPECIFIED"
          }
        },
        "OWNER_TYPE_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_CUSTOMER"
          }
        },
        "OWNER_TYPE_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_PARTNER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#UpdateMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateMembership LRO."
      }
    },
    "com.gcp.cloudidentity_v1#DeleteMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteMembership LRO."
      }
    },
    "com.gcp.cloudidentity_v1#SearchDirectGroupsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.cloudidentity_v1#MembershipRelationList",
          "traits": {
            "smithy.api#documentation": "List of direct groups satisfying the query."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.SearchDirectGroups."
      }
    },
    "com.gcp.cloudidentity_v1#MembershipRelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#MembershipRelation"
      }
    },
    "com.gcp.cloudidentity_v1#SendUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to send email for inviting target user corresponding to the UserInvitation."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        },
        "names": {
          "target": "com.gcp.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID"
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer resource name that may be passed back to other Devices API methods such as List, Get, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing resource names of the DeviceUsers associated with the caller's credentials."
      }
    },
    "com.gcp.cloudidentity_v1#CancelUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to cancel sent invitation for target email in UserInvitation."
      }
    },
    "com.gcp.cloudidentity_v1#UpdateInboundOidcSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1#EntityKey": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. Email addresses need to adhere to [name guidelines for users and groups](https://support.google.com/a/answer/9193374). For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "type": "structure",
      "members": {
        "majorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Major version of the template. Example: 100."
          }
        },
        "minorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minor version of the template. Example: 12."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CertificateTemplate (v3 Extension in X.509)."
      }
    },
    "com.gcp.cloudidentity_v1#GetMembershipGraphMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility."
      }
    },
    "com.gcp.cloudidentity_v1#TransitiveMembershipRole": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing the role of a TransitiveMembership."
      }
    },
    "com.gcp.cloudidentity_v1#SamlIdpConfig": {
      "type": "structure",
      "members": {
        "singleSignOnServiceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
          }
        },
        "logoutRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`."
          }
        },
        "changePasswordUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SAML **Entity ID** of the identity provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SAML IDP (identity provider) configuration."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.gcp.cloudidentity_v1#GroupList",
          "traits": {
            "smithy.api#documentation": "Groups returned in response to list request. The results are not sorted."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGroups operation."
      }
    },
    "com.gcp.cloudidentity_v1#GroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#Group"
      }
    },
    "com.gcp.cloudidentity_v1#CreateInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment."
      }
    },
    "com.gcp.cloudidentity_v1#CheckTransitiveMembershipResponse": {
      "type": "structure",
      "members": {
        "hasMembership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.CheckTransitiveMembership."
      }
    },
    "com.gcp.cloudidentity_v1#OidcSsoInfo": {
      "type": "structure",
      "members": {
        "inboundOidcSsoProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for ListEndpointApps LRO."
      }
    },
    "com.gcp.cloudidentity_v1#DeleteGroupMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteGroup LRO."
      }
    },
    "com.gcp.cloudidentity_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudidentity_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudidentity_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudidentity_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#DocumentMap"
      }
    },
    "com.gcp.cloudidentity_v1#UpdateInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment."
      }
    },
    "com.gcp.cloudidentity_v1#MemberRelation": {
      "type": "structure",
      "members": {
        "relationType": {
          "target": "com.gcp.cloudidentity_v1#MemberRelationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The relation between the group and the transitive member."
          }
        },
        "member": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this member."
          }
        },
        "preferredMemberKey": {
          "target": "com.gcp.cloudidentity_v1#EntityKeyList",
          "traits": {
            "smithy.api#documentation": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
          }
        },
        "roles": {
          "target": "com.gcp.cloudidentity_v1#TransitiveMembershipRoleList",
          "traits": {
            "smithy.api#documentation": "The membership role details (i.e name of role and expiry time)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a transitive membership of a group."
      }
    },
    "com.gcp.cloudidentity_v1#MemberRelationRelationTypeEnum": {
      "type": "enum",
      "members": {
        "RELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATION_TYPE_UNSPECIFIED"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT"
          }
        },
        "INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIRECT"
          }
        },
        "DIRECT_AND_INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_AND_INDIRECT"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#TransitiveMembershipRoleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#TransitiveMembershipRole"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device": {
      "type": "structure",
      "members": {
        "ownerType": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the device is owned by the company or an individual"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
          }
        },
        "deviceType": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of device."
          }
        },
        "basebandVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Baseband version of the device."
          }
        },
        "androidSpecificAttributes": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to Android devices."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device manufacturer. Example: Motorola."
          }
        },
        "managementState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Management state of the device"
          }
        },
        "endpointVerificationSpecificAttributes": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent time when device synced with this service."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS version of the device. Example: Android 8.1.0."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host name of the device."
          }
        },
        "assetTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset tag of the device."
          }
        },
        "enabledDeveloperOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether developer options is enabled on device."
          }
        },
        "wifiMacAddresses": {
          "target": "com.gcp.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "WiFi MAC addresses of device."
          }
        },
        "otherAccounts": {
          "target": "com.gcp.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial Number of device. Example: HT82V1A01076."
          }
        },
        "securityPatchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS security patch update time on device."
          }
        },
        "buildNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Build number of the device."
          }
        },
        "enabledUsbDebugging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether USB debugging is enabled on device."
          }
        },
        "encryptionState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Device encryption state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices."
          }
        },
        "networkOperator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mobile or network operator of device, if available."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device brand. Example: Samsung."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kernel version of the device."
          }
        },
        "unifiedDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unified device id of the device."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the device."
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. MEID number of device if CDMA device; empty otherwise."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Model name of device. Example: Pixel 3."
          }
        },
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IMEI number of device if GSM device; empty otherwise."
          }
        },
        "bootloaderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device bootloader version. Example: 0.6.7."
          }
        },
        "releaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS release version. Example: 6.0."
          }
        },
        "compromisedState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Represents whether the Device is compromised."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_OWNERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNERSHIP_UNSPECIFIED"
          }
        },
        "COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY"
          }
        },
        "BYOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYOD"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "GOOGLE_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYNC"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "MAC_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC_OS"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "UNPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPROVISIONED"
          }
        },
        "WIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPING"
          }
        },
        "WIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "UNSUPPORTED_BY_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_BY_DEVICE"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "NOT_ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENCRYPTED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_STATE_UNSPECIFIED"
          }
        },
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED"
          }
        },
        "UNCOMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCOMPROMISED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#SearchTransitiveMembershipsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.cloudidentity_v1#MemberRelationList",
          "traits": {
            "smithy.api#documentation": "List of transitive members satisfying the query."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.SearchTransitiveMemberships."
      }
    },
    "com.gcp.cloudidentity_v1#MemberRelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#MemberRelation"
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.cloudidentity_v1#DynamicGroupStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the dynamic group."
          }
        },
        "statusTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of a dynamic group along with timestamp."
      }
    },
    "com.gcp.cloudidentity_v1#DynamicGroupStatusStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "UP_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP_TO_DATE"
          }
        },
        "UPDATING_MEMBERSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING_MEMBERSHIPS"
          }
        },
        "INVALID_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_QUERY"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "type": "structure",
      "members": {
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate thumbprint."
          }
        },
        "validityStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate not valid before this timestamp."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the issuer of this certificate."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject name of this certificate."
          }
        },
        "validityExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate not valid at or after this timestamp."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encoded certificate fingerprint."
          }
        },
        "validationState": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateAttributesValidationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Validation state of this certificate."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial number of the certificate, Example: \"123456789\"."
          }
        },
        "certificateTemplate": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateTemplate",
          "traits": {
            "smithy.api#documentation": "The X.509 extension for CertificateTemplate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores information about a certificate."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateAttributesValidationStateEnum": {
      "type": "enum",
      "members": {
        "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED"
          }
        },
        "VALIDATION_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_SUCCESSFUL"
          }
        },
        "VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_FAILED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#MembershipAdjacencyList": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.gcp.cloudidentity_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the group that the members belong to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership graph's path information as an adjacency list."
      }
    },
    "com.gcp.cloudidentity_v1#Setting": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The type of the Setting. ."
          }
        },
        "value": {
          "target": "com.gcp.cloudidentity_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The value of the Setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for approving the device to access user data."
      }
    },
    "com.gcp.cloudidentity_v1#MemberRestriction": {
      "type": "structure",
      "members": {
        "evaluation": {
          "target": "com.gcp.cloudidentity_v1#RestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "The evaluated state of this restriction on a group."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of MemberRestriction"
      }
    },
    "com.gcp.cloudidentity_v1#Membership": {
      "type": "structure",
      "members": {
        "deliverySetting": {
          "target": "com.gcp.cloudidentity_v1#MembershipDeliverySettingEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Delivery setting associated with the membership."
          }
        },
        "type": {
          "target": "com.gcp.cloudidentity_v1#MembershipTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the membership."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Membership` was created."
          }
        },
        "preferredMemberKey": {
          "target": "com.gcp.cloudidentity_v1#EntityKey",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The `EntityKey` of the member."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group}/memberships/{membership}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Membership` was last updated."
          }
        },
        "roles": {
          "target": "com.gcp.cloudidentity_v1#MembershipRoleList",
          "traits": {
            "smithy.api#documentation": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\"."
      }
    },
    "com.gcp.cloudidentity_v1#MembershipDeliverySettingEnum": {
      "type": "enum",
      "members": {
        "DELIVERY_SETTING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_SETTING_UNSPECIFIED"
          }
        },
        "ALL_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_MAIL"
          }
        },
        "DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGEST"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#MembershipTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP"
          }
        },
        "SHARED_DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_DRIVE"
          }
        },
        "CBCM_BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBCM_BROWSER"
          }
        },
        "CHROME_OS_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_DEVICE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1#MembershipRoleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1#MembershipRole"
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for starting an account wipe on device."
      }
    },
    "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "structure",
      "members": {
        "supportsWorkProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
          }
        },
        "ownershipPrivilege": {
          "target": "com.gcp.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributesOwnershipPrivilegeEnum",
          "traits": {
            "smithy.api#documentation": "Ownership privileges on device."
          }
        },
        "verifiedBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Android verified boot status is GREEN."
          }
        },
        "ownerProfileAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
          }
        },
        "hasPotentiallyHarmfulApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any potentially harmful apps were detected on the device."
          }
        },
        "enabledUnknownSources": {
[...]
