{
  "smithy": "2.0",
  "metadata": {
    "service": "clouddeploy",
    "version": "v1",
    "title": "Cloud Deploy API",
    "baseUrl": "https://clouddeploy.googleapis.com/"
  },
  "shapes": {
    "com.gcp.clouddeploy_v1#TargetAttribute": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location"
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Target labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation."
      }
    },
    "com.gcp.clouddeploy_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.clouddeploy_v1#KubernetesConfig": {
      "type": "structure",
      "members": {
        "gatewayServiceMesh": {
          "target": "com.gcp.clouddeploy_v1#GatewayServiceMesh",
          "traits": {
            "smithy.api#documentation": "Optional. Kubernetes Gateway API service mesh configuration."
          }
        },
        "serviceNetworking": {
          "target": "com.gcp.clouddeploy_v1#ServiceNetworking",
          "traits": {
            "smithy.api#documentation": "Optional. Kubernetes Service networking configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesConfig contains the Kubernetes runtime configuration."
      }
    },
    "com.gcp.clouddeploy_v1#DeliveryPipeline": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the `DeliveryPipeline`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the pipeline was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters."
          }
        },
        "serialPipeline": {
          "target": "com.gcp.clouddeploy_v1#SerialPipeline",
          "traits": {
            "smithy.api#documentation": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`."
          }
        },
        "condition": {
          "target": "com.gcp.clouddeploy_v1#PipelineCondition",
          "traits": {
            "smithy.api#documentation": "Output only. Information around the state of the Delivery Pipeline."
          }
        },
        "annotations": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent time at which the pipeline was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress."
      }
    },
    "com.gcp.clouddeploy_v1#ListCustomTargetTypesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "customTargetTypes": {
          "target": "com.gcp.clouddeploy_v1#CustomTargetTypeList",
          "traits": {
            "smithy.api#documentation": "The `CustomTargetType` objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response object from `ListCustomTargetTypes.`"
      }
    },
    "com.gcp.clouddeploy_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.clouddeploy_v1#CustomTargetTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#CustomTargetType"
      }
    },
    "com.gcp.clouddeploy_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.clouddeploy_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.clouddeploy_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.clouddeploy_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.clouddeploy_v1#AutomationRuleCondition": {
      "type": "structure",
      "members": {
        "targetsPresentCondition": {
          "target": "com.gcp.clouddeploy_v1#TargetsPresentCondition",
          "traits": {
            "smithy.api#documentation": "Optional. Details around targets enumerated in the rule."
          }
        },
        "timedPromoteReleaseCondition": {
          "target": "com.gcp.clouddeploy_v1#TimedPromoteReleaseCondition",
          "traits": {
            "smithy.api#documentation": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule."
      }
    },
    "com.gcp.clouddeploy_v1#DeliveryPipelineNotificationEvent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug message for when a notification fails to send."
          }
        },
        "pipelineUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `DeliveryPipeline`."
          }
        },
        "deliveryPipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Delivery Pipeline`."
          }
        },
        "type": {
          "target": "com.gcp.clouddeploy_v1#DeliveryPipelineNotificationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this notification, e.g. for a Pub/Sub failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification."
      }
    },
    "com.gcp.clouddeploy_v1#DeliveryPipelineNotificationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PUBSUB_NOTIFICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PUBSUB_NOTIFICATION_FAILURE"
          }
        },
        "TYPE_RESOURCE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_STATE_CHANGE"
          }
        },
        "TYPE_PROCESS_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROCESS_ABORTED"
          }
        },
        "TYPE_RESTRICTION_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESTRICTION_VIOLATED"
          }
        },
        "TYPE_RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_DELETED"
          }
        },
        "TYPE_ROLLOUT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ROLLOUT_UPDATE"
          }
        },
        "TYPE_DEPLOY_POLICY_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DEPLOY_POLICY_EVALUATION"
          }
        },
        "TYPE_RENDER_STATUES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RENDER_STATUES_CHANGE"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#ChildRolloutJobs": {
      "type": "structure",
      "members": {
        "createRolloutJobs": {
          "target": "com.gcp.clouddeploy_v1#JobList",
          "traits": {
            "smithy.api#documentation": "Output only. List of CreateChildRolloutJobs"
          }
        },
        "advanceRolloutJobs": {
          "target": "com.gcp.clouddeploy_v1#JobList",
          "traits": {
            "smithy.api#documentation": "Output only. List of AdvanceChildRolloutJobs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ChildRollouts job composition"
      }
    },
    "com.gcp.clouddeploy_v1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#Job"
      }
    },
    "com.gcp.clouddeploy_v1#Job": {
      "type": "structure",
      "members": {
        "jobRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job."
          }
        },
        "verifyJob": {
          "target": "com.gcp.clouddeploy_v1#VerifyJob",
          "traits": {
            "smithy.api#documentation": "Output only. A verify Job."
          }
        },
        "skipMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information on why the Job was skipped, if available."
          }
        },
        "postdeployJob": {
          "target": "com.gcp.clouddeploy_v1#PostdeployJob",
          "traits": {
            "smithy.api#documentation": "Output only. A postdeploy Job."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the Job."
          }
        },
        "predeployJob": {
          "target": "com.gcp.clouddeploy_v1#PredeployJob",
          "traits": {
            "smithy.api#documentation": "Output only. A predeploy Job."
          }
        },
        "analysisJob": {
          "target": "com.gcp.clouddeploy_v1#AnalysisJob",
          "traits": {
            "smithy.api#documentation": "Output only. An analysis Job."
          }
        },
        "createChildRolloutJob": {
          "target": "com.gcp.clouddeploy_v1#CreateChildRolloutJob",
          "traits": {
            "smithy.api#documentation": "Output only. A createChildRollout Job."
          }
        },
        "state": {
          "target": "com.gcp.clouddeploy_v1#JobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Job."
          }
        },
        "advanceChildRolloutJob": {
          "target": "com.gcp.clouddeploy_v1#AdvanceChildRolloutJob",
          "traits": {
            "smithy.api#documentation": "Output only. An advanceChildRollout Job."
          }
        },
        "deployJob": {
          "target": "com.gcp.clouddeploy_v1#DeployJob",
          "traits": {
            "smithy.api#documentation": "Output only. A deploy Job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job represents an operation for a `Rollout`."
      }
    },
    "com.gcp.clouddeploy_v1#JobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#VerifyJobRun": {
      "type": "structure",
      "members": {
        "artifactUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log."
          }
        },
        "eventLogPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File path of the Skaffold event log relative to the artifact URI."
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the verify failure, if available."
          }
        },
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#VerifyJobRunMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata containing information about the verify `JobRun`."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`."
          }
        },
        "failureCause": {
          "target": "com.gcp.clouddeploy_v1#VerifyJobRunFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VerifyJobRun contains information specific to a verify `JobRun`."
      }
    },
    "com.gcp.clouddeploy_v1#VerifyJobRunFailureCauseEnum": {
      "type": "enum",
      "members": {
        "FAILURE_CAUSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_CAUSE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_UNAVAILABLE"
          }
        },
        "EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_FAILED"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "VERIFICATION_CONFIG_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_CONFIG_NOT_FOUND"
          }
        },
        "CLOUD_BUILD_REQUEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_REQUEST_FAILED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#DeployParameters": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Values are deploy parameters in key-value pairs."
          }
        },
        "matchTargetLabels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DeployParameters contains deploy parameters information."
      }
    },
    "com.gcp.clouddeploy_v1#PostdeployJobRunMetadata": {
      "type": "structure",
      "members": {
        "custom": {
          "target": "com.gcp.clouddeploy_v1#CustomMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Custom metadata provided by user-defined postdeploy operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`."
      }
    },
    "com.gcp.clouddeploy_v1#PromoteReleaseOperation": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
          }
        },
        "rollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the rollout that initiates the `AutomationRun`."
          }
        },
        "phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The starting phase of the rollout created by this operation."
          }
        },
        "wait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. How long the operation will be paused."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an automated promote-release operation."
      }
    },
    "com.gcp.clouddeploy_v1#DeployPolicy": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.clouddeploy_v1#PolicyRuleList",
          "traits": {
            "smithy.api#documentation": "Required. Rules to apply. At least one rule must be present."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the `DeployPolicy`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the deploy policy was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the `DeployPolicy`. Max length is 255 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
          }
        },
        "annotations": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent time at which the deploy policy was updated."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "selectors": {
          "target": "com.gcp.clouddeploy_v1#DeployPolicyResourceSelectorList",
          "traits": {
            "smithy.api#documentation": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target."
      }
    },
    "com.gcp.clouddeploy_v1#PolicyRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#PolicyRule"
      }
    },
    "com.gcp.clouddeploy_v1#DeployPolicyResourceSelectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#DeployPolicyResourceSelector"
      }
    },
    "com.gcp.clouddeploy_v1#TimedPromoteReleaseCondition": {
      "type": "structure",
      "members": {
        "targetsList": {
          "target": "com.gcp.clouddeploy_v1#TargetsList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of targets involved in the upcoming timed promotion(s)."
          }
        },
        "nextPromotionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the next scheduled promotion(s) will occur."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`TimedPromoteReleaseCondition` contains conditions specific to an Automation with a Timed Promote Release rule defined."
      }
    },
    "com.gcp.clouddeploy_v1#TargetsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#Targets"
      }
    },
    "com.gcp.clouddeploy_v1#IgnoreJobResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response object from `IgnoreJob`."
      }
    },
    "com.gcp.clouddeploy_v1#CustomCheckStatus": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.gcp.clouddeploy_v1#Task",
          "traits": {
            "smithy.api#documentation": "Output only. The task that ran for this custom check."
          }
        },
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#CustomMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Custom metadata provided by the user-defined custom check operation. result."
          }
        },
        "latestBuild": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`."
          }
        },
        "failureCause": {
          "target": "com.gcp.clouddeploy_v1#CustomCheckStatusFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The frequency in minutes at which the custom check is run."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the custom check."
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the analysis failure, if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job."
      }
    },
    "com.gcp.clouddeploy_v1#CustomCheckStatusFailureCauseEnum": {
      "type": "enum",
      "members": {
        "FAILURE_CAUSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_CAUSE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_UNAVAILABLE"
          }
        },
        "EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_FAILED"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "CLOUD_BUILD_REQUEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_REQUEST_FAILED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#DeliveryPipelineAttribute": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "DeliveryPipeline labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains criteria for selecting DeliveryPipelines."
      }
    },
    "com.gcp.clouddeploy_v1#DefaultPool": {
      "type": "structure",
      "members": {
        "artifactStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution using the default Cloud Build pool."
      }
    },
    "com.gcp.clouddeploy_v1#PolicyViolationDetails": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the rule that triggered the policy violation."
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User readable message about why the request violated a policy. This is not intended for machine parsing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy violation details."
      }
    },
    "com.gcp.clouddeploy_v1#RepairPhase": {
      "type": "structure",
      "members": {
        "retry": {
          "target": "com.gcp.clouddeploy_v1#RetryPhase",
          "traits": {
            "smithy.api#documentation": "Output only. Records of the retry attempts for retry repair mode."
          }
        },
        "rollback": {
          "target": "com.gcp.clouddeploy_v1#RollbackAttempt",
          "traits": {
            "smithy.api#documentation": "Output only. Rollback attempt for rollback repair mode ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RepairPhase tracks the repair attempts that have been made for each `RepairPhaseConfig` specified in the `Automation` resource."
      }
    },
    "com.gcp.clouddeploy_v1#ApproveRolloutResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response object from `ApproveRollout`."
      }
    },
    "com.gcp.clouddeploy_v1#Clouddeploy_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.clouddeploy_v1#ListJobRunsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "jobRuns": {
          "target": "com.gcp.clouddeploy_v1#JobRunList",
          "traits": {
            "smithy.api#documentation": "The `JobRun` objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListJobRunsResponse is the response object returned by `ListJobRuns`."
      }
    },
    "com.gcp.clouddeploy_v1#JobRunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#JobRun"
      }
    },
    "com.gcp.clouddeploy_v1#WeeklyWindow": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.gcp.clouddeploy_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week."
          }
        },
        "daysOfWeek": {
          "target": "com.gcp.clouddeploy_v1#WeeklyWindowDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Days of week. If left empty, all days of the week will be included."
          }
        },
        "startTime": {
          "target": "com.gcp.clouddeploy_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight."
      }
    },
    "com.gcp.clouddeploy_v1#WeeklyWindowDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#WeeklyWindowDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#WeeklyWindowDaysOfWeekItemEnum"
      }
    },
    "com.gcp.clouddeploy_v1#DeployJobRunMetadata": {
      "type": "structure",
      "members": {
        "cloudRun": {
          "target": "com.gcp.clouddeploy_v1#CloudRunMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`."
          }
        },
        "custom": {
          "target": "com.gcp.clouddeploy_v1#CustomMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Custom metadata provided by user-defined deploy operation."
          }
        },
        "customTarget": {
          "target": "com.gcp.clouddeploy_v1#CustomTargetDeployMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Custom Target metadata associated with a `DeployJobRun`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user."
      }
    },
    "com.gcp.clouddeploy_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.clouddeploy_v1#CreateChildRolloutJob": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A createChildRollout Job."
      }
    },
    "com.gcp.clouddeploy_v1#ToolVersions": {
      "type": "structure",
      "members": {
        "skaffold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Skaffold version to use for Cloud Deploy operations."
          }
        },
        "docker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Docker version to use for Cloud Deploy operations."
          }
        },
        "kpt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The kpt version to use for Cloud Deploy operations."
          }
        },
        "kustomize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Kustomize version to use for Cloud Deploy operations."
          }
        },
        "helm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Helm version to use for Cloud Deploy operations."
          }
        },
        "kubectl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Kubectl version to use for Cloud Deploy operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of ToolVersions for the release."
      }
    },
    "com.gcp.clouddeploy_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.clouddeploy_v1#TimedPromoteReleaseOperation": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
          }
        },
        "phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The starting phase of the rollout created by this operation."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the release to be promoted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an automated timed promote-release operation."
      }
    },
    "com.gcp.clouddeploy_v1#DeployPolicyNotificationEvent": {
      "type": "structure",
      "members": {
        "deployPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `DeployPolicy`."
          }
        },
        "type": {
          "target": "com.gcp.clouddeploy_v1#DeployPolicyNotificationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this notification, e.g. for a Pub/Sub failure."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug message for when a deploy policy fails to send a pub/sub notification."
          }
        },
        "deployPolicyUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the deploy policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change."
      }
    },
    "com.gcp.clouddeploy_v1#DeployPolicyNotificationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PUBSUB_NOTIFICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PUBSUB_NOTIFICATION_FAILURE"
          }
        },
        "TYPE_RESOURCE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_STATE_CHANGE"
          }
        },
        "TYPE_PROCESS_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROCESS_ABORTED"
          }
        },
        "TYPE_RESTRICTION_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESTRICTION_VIOLATED"
          }
        },
        "TYPE_RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_DELETED"
          }
        },
        "TYPE_ROLLOUT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ROLLOUT_UPDATE"
          }
        },
        "TYPE_DEPLOY_POLICY_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DEPLOY_POLICY_EVALUATION"
          }
        },
        "TYPE_RENDER_STATUES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RENDER_STATUES_CHANGE"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#TimedPromoteReleaseRule": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.clouddeploy_v1#AutomationRuleCondition",
          "traits": {
            "smithy.api#documentation": "Output only. Information around the state of the Automation rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the rule. This ID must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Schedule in crontab format. e.g. \"0 9 * * 1\" for every Monday at 9am."
          }
        },
        "destinationTargetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence"
          }
        },
        "destinationPhase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The starting phase of the rollout created by this rule. Default to the first phase."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule."
      }
    },
    "com.gcp.clouddeploy_v1#Automation": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the automation was created."
          }
        },
        "rules": {
          "target": "com.gcp.clouddeploy_v1#AutomationRuleList",
          "traits": {
            "smithy.api#documentation": "Required. List of Automation rules associated with the Automation resource. Must have at least one rule and limited to 250 rules per Delivery Pipeline. Note: the order of the rules here is not the same as the order of execution."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the `Automation`."
          }
        },
        "selector": {
          "target": "com.gcp.clouddeploy_v1#AutomationResourceSelector",
          "traits": {
            "smithy.api#documentation": "Required. Selected resources to which the automation will be applied."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When Suspended, automation is deactivated from execution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`."
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 63 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the automation was updated."
          }
        },
        "annotations": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Email address of the user-managed IAM service account that creates Cloud Deploy release and rollout resources."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the `Automation`. Max length is 255 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process."
      }
    },
    "com.gcp.clouddeploy_v1#AutomationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#AutomationRule"
      }
    },
    "com.gcp.clouddeploy_v1#CancelRolloutRequest": {
      "type": "structure",
      "members": {
        "overrideDeployPolicy": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request object used by `CancelRollout`."
      }
    },
    "com.gcp.clouddeploy_v1#CustomCheck": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the custom Analysis check."
          }
        },
        "task": {
          "target": "com.gcp.clouddeploy_v1#Task",
          "traits": {
            "smithy.api#documentation": "Required. The Task to be run for this custom check."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency."
      }
    },
    "com.gcp.clouddeploy_v1#Verify": {
      "type": "structure",
      "members": {
        "tasks": {
          "target": "com.gcp.clouddeploy_v1#TaskList",
          "traits": {
            "smithy.api#documentation": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Verify contains the verify job configuration information."
      }
    },
    "com.gcp.clouddeploy_v1#TaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#Task"
      }
    },
    "com.gcp.clouddeploy_v1#ListTargetsResponse": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.gcp.clouddeploy_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "The `Target` objects."
          }
        },
        "unreachable": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response object from `ListTargets`."
      }
    },
    "com.gcp.clouddeploy_v1#TargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#Target"
      }
    },
    "com.gcp.clouddeploy_v1#AlertPolicyCheck": {
      "type": "structure",
      "members": {
        "alertPolicies": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The Cloud Monitoring Alert Policies to check for active alerts. Format is `projects/{project}/alertPolicies/{alert_policy}`."
          }
        },
        "labels": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A set of labels to filter active alerts. If set, only alerts having all of the specified labels will be considered. Otherwise, all active alerts will be considered."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the analysis check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AlertPolicyCheck configures a set of Cloud Monitoring alerting policies that will be periodically polled for alerts. If any of the listed policies have an active alert, the analysis check will fail."
      }
    },
    "com.gcp.clouddeploy_v1#TargetNotificationEvent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug message for when a notification fails to send."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Target`."
          }
        },
        "type": {
          "target": "com.gcp.clouddeploy_v1#TargetNotificationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this notification, e.g. for a Pub/Sub failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification."
      }
    },
    "com.gcp.clouddeploy_v1#TargetNotificationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PUBSUB_NOTIFICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PUBSUB_NOTIFICATION_FAILURE"
          }
        },
        "TYPE_RESOURCE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_STATE_CHANGE"
          }
        },
        "TYPE_PROCESS_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROCESS_ABORTED"
          }
        },
        "TYPE_RESTRICTION_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESTRICTION_VIOLATED"
          }
        },
        "TYPE_RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_DELETED"
          }
        },
        "TYPE_ROLLOUT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ROLLOUT_UPDATE"
          }
        },
        "TYPE_DEPLOY_POLICY_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DEPLOY_POLICY_EVALUATION"
          }
        },
        "TYPE_RENDER_STATUES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RENDER_STATUES_CHANGE"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#IgnoreJobRequest": {
      "type": "structure",
      "members": {
        "overrideDeployPolicy": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
          }
        },
        "phaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The phase ID the Job to ignore belongs to."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job ID for the Job to ignore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request object used by `IgnoreJob`."
      }
    },
    "com.gcp.clouddeploy_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.clouddeploy_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.clouddeploy_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#JobRun": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.clouddeploy_v1#JobRunStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the `JobRun`."
          }
        },
        "predeployJobRun": {
          "target": "com.gcp.clouddeploy_v1#PredeployJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to a predeploy `JobRun`."
          }
        },
        "createChildRolloutJobRun": {
          "target": "com.gcp.clouddeploy_v1#CreateChildRolloutJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to a createChildRollout `JobRun`."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the `Rollout` job this `JobRun` corresponds to."
          }
        },
        "analysisJobRun": {
          "target": "com.gcp.clouddeploy_v1#AnalysisJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to an analysis `JobRun`."
          }
        },
        "phaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the `Rollout` phase this `JobRun` belongs in."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the `JobRun` was created."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the `JobRun` was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`."
          }
        },
        "deployJobRun": {
          "target": "com.gcp.clouddeploy_v1#DeployJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to a deploy `JobRun`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "verifyJobRun": {
          "target": "com.gcp.clouddeploy_v1#VerifyJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to a verify `JobRun`."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the `JobRun`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the `JobRun` ended."
          }
        },
        "postdeployJobRun": {
          "target": "com.gcp.clouddeploy_v1#PostdeployJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to a postdeploy `JobRun`."
          }
        },
        "advanceChildRolloutJobRun": {
          "target": "com.gcp.clouddeploy_v1#AdvanceChildRolloutJobRun",
          "traits": {
            "smithy.api#documentation": "Output only. Information specific to an advanceChildRollout `JobRun`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation."
      }
    },
    "com.gcp.clouddeploy_v1#JobRunStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#ReleaseNotificationEvent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug message for when a notification fails to send."
          }
        },
        "releaseUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `Release`."
          }
        },
        "type": {
          "target": "com.gcp.clouddeploy_v1#ReleaseNotificationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this notification, e.g. for a Pub/Sub failure."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Release`."
          }
        },
        "pipelineUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `DeliveryPipeline`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification."
      }
    },
    "com.gcp.clouddeploy_v1#ReleaseNotificationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PUBSUB_NOTIFICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PUBSUB_NOTIFICATION_FAILURE"
          }
        },
        "TYPE_RESOURCE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_STATE_CHANGE"
          }
        },
        "TYPE_PROCESS_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROCESS_ABORTED"
          }
        },
        "TYPE_RESTRICTION_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESTRICTION_VIOLATED"
          }
        },
        "TYPE_RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_DELETED"
          }
        },
        "TYPE_ROLLOUT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ROLLOUT_UPDATE"
          }
        },
        "TYPE_DEPLOY_POLICY_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DEPLOY_POLICY_EVALUATION"
          }
        },
        "TYPE_RENDER_STATUES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RENDER_STATUES_CHANGE"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#CancelRolloutResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response object from `CancelRollout`."
      }
    },
    "com.gcp.clouddeploy_v1#TargetRender": {
      "type": "structure",
      "members": {
        "failureCause": {
          "target": "com.gcp.clouddeploy_v1#TargetRenderFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reason this render failed. This will always be unspecified while the render in progress."
          }
        },
        "renderingBuild": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`."
          }
        },
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#RenderMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata related to the `Release` render for this Target."
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the render failure, if available."
          }
        },
        "renderingState": {
          "target": "com.gcp.clouddeploy_v1#TargetRenderRenderingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the render operation for this Target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of rendering for a single target."
      }
    },
    "com.gcp.clouddeploy_v1#TargetRenderFailureCauseEnum": {
      "type": "enum",
      "members": {
        "FAILURE_CAUSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_CAUSE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_UNAVAILABLE"
          }
        },
        "EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_FAILED"
          }
        },
        "CLOUD_BUILD_REQUEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_REQUEST_FAILED"
          }
        },
        "VERIFICATION_CONFIG_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_CONFIG_NOT_FOUND"
          }
        },
        "CUSTOM_ACTION_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_ACTION_NOT_FOUND"
          }
        },
        "DEPLOYMENT_STRATEGY_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STRATEGY_NOT_SUPPORTED"
          }
        },
        "RENDER_FEATURE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDER_FEATURE_NOT_SUPPORTED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#TargetRenderRenderingStateEnum": {
      "type": "enum",
      "members": {
        "TARGET_RENDER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_RENDER_STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#RepairPhaseConfig": {
      "type": "structure",
      "members": {
        "retry": {
          "target": "com.gcp.clouddeploy_v1#Clouddeploy_Retry",
          "traits": {
            "smithy.api#documentation": "Optional. Retries a failed job."
          }
        },
        "rollback": {
          "target": "com.gcp.clouddeploy_v1#Rollback",
          "traits": {
            "smithy.api#documentation": "Optional. Rolls back a `Rollout`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the repair phase."
      }
    },
    "com.gcp.clouddeploy_v1#GkeCluster": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`."
          }
        },
        "dnsEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true."
          }
        },
        "internalIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true."
          }
        },
        "proxyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information specifying a GKE Cluster."
      }
    },
    "com.gcp.clouddeploy_v1#PipelineReadyCondition": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the condition was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PipelineReadyCondition contains information around the status of the Pipeline."
      }
    },
    "com.gcp.clouddeploy_v1#ServiceNetworking": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Kubernetes Service."
          }
        },
        "disablePodOverprovisioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
          }
        },
        "podSelectorLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Kubernetes Service networking configuration."
      }
    },
    "com.gcp.clouddeploy_v1#ListReleasesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "releases": {
          "target": "com.gcp.clouddeploy_v1#ReleaseList",
          "traits": {
            "smithy.api#documentation": "The `Release` objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response object from `ListReleases`."
      }
    },
    "com.gcp.clouddeploy_v1#ReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#Release"
      }
    },
    "com.gcp.clouddeploy_v1#PhaseArtifact": {
      "type": "structure",
      "members": {
        "jobManifestsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable."
          }
        },
        "manifestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File path of the rendered manifest relative to the URI."
          }
        },
        "skaffoldConfigPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File path of the resolved Skaffold configuration relative to the URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the paths to the artifacts, relative to the URI, for a phase."
      }
    },
    "com.gcp.clouddeploy_v1#AdvanceChildRolloutJobRun": {
      "type": "structure",
      "members": {
        "rolloutPhaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. the ID of the ChildRollout's Phase."
          }
        },
        "rollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
      }
    },
    "com.gcp.clouddeploy_v1#TerminateJobRunResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response object from `TerminateJobRun`."
      }
    },
    "com.gcp.clouddeploy_v1#KubernetesRenderMetadata": {
      "type": "structure",
      "members": {
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest."
          }
        },
        "kubernetesNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace."
          }
        },
        "canaryDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render."
      }
    },
    "com.gcp.clouddeploy_v1#AdvanceRolloutResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response object from `AdvanceRollout`."
      }
    },
    "com.gcp.clouddeploy_v1#TimeWindows": {
      "type": "structure",
      "members": {
        "oneTimeWindows": {
          "target": "com.gcp.clouddeploy_v1#OneTimeWindowList",
          "traits": {
            "smithy.api#documentation": "Optional. One-time windows within which actions are restricted."
          }
        },
        "weeklyWindows": {
          "target": "com.gcp.clouddeploy_v1#WeeklyWindowList",
          "traits": {
            "smithy.api#documentation": "Optional. Recurring weekly windows within which actions are restricted."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times."
      }
    },
    "com.gcp.clouddeploy_v1#OneTimeWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#OneTimeWindow"
      }
    },
    "com.gcp.clouddeploy_v1#WeeklyWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#WeeklyWindow"
      }
    },
    "com.gcp.clouddeploy_v1#MultiTarget": {
      "type": "structure",
      "members": {
        "targetIds": {
          "target": "com.gcp.clouddeploy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The target_ids of this multiTarget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information specifying a multiTarget."
      }
    },
    "com.gcp.clouddeploy_v1#Config": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the configuration."
          }
        },
        "defaultToolVersions": {
          "target": "com.gcp.clouddeploy_v1#ToolVersions",
          "traits": {
            "smithy.api#documentation": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions."
          }
        },
        "defaultSkaffoldVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version."
          }
        },
        "supportedVersions": {
          "target": "com.gcp.clouddeploy_v1#SkaffoldVersionList",
          "traits": {
            "smithy.api#documentation": "All supported versions of Skaffold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service-wide configuration."
      }
    },
    "com.gcp.clouddeploy_v1#SkaffoldVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#SkaffoldVersion"
      }
    },
    "com.gcp.clouddeploy_v1#CustomTargetSkaffoldActions": {
      "type": "structure",
      "members": {
        "deployAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Skaffold custom action responsible for deploy operations."
          }
        },
        "renderAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Skaffold custom action responsible for render operations. If not provided then Cloud Deploy will perform the render operations via `skaffold render`."
          }
        },
        "includeSkaffoldModules": {
          "target": "com.gcp.clouddeploy_v1#SkaffoldModulesList",
          "traits": {
            "smithy.api#documentation": "Optional. List of Skaffold modules Cloud Deploy will include in the Skaffold Config as required before performing diagnose."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomTargetSkaffoldActions represents the `CustomTargetType` configuration using Skaffold custom actions."
      }
    },
    "com.gcp.clouddeploy_v1#SkaffoldModulesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouddeploy_v1#SkaffoldModules"
      }
    },
    "com.gcp.clouddeploy_v1#OneTimeWindow": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.clouddeploy_v1#Clouddeploy_Date",
          "traits": {
            "smithy.api#documentation": "Required. Start date."
          }
        },
        "endDate": {
          "target": "com.gcp.clouddeploy_v1#Clouddeploy_Date",
          "traits": {
            "smithy.api#documentation": "Required. End date."
          }
        },
        "startTime": {
          "target": "com.gcp.clouddeploy_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Start time (inclusive). Use 00:00 for the beginning of the day."
          }
        },
        "endTime": {
          "target": "com.gcp.clouddeploy_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. End time (exclusive). You may use 24:00 for the end of the day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am."
      }
    },
    "com.gcp.clouddeploy_v1#CustomMetadata": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.clouddeploy_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Key-value pairs provided by the user-defined operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomMetadata contains information from a user-defined operation."
      }
    },
    "com.gcp.clouddeploy_v1#PredeployJobRun": {
      "type": "structure",
      "members": {
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`."
          }
        },
        "failureCause": {
          "target": "com.gcp.clouddeploy_v1#PredeployJobRunFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded."
          }
        },
        "failureMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the predeploy failure, if available."
          }
        },
        "metadata": {
          "target": "com.gcp.clouddeploy_v1#PredeployJobRunMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata containing information about the predeploy `JobRun`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PredeployJobRun contains information specific to a predeploy `JobRun`."
      }
    },
    "com.gcp.clouddeploy_v1#PredeployJobRunFailureCauseEnum": {
      "type": "enum",
      "members": {
        "FAILURE_CAUSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_CAUSE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_UNAVAILABLE"
          }
        },
        "EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_FAILED"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "CLOUD_BUILD_REQUEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_REQUEST_FAILED"
          }
        }
      }
    },
    "com.gcp.clouddeploy_v1#JobRunNotificationEvent": {
      "type": "structure",
      "members": {
        "rollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Rollout`."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug message for when a notification fails to send."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Release`."
          }
        },
        "rolloutUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `Rollout`."
          }
        },
        "pipelineUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `DeliveryPipeline`."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the `Target`."
          }
        },
        "jobRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `JobRun`."
          }
        },
        "releaseUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the `Release`."
          }
        },
        "type": {
          "target": "com.gcp.clouddeploy_v1#JobRunNotificationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this notification, e.g. for a Pub/Sub failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification."
      }
    },
    "com.gcp.clouddeploy_v1#JobRunNotificationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PUBSUB_NOTIFICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PUBSUB_NOTIFICATION_FAILURE"
          }
        },
        "TYPE_RESOURCE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RESOURCE_STATE_CHANGE"
          }
        },
        "TYPE_PROCESS_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROCESS_ABORTED"
          }
        },
        "TYPE_RESTRICTION_VIOLATED": {
[...]
