{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudlocationfinder",
    "version": "v1",
    "title": "Cloud Location Finder API",
    "baseUrl": "https://cloudlocationfinder.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudlocationfinder_v1#SearchCloudLocationsResponse": {
      "type": "structure",
      "members": {
        "cloudLocations": {
          "target": "com.gcp.cloudlocationfinder_v1#CloudLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. List of cloud locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching cloud locations."
      }
    },
    "com.gcp.cloudlocationfinder_v1#CloudLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudlocationfinder_v1#CloudLocation"
      }
    },
    "com.gcp.cloudlocationfinder_v1#CloudLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the cloud location. Unique name of the cloud location including project and location using the form: `projects/{project_id}/locations/{location}/cloudLocations/{cloud_location}`"
          }
        },
        "carbonFreeEnergyPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The carbon free energy percentage of the cloud location. This represents the average percentage of time customers' application will be running on carbon-free energy. See https://cloud.google.com/sustainability/region-carbon for more details. There is a difference between default value 0 and unset value. 0 means the carbon free energy percentage is 0%, while unset value means the carbon footprint data is not available."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The human-readable name of the cloud location. Example: us-east-2, us-east1."
          }
        },
        "cloudProvider": {
          "target": "com.gcp.cloudlocationfinder_v1#CloudLocationCloudProviderEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The provider of the cloud location. Values can be Google Cloud or third-party providers, including AWS, Azure, or Oracle Cloud Infrastructure."
          }
        },
        "territoryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The two-letter ISO 3166-1 alpha-2 code of the cloud location. Examples: US, JP, KR."
          }
        },
        "cloudLocationType": {
          "target": "com.gcp.cloudlocationfinder_v1#CloudLocationCloudLocationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the cloud location."
          }
        },
        "containingCloudLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The containing cloud location in the strict nesting hierarchy. For example, the containing cloud location of a zone is a region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents resource cloud locations."
      }
    },
    "com.gcp.cloudlocationfinder_v1#CloudLocationCloudProviderEnum": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUD_PROVIDER_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_GCP"
          }
        },
        "CLOUD_PROVIDER_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AWS"
          }
        },
        "CLOUD_PROVIDER_AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_AZURE"
          }
        },
        "CLOUD_PROVIDER_OCI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_OCI"
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#CloudLocationCloudLocationTypeEnum": {
      "type": "enum",
      "members": {
        "CLOUD_LOCATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOCATION_TYPE_UNSPECIFIED"
          }
        },
        "CLOUD_LOCATION_TYPE_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOCATION_TYPE_REGION"
          }
        },
        "CLOUD_LOCATION_TYPE_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOCATION_TYPE_ZONE"
          }
        },
        "CLOUD_LOCATION_TYPE_GDCC_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOCATION_TYPE_GDCC_ZONE"
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudlocationfinder_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudlocationfinder_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudlocationfinder_v1#Location"
      }
    },
    "com.gcp.cloudlocationfinder_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudlocationfinder_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.cloudlocationfinder_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudlocationfinder_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudlocationfinder_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListCloudLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results."
          }
        },
        "cloudLocations": {
          "target": "com.gcp.cloudlocationfinder_v1#CloudLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. List of cloud locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing cloud locations."
      }
    },
    "com.gcp.cloudlocationfinder_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.cloudlocationfinder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudlocationfinder_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudlocationfinder_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudlocationfinder_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudlocationfinder_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudlocationfinder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudlocationfinder_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudlocationfinder_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.cloudlocationfinder_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudlocationfinder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.cloudlocationfinder_v1#GetProjectsLocationsCloudLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#GetProjectsLocationsCloudLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudlocationfinder_v1#GetProjectsLocationsCloudLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudlocationfinder_v1#CloudLocation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudlocationfinder_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudlocationfinder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves a resource containing information about a cloud location."
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListProjectsLocationsCloudLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of cloud locations to return per page. The service might return fewer cloud locations than this value. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A filter expression that filters resources listed in the response. The expression is in the form of field=value. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION'. Multiple filter queries are space-separated. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION territory_code=\"US\"' By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return. Provide page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#ListProjectsLocationsCloudLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudlocationfinder_v1#ListProjectsLocationsCloudLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudlocationfinder_v1#ListCloudLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudlocationfinder_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudlocationfinder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/cloudLocations"
        },
        "smithy.api#documentation": "Lists cloud locations under a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#SearchProjectsLocationsCloudLocationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return. Provide Page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of cloud locations to return. The service might return fewer cloud locations than this value. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The query string in search query syntax. While filter is used to filter the search results by attributes, query is used to specify the search requirements.",
            "smithy.api#httpQuery": "query"
          }
        },
        "sourceCloudLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The source cloud location to search from. Example search can be searching nearby cloud locations from the source cloud location by latency.",
            "smithy.api#httpQuery": "sourceCloudLocation"
          }
        }
      }
    },
    "com.gcp.cloudlocationfinder_v1#SearchProjectsLocationsCloudLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudlocationfinder_v1#SearchProjectsLocationsCloudLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudlocationfinder_v1#SearchCloudLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudlocationfinder_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudlocationfinder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/cloudLocations:search"
        },
        "smithy.api#documentation": "Searches for cloud locations from a given source location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
