{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudresourcemanager",
    "version": "v3",
    "title": "Cloud Resource Manager API",
    "baseUrl": "https://cloudresourcemanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudresourcemanager_v3#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudresourcemanager_v3#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Organization": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\"."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable string that refers to the organization in the Google Cloud Console. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the Google Workspace customer that owns the organization."
          }
        },
        "state": {
          "target": "com.gcp.cloudresourcemanager_v3#OrganizationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The organization's current lifecycle state."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the Organization was last modified."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the Organization was requested for deletion."
          }
        },
        "directoryCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The G Suite / Workspace customer id used in the Directory API."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the Organization was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A checksum computed by the server based on the current value of the Organization resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The root node in the resource hierarchy to which a particular entity's (a company, for example) resources belong."
      }
    },
    "com.gcp.cloudresourcemanager_v3#OrganizationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#Project": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The unique, user-assigned id of the project. It must be 6 to 30 lowercase ASCII letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123`"
          }
        },
        "labels": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels associated with this project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?. Label values must be between 0 and 63 characters long and must conform to the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. No more than 64 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"myBusinessDimension\" : \"businessValue\"`"
          }
        },
        "configuredCapabilities": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. If this project is a Management Project, list of capabilities configured on the parent folder. Note, presence of any capability implies that this is a Management Project. Example: `folders/123/capabilities/app-management`. OUTPUT ONLY."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a parent Resource. eg., `organizations/123` or `folders/876`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-assigned display name of the project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project`"
          }
        },
        "tags": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this project. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\" Note: Currently this field is in Preview."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A checksum computed by the server based on the current value of the Project resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`"
          }
        },
        "state": {
          "target": "com.gcp.cloudresourcemanager_v3#ProjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The project lifecycle state."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time this resource was modified."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this resource was requested for deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A project is a high-level Google Cloud entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources."
      }
    },
    "com.gcp.cloudresourcemanager_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v3#ProjectStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#SearchProjectsResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.gcp.cloudresourcemanager_v3#ProjectList",
          "traits": {
            "smithy.api#documentation": "The list of Projects that matched the list filter query. This list can be paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the response received from the SearchProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ProjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#Project"
      }
    },
    "com.gcp.cloudresourcemanager_v3#EffectiveTag": {
      "type": "structure",
      "members": {
        "tagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the TagKey, in the format `tagKeys/{id}`, such as `tagKeys/123`."
          }
        },
        "namespacedTagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespaced name of the TagKey. Can be in the form `{organization_id}/{tag_key_short_name}` or `{project_id}/{tag_key_short_name}` or `{project_number}/{tag_key_short_name}`."
          }
        },
        "tagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for TagValue in the format `tagValues/456`."
          }
        },
        "tagKeyParentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent name of the tag key. Must be in the format `organizations/{organization_id}` or `projects/{project_number}`"
          }
        },
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource, inherited will be false."
          }
        },
        "namespacedTagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespaced name of the TagValue. Can be in the form `{organization_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_number}/{tag_key_short_name}/{tag_value_short_name}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An EffectiveTag represents a tag that applies to a resource during policy evaluation. Tags can be either directly bound to a resource or inherited from its ancestor. EffectiveTag contains the name and namespaced_name of the tag value and tag key, with additional fields of `inherited` to indicate the inheritance status of the effective tag."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagValue": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagValueRequest for details."
          }
        },
        "namespacedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The namespaced name of the TagValue. Can be in the form `{organization_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_number}/{tag_key_short_name}/{tag_value_short_name}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. User-assigned short name for TagValue. The short name should be unique for TagValues within the same parent TagKey. The short name must be 256 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the new TagValue's parent TagKey. Must be of the form `tagKeys/{tag_key_id}`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name for TagValue in the format `tagValues/456`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-assigned description of the TagValue. Must not exceed 256 characters. Read-write."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TagValue is a child of a particular TagKey. This is used to group cloud resources for the purpose of controlling them using policies."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagBindingCollection": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Tag keys/values directly bound to this resource, specified in namespaced format. For example: \"123/environment\": \"production\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A checksum based on the current bindings which can be passed to prevent race conditions. This field is always set in server responses."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the TagBindingCollection, following the convention: `locations/{location}/tagBindingCollections/{encoded-full-resource-name}` where the encoded-full-resource-name is the UTF-8 encoded name of the GCP resource the TagBindings are bound to. \"locations/global/tagBindingCollections/%2f%2fcloudresourcemanager.googleapis.com%2fprojects%2f123\""
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the resource the TagBindings are bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a collection of tags directly bound to a GCP resource."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `UndeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#SearchFoldersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue."
          }
        },
        "folders": {
          "target": "com.gcp.cloudresourcemanager_v3#FolderList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated folder search results. the specified parent resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for searching folders."
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#Folder"
      }
    },
    "com.gcp.cloudresourcemanager_v3#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.cloudresourcemanager_v3#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.cloudresourcemanager_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudresourcemanager_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderOperation": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        },
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v3#FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#MoveProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by MoveProject."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `DeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#MoveFolderMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization to move the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the folder move process."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudresourcemanager_v3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#DocumentMap"
      }
    },
    "com.gcp.cloudresourcemanager_v3#MoveFolderRequest": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the folder or organization which should be the folder's new parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The MoveFolder request message."
      }
    },
    "com.gcp.cloudresourcemanager_v3#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.cloudresourcemanager_v3#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListTagValuesResponse": {
      "type": "structure",
      "members": {
        "tagValues": {
          "target": "com.gcp.cloudresourcemanager_v3#TagValueList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListTagValues response."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#TagValue"
      }
    },
    "com.gcp.cloudresourcemanager_v3#ProjectCreationStatus": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        },
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#CreateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteFolderRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The UndeleteFolder request message."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListEffectiveTagsResponse": {
      "type": "structure",
      "members": {
        "effectiveTags": {
          "target": "com.gcp.cloudresourcemanager_v3#EffectiveTagList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of effective tags for the specified resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of ListEffectiveTags."
      }
    },
    "com.gcp.cloudresourcemanager_v3#EffectiveTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#EffectiveTag"
      }
    },
    "com.gcp.cloudresourcemanager_v3#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.cloudresourcemanager_v3#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudresourcemanager_v3#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#AuditLogConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListLiensResponse": {
      "type": "structure",
      "members": {
        "liens": {
          "target": "com.gcp.cloudresourcemanager_v3#LienList",
          "traits": {
            "smithy.api#documentation": "A list of Liens."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Liens.ListLiens."
      }
    },
    "com.gcp.cloudresourcemanager_v3#LienList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#Lien"
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagBinding."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteProjectRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to the UndeleteProject method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#CreateProjectMetadata": {
      "type": "structure",
      "members": {
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using `GetProject`. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.gcp.cloudresourcemanager_v3#ProjectList",
          "traits": {
            "smithy.api#documentation": "The list of Projects under the parent. This list can be paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page. NOTE: A response may contain fewer elements than the request `page_size` and still have a `next_page_token`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#CreateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Lien": {
      "type": "structure",
      "members": {
        "restrictions": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to the resource this Lien is attached to. The server will validate the parent against those for which Liens are supported. Example: `projects/1234`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of this Lien."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concise user-visible strings indicating why an action cannot be performed on a resource. Maximum length of 200 characters. Example: 'Holds production API key'"
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable, user-visible/meaningful string identifying the origin of the Lien, intended to be inspected programmatically. Maximum length of 200 characters. Example: 'compute.googleapis.com'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Lien represents an encumbrance on the actions that can be performed on a resource."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListTagBindingsResponse": {
      "type": "structure",
      "members": {
        "tagBindings": {
          "target": "com.gcp.cloudresourcemanager_v3#TagBindingList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of TagBindings for the specified resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListTagBindings response."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#TagBinding"
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderOperationError": {
      "type": "structure",
      "members": {
        "errorMessageId": {
          "target": "com.gcp.cloudresourcemanager_v3#FolderOperationErrorErrorMessageIdEnum",
          "traits": {
            "smithy.api#documentation": "The type of operation error experienced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A classification of the Folder Operation error."
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderOperationErrorErrorMessageIdEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "ACTIVE_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "MAX_CHILD_FOLDERS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_CHILD_FOLDERS_VIOLATION"
          }
        },
        "FOLDER_NAME_UNIQUENESS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_NAME_UNIQUENESS_VIOLATION"
          }
        },
        "RESOURCE_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DELETED_VIOLATION"
          }
        },
        "PARENT_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_DELETED_VIOLATION"
          }
        },
        "CYCLE_INTRODUCED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLE_INTRODUCED_VIOLATION"
          }
        },
        "FOLDER_BEING_MOVED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_BEING_MOVED_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION"
          }
        },
        "DELETED_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListTagKeysResponse": {
      "type": "structure",
      "members": {
        "tagKeys": {
          "target": "com.gcp.cloudresourcemanager_v3#TagKeyList",
          "traits": {
            "smithy.api#documentation": "List of TagKeys that live under the specified parent in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `ListTagKeys` that indicates from where listing should continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListTagKeys response message."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#TagKey"
      }
    },
    "com.gcp.cloudresourcemanager_v3#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudresourcemanager_v3#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudresourcemanager_v3#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#MoveProjectRequest": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new parent to move the Project under."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request sent to MoveProject method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UpdateFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UpdateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v3#DeleteTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.cloudresourcemanager_v3#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudresourcemanager_v3#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudresourcemanager_v3#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#AuditConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v3#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#Binding"
      }
    },
    "com.gcp.cloudresourcemanager_v3#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.cloudresourcemanager_v3#CreateTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UpdateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.cloudresourcemanager_v3#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagBinding": {
      "type": "structure",
      "members": {
        "tagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TagValue of the TagBinding. Must be of the form `tagValues/456`."
          }
        },
        "tagValueNamespacedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespaced name for the TagValue of the TagBinding. Must be in the format `{parent_id}/{tag_key_short_name}/{short_name}`. For methods that support TagValue namespaced name, only one of tag_value_namespaced_name or tag_value may be filled. Requests with both fields will be rejected."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`) or `tagBindings/{full-resource-name}/{tag-key-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagKeys/123`)."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TagBinding represents a connection between a TagValue and a cloud resource. When a TagBinding is created, the TagValue is applied to all the descendants of the Google Cloud resource."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `UndeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v3#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListFoldersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue."
          }
        },
        "folders": {
          "target": "com.gcp.cloudresourcemanager_v3#FolderList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of folders that are direct descendants of the specified parent resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListFolders response message."
      }
    },
    "com.gcp.cloudresourcemanager_v3#SearchOrganizationsResponse": {
      "type": "structure",
      "members": {
        "organizations": {
          "target": "com.gcp.cloudresourcemanager_v3#OrganizationList",
          "traits": {
            "smithy.api#documentation": "The list of Organizations that matched the search query, possibly paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response returned from the `SearchOrganizations` method."
      }
    },
    "com.gcp.cloudresourcemanager_v3#OrganizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#Organization"
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagHold": {
      "type": "structure",
      "members": {
        "holder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the resource where the TagValue is being used. Must be less than 200 characters. E.g. `//compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group`"
          }
        },
        "helpLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL where an end user can learn more about removing this hold. E.g. `https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this TagHold was created."
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional string representing the origin of this request. This field should include human-understandable information to distinguish origins from each other. Must be less than 200 characters. E.g. `migs-35678234`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of a TagHold. This is a String of the form: `tagValues/{tag-value-id}/tagHolds/{tag-hold-id}` (e.g. `tagValues/123/tagHolds/456`). This resource name is generated by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TagHold represents the use of a TagValue that is not captured by TagBindings. If a TagValue has any TagHolds, deletion will be blocked. This resource is intended to be created in the same cloud location as the `holder`."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UpdateProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject."
      }
    },
    "com.gcp.cloudresourcemanager_v3#EffectiveTagBindingCollection": {
      "type": "structure",
      "members": {
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the resource the TagBindings are bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the EffectiveTagBindingCollection, following the convention: `locations/{location}/effectiveTagBindingCollections/{encoded-full-resource-name}` where the encoded-full-resource-name is the UTF-8 encoded name of the GCP resource the TagBindings are bound to. E.g. \"locations/global/effectiveTagBindingCollections/%2f%2fcloudresourcemanager.googleapis.com%2fprojects%2f123\""
          }
        },
        "effectiveTags": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Tag keys/values effectively bound to this resource, specified in namespaced format. For example: \"123/environment\": \"production\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a collection of effective tag bindings for a GCP resource."
      }
    },
    "com.gcp.cloudresourcemanager_v3#Folder": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The folder's parent's resource name. Updates to the folder's parent must be performed using MoveFolder."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The folder's display name. A folder's display name must be unique amongst its siblings. For example, no two folders with the same parent can share the same display name. The display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be no longer than 30 characters. This is captured by the regular expression: `[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?`."
          }
        },
        "configuredCapabilities": {
          "target": "com.gcp.cloudresourcemanager_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Optional capabilities configured for this folder (via UpdateCapability API). Example: `folders/123/capabilities/app-management`."
          }
        },
        "tags": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this folder. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\" Note: Currently this field is in Preview."
          }
        },
        "managementProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Management Project associated with this folder (if app-management capability is enabled). Example: `projects/google-mp-123` OUTPUT ONLY."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the folder was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A checksum computed by the server based on the current value of the folder resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "state": {
          "target": "com.gcp.cloudresourcemanager_v3#FolderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle state of the folder. Updates to the state must be performed using DeleteFolder and UndeleteFolder."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\"."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the folder was last modified."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the folder was requested to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A folder in an organization's resource hierarchy, used to organize that organization's resources."
      }
    },
    "com.gcp.cloudresourcemanager_v3#FolderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#CreateFolderMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are creating the folder under."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the Folder creation process."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListTagHoldsResponse": {
      "type": "structure",
      "members": {
        "tagHolds": {
          "target": "com.gcp.cloudresourcemanager_v3#TagHoldList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of TagHolds."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListTagHolds response."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagHoldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v3#TagHold"
      }
    },
    "com.gcp.cloudresourcemanager_v3#Capability": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of the capability. Must be in the following form: * `folders/{folder_id}/capabilities/{capability_name}` For example, `folders/123/capabilities/app-management` Following are the allowed {capability_name} values: * `app-management`"
          }
        },
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. The configured value of the capability at the given parent resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a Capability."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagKey": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the TagKey's parent. A TagKey can be parented by an Organization or a Project. For a TagKey parented by an Organization, its parent must be in the form `organizations/{org_id}`. For a TagKey parented by a Project, its parent can be in the form `projects/{project_id}` or `projects/{project_number}`."
          }
        },
        "namespacedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. Namespaced name of the TagKey."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The user friendly name for a TagKey. The short name should be unique for TagKeys within the same tag namespace. The short name must be 1-256 characters, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "purpose": {
          "target": "com.gcp.cloudresourcemanager_v3#TagKeyPurposeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. A purpose denotes that this Tag is intended for use in policies of a specific policy engine, and will involve that policy engine in management operations involving this Tag. A purpose does not grant a policy engine exclusive rights to the Tag, and it may be referenced by other policy engines. A purpose cannot be changed once set."
          }
        },
        "allowedValuesRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Regular expression constraint for freeform tag values. If present, it implicitly allows freeform values (constrained by the regex)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-assigned description of the TagKey. Must not exceed 256 characters. Read-write."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "purposeData": {
          "target": "com.gcp.cloudresourcemanager_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Purpose data corresponds to the policy system that the tag is intended for. See documentation for `Purpose` for formatting of this field. Purpose data cannot be changed once set."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagKeyRequest for details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TagKey, used to group a set of TagValues."
      }
    },
    "com.gcp.cloudresourcemanager_v3#TagKeyPurposeEnum": {
      "type": "enum",
      "members": {
        "PURPOSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PURPOSE_UNSPECIFIED"
          }
        },
        "GCE_FIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE_FIREWALL"
          }
        },
        "DATA_GOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_GOVERNANCE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#GetIamPolicyFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v3#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v3#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v3#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v3#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v3#GetIamPolicyFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v3#GetIamPolicyFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v3#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v3#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v3/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v3#SetIamPolicyFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v3#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#SetIamPolicyFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v3#SetIamPolicyFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v3#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v3#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v3/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on a folder, replacing any existing policy. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the folder to undelete. Must be of the form `folders/{folder_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v3#UndeleteFolderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#UndeleteFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v3#UndeleteFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v3#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v3#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v3/{+name}:undelete"
        },
        "smithy.api#documentation": "Cancels the deletion request for a folder. This method may be called on a folder in any state. If the folder is in the ACTIVE state the result will be a no-op success. In order to succeed, the folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height, and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListFoldersRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the parent resource whose folders are being listed. Only children of this parent resource are listed; descendants are not listed. If the parent is a folder, use the value `folders/{folder_id}`. If the parent is an organization, use the value `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
            "smithy.api#httpQuery": "parent"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false.",
            "smithy.api#httpQuery": "showDeleted"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#ListFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v3#ListFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v3#ListFoldersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v3#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v3/folders"
        },
        "smithy.api#documentation": "Lists the folders that are direct descendants of supplied parent resource. `list()` provides a strongly consistent view of the folders underneath the specified parent resource. `list()` returns folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#TestIamPermissionsFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v3#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v3#TestIamPermissionsFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v3#TestIamPermissionsFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v3#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v3#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v3/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified folder. The `resource` field should be the folder's resource name, for example: \"folders/1234\". There are no permissions required for making this API call."
      }
    },
    "com.gcp.cloudresourcemanager_v3#MoveFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
[...]
