{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudbuild",
    "version": "v2",
    "title": "Cloud Build API",
    "baseUrl": "https://cloudbuild.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudbuild_v2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudbuild_v2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudbuild_v2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Location"
      }
    },
    "com.gcp.cloudbuild_v2#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbuild_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudbuild_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbuild_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudbuild_v2#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbuild_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.cloudbuild_v2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.cloudbuild_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudbuild_v2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudbuild_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudbuild_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#DocumentMap"
      }
    },
    "com.gcp.cloudbuild_v2#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.cloudbuild_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudbuild_v2#Connection": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned timestamp for when the connection was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned timestamp for when the connection was updated."
          }
        },
        "githubConfig": {
          "target": "com.gcp.cloudbuild_v2#GitHubConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to github.com."
          }
        },
        "githubEnterpriseConfig": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of GitHub Enterprise."
          }
        },
        "gitlabConfig": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2GitLabConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
          }
        },
        "bitbucketDataCenterConfig": {
          "target": "com.gcp.cloudbuild_v2#BitbucketDataCenterConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to Bitbucket Data Center."
          }
        },
        "bitbucketCloudConfig": {
          "target": "com.gcp.cloudbuild_v2#BitbucketCloudConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to Bitbucket Cloud."
          }
        },
        "installationState": {
          "target": "com.gcp.cloudbuild_v2#InstallationState",
          "traits": {
            "smithy.api#documentation": "Output only. Installation state of the Connection."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Set to true when the connection is being set up or updated in the background."
          }
        },
        "annotations": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows clients to store small amounts of arbitrary data."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab."
      }
    },
    "com.gcp.cloudbuild_v2#GitHubConfig": {
      "type": "structure",
      "members": {
        "authorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#OAuthCredential",
          "traits": {
            "smithy.api#documentation": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App."
          }
        },
        "appInstallationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. GitHub App installation id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to github.com."
      }
    },
    "com.gcp.cloudbuild_v2#OAuthCredential": {
      "type": "structure",
      "members": {
        "oauthTokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The username associated to this token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
      }
    },
    "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "type": "structure",
      "members": {
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the GitHub Enterprise host this connection is for."
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. API Key used for authentication of webhook events."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Id of the GitHub App created from the manifest."
          }
        },
        "appSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL-friendly name of the GitHub App."
          }
        },
        "privateKeySecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
          }
        },
        "appInstallationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the installation of the GitHub App."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
          }
        },
        "sslCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate to use for requests to GitHub Enterprise."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GitHub Enterprise version installed at the host_uri."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to an instance of GitHub Enterprise."
      }
    },
    "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceDirectoryConfig represents Service Directory configuration for a connection."
      }
    },
    "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "type": "structure",
      "members": {
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the minimum `read_api` scope access."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the `api` scope access."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
          }
        },
        "sslCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate to use for requests to GitLab Enterprise."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the GitLab Enterprise server running on the `host_uri`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
      }
    },
    "com.gcp.cloudbuild_v2#UserCredential": {
      "type": "structure",
      "members": {
        "userTokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The username associated to this token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a personal access token that authorized the Connection, and associated metadata."
      }
    },
    "com.gcp.cloudbuild_v2#BitbucketDataCenterConfig": {
      "type": "structure",
      "members": {
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A http access token with the `REPO_READ` access."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A http access token with the `REPO_ADMIN` scope access."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
          }
        },
        "sslCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the Bitbucket Data Center running on the `host_uri`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to Bitbucket Data Center."
      }
    },
    "com.gcp.cloudbuild_v2#BitbucketCloudConfig": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.cloudbuild_v2#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to Bitbucket Cloud."
      }
    },
    "com.gcp.cloudbuild_v2#InstallationState": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.gcp.cloudbuild_v2#InstallationStateStageEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current step of the installation process."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
          }
        },
        "actionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to follow for next action. Empty string if the installation is already complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
      }
    },
    "com.gcp.cloudbuild_v2#InstallationStateStageEnum": {
      "type": "enum",
      "members": {
        "STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_UNSPECIFIED"
          }
        },
        "PENDING_CREATE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CREATE_APP"
          }
        },
        "PENDING_USER_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_USER_OAUTH"
          }
        },
        "PENDING_INSTALL_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_INSTALL_APP"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.cloudbuild_v2#ConnectionList",
          "traits": {
            "smithy.api#documentation": "The list of Connections."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Connections."
      }
    },
    "com.gcp.cloudbuild_v2#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Connection"
      }
    },
    "com.gcp.cloudbuild_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbuild_v2#Repository": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`."
          }
        },
        "remoteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Git Clone HTTPS URI."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned timestamp for when the connection was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned timestamp for when the connection was updated."
          }
        },
        "annotations": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows clients to store small amounts of arbitrary data."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. External ID of the webhook created for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository associated to a parent connection."
      }
    },
    "com.gcp.cloudbuild_v2#BatchCreateRepositoriesRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.cloudbuild_v2#CreateRepositoryRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request messages specifying the repositories to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for creating repositoritories in batch."
      }
    },
    "com.gcp.cloudbuild_v2#CreateRepositoryRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#CreateRepositoryRequest"
      }
    },
    "com.gcp.cloudbuild_v2#CreateRepositoryRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
          }
        },
        "repository": {
          "target": "com.gcp.cloudbuild_v2#Repository",
          "traits": {
            "smithy.api#documentation": "Required. The repository to create."
          }
        },
        "repositoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for creating a Repository."
      }
    },
    "com.gcp.cloudbuild_v2#ListRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.cloudbuild_v2#RepositoryList",
          "traits": {
            "smithy.api#documentation": "The list of Repositories."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Repositories."
      }
    },
    "com.gcp.cloudbuild_v2#RepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Repository"
      }
    },
    "com.gcp.cloudbuild_v2#FetchReadWriteTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for fetching SCM read/write token."
      }
    },
    "com.gcp.cloudbuild_v2#FetchReadWriteTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token content."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp. Can be empty if unknown or non-expiring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to get read/write token."
      }
    },
    "com.gcp.cloudbuild_v2#FetchReadTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for fetching SCM read token."
      }
    },
    "com.gcp.cloudbuild_v2#FetchReadTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token content."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp. Can be empty if unknown or non-expiring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to get read token."
      }
    },
    "com.gcp.cloudbuild_v2#HttpBody": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.cloudbuild_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.cloudbuild_v2#FetchLinkableRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.cloudbuild_v2#RepositoryList",
          "traits": {
            "smithy.api#documentation": "repositories ready to be created."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for FetchLinkableRepositories."
      }
    },
    "com.gcp.cloudbuild_v2#FetchGitRefsResponse": {
      "type": "structure",
      "members": {
        "refNames": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Name of the refs fetched."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for fetching git refs"
      }
    },
    "com.gcp.cloudbuild_v2#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudbuild_v2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudbuild_v2#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudbuild_v2#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudbuild_v2#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudbuild_v2#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Binding"
      }
    },
    "com.gcp.cloudbuild_v2#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#AuditConfig"
      }
    },
    "com.gcp.cloudbuild_v2#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.cloudbuild_v2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudbuild_v2#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudbuild_v2#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.cloudbuild_v2#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudbuild_v2#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#AuditLogConfig"
      }
    },
    "com.gcp.cloudbuild_v2#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudbuild_v2#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudbuild_v2#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbuild_v2#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.cloudbuild_v2#RunWorkflowCustomOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "pipelineRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the pipeline run created by RunWorkflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the custom metadata of the RunWorkflow long-running operation."
      }
    },
    "com.gcp.cloudbuild_v2#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.cloudbuild_v2#BatchCreateRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.cloudbuild_v2#RepositoryList",
          "traits": {
            "smithy.api#documentation": "Repository resources created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response of creating repositories in batch."
      }
    },
    "com.gcp.cloudbuild_v2#PipelineRun": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the `PipelineRun`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the request to create the `PipelineRun` was received."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the request to update the `PipelineRun` was received."
          }
        },
        "annotations": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "User annotations. See https://google.aip.dev/128#annotations"
          }
        },
        "workflow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Workflow used to create this PipelineRun."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The WorkerPool used to run this PipelineRun."
          }
        },
        "pipelineSpec": {
          "target": "com.gcp.cloudbuild_v2#PipelineSpec",
          "traits": {
            "smithy.api#documentation": "PipelineSpec defines the desired state of Pipeline."
          }
        },
        "pipelineRef": {
          "target": "com.gcp.cloudbuild_v2#PipelineRef",
          "traits": {
            "smithy.api#documentation": "PipelineRef refer to a specific instance of a Pipeline."
          }
        },
        "pipelineSpecYaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Inline pipelineSpec yaml string, used by workflow run requests."
          }
        },
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamList",
          "traits": {
            "smithy.api#documentation": "Params is a list of parameter names and values."
          }
        },
        "workspaces": {
          "target": "com.gcp.cloudbuild_v2#WorkspaceBindingList",
          "traits": {
            "smithy.api#documentation": "Workspaces is a list of WorkspaceBindings from volumes to workspaces."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account used in the Pipeline. Deprecated; please use security.service_account instead."
          }
        },
        "pipelineRunStatus": {
          "target": "com.gcp.cloudbuild_v2#PipelineRunPipelineRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Pipelinerun status the user can provide. Used for cancellation."
          }
        },
        "conditions": {
          "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. Kubernetes Conditions convention for PipelineRun status and error."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the pipeline is actually started."
          }
        },
        "completionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the pipeline completed."
          }
        },
        "childReferences": {
          "target": "com.gcp.cloudbuild_v2#ChildStatusReferenceList",
          "traits": {
            "smithy.api#documentation": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Needed for declarative-friendly resources."
          }
        },
        "timeouts": {
          "target": "com.gcp.cloudbuild_v2#TimeoutFields",
          "traits": {
            "smithy.api#documentation": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally"
          }
        },
        "skippedTasks": {
          "target": "com.gcp.cloudbuild_v2#SkippedTaskList",
          "traits": {
            "smithy.api#documentation": "Output only. List of tasks that were skipped due to when expressions evaluating to false."
          }
        },
        "resolvedPipelineSpec": {
          "target": "com.gcp.cloudbuild_v2#PipelineSpec",
          "traits": {
            "smithy.api#documentation": "Output only. The exact PipelineSpec used to instantiate the run."
          }
        },
        "finallyStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional"
          }
        },
        "gcbParams": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. GCB default params."
          }
        },
        "worker": {
          "target": "com.gcp.cloudbuild_v2#Worker",
          "traits": {
            "smithy.api#documentation": "Optional. Worker configuration."
          }
        },
        "security": {
          "target": "com.gcp.cloudbuild_v2#Security",
          "traits": {
            "smithy.api#documentation": "Optional. Security configuration."
          }
        },
        "provenance": {
          "target": "com.gcp.cloudbuild_v2#Provenance",
          "traits": {
            "smithy.api#documentation": "Optional. Provenance configuration."
          }
        },
        "record": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`"
          }
        },
        "results": {
          "target": "com.gcp.cloudbuild_v2#PipelineRunResultList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of results written out by the pipeline's containers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing PipelineRun object"
      }
    },
    "com.gcp.cloudbuild_v2#ParamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Param"
      }
    },
    "com.gcp.cloudbuild_v2#WorkspaceBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#WorkspaceBinding"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineRunPipelineRunStatusEnum": {
      "type": "enum",
      "members": {
        "PIPELINE_RUN_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIPELINE_RUN_STATUS_UNSPECIFIED"
          }
        },
        "PIPELINE_RUN_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIPELINE_RUN_CANCELLED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#GoogleDevtoolsCloudbuildV2Condition"
      }
    },
    "com.gcp.cloudbuild_v2#ChildStatusReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#ChildStatusReference"
      }
    },
    "com.gcp.cloudbuild_v2#SkippedTaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#SkippedTask"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineRunResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#PipelineRunResult"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineSpec": {
      "type": "structure",
      "members": {
        "tasks": {
          "target": "com.gcp.cloudbuild_v2#PipelineTaskList",
          "traits": {
            "smithy.api#documentation": "List of Tasks that execute when this Pipeline is run."
          }
        },
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamSpecList",
          "traits": {
            "smithy.api#documentation": "List of parameters."
          }
        },
        "workspaces": {
          "target": "com.gcp.cloudbuild_v2#PipelineWorkspaceDeclarationList",
          "traits": {
            "smithy.api#documentation": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
          }
        },
        "finallyTasks": {
          "target": "com.gcp.cloudbuild_v2#PipelineTaskList",
          "traits": {
            "smithy.api#documentation": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline."
          }
        },
        "generatedYaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows."
          }
        },
        "results": {
          "target": "com.gcp.cloudbuild_v2#PipelineResultList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of results written out by the pipeline's containers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PipelineSpec defines the desired state of Pipeline."
      }
    },
    "com.gcp.cloudbuild_v2#PipelineTaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#PipelineTask"
      }
    },
    "com.gcp.cloudbuild_v2#ParamSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#ParamSpec"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineWorkspaceDeclarationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#PipelineWorkspaceDeclaration"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#PipelineResult"
      }
    },
    "com.gcp.cloudbuild_v2#PipelineTask": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the task."
          }
        },
        "taskSpec": {
          "target": "com.gcp.cloudbuild_v2#EmbeddedTask",
          "traits": {
            "smithy.api#documentation": "Spec to instantiate this TaskRun."
          }
        },
        "taskRef": {
          "target": "com.gcp.cloudbuild_v2#TaskRef",
          "traits": {
            "smithy.api#documentation": "Reference to a specific instance of a task."
          }
        },
        "whenExpressions": {
          "target": "com.gcp.cloudbuild_v2#WhenExpressionList",
          "traits": {
            "smithy.api#documentation": "Conditions that need to be true for the task to run."
          }
        },
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamList",
          "traits": {
            "smithy.api#documentation": "Params is a list of parameter names and values."
          }
        },
        "workspaces": {
          "target": "com.gcp.cloudbuild_v2#WorkspacePipelineTaskBindingList",
          "traits": {
            "smithy.api#documentation": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task."
          }
        },
        "runAfter": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)"
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retries represents how many times this task should be retried in case of task failure."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PipelineTask defines a task in a Pipeline."
      }
    },
    "com.gcp.cloudbuild_v2#WhenExpressionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#WhenExpression"
      }
    },
    "com.gcp.cloudbuild_v2#WorkspacePipelineTaskBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#WorkspacePipelineTaskBinding"
      }
    },
    "com.gcp.cloudbuild_v2#EmbeddedTask": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "User annotations. See https://google.aip.dev/128#annotations"
          }
        },
        "taskSpec": {
          "target": "com.gcp.cloudbuild_v2#TaskSpec",
          "traits": {
            "smithy.api#documentation": "Spec to instantiate this TaskRun."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EmbeddedTask defines a Task that is embedded in a Pipeline."
      }
    },
    "com.gcp.cloudbuild_v2#TaskSpec": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamSpecList",
          "traits": {
            "smithy.api#documentation": "List of parameters."
          }
        },
        "steps": {
          "target": "com.gcp.cloudbuild_v2#StepList",
          "traits": {
            "smithy.api#documentation": "Steps of the task."
          }
        },
        "results": {
          "target": "com.gcp.cloudbuild_v2#TaskResultList",
          "traits": {
            "smithy.api#documentation": "Values that this Task can output."
          }
        },
        "workspaces": {
          "target": "com.gcp.cloudbuild_v2#WorkspaceDeclarationList",
          "traits": {
            "smithy.api#documentation": "The volumes that this Task requires."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the task."
          }
        },
        "sidecars": {
          "target": "com.gcp.cloudbuild_v2#SidecarList",
          "traits": {
            "smithy.api#documentation": "Sidecars that run alongside the Task's step containers."
          }
        },
        "volumes": {
          "target": "com.gcp.cloudbuild_v2#VolumeSourceList",
          "traits": {
            "smithy.api#documentation": "A collection of volumes that are available to mount into steps."
          }
        },
        "managedSidecars": {
          "target": "com.gcp.cloudbuild_v2#TaskSpecManagedSidecarsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Sidecars that run alongside the Task’s step containers that should be added to this Task."
          }
        },
        "stepTemplate": {
          "target": "com.gcp.cloudbuild_v2#StepTemplate",
          "traits": {
            "smithy.api#documentation": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaskSpec contains the Spec to instantiate a TaskRun."
      }
    },
    "com.gcp.cloudbuild_v2#StepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Step"
      }
    },
    "com.gcp.cloudbuild_v2#TaskResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#TaskResult"
      }
    },
    "com.gcp.cloudbuild_v2#WorkspaceDeclarationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#WorkspaceDeclaration"
      }
    },
    "com.gcp.cloudbuild_v2#SidecarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#Sidecar"
      }
    },
    "com.gcp.cloudbuild_v2#VolumeSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#VolumeSource"
      }
    },
    "com.gcp.cloudbuild_v2#TaskSpecManagedSidecarsItemEnum": {
      "type": "enum",
      "members": {
        "MANAGED_SIDECAR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_SIDECAR_UNSPECIFIED"
          }
        },
        "PRIVILEGED_DOCKER_DAEMON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGED_DOCKER_DAEMON"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#TaskSpecManagedSidecarsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#TaskSpecManagedSidecarsItemEnum"
      }
    },
    "com.gcp.cloudbuild_v2#ParamSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ParamSpec"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the ParamSpec"
          }
        },
        "type": {
          "target": "com.gcp.cloudbuild_v2#ParamSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of ParamSpec"
          }
        },
        "default": {
          "target": "com.gcp.cloudbuild_v2#ParamValue",
          "traits": {
            "smithy.api#documentation": "The default value a parameter takes if no input value is supplied"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun."
      }
    },
    "com.gcp.cloudbuild_v2#ParamSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#ParamValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudbuild_v2#ParamValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of parameter."
          }
        },
        "stringVal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the parameter if type is string."
          }
        },
        "arrayVal": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Value of the parameter if type is array."
          }
        },
        "objectVal": {
          "target": "com.gcp.cloudbuild_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Value of the parameter if type is object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameter value."
      }
    },
    "com.gcp.cloudbuild_v2#ParamValueTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#Step": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the container specified as a DNS_LABEL."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image name."
          }
        },
        "args": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Arguments to the entrypoint."
          }
        },
        "command": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Entrypoint array."
          }
        },
        "workingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container's working directory."
          }
        },
        "env": {
          "target": "com.gcp.cloudbuild_v2#EnvVarList",
          "traits": {
            "smithy.api#documentation": "List of environment variables to set in the container."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of an executable file to execute."
          }
        },
        "volumeMounts": {
          "target": "com.gcp.cloudbuild_v2#VolumeMountList",
          "traits": {
            "smithy.api#documentation": "Pod volumes to mount into the container's filesystem."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time after which the Step times out. Defaults to never."
          }
        },
        "securityContext": {
          "target": "com.gcp.cloudbuild_v2#SecurityContext",
          "traits": {
            "smithy.api#documentation": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
          }
        },
        "ref": {
          "target": "com.gcp.cloudbuild_v2#StepRef",
          "traits": {
            "smithy.api#documentation": "Optional. Optional reference to a remote StepAction."
          }
        },
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamList",
          "traits": {
            "smithy.api#documentation": "Optional. Optional parameters passed to the StepAction."
          }
        },
        "onError": {
          "target": "com.gcp.cloudbuild_v2#StepOnErrorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Step embeds the Container type, which allows it to include fields not provided by Container."
      }
    },
    "com.gcp.cloudbuild_v2#EnvVarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#EnvVar"
      }
    },
    "com.gcp.cloudbuild_v2#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v2#VolumeMount"
      }
    },
    "com.gcp.cloudbuild_v2#StepOnErrorEnum": {
      "type": "enum",
      "members": {
        "ON_ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_ERROR_TYPE_UNSPECIFIED"
          }
        },
        "STOP_AND_FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_AND_FAIL"
          }
        },
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUE"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#EnvVar": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment variable."
      }
    },
    "com.gcp.cloudbuild_v2#VolumeMount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the volume."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mounted read-only if true, read-write otherwise (false or unspecified)."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path within the container at which the volume should be mounted. Must not contain ':'."
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root)."
          }
        },
        "subPathExpr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pod volumes to mount into the container's filesystem."
      }
    },
    "com.gcp.cloudbuild_v2#SecurityContext": {
      "type": "structure",
      "members": {
        "privileged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Run container in privileged mode."
          }
        },
        "runAsUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
          }
        },
        "runAsGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
          }
        },
        "runAsNonRoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
          }
        },
        "allowPrivilegeEscalation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security options the container should be run with."
      }
    },
    "com.gcp.cloudbuild_v2#StepRef": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the step."
          }
        },
        "resolver": {
          "target": "com.gcp.cloudbuild_v2#StepRefResolverEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the resolver."
          }
        },
        "params": {
          "target": "com.gcp.cloudbuild_v2#ParamList",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters used to control the resolution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a remote Step, i.e. a StepAction."
      }
    },
    "com.gcp.cloudbuild_v2#StepRefResolverEnum": {
      "type": "enum",
      "members": {
        "RESOLVER_NAME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVER_NAME_UNSPECIFIED"
          }
        },
        "BUNDLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLES"
          }
        },
        "GCB_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCB_REPO"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIT"
          }
        },
        "DEVELOPER_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER_CONNECT"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#Param": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parameter."
          }
        },
        "value": {
          "target": "com.gcp.cloudbuild_v2#ParamValue",
          "traits": {
            "smithy.api#documentation": "Value of the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline."
      }
    },
    "com.gcp.cloudbuild_v2#TaskResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the result."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the result."
          }
        },
        "type": {
          "target": "com.gcp.cloudbuild_v2#TaskResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data that the result holds."
          }
        },
        "properties": {
          "target": "com.gcp.cloudbuild_v2#PropertySpecMap",
          "traits": {
            "smithy.api#documentation": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds."
          }
        },
        "value": {
          "target": "com.gcp.cloudbuild_v2#ParamValue",
          "traits": {
            "smithy.api#documentation": "Optional. Optionally used to initialize a Task's result with a Step's result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaskResult is used to describe the results of a task."
      }
    },
    "com.gcp.cloudbuild_v2#TaskResultTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#PropertySpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbuild_v2#PropertySpec"
      }
    },
    "com.gcp.cloudbuild_v2#PropertySpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudbuild_v2#PropertySpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "A type for the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PropertySpec holds information about a property in an object."
      }
    },
    "com.gcp.cloudbuild_v2#PropertySpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v2#WorkspaceDeclaration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the name by which you can bind the volume at runtime."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description is a human readable description of this volume."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MountPath overrides the directory that the volume will be made available at."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "ReadOnly dictates whether a mounted volume is writable."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkspaceDeclaration is a declaration of a volume that a Task requires."
      }
    },
    "com.gcp.cloudbuild_v2#Sidecar": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Sidecar."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image name."
          }
        },
        "args": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Arguments to the entrypoint."
          }
        },
        "command": {
          "target": "com.gcp.cloudbuild_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Entrypoint array."
          }
        },
        "workingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container's working directory."
          }
        },
        "env": {
          "target": "com.gcp.cloudbuild_v2#EnvVarList",
          "traits": {
            "smithy.api#documentation": "List of environment variables to set in the container."
          }
        },
        "script": {
          "target": "smithy.api#String",
[...]
