{
  "smithy": "2.0",
  "metadata": {
    "service": "clouderrorreporting",
    "version": "v1beta1",
    "title": "Error Reporting API",
    "baseUrl": "https://clouderrorreporting.googleapis.com/"
  },
  "shapes": {
    "com.gcp.clouderrorreporting_v1beta1#ServiceContext": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to `version`, which can be changed whenever new code is deployed. Contains the service name for error reports extracted from Google App Engine logs or `default` if the App Engine default service is used."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the MonitoredResource. List of possible values: https://cloud.google.com/monitoring/api/resources Value is set automatically for incoming errors and must not be set when reporting errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a running service that sends errors. Its version changes over time and multiple versions can run in parallel."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#SourceLocation": {
      "type": "structure",
      "members": {
        "lineNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based. 0 indicates that the line number is unknown."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of a function or method. The value can include optional context like the class or package name. For example, `my.package.MyClass.method` in case of Java."
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code filename, which can include a truncated relative path, or a full path from a production machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates a location in the source code of the service for which errors are reported. `functionName` must be provided by the application when reporting an error, unless the error report contains a `message` with a supported exception stack trace. All fields are optional for the later case."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorGroupStats": {
      "type": "structure",
      "members": {
        "group": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup",
          "traits": {
            "smithy.api#documentation": "Group data that is independent of the filter criteria."
          }
        },
        "affectedUsersCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate number of affected users in the given group that match the filter criteria. Users are distinguished by data in the ErrorContext of the individual error events, such as their login name or their remote IP address in case of HTTP requests. The number of affected users can be zero even if the number of errors is non-zero if no data was provided from which the affected user could be deduced. Users are counted based on data in the request context that was provided in the error report. If more users are implicitly affected, such as due to a crash of the whole service, this is not reflected here."
          }
        },
        "timedCounts": {
          "target": "com.gcp.clouderrorreporting_v1beta1#TimedCountList",
          "traits": {
            "smithy.api#documentation": "Approximate number of occurrences over time. Timed counts returned by ListGroups are guaranteed to be: - Inside the requested time interval - Non-overlapping, and - Ordered by ascending time."
          }
        },
        "numAffectedServices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of services with a non-zero error count for the given filter criteria."
          }
        },
        "representative": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorEvent",
          "traits": {
            "smithy.api#documentation": "An arbitrary event that is chosen as representative for the whole group. The representative event is intended to be used as a quick preview for the whole group. Events in the group are usually sufficiently similar to each other such that showing an arbitrary representative provides insight into the characteristics of the group as a whole."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate total number of events in the given group that match the filter criteria."
          }
        },
        "firstSeenTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate first occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request."
          }
        },
        "lastSeenTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate last occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request."
          }
        },
        "affectedServices": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ServiceContextList",
          "traits": {
            "smithy.api#documentation": "Service contexts with a non-zero error count for the given filter criteria. This list can be truncated if multiple services are affected. Refer to `num_affected_services` for the total count."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data extracted for a specific group based on certain filter criteria, such as a given time period and/or service filter."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#TimedCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#TimedCount"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ServiceContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ServiceContext"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#TimedCount": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate number of occurrences in the given time period."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the time period to which `count` refers (excluded)."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the time period to which `count` refers (included)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of errors in a given time period. All numbers are approximate since the error events are sampled before counting them."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListGroupStatsResponse": {
      "type": "structure",
      "members": {
        "errorGroupStats": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroupStatsList",
          "traits": {
            "smithy.api#documentation": "The error group stats which match the given request."
          }
        },
        "timeRangeBegin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp specifies the start time to which the request was restricted. The start time is set based on the requested time range. It may be adjusted to a later time if a project has exceeded the storage quota and older data has been deleted."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a set of requested error group stats."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorGroupStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroupStats"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ReportedErrorEvent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The error message. If no `context.reportLocation` is provided, the message must contain a header (typically consisting of the exception type name and an error message) and an exception stack trace in one of the supported programming languages and formats. Supported languages are Java, Python, JavaScript, Ruby, C#, PHP, and Go. Supported stack trace formats are: * **Java**: Must be the return value of [`Throwable.printStackTrace()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace%28%29). * **Python**: Must be the return value of [`traceback.format_exc()`](https://docs.python.org/2/library/traceback.html#traceback.format_exc). * **JavaScript**: Must be the value of [`error.stack`](https://github.com/v8/v8/wiki/Stack-Trace-API) as returned by V8. * **Ruby**: Must contain frames returned by [`Exception.backtrace`](https://ruby-doc.org/core-2.2.0/Exception.html#method-i-backtrace). * **C#**: Must be the return value of [`Exception.ToString()`](https://msdn.microsoft.com/en-us/library/system.exception.tostring.aspx). * **PHP**: Must be prefixed with `\"PHP (Notice|Parse error|Fatal error|Warning): \"` and contain the result of [`(string)$exception`](https://php.net/manual/en/exception.tostring.php). * **Go**: Must be the return value of [`debug.Stack()`](https://pkg.go.dev/runtime/debug#Stack)."
          }
        },
        "serviceContext": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ServiceContext",
          "traits": {
            "smithy.api#documentation": "Required. The service context in which this error has occurred."
          }
        },
        "context": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorContext",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the context in which the error occurred."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time when the event occurred. If not provided, the time when the event was received by the Error Reporting system is used. If provided, the time must not exceed the [logs retention period](https://cloud.google.com/logging/quotas#logs_retention_periods) in the past, or be more than 24 hours in the future. If an invalid time is provided, then an error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error event which is reported to the Error Reporting system."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#SourceReference": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\""
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a particular snapshot of the source tree used to build and deploy an application."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#HttpRequestContext": {
      "type": "structure",
      "members": {
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent information that is provided with the request."
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referrer information that is provided with the request."
          }
        },
        "remoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address from which the request originated. This can be IPv4, IPv6, or a token which is derived from the IP address, depending on the data that has been provided in the error report."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of HTTP request, such as `GET`, `POST`, etc."
          }
        },
        "responseStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The HTTP response status code for the request."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP request data that is related to a reported error. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorEvent": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the event occurred as provided in the error report. If the report did not contain a timestamp, the time the error was received by the Error Reporting system is used."
          }
        },
        "serviceContext": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ServiceContext",
          "traits": {
            "smithy.api#documentation": "The `ServiceContext` for which this error was reported."
          }
        },
        "context": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorContext",
          "traits": {
            "smithy.api#documentation": "Data about the context in which the error occurred."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stack trace that was reported or logged by the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error event which is returned by the Error Reporting system."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#TrackingIssue": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL pointing to a related entry in an issue tracking system. Example: `https://github.com/user/project/issues/4`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to tracking the progress on resolving the error."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorGroup": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque identifier of the group. This field is assigned by the Error Reporting system and always populated. In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice)."
          }
        },
        "trackingIssues": {
          "target": "com.gcp.clouderrorreporting_v1beta1#TrackingIssueList",
          "traits": {
            "smithy.api#documentation": "Associated tracking issues."
          }
        },
        "resolutionStatus": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroupResolutionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Error group's resolution status. An unspecified resolution status will be interpreted as OPEN"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of a group of similar error events."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#TrackingIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#TrackingIssue"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorGroupResolutionStatusEnum": {
      "type": "enum",
      "members": {
        "RESOLUTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION_STATUS_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "ACKNOWLEDGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACKNOWLEDGED"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListEventsResponse": {
      "type": "structure",
      "members": {
        "errorEvents": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorEventList",
          "traits": {
            "smithy.api#documentation": "The error events which match the given request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results."
          }
        },
        "timeRangeBegin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp specifies the start time to which the request was restricted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a set of requested error events."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorEvent"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#DeleteEventsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for deleting error events."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ReportErrorEventResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for reporting an individual error event. Data may be added to this message in the future."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ErrorContext": {
      "type": "structure",
      "members": {
        "sourceReferences": {
          "target": "com.gcp.clouderrorreporting_v1beta1#SourceReferenceList",
          "traits": {
            "smithy.api#documentation": "Source code that was used to build the executable which has caused the given error message."
          }
        },
        "httpRequest": {
          "target": "com.gcp.clouderrorreporting_v1beta1#HttpRequestContext",
          "traits": {
            "smithy.api#documentation": "The HTTP request which was processed when the error was triggered."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user who caused or was affected by the crash. This can be a user ID, an email address, or an arbitrary token that uniquely identifies the user. When sending an error report, leave this field empty if the user was not logged in. In this case the Error Reporting system will use other data, such as remote IP address, to distinguish affected users. See `affected_users_count` in `ErrorGroupStats`."
          }
        },
        "reportLocation": {
          "target": "com.gcp.clouderrorreporting_v1beta1#SourceLocation",
          "traits": {
            "smithy.api#documentation": "The location in the source code where the decision was made to report the error, usually the place where it was logged. For a logged exception this would be the source line where the exception is logged, usually close to the place where it was caught."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of the context in which an error occurred. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#SourceReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.clouderrorreporting_v1beta1#SourceReference"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjectsRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#DeleteEventsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+projectName}/events"
        },
        "smithy.api#documentation": "Deletes all error events of a given project."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#GetProjectsGroupsRequest": {
      "type": "structure",
      "members": {
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#GetProjectsGroups": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#GetProjectsGroupsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+groupName}"
        },
        "smithy.api#documentation": "Get the specified group."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsGroupsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsGroups": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsGroupsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Replace the data for the specified group. Fails if the group does not exist."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#DeleteEventsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#DeleteEventsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+projectName}/events"
        },
        "smithy.api#documentation": "Deletes all error events of a given project."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsAlignmentEnum": {
      "type": "enum",
      "members": {
        "ERROR_COUNT_ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_COUNT_ALIGNMENT_UNSPECIFIED"
          }
        },
        "ALIGNMENT_EQUAL_ROUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_EQUAL_ROUNDED"
          }
        },
        "ALIGNMENT_EQUAL_AT_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_EQUAL_AT_END"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsOrderEnum": {
      "type": "enum",
      "members": {
        "GROUP_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_ORDER_UNSPECIFIED"
          }
        },
        "COUNT_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT_DESC"
          }
        },
        "LAST_SEEN_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_SEEN_DESC"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED_DESC"
          }
        },
        "AFFECTED_USERS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFECTED_USERS_DESC"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsTimeRange_periodEnum": {
      "type": "enum",
      "members": {
        "PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_UNSPECIFIED"
          }
        },
        "PERIOD_1_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_HOUR"
          }
        },
        "PERIOD_6_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_6_HOURS"
          }
        },
        "PERIOD_1_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_DAY"
          }
        },
        "PERIOD_1_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_WEEK"
          }
        },
        "PERIOD_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_30_DAYS"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsRequest": {
      "type": "structure",
      "members": {
        "serviceFilter.resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
            "smithy.api#httpQuery": "serviceFilter.resourceType"
          }
        },
        "serviceFilter.service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
            "smithy.api#httpQuery": "serviceFilter.service"
          }
        },
        "alignment": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`.",
            "smithy.api#httpQuery": "alignment"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceFilter.version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
            "smithy.api#httpQuery": "serviceFilter.version"
          }
        },
        "timedCountDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
            "smithy.api#httpQuery": "timedCountDuration"
          }
        },
        "order": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsOrderEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
            "smithy.api#httpQuery": "order"
          }
        },
        "groupId": {
          "target": "com.gcp.clouderrorreporting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
            "smithy.api#httpQuery": "groupId"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "timeRange.period": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsTimeRange_periodEnum",
          "traits": {
            "smithy.api#documentation": "Restricts the query to the specified time range.",
            "smithy.api#httpQuery": "timeRange.period"
          }
        },
        "alignmentTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
            "smithy.api#httpQuery": "alignmentTime"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return per response. Default is 20.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStats": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsGroupStatsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListGroupStatsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+projectName}/groupStats"
        },
        "smithy.api#documentation": "Lists the specified groups.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsEventsTimeRange_periodEnum": {
      "type": "enum",
      "members": {
        "PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_UNSPECIFIED"
          }
        },
        "PERIOD_1_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_HOUR"
          }
        },
        "PERIOD_6_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_6_HOURS"
          }
        },
        "PERIOD_1_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_DAY"
          }
        },
        "PERIOD_1_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_WEEK"
          }
        },
        "PERIOD_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_30_DAYS"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsEventsRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceFilter.version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
            "smithy.api#httpQuery": "serviceFilter.version"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return per response.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "serviceFilter.service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
            "smithy.api#httpQuery": "serviceFilter.service"
          }
        },
        "timeRange.period": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsEventsTimeRange_periodEnum",
          "traits": {
            "smithy.api#documentation": "Restricts the query to the specified time range.",
            "smithy.api#httpQuery": "timeRange.period"
          }
        },
        "serviceFilter.resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
            "smithy.api#httpQuery": "serviceFilter.resourceType"
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
            "smithy.api#httpQuery": "groupId"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A `next_page_token` provided by a previous response.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsEvents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsLocationsEventsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListEventsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+projectName}/events"
        },
        "smithy.api#documentation": "Lists the specified events.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#GetProjectsLocationsGroupsRequest": {
      "type": "structure",
      "members": {
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#GetProjectsLocationsGroups": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#GetProjectsLocationsGroupsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+groupName}"
        },
        "smithy.api#documentation": "Get the specified group."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsLocationsGroupsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsLocationsGroups": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#UpdateProjectsLocationsGroupsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ErrorGroup"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Replace the data for the specified group. Fails if the group does not exist."
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsOrderEnum": {
      "type": "enum",
      "members": {
        "GROUP_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_ORDER_UNSPECIFIED"
          }
        },
        "COUNT_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT_DESC"
          }
        },
        "LAST_SEEN_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_SEEN_DESC"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED_DESC"
          }
        },
        "AFFECTED_USERS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFECTED_USERS_DESC"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsTimeRange_periodEnum": {
      "type": "enum",
      "members": {
        "PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_UNSPECIFIED"
          }
        },
        "PERIOD_1_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_HOUR"
          }
        },
        "PERIOD_6_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_6_HOURS"
          }
        },
        "PERIOD_1_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_DAY"
          }
        },
        "PERIOD_1_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_WEEK"
          }
        },
        "PERIOD_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_30_DAYS"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsAlignmentEnum": {
      "type": "enum",
      "members": {
        "ERROR_COUNT_ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_COUNT_ALIGNMENT_UNSPECIFIED"
          }
        },
        "ALIGNMENT_EQUAL_ROUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_EQUAL_ROUNDED"
          }
        },
        "ALIGNMENT_EQUAL_AT_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_EQUAL_AT_END"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return per response. Default is 20.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "groupId": {
          "target": "com.gcp.clouderrorreporting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
            "smithy.api#httpQuery": "groupId"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "order": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsOrderEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
            "smithy.api#httpQuery": "order"
          }
        },
        "timeRange.period": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsTimeRange_periodEnum",
          "traits": {
            "smithy.api#documentation": "Restricts the query to the specified time range.",
            "smithy.api#httpQuery": "timeRange.period"
          }
        },
        "alignmentTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
            "smithy.api#httpQuery": "alignmentTime"
          }
        },
        "alignment": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`.",
            "smithy.api#httpQuery": "alignment"
          }
        },
        "timedCountDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
            "smithy.api#httpQuery": "timedCountDuration"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceFilter.version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
            "smithy.api#httpQuery": "serviceFilter.version"
          }
        },
        "serviceFilter.resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
            "smithy.api#httpQuery": "serviceFilter.resourceType"
          }
        },
        "serviceFilter.service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
            "smithy.api#httpQuery": "serviceFilter.service"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStats": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsGroupStatsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListGroupStatsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+projectName}/groupStats"
        },
        "smithy.api#documentation": "Lists the specified groups.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsEventsTimeRange_periodEnum": {
      "type": "enum",
      "members": {
        "PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_UNSPECIFIED"
          }
        },
        "PERIOD_1_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_HOUR"
          }
        },
        "PERIOD_6_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_6_HOURS"
          }
        },
        "PERIOD_1_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_DAY"
          }
        },
        "PERIOD_1_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_1_WEEK"
          }
        },
        "PERIOD_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD_30_DAYS"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsEventsRequest": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
            "smithy.api#httpQuery": "groupId"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A `next_page_token` provided by a previous response.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "serviceFilter.resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
            "smithy.api#httpQuery": "serviceFilter.resourceType"
          }
        },
        "serviceFilter.service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
            "smithy.api#httpQuery": "serviceFilter.service"
          }
        },
        "timeRange.period": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsEventsTimeRange_periodEnum",
          "traits": {
            "smithy.api#documentation": "Restricts the query to the specified time range.",
            "smithy.api#httpQuery": "timeRange.period"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return per response.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceFilter.version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
            "smithy.api#httpQuery": "serviceFilter.version"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ListProjectsEvents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListProjectsEventsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ListEventsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+projectName}/events"
        },
        "smithy.api#documentation": "Lists the specified events.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ReportProjectsEventsRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectId}`, where `{projectId}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: // `projects/my-project-123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.clouderrorreporting_v1beta1#ReportedErrorEvent",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.clouderrorreporting_v1beta1#ReportProjectsEvents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ReportProjectsEventsRequest"
      },
      "output": {
        "target": "com.gcp.clouderrorreporting_v1beta1#ReportErrorEventResponse"
      },
      "errors": [
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.clouderrorreporting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+projectName}/events:report"
        },
        "smithy.api#documentation": "Report an individual error event and record the event to a log. This endpoint accepts **either** an OAuth token, **or** an [API key](https://support.google.com/cloud/answer/6158862) for authentication. To use an API key, append it to the URL as the value of a `key` parameter. For example: `POST https://clouderrorreporting.googleapis.com/v1beta1/{projectName}/events:report?key=123ABC456` **Note:** [Error Reporting] (https://cloud.google.com/error-reporting) is a service built on Cloud Logging and can analyze log entries when all of the following are true: * Customer-managed encryption keys (CMEK) are disabled on the log bucket. * The log bucket satisfies one of the following: * The log bucket is stored in the same project where the logs originated. * The logs were routed to a project, and then that project stored those logs in a log bucket that it owns."
      }
    }
  }
}
