{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudcommerceprocurement",
    "version": "v1",
    "title": "Cloud Commerce Partner Procurement API",
    "baseUrl": "https://cloudcommerceprocurement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudcommerceprocurement_v1#ApproveEntitlementRequest": {
      "type": "structure",
      "members": {
        "entitlementMigrated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the entitlement that was migrated, with the format `providers/{provider_id}/entitlements/{entitlement_id}`. Should only be sent when resources have been migrated from entitlement_migrated to the new entitlement. Optional."
          }
        },
        "properties": {
          "target": "com.gcp.cloudcommerceprocurement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Set of properties that should be associated with the entitlement. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for [PartnerProcurementService.ApproveEntitlement[]."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectEntitlementRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PartnerProcurementService.RejectEntitlement."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveAccountRequest": {
      "type": "structure",
      "members": {
        "approvalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the approval being approved. If absent and there is only one approval possible, that approval will be granted. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional."
          }
        },
        "properties": {
          "target": "com.gcp.cloudcommerceprocurement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Set of properties that should be associated with the account. Optional."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free form text string explaining the approval reason. Optional. Max allowed length: 256 bytes. Longer strings will be truncated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PartnerProcurementService.ApproveAccount."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListEntitlementsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for fetching the next page."
          }
        },
        "entitlements": {
          "target": "com.gcp.cloudcommerceprocurement_v1#EntitlementList",
          "traits": {
            "smithy.api#documentation": "The list of entitlements in this response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for PartnerProcurementService.ListEntitlements."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#EntitlementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Entitlement"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectEntitlementPlanChangeRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
          }
        },
        "pendingPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the pending plan that is being rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PartnerProcurementService.RejectEntitlementPlanChange."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectAccountRequest": {
      "type": "structure",
      "members": {
        "approvalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the approval being rejected. If absent and there is only one approval possible, that approval will be rejected. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PartnerProcurementService.RejectAccount."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListAccountsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for fetching the next page."
          }
        },
        "accounts": {
          "target": "com.gcp.cloudcommerceprocurement_v1#AccountList",
          "traits": {
            "smithy.api#documentation": "The list of accounts in this response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for [PartnerProcurementService.ListAccounts[]."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#AccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Account"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Entitlement": {
      "type": "structure",
      "members": {
        "usageReportingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The consumerId to use when reporting usage through the Service Control API. See the consumerId field at [Reporting Metrics](https://cloud.google.com/service-control/reporting-metrics) for more details. This field is present only if the product has usage-based billing configured."
          }
        },
        "messageToUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider-supplied message that is displayed to the end user. Currently this is used to communicate progress and ETA for provisioning. This field can be updated only when a user is waiting for an action from the provider, i.e. entitlement state is EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL. This field is cleared automatically when the entitlement state changes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the entitlement. Entitlement names have the form `providers/{provider_id}/entitlements/{entitlement_id}`."
          }
        },
        "newPendingPlan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the pending new plan. Required if the product has plans and the entitlement has a pending plan change."
          }
        },
        "cancellationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason the entitlement was cancelled. If this entitlement wasn't cancelled, this field is empty. Possible values include \"unknown\", \"expired\", \"user-cancelled\", \"account-closed\", \"billing-disabled\" (if the customer has manually disabled billing to their resources), \"user-aborted\", and \"migrated\" (if the entitlement has migrated across products). Values of this field are subject to change, and we recommend that you don't build your technical integration to rely on these fields."
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the offer that was procured. Field is empty if order wasn't made using an offer. Format: 'projects/{project}/services/{service}/privateOffers/{offer}' OR 'projects/{project}/services/{service}/standardOffers/{offer}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, this field is populated with the upcoming offer. * If the entitlement is in the state ENTITLEMENT_ACTIVE, ENTITLEMENT_PENDING_CANCELLATION, ENTITLEMENT_PENDING_PLAN_CHANGE, or ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, this field is populated with the current offer. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is populated with the latest offer that the order was associated with."
          }
        },
        "entitlementBenefitIds": {
          "target": "com.gcp.cloudcommerceprocurement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The entitlement benefit IDs associated with the purchase."
          }
        },
        "state": {
          "target": "com.gcp.cloudcommerceprocurement_v1#EntitlementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the entitlement."
          }
        },
        "offerDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The offer duration of the current offer, in ISO 8601 duration format. This is empty if the entitlement wasn't made using an offer, or if the offer has a specified end date instead of a duration. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, and the upcoming offer doesn't have a specified end date, then this field is populated with the duration of the upcoming offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVE, ENTITLEMENT_PENDING_CANCELLATION, ENTITLEMENT_PENDING_PLAN_CHANGE, or ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, and the current offer doesn't have a specified end date, then this field contains the duration of the current offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, and the offer doesn't have a specified end date, then this field is populated with the duration of the latest offer that the order was associated with. Otherwise, this field is empty."
          }
        },
        "newPendingOfferDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the new offer, in ISO 8601 duration format. This field is populated for pending offer changes. It isn't populated for entitlements which aren't active yet. If the offer has a specified end date instead of a duration, this field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE, or ENTITLEMENT_PENDING_CANCELLATION, this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, and the upcoming offer doesn't have a specified end date, then this field is populated with the duration of the upcoming offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the entity that was purchased. This may actually represent a product, quote, or offer. We strongly recommend that you use the following more explicit fields: productExternalName, quoteExternalName, or offer."
          }
        },
        "quoteExternalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the quote that was used to procure. Empty if the order is not purchased using a quote."
          }
        },
        "consumers": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ConsumerList",
          "traits": {
            "smithy.api#documentation": "Output only. The resources using this entitlement, if applicable."
          }
        },
        "newPendingOffer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Upon a pending plan change, the name of the offer that the entitlement is switching to. Only exists if the pending plan change is moving to an offer. This field isn't populated for entitlements which aren't active yet. Format: 'projects/{project}/services/{service}/privateOffers/{offer}' OR 'projects/{project}/services/{service}/standardOffers/{offer}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, then this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, then this field is populated with the upcoming offer. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this is empty."
          }
        },
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The order ID of this entitlement, without any `orders/` resource name prefix."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the service provider that this entitlement was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform."
          }
        },
        "productExternalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the product that was procured."
          }
        },
        "newOfferEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the new offer, determined from the offer's specified end date. If the offer des not have a specified end date then this field is not set. This field is populated even if the entitlement isn't active yet. If there's no upcoming offer, the field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE, or ENTITLEMENT_PENDING_CANCELLATION, then this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, and the upcoming offer has a specified end date, then this field is populated with the expected end time of the upcoming offer, in the future. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp."
          }
        },
        "subscriptionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time for the subscription corresponding to this entitlement."
          }
        },
        "newOfferStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the new offer becomes effective. This field is populated even if the entitlement isn't active yet. If there's no upcoming offer, the field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, this field isn't populated when the entitlement isn't yet approved. After the entitlement is approved, this field is populated with the effective time of the upcoming offer. * If the entitlement is in the state ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, this field isn't populated. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, this field isn't populated, because the entitlement change is waiting on approval. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE, this field is populated with the expected effective time of the upcoming offer, which is in the future. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the account that this entitlement is based on, if any."
          }
        },
        "offerEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time for the current term of the Offer associated with this entitlement. The value of this field can change naturally over time due to auto-renewal, even if the offer isn't changed. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, then: * If the entitlement isn't approved yet approved, and the offer has a specified end date, then this field is populated with the expected end time of the upcoming offer, in the future. Otherwise, this field is empty. * If the entitlement is approved, then this field is populated with the expected end time of the upcoming offer, in the future. This means that this field and the field offer_duration can both exist. * If the entitlement is in the state ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, then this field is populated with the expected end time of the current offer, in the future. This field's value is set regardless of whether the offer has a specific end date or a duration. This means that this field and the field offer_duration can both exist. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE: * If the entitlement's pricing model is usage based and the associated offer is a private offer whose term has ended, then this field reflects the ACTUAL end time of the entitlement's associated offer (in the past), even though the entitlement associated with this private offer does not terminate at the end of that private offer's term. * Otherwise, this is the expected end date of the current offer, in the future. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is populated with the end time, in the past, of the latest offer that the order was associated with. If the entitlement was cancelled before any offer started, then this field is empty."
          }
        },
        "inputProperties": {
          "target": "com.gcp.cloudcommerceprocurement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The custom properties that were collected from the user to create this entitlement."
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the plan that was procured. Required if the product has plans."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a procured product of a customer."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#EntitlementStateEnum": {
      "type": "enum",
      "members": {
        "ENTITLEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_STATE_UNSPECIFIED"
          }
        },
        "ENTITLEMENT_ACTIVATION_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_ACTIVATION_REQUESTED"
          }
        },
        "ENTITLEMENT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_ACTIVE"
          }
        },
        "ENTITLEMENT_PENDING_CANCELLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_PENDING_CANCELLATION"
          }
        },
        "ENTITLEMENT_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_CANCELLED"
          }
        },
        "ENTITLEMENT_PENDING_PLAN_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_PENDING_PLAN_CHANGE"
          }
        },
        "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL"
          }
        },
        "ENTITLEMENT_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_SUSPENDED"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ConsumerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Consumer"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveEntitlementPlanChangeRequest": {
      "type": "structure",
      "members": {
        "pendingPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the pending plan that's being approved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for [PartnerProcurementService.ApproveEntitlementPlanChange[]."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Account": {
      "type": "structure",
      "members": {
        "inputProperties": {
          "target": "com.gcp.cloudcommerceprocurement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The custom properties that were collected from the user to create this account."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp."
          }
        },
        "state": {
          "target": "com.gcp.cloudcommerceprocurement_v1#AccountStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the account. This is used to decide whether the customer is in good standing with the provider and is able to make purchases. An account might not be able to make a purchase if the billing account is suspended, for example."
          }
        },
        "approvals": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ApprovalList",
          "traits": {
            "smithy.api#documentation": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the account. Account names have the form `accounts/{account_id}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp."
          }
        },
        "resellerParentBillingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reseller parent billing account of the account's corresponding billing account, applicable only when the corresponding billing account is a subaccount of a reseller. Included in responses only for view: ACCOUNT_VIEW_FULL. Format: billingAccounts/{billing_account_id}"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the service provider that this account was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an account that was established by the customer on the service provider's system."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#AccountStateEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_STATE_UNSPECIFIED"
          }
        },
        "ACCOUNT_ACTIVATION_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACTIVATION_REQUESTED"
          }
        },
        "ACCOUNT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACTIVE"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApprovalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Approval"
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Approval": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the approval."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The last update timestamp of the approval."
          }
        },
        "state": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the approval."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An explanation for the state of the approval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An approval for some action on an account."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApprovalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Consumer": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A project name with format `projects/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource using (consuming) this entitlement."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ResetAccountRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for PartnerProcurementService.ResetAccount."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#SuspendEntitlementRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A free-form reason string, explaining the reason for suspension request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ParterProcurementService.SuspendEntitlement. This is not yet supported."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectProvidersAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#RejectAccountRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectProvidersAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#RejectProvidersAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:reject"
        },
        "smithy.api#documentation": "Rejects an approval on an Account."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#GetProvidersAccountsViewEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_VIEW_UNSPECIFIED"
          }
        },
        "ACCOUNT_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_VIEW_BASIC"
          }
        },
        "ACCOUNT_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_VIEW_FULL"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#GetProvidersAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the account to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "com.gcp.cloudcommerceprocurement_v1#GetProvidersAccountsViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. What information to include in the response.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#GetProvidersAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#GetProvidersAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Account"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a requested Account resource."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListProvidersAccountsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of entries that are requested. The default page size is 25 and the maximum page size is 200.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for fetching the next page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListProvidersAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ListProvidersAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ListAccountsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/accounts"
        },
        "smithy.api#documentation": "Lists Accounts that the provider has access to.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the account, with the format `providers/{providerId}/accounts/{accountId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ApproveAccountRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approve"
        },
        "smithy.api#documentation": "Grants an approval on an Account."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ResetProvidersAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ResetAccountRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ResetProvidersAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ResetProvidersAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:reset"
        },
        "smithy.api#documentation": "Resets an Account and cancels all associated Entitlements. Partner can only reset accounts they own rather than customer accounts."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#GetProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the entitlement to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#GetProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#GetProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Entitlement"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a requested Entitlement resource."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#PatchProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the entitlement to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask that applies to the resource. See the [FieldMask definition] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask) for more details.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#Entitlement",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#PatchProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#PatchProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Entitlement"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing Entitlement."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of entries that are requested. The default page size is 200.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `account=E-1234-5678-ABCD-EFGH`, `state=pending_cancellation`, and `plan!=foo-plan`. Supported query attributes are * `account` * `customer_billing_account` with value in the format of: `billingAccounts/{id}` * `product_external_name` * `quote_external_name` * `offer` * `new_pending_offer` * `plan` * `newPendingPlan` or `new_pending_plan` * `state` * `services` * `consumers.project` * `change_history.new_offer` Note that the consumers and change_history.new_offer match works on repeated structures, so equality (`consumers.project=projects/123456789`) is not supported. Set membership can be expressed with the `:` operator. For example, `consumers.project:projects/123456789` finds entitlements with at least one consumer with project field equal to `projects/123456789`. `change_history.new_offer` retrieves all entitlements that were once associated or are currently active with the offer. Also note that the state name match is case-insensitive and query can omit the prefix \"ENTITLEMENT_\". For example, `state=active` is equivalent to `state=ENTITLEMENT_ACTIVE`. If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `product=\"providerId:productId\"`, where the product name needs to be quoted because it contains special character colon. Queries can be combined with `AND`, `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `state=active AND (account=E-1234 OR account=5678) AND NOT (product=foo-product)`. Connective `AND` can be omitted between two predicates. For example `account=E-1234 state=active` is equivalent to `account=E-1234 AND state=active`.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for fetching the next page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ListProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ListProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ListEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/entitlements"
        },
        "smithy.api#documentation": "Lists Entitlements for which the provider has read access.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectPlanChangeProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the entitlement.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#RejectEntitlementPlanChangeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectPlanChangeProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#RejectPlanChangeProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:rejectPlanChange"
        },
        "smithy.api#documentation": "Rejects an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to reject the plan change on the entitlement resource."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the entitlement, with the format `providers/{providerId}/entitlements/{entitlementId}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ApproveEntitlementRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ApproveProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approve"
        },
        "smithy.api#documentation": "Approves an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to approve the creation of the entitlement resource."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#SuspendProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the entitlement to suspend.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#SuspendEntitlementRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#SuspendProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#SuspendProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:suspend"
        },
        "smithy.api#documentation": "Requests suspension of an active Entitlement. This is not yet supported."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the entitlement.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#RejectEntitlementRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#RejectProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#RejectProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:reject"
        },
        "smithy.api#documentation": "Rejects an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to reject the creation of the entitlement resource."
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApprovePlanChangeProvidersEntitlementsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the entitlement.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudcommerceprocurement_v1#ApproveEntitlementPlanChangeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudcommerceprocurement_v1#ApprovePlanChangeProvidersEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudcommerceprocurement_v1#ApprovePlanChangeProvidersEntitlementsRequest"
      },
      "output": {
        "target": "com.gcp.cloudcommerceprocurement_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudcommerceprocurement_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approvePlanChange"
        },
        "smithy.api#documentation": "Approves an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to approve the plan change on the entitlement resource."
      }
    }
  }
}
