{
  "smithy": "2.0",
  "metadata": {
    "service": "config",
    "version": "v1",
    "title": "Infrastructure Manager API",
    "baseUrl": "https://config.googleapis.com/"
  },
  "shapes": {
    "com.gcp.config_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.config_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.config_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Operation"
      }
    },
    "com.gcp.config_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.config_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.config_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.config_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.config_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.config_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.config_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.config_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.config_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#DocumentMap"
      }
    },
    "com.gcp.config_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.config_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.config_v1#ListDeploymentsResponse": {
      "type": "structure",
      "members": {
        "deployments": {
          "target": "com.gcp.config_v1#DeploymentList",
          "traits": {
            "smithy.api#documentation": "List of Deployments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be supplied to the next ListDeployments request via `page_token` to obtain the next set of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Deployment"
      }
    },
    "com.gcp.config_v1#Deployment": {
      "type": "structure",
      "members": {
        "terraformBlueprint": {
          "target": "com.gcp.config_v1#TerraformBlueprint",
          "traits": {
            "smithy.api#documentation": "A blueprint described using Terraform's HashiCorp Configuration Language as a root module."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the deployment was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the deployment was last modified."
          }
        },
        "labels": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined metadata for the deployment."
          }
        },
        "state": {
          "target": "com.gcp.config_v1#DeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the deployment."
          }
        },
        "latestRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision name that was most recently applied. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
          }
        },
        "stateDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information regarding the current state."
          }
        },
        "errorCode": {
          "target": "com.gcp.config_v1#DeploymentErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Error code describing errors that may have occurred."
          }
        },
        "deleteResults": {
          "target": "com.gcp.config_v1#ApplyResults",
          "traits": {
            "smithy.api#documentation": "Output only. Location of artifacts from a DeleteDeployment operation."
          }
        },
        "deleteBuild": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Build instance UUID associated with deleting this deployment."
          }
        },
        "deleteLogs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of Cloud Build logs in Google Cloud Storage, populated when deleting this deployment. Format: `gs://{bucket}/{object}`."
          }
        },
        "tfErrors": {
          "target": "com.gcp.config_v1#TerraformErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors encountered when deleting this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details."
          }
        },
        "errorLogs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`."
          }
        },
        "artifactsGcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined location of Cloud Build logs and artifacts in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty. Default bucket format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` - The field cannot be updated, including changing its presence"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-specified Service Account (SA) credentials to be used when actuating resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
          }
        },
        "importExistingResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
          }
        },
        "lockState": {
          "target": "com.gcp.config_v1#DeploymentLockStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lock state of the deployment."
          }
        },
        "tfVersionConstraint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified Terraform version constraint. Example: \"=1.3.10\"."
          }
        },
        "tfVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current Terraform version set on the deployment. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
          }
        },
        "quotaValidation": {
          "target": "com.gcp.config_v1#DeploymentQuotaValidationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies."
          }
        },
        "annotations": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployments during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
          }
        },
        "providerConfig": {
          "target": "com.gcp.config_v1#ProviderConfig",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies the provider configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Deployment is a group of resources and configs managed and provisioned by Infra Manager."
      }
    },
    "com.gcp.config_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.config_v1#DeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "REVISION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVISION_FAILED"
          }
        },
        "CLOUD_BUILD_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_PERMISSION_DENIED"
          }
        },
        "DELETE_BUILD_API_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_BUILD_API_FAILED"
          }
        },
        "DELETE_BUILD_RUN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_BUILD_RUN_FAILED"
          }
        },
        "BUCKET_CREATION_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET_CREATION_PERMISSION_DENIED"
          }
        },
        "BUCKET_CREATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET_CREATION_FAILED"
          }
        },
        "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#TerraformErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#TerraformError"
      }
    },
    "com.gcp.config_v1#DeploymentLockStateEnum": {
      "type": "enum",
      "members": {
        "LOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK_STATE_UNSPECIFIED"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        },
        "LOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKING"
          }
        },
        "UNLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKING"
          }
        },
        "LOCK_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK_FAILED"
          }
        },
        "UNLOCK_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentQuotaValidationEnum": {
      "type": "enum",
      "members": {
        "QUOTA_VALIDATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_VALIDATION_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.config_v1#TerraformBlueprint": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of an object in Google Cloud Storage. Format: `gs://{bucket}/{object}` URI may also specify an object version for zipped objects. Format: `gs://{bucket}/{object}#{version}`"
          }
        },
        "gitSource": {
          "target": "com.gcp.config_v1#GitSource",
          "traits": {
            "smithy.api#documentation": "URI of a public Git repo."
          }
        },
        "inputValues": {
          "target": "com.gcp.config_v1#TerraformVariableMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input variable values for the Terraform blueprint."
          }
        },
        "externalValues": {
          "target": "com.gcp.config_v1#ExternalValueSourceMap",
          "traits": {
            "smithy.api#documentation": "Optional. Map of input variable names in this blueprint to configurations for importing values from external sources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TerraformBlueprint describes the source of a Terraform root module which describes the resources and configs to be deployed."
      }
    },
    "com.gcp.config_v1#TerraformVariableMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.config_v1#TerraformVariable"
      }
    },
    "com.gcp.config_v1#ExternalValueSourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.config_v1#ExternalValueSource"
      }
    },
    "com.gcp.config_v1#GitSource": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository URL. Example: 'https://github.com/kubernetes/examples.git'"
          }
        },
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subdirectory inside the repository. Example: 'staging/my-package'"
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git reference (e.g. branch or tag)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of files in a Git repository."
      }
    },
    "com.gcp.config_v1#TerraformVariable": {
      "type": "structure",
      "members": {
        "inputValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. Input variable value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Terraform input variable."
      }
    },
    "com.gcp.config_v1#ExternalValueSource": {
      "type": "structure",
      "members": {
        "deploymentSource": {
          "target": "com.gcp.config_v1#DeploymentSource",
          "traits": {
            "smithy.api#documentation": "A source from a Deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a source of an external value."
      }
    },
    "com.gcp.config_v1#DeploymentSource": {
      "type": "structure",
      "members": {
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the source Deployment to import the output from. Format: projects/{project}/locations/{location}/deployments/{deployment} The source deployment must be in the same project and location."
          }
        },
        "outputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the output variable in the source deployment's latest successfully applied revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a value sourced from a Deployment."
      }
    },
    "com.gcp.config_v1#ApplyResults": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of a blueprint copy and other manifests in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
          }
        },
        "artifacts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of artifacts (e.g. logs) in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
          }
        },
        "outputs": {
          "target": "com.gcp.config_v1#TerraformOutputMap",
          "traits": {
            "smithy.api#documentation": "Map of output name to output info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Outputs and artifacts from applying a deployment."
      }
    },
    "com.gcp.config_v1#TerraformOutputMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.config_v1#TerraformOutput"
      }
    },
    "com.gcp.config_v1#TerraformOutput": {
      "type": "structure",
      "members": {
        "sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether Terraform has set this output as a potential sensitive value."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value of output."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Terraform output."
      }
    },
    "com.gcp.config_v1#TerraformError": {
      "type": "structure",
      "members": {
        "resourceAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of the resource associated with the error, e.g. `google_compute_network.vpc_network`."
          }
        },
        "httpResponseCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP response code returned from Google Cloud Platform APIs when Terraform fails to provision the resource. If unset or 0, no HTTP response code was returned by Terraform."
          }
        },
        "errorDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable error description."
          }
        },
        "error": {
          "target": "com.gcp.config_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Original error response from underlying Google API, if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors encountered during actuation using Terraform"
      }
    },
    "com.gcp.config_v1#ProviderConfig": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.gcp.config_v1#ProviderConfigSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. ProviderSource specifies the source type of the provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProviderConfig contains the provider configurations."
      }
    },
    "com.gcp.config_v1#ProviderConfigSourceTypeEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_SOURCE_UNSPECIFIED"
          }
        },
        "SERVICE_MAINTAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_MAINTAINED"
          }
        }
      }
    },
    "com.gcp.config_v1#ListRevisionsResponse": {
      "type": "structure",
      "members": {
        "revisions": {
          "target": "com.gcp.config_v1#RevisionList",
          "traits": {
            "smithy.api#documentation": "List of Revisions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the 'ListRevisions' method. The value of an empty string means that there are no more resources to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a 'ListRevisions' call. Contains a list of Revisions."
      }
    },
    "com.gcp.config_v1#RevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Revision"
      }
    },
    "com.gcp.config_v1#Revision": {
      "type": "structure",
      "members": {
        "terraformBlueprint": {
          "target": "com.gcp.config_v1#TerraformBlueprint",
          "traits": {
            "smithy.api#documentation": "Output only. A blueprint described using Terraform's HashiCorp Configuration Language as a root module."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the revision was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the revision was last modified."
          }
        },
        "action": {
          "target": "com.gcp.config_v1#RevisionActionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The action which created this revision"
          }
        },
        "state": {
          "target": "com.gcp.config_v1#RevisionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the revision."
          }
        },
        "applyResults": {
          "target": "com.gcp.config_v1#ApplyResults",
          "traits": {
            "smithy.api#documentation": "Output only. Outputs and artifacts from applying a deployment."
          }
        },
        "stateDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional info regarding the current state."
          }
        },
        "errorCode": {
          "target": "com.gcp.config_v1#RevisionErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Code describing any errors that may have occurred."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Build instance UUID associated with this revision."
          }
        },
        "logs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of Revision operation logs in `gs://{bucket}/{object}` format."
          }
        },
        "tfErrors": {
          "target": "com.gcp.config_v1#TerraformErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors encountered when creating or updating this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details."
          }
        },
        "errorLogs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User-specified Service Account (SA) to be used as credential to manage resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
          }
        },
        "importExistingResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
          }
        },
        "tfVersionConstraint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user-specified Terraform version constraint. Example: \"=1.3.10\"."
          }
        },
        "tfVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of Terraform used to create the Revision. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
          }
        },
        "quotaValidationResults": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Storage path containing quota validation results. This field is set when a user sets Deployment.quota_validation field to ENABLED or ENFORCED. Format: `gs://{bucket}/{object}`."
          }
        },
        "quotaValidation": {
          "target": "com.gcp.config_v1#RevisionQuotaValidationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies."
          }
        },
        "providerConfig": {
          "target": "com.gcp.config_v1#ProviderConfig",
          "traits": {
            "smithy.api#documentation": "Output only. This field specifies the provider configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A child resource of a Deployment generated by a 'CreateDeployment' or 'UpdateDeployment' call. Each Revision contains metadata pertaining to a snapshot of a particular Deployment."
      }
    },
    "com.gcp.config_v1#RevisionActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.config_v1#RevisionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "APPLYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLYING"
          }
        },
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#RevisionErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_PERMISSION_DENIED"
          }
        },
        "APPLY_BUILD_API_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_BUILD_API_FAILED"
          }
        },
        "APPLY_BUILD_RUN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_BUILD_RUN_FAILED"
          }
        },
        "QUOTA_VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_VALIDATION_FAILED"
          }
        },
        "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#RevisionQuotaValidationEnum": {
      "type": "enum",
      "members": {
        "QUOTA_VALIDATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_VALIDATION_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.config_v1#Resource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/revisions/{revision}/resources/{resource}`"
          }
        },
        "terraformInfo": {
          "target": "com.gcp.config_v1#ResourceTerraformInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Terraform-specific info if this resource was created using Terraform."
          }
        },
        "caiAssets": {
          "target": "com.gcp.config_v1#ResourceCAIInfoMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map of Cloud Asset Inventory (CAI) type to CAI info (e.g. CAI ID). CAI type format follows https://cloud.google.com/asset-inventory/docs/supported-asset-types"
          }
        },
        "intent": {
          "target": "com.gcp.config_v1#ResourceIntentEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Intent of the resource."
          }
        },
        "state": {
          "target": "com.gcp.config_v1#ResourceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource represents a Google Cloud Platform resource actuated by IM. Resources are child resources of Revisions."
      }
    },
    "com.gcp.config_v1#ResourceCAIInfoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.config_v1#ResourceCAIInfo"
      }
    },
    "com.gcp.config_v1#ResourceIntentEnum": {
      "type": "enum",
      "members": {
        "INTENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RECREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECREATE"
          }
        },
        "UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCHANGED"
          }
        }
      }
    },
    "com.gcp.config_v1#ResourceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PLANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "RECONCILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#ResourceTerraformInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TF resource address that uniquely identifies this resource within this deployment."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TF resource type"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID attribute of the TF resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Terraform info of a Resource."
      }
    },
    "com.gcp.config_v1#ResourceCAIInfo": {
      "type": "structure",
      "members": {
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CAI resource name in the format following https://cloud.google.com/apis/design/resource_names#full_resource_name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CAI info of a Resource."
      }
    },
    "com.gcp.config_v1#ListResourcesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.config_v1#ResourceList",
          "traits": {
            "smithy.api#documentation": "List of Resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the 'ListResources' method. The value of an empty string means that there are no more resources to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a 'ListResources' call. Contains a list of Resources."
      }
    },
    "com.gcp.config_v1#ResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Resource"
      }
    },
    "com.gcp.config_v1#ExportDeploymentStatefileRequest": {
      "type": "structure",
      "members": {
        "draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If this flag is set to true, the exported deployment state file will be the draft state. This will enable the draft file to be validated before copying it over to the working state on unlock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to export a state file passed to a 'ExportDeploymentStatefile' call."
      }
    },
    "com.gcp.config_v1#Statefile": {
      "type": "structure",
      "members": {
        "signedUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Storage signed URI used for downloading or uploading the state file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains info about a Terraform state file"
      }
    },
    "com.gcp.config_v1#ExportRevisionStatefileRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to export a state file passed to a 'ExportRevisionStatefile' call."
      }
    },
    "com.gcp.config_v1#ImportStatefileRequest": {
      "type": "structure",
      "members": {
        "lockId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Lock ID of the lock file to verify that the user who is importing the state file previously locked the Deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to import a state file passed to a 'ImportStatefile' call."
      }
    },
    "com.gcp.config_v1#DeleteStatefileRequest": {
      "type": "structure",
      "members": {
        "lockId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Lock ID of the lock file to verify that the user who is deleting the state file previously locked the Deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to delete a state file passed to a 'DeleteStatefile' call."
      }
    },
    "com.gcp.config_v1#LockDeploymentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to lock a deployment passed to a 'LockDeployment' call."
      }
    },
    "com.gcp.config_v1#UnlockDeploymentRequest": {
      "type": "structure",
      "members": {
        "lockId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Lock ID of the lock file to be unlocked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to unlock a state file passed to a 'UnlockDeployment' call."
      }
    },
    "com.gcp.config_v1#LockInfo": {
      "type": "structure",
      "members": {
        "lockId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the lock to be overridden with generation ID in the backend."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Terraform operation, provided by the caller."
          }
        },
        "info": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extra information to store with the lock, provided by the caller."
          }
        },
        "who": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "user@hostname when available"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Terraform version"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that the lock was taken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the lock which locked the deployment."
      }
    },
    "com.gcp.config_v1#Preview": {
      "type": "structure",
      "members": {
        "terraformBlueprint": {
          "target": "com.gcp.config_v1#TerraformBlueprint",
          "traits": {
            "smithy.api#documentation": "The terraform blueprint to preview."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the preview. Resource name can be user provided or server generated ID if unspecified. Format: `projects/{project}/locations/{location}/previews/{preview}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the preview was created."
          }
        },
        "labels": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the preview."
          }
        },
        "state": {
          "target": "com.gcp.config_v1#PreviewStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the preview."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional deployment reference. If specified, the preview will be performed using the provided deployment's current state and use any relevant fields from the deployment unless explicitly specified in the preview create request."
          }
        },
        "previewMode": {
          "target": "com.gcp.config_v1#PreviewPreviewModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Current mode of preview."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-specified Service Account (SA) credentials to be used when previewing resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
          }
        },
        "artifactsGcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined location of Cloud Build logs, artifacts, and in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty Default Bucket Format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` If omitted and deployment resource ref provided has artifacts_gcs_bucket defined, that artifact bucket is used."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified Worker Pool resource in which the Cloud Build job will execute. Format projects/{project}/locations/{location}/workerPools/{workerPoolId} If this field is unspecified, the default Cloud Build worker pool will be used. If omitted and deployment resource ref provided has worker_pool defined, that worker pool is used."
          }
        },
        "errorCode": {
          "target": "com.gcp.config_v1#PreviewErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Code describing any errors that may have occurred."
          }
        },
        "errorStatus": {
          "target": "com.gcp.config_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information regarding the current state."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Build instance UUID associated with this preview."
          }
        },
        "tfErrors": {
          "target": "com.gcp.config_v1#TerraformErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Summary of errors encountered during Terraform preview. It has a size limit of 10, i.e. only top 10 errors will be summarized here."
          }
        },
        "errorLogs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to tf-error.ndjson file, which contains the full list of the errors encountered during a Terraform preview. Format: `gs://{bucket}/{object}`."
          }
        },
        "previewArtifacts": {
          "target": "com.gcp.config_v1#PreviewArtifacts",
          "traits": {
            "smithy.api#documentation": "Output only. Artifacts from preview."
          }
        },
        "logs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of preview logs in `gs://{bucket}/{object}` format."
          }
        },
        "tfVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current Terraform version set on the preview. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
          }
        },
        "tfVersionConstraint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified Terraform version constraint. Example: \"=1.3.10\"."
          }
        },
        "annotations": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify preview during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
          }
        },
        "providerConfig": {
          "target": "com.gcp.config_v1#ProviderConfig",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies the provider configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview represents a set of actions Infra Manager would perform to move the resources towards the desired state as specified in the configuration."
      }
    },
    "com.gcp.config_v1#PreviewStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "APPLYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLYING"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.config_v1#PreviewPreviewModeEnum": {
      "type": "enum",
      "members": {
        "PREVIEW_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW_MODE_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.config_v1#PreviewErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD_PERMISSION_DENIED"
          }
        },
        "BUCKET_CREATION_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET_CREATION_PERMISSION_DENIED"
          }
        },
        "BUCKET_CREATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET_CREATION_FAILED"
          }
        },
        "DEPLOYMENT_LOCK_ACQUIRE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_LOCK_ACQUIRE_FAILED"
          }
        },
        "PREVIEW_BUILD_API_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW_BUILD_API_FAILED"
          }
        },
        "PREVIEW_BUILD_RUN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW_BUILD_RUN_FAILED"
          }
        },
        "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          }
        }
      }
    },
    "com.gcp.config_v1#PreviewArtifacts": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of a blueprint copy and other content in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
          }
        },
        "artifacts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of artifacts in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts created by preview."
      }
    },
    "com.gcp.config_v1#ListPreviewsResponse": {
      "type": "structure",
      "members": {
        "previews": {
          "target": "com.gcp.config_v1#PreviewList",
          "traits": {
            "smithy.api#documentation": "List of Previews."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be supplied to the next ListPreviews request via `page_token` to obtain the next set of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a `ListPreviews` call. Contains a list of Previews."
      }
    },
    "com.gcp.config_v1#PreviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Preview"
      }
    },
    "com.gcp.config_v1#ExportPreviewResultRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to export preview results."
      }
    },
    "com.gcp.config_v1#ExportPreviewResultResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.config_v1#PreviewResult",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URLs for accessing the plan files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ExportPreviewResult` call. Contains preview results."
      }
    },
    "com.gcp.config_v1#PreviewResult": {
      "type": "structure",
      "members": {
        "binarySignedUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Plan binary signed URL"
          }
        },
        "jsonSignedUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Plan JSON signed URL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a signed Cloud Storage URLs."
      }
    },
    "com.gcp.config_v1#ListTerraformVersionsResponse": {
      "type": "structure",
      "members": {
        "terraformVersions": {
          "target": "com.gcp.config_v1#TerraformVersionList",
          "traits": {
            "smithy.api#documentation": "List of TerraformVersions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be supplied to the next ListTerraformVersions request via `page_token` to obtain the next set of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListTerraformVersions` method."
      }
    },
    "com.gcp.config_v1#TerraformVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#TerraformVersion"
      }
    },
    "com.gcp.config_v1#TerraformVersion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The version name is in the format: 'projects/{project_id}/locations/{location}/terraformVersions/{terraform_version}'."
          }
        },
        "state": {
          "target": "com.gcp.config_v1#TerraformVersionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the version, ACTIVE, DEPRECATED or OBSOLETE."
          }
        },
        "supportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the version is supported."
          }
        },
        "deprecateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the version is deprecated."
          }
        },
        "obsoleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the version is obsolete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TerraformVersion represents the support state the corresponding Terraform version."
      }
    },
    "com.gcp.config_v1#TerraformVersionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        }
      }
    },
    "com.gcp.config_v1#ListResourceChangesResponse": {
      "type": "structure",
      "members": {
        "resourceChanges": {
          "target": "com.gcp.config_v1#ResourceChangeList",
          "traits": {
            "smithy.api#documentation": "List of ResourceChanges."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the 'ListResourceChanges' method. The value of an empty string means that there are no more resources to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a 'ListResourceChanges' call. Contains a list of ResourceChanges."
      }
    },
    "com.gcp.config_v1#ResourceChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#ResourceChange"
      }
    },
    "com.gcp.config_v1#ResourceChange": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the resource change. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceChanges/{resource_change}'."
          }
        },
        "terraformInfo": {
          "target": "com.gcp.config_v1#ResourceChangeTerraformInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Terraform info of the resource change."
          }
        },
        "intent": {
          "target": "com.gcp.config_v1#ResourceChangeIntentEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The intent of the resource change."
          }
        },
        "propertyChanges": {
          "target": "com.gcp.config_v1#PropertyChangeList",
          "traits": {
            "smithy.api#documentation": "Output only. The property changes of the resource change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource change represents a change to a resource in the state file."
      }
    },
    "com.gcp.config_v1#ResourceChangeIntentEnum": {
      "type": "enum",
      "members": {
        "INTENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RECREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECREATE"
          }
        },
        "UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCHANGED"
          }
        }
      }
    },
    "com.gcp.config_v1#PropertyChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#PropertyChange"
      }
    },
    "com.gcp.config_v1#ResourceChangeTerraformInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource address that uniquely identifies the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource type."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource name."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource provider."
          }
        },
        "actions": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Terraform info of a ResourceChange."
      }
    },
    "com.gcp.config_v1#PropertyChange": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path of the property change."
          }
        },
        "beforeSensitivePaths": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`."
          }
        },
        "before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output only. Representations of the object value before the actions."
          }
        },
        "afterSensitivePaths": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`."
          }
        },
        "after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output only. Representations of the object value after the actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A property change represents a change to a property in the state file."
      }
    },
    "com.gcp.config_v1#ListResourceDriftsResponse": {
      "type": "structure",
      "members": {
        "resourceDrifts": {
          "target": "com.gcp.config_v1#ResourceDriftList",
          "traits": {
            "smithy.api#documentation": "List of ResourceDrifts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the 'ListResourceDrifts' method. The value of an empty string means that there are no more resources to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a 'ListResourceDrifts' call. Contains a list of ResourceDrifts."
      }
    },
    "com.gcp.config_v1#ResourceDriftList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#ResourceDrift"
      }
    },
    "com.gcp.config_v1#ResourceDrift": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the resource drift. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceDrifts/{resource_drift}'."
          }
        },
        "terraformInfo": {
          "target": "com.gcp.config_v1#ResourceDriftTerraformInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Terraform info of the resource drift."
          }
        },
        "propertyDrifts": {
          "target": "com.gcp.config_v1#PropertyDriftList",
          "traits": {
            "smithy.api#documentation": "Output only. The property drifts of the resource drift."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource drift represents a drift to a resource in the state file."
      }
    },
    "com.gcp.config_v1#PropertyDriftList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#PropertyDrift"
      }
    },
    "com.gcp.config_v1#ResourceDriftTerraformInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The address of the drifted resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the drifted resource."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TF resource name."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The provider of the drifted resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Terraform info of a ResourceChange."
      }
    },
    "com.gcp.config_v1#PropertyDrift": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path of the property drift."
          }
        },
        "beforeSensitivePaths": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`."
          }
        },
        "before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output only. Representations of the object value before the actions."
          }
        },
        "afterSensitivePaths": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`."
          }
        },
        "after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output only. Representations of the object value after the actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A property drift represents a drift to a property in the state file."
      }
    },
    "com.gcp.config_v1#AutoMigrationConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the AutoMigrationConfig. Format: 'projects/{project_id}/locations/{location}/AutoMigrationConfig'."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the AutoMigrationConfig was last updated."
          }
        },
        "autoMigrationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the auto migration is enabled for the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutoMigrationConfig contains the automigration configuration for a project."
      }
    },
    "com.gcp.config_v1#DeploymentGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the deployment group. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}'."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the deployment group was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the deployment group was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined metadata for the deployment group."
          }
        },
        "annotations": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployment group during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
          }
        },
        "state": {
          "target": "com.gcp.config_v1#DeploymentGroupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the deployment group."
          }
        },
        "stateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information regarding the current state."
          }
        },
        "deploymentUnits": {
          "target": "com.gcp.config_v1#DeploymentUnitList",
          "traits": {
            "smithy.api#documentation": "The deployment units of the deployment group in a DAG like structure. When a deployment group is being provisioned, the deployment units are deployed in a DAG order. The provided units must be in a DAG order, otherwise an error will be returned."
          }
        },
        "provisioningState": {
          "target": "com.gcp.config_v1#DeploymentGroupProvisioningStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The provisioning state of the deployment group."
          }
        },
        "provisioningStateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information regarding the current provisioning state."
          }
        },
        "provisioningError": {
          "target": "com.gcp.config_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The error status of the deployment group provisioning or deprovisioning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DeploymentGroup is a collection of DeploymentUnits that in a DAG-like structure."
      }
    },
    "com.gcp.config_v1#DeploymentGroupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentUnitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#DeploymentUnit"
      }
    },
    "com.gcp.config_v1#DeploymentGroupProvisioningStateEnum": {
      "type": "enum",
      "members": {
        "PROVISIONING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING_STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "FAILED_TO_PROVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_PROVISION"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONING"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONED"
          }
        },
        "FAILED_TO_DEPROVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_DEPROVISION"
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the deployment unit. Must be unique within the deployment group."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the deployment to be provisioned. Format: 'projects/{project_id}/locations/{location}/deployments/{deployment}'."
          }
        },
        "dependencies": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The IDs of the deployment units within the deployment group that this unit depends on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DeploymentUnit is a container for a deployment and its dependencies. An existing deployment can be provided directly in the unit, or the unit can act as a placeholder to define the DAG, with the deployment specs supplied in a `provisionDeploymentRequest`."
      }
    },
    "com.gcp.config_v1#ListDeploymentGroupsResponse": {
      "type": "structure",
      "members": {
        "deploymentGroups": {
          "target": "com.gcp.config_v1#DeploymentGroupList",
          "traits": {
            "smithy.api#documentation": "The deployment groups from the specified collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be supplied to the next ListDeploymentGroups request via `page_token` to obtain the next set of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListDeploymentGroups method."
      }
    },
    "com.gcp.config_v1#DeploymentGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#DeploymentGroup"
      }
    },
    "com.gcp.config_v1#ProvisionDeploymentGroupRequest": {
      "type": "structure",
      "members": {
        "deploymentSpecs": {
          "target": "com.gcp.config_v1#DeploymentSpecMap",
          "traits": {
            "smithy.api#documentation": "Optional. The deployment specs of the deployment units to be created within the same project and location of the deployment group. The key is the unit ID, and the value is the `DeploymentSpec`. Provisioning will fail if a `deployment_spec` has a `deployment_id` that matches an existing deployment in the same project and location. If an existing deployment was part of the last successful revision but is no longer in the current DeploymentGroup's `deployment_units`, it will be recreated if included in `deployment_specs`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the ProvisionDeploymentGroup method."
      }
    },
    "com.gcp.config_v1#DeploymentSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.config_v1#DeploymentSpec"
      }
    },
    "com.gcp.config_v1#DeploymentSpec": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the deployment to be created which doesn't include the project id and location."
          }
        },
        "deployment": {
          "target": "com.gcp.config_v1#Deployment",
          "traits": {
            "smithy.api#documentation": "Required. The deployment to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec for a deployment to be created."
      }
    },
    "com.gcp.config_v1#DeprovisionDeploymentGroupRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, this option is propagated to the deletion of each deployment in the group. This corresponds to the 'force' field in DeleteDeploymentRequest."
          }
        },
        "deletePolicy": {
          "target": "com.gcp.config_v1#DeprovisionDeploymentGroupRequestDeletePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Policy on how resources within each deployment should be handled during deletion. This policy is applied globally to the deletion of all deployments in this group. This corresponds to the 'delete_policy' field in DeleteDeploymentRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the DeprovisionDeploymentGroup method."
      }
    },
    "com.gcp.config_v1#DeprovisionDeploymentGroupRequestDeletePolicyEnum": {
      "type": "enum",
      "members": {
        "DELETE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_POLICY_UNSPECIFIED"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "ABANDON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABANDON"
          }
        }
      }
    },
    "com.gcp.config_v1#DeploymentGroupRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the deployment group revision. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}/revisions/{revision}'."
          }
        },
        "snapshot": {
          "target": "com.gcp.config_v1#DeploymentGroup",
          "traits": {
            "smithy.api#documentation": "Output only. The snapshot of the deployment group at this revision."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the deployment group revision was created."
          }
        },
        "alternativeIds": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The alternative IDs of the deployment group revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DeploymentGroupRevision represents a snapshot of a DeploymentGroup at a given point in time, created when a DeploymentGroup is provisioned or deprovisioned."
      }
    },
    "com.gcp.config_v1#ListDeploymentGroupRevisionsResponse": {
      "type": "structure",
      "members": {
        "deploymentGroupRevisions": {
          "target": "com.gcp.config_v1#DeploymentGroupRevisionList",
          "traits": {
            "smithy.api#documentation": "The deployment group revisions from the specified collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be supplied to the next ListDeploymentGroupRevisions request via `page_token` to obtain the next set of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.config_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListDeploymentGroupRevisions method."
      }
    },
    "com.gcp.config_v1#DeploymentGroupRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#DeploymentGroupRevision"
      }
    },
    "com.gcp.config_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.config_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.config_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Location"
      }
    },
    "com.gcp.config_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.config_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.config_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.config_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.config_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.config_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.config_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.config_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.config_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#Binding"
      }
    },
    "com.gcp.config_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.config_v1#AuditConfig"
      }
    },
    "com.gcp.config_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
[...]
