{
  "smithy": "2.0",
  "metadata": {
    "service": "connectors",
    "version": "v2",
    "title": "Connectors API",
    "baseUrl": "https://connectors.googleapis.com/"
  },
  "shapes": {
    "com.gcp.connectors_v2#GenerateCustomToolspecRequest": {
      "type": "structure",
      "members": {
        "toolNames": {
          "target": "com.gcp.connectors_v2#ToolNameList",
          "traits": {
            "smithy.api#documentation": "list of tools to be generated."
          }
        }
      }
    },
    "com.gcp.connectors_v2#ToolNameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#ToolName"
      }
    },
    "com.gcp.connectors_v2#RefreshAccessTokenRequest": {
      "type": "structure",
      "members": {
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager."
          }
        },
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "ExecutionConfig contains the configuration for the execution of the request."
          }
        },
        "oauth2Config": {
          "target": "com.gcp.connectors_v2#OAuth2Config",
          "traits": {
            "smithy.api#documentation": "OAuth2Config contains the OAuth2 config for the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RefreshAccessTokenRequest includes the refresh token."
      }
    },
    "com.gcp.connectors_v2#ExecuteSqlQueryResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.connectors_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response returned by the connection after executing the sql query."
      }
    },
    "com.gcp.connectors_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.connectors_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#DocumentMap"
      }
    },
    "com.gcp.connectors_v2#DailyCycle": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        },
        "startTime": {
          "target": "com.gcp.connectors_v2#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the day to start the operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily operations."
      }
    },
    "com.gcp.connectors_v2#ExecuteActionRequest": {
      "type": "structure",
      "members": {
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "Execution config for the request."
          }
        },
        "parameters": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Parameters for executing the action. The parameters can be key/value pairs or nested structs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ActionService.ExecuteAction"
      }
    },
    "com.gcp.connectors_v2#ResultMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metadata field."
          }
        },
        "defaultValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
          }
        },
        "jsonSchema": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the metadata field."
          }
        },
        "dataType": {
          "target": "com.gcp.connectors_v2#ResultMetadataDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "The data type of the metadata field"
          }
        },
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether a null value is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result Metadata message contains metadata about the result returned after executing an Action."
      }
    },
    "com.gcp.connectors_v2#ResultMetadataDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "SMALLINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLINT"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT"
          }
        },
        "TINYINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TINYINT"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        },
        "CHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAR"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "LONGVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARCHAR"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "NCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCHAR"
          }
        },
        "NVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVARCHAR"
          }
        },
        "LONGNVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGNVARCHAR"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "JAVA_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA_OBJECT"
          }
        },
        "DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "CLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOB"
          }
        },
        "REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF"
          }
        },
        "DATALINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATALINK"
          }
        },
        "ROWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWID"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "VARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARBINARY"
          }
        },
        "LONGVARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARBINARY"
          }
        },
        "NCLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCLOB"
          }
        },
        "SQLXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLXML"
          }
        },
        "REF_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_CURSOR"
          }
        },
        "TIME_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_WITH_TIMEZONE"
          }
        },
        "TIMESTAMP_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP_WITH_TIMEZONE"
          }
        }
      }
    },
    "com.gcp.connectors_v2#ExecuteHttpRequestResponse": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The HTTP status code received from the backend."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP status reason phrase received from the backend (e.g., \"Not Found\"). May be empty if the backend did not provide one."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw response body."
          }
        },
        "headers": {
          "target": "com.gcp.connectors_v2#HttpHeaderList",
          "traits": {
            "smithy.api#documentation": "HTTP headers received in the response. Order is preserved and duplicate keys are allowed (e.g., multiple Set-Cookie headers)."
          }
        }
      }
    },
    "com.gcp.connectors_v2#HttpHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#HttpHeader"
      }
    },
    "com.gcp.connectors_v2#RefreshAccessTokenResponse": {
      "type": "structure",
      "members": {
        "accessCredentials": {
          "target": "com.gcp.connectors_v2#AccessCredentials"
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RefreshAccessTokenResponse includes the returned access token and its associated credentials."
      }
    },
    "com.gcp.connectors_v2#DocumentMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v2#DocumentMap"
      }
    },
    "com.gcp.connectors_v2#ExecuteHttpRequestRequest": {
      "type": "structure",
      "members": {
        "httpMethod": {
          "target": "com.gcp.connectors_v2#ExecuteHttpRequestRequestHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. The HTTP method to use for the request."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully resolved absolute target URL. Callers must pre-encode any query parameters."
          }
        },
        "rawBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw byte payload. Used for all pre-serialized formats including JSON, XML, GraphQL, and Multipart."
          }
        },
        "headers": {
          "target": "com.gcp.connectors_v2#HttpHeaderList",
          "traits": {
            "smithy.api#documentation": "HTTP headers to send with the request (e.g., Content-Type: application/json). Order is preserved and duplicate keys are allowed."
          }
        }
      }
    },
    "com.gcp.connectors_v2#ExecuteHttpRequestRequestHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "HTTP_METHOD_GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_GET"
          }
        },
        "HTTP_METHOD_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_POST"
          }
        },
        "HTTP_METHOD_PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_PUT"
          }
        },
        "HTTP_METHOD_PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_PATCH"
          }
        },
        "HTTP_METHOD_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_DELETE"
          }
        },
        "HTTP_METHOD_HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_HEAD"
          }
        },
        "HTTP_METHOD_OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_OPTIONS"
          }
        }
      }
    },
    "com.gcp.connectors_v2#TimeOfDay": {
      "type": "structure",
      "members": {
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.connectors_v2#CheckStatusResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        },
        "state": {
          "target": "com.gcp.connectors_v2#CheckStatusResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the connector."
      }
    },
    "com.gcp.connectors_v2#CheckStatusResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "AUTH_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_ERROR"
          }
        }
      }
    },
    "com.gcp.connectors_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.connectors_v2#AuthCodeData": {
      "type": "structure",
      "members": {
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth redirect URI passed in during the auth code flow, required by some OAuth backends."
          }
        },
        "pkceVerifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth PKCE verifier, needed if PKCE is enabled for this particular connection."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth authorization code."
          }
        },
        "scopes": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Scopes the connection will request when the user performs the auth code flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthCodeData contains the data the runtime plane will give the connector backend in exchange for access and refresh tokens."
      }
    },
    "com.gcp.connectors_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.connectors_v2#ExchangeAuthCodeRequest": {
      "type": "structure",
      "members": {
        "authCodeData": {
          "target": "com.gcp.connectors_v2#AuthCodeData",
          "traits": {
            "smithy.api#documentation": "Optional. AuthCodeData contains the data the runtime requires to exchange for access and refresh tokens. If the data is not provided, the runtime will read the data from the secret manager."
          }
        },
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "ExecutionConfig contains the configuration for the execution of the request."
          }
        },
        "oauth2Config": {
          "target": "com.gcp.connectors_v2#OAuth2Config",
          "traits": {
            "smithy.api#documentation": "OAuth2Config contains the OAuth2 config for the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExchangeAuthCodeRequest currently includes the auth code data."
      }
    },
    "com.gcp.connectors_v2#ExecuteToolRequest": {
      "type": "structure",
      "members": {
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "execution config for the request."
          }
        },
        "toolDefinition": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Tool definition for the tool to be executed."
          }
        },
        "parameters": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Input parameters for the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ConnectorAgentService.ExecuteTool"
      }
    },
    "com.gcp.connectors_v2#GetResourcePostRequest": {
      "type": "structure",
      "members": {
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "execution config for the request."
          }
        },
        "toolSpec": {
          "target": "com.gcp.connectors_v2#ToolSpec",
          "traits": {
            "smithy.api#documentation": "List of tool specifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ConnectorAgentService.GetResourcePost"
      }
    },
    "com.gcp.connectors_v2#ExecuteSqlQueryRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "com.gcp.connectors_v2#Query",
          "traits": {
            "smithy.api#documentation": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An execute sql query request containing the query and the connection to execute it on."
      }
    },
    "com.gcp.connectors_v2#Entity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
          }
        },
        "fields": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "'Entity row'/ 'Entity' refers to a single row of an entity type."
      }
    },
    "com.gcp.connectors_v2#GetResourceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the resource."
          }
        },
        "_meta": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata for the resource."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the resource."
          }
        }
      }
    },
    "com.gcp.connectors_v2#Query": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Sql query to execute."
          }
        },
        "maxRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the limit for the maximum number of rows returned after the query execution."
          }
        },
        "queryParameters": {
          "target": "com.gcp.connectors_v2#QueryParameterList",
          "traits": {
            "smithy.api#documentation": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the number of seconds the driver will wait for a query to execute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`."
      }
    },
    "com.gcp.connectors_v2#QueryParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#QueryParameter"
      }
    },
    "com.gcp.connectors_v2#SloMetadata": {
      "type": "structure",
      "members": {
        "nodes": {
          "target": "com.gcp.connectors_v2#NodeSloMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.connectors_v2#PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloMetadata contains resources required for proper SLO classification of the instance."
      }
    },
    "com.gcp.connectors_v2#NodeSloMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#NodeSloMetadata"
      }
    },
    "com.gcp.connectors_v2#ToolAnnotations": {
      "type": "structure",
      "members": {
        "readOnlyHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the tool does not modify its environment."
          }
        },
        "destructiveHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. (This property is meaningful only when `read_only_hint == false`)"
          }
        },
        "idempotentHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, calling the tool repeatedly with the same arguments will have no additional effect on the environment. (This property is meaningful only when `read_only_hint == false`)"
          }
        },
        "openWorldHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable title for the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ToolAnnotations holds annotations for a tool."
      }
    },
    "com.gcp.connectors_v2#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "dailyCycle": {
          "target": "com.gcp.connectors_v2#DailyCycle",
          "traits": {
            "smithy.api#documentation": "Daily cycle."
          }
        },
        "weeklyCycle": {
          "target": "com.gcp.connectors_v2#WeeklyCycle",
          "traits": {
            "smithy.api#documentation": "Weekly cycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceWindow definition."
      }
    },
    "com.gcp.connectors_v2#AccessCredentials": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth access token."
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration till the access token expires."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth refresh token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AccessCredentials includes the OAuth access token, and the other fields returned along with it."
      }
    },
    "com.gcp.connectors_v2#ListToolsPostRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token."
          }
        },
        "executionConfig": {
          "target": "com.gcp.connectors_v2#ExecutionConfig",
          "traits": {
            "smithy.api#documentation": "execution config for the request."
          }
        },
        "toolNames": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of tool names to for selective tool fetching."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page size."
          }
        },
        "toolSpec": {
          "target": "com.gcp.connectors_v2#ToolSpec",
          "traits": {
            "smithy.api#documentation": "List of tool specifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ConnectorAgentService.ListToolsPost"
      }
    },
    "com.gcp.connectors_v2#QueryParameter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document"
        },
        "dataType": {
          "target": "com.gcp.connectors_v2#QueryParameterDataTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Query parameter definition"
      }
    },
    "com.gcp.connectors_v2#QueryParameterDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "SMALLINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLINT"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT"
          }
        },
        "TINYINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TINYINT"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        },
        "CHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAR"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "LONGVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARCHAR"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "NCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCHAR"
          }
        },
        "NVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVARCHAR"
          }
        },
        "LONGNVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGNVARCHAR"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "JAVA_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA_OBJECT"
          }
        },
        "DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "CLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOB"
          }
        },
        "REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF"
          }
        },
        "DATALINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATALINK"
          }
        },
        "ROWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWID"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "VARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARBINARY"
          }
        },
        "LONGVARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARBINARY"
          }
        },
        "NCLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCLOB"
          }
        },
        "SQLXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLXML"
          }
        },
        "REF_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_CURSOR"
          }
        },
        "TIME_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_WITH_TIMEZONE"
          }
        },
        "TIMESTAMP_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP_WITH_TIMEZONE"
          }
        }
      }
    },
    "com.gcp.connectors_v2#Instance": {
      "type": "structure",
      "members": {
        "softwareVersions": {
          "target": "com.gcp.connectors_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
          }
        },
        "state": {
          "target": "com.gcp.connectors_v2#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
          }
        },
        "provisionedResources": {
          "target": "com.gcp.connectors_v2#ProvisionedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "sloMetadata": {
          "target": "com.gcp.connectors_v2#SloMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
          }
        },
        "consumerDefinedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
          }
        },
        "slmInstanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
          }
        },
        "maintenancePolicyNames": {
          "target": "com.gcp.connectors_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
          }
        },
        "producerMetadata": {
          "target": "com.gcp.connectors_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
          }
        },
        "maintenanceSchedules": {
          "target": "com.gcp.connectors_v2#MaintenanceScheduleMap",
          "traits": {
            "smithy.api#documentation": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
          }
        },
        "notificationParameters": {
          "target": "com.gcp.connectors_v2#NotificationParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
          }
        },
        "maintenanceSettings": {
          "target": "com.gcp.connectors_v2#MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenanceSettings associated with instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
      }
    },
    "com.gcp.connectors_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.connectors_v2#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.connectors_v2#ProvisionedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#ProvisionedResource"
      }
    },
    "com.gcp.connectors_v2#MaintenanceScheduleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v2#MaintenanceSchedule"
      }
    },
    "com.gcp.connectors_v2#NotificationParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v2#NotificationParameter"
      }
    },
    "com.gcp.connectors_v2#Schedule": {
      "type": "structure",
      "members": {
        "day": {
          "target": "com.gcp.connectors_v2#ScheduleDayEnum",
          "traits": {
            "smithy.api#documentation": "Allows to define schedule that runs specified day of the week."
          }
        },
        "startTime": {
          "target": "com.gcp.connectors_v2#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the window to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the schedule."
      }
    },
    "com.gcp.connectors_v2#ScheduleDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.connectors_v2#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was updated."
          }
        },
        "updatePolicy": {
          "target": "com.gcp.connectors_v2#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Maintenance policy applicable to instance update."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was created."
          }
        },
        "state": {
          "target": "com.gcp.connectors_v2#MaintenancePolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies to service maintenance events."
      }
    },
    "com.gcp.connectors_v2#MaintenancePolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.connectors_v2#MaintenanceSettings": {
      "type": "structure",
      "members": {
        "maintenancePolicies": {
          "target": "com.gcp.connectors_v2#MaintenancePolicyMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
          }
        },
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
          }
        },
        "isRollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the update call is triggered from rollback, set the value as true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
      }
    },
    "com.gcp.connectors_v2#MaintenancePolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v2#MaintenancePolicy"
      }
    },
    "com.gcp.connectors_v2#NodeSloMetadata": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the node, if different from instance location."
          }
        },
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the node. This should be equal to SaasInstanceNode.node_id."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.connectors_v2#PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
      }
    },
    "com.gcp.connectors_v2#ListToolsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        },
        "tools": {
          "target": "com.gcp.connectors_v2#ToolList",
          "traits": {
            "smithy.api#documentation": "List of available tools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConnectorAgentService.ListTools"
      }
    },
    "com.gcp.connectors_v2#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#Tool"
      }
    },
    "com.gcp.connectors_v2#SloEligibility": {
      "type": "structure",
      "members": {
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an instance is eligible or ineligible."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
      }
    },
    "com.gcp.connectors_v2#ListCustomToolNamesResponse": {
      "type": "structure",
      "members": {
        "toolNames": {
          "target": "com.gcp.connectors_v2#ToolNameList",
          "traits": {
            "smithy.api#documentation": "List of custom tools."
          }
        }
      }
    },
    "com.gcp.connectors_v2#JsonSchema": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The default value of the field or object described by this schema."
          }
        },
        "maxProperties": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of properties."
          }
        },
        "enum": {
          "target": "com.gcp.connectors_v2#DocumentList",
          "traits": {
            "smithy.api#documentation": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values"
          }
        },
        "propertyNames": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema for property names."
          }
        },
        "additionalDetails": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the value is read-only."
          }
        },
        "items": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that applies to array values, applicable only if this is of type `array`."
          }
        },
        "anyOf": {
          "target": "com.gcp.connectors_v2#JsonSchemaList",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid against at least one of the sub-schemas."
          }
        },
        "properties": {
          "target": "com.gcp.connectors_v2#JsonSchemaMap",
          "traits": {
            "smithy.api#documentation": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property"
          }
        },
        "exclusiveMaximum": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Whether the maximum number value is exclusive."
          }
        },
        "writeOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the value is write-only."
          }
        },
        "contains": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that applies to at least one item in an array."
          }
        },
        "uniqueItems": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the items in the array field are unique."
          }
        },
        "else": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid if the \"if\" schema is invalid."
          }
        },
        "jdbcType": {
          "target": "com.gcp.connectors_v2#JsonSchemaJdbcTypeEnum",
          "traits": {
            "smithy.api#documentation": "JDBC datatype of the field."
          }
        },
        "$schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI defining the schema."
          }
        },
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum length of the string field."
          }
        },
        "$id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI defining the core schema meta-schema."
          }
        },
        "definitions": {
          "target": "com.gcp.connectors_v2#JsonSchemaMap",
          "traits": {
            "smithy.api#documentation": "Definitions for the schema."
          }
        },
        "maximum": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum value of the number field."
          }
        },
        "multipleOf": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number must be a multiple of this value."
          }
        },
        "$comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment on the schema."
          }
        },
        "dependencies": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Dependencies for the schema."
          }
        },
        "contentEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoding of the content."
          }
        },
        "minItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of items in the array field."
          }
        },
        "additionalItems": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema for additional items."
          }
        },
        "patternProperties": {
          "target": "com.gcp.connectors_v2#JsonSchemaMap",
          "traits": {
            "smithy.api#documentation": "Pattern properties for the schema."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of this schema."
          }
        },
        "examples": {
          "target": "com.gcp.connectors_v2#DocumentList",
          "traits": {
            "smithy.api#documentation": "Examples of the value."
          }
        },
        "minimum": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum value of the number field."
          }
        },
        "allOf": {
          "target": "com.gcp.connectors_v2#JsonSchemaList",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid against all of the sub-schemas."
          }
        },
        "exclusiveMinimum": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Whether the minimum number value is exclusive."
          }
        },
        "$defs": {
          "target": "com.gcp.connectors_v2#JsonSchemaMap",
          "traits": {
            "smithy.api#documentation": "Definitions for the schema."
          }
        },
        "const": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Const value that the data must match."
          }
        },
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length of the string field."
          }
        },
        "minProperties": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of properties."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
          }
        },
        "maxItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of items in the array field."
          }
        },
        "then": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid if the \"if\" schema is valid."
          }
        },
        "contentMediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Media type of the content."
          }
        },
        "additionalProperties": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema for additional properties."
          }
        },
        "oneOf": {
          "target": "com.gcp.connectors_v2#JsonSchemaList",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid against at least one of the sub-schemas."
          }
        },
        "if": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that must be valid if the \"if\" schema is valid."
          }
        },
        "type": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON"
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A title of the schema."
          }
        },
        "$ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to another schema."
          }
        },
        "required": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Whether this property is required."
          }
        },
        "not": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Schema that must not be valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JsonSchema representation of schema metadata"
      }
    },
    "com.gcp.connectors_v2#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.connectors_v2#JsonSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#JsonSchema"
      }
    },
    "com.gcp.connectors_v2#JsonSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v2#JsonSchema"
      }
    },
    "com.gcp.connectors_v2#JsonSchemaJdbcTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "SMALLINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLINT"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT"
          }
        },
        "TINYINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TINYINT"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        },
        "CHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAR"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "LONGVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARCHAR"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "NCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCHAR"
          }
        },
        "NVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVARCHAR"
          }
        },
        "LONGNVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGNVARCHAR"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "JAVA_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA_OBJECT"
          }
        },
        "DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "CLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOB"
          }
        },
        "REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF"
          }
        },
        "DATALINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATALINK"
          }
        },
        "ROWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWID"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "VARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARBINARY"
          }
        },
        "LONGVARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARBINARY"
          }
        },
        "NCLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCLOB"
          }
        },
        "SQLXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLXML"
          }
        },
        "REF_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_CURSOR"
          }
        },
        "TIME_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_WITH_TIMEZONE"
          }
        },
        "TIMESTAMP_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP_WITH_TIMEZONE"
          }
        }
      }
    },
    "com.gcp.connectors_v2#ListEntityTypesResponse": {
      "type": "structure",
      "members": {
        "unsupportedTypeNames": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information."
          }
        },
        "types": {
          "target": "com.gcp.connectors_v2#EntityTypeList",
          "traits": {
            "smithy.api#documentation": "List of metadata related to all entity types."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token if more entity types available."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for EntityService.ListEntityTypes"
      }
    },
    "com.gcp.connectors_v2#EntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#EntityType"
      }
    },
    "com.gcp.connectors_v2#NotificationParameter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of string values. e.g. instance's replica information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains notification related data."
      }
    },
    "com.gcp.connectors_v2#HttpHeader": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single HTTP header. Keys are case-insensitive. Multiple headers with the same key may be present."
      }
    },
    "com.gcp.connectors_v2#Field": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the Field."
          }
        },
        "dataType": {
          "target": "com.gcp.connectors_v2#FieldDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "The data type of the Field."
          }
        },
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether a null value is allowed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Field."
          }
        },
        "jsonSchema": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "JsonSchema of the field, applicable only if field is of type `STRUCT`"
          }
        },
        "key": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity."
          }
        },
        "reference": {
          "target": "com.gcp.connectors_v2#Reference",
          "traits": {
            "smithy.api#documentation": "Reference captures the association between two different entity types. Value links to the reference of another entity type."
          }
        },
        "defaultValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The following field specifies the default value of the Field provided by the external system if a value is not provided."
          }
        },
        "additionalDetails": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message contains EntityType's Field metadata."
      }
    },
    "com.gcp.connectors_v2#FieldDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "SMALLINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLINT"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT"
          }
        },
        "TINYINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TINYINT"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        },
        "CHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAR"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "LONGVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARCHAR"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "NCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCHAR"
          }
        },
        "NVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVARCHAR"
          }
        },
        "LONGNVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGNVARCHAR"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "JAVA_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA_OBJECT"
          }
        },
        "DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "CLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOB"
          }
        },
        "REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF"
          }
        },
        "DATALINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATALINK"
          }
        },
        "ROWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWID"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "VARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARBINARY"
          }
        },
        "LONGVARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGVARBINARY"
          }
        },
        "NCLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCLOB"
          }
        },
        "SQLXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLXML"
          }
        },
        "REF_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_CURSOR"
          }
        },
        "TIME_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_WITH_TIMEZONE"
          }
        },
        "TIMESTAMP_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP_WITH_TIMEZONE"
          }
        }
      }
    },
    "com.gcp.connectors_v2#ListActionsResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.gcp.connectors_v2#ActionList",
          "traits": {
            "smithy.api#documentation": "List of action metadata."
          }
        },
        "unsupportedActionNames": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of actions which contain unsupported Datatypes. Check datatype.proto for more information."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token if more actions available."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ActionService.ListActions"
      }
    },
    "com.gcp.connectors_v2#ActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#Action"
      }
    },
    "com.gcp.connectors_v2#ProvisionedResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes provisioned dataplane resources."
      }
    },
    "com.gcp.connectors_v2#Tool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool."
          }
        },
        "_meta": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata for the tool."
          }
        },
        "dependsOn": {
          "target": "com.gcp.connectors_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of tool names that this tool depends on."
          }
        },
        "annotations": {
          "target": "com.gcp.connectors_v2#ToolAnnotations",
          "traits": {
            "smithy.api#documentation": "Annotations for the tool."
          }
        },
        "outputSchema": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "JSON schema for the output of the tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the tool."
          }
        },
        "inputSchema": {
          "target": "com.gcp.connectors_v2#JsonSchema",
          "traits": {
            "smithy.api#documentation": "JSON schema for the input parameters of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a single tool."
      }
    },
    "com.gcp.connectors_v2#ExecuteToolResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output from the tool execution."
          }
        },
        "_meta": {
          "target": "com.gcp.connectors_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata for the tool execution result."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConnectorAgentService.ExecuteTool"
      }
    },
    "com.gcp.connectors_v2#ToolSpec": {
      "type": "structure",
      "members": {
        "toolSpecVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the tool spec. Format: providerId/connectorId/versionId/toolSpecId"
          }
        },
        "toolDefinitions": {
          "target": "com.gcp.connectors_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "List of tool definitions."
          }
        }
      }
    },
    "com.gcp.connectors_v2#OAuth2Config": {
      "type": "structure",
      "members": {
        "authUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization Server URL/Token Endpoint for Authorization Code Flow"
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client secret for the OAuth2 flow."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client ID for the OAuth2 flow."
          }
        }
      }
    },
    "com.gcp.connectors_v2#DenyMaintenancePeriod": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.connectors_v2#Connectors_Date",
          "traits": {
            "smithy.api#documentation": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
          }
        },
        "endDate": {
          "target": "com.gcp.connectors_v2#Connectors_Date",
          "traits": {
            "smithy.api#documentation": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
          }
        },
        "time": {
          "target": "com.gcp.connectors_v2#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
      }
    },
    "com.gcp.connectors_v2#ListResourcesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.connectors_v2#ResourceList",
          "traits": {
            "smithy.api#documentation": "List of available resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token if more resources available."
          }
        },
        "metadata": {
          "target": "com.gcp.connectors_v2#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Metadata like service latency, etc."
          }
        }
      }
    },
    "com.gcp.connectors_v2#ResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v2#Resource"
      }
    },
    "com.gcp.connectors_v2#Resource": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this resource, if known."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what this resource represents."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
[...]
