{
  "smithy": "2.0",
  "metadata": {
    "service": "contentwarehouse",
    "version": "v1",
    "title": "Document AI Warehouse API",
    "baseUrl": "https://contentwarehouse.googleapis.com/"
  },
  "shapes": {
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageParagraph": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Paragraph."
          }
        },
        "provenance": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of lines that a human would perceive as a paragraph."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1AccessControlAction": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.contentwarehouse_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "Represents the new policy from which bindings are added, removed or replaced based on the type of the operation. the policy is limited to a few 10s of KB."
          }
        },
        "operationType": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1AccessControlActionOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identifies the type of operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the action responsible for access control list management operations."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1AccessControlActionOperationTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ADD_POLICY_BINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_POLICY_BINDING"
          }
        },
        "REMOVE_POLICY_BINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_POLICY_BINDING"
          }
        },
        "REPLACE_POLICY_BINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE_POLICY_BINDING"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DateTimeArray": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.contentwarehouse_v1#GoogleTypeDateTimeList",
          "traits": {
            "smithy.api#documentation": "List of datetime values. Both OffsetDateTime and ZonedDateTime are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DateTime values."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleTypeDateTimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleTypeDateTime"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentShardInfo": {
      "type": "structure",
      "members": {
        "shardIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 0-based index of this shard."
          }
        },
        "textOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index of the first character in Document.text in the overall document global text."
          }
        },
        "shardCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of shards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "type": "structure",
      "members": {
        "qualityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
          }
        },
        "detectedDefects": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefectList",
          "traits": {
            "smithy.api#documentation": "A list of detected defects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image quality scores for the page image."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleTypePostalAddress": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (For example state/zip validation in the U.S.A.)."
          }
        },
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
          }
        },
        "addressLines": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (For example \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (For example Japan), address_language is used to make it explicit (For example \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (For example \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (For example Côte d'Ivoire)."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        },
        "recipients": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (For example \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example in Switzerland this should be left unpopulated."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address. For example for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478"
      }
    },
    "com.gcp.contentwarehouse_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of provenance operation."
          }
        },
        "parents": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceParentList",
          "traits": {
            "smithy.api#documentation": "References to the original elements that are replaced."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the revision that produced this element."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Id of this operation. Needs to be unique within the scope of the revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure to identify provenance relationships between annotations in different revisions."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        },
        "EVAL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_REQUESTED"
          }
        },
        "EVAL_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_APPROVED"
          }
        },
        "EVAL_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_SKIPPED"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceParentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceParent"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TextTypeOptions": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for a text property."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLine": {
      "type": "structure",
      "members": {
        "provenance": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "layout": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Line."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ListDocumentSchemasResponse": {
      "type": "structure",
      "members": {
        "documentSchemas": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentSchemaList",
          "traits": {
            "smithy.api#documentation": "The document schemas from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentSchemaService.ListDocumentSchemas."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentSchema"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageBlock": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Block."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan": {
      "type": "structure",
      "members": {
        "pageEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page where chunk ends in the document."
          }
        },
        "pageStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page where chunk starts in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents where the chunk starts and ends in the document."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the project initialization process."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message of the project initialization process."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for projectService.InitializeProject"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.contentwarehouse_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The status processing the document."
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document identifier of an existing document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of processing a document."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1MapProperty": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ValueMap",
          "traits": {
            "smithy.api#documentation": "Unordered map of dynamically typed values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map property value. Represents a structured entries of key value pairs, consisting of field names which map to dynamically typed values."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1Value"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1QAResultHighlight": {
      "type": "structure",
      "members": {
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index of the highlight."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index of the highlight, exclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text span in the search text snippet that represents a highlighted section (answer context, highly relevant sentence, etc.)."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1CloudAIDocumentOption": {
      "type": "structure",
      "members": {
        "customizedEntitiesPropertiesConversions": {
          "target": "com.gcp.contentwarehouse_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "If set, only selected entities will be converted to properties."
          }
        },
        "enableEntitiesConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to convert all the entities to properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request Option for processing Cloud AI Document in CW Document."
      }
    },
    "com.gcp.contentwarehouse_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "type": "structure",
      "members": {
        "skipIngestedDocuments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest."
          }
        },
        "processorResultsFolderPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`."
          }
        },
        "extractProcessorInfos": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ProcessorInfoList",
          "traits": {
            "smithy.api#documentation": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used."
          }
        },
        "inputPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`."
          }
        },
        "pipelineConfig": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1IngestPipelineConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable."
          }
        },
        "splitClassifyProcessorInfo": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ProcessorInfo",
          "traits": {
            "smithy.api#documentation": "The split and classify processor information. The split and classify result will be used to find a matched extract processor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ProcessorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ProcessorInfo"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1MapTypeOptions": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for a Map property."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampArray": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampValueList",
          "traits": {
            "smithy.api#documentation": "List of timestamp values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp values."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampValue"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image Quality Defects"
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceInfraSpannerConfigCreateDatabaseOptions": {
      "type": "structure",
      "members": {
        "cmekServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name for the CMEK encryption. For example, contentwarehouse.googleapis.com"
          }
        },
        "cmekCloudResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud resource type for the CMEK encryption. For example, contentwarehouse.googleapis.com/Location"
          }
        },
        "cmekCloudResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud resource name for the CMEK encryption. For example, projects//locations/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options to create a spanner database. KMS key access audit logging and AxT logging will be associated with the given resource name, resource type and service name. Please ensure to give right options to enable correct audit logging and AxT logging."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1CustomWeightsMetadata": {
      "type": "structure",
      "members": {
        "weightedSchemaProperties": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1WeightedSchemaPropertyList",
          "traits": {
            "smithy.api#documentation": "List of schema and property name. Allows a maximum of 10 schemas to be specified for relevance boosting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To support the custom weighting across document schemas."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1WeightedSchemaPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1WeightedSchemaProperty"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1Vertex": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Y coordinate (starts from the top of the image)."
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadata": {
      "type": "structure",
      "members": {
        "totalFileCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files that were processed by the pipeline."
          }
        },
        "individualDocumentStatuses": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatusList",
          "traits": {
            "smithy.api#documentation": "The list of response details of each document."
          }
        },
        "exportToCdwPipelineMetadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata",
          "traits": {
            "smithy.api#documentation": "The pipeline metadata for Export-to-CDW pipeline."
          }
        },
        "failedFileCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files that have failed at some point in the pipeline."
          }
        },
        "gcsIngestPipelineMetadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataGcsIngestPipelineMetadata",
          "traits": {
            "smithy.api#documentation": "The pipeline metadata for GcsIngest pipeline."
          }
        },
        "userInfo": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1UserInfo",
          "traits": {
            "smithy.api#documentation": "User unique identification and groups information."
          }
        },
        "processWithDocAiPipelineMetadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata",
          "traits": {
            "smithy.api#documentation": "The pipeline metadata for Process-with-DocAi pipeline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata message of RunPipeline method."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatus"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matrix data."
          }
        },
        "cols": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of columns in the matrix."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows in the matrix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1IngestPipelineConfig": {
      "type": "structure",
      "members": {
        "documentAclPolicy": {
          "target": "com.gcp.contentwarehouse_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "The document level acl policy config. This refers to an Identity and Access (IAM) policy, which specifies access controls for all documents ingested by the pipeline. The role and members under the policy needs to be specified. The following roles are supported for document level acl control: * roles/contentwarehouse.documentAdmin * roles/contentwarehouse.documentEditor * roles/contentwarehouse.documentViewer The following members are supported for document level acl control: * user:user-email@example.com * group:group-email@example.com Note that for documents searched with LLM, only single level user or group acl check is supported."
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the folder to which all ingested documents will be linked during ingestion process. Format is `projects/{project}/locations/{location}/documents/{folder_id}`"
          }
        },
        "enableDocumentTextExtraction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The document text extraction enabled flag. If the flag is set to true, DWH will perform text extraction on the raw document."
          }
        },
        "cloudFunction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Function resource name. The Cloud Function needs to live inside consumer project and is accessible to Document AI Warehouse P4SA. Only Cloud Functions V2 is supported. Cloud function execution should complete within 5 minutes or this file ingestion may fail due to timeout. Format: `https://{region}-{project_id}.cloudfunctions.net/{cloud_function}` The following keys are available the request json payload. * display_name * properties * plain_text * reference_id * document_schema_name * raw_document_path * raw_document_file_type The following keys from the cloud function json response payload will be ingested to the Document AI Warehouse as part of Document proto content and/or related information. The original values will be overridden if any key is present in the response. * display_name * properties * plain_text * document_acl_policy * folder"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ingestion pipeline config."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1CreateDocumentResponse": {
      "type": "structure",
      "members": {
        "ruleEngineOutput": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RuleEngineOutput",
          "traits": {
            "smithy.api#documentation": "Output from Rule Engine recording the rule evaluator and action executor's output. Refer format in: google/cloud/contentwarehouse/v1/rule_engine.proto"
          }
        },
        "metadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "document": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1Document",
          "traits": {
            "smithy.api#documentation": "Document created after executing create request."
          }
        },
        "longRunningOperations": {
          "target": "com.gcp.contentwarehouse_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "post-processing LROs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentService.CreateDocument."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleTypeInterval": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name in the source."
          }
        },
        "processorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Doc AI processor type name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schema source information."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1UpdateDocumentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata object for UpdateDocument request (currently empty)."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1IntegerTypeOptions": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for an integer property."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1UserInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique user identification string, as determined by the client. The maximum number of allowed characters is 255. Allowed characters include numbers 0 to 9, uppercase and lowercase letters, and restricted special symbols (:, @, +, -, _, ~) The format is \"user:xxxx@example.com\";"
          }
        },
        "groupIds": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The unique group identifications which the user is belong to. The format is \"group:yyyy@example.com\";"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user information."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCellList",
          "traits": {
            "smithy.api#documentation": "A table row is a list of table cells."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a row in a table."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCellList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1beta1CreateDocumentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata object for CreateDocument request (currently empty)."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1BoundingPoly": {
      "type": "structure",
      "members": {
        "vertices": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1VertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon vertices."
          }
        },
        "normalizedVertices": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1NormalizedVertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon normalized vertices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bounding polygon for the detected image annotation."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1VertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1Vertex"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1NormalizedVertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1NormalizedVertex"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ListLinkedTargetsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "documentLinks": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentLinkList",
          "traits": {
            "smithy.api#documentation": "Target document-links."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentLinkService.ListLinkedTargets."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DocumentLink"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageAnchor": {
      "type": "structure",
      "members": {
        "pageRefs": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefList",
          "traits": {
            "smithy.api#documentation": "One or more references to visual page elements"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "type": "structure",
      "members": {
        "endIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TextSegment half open end UTF-8 char index in the Document.text."
          }
        },
        "startIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TextSegment start UTF-8 char index in the Document.text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset"
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceTenantResource": {
      "type": "structure",
      "members": {
        "p4ServiceAccounts": {
          "target": "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceServiceAccountIdentityList",
          "traits": {
            "smithy.api#documentation": "A list of P4 service accounts (go/p4sa) to provision or deprovision."
          }
        },
        "tenantProjectResources": {
          "target": "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceTenantProjectResourceList",
          "traits": {
            "smithy.api#documentation": "A list of tenant projects and tenant resources to provision or deprovision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of tenant resources."
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceServiceAccountIdentityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceServiceAccountIdentity"
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceTenantProjectResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceTenantProjectResource"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampTypeOptions": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for a timestamp property."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPage": {
      "type": "structure",
      "members": {
        "formFields": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageFormFieldList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected form fields on the page."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "transforms": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageMatrixList",
          "traits": {
            "smithy.api#documentation": "Transformation matrices that were applied to the original document image to produce Page.image."
          }
        },
        "tokens": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageTokenList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected tokens on the page."
          }
        },
        "dimension": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDimension",
          "traits": {
            "smithy.api#documentation": "Physical dimension of the page."
          }
        },
        "layout": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for the page."
          }
        },
        "tables": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageTableList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected tables on the page."
          }
        },
        "imageQualityScores": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
          "traits": {
            "smithy.api#documentation": "Image quality scores."
          }
        },
        "blocks": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageBlockList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
          }
        },
        "detectedBarcodes": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcodeList",
          "traits": {
            "smithy.api#documentation": "A list of detected barcodes."
          }
        },
        "visualElements": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageVisualElementList",
          "traits": {
            "smithy.api#documentation": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page."
          }
        },
        "lines": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLineList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line."
          }
        },
        "provenance": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this page."
          }
        },
        "paragraphs": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageParagraphList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
          }
        },
        "symbols": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageSymbolList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected symbols on the page."
          }
        },
        "pageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
          }
        },
        "image": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageImage",
          "traits": {
            "smithy.api#documentation": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page in a Document."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageFormFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageFormField"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageMatrixList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageMatrix"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageToken"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageTable"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageBlock"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageVisualElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageVisualElement"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLine"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageParagraph"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageSymbolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageSymbol"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1Barcode": {
      "type": "structure",
      "members": {
        "valueFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
          }
        },
        "rawValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encodes the detailed information of a barcode."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1SetAclResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "policy": {
          "target": "com.gcp.contentwarehouse_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "The policy will be attached to a resource (e.g. projecct, document)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentService.SetAcl."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RemoveFromFolderAction": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the folder under which new document is to be added. Format: projects/{project_number}/locations/{location}/documents/{document_id}."
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Condition of the action to be executed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the action responsible for remove a document from a specific folder."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequest": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The KMS key used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the kms_key is left empty, no encryption will be enforced."
          }
        },
        "documentCreatorDefaultRole": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestDocumentCreatorDefaultRoleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The default role for the person who create a document."
          }
        },
        "enableCalUserEmailLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable CAL user email logging."
          }
        },
        "accessControlMode": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestAccessControlModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The access control mode for accessing the customer data"
          }
        },
        "databaseType": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestDatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of database used to store customer data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for projectService.InitializeProject"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestDocumentCreatorDefaultRoleEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_CREATOR_DEFAULT_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_CREATOR_DEFAULT_ROLE_UNSPECIFIED"
          }
        },
        "DOCUMENT_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_ADMIN"
          }
        },
        "DOCUMENT_EDITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_EDITOR"
          }
        },
        "DOCUMENT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_VIEWER"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestAccessControlModeEnum": {
      "type": "enum",
      "members": {
        "ACL_MODE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACL_MODE_UNKNOWN"
          }
        },
        "ACL_MODE_UNIVERSAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACL_MODE_UNIVERSAL_ACCESS"
          }
        },
        "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID"
          }
        },
        "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InitializeProjectRequestDatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "DB_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_UNKNOWN"
          }
        },
        "DB_INFRA_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_INFRA_SPANNER"
          }
        },
        "DB_CLOUD_SQL_POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_CLOUD_SQL_POSTGRES"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
      "type": "structure",
      "members": {
        "barcode": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1Barcode",
          "traits": {
            "smithy.api#documentation": "Detailed barcode information of the DetectedBarcode."
          }
        },
        "layout": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for DetectedBarcode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detected barcode."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ProcessorInfo": {
      "type": "structure",
      "members": {
        "processorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The processor resource name. Format is `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
          }
        },
        "documentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The processor will process the documents with this document type."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Document schema resource name. All documents processed by this processor will use this schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DocAI processor information."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentTextChange": {
      "type": "structure",
      "members": {
        "changedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that replaces the text identified in the `text_anchor`."
          }
        },
        "provenance": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceList",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        },
        "textAnchor": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentTextAnchor",
          "traits": {
            "smithy.api#documentation": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used for text changes aka. OCR corrections."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentProvenance"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.contentwarehouse_v1#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1FloatArray": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.contentwarehouse_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "List of float values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Float values."
      }
    },
    "com.gcp.contentwarehouse_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1Action": {
      "type": "structure",
      "members": {
        "removeFromFolderAction": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RemoveFromFolderAction",
          "traits": {
            "smithy.api#documentation": "Action removing a document from a folder."
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the action. Managed internally."
          }
        },
        "addToFolder": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1AddToFolderAction",
          "traits": {
            "smithy.api#documentation": "Action triggering create document link operation."
          }
        },
        "dataValidation": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DataValidationAction",
          "traits": {
            "smithy.api#documentation": "Action triggering data validation operations."
          }
        },
        "deleteDocumentAction": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DeleteDocumentAction",
          "traits": {
            "smithy.api#documentation": "Action deleting the document."
          }
        },
        "publishToPubSub": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PublishAction",
          "traits": {
            "smithy.api#documentation": "Action publish to Pub/Sub operation."
          }
        },
        "dataUpdate": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1DataUpdateAction",
          "traits": {
            "smithy.api#documentation": "Action triggering data update operations."
          }
        },
        "accessControl": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1AccessControlAction",
          "traits": {
            "smithy.api#documentation": "Action triggering access control operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the action triggered by Rule Engine when the rule is true."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "structure",
      "members": {
        "blocks": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockList",
          "traits": {
            "smithy.api#documentation": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content stored in the block."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a text type block."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PropertyTypeOptions": {
      "type": "structure",
      "members": {
        "propertyDefinitions": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PropertyDefinitionList",
          "traits": {
            "smithy.api#documentation": "Required. List of property definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations for a nested structured data property."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PropertyDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1PropertyDefinition"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of detected language. Range `[0, 1]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected language for a structural component."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ActionOutput": {
      "type": "structure",
      "members": {
        "outputMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action execution output message."
          }
        },
        "actionState": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ActionOutputActionStateEnum",
          "traits": {
            "smithy.api#documentation": "State of an action."
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of executing an action."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ActionOutputActionStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ACTION_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_SUCCEEDED"
          }
        },
        "ACTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_FAILED"
          }
        },
        "ACTION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TIMED_OUT"
          }
        },
        "ACTION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_PENDING"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1SearchDocumentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of matched documents which is available only if the client set SearchDocumentsRequest.require_total_size to `true` or set SearchDocumentsRequest.total_result_size to `ESTIMATED_SIZE` or `ACTUAL_SIZE`. Otherwise, the value will be `-1`. Typically a UI would handle this condition by displaying \"of many\", for example: \"Displaying 10 of many\"."
          }
        },
        "matchingDocuments": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocumentList",
          "traits": {
            "smithy.api#documentation": "The document entities that match the specified SearchDocumentsRequest."
          }
        },
        "metadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "histogramQueryResults": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1HistogramQueryResultList",
          "traits": {
            "smithy.api#documentation": "The histogram results that match with the specified SearchDocumentsRequest.histogram_queries."
          }
        },
        "questionAnswer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experimental. Question answer from the query against the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentService.SearchDocuments."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1HistogramQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1HistogramQueryResult"
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceGcsBucketConfig": {
      "type": "structure",
      "members": {
        "kmsKeyReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new GCS bucket. For existing GCS bucket, this field will be ignored because CMEK re-encryption is not supported."
          }
        },
        "viewers": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. IAM roles (viewer/admin) put on the bucket."
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Optional]. Only needed for per-entity tenant GCP resources. During Deprovision API, the on-demand deletion will only cover the tenant GCP resources with the specified entity name."
          }
        },
        "admins": {
          "target": "com.gcp.contentwarehouse_v1#StringList"
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Optional]. The name of a GCS bucket with max length of 63 chars. If not set, a random UUID will be generated as bucket name."
          }
        },
        "ttlDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Input/Output [Optional]. Only needed when the content in bucket need to be garbage collected within some amount of days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity to configure a GCS bucket."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "type": "structure",
      "members": {
        "tableBlock": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of table content/structure."
          }
        },
        "listBlock": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of list content/structure."
          }
        },
        "blockId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the block."
          }
        },
        "textBlock": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of text content."
          }
        },
        "pageSpan": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
          "traits": {
            "smithy.api#documentation": "Page span of the block."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a block. A block could be one of the various types (text, table, list) supported."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RequestMetadata": {
      "type": "structure",
      "members": {
        "userInfo": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1UserInfo",
          "traits": {
            "smithy.api#documentation": "Provides user unique identification and groups information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Meta information is used to improve the performance of the service."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1Value": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        },
        "timestampValue": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1TimestampValue",
          "traits": {
            "smithy.api#documentation": "Represents a timestamp value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        },
        "intValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents a integer value."
          }
        },
        "floatValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a float value."
          }
        },
        "datetimeValue": {
          "target": "com.gcp.contentwarehouse_v1#GoogleTypeDateTime",
          "traits": {
            "smithy.api#documentation": "Represents a datetime value."
          }
        },
        "enumValue": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1EnumValue",
          "traits": {
            "smithy.api#documentation": "Represents an enum value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Value` represents a dynamically typed value which can be either be a float, a integer, a string, or a datetime value. A producer of value is expected to set one of these variants. Absence of any variant indicates an error."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1FetchAclResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "policy": {
          "target": "com.gcp.contentwarehouse_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "The IAM policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DocumentService.FetchAcl."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "type": "structure",
      "members": {
        "chunks": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkList",
          "traits": {
            "smithy.api#documentation": "List of chunks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the chunks that the document is divided into."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceTenantServiceAccountIdentity": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. The service that the service account belongs to. (e.g. cloudbuild.googleapis.com for GCB service accounts)"
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the generated service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity of service accounts that have been explicitly created under tenant projects."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata object for UpdateDocument request (currently empty)."
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceIamPolicyBinding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. The role for members below."
          }
        },
        "resourceType": {
          "target": "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceIamPolicyBindingResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. Specifies the type of resource that will be accessed by members."
          }
        },
        "members": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. The member service accounts with the roles above. Note: placeholders are same as the resource above."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input/Output [Required]. The resource name that will be accessed by members, which also depends on resource_type. Note: placeholders are supported in resource names. For example, ${tpn} will be used when the tenant project number is not ready."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The dynamic IAM bindings to be granted after tenant projects are created."
      }
    },
    "com.gcp.contentwarehouse_v1#CloudAiPlatformTenantresourceIamPolicyBindingResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT"
          }
        },
        "GCS_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_BUCKET"
          }
        },
        "SERVICE_CONSUMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_CONSUMER"
          }
        },
        "AR_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR_REPO"
          }
        }
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "type": "structure",
      "members": {
        "pageHeaders": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeaderList",
          "traits": {
            "smithy.api#documentation": "Page headers associated with the chunk."
          }
        },
        "pageSpan": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "traits": {
            "smithy.api#documentation": "Page span of the chunk."
          }
        },
        "sourceBlockIds": {
          "target": "com.gcp.contentwarehouse_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unused."
          }
        },
        "pageFooters": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooterList",
          "traits": {
            "smithy.api#documentation": "Page footers associated with the chunk."
          }
        },
        "chunkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the chunk."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content of the chunk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a chunk."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
          }
        },
        "listEntries": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntryList",
          "traits": {
            "smithy.api#documentation": "List entries that constitute a list block."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list type block."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1ListLinkedTargetsRequest": {
      "type": "structure",
      "members": {
        "requestMetadata": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RequestMetadata",
          "traits": {
            "smithy.api#documentation": "The meta information collected about the document creator, used to enforce access control for the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DocumentLinkService.ListLinkedTargets."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RuleEvaluatorOutput": {
      "type": "structure",
      "members": {
        "matchedRules": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RuleList",
          "traits": {
            "smithy.api#documentation": "A subset of triggered rules that are evaluated true for a given request."
          }
        },
        "triggeredRules": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RuleList",
          "traits": {
            "smithy.api#documentation": "List of rules fetched from database for the given request trigger type."
          }
        },
        "invalidRules": {
          "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InvalidRuleList",
          "traits": {
            "smithy.api#documentation": "A subset of triggered rules that failed the validation check(s) after parsing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the output of the Rule Evaluator."
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1RuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1Rule"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InvalidRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1InvalidRule"
      }
    },
    "com.gcp.contentwarehouse_v1#GoogleCloudContentwarehouseV1MergeFieldsOptions": {
      "type": "structure",
      "members": {
        "replaceMessageFields": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
