{
  "smithy": "2.0",
  "metadata": {
    "service": "containeranalysis",
    "version": "v1",
    "title": "Container Analysis API",
    "baseUrl": "https://containeranalysis.googleapis.com/"
  },
  "shapes": {
    "com.gcp.containeranalysis_v1#Material": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "com.gcp.containeranalysis_v1#StringMap"
        },
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.containeranalysis_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.containeranalysis_v1#Envelope": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String"
        },
        "signatures": {
          "target": "com.gcp.containeranalysis_v1#EnvelopeSignatureList"
        },
        "payloadType": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type."
      }
    },
    "com.gcp.containeranalysis_v1#EnvelopeSignatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#EnvelopeSignature"
      }
    },
    "com.gcp.containeranalysis_v1#SecretStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.containeranalysis_v1#SecretStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The status of the secret."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time the secret status was last updated."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional message about the status code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the secret with a timestamp."
      }
    },
    "com.gcp.containeranalysis_v1#SecretStatusStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#Layer": {
      "type": "structure",
      "members": {
        "directive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
          }
        },
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovered arguments to the Dockerfile directive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Layer holds metadata specific to a layer of a Docker image."
      }
    },
    "com.gcp.containeranalysis_v1#License": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
          }
        },
        "comments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "License information."
      }
    },
    "com.gcp.containeranalysis_v1#BatchCreateOccurrencesRequest": {
      "type": "structure",
      "members": {
        "occurrences": {
          "target": "com.gcp.containeranalysis_v1#OccurrenceList",
          "traits": {
            "smithy.api#documentation": "Required. The occurrences to create. Max allowed length is 1000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create occurrences in batch."
      }
    },
    "com.gcp.containeranalysis_v1#OccurrenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#Occurrence"
      }
    },
    "com.gcp.containeranalysis_v1#File": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "digest": {
          "target": "com.gcp.containeranalysis_v1#StringMap"
        }
      }
    },
    "com.gcp.containeranalysis_v1#AISkillAnalysisOccurrence": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.gcp.containeranalysis_v1#FindingList",
          "traits": {
            "smithy.api#documentation": "Findings produced by the analysis."
          }
        },
        "skillName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the skill that produced this analysis."
          }
        },
        "maxSeverity": {
          "target": "com.gcp.containeranalysis_v1#AISkillAnalysisOccurrenceMaxSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Maximum severity found among findings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis."
      }
    },
    "com.gcp.containeranalysis_v1#FindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#Finding"
      }
    },
    "com.gcp.containeranalysis_v1#AISkillAnalysisOccurrenceMaxSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#TimeSpan": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Start and end times for a build execution phase. Next ID: 3"
      }
    },
    "com.gcp.containeranalysis_v1#Metadata": {
      "type": "structure",
      "members": {
        "buildStartedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build started."
          }
        },
        "completeness": {
          "target": "com.gcp.containeranalysis_v1#Completeness",
          "traits": {
            "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
          }
        },
        "reproducible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
          }
        },
        "buildInvocationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
          }
        },
        "buildFinishedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Other properties of the build."
      }
    },
    "com.gcp.containeranalysis_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "type": "structure",
      "members": {
        "reproducible": {
          "target": "smithy.api#Boolean"
        },
        "buildStartedOn": {
          "target": "smithy.api#String"
        },
        "completeness": {
          "target": "com.gcp.containeranalysis_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildFinishedOn": {
          "target": "smithy.api#String"
        },
        "buildInvocationId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Other properties of the build."
      }
    },
    "com.gcp.containeranalysis_v1#Command": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
          }
        },
        "env": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Environment variables set before running this command."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory (relative to project source root) used when running this command."
          }
        },
        "args": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Command-line arguments used when executing this command."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency."
          }
        },
        "waitFor": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The ID(s) of the command(s) that this command depends on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command describes a step performed as part of the build pipeline."
      }
    },
    "com.gcp.containeranalysis_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.containeranalysis_v1#Subject": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "digest": {
          "target": "com.gcp.containeranalysis_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#SBOMReferenceOccurrence": {
      "type": "structure",
      "members": {
        "payloadType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
          }
        },
        "payload": {
          "target": "com.gcp.containeranalysis_v1#SbomReferenceIntotoPayload",
          "traits": {
            "smithy.api#documentation": "The actual payload that contains the SBOM reference data."
          }
        },
        "signatures": {
          "target": "com.gcp.containeranalysis_v1#EnvelopeSignatureList",
          "traits": {
            "smithy.api#documentation": "The signatures over the payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details."
      }
    },
    "com.gcp.containeranalysis_v1#CISAKnownExploitedVulnerabilities": {
      "type": "structure",
      "members": {
        "knownRansomwareCampaignUse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3": {
      "type": "structure",
      "members": {
        "privilegesRequired": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3PrivilegesRequiredEnum"
        },
        "attackVector": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3AttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments."
          }
        },
        "integrityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3IntegrityImpactEnum"
        },
        "confidentialityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3ConfidentialityImpactEnum"
        },
        "attackComplexity": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3AttackComplexityEnum"
        },
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The base score is a function of the base metric scores."
          }
        },
        "impactScore": {
          "target": "smithy.api#Double"
        },
        "userInteraction": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3UserInteractionEnum"
        },
        "scope": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3ScopeEnum"
        },
        "availabilityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSv3AvailabilityImpactEnum"
        },
        "exploitabilityScore": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document"
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3PrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3AttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3IntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3ConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3AttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3UserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3ScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSv3AvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration for manual approval of this build."
          }
        },
        "state": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this build's approval."
          }
        },
        "result": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of manual approval for this Build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BuildApproval describes a build's approval configuration, state, and result."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApprovalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CloudStorageLocation": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Empty placeholder to denote that this is a Google Cloud Storage export request."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "type": "structure",
      "members": {
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        },
        "fileHashes": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the Python Artifact."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded artifact."
          }
        },
        "pushTiming": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact uploaded using the PythonPackage directive."
      }
    },
    "com.gcp.containeranalysis_v1#SecretLocation": {
      "type": "structure",
      "members": {
        "fileLocation": {
          "target": "com.gcp.containeranalysis_v1#GrafeasV1FileLocation",
          "traits": {
            "smithy.api#documentation": "The secret is found from a file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location of the secret."
      }
    },
    "com.gcp.containeranalysis_v1#UpgradeDistribution": {
      "type": "structure",
      "members": {
        "cve": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The cve tied to this Upgrade."
          }
        },
        "classification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)"
          }
        },
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity as specified by the upstream operating system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities."
      }
    },
    "com.gcp.containeranalysis_v1#VexAssessment": {
      "type": "structure",
      "members": {
        "cve": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs."
          }
        },
        "impacts": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Contains information about the impact of this vulnerability, this will change with time."
          }
        },
        "vulnerabilityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc."
          }
        },
        "relatedUris": {
          "target": "com.gcp.containeranalysis_v1#RelatedUrlList",
          "traits": {
            "smithy.api#documentation": "Holds a list of references associated with this vulnerability item and assessment."
          }
        },
        "remediations": {
          "target": "com.gcp.containeranalysis_v1#RemediationList",
          "traits": {
            "smithy.api#documentation": "Specifies details on how to handle (and presumably, fix) a vulnerability."
          }
        },
        "state": {
          "target": "com.gcp.containeranalysis_v1#VexAssessmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Provides the state of this Vulnerability assessment."
          }
        },
        "noteName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
          }
        },
        "justification": {
          "target": "com.gcp.containeranalysis_v1#Justification",
          "traits": {
            "smithy.api#documentation": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability."
      }
    },
    "com.gcp.containeranalysis_v1#RelatedUrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#RelatedUrl"
      }
    },
    "com.gcp.containeranalysis_v1#RemediationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#Remediation"
      }
    },
    "com.gcp.containeranalysis_v1#VexAssessmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "AFFECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFECTED"
          }
        },
        "NOT_AFFECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AFFECTED"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "UNDER_INVESTIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_INVESTIGATION"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#SlsaBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.containeranalysis_v1#DSSEAttestationNote": {
      "type": "structure",
      "members": {
        "hint": {
          "target": "com.gcp.containeranalysis_v1#DSSEHint",
          "traits": {
            "smithy.api#documentation": "DSSEHint hints at the purpose of the attestation authority."
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#Signature": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
          }
        },
        "publicKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature)."
      }
    },
    "com.gcp.containeranalysis_v1#ComplianceOccurrence": {
      "type": "structure",
      "members": {
        "nonCompliantFiles": {
          "target": "com.gcp.containeranalysis_v1#NonCompliantFileList"
        },
        "nonComplianceReason": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "com.gcp.containeranalysis_v1#ComplianceVersion",
          "traits": {
            "smithy.api#documentation": "The OS and config version the benchmark was run on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason."
      }
    },
    "com.gcp.containeranalysis_v1#NonCompliantFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#NonCompliantFile"
      }
    },
    "com.gcp.containeranalysis_v1#Distribution": {
      "type": "structure",
      "members": {
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
          }
        },
        "maintainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A freeform string denoting the maintainer of this package."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distribution channel-specific homepage for this package."
          }
        },
        "latestVersion": {
          "target": "com.gcp.containeranalysis_v1#Version",
          "traits": {
            "smithy.api#documentation": "The latest available version of this package in this distribution channel."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distribution channel-specific description of this package."
          }
        },
        "architecture": {
          "target": "com.gcp.containeranalysis_v1#DistributionArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The CPU architecture for which packages in this distribution channel were built."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents a particular channel of distribution for a given package. E.g., Debian's jessie-backports dpkg mirror."
      }
    },
    "com.gcp.containeranalysis_v1#DistributionArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86"
          }
        },
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X64"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#FindingLocation": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file containing the finding."
          }
        },
        "lineNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line number (1-based), or 0 if whole File / unknown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location details with file path and line number."
      }
    },
    "com.gcp.containeranalysis_v1#Detail": {
      "type": "structure",
      "members": {
        "fixedVersion": {
          "target": "com.gcp.containeranalysis_v1#Version",
          "traits": {
            "smithy.api#documentation": "The distro recommended version to update to that contains a fix for this vulnerability. Setting this to VersionKind.MAXIMUM means no such version is yet available."
          }
        },
        "isObsolete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this detail is obsolete. Occurrences are expected not to point to obsolete details."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source from which the information in this Detail was obtained."
          }
        },
        "fixedCpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distro recommended [CPE URI](https://cpe.mitre.org/specification/) to update to that contains a fix for this vulnerability. It is possible for this to be different from the affected_cpe_uri."
          }
        },
        "severityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distro assigned severity of this vulnerability."
          }
        },
        "fixedPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distro recommended package to update to that contains a fix for this vulnerability. It is possible for this to be different from the affected_package."
          }
        },
        "vendor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the vendor of the product."
          }
        },
        "affectedVersionStart": {
          "target": "com.gcp.containeranalysis_v1#Version",
          "traits": {
            "smithy.api#documentation": "The version number at the start of an interval in which this vulnerability exists. A vulnerability can affect a package between version numbers that are disjoint sets of intervals (example: [1.0.0-1.1.0], [2.4.6-2.4.8] and [4.5.6-4.6.8]) each of which will be represented in its own Detail. If a specific affected version is provided by a vulnerability database, affected_version_start and affected_version_end will be the same in that Detail."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
          }
        },
        "affectedVersionEnd": {
          "target": "com.gcp.containeranalysis_v1#Version",
          "traits": {
            "smithy.api#documentation": "The version number at the end of an interval in which this vulnerability exists. A vulnerability can affect a package between version numbers that are disjoint sets of intervals (example: [1.0.0-1.1.0], [2.4.6-2.4.8] and [4.5.6-4.6.8]) each of which will be represented in its own Detail. If a specific affected version is provided by a vulnerability database, affected_version_start and affected_version_end will be the same in that Detail."
          }
        },
        "sourceUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A vendor-specific description of this vulnerability."
          }
        },
        "affectedCpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability affects."
          }
        },
        "affectedPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The package this vulnerability affects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detail for a distro and package affected by this vulnerability and its associated fix (if one is available)."
      }
    },
    "com.gcp.containeranalysis_v1#DiscoveryOccurrence": {
      "type": "structure",
      "members": {
        "lastVulnerabilityUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time vulnerability scan results changed."
          }
        },
        "analysisCompleted": {
          "target": "com.gcp.containeranalysis_v1#AnalysisCompleted"
        },
        "cpe": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPE of the resource being scanned."
          }
        },
        "files": {
          "target": "com.gcp.containeranalysis_v1#FileList",
          "traits": {
            "smithy.api#documentation": "Files that make up the resource described by the occurrence."
          }
        },
        "analysisStatus": {
          "target": "com.gcp.containeranalysis_v1#DiscoveryOccurrenceAnalysisStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of discovery for the resource."
          }
        },
        "analysisError": {
          "target": "com.gcp.containeranalysis_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors."
          }
        },
        "sbomStatus": {
          "target": "com.gcp.containeranalysis_v1#SBOMStatus",
          "traits": {
            "smithy.api#documentation": "The status of an SBOM generation."
          }
        },
        "analysisStatusError": {
          "target": "com.gcp.containeranalysis_v1#Status",
          "traits": {
            "smithy.api#documentation": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
          }
        },
        "continuousAnalysis": {
          "target": "com.gcp.containeranalysis_v1#DiscoveryOccurrenceContinuousAnalysisEnum",
          "traits": {
            "smithy.api#documentation": "Whether the resource is continuously analyzed."
          }
        },
        "lastScanTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time this resource was scanned."
          }
        },
        "archiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time occurrences related to this discovery occurrence were archived."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about the analysis status of a discovered resource."
      }
    },
    "com.gcp.containeranalysis_v1#FileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#File"
      }
    },
    "com.gcp.containeranalysis_v1#DiscoveryOccurrenceAnalysisStatusEnum": {
      "type": "enum",
      "members": {
        "ANALYSIS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_STATUS_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING"
          }
        },
        "FINISHED_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED_SUCCESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FINISHED_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED_FAILED"
          }
        },
        "FINISHED_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED_UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#Status"
      }
    },
    "com.gcp.containeranalysis_v1#DiscoveryOccurrenceContinuousAnalysisEnum": {
      "type": "enum",
      "members": {
        "CONTINUOUS_ANALYSIS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_ANALYSIS_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1Volume": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
      }
    },
    "com.gcp.containeranalysis_v1#Hint": {
      "type": "structure",
      "members": {
        "humanReadableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The human readable name of this attestation authority, for example \"qa\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
          }
        },
        "envMap": {
          "target": "com.gcp.containeranalysis_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "type": "structure",
      "members": {
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.containeranalysis_v1#VulnerabilityOccurrence": {
      "type": "structure",
      "members": {
        "cvssVersion": {
          "target": "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceCvssVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. CVSS version used to populate cvss_score and severity."
          }
        },
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A one sentence description of this vulnerability."
          }
        },
        "cvssScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
          }
        },
        "risk": {
          "target": "com.gcp.containeranalysis_v1#Risk",
          "traits": {
            "smithy.api#documentation": "Risk information about the vulnerability, such as CISA, EPSS, etc."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A detailed description of this vulnerability."
          }
        },
        "fixAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether at least one of the affected packages has a fix available."
          }
        },
        "effectiveSeverity": {
          "target": "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceEffectiveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues."
          }
        },
        "vexAssessment": {
          "target": "com.gcp.containeranalysis_v1#VexAssessment"
        },
        "severity": {
          "target": "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The note provider assigned severity of this vulnerability."
          }
        },
        "packageIssue": {
          "target": "com.gcp.containeranalysis_v1#PackageIssueList",
          "traits": {
            "smithy.api#documentation": "Required. The set of affected locations and their fixes (if available) within the associated resource."
          }
        },
        "cvssv3": {
          "target": "com.gcp.containeranalysis_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v3 score for the vulnerability."
          }
        },
        "extraDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Occurrence-specific extra details about the vulnerability."
          }
        },
        "cvssV2": {
          "target": "com.gcp.containeranalysis_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v2 score for the vulnerability."
          }
        },
        "cvssV4": {
          "target": "com.gcp.containeranalysis_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v4 score for the vulnerability."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
          }
        },
        "relatedUrls": {
          "target": "com.gcp.containeranalysis_v1#RelatedUrlList",
          "traits": {
            "smithy.api#documentation": "Output only. URLs related to this vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An occurrence of a severity vulnerability on a resource."
      }
    },
    "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceCvssVersionEnum": {
      "type": "enum",
      "members": {
        "CVSS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_UNSPECIFIED"
          }
        },
        "CVSS_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_2"
          }
        },
        "CVSS_VERSION_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_3"
          }
        },
        "CVSS_VERSION_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_4"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceEffectiveSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#VulnerabilityOccurrenceSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#PackageIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#PackageIssue"
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "type": "structure",
      "members": {
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        },
        "sourceFetcher": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify the tool to fetch the source file for the build."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Cloud Storage."
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum": {
      "type": "enum",
      "members": {
        "SOURCE_FETCHER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_FETCHER_UNSPECIFIED"
          }
        },
        "GSUTIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUTIL"
          }
        },
        "GCS_FETCHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_FETCHER"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#ComplianceVersion": {
      "type": "structure",
      "members": {
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to."
          }
        },
        "benchmarkDocument": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the CIS benchmark version that is applicable to a given OS and os version."
      }
    },
    "com.gcp.containeranalysis_v1#EnvelopeSignature": {
      "type": "structure",
      "members": {
        "keyid": {
          "target": "smithy.api#String"
        },
        "sig": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.containeranalysis_v1#SBOMReferenceNote": {
      "type": "structure",
      "members": {
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The format that SBOM takes. E.g. may be spdx, cyclonedx, etc..."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the format that the SBOM takes. E.g. if the format is spdx, the version may be 2.3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The note representing an SBOM reference."
      }
    },
    "com.gcp.containeranalysis_v1#CVSS": {
      "type": "structure",
      "members": {
        "privilegesRequired": {
          "target": "com.gcp.containeranalysis_v1#CVSSPrivilegesRequiredEnum",
          "traits": {
            "smithy.api#documentation": "Privileges Required (PR). Defined in CVSS v3, v4."
          }
        },
        "attackVector": {
          "target": "com.gcp.containeranalysis_v1#CVSSAttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "Attack Vector (AV). Defined in CVSS v2, v3, v4."
          }
        },
        "integrityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Integrity Impact (I). Defined in CVSS v2, v3."
          }
        },
        "subsequentSystemAvailabilityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSSubsequentSystemAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Availability Impact (SA). Defined in CVSS v4."
          }
        },
        "subsequentSystemConfidentialityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSSubsequentSystemConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4."
          }
        },
        "authentication": {
          "target": "com.gcp.containeranalysis_v1#CVSSAuthenticationEnum",
          "traits": {
            "smithy.api#documentation": "Authentication (Au). Defined in CVSS v2."
          }
        },
        "attackComplexity": {
          "target": "com.gcp.containeranalysis_v1#CVSSAttackComplexityEnum",
          "traits": {
            "smithy.api#documentation": "Attack Complexity (AC). Defined in CVSS v2, v3, v4."
          }
        },
        "subsequentSystemIntegrityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSSubsequentSystemIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Integrity Impact (SI). Defined in CVSS v4."
          }
        },
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The base score is a function of the base metric scores."
          }
        },
        "impactScore": {
          "target": "smithy.api#Double"
        },
        "userInteraction": {
          "target": "com.gcp.containeranalysis_v1#CVSSUserInteractionEnum",
          "traits": {
            "smithy.api#documentation": "User Interaction (UI). Defined in CVSS v3, v4."
          }
        },
        "scope": {
          "target": "com.gcp.containeranalysis_v1#CVSSScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope (S). Defined in CVSS v3."
          }
        },
        "vulnerableSystemIntegrityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSVulnerableSystemIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4."
          }
        },
        "availabilityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Availability Impact (A). Defined in CVSS v2, v3."
          }
        },
        "exploitabilityScore": {
          "target": "smithy.api#Double"
        },
        "attackRequirements": {
          "target": "com.gcp.containeranalysis_v1#CVSSAttackRequirementsEnum",
          "traits": {
            "smithy.api#documentation": "Attack Requirements (AT). Defined in CVSS v4."
          }
        },
        "vulnerableSystemConfidentialityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSVulnerableSystemConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4."
          }
        },
        "confidentialityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Confidentiality Impact (C). Defined in CVSS v2, v3."
          }
        },
        "vulnerableSystemAvailabilityImpact": {
          "target": "com.gcp.containeranalysis_v1#CVSSVulnerableSystemAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Availability Impact (VA). Defined in CVSS v4."
          }
        },
        "exploitMaturity": {
          "target": "com.gcp.containeranalysis_v1#CVSSExploitMaturityEnum",
          "traits": {
            "smithy.api#documentation": "Exploit Maturity (E). Defined in CVSS v4."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version."
      }
    },
    "com.gcp.containeranalysis_v1#CVSSPrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSAttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSSubsequentSystemAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSSubsequentSystemConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSAuthenticationEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_UNSPECIFIED"
          }
        },
        "AUTHENTICATION_MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_MULTIPLE"
          }
        },
        "AUTHENTICATION_SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_SINGLE"
          }
        },
        "AUTHENTICATION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_NONE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSAttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        },
        "ATTACK_COMPLEXITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_MEDIUM"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSSubsequentSystemIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSUserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        },
        "USER_INTERACTION_PASSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_PASSIVE"
          }
        },
        "USER_INTERACTION_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_ACTIVE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSVulnerableSystemIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSAttackRequirementsEnum": {
      "type": "enum",
      "members": {
        "ATTACK_REQUIREMENTS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_UNSPECIFIED"
          }
        },
        "ATTACK_REQUIREMENTS_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_NONE"
          }
        },
        "ATTACK_REQUIREMENTS_PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_PRESENT"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSVulnerableSystemConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSVulnerableSystemAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#CVSSExploitMaturityEnum": {
      "type": "enum",
      "members": {
        "EXPLOIT_MATURITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_UNSPECIFIED"
          }
        },
        "EXPLOIT_MATURITY_NOT_DEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_NOT_DEFINED"
          }
        },
        "EXPLOIT_MATURITY_ATTACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_ATTACKED"
          }
        },
        "EXPLOIT_MATURITY_POC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_POC"
          }
        },
        "EXPLOIT_MATURITY_UNREPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_UNREPORTED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#AISkillAnalysisNote": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "AISkillAnalysisNote provides the metadata of an AI-based skill analysis."
      }
    },
    "com.gcp.containeranalysis_v1#FixableTotalByDigest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The affected resource."
          }
        },
        "fixableCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of fixable vulnerabilities associated with this resource."
          }
        },
        "severity": {
          "target": "com.gcp.containeranalysis_v1#FixableTotalByDigestSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities."
          }
        },
        "totalCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of vulnerabilities associated with this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per resource and severity counts of fixable and total vulnerabilities."
      }
    },
    "com.gcp.containeranalysis_v1#FixableTotalByDigestSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1#BatchCreateNotesRequest": {
      "type": "structure",
      "members": {
        "notes": {
          "target": "com.gcp.containeranalysis_v1#NoteMap",
          "traits": {
            "smithy.api#documentation": "Required. The notes to create. Max allowed length is 1000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create notes in batch."
      }
    },
    "com.gcp.containeranalysis_v1#NoteMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.containeranalysis_v1#Note"
      }
    },
    "com.gcp.containeranalysis_v1#SlsaCompleteness": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
          }
        },
        "materials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
          }
        },
        "environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.environment is claimed to be complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.containeranalysis_v1#DeploymentNote": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "com.gcp.containeranalysis_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Resource URI for the artifact being deployed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An artifact that can be deployed in some runtime."
      }
    },
    "com.gcp.containeranalysis_v1#Category": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the category."
          }
        },
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category to which the update belongs."
      }
    },
    "com.gcp.containeranalysis_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.containeranalysis_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.containeranalysis_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1#Binding"
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.containeranalysis_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Results for a build step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for a build step."
      }
    },
    "com.gcp.containeranalysis_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "smithy.api#Boolean"
        },
        "environment": {
          "target": "smithy.api#Boolean"
        },
        "materials": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.containeranalysis_v1#BuildMetadata": {
      "type": "structure",
      "members": {
        "startedOn": {
          "target": "smithy.api#String"
        },
        "invocationId": {
          "target": "smithy.api#String"
        },
        "finishedOn": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
      "type": "structure",
      "members": {
        "mavenArtifacts": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifactList",
          "traits": {
            "smithy.api#documentation": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackageList",
          "traits": {
            "smithy.api#documentation": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "npmPackages": {
          "target": "com.gcp.containeranalysis_v1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackageList",
          "traits": {
            "smithy.api#documentation": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE."
          }
[...]
