{
  "smithy": "2.0",
  "metadata": {
    "service": "content",
    "version": "v2.1",
    "title": "Content API for Shopping",
    "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/"
  },
  "shapes": {
    "com.gcp.content_v2_1#InputFieldCheckboxInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Checkbox input allows merchants to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox). If merchant checks the box, the input value for the field is `true`, otherwise it is `false`. This type of input is often used as a confirmation that the merchant completed required steps before they are allowed to start the action. In such a case, the input field is marked as required and the button to trigger the action should stay disabled until the merchant checks the box."
      }
    },
    "com.gcp.content_v2_1#InputValueCheckboxInputValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. True if the merchant checked the box field. False otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Value for checkbox input field."
      }
    },
    "com.gcp.content_v2_1#AccountIssueImpact": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Disapproves 90k offers in 25 countries\""
          }
        },
        "severity": {
          "target": "com.gcp.content_v2_1#AccountIssueImpactSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the issue."
          }
        },
        "breakdowns": {
          "target": "com.gcp.content_v2_1#BreakdownList",
          "traits": {
            "smithy.api#documentation": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall impact of the issue."
      }
    },
    "com.gcp.content_v2_1#AccountIssueImpactSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.content_v2_1#BreakdownList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Breakdown"
      }
    },
    "com.gcp.content_v2_1#MethodQuota": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The method name, for example `products.list`. Method name does not contain version because quota can be shared between different API versions of the same method."
          }
        },
        "quotaUsage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current quota usage, meaning the number of calls already made to the method per day. Usage is reset every day at 12 PM midday UTC."
          }
        },
        "quotaLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum number of calls allowed per day for the method."
          }
        },
        "quotaMinuteLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum number of calls allowed per minute for the method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quota information per method in the Content API."
      }
    },
    "com.gcp.content_v2_1#BreakdownRegion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the region. For region with code='001' the value is 'All countries' or the equivalent in other languages."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region with code and localized name."
      }
    },
    "com.gcp.content_v2_1#AccountStatusProducts": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country the data applies to."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" "
          }
        },
        "statistics": {
          "target": "com.gcp.content_v2_1#AccountStatusStatistics",
          "traits": {
            "smithy.api#documentation": "Aggregated product statistics."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination the data applies to."
          }
        },
        "itemLevelIssues": {
          "target": "com.gcp.content_v2_1#AccountStatusItemLevelIssueList",
          "traits": {
            "smithy.api#documentation": "List of item-level issues."
          }
        }
      }
    },
    "com.gcp.content_v2_1#AccountStatusItemLevelIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#AccountStatusItemLevelIssue"
      }
    },
    "com.gcp.content_v2_1#VerifyPhoneNumberResponse": {
      "type": "structure",
      "members": {
        "verifiedPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verified phone number if verification is successful. This phone number can only be replaced by another verified phone number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the VerifyPhoneNumber method."
      }
    },
    "com.gcp.content_v2_1#AccountGoogleMyBusinessLink": {
      "type": "structure",
      "members": {
        "gmbEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Business Profile email address of a specific account within a Business Profile. A sample account within a Business Profile could be a business account with set of locations, managed under the Business Profile."
          }
        },
        "gmbAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Business Profile. If this is provided, then `gmbEmail` is ignored. The value of this field should match the `accountId` used by the Business Profile API."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the link between this Merchant Center account and the Business Profile. Acceptable values are: - \"`active`\" - \"`pending`\" "
          }
        }
      }
    },
    "com.gcp.content_v2_1#PaymentServiceProviderLinkInfo": {
      "type": "structure",
      "members": {
        "externalAccountBusinessCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business country of the merchant account as identified by the third party service provider."
          }
        },
        "externalAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id used by the third party service provider to identify the merchant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information required for PAYMENT_SERVICE_PROVIDER link type."
      }
    },
    "com.gcp.content_v2_1#CheckoutSettings": {
      "type": "structure",
      "members": {
        "reviewState": {
          "target": "com.gcp.content_v2_1#CheckoutSettingsReviewStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reflects the merchant review state in `Checkout` feature. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an enrollment_state of `ENROLLED` before a review can begin for the merchant."
          }
        },
        "effectiveUriSettings": {
          "target": "com.gcp.content_v2_1#UrlSettings",
          "traits": {
            "smithy.api#documentation": "The effective value of `url_settings` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account."
          }
        },
        "effectiveReviewState": {
          "target": "com.gcp.content_v2_1#CheckoutSettingsEffectiveReviewStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of review state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account."
          }
        },
        "uriSettings": {
          "target": "com.gcp.content_v2_1#UrlSettings",
          "traits": {
            "smithy.api#documentation": "URL settings for cart or checkout URL."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the account."
          }
        },
        "enrollmentState": {
          "target": "com.gcp.content_v2_1#CheckoutSettingsEnrollmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reflects the merchant enrollment state in `Checkout` feature."
          }
        },
        "effectiveEnrollmentState": {
          "target": "com.gcp.content_v2_1#CheckoutSettingsEffectiveEnrollmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of enrollment state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CheckoutSettings` for a specific merchant ID."
      }
    },
    "com.gcp.content_v2_1#CheckoutSettingsReviewStateEnum": {
      "type": "enum",
      "members": {
        "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REVIEW"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "DISAPPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISAPPROVED"
          }
        }
      }
    },
    "com.gcp.content_v2_1#CheckoutSettingsEffectiveReviewStateEnum": {
      "type": "enum",
      "members": {
        "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REVIEW"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "DISAPPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISAPPROVED"
          }
        }
      }
    },
    "com.gcp.content_v2_1#CheckoutSettingsEnrollmentStateEnum": {
      "type": "enum",
      "members": {
        "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLLED"
          }
        },
        "OPT_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPT_OUT"
          }
        }
      }
    },
    "com.gcp.content_v2_1#CheckoutSettingsEffectiveEnrollmentStateEnum": {
      "type": "enum",
      "members": {
        "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLLED"
          }
        },
        "OPT_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPT_OUT"
          }
        }
      }
    },
    "com.gcp.content_v2_1#CutoffTime": {
      "type": "structure",
      "members": {
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone identifier for the cutoff time (for example, \"Europe/Zurich\"). List of identifiers. Required."
          }
        },
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required."
          }
        }
      }
    },
    "com.gcp.content_v2_1#PosCustomBatchRequestEntry": {
      "type": "structure",
      "members": {
        "store": {
          "target": "com.gcp.content_v2_1#PosStore",
          "traits": {
            "smithy.api#documentation": "The store information to submit. This should be set only if the method is `insert`."
          }
        },
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An entry ID, unique within the batch request."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The store code. This should be set only if the method is `delete` or `get`."
          }
        },
        "targetMerchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the account for which to get/submit data."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" "
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the POS data provider."
          }
        },
        "inventory": {
          "target": "com.gcp.content_v2_1#PosInventory",
          "traits": {
            "smithy.api#documentation": "The inventory to submit. This should be set only if the method is `inventory`."
          }
        },
        "sale": {
          "target": "com.gcp.content_v2_1#PosSale",
          "traits": {
            "smithy.api#documentation": "The sale information to submit. This should be set only if the method is `sale`."
          }
        }
      }
    },
    "com.gcp.content_v2_1#Region": {
      "type": "structure",
      "members": {
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The ID uniquely identifying each region."
          }
        },
        "regionalInventoryEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible to use in the Regional Inventory configuration."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the region."
          }
        },
        "postalCodeArea": {
          "target": "com.gcp.content_v2_1#RegionPostalCodeArea",
          "traits": {
            "smithy.api#documentation": "A list of postal codes that defines the region area."
          }
        },
        "geotargetArea": {
          "target": "com.gcp.content_v2_1#RegionGeoTargetArea",
          "traits": {
            "smithy.api#documentation": "A list of geotargets that defines the region area."
          }
        },
        "shippingEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible to use in the Shipping Services configuration."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. Merchant that owns the region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets."
      }
    },
    "com.gcp.content_v2_1#ProductstatusesCustomBatchRequest": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#ProductstatusesCustomBatchRequestEntryList",
          "traits": {
            "smithy.api#documentation": "The request entries to be processed in the batch."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ProductstatusesCustomBatchRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ProductstatusesCustomBatchRequestEntry"
      }
    },
    "com.gcp.content_v2_1#ProductViewItemIssueItemIssueSeverity": {
      "type": "structure",
      "members": {
        "severityPerDestination": {
          "target": "com.gcp.content_v2_1#ProductViewItemIssueIssueSeverityPerDestinationList",
          "traits": {
            "smithy.api#documentation": "Item issue severity for every destination."
          }
        },
        "aggregatedSeverity": {
          "target": "com.gcp.content_v2_1#ProductViewItemIssueItemIssueSeverityAggregatedSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of an issue aggregated for destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Severity of an issue per destination in a region, and aggregated severity."
      }
    },
    "com.gcp.content_v2_1#ProductViewItemIssueIssueSeverityPerDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ProductViewItemIssueIssueSeverityPerDestination"
      }
    },
    "com.gcp.content_v2_1#ProductViewItemIssueItemIssueSeverityAggregatedSeverityEnum": {
      "type": "enum",
      "members": {
        "AGGREGATED_ISSUE_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATED_ISSUE_SEVERITY_UNSPECIFIED"
          }
        },
        "DISAPPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISAPPROVED"
          }
        },
        "DEMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMOTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.content_v2_1#PriceCompetitiveness": {
      "type": "structure",
      "members": {
        "benchmarkPriceCurrencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price benchmark currency (ISO 4217 code)."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country of the price benchmark (ISO 3166 code)."
          }
        },
        "benchmarkPriceMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest available price benchmark in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product's catalog in the benchmark country."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`. https://support.google.com/merchants/answer/9626903"
      }
    },
    "com.gcp.content_v2_1#AccountIssue": {
      "type": "structure",
      "members": {
        "prerenderedContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of the issue as a pre-rendered HTML. HTML elements contain CSS classes that can be used to customize the style of the content. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `issue-detail` - top level container for the detail of the issue * `callout-banners` - section of the `issue-detail` with callout banners * `callout-banner` - single callout banner, inside `callout-banners` * `callout-banner-info` - callout with important information (default) * `callout-banner-warning` - callout with a warning * `callout-banner-error` - callout informing about an error (most severe) * `issue-content` - section of the `issue-detail`, contains multiple `content-element` * `content-element` - content element such as a list, link or paragraph, inside `issue-content` * `root-causes` - unordered list with items describing root causes of the issue, inside `issue-content` * `root-causes-intro` - intro text before the `root-causes` list, inside `issue-content` * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon. * `content-moderation` - marks the paragraph that explains how the issue was identified. * `new-element` - Present for new elements added to the pre-rendered content in the future. To make sure that a new content element does not break your style, you can hide everything with this class."
          }
        },
        "actions": {
          "target": "com.gcp.content_v2_1#ActionList",
          "traits": {
            "smithy.api#documentation": "A list of actionable steps that can be executed to solve the issue. An example is requesting a re-review or providing arguments when merchant disagrees with the issue. Actions that are supported in (your) third-party application can be rendered as buttons and should be available to merchant when they expand the issue."
          }
        },
        "prerenderedOutOfCourtDisputeSettlement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre-rendered HTML that contains a link to the external location where the ODS can be requested and instructions for how to request it. HTML elements contain CSS classes that can be used to customize the style of this snippet. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `ods-section`* - wrapper around the out-of-court dispute resolution section * `ods-description`* - intro text for the out-of-court dispute resolution. It may contain multiple segments and a link. * `ods-param`* - wrapper around the header-value pair for parameters that merchant may need to provide during the ODS process. * `ods-routing-id`* - ods param for the Routing ID. * `ods-reference-id`* - ods param for the Routing ID. * `ods-param-header`* - header for the ODS parameter * `ods-param-value`* - value of the ODS parameter. This value should be rendered in a way that it is easy for merchants to identify and copy. * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the issue."
          }
        },
        "impact": {
          "target": "com.gcp.content_v2_1#AccountIssueImpact",
          "traits": {
            "smithy.api#documentation": "Clarifies the severity of the issue. The summarizing message, if present, should be shown right under the title for each issue. It helps merchants to quickly understand the impact of the issue. The detailed breakdown helps the merchant to fully understand the impact of the issue. It can be rendered as dialog that opens when the merchant mouse over the summarized impact statement. Issues with different severity can be styled differently. They may use a different color or icon to signal the difference between `ERROR`, `WARNING` and `INFO`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An issue affecting specific merchant."
      }
    },
    "com.gcp.content_v2_1#ActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Action"
      }
    },
    "com.gcp.content_v2_1#LocalinventoryCustomBatchRequest": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#LocalinventoryCustomBatchRequestEntryList",
          "traits": {
            "smithy.api#documentation": "The request entries to be processed in the batch."
          }
        }
      }
    },
    "com.gcp.content_v2_1#LocalinventoryCustomBatchRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#LocalinventoryCustomBatchRequestEntry"
      }
    },
    "com.gcp.content_v2_1#InputValueChoiceInputValue": {
      "type": "structure",
      "members": {
        "choiceInputOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Id of the option that was selected by the merchant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Value for choice input field."
      }
    },
    "com.gcp.content_v2_1#Price": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the price."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price represented as a number."
          }
        }
      }
    },
    "com.gcp.content_v2_1#BuiltInSimpleAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.content_v2_1#BuiltInSimpleActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of action that represents a functionality that is expected to be available in third-party application."
          }
        },
        "attributeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attribute that needs to be updated. Present when the type is `EDIT_ITEM_ATTRIBUTE`. This field contains a code for attribute, represented in snake_case. You can find a list of product's attributes, with their codes [here](https://support.google.com/merchants/answer/7052112)."
          }
        },
        "additionalContent": {
          "target": "com.gcp.content_v2_1#BuiltInSimpleActionAdditionalContent",
          "traits": {
            "smithy.api#documentation": "Long text from an external source that should be available to the merchant. Present when the type is `SHOW_ADDITIONAL_CONTENT`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action that is implemented and performed in (your) third-party application. Represents various functionality that is expected to be available to merchant and will help them with resolving the issue. The application should point the merchant to the place, where they can access the corresponding functionality. If the functionality is not supported, it is recommended to explain the situation to merchant and provide them with instructions how to solve the issue."
      }
    },
    "com.gcp.content_v2_1#BuiltInSimpleActionTypeEnum": {
      "type": "enum",
      "members": {
        "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED"
          }
        },
        "VERIFY_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_PHONE"
          }
        },
        "CLAIM_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLAIM_WEBSITE"
          }
        },
        "ADD_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_PRODUCTS"
          }
        },
        "ADD_CONTACT_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_CONTACT_INFO"
          }
        },
        "LINK_ADS_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_ADS_ACCOUNT"
          }
        },
        "ADD_BUSINESS_REGISTRATION_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_BUSINESS_REGISTRATION_NUMBER"
          }
        },
        "EDIT_ITEM_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDIT_ITEM_ATTRIBUTE"
          }
        },
        "FIX_ACCOUNT_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIX_ACCOUNT_ISSUE"
          }
        },
        "SHOW_ADDITIONAL_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_ADDITIONAL_CONTENT"
          }
        }
      }
    },
    "com.gcp.content_v2_1#AccountsCustomBatchResponseEntry": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.content_v2_1#Account",
          "traits": {
            "smithy.api#documentation": "The retrieved, created, or updated account. Not defined if the method was `delete`, `claimwebsite` or `link`."
          }
        },
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the request entry this entry responds to."
          }
        },
        "errors": {
          "target": "com.gcp.content_v2_1#Errors",
          "traits": {
            "smithy.api#documentation": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsCustomBatchResponseEntry`\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch entry encoding a single non-batch accounts response."
      }
    },
    "com.gcp.content_v2_1#LocalinventoryCustomBatchRequestEntry": {
      "type": "structure",
      "members": {
        "localInventory": {
          "target": "com.gcp.content_v2_1#LocalInventory",
          "traits": {
            "smithy.api#documentation": "Local inventory of the product."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Method of the batch request entry. Acceptable values are: - \"`insert`\" "
          }
        },
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An entry ID, unique within the batch request."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managing account."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product for which to update local inventory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Batch entry encoding a single local inventory update request."
      }
    },
    "com.gcp.content_v2_1#ListCollectionStatusesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.content_v2_1#CollectionStatusList",
          "traits": {
            "smithy.api#documentation": "The collectionstatuses listed."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListCollectionStatuses method."
      }
    },
    "com.gcp.content_v2_1#CollectionStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#CollectionStatus"
      }
    },
    "com.gcp.content_v2_1#BusinessDayConfig": {
      "type": "structure",
      "members": {
        "businessDays": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "Regular business days, such as '\"monday\"'. May not be empty."
          }
        }
      }
    },
    "com.gcp.content_v2_1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.content_v2_1#PriceAmount": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price represented as a number."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the price."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price represented as a number and currency."
      }
    },
    "com.gcp.content_v2_1#PosSaleResponse": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The inventory timestamp, in ISO 8601 format."
          }
        },
        "saleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID to group items from the same sale event."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
          }
        },
        "targetCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The CLDR territory code for the item."
          }
        },
        "price": {
          "target": "com.gcp.content_v2_1#Price",
          "traits": {
            "smithy.api#documentation": "Required. The price of the item."
          }
        },
        "gtin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Global Trade Item Number."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative change of the available quantity. Negative for items returned."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSaleResponse`\"."
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the item."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The two-letter ISO 639-1 language code for the item."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ListReturnPolicyOnlineResponse": {
      "type": "structure",
      "members": {
        "returnPolicies": {
          "target": "com.gcp.content_v2_1#ReturnPolicyOnlineList",
          "traits": {
            "smithy.api#documentation": "The retrieved return policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListReturnPolicyOnline` method."
      }
    },
    "com.gcp.content_v2_1#ReturnPolicyOnlineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ReturnPolicyOnline"
      }
    },
    "com.gcp.content_v2_1#OrderTrackingSignalShipmentLineItemMapping": {
      "type": "structure",
      "members": {
        "shipmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The line item quantity in the shipment."
          }
        },
        "lineItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The line item ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents how many items are in the shipment for the given shipment_id and line_item_id."
      }
    },
    "com.gcp.content_v2_1#LiaOnDisplayToOrderSettings": {
      "type": "structure",
      "members": {
        "shippingCostPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shipping cost and policy URL."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
          }
        }
      }
    },
    "com.gcp.content_v2_1#DeliveryArea": {
      "type": "structure",
      "members": {
        "postalCodeRange": {
          "target": "com.gcp.content_v2_1#DeliveryAreaPostalCodeRange",
          "traits": {
            "smithy.api#documentation": "A postal code, postal code range or postal code prefix that defines this area. Limited to US and AUS."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The country that the product can be delivered to. Submit a [unicode CLDR region](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) such as `US` or `CH`."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A state, territory, or prefecture. This is supported for the United States, Australia, and Japan. Provide a subdivision code from the ISO 3166-2 code tables ([US](https://en.wikipedia.org/wiki/ISO_3166-2:US), [AU](https://en.wikipedia.org/wiki/ISO_3166-2:AU), or [JP](https://en.wikipedia.org/wiki/ISO_3166-2:JP)) without country prefix (for example, `\"NY\"`, `\"NSW\"`, `\"03\"`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A delivery area for the product. Only one of `countryCode` or `postalCodeRange` must be set."
      }
    },
    "com.gcp.content_v2_1#ShippingsettingsCustomBatchResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#ShippingsettingsCustomBatchResponseEntryList",
          "traits": {
            "smithy.api#documentation": "The result of the execution of the batch requests."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ShippingsettingsCustomBatchResponseEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ShippingsettingsCustomBatchResponseEntry"
      }
    },
    "com.gcp.content_v2_1#LabelIds": {
      "type": "structure",
      "members": {
        "labelIds": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of label IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IDs of labels that should be assigned to the CSS domain."
      }
    },
    "com.gcp.content_v2_1#LiasettingsListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the retrieval of the next page of LIA settings."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListResponse`\"."
          }
        },
        "resources": {
          "target": "com.gcp.content_v2_1#LiaSettingsList"
        }
      }
    },
    "com.gcp.content_v2_1#LiaSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#LiaSettings"
      }
    },
    "com.gcp.content_v2_1#FreeListingsProgramStatus": {
      "type": "structure",
      "members": {
        "globalState": {
          "target": "com.gcp.content_v2_1#FreeListingsProgramStatusGlobalStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the program. `ENABLED` if there are offers for at least one region."
          }
        },
        "regionStatuses": {
          "target": "com.gcp.content_v2_1#FreeListingsProgramStatusRegionStatusList",
          "traits": {
            "smithy.api#documentation": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetFreeListingsProgramStatus."
      }
    },
    "com.gcp.content_v2_1#FreeListingsProgramStatusGlobalStateEnum": {
      "type": "enum",
      "members": {
        "PROGRAM_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAM_STATE_UNSPECIFIED"
          }
        },
        "NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENABLED"
          }
        },
        "NO_OFFERS_UPLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OFFERS_UPLOADED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.content_v2_1#FreeListingsProgramStatusRegionStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#FreeListingsProgramStatusRegionStatus"
      }
    },
    "com.gcp.content_v2_1#ProductsCustomBatchResponseEntry": {
      "type": "structure",
      "members": {
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the request entry this entry responds to."
          }
        },
        "product": {
          "target": "com.gcp.content_v2_1#Product",
          "traits": {
            "smithy.api#documentation": "The inserted product. Only defined if the method is `insert` and if the request was successful."
          }
        },
        "errors": {
          "target": "com.gcp.content_v2_1#Errors",
          "traits": {
            "smithy.api#documentation": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch entry encoding a single non-batch products response."
      }
    },
    "com.gcp.content_v2_1#ActionInput": {
      "type": "structure",
      "members": {
        "actionFlowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Id of the selected action flow."
          }
        },
        "inputValues": {
          "target": "com.gcp.content_v2_1#InputValueList",
          "traits": {
            "smithy.api#documentation": "Required. Values for input fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input provided by the merchant."
      }
    },
    "com.gcp.content_v2_1#InputValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#InputValue"
      }
    },
    "com.gcp.content_v2_1#AttributionSettings": {
      "type": "structure",
      "members": {
        "attributionLookbackWindowInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Lookback windows (in days) used for attribution in this source. Supported values are 7, 30, 40."
          }
        },
        "attributionModel": {
          "target": "com.gcp.content_v2_1#AttributionSettingsAttributionModelEnum"
        },
        "conversionType": {
          "target": "com.gcp.content_v2_1#AttributionSettingsConversionTypeList",
          "traits": {
            "smithy.api#documentation": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents attribution settings for conversion sources receiving pre-attribution data."
      }
    },
    "com.gcp.content_v2_1#AttributionSettingsAttributionModelEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTION_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_MODEL_UNSPECIFIED"
          }
        },
        "CROSS_CHANNEL_LAST_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_LAST_CLICK"
          }
        },
        "ADS_PREFERRED_LAST_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADS_PREFERRED_LAST_CLICK"
          }
        },
        "CROSS_CHANNEL_DATA_DRIVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_DATA_DRIVEN"
          }
        },
        "CROSS_CHANNEL_FIRST_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_FIRST_CLICK"
          }
        },
        "CROSS_CHANNEL_LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_LINEAR"
          }
        },
        "CROSS_CHANNEL_POSITION_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_POSITION_BASED"
          }
        },
        "CROSS_CHANNEL_TIME_DECAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_CHANNEL_TIME_DECAY"
          }
        }
      }
    },
    "com.gcp.content_v2_1#AttributionSettingsConversionTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#AttributionSettingsConversionType"
      }
    },
    "com.gcp.content_v2_1#Table": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table. Required for subtables, ignored for the main table."
          }
        },
        "rowHeaders": {
          "target": "com.gcp.content_v2_1#Headers",
          "traits": {
            "smithy.api#documentation": "Headers of the table's rows. Required."
          }
        },
        "columnHeaders": {
          "target": "com.gcp.content_v2_1#Headers",
          "traits": {
            "smithy.api#documentation": "Headers of the table's columns. Optional: if not set then the table has only one dimension."
          }
        },
        "rows": {
          "target": "com.gcp.content_v2_1#RowList",
          "traits": {
            "smithy.api#documentation": "The list of rows that constitute the table. Must have the same length as `rowHeaders`. Required."
          }
        }
      }
    },
    "com.gcp.content_v2_1#RowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Row"
      }
    },
    "com.gcp.content_v2_1#Row": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.content_v2_1#ValueList",
          "traits": {
            "smithy.api#documentation": "The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables. Required."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Value"
      }
    },
    "com.gcp.content_v2_1#InputFieldChoiceInput": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.content_v2_1#InputFieldChoiceInputChoiceInputOptionList",
          "traits": {
            "smithy.api#documentation": "A list of choices. Only one option can be selected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choice input allows merchants to select one of the offered choices. Some choices may be linked to additional input fields that should be displayed under or next to the choice option. The value for the additional input field needs to be provided only when the specific choice is selected by the merchant. For example, additional input field can be hidden or disabled until the merchant selects the specific choice."
      }
    },
    "com.gcp.content_v2_1#InputFieldChoiceInputChoiceInputOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#InputFieldChoiceInputChoiceInputOption"
      }
    },
    "com.gcp.content_v2_1#LocalinventoryCustomBatchResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#LocalinventoryCustomBatchResponseEntryList",
          "traits": {
            "smithy.api#documentation": "The result of the execution of the batch requests."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#LocalinventoryCustomBatchResponseEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#LocalinventoryCustomBatchResponseEntry"
      }
    },
    "com.gcp.content_v2_1#LiasettingsCustomBatchResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#LiasettingsCustomBatchResponseEntryList",
          "traits": {
            "smithy.api#documentation": "The result of the execution of the batch requests."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsCustomBatchResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#LiasettingsCustomBatchResponseEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#LiasettingsCustomBatchResponseEntry"
      }
    },
    "com.gcp.content_v2_1#AccountConversionSettings": {
      "type": "structure",
      "members": {
        "freeListingsAutoTaggingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, free listing URLs have a parameter to enable conversion tracking for products owned by the current merchant account. See [auto-tagging](https://support.google.com/merchants/answer/11127659)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for conversion tracking."
      }
    },
    "com.gcp.content_v2_1#RegionPostalCodeArea": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR territory code or the country the postal code group applies to."
          }
        },
        "postalCodes": {
          "target": "com.gcp.content_v2_1#RegionPostalCodeAreaPostalCodeRangeList",
          "traits": {
            "smithy.api#documentation": "Required. A range of postal codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible via the account's `ShippingSettings.postalCodeGroups` resource."
      }
    },
    "com.gcp.content_v2_1#RegionPostalCodeAreaPostalCodeRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#RegionPostalCodeAreaPostalCodeRange"
      }
    },
    "com.gcp.content_v2_1#DatafeedsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsListResponse`\"."
          }
        },
        "resources": {
          "target": "com.gcp.content_v2_1#DatafeedList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the retrieval of the next page of datafeeds."
          }
        }
      }
    },
    "com.gcp.content_v2_1#DatafeedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Datafeed"
      }
    },
    "com.gcp.content_v2_1#OrderTrackingSignalShippingInfo": {
      "type": "structure",
      "members": {
        "shipmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response."
          }
        },
        "actualDeliveryTime": {
          "target": "com.gcp.content_v2_1#DateTime",
          "traits": {
            "smithy.api#documentation": "The time when the shipment was actually delivered. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking ID of the shipment. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time."
          }
        },
        "originRegionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping origin."
          }
        },
        "shippedTime": {
          "target": "com.gcp.content_v2_1#DateTime",
          "traits": {
            "smithy.api#documentation": "The time when the shipment was shipped. Include the year and timezone string, if available."
          }
        },
        "earliestDeliveryPromiseTime": {
          "target": "com.gcp.content_v2_1#DateTime",
          "traits": {
            "smithy.api#documentation": "The earliest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name."
          }
        },
        "latestDeliveryPromiseTime": {
          "target": "com.gcp.content_v2_1#DateTime",
          "traits": {
            "smithy.api#documentation": "The latest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name."
          }
        },
        "shippingStatus": {
          "target": "com.gcp.content_v2_1#OrderTrackingSignalShippingInfoShippingStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the shipment."
          }
        },
        "originPostalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin postal code, as a continuous string without spaces or dashes, e.g. \"95016\". This field will be anonymized in returned OrderTrackingSignal creation response."
          }
        },
        "carrierName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the shipping carrier for the delivery. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time."
          }
        },
        "carrierServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service type for fulfillment, e.g., GROUND, FIRST_CLASS, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The shipping information for the order."
      }
    },
    "com.gcp.content_v2_1#OrderTrackingSignalShippingInfoShippingStatusEnum": {
      "type": "enum",
      "members": {
        "SHIPPING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING_STATE_UNSPECIFIED"
          }
        },
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPED"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERED"
          }
        }
      }
    },
    "com.gcp.content_v2_1#CustomAttribute": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the attribute."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute. Underscores will be replaced by spaces upon insertion."
          }
        },
        "groupValues": {
          "target": "com.gcp.content_v2_1#CustomAttributeList",
          "traits": {
            "smithy.api#documentation": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that represents custom attributes. Exactly one of `value` or `groupValues` must be provided. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per merchant, with total size of 102.4kB."
      }
    },
    "com.gcp.content_v2_1#CustomAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#CustomAttribute"
      }
    },
    "com.gcp.content_v2_1#BuiltInUserInputAction": {
      "type": "structure",
      "members": {
        "actionContext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal details. Not for display but need to be sent back when triggering the action."
          }
        },
        "flows": {
          "target": "com.gcp.content_v2_1#ActionFlowList",
          "traits": {
            "smithy.api#documentation": "Actions may provide multiple different flows. Merchant selects one that fits best to their intent. Selecting the flow is the first step in user's interaction with the action. It affects what input fields will be available and required and also how the request will be processed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action that is implemented and performed in (your) third-party application. The application needs to show an additional content and input form to the merchant. They can start the action only when they provided all required inputs. The application will request processing of the action by calling the [triggeraction method](https://developers.google.com/shopping-content/reference/rest/v2.1/merchantsupport/triggeraction)."
      }
    },
    "com.gcp.content_v2_1#ActionFlowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ActionFlow"
      }
    },
    "com.gcp.content_v2_1#RecommendationCreative": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the creative."
          }
        },
        "type": {
          "target": "com.gcp.content_v2_1#RecommendationCreativeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the creative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative is a multimedia attachment to recommendation that can be used on the frontend."
      }
    },
    "com.gcp.content_v2_1#RecommendationCreativeTypeEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_TYPE_UNSPECIFIED"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "PHOTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTO"
          }
        }
      }
    },
    "com.gcp.content_v2_1#AccountImageImprovements": {
      "type": "structure",
      "members": {
        "accountImageImprovementsSettings": {
          "target": "com.gcp.content_v2_1#AccountImageImprovementsSettings",
          "traits": {
            "smithy.api#documentation": "Determines how the images should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
          }
        },
        "effectiveAllowAutomaticImageImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)"
      }
    },
    "com.gcp.content_v2_1#Errors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The HTTP status of the first error in `errors`."
          }
        },
        "errors": {
          "target": "com.gcp.content_v2_1#Content_ErrorList",
          "traits": {
            "smithy.api#documentation": "A list of errors."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message of the first error in `errors`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of errors returned by a failed batch entry."
      }
    },
    "com.gcp.content_v2_1#Content_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Content_Error"
      }
    },
    "com.gcp.content_v2_1#ShippingSettings": {
      "type": "structure",
      "members": {
        "warehouses": {
          "target": "com.gcp.content_v2_1#WarehouseList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of warehouses which can be referred to in `services`."
          }
        },
        "services": {
          "target": "com.gcp.content_v2_1#ServiceList",
          "traits": {
            "smithy.api#documentation": "The target account's list of services. Optional."
          }
        },
        "postalCodeGroups": {
          "target": "com.gcp.content_v2_1#PostalCodeGroupList",
          "traits": {
            "smithy.api#documentation": "A list of postal code groups that can be referred to in `services`. Optional."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the account to which these account shipping settings belong. Ignored upon update, always present in get request responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The merchant account's shipping settings. All methods except getsupportedcarriers and getsupportedholidays require the admin role."
      }
    },
    "com.gcp.content_v2_1#WarehouseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Warehouse"
      }
    },
    "com.gcp.content_v2_1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#Service"
      }
    },
    "com.gcp.content_v2_1#PostalCodeGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#PostalCodeGroup"
      }
    },
    "com.gcp.content_v2_1#ListConversionSourcesResponse": {
      "type": "structure",
      "members": {
        "conversionSources": {
          "target": "com.gcp.content_v2_1#ConversionSourceList",
          "traits": {
            "smithy.api#documentation": "List of conversion sources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be used to fetch the next results page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListConversionSources method."
      }
    },
    "com.gcp.content_v2_1#ConversionSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ConversionSource"
      }
    },
    "com.gcp.content_v2_1#AccountShippingImprovements": {
      "type": "structure",
      "members": {
        "allowShippingImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic shipping improvements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
      }
    },
    "com.gcp.content_v2_1#AccountsLinkResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsLinkResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#Service": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
          }
        },
        "deliveryTime": {
          "target": "com.gcp.content_v2_1#DeliveryTime",
          "traits": {
            "smithy.api#documentation": "Time spent in various aspects from order to the delivery of the product. Required."
          }
        },
        "minimumOrderValueTable": {
          "target": "com.gcp.content_v2_1#MinimumOrderValueTable",
          "traits": {
            "smithy.api#documentation": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value."
          }
        },
        "deliveryCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR territory code of the country to which the service applies. Required."
          }
        },
        "minimumOrderValue": {
          "target": "com.gcp.content_v2_1#Price",
          "traits": {
            "smithy.api#documentation": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form name of the service. Must be unique within target account. Required."
          }
        },
        "eligibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" "
          }
        },
        "storeConfig": {
          "target": "com.gcp.content_v2_1#ServiceStoreConfig",
          "traits": {
            "smithy.api#documentation": "A list of stores your products are delivered from. This is only available for the local delivery shipment type."
          }
        },
        "pickupService": {
          "target": "com.gcp.content_v2_1#PickupCarrierService",
          "traits": {
            "smithy.api#documentation": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`."
          }
        },
        "rateGroups": {
          "target": "com.gcp.content_v2_1#RateGroupList",
          "traits": {
            "smithy.api#documentation": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean exposing the active status of the shipping service. Required."
          }
        },
        "shipmentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" "
          }
        }
      }
    },
    "com.gcp.content_v2_1#RateGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#RateGroup"
      }
    },
    "com.gcp.content_v2_1#LiaOmnichannelExperience": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR country code (for example, \"US\")."
          }
        },
        "pickupTypes": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" "
          }
        },
        "lsfType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Omnichannel experience details."
      }
    },
    "com.gcp.content_v2_1#AccountStatus": {
      "type": "structure",
      "members": {
        "websiteClaimed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account's website is claimed or not."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
          }
        },
        "products": {
          "target": "com.gcp.content_v2_1#AccountStatusProductsList",
          "traits": {
            "smithy.api#documentation": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes."
          }
        },
        "accountManagement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" "
          }
        },
        "accountLevelIssues": {
          "target": "com.gcp.content_v2_1#AccountStatusAccountLevelIssueList",
          "traits": {
            "smithy.api#documentation": "A list of account level issues."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the account for which the status is reported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of an account, that is, information about its products, which is computed offline and not returned immediately at insertion time."
      }
    },
    "com.gcp.content_v2_1#AccountStatusProductsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#AccountStatusProducts"
      }
    },
    "com.gcp.content_v2_1#AccountStatusAccountLevelIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#AccountStatusAccountLevelIssue"
      }
    },
    "com.gcp.content_v2_1#AccountsAuthInfoResponse": {
      "type": "structure",
      "members": {
        "accountIdentifiers": {
          "target": "com.gcp.content_v2_1#AccountIdentifierList",
          "traits": {
            "smithy.api#documentation": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. "
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsAuthInfoResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#AccountIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#AccountIdentifier"
      }
    },
    "com.gcp.content_v2_1#ProductsCustomBatchResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.content_v2_1#ProductsCustomBatchResponseEntryList",
          "traits": {
            "smithy.api#documentation": "The result of the execution of the batch requests."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ProductsCustomBatchResponseEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#ProductsCustomBatchResponseEntry"
      }
    },
    "com.gcp.content_v2_1#TransitTableTransitTimeRow": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.content_v2_1#TransitTableTransitTimeRowTransitTimeValueList"
        }
      }
    },
    "com.gcp.content_v2_1#TransitTableTransitTimeRowTransitTimeValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#TransitTableTransitTimeRowTransitTimeValue"
      }
    },
    "com.gcp.content_v2_1#UrlSettings": {
      "type": "structure",
      "members": {
        "checkoutUriTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart."
          }
        },
        "cartUriTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)"
      }
    },
    "com.gcp.content_v2_1#AccountstatusesCustomBatchRequestEntry": {
      "type": "structure",
      "members": {
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managing account."
          }
        },
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An entry ID, unique within the batch request."
          }
        },
        "destinations": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method of the batch entry. Acceptable values are: - \"`get`\" "
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the (sub-)account whose status to get."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch entry encoding a single non-batch accountstatuses request."
      }
    },
    "com.gcp.content_v2_1#Warehouse": {
      "type": "structure",
      "members": {
        "shippingAddress": {
          "target": "com.gcp.content_v2_1#Address",
          "traits": {
            "smithy.api#documentation": "Required. Shipping address of the warehouse."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the warehouse. Must be unique within account."
          }
        },
        "cutoffTime": {
          "target": "com.gcp.content_v2_1#WarehouseCutoffTime",
          "traits": {
            "smithy.api#documentation": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code."
          }
        },
        "handlingDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item."
          }
        },
        "businessDayConfig": {
          "target": "com.gcp.content_v2_1#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "Business days of the warehouse. If not set, will be Monday to Friday by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A fulfillment warehouse, which stores and handles inventory."
      }
    },
    "com.gcp.content_v2_1#LiasettingsListPosDataProvidersResponse": {
      "type": "structure",
      "members": {
        "posDataProviders": {
          "target": "com.gcp.content_v2_1#PosDataProvidersList",
          "traits": {
            "smithy.api#documentation": "The list of POS data providers for each eligible country"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListPosDataProvidersResponse`\"."
          }
        }
      }
    },
    "com.gcp.content_v2_1#PosDataProvidersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.content_v2_1#PosDataProviders"
      }
    },
    "com.gcp.content_v2_1#Weight": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" "
          }
        }
      }
    },
    "com.gcp.content_v2_1#PosInventory": {
      "type": "structure",
      "members": {
        "pickupSla": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The two-letter ISO 639-1 language code for the item."
          }
        },
        "gtin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Global Trade Item Number."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The available quantity of the item."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventory`\""
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the item."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The inventory timestamp, in ISO 8601 format."
          }
        },
        "pickupMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
          }
        },
        "targetCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The CLDR territory code for the item."
          }
        },
        "price": {
          "target": "com.gcp.content_v2_1#Price",
          "traits": {
            "smithy.api#documentation": "Required. The current price of the item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The absolute quantity of an item available at the given store."
      }
    },
    "com.gcp.content_v2_1#ProductSustainabilityIncentive": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The percentage of the sale price that the incentive is applied to."
          }
        },
        "type": {
          "target": "com.gcp.content_v2_1#ProductSustainabilityIncentiveTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Sustainability incentive program."
          }
        },
        "amount": {
          "target": "com.gcp.content_v2_1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. The fixed amount of the incentive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding sustainability related incentive programs such as rebates or tax relief."
      }
    },
    "com.gcp.content_v2_1#ProductSustainabilityIncentiveTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "EV_TAX_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EV_TAX_CREDIT"
          }
        },
        "EV_PRICE_DISCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EV_PRICE_DISCOUNT"
          }
        }
      }
    },
    "com.gcp.content_v2_1#AccountsUpdateLabelsRequest": {
      "type": "structure",
      "members": {
        "labelIds": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of labels that should be assigned to the account."
          }
        }
      }
    },
    "com.gcp.content_v2_1#LiasettingsCustomBatchRequestEntry": {
      "type": "structure",
      "members": {
        "gmbEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Business Profile. Required only for RequestGmbAccess."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" "
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the account for which to get/update account LIA settings."
          }
        },
        "contactEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inventory validation contact email. Required only for SetInventoryValidationContact."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country code. Required only for RequestInventoryVerification."
          }
        },
        "batchId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An entry ID, unique within the batch request."
          }
        },
        "omnichannelExperience": {
          "target": "com.gcp.content_v2_1#LiaOmnichannelExperience",
          "traits": {
            "smithy.api#documentation": "The omnichannel experience for a country. Required only for SetOmnichannelExperience."
          }
        },
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inventory validation contact name. Required only for SetInventoryValidationContact."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managing account."
          }
        },
        "posDataProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of POS data provider. Required only for SetPosProvider."
          }
        },
        "liaSettings": {
          "target": "com.gcp.content_v2_1#LiaSettings",
          "traits": {
            "smithy.api#documentation": "The account Lia settings to update. Only defined if the method is `update`."
          }
        },
        "posExternalAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID by which this merchant is known to the POS provider."
          }
        }
      }
    },
    "com.gcp.content_v2_1#ProductStatusDestinationStatus": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the destination"
          }
        },
        "approvedCountries": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
          }
        },
        "disapprovedCountries": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
          }
        },
        "pendingCountries": {
          "target": "com.gcp.content_v2_1#StringList",
          "traits": {
            "smithy.api#documentation": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
          }
        },
        "channel": {
[...]
