{
  "smithy": "2.0",
  "metadata": {
    "service": "contactcenterinsights",
    "version": "v1",
    "title": "Contact Center AI Insights API",
    "baseUrl": "https://contactcenterinsights.googleapis.com/"
  },
  "shapes": {
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainExportInsightsDataResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for an export insights operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswer": {
      "type": "structure",
      "members": {
        "answerValue": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "traits": {
            "smithy.api#documentation": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
          }
        },
        "questionBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text. E.g., \"Did the agent greet the customer?\""
          }
        },
        "conversation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conversation the answer applies to."
          }
        },
        "qaQuestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The QaQuestion answered by this answer."
          }
        },
        "tags": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer."
          }
        },
        "answerSources": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSourceList",
          "traits": {
            "smithy.api#documentation": "Lists all answer sources containing one or more answer values of a specific source type, e.g., all system-generated answer sources, or all manual edit answer sources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An answer to a QaQuestion."
      }
    },
    "com.gcp.contactcenterinsights_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "type": "structure",
      "members": {
        "qaConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the QA annotator."
          }
        },
        "runInterruptionAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the interruption annotator."
          }
        },
        "runIntentAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the intent annotator."
          }
        },
        "summarizationConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the summarization annotator."
          }
        },
        "runEntityAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the entity annotator."
          }
        },
        "runPhraseMatcherAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the active phrase matcher annotator(s)."
          }
        },
        "runSilenceAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the silence annotator."
          }
        },
        "phraseMatchers": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
          }
        },
        "runIssueModelAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
          }
        },
        "runAutoLabelingAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels."
          }
        },
        "issueModels": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
          }
        },
        "runQaAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the QA annotator."
          }
        },
        "runSentimentAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the sentiment annotator."
          }
        },
        "runSummarizationAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the summarization annotator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector of all available annotators and phrase matchers to run."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination": {
      "type": "structure",
      "members": {
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BigQuery Table Reference."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the analysis ended."
          }
        },
        "callAnalysisMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata",
          "traits": {
            "smithy.api#documentation": "Call-specific metadata created by the analysis."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of an analysis."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Filter for selecting the feedback labels that needs to be used for training. This filter can be used to limit the feedback labels used for tuning to a feedback labels created or updated for a specific time-window etc."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Run in validate only mode, no fine tuning will actually run. Data quality validations like training data distributions will run. Even when set to false, the data quality validations will still run but once the validations complete we will proceed with the fine tune, if applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for TuneQaScorecardRevision endpoint."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig": {
      "type": "structure",
      "members": {
        "scorecardList": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList",
          "traits": {
            "smithy.api#documentation": "A manual list of scorecards to score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the QA feature."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "type": "structure",
      "members": {
        "issueMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead."
          }
        },
        "smartHighlighterMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations."
          }
        },
        "conversationCountTimeSeries": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
          "traits": {
            "smithy.api#documentation": "A time series representing the count of conversations created over time that match that requested filter criteria."
          }
        },
        "averageDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The average duration of all conversations. The average is calculated using only conversations that have a time duration."
          }
        },
        "issueMatchesStats": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStatsMap",
          "traits": {
            "smithy.api#documentation": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`"
          }
        },
        "conversationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of conversations."
          }
        },
        "averageTurnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The average number of turns per conversation."
          }
        },
        "customHighlighterMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for calculating conversation statistics."
      }
    },
    "com.gcp.contactcenterinsights_v1#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStatsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata": {
      "type": "structure",
      "members": {
        "qaScorecardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The QA scorecard ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the QA scorecard dimension."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for deployment."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for deploying an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SampleRule": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
          }
        },
        "conversationFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations."
          }
        },
        "samplePercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of conversations that we should sample based on the dimension between [0, 100]."
          }
        },
        "sampleRow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of the conversations that we should sample based on the dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for sampling conversations."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource": {
      "type": "structure",
      "members": {
        "answerValue": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
          "traits": {
            "smithy.api#documentation": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
          }
        },
        "sourceType": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSourceSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "What created the answer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSourceSourceTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_GENERATED"
          }
        },
        "MANUAL_EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_EDIT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "type": "structure",
      "members": {
        "reply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the reply."
          }
        },
        "confidenceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
          }
        },
        "metadata": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map that contains metadata about the Smart Reply and the document from which it originates."
          }
        },
        "queryRecord": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent Assist Smart Reply data."
      }
    },
    "com.gcp.contactcenterinsights_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnnotatorSelector": {
      "type": "structure",
      "members": {
        "runEntityAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the entity annotator."
          }
        },
        "runPhraseMatcherAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the active phrase matcher annotator(s)."
          }
        },
        "qaConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the QA annotator."
          }
        },
        "runInterruptionAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the interruption annotator."
          }
        },
        "runIntentAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the intent annotator."
          }
        },
        "summarizationConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the summarization annotator."
          }
        },
        "runSentimentAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the sentiment annotator."
          }
        },
        "runSummarizationAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the summarization annotator."
          }
        },
        "runSilenceAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the silence annotator."
          }
        },
        "phraseMatchers": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
          }
        },
        "runIssueModelAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
          }
        },
        "runAutoLabelingAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels."
          }
        },
        "runQaAnnotator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to run the QA annotator."
          }
        },
        "issueModels": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector of all available annotators and phrase matchers to run."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "type": "structure",
      "members": {
        "exactMatchConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for the exact match rule."
          }
        },
        "regexMatchConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1RegexMatchConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for the regex match rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information of a phrase match rule."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SilenceData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The data for a silence annotation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
          "traits": {
            "smithy.api#documentation": "The original request for bulk delete."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a bulk delete conversations operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatus"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata": {
      "type": "structure",
      "members": {
        "customerSatisfactionRating": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An arbitrary integer value indicating the customer's satisfaction rating."
          }
        },
        "waitDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time the customer waited to connect with an agent."
          }
        },
        "feedbackLabels": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1FeedbackLabelList",
          "traits": {
            "smithy.api#documentation": "Input only. The feedback labels associated with the conversation."
          }
        },
        "menuPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string value specifying the menu path the customer took."
          }
        },
        "agentInfo": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfoList",
          "traits": {
            "smithy.api#documentation": "Information about agents involved in the call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conversation metadata related to quality management."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1FeedbackLabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "type": "structure",
      "members": {
        "speechRecognizer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
          }
        },
        "disableWordTimeOffsets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest",
          "traits": {
            "smithy.api#documentation": "Output only. The original request."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for updating a QaQuestionTag Resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
          "traits": {
            "smithy.api#documentation": "Output only. The original request."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for updating a QaQuestionTag Resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueModelResult": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueAssignmentList",
          "traits": {
            "smithy.api#documentation": "All the matched issues."
          }
        },
        "issueModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue Modeling result on a conversation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelResult": {
      "type": "structure",
      "members": {
        "issueModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
          }
        },
        "issues": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueAssignmentList",
          "traits": {
            "smithy.api#documentation": "All the matched issues."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue Modeling result on a conversation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueAssignment"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the issue model to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to delete an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "type": "structure",
      "members": {
        "completedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of requested analyses that have completed successfully so far."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "failedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of requested analyses that have failed so far."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "relabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the labeling rules will be re-evaluated for the conversations."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
          "traits": {
            "smithy.api#documentation": "The original request for bulk analyze."
          }
        },
        "totalRequestedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a bulk analyze conversations operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse": {
      "type": "structure",
      "members": {
        "detailedResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
          "traits": {
            "smithy.api#documentation": "Results for the DETAILED_SYNC execution mode."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of testing correlation config."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation": {
      "type": "structure",
      "members": {
        "endSession": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudCesV1mainEndSession",
          "traits": {
            "smithy.api#documentation": "End session signal from CES."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CES end session annotation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "type": "structure",
      "members": {
        "errorMessages": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "The error message when the generative insights request fails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for generative insights."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the predefined question."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a predefined question. This field will only be set if the Question Type is predefined."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfigTypeEnum": {
      "type": "enum",
      "members": {
        "PREDEFINED_QUESTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDEFINED_QUESTION_TYPE_UNSPECIFIED"
          }
        },
        "CONVERSATION_OUTCOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_OUTCOME"
          }
        },
        "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "structure",
      "members": {
        "percentileLlmCallLatency": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "traits": {
            "smithy.api#documentation": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
          }
        },
        "percentileTtsLatency": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "traits": {
            "smithy.api#documentation": "The percentile result for TTS latency in milliseconds per dialogflow interaction level."
          }
        },
        "percentileToolUseLatency": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "traits": {
            "smithy.api#documentation": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
          }
        },
        "percentileEndToEndLatency": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "traits": {
            "smithy.api#documentation": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
          }
        },
        "percentileAudioInAudioOutLatency": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "traits": {
            "smithy.api#documentation": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The measure related to dialogflow interactions."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest": {
      "type": "structure",
      "members": {
        "conversationConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration that applies to all conversations."
          }
        },
        "speechConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings."
          }
        },
        "transcriptObjectConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for when `source` contains conversation transcripts."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource for new conversations."
          }
        },
        "sampleSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests."
          }
        },
        "gcsSource": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
          "traits": {
            "smithy.api#documentation": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
          }
        },
        "redactionConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to ingest conversations."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Note": {
      "type": "structure",
      "members": {
        "qaQuestionNote": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
          "traits": {
            "smithy.api#documentation": "The note is associated with a QA question in one of the conversation's scorecard results."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the note was created."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The note content."
          }
        },
        "conversationTurnNote": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
          "traits": {
            "smithy.api#documentation": "The note is associated with a conversation turn."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the note was last updated."
          }
        },
        "assessmentNote": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1NoteAssessmentNote",
          "traits": {
            "smithy.api#documentation": "The note is associated to the entire parent assessment."
          }
        },
        "noteCreator": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user that created the note."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The conversation assessment note resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "type": "structure",
      "members": {
        "intentMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying an intent match."
          }
        },
        "channelTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated."
          }
        },
        "issueMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying an issue match."
          }
        },
        "annotationStartBoundary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "traits": {
            "smithy.api#documentation": "The boundary in the conversation where the annotation starts, inclusive."
          }
        },
        "phraseMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying a phrase match."
          }
        },
        "silenceData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SilenceData",
          "traits": {
            "smithy.api#documentation": "Data specifying silence."
          }
        },
        "holdData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1HoldData",
          "traits": {
            "smithy.api#documentation": "Data specifying a hold."
          }
        },
        "sentimentData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "traits": {
            "smithy.api#documentation": "Data specifying sentiment."
          }
        },
        "annotationEndBoundary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "traits": {
            "smithy.api#documentation": "The boundary in the conversation where the annotation ends, inclusive."
          }
        },
        "interruptionData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
          "traits": {
            "smithy.api#documentation": "Data specifying an interruption."
          }
        },
        "entityMentionData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
          "traits": {
            "smithy.api#documentation": "Data specifying an entity mention."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A piece of metadata that applies to a window of a call."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UserInfo": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's username."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a user."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse": {
      "type": "structure",
      "members": {
        "textMessage": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput",
          "traits": {
            "smithy.api#documentation": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
          }
        },
        "chartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The chart spec for the data. This will be specified in the vega-lite or vega format."
          }
        },
        "generatedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
          }
        },
        "textOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for storing the generative response for a chart."
      }
    },
    "com.gcp.contactcenterinsights_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightsMetadata": {
      "type": "structure",
      "members": {
        "errorMessages": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "The error message when the generative insights request fails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for generative insights."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence score of the summarization."
          }
        },
        "metadata": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map that contains metadata about the summarization and the document from which it originates."
          }
        },
        "generatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent Assist generator ID."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summarization content that is concatenated into one string."
          }
        },
        "textSections": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
          }
        },
        "conversationModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conversation summarization suggestion data."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationQualityMetadata": {
      "type": "structure",
      "members": {
        "feedbackLabels": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabelList",
          "traits": {
            "smithy.api#documentation": "Input only. The feedback labels associated with the conversation."
          }
        },
        "waitDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time the customer waited to connect with an agent."
          }
        },
        "customerSatisfactionRating": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An arbitrary integer value indicating the customer's satisfaction rating."
          }
        },
        "menuPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string value specifying the menu path the customer took."
          }
        },
        "agentInfo": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfoList",
          "traits": {
            "smithy.api#documentation": "Information about agents involved in the call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conversation metadata related to quality management."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabel"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfo"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "type": "structure",
      "members": {
        "joinKeyResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultList",
          "traits": {
            "smithy.api#documentation": "A list of join key correlation results for each conversation tested."
          }
        },
        "constraintResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultList",
          "traits": {
            "smithy.api#documentation": "A list of constraint evaluation results for each pair of conversations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for detailed, step-by-step results."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the QaQuestionTag to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for deleting a QaQuestionTag."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UploadConversationMetadata": {
      "type": "structure",
      "members": {
        "appliedRedactionConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The redaction config applied to the uploaded conversation."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1UploadConversationRequest",
          "traits": {
            "smithy.api#documentation": "Output only. The original request."
          }
        },
        "analysisOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The operation name for a successfully created analysis operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for an `UploadConversation` operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainCreateIssueModelMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainCreateIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for creation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for creating an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The parts of the message."
          }
        },
        "textType": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutputTextTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the text message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text output message from the system."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutputTextTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "THOUGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THOUGHT"
          }
        },
        "FINAL_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINAL_RESPONSE"
          }
        },
        "PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRESS"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice": {
      "type": "structure",
      "members": {
        "strValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short string used as an identifier."
          }
        },
        "naValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value of \"Not Applicable (N/A)\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations."
          }
        },
        "numValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numerical value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numerical score of the answer, used for generating the overall score of a QaScorecardResult. If the answer uses na_value, this field is unused."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a possible answer to the question."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Settings": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time zone applied to the project. This is a string representation of the time zone, for example, \"America/New_York\". This field follows the IANA TZ database format. See https://www.iana.org/time-zones for a list of valid values. If no value is set the user time zone will be used."
          }
        },
        "redactionConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Default DLP redaction resources to be applied while ingesting conversations. This applies to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversations coming from CCAI Platform."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the settings was created."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A language code to be applied to each transcript segment unless the segment already specifies a language code. Language code defaults to \"en-US\" if it is neither specified on the segment nor here."
          }
        },
        "conversationTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default TTL for newly-created conversations. If a conversation has a specified expiration, that value will be used instead. Changing this value will not change the expiration of existing conversations. Conversations with no expire time persist until they are deleted."
          }
        },
        "screenRecordingBucketUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The path to a Cloud Storage bucket containing conversation screen recordings. If provided, Insights will search in the bucket for a screen recording file matching the conversation data source object name prefix. If matches are found, these file URIs will be stored in the conversation screen recordings field."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the settings were last updated."
          }
        },
        "diagnosticMetricConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for diagnostic metrics."
          }
        },
        "pubsubNotificationSettings": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map that maps a notification trigger to a Pub/Sub topic. Each time a specified trigger occurs, Insights will notify the corresponding Pub/Sub topic. Keys are notification triggers. Supported keys are: * \"all-triggers\": Notify each time any of the supported triggers occurs. * \"create-analysis\": Notify each time an analysis is created. * \"create-conversation\": Notify each time a conversation is created. * \"export-insights-data\": Notify each time an export is complete. * \"ingest-conversations\": Notify each time an IngestConversations LRO is complete. * \"update-conversation\": Notify each time a conversation is updated via UpdateConversation. * \"upload-conversation\": Notify when an UploadConversation LRO is complete. * \"update-or-analyze-conversation\": Notify when an analysis for a conversation is completed or when the conversation is updated. The message will contain the conversation with transcript, analysis and other metadata. Values are Pub/Sub topics. The format of each Pub/Sub topic is: projects/{project}/topics/{topic}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings"
          }
        },
        "analysisConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig",
          "traits": {
            "smithy.api#documentation": "Default analysis settings."
          }
        },
        "speechConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SpeechConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Default Speech-to-Text resources to use while ingesting audio files. Optional, CCAI Insights will create a default if not provided. This applies to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversations coming from CCAI Platform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CCAI Insights project wide settings. Use these settings to configure the behavior of Insights. View these settings with [`getsettings`](https://cloud.google.com/contact-center/insights/docs/reference/rest/v1/projects.locations/getSettings) and change the settings with [`updateSettings`](https://cloud.google.com/contact-center/insights/docs/reference/rest/v1/projects.locations/updateSettings)."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainSentimentData": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sentiment score between -1.0 (negative) and 1.0 (positive)."
          }
        },
        "magnitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data for a sentiment annotation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Container": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the container in grid units."
          }
        },
        "dateRangeConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DateRangeConfig",
          "traits": {
            "smithy.api#documentation": "Date range config applied to all charts in the container."
          }
        },
        "widgets": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1WidgetList",
          "traits": {
            "smithy.api#documentation": "Widgets in the Container."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID for the container."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided display name of the Container."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container description"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter applied to all charts in the container. Should support scope later."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the container in grid units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurable dashboard's container. Container can contain multiple widgets."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1WidgetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Widget"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats": {
      "type": "structure",
      "members": {
        "successfulDownloadCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of new feedback labels downloaded during this operation. Different from \"processed\" because some labels might not be downloaded because an error."
          }
        },
        "processedObjectCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of objects processed during the download operation."
          }
        },
        "totalFilesWritten": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of files written to the provided Cloud Storage bucket."
          }
        },
        "fileNames": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the files written to Cloud storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for BulkDownloadFeedbackLabels operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "type": "structure",
      "members": {
        "labeledConversationsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of conversations attached to the issue at this point in time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the issue."
          }
        },
        "issue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated statistics about an issue."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata": {
      "type": "structure",
      "members": {
        "toolDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The dialogflow tool display name."
          }
        },
        "toolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The dialogflow tool ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the Conversational Agents tool dimension."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response to undeploy an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo": {
      "type": "structure",
      "members": {
        "fullConversationCorrelationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full conversation correlation id this conversation is a segment of."
          }
        },
        "correlationTypes": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationInfoCorrelationTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION."
          }
        },
        "mergedFullConversationCorrelationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full conversation correlation id this conversation is a merged conversation of."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Info for correlating across conversations."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationInfoCorrelationTypesItemEnum": {
      "type": "enum",
      "members": {
        "CORRELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRELATION_TYPE_UNSPECIFIED"
          }
        },
        "SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENT"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "SYNTHETIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTHETIC"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationInfoCorrelationTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationInfoCorrelationTypesItemEnum"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ImportIssueModelResponse": {
      "type": "structure",
      "members": {
        "issueModel": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModel",
          "traits": {
            "smithy.api#documentation": "The issue model that was imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from import issue model"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "type": "structure",
      "members": {
        "smartReplyAllowlistCovered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata from Dialogflow relating to the current transcript segment."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainEncryptionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec"
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`)."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Filter to select a subset of conversations to compute the metrics. Must specify a window of the conversation create time to compute the metrics. The returned metrics will be from the range [DATE(starting create time), DATE(ending create time)). "
          }
        },
        "timeGranularity": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequestTimeGranularityEnum",
          "traits": {
            "smithy.api#documentation": "The time granularity of each data point in the time series. Defaults to NONE if this field is unspecified."
          }
        },
        "dimensions": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionList",
          "traits": {
            "smithy.api#documentation": "The dimensions that determine the grouping key for the query. Defaults to no dimension if this field is unspecified. If a dimension is specified, its key must also be specified. Each dimension's key must be unique. If a time granularity is also specified, metric values in the dimension will be bucketed by this granularity. Up to one dimension is supported for now."
          }
        },
        "measureMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Measures to return. Defaults to all measures if this field is unspecified. A valid mask should traverse from the `measure` field from the response. For example, a path from a measure mask to get the conversation count is \"conversation_measure.count\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for querying metrics."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequestTimeGranularityEnum": {
      "type": "enum",
      "members": {
        "TIME_GRANULARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_GRANULARITY_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "PER_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_MINUTE"
          }
        },
        "PER_5_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_5_MINUTES"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Dimension"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "type": "structure",
      "members": {
        "duplicatesSkippedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested."
          }
        },
        "successfulIngestCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of new conversations added during this ingest operation."
          }
        },
        "failedIngestCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field."
          }
        },
        "processedObjectCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of objects processed during the ingest operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for IngestConversations operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig": {
      "type": "structure",
      "members": {
        "medium": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfigMediumEnum",
          "traits": {
            "smithy.api#documentation": "Required. The medium transcript objects represent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for processing transcript objects."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfigMediumEnum": {
      "type": "enum",
      "members": {
        "MEDIUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_UNSPECIFIED"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
          }
        },
        "conversationFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations."
          }
        },
        "samplePercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of conversations that we should sample based on the dimension between [0, 100]."
          }
        },
        "sampleRow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of the conversations that we should sample based on the dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for sampling conversations."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest": {
      "type": "structure",
      "members": {
        "encryptionSpec": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec",
          "traits": {
            "smithy.api#documentation": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to initialize a location-level encryption specification."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1Conversation": {
      "type": "structure",
      "members": {
        "dialogflowIntents": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DialogflowIntentMap",
          "traits": {
            "smithy.api#documentation": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time at which the conversation was updated."
          }
        },
        "transcript": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
          "traits": {
            "smithy.api#documentation": "Output only. The conversation transcript."
          }
        },
        "latestAnalysis": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1Analysis",
          "traits": {
            "smithy.api#documentation": "Output only. The conversation's latest analysis, if one exists."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the conversation was created."
          }
        },
        "labels": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}"
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque, user-specified string representing the human agent who handled the conversation."
          }
        },
        "runtimeAnnotations": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationList",
          "traits": {
            "smithy.api#documentation": "Output only. The annotations that were generated during the customer and agent interaction."
          }
        },
        "correlationInfo": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Info for correlating across conversations."
          }
        },
        "obfuscatedUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obfuscated user ID which the customer sent to us."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the conversation."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-specified language code for the conversation."
          }
        },
        "latestSummary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
          "traits": {
            "smithy.api#documentation": "Output only. Latest summary of the conversation."
          }
        },
        "dataSource": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
          "traits": {
            "smithy.api#documentation": "The source of the audio and transcription for the conversation."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the conversation started."
          }
        },
        "turnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of turns in the conversation."
          }
        },
        "callMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
          "traits": {
            "smithy.api#documentation": "Call-specific metadata."
          }
        },
        "medium": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationMediumEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The conversation medium."
          }
        },
        "metadataJson": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats."
          }
        },
        "qualityMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata",
          "traits": {
            "smithy.api#documentation": "Conversation metadata related to quality management."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The conversation resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DialogflowIntentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationMediumEnum": {
      "type": "enum",
      "members": {
        "MEDIUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_UNSPECIFIED"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "type": "structure",
      "members": {
        "generatedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw SQL from LLM, before templatization"
          }
        },
        "chartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Chart spec from LLM"
          }
        },
        "userProvidedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User provided SQL query"
          }
        },
        "userProvidedChartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. User provided chart spec"
          }
        },
        "textMessage": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
          "traits": {
            "smithy.api#documentation": "A direct natural language response to the user message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage": {
      "type": "structure",
      "members": {
        "chartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Chart spec from LLM"
          }
        },
        "textOutput": {
[...]
