{
  "smithy": "2.0",
  "metadata": {
    "service": "container",
    "version": "v1",
    "title": "Kubernetes Engine API",
    "baseUrl": "https://container.googleapis.com/"
  },
  "shapes": {
    "com.gcp.container_v1#DesiredAdditionalIPRangesConfig": {
      "type": "structure",
      "members": {
        "additionalIpRangesConfigs": {
          "target": "com.gcp.container_v1#AdditionalIPRangesConfigList",
          "traits": {
            "smithy.api#documentation": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs."
      }
    },
    "com.gcp.container_v1#AdditionalIPRangesConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#AdditionalIPRangesConfig"
      }
    },
    "com.gcp.container_v1#ComplianceStandard": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the compliance standard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the details of a compliance standard."
      }
    },
    "com.gcp.container_v1#BestEffortProvisioning": {
      "type": "structure",
      "members": {
        "minProvisionNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of nodes to be provisioned to be considered as succeeded, and the rest of nodes will be provisioned gradually and eventually when stockout issue has been resolved."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When this is enabled, cluster/node pool creations will ignore non-fatal errors like stockout to best provision as many nodes as possible right now and eventually bring up all target number of nodes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Best effort provisioning."
      }
    },
    "com.gcp.container_v1#LoggingConfig": {
      "type": "structure",
      "members": {
        "componentConfig": {
          "target": "com.gcp.container_v1#LoggingComponentConfig",
          "traits": {
            "smithy.api#documentation": "Logging components configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoggingConfig is cluster logging configuration."
      }
    },
    "com.gcp.container_v1#SecretSyncConfig": {
      "type": "structure",
      "members": {
        "rotationConfig": {
          "target": "com.gcp.container_v1#SyncRotationConfig",
          "traits": {
            "smithy.api#documentation": "Rotation config for secret manager."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Secret Sync Config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for sync Secret Manager secrets as k8s secrets."
      }
    },
    "com.gcp.container_v1#NodeTaint": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for taint."
          }
        },
        "effect": {
          "target": "com.gcp.container_v1#NodeTaintEffectEnum",
          "traits": {
            "smithy.api#documentation": "Effect for taint."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for taint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kubernetes taint is composed of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values."
      }
    },
    "com.gcp.container_v1#NodeTaintEffectEnum": {
      "type": "enum",
      "members": {
        "EFFECT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFECT_UNSPECIFIED"
          }
        },
        "NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SCHEDULE"
          }
        },
        "PREFER_NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFER_NO_SCHEDULE"
          }
        },
        "NO_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_EXECUTE"
          }
        }
      }
    },
    "com.gcp.container_v1#DesiredEnterpriseConfig": {
      "type": "structure",
      "members": {
        "desiredTier": {
          "target": "com.gcp.container_v1#DesiredEnterpriseConfigDesiredTierEnum",
          "traits": {
            "smithy.api#documentation": "desired_tier specifies the desired tier of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DesiredEnterpriseConfig is a wrapper used for updating enterprise_config. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
      }
    },
    "com.gcp.container_v1#DesiredEnterpriseConfigDesiredTierEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_TIER_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.container_v1#WindowsNodeConfig": {
      "type": "structure",
      "members": {
        "osVersion": {
          "target": "com.gcp.container_v1#WindowsNodeConfigOsVersionEnum",
          "traits": {
            "smithy.api#documentation": "OSVersion specifies the Windows node config to be used on the node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings."
      }
    },
    "com.gcp.container_v1#WindowsNodeConfigOsVersionEnum": {
      "type": "enum",
      "members": {
        "OS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_UNSPECIFIED"
          }
        },
        "OS_VERSION_LTSC2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_LTSC2019"
          }
        },
        "OS_VERSION_LTSC2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_LTSC2022"
          }
        }
      }
    },
    "com.gcp.container_v1#ConfigConnectorConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloud Connector is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the Config Connector add-on."
      }
    },
    "com.gcp.container_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.container_v1#EvictionGracePeriod": {
      "type": "structure",
      "members": {
        "pidAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to pid available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "nodefsInodesFree": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to nodefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "imagefsInodesFree": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to imagefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "memoryAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to memory available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "imagefsAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to imagefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "nodefsAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Grace period for eviction due to nodefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eviction grace periods are grace periods for each eviction signal."
      }
    },
    "com.gcp.container_v1#GPUDirectConfig": {
      "type": "structure",
      "members": {
        "gpuDirectStrategy": {
          "target": "com.gcp.container_v1#GPUDirectConfigGpuDirectStrategyEnum",
          "traits": {
            "smithy.api#documentation": "The type of GPU direct strategy to enable on the node pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GPUDirectConfig specifies the GPU direct strategy on the node pool."
      }
    },
    "com.gcp.container_v1#GPUDirectConfigGpuDirectStrategyEnum": {
      "type": "enum",
      "members": {
        "GPU_DIRECT_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_DIRECT_STRATEGY_UNSPECIFIED"
          }
        },
        "RDMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDMA"
          }
        }
      }
    },
    "com.gcp.container_v1#NodeLabels": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.container_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of node label keys and node label values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels)."
      }
    },
    "com.gcp.container_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.container_v1#ListUsableSubnetworksResponse": {
      "type": "structure",
      "members": {
        "subnetworks": {
          "target": "com.gcp.container_v1#UsableSubnetworkList",
          "traits": {
            "smithy.api#documentation": "A list of usable subnetworks in the specified network project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest."
      }
    },
    "com.gcp.container_v1#UsableSubnetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#UsableSubnetwork"
      }
    },
    "com.gcp.container_v1#TaintConfig": {
      "type": "structure",
      "members": {
        "architectureTaintBehavior": {
          "target": "com.gcp.container_v1#TaintConfigArchitectureTaintBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls architecture tainting behavior."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaintConfig contains the configuration for the taints of the node pool."
      }
    },
    "com.gcp.container_v1#TaintConfigArchitectureTaintBehaviorEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_TAINT_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_TAINT_BEHAVIOR_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM"
          }
        }
      }
    },
    "com.gcp.container_v1#ManagedPrometheusConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable Managed Collection."
          }
        },
        "autoMonitoringConfig": {
          "target": "com.gcp.container_v1#AutoMonitoringConfig",
          "traits": {
            "smithy.api#documentation": "GKE Workload Auto-Monitoring Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus."
      }
    },
    "com.gcp.container_v1#AnonymousAuthenticationConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.container_v1#AnonymousAuthenticationConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Defines the mode of limiting anonymous access in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnonymousAuthenticationConfig defines the settings needed to limit endpoints that allow anonymous authentication."
      }
    },
    "com.gcp.container_v1#AnonymousAuthenticationConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED"
          }
        }
      }
    },
    "com.gcp.container_v1#HttpLoadBalancing": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
      }
    },
    "com.gcp.container_v1#AdvancedMachineFeatures": {
      "type": "structure",
      "members": {
        "threadsPerCore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
          }
        },
        "performanceMonitoringUnit": {
          "target": "com.gcp.container_v1#AdvancedMachineFeaturesPerformanceMonitoringUnitEnum",
          "traits": {
            "smithy.api#documentation": "Type of Performance Monitoring Unit (PMU) requested on node pool instances. If unset, PMU will not be available to the node."
          }
        },
        "enableNestedVirtualization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to enable nested virtualization (defaults to false)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies options for controlling advanced machine features."
      }
    },
    "com.gcp.container_v1#AdvancedMachineFeaturesPerformanceMonitoringUnitEnum": {
      "type": "enum",
      "members": {
        "PERFORMANCE_MONITORING_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_MONITORING_UNIT_UNSPECIFIED"
          }
        },
        "ARCHITECTURAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURAL"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED"
          }
        }
      }
    },
    "com.gcp.container_v1#CidrBlock": {
      "type": "structure",
      "members": {
        "cidrBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "cidr_block must be specified in CIDR notation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "display_name is an optional field for users to identify CIDR blocks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CidrBlock contains an optional name and one CIDR block."
      }
    },
    "com.gcp.container_v1#AcceleratorConfig": {
      "type": "structure",
      "members": {
        "acceleratorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)"
          }
        },
        "gpuPartitionSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning)."
          }
        },
        "acceleratorCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of the accelerator cards exposed to an instance."
          }
        },
        "gpuDriverInstallationConfig": {
          "target": "com.gcp.container_v1#GPUDriverInstallationConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for auto installation of GPU driver."
          }
        },
        "gpuSharingConfig": {
          "target": "com.gcp.container_v1#GPUSharingConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for GPU sharing options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AcceleratorConfig represents a Hardware Accelerator request."
      }
    },
    "com.gcp.container_v1#SetNodePoolSizeRequest": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
          }
        },
        "nodePoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The desired node count for the pool."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SetNodePoolSizeRequest sets the size of a node pool."
      }
    },
    "com.gcp.container_v1#NodePool": {
      "type": "structure",
      "members": {
        "initialNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota."
          }
        },
        "autopilotConfig": {
          "target": "com.gcp.container_v1#AutopilotConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the autopilot configuration for this node pool. This field is exclusively reserved for Cluster Autoscaler."
          }
        },
        "updateInfo": {
          "target": "com.gcp.container_v1#UpdateInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Update info contains relevant information during a node pool update."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the node pool."
          }
        },
        "config": {
          "target": "com.gcp.container_v1#NodeConfig",
          "traits": {
            "smithy.api#documentation": "The node configuration of the pool."
          }
        },
        "instanceGroupUrls": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URL for the resource."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available."
          }
        },
        "podIpv4CidrSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The pod CIDR block size per node in this node pool."
          }
        },
        "bestEffortProvisioning": {
          "target": "com.gcp.container_v1#BestEffortProvisioning",
          "traits": {
            "smithy.api#documentation": "Enable best effort provisioning for nodes"
          }
        },
        "locations": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed."
          }
        },
        "status": {
          "target": "com.gcp.container_v1#NodePoolStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the nodes in this pool instance."
          }
        },
        "nodeDrainConfig": {
          "target": "com.gcp.container_v1#NodeDrainConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the node drain configuration for this node pool."
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.container_v1#NodePoolMaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the maintenance policy for the node pool."
          }
        },
        "upgradeSettings": {
          "target": "com.gcp.container_v1#UpgradeSettings",
          "traits": {
            "smithy.api#documentation": "Upgrade settings control disruption and speed of the upgrade."
          }
        },
        "conditions": {
          "target": "com.gcp.container_v1#StatusConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. Which conditions caused the current node pool state."
          }
        },
        "autoscaling": {
          "target": "com.gcp.container_v1#NodePoolAutoscaling",
          "traits": {
            "smithy.api#documentation": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present."
          }
        },
        "management": {
          "target": "com.gcp.container_v1#NodeManagement",
          "traits": {
            "smithy.api#documentation": "NodeManagement configuration for this NodePool."
          }
        },
        "maxPodsConstraint": {
          "target": "com.gcp.container_v1#MaxPodsConstraint",
          "traits": {
            "smithy.api#documentation": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Kubernetes running on this NodePool's nodes. If unspecified, it defaults as described [here](https://cloud.google.com/kubernetes-engine/versioning#specifying_node_version)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of node pool fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "networkConfig": {
          "target": "com.gcp.container_v1#NodeNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults."
          }
        },
        "queuedProvisioning": {
          "target": "com.gcp.container_v1#QueuedProvisioning",
          "traits": {
            "smithy.api#documentation": "Specifies the configuration of queued provisioning."
          }
        },
        "placementPolicy": {
          "target": "com.gcp.container_v1#PlacementPolicy",
          "traits": {
            "smithy.api#documentation": "Specifies the node placement policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload."
      }
    },
    "com.gcp.container_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.container_v1#NodePoolStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "RUNNING_WITH_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_WITH_ERROR"
          }
        },
        "RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.container_v1#StatusConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#StatusCondition"
      }
    },
    "com.gcp.container_v1#DailyMaintenanceWindow": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"PTnHnMnS\"."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily maintenance operations."
      }
    },
    "com.gcp.container_v1#MemoryManager": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/)."
      }
    },
    "com.gcp.container_v1#StatefulHAConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Stateful HA add-on is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Stateful HA add-on."
      }
    },
    "com.gcp.container_v1#AdvancedDatapathObservabilityConfig": {
      "type": "structure",
      "members": {
        "enableRelay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable Relay component"
          }
        },
        "enableMetrics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Expose flow metrics on nodes"
          }
        },
        "relayMode": {
          "target": "com.gcp.container_v1#AdvancedDatapathObservabilityConfigRelayModeEnum",
          "traits": {
            "smithy.api#documentation": "Method used to make Relay available"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AdvancedDatapathObservabilityConfig specifies configuration of observability features of advanced datapath."
      }
    },
    "com.gcp.container_v1#AdvancedDatapathObservabilityConfigRelayModeEnum": {
      "type": "enum",
      "members": {
        "RELAY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELAY_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "INTERNAL_VPC_LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_VPC_LB"
          }
        },
        "EXTERNAL_LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_LB"
          }
        }
      }
    },
    "com.gcp.container_v1#HostConfig": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.container_v1#RegistryHeaderList",
          "traits": {
            "smithy.api#documentation": "Header configures the registry host headers."
          }
        },
        "ca": {
          "target": "com.gcp.container_v1#CertificateConfigList",
          "traits": {
            "smithy.api#documentation": "CA configures the registry host certificate."
          }
        },
        "dialTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the maximum duration allowed for a connection attempt to complete. A shorter timeout helps reduce delays when falling back to the original registry if the mirror is unreachable. Maximum allowed value is 180s. If not set, containerd sets default 30s. The value should be a decimal number of seconds with an `s` suffix."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host configures the registry host/mirror. It supports fully qualified domain names (FQDNs) and IP addresses. Specifying scheme, port or path is supported. Scheme can only be http or https. Wildcards are NOT supported. Examples: - `my.customdomain.com` - `https://my.customdomain.com/path` - `10.0.1.2:5000`"
          }
        },
        "overridePath": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "OverridePath is used to indicate the host's API root endpoint is defined in the URL path rather than by the API specification. This may be used with non-compliant OCI registries which are missing the /v2 prefix. If not set, containerd sets default false."
          }
        },
        "client": {
          "target": "com.gcp.container_v1#CertificateConfigPairList",
          "traits": {
            "smithy.api#documentation": "Client configures the registry host client certificate and key."
          }
        },
        "capabilities": {
          "target": "com.gcp.container_v1#HostConfigCapabilitiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Capabilities represent the capabilities of the registry host, specifying what operations a host is capable of performing. If not set, containerd enables all capabilities by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HostConfig configures the registry host under a given Server."
      }
    },
    "com.gcp.container_v1#RegistryHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#RegistryHeader"
      }
    },
    "com.gcp.container_v1#CertificateConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#CertificateConfig"
      }
    },
    "com.gcp.container_v1#CertificateConfigPairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#CertificateConfigPair"
      }
    },
    "com.gcp.container_v1#HostConfigCapabilitiesItemEnum": {
      "type": "enum",
      "members": {
        "HOST_CAPABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CAPABILITY_UNSPECIFIED"
          }
        },
        "HOST_CAPABILITY_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CAPABILITY_PULL"
          }
        },
        "HOST_CAPABILITY_RESOLVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CAPABILITY_RESOLVE"
          }
        },
        "HOST_CAPABILITY_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CAPABILITY_PUSH"
          }
        }
      }
    },
    "com.gcp.container_v1#HostConfigCapabilitiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#HostConfigCapabilitiesItemEnum"
      }
    },
    "com.gcp.container_v1#RecurringTimeWindow": {
      "type": "structure",
      "members": {
        "window": {
          "target": "com.gcp.container_v1#TimeWindow",
          "traits": {
            "smithy.api#documentation": "The window of the first recurrence."
          }
        },
        "recurrence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an arbitrary window of time that recurs."
      }
    },
    "com.gcp.container_v1#MaintenanceExclusionOptions": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.gcp.container_v1#MaintenanceExclusionOptionsScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope specifies the upgrade scope which upgrades are blocked by the exclusion."
          }
        },
        "endTimeBehavior": {
          "target": "com.gcp.container_v1#MaintenanceExclusionOptionsEndTimeBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "EndTimeBehavior specifies the behavior of the exclusion end time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Maintenance exclusion option."
      }
    },
    "com.gcp.container_v1#MaintenanceExclusionOptionsScopeEnum": {
      "type": "enum",
      "members": {
        "NO_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_UPGRADES"
          }
        },
        "NO_MINOR_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MINOR_UPGRADES"
          }
        },
        "NO_MINOR_OR_NODE_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MINOR_OR_NODE_UPGRADES"
          }
        }
      }
    },
    "com.gcp.container_v1#MaintenanceExclusionOptionsEndTimeBehaviorEnum": {
      "type": "enum",
      "members": {
        "END_TIME_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_TIME_BEHAVIOR_UNSPECIFIED"
          }
        },
        "UNTIL_END_OF_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNTIL_END_OF_SUPPORT"
          }
        }
      }
    },
    "com.gcp.container_v1#PrivateClusterConfig": {
      "type": "structure",
      "members": {
        "enablePrivateNodes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking. Deprecated: Use NetworkConfig.default_enable_private_nodes instead."
          }
        },
        "enablePrivateEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the master's internal IP address is used as the cluster endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true."
          }
        },
        "privateEndpointSubnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint_subnetwork instead."
          }
        },
        "masterGlobalAccessConfig": {
          "target": "com.gcp.container_v1#PrivateClusterMasterGlobalAccessConfig",
          "traits": {
            "smithy.api#documentation": "Controls master global access settings. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_global_access instead."
          }
        },
        "privateEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The internal IP address of this cluster's master endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint instead."
          }
        },
        "masterIpv4CidrBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The peering name in the customer VPC used by this cluster."
          }
        },
        "publicEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The external IP address of this cluster's master endpoint. Deprecated:Use ControlPlaneEndpointsConfig.IPEndpointsConfig.public_endpoint instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for private clusters."
      }
    },
    "com.gcp.container_v1#ReleaseChannel": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.gcp.container_v1#ReleaseChannelChannelEnum",
          "traits": {
            "smithy.api#documentation": "channel specifies which release channel the cluster is subscribed to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled."
      }
    },
    "com.gcp.container_v1#ReleaseChannelChannelEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "RAPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAPID"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        },
        "EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTENDED"
          }
        }
      }
    },
    "com.gcp.container_v1#UserManagedKeysConfig": {
      "type": "structure",
      "members": {
        "gkeopsEtcdBackupEncryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource path of the Cloud KMS cryptoKey to use for encryption of internal etcd backups."
          }
        },
        "serviceAccountSigningKeys": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS cryptoKeyVersions to use for signing service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`"
          }
        },
        "controlPlaneDiskEncryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS cryptoKey to use for Confidential Hyperdisk on the control plane nodes."
          }
        },
        "clusterCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority Service caPool to use for the cluster CA in this cluster."
          }
        },
        "serviceAccountVerificationKeys": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS cryptoKeyVersions to use for verifying service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`"
          }
        },
        "etcdApiCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource path of the Certificate Authority Service caPool to use for the etcd API CA in this cluster."
          }
        },
        "etcdPeerCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource path of the Certificate Authority Service caPool to use for the etcd peer CA in this cluster."
          }
        },
        "aggregationCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority Service caPool to use for the aggregation CA in this cluster."
          }
        },
        "controlPlaneDiskEncryptionKeyVersions": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All of the versions of the Cloud KMS cryptoKey that are used by Confidential Hyperdisks on the control plane nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UserManagedKeysConfig holds the resource address to Keys which are used for signing certs and token that are used for communication within cluster."
      }
    },
    "com.gcp.container_v1#Metric": {
      "type": "structure",
      "members": {
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For metrics with floating point value."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For metrics with integer value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For metrics with custom values (ratios, visual progress, etc.)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Progress metric is (string, int|float|string) pair."
      }
    },
    "com.gcp.container_v1#NetworkPolicyConfig": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether NetworkPolicy is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
      }
    },
    "com.gcp.container_v1#SetLegacyAbacRequest": {
      "type": "structure",
      "members": {
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether ABAC authorization will be enabled in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster."
      }
    },
    "com.gcp.container_v1#BinaryAuthorization": {
      "type": "structure",
      "members": {
        "evaluationMode": {
          "target": "com.gcp.container_v1#BinaryAuthorizationEvaluationModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Binary Authorization."
      }
    },
    "com.gcp.container_v1#BinaryAuthorizationEvaluationModeEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "PROJECT_SINGLETON_POLICY_ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_SINGLETON_POLICY_ENFORCE"
          }
        }
      }
    },
    "com.gcp.container_v1#BootDiskProfile": {
      "type": "structure",
      "members": {
        "swapSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the size of the swap space in gibibytes (GiB)."
          }
        },
        "swapSizePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the size of the swap space as a percentage of the boot disk size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Swap on the node's boot disk."
      }
    },
    "com.gcp.container_v1#HorizontalPodAutoscaling": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
      }
    },
    "com.gcp.container_v1#SetMaintenancePolicyRequest": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the cluster to update."
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.container_v1#MaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster name) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster."
      }
    },
    "com.gcp.container_v1#LocalNvmeSsdBlockConfig": {
      "type": "structure",
      "members": {
        "localSsdCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of local NVMe SSDs to use. The limit for this value is dependent upon the maximum number of disk available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information. A zero (or unset) value has different meanings depending on machine type being used: 1. For pre-Gen3 machines, which support flexible numbers of local ssds, zero (or unset) means to disable using local SSDs as ephemeral storage. 2. For Gen3 machines which dictate a specific number of local ssds, zero (or unset) means to use the default number of local ssds that goes with that machine type. For example, for a c3-standard-8-lssd machine, 2 local ssds would be provisioned. For c3-standard-8 (which doesn't support local ssds), 0 will be provisioned. See https://cloud.google.com/compute/docs/disks/local-ssd#choose_number_local_ssds for more info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LocalNvmeSsdBlockConfig contains configuration for using raw-block local NVMe SSDs"
      }
    },
    "com.gcp.container_v1#MeshCertificates": {
      "type": "structure",
      "members": {
        "enableCertificates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
      }
    },
    "com.gcp.container_v1#NetworkPerformanceConfig": {
      "type": "structure",
      "members": {
        "totalEgressBandwidthTier": {
          "target": "com.gcp.container_v1#NetworkPerformanceConfigTotalEgressBandwidthTierEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the total network bandwidth tier for the NodePool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of all network bandwidth tiers"
      }
    },
    "com.gcp.container_v1#NetworkPerformanceConfigTotalEgressBandwidthTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "TIER_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_1"
          }
        }
      }
    },
    "com.gcp.container_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.container_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.container_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.container_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#DocumentMap"
      }
    },
    "com.gcp.container_v1#BootDisk": {
      "type": "structure",
      "members": {
        "provisionedIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Hyperdisk-Balanced only, the provisioned IOPS config value."
          }
        },
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk size in GB. Replaces NodeConfig.disk_size_gb"
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk type of the boot disk. (i.e. Hyperdisk-Balanced, PD-Balanced, etc.)"
          }
        },
        "provisionedThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Hyperdisk-Balanced only, the provisioned throughput config value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BootDisk specifies the boot disk configuration for node pools."
      }
    },
    "com.gcp.container_v1#RotationConfig": {
      "type": "structure",
      "members": {
        "rotationInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The interval between two consecutive rotations. Default rotation interval is 2 minutes."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rotation is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RotationConfig is config for secret manager auto rotation."
      }
    },
    "com.gcp.container_v1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "disruptionBudget": {
          "target": "com.gcp.container_v1#DisruptionBudget",
          "traits": {
            "smithy.api#documentation": "Optional. The upgrade disruption budget for the cluster control plane."
          }
        },
        "window": {
          "target": "com.gcp.container_v1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Specifies the maintenance window in which maintenance may be performed."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenancePolicy defines the maintenance policy to be used for the cluster."
      }
    },
    "com.gcp.container_v1#AutopilotCompatibilityIssue": {
      "type": "structure",
      "members": {
        "lastObservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time when this issue was observed."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the issue."
          }
        },
        "constraintType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The constraint type of the issue."
          }
        },
        "incompatibilityType": {
          "target": "com.gcp.container_v1#AutopilotCompatibilityIssueIncompatibilityTypeEnum",
          "traits": {
            "smithy.api#documentation": "The incompatibility type of this issue."
          }
        },
        "subjects": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The name of the resources which are subject to this issue."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to a public documentation, which addresses resolving this issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutopilotCompatibilityIssue contains information about a specific compatibility issue with Autopilot mode."
      }
    },
    "com.gcp.container_v1#AutopilotCompatibilityIssueIncompatibilityTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBILITY"
          }
        },
        "ADDITIONAL_CONFIG_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONFIG_REQUIRED"
          }
        },
        "PASSED_WITH_OPTIONAL_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED_WITH_OPTIONAL_CONFIG"
          }
        }
      }
    },
    "com.gcp.container_v1#SoleTenantConfig": {
      "type": "structure",
      "members": {
        "minNodeCpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group."
          }
        },
        "nodeAffinities": {
          "target": "com.gcp.container_v1#NodeAffinityList",
          "traits": {
            "smithy.api#documentation": "NodeAffinities used to match to a shared sole tenant node group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool."
      }
    },
    "com.gcp.container_v1#NodeAffinityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#NodeAffinity"
      }
    },
    "com.gcp.container_v1#VerticalPodAutoscaling": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables vertical pod autoscaling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it."
      }
    },
    "com.gcp.container_v1#Cluster": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "gkeAutoUpgradeConfig": {
          "target": "com.gcp.container_v1#GkeAutoUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for GKE auto upgrades."
          }
        },
        "currentMasterVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current software version of the master endpoint."
          }
        },
        "monitoringService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
          }
        },
        "binaryAuthorization": {
          "target": "com.gcp.container_v1#BinaryAuthorization",
          "traits": {
            "smithy.api#documentation": "Configuration for Binary Authorization."
          }
        },
        "networkPolicy": {
          "target": "com.gcp.container_v1#NetworkPolicy",
          "traits": {
            "smithy.api#documentation": "Configuration options for the NetworkPolicy feature."
          }
        },
        "status": {
          "target": "com.gcp.container_v1#ClusterStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current status of this cluster."
          }
        },
        "masterAuthorizedNetworksConfig": {
          "target": "com.gcp.container_v1#MasterAuthorizedNetworksConfig",
          "traits": {
            "smithy.api#documentation": "The configuration options for master authorized networks feature. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.authorized_networks_config instead."
          }
        },
        "initialClusterVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
          }
        },
        "enableK8sBetaApis": {
          "target": "com.gcp.container_v1#K8sBetaAPIConfig",
          "traits": {
            "smithy.api#documentation": "Beta APIs Config"
          }
        },
        "secretManagerConfig": {
          "target": "com.gcp.container_v1#SecretManagerConfig",
          "traits": {
            "smithy.api#documentation": "Secret CSI driver configuration."
          }
        },
        "labelFingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the set of labels for this cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
          }
        },
        "secretSyncConfig": {
          "target": "com.gcp.container_v1#SecretSyncConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for sync Secret Manager secrets as k8s secrets."
          }
        },
        "servicesIpv4Cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address range of the Kubernetes services in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
          }
        },
        "legacyAbac": {
          "target": "com.gcp.container_v1#LegacyAbac",
          "traits": {
            "smithy.api#documentation": "Configuration for the legacy ABAC authorization mode."
          }
        },
        "privateClusterConfig": {
          "target": "com.gcp.container_v1#PrivateClusterConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for private cluster."
          }
        },
        "scheduleUpgradeConfig": {
          "target": "com.gcp.container_v1#ScheduleUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for scheduled upgrades."
          }
        },
        "autopilot": {
          "target": "com.gcp.container_v1#Autopilot",
          "traits": {
            "smithy.api#documentation": "Autopilot configuration for the cluster."
          }
        },
        "defaultMaxPodsConstraint": {
          "target": "com.gcp.container_v1#MaxPodsConstraint",
          "traits": {
            "smithy.api#documentation": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
          }
        },
        "shieldedNodes": {
          "target": "com.gcp.container_v1#ShieldedNodes",
          "traits": {
            "smithy.api#documentation": "Shielded Nodes configuration."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URL for the resource."
          }
        },
        "rbacBindingConfig": {
          "target": "com.gcp.container_v1#RBACBindingConfig",
          "traits": {
            "smithy.api#documentation": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
          }
        },
        "initialNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
          }
        },
        "costManagementConfig": {
          "target": "com.gcp.container_v1#CostManagementConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the fine-grained cost management feature."
          }
        },
        "monitoringConfig": {
          "target": "com.gcp.container_v1#MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Monitoring configuration for the cluster."
          }
        },
        "nodeConfig": {
          "target": "com.gcp.container_v1#NodeConfig",
          "traits": {
            "smithy.api#documentation": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
          }
        },
        "fleet": {
          "target": "com.gcp.container_v1#Fleet",
          "traits": {
            "smithy.api#documentation": "Fleet information for the cluster."
          }
        },
        "nodeIpv4CidrSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
          }
        },
        "workloadIdentityConfig": {
          "target": "com.gcp.container_v1#WorkloadIdentityConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the use of Kubernetes Service Accounts in IAM policies."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique id for the cluster."
          }
        },
        "podAutoscaling": {
          "target": "com.gcp.container_v1#PodAutoscaling",
          "traits": {
            "smithy.api#documentation": "The config for pod autoscaling."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
          }
        },
        "enableTpu": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
          }
        },
        "currentNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
          }
        },
        "clusterIpv4Cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range of the container pods in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
          }
        },
        "locations": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed."
          }
        },
        "verticalPodAutoscaling": {
          "target": "com.gcp.container_v1#VerticalPodAutoscaling",
          "traits": {
            "smithy.api#documentation": "Cluster-level Vertical Pod Autoscaling configuration."
          }
        },
        "confidentialNodes": {
          "target": "com.gcp.container_v1#ConfidentialNodes",
          "traits": {
            "smithy.api#documentation": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
          }
        },
        "alphaClusterFeatureGates": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of user specified Kubernetes feature gates. Each string represents the activation status of a feature gate (e.g. \"featureX=true\" or \"featureX=false\")"
          }
        },
        "currentNodeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
          }
        },
        "anonymousAuthenticationConfig": {
          "target": "com.gcp.container_v1#AnonymousAuthenticationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for limiting anonymous access to all endpoints except the health checks."
          }
        },
        "managedOpentelemetryConfig": {
          "target": "com.gcp.container_v1#ManagedOpenTelemetryConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Managed OpenTelemetry pipeline."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "securityPostureConfig": {
          "target": "com.gcp.container_v1#SecurityPostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enable/Disable Security Posture API features for the cluster."
          }
        },
        "enterpriseConfig": {
          "target": "com.gcp.container_v1#EnterpriseConfig",
          "traits": {
            "smithy.api#documentation": "GKE Enterprise Configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
          }
        },
        "autoscaling": {
          "target": "com.gcp.container_v1#ClusterAutoscaling",
          "traits": {
            "smithy.api#documentation": "Cluster-level autoscaling configuration."
          }
        },
        "nodePoolAutoConfig": {
          "target": "com.gcp.container_v1#NodePoolAutoConfig",
          "traits": {
            "smithy.api#documentation": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
          }
        },
        "controlPlaneEgress": {
          "target": "com.gcp.container_v1#ControlPlaneEgress",
          "traits": {
            "smithy.api#documentation": "Configuration for control plane egress control."
          }
        },
        "conditions": {
          "target": "com.gcp.container_v1#StatusConditionList",
          "traits": {
            "smithy.api#documentation": "Which conditions caused the current cluster state."
          }
        },
        "loggingService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.container_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Logging configuration for the cluster."
          }
        },
        "ipAllocationPolicy": {
          "target": "com.gcp.container_v1#IPAllocationPolicy",
          "traits": {
            "smithy.api#documentation": "Configuration for cluster IP allocation."
          }
        },
        "resourceUsageExportConfig": {
          "target": "com.gcp.container_v1#ResourceUsageExportConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified."
          }
        },
        "tpuIpv4CidrBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address range of the Cloud TPUs in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
          }
        },
        "enableKubernetesAlpha": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
          }
        },
        "managedMachineLearningDiagnosticsConfig": {
          "target": "com.gcp.container_v1#ManagedMachineLearningDiagnosticsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Managed Machine Learning Diagnostics."
          }
        },
        "instanceGroupUrls": {
          "target": "com.gcp.container_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. Use node_pools.instance_group_urls."
          }
        },
        "nodePools": {
          "target": "com.gcp.container_v1#NodePoolList",
          "traits": {
            "smithy.api#documentation": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified."
          }
        },
        "identityServiceConfig": {
          "target": "com.gcp.container_v1#IdentityServiceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Identity Service component."
          }
        },
        "resourceLabels": {
          "target": "com.gcp.container_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources."
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.container_v1#MaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Configure the maintenance policy for this cluster."
          }
        },
        "addonsConfig": {
          "target": "com.gcp.container_v1#AddonsConfig",
          "traits": {
            "smithy.api#documentation": "Configurations for the various addons available to run in the cluster."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
          }
        },
        "parentProductConfig": {
          "target": "com.gcp.container_v1#ParentProductConfig",
          "traits": {
            "smithy.api#documentation": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster."
          }
        },
        "nodeCreationConfig": {
          "target": "com.gcp.container_v1#NodeCreationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Node Creation Mode."
          }
        },
        "notificationConfig": {
          "target": "com.gcp.container_v1#NotificationConfig",
          "traits": {
            "smithy.api#documentation": "Notification configuration of the cluster."
          }
        },
        "compliancePostureConfig": {
          "target": "com.gcp.container_v1#CompliancePostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
          }
        },
        "meshCertificates": {
          "target": "com.gcp.container_v1#MeshCertificates",
          "traits": {
            "smithy.api#documentation": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
          }
        },
        "masterAuth": {
          "target": "com.gcp.container_v1#MasterAuth",
          "traits": {
            "smithy.api#documentation": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
          }
        },
        "nodePoolDefaults": {
          "target": "com.gcp.container_v1#NodePoolDefaults",
          "traits": {
            "smithy.api#documentation": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of this cluster."
          }
        },
        "networkConfig": {
          "target": "com.gcp.container_v1#NetworkConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for cluster networking."
          }
        },
        "authenticatorGroupsConfig": {
          "target": "com.gcp.container_v1#AuthenticatorGroupsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration controlling RBAC group membership information."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "databaseEncryption": {
          "target": "com.gcp.container_v1#DatabaseEncryption",
          "traits": {
            "smithy.api#documentation": "Configuration of etcd encryption."
          }
        },
        "controlPlaneEndpointsConfig": {
          "target": "com.gcp.container_v1#ControlPlaneEndpointsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for all cluster's control plane endpoints."
          }
        },
        "releaseChannel": {
          "target": "com.gcp.container_v1#ReleaseChannel",
          "traits": {
            "smithy.api#documentation": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version."
          }
        },
        "userManagedKeysConfig": {
          "target": "com.gcp.container_v1#UserManagedKeysConfig",
          "traits": {
            "smithy.api#documentation": "The Custom keys configuration for the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Google Kubernetes Engine cluster."
      }
    },
    "com.gcp.container_v1#ClusterStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.gcp.container_v1#NodePoolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1#NodePool"
      }
    },
    "com.gcp.container_v1#RBACBindingConfig": {
      "type": "structure",
      "members": {
        "enableInsecureBindingSystemUnauthenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true will allow any ClusterRoleBinding and RoleBinding with subjets system:anonymous or system:unauthenticated."
          }
        },
        "enableInsecureBindingSystemAuthenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true will allow any ClusterRoleBinding and RoleBinding with subjects system:authenticated."
          }
        }
      },
      "traits": {
[...]
