{
  "smithy": "2.0",
  "metadata": {
    "service": "datastream",
    "version": "v1",
    "title": "Datastream API",
    "baseUrl": "https://datastream.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datastream_v1#DataverseProfile": {
      "type": "structure",
      "members": {
        "oauthClientCredentials": {
          "target": "com.gcp.datastream_v1#OauthClientCredentials",
          "traits": {
            "smithy.api#documentation": "Required. Credentials for authenticating with the Dataverse API."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Tenant id of the Microsoft Dataverse instance."
          }
        },
        "environmentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Environment URL of the Microsoft Dataverse instance. Example: `.crm.dynamics.com`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a Dataverse source."
      }
    },
    "com.gcp.datastream_v1#SourceCatalog": {
      "type": "structure",
      "members": {
        "objects": {
          "target": "com.gcp.datastream_v1#SourceObjectList",
          "traits": {
            "smithy.api#documentation": "Optional. Source objects in the catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source catalog."
      }
    },
    "com.gcp.datastream_v1#SourceObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SourceObject"
      }
    },
    "com.gcp.datastream_v1#OracleProfile": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field."
          }
        },
        "connectionAttributes": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Connection string attributes"
          }
        },
        "databaseService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Database for the Oracle connection."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname for the Oracle connection."
          }
        },
        "oracleSslConfig": {
          "target": "com.gcp.datastream_v1#OracleSslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. SSL configuration for the Oracle connection."
          }
        },
        "oracleAsmConfig": {
          "target": "com.gcp.datastream_v1#OracleAsmConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Oracle ASM connection."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the Oracle connection."
          }
        },
        "secretManagerStoredPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port for the Oracle connection, default value is 1521."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to an Oracle source."
      }
    },
    "com.gcp.datastream_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastream_v1#DiscoverConnectionProfileResponse": {
      "type": "structure",
      "members": {
        "salesforceOrg": {
          "target": "com.gcp.datastream_v1#SalesforceOrg",
          "traits": {
            "smithy.api#documentation": "Enriched Salesforce organization."
          }
        },
        "spannerDatabase": {
          "target": "com.gcp.datastream_v1#SpannerDatabase",
          "traits": {
            "smithy.api#documentation": "Enriched Spanner database."
          }
        },
        "mysqlRdbms": {
          "target": "com.gcp.datastream_v1#MysqlRdbms",
          "traits": {
            "smithy.api#documentation": "Enriched MySQL RDBMS object."
          }
        },
        "mongodbCluster": {
          "target": "com.gcp.datastream_v1#MongodbCluster",
          "traits": {
            "smithy.api#documentation": "Enriched MongoDB cluster."
          }
        },
        "sourceCatalog": {
          "target": "com.gcp.datastream_v1#SourceCatalog",
          "traits": {
            "smithy.api#documentation": "Enriched source catalog. This is mainly used to represent SaaS sources databases."
          }
        },
        "oracleRdbms": {
          "target": "com.gcp.datastream_v1#OracleRdbms",
          "traits": {
            "smithy.api#documentation": "Enriched Oracle RDBMS object."
          }
        },
        "postgresqlRdbms": {
          "target": "com.gcp.datastream_v1#PostgresqlRdbms",
          "traits": {
            "smithy.api#documentation": "Enriched PostgreSQL RDBMS object."
          }
        },
        "sqlServerRdbms": {
          "target": "com.gcp.datastream_v1#SqlServerRdbms",
          "traits": {
            "smithy.api#documentation": "Enriched SQLServer RDBMS object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from a discover request."
      }
    },
    "com.gcp.datastream_v1#SalesforceSourceConfig": {
      "type": "structure",
      "members": {
        "includeObjects": {
          "target": "com.gcp.datastream_v1#SalesforceOrg",
          "traits": {
            "smithy.api#documentation": "The Salesforce objects to retrieve from the source."
          }
        },
        "pollingInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive."
          }
        },
        "excludeObjects": {
          "target": "com.gcp.datastream_v1#SalesforceOrg",
          "traits": {
            "smithy.api#documentation": "The Salesforce objects to exclude from the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for syncing data from a Salesforce source."
      }
    },
    "com.gcp.datastream_v1#ListPrivateConnectionsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.datastream_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "privateConnections": {
          "target": "com.gcp.datastream_v1#PrivateConnectionList",
          "traits": {
            "smithy.api#documentation": "List of private connectivity configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a list of private connection configurations."
      }
    },
    "com.gcp.datastream_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastream_v1#PrivateConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#PrivateConnection"
      }
    },
    "com.gcp.datastream_v1#ListRoutesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "routes": {
          "target": "com.gcp.datastream_v1#RouteList",
          "traits": {
            "smithy.api#documentation": "List of Routes."
          }
        },
        "unreachable": {
          "target": "com.gcp.datastream_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route list response."
      }
    },
    "com.gcp.datastream_v1#RouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Route"
      }
    },
    "com.gcp.datastream_v1#UserPasswordCredentials": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the connection."
          }
        },
        "password": {
          "target": "com.gcp.datastream_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Required. Password for the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-password credentials."
      }
    },
    "com.gcp.datastream_v1#OracleSourceConfig": {
      "type": "structure",
      "members": {
        "includeObjects": {
          "target": "com.gcp.datastream_v1#OracleRdbms",
          "traits": {
            "smithy.api#documentation": "The Oracle objects to include in the stream."
          }
        },
        "maxConcurrentCdcTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
          }
        },
        "excludeObjects": {
          "target": "com.gcp.datastream_v1#OracleRdbms",
          "traits": {
            "smithy.api#documentation": "The Oracle objects to exclude from the stream."
          }
        },
        "dropLargeObjects": {
          "target": "com.gcp.datastream_v1#DropLargeObjects",
          "traits": {
            "smithy.api#documentation": "Drop large object values."
          }
        },
        "binaryLogParser": {
          "target": "com.gcp.datastream_v1#BinaryLogParser",
          "traits": {
            "smithy.api#documentation": "Use Binary Log Parser."
          }
        },
        "streamLargeObjects": {
          "target": "com.gcp.datastream_v1#StreamLargeObjects",
          "traits": {
            "smithy.api#documentation": "Stream large object values."
          }
        },
        "logMiner": {
          "target": "com.gcp.datastream_v1#LogMiner",
          "traits": {
            "smithy.api#documentation": "Use LogMiner."
          }
        },
        "maxConcurrentBackfillTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for syncing data from an Oracle source."
      }
    },
    "com.gcp.datastream_v1#MongodbField": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MongoDB Field."
      }
    },
    "com.gcp.datastream_v1#MongodbObjectIdentifier": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The database name."
          }
        },
        "collection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The collection name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MongoDB data source object identifier."
      }
    },
    "com.gcp.datastream_v1#RetryInfo": {
      "type": "structure",
      "members": {
        "retryDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Clients should wait at least this long between retrying the same request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached."
      }
    },
    "com.gcp.datastream_v1#StartBackfillJobRequest": {
      "type": "structure",
      "members": {
        "eventFilter": {
          "target": "com.gcp.datastream_v1#EventFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for manually initiating a backfill job for a specific stream object."
      }
    },
    "com.gcp.datastream_v1#Validation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the validation."
          }
        },
        "state": {
          "target": "com.gcp.datastream_v1#ValidationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Validation execution status."
          }
        },
        "message": {
          "target": "com.gcp.datastream_v1#ValidationMessageList",
          "traits": {
            "smithy.api#documentation": "Messages reflecting the validation results."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom code identifying this validation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A validation to perform on a stream."
      }
    },
    "com.gcp.datastream_v1#ValidationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NOT_EXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EXECUTED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        }
      }
    },
    "com.gcp.datastream_v1#ValidationMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#ValidationMessage"
      }
    },
    "com.gcp.datastream_v1#SourceObjectIdentifier": {
      "type": "structure",
      "members": {
        "oracleIdentifier": {
          "target": "com.gcp.datastream_v1#OracleObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "Oracle data source object identifier."
          }
        },
        "mongodbIdentifier": {
          "target": "com.gcp.datastream_v1#MongodbObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "MongoDB data source object identifier."
          }
        },
        "mysqlIdentifier": {
          "target": "com.gcp.datastream_v1#MysqlObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "Mysql data source object identifier."
          }
        },
        "postgresqlIdentifier": {
          "target": "com.gcp.datastream_v1#PostgresqlObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "PostgreSQL data source object identifier."
          }
        },
        "sqlServerIdentifier": {
          "target": "com.gcp.datastream_v1#SqlServerObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "SQLServer data source object identifier."
          }
        },
        "salesforceIdentifier": {
          "target": "com.gcp.datastream_v1#SalesforceObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "Salesforce data source object identifier."
          }
        },
        "spannerIdentifier": {
          "target": "com.gcp.datastream_v1#SpannerObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "Spanner data source object identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an identifier of an object in the data source."
      }
    },
    "com.gcp.datastream_v1#SalesforceMarketingCloudProfile": {
      "type": "structure",
      "members": {
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-)."
          }
        },
        "oauthClientCredentials": {
          "target": "com.gcp.datastream_v1#OauthClientCredentials",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a Salesforce Marketing Cloud source."
      }
    },
    "com.gcp.datastream_v1#BigQueryDestinationConfig": {
      "type": "structure",
      "members": {
        "dataFreshness": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost."
          }
        },
        "blmtConfig": {
          "target": "com.gcp.datastream_v1#BlmtConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Big Lake Managed Tables (BLMT) configuration."
          }
        },
        "appendOnly": {
          "target": "com.gcp.datastream_v1#AppendOnly",
          "traits": {
            "smithy.api#documentation": "Append only mode"
          }
        },
        "sourceHierarchyDatasets": {
          "target": "com.gcp.datastream_v1#SourceHierarchyDatasets",
          "traits": {
            "smithy.api#documentation": "Source hierarchy datasets."
          }
        },
        "singleTargetDataset": {
          "target": "com.gcp.datastream_v1#SingleTargetDataset",
          "traits": {
            "smithy.api#documentation": "Single destination dataset."
          }
        },
        "merge": {
          "target": "com.gcp.datastream_v1#Merge",
          "traits": {
            "smithy.api#documentation": "The standard mode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BigQuery destination configuration"
      }
    },
    "com.gcp.datastream_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.datastream_v1#SalesforceProfile": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Domain endpoint for the Salesforce connection."
          }
        },
        "userCredentials": {
          "target": "com.gcp.datastream_v1#UserCredentials",
          "traits": {
            "smithy.api#documentation": "Deprecated: Salesforce is retiring Username-Password authentication. Use `oauth2_client_credentials` instead."
          }
        },
        "oauth2ClientCredentials": {
          "target": "com.gcp.datastream_v1#Oauth2ClientCredentials",
          "traits": {
            "smithy.api#documentation": "Connected app authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a Salesforce source."
      }
    },
    "com.gcp.datastream_v1#OracleColumn": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column represents a primary key."
          }
        },
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Oracle data type."
          }
        },
        "precision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column precision."
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column name."
          }
        },
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column can accept a null value."
          }
        },
        "ordinalPosition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ordinal position of the column in the table."
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column length."
          }
        },
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column scale."
          }
        },
        "encoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column encoding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Oracle Column."
      }
    },
    "com.gcp.datastream_v1#PostgresqlSchema": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name."
          }
        },
        "postgresqlTables": {
          "target": "com.gcp.datastream_v1#PostgresqlTableList",
          "traits": {
            "smithy.api#documentation": "Tables in the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSQL schema."
      }
    },
    "com.gcp.datastream_v1#PostgresqlTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#PostgresqlTable"
      }
    },
    "com.gcp.datastream_v1#FieldViolation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of why the request element is bad."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        },
        "localizedMessage": {
          "target": "com.gcp.datastream_v1#LocalizedMessage",
          "traits": {
            "smithy.api#documentation": "Provides a localized error message for field-level errors that is safe to return to the API consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single bad request field."
      }
    },
    "com.gcp.datastream_v1#ServiceNowSourceConfig": {
      "type": "structure",
      "members": {
        "excludeObjects": {
          "target": "com.gcp.datastream_v1#SourceCatalog",
          "traits": {
            "smithy.api#documentation": "Optional. The objects to exclude from the stream."
          }
        },
        "pollingInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
          }
        },
        "includeObjects": {
          "target": "com.gcp.datastream_v1#SourceCatalog",
          "traits": {
            "smithy.api#documentation": "Optional. The objects to retrieve from the source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for syncing data from a ServiceNow source."
      }
    },
    "com.gcp.datastream_v1#SingleTargetDataset": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single target dataset to which all data will be streamed."
      }
    },
    "com.gcp.datastream_v1#SalesforceField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        },
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data type."
          }
        },
        "nillable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the field can accept nil values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Salesforce field."
      }
    },
    "com.gcp.datastream_v1#MongodbDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name."
          }
        },
        "collections": {
          "target": "com.gcp.datastream_v1#MongodbCollectionList",
          "traits": {
            "smithy.api#documentation": "Collections in the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MongoDB Database."
      }
    },
    "com.gcp.datastream_v1#MongodbCollectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#MongodbCollection"
      }
    },
    "com.gcp.datastream_v1#StreamObject": {
      "type": "structure",
      "members": {
        "customizationRules": {
          "target": "com.gcp.datastream_v1#CustomizationRuleList",
          "traits": {
            "smithy.api#documentation": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object."
          }
        },
        "errors": {
          "target": "com.gcp.datastream_v1#Datastream_ErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Active errors on the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The object resource's name."
          }
        },
        "backfillJob": {
          "target": "com.gcp.datastream_v1#BackfillJob",
          "traits": {
            "smithy.api#documentation": "The latest backfill job that was initiated for the stream object."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the object."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update time of the object."
          }
        },
        "sourceObject": {
          "target": "com.gcp.datastream_v1#SourceObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "The object identifier in the data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific stream object (e.g a specific DB table)."
      }
    },
    "com.gcp.datastream_v1#CustomizationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#CustomizationRule"
      }
    },
    "com.gcp.datastream_v1#Datastream_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Datastream_Error"
      }
    },
    "com.gcp.datastream_v1#DatasetTemplate": {
      "type": "structure",
      "members": {
        "datasetIdPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataset template used for dynamic dataset creation."
      }
    },
    "com.gcp.datastream_v1#AppendOnly": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "AppendOnly mode defines that all changes to a table will be written to the destination table."
      }
    },
    "com.gcp.datastream_v1#StopBackfillJobResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.gcp.datastream_v1#StreamObject",
          "traits": {
            "smithy.api#documentation": "The stream object resource the backfill job was stopped for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for manually stop a backfill job for a specific stream object."
      }
    },
    "com.gcp.datastream_v1#SourceProperty": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether or not the property is a primary key."
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The property name."
          }
        },
        "properties": {
          "target": "com.gcp.datastream_v1#SourcePropertyList",
          "traits": {
            "smithy.api#documentation": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source property."
      }
    },
    "com.gcp.datastream_v1#SourcePropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SourceProperty"
      }
    },
    "com.gcp.datastream_v1#SqlServerProfile": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname for the SQLServer connection."
          }
        },
        "sslConfig": {
          "target": "com.gcp.datastream_v1#SqlServerSslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. SSL configuration for the SQLServer connection."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Database for the SQLServer connection."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the SQLServer connection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field."
          }
        },
        "secretManagerStoredPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port for the SQLServer connection, default value is 1433."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a SQLServer source."
      }
    },
    "com.gcp.datastream_v1#OracleTable": {
      "type": "structure",
      "members": {
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table name."
          }
        },
        "oracleColumns": {
          "target": "com.gcp.datastream_v1#OracleColumnList",
          "traits": {
            "smithy.api#documentation": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Oracle table."
      }
    },
    "com.gcp.datastream_v1#OracleColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#OracleColumn"
      }
    },
    "com.gcp.datastream_v1#CustomizationRule": {
      "type": "structure",
      "members": {
        "bigqueryPartitioning": {
          "target": "com.gcp.datastream_v1#BigQueryPartitioning",
          "traits": {
            "smithy.api#documentation": "BigQuery partitioning rule."
          }
        },
        "bigqueryClustering": {
          "target": "com.gcp.datastream_v1#BigQueryClustering",
          "traits": {
            "smithy.api#documentation": "BigQuery clustering rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A customization rule to apply to a set of objects."
      }
    },
    "com.gcp.datastream_v1#Oauth2ClientCredentials": {
      "type": "structure",
      "members": {
        "secretManagerStoredClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client ID for Salesforce OAuth2 Client Credentials."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth2 Client Credentials."
      }
    },
    "com.gcp.datastream_v1#VpcPeeringConfig": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A free subnet for peering. (CIDR of /29)"
          }
        },
        "vpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC."
      }
    },
    "com.gcp.datastream_v1#MysqlDatabase": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name."
          }
        },
        "mysqlTables": {
          "target": "com.gcp.datastream_v1#MysqlTableList",
          "traits": {
            "smithy.api#documentation": "Tables in the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySQL database."
      }
    },
    "com.gcp.datastream_v1#MysqlTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#MysqlTable"
      }
    },
    "com.gcp.datastream_v1#PostgresqlColumn": {
      "type": "structure",
      "members": {
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column can accept a null value."
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column length."
          }
        },
        "primaryKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column represents a primary key."
          }
        },
        "ordinalPosition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ordinal position of the column in the table."
          }
        },
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column scale."
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column name."
          }
        },
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PostgreSQL data type."
          }
        },
        "precision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column precision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSQL Column."
      }
    },
    "com.gcp.datastream_v1#MysqlProfile": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the MySQL connection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field."
          }
        },
        "secretManagerStoredPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port for the MySQL connection, default value is 3306."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname for the MySQL connection."
          }
        },
        "sslConfig": {
          "target": "com.gcp.datastream_v1#MysqlSslConfig",
          "traits": {
            "smithy.api#documentation": "SSL configuration for the MySQL connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a MySQL source."
      }
    },
    "com.gcp.datastream_v1#StartBackfillJobResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.gcp.datastream_v1#StreamObject",
          "traits": {
            "smithy.api#documentation": "The stream object resource a backfill job was started for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for manually initiating a backfill job for a specific stream object."
      }
    },
    "com.gcp.datastream_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.datastream_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.datastream_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.datastream_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Operation"
      }
    },
    "com.gcp.datastream_v1#PrivateConnectivity": {
      "type": "structure",
      "members": {
        "privateConnection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Connectivity"
      }
    },
    "com.gcp.datastream_v1#PreconditionFailure": {
      "type": "structure",
      "members": {
        "violations": {
          "target": "com.gcp.datastream_v1#PreconditionFailureViolationList",
          "traits": {
            "smithy.api#documentation": "Describes all precondition violations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
      }
    },
    "com.gcp.datastream_v1#PreconditionFailureViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#PreconditionFailureViolation"
      }
    },
    "com.gcp.datastream_v1#LookupStreamObjectRequest": {
      "type": "structure",
      "members": {
        "sourceObjectIdentifier": {
          "target": "com.gcp.datastream_v1#SourceObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. The source object identifier which maps to the stream object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for looking up a specific stream object by its source object identifier."
      }
    },
    "com.gcp.datastream_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.datastream_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datastream_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datastream_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#DocumentMap"
      }
    },
    "com.gcp.datastream_v1#OracleObjectIdentifier": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema name."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The table name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Oracle data source object identifier."
      }
    },
    "com.gcp.datastream_v1#MysqlGtidPosition": {
      "type": "structure",
      "members": {
        "gtidSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The gtid set to start replication from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySQL GTID position"
      }
    },
    "com.gcp.datastream_v1#ResourceInfo": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the resource that is being accessed."
      }
    },
    "com.gcp.datastream_v1#EncryptionAndServerValidation": {
      "type": "structure",
      "members": {
        "serverCertificateHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate."
          }
        },
        "caCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option."
      }
    },
    "com.gcp.datastream_v1#PostgresqlObjectIdentifier": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema name."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The table name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSQL data source object identifier."
      }
    },
    "com.gcp.datastream_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.datastream_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.datastream_v1#PreconditionFailureViolation": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single precondition failure."
      }
    },
    "com.gcp.datastream_v1#BigQueryPartitioning": {
      "type": "structure",
      "members": {
        "integerRangePartition": {
          "target": "com.gcp.datastream_v1#IntegerRangePartition",
          "traits": {
            "smithy.api#documentation": "Integer range partitioning."
          }
        },
        "ingestionTimePartition": {
          "target": "com.gcp.datastream_v1#IngestionTimePartition",
          "traits": {
            "smithy.api#documentation": "Ingestion time partitioning."
          }
        },
        "requirePartitionFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, queries over the table require a partition filter."
          }
        },
        "timeUnitPartition": {
          "target": "com.gcp.datastream_v1#TimeUnitPartition",
          "traits": {
            "smithy.api#documentation": "Time unit column partitioning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BigQuery partitioning configuration."
      }
    },
    "com.gcp.datastream_v1#EventFilter": {
      "type": "structure",
      "members": {
        "sqlWhereClause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a filter for included data on a stream object."
      }
    },
    "com.gcp.datastream_v1#Gtid": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Use GTID based replication."
      }
    },
    "com.gcp.datastream_v1#SqlServerColumn": {
      "type": "structure",
      "members": {
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column can accept a null value."
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column length."
          }
        },
        "primaryKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the column represents a primary key."
          }
        },
        "ordinalPosition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ordinal position of the column in the table."
          }
        },
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column scale."
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column name."
          }
        },
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQLServer data type."
          }
        },
        "precision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column precision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQLServer Column."
      }
    },
    "com.gcp.datastream_v1#SpannerColumn": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Spanner data type."
          }
        },
        "isPrimaryKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether or not the column is a primary key."
          }
        },
        "ordinalPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ordinal position of the column in the table."
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The column name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spanner column."
      }
    },
    "com.gcp.datastream_v1#ForwardSshTunnelConnectivity": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname for the SSH tunnel."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the SSH tunnel."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. SSH password."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port for the SSH tunnel, default value is 22."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. SSH private key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forward SSH Tunnel connectivity."
      }
    },
    "com.gcp.datastream_v1#BigQueryProfile": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a BigQuery destination."
      }
    },
    "com.gcp.datastream_v1#BasicEncryption": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default."
      }
    },
    "com.gcp.datastream_v1#StaticServiceIpConnectivity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile."
      }
    },
    "com.gcp.datastream_v1#SalesforceOrg": {
      "type": "structure",
      "members": {
        "objects": {
          "target": "com.gcp.datastream_v1#SalesforceObjectList",
          "traits": {
            "smithy.api#documentation": "Salesforce objects in the database server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Salesforce organization structure."
      }
    },
    "com.gcp.datastream_v1#SalesforceObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SalesforceObject"
      }
    },
    "com.gcp.datastream_v1#MongodbCluster": {
      "type": "structure",
      "members": {
        "databases": {
          "target": "com.gcp.datastream_v1#MongodbDatabaseList",
          "traits": {
            "smithy.api#documentation": "MongoDB databases in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MongoDB Cluster structure."
      }
    },
    "com.gcp.datastream_v1#MongodbDatabaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#MongodbDatabase"
      }
    },
    "com.gcp.datastream_v1#ListStreamsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.datastream_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "streams": {
          "target": "com.gcp.datastream_v1#StreamList",
          "traits": {
            "smithy.api#documentation": "List of streams"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing streams."
      }
    },
    "com.gcp.datastream_v1#StreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Stream"
      }
    },
    "com.gcp.datastream_v1#EncryptionNotEnforced": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility."
      }
    },
    "com.gcp.datastream_v1#ConnectionProfile": {
      "type": "structure",
      "members": {
        "serviceNowProfile": {
          "target": "com.gcp.datastream_v1#ServiceNowProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a ServiceNow source."
          }
        },
        "mongodbProfile": {
          "target": "com.gcp.datastream_v1#MongodbProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a MongoDB source."
          }
        },
        "dataverseProfile": {
          "target": "com.gcp.datastream_v1#DataverseProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a Dataverse source."
          }
        },
        "gcsProfile": {
          "target": "com.gcp.datastream_v1#GcsProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a Cloud Storage destination."
          }
        },
        "postgresqlProfile": {
          "target": "com.gcp.datastream_v1#PostgresqlProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a PostgreSQL source."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create time of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource's name."
          }
        },
        "staticServiceIpConnectivity": {
          "target": "com.gcp.datastream_v1#StaticServiceIpConnectivity",
          "traits": {
            "smithy.api#documentation": "Static Service IP connectivity."
          }
        },
        "forwardSshConnectivity": {
          "target": "com.gcp.datastream_v1#ForwardSshTunnelConnectivity",
          "traits": {
            "smithy.api#documentation": "Forward SSH tunnel connectivity."
          }
        },
        "salesforceProfile": {
          "target": "com.gcp.datastream_v1#SalesforceProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a Salesforce source."
          }
        },
        "salesforceMarketingCloudProfile": {
          "target": "com.gcp.datastream_v1#SalesforceMarketingCloudProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a Salesforce Marketing Cloud source."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update time of the resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name."
          }
        },
        "mysqlProfile": {
          "target": "com.gcp.datastream_v1#MysqlProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a MySQL source."
          }
        },
        "spannerProfile": {
          "target": "com.gcp.datastream_v1#SpannerProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a Spanner source."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "oracleProfile": {
          "target": "com.gcp.datastream_v1#OracleProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to an Oracle source."
          }
        },
        "privateConnectivity": {
          "target": "com.gcp.datastream_v1#PrivateConnectivity",
          "traits": {
            "smithy.api#documentation": "Private connectivity."
          }
        },
        "bigqueryProfile": {
          "target": "com.gcp.datastream_v1#BigQueryProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a BigQuery destination."
          }
        },
        "sqlServerProfile": {
          "target": "com.gcp.datastream_v1#SqlServerProfile",
          "traits": {
            "smithy.api#documentation": "Profile for connecting to a SQLServer source."
          }
        },
        "labels": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of reusable connection configurations to be used as a source or destination for a stream."
      }
    },
    "com.gcp.datastream_v1#RequestInfo": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
          }
        },
        "servingData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
      }
    },
    "com.gcp.datastream_v1#ListStreamObjectsResponse": {
      "type": "structure",
      "members": {
        "streamObjects": {
          "target": "com.gcp.datastream_v1#StreamObjectList",
          "traits": {
            "smithy.api#documentation": "List of stream objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the objects for a stream."
      }
    },
    "com.gcp.datastream_v1#StreamObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#StreamObject"
      }
    },
    "com.gcp.datastream_v1#PrivateConnection": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource's name."
          }
        },
        "pscInterfaceConfig": {
          "target": "com.gcp.datastream_v1#PscInterfaceConfig",
          "traits": {
            "smithy.api#documentation": "PSC Interface Config."
          }
        },
        "labels": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "vpcPeeringConfig": {
          "target": "com.gcp.datastream_v1#VpcPeeringConfig",
          "traits": {
            "smithy.api#documentation": "VPC Peering Config."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create time of the resource."
          }
        },
        "state": {
          "target": "com.gcp.datastream_v1#PrivateConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Private Connection."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update time of the resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name."
          }
        },
        "error": {
          "target": "com.gcp.datastream_v1#Datastream_Error",
          "traits": {
            "smithy.api#documentation": "Output only. In case of error, the details of the error in a user-friendly format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network."
      }
    },
    "com.gcp.datastream_v1#PrivateConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED_TO_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_DELETE"
          }
        }
      }
    },
    "com.gcp.datastream_v1#SpannerSchema": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema name."
          }
        },
        "tables": {
          "target": "com.gcp.datastream_v1#SpannerTableList",
          "traits": {
            "smithy.api#documentation": "Optional. Spanner tables in the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spanner schema."
      }
    },
    "com.gcp.datastream_v1#SpannerTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SpannerTable"
      }
    },
    "com.gcp.datastream_v1#MongodbSourceConfig": {
      "type": "structure",
      "members": {
        "includeObjects": {
          "target": "com.gcp.datastream_v1#MongodbCluster",
          "traits": {
            "smithy.api#documentation": "The MongoDB collections to include in the stream."
          }
        },
        "jsonMode": {
          "target": "com.gcp.datastream_v1#MongodbSourceConfigJsonModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. MongoDB JSON mode to use for the stream."
          }
        },
        "excludeObjects": {
          "target": "com.gcp.datastream_v1#MongodbCluster",
          "traits": {
            "smithy.api#documentation": "The MongoDB collections to exclude from the stream."
          }
        },
        "maxConcurrentBackfillTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for syncing data from a MongoDB source."
      }
    },
    "com.gcp.datastream_v1#MongodbSourceConfigJsonModeEnum": {
      "type": "enum",
      "members": {
        "MONGODB_JSON_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONGODB_JSON_MODE_UNSPECIFIED"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRICT"
          }
        },
        "CANONICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANONICAL"
          }
        }
      }
    },
    "com.gcp.datastream_v1#GcsDestinationConfig": {
      "type": "structure",
      "members": {
        "avroFileFormat": {
          "target": "com.gcp.datastream_v1#AvroFileFormat",
          "traits": {
            "smithy.api#documentation": "AVRO file format configuration."
          }
        },
        "jsonFileFormat": {
          "target": "com.gcp.datastream_v1#JsonFileFormat",
          "traits": {
            "smithy.api#documentation": "JSON file format configuration."
          }
        },
        "fileRotationMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum file size to be saved in the bucket."
          }
        },
        "fileRotationInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path inside the Cloud Storage bucket to write data to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Storage destination configuration"
      }
    },
    "com.gcp.datastream_v1#MysqlLogPosition": {
      "type": "structure",
      "members": {
        "logPosition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The position within the binary log file. Default is head of file."
          }
        },
        "logFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The binary log file name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySQL log position"
      }
    },
    "com.gcp.datastream_v1#Link": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what the link offers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a URL link."
      }
    },
    "com.gcp.datastream_v1#AvroFileFormat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "AVRO file format configuration."
      }
    },
    "com.gcp.datastream_v1#TimeUnitPartition": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The partitioning column."
          }
        },
        "partitioningTimeGranularity": {
          "target": "com.gcp.datastream_v1#TimeUnitPartitionPartitioningTimeGranularityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Partition granularity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables"
      }
    },
    "com.gcp.datastream_v1#TimeUnitPartitionPartitioningTimeGranularityEnum": {
      "type": "enum",
      "members": {
        "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED"
          }
        },
        "PARTITIONING_TIME_GRANULARITY_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONING_TIME_GRANULARITY_HOUR"
          }
        },
        "PARTITIONING_TIME_GRANULARITY_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONING_TIME_GRANULARITY_DAY"
          }
        },
        "PARTITIONING_TIME_GRANULARITY_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONING_TIME_GRANULARITY_MONTH"
          }
        },
        "PARTITIONING_TIME_GRANULARITY_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONING_TIME_GRANULARITY_YEAR"
          }
        }
      }
    },
    "com.gcp.datastream_v1#Merge": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Merge mode defines that all changes to a table will be merged at the destination table."
      }
    },
    "com.gcp.datastream_v1#BinaryLogPosition": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Use Binary log position based replication."
      }
    },
    "com.gcp.datastream_v1#NextAvailableStartPosition": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "CDC strategy to resume replication from the next available position in the source."
      }
    },
    "com.gcp.datastream_v1#RuleSet": {
      "type": "structure",
      "members": {
        "customizationRules": {
          "target": "com.gcp.datastream_v1#CustomizationRuleList",
          "traits": {
            "smithy.api#documentation": "Required. List of customization rules to apply."
          }
        },
        "objectFilter": {
          "target": "com.gcp.datastream_v1#ObjectFilter",
          "traits": {
            "smithy.api#documentation": "Required. Object filter to apply the customization rules to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of rules to apply to a set of objects."
      }
    },
    "com.gcp.datastream_v1#QuotaFailureViolation": {
      "type": "structure",
      "members": {
        "apiService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
          }
        },
        "quotaDimensions": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
          }
        },
        "futureQuotaValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\"."
          }
        },
        "quotaMetric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
          }
        },
        "quotaValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
          }
        },
        "quotaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded."
      }
    },
    "com.gcp.datastream_v1#SrvConnectionFormat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Srv connection format."
      }
    },
    "com.gcp.datastream_v1#SqlServerRdbms": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.gcp.datastream_v1#SqlServerSchemaList",
          "traits": {
            "smithy.api#documentation": "SQLServer schemas in the database server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQLServer database structure."
      }
    },
    "com.gcp.datastream_v1#SqlServerSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SqlServerSchema"
      }
    },
    "com.gcp.datastream_v1#SalesforceObjectIdentifier": {
      "type": "structure",
      "members": {
        "objectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The object name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Salesforce data source object identifier."
      }
    },
    "com.gcp.datastream_v1#ValidationResult": {
      "type": "structure",
      "members": {
        "validations": {
          "target": "com.gcp.datastream_v1#ValidationList",
          "traits": {
            "smithy.api#documentation": "A list of validations (includes both executed as well as not executed validations)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the current validation results."
      }
    },
    "com.gcp.datastream_v1#ValidationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Validation"
      }
    },
    "com.gcp.datastream_v1#SqlServerSchema": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name."
          }
        },
        "tables": {
          "target": "com.gcp.datastream_v1#SqlServerTableList",
          "traits": {
            "smithy.api#documentation": "Tables in the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQLServer schema."
      }
    },
    "com.gcp.datastream_v1#SqlServerTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#SqlServerTable"
      }
    },
    "com.gcp.datastream_v1#OracleRdbms": {
      "type": "structure",
      "members": {
        "oracleSchemas": {
          "target": "com.gcp.datastream_v1#OracleSchemaList",
          "traits": {
            "smithy.api#documentation": "Oracle schemas/databases in the database server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Oracle database structure."
      }
    },
    "com.gcp.datastream_v1#OracleSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#OracleSchema"
      }
    },
    "com.gcp.datastream_v1#MysqlTable": {
      "type": "structure",
      "members": {
        "mysqlColumns": {
          "target": "com.gcp.datastream_v1#MysqlColumnList",
          "traits": {
            "smithy.api#documentation": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySQL table."
      }
    },
    "com.gcp.datastream_v1#MysqlColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#MysqlColumn"
      }
    },
    "com.gcp.datastream_v1#FetchStaticIpsResponse": {
      "type": "structure",
      "members": {
        "staticIps": {
          "target": "com.gcp.datastream_v1#StringList",
          "traits": {
            "smithy.api#documentation": "list of static ips by account"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a 'FetchStaticIps' response."
      }
    },
    "com.gcp.datastream_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.datastream_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.datastream_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Location"
      }
    },
    "com.gcp.datastream_v1#Help": {
      "type": "structure",
      "members": {
        "links": {
          "target": "com.gcp.datastream_v1#LinkList",
          "traits": {
            "smithy.api#documentation": "URL(s) pointing to additional information on handling the current error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
      }
    },
    "com.gcp.datastream_v1#LinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#Link"
      }
    },
    "com.gcp.datastream_v1#MongodbProfile": {
      "type": "structure",
      "members": {
        "hostAddresses": {
          "target": "com.gcp.datastream_v1#HostAddressList",
          "traits": {
            "smithy.api#documentation": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the MongoDB connection."
          }
        },
        "secretManagerStoredPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field."
          }
        },
        "additionalOptions": {
          "target": "com.gcp.datastream_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user."
          }
        },
        "replicaSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified."
          }
        },
        "srvConnectionFormat": {
          "target": "com.gcp.datastream_v1#SrvConnectionFormat",
          "traits": {
            "smithy.api#documentation": "Srv connection format."
          }
        },
        "standardConnectionFormat": {
          "target": "com.gcp.datastream_v1#StandardConnectionFormat",
          "traits": {
            "smithy.api#documentation": "Standard connection format."
          }
        },
        "sslConfig": {
          "target": "com.gcp.datastream_v1#MongodbSslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. SSL configuration for the MongoDB connection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for connecting to a MongoDB source."
      }
    },
    "com.gcp.datastream_v1#HostAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastream_v1#HostAddress"
      }
    },
    "com.gcp.datastream_v1#JsonFileFormat": {
      "type": "structure",
      "members": {
        "schemaFileFormat": {
          "target": "com.gcp.datastream_v1#JsonFileFormatSchemaFileFormatEnum",
          "traits": {
            "smithy.api#documentation": "The schema file format along JSON data files."
          }
        },
        "compression": {
          "target": "com.gcp.datastream_v1#JsonFileFormatCompressionEnum",
          "traits": {
            "smithy.api#documentation": "Compression of the loaded JSON file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON file format configuration."
      }
    },
    "com.gcp.datastream_v1#JsonFileFormatSchemaFileFormatEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_FILE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_FILE_FORMAT_UNSPECIFIED"
          }
        },
        "NO_SCHEMA_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
