{
  "smithy": "2.0",
  "metadata": {
    "service": "dataproc",
    "version": "v1",
    "title": "Cloud Dataproc API",
    "baseUrl": "https://dataproc.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dataproc_v1#AttachedDiskConfig": {
      "type": "structure",
      "members": {
        "diskType": {
          "target": "com.gcp.dataproc_v1#AttachedDiskConfigDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Disk type."
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Disk size in GB."
          }
        },
        "provisionedIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how many IOPS to provision for the attached disk. This sets the number of I/O operations per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
          }
        },
        "provisionedThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how much throughput to provision for the attached disk. This sets the number of throughput mb per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the config of attached disk options for single VM instance."
      }
    },
    "com.gcp.dataproc_v1#AttachedDiskConfigDiskTypeEnum": {
      "type": "enum",
      "members": {
        "DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_TYPE_UNSPECIFIED"
          }
        },
        "HYPERDISK_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_BALANCED"
          }
        },
        "HYPERDISK_EXTREME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_EXTREME"
          }
        },
        "HYPERDISK_ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_ML"
          }
        },
        "HYPERDISK_THROUGHPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_THROUGHPUT"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#ValueValidation": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of allowed values for the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validation based on a list of allowed values."
      }
    },
    "com.gcp.dataproc_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataproc_v1#Job": {
      "type": "structure",
      "members": {
        "flinkJob": {
          "target": "com.gcp.dataproc_v1#FlinkJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Flink job."
          }
        },
        "sparkSqlJob": {
          "target": "com.gcp.dataproc_v1#SparkSqlJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a SparkSql job."
          }
        },
        "reference": {
          "target": "com.gcp.dataproc_v1#JobReference",
          "traits": {
            "smithy.api#documentation": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id."
          }
        },
        "sparkJob": {
          "target": "com.gcp.dataproc_v1#SparkJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Spark job."
          }
        },
        "statusHistory": {
          "target": "com.gcp.dataproc_v1#JobStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. The previous job status."
          }
        },
        "driverControlFilesUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If present, the location of miscellaneous control files which can be used as part of job setup and handling. If not present, control files might be placed in the same location as driver_output_uri."
          }
        },
        "prestoJob": {
          "target": "com.gcp.dataproc_v1#PrestoJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Presto job."
          }
        },
        "scheduling": {
          "target": "com.gcp.dataproc_v1#JobScheduling",
          "traits": {
            "smithy.api#documentation": "Optional. Job scheduling configuration."
          }
        },
        "placement": {
          "target": "com.gcp.dataproc_v1#JobPlacement",
          "traits": {
            "smithy.api#documentation": "Required. Job information, including how, when, and where to run the job."
          }
        },
        "labels": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled."
          }
        },
        "pysparkJob": {
          "target": "com.gcp.dataproc_v1#PySparkJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a PySpark job."
          }
        },
        "driverSchedulingConfig": {
          "target": "com.gcp.dataproc_v1#DriverSchedulingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Driver scheduling configuration."
          }
        },
        "jobUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that might be reused over time."
          }
        },
        "yarnApplications": {
          "target": "com.gcp.dataproc_v1#YarnApplicationList",
          "traits": {
            "smithy.api#documentation": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It might be changed before final release."
          }
        },
        "pigJob": {
          "target": "com.gcp.dataproc_v1#PigJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Pig job."
          }
        },
        "hadoopJob": {
          "target": "com.gcp.dataproc_v1#HadoopJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Hadoop job."
          }
        },
        "sparkRJob": {
          "target": "com.gcp.dataproc_v1#SparkRJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a SparkR job."
          }
        },
        "trinoJob": {
          "target": "com.gcp.dataproc_v1#TrinoJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Trino job."
          }
        },
        "status": {
          "target": "com.gcp.dataproc_v1#JobStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The job status. Additional application-specific status information might be contained in the type_job and yarn_applications fields."
          }
        },
        "driverOutputResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A URI pointing to the location of the stdout of the job's driver program."
          }
        },
        "hiveJob": {
          "target": "com.gcp.dataproc_v1#HiveJob",
          "traits": {
            "smithy.api#documentation": "Optional. Job is a Hive job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job resource."
      }
    },
    "com.gcp.dataproc_v1#JobStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#JobStatus"
      }
    },
    "com.gcp.dataproc_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataproc_v1#YarnApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#YarnApplication"
      }
    },
    "com.gcp.dataproc_v1#AccessSessionSparkApplicationResponse": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.gcp.dataproc_v1#ApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Output only. High level information corresponding to an application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of Spark Application"
      }
    },
    "com.gcp.dataproc_v1#StageShufflePushReadMetrics": {
      "type": "structure",
      "members": {
        "mergedFetchFallbackCount": {
          "target": "smithy.api#String"
        },
        "remoteMergedBlocksFetched": {
          "target": "smithy.api#String"
        },
        "remoteMergedReqsDuration": {
          "target": "smithy.api#String"
        },
        "remoteMergedBytesRead": {
          "target": "smithy.api#String"
        },
        "localMergedBytesRead": {
          "target": "smithy.api#String"
        },
        "localMergedBlocksFetched": {
          "target": "smithy.api#String"
        },
        "remoteMergedChunksFetched": {
          "target": "smithy.api#String"
        },
        "corruptMergedBlockChunks": {
          "target": "smithy.api#String"
        },
        "localMergedChunksFetched": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dataproc_v1#RddOperationGraph": {
      "type": "structure",
      "members": {
        "incomingEdges": {
          "target": "com.gcp.dataproc_v1#RddOperationEdgeList"
        },
        "outgoingEdges": {
          "target": "com.gcp.dataproc_v1#RddOperationEdgeList"
        },
        "rootCluster": {
          "target": "com.gcp.dataproc_v1#RddOperationCluster"
        },
        "stageId": {
          "target": "smithy.api#String"
        },
        "edges": {
          "target": "com.gcp.dataproc_v1#RddOperationEdgeList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Graph representing RDD dependencies. Consists of edges and a root cluster."
      }
    },
    "com.gcp.dataproc_v1#RddOperationEdgeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#RddOperationEdge"
      }
    },
    "com.gcp.dataproc_v1#PigJob": {
      "type": "structure",
      "members": {
        "queryFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HCFS URI of the script that contains the Pig queries."
          }
        },
        "jarFileUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs."
          }
        },
        "scriptVariables": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
          }
        },
        "continueOnFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
          }
        },
        "queryList": {
          "target": "com.gcp.dataproc_v1#QueryList",
          "traits": {
            "smithy.api#documentation": "A list of queries."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.dataproc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The runtime log config for job execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
      }
    },
    "com.gcp.dataproc_v1#StagesSummary": {
      "type": "structure",
      "members": {
        "numActiveStages": {
          "target": "smithy.api#Integer"
        },
        "numCompletedStages": {
          "target": "smithy.api#Integer"
        },
        "numSkippedStages": {
          "target": "smithy.api#Integer"
        },
        "applicationId": {
          "target": "smithy.api#String"
        },
        "numFailedStages": {
          "target": "smithy.api#Integer"
        },
        "numPendingStages": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Data related to Stages page summary"
      }
    },
    "com.gcp.dataproc_v1#InputMetrics": {
      "type": "structure",
      "members": {
        "bytesRead": {
          "target": "smithy.api#String"
        },
        "recordsRead": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics about the input data read by the task."
      }
    },
    "com.gcp.dataproc_v1#WriteSparkApplicationContextResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response returned as an acknowledgement of receipt of data."
      }
    },
    "com.gcp.dataproc_v1#GkeClusterConfig": {
      "type": "structure",
      "members": {
        "nodePoolTarget": {
          "target": "com.gcp.dataproc_v1#GkeNodePoolTargetList",
          "traits": {
            "smithy.api#documentation": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings."
          }
        },
        "namespacedGkeDeploymentTarget": {
          "target": "com.gcp.dataproc_v1#NamespacedGkeDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment."
          }
        },
        "gkeClusterTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cluster's GKE config."
      }
    },
    "com.gcp.dataproc_v1#GkeNodePoolTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#GkeNodePoolTarget"
      }
    },
    "com.gcp.dataproc_v1#BasicYarnAutoscalingConfig": {
      "type": "structure",
      "members": {
        "scaleDownFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
          }
        },
        "gracefulDecommissionTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d."
          }
        },
        "scaleUpMinWorkerFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
          }
        },
        "scaleUpFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
          }
        },
        "scaleDownMinWorkerFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic autoscaling configurations for YARN."
      }
    },
    "com.gcp.dataproc_v1#NativeSqlExecutionUiData": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Execution ID of the Native SQL Execution."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the execution."
          }
        },
        "fallbackNodeToReason": {
          "target": "com.gcp.dataproc_v1#FallbackReasonList",
          "traits": {
            "smithy.api#documentation": "Optional. Fallback node to reason."
          }
        },
        "numNativeNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of nodes in Native."
          }
        },
        "numFallbackNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of nodes fallen back to Spark."
          }
        },
        "fallbackDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the fallback."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Native SQL Execution Data"
      }
    },
    "com.gcp.dataproc_v1#FallbackReasonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#FallbackReason"
      }
    },
    "com.gcp.dataproc_v1#ApplicationEnvironmentInfo": {
      "type": "structure",
      "members": {
        "systemProperties": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "hadoopProperties": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "runtime": {
          "target": "com.gcp.dataproc_v1#SparkRuntimeInfo"
        },
        "sparkProperties": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "metricsProperties": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "classpathEntries": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "resourceProfiles": {
          "target": "com.gcp.dataproc_v1#ResourceProfileInfoList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the Environment that the application is running in."
      }
    },
    "com.gcp.dataproc_v1#ResourceProfileInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#ResourceProfileInfo"
      }
    },
    "com.gcp.dataproc_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.dataproc_v1#AccumulableInfo": {
      "type": "structure",
      "members": {
        "accumullableInfoId": {
          "target": "smithy.api#String"
        },
        "update": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dataproc_v1#SearchSessionSparkApplicationsResponse": {
      "type": "structure",
      "members": {
        "sparkApplications": {
          "target": "com.gcp.dataproc_v1#SparkApplicationList",
          "traits": {
            "smithy.api#documentation": "Output only. High level information corresponding to an application."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of summary of Spark Applications"
      }
    },
    "com.gcp.dataproc_v1#SparkApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#SparkApplication"
      }
    },
    "com.gcp.dataproc_v1#InputQuantileMetrics": {
      "type": "structure",
      "members": {
        "bytesRead": {
          "target": "com.gcp.dataproc_v1#Quantiles"
        },
        "recordsRead": {
          "target": "com.gcp.dataproc_v1#Quantiles"
        }
      }
    },
    "com.gcp.dataproc_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.dataproc_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.dataproc_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#Binding"
      }
    },
    "com.gcp.dataproc_v1#SparkRBatch": {
      "type": "structure",
      "members": {
        "fileUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of files to be placed in the working directory of each executor."
          }
        },
        "archiveUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
          }
        },
        "mainRFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file."
          }
        },
        "args": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration for running an Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) batch workload."
      }
    },
    "com.gcp.dataproc_v1#DiskConfig": {
      "type": "structure",
      "members": {
        "bootDiskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the boot disk (default is pd-standard). Valid values: pd-balanced (Persistent Disk Balanced Solid State Drive), pd-ssd (Persistent Disk Solid State Drive), or pd-standard (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types)."
          }
        },
        "localSsdInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Interface type of local SSDs (default is scsi). Valid values: scsi (Small Computer System Interface), nvme (Non-Volatile Memory Express). See local SSD performance (https://cloud.google.com/compute/docs/disks/local-ssd#performance)."
          }
        },
        "bootDiskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Size in GB of the boot disk (default is 500GB)."
          }
        },
        "bootDiskProvisionedIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. This field is supported only if boot_disk_type is hyperdisk-balanced."
          }
        },
        "bootDiskProvisionedThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput mb per second that the disk can handle. Values must be greater than or equal to 1. This field is supported only if boot_disk_type is hyperdisk-balanced."
          }
        },
        "numLocalSsds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of attached SSDs, from 0 to 8 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.Note: Local SSD options may vary by machine type and number of vCPUs selected."
          }
        },
        "attachedDiskConfigs": {
          "target": "com.gcp.dataproc_v1#AttachedDiskConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of attached disk configs for a group of VM instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the config of boot disk and attached disk options for a group of VM instances."
      }
    },
    "com.gcp.dataproc_v1#AttachedDiskConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#AttachedDiskConfig"
      }
    },
    "com.gcp.dataproc_v1#SparkStandaloneAutoscalingConfig": {
      "type": "structure",
      "members": {
        "scaleUpFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0."
          }
        },
        "scaleDownMinWorkerFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
          }
        },
        "gracefulDecommissionTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decommissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d."
          }
        },
        "scaleUpMinWorkerFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
          }
        },
        "scaleDownFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0."
          }
        },
        "removeOnlyIdleWorkers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Remove only idle workers when scaling down cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic autoscaling configurations for Spark Standalone."
      }
    },
    "com.gcp.dataproc_v1#SearchSparkApplicationStagesResponse": {
      "type": "structure",
      "members": {
        "sparkApplicationStages": {
          "target": "com.gcp.dataproc_v1#StageDataList",
          "traits": {
            "smithy.api#documentation": "Output only. Data corresponding to a stage."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationStages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of stages associated with a Spark Application."
      }
    },
    "com.gcp.dataproc_v1#StageDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#StageData"
      }
    },
    "com.gcp.dataproc_v1#QueryList": {
      "type": "structure",
      "members": {
        "queries": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of queries to run on a cluster."
      }
    },
    "com.gcp.dataproc_v1#DataprocMetricConfig": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.dataproc_v1#MetricList",
          "traits": {
            "smithy.api#documentation": "Required. Metrics sources to enable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metric config."
      }
    },
    "com.gcp.dataproc_v1#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#Metric"
      }
    },
    "com.gcp.dataproc_v1#OutputQuantileMetrics": {
      "type": "structure",
      "members": {
        "bytesWritten": {
          "target": "com.gcp.dataproc_v1#Quantiles"
        },
        "recordsWritten": {
          "target": "com.gcp.dataproc_v1#Quantiles"
        }
      }
    },
    "com.gcp.dataproc_v1#SparkConnectSessionInfo": {
      "type": "structure",
      "members": {
        "totalExecution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Total number of executions in the session."
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Session ID of the session."
          }
        },
        "startTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session started."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID of the user who started the session."
          }
        },
        "finishTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the session finished."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents session-level information for Spark Connect"
      }
    },
    "com.gcp.dataproc_v1#SparkWrapperObject": {
      "type": "structure",
      "members": {
        "executorSummary": {
          "target": "com.gcp.dataproc_v1#ExecutorSummary"
        },
        "applicationInfo": {
          "target": "com.gcp.dataproc_v1#ApplicationInfo"
        },
        "nativeBuildInfoUiData": {
          "target": "com.gcp.dataproc_v1#NativeBuildInfoUiData",
          "traits": {
            "smithy.api#documentation": "Native Build Info"
          }
        },
        "streamBlockData": {
          "target": "com.gcp.dataproc_v1#StreamBlockData"
        },
        "resourceProfileInfo": {
          "target": "com.gcp.dataproc_v1#ResourceProfileInfo"
        },
        "rddOperationGraph": {
          "target": "com.gcp.dataproc_v1#RddOperationGraph"
        },
        "nativeSqlExecutionUiData": {
          "target": "com.gcp.dataproc_v1#NativeSqlExecutionUiData",
          "traits": {
            "smithy.api#documentation": "Native SQL Execution Info"
          }
        },
        "applicationEnvironmentInfo": {
          "target": "com.gcp.dataproc_v1#ApplicationEnvironmentInfo"
        },
        "sparkConnectSessionInfo": {
          "target": "com.gcp.dataproc_v1#SparkConnectSessionInfo",
          "traits": {
            "smithy.api#documentation": "Spark Connect Session Info"
          }
        },
        "sparkConnectExecutionInfo": {
          "target": "com.gcp.dataproc_v1#SparkConnectExecutionInfo",
          "traits": {
            "smithy.api#documentation": "Spark Connect Execution Info"
          }
        },
        "appSummary": {
          "target": "com.gcp.dataproc_v1#AppSummary"
        },
        "eventTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VM Timestamp associated with the data object."
          }
        },
        "streamingQueryData": {
          "target": "com.gcp.dataproc_v1#StreamingQueryData"
        },
        "sqlExecutionUiData": {
          "target": "com.gcp.dataproc_v1#SqlExecutionUiData"
        },
        "streamingQueryProgress": {
          "target": "com.gcp.dataproc_v1#StreamingQueryProgress"
        },
        "poolData": {
          "target": "com.gcp.dataproc_v1#PoolData"
        },
        "sparkPlanGraph": {
          "target": "com.gcp.dataproc_v1#SparkPlanGraph"
        },
        "executorStageSummary": {
          "target": "com.gcp.dataproc_v1#ExecutorStageSummary"
        },
        "rddStorageInfo": {
          "target": "com.gcp.dataproc_v1#RddStorageInfo"
        },
        "processSummary": {
          "target": "com.gcp.dataproc_v1#ProcessSummary"
        },
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application Id created by Spark."
          }
        },
        "speculationStageSummary": {
          "target": "com.gcp.dataproc_v1#SpeculationStageSummary"
        },
        "taskData": {
          "target": "com.gcp.dataproc_v1#TaskData"
        },
        "stageData": {
          "target": "com.gcp.dataproc_v1#StageData"
        },
        "jobData": {
          "target": "com.gcp.dataproc_v1#JobData"
        }
      },
      "traits": {
        "smithy.api#documentation": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it."
      }
    },
    "com.gcp.dataproc_v1#AnalyzeOperationMetadata": {
      "type": "structure",
      "members": {
        "analyzedWorkloadUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. unique identifier of the workload typically generated by control plane. E.g. batch uuid."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Short description of the operation."
          }
        },
        "analyzedWorkloadType": {
          "target": "com.gcp.dataproc_v1#AnalyzeOperationMetadataAnalyzedWorkloadTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the workload being analyzed."
          }
        },
        "analyzedWorkloadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. name of the workload being analyzed."
          }
        },
        "labels": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Labels associated with the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the operation was created."
          }
        },
        "doneTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the operation finished."
          }
        },
        "warnings": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Warnings encountered during operation execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing the Analyze operation."
      }
    },
    "com.gcp.dataproc_v1#AnalyzeOperationMetadataAnalyzedWorkloadTypeEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_TYPE_UNSPECIFIED"
          }
        },
        "BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#ValueInfo": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property value."
          }
        },
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Annotation, comment or explanation why the property was set."
          }
        },
        "overriddenValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value which was replaced by the corresponding component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotatated property value."
      }
    },
    "com.gcp.dataproc_v1#DiagnoseClusterRequest": {
      "type": "structure",
      "members": {
        "tarballAccess": {
          "target": "com.gcp.dataproc_v1#DiagnoseClusterRequestTarballAccessEnum",
          "traits": {
            "smithy.api#documentation": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket"
          }
        },
        "yarnApplicationIds": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed."
          }
        },
        "jobs": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
          }
        },
        "tarballGcsDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used."
          }
        },
        "yarnApplicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed."
          }
        },
        "diagnosisInterval": {
          "target": "com.gcp.dataproc_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Optional. Time interval in which diagnosis should be carried out on the cluster."
          }
        },
        "job": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to collect cluster diagnostic information."
      }
    },
    "com.gcp.dataproc_v1#DiagnoseClusterRequestTarballAccessEnum": {
      "type": "enum",
      "members": {
        "TARBALL_ACCESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARBALL_ACCESS_UNSPECIFIED"
          }
        },
        "GOOGLE_CLOUD_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD_SUPPORT"
          }
        },
        "GOOGLE_DATAPROC_DIAGNOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DATAPROC_DIAGNOSE"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#ExecutorResourceRequest": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String"
        },
        "amount": {
          "target": "smithy.api#String"
        },
        "vendor": {
          "target": "smithy.api#String"
        },
        "discoveryScript": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resources used per executor used by the application."
      }
    },
    "com.gcp.dataproc_v1#PrestoJob": {
      "type": "structure",
      "members": {
        "continueOnFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
          }
        },
        "outputFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats"
          }
        },
        "queryList": {
          "target": "com.gcp.dataproc_v1#QueryList",
          "traits": {
            "smithy.api#documentation": "A list of queries."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.dataproc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The runtime log config for job execution."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI"
          }
        },
        "queryFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HCFS URI of the script that contains SQL queries."
          }
        },
        "clientTags": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Presto client tags to attach to this query"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster."
      }
    },
    "com.gcp.dataproc_v1#RepairNodeGroupRequest": {
      "type": "structure",
      "members": {
        "instanceNames": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Name of instances to be repaired. These instances must belong to specified node pool."
          }
        },
        "repairAction": {
          "target": "com.gcp.dataproc_v1#RepairNodeGroupRequestRepairActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Repair action to take on specified resources of the node pool."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique ID used to identify the request. If the server receives two RepairNodeGroupRequest with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
          }
        }
      }
    },
    "com.gcp.dataproc_v1#RepairNodeGroupRequestRepairActionEnum": {
      "type": "enum",
      "members": {
        "REPAIR_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIR_ACTION_UNSPECIFIED"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#ListJobsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of jobs with kms_key-encrypted parameters that could not be decrypted. A response to a jobs.get request may indicate the reason for the decryption failure for a specific job."
          }
        },
        "jobs": {
          "target": "com.gcp.dataproc_v1#JobList",
          "traits": {
            "smithy.api#documentation": "Output only. Jobs list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of jobs in a project."
      }
    },
    "com.gcp.dataproc_v1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#Job"
      }
    },
    "com.gcp.dataproc_v1#AccessSparkApplicationSqlSparkPlanGraphResponse": {
      "type": "structure",
      "members": {
        "sparkPlanGraph": {
          "target": "com.gcp.dataproc_v1#SparkPlanGraph",
          "traits": {
            "smithy.api#documentation": "SparkPlanGraph for a Spark Application execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters."
      }
    },
    "com.gcp.dataproc_v1#ClusterSelector": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
          }
        },
        "clusterLabels": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. The cluster labels. Cluster must have all labels to match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A selector that chooses target cluster for jobs based on metadata."
      }
    },
    "com.gcp.dataproc_v1#ExecutorMetricsDistributions": {
      "type": "structure",
      "members": {
        "peakMemoryMetrics": {
          "target": "com.gcp.dataproc_v1#ExecutorPeakMetricsDistributions"
        },
        "shuffleWrite": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "shuffleReadRecords": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "diskBytesSpilled": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "shuffleRead": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "killedTasks": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "outputRecords": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "inputRecords": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "outputBytes": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "succeededTasks": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "inputBytes": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "taskTimeMillis": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "quantiles": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "failedTasks": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "shuffleWriteRecords": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        },
        "memoryBytesSpilled": {
          "target": "com.gcp.dataproc_v1#DoubleList"
        }
      }
    },
    "com.gcp.dataproc_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.dataproc_v1#Batch": {
      "type": "structure",
      "members": {
        "sparkRBatch": {
          "target": "com.gcp.dataproc_v1#SparkRBatch",
          "traits": {
            "smithy.api#documentation": "Optional. SparkR batch config."
          }
        },
        "sparkSqlBatch": {
          "target": "com.gcp.dataproc_v1#SparkSqlBatch",
          "traits": {
            "smithy.api#documentation": "Optional. SparkSql batch config."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user who created the batch."
          }
        },
        "pysparkNotebookBatch": {
          "target": "com.gcp.dataproc_v1#PySparkNotebookBatch",
          "traits": {
            "smithy.api#documentation": "Optional. PySpark notebook batch config."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the batch."
          }
        },
        "state": {
          "target": "com.gcp.dataproc_v1#BatchStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the batch."
          }
        },
        "pysparkBatch": {
          "target": "com.gcp.dataproc_v1#PySparkBatch",
          "traits": {
            "smithy.api#documentation": "Optional. PySpark batch config."
          }
        },
        "runtimeInfo": {
          "target": "com.gcp.dataproc_v1#RuntimeInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime information about batch execution."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch."
          }
        },
        "sparkBatch": {
          "target": "com.gcp.dataproc_v1#SparkBatch",
          "traits": {
            "smithy.api#documentation": "Optional. Spark batch config."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the operation associated with this batch."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the batch was created."
          }
        },
        "environmentConfig": {
          "target": "com.gcp.dataproc_v1#EnvironmentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Environment configuration for the batch execution."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Batch state details, such as a failure description if the state is FAILED."
          }
        },
        "runtimeConfig": {
          "target": "com.gcp.dataproc_v1#RuntimeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Runtime configuration for the batch execution."
          }
        },
        "stateHistory": {
          "target": "com.gcp.dataproc_v1#StateHistoryList",
          "traits": {
            "smithy.api#documentation": "Output only. Historical state information for the batch."
          }
        },
        "stateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the batch entered a current state."
          }
        },
        "labels": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a batch workload in the service."
      }
    },
    "com.gcp.dataproc_v1#BatchStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#StateHistoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#StateHistory"
      }
    },
    "com.gcp.dataproc_v1#SearchSessionSparkApplicationStageAttemptTasksResponse": {
      "type": "structure",
      "members": {
        "sparkApplicationStageAttemptTasks": {
          "target": "com.gcp.dataproc_v1#TaskDataList",
          "traits": {
            "smithy.api#documentation": "Output only. Data corresponding to tasks created by spark."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptTasksRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of tasks for a stage of a Spark Application"
      }
    },
    "com.gcp.dataproc_v1#TaskDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#TaskData"
      }
    },
    "com.gcp.dataproc_v1#FlinkJob": {
      "type": "structure",
      "members": {
        "args": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision might occur that causes an incorrect job submission."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of property names to values, used to configure Flink. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/flink/conf/flink-defaults.conf and classes in user code."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.dataproc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The runtime log config for job execution."
          }
        },
        "mainJarFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HCFS URI of the jar file that contains the main class."
          }
        },
        "mainClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jarFileUris."
          }
        },
        "jarFileUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Flink driver and tasks."
          }
        },
        "savepointUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URI of the savepoint, which contains the last saved progress for starting the current job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job for running Apache Flink applications on YARN."
      }
    },
    "com.gcp.dataproc_v1#YarnApplication": {
      "type": "structure",
      "members": {
        "memoryMbSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds."
          }
        },
        "state": {
          "target": "com.gcp.dataproc_v1#YarnApplicationStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The application state."
          }
        },
        "vcoreSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The application name."
          }
        },
        "progress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The numerical progress of the application, from 1 to 100."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
      }
    },
    "com.gcp.dataproc_v1#YarnApplicationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "NEW_SAVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_SAVING"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMITTED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "KILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILLED"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#RddPartitionInfo": {
      "type": "structure",
      "members": {
        "storageLevel": {
          "target": "smithy.api#String"
        },
        "diskUsed": {
          "target": "smithy.api#String"
        },
        "executors": {
          "target": "com.gcp.dataproc_v1#StringList"
        },
        "blockName": {
          "target": "smithy.api#String"
        },
        "memoryUsed": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about RDD partitions."
      }
    },
    "com.gcp.dataproc_v1#SearchSparkApplicationsResponse": {
      "type": "structure",
      "members": {
        "sparkApplications": {
          "target": "com.gcp.dataproc_v1#SparkApplicationList",
          "traits": {
            "smithy.api#documentation": "Output only. High level information corresponding to an application."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of summary of Spark Applications"
      }
    },
    "com.gcp.dataproc_v1#RepositoryConfig": {
      "type": "structure",
      "members": {
        "pypiRepositoryConfig": {
          "target": "com.gcp.dataproc_v1#PyPiRepositoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for PyPi repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for dependency repositories"
      }
    },
    "com.gcp.dataproc_v1#OutputMetrics": {
      "type": "structure",
      "members": {
        "bytesWritten": {
          "target": "smithy.api#String"
        },
        "recordsWritten": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics about the data written by the task."
      }
    },
    "com.gcp.dataproc_v1#SparkPlanGraphNodeWrapper": {
      "type": "structure",
      "members": {
        "node": {
          "target": "com.gcp.dataproc_v1#SparkPlanGraphNode"
        },
        "cluster": {
          "target": "com.gcp.dataproc_v1#SparkPlanGraphCluster"
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper user to represent either a node or a cluster."
      }
    },
    "com.gcp.dataproc_v1#TerminateSessionRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to terminate an interactive session."
      }
    },
    "com.gcp.dataproc_v1#AutoscalingConfig": {
      "type": "structure",
      "members": {
        "policyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Autoscaling Policy config associated with the cluster."
      }
    },
    "com.gcp.dataproc_v1#AutotuningConfig": {
      "type": "structure",
      "members": {
        "scenarios": {
          "target": "com.gcp.dataproc_v1#AutotuningConfigScenariosItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Scenarios for which tunings are applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Autotuning configuration of the workload."
      }
    },
    "com.gcp.dataproc_v1#AutotuningConfigScenariosItemEnum": {
      "type": "enum",
      "members": {
        "SCENARIO_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCENARIO_UNSPECIFIED"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING"
          }
        },
        "BROADCAST_HASH_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROADCAST_HASH_JOIN"
          }
        },
        "MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        }
      }
    },
    "com.gcp.dataproc_v1#AutotuningConfigScenariosItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#AutotuningConfigScenariosItemEnum"
      }
    },
    "com.gcp.dataproc_v1#RuntimeInfo": {
      "type": "structure",
      "members": {
        "endpoints": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map of remote access endpoints (such as web interfaces and APIs) to their URIs."
          }
        },
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A URI pointing to the location of the stdout and stderr of the workload."
          }
        },
        "approximateUsage": {
          "target": "com.gcp.dataproc_v1#UsageMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. Approximate workload resource usage, calculated when the workload completes (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).Note: This metric calculation may change in the future, for example, to capture cumulative workload resource consumption during workload execution (see the Dataproc Serverless release notes (https://cloud.google.com/dataproc-serverless/docs/release-notes) for announcements, changes, fixes and other Dataproc developments)."
          }
        },
        "currentUsage": {
          "target": "com.gcp.dataproc_v1#UsageSnapshot",
          "traits": {
            "smithy.api#documentation": "Output only. Snapshot of current workload resource usage."
          }
        },
        "propertiesInfo": {
          "target": "com.gcp.dataproc_v1#PropertiesInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Properties of the workload organized by origin."
          }
        },
        "cohortInfo": {
          "target": "com.gcp.dataproc_v1#CohortInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the cohort that the workload belongs to."
          }
        },
        "diagnosticOutputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A URI pointing to the location of the diagnostics tarball."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime information about workload execution."
      }
    },
    "com.gcp.dataproc_v1#SparkPlanGraphEdge": {
      "type": "structure",
      "members": {
        "fromId": {
          "target": "smithy.api#String"
        },
        "toId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a directed edge in the spark plan tree from child to parent."
      }
    },
    "com.gcp.dataproc_v1#SparkSqlJob": {
      "type": "structure",
      "members": {
        "queryList": {
          "target": "com.gcp.dataproc_v1#QueryList",
          "traits": {
            "smithy.api#documentation": "A list of queries."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.dataproc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The runtime log config for job execution."
          }
        },
        "scriptVariables": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API might be overwritten."
          }
        },
        "jarFileUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH."
          }
        },
        "queryFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HCFS URI of the script that contains SQL queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job for running Apache Spark SQL (https://spark.apache.org/sql/) queries."
      }
    },
    "com.gcp.dataproc_v1#ListWorkflowTemplatesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of workflow templates that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response."
          }
        },
        "templates": {
          "target": "com.gcp.dataproc_v1#WorkflowTemplateList",
          "traits": {
            "smithy.api#documentation": "Output only. WorkflowTemplates list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a request to list workflow templates in a project."
      }
    },
    "com.gcp.dataproc_v1#WorkflowTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#WorkflowTemplate"
      }
    },
    "com.gcp.dataproc_v1#SourceProgress": {
      "type": "structure",
      "members": {
        "processedRowsPerSecond": {
          "target": "smithy.api#Double"
        },
        "metrics": {
          "target": "com.gcp.dataproc_v1#StringMap"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "inputRowsPerSecond": {
          "target": "smithy.api#Double"
        },
        "startOffset": {
          "target": "smithy.api#String"
        },
        "numInputRows": {
          "target": "smithy.api#String"
        },
        "endOffset": {
          "target": "smithy.api#String"
        },
        "latestOffset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dataproc_v1#SearchSparkApplicationStageAttemptTasksResponse": {
      "type": "structure",
      "members": {
        "sparkApplicationStageAttemptTasks": {
          "target": "com.gcp.dataproc_v1#TaskDataList",
          "traits": {
            "smithy.api#documentation": "Output only. Data corresponding to tasks created by spark."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptTasksRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of tasks for a stage of a Spark Application"
      }
    },
    "com.gcp.dataproc_v1#NodeGroupAffinity": {
      "type": "structure",
      "members": {
        "nodeGroupUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 node-group-1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node Group Affinity for clusters using sole-tenant node groups. The NodeGroupAffinity resource is not related to the NodeGroup resource."
      }
    },
    "com.gcp.dataproc_v1#InstanceGroupAutoscalingPolicyConfig": {
      "type": "structure",
      "members": {
        "minInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers."
          }
        },
        "maxInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the size bounds of an instance group, including its proportional size to other groups."
      }
    },
    "com.gcp.dataproc_v1#ProvisioningModelMix": {
      "type": "structure",
      "members": {
        "standardCapacityPercentAboveBase": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The percentage of target capacity that should use Standard VM. The remaining percentage will use Spot VMs. The percentage applies only to the capacity above standard_capacity_base. eg. If 15 instances are requested and standard_capacity_base is 5 and standard_capacity_percent_above_base is 30, the service will create 5 standard VMs and then start mixing spot and standard VMs for remaining 10 instances. The mix will be 30% standard and 70% spot."
          }
        },
        "standardCapacityBase": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The base capacity that will always use Standard VMs to avoid risk of more preemption than the minimum capacity you need. The service will create only standard VMs until it reaches standard_capacity_base, then it will start using standard_capacity_percent_above_base to mix Spot with Standard VMs. eg. If 15 instances are requested and standard_capacity_base is 5, the service will create 5 standard VMs and thenstart mixing spot and standard VMs for remaining 10 instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines how to create VMs with a mixture of provisioning models."
      }
    },
    "com.gcp.dataproc_v1#ListAutoscalingPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.dataproc_v1#AutoscalingPolicyList",
          "traits": {
            "smithy.api#documentation": "Output only. Autoscaling policies list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This token is included in the response if there are more results to fetch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a request to list autoscaling policies in a project."
      }
    },
    "com.gcp.dataproc_v1#AutoscalingPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#AutoscalingPolicy"
      }
    },
    "com.gcp.dataproc_v1#AccessSessionSparkApplicationStageAttemptResponse": {
      "type": "structure",
      "members": {
        "stageData": {
          "target": "com.gcp.dataproc_v1#StageData",
          "traits": {
            "smithy.api#documentation": "Output only. Data corresponding to a stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stage Attempt for a Stage of a Spark Application"
      }
    },
    "com.gcp.dataproc_v1#KubernetesSoftwareConfig": {
      "type": "structure",
      "members": {
        "componentVersion": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The software configuration for this Dataproc cluster running on Kubernetes."
      }
    },
    "com.gcp.dataproc_v1#SqlPlanMetric": {
      "type": "structure",
      "members": {
        "accumulatorId": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "metricType": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics related to SQL execution."
      }
    },
    "com.gcp.dataproc_v1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.gcp.dataproc_v1#ClusterList",
          "traits": {
            "smithy.api#documentation": "Output only. The clusters in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of all clusters in a project."
      }
    },
    "com.gcp.dataproc_v1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#Cluster"
      }
    },
    "com.gcp.dataproc_v1#SearchSessionSparkApplicationExecutorsResponse": {
      "type": "structure",
      "members": {
        "sparkApplicationExecutors": {
          "target": "com.gcp.dataproc_v1#ExecutorSummaryList",
          "traits": {
            "smithy.api#documentation": "Details about executors used by the application."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Executors associated with a Spark Application."
      }
    },
    "com.gcp.dataproc_v1#ExecutorSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#ExecutorSummary"
      }
    },
    "com.gcp.dataproc_v1#SearchSessionSparkApplicationSqlQueriesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationSqlQueriesRequest."
          }
        },
        "sparkApplicationSqlQueries": {
          "target": "com.gcp.dataproc_v1#SqlExecutionUiDataList",
          "traits": {
            "smithy.api#documentation": "Output only. SQL Execution Data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of all queries for a Spark Application."
      }
    },
    "com.gcp.dataproc_v1#SqlExecutionUiDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataproc_v1#SqlExecutionUiData"
      }
    },
    "com.gcp.dataproc_v1#HiveJob": {
      "type": "structure",
      "members": {
        "jarFileUris": {
          "target": "com.gcp.dataproc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs."
          }
        },
        "queryFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HCFS URI of the script that contains Hive queries."
          }
        },
        "queryList": {
          "target": "com.gcp.dataproc_v1#QueryList",
          "traits": {
            "smithy.api#documentation": "A list of queries."
          }
        },
        "continueOnFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
          }
        },
        "scriptVariables": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";)."
          }
        },
        "properties": {
          "target": "com.gcp.dataproc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN."
      }
    },
    "com.gcp.dataproc_v1#TaskMetrics": {
      "type": "structure",
      "members": {
        "peakExecutionMemoryBytes": {
          "target": "smithy.api#String"
        },
        "diskBytesSpilled": {
          "target": "smithy.api#String"
        },
        "outputMetrics": {
          "target": "com.gcp.dataproc_v1#OutputMetrics"
        },
        "executorDeserializeCpuTimeNanos": {
          "target": "smithy.api#String"
        },
        "shuffleReadMetrics": {
          "target": "com.gcp.dataproc_v1#ShuffleReadMetrics"
        },
        "resultSize": {
          "target": "smithy.api#String"
        },
        "jvmGcTimeMillis": {
          "target": "smithy.api#String"
        },
        "executorCpuTimeNanos": {
          "target": "smithy.api#String"
        },
        "resultSerializationTimeMillis": {
          "target": "smithy.api#String"
        },
        "inputMetrics": {
          "target": "com.gcp.dataproc_v1#InputMetrics"
        },
        "shuffleWriteMetrics": {
          "target": "com.gcp.dataproc_v1#ShuffleWriteMetrics"
        },
        "executorRunTimeMillis": {
          "target": "smithy.api#String"
        },
        "executorDeserializeTimeMillis": {
          "target": "smithy.api#String"
        },
        "memoryBytesSpilled": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Executor Task Metrics"
      }
    },
    "com.gcp.dataproc_v1#AccessSparkApplicationSqlQueryResponse": {
      "type": "structure",
      "members": {
        "executionData": {
          "target": "com.gcp.dataproc_v1#SqlExecutionUiData",
          "traits": {
[...]
