{
  "smithy": "2.0",
  "metadata": {
    "service": "databasecenter",
    "version": "v1beta",
    "title": "Database Center API",
    "baseUrl": "https://databasecenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.databasecenter_v1beta#ResourceMaintenanceDenySchedule": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.databasecenter_v1beta#Databasecenter_Date",
          "traits": {
            "smithy.api#documentation": "Optional. The start date of the deny maintenance period."
          }
        },
        "time": {
          "target": "com.gcp.databasecenter_v1beta#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date."
          }
        },
        "endDate": {
          "target": "com.gcp.databasecenter_v1beta#Databasecenter_Date",
          "traits": {
            "smithy.api#documentation": "Optional. Deny period end date."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer."
      }
    },
    "com.gcp.databasecenter_v1beta#QueryDatabaseResourceGroupsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `QueryDatabaseResourceGroupsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page page token."
          }
        },
        "signalFilters": {
          "target": "com.gcp.databasecenter_v1beta#SignalFilterList",
          "traits": {
            "smithy.api#documentation": "Optional. Filters based on signals. The list will be ORed together and then ANDed with the `filters` field above."
          }
        },
        "signalTypeGroups": {
          "target": "com.gcp.databasecenter_v1beta#SignalTypeGroupList",
          "traits": {
            "smithy.api#documentation": "Optional. Groups of signal types that are requested."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field that specifies the sort order of the results. The following fields are sortable: * full_resource_name * product.type * product.engine * product.version * container * issue_count * machine_config.vcpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * issue_severity * signal_type * location * resource_type * instance_type * edition * metrics.p99_cpu_utilization * metrics.p95_cpu_utilization * metrics.current_storage_used_bytes * metrics.node_count * metrics.processing_unit_count * metrics.current_memory_used_bytes * metrics.peak_storage_utilization * metrics.peak_number_connections * metrics.peak_memory_utilization The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time. For example: `order_by = \"full_resource_name\"` sorts response in ascending order `order_by = \"full_resource_name DESC\"` sorts response in descending order `order_by = \"issue_count DESC\"` sorts response in descending order of count of all issues associated with a resource. More explicitly, `order_by = \"full_resource_name, product\"` is not supported."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If unspecified, at most 50 resource groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The expression to filter resources. The following fields are filterable: * full_resource_name * resource_type * container * product.type * product.engine * product.version * location * labels * resource_category * machine_config.cpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * tags * backupdr_config.backupdr_managed * edition The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Example: `full_resource_name=~\"test\"` Example: `full_resource_name=~\"test.*master\"`"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryDatabaseResourceGroupsRequest is the request to get a list of database groups."
      }
    },
    "com.gcp.databasecenter_v1beta#SignalFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#SignalFilter"
      }
    },
    "com.gcp.databasecenter_v1beta#SignalTypeGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#SignalTypeGroup"
      }
    },
    "com.gcp.databasecenter_v1beta#Affiliation": {
      "type": "structure",
      "members": {
        "lineages": {
          "target": "com.gcp.databasecenter_v1beta#LineageList",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple lineages can be created from a resource. For example, a resource can be replicated to multiple target resources. In this case, there will be multiple lineages for the resource, one for each target resource."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Full resource name"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. resource id of affiliated resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Affiliation information of a resource"
      }
    },
    "com.gcp.databasecenter_v1beta#LineageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#Lineage"
      }
    },
    "com.gcp.databasecenter_v1beta#BackupRunInfo": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation started."
          }
        },
        "state": {
          "target": "com.gcp.databasecenter_v1beta#BackupRunInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this run."
          }
        },
        "subResource": {
          "target": "com.gcp.databasecenter_v1beta#SubResource",
          "traits": {
            "smithy.api#documentation": "Optional. Sub resource details associated with the backup run."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about the error encountered."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation completed."
          }
        },
        "operationErrorType": {
          "target": "com.gcp.databasecenter_v1beta#BackupRunInfoOperationErrorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. OperationErrorType to expose specific error when backup operation of database resource failed, that is state is FAILED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about latest backup run state for a database resource."
      }
    },
    "com.gcp.databasecenter_v1beta#BackupRunInfoStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#BackupRunInfoOperationErrorTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_ERROR_TYPE_UNSPECIFIED"
          }
        },
        "KMS_KEY_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_KEY_ERROR"
          }
        },
        "DATABASE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ERROR"
          }
        },
        "STOCKOUT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOCKOUT_ERROR"
          }
        },
        "CANCELLATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLATION_ERROR"
          }
        },
        "SQLSERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_ERROR"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DeltaDetails": {
      "type": "structure",
      "members": {
        "increasedResources": {
          "target": "com.gcp.databasecenter_v1beta#ResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of resources that have increased."
          }
        },
        "decreasedResources": {
          "target": "com.gcp.databasecenter_v1beta#ResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of resources that have decreased."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures the details of items that have increased or decreased in some bucket when compared to some point in history. It is currently used to capture the delta of resources that have been added or removed in the fleet as well as to capture the resources that have a change in Issue/Signal status."
      }
    },
    "com.gcp.databasecenter_v1beta#ResourceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#ResourceDetails"
      }
    },
    "com.gcp.databasecenter_v1beta#Signal": {
      "type": "structure",
      "members": {
        "signalType": {
          "target": "com.gcp.databasecenter_v1beta#SignalSignalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the signal."
          }
        },
        "additionalDetails": {
          "target": "com.gcp.databasecenter_v1beta#AdditionalDetailList",
          "traits": {
            "smithy.api#documentation": "Additional information related to the signal. In the case of composite signals, this field encapsulates details associated with granular signals, having a signal status of \"ISSUE\"; signals with a status of \"OK\" are not included. For granular signals, it encompasses information relevant to the signal, regardless of the signal status."
          }
        },
        "issueSeverity": {
          "target": "com.gcp.databasecenter_v1beta#SignalIssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of the issue."
          }
        },
        "signalStatus": {
          "target": "com.gcp.databasecenter_v1beta#SignalSignalStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the signal."
          }
        },
        "issueCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the issue was created (when signal status is ISSUE)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a signal."
      }
    },
    "com.gcp.databasecenter_v1beta#SignalSignalTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNSPECIFIED"
          }
        },
        "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED"
          }
        },
        "SIGNAL_TYPE_GROUP_MULTIREGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_GROUP_MULTIREGIONAL"
          }
        },
        "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY"
          }
        },
        "SIGNAL_TYPE_SHORT_BACKUP_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SHORT_BACKUP_RETENTION"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_FAILED"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_OLD"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4"
          }
        },
        "SIGNAL_TYPE_VIOLATES_HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_HIPAA"
          }
        },
        "SIGNAL_TYPE_VIOLATES_SOC2_V2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_SOC2_V2017"
          }
        },
        "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING"
          }
        },
        "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_MOST_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_MOST_ERRORS"
          }
        },
        "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS"
          }
        },
        "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_STATS_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_STATS_LOGGED"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS"
          }
        },
        "SIGNAL_TYPE_LOGGING_QUERY_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_QUERY_STATS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES"
          }
        },
        "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS"
          }
        },
        "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS"
          }
        },
        "SIGNAL_TYPE_NO_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_WEAK_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED"
          }
        },
        "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS"
          }
        },
        "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS"
          }
        },
        "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED"
          }
        },
        "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED"
          }
        },
        "SIGNAL_TYPE_PUBLIC_IP_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_PUBLIC_IP_ENABLED"
          }
        },
        "SIGNAL_TYPE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_IDLE"
          }
        },
        "SIGNAL_TYPE_OVERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OVERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION"
          }
        },
        "SIGNAL_TYPE_UNDERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNDERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_OUT_OF_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUT_OF_DISK"
          }
        },
        "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY"
          }
        },
        "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED"
          }
        },
        "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS"
          }
        },
        "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP"
          }
        },
        "SIGNAL_TYPE_QUOTA_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUOTA_LIMIT"
          }
        },
        "SIGNAL_TYPE_NO_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES"
          }
        },
        "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES"
          }
        },
        "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM"
          }
        },
        "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_HOT_NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HOT_NODE"
          }
        },
        "SIGNAL_TYPE_NO_DELETION_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_DELETION_PROTECTION"
          }
        },
        "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY"
          }
        },
        "SIGNAL_TYPE_RESOURCE_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESOURCE_SUSPENDED"
          }
        },
        "SIGNAL_TYPE_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPENSIVE_COMMANDS"
          }
        },
        "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_INEFFICIENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_INEFFICIENT_QUERY"
          }
        },
        "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD"
          }
        },
        "SIGNAL_TYPE_MEMORY_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MEMORY_LIMIT"
          }
        },
        "SIGNAL_TYPE_MAX_SERVER_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MAX_SERVER_MEMORY"
          }
        },
        "SIGNAL_TYPE_LARGE_ROWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LARGE_ROWS"
          }
        },
        "SIGNAL_TYPE_HIGH_WRITE_PRESSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_WRITE_PRESSURE"
          }
        },
        "SIGNAL_TYPE_HIGH_READ_PRESSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_READ_PRESSURE"
          }
        },
        "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED"
          }
        },
        "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED"
          }
        },
        "SIGNAL_TYPE_OUTDATED_MINOR_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_MINOR_VERSION"
          }
        },
        "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED"
          }
        },
        "SIGNAL_TYPE_REPLICATION_LAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_REPLICATION_LAG"
          }
        },
        "SIGNAL_TYPE_OUTDATED_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_CLIENT"
          }
        },
        "SIGNAL_TYPE_DATABOOST_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABOOST_DISABLED"
          }
        },
        "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES"
          }
        },
        "SIGNAL_TYPE_EXTENDED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXTENDED_SUPPORT"
          }
        },
        "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE"
          }
        },
        "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK"
          }
        },
        "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#AdditionalDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#AdditionalDetail"
      }
    },
    "com.gcp.databasecenter_v1beta#SignalIssueSeverityEnum": {
      "type": "enum",
      "members": {
        "ISSUE_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_UNSPECIFIED"
          }
        },
        "ISSUE_SEVERITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_LOW"
          }
        },
        "ISSUE_SEVERITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_MEDIUM"
          }
        },
        "ISSUE_SEVERITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_HIGH"
          }
        },
        "ISSUE_SEVERITY_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_CRITICAL"
          }
        },
        "ISSUE_SEVERITY_IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_IRRELEVANT"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#SignalSignalStatusEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATUS_UNSPECIFIED"
          }
        },
        "SIGNAL_STATUS_NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATUS_NOT_APPLICABLE"
          }
        },
        "SIGNAL_STATUS_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATUS_OK"
          }
        },
        "SIGNAL_STATUS_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATUS_ISSUE"
          }
        },
        "SIGNAL_STATUS_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATUS_NOT_ENABLED"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#AggregateQueryStatsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Additional specific fields for query stats are: `metric_window`, `query_hash`, `normalized_query`. Example: `metric_window=\"LAST_ONE_DAY\"` (Possible values for `metric_window` are: `LAST_ONE_DAY`, `LAST_ONE_WEEK`, `LAST_TWO_WEEKS`) Example: `query_hash=\"12345678\"` Example: `normalized_query=\"SELECT * FROM table\"`"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `AggregateQueryStatsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page token."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The expression to order the results by. Example: `order_by=\"execution_count\"` Example: `order_by=\"execution_count desc\"` Supported order by fields are `execution_count`, `rows_processed`, `total_cpu_time`, `avg_cpu_time`."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If unspecified, at most 100 query stats will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AggregateQueryStatsRequest represents the input to the AggregateQueryStats method."
      }
    },
    "com.gcp.databasecenter_v1beta#AggregateIssueStatsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"`"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
          }
        },
        "signalTypeGroups": {
          "target": "com.gcp.databasecenter_v1beta#SignalTypeGroupList",
          "traits": {
            "smithy.api#documentation": "Optional. Lists of signal types that are issues."
          }
        },
        "baselineDate": {
          "target": "com.gcp.databasecenter_v1beta#Databasecenter_Date",
          "traits": {
            "smithy.api#documentation": "Optional. The baseline date w.r.t. which the delta counts are calculated. If not set, delta counts are not included in the response and the response indicates the current state of the fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AggregateIssueStatsRequest represents the input to the AggregateIssueStats method."
      }
    },
    "com.gcp.databasecenter_v1beta#IssueStats": {
      "type": "structure",
      "members": {
        "signalType": {
          "target": "com.gcp.databasecenter_v1beta#IssueStatsSignalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of signal which is an issue."
          }
        },
        "resourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of resources having issues of a given type."
          }
        },
        "deltaDetails": {
          "target": "com.gcp.databasecenter_v1beta#DeltaDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Delta counts and details of resources for which issue was raised or fixed."
          }
        },
        "issueSeverity": {
          "target": "com.gcp.databasecenter_v1beta#IssueStatsIssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IssueStats holds stats for a particular signal category."
      }
    },
    "com.gcp.databasecenter_v1beta#IssueStatsSignalTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNSPECIFIED"
          }
        },
        "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED"
          }
        },
        "SIGNAL_TYPE_GROUP_MULTIREGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_GROUP_MULTIREGIONAL"
          }
        },
        "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY"
          }
        },
        "SIGNAL_TYPE_SHORT_BACKUP_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SHORT_BACKUP_RETENTION"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_FAILED"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_OLD"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4"
          }
        },
        "SIGNAL_TYPE_VIOLATES_HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_HIPAA"
          }
        },
        "SIGNAL_TYPE_VIOLATES_SOC2_V2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_SOC2_V2017"
          }
        },
        "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING"
          }
        },
        "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_MOST_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_MOST_ERRORS"
          }
        },
        "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS"
          }
        },
        "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_STATS_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_STATS_LOGGED"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS"
          }
        },
        "SIGNAL_TYPE_LOGGING_QUERY_STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_QUERY_STATS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES"
          }
        },
        "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS"
          }
        },
        "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS"
          }
        },
        "SIGNAL_TYPE_NO_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_WEAK_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED"
          }
        },
        "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS"
          }
        },
        "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS"
          }
        },
        "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED"
          }
        },
        "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED"
          }
        },
        "SIGNAL_TYPE_PUBLIC_IP_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_PUBLIC_IP_ENABLED"
          }
        },
        "SIGNAL_TYPE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_IDLE"
          }
        },
        "SIGNAL_TYPE_OVERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OVERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION"
          }
        },
        "SIGNAL_TYPE_UNDERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNDERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_OUT_OF_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUT_OF_DISK"
          }
        },
        "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY"
          }
        },
        "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED"
          }
        },
        "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS"
          }
        },
        "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP"
          }
        },
        "SIGNAL_TYPE_QUOTA_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUOTA_LIMIT"
          }
        },
        "SIGNAL_TYPE_NO_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES"
          }
        },
        "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES"
          }
        },
        "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM"
          }
        },
        "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_HOT_NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HOT_NODE"
          }
        },
        "SIGNAL_TYPE_NO_DELETION_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_DELETION_PROTECTION"
          }
        },
        "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY"
          }
        },
        "SIGNAL_TYPE_RESOURCE_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESOURCE_SUSPENDED"
          }
        },
        "SIGNAL_TYPE_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPENSIVE_COMMANDS"
          }
        },
        "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_INEFFICIENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_INEFFICIENT_QUERY"
          }
        },
        "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD"
          }
        },
        "SIGNAL_TYPE_MEMORY_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MEMORY_LIMIT"
          }
        },
        "SIGNAL_TYPE_MAX_SERVER_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MAX_SERVER_MEMORY"
          }
        },
        "SIGNAL_TYPE_LARGE_ROWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LARGE_ROWS"
          }
        },
        "SIGNAL_TYPE_HIGH_WRITE_PRESSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_WRITE_PRESSURE"
          }
        },
        "SIGNAL_TYPE_HIGH_READ_PRESSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_READ_PRESSURE"
          }
        },
        "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED"
          }
        },
        "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED"
          }
        },
        "SIGNAL_TYPE_OUTDATED_MINOR_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_MINOR_VERSION"
          }
        },
        "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED"
          }
        },
        "SIGNAL_TYPE_REPLICATION_LAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_REPLICATION_LAG"
          }
        },
        "SIGNAL_TYPE_OUTDATED_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_CLIENT"
          }
        },
        "SIGNAL_TYPE_DATABOOST_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABOOST_DISABLED"
          }
        },
        "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES"
          }
        },
        "SIGNAL_TYPE_EXTENDED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXTENDED_SUPPORT"
          }
        },
        "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE"
          }
        },
        "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK"
          }
        },
        "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#IssueStatsIssueSeverityEnum": {
      "type": "enum",
      "members": {
        "ISSUE_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_UNSPECIFIED"
          }
        },
        "ISSUE_SEVERITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_LOW"
          }
        },
        "ISSUE_SEVERITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_MEDIUM"
          }
        },
        "ISSUE_SEVERITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_HIGH"
          }
        },
        "ISSUE_SEVERITY_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_CRITICAL"
          }
        },
        "ISSUE_SEVERITY_IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_SEVERITY_IRRELEVANT"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#Dimension": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resources. It supports returning only regional locations in Google Cloud."
          }
        },
        "tagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag key of the resource."
          }
        },
        "tagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag value of the resource."
          }
        },
        "tagSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag source of the resource."
          }
        },
        "labelValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label value of the resource."
          }
        },
        "subResourceType": {
          "target": "com.gcp.databasecenter_v1beta#DimensionSubResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Subtype of the resource specified at creation time."
          }
        },
        "resourceCategory": {
          "target": "com.gcp.databasecenter_v1beta#DimensionResourceCategoryEnum",
          "traits": {
            "smithy.api#documentation": "The category of the resource."
          }
        },
        "labelSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label source of the resource."
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project."
          }
        },
        "edition": {
          "target": "com.gcp.databasecenter_v1beta#DimensionEditionEnum",
          "traits": {
            "smithy.api#documentation": "The edition of the resource."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource defined according to the pattern: {Service Name}/{Type}. Ex: sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance spanner.googleapis.com/Instance"
          }
        },
        "hasMaintenanceSchedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the resource has a maintenance schedule."
          }
        },
        "tagInherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tag inheritance value of the resource."
          }
        },
        "productVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the underlying database engine"
          }
        },
        "hasDenyMaintenanceSchedules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the resource has deny maintenance schedules."
          }
        },
        "productType": {
          "target": "com.gcp.databasecenter_v1beta#DimensionProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type to identify a product"
          }
        },
        "productEngine": {
          "target": "com.gcp.databasecenter_v1beta#DimensionProductEngineEnum",
          "traits": {
            "smithy.api#documentation": "Engine refers to underlying database binary running in an instance."
          }
        },
        "labelKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label key of the resource."
          }
        },
        "managementType": {
          "target": "com.gcp.databasecenter_v1beta#DimensionManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "The management type of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimension used to aggregate the fleet."
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionSubResourceTypeEnum": {
      "type": "enum",
      "members": {
        "SUB_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "SUB_RESOURCE_TYPE_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_PRIMARY"
          }
        },
        "SUB_RESOURCE_TYPE_SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_SECONDARY"
          }
        },
        "SUB_RESOURCE_TYPE_READ_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_READ_REPLICA"
          }
        },
        "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY"
          }
        },
        "SUB_RESOURCE_TYPE_READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_READ_POOL"
          }
        },
        "SUB_RESOURCE_TYPE_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_RESERVATION"
          }
        },
        "SUB_RESOURCE_TYPE_DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_DATASET"
          }
        },
        "SUB_RESOURCE_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionResourceCategoryEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_CATEGORY_UNSPECIFIED"
          }
        },
        "INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE"
          }
        },
        "CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASET"
          }
        },
        "RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "EDITION_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_ENTERPRISE"
          }
        },
        "EDITION_ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_ENTERPRISE_PLUS"
          }
        },
        "EDITION_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_STANDARD"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionProductTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_TYPE_CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_CLOUD_SQL"
          }
        },
        "PRODUCT_TYPE_ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ALLOYDB"
          }
        },
        "PRODUCT_TYPE_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_SPANNER"
          }
        },
        "PRODUCT_TYPE_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGTABLE"
          }
        },
        "PRODUCT_TYPE_MEMORYSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_MEMORYSTORE"
          }
        },
        "PRODUCT_TYPE_FIRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_FIRESTORE"
          }
        },
        "PRODUCT_TYPE_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_COMPUTE_ENGINE"
          }
        },
        "PRODUCT_TYPE_ORACLE_ON_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ORACLE_ON_GCP"
          }
        },
        "PRODUCT_TYPE_BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGQUERY"
          }
        },
        "PRODUCT_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionProductEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "ENGINE_MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MYSQL"
          }
        },
        "ENGINE_POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_POSTGRES"
          }
        },
        "ENGINE_SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_SQL_SERVER"
          }
        },
        "ENGINE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_NATIVE"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER"
          }
        },
        "ENGINE_MEMORSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_FIRESTORE_WITH_NATIVE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_NATIVE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_DATASTORE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_DATASTORE_MODE"
          }
        },
        "ENGINE_EXADATA_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_EXADATA_ORACLE"
          }
        },
        "ENGINE_ADB_SERVERLESS_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_ADB_SERVERLESS_ORACLE"
          }
        },
        "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE"
          }
        },
        "ENGINE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_OTHER"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#DimensionManagementTypeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_TYPE_UNSPECIFIED"
          }
        },
        "MANAGEMENT_TYPE_GCP_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_TYPE_GCP_MANAGED"
          }
        },
        "MANAGEMENT_TYPE_SELF_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_TYPE_SELF_MANAGED"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#Product": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "com.gcp.databasecenter_v1beta#ProductEngineEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The specific engine that the underlying database is running."
          }
        },
        "minorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.35\", \"5.7.25\" etc. For PostgreSQL, it could be \"14.4\", \"15.5\" etc."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc. For Postgres, it could be \"14\", \"15\" etc."
          }
        },
        "type": {
          "target": "com.gcp.databasecenter_v1beta#ProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of specific database product. It could be CloudSQL, AlloyDB etc.."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product specification for databasecenter resources."
      }
    },
    "com.gcp.databasecenter_v1beta#ProductEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "ENGINE_MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MYSQL"
          }
        },
        "ENGINE_POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_POSTGRES"
          }
        },
        "ENGINE_SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_SQL_SERVER"
          }
        },
        "ENGINE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_NATIVE"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER"
          }
        },
        "ENGINE_MEMORSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_FIRESTORE_WITH_NATIVE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_NATIVE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_DATASTORE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_DATASTORE_MODE"
          }
        },
        "ENGINE_EXADATA_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_EXADATA_ORACLE"
          }
        },
        "ENGINE_ADB_SERVERLESS_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_ADB_SERVERLESS_ORACLE"
          }
        },
        "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE"
          }
        },
        "ENGINE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_OTHER"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#ProductTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_TYPE_CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_CLOUD_SQL"
          }
        },
        "PRODUCT_TYPE_ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ALLOYDB"
          }
        },
        "PRODUCT_TYPE_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_SPANNER"
          }
        },
        "PRODUCT_TYPE_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGTABLE"
          }
        },
        "PRODUCT_TYPE_MEMORYSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_MEMORYSTORE"
          }
        },
        "PRODUCT_TYPE_FIRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_FIRESTORE"
          }
        },
        "PRODUCT_TYPE_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_COMPUTE_ENGINE"
          }
        },
        "PRODUCT_TYPE_ORACLE_ON_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ORACLE_ON_GCP"
          }
        },
        "PRODUCT_TYPE_BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGQUERY"
          }
        },
        "PRODUCT_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.databasecenter_v1beta#Metrics": {
      "type": "structure",
      "members": {
        "currentMemoryUsedBytes": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Current memory used by the resource in bytes."
          }
        },
        "peakStorageUtilization": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Peak storage utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
          }
        },
        "nodeCount": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Number of nodes in instance for spanner or bigtable."
          }
        },
        "processingUnitCount": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Number of processing units in spanner."
          }
        },
        "p95CpuUtilization": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "P95 CPU utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
          }
        },
        "p99CpuUtilization": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "P99 CPU utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
          }
        },
        "peakNumberConnections": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Peak number of connections observed for the resource. The value is a positive integer."
          }
        },
        "peakMemoryUtilization": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Peak memory utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
          }
        },
        "currentStorageUsedBytes": {
          "target": "com.gcp.databasecenter_v1beta#MetricData",
          "traits": {
            "smithy.api#documentation": "Current storage used by the resource in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics represents the metrics for a database resource."
      }
    },
    "com.gcp.databasecenter_v1beta#QueryIssuesRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `QueryIssues` call. Provide this to retrieve the subsequent page. All parameters except page size should match the parameters used in the call that provided the page token."
          }
        },
        "signalProductsFilters": {
          "target": "com.gcp.databasecenter_v1beta#SignalProductsFiltersList",
          "traits": {
            "smithy.api#documentation": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Following fields are sortable: SignalType Product Location IssueSeverity The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If unspecified, at most 50 issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Supported fields are: 'product', `location`, `issue_severity`, 'tags', 'labels',"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent can be a project, a folder, or an organization. The list is limited to the one attached to resources within the `scope` that a user has access to. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryIssuesRequest is the request to get a list of issues."
      }
    },
    "com.gcp.databasecenter_v1beta#SignalProductsFiltersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#SignalProductsFilters"
      }
    },
    "com.gcp.databasecenter_v1beta#UpcomingMaintenance": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time of the upcoming maintenance. Start time is always populated when an upcoming maintenance is scheduled."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time of the upcoming maintenance. This is only populated for an engine, if end time is public for the engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upcoming maintenance window for the database resource."
      }
    },
    "com.gcp.databasecenter_v1beta#AutomatedBackupPolicyInfo": {
      "type": "structure",
      "members": {
        "subResource": {
          "target": "com.gcp.databasecenter_v1beta#SubResource",
          "traits": {
            "smithy.api#documentation": "Optional. Sub resource details associated with the signal."
          }
        },
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is automated policy enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automated backup policy signal info"
      }
    },
    "com.gcp.databasecenter_v1beta#RetentionSettingsInfo": {
      "type": "structure",
      "members": {
        "durationBasedRetention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration based retention period i.e. 172800 seconds (2 days)"
          }
        },
        "quantityBasedRetention": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of backups that will be retained."
          }
        },
        "timestampBasedRetentionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp based retention period i.e. till 2024-05-01T00:00:00Z"
          }
        },
        "subResource": {
          "target": "com.gcp.databasecenter_v1beta#SubResource",
          "traits": {
            "smithy.api#documentation": "Optional. Sub resource details associated with the backup configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about backup retention settings for a database resource."
      }
    },
    "com.gcp.databasecenter_v1beta#QueryIssuesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.databasecenter_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. List of unreachable regions from where data could not be retrieved."
          }
        },
        "resourceIssues": {
          "target": "com.gcp.databasecenter_v1beta#DatabaseResourceIssueList",
          "traits": {
            "smithy.api#documentation": "List of issues and resource details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryIssuesResponse is the response containing a list of issues."
      }
    },
    "com.gcp.databasecenter_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.databasecenter_v1beta#DatabaseResourceIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.databasecenter_v1beta#DatabaseResourceIssue"
      }
    },
    "com.gcp.databasecenter_v1beta#IssueCount": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of a signal group corresponding to the request."
          }
        },
        "issueCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of the number of issues associated with those resources that are explicitly filtered in by the filters present in the request. A signal is an issue when its SignalStatus field is set to SIGNAL_STATUS_ISSUE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Count of issues for a group of signals."
      }
    },
    "com.gcp.databasecenter_v1beta#SubResource": {
      "type": "structure",
      "members": {
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name associated with the sub resource where backup settings are configured. E.g.\"//spanner.googleapis.com/projects/project1/instances/inst1/databases/db1\" for Spanner where backup retention is configured on database within an instance OPTIONAL"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource type associated with the sub resource where backup settings are configured. E.g. \"spanner.googleapis.com/Database\" for Spanner where backup retention is configured on database within an instance OPTIONAL"
          }
        },
        "product": {
          "target": "com.gcp.databasecenter_v1beta#Product",
          "traits": {
            "smithy.api#documentation": "Optional. Product information associated with the sub resource where backup retention settings are configured. e.g. ``` product: { type : PRODUCT_TYPE_SPANNER engine : ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT } ``` for Spanner where backup is configured on database within an instance OPTIONAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub resource details For Spanner/Bigtable instance certain data protection settings are at sub resource level like database/table. This message is used to capture such sub resource details."
      }
    },
    "com.gcp.databasecenter_v1beta#IssueGroupStats": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database resource level health card name. This will corresponds to one of the requested input group names."
          }
        },
        "resourcesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of resources returned by the filter for which any of the specified issues are applicable."
          }
        },
        "healthyResourcesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of resources from the total defined above in field total_resources_count that are healthy with respect to all of the specified issues."
          }
        },
        "resourceGroupsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of the groups of resources returned by the filter that also have one or more resources for which any of the specified issues are applicable."
          }
        },
        "healthyResourceGroupsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of resource groups from the total groups as defined above that are healthy with respect to all of the specified issues."
          }
        },
        "issueStats": {
          "target": "com.gcp.databasecenter_v1beta#IssueStatsList",
          "traits": {
[...]
