{
  "smithy": "2.0",
  "metadata": {
    "service": "dataflow",
    "version": "v1b3",
    "title": "Dataflow API",
    "baseUrl": "https://dataflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dataflow_v1b3#SDKInfo": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.gcp.dataflow_v1b3#SDKInfoLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Required. The SDK Language."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SDK version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SDK Information."
      }
    },
    "com.gcp.dataflow_v1b3#SDKInfoLanguageEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "JAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GO"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#WorkerHealthReport": {
      "type": "structure",
      "members": {
        "vmStartupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the VM was booted."
          }
        },
        "vmIsBroken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
          }
        },
        "reportInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker."
          }
        },
        "vmBrokenCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code to describe a specific reason, if known, that a VM has reported broken state."
          }
        },
        "pods": {
          "target": "com.gcp.dataflow_v1b3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker."
          }
        },
        "vmIsHealthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the VM is currently healthy."
          }
        },
        "msg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message describing any unusual health reports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to."
      }
    },
    "com.gcp.dataflow_v1b3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dataflow_v1b3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#DocumentMap"
      }
    },
    "com.gcp.dataflow_v1b3#ReportWorkItemStatusRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
          }
        },
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The project number of the project which owns the WorkItem's job."
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response)."
          }
        },
        "unifiedWorkerRequest": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker."
          }
        },
        "workItemStatuses": {
          "target": "com.gcp.dataflow_v1b3#WorkItemStatusList",
          "traits": {
            "smithy.api#documentation": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here."
          }
        },
        "currentWorkerTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current timestamp at the worker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to report the status of WorkItems."
      }
    },
    "com.gcp.dataflow_v1b3#WorkItemStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#WorkItemStatus"
      }
    },
    "com.gcp.dataflow_v1b3#ExecutionStageSummary": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.dataflow_v1b3#ExecutionStageSummaryKindEnum",
          "traits": {
            "smithy.api#documentation": "Type of transform this stage is executing."
          }
        },
        "componentSource": {
          "target": "com.gcp.dataflow_v1b3#ComponentSourceList",
          "traits": {
            "smithy.api#documentation": "Collections produced and consumed by component transforms of this stage."
          }
        },
        "prerequisiteStage": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "Other stages that must complete before this stage can run."
          }
        },
        "inputSource": {
          "target": "com.gcp.dataflow_v1b3#StageSourceList",
          "traits": {
            "smithy.api#documentation": "Input sources for this stage."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataflow service generated id for this stage."
          }
        },
        "componentTransform": {
          "target": "com.gcp.dataflow_v1b3#ComponentTransformList",
          "traits": {
            "smithy.api#documentation": "Transforms that comprise this execution stage."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataflow service generated name for this stage."
          }
        },
        "outputSource": {
          "target": "com.gcp.dataflow_v1b3#StageSourceList",
          "traits": {
            "smithy.api#documentation": "Output sources for this stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning."
      }
    },
    "com.gcp.dataflow_v1b3#ExecutionStageSummaryKindEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_KIND"
          }
        },
        "PAR_DO_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAR_DO_KIND"
          }
        },
        "GROUP_BY_KEY_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_BY_KEY_KIND"
          }
        },
        "FLATTEN_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLATTEN_KIND"
          }
        },
        "READ_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_KIND"
          }
        },
        "WRITE_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_KIND"
          }
        },
        "CONSTANT_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTANT_KIND"
          }
        },
        "SINGLETON_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLETON_KIND"
          }
        },
        "SHUFFLE_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHUFFLE_KIND"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#ComponentSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#ComponentSource"
      }
    },
    "com.gcp.dataflow_v1b3#StringList_": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataflow_v1b3#StageSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#StageSource"
      }
    },
    "com.gcp.dataflow_v1b3#ComponentTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#ComponentTransform"
      }
    },
    "com.gcp.dataflow_v1b3#MemInfo": {
      "type": "structure",
      "members": {
        "currentLimitBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instantenous memory limit in bytes."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the measurement."
          }
        },
        "currentRssBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instantenous memory (RSS) size in bytes."
          }
        },
        "totalGbMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total memory (RSS) usage since start up in GB * ms."
          }
        },
        "currentOoms": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of Out of Memory (OOM) events recorded since the previous measurement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the memory usage of a worker or a container within a worker."
      }
    },
    "com.gcp.dataflow_v1b3#WorkerSettings": {
      "type": "structure",
      "members": {
        "shuffleServicePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\"."
          }
        },
        "reportingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send work progress updates to the service."
          }
        },
        "servicePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the worker running this pipeline."
          }
        },
        "tempStoragePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
          }
        },
        "baseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides data to pass through to the worker harness."
      }
    },
    "com.gcp.dataflow_v1b3#SplitInt64": {
      "type": "structure",
      "members": {
        "lowBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The low order bits: n & 0xffffffff."
          }
        },
        "highBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The high order bits, including the sign: n >> 32."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
      }
    },
    "com.gcp.dataflow_v1b3#ListJobMessagesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to obtain the next page of results if there are more."
          }
        },
        "autoscalingEvents": {
          "target": "com.gcp.dataflow_v1b3#AutoscalingEventList",
          "traits": {
            "smithy.api#documentation": "Autoscaling events in ascending timestamp order."
          }
        },
        "jobMessages": {
          "target": "com.gcp.dataflow_v1b3#JobMessageList",
          "traits": {
            "smithy.api#documentation": "Messages in ascending timestamp order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a request to list job messages."
      }
    },
    "com.gcp.dataflow_v1b3#AutoscalingEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#AutoscalingEvent"
      }
    },
    "com.gcp.dataflow_v1b3#JobMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#JobMessage"
      }
    },
    "com.gcp.dataflow_v1b3#StageSummary": {
      "type": "structure",
      "members": {
        "stragglerSummary": {
          "target": "com.gcp.dataflow_v1b3#StragglerSummary",
          "traits": {
            "smithy.api#documentation": "Straggler summary for this stage."
          }
        },
        "stageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this stage"
          }
        },
        "metrics": {
          "target": "com.gcp.dataflow_v1b3#MetricUpdateList",
          "traits": {
            "smithy.api#documentation": "Metrics for this stage."
          }
        },
        "progress": {
          "target": "com.gcp.dataflow_v1b3#ProgressTimeseries",
          "traits": {
            "smithy.api#documentation": "Progress for this stage. Only applicable to Batch jobs."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time."
          }
        },
        "state": {
          "target": "com.gcp.dataflow_v1b3#StageSummaryStateEnum",
          "traits": {
            "smithy.api#documentation": "State of this stage."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of this stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a particular execution stage of a job."
      }
    },
    "com.gcp.dataflow_v1b3#MetricUpdateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#MetricUpdate"
      }
    },
    "com.gcp.dataflow_v1b3#StageSummaryStateEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_UNKNOWN"
          }
        },
        "EXECUTION_STATE_NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_NOT_STARTED"
          }
        },
        "EXECUTION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_RUNNING"
          }
        },
        "EXECUTION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_SUCCEEDED"
          }
        },
        "EXECUTION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_FAILED"
          }
        },
        "EXECUTION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_CANCELLED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#FlattenInstruction": {
      "type": "structure",
      "members": {
        "inputs": {
          "target": "com.gcp.dataflow_v1b3#InstructionInputList",
          "traits": {
            "smithy.api#documentation": "Describes the inputs to the flatten instruction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An instruction that copies its inputs (zero or more) to its (single) output."
      }
    },
    "com.gcp.dataflow_v1b3#InstructionInputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#InstructionInput"
      }
    },
    "com.gcp.dataflow_v1b3#SourceGetMetadataResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dataflow_v1b3#SourceMetadata",
          "traits": {
            "smithy.api#documentation": "The computed metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a SourceGetMetadataOperation."
      }
    },
    "com.gcp.dataflow_v1b3#HotKeyDetection": {
      "type": "structure",
      "members": {
        "hotKeyAge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The age of the hot key measured from when it was first detected."
          }
        },
        "userStepName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided name of the step that contains this hot key."
          }
        },
        "systemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-defined name of the step containing this hot key. Unique across the workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proto describing a hot key detected on a given WorkItem."
      }
    },
    "com.gcp.dataflow_v1b3#SendDebugCaptureResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response to a send capture request. nothing"
      }
    },
    "com.gcp.dataflow_v1b3#Stack": {
      "type": "structure",
      "members": {
        "threadCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this."
          }
        },
        "threadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Thread name. For example, \"CommitThread-0,10,main\""
          }
        },
        "threadState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of the thread. For example, \"WAITING\"."
          }
        },
        "stackContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw stack trace."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp at which the stack was captured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structuredstacktrace for a process running on the worker."
      }
    },
    "com.gcp.dataflow_v1b3#LaunchFlexTemplateParameter": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
          }
        },
        "update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
          }
        },
        "transformNameMappings": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'"
          }
        },
        "parameters": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}"
          }
        },
        "containerSpec": {
          "target": "com.gcp.dataflow_v1b3#ContainerSpec",
          "traits": {
            "smithy.api#documentation": "Spec about the container image to launch."
          }
        },
        "containerSpecGcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage path to a file with json serialized ContainerSpec as content."
          }
        },
        "launchOptions": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
          }
        },
        "environment": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironment",
          "traits": {
            "smithy.api#documentation": "The runtime environment for the FlexTemplate job"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Launch FlexTemplate Parameter."
      }
    },
    "com.gcp.dataflow_v1b3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataflow_v1b3#SourceGetMetadataRequest": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.dataflow_v1b3#Source",
          "traits": {
            "smithy.api#documentation": "Specification of the source whose metadata should be computed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to compute the SourceMetadata of a Source."
      }
    },
    "com.gcp.dataflow_v1b3#PerWorkerMetrics": {
      "type": "structure",
      "members": {
        "perStepNamespaceMetrics": {
          "target": "com.gcp.dataflow_v1b3#PerStepNamespaceMetricsList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics for a particular unfused step and namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per worker metrics."
      }
    },
    "com.gcp.dataflow_v1b3#PerStepNamespaceMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#PerStepNamespaceMetrics"
      }
    },
    "com.gcp.dataflow_v1b3#DataSamplingConfig": {
      "type": "structure",
      "members": {
        "behaviors": {
          "target": "com.gcp.dataflow_v1b3#DataSamplingConfigBehaviorsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for sampling elements."
      }
    },
    "com.gcp.dataflow_v1b3#DataSamplingConfigBehaviorsItemEnum": {
      "type": "enum",
      "members": {
        "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ALWAYS_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_ON"
          }
        },
        "EXCEPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTIONS"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#DataSamplingConfigBehaviorsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#DataSamplingConfigBehaviorsItemEnum"
      }
    },
    "com.gcp.dataflow_v1b3#ReportedParallelism": {
      "type": "structure",
      "members": {
        "isInfinite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the level of parallelism in case it is finite."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the level of parallelism in a WorkItem's input, reported by the worker."
      }
    },
    "com.gcp.dataflow_v1b3#SourceSplitOptions": {
      "type": "structure",
      "members": {
        "desiredBundleSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
          }
        },
        "desiredShardSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED in favor of desired_bundle_size_bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest."
      }
    },
    "com.gcp.dataflow_v1b3#DataflowHistogramValue": {
      "type": "structure",
      "members": {
        "bucketOptions": {
          "target": "com.gcp.dataflow_v1b3#BucketOptions",
          "traits": {
            "smithy.api#documentation": "Describes the bucket boundaries used in the histogram."
          }
        },
        "outlierStats": {
          "target": "com.gcp.dataflow_v1b3#OutlierStats",
          "traits": {
            "smithy.api#documentation": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of values recorded in this histogram."
          }
        },
        "bucketCounts": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing."
      }
    },
    "com.gcp.dataflow_v1b3#CounterStructuredNameAndMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.gcp.dataflow_v1b3#CounterStructuredName",
          "traits": {
            "smithy.api#documentation": "Structured name of the counter."
          }
        },
        "metadata": {
          "target": "com.gcp.dataflow_v1b3#CounterMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata associated with a counter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single message which encapsulates structured name and metadata for a given counter."
      }
    },
    "com.gcp.dataflow_v1b3#WorkItem": {
      "type": "structure",
      "members": {
        "initialReportIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial index to use when reporting the status of the WorkItem."
          }
        },
        "sourceOperationTask": {
          "target": "com.gcp.dataflow_v1b3#SourceOperationRequest",
          "traits": {
            "smithy.api#documentation": "Additional information for source operation WorkItems."
          }
        },
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Work item-specific configuration as an opaque blob."
          }
        },
        "streamingSetupTask": {
          "target": "com.gcp.dataflow_v1b3#StreamingSetupTask",
          "traits": {
            "smithy.api#documentation": "Additional information for StreamingSetupTask WorkItems."
          }
        },
        "streamingConfigTask": {
          "target": "com.gcp.dataflow_v1b3#StreamingConfigTask",
          "traits": {
            "smithy.api#documentation": "Additional information for StreamingConfigTask WorkItems."
          }
        },
        "packages": {
          "target": "com.gcp.dataflow_v1b3#PackageList",
          "traits": {
            "smithy.api#documentation": "Any required packages that need to be fetched in order to execute this WorkItem."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the cloud project this WorkItem belongs to."
          }
        },
        "streamingComputationTask": {
          "target": "com.gcp.dataflow_v1b3#StreamingComputationTask",
          "traits": {
            "smithy.api#documentation": "Additional information for StreamingComputationTask WorkItems."
          }
        },
        "shellTask": {
          "target": "com.gcp.dataflow_v1b3#ShellTask",
          "traits": {
            "smithy.api#documentation": "Additional information for ShellTask WorkItems."
          }
        },
        "reportStatusInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommended reporting interval."
          }
        },
        "seqMapTask": {
          "target": "com.gcp.dataflow_v1b3#SeqMapTask",
          "traits": {
            "smithy.api#documentation": "Additional information for SeqMapTask WorkItems."
          }
        },
        "leaseExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the lease on this Work will expire."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this WorkItem."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the workflow job this WorkItem belongs to."
          }
        },
        "mapTask": {
          "target": "com.gcp.dataflow_v1b3#MapTask",
          "traits": {
            "smithy.api#documentation": "Additional information for MapTask WorkItems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkItem represents basic information about a WorkItem to be executed in the cloud."
      }
    },
    "com.gcp.dataflow_v1b3#PackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#Package"
      }
    },
    "com.gcp.dataflow_v1b3#StragglerDebuggingInfo": {
      "type": "structure",
      "members": {
        "hotKey": {
          "target": "com.gcp.dataflow_v1b3#HotKeyDebuggingInfo",
          "traits": {
            "smithy.api#documentation": "Hot key debugging details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum."
      }
    },
    "com.gcp.dataflow_v1b3#TransformSummary": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.dataflow_v1b3#TransformSummaryKindEnum",
          "traits": {
            "smithy.api#documentation": "Type of transform."
          }
        },
        "outputCollectionName": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "User names for all collection outputs to this transform."
          }
        },
        "inputCollectionName": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "User names for all collection inputs to this transform."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided name for this transform instance."
          }
        },
        "displayData": {
          "target": "com.gcp.dataflow_v1b3#DisplayDataList",
          "traits": {
            "smithy.api#documentation": "Transform-specific display data."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SDK generated id of this transform instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the type, names/ids, and input/outputs for a transform."
      }
    },
    "com.gcp.dataflow_v1b3#TransformSummaryKindEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_KIND"
          }
        },
        "PAR_DO_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAR_DO_KIND"
          }
        },
        "GROUP_BY_KEY_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_BY_KEY_KIND"
          }
        },
        "FLATTEN_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLATTEN_KIND"
          }
        },
        "READ_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_KIND"
          }
        },
        "WRITE_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_KIND"
          }
        },
        "CONSTANT_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTANT_KIND"
          }
        },
        "SINGLETON_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLETON_KIND"
          }
        },
        "SHUFFLE_KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHUFFLE_KIND"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#DisplayDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#DisplayData"
      }
    },
    "com.gcp.dataflow_v1b3#StreamingStragglerInfo": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of this straggler."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of this straggler."
          }
        },
        "workerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the worker where the straggler was detected."
          }
        },
        "dataWatermarkLag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event-time watermark lag at the time of the straggler detection."
          }
        },
        "systemWatermarkLag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The system watermark lag at the time of the straggler detection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information useful for streaming straggler identification and debugging."
      }
    },
    "com.gcp.dataflow_v1b3#WorkItemServiceState": {
      "type": "structure",
      "members": {
        "metricShortId": {
          "target": "com.gcp.dataflow_v1b3#MetricShortIdList",
          "traits": {
            "smithy.api#documentation": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
          }
        },
        "suggestedStopPosition": {
          "target": "com.gcp.dataflow_v1b3#Position",
          "traits": {
            "smithy.api#documentation": "Obsolete, always empty."
          }
        },
        "reportStatusInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New recommended reporting interval."
          }
        },
        "suggestedStopPoint": {
          "target": "com.gcp.dataflow_v1b3#ApproximateProgress",
          "traits": {
            "smithy.api#documentation": "DEPRECATED in favor of split_request."
          }
        },
        "leaseExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the current lease will expire."
          }
        },
        "nextReportIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts."
          }
        },
        "harnessData": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Other data returned by the service, specific to the particular worker harness."
          }
        },
        "hotKeyDetection": {
          "target": "com.gcp.dataflow_v1b3#HotKeyDetection",
          "traits": {
            "smithy.api#documentation": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
          }
        },
        "completeWorkStatus": {
          "target": "com.gcp.dataflow_v1b3#Status",
          "traits": {
            "smithy.api#documentation": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
          }
        },
        "splitRequest": {
          "target": "com.gcp.dataflow_v1b3#ApproximateSplitRequest",
          "traits": {
            "smithy.api#documentation": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker."
      }
    },
    "com.gcp.dataflow_v1b3#MetricShortIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#MetricShortId"
      }
    },
    "com.gcp.dataflow_v1b3#StructuredMessage": {
      "type": "structure",
      "members": {
        "messageText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable version of message."
          }
        },
        "messageKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this message type. Used by external systems to internationalize or personalize message."
          }
        },
        "parameters": {
          "target": "com.gcp.dataflow_v1b3#ParameterList",
          "traits": {
            "smithy.api#documentation": "The structured data associated with this message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption."
      }
    },
    "com.gcp.dataflow_v1b3#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#Parameter"
      }
    },
    "com.gcp.dataflow_v1b3#ContainerSpec": {
      "type": "structure",
      "members": {
        "sdkInfo": {
          "target": "com.gcp.dataflow_v1b3#SDKInfo",
          "traits": {
            "smithy.api#documentation": "Required. SDK info of the Flex Template."
          }
        },
        "imageRepositoryCertPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage path to self-signed certificate of private registry."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the docker container image. E.g., gcr.io/project/some-image"
          }
        },
        "metadata": {
          "target": "com.gcp.dataflow_v1b3#TemplateMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata describing a template including description and validation rules."
          }
        },
        "defaultEnvironment": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironment",
          "traits": {
            "smithy.api#documentation": "Default runtime environment for the job."
          }
        },
        "imageRepositoryUsernameSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret Manager secret id for username to authenticate to private registry."
          }
        },
        "imageRepositoryPasswordSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret Manager secret id for password to authenticate to private registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container Spec."
      }
    },
    "com.gcp.dataflow_v1b3#DatastoreIODetails": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace used in the connection."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ProjectId accessed in the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a Datastore connector used by the job."
      }
    },
    "com.gcp.dataflow_v1b3#SourceSplitResponse": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "com.gcp.dataflow_v1b3#SourceSplitResponseOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split."
          }
        },
        "bundles": {
          "target": "com.gcp.dataflow_v1b3#DerivedSourceList",
          "traits": {
            "smithy.api#documentation": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input."
          }
        },
        "shards": {
          "target": "com.gcp.dataflow_v1b3#SourceSplitShardList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED in favor of bundles."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a SourceSplitRequest."
      }
    },
    "com.gcp.dataflow_v1b3#SourceSplitResponseOutcomeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_SPLIT_OUTCOME_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_SPLIT_OUTCOME_UNKNOWN"
          }
        },
        "SOURCE_SPLIT_OUTCOME_USE_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_SPLIT_OUTCOME_USE_CURRENT"
          }
        },
        "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#DerivedSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#DerivedSource"
      }
    },
    "com.gcp.dataflow_v1b3#SourceSplitShardList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#SourceSplitShard"
      }
    },
    "com.gcp.dataflow_v1b3#ApproximateProgress": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Obsolete."
          }
        },
        "position": {
          "target": "com.gcp.dataflow_v1b3#Position",
          "traits": {
            "smithy.api#documentation": "Obsolete."
          }
        },
        "remainingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obsolete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
      }
    },
    "com.gcp.dataflow_v1b3#Straggler": {
      "type": "structure",
      "members": {
        "streamingStraggler": {
          "target": "com.gcp.dataflow_v1b3#StreamingStragglerInfo",
          "traits": {
            "smithy.api#documentation": "Streaming straggler identification and debugging information."
          }
        },
        "batchStraggler": {
          "target": "com.gcp.dataflow_v1b3#StragglerInfo",
          "traits": {
            "smithy.api#documentation": "Batch straggler identification and debugging information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for a straggler."
      }
    },
    "com.gcp.dataflow_v1b3#LaunchFlexTemplateResponse": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.dataflow_v1b3#Job",
          "traits": {
            "smithy.api#documentation": "The job that was launched, if the request was not a dry run and the job was successfully launched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the request to launch a job from Flex Template."
      }
    },
    "com.gcp.dataflow_v1b3#Base2Exponent": {
      "type": "structure",
      "members": {
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`."
          }
        },
        "numberOfBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))"
      }
    },
    "com.gcp.dataflow_v1b3#Package": {
      "type": "structure",
      "members": {
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
      }
    },
    "com.gcp.dataflow_v1b3#FloatingPointMean": {
      "type": "structure",
      "members": {
        "sum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sum of all values being aggregated."
          }
        },
        "count": {
          "target": "com.gcp.dataflow_v1b3#SplitInt64",
          "traits": {
            "smithy.api#documentation": "The number of values being aggregated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a floating point mean metric contribution."
      }
    },
    "com.gcp.dataflow_v1b3#DynamicSourceSplit": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "com.gcp.dataflow_v1b3#DerivedSource",
          "traits": {
            "smithy.api#documentation": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
          }
        },
        "residual": {
          "target": "com.gcp.dataflow_v1b3#DerivedSource",
          "traits": {
            "smithy.api#documentation": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
      }
    },
    "com.gcp.dataflow_v1b3#SideInputInfo": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.dataflow_v1b3#SourceList",
          "traits": {
            "smithy.api#documentation": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required."
          }
        },
        "kind": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "How to interpret the source element(s) as a side input value."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a side input of a DoFn or an input of a SeqDoFn."
      }
    },
    "com.gcp.dataflow_v1b3#SourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#Source"
      }
    },
    "com.gcp.dataflow_v1b3#MetricStructuredName": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker-defined metric name."
          }
        },
        "context": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a metric, by describing the source which generated the metric."
      }
    },
    "com.gcp.dataflow_v1b3#Position": {
      "type": "structure",
      "members": {
        "byteOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position is a byte offset."
          }
        },
        "concatPosition": {
          "target": "com.gcp.dataflow_v1b3#ConcatPosition",
          "traits": {
            "smithy.api#documentation": "CloudPosition is a concat position."
          }
        },
        "end": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Position is past all other positions. Also useful for the end position of an unbounded range."
          }
        },
        "recordIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position is a record index."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position is a string key, ordered lexicographically."
          }
        },
        "shufflePosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index."
      }
    },
    "com.gcp.dataflow_v1b3#WorkItemDetails": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this work item."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of this work item attempt."
          }
        },
        "state": {
          "target": "com.gcp.dataflow_v1b3#WorkItemDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "State of this work item."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time."
          }
        },
        "attemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attempt ID of this work item"
          }
        },
        "progress": {
          "target": "com.gcp.dataflow_v1b3#ProgressTimeseries",
          "traits": {
            "smithy.api#documentation": "Progress of this work item."
          }
        },
        "metrics": {
          "target": "com.gcp.dataflow_v1b3#MetricUpdateList",
          "traits": {
            "smithy.api#documentation": "Metrics for this work item."
          }
        },
        "stragglerInfo": {
          "target": "com.gcp.dataflow_v1b3#StragglerInfo",
          "traits": {
            "smithy.api#documentation": "Information about straggler detections for this work item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an individual work item execution."
      }
    },
    "com.gcp.dataflow_v1b3#WorkItemDetailsStateEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_UNKNOWN"
          }
        },
        "EXECUTION_STATE_NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_NOT_STARTED"
          }
        },
        "EXECUTION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_RUNNING"
          }
        },
        "EXECUTION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_SUCCEEDED"
          }
        },
        "EXECUTION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_FAILED"
          }
        },
        "EXECUTION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_CANCELLED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#Sink": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The sink to write to, plus its parameters."
          }
        },
        "codec": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The codec to use to encode data written to the sink."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sink that records can be encoded and written to."
      }
    },
    "com.gcp.dataflow_v1b3#SnapshotJobRequest": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TTL for the snapshot."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User specified description of the snapshot. Maybe empty."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location that contains this job."
          }
        },
        "snapshotSources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, perform snapshots for sources which support this."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a snapshot of a job."
      }
    },
    "com.gcp.dataflow_v1b3#SdkVersion": {
      "type": "structure",
      "members": {
        "sdkSupportStatus": {
          "target": "com.gcp.dataflow_v1b3#SdkVersionSdkSupportStatusEnum",
          "traits": {
            "smithy.api#documentation": "The support status for this SDK version."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the SDK used to run the job."
          }
        },
        "versionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A readable string describing the version of the SDK."
          }
        },
        "bugs": {
          "target": "com.gcp.dataflow_v1b3#SdkBugList",
          "traits": {
            "smithy.api#documentation": "Output only. Known bugs found in this SDK version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of the SDK used to run the job."
      }
    },
    "com.gcp.dataflow_v1b3#SdkVersionSdkSupportStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPORTED"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#SdkBugList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#SdkBug"
      }
    },
    "com.gcp.dataflow_v1b3#Snapshot": {
      "type": "structure",
      "members": {
        "diskSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk byte size of the snapshot. Only available for snapshots in READY state."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this snapshot was created."
          }
        },
        "state": {
          "target": "com.gcp.dataflow_v1b3#SnapshotStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the snapshot."
          }
        },
        "sourceJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job this snapshot was created from."
          }
        },
        "pubsubMetadata": {
          "target": "com.gcp.dataflow_v1b3#PubsubSnapshotMetadataList",
          "traits": {
            "smithy.api#documentation": "Pub/Sub snapshot metadata."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project this snapshot belongs to."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time after which this snapshot will be automatically deleted."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of this snapshot."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User specified description of the snapshot. Maybe empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a snapshot of a job."
      }
    },
    "com.gcp.dataflow_v1b3#SnapshotStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_SNAPSHOT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_SNAPSHOT_STATE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#PubsubSnapshotMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#PubsubSnapshotMetadata"
      }
    },
    "com.gcp.dataflow_v1b3#Source": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The source to read from, plus its parameters."
          }
        },
        "codec": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The codec to use to decode data read from the source."
          }
        },
        "metadata": {
          "target": "com.gcp.dataflow_v1b3#SourceMetadata",
          "traits": {
            "smithy.api#documentation": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
          }
        },
        "doesNotNeedSplitting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
          }
        },
        "baseSpecs": {
          "target": "com.gcp.dataflow_v1b3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A source that records can be read and decoded from."
      }
    },
    "com.gcp.dataflow_v1b3#FloatingPointList": {
      "type": "structure",
      "members": {
        "elements": {
          "target": "com.gcp.dataflow_v1b3#DoubleList",
          "traits": {
            "smithy.api#documentation": "Elements of the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metric value representing a list of floating point numbers."
      }
    },
    "com.gcp.dataflow_v1b3#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.dataflow_v1b3#Point": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the point."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value of the point."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A point in the timeseries."
      }
    },
    "com.gcp.dataflow_v1b3#DerivedSource": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.dataflow_v1b3#Source",
          "traits": {
            "smithy.api#documentation": "Specification of the source."
          }
        },
        "derivationMode": {
          "target": "com.gcp.dataflow_v1b3#DerivedSourceDerivationModeEnum",
          "traits": {
            "smithy.api#documentation": "What source to base the produced source on (if any)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split."
      }
    },
    "com.gcp.dataflow_v1b3#DerivedSourceDerivationModeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_DERIVATION_MODE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_DERIVATION_MODE_UNKNOWN"
          }
        },
        "SOURCE_DERIVATION_MODE_INDEPENDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_DERIVATION_MODE_INDEPENDENT"
          }
        },
        "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT"
          }
        },
        "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#KeyRangeLocation": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start (inclusive) of the key range."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end (exclusive) of the key range."
          }
        },
        "deliveryEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
          }
        },
        "deprecatedPersistentDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
          }
        },
        "dataDisk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON."
      }
    },
    "com.gcp.dataflow_v1b3#ParDoInstruction": {
      "type": "structure",
      "members": {
        "sideInputs": {
          "target": "com.gcp.dataflow_v1b3#SideInputInfoList",
          "traits": {
            "smithy.api#documentation": "Zero or more side inputs."
          }
        },
        "numOutputs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of outputs."
          }
        },
        "multiOutputInfos": {
          "target": "com.gcp.dataflow_v1b3#MultiOutputInfoList",
          "traits": {
            "smithy.api#documentation": "Information about each of the outputs, if user_fn is a MultiDoFn."
          }
        },
        "input": {
          "target": "com.gcp.dataflow_v1b3#InstructionInput",
          "traits": {
            "smithy.api#documentation": "The input."
          }
        },
        "userFn": {
          "target": "com.gcp.dataflow_v1b3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The user function to invoke."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code."
      }
    },
    "com.gcp.dataflow_v1b3#SideInputInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#SideInputInfo"
      }
    },
    "com.gcp.dataflow_v1b3#MultiOutputInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#MultiOutputInfo"
      }
    },
    "com.gcp.dataflow_v1b3#StreamingComputationTask": {
      "type": "structure",
      "members": {
        "dataDisks": {
          "target": "com.gcp.dataflow_v1b3#MountedDataDiskList",
          "traits": {
            "smithy.api#documentation": "Describes the set of data disks this task should apply to."
          }
        },
        "computationRanges": {
          "target": "com.gcp.dataflow_v1b3#StreamingComputationRangesList",
          "traits": {
            "smithy.api#documentation": "Contains ranges of a streaming computation this task should apply to."
          }
        },
        "taskType": {
          "target": "com.gcp.dataflow_v1b3#StreamingComputationTaskTaskTypeEnum",
          "traits": {
            "smithy.api#documentation": "A type of streaming computation task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A task which describes what action should be performed for the specified streaming computation ranges."
      }
    },
    "com.gcp.dataflow_v1b3#MountedDataDiskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#MountedDataDisk"
      }
    },
    "com.gcp.dataflow_v1b3#StreamingComputationRangesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#StreamingComputationRanges"
      }
    },
    "com.gcp.dataflow_v1b3#StreamingComputationTaskTaskTypeEnum": {
      "type": "enum",
      "members": {
        "STREAMING_COMPUTATION_TASK_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_COMPUTATION_TASK_UNKNOWN"
          }
        },
        "STREAMING_COMPUTATION_TASK_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_COMPUTATION_TASK_STOP"
          }
        },
        "STREAMING_COMPUTATION_TASK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_COMPUTATION_TASK_START"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#BigQueryIODetails": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query used to access data in the connection."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset accessed in the connection."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table accessed in the connection."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project accessed in the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a BigQuery connector used by the job."
      }
    },
    "com.gcp.dataflow_v1b3#SdkHarnessContainerImage": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
          }
        },
        "containerImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A docker container image that resides in Google Container Registry."
          }
        },
        "useSingleCorePerContainer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an SDK harness container for executing Dataflow pipelines."
      }
    },
    "com.gcp.dataflow_v1b3#JobMetadata": {
      "type": "structure",
      "members": {
        "sdkVersion": {
          "target": "com.gcp.dataflow_v1b3#SdkVersion",
          "traits": {
            "smithy.api#documentation": "The SDK version used to run the job."
          }
        },
        "bigTableDetails": {
          "target": "com.gcp.dataflow_v1b3#BigTableIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a Cloud Bigtable source used in the Dataflow job."
          }
        },
        "pubsubDetails": {
          "target": "com.gcp.dataflow_v1b3#PubSubIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a Pub/Sub source used in the Dataflow job."
          }
        },
        "bigqueryDetails": {
          "target": "com.gcp.dataflow_v1b3#BigQueryIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a BigQuery source used in the Dataflow job."
          }
        },
        "fileDetails": {
          "target": "com.gcp.dataflow_v1b3#FileIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a File source used in the Dataflow job."
          }
        },
        "datastoreDetails": {
          "target": "com.gcp.dataflow_v1b3#DatastoreIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a Datastore source used in the Dataflow job."
          }
        },
        "spannerDetails": {
          "target": "com.gcp.dataflow_v1b3#SpannerIODetailsList",
          "traits": {
            "smithy.api#documentation": "Identification of a Spanner source used in the Dataflow job."
          }
        },
        "userDisplayProperties": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "List of display properties to help UI filter jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view."
      }
    },
    "com.gcp.dataflow_v1b3#BigTableIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#BigTableIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#PubSubIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#PubSubIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#BigQueryIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#BigQueryIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#FileIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#FileIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#DatastoreIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#DatastoreIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#SpannerIODetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataflow_v1b3#SpannerIODetails"
      }
    },
    "com.gcp.dataflow_v1b3#GetDebugConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encoded debug configuration for the requested component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a get debug configuration request."
      }
    },
    "com.gcp.dataflow_v1b3#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.dataflow_v1b3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironment": {
      "type": "structure",
      "members": {
        "saveHeapDumpsToGcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true."
          }
        },
        "additionalPipelineOptions": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. Additional pipeline option flags for the job."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type to use for the job. Defaults to the value from the template if not specified."
          }
        },
        "ipConfiguration": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentIpConfigurationEnum",
          "traits": {
            "smithy.api#documentation": "Configuration for VM IPs."
          }
        },
        "additionalUserLabels": {
          "target": "com.gcp.dataflow_v1b3#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
          }
        },
        "streamingMode": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentStreamingModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes)."
          }
        },
        "autoscalingAlgorithm": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentAutoscalingAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The algorithm to use for autoscaling"
          }
        },
        "additionalExperiments": {
          "target": "com.gcp.dataflow_v1b3#StringList_",
          "traits": {
            "smithy.api#documentation": "Additional experiment flags for the job."
          }
        },
        "enableStreamingEngine": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Streaming Engine for the job."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
          }
        },
        "maxWorkers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service account to run the job as."
          }
        },
        "tempLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
          }
        },
        "enableLauncherVmSerialPortLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true serial port logging will be enabled for the launcher VM."
          }
        },
        "stagingLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`."
          }
        },
        "dumpHeapOnOom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file."
          }
        },
        "numWorkers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The initial number of Google Compute Engine instances for the job."
          }
        },
        "flexrsGoal": {
          "target": "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentFlexrsGoalEnum",
          "traits": {
            "smithy.api#documentation": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs"
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Worker disk size, in gigabytes."
          }
        },
        "workerRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
          }
        },
        "workerZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
          }
        },
        "sdkContainerImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines."
          }
        },
        "launcherMachineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type to use for launching the job. If not set, Dataflow will select a default machine type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment values to be set at runtime for flex template."
      }
    },
    "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentIpConfigurationEnum": {
      "type": "enum",
      "members": {
        "WORKER_IP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKER_IP_UNSPECIFIED"
          }
        },
        "WORKER_IP_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKER_IP_PUBLIC"
          }
        },
        "WORKER_IP_PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKER_IP_PRIVATE"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentStreamingModeEnum": {
      "type": "enum",
      "members": {
        "STREAMING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_MODE_UNSPECIFIED"
          }
        },
        "STREAMING_MODE_EXACTLY_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_MODE_EXACTLY_ONCE"
          }
        },
        "STREAMING_MODE_AT_LEAST_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_MODE_AT_LEAST_ONCE"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentAutoscalingAlgorithmEnum": {
      "type": "enum",
      "members": {
        "AUTOSCALING_ALGORITHM_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOSCALING_ALGORITHM_UNKNOWN"
          }
        },
        "AUTOSCALING_ALGORITHM_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOSCALING_ALGORITHM_NONE"
          }
        },
        "AUTOSCALING_ALGORITHM_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOSCALING_ALGORITHM_BASIC"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#FlexTemplateRuntimeEnvironmentFlexrsGoalEnum": {
      "type": "enum",
      "members": {
        "FLEXRS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXRS_UNSPECIFIED"
          }
        },
        "FLEXRS_SPEED_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXRS_SPEED_OPTIMIZED"
          }
        },
        "FLEXRS_COST_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXRS_COST_OPTIMIZED"
          }
        }
      }
    },
    "com.gcp.dataflow_v1b3#ConcatPosition": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the inner source."
          }
        },
        "position": {
[...]
