{
  "smithy": "2.0",
  "metadata": {
    "service": "datastore",
    "version": "v1",
    "title": "Cloud Datastore API",
    "baseUrl": "https://datastore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datastore_v1#PropertyMask": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The paths to the properties covered by this mask. A path is a list of property names separated by dots (`.`), for example `foo.bar` means the property `bar` inside the entity property `foo` inside the entity associated with this path. If a property name contains a dot `.` or a backslash `\\`, then that name must be escaped. A path must not be empty, and may not reference a value inside an array value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of arbitrarily nested property paths used to restrict an operation to only a subset of properties in an entity."
      }
    },
    "com.gcp.datastore_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastore_v1#ExplainOptions": {
      "type": "structure",
      "members": {
        "analyze": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explain options for the query."
      }
    },
    "com.gcp.datastore_v1#ArrayValue": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.datastore_v1#ValueList",
          "traits": {
            "smithy.api#documentation": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An array value."
      }
    },
    "com.gcp.datastore_v1#ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#Value"
      }
    },
    "com.gcp.datastore_v1#Aggregation": {
      "type": "structure",
      "members": {
        "sum": {
          "target": "com.gcp.datastore_v1#Sum",
          "traits": {
            "smithy.api#documentation": "Sum aggregator."
          }
        },
        "avg": {
          "target": "com.gcp.datastore_v1#Avg",
          "traits": {
            "smithy.api#documentation": "Average aggregator."
          }
        },
        "count": {
          "target": "com.gcp.datastore_v1#Count",
          "traits": {
            "smithy.api#documentation": "Count aggregator."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an aggregation that produces a single result."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadata": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.datastore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The client-assigned labels which were provided when the operation was created. May also include additional labels."
          }
        },
        "state": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the Operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "operationType": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operation. Can be used as a filter in ListOperationsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
      }
    },
    "com.gcp.datastore_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "EXPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_ENTITIES"
          }
        },
        "IMPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_ENTITIES"
          }
        },
        "CREATE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_INDEX"
          }
        },
        "DELETE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_INDEX"
          }
        }
      }
    },
    "com.gcp.datastore_v1#Value": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value."
          }
        },
        "geoPointValue": {
          "target": "com.gcp.datastore_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "A geo point value representing a point on the surface of Earth."
          }
        },
        "meaning": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The `meaning` field should only be populated for backwards compatibility."
          }
        },
        "timestampValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
          }
        },
        "blobValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded."
          }
        },
        "arrayValue": {
          "target": "com.gcp.datastore_v1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`."
          }
        },
        "integerValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer value."
          }
        },
        "excludeFromIndexes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value should be excluded from all indexes including those defined explicitly."
          }
        },
        "keyValue": {
          "target": "com.gcp.datastore_v1#Key",
          "traits": {
            "smithy.api#documentation": "A key value."
          }
        },
        "entityValue": {
          "target": "com.gcp.datastore_v1#Entity",
          "traits": {
            "smithy.api#documentation": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
          }
        },
        "nullValue": {
          "target": "com.gcp.datastore_v1#ValueNullValueEnum",
          "traits": {
            "smithy.api#documentation": "A null value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that can hold any of the supported value types and associated metadata."
      }
    },
    "com.gcp.datastore_v1#ValueNullValueEnum": {
      "type": "enum",
      "members": {
        "NULL_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL_VALUE"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.datastore_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.datastore_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.datastore_v1#KindExpression": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the kind."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a kind."
      }
    },
    "com.gcp.datastore_v1#GqlQuery": {
      "type": "structure",
      "members": {
        "queryString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
          }
        },
        "positionalBindings": {
          "target": "com.gcp.datastore_v1#GqlQueryParameterList",
          "traits": {
            "smithy.api#documentation": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true."
          }
        },
        "allowLiterals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
          }
        },
        "namedBindings": {
          "target": "com.gcp.datastore_v1#GqlQueryParameterMap",
          "traits": {
            "smithy.api#documentation": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
      }
    },
    "com.gcp.datastore_v1#GqlQueryParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#GqlQueryParameter"
      }
    },
    "com.gcp.datastore_v1#GqlQueryParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.datastore_v1#GqlQueryParameter"
      }
    },
    "com.gcp.datastore_v1#ReadOptions": {
      "type": "structure",
      "members": {
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads entities as they were at the given time. This value is only supported for Cloud Firestore in Datastore mode. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
          }
        },
        "readConsistency": {
          "target": "com.gcp.datastore_v1#ReadOptionsReadConsistencyEnum",
          "traits": {
            "smithy.api#documentation": "The non-transactional read consistency to use."
          }
        },
        "newTransaction": {
          "target": "com.gcp.datastore_v1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Options for beginning a new transaction for this request. The new transaction identifier will be returned in the corresponding response as either LookupResponse.transaction or RunQueryResponse.transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options shared by read requests."
      }
    },
    "com.gcp.datastore_v1#ReadOptionsReadConsistencyEnum": {
      "type": "enum",
      "members": {
        "READ_CONSISTENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_CONSISTENCY_UNSPECIFIED"
          }
        },
        "STRONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRONG"
          }
        },
        "EVENTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENTUAL"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1PrepareStepDetails": {
      "type": "structure",
      "members": {
        "concurrencyMode": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1PrepareStepDetailsConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the `PREPARE` step."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1PrepareStepDetailsConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "OPTIMISTIC_WITH_ENTITY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC_WITH_ENTITY_GROUPS"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "progressBytes": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being exported."
          }
        },
        "outputUrlPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "common": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ExportEntities operations."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1MigrationProgressEvent": {
      "type": "structure",
      "members": {
        "redirectWritesStepDetails": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1RedirectWritesStepDetails",
          "traits": {
            "smithy.api#documentation": "Details for the `REDIRECT_WRITES` step."
          }
        },
        "step": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1MigrationProgressEventStepEnum",
          "traits": {
            "smithy.api#documentation": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state."
          }
        },
        "prepareStepDetails": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1PrepareStepDetails",
          "traits": {
            "smithy.api#documentation": "Details for the `PREPARE` step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore)."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1MigrationProgressEventStepEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STEP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STEP_UNSPECIFIED"
          }
        },
        "PREPARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARE"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "APPLY_WRITES_SYNCHRONOUSLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_WRITES_SYNCHRONOUSLY"
          }
        },
        "COPY_AND_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_AND_VERIFY"
          }
        },
        "REDIRECT_EVENTUALLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_EVENTUALLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_STRONGLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_STRONGLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_WRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_WRITES"
          }
        }
      }
    },
    "com.gcp.datastore_v1#CompositeFilter": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.gcp.datastore_v1#CompositeFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The operator for combining multiple filters."
          }
        },
        "filters": {
          "target": "com.gcp.datastore_v1#FilterList",
          "traits": {
            "smithy.api#documentation": "The list of filters to combine. Requires: * At least one filter is present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter that merges multiple other filters using the given operator."
      }
    },
    "com.gcp.datastore_v1#CompositeFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.gcp.datastore_v1#FilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#Filter"
      }
    },
    "com.gcp.datastore_v1#PlanSummary": {
      "type": "structure",
      "members": {
        "indexesUsed": {
          "target": "com.gcp.datastore_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planning phase information for the query."
      }
    },
    "com.gcp.datastore_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datastore_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#DocumentMap"
      }
    },
    "com.gcp.datastore_v1#LookupResponse": {
      "type": "structure",
      "members": {
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which these entities were read or found missing."
          }
        },
        "found": {
          "target": "com.gcp.datastore_v1#EntityResultList",
          "traits": {
            "smithy.api#documentation": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the transaction that was started as part of this Lookup request. Set only when ReadOptions.new_transaction was set in LookupRequest.read_options."
          }
        },
        "deferred": {
          "target": "com.gcp.datastore_v1#KeyList",
          "traits": {
            "smithy.api#documentation": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        },
        "missing": {
          "target": "com.gcp.datastore_v1#EntityResultList",
          "traits": {
            "smithy.api#documentation": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.Lookup."
      }
    },
    "com.gcp.datastore_v1#EntityResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#EntityResult"
      }
    },
    "com.gcp.datastore_v1#KeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#Key"
      }
    },
    "com.gcp.datastore_v1#AggregationResult": {
      "type": "structure",
      "members": {
        "aggregateProperties": {
          "target": "com.gcp.datastore_v1#ValueMap",
          "traits": {
            "smithy.api#documentation": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result."
      }
    },
    "com.gcp.datastore_v1#ValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.datastore_v1#Value"
      }
    },
    "com.gcp.datastore_v1#QueryResultBatch": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cursor that points to the position after the last result in the batch."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore."
          }
        },
        "entityResultType": {
          "target": "com.gcp.datastore_v1#QueryResultBatchEntityResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The result type for every entity in `entity_results`."
          }
        },
        "skippedResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results skipped, typically because of an offset."
          }
        },
        "skippedCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0."
          }
        },
        "snapshotVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
          }
        },
        "entityResults": {
          "target": "com.gcp.datastore_v1#EntityResultList",
          "traits": {
            "smithy.api#documentation": "The results for this batch."
          }
        },
        "moreResults": {
          "target": "com.gcp.datastore_v1#QueryResultBatchMoreResultsEnum",
          "traits": {
            "smithy.api#documentation": "The state of the query after the current batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch of results produced by a query."
      }
    },
    "com.gcp.datastore_v1#QueryResultBatchEntityResultTypeEnum": {
      "type": "enum",
      "members": {
        "RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "PROJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECTION"
          }
        },
        "KEY_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_ONLY"
          }
        }
      }
    },
    "com.gcp.datastore_v1#QueryResultBatchMoreResultsEnum": {
      "type": "enum",
      "members": {
        "MORE_RESULTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_TYPE_UNSPECIFIED"
          }
        },
        "NOT_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FINISHED"
          }
        },
        "MORE_RESULTS_AFTER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_LIMIT"
          }
        },
        "MORE_RESULTS_AFTER_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_CURSOR"
          }
        },
        "NO_MORE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MORE_RESULTS"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "type": "structure",
      "members": {
        "outputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
      }
    },
    "com.gcp.datastore_v1#RunAggregationQueryRequest": {
      "type": "structure",
      "members": {
        "partitionId": {
          "target": "com.gcp.datastore_v1#PartitionId",
          "traits": {
            "smithy.api#documentation": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "gqlQuery": {
          "target": "com.gcp.datastore_v1#GqlQuery",
          "traits": {
            "smithy.api#documentation": "The GQL query to run. This query must be an aggregation query."
          }
        },
        "explainOptions": {
          "target": "com.gcp.datastore_v1#ExplainOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
          }
        },
        "readOptions": {
          "target": "com.gcp.datastore_v1#ReadOptions",
          "traits": {
            "smithy.api#documentation": "The options for this query."
          }
        },
        "aggregationQuery": {
          "target": "com.gcp.datastore_v1#AggregationQuery",
          "traits": {
            "smithy.api#documentation": "The query to run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.RunAggregationQuery."
      }
    },
    "com.gcp.datastore_v1#ReserveIdsRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "keys": {
          "target": "com.gcp.datastore_v1#KeyList",
          "traits": {
            "smithy.api#documentation": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.ReserveIds."
      }
    },
    "com.gcp.datastore_v1#Entity": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.gcp.datastore_v1#Key",
          "traits": {
            "smithy.api#documentation": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
          }
        },
        "properties": {
          "target": "com.gcp.datastore_v1#ValueMap",
          "traits": {
            "smithy.api#documentation": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Datastore data object. Must not exceed 1 MiB - 4 bytes."
      }
    },
    "com.gcp.datastore_v1#AggregationResultBatch": {
      "type": "structure",
      "members": {
        "moreResults": {
          "target": "com.gcp.datastore_v1#AggregationResultBatchMoreResultsEnum",
          "traits": {
            "smithy.api#documentation": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches."
          }
        },
        "aggregationResults": {
          "target": "com.gcp.datastore_v1#AggregationResultList",
          "traits": {
            "smithy.api#documentation": "The aggregation results for this batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch of aggregation results produced by an aggregation query."
      }
    },
    "com.gcp.datastore_v1#AggregationResultBatchMoreResultsEnum": {
      "type": "enum",
      "members": {
        "MORE_RESULTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_TYPE_UNSPECIFIED"
          }
        },
        "NOT_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FINISHED"
          }
        },
        "MORE_RESULTS_AFTER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_LIMIT"
          }
        },
        "MORE_RESULTS_AFTER_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_CURSOR"
          }
        },
        "NO_MORE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MORE_RESULTS"
          }
        }
      }
    },
    "com.gcp.datastore_v1#AggregationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#AggregationResult"
      }
    },
    "com.gcp.datastore_v1#RunAggregationQueryResponse": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.gcp.datastore_v1#AggregationResultBatch",
          "traits": {
            "smithy.api#documentation": "A batch of aggregation results. Always present."
          }
        },
        "query": {
          "target": "com.gcp.datastore_v1#AggregationQuery",
          "traits": {
            "smithy.api#documentation": "The parsed form of the `GqlQuery` from the request, if it was set."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the transaction that was started as part of this RunAggregationQuery request. Set only when ReadOptions.new_transaction was set in RunAggregationQueryRequest.read_options."
          }
        },
        "explainMetrics": {
          "target": "com.gcp.datastore_v1#ExplainMetrics",
          "traits": {
            "smithy.api#documentation": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.RunAggregationQuery."
      }
    },
    "com.gcp.datastore_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.datastore_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.datastore_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.datastore_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.datastore_v1#PropertyTransform": {
      "type": "structure",
      "members": {
        "removeAllFromArray": {
          "target": "com.gcp.datastore_v1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Removes all of the given elements from the array in the property. If the property is not an array, or if the property does not yet exist, it is set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and the null value is equal to the null value. This will remove all equivalent values if there are duplicates. The corresponding transform result will be the null value."
          }
        },
        "setToServerValue": {
          "target": "com.gcp.datastore_v1#PropertyTransformSetToServerValueEnum",
          "traits": {
            "smithy.api#documentation": "Sets the property to the given server value."
          }
        },
        "increment": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "Adds the given value to the property's current value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If either of the given value or the current property value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follows IEEE 754 semantics. If there is positive/negative integer overflow, the property is resolved to the largest magnitude positive/negative integer."
          }
        },
        "maximum": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "Sets the property to the maximum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If a maximum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the property. Property paths (a list of property names separated by dots (`.`)) may be used to refer to properties inside entity values. For example `foo.bar` means the property `bar` inside the entity property `foo`. If a property name contains a dot `.` or a backlslash `\\`, then that name must be escaped."
          }
        },
        "minimum": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "Sets the property to the minimum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the input value. If a minimum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
          }
        },
        "appendMissingElements": {
          "target": "com.gcp.datastore_v1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Appends the given elements in order if they are not already present in the current property value. If the property is not an array, or if the property does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and the null value is equal to the null value. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform result will be the null value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation of an entity property."
      }
    },
    "com.gcp.datastore_v1#PropertyTransformSetToServerValueEnum": {
      "type": "enum",
      "members": {
        "SERVER_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_VALUE_UNSPECIFIED"
          }
        },
        "REQUEST_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TIME"
          }
        }
      }
    },
    "com.gcp.datastore_v1#BeginTransactionRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "transactionOptions": {
          "target": "com.gcp.datastore_v1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Options for a new transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.BeginTransaction."
      }
    },
    "com.gcp.datastore_v1#ReserveIdsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response for Datastore.ReserveIds."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "type": "structure",
      "members": {
        "concurrencyMode": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1RedirectWritesStepDetailsConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "The concurrency mode for this database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the `REDIRECT_WRITES` step."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1RedirectWritesStepDetailsConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "OPTIMISTIC_WITH_ENTITY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC_WITH_ENTITY_GROUPS"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexOperationMetadata": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "indexId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index resource ID that this operation is acting on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for Index operations."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1EntityFilter": {
      "type": "structure",
      "members": {
        "namespaceIds": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
          }
        },
        "kinds": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If empty, then this represents all kinds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
      }
    },
    "com.gcp.datastore_v1#MutationResult": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity."
          }
        },
        "conflictDetected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The create time of the entity. This field will not be set after a 'delete'."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'."
          }
        },
        "transformResults": {
          "target": "com.gcp.datastore_v1#ValueList",
          "traits": {
            "smithy.api#documentation": "The results of applying each PropertyTransform, in the same order of the request."
          }
        },
        "key": {
          "target": "com.gcp.datastore_v1#Key",
          "traits": {
            "smithy.api#documentation": "The automatically allocated key. Set only when the mutation allocated a key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of applying a mutation."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1Progress": {
      "type": "structure",
      "members": {
        "workCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work that has been completed. Note that this may be greater than work_estimated."
          }
        },
        "workEstimated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Measures the progress of a particular metric."
      }
    },
    "com.gcp.datastore_v1#FindNearest": {
      "type": "structure",
      "members": {
        "distanceResultProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to entity property limitations."
          }
        },
        "vectorProperty": {
          "target": "com.gcp.datastore_v1#PropertyReference",
          "traits": {
            "smithy.api#documentation": "Required. An indexed vector property to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
          }
        },
        "queryVector": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
          }
        },
        "distanceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: WHERE distance <= distance_threshold * For DOT_PRODUCT: WHERE distance >= distance_threshold"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 100."
          }
        },
        "distanceMeasure": {
          "target": "com.gcp.datastore_v1#FindNearestDistanceMeasureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The Distance Measure to use, required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
      }
    },
    "com.gcp.datastore_v1#FindNearestDistanceMeasureEnum": {
      "type": "enum",
      "members": {
        "DISTANCE_MEASURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_MEASURE_UNSPECIFIED"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUCLIDEAN"
          }
        },
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSINE"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT_PRODUCT"
          }
        }
      }
    },
    "com.gcp.datastore_v1#CommitRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction."
          }
        },
        "mutations": {
          "target": "com.gcp.datastore_v1#MutationList",
          "traits": {
            "smithy.api#documentation": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
          }
        },
        "singleUseTransaction": {
          "target": "com.gcp.datastore_v1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Options for beginning a new transaction for this request. The transaction is committed when the request completes. If specified, TransactionOptions.mode must be TransactionOptions.ReadWrite."
          }
        },
        "mode": {
          "target": "com.gcp.datastore_v1#CommitRequestModeEnum",
          "traits": {
            "smithy.api#documentation": "The type of commit to perform. Defaults to `TRANSACTIONAL`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.Commit."
      }
    },
    "com.gcp.datastore_v1#MutationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#Mutation"
      }
    },
    "com.gcp.datastore_v1#CommitRequestModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "TRANSACTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTIONAL"
          }
        },
        "NON_TRANSACTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_TRANSACTIONAL"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1ImportEntitiesRequest": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.datastore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Client-assigned labels."
          }
        },
        "inputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So input_url should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written by the ExportEntities operation. For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). For more information, see google.datastore.admin.v1.ExportEntitiesResponse.output_url."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Optionally specify which kinds/namespaces are to be imported. If provided, the list must be a subset of the EntityFilter used in creating the export, otherwise a FAILED_PRECONDITION error will be returned. If no filter is specified then all entities from the export are imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for google.datastore.admin.v1.DatastoreAdmin.ImportEntities."
      }
    },
    "com.gcp.datastore_v1#PathElement": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1EntityFilter": {
      "type": "structure",
      "members": {
        "kinds": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If empty, then this represents all kinds."
          }
        },
        "namespaceIds": {
          "target": "com.gcp.datastore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1ExportEntitiesRequest": {
      "type": "structure",
      "members": {
        "entityFilter": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of what data from the project is included in the export."
          }
        },
        "outputUrlPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location for the export metadata and data files. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So output_url_prefix should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace). For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). The resulting files will be nested deeper than the specified URL prefix. The final output URL will be provided in the google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That value should be used for subsequent ImportEntities operations. By nesting the data files deeper, the same Cloud Storage bucket can be used in multiple ExportEntities operations without conflict."
          }
        },
        "labels": {
          "target": "com.gcp.datastore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Client-assigned labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "type": "structure",
      "members": {
        "migrationState": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
          }
        },
        "migrationStep": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStepEnum",
          "traits": {
            "smithy.api#documentation": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\""
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStateEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStepEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STEP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STEP_UNSPECIFIED"
          }
        },
        "PREPARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARE"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "APPLY_WRITES_SYNCHRONOUSLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_WRITES_SYNCHRONOUSLY"
          }
        },
        "COPY_AND_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_AND_VERIFY"
          }
        },
        "REDIRECT_EVENTUALLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_EVENTUALLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_STRONGLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_STRONGLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_WRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_WRITES"
          }
        }
      }
    },
    "com.gcp.datastore_v1#ExplainMetrics": {
      "type": "structure",
      "members": {
        "planSummary": {
          "target": "com.gcp.datastore_v1#PlanSummary",
          "traits": {
            "smithy.api#documentation": "Planning phase information for the query."
          }
        },
        "executionStats": {
          "target": "com.gcp.datastore_v1#ExecutionStats",
          "traits": {
            "smithy.api#documentation": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explain metrics for the query."
      }
    },
    "com.gcp.datastore_v1#PropertyFilter": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to filter by."
          }
        },
        "op": {
          "target": "com.gcp.datastore_v1#PropertyFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The operator to filter by."
          }
        },
        "value": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "The value to compare the property to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter on a specific property."
      }
    },
    "com.gcp.datastore_v1#PropertyFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EQUAL"
          }
        },
        "HAS_ANCESTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAS_ANCESTOR"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN"
          }
        }
      }
    },
    "com.gcp.datastore_v1#RollbackResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response for Datastore.Rollback. (an empty message)."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being imported."
          }
        },
        "inputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
          }
        },
        "progressBytes": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ImportEntities operations."
      }
    },
    "com.gcp.datastore_v1#LookupRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "readOptions": {
          "target": "com.gcp.datastore_v1#ReadOptions",
          "traits": {
            "smithy.api#documentation": "The options for this lookup request."
          }
        },
        "propertyMask": {
          "target": "com.gcp.datastore_v1#PropertyMask",
          "traits": {
            "smithy.api#documentation": "The properties to return. Defaults to returning all properties. If this field is set and an entity has a property not referenced in the mask, it will be absent from LookupResponse.found.entity.properties. The entity's key is always returned."
          }
        },
        "keys": {
          "target": "com.gcp.datastore_v1#KeyList",
          "traits": {
            "smithy.api#documentation": "Required. Keys of entities to look up."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.Lookup."
      }
    },
    "com.gcp.datastore_v1#PartitionId": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, the ID of the database to which the entities belong."
          }
        },
        "namespaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, the ID of the namespace to which the entities belong."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project to which the entities belong."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state."
      }
    },
    "com.gcp.datastore_v1#PropertyReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a property. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to entity property name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a property relative to the kind expressions."
      }
    },
    "com.gcp.datastore_v1#Key": {
      "type": "structure",
      "members": {
        "partitionId": {
          "target": "com.gcp.datastore_v1#PartitionId",
          "traits": {
            "smithy.api#documentation": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
          }
        },
        "path": {
          "target": "com.gcp.datastore_v1#PathElementList",
          "traits": {
            "smithy.api#documentation": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
      }
    },
    "com.gcp.datastore_v1#PathElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#PathElement"
      }
    },
    "com.gcp.datastore_v1#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1Index": {
      "type": "structure",
      "members": {
        "indexId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource ID of the index."
          }
        },
        "ancestor": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexAncestorEnum",
          "traits": {
            "smithy.api#documentation": "Required. The index's ancestor mode. Must not be ANCESTOR_MODE_UNSPECIFIED."
          }
        },
        "state": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the index."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The entity kind to which this index applies."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Project ID."
          }
        },
        "properties": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexedPropertyList",
          "traits": {
            "smithy.api#documentation": "Required. An ordered sequence of property names and their index attributes. Requires: * A maximum of 100 properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Datastore composite index definition."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexAncestorEnum": {
      "type": "enum",
      "members": {
        "ANCESTOR_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANCESTOR_MODE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ALL_ANCESTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_ANCESTORS"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexedPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1IndexedProperty"
      }
    },
    "com.gcp.datastore_v1#Sum": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sum of the values of the requested property. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers."
      }
    },
    "com.gcp.datastore_v1#Query": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.datastore_v1#KindExpressionList",
          "traits": {
            "smithy.api#documentation": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
          }
        },
        "filter": {
          "target": "com.gcp.datastore_v1#Filter",
          "traits": {
            "smithy.api#documentation": "The filter to apply."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be >= 0 if specified."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be >= 0 if specified."
          }
        },
        "findNearest": {
          "target": "com.gcp.datastore_v1#FindNearest",
          "traits": {
            "smithy.api#documentation": "Optional. A potential Nearest Neighbors Search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector."
          }
        },
        "projection": {
          "target": "com.gcp.datastore_v1#ProjectionList",
          "traits": {
            "smithy.api#documentation": "The projection to return. Defaults to returning all properties."
          }
        },
        "distinctOn": {
          "target": "com.gcp.datastore_v1#PropertyReferenceList",
          "traits": {
            "smithy.api#documentation": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned). Requires: * If `order` is specified, the set of distinct on properties must appear before the non-distinct on properties in `order`."
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
          }
        },
        "order": {
          "target": "com.gcp.datastore_v1#PropertyOrderList",
          "traits": {
            "smithy.api#documentation": "The order to apply to the query results (if empty, order is unspecified)."
          }
        },
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A query for entities. The query stages are executed in the following order: 1. kind 2. filter 3. projection 4. order + start_cursor + end_cursor 5. offset 6. limit 7. find_nearest"
      }
    },
    "com.gcp.datastore_v1#KindExpressionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#KindExpression"
      }
    },
    "com.gcp.datastore_v1#ProjectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#Projection"
      }
    },
    "com.gcp.datastore_v1#PropertyReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#PropertyReference"
      }
    },
    "com.gcp.datastore_v1#PropertyOrderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1#PropertyOrder"
      }
    },
    "com.gcp.datastore_v1#AllocateIdsResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.gcp.datastore_v1#KeyList",
          "traits": {
            "smithy.api#documentation": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.AllocateIds."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadata": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operation. Can be used as a filter in ListOperationsRequest."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "state": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the Operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise."
          }
        },
        "labels": {
          "target": "com.gcp.datastore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The client-assigned labels which were provided when the operation was created. May also include additional labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "EXPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_ENTITIES"
          }
        },
        "IMPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_ENTITIES"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.datastore_v1#GqlQueryParameter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.datastore_v1#Value",
          "traits": {
            "smithy.api#documentation": "A value parameter."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query cursor. Query cursors are returned in query result batches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A binding parameter for a GQL query."
      }
    },
    "com.gcp.datastore_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.datastore_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "progressEntities": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "common": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "progressBytes": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1#GoogleDatastoreAdminV1beta1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being imported."
          }
        },
        "inputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ImportEntities operations."
      }
    },
    "com.gcp.datastore_v1#RunQueryResponse": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.gcp.datastore_v1#QueryResultBatch",
          "traits": {
            "smithy.api#documentation": "A batch of query results. This is always present unless running a query under explain-only mode: RunQueryRequest.explain_options was provided and ExplainOptions.analyze was set to false."
          }
        },
        "query": {
[...]
