{
  "smithy": "2.0",
  "metadata": {
    "service": "datalabeling",
    "version": "v1beta1",
    "title": "Data Labeling API",
    "baseUrl": "https://datalabeling.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1PolylineConfig": {
      "type": "structure",
      "members": {
        "annotationSpecSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set resource name."
          }
        },
        "instructionMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instruction message showed on contributors UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for image polyline human labeling task."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.datalabeling_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datalabeling_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datalabeling_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#DocumentMap"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when generate report request was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an GenerateAnalysisReport operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of LabelImagePolyline operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageOrientedBoundingBox operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1OperatorMetadata": {
      "type": "structure",
      "members": {
        "comments": {
          "target": "com.gcp.datalabeling_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Comments from contributors."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence score corresponding to a label. For examle, if 3 contributors have answered the question and 2 of them agree on the final label, the confidence score will be 0.67 (2/3)."
          }
        },
        "totalVotes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of contributors that answer this question."
          }
        },
        "labelVotes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of contributors that choose this label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "General information useful for labels coming from contributors."
      }
    },
    "com.gcp.datalabeling_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when import dataset request was created."
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an ImportData operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatus"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of LabelImageBoundingPoly operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the AnnotationSpec. Maximum of 64 characters."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a LabelImageClassification operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationValue": {
      "type": "structure",
      "members": {
        "imagePolylineAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for image polyline cases. Polyline here is different from BoundingPoly. It is formed by line segments connected to each other but not closed form(Bounding Poly). The line segments can cross each other."
          }
        },
        "videoObjectTrackingAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for video object detection and tracking case."
          }
        },
        "imageClassificationAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for image classification case."
          }
        },
        "textClassificationAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextClassificationAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for text classification case."
          }
        },
        "imageBoundingPolyAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for image bounding box, oriented bounding box and polygon cases."
          }
        },
        "videoClassificationAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for video classification case."
          }
        },
        "videoEventAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoEventAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for video event case."
          }
        },
        "imageSegmentationAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for image segmentation."
          }
        },
        "textEntityExtractionAnnotation": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
          "traits": {
            "smithy.api#documentation": "Annotation value for text entity extraction case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation value for an example."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when export dataset request was created."
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an ExportData operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "type": "structure",
      "members": {
        "annotationSpecSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set resource name."
          }
        },
        "allowMultiLabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one image."
          }
        },
        "answerAggregationType": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationConfigAnswerAggregationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of how to aggregate answers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for image classification human labeling task."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationConfigAnswerAggregationTypeEnum": {
      "type": "enum",
      "members": {
        "STRING_AGGREGATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_AGGREGATION_TYPE_UNSPECIFIED"
          }
        },
        "MAJORITY_VOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAJORITY_VOTE"
          }
        },
        "UNANIMOUS_VOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNANIMOUS_VOTE"
          }
        },
        "NO_AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AGGREGATION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoObjectDetection operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata describing the feedback from the labeling task requester."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageOrientedBoundingBox operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageSegmentation operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "type": "structure",
      "members": {
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The output uri of destination file."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export destination of the data.Only gcs path is allowed in output_uri."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when import dataset request was created."
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an ImportData operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "type": "structure",
      "members": {
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "Label of the text entities."
          }
        },
        "sequentialSegment": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1SequentialSegment",
          "traits": {
            "smithy.api#documentation": "Position of the entity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text entity extraction annotation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "type": "structure",
      "members": {
        "iouThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options regarding evaluation between bounding boxes."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "type": "structure",
      "members": {
        "itemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)"
          }
        },
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "The annotation spec of a predicted label."
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1PdfInstruction": {
      "type": "structure",
      "members": {
        "gcsFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PDF file for the instruction. Only gcs path is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instruction from a PDF file."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageBoundingBox operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfig": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfigDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Data type must be specifed when user tries to import data."
          }
        },
        "textMetadata": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextMetadata",
          "traits": {
            "smithy.api#documentation": "Required for text import, as language code must be specified."
          }
        },
        "classificationMetadata": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ClassificationMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification."
          }
        },
        "bigquerySource": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BigQuerySource",
          "traits": {
            "smithy.api#documentation": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob."
          }
        },
        "gcsSource": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1GcsSource",
          "traits": {
            "smithy.api#documentation": "Source located in Cloud Storage."
          }
        },
        "annotationType": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfigAnnotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of input data, including data type, location, etc."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfigDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "GENERAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_DATA"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfigAnnotationTypeEnum": {
      "type": "enum",
      "members": {
        "ANNOTATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNOTATION_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_CLASSIFICATION_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_POLY_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_POLY_ANNOTATION"
          }
        },
        "IMAGE_POLYLINE_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_POLYLINE_ANNOTATION"
          }
        },
        "IMAGE_SEGMENTATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SEGMENTATION_ANNOTATION"
          }
        },
        "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_TRACKING_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_TRACKING_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_DETECTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_DETECTION_ANNOTATION"
          }
        },
        "VIDEO_EVENT_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_EVENT_ANNOTATION"
          }
        },
        "TEXT_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_CLASSIFICATION_ANNOTATION"
          }
        },
        "TEXT_ENTITY_EXTRACTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_ENTITY_EXTRACTION_ANNOTATION"
          }
        },
        "GENERAL_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_CLASSIFICATION_ANNOTATION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation": {
      "type": "structure",
      "members": {
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "Label of the segment specified by time_segment."
          }
        },
        "timeSegment": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TimeSegment",
          "traits": {
            "smithy.api#documentation": "The time segment of the video to which the annotation applies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video classification annotation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for PauseEvaluationJob."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig": {
      "type": "structure",
      "members": {
        "annotationSpecSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for text entity extraction human labeling task."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoClassification operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1GcsDestination",
          "traits": {
            "smithy.api#documentation": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
          }
        },
        "gcsFolderDestination": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
          "traits": {
            "smithy.api#documentation": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of output data."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoObjectDetection operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a LabelImageClassification operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelTextClassification operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextClassificationConfig": {
      "type": "structure",
      "members": {
        "sentimentConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1SentimentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configs for sentiment selection. We deprecate sentiment analysis in data labeling side as it is incompatible with uCAIP."
          }
        },
        "annotationSpecSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set resource name."
          }
        },
        "allowMultiLabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one text segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for text classification human labeling task."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
      "type": "structure",
      "members": {
        "videoEventDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video event operation."
          }
        },
        "videoObjectTrackingDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video object tracking operation."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
          }
        },
        "textEntityExtractionDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label text entity extraction operation."
          }
        },
        "imageOrientedBoundingBoxDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image oriented bounding box operation."
          }
        },
        "imageClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image classification operation."
          }
        },
        "imageBoundingBoxDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image bounding box operation."
          }
        },
        "imageSegmentationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image segmentation operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when labeling request was created."
          }
        },
        "videoClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video classification operation."
          }
        },
        "textClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label text classification operation."
          }
        },
        "imagePolylineDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image polyline operation."
          }
        },
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Progress of label operation. Range: [0, 100]."
          }
        },
        "videoObjectDetectionDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video object detection operation."
          }
        },
        "imageBoundingPolyDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image bounding poly operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoObjectTracking operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation": {
      "type": "structure",
      "members": {
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "Label of image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image classification annotation definition."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelStats": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "com.gcp.datalabeling_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics about annotation specs."
      }
    },
    "com.gcp.datalabeling_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.datalabeling_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageRequest": {
      "type": "structure",
      "members": {
        "segmentationConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1SegmentationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for segmentation task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
          }
        },
        "imageClassificationConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for image classification task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
          }
        },
        "boundingPolyConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for bounding box and bounding poly task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
          }
        },
        "polylineConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1PolylineConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for polyline task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
          }
        },
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Required. Basic human annotation config."
          }
        },
        "feature": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageRequestFeatureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of image labeling task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Request message for starting an image labeling task."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelImageRequestFeatureEnum": {
      "type": "enum",
      "members": {
        "FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_UNSPECIFIED"
          }
        },
        "CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASSIFICATION"
          }
        },
        "BOUNDING_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDING_BOX"
          }
        },
        "ORIENTED_BOUNDING_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIENTED_BOUNDING_BOX"
          }
        },
        "BOUNDING_POLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDING_POLY"
          }
        },
        "POLYLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLYLINE"
          }
        },
        "SEGMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENTATION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationJob",
          "traits": {
            "smithy.api#documentation": "Required. The evaluation job to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Request message for CreateEvaluationJob."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation": {
      "type": "structure",
      "members": {
        "annotationColors": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpecMap",
          "traits": {
            "smithy.api#documentation": "The mapping between rgb color and annotation spec. The key is the rgb color represented in format of rgb(0, 0, 0). The value is the AnnotationSpec."
          }
        },
        "imageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A byte string of a full image's color map."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image segmentation annotation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BigQuerySource": {
      "type": "structure",
      "members": {
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. BigQuery URI to a table, up to 2,000 characters long. If you specify the URI of a table that does not exist, Data Labeling Service creates a table at the URI with the correct schema when you create your EvaluationJob. If you specify the URI of a table that already exists, it must have the [correct schema](/ml-engine/docs/continuous-evaluation/create-job#table-schema). Provide the table URI in the following format: \"bq://{your_project_id}/ {your_dataset_name}/{your_table_name}\" [Learn more](/ml-engine/docs/continuous-evaluation/create-job#table-schema)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The BigQuery location for input data. If used in an EvaluationJob, this is where the service saves the prediction input and output sampled from the model version."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageBoundingBox operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse": {
      "type": "structure",
      "members": {
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of examples requested to export"
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
          }
        },
        "outputConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1OutputConfig",
          "traits": {
            "smithy.api#documentation": "Output only. output_config in the ExportData request."
          }
        },
        "labelStats": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelStats",
          "traits": {
            "smithy.api#documentation": "Output only. Statistic infos of labels in the exported dataset."
          }
        },
        "exportCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples exported successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response used for ExportDataset longrunning operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination": {
      "type": "structure",
      "members": {
        "outputFolderUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage directory to export data to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export folder destination of the data."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ClassificationMetadata": {
      "type": "structure",
      "members": {
        "isMultiLabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the classification task is multi-label or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for classification annotations."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoClassification operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImportDataRequest": {
      "type": "structure",
      "members": {
        "userEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user who started the import task and should be notified by email. If empty no notification will be sent."
          }
        },
        "inputConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InputConfig",
          "traits": {
            "smithy.api#documentation": "Required. Specify the input source of the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ImportData API."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results."
          }
        },
        "feedbackThreads": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackThreadList",
          "traits": {
            "smithy.api#documentation": "The list of feedback threads to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for listing FeedbackThreads."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackThreadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackThread"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoPayload": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video format."
          }
        },
        "videoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video uri from the user bucket."
          }
        },
        "signedUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed uri of the video file in the service bucket."
          }
        },
        "videoThumbnails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoThumbnailList",
          "traits": {
            "smithy.api#documentation": "The list of video thumbnails."
          }
        },
        "frameRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "FPS of the video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container of information of a video."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoThumbnailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoThumbnail"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelStats": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "com.gcp.datalabeling_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics about annotation specs."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when import dataset request was created."
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an ImportData operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ExampleComparison": {
      "type": "structure",
      "members": {
        "groundTruthExample": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1Example",
          "traits": {
            "smithy.api#documentation": "The ground truth output for the input."
          }
        },
        "modelCreatedExamples": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ExampleList",
          "traits": {
            "smithy.api#documentation": "Predictions by the model for the input."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Example comparisons comparing ground truth output and predictions for a specific input."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1Example"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest": {
      "type": "structure",
      "members": {
        "annotationSpecSet": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpecSet",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set to create. Annotation specs must be included. Only one annotation spec will be accepted for annotation specs with same display_name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CreateAnnotationSpecSet."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation": {
      "type": "structure",
      "members": {
        "normalizedBoundingPoly": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        },
        "boundingPoly": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "Label of object in this bounding polygon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image bounding poly annotation. It represents a polygon including bounding box in the image."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1OutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1GcsDestination",
          "traits": {
            "smithy.api#documentation": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
          }
        },
        "gcsFolderDestination": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination",
          "traits": {
            "smithy.api#documentation": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of output data."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingPoly": {
      "type": "structure",
      "members": {
        "vertices": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon vertices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bounding polygon in the image."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1Vertex"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1DataItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
          }
        },
        "videoPayload": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoPayload",
          "traits": {
            "smithy.api#documentation": "The video payload, a container of the video uri."
          }
        },
        "textPayload": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextPayload",
          "traits": {
            "smithy.api#documentation": "The text payload, a container of text content."
          }
        },
        "imagePayload": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImagePayload",
          "traits": {
            "smithy.api#documentation": "The image payload, a container of the image bytes/uri."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataItem is a piece of data, without annotation. For example, an image."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDataset": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples in the annotated dataset."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 64 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. AnnotatedDataset resource name in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
          }
        },
        "completedExampleCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples that have annotation in the annotated dataset."
          }
        },
        "metadata": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about AnnotatedDataset."
          }
        },
        "annotationSource": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDatasetAnnotationSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Source of the annotation."
          }
        },
        "labelStats": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelStats",
          "traits": {
            "smithy.api#documentation": "Output only. Per label statistics."
          }
        },
        "annotationType": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDatasetAnnotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the annotation. It is specified when starting labeling task."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 10000 characters."
          }
        },
        "blockingResources": {
          "target": "com.gcp.datalabeling_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The names of any related resources that are blocking changes to the annotated dataset."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the AnnotatedDataset was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnnotatedDataset is a set holding annotations for data in a Dataset. Each labeling task will generate an AnnotatedDataset under the Dataset that the task is requested for."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDatasetAnnotationSourceEnum": {
      "type": "enum",
      "members": {
        "ANNOTATION_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNOTATION_SOURCE_UNSPECIFIED"
          }
        },
        "OPERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotatedDatasetAnnotationTypeEnum": {
      "type": "enum",
      "members": {
        "ANNOTATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNOTATION_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_CLASSIFICATION_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_POLY_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_POLY_ANNOTATION"
          }
        },
        "IMAGE_POLYLINE_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_POLYLINE_ANNOTATION"
          }
        },
        "IMAGE_SEGMENTATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SEGMENTATION_ANNOTATION"
          }
        },
        "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_TRACKING_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_TRACKING_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_DETECTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_DETECTION_ANNOTATION"
          }
        },
        "VIDEO_EVENT_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_EVENT_ANNOTATION"
          }
        },
        "TEXT_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_CLASSIFICATION_ANNOTATION"
          }
        },
        "TEXT_ENTITY_EXTRACTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_ENTITY_EXTRACTION_ANNOTATION"
          }
        },
        "GENERAL_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_CLASSIFICATION_ANNOTATION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelTextEntityExtraction operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ObjectTrackingFrame": {
      "type": "structure",
      "members": {
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time offset of this frame relative to the beginning of the video."
          }
        },
        "normalizedBoundingPoly": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        },
        "boundingPoly": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingPoly"
        }
      },
      "traits": {
        "smithy.api#documentation": "Video frame level annotation for object detection and tracking."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextClassificationAnnotation": {
      "type": "structure",
      "members": {
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "Label of the text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text classification annotation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1VideoThumbnail": {
      "type": "structure",
      "members": {
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A byte string of the video frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time offset relative to the beginning of the video, corresponding to the video frame where the thumbnail has been extracted from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container of information of a video thumbnail."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackMessage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the feedback message in a feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessage/{feedback_message_id}'"
          }
        },
        "operatorFeedbackMetadata": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata"
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image storing this feedback if the feedback is an image representing operator's comments."
          }
        },
        "requesterFeedbackMetadata": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata"
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Create time."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String content of the feedback. Maximum of 10000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A feedback message inside a feedback thread."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingPolyOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of LabelImageBoundingPoly operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelTextClassificationOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelTextClassification operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse": {
      "type": "structure",
      "members": {
        "labelStats": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelStats",
          "traits": {
            "smithy.api#documentation": "Output only. Statistic infos of labels in the exported dataset."
          }
        },
        "exportCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples exported successfully."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of examples requested to export"
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
          }
        },
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        },
        "outputConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1OutputConfig",
          "traits": {
            "smithy.api#documentation": "Output only. output_config in the ExportData request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response used for ExportDataset longrunning operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "type": "structure",
      "members": {
        "boundingBoxEvaluationOptions": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
          "traits": {
            "smithy.api#documentation": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration details used for calculating evaluation metrics and creating an Evaluation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextRequest": {
      "type": "structure",
      "members": {
        "textClassificationConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for text classification task. One of text_classification_config and text_entity_extraction_config is required."
          }
        },
        "textEntityExtractionConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for entity extraction task. One of text_classification_config and text_entity_extraction_config is required."
          }
        },
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Required. Basic human annotation config."
          }
        },
        "feature": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextRequestFeatureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of text labeling task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for LabelText."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1LabelTextRequestFeatureEnum": {
      "type": "enum",
      "members": {
        "FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_UNSPECIFIED"
          }
        },
        "TEXT_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_CLASSIFICATION"
          }
        },
        "TEXT_ENTITY_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_ENTITY_EXTRACTION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1ExportDataOperationMetadata": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when export dataset request was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an ExportData operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1PrCurve": {
      "type": "structure",
      "members": {
        "annotationSpec": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "traits": {
            "smithy.api#documentation": "The annotation spec of the label for which the precision-recall curve calculated. If this field is empty, that means the precision-recall curve is an aggregate curve for all labels."
          }
        },
        "confidenceMetricsEntries": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "Entries that make up the precision-recall graph. Each entry is a \"point\" on the graph drawn for a different `confidence_threshold`."
          }
        },
        "areaUnderCurve": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Area under the precision-recall curve. Not to be confused with area under a receiver operating characteristic (ROC) curve."
          }
        },
        "meanAveragePrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Mean average prcision of this curve."
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelStats": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "com.gcp.datalabeling_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics about annotation specs."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config used in labeling request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelVideoEvent operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1Evaluation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp for when this evaluation was created."
          }
        },
        "annotationType": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationAnnotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation."
          }
        },
        "evaluationMetrics": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics comparing predictions to ground truth labels."
          }
        },
        "evaluationJobRunTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp for when the evaluation job that created this evaluation ran."
          }
        },
        "config": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Options used in the evaluation job that created this evaluation."
          }
        },
        "evaluatedItemCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1EvaluationAnnotationTypeEnum": {
      "type": "enum",
      "members": {
        "ANNOTATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNOTATION_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_CLASSIFICATION_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION"
          }
        },
        "IMAGE_BOUNDING_POLY_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BOUNDING_POLY_ANNOTATION"
          }
        },
        "IMAGE_POLYLINE_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_POLYLINE_ANNOTATION"
          }
        },
        "IMAGE_SEGMENTATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SEGMENTATION_ANNOTATION"
          }
        },
        "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_TRACKING_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_TRACKING_ANNOTATION"
          }
        },
        "VIDEO_OBJECT_DETECTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OBJECT_DETECTION_ANNOTATION"
          }
        },
        "VIDEO_EVENT_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_EVENT_ANNOTATION"
          }
        },
        "TEXT_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_CLASSIFICATION_ANNOTATION"
          }
        },
        "TEXT_ENTITY_EXTRACTION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_ENTITY_EXTRACTION_ANNOTATION"
          }
        },
        "GENERAL_CLASSIFICATION_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_CLASSIFICATION_ANNOTATION"
          }
        }
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1GcsFolderDestination": {
      "type": "structure",
      "members": {
        "outputFolderUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage directory to export data to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export folder destination of the data."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelOperationMetadata": {
      "type": "structure",
      "members": {
        "imageBoundingPolyDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image bounding poly operation."
          }
        },
        "imagePolylineDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image polyline operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when labeling request was created."
          }
        },
        "imageBoundingBoxDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image bounding box operation."
          }
        },
        "videoObjectDetectionDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video object detection operation."
          }
        },
        "imageSegmentationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image segmentation operation."
          }
        },
        "textEntityExtractionDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label text entity extraction operation."
          }
        },
        "annotatedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
          }
        },
        "imageOrientedBoundingBoxDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image oriented bounding box operation."
          }
        },
        "videoObjectTrackingDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video object tracking operation."
          }
        },
        "textClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label text classification operation."
          }
        },
        "imageClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label image classification operation."
          }
        },
        "videoEventDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video event operation."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Progress of label operation. Range: [0, 100]."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
          }
        },
        "partialFailures": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
          }
        },
        "videoClassificationDetails": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details of label video classification operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ListInstructionsResponse": {
      "type": "structure",
      "members": {
        "instructions": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InstructionList",
          "traits": {
            "smithy.api#documentation": "The list of Instructions to return."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of listing instructions under a project."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1InstructionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1Instruction"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1NormalizedVertex": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        },
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "type": "structure",
      "members": {
        "basicConfig": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "traits": {
            "smithy.api#documentation": "Basic human annotation config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a LabelImageOrientedBoundingBox operation metadata."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1SegmentationConfig": {
      "type": "structure",
      "members": {
        "annotationSpecSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Annotation spec set resource name. format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"
          }
        },
        "instructionMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instruction message showed on labelers UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for image segmentation"
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ImportDataOperationResponse": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ouptut only. The name of imported dataset."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of examples requested to import"
          }
        },
        "importCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples imported successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response used for ImportData longrunning operation."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results."
          }
        },
        "feedbackMessages": {
          "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackMessageList",
          "traits": {
            "smithy.api#documentation": "The list of feedback messages to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for listing FeedbackMessages."
      }
    },
    "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datalabeling_v1beta1#GoogleCloudDatalabelingV1beta1FeedbackMessage"
      }
    },
[...]
