{
  "smithy": "2.0",
  "metadata": {
    "service": "dataform",
    "version": "v1",
    "title": "Dataform API",
    "baseUrl": "https://dataform.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dataform_v1#LoadConfig": {
      "type": "structure",
      "members": {
        "maximum": {
          "target": "com.gcp.dataform_v1#IncrementalLoadMode",
          "traits": {
            "smithy.api#documentation": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
          }
        },
        "unique": {
          "target": "com.gcp.dataform_v1#IncrementalLoadMode",
          "traits": {
            "smithy.api#documentation": "Insert records where the value of a column is not already present in the destination table"
          }
        },
        "replace": {
          "target": "com.gcp.dataform_v1#SimpleLoadMode",
          "traits": {
            "smithy.api#documentation": "Replace destination table"
          }
        },
        "append": {
          "target": "com.gcp.dataform_v1#SimpleLoadMode",
          "traits": {
            "smithy.api#documentation": "Append into destination table"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Simplified load configuration for actions"
      }
    },
    "com.gcp.dataform_v1#ActionErrorTable": {
      "type": "structure",
      "members": {
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error table partition expiration in days. Only positive values are allowed."
          }
        },
        "target": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "Error Table target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error table information, used to write error data into a BigQuery table."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocation": {
      "type": "structure",
      "members": {
        "privateResourceMetadata": {
          "target": "com.gcp.dataform_v1#PrivateResourceMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped."
          }
        },
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "compilationResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The workflow invocation's name."
          }
        },
        "dataEncryptionState": {
          "target": "com.gcp.dataform_v1#DataEncryptionState",
          "traits": {
            "smithy.api#documentation": "Output only. Only set if the repository has a KMS Key."
          }
        },
        "invocationTiming": {
          "target": "com.gcp.dataform_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Output only. This workflow invocation's timing details."
          }
        },
        "invocationConfig": {
          "target": "com.gcp.dataform_v1#InvocationConfig",
          "traits": {
            "smithy.api#documentation": "Immutable. If left unset, a default InvocationConfig will be used."
          }
        },
        "resolvedCompilationResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
          }
        },
        "workflowConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`."
          }
        },
        "state": {
          "target": "com.gcp.dataform_v1#WorkflowInvocationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This workflow invocation's current state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single invocation of a compilation result."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELING"
          }
        }
      }
    },
    "com.gcp.dataform_v1#UncommittedFileChange": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's full path including filename, relative to the workspace root."
          }
        },
        "state": {
          "target": "com.gcp.dataform_v1#UncommittedFileChangeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the status of the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Git state of a file with uncommitted changes."
      }
    },
    "com.gcp.dataform_v1#UncommittedFileChangeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED"
          }
        },
        "HAS_CONFLICTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAS_CONFLICTS"
          }
        }
      }
    },
    "com.gcp.dataform_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.dataform_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataform_v1#DataPreparationAction": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
          }
        },
        "contentsYaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
          }
        },
        "contentsSql": {
          "target": "com.gcp.dataform_v1#ActionSqlDefinition",
          "traits": {
            "smithy.api#documentation": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
          }
        },
        "generatedSql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generated BigQuery SQL script that will be executed. For reference only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a workflow action that will run a Data Preparation."
      }
    },
    "com.gcp.dataform_v1#ActionSqlDefinition": {
      "type": "structure",
      "members": {
        "loadConfig": {
          "target": "com.gcp.dataform_v1#ActionLoadConfig",
          "traits": {
            "smithy.api#documentation": "Load configuration."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
          }
        },
        "errorTable": {
          "target": "com.gcp.dataform_v1#ActionErrorTable",
          "traits": {
            "smithy.api#documentation": "Error table configuration,"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a SQL Data Preparation"
      }
    },
    "com.gcp.dataform_v1#PushGitCommitsRequest": {
      "type": "structure",
      "members": {
        "remoteBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`PushGitCommits` request message."
      }
    },
    "com.gcp.dataform_v1#RemoveFileRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's full path including filename, relative to the workspace root."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`RemoveFile` request message."
      }
    },
    "com.gcp.dataform_v1#TeamFolderSearchResult": {
      "type": "structure",
      "members": {
        "teamFolder": {
          "target": "com.gcp.dataform_v1#TeamFolder",
          "traits": {
            "smithy.api#documentation": "A TeamFolder resource that is in the project / location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single content entry."
      }
    },
    "com.gcp.dataform_v1#DirectoryEntry": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A file in the directory. The path is returned including the full folder structure from the root."
          }
        },
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A child directory in the directory. The path is returned including the full folder structure from the root."
          }
        },
        "metadata": {
          "target": "com.gcp.dataform_v1#FilesystemEntryMetadata",
          "traits": {
            "smithy.api#documentation": "Entry with metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single entry in a directory."
      }
    },
    "com.gcp.dataform_v1#PrivateResourceMetadata": {
      "type": "structure",
      "members": {
        "userScoped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata used to identify if a resource is user scoped."
      }
    },
    "com.gcp.dataform_v1#SimpleLoadMode": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Simple load definition"
      }
    },
    "com.gcp.dataform_v1#CancelWorkflowInvocationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`CancelWorkflowInvocation` request message."
      }
    },
    "com.gcp.dataform_v1#Assertion": {
      "type": "structure",
      "members": {
        "parentAction": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "The parent action of this assertion. Only set if this assertion was automatically generated."
          }
        },
        "relationDescriptor": {
          "target": "com.gcp.dataform_v1#RelationDescriptor",
          "traits": {
            "smithy.api#documentation": "Descriptor for the assertion's automatically-generated view and its columns."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this action is disabled (i.e. should not be run)."
          }
        },
        "selectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SELECT query which must return zero rows in order for this assertion to succeed."
          }
        },
        "dependencyTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "A list of actions that this action depends on."
          }
        },
        "tags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Arbitrary, user-defined tags on this action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an assertion upon a SQL query which is required return zero rows."
      }
    },
    "com.gcp.dataform_v1#TargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#Target"
      }
    },
    "com.gcp.dataform_v1#CancelWorkflowInvocationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`CancelWorkflowInvocation` response message."
      }
    },
    "com.gcp.dataform_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.dataform_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.dataform_v1#CommitLogEntry": {
      "type": "structure",
      "members": {
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit SHA for this commit log entry."
          }
        },
        "commitMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit message for this commit log entry."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit timestamp."
          }
        },
        "author": {
          "target": "com.gcp.dataform_v1#CommitAuthor",
          "traits": {
            "smithy.api#documentation": "The commit author for this commit log entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single commit log."
      }
    },
    "com.gcp.dataform_v1#Declaration": {
      "type": "structure",
      "members": {
        "relationDescriptor": {
          "target": "com.gcp.dataform_v1#RelationDescriptor",
          "traits": {
            "smithy.api#documentation": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
      }
    },
    "com.gcp.dataform_v1#ListReleaseConfigsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations which could not be reached."
          }
        },
        "releaseConfigs": {
          "target": "com.gcp.dataform_v1#ReleaseConfigList",
          "traits": {
            "smithy.api#documentation": "List of release configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ListReleaseConfigs` response message."
      }
    },
    "com.gcp.dataform_v1#ReleaseConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#ReleaseConfig"
      }
    },
    "com.gcp.dataform_v1#NotebookAction": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The code contents of a Notebook to be run."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a workflow action that will run against a Notebook runtime."
      }
    },
    "com.gcp.dataform_v1#WorkspaceCompilationOverrides": {
      "type": "structure",
      "members": {
        "defaultDatabase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default database (Google Cloud project ID)."
          }
        },
        "schemaSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
          }
        },
        "tablePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The prefix that should be prepended to all table names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures workspace compilation overrides for a repository."
      }
    },
    "com.gcp.dataform_v1#PullGitCommitsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`PullGitCommits` response message."
      }
    },
    "com.gcp.dataform_v1#MakeDirectoryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`MakeDirectory` response message."
      }
    },
    "com.gcp.dataform_v1#QueryCompilationResultActionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "compilationResultActions": {
          "target": "com.gcp.dataform_v1#CompilationResultActionList",
          "traits": {
            "smithy.api#documentation": "List of compilation result actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`QueryCompilationResultActions` response message."
      }
    },
    "com.gcp.dataform_v1#CompilationResultActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#CompilationResultAction"
      }
    },
    "com.gcp.dataform_v1#InvocationConfig": {
      "type": "structure",
      "members": {
        "transitiveDependentsIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, transitive dependents of included actions will be executed."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to run workflow invocations under."
          }
        },
        "includedTags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The set of tags to include."
          }
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, any incremental tables will be fully refreshed."
          }
        },
        "queryPriority": {
          "target": "com.gcp.dataform_v1#InvocationConfigQueryPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries."
          }
        },
        "transitiveDependenciesIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, transitive dependencies of included actions will be executed."
          }
        },
        "includedTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "Optional. The set of action identifiers to include."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included."
      }
    },
    "com.gcp.dataform_v1#InvocationConfigQueryPriorityEnum": {
      "type": "enum",
      "members": {
        "QUERY_PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_PRIORITY_UNSPECIFIED"
          }
        },
        "INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERACTIVE"
          }
        },
        "BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH"
          }
        }
      }
    },
    "com.gcp.dataform_v1#Target": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The action's name, within `database` and `schema`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The action's database (Google Cloud project ID) ."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The action's schema (BigQuery dataset ID), within `database`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object."
      }
    },
    "com.gcp.dataform_v1#ComputeRepositoryAccessTokenStatusResponse": {
      "type": "structure",
      "members": {
        "tokenStatus": {
          "target": "com.gcp.dataform_v1#ComputeRepositoryAccessTokenStatusResponseTokenStatusEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the status of the Git access token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ComputeRepositoryAccessTokenStatus` response message."
      }
    },
    "com.gcp.dataform_v1#ComputeRepositoryAccessTokenStatusResponseTokenStatusEnum": {
      "type": "enum",
      "members": {
        "TOKEN_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_STATUS_UNSPECIFIED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        }
      }
    },
    "com.gcp.dataform_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.dataform_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.dataform_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.dataform_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.dataform_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dataform_v1#CommitAuthor": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The commit author's email address."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The commit author's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the author of a Git commit."
      }
    },
    "com.gcp.dataform_v1#ListWorkflowInvocationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations which could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "workflowInvocations": {
          "target": "com.gcp.dataform_v1#WorkflowInvocationList",
          "traits": {
            "smithy.api#documentation": "List of workflow invocations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ListWorkflowInvocations` response message."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#WorkflowInvocation"
      }
    },
    "com.gcp.dataform_v1#ErrorTable": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "Error Table target."
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error table partition expiration in days. Only positive values are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error table information, used to write error data into a BigQuery table."
      }
    },
    "com.gcp.dataform_v1#PullGitCommitsRequest": {
      "type": "structure",
      "members": {
        "remoteBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
          }
        },
        "author": {
          "target": "com.gcp.dataform_v1#CommitAuthor",
          "traits": {
            "smithy.api#documentation": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`PullGitCommits` request message."
      }
    },
    "com.gcp.dataform_v1#CodeCompilationConfig": {
      "type": "structure",
      "members": {
        "tablePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The prefix that should be prepended to all table names."
          }
        },
        "defaultNotebookRuntimeOptions": {
          "target": "com.gcp.dataform_v1#NotebookRuntimeOptions",
          "traits": {
            "smithy.api#documentation": "Optional. The default notebook runtime options."
          }
        },
        "defaultLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
          }
        },
        "builtinAssertionNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The prefix to prepend to built-in assertion names."
          }
        },
        "vars": {
          "target": "com.gcp.dataform_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined variables that are made available to project code during compilation."
          }
        },
        "assertionSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default schema (BigQuery dataset ID) for assertions."
          }
        },
        "databaseSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
          }
        },
        "schemaSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
          }
        },
        "defaultSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default schema (BigQuery dataset ID)."
          }
        },
        "defaultDatabase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default database (Google Cloud project ID)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures various aspects of Dataform code compilation."
      }
    },
    "com.gcp.dataform_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataform_v1#SqlDefinition": {
      "type": "structure",
      "members": {
        "errorTable": {
          "target": "com.gcp.dataform_v1#ErrorTable",
          "traits": {
            "smithy.api#documentation": "Error table configuration,"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
          }
        },
        "load": {
          "target": "com.gcp.dataform_v1#LoadConfig",
          "traits": {
            "smithy.api#documentation": "Load configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a SQL Data Preparation"
      }
    },
    "com.gcp.dataform_v1#CommitRepositoryChangesResponse": {
      "type": "structure",
      "members": {
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit SHA of the current commit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CommitRepositoryChanges` response message."
      }
    },
    "com.gcp.dataform_v1#WriteFileRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file."
          }
        },
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`WriteFile` request message."
      }
    },
    "com.gcp.dataform_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.dataform_v1#FetchGitAheadBehindResponse": {
      "type": "structure",
      "members": {
        "commitsBehind": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of commits in the workspace that are not in the remote branch."
          }
        },
        "commitsAhead": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of commits in the remote branch that are not in the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`FetchGitAheadBehind` response message."
      }
    },
    "com.gcp.dataform_v1#SearchFilesResponse": {
      "type": "structure",
      "members": {
        "searchResults": {
          "target": "com.gcp.dataform_v1#SearchResultList",
          "traits": {
            "smithy.api#documentation": "List of matched results."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client-facing representation of a file search response."
      }
    },
    "com.gcp.dataform_v1#SearchResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#SearchResult"
      }
    },
    "com.gcp.dataform_v1#Notebook": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of the notebook."
          }
        },
        "dependencyTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "A list of actions that this action depends on."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this action is disabled (i.e. should not be run)."
          }
        },
        "tags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Arbitrary, user-defined tags on this action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a notebook."
      }
    },
    "com.gcp.dataform_v1#ListRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.dataform_v1#RepositoryList",
          "traits": {
            "smithy.api#documentation": "List of repositories."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations which could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ListRepositories` response message."
      }
    },
    "com.gcp.dataform_v1#RepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#Repository"
      }
    },
    "com.gcp.dataform_v1#BigQueryAction": {
      "type": "structure",
      "members": {
        "sqlScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generated BigQuery SQL script that will be executed."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a workflow action that will run against BigQuery."
      }
    },
    "com.gcp.dataform_v1#WriteFileResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`WriteFile` response message."
      }
    },
    "com.gcp.dataform_v1#QueryRepositoryDirectoryContentsResponse": {
      "type": "structure",
      "members": {
        "directoryEntries": {
          "target": "com.gcp.dataform_v1#DirectoryEntryList",
          "traits": {
            "smithy.api#documentation": "List of entries in the directory."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`QueryRepositoryDirectoryContents` response message."
      }
    },
    "com.gcp.dataform_v1#DirectoryEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#DirectoryEntry"
      }
    },
    "com.gcp.dataform_v1#ActionIncrementalLoadMode": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name for incremental load modes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load definition for incremental load modes"
      }
    },
    "com.gcp.dataform_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.dataform_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.dataform_v1#Folder": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Folder's user-friendly name."
          }
        },
        "creatorIamPrincipal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IAM principal identifier of the creator of the Folder."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The Folder's name."
          }
        },
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the Folder was created."
          }
        },
        "containingFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
          }
        },
        "teamFolderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the Folder was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocationAction": {
      "type": "structure",
      "members": {
        "bigqueryAction": {
          "target": "com.gcp.dataform_v1#BigQueryAction",
          "traits": {
            "smithy.api#documentation": "Output only. The workflow action's bigquery action details."
          }
        },
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "notebookAction": {
          "target": "com.gcp.dataform_v1#NotebookAction",
          "traits": {
            "smithy.api#documentation": "Output only. The workflow action's notebook action details."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If and only if action's state is FAILED a failure reason is set."
          }
        },
        "state": {
          "target": "com.gcp.dataform_v1#WorkflowInvocationActionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This action's current state."
          }
        },
        "dataPreparationAction": {
          "target": "com.gcp.dataform_v1#DataPreparationAction",
          "traits": {
            "smithy.api#documentation": "Output only. The workflow action's data preparation action details."
          }
        },
        "canonicalTarget": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
          }
        },
        "target": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "Output only. This action's identifier. Unique within the workflow invocation."
          }
        },
        "invocationTiming": {
          "target": "com.gcp.dataform_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single action in a workflow invocation."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocationActionStateEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dataform_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.dataform_v1#RemoveFileResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`RemoveFile` response message."
      }
    },
    "com.gcp.dataform_v1#CommitWorkspaceChangesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`CommitWorkspaceChanges` response message."
      }
    },
    "com.gcp.dataform_v1#MoveDirectoryRequest": {
      "type": "structure",
      "members": {
        "newPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new path for the directory including directory name, rooted at workspace root."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The directory's full path including directory name, relative to the workspace root."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`MoveDirectory` request message."
      }
    },
    "com.gcp.dataform_v1#GitRemoteSettings": {
      "type": "structure",
      "members": {
        "sshAuthenticationConfig": {
          "target": "com.gcp.dataform_v1#SshAuthenticationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication fields for remote uris using SSH protocol."
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Git remote's default branch name. If not set, `main` will be used."
          }
        },
        "authenticationTokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
          }
        },
        "gitRepositoryLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Git remote's URL."
          }
        },
        "tokenStatus": {
          "target": "com.gcp.dataform_v1#GitRemoteSettingsTokenStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: The field does not contain any token status information."
          }
        },
        "effectiveDefaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls Git remote configuration for a repository."
      }
    },
    "com.gcp.dataform_v1#GitRemoteSettingsTokenStatusEnum": {
      "type": "enum",
      "members": {
        "TOKEN_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_STATUS_UNSPECIFIED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        }
      }
    },
    "com.gcp.dataform_v1#CompilationResultAction": {
      "type": "structure",
      "members": {
        "relation": {
          "target": "com.gcp.dataform_v1#Relation",
          "traits": {
            "smithy.api#documentation": "The database relation created/updated by this action."
          }
        },
        "dataPreparation": {
          "target": "com.gcp.dataform_v1#DataPreparation",
          "traits": {
            "smithy.api#documentation": "The data preparation executed by this action."
          }
        },
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "target": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "This action's identifier. Unique within the compilation result."
          }
        },
        "canonicalTarget": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full path including filename in which this action is located, relative to the workspace root."
          }
        },
        "notebook": {
          "target": "com.gcp.dataform_v1#Notebook",
          "traits": {
            "smithy.api#documentation": "The notebook executed by this action."
          }
        },
        "operations": {
          "target": "com.gcp.dataform_v1#Operations",
          "traits": {
            "smithy.api#documentation": "The database operations executed by this action."
          }
        },
        "declaration": {
          "target": "com.gcp.dataform_v1#Declaration",
          "traits": {
            "smithy.api#documentation": "The declaration declared by this action."
          }
        },
        "assertion": {
          "target": "com.gcp.dataform_v1#Assertion",
          "traits": {
            "smithy.api#documentation": "The assertion executed by this action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single Dataform action in a compilation result."
      }
    },
    "com.gcp.dataform_v1#SshAuthenticationConfig": {
      "type": "structure",
      "members": {
        "hostPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Content of a public SSH key to verify an identity of a remote Git host."
          }
        },
        "userPrivateKeySecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures fields for performing SSH authentication."
      }
    },
    "com.gcp.dataform_v1#QueryWorkflowInvocationActionsResponse": {
      "type": "structure",
      "members": {
        "workflowInvocationActions": {
          "target": "com.gcp.dataform_v1#WorkflowInvocationActionList",
          "traits": {
            "smithy.api#documentation": "List of workflow invocation actions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`QueryWorkflowInvocationActions` response message."
      }
    },
    "com.gcp.dataform_v1#WorkflowInvocationActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#WorkflowInvocationAction"
      }
    },
    "com.gcp.dataform_v1#CommitWorkspaceChangesRequest": {
      "type": "structure",
      "members": {
        "commitMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The commit's message."
          }
        },
        "paths": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed."
          }
        },
        "author": {
          "target": "com.gcp.dataform_v1#CommitAuthor",
          "traits": {
            "smithy.api#documentation": "Required. The commit's author."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CommitWorkspaceChanges` request message."
      }
    },
    "com.gcp.dataform_v1#PolicyName": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
      }
    },
    "com.gcp.dataform_v1#CompilationError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The error's top level message."
          }
        },
        "actionTarget": {
          "target": "com.gcp.dataform_v1#Target",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the action where this error occurred, if available."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path of the file where this error occurred, if available, relative to the project root."
          }
        },
        "stack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The error's full stack trace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error encountered when attempting to compile a Dataform project."
      }
    },
    "com.gcp.dataform_v1#WriteFile": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the write file operation (for files added or modified)."
      }
    },
    "com.gcp.dataform_v1#DirectorySearchResult": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File system path relative to the workspace root."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client-facing representation of a directory entry in search results."
      }
    },
    "com.gcp.dataform_v1#ColumnDescriptor": {
      "type": "structure",
      "members": {
        "bigqueryPolicyTags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of BigQuery policy tags that will be applied to the column."
          }
        },
        "path": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The identifier for the column. Each entry in `path` represents one level of nesting."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A textual description of the column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a column."
      }
    },
    "com.gcp.dataform_v1#DataPreparation": {
      "type": "structure",
      "members": {
        "dependencyTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "A list of actions that this action depends on."
          }
        },
        "tags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Arbitrary, user-defined tags on this action."
          }
        },
        "contentsYaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data preparation definition, stored as a YAML string."
          }
        },
        "contentsSql": {
          "target": "com.gcp.dataform_v1#SqlDefinition",
          "traits": {
            "smithy.api#documentation": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this action is disabled (i.e. should not be run)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a compiled Data Preparation entity"
      }
    },
    "com.gcp.dataform_v1#ListWorkspacesResponse": {
      "type": "structure",
      "members": {
        "workspaces": {
          "target": "com.gcp.dataform_v1#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "List of workspaces."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations which could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ListWorkspaces` response message."
      }
    },
    "com.gcp.dataform_v1#WorkspaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#Workspace"
      }
    },
    "com.gcp.dataform_v1#Workspace": {
      "type": "structure",
      "members": {
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "disableMoves": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The workspace's name."
          }
        },
        "dataEncryptionState": {
          "target": "com.gcp.dataform_v1#DataEncryptionState",
          "traits": {
            "smithy.api#documentation": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the workspace was created."
          }
        },
        "privateResourceMetadata": {
          "target": "com.gcp.dataform_v1#PrivateResourceMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Dataform Git workspace."
      }
    },
    "com.gcp.dataform_v1#MakeDirectoryRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The directory's full path including directory name, relative to the workspace root."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`MakeDirectory` request message."
      }
    },
    "com.gcp.dataform_v1#RemoveDirectoryRequest": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The directory's full path including directory name, relative to the workspace root."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`RemoveDirectory` request message."
      }
    },
    "com.gcp.dataform_v1#IncrementalTableConfig": {
      "type": "structure",
      "members": {
        "uniqueKeyParts": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation."
          }
        },
        "incrementalSelectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
          }
        },
        "incrementalPreOperations": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "SQL statements to be executed before inserting new rows into the relation."
          }
        },
        "refreshDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this table should be protected from being refreshed."
          }
        },
        "updatePartitionFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
          }
        },
        "incrementalPostOperations": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "SQL statements to be executed after inserting new rows into the relation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains settings for relations of type `INCREMENTAL_TABLE`."
      }
    },
    "com.gcp.dataform_v1#MoveFileResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`MoveFile` response message."
      }
    },
    "com.gcp.dataform_v1#Operations": {
      "type": "structure",
      "members": {
        "dependencyTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "A list of actions that this action depends on."
          }
        },
        "tags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Arbitrary, user-defined tags on this action."
          }
        },
        "hasOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether these operations produce an output relation."
          }
        },
        "relationDescriptor": {
          "target": "com.gcp.dataform_v1#RelationDescriptor",
          "traits": {
            "smithy.api#documentation": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
          }
        },
        "queries": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of arbitrary SQL statements that will be executed without alteration."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this action is disabled (i.e. should not be run)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of arbitrary database operations."
      }
    },
    "com.gcp.dataform_v1#ReleaseConfig": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC."
          }
        },
        "recentScheduledReleaseRecords": {
          "target": "com.gcp.dataform_v1#ScheduledReleaseRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disables automatic creation of compilation results."
          }
        },
        "codeCompilationConfig": {
          "target": "com.gcp.dataform_v1#CodeCompilationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
          }
        },
        "gitCommitish": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
          }
        },
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The release config's name."
          }
        },
        "cronSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
          }
        },
        "releaseCompilationResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Dataform release configuration."
      }
    },
    "com.gcp.dataform_v1#ScheduledReleaseRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#ScheduledReleaseRecord"
      }
    },
    "com.gcp.dataform_v1#FilesystemEntryMetadata": {
      "type": "structure",
      "members": {
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provides the size of the entry in bytes. For directories, this will be 0."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the time of the last modification of the entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents metadata for a single entry in a filesystem."
      }
    },
    "com.gcp.dataform_v1#MoveDirectoryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`MoveDirectory` response message."
      }
    },
    "com.gcp.dataform_v1#Relation": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Arbitrary, user-defined tags on this action."
          }
        },
        "preOperations": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "SQL statements to be executed before creating the relation."
          }
        },
        "clusterExpressions": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of columns or SQL expressions used to cluster the table."
          }
        },
        "requirePartitionFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
          }
        },
        "tableFormat": {
          "target": "com.gcp.dataform_v1#RelationTableFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The table format for the BigQuery table."
          }
        },
        "partitionExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL expression used to partition the relation."
          }
        },
        "relationType": {
          "target": "com.gcp.dataform_v1#RelationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this relation."
          }
        },
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT."
          }
        },
        "storageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
          }
        },
        "additionalOptions": {
          "target": "com.gcp.dataform_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported."
          }
        },
        "fileFormat": {
          "target": "com.gcp.dataform_v1#RelationFileFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The file format for the BigQuery table."
          }
        },
        "dependencyTargets": {
          "target": "com.gcp.dataform_v1#TargetList",
          "traits": {
            "smithy.api#documentation": "A list of actions that this action depends on."
          }
        },
        "incrementalTableConfig": {
          "target": "com.gcp.dataform_v1#IncrementalTableConfig",
          "traits": {
            "smithy.api#documentation": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
          }
        },
        "selectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SELECT query which returns rows which this relation should contain."
          }
        },
        "partitionExpirationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the partition expiration in days."
          }
        },
        "postOperations": {
          "target": "com.gcp.dataform_v1#StringList",
          "traits": {
            "smithy.api#documentation": "SQL statements to be executed after creating the relation."
          }
        },
        "relationDescriptor": {
          "target": "com.gcp.dataform_v1#RelationDescriptor",
          "traits": {
            "smithy.api#documentation": "Descriptor for the relation and its columns."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this action is disabled (i.e. should not be run)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a database relation."
      }
    },
    "com.gcp.dataform_v1#RelationTableFormatEnum": {
      "type": "enum",
      "members": {
        "TABLE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_FORMAT_UNSPECIFIED"
          }
        },
        "ICEBERG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICEBERG"
          }
        }
      }
    },
    "com.gcp.dataform_v1#RelationRelationTypeEnum": {
      "type": "enum",
      "members": {
        "RELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATION_TYPE_UNSPECIFIED"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        },
        "INCREMENTAL_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL_TABLE"
          }
        },
        "MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATERIALIZED_VIEW"
          }
        }
      }
    },
    "com.gcp.dataform_v1#RelationFileFormatEnum": {
      "type": "enum",
      "members": {
        "FILE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_UNSPECIFIED"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARQUET"
          }
        }
      }
    },
    "com.gcp.dataform_v1#FetchRepositoryHistoryResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "commits": {
          "target": "com.gcp.dataform_v1#CommitLogEntryList",
          "traits": {
            "smithy.api#documentation": "A list of commit logs, ordered by 'git log' default order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`FetchRepositoryHistory` response message."
      }
    },
    "com.gcp.dataform_v1#CommitLogEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#CommitLogEntry"
      }
    },
    "com.gcp.dataform_v1#ScheduledReleaseRecord": {
      "type": "structure",
      "members": {
        "compilationResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
          }
        },
        "releaseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of this release attempt."
          }
        },
        "errorStatus": {
          "target": "com.gcp.dataform_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A record of an attempt to create a compilation result for this release config."
      }
    },
    "com.gcp.dataform_v1#FileOperation": {
      "type": "structure",
      "members": {
        "deleteFile": {
          "target": "com.gcp.dataform_v1#DeleteFile",
          "traits": {
            "smithy.api#documentation": "Represents the delete operation."
          }
        },
        "writeFile": {
          "target": "com.gcp.dataform_v1#WriteFile",
          "traits": {
            "smithy.api#documentation": "Represents the write operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single file operation to the repository."
      }
    },
    "com.gcp.dataform_v1#ReadRepositoryFileResponse": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ReadRepositoryFile` response message."
      }
    },
    "com.gcp.dataform_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.dataform_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.dataform_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataform_v1#Binding"
      }
    },
    "com.gcp.dataform_v1#TeamFolder": {
      "type": "structure",
      "members": {
        "internalMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The TeamFolder's name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The TeamFolder's user-friendly name."
          }
        },
        "creatorIamPrincipal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IAM principal identifier of the creator of the TeamFolder."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the TeamFolder was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the TeamFolder was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls."
      }
    },
    "com.gcp.dataform_v1#QueryUserRootContentsResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.dataform_v1#RootContentsEntryList",
          "traits": {
            "smithy.api#documentation": "List of entries in the folder."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
[...]
