{
  "smithy": "2.0",
  "metadata": {
    "service": "datacatalog",
    "version": "v1",
    "title": "Google Cloud Data Catalog API",
    "baseUrl": "https://datacatalog.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datacatalog_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.datacatalog_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.datacatalog_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#Operation"
      }
    },
    "com.gcp.datacatalog_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datacatalog_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.datacatalog_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.datacatalog_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.datacatalog_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.datacatalog_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datacatalog_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.datacatalog_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datacatalog_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#DocumentMap"
      }
    },
    "com.gcp.datacatalog_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogRequestScope",
          "traits": {
            "smithy.api#documentation": "Required. The scope of this search request. The `scope` is invalid if `include_org_ids`, `include_project_ids` are empty AND `include_gcp_public_datasets` is set to `false`. In this case, the request returns an error."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The query string with a minimum of 3 characters and specific syntax. For more information, see [Data Catalog search syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference). An empty query string returns all data assets (in the specified scope) that you have access to. A query string can be a simple `xyz` or qualified by predicates: * `name:x` * `column:y` * `description:z`"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Upper bound on the number of results you can get in a single response. Can't be negative or 0, defaults to 10 in this case. The maximum number is 1000. If exceeded, throws an \"invalid argument\" exception."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pagination token that, if specified, returns the next page of search results. If empty, returns the first page. This token is returned in the SearchCatalogResponse.next_page_token field of the response to a previous SearchCatalogRequest call."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the order of results. Currently supported case-sensitive values are: * `relevance` that can only be descending * `last_modified_timestamp [asc|desc]` with descending (`desc`) as default * `default` that can only be descending Search queries don't guarantee full recall. Results that match your query might not be returned, even in subsequent result pages. Additionally, returned (and not returned) results can vary if you repeat search queries. If you are experiencing recall issues and you don't have to fetch the results in any specific order, consider setting this parameter to `default`. If this parameter is omitted, it defaults to the descending `relevance`."
          }
        },
        "adminSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, use searchAll permission granted on organizations from `include_org_ids` and projects from `include_project_ids` instead of the fine grained per resource permissions when filtering the search results. The only allowed `order_by` criteria for admin_search mode is `default`. Using this flags guarantees a full recall of the search results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SearchCatalog."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "type": "structure",
      "members": {
        "includeOrgIds": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization)."
          }
        },
        "includeProjectIds": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects)."
          }
        },
        "includeGcpPublicDatasets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, include Google Cloud public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information."
          }
        },
        "restrictedLocations": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter."
          }
        },
        "starredOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not."
          }
        },
        "includePublicTagTemplates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The criteria that select the subspace used for query matching."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultList",
          "traits": {
            "smithy.api#documentation": "Search results."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The approximate total number of entries matched by the query."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token that can be used in subsequent calls to retrieve the next page of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable locations. Search results don't include data from those locations. To get additional information on an error, repeat the search request and restrict it to specific locations by setting the `SearchCatalogRequest.scope.restricted_locations` parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchCatalog."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResult"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResult": {
      "type": "structure",
      "members": {
        "searchResultType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultSearchResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the search result. You can use this field to determine which get method to call to fetch the full resource."
          }
        },
        "searchResultSubtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sub-type of the search result. A dot-delimited full type of the resource. The same type you specify in the `type` search predicate. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`."
          }
        },
        "relativeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative name of the resource in URL format. Examples: * `projects/{PROJECT_ID}/locations/{LOCATION_ID}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}` * `projects/{PROJECT_ID}/tagTemplates/{TAG_TEMPLATE_ID}`"
          }
        },
        "linkedResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the Google Cloud resource the entry belongs to. For more information, see [Full Resource Name] (/apis/design/resource_names#full_resource_name). Example: `//bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID`"
          }
        },
        "modifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the entry in the source system."
          }
        },
        "integratedSystem": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultIntegratedSystemEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The source system that Data Catalog automatically integrates with, such as BigQuery, Cloud Pub/Sub, or Dataproc Metastore."
          }
        },
        "userSpecifiedSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom source system that you can manually integrate Data Catalog with."
          }
        },
        "fullyQualifiedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name (FQN) of the resource. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:PROJECT_ID.LOCATION_ID.INSTANCE_ID.DATABASE_ID.TABLE_ID`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the result."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entry description that can consist of several sentences or paragraphs that describe entry contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result in the response to a search request. Each result captures details of one entry that matches the search."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultSearchResultTypeEnum": {
      "type": "enum",
      "members": {
        "SEARCH_RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_RESULT_TYPE_UNSPECIFIED"
          }
        },
        "ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTRY"
          }
        },
        "TAG_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAG_TEMPLATE"
          }
        },
        "ENTRY_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTRY_GROUP"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SearchCatalogResultIntegratedSystemEnum": {
      "type": "enum",
      "members": {
        "INTEGRATED_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATED_SYSTEM_UNSPECIFIED"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY"
          }
        },
        "CLOUD_PUBSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PUBSUB"
          }
        },
        "DATAPROC_METASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC_METASTORE"
          }
        },
        "DATAPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPLEX"
          }
        },
        "CLOUD_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SPANNER"
          }
        },
        "CLOUD_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BIGTABLE"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "LOOKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOKER"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string."
          }
        },
        "dataCatalogTimestamps": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SystemTimestamps",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamps of the entry group. Default value is empty."
          }
        },
        "transferredToDataplex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to [true], it means DataCatalog EntryGroup was transferred to Dataplex Universal Catalog. It makes EntryGroup and its Entries to be read-only in DataCatalog. However, new Tags on EntryGroup and its Entries can be created. After setting the flag to [true] it cannot be unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SystemTimestamps": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp of the resource within the given system."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamps associated with this resource in a particular system."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "type": "structure",
      "members": {
        "entryGroups": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryGroupList",
          "traits": {
            "smithy.api#documentation": "Entry group details."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListEntryGroups."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryGroup"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1Entry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name."
          }
        },
        "linkedResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8."
          }
        },
        "fullyQualifiedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. "
          }
        },
        "type": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the entry. For details, see [`EntryType`](#entrytype)."
          }
        },
        "userSpecifiedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
          }
        },
        "integratedSystem": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryIntegratedSystemEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore."
          }
        },
        "userSpecifiedSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
          }
        },
        "sqlDatabaseSystemSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
          }
        },
        "lookerSystemSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1LookerSystemSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`"
          }
        },
        "cloudBigtableSystemSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`"
          }
        },
        "gcsFilesetSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFilesetSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type."
          }
        },
        "bigqueryTableSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryTableSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type."
          }
        },
        "bigqueryDateShardedSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
          }
        },
        "databaseTableSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type."
          }
        },
        "dataSourceConnectionSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataSourceConnectionSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type."
          }
        },
        "routineSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type."
          }
        },
        "datasetSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatasetSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a dataset."
          }
        },
        "filesetSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FilesetSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
          }
        },
        "serviceSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ServiceSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to a Service resource."
          }
        },
        "modelSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ModelSpec",
          "traits": {
            "smithy.api#documentation": "Model specification."
          }
        },
        "featureOnlineStoreSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
          "traits": {
            "smithy.api#documentation": "FeatureonlineStore spec for Vertex AI Feature Store."
          }
        },
        "graphSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpec",
          "traits": {
            "smithy.api#documentation": "Spec for graph."
          }
        },
        "spannerTableSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpec",
          "traits": {
            "smithy.api#documentation": "Specification of a Spanner table."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string."
          }
        },
        "businessContext": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BusinessContext",
          "traits": {
            "smithy.api#documentation": "Business Context of the entry. Not supported for BigQuery datasets"
          }
        },
        "schema": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1Schema",
          "traits": {
            "smithy.api#documentation": "Schema of the entry. An entry might not have any schema attached to it."
          }
        },
        "sourceSystemTimestamps": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SystemTimestamps",
          "traits": {
            "smithy.api#documentation": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp."
          }
        },
        "usageSignal": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1UsageSignal",
          "traits": {
            "smithy.api#documentation": "Resource usage statistics."
          }
        },
        "labels": {
          "target": "com.gcp.datacatalog_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system."
          }
        },
        "dataSource": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataSource",
          "traits": {
            "smithy.api#documentation": "Output only. Physical location of the entry."
          }
        },
        "personalDetails": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PersonalDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information related to the entry. Private to the current user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryTypeEnum": {
      "type": "enum",
      "members": {
        "ENTRY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTRY_TYPE_UNSPECIFIED"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL"
          }
        },
        "DATA_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STREAM"
          }
        },
        "FILESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILESET"
          }
        },
        "CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "DATA_SOURCE_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_CONNECTION"
          }
        },
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINE"
          }
        },
        "LAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAKE"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        },
        "DATABASE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SCHEMA"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASHBOARD"
          }
        },
        "EXPLORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLORE"
          }
        },
        "LOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOK"
          }
        },
        "FEATURE_ONLINE_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_ONLINE_STORE"
          }
        },
        "FEATURE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_VIEW"
          }
        },
        "FEATURE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_GROUP"
          }
        },
        "GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPH"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryIntegratedSystemEnum": {
      "type": "enum",
      "members": {
        "INTEGRATED_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATED_SYSTEM_UNSPECIFIED"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY"
          }
        },
        "CLOUD_PUBSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PUBSUB"
          }
        },
        "DATAPROC_METASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC_METASTORE"
          }
        },
        "DATAPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPLEX"
          }
        },
        "CLOUD_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SPANNER"
          }
        },
        "CLOUD_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BIGTABLE"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "LOOKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOKER"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "type": "structure",
      "members": {
        "sqlEngine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
          }
        },
        "databaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the database engine."
          }
        },
        "instanceHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1LookerSystemSpec": {
      "type": "structure",
      "members": {
        "parentInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`"
          }
        },
        "parentInstanceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Looker Instance. Empty if it does not exist."
          }
        },
        "parentModelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Model. Empty if it does not exist."
          }
        },
        "parentModelDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Model. Empty if it does not exist."
          }
        },
        "parentViewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent View. Empty if it does not exist."
          }
        },
        "parentViewDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent View. Empty if it does not exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "type": "structure",
      "members": {
        "instanceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Instance. This is user specified and different from the resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "type": "structure",
      "members": {
        "filePatterns": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/wildcards). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`"
          }
        },
        "sampleGcsFileSpecs": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFileSpecList",
          "traits": {
            "smithy.api#documentation": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Cloud Storage fileset entry."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFileSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFileSpec"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GcsFileSpec": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`."
          }
        },
        "gcsTimestamps": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SystemTimestamps",
          "traits": {
            "smithy.api#documentation": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File size in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a single file in Cloud Storage."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "type": "structure",
      "members": {
        "tableSourceType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryTableSpecTableSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The table source type."
          }
        },
        "viewSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ViewSpec",
          "traits": {
            "smithy.api#documentation": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
          }
        },
        "tableSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1TableSpec",
          "traits": {
            "smithy.api#documentation": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a BigQuery table."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryTableSpecTableSourceTypeEnum": {
      "type": "enum",
      "members": {
        "TABLE_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "BIGQUERY_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_VIEW"
          }
        },
        "BIGQUERY_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_TABLE"
          }
        },
        "BIGQUERY_MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_MATERIALIZED_VIEW"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ViewSpec": {
      "type": "structure",
      "members": {
        "viewQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The query that defines the table view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table view specification."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1TableSpec": {
      "type": "structure",
      "members": {
        "groupedEntry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Normal BigQuery table specification."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`."
          }
        },
        "tablePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`."
          }
        },
        "shardCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of shards."
          }
        },
        "latestShardResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. BigQuery resource name of the latest shard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this table."
          }
        },
        "dataplexTable": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexTableSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries."
          }
        },
        "databaseViewSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
          "traits": {
            "smithy.api#documentation": "Spec what applies to tables that are actually views. Not set for \"real\" tables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TABLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_TYPE_UNSPECIFIED"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexTableSpec": {
      "type": "structure",
      "members": {
        "externalTables": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTableList",
          "traits": {
            "smithy.api#documentation": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems."
          }
        },
        "dataplexSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexSpec",
          "traits": {
            "smithy.api#documentation": "Common Dataplex Universal Catalog fields."
          }
        },
        "userManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the table schema is managed by the user or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry specification for a Dataplex Universal Catalog table."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTable"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTable": {
      "type": "structure",
      "members": {
        "system": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTableSystemEnum",
          "traits": {
            "smithy.api#documentation": "Service in which the external table is registered."
          }
        },
        "fullyQualifiedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name (FQN) of the external table."
          }
        },
        "googleCloudResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud resource name of the external table."
          }
        },
        "dataCatalogEntry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Data Catalog entry representing the external table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexExternalTableSystemEnum": {
      "type": "enum",
      "members": {
        "INTEGRATED_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATED_SYSTEM_UNSPECIFIED"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY"
          }
        },
        "CLOUD_PUBSUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PUBSUB"
          }
        },
        "DATAPROC_METASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC_METASTORE"
          }
        },
        "DATAPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPLEX"
          }
        },
        "CLOUD_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SPANNER"
          }
        },
        "CLOUD_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BIGTABLE"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "LOOKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOKER"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexSpec": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached."
          }
        },
        "dataFormat": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchema",
          "traits": {
            "smithy.api#documentation": "Format of the data."
          }
        },
        "compressionFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compression format of the data, e.g., zip, gzip etc."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Dataplex Universal Catalog fields."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchema": {
      "type": "structure",
      "members": {
        "avro": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
          "traits": {
            "smithy.api#documentation": "Schema in Avro JSON format."
          }
        },
        "thrift": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
          "traits": {
            "smithy.api#documentation": "Schema in Thrift format."
          }
        },
        "protobuf": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
          "traits": {
            "smithy.api#documentation": "Schema in protocol buffer format."
          }
        },
        "parquet": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
          "traits": {
            "smithy.api#documentation": "Marks a Parquet-encoded data source."
          }
        },
        "orc": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "traits": {
            "smithy.api#documentation": "Marks an ORC-encoded data source."
          }
        },
        "csv": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
          "traits": {
            "smithy.api#documentation": "Marks a CSV-encoded data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON source of the Avro schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema in Avro JSON format."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Thrift IDL source of the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema in Thrift format."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol buffer source of the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema in protocol buffer format."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Marks a Parquet-encoded data source."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Marks an ORC-encoded data source."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Marks a CSV-encoded data source."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "type": "structure",
      "members": {
        "viewType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpecViewTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this view."
          }
        },
        "baseTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a singular table this view reflects one to one."
          }
        },
        "sqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL query used to generate this view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to database view."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpecViewTypeEnum": {
      "type": "enum",
      "members": {
        "VIEW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_VIEW"
          }
        },
        "MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATERIALIZED_VIEW"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "type": "structure",
      "members": {
        "bigqueryConnectionSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryConnectionSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Fields specific to BigQuery connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "type": "structure",
      "members": {
        "connectionType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryConnectionSpecConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the BigQuery connection."
          }
        },
        "cloudSql": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
          "traits": {
            "smithy.api#documentation": "Specification for the BigQuery connection to a Cloud SQL instance."
          }
        },
        "hasCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if there are credentials attached to the BigQuery connection; false otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for the BigQuery connection."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryConnectionSpecConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_UNSPECIFIED"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud SQL instance ID in the format of `project:location:instance`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name."
          }
        },
        "type": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the Cloud SQL database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for the BigQuery connection to a Cloud SQL instance."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpecTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_TYPE_UNSPECIFIED"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpec": {
      "type": "structure",
      "members": {
        "routineType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecRoutineTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the routine."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
          }
        },
        "routineArguments": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgumentList",
          "traits": {
            "smithy.api#documentation": "Arguments of the routine."
          }
        },
        "returnType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return type of the argument. The exact value depends on the source system and the language."
          }
        },
        "definitionBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the routine."
          }
        },
        "bigqueryRoutineSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryRoutineSpec",
          "traits": {
            "smithy.api#documentation": "Fields specific for BigQuery routines."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecRoutineTypeEnum": {
      "type": "enum",
      "members": {
        "ROUTINE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINE_TYPE_UNSPECIFIED"
          }
        },
        "SCALAR_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALAR_FUNCTION"
          }
        },
        "PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCEDURE"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgument"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the argument. A return argument of a function might not have a name."
          }
        },
        "mode": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgumentModeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies whether the argument is input or output."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the argument. The exact value depends on the source system and the language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input or output argument of a function or stored procedure."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1RoutineSpecArgumentModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT"
          }
        },
        "INOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INOUT"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "type": "structure",
      "members": {
        "importedLibraries": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Paths of the imported libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fields specific for BigQuery routines."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DatasetSpec": {
      "type": "structure",
      "members": {
        "vertexDatasetSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexDatasetSpec",
          "traits": {
            "smithy.api#documentation": "Vertex AI Dataset specific fields"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "type": "structure",
      "members": {
        "dataItemCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of DataItems in this Dataset. Only apply for non-structured Dataset."
          }
        },
        "dataType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexDatasetSpecDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for vertex dataset resources."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexDatasetSpecDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "CONVERSATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION"
          }
        },
        "TIME_SERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "TEXT_TO_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_TO_SPEECH"
          }
        },
        "TRANSLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSLATION"
          }
        },
        "STORE_VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_VISION"
          }
        },
        "ENTERPRISE_KNOWLEDGE_GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_KNOWLEDGE_GRAPH"
          }
        },
        "TEXT_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_PROMPT"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FilesetSpec": {
      "type": "structure",
      "members": {
        "dataplexFileset": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexFilesetSpec",
          "traits": {
            "smithy.api#documentation": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "type": "structure",
      "members": {
        "dataplexSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1DataplexSpec",
          "traits": {
            "smithy.api#documentation": "Common Dataplex Universal Catalog fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry specification for a Dataplex Universal Catalog fileset."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ServiceSpec": {
      "type": "structure",
      "members": {
        "cloudBigtableInstanceSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpec",
          "traits": {
            "smithy.api#documentation": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpec": {
      "type": "structure",
      "members": {
        "cloudBigtableClusterSpecs": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpecList",
          "traits": {
            "smithy.api#documentation": "The list of clusters for the Instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to Instance entries that are part of `CLOUD_BIGTABLE` system. (user_specified_type)"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cluster."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the cluster, typically a Cloud zone."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. For a cluster this would be \"CLUSTER\"."
          }
        },
        "linkedResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to the parent resource, in this case Instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec that applies to clusters of an Instance of Cloud Bigtable."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ModelSpec": {
      "type": "structure",
      "members": {
        "vertexModelSpec": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSpec",
          "traits": {
            "smithy.api#documentation": "Specification for vertex model resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a model. Valid only for entries with the `MODEL` type."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSpec": {
      "type": "structure",
      "members": {
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version ID of the model."
          }
        },
        "versionAliases": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "User provided version aliases so that a model version can be referenced via alias"
          }
        },
        "versionDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this version."
          }
        },
        "vertexModelSourceInfo": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSourceInfo",
          "traits": {
            "smithy.api#documentation": "Source of a Vertex model."
          }
        },
        "containerImageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the Docker image to be used as the custom container for serving predictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for vertex model resources."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSourceInfoSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the model source."
          }
        },
        "copy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this Model is copy of another Model. If true then source_type pertains to the original."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail description of the source information of a Vertex model."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1VertexModelSourceInfoSourceTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "AUTOML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOML"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "BQML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQML"
          }
        },
        "MODEL_GARDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_GARDEN"
          }
        },
        "GENIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENIE"
          }
        },
        "CUSTOM_TEXT_EMBEDDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_TEXT_EMBEDDING"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKETPLACE"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "type": "structure",
      "members": {
        "storageType": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FeatureOnlineStoreSpecStorageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of underlying storage for the FeatureOnlineStore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detail description of the source information of a Vertex Feature Online Store."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1FeatureOnlineStoreSpecStorageTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_TYPE_UNSPECIFIED"
          }
        },
        "BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGTABLE"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZED"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`"
          }
        },
        "nodeTables": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableList",
          "traits": {
            "smithy.api#documentation": "Required. Node tables of the graph."
          }
        },
        "edgeTables": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableList",
          "traits": {
            "smithy.api#documentation": "Optional. Edge tables of the graph."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification that applies to a graph."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The alias name of the graph element."
          }
        },
        "kind": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableKindEnum",
          "traits": {
            "smithy.api#documentation": "Required. The kind of the graph element."
          }
        },
        "inputSource": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableInputSourceEnum",
          "traits": {
            "smithy.api#documentation": "Required. The input source of the graph element."
          }
        },
        "elementKeys": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The name of the keys of the elements in the table."
          }
        },
        "labelAndProperties": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndPropertiesList",
          "traits": {
            "smithy.api#documentation": "Required. The labels and their properties for the graph element."
          }
        },
        "dynamicLabelColumn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this is the input column for dynamic label in schemaless data model."
          }
        },
        "dynamicPropertiesColumn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this is the input column for dynamic properties in schemaless data model."
          }
        },
        "sourceNodeReference": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "traits": {
            "smithy.api#documentation": "Optional. The source node reference of the edge."
          }
        },
        "destinationNodeReference": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "traits": {
            "smithy.api#documentation": "Optional. The destination node reference of the edge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Element table definition."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDGE"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableInputSourceEnum": {
      "type": "enum",
      "members": {
        "INPUT_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_SOURCE_UNSPECIFIED"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        }
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the label."
          }
        },
        "properties": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTablePropertyList",
          "traits": {
            "smithy.api#documentation": "Optional. The properties associated with the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The label and its properties. Each label is associated with a set of properties."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTablePropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Property name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Property data type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A property declaration."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "type": "structure",
      "members": {
        "nodeAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`."
          }
        },
        "edgeTableColumns": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`."
          }
        },
        "nodeTableColumns": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The referenced columns of the source node table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a source or destination node in a graph edge."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpec": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
          "traits": {
            "smithy.api#documentation": "Output only. The primary key of the table."
          }
        },
        "foreignKeys": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyList",
          "traits": {
            "smithy.api#documentation": "Output only. The foreign keys of the table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a Spanner table."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.gcp.datacatalog_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Column names of the primary key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a Spanner primary key."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The constraint_name of the foreign key, for example, FK_CustomerOrder."
          }
        },
        "entry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The table name this foreign key referenced to. Format: `projects/{PROJECT_ID}/locations/{LOCATION}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`"
          }
        },
        "columnMappings": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMappingList",
          "traits": {
            "smithy.api#documentation": "Output only. The ordered list of column mappings for this foreign key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a Spanner foreign key."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The column in the current table that is part of the foreign key."
          }
        },
        "referenceColumn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The column in the referenced table that is part of the foreign key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Column mapping for a Spanner foreign key."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1BusinessContext": {
      "type": "structure",
      "members": {
        "entryOverview": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryOverview",
          "traits": {
            "smithy.api#documentation": "Entry overview fields for rich text descriptions of entries."
          }
        },
        "contacts": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1Contacts",
          "traits": {
            "smithy.api#documentation": "Contact people for the entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Business Context of the entry."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1EntryOverview": {
      "type": "structure",
      "members": {
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry overview fields for rich text descriptions of entries."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1Contacts": {
      "type": "structure",
      "members": {
        "people": {
          "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ContactsPersonList",
          "traits": {
            "smithy.api#documentation": "The list of contact people for the entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact people for the entry."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ContactsPersonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ContactsPerson"
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1ContactsPerson": {
      "type": "structure",
      "members": {
        "designation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Designation of the person, for example, Data Steward."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contact person for the entry."
      }
    },
    "com.gcp.datacatalog_v1#GoogleCloudDatacatalogV1Schema": {
[...]
