{
  "smithy": "2.0",
  "metadata": {
    "service": "datamigration",
    "version": "v1",
    "title": "Database Migration API",
    "baseUrl": "https://datamigration.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datamigration_v1#LogMiner": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration to use LogMiner CDC method."
      }
    },
    "com.gcp.datamigration_v1#DebugInfo": {
      "type": "structure",
      "members": {
        "stackEntries": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The stack trace entries indicating where the error occurred."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional debugging information provided by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes additional debugging info."
      }
    },
    "com.gcp.datamigration_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamigration_v1#CommitConversionWorkspaceRequest": {
      "type": "structure",
      "members": {
        "commitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the commit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'CommitConversionWorkspace' request."
      }
    },
    "com.gcp.datamigration_v1#PreconditionFailureViolation": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single precondition failure."
      }
    },
    "com.gcp.datamigration_v1#SynonymEntity": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.gcp.datamigration_v1#SynonymEntitySourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the entity for which the synonym is being created (usually a table or a sequence)."
          }
        },
        "sourceEntity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the entity for which the synonym is being created (the source)."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Synonym's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#SynonymEntitySourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "DATABASE_ENTITY_TYPE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SCHEMA"
          }
        },
        "DATABASE_ENTITY_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TABLE"
          }
        },
        "DATABASE_ENTITY_TYPE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_COLUMN"
          }
        },
        "DATABASE_ENTITY_TYPE_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_CONSTRAINT"
          }
        },
        "DATABASE_ENTITY_TYPE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_INDEX"
          }
        },
        "DATABASE_ENTITY_TYPE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TRIGGER"
          }
        },
        "DATABASE_ENTITY_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SEQUENCE"
          }
        },
        "DATABASE_ENTITY_TYPE_STORED_PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_STORED_PROCEDURE"
          }
        },
        "DATABASE_ENTITY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_FUNCTION"
          }
        },
        "DATABASE_ENTITY_TYPE_SYNONYM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SYNONYM"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE"
          }
        },
        "DATABASE_ENTITY_TYPE_UDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UDT"
          }
        },
        "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datamigration_v1#RequestInfo": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
          }
        },
        "servingData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
      }
    },
    "com.gcp.datamigration_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.datamigration_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.datamigration_v1#DatabaseType": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.gcp.datamigration_v1#DatabaseTypeProviderEnum",
          "traits": {
            "smithy.api#documentation": "The database provider."
          }
        },
        "engine": {
          "target": "com.gcp.datamigration_v1#DatabaseTypeEngineEnum",
          "traits": {
            "smithy.api#documentation": "The database engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message defining the database engine and provider."
      }
    },
    "com.gcp.datamigration_v1#DatabaseTypeProviderEnum": {
      "type": "enum",
      "members": {
        "DATABASE_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUDSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDSQL"
          }
        },
        "RDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDS"
          }
        },
        "AURORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AURORA"
          }
        },
        "ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB"
          }
        },
        "AZURE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE_DATABASE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#DatabaseTypeEngineEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENGINE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL"
          }
        },
        "SQLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.datamigration_v1#AssignSpecificValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specific value to be assigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set to a specific value (value is converted to fit the target data type)"
      }
    },
    "com.gcp.datamigration_v1#ListMigrationJobObjectsResponse": {
      "type": "structure",
      "members": {
        "migrationJobObjects": {
          "target": "com.gcp.datamigration_v1#MigrationJobObjectList",
          "traits": {
            "smithy.api#documentation": "List of migration job objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the objects for a migration job."
      }
    },
    "com.gcp.datamigration_v1#MigrationJobObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#MigrationJobObject"
      }
    },
    "com.gcp.datamigration_v1#SqlServerDatabaseBackup": {
      "type": "structure",
      "members": {
        "encryptionOptions": {
          "target": "com.gcp.datamigration_v1#SqlServerEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Encryption settings for the database. Required if provided database backups are encrypted. Encryption settings include path to certificate, path to certificate private key, and key password."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of a SQL Server database for which to define backup configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the backup details for a single database in Cloud Storage for homogeneous migration to Cloud SQL for SQL Server."
      }
    },
    "com.gcp.datamigration_v1#SeedConversionWorkspaceRequest": {
      "type": "structure",
      "members": {
        "autoCommit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should the conversion workspace be committed automatically after the seed operation."
          }
        },
        "sourceConnectionProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Fully qualified (Uri) name of the source connection profile."
          }
        },
        "destinationConnectionProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Fully qualified (Uri) name of the destination connection profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'SeedConversionWorkspace' request."
      }
    },
    "com.gcp.datamigration_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.datamigration_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.datamigration_v1#FunctionEntity": {
      "type": "structure",
      "members": {
        "sqlCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL code which creates the function."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Function's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#PromoteMigrationJobRequest": {
      "type": "structure",
      "members": {
        "objectsFilter": {
          "target": "com.gcp.datamigration_v1#MigrationJobObjectsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The object filter to apply to the migration job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'PromoteMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1#LocalizedMessage": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized error message in the above locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
      }
    },
    "com.gcp.datamigration_v1#MappingRuleFilter": {
      "type": "structure",
      "members": {
        "entityNameSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule should be applied to entities whose non-qualified name ends with the given suffix."
          }
        },
        "entityNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule should be applied to entities whose non-qualified name starts with the given prefix."
          }
        },
        "parentEntity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule should be applied to entities whose parent entity (fully qualified name) matches the given value. For example, if the rule applies to a table entity, the expected value should be a schema (schema). If the rule applies to a column or index entity, the expected value can be either a schema (schema) or a table (schema.table)"
          }
        },
        "entityNameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule should be applied to entities whose non-qualified name contains the given string."
          }
        },
        "entities": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The rule should be applied to specific entities defined by their fully qualified names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter defining the entities that a mapping rule should be applied to. When more than one field is specified, the rule is applied only to entities which match all the fields."
      }
    },
    "com.gcp.datamigration_v1#DoubleComparisonFilter": {
      "type": "structure",
      "members": {
        "valueComparison": {
          "target": "com.gcp.datamigration_v1#DoubleComparisonFilterValueComparisonEnum",
          "traits": {
            "smithy.api#documentation": "Required. Relation between source value and compare value"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Double compare value to be used"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue"
      }
    },
    "com.gcp.datamigration_v1#DoubleComparisonFilterValueComparisonEnum": {
      "type": "enum",
      "members": {
        "VALUE_COMPARISON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_COMPARISON_UNSPECIFIED"
          }
        },
        "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN"
          }
        },
        "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN"
          }
        },
        "VALUE_COMPARISON_IF_VALUE_LARGER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_COMPARISON_IF_VALUE_LARGER_THAN"
          }
        },
        "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#RulesFile": {
      "type": "structure",
      "members": {
        "rulesContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The text content of the rules that needs to be converted."
          }
        },
        "rulesSourceFilename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filename of the rules that needs to be converted. The filename is used mainly so that future logs of the import rules job contain it, and can therefore be searched by it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a single rules file."
      }
    },
    "com.gcp.datamigration_v1#OracleToPostgresConfig": {
      "type": "structure",
      "members": {
        "oracleSourceConfig": {
          "target": "com.gcp.datamigration_v1#OracleSourceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Oracle source."
          }
        },
        "postgresDestinationConfig": {
          "target": "com.gcp.datamigration_v1#PostgresDestinationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Postgres destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations."
      }
    },
    "com.gcp.datamigration_v1#Link": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what the link offers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a URL link."
      }
    },
    "com.gcp.datamigration_v1#GenerateSshScriptRequest": {
      "type": "structure",
      "members": {
        "vm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Bastion VM Instance name to use or to create."
          }
        },
        "vmSelectionConfig": {
          "target": "com.gcp.datamigration_v1#VmSelectionConfig",
          "traits": {
            "smithy.api#documentation": "The VM selection configuration"
          }
        },
        "vmPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port that will be open on the bastion host."
          }
        },
        "vmCreationConfig": {
          "target": "com.gcp.datamigration_v1#VmCreationConfig",
          "traits": {
            "smithy.api#documentation": "The VM creation configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'GenerateSshScript' request."
      }
    },
    "com.gcp.datamigration_v1#ConvertJobDetails": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. AIP-160 based filter used to specify the entities to convert"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details regarding a Convert background job."
      }
    },
    "com.gcp.datamigration_v1#ForwardSshTunnelConnectivity": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. SSH password."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username for the SSH tunnel."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. SSH private key."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port for the SSH tunnel, default value is 22."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname for the SSH tunnel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forward SSH Tunnel connectivity."
      }
    },
    "com.gcp.datamigration_v1#DatabaseEntity": {
      "type": "structure",
      "members": {
        "databasePackage": {
          "target": "com.gcp.datamigration_v1#PackageEntity",
          "traits": {
            "smithy.api#documentation": "Package."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short name (e.g. table name) of the entity."
          }
        },
        "entityDdl": {
          "target": "com.gcp.datamigration_v1#EntityDdlList",
          "traits": {
            "smithy.api#documentation": "Details about the entity DDL script. Multiple DDL scripts are provided for child entities such as a table entity will have one DDL for the table with additional DDLs for each index, constraint and such."
          }
        },
        "sequence": {
          "target": "com.gcp.datamigration_v1#SequenceEntity",
          "traits": {
            "smithy.api#documentation": "Sequence."
          }
        },
        "mappings": {
          "target": "com.gcp.datamigration_v1#EntityMappingList",
          "traits": {
            "smithy.api#documentation": "Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details."
          }
        },
        "materializedView": {
          "target": "com.gcp.datamigration_v1#MaterializedViewEntity",
          "traits": {
            "smithy.api#documentation": "Materialized view."
          }
        },
        "view": {
          "target": "com.gcp.datamigration_v1#ViewEntity",
          "traits": {
            "smithy.api#documentation": "View."
          }
        },
        "database": {
          "target": "com.gcp.datamigration_v1#DatabaseInstanceEntity",
          "traits": {
            "smithy.api#documentation": "Database."
          }
        },
        "entityType": {
          "target": "com.gcp.datamigration_v1#DatabaseEntityEntityTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the database entity (table, view, index, ...)."
          }
        },
        "synonym": {
          "target": "com.gcp.datamigration_v1#SynonymEntity",
          "traits": {
            "smithy.api#documentation": "Synonym."
          }
        },
        "tree": {
          "target": "com.gcp.datamigration_v1#DatabaseEntityTreeEnum",
          "traits": {
            "smithy.api#documentation": "The type of tree the entity belongs to."
          }
        },
        "schema": {
          "target": "com.gcp.datamigration_v1#SchemaEntity",
          "traits": {
            "smithy.api#documentation": "Schema."
          }
        },
        "databaseFunction": {
          "target": "com.gcp.datamigration_v1#FunctionEntity",
          "traits": {
            "smithy.api#documentation": "Function."
          }
        },
        "udt": {
          "target": "com.gcp.datamigration_v1#UDTEntity",
          "traits": {
            "smithy.api#documentation": "UDT."
          }
        },
        "parentEntity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the parent entity (e.g. schema name)."
          }
        },
        "storedProcedure": {
          "target": "com.gcp.datamigration_v1#StoredProcedureEntity",
          "traits": {
            "smithy.api#documentation": "Stored procedure."
          }
        },
        "table": {
          "target": "com.gcp.datamigration_v1#TableEntity",
          "traits": {
            "smithy.api#documentation": "Table."
          }
        },
        "issues": {
          "target": "com.gcp.datamigration_v1#EntityIssueList",
          "traits": {
            "smithy.api#documentation": "Details about the various issues found for the entity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type."
      }
    },
    "com.gcp.datamigration_v1#EntityDdlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#EntityDdl"
      }
    },
    "com.gcp.datamigration_v1#EntityMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#EntityMapping"
      }
    },
    "com.gcp.datamigration_v1#DatabaseEntityEntityTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "DATABASE_ENTITY_TYPE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SCHEMA"
          }
        },
        "DATABASE_ENTITY_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TABLE"
          }
        },
        "DATABASE_ENTITY_TYPE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_COLUMN"
          }
        },
        "DATABASE_ENTITY_TYPE_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_CONSTRAINT"
          }
        },
        "DATABASE_ENTITY_TYPE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_INDEX"
          }
        },
        "DATABASE_ENTITY_TYPE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TRIGGER"
          }
        },
        "DATABASE_ENTITY_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SEQUENCE"
          }
        },
        "DATABASE_ENTITY_TYPE_STORED_PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_STORED_PROCEDURE"
          }
        },
        "DATABASE_ENTITY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_FUNCTION"
          }
        },
        "DATABASE_ENTITY_TYPE_SYNONYM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SYNONYM"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE"
          }
        },
        "DATABASE_ENTITY_TYPE_UDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UDT"
          }
        },
        "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#DatabaseEntityTreeEnum": {
      "type": "enum",
      "members": {
        "TREE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TREE_TYPE_UNSPECIFIED"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#EntityIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#EntityIssue"
      }
    },
    "com.gcp.datamigration_v1#HeterogeneousMetadata": {
      "type": "structure",
      "members": {
        "unsupportedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of unsupported events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for heterogeneous migration jobs objects."
      }
    },
    "com.gcp.datamigration_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.datamigration_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.datamigration_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#Location"
      }
    },
    "com.gcp.datamigration_v1#StoredProcedureEntity": {
      "type": "structure",
      "members": {
        "sqlCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL code which creates the stored procedure."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stored procedure's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#SqlServerSourceConfig": {
      "type": "structure",
      "members": {
        "maxConcurrentFullDumpConnections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of connections Database Migration Service will open to the source for full dump phase."
          }
        },
        "skipFullDump": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to skip full dump or not."
          }
        },
        "cdcStartPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The log sequence number (LSN) to start CDC data migration from."
          }
        },
        "maxConcurrentCdcConnections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of connections Database Migration Service will open to the source for CDC phase."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for SQL Server as a source in a migration."
      }
    },
    "com.gcp.datamigration_v1#PackageEntity": {
      "type": "structure",
      "members": {
        "packageBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL code which creates the package body. If the package specification has cursors or subprograms, then the package body is mandatory."
          }
        },
        "packageSqlCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL code which creates the package."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Package's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#AlloyDbSettings": {
      "type": "structure",
      "members": {
        "vpcNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: \"projects/{project_number}/global/networks/{network_id}\". This is required to create a cluster."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.datamigration_v1#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data."
          }
        },
        "initialUser": {
          "target": "com.gcp.datamigration_v1#UserPassword",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Initial user to setup during cluster creation. Required."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.datamigration_v1#AlloyDbSettingsDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The database engine major version. This is an optional field. If a database version is not supplied at cluster creation time, then a default database version will be used."
          }
        },
        "labels": {
          "target": "com.gcp.datamigration_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for the AlloyDB cluster created by DMS. An object containing a list of 'key', 'value' pairs."
          }
        },
        "primaryInstanceSettings": {
          "target": "com.gcp.datamigration_v1#PrimaryInstanceSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the cluster's primary instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for creating an AlloyDB cluster."
      }
    },
    "com.gcp.datamigration_v1#AlloyDbSettingsDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamigration_v1#GoogleCloudClouddmsV1OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "metadata": {
          "target": "com.gcp.datamigration_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata that is returned by the backend for the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.datamigration_v1#SqlServerDagConfig": {
      "type": "structure",
      "members": {
        "sourceAg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the source availability group. Only used by DAG migrations."
          }
        },
        "linkedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the linked server that points to the source SQL Server instance. Only used by DAG migrations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for distributed availability group (DAG) for the SQL Server homogeneous migration."
      }
    },
    "com.gcp.datamigration_v1#MigrationJobVerificationError": {
      "type": "structure",
      "members": {
        "errorDetailMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A specific detailed error message, if supplied by the engine."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A formatted message with further details about the error and a CTA."
          }
        },
        "errorCode": {
          "target": "com.gcp.datamigration_v1#MigrationJobVerificationErrorErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An instance of ErrorCode specifying the error that occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message of a verification Migration job."
      }
    },
    "com.gcp.datamigration_v1#MigrationJobVerificationErrorErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "CONNECTION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_FAILURE"
          }
        },
        "AUTHENTICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_FAILURE"
          }
        },
        "INVALID_CONNECTION_PROFILE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CONNECTION_PROFILE_CONFIG"
          }
        },
        "VERSION_INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_INCOMPATIBILITY"
          }
        },
        "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY"
          }
        },
        "NO_PGLOGICAL_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PGLOGICAL_INSTALLED"
          }
        },
        "PGLOGICAL_NODE_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PGLOGICAL_NODE_ALREADY_EXISTS"
          }
        },
        "INVALID_WAL_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_WAL_LEVEL"
          }
        },
        "INVALID_SHARED_PRELOAD_LIBRARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_SHARED_PRELOAD_LIBRARY"
          }
        },
        "INSUFFICIENT_MAX_REPLICATION_SLOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_MAX_REPLICATION_SLOTS"
          }
        },
        "INSUFFICIENT_MAX_WAL_SENDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_MAX_WAL_SENDERS"
          }
        },
        "INSUFFICIENT_MAX_WORKER_PROCESSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_MAX_WORKER_PROCESSES"
          }
        },
        "UNSUPPORTED_EXTENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_EXTENSIONS"
          }
        },
        "UNSUPPORTED_MIGRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_MIGRATION_TYPE"
          }
        },
        "INVALID_RDS_LOGICAL_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_RDS_LOGICAL_REPLICATION"
          }
        },
        "UNSUPPORTED_GTID_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_GTID_MODE"
          }
        },
        "UNSUPPORTED_TABLE_DEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_TABLE_DEFINITION"
          }
        },
        "UNSUPPORTED_DEFINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DEFINER"
          }
        },
        "CANT_RESTART_RUNNING_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANT_RESTART_RUNNING_MIGRATION"
          }
        },
        "SOURCE_ALREADY_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_ALREADY_SETUP"
          }
        },
        "TABLES_WITH_LIMITED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLES_WITH_LIMITED_SUPPORT"
          }
        },
        "UNSUPPORTED_DATABASE_LOCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DATABASE_LOCALE"
          }
        },
        "UNSUPPORTED_DATABASE_FDW_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DATABASE_FDW_CONFIG"
          }
        },
        "ERROR_RDBMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_RDBMS"
          }
        },
        "SOURCE_SIZE_EXCEEDS_THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_SIZE_EXCEEDS_THRESHOLD"
          }
        },
        "EXISTING_CONFLICTING_DATABASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTING_CONFLICTING_DATABASES"
          }
        },
        "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE"
          }
        },
        "EXISTING_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTING_DATA"
          }
        },
        "SOURCE_MAX_SUBSCRIPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_MAX_SUBSCRIPTIONS"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#DatabaseInstanceEntity": {
      "type": "structure",
      "members": {
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatabaseInstance acts as a parent entity to other database entities."
      }
    },
    "com.gcp.datamigration_v1#MySqlHomogeneousConfig": {
      "type": "structure",
      "members": {
        "isPrimaryDestination": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the destination for the migration job is a primary instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for MySQL to MySQL migrations."
      }
    },
    "com.gcp.datamigration_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.datamigration_v1#ValueListFilter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list to be used to filter by"
          }
        },
        "ignoreCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether to ignore case when filtering by values. Defaults to false"
          }
        },
        "valuePresentList": {
          "target": "com.gcp.datamigration_v1#ValueListFilterValuePresentListEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether the filter matches rows with values that are present in the list or those with values not present in it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of values to filter by in ConditionalColumnSetValue"
      }
    },
    "com.gcp.datamigration_v1#ValueListFilterValuePresentListEnum": {
      "type": "enum",
      "members": {
        "VALUE_PRESENT_IN_LIST_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_PRESENT_IN_LIST_UNSPECIFIED"
          }
        },
        "VALUE_PRESENT_IN_LIST_IF_VALUE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_PRESENT_IN_LIST_IF_VALUE_LIST"
          }
        },
        "VALUE_PRESENT_IN_LIST_IF_VALUE_NOT_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_PRESENT_IN_LIST_IF_VALUE_NOT_LIST"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#FetchStaticIpsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "staticIps": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of static IPs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a 'FetchStaticIps' request."
      }
    },
    "com.gcp.datamigration_v1#SequenceEntity": {
      "type": "structure",
      "members": {
        "increment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Increment value for the sequence."
          }
        },
        "cache": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates number of entries to cache / precreate."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number for the sequence represented as bytes to accommodate large. numbers"
          }
        },
        "startValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start number for the sequence represented as bytes to accommodate large. numbers"
          }
        },
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum number for the sequence represented as bytes to accommodate large. numbers"
          }
        },
        "cycle": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the sequence value should cycle through."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sequence's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#StaticServiceIpConnectivity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Static IP address connectivity configured on service project."
      }
    },
    "com.gcp.datamigration_v1#ValueTransformation": {
      "type": "structure",
      "members": {
        "roundScale": {
          "target": "com.gcp.datamigration_v1#RoundToScale",
          "traits": {
            "smithy.api#documentation": "Optional. Allows the data to change scale"
          }
        },
        "assignMaxValue": {
          "target": "com.gcp.datamigration_v1#Empty",
          "traits": {
            "smithy.api#documentation": "Optional. Set to max_value - if integer or numeric, will use int.maxvalue, etc"
          }
        },
        "valueList": {
          "target": "com.gcp.datamigration_v1#ValueListFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Value is found in the specified list."
          }
        },
        "assignNull": {
          "target": "com.gcp.datamigration_v1#Empty",
          "traits": {
            "smithy.api#documentation": "Optional. Set to null"
          }
        },
        "isNull": {
          "target": "com.gcp.datamigration_v1#Empty",
          "traits": {
            "smithy.api#documentation": "Optional. Value is null"
          }
        },
        "assignMinValue": {
          "target": "com.gcp.datamigration_v1#Empty",
          "traits": {
            "smithy.api#documentation": "Optional. Set to min_value - if integer or numeric, will use int.minvalue, etc"
          }
        },
        "intComparison": {
          "target": "com.gcp.datamigration_v1#IntComparisonFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Filter on relation between source value and compare value of type integer."
          }
        },
        "applyHash": {
          "target": "com.gcp.datamigration_v1#ApplyHash",
          "traits": {
            "smithy.api#documentation": "Optional. Applies a hash function on the data"
          }
        },
        "doubleComparison": {
          "target": "com.gcp.datamigration_v1#DoubleComparisonFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Filter on relation between source value and compare value of type double."
          }
        },
        "assignSpecificValue": {
          "target": "com.gcp.datamigration_v1#AssignSpecificValue",
          "traits": {
            "smithy.api#documentation": "Optional. Set to a specific value (value is converted to fit the target data type)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of data transformation during migration as part of the ConditionalColumnSetValue."
      }
    },
    "com.gcp.datamigration_v1#AuthorizedNetwork": {
      "type": "structure",
      "members": {
        "cidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CIDR range for one authorzied network of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthorizedNetwork contains metadata for an authorized network."
      }
    },
    "com.gcp.datamigration_v1#SourceTextFilter": {
      "type": "structure",
      "members": {
        "sourceMinLengthFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter will match columns with length greater than or equal to this number."
          }
        },
        "sourceMaxLengthFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter will match columns with length smaller than or equal to this number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter for text-based data types like varchar."
      }
    },
    "com.gcp.datamigration_v1#MaterializedViewEntity": {
      "type": "structure",
      "members": {
        "indices": {
          "target": "com.gcp.datamigration_v1#IndexEntityList",
          "traits": {
            "smithy.api#documentation": "View indices."
          }
        },
        "customFeatures": {
          "target": "com.gcp.datamigration_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom engine specific features."
          }
        },
        "sqlCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL code which creates the view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaterializedView's parent is a schema."
      }
    },
    "com.gcp.datamigration_v1#IndexEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#IndexEntity"
      }
    },
    "com.gcp.datamigration_v1#SqlServerHomogeneousMigrationJobConfig": {
      "type": "structure",
      "members": {
        "dagConfig": {
          "target": "com.gcp.datamigration_v1#SqlServerDagConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for distributed availability group (DAG) for the SQL Server homogeneous migration."
          }
        },
        "backupFilePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Pattern that describes the default backup naming strategy. The specified pattern should ensure lexicographical order of backups. The pattern must define one of the following capture group sets: Capture group set #1 yy/yyyy - year, 2 or 4 digits mm - month number, 1-12 dd - day of month, 1-31 hh - hour of day, 00-23 mi - minutes, 00-59 ss - seconds, 00-59 Example: For backup file TestDB_20230802_155400.trn, use pattern: (?.*)_backup_(?\\d{4})(?\\d{2})(?\\d{2})_(?\\d{2})(?\\d{2})(?\\d{2}).trn Capture group set #2 timestamp - unix timestamp Example: For backup file TestDB.1691448254.trn, use pattern: (?.*)\\.(?\\d*).trn or (?.*)\\.(?\\d*).trn"
          }
        },
        "useDiffBackup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enable differential backups."
          }
        },
        "promoteWhenReady": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Promote databases when ready."
          }
        },
        "databaseBackups": {
          "target": "com.gcp.datamigration_v1#SqlServerDatabaseBackupList",
          "traits": {
            "smithy.api#documentation": "Required. Backup details per database in Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for homogeneous migration to Cloud SQL for SQL Server."
      }
    },
    "com.gcp.datamigration_v1#SqlServerDatabaseBackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#SqlServerDatabaseBackup"
      }
    },
    "com.gcp.datamigration_v1#RollbackConversionWorkspaceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'RollbackConversionWorkspace' request."
      }
    },
    "com.gcp.datamigration_v1#VmCreationConfig": {
      "type": "structure",
      "members": {
        "vmMachineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. VM instance machine type to create."
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subnet name the vm needs to be created in."
          }
        },
        "vmZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Platform zone to create the VM in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM creation configuration message"
      }
    },
    "com.gcp.datamigration_v1#LogFileDirectories": {
      "type": "structure",
      "members": {
        "onlineLogDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Oracle directory for online logs."
          }
        },
        "archivedLogDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Oracle directory for archived logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration to specify the Oracle directories to access the log files."
      }
    },
    "com.gcp.datamigration_v1#VerifyMigrationJobRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job."
          }
        },
        "migrationJob": {
          "target": "com.gcp.datamigration_v1#MigrationJob",
          "traits": {
            "smithy.api#documentation": "Optional. The changed migration job parameters to verify. It will not update the migration job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'VerifyMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1#PrimaryInstanceSettings": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.datamigration_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for the AlloyDB primary instance created by DMS. An object containing a list of 'key', 'value' pairs."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the AlloyDB primary instance. The ID must satisfy the regex expression \"[a-z0-9-]+\"."
          }
        },
        "databaseFlags": {
          "target": "com.gcp.datamigration_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Database flags to pass to AlloyDB when DMS is creating the AlloyDB cluster and instances. See the AlloyDB documentation for how these can be used."
          }
        },
        "outboundPublicIpAddresses": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All outbound public IP addresses configured for the instance."
          }
        },
        "privateIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The private IP address for the Instance. This is the connection endpoint for an end-user application."
          }
        },
        "machineConfig": {
          "target": "com.gcp.datamigration_v1#MachineConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the machines that host the underlying database engine."
          }
        },
        "instanceNetworkConfig": {
          "target": "com.gcp.datamigration_v1#InstanceNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata related to instance level network configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the cluster's primary instance"
      }
    },
    "com.gcp.datamigration_v1#MultiEntityRename": {
      "type": "structure",
      "members": {
        "sourceNameTransformation": {
          "target": "com.gcp.datamigration_v1#MultiEntityRenameSourceNameTransformationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION"
          }
        },
        "newNamePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT"
      }
    },
    "com.gcp.datamigration_v1#MultiEntityRenameSourceNameTransformationEnum": {
      "type": "enum",
      "members": {
        "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED"
          }
        },
        "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION"
          }
        },
        "ENTITY_NAME_TRANSFORMATION_LOWER_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_NAME_TRANSFORMATION_LOWER_CASE"
          }
        },
        "ENTITY_NAME_TRANSFORMATION_UPPER_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_NAME_TRANSFORMATION_UPPER_CASE"
          }
        },
        "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#RoundToScale": {
      "type": "structure",
      "members": {
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Scale value to be used"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This allows the data to change scale, for example if the source is 2 digits after the decimal point, specify round to scale value = 2. If for example the value needs to be converted to an integer, use round to scale value = 0."
      }
    },
    "com.gcp.datamigration_v1#DatabaseEngineInfo": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "com.gcp.datamigration_v1#DatabaseEngineInfoEngineEnum",
          "traits": {
            "smithy.api#documentation": "Required. Engine type."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Engine version, for example \"12.c.1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type and version of a source or destination database."
      }
    },
    "com.gcp.datamigration_v1#DatabaseEngineInfoEngineEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENGINE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL"
          }
        },
        "SQLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#RestartMigrationJobRequest": {
      "type": "structure",
      "members": {
        "objectsFilter": {
          "target": "com.gcp.datamigration_v1#MigrationJobObjectsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The object filter to apply to the migration job."
          }
        },
        "skipValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Restart the migration job without running prior configuration verification. Defaults to `false`."
          }
        },
        "restartFailedObjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, only failed objects will be restarted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'RestartMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.datamigration_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.datamigration_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.datamigration_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#AuditConfig"
      }
    },
    "com.gcp.datamigration_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#Binding"
      }
    },
    "com.gcp.datamigration_v1#ResumeMigrationJobRequest": {
      "type": "structure",
      "members": {
        "skipValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Resume the migration job without running prior configuration verification. Defaults to `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'ResumeMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1#FilterTableColumns": {
      "type": "structure",
      "members": {
        "includeColumns": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of columns to be included for a particular table."
          }
        },
        "excludeColumns": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of columns to be excluded for a particular table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options to configure rule type FilterTableColumns. The rule is used to filter the list of columns to include or exclude from a table. The rule filter field can refer to one entity. The rule scope can be: Table Only one of the two lists can be specified for the rule."
      }
    },
    "com.gcp.datamigration_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.datamigration_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.datamigration_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.datamigration_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#EntityMapping": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.gcp.datamigration_v1#EntityMappingSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of source entity."
          }
        },
        "mappingLog": {
          "target": "com.gcp.datamigration_v1#EntityMappingLogEntryList",
          "traits": {
            "smithy.api#documentation": "Entity mapping log entries. Multiple rules can be effective and contribute changes to a converted entity, such as a rule can handle the entity name, another rule can handle an entity type. In addition, rules which did not change the entity are also logged along with the reason preventing them to do so."
          }
        },
        "draftType": {
          "target": "com.gcp.datamigration_v1#EntityMappingDraftTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of draft entity."
          }
        },
        "sourceEntity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source entity full name. The source entity can also be a column, index or constraint using the same naming notation schema.table.column."
          }
        },
        "draftEntity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target entity full name. The draft entity can also include a column, index or constraint using the same naming notation schema.table.column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the mappings of a database entity."
      }
    },
    "com.gcp.datamigration_v1#EntityMappingSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "DATABASE_ENTITY_TYPE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SCHEMA"
          }
        },
        "DATABASE_ENTITY_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TABLE"
          }
        },
        "DATABASE_ENTITY_TYPE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_COLUMN"
          }
        },
        "DATABASE_ENTITY_TYPE_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_CONSTRAINT"
          }
        },
        "DATABASE_ENTITY_TYPE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_INDEX"
          }
        },
        "DATABASE_ENTITY_TYPE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TRIGGER"
          }
        },
        "DATABASE_ENTITY_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SEQUENCE"
          }
        },
        "DATABASE_ENTITY_TYPE_STORED_PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_STORED_PROCEDURE"
          }
        },
        "DATABASE_ENTITY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_FUNCTION"
          }
        },
        "DATABASE_ENTITY_TYPE_SYNONYM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SYNONYM"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE"
          }
        },
        "DATABASE_ENTITY_TYPE_UDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UDT"
          }
        },
        "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_DATABASE"
          }
        }
      }
    },
    "com.gcp.datamigration_v1#EntityMappingLogEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1#EntityMappingLogEntry"
      }
    },
    "com.gcp.datamigration_v1#EntityMappingDraftTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "DATABASE_ENTITY_TYPE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SCHEMA"
          }
        },
        "DATABASE_ENTITY_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TABLE"
          }
        },
        "DATABASE_ENTITY_TYPE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_COLUMN"
          }
        },
        "DATABASE_ENTITY_TYPE_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_CONSTRAINT"
          }
        },
        "DATABASE_ENTITY_TYPE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_INDEX"
          }
        },
        "DATABASE_ENTITY_TYPE_TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_TRIGGER"
          }
        },
        "DATABASE_ENTITY_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_VIEW"
          }
        },
        "DATABASE_ENTITY_TYPE_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_SEQUENCE"
          }
        },
        "DATABASE_ENTITY_TYPE_STORED_PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_STORED_PROCEDURE"
          }
        },
        "DATABASE_ENTITY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENTITY_TYPE_FUNCTION"
[...]
