{
  "smithy": "2.0",
  "metadata": {
    "service": "datamanager",
    "version": "v1",
    "title": "Data Manager API",
    "baseUrl": "https://datamanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datamanager_v1#IngestEventsResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auto-generated ID of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the IngestEventsRequest."
      }
    },
    "com.gcp.datamanager_v1#RemoveCompositeDataStatus": {
      "type": "structure",
      "members": {
        "dataTypeCounts": {
          "target": "com.gcp.datamanager_v1#DataTypeCountList",
          "traits": {
            "smithy.api#documentation": "The total count of data types sent in the removal request, broken down by data type. Includes all data types in the request, regardless of whether they were successfully removed or not."
          }
        },
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the composite data removal from the destination."
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DataTypeCount"
      }
    },
    "com.gcp.datamanager_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricing": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. End time of the pricing."
          }
        },
        "buyerApprovalState": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingBuyerApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The buyer approval state of this pricing. This field is read-only."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time of the pricing."
          }
        },
        "maxCostMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap."
          }
        },
        "pricingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of this pricing."
          }
        },
        "costMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`."
          }
        },
        "costType": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingCostTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license."
          }
        },
        "pricingActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this pricing is active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user list license pricing."
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingBuyerApprovalStateEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingCostTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED"
          }
        },
        "CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPC"
          }
        },
        "CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPM"
          }
        },
        "MEDIA_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_SHARE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfo": {
      "type": "structure",
      "members": {
        "partnerAudienceSource": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The source of the partner audience."
          }
        },
        "commercePartner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information for partner audiences. This feature is only available to data partners."
      }
    },
    "com.gcp.datamanager_v1#PartnerAudienceInfoPartnerAudienceSourceEnum": {
      "type": "enum",
      "members": {
        "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED"
          }
        },
        "COMMERCE_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMERCE_AUDIENCE"
          }
        },
        "LINEAR_TV_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR_TV_AUDIENCE"
          }
        },
        "AGENCY_PROVIDER_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENCY_PROVIDER_AUDIENCE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestAdEventsRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the request is validated, but not executed."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Information about encryption keys which are used to encrypt the data."
          }
        },
        "adEvents": {
          "target": "com.gcp.datamanager_v1#AdEventList",
          "traits": {
            "smithy.api#documentation": "Required. Required (at least 1). A list of ad events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to upload ad events."
      }
    },
    "com.gcp.datamanager_v1#AdEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#AdEvent"
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsight": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum",
          "traits": {
            "smithy.api#documentation": "The dimension to which the insight belongs."
          }
        },
        "attributes": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList",
          "traits": {
            "smithy.api#documentation": "Insights for values of a given dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights for marketing data. This feature is only available to data partners."
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightDimensionEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED"
          }
        },
        "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN"
          }
        },
        "AFFINITY_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_USER_INTEREST"
          }
        },
        "IN_MARKET_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_MARKET_USER_INTEREST"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttribute"
      }
    },
    "com.gcp.datamanager_v1#WarningCount": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The count of records that have a warning."
          }
        },
        "reason": {
          "target": "com.gcp.datamanager_v1#WarningCountReasonEnum",
          "traits": {
            "smithy.api#documentation": "The warning reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The warning count for a given warning reason."
      }
    },
    "com.gcp.datamanager_v1#WarningCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_WARNING_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_WARNING_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestUserIdDataStatus": {
      "type": "structure",
      "members": {
        "userIdCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not."
          }
        },
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the user id data ingestion to the destination containing stats related to the ingestion."
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfo": {
      "type": "structure",
      "members": {
        "keySpace": {
          "target": "com.gcp.datamanager_v1#MobileIdInfoKeySpaceEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The key space of mobile IDs."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected."
          }
        },
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#MobileIdInfoDataSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Source of the upload data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information when `MOBILE_ID` is one of the `upload_key_types`."
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfoKeySpaceEnum": {
      "type": "enum",
      "members": {
        "KEY_SPACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_SPACE_UNSPECIFIED"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MobileIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEvent": {
      "type": "structure",
      "members": {
        "campaignName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the associated campaign."
          }
        },
        "adFormat": {
          "target": "com.gcp.datamanager_v1#AdEventAdFormatEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for ad format."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The platform source of the ad, akin to the Google Analytics source."
          }
        },
        "measurementAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow."
          }
        },
        "adGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the associated ad group."
          }
        },
        "platform": {
          "target": "com.gcp.datamanager_v1#AdEventPlatformEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for platform."
          }
        },
        "adType": {
          "target": "com.gcp.datamanager_v1#AdEventAdTypeEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for ad type."
          }
        },
        "platformString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for platform."
          }
        },
        "attributionHint": {
          "target": "com.gcp.datamanager_v1#AdEventAttributionHintEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports."
          }
        },
        "adId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the associated ad within the group."
          }
        },
        "adPlacementString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for ad placement."
          }
        },
        "platformTypeString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for platform type."
          }
        },
        "eventType": {
          "target": "com.gcp.datamanager_v1#AdEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the event."
          }
        },
        "platformType": {
          "target": "com.gcp.datamanager_v1#AdEventPlatformTypeEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for platform type."
          }
        },
        "adTypeString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for ad type."
          }
        },
        "adFormatString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for ad format."
          }
        },
        "medium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The medium of the ad, akin to the Google Analytics medium."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO 3166-2 country plus subdivision."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional."
          }
        },
        "adHeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The height of the ad in pixels."
          }
        },
        "targetingTypeString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for targeting type."
          }
        },
        "eventSubtype": {
          "target": "com.gcp.datamanager_v1#AdEventEventSubtypeEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for event subtype."
          }
        },
        "adPlacement": {
          "target": "com.gcp.datamanager_v1#AdEventAdPlacementEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for ad placement."
          }
        },
        "campaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the associated campaign."
          }
        },
        "targetingType": {
          "target": "com.gcp.datamanager_v1#AdEventTargetingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Enum value for targeting type."
          }
        },
        "adWidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The width of the ad in pixels."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time the event occurred."
          }
        },
        "eventSubtypeString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value for event subtype."
          }
        },
        "deviceInfo": {
          "target": "com.gcp.datamanager_v1#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Information gathered about the device being used when the ad event happened."
          }
        },
        "userData": {
          "target": "com.gcp.datamanager_v1#UserData",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found."
          }
        },
        "viewabilityInfo": {
          "target": "com.gcp.datamanager_v1#ViewabilityInfo",
          "traits": {
            "smithy.api#documentation": "Required. Details of the viewability of the ad served."
          }
        },
        "mobileDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The device ID of the device that the ad was served to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ad event."
      }
    },
    "com.gcp.datamanager_v1#AdEventAdFormatEnum": {
      "type": "enum",
      "members": {
        "AD_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_UNSPECIFIED"
          }
        },
        "AD_FORMAT_AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_AR"
          }
        },
        "AD_FORMAT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_AUDIO"
          }
        },
        "AD_FORMAT_BANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_BANNER"
          }
        },
        "AD_FORMAT_BUMPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_BUMPER"
          }
        },
        "AD_FORMAT_CAROUSEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_CAROUSEL"
          }
        },
        "AD_FORMAT_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_COLLECTION"
          }
        },
        "AD_FORMAT_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IMAGE"
          }
        },
        "AD_FORMAT_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_INTERACTIVE"
          }
        },
        "AD_FORMAT_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_INTERSTITIAL"
          }
        },
        "AD_FORMAT_IN_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_FEED"
          }
        },
        "AD_FORMAT_IN_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM"
          }
        },
        "AD_FORMAT_IN_STREAM_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM_SKIPPABLE"
          }
        },
        "AD_FORMAT_IN_STREAM_NON_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_IN_STREAM_NON_SKIPPABLE"
          }
        },
        "AD_FORMAT_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_NATIVE"
          }
        },
        "AD_FORMAT_SHORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_SHORTS"
          }
        },
        "AD_FORMAT_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_STORY"
          }
        },
        "AD_FORMAT_SPONSORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_SPONSORED"
          }
        },
        "AD_FORMAT_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_FORMAT_VIDEO"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventPlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "PLATFORM_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_IOS"
          }
        },
        "PLATFORM_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_ANDROID"
          }
        },
        "PLATFORM_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_WEB"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAdTypeEnum": {
      "type": "enum",
      "members": {
        "AD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_UNSPECIFIED"
          }
        },
        "AD_TYPE_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_DISPLAY"
          }
        },
        "AD_TYPE_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_TEXT"
          }
        },
        "AD_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_IMAGE"
          }
        },
        "AD_TYPE_RICH_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_RICH_MEDIA"
          }
        },
        "AD_TYPE_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_HTML"
          }
        },
        "AD_TYPE_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_AUDIO"
          }
        },
        "AD_TYPE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE_VIDEO"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAttributionHintEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTION_HINT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_UNSPECIFIED"
          }
        },
        "ATTRIBUTION_HINT_CONVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_CONVERTED"
          }
        },
        "ATTRIBUTION_HINT_NOT_CONVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_HINT_NOT_CONVERTED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENT_TYPE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_VIEW"
          }
        },
        "EVENT_TYPE_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_CLICK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventPlatformTypeEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_UNSPECIFIED"
          }
        },
        "PLATFORM_TYPE_MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_MOBILE"
          }
        },
        "PLATFORM_TYPE_DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_DESKTOP"
          }
        },
        "PLATFORM_TYPE_CTV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_CTV"
          }
        },
        "PLATFORM_TYPE_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_PHONE"
          }
        },
        "PLATFORM_TYPE_TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_TABLET"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventEventSubtypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_SUBTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_UNSPECIFIED"
          }
        },
        "EVENT_SUBTYPE_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_IMPRESSION"
          }
        },
        "EVENT_SUBTYPE_ENGAGED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_ENGAGED_VIEW"
          }
        },
        "EVENT_SUBTYPE_ONSITE_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_ONSITE_CLICK"
          }
        },
        "EVENT_SUBTYPE_OUTBOUND_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SUBTYPE_OUTBOUND_CLICK"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventAdPlacementEnum": {
      "type": "enum",
      "members": {
        "AD_PLACEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_UNSPECIFIED"
          }
        },
        "AD_PLACEMENT_DISCOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_DISCOVER"
          }
        },
        "AD_PLACEMENT_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_FEED"
          }
        },
        "AD_PLACEMENT_FOOTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_FOOTER"
          }
        },
        "AD_PLACEMENT_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_HEADER"
          }
        },
        "AD_PLACEMENT_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_HOME"
          }
        },
        "AD_PLACEMENT_IN_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_IN_CONTENT"
          }
        },
        "AD_PLACEMENT_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_PROMOTED"
          }
        },
        "AD_PLACEMENT_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_SEARCH"
          }
        },
        "AD_PLACEMENT_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_PLACEMENT_STORY"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#AdEventTargetingTypeEnum": {
      "type": "enum",
      "members": {
        "TARGETING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_UNSPECIFIED"
          }
        },
        "TARGETING_TYPE_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AUDIENCE"
          }
        },
        "TARGETING_TYPE_CONTEXTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTEXTUAL"
          }
        },
        "TARGETING_TYPE_DEMOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEMOGRAPHIC"
          }
        },
        "TARGETING_TYPE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEVICE"
          }
        },
        "TARGETING_TYPE_GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_GEO"
          }
        },
        "TARGETING_TYPE_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_INTEREST"
          }
        },
        "TARGETING_TYPE_PURCHASE_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_PURCHASE_INTENT"
          }
        },
        "TARGETING_TYPE_REMARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_REMARKETING"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#EventLocation": {
      "type": "structure",
      "members": {
        "subdivisionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO 3166-2 subdivision code where the event occurred."
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the city where the event occurred."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The 2-letter CLDR region code of the user's address."
          }
        },
        "subcontinentCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The subcontinent code in UN M49 format where the event occurred."
          }
        },
        "continentCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The continent code in UN M49 format where the event occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location where the event occurred."
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfo": {
      "type": "structure",
      "members": {
        "uploadKeyTypes": {
          "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Upload key types of this user list."
          }
        },
        "partnerAudienceInfo": {
          "target": "com.gcp.datamanager_v1#PartnerAudienceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information for partner audiences. This feature is only available to data partners."
          }
        },
        "mobileIdInfo": {
          "target": "com.gcp.datamanager_v1#MobileIdInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`."
          }
        },
        "pairIdInfo": {
          "target": "com.gcp.datamanager_v1#PairIdInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners."
          }
        },
        "pseudonymousIdInfo": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
          }
        },
        "contactIdInfo": {
          "target": "com.gcp.datamanager_v1#ContactIdInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`."
          }
        },
        "userIdInfo": {
          "target": "com.gcp.datamanager_v1#UserIdInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user list that is populated by user provided data."
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum": {
      "type": "enum",
      "members": {
        "UPLOAD_KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_KEY_TYPE_UNSPECIFIED"
          }
        },
        "CONTACT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_ID"
          }
        },
        "MOBILE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_ID"
          }
        },
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ID"
          }
        },
        "PAIR_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAIR_ID"
          }
        },
        "PSEUDONYMOUS_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSEUDONYMOUS_ID"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#IngestedUserListInfoUploadKeyTypesItemEnum"
      }
    },
    "com.gcp.datamanager_v1#SearchPartnerLinksResponse": {
      "type": "structure",
      "members": {
        "partnerLinks": {
          "target": "com.gcp.datamanager_v1#PartnerLinkList",
          "traits": {
            "smithy.api#documentation": "The partner links for the given account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the SearchPartnerLinksRequest."
      }
    },
    "com.gcp.datamanager_v1#PartnerLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#PartnerLink"
      }
    },
    "com.gcp.datamanager_v1#IngestAudienceMembersResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auto-generated ID of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the IngestAudienceMembersRequest."
      }
    },
    "com.gcp.datamanager_v1#RemoveUserDataStatus": {
      "type": "structure",
      "members": {
        "userIdentifierCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not."
          }
        },
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the user data removal from the destination."
      }
    },
    "com.gcp.datamanager_v1#RetrieveInsightsRequest": {
      "type": "structure",
      "members": {
        "userListId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user list ID for which insights are requested."
          }
        },
        "baseline": {
          "target": "com.gcp.datamanager_v1#Baseline",
          "traits": {
            "smithy.api#documentation": "Required. Baseline for the insights requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DM API MarketingDataInsightsService.RetrieveInsights"
      }
    },
    "com.gcp.datamanager_v1#Baseline": {
      "type": "structure",
      "members": {
        "baselineLocation": {
          "target": "com.gcp.datamanager_v1#Location",
          "traits": {
            "smithy.api#documentation": "The baseline location of the request. Baseline location is an OR-list of the requested regions."
          }
        },
        "locationAutoDetectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, the service will try to automatically detect the baseline location for insights."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Baseline criteria against which insights are compared."
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicense": {
      "type": "structure",
      "members": {
        "userListDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the user list being licensed. This field is read-only."
          }
        },
        "metrics": {
          "target": "com.gcp.datamanager_v1#UserListLicenseMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the user list global license."
          }
        },
        "licenseType": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseLicenseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Product type of client customer which the user list is being licensed to."
          }
        },
        "status": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseStatusEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED."
          }
        },
        "historicalPricings": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricingList",
          "traits": {
            "smithy.api#documentation": "Output only. Pricing history of this user list license. This field is read-only."
          }
        },
        "userListId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. ID of the user list being licensed."
          }
        },
        "pricing": {
          "target": "com.gcp.datamanager_v1#UserListLicensePricing",
          "traits": {
            "smithy.api#documentation": "Optional. UserListGlobalLicense pricing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user list global license. This feature is only available to data partners."
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE"
          }
        },
        "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseStatusEnum": {
      "type": "enum",
      "members": {
        "USER_LIST_LICENSE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_UNSPECIFIED"
          }
        },
        "USER_LIST_LICENSE_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_ENABLED"
          }
        },
        "USER_LIST_LICENSE_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST_LICENSE_STATUS_DISABLED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserListLicensePricingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListLicensePricing"
      }
    },
    "com.gcp.datamanager_v1#ErrorInfo": {
      "type": "structure",
      "members": {
        "errorCounts": {
          "target": "com.gcp.datamanager_v1#ErrorCountList",
          "traits": {
            "smithy.api#documentation": "A list of errors and counts per error reason. May not be populated in all cases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error counts for each type of error."
      }
    },
    "com.gcp.datamanager_v1#ErrorCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ErrorCount"
      }
    },
    "com.gcp.datamanager_v1#IngestEventsStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the events ingestion to the destination."
      }
    },
    "com.gcp.datamanager_v1#PpidData": {
      "type": "structure",
      "members": {
        "ppids": {
          "target": "com.gcp.datamanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of publisher provided identifiers for a user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners."
      }
    },
    "com.gcp.datamanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamanager_v1#Item": {
      "type": "structure",
      "members": {
        "unitPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The unit price excluding tax, shipping, and any transaction level discounts."
          }
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
          }
        },
        "customVariables": {
          "target": "com.gcp.datamanager_v1#ItemCustomVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions."
          }
        },
        "conversionValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item."
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier to reference the item."
          }
        },
        "merchantProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product ID within the Merchant Center account."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of this item associated with the event."
          }
        },
        "additionalItemParameters": {
          "target": "com.gcp.datamanager_v1#ItemParameterList",
          "traits": {
            "smithy.api#documentation": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
          }
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an item in the cart associated with the event."
      }
    },
    "com.gcp.datamanager_v1#ItemCustomVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemCustomVariable"
      }
    },
    "com.gcp.datamanager_v1#ItemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#ItemParameter"
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfo": {
      "type": "structure",
      "members": {
        "syncStatus": {
          "target": "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Sync status of the user list."
          }
        },
        "billableRecordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The number of billable records (e.g. uploaded or matched)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
      }
    },
    "com.gcp.datamanager_v1#PseudonymousIdInfoSyncStatusEnum": {
      "type": "enum",
      "members": {
        "SYNC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_STATUS_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "READY_FOR_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_USE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#DataTypeCount": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.datamanager_v1#DataTypeCountTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The count for this data type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The count for a specific data type."
      }
    },
    "com.gcp.datamanager_v1#DataTypeCountTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_NUMBER"
          }
        },
        "ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ADDRESS"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ListUserListGlobalLicensesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "userListGlobalLicenses": {
          "target": "com.gcp.datamanager_v1#UserListGlobalLicenseList",
          "traits": {
            "smithy.api#documentation": "The licenses for the given user list in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the ListUserListGlobalLicensesRequest."
      }
    },
    "com.gcp.datamanager_v1#UserListGlobalLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListGlobalLicense"
      }
    },
    "com.gcp.datamanager_v1#SizeInfo": {
      "type": "structure",
      "members": {
        "searchNetworkMembersCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns."
          }
        },
        "displayNetworkMembersCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimated number of members in this user list, on the Google Display Network."
          }
        },
        "youtubeMembersCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimated number of members in this user list on YouTube."
          }
        },
        "gmailMembersCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimated number of members in this user list on Gmail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Estimated number of members in this user list in different target networks."
      }
    },
    "com.gcp.datamanager_v1#CartData": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.datamanager_v1#ItemList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of items associated with the event."
          }
        },
        "merchantFeedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Merchant Center feed label associated with the feed of the items."
          }
        },
        "transactionDiscount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The sum of all discounts associated with the transaction."
          }
        },
        "merchantFeedLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Merchant Center ID associated with the items."
          }
        },
        "couponCodes": {
          "target": "com.gcp.datamanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cart data associated with the event."
      }
    },
    "com.gcp.datamanager_v1#ItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Item"
      }
    },
    "com.gcp.datamanager_v1#IngestPairDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
          }
        },
        "pairIdCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the pair data ingestion to the destination containing stats related to the ingestion."
      }
    },
    "com.gcp.datamanager_v1#AdIdentifiers": {
      "type": "structure",
      "members": {
        "sessionAttributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Session attributes for event attribution and modeling."
          }
        },
        "landingPageDeviceInfo": {
          "target": "com.gcp.datamanager_v1#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad."
          }
        },
        "dclid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display click ID associated with this event."
          }
        },
        "mobileDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers."
          }
        },
        "impressionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The impression ID associated with this event."
          }
        },
        "matchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The match ID field used to join this event with a previous event."
          }
        },
        "gbraid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
          }
        },
        "encryptedUserIds": {
          "target": "com.gcp.datamanager_v1#EncryptedUserIdList",
          "traits": {
            "smithy.api#documentation": "Optional. Any number of encrypted user IDs."
          }
        },
        "gclid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google click ID (gclid) associated with this event."
          }
        },
        "wbraid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks)."
      }
    },
    "com.gcp.datamanager_v1#EncryptedUserIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#EncryptedUserId"
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersRequest": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList",
          "traits": {
            "smithy.api#documentation": "Required. The list of destinations to remove the users from."
          }
        },
        "audienceMembers": {
          "target": "com.gcp.datamanager_v1#AudienceMemberList",
          "traits": {
            "smithy.api#documentation": "Required. The list of users to remove."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
          }
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#RemoveAudienceMembersRequestEncodingEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse."
      }
    },
    "com.gcp.datamanager_v1#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Destination"
      }
    },
    "com.gcp.datamanager_v1#AudienceMemberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#AudienceMember"
      }
    },
    "com.gcp.datamanager_v1#RemoveAudienceMembersRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#ErrorCount": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The count of records that failed to upload for a given reason."
          }
        },
        "reason": {
          "target": "com.gcp.datamanager_v1#ErrorCountReasonEnum",
          "traits": {
            "smithy.api#documentation": "The error reason of the failed records."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error count for a given error reason."
      }
    },
    "com.gcp.datamanager_v1#ErrorCountReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_ERROR_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNSPECIFIED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE"
          }
        },
        "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_TOO_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_TOO_OLD"
          }
        },
        "PROCESSING_ERROR_REASON_DENIED_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DENIED_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_NO_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_NO_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WBRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WBRAID"
          }
        },
        "PROCESSING_ERROR_REASON_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INTERNAL_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_EVENT"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_WIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_WIP"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_KEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_KEK"
          }
        },
        "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED"
          }
        },
        "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED"
          }
        },
        "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR"
          }
        },
        "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER"
          }
        },
        "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID"
          }
        },
        "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT"
          }
        },
        "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID"
          }
        },
        "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND"
          }
        },
        "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK"
          }
        },
        "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttribute": {
      "type": "structure",
      "members": {
        "lift": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
          }
        },
        "ageRange": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeAgeRangeEnum",
          "traits": {
            "smithy.api#documentation": "Age range of the audience for which the lift is provided."
          }
        },
        "gender": {
          "target": "com.gcp.datamanager_v1#MarketingDataInsightsAttributeGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender of the audience for which the lift is provided."
          }
        },
        "userInterestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user interest ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights for a collection of related attributes of the same dimension."
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeAgeRangeEnum": {
      "type": "enum",
      "members": {
        "AGE_RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNSPECIFIED"
          }
        },
        "AGE_RANGE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNKNOWN"
          }
        },
        "AGE_RANGE_18_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_18_24"
          }
        },
        "AGE_RANGE_25_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_25_34"
          }
        },
        "AGE_RANGE_35_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_35_44"
          }
        },
        "AGE_RANGE_45_54": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_45_54"
          }
        },
        "AGE_RANGE_55_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_55_64"
          }
        },
        "AGE_RANGE_65_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_65_UP"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#MarketingDataInsightsAttributeGenderEnum": {
      "type": "enum",
      "members": {
        "GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_UNSPECIFIED"
          }
        },
        "GENDER_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_UNKNOWN"
          }
        },
        "GENDER_MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_MALE"
          }
        },
        "GENDER_FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_FEMALE"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#UserIdInfo": {
      "type": "structure",
      "members": {
        "dataSourceType": {
          "target": "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Source of the upload data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information when `USER_ID` is one of the `upload_key_types`."
      }
    },
    "com.gcp.datamanager_v1#UserIdInfoDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_SOURCE_TYPE_FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_FIRST_PARTY"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE"
          }
        },
        "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#WarningInfo": {
      "type": "structure",
      "members": {
        "warningCounts": {
          "target": "com.gcp.datamanager_v1#WarningCountList",
          "traits": {
            "smithy.api#documentation": "A list of warnings and counts per warning reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Warning counts for each type of warning."
      }
    },
    "com.gcp.datamanager_v1#WarningCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#WarningCount"
      }
    },
    "com.gcp.datamanager_v1#PairData": {
      "type": "structure",
      "members": {
        "pairIds": {
          "target": "com.gcp.datamanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
      }
    },
    "com.gcp.datamanager_v1#ExperimentalField": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the field to use."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value the field to set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experimental field representing unofficial fields."
      }
    },
    "com.gcp.datamanager_v1#RemovePpidDataStatus": {
      "type": "structure",
      "members": {
        "recordCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
          }
        },
        "ppidCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the ppid data removal from the destination."
      }
    },
    "com.gcp.datamanager_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.datamanager_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datamanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datamanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#DocumentMap"
      }
    },
    "com.gcp.datamanager_v1#CoordinatorKeyInfo": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the chosen coordinator key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the coordinator key."
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
          }
        },
        "destinations": {
          "target": "com.gcp.datamanager_v1#DestinationList",
          "traits": {
            "smithy.api#documentation": "Required. The list of destinations to send the events to."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.datamanager_v1#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
          }
        },
        "consent": {
          "target": "com.gcp.datamanager_v1#Consent",
          "traits": {
            "smithy.api#documentation": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
          }
        },
        "events": {
          "target": "com.gcp.datamanager_v1#EventList",
          "traits": {
            "smithy.api#documentation": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
          }
        },
        "encoding": {
          "target": "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse."
      }
    },
    "com.gcp.datamanager_v1#EventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#Event"
      }
    },
    "com.gcp.datamanager_v1#IngestEventsRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "HEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEX"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE64"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#PartnerCustomerAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of the customer account in the partner's ID space."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the account."
          }
        },
        "accountType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a customer account in the partner's system."
      }
    },
    "com.gcp.datamanager_v1#ListUserListDirectLicensesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "userListDirectLicenses": {
          "target": "com.gcp.datamanager_v1#UserListDirectLicenseList",
          "traits": {
            "smithy.api#documentation": "The licenses for the given user list in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the ListUserListDirectLicensesRequest."
      }
    },
    "com.gcp.datamanager_v1#UserListDirectLicenseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamanager_v1#UserListDirectLicense"
      }
    },
    "com.gcp.datamanager_v1#GcpWrappedKeyInfo": {
      "type": "structure",
      "members": {
        "keyType": {
          "target": "com.gcp.datamanager_v1#GcpWrappedKeyInfoKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of algorithm used to encrypt the data."
          }
        },
        "wipProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
          }
        },
        "encryptedDek": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The base64 encoded encrypted data encryption key."
          }
        },
        "kekUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Google Cloud Platform wrapped key."
      }
    },
    "com.gcp.datamanager_v1#GcpWrappedKeyInfoKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TYPE_UNSPECIFIED"
          }
        },
        "XCHACHA20_POLY1305": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCHACHA20_POLY1305"
          }
        }
      }
    },
    "com.gcp.datamanager_v1#IpData": {
      "type": "structure",
      "members": {
        "observeEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Last recorded interaction time from this IP address in a session."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6."
          }
        },
        "observeStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. First recorded interaction time from this IP address in a session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates."
      }
    },
    "com.gcp.datamanager_v1#CustomVariable": {
      "type": "structure",
      "members": {
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value to store for the custom variable."
          }
        },
        "destinationReferences": {
          "target": "com.gcp.datamanager_v1#StringList",
[...]
