{
  "smithy": "2.0",
  "metadata": {
    "service": "dataplex",
    "version": "v1",
    "title": "Cloud Dataplex API",
    "baseUrl": "https://dataplex.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dataplex_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.dataplex_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.dataplex_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.dataplex_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataplex_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
          }
        },
        "metadata": {
          "target": "com.gcp.dataplex_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
          }
        },
        "error": {
          "target": "com.gcp.dataplex_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.dataplex_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.dataplex_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dataplex_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.dataplex_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.dataplex_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#DocumentMap"
      }
    },
    "com.gcp.dataplex_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      }
    },
    "com.gcp.dataplex_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the EntryType, of the form: projects/{project_number}/locations/{location_id}/entryTypes/{entry_type_id}."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated globally unique ID for the EntryType. This ID will be different if the EntryType is deleted and re-created with the same name."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the EntryType was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the EntryType was last updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the EntryType."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the EntryType."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "typeAliases": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the classes this Entry Type belongs to, for example, TABLE, DATABASE, MODEL."
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The platform that Entries of this type belongs to."
          }
        },
        "system": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The system that Entries of this type belongs to. Examples include CloudSQL, MariaDB etc"
          }
        },
        "requiredAspects": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAspectInfoList",
          "traits": {
            "smithy.api#documentation": "AspectInfo for the entry type."
          }
        },
        "authorization": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAuthorization",
          "traits": {
            "smithy.api#documentation": "Immutable. Authorization defined for this type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry Type is a template for creating Entries."
      }
    },
    "com.gcp.dataplex_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAspectInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAspectInfo"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAspectInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required aspect type for the entry type."
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeAuthorization": {
      "type": "structure",
      "members": {
        "alternateUsePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The IAM permission grantable on the Entry Group to allow access to instantiate Entries of Dataplex Universal Catalog owned Entry Types, only settable for Dataplex Universal Catalog owned Types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization for an Entry Type."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListEntryTypesResponse": {
      "type": "structure",
      "members": {
        "entryTypes": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeList",
          "traits": {
            "smithy.api#documentation": "EntryTypes under the given parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List EntryTypes response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryType"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the AspectType, of the form: projects/{project_number}/locations/{location_id}/aspectTypes/{aspect_type_id}."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated globally unique ID for the AspectType. If you delete and recreate the AspectType with the same name, then this ID will be different."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the AspectType was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the AspectType was last updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the AspectType."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the AspectType."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service computes this checksum. The client may send it on update and delete requests to ensure it has an up-to-date value before proceeding."
          }
        },
        "dataClassification": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeDataClassificationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Stores data classification of the aspect."
          }
        },
        "authorization": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeAuthorization",
          "traits": {
            "smithy.api#documentation": "Immutable. Defines the Authorization for this type."
          }
        },
        "metadataTemplate": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplate",
          "traits": {
            "smithy.api#documentation": "Required. MetadataTemplate of the aspect."
          }
        },
        "transferStatus": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeTransferStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Denotes the transfer status of the Aspect Type. It is unspecified for Aspect Types created from Dataplex API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AspectType is a template for creating Aspects, and represents the JSON-schema for a given Entry, for example, BigQuery Table Schema."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeDataClassificationEnum": {
      "type": "enum",
      "members": {
        "DATA_CLASSIFICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_CLASSIFICATION_UNSPECIFIED"
          }
        },
        "METADATA_AND_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_AND_DATA"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeTransferStatusEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_UNSPECIFIED"
          }
        },
        "TRANSFER_STATUS_MIGRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_MIGRATED"
          }
        },
        "TRANSFER_STATUS_TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_TRANSFERRED"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeAuthorization": {
      "type": "structure",
      "members": {
        "alternateUsePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization for an AspectType."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplate": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Index is used to encode Template messages. The value of index can range between 1 and 2,147,483,647. Index must be unique within all fields in a Template. (Nested Templates can reuse indexes). Once a Template is defined, the index cannot be changed, because it identifies the field in the actual storage format. Index is a mandatory field, but it is optional for top level fields, and map/array \"values\" definitions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the field."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The datatype of this field. The following values are supported:Primitive types: string int bool double datetime. Must be of the format RFC3339 UTC \"Zulu\" (Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\").Complex types: enum array map record"
          }
        },
        "recordFields": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateList",
          "traits": {
            "smithy.api#documentation": "Optional. Field definition. You must specify it if the type is record. It defines the nested fields."
          }
        },
        "enumValues": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValueList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of values for an enum type. You must define it if the type is enum."
          }
        },
        "mapItems": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplate",
          "traits": {
            "smithy.api#documentation": "Optional. If the type is map, set map_items. map_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload."
          }
        },
        "arrayItems": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplate",
          "traits": {
            "smithy.api#documentation": "Optional. If the type is array, set array_items. array_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload."
          }
        },
        "typeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can use type id if this definition of the field needs to be reused later. The type id must be unique across the entire template. You can only specify it if the field type is record."
          }
        },
        "typeRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to another field definition (not an inline definition). The value must be equal to the value of an id field defined elsewhere in the MetadataTemplate. Only fields with record type can refer to other fields."
          }
        },
        "constraints": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the constraints on this field."
          }
        },
        "annotations": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateAnnotations",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies annotations on this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MetadataTemplate definition for an AspectType."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplate"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValue"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValue": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Index for the enum value. It can't be modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the enumvalue. This is the actual value that the aspect can contain."
          }
        },
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can set this message if you need to deprecate an enum value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of Enumvalue, to be used for enum fields."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Marks this field as optional or required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the constraints of a field."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeMetadataTemplateAnnotations": {
      "type": "structure",
      "members": {
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Marks a field as deprecated. You can include a deprecation message."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name for a field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description for a field."
          }
        },
        "displayOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Display order for a field. You can use this to reorder where a field is rendered."
          }
        },
        "stringType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can use String Type annotations to specify special meaning to string fields. The following values are supported: richText: The field must be interpreted as a rich text field. url: A fully qualified URL link. resource: A service qualified resource reference."
          }
        },
        "stringValues": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Suggested hints for string fields. You can use them to suggest values to users through console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the annotations of a field."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListAspectTypesResponse": {
      "type": "structure",
      "members": {
        "aspectTypes": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeList",
          "traits": {
            "smithy.api#documentation": "AspectTypes under the given parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List AspectTypes response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectType"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the EntryGroup, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated globally unique ID for the EntryGroup. If you delete and recreate the EntryGroup with the same name, this ID will be different."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the EntryGroup was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the EntryGroup was last updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the EntryGroup."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the EntryGroup."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "transferStatus": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroupTransferStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Denotes the transfer status of the Entry Group. It is unspecified for Entry Group created from Dataplex API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Entry Group represents a logical grouping of one or more Entries."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroupTransferStatusEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_UNSPECIFIED"
          }
        },
        "TRANSFER_STATUS_MIGRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_MIGRATED"
          }
        },
        "TRANSFER_STATUS_TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_TRANSFERRED"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListEntryGroupsResponse": {
      "type": "structure",
      "members": {
        "entryGroups": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroupList",
          "traits": {
            "smithy.api#documentation": "Entry groups under the given parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List entry groups response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryGroup"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1Entry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}."
          }
        },
        "entryType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The relative resource name of the entry type that was used to create this entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryTypes/{entry_type_id}."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the entry was created in Dataplex Universal Catalog."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the entry was last updated in Dataplex Universal Catalog."
          }
        },
        "aspects": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectMap",
          "traits": {
            "smithy.api#documentation": "Optional. The aspects that are attached to the entry. Depending on how the aspect is attached to the entry, the format of the aspect key can be one of the following: If the aspect is attached directly to the entry: {project_id_or_number}.{location_id}.{aspect_type_id} If the aspect is attached to an entry's path: {project_id_or_number}.{location_id}.{aspect_type_id}@{path}"
          }
        },
        "parentEntry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The resource name of the parent entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}."
          }
        },
        "fullyQualifiedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A name for the entry that can be referenced by an external system. For more information, see Fully qualified names (https://cloud.google.com/data-catalog/docs/fully-qualified-names). The maximum size of the field is 4000 characters."
          }
        },
        "entrySource": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySource",
          "traits": {
            "smithy.api#documentation": "Optional. Information related to the source system of the data resource that is represented by the entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entry is a representation of a data resource that can be described by various metadata."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Aspect"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1Aspect": {
      "type": "structure",
      "members": {
        "aspectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the type used to create this Aspect."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path in the entry under which the aspect is attached."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Aspect was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Aspect was last updated."
          }
        },
        "data": {
          "target": "com.gcp.dataplex_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The content of the aspect, according to its aspect type schema. The maximum size of the field is 120KB (encoded as UTF-8)."
          }
        },
        "aspectSource": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectSource",
          "traits": {
            "smithy.api#documentation": "Optional. Information related to the source system of the aspect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single piece of metadata describing an entry or entry link."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectSource": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the aspect was created in the source system."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the aspect was last updated in the source system."
          }
        },
        "dataVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the data format used to produce this data. This field is used to indicated when the underlying data format changes (e.g., schema modifications, changes to the source URL format definition, etc)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to the source system of the aspect."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySource": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource in the source system. Maximum length is 4,000 characters."
          }
        },
        "system": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the source system. Maximum length is 64 characters."
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform containing the source system. Maximum length is 64 characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-friendly display name. Maximum length is 500 characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the data resource. Maximum length is 2,000 characters."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels. The maximum size of keys and values is 128 characters each."
          }
        },
        "ancestors": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySourceAncestorList",
          "traits": {
            "smithy.api#documentation": "Immutable. The entries representing the ancestors of the data resource in the source system."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the resource was created in the source system."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the resource was last updated in the source system. If the entry exists in the system and its EntrySource has update_time populated, further updates to the EntrySource of the entry must provide incremental updates to its update_time."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location of the resource in the source system. You can search the entry by this location. By default, this should match the location of the entry group containing this entry. A different value allows capturing the source location for data external to Google Cloud."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to the source system of the data resource that is represented by the entry."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySourceAncestorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySourceAncestor"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntrySourceAncestor": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the ancestor resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the ancestor resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about individual items in the hierarchy that is associated with the data resource."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListEntriesResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryList",
          "traits": {
            "smithy.api#documentation": "The list of entries under the given parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Entries response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Entry"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ModifyEntryRequest": {
      "type": "structure",
      "members": {
        "entry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Entry",
          "traits": {
            "smithy.api#documentation": "Required. The entry to modify."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mask of fields to update. To update Aspects, the update_mask must contain the value \"aspects\".If the update_mask is empty, the service will update all modifiable fields present in the request."
          }
        },
        "deleteMissingAspects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any aspects not specified in the request will be deleted. The default is false."
          }
        },
        "aspectKeys": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The aspect keys which the service should modify. It supports the following syntaxes: - matches an aspect of the given type and empty path. @path - matches an aspect of the given type and specified path. For example, to attach an aspect to a field that is specified by the schema aspect, the path should have the format Schema.. @* - matches aspects of the given type for all paths. *@path - matches aspects of all types on the given path.The service will not remove existing aspects matching the syntax unless delete_missing_aspects is set to true.If this field is left empty, the service treats it as specifying exactly those Aspects present in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Modify Entry request using permissions in the source system."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResultList",
          "traits": {
            "smithy.api#documentation": "The results matching the search query."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The estimated total number of matching entries. This number isn't guaranteed to be accurate."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach. Search results don't include data from these locations."
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResult"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResult": {
      "type": "structure",
      "members": {
        "linkedResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linked resource name."
          }
        },
        "dataplexEntry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Entry"
        },
        "snippets": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResultSnippets",
          "traits": {
            "smithy.api#documentation": "Snippets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single result of a SearchEntries request."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1SearchEntriesResultSnippets": {
      "type": "structure",
      "members": {
        "dataplexEntry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Entry",
          "traits": {
            "smithy.api#documentation": "Entry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snippets for the entry, contains HTML-style highlighting for matched tokens, will be used in UI."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The name of the resource that the configuration is applied to, in the format projects/{project_number}/locations/{location_id}/metadataJobs/{metadata_job_id}."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the metadata job was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the metadata job was updated."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "type": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Metadata job type."
          }
        },
        "importSpec": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpec",
          "traits": {
            "smithy.api#documentation": "Import job specification."
          }
        },
        "exportSpec": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobSpec",
          "traits": {
            "smithy.api#documentation": "Export job specification."
          }
        },
        "importResult": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobResult",
          "traits": {
            "smithy.api#documentation": "Output only. Import job result."
          }
        },
        "exportResult": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobResult",
          "traits": {
            "smithy.api#documentation": "Output only. Export job result."
          }
        },
        "status": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata job status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metadata job resource."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT"
          }
        },
        "EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpec": {
      "type": "structure",
      "members": {
        "sourceStorageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI of a Cloud Storage bucket or folder (beginning with gs:// and ending with /) that contains the metadata import files for this job.A metadata import file defines the values to set for each of the entries and aspects in a metadata import job. For more information about how to create a metadata import file and the file requirements, see Metadata import file (https://cloud.google.com/dataplex/docs/import-metadata#metadata-import-file).You can provide multiple metadata import files in the same metadata job. The bucket or folder must contain at least one metadata import file, in JSON Lines format (either .json or .jsonl file extension).In FULL entry sync mode, don't save the metadata import file in a folder named SOURCE_STORAGE_URI/deletions/.Caution: If the metadata import file contains no data, all entries and aspects that belong to the job's scope are deleted."
          }
        },
        "sourceCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time when the process that created the metadata import files began."
          }
        },
        "scope": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope",
          "traits": {
            "smithy.api#documentation": "Required. A boundary on the scope of impact that the metadata import job can have."
          }
        },
        "entrySyncMode": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecEntrySyncModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The sync mode for entries."
          }
        },
        "aspectSyncMode": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecAspectSyncModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The sync mode for aspects."
          }
        },
        "logLevel": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecLogLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The level of logs to write to Cloud Logging for this job.Debug-level logs provide highly-detailed information for troubleshooting, but their increased verbosity could incur additional costs (https://cloud.google.com/stackdriver/pricing) that might not be merited for all jobs.If unspecified, defaults to INFO."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job specification for a metadata import job.You can run the following kinds of metadata import jobs: Full sync of entries with incremental import of their aspects. Supported for custom entries. Incremental import of aspects only. Supported for aspects that belong to custom entries and system entries. For custom entries, you can modify both optional aspects and required aspects. For system entries, you can modify optional aspects."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecEntrySyncModeEnum": {
      "type": "enum",
      "members": {
        "SYNC_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_MODE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecAspectSyncModeEnum": {
      "type": "enum",
      "members": {
        "SYNC_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_MODE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecLogLevelEnum": {
      "type": "enum",
      "members": {
        "LOG_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_LEVEL_UNSPECIFIED"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope": {
      "type": "structure",
      "members": {
        "entryGroups": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The entry groups that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryGroups/{entry_group_id}. Only entries and aspects that belong to the specified entry groups are affected by the job.The entry groups and the job must be in the same location."
          }
        },
        "entryTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The entry types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryTypes/{entry_type_id}. The job modifies only the entries and aspects that belong to these entry types.If the metadata import file attempts to modify an entry whose type isn't included in this list, the import job is halted before modifying any entries or aspects.The location of an entry type must either match the location of the job, or the entry type must be global."
          }
        },
        "aspectTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The aspect types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/aspectTypes/{aspect_type_id}. The job modifies only the aspects that belong to these aspect types.This field is required when creating an aspect-only import job.If the metadata import file attempts to modify an aspect whose type isn't included in this list, the import job is halted before modifying any entries or aspects.The location of an aspect type must either match the location of the job, or the aspect type must be global."
          }
        },
        "glossaries": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The glossaries that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/glossaries/{glossary_id}.While importing Business Glossary entries, the user must provide glossaries. While importing entries, the user does not have to provide glossaries. If the metadata import file attempts to modify Business Glossary entries whose glossary isn't included in this list, the import job will skip those entries.The location of a glossary must either match the location of the job, or the glossary must be global."
          }
        },
        "entryLinkTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The entry link types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryLinkTypes/{entry_link_type_id}. The job modifies only the entryLinks that belong to these entry link types.If the metadata import file attempts to create or delete an entry link whose entry link type isn't included in this list, the import job will skip those entry links."
          }
        },
        "referencedEntryScopes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the scope of entries that can be referenced in the entry links.Currently, projects are supported as valid scopes. Format: projects/{project_number_or_id}If the metadata import file attempts to create an entry link which references an entry that is not in the scope, the import job will skip that entry link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A boundary on the scope of impact that the metadata import job can have."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobSpec": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope",
          "traits": {
            "smithy.api#documentation": "Required. The scope of the export job."
          }
        },
        "outputPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The root path of the Cloud Storage bucket to export the metadata to, in the format gs://{bucket}/. You can optionally specify a custom prefix after the bucket name, in the format gs://{bucket}/{prefix}/. The maximum length of the custom prefix is 128 characters. Dataplex Universal Catalog constructs the object path for the exported files by using the bucket name and prefix that you provide, followed by a system-generated path.The bucket must be in the same VPC Service Controls perimeter as the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job specification for a metadata export job."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope": {
      "type": "structure",
      "members": {
        "organizationLevel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the metadata export job is an organization-level export job. If true, the job exports the entries from the same organization and VPC Service Controls perimeter as the job. The project that the job belongs to determines the VPC Service Controls perimeter. If you set the job scope to be at the organization level, then don't provide a list of projects or entry groups. If false, you must specify a list of projects or a list of entry groups whose entries you want to export.The default is false."
          }
        },
        "projects": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The projects whose metadata you want to export, in the format projects/{project_id_or_number}. Only the entries from the specified projects are exported.The projects must be in the same organization and VPC Service Controls perimeter as the job.If you set the job scope to be a list of projects, then set the organization-level export flag to false and don't provide a list of entry groups."
          }
        },
        "entryGroups": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The entry groups whose metadata you want to export, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}. Only the entries in the specified entry groups are exported.The entry groups must be in the same location and the same VPC Service Controls perimeter as the job.If you set the job scope to be a list of entry groups, then set the organization-level export flag to false and don't provide a list of projects."
          }
        },
        "entryTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The entry types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are affected by the job."
          }
        },
        "aspectTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The aspect types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}. Only aspects that belong to the specified aspect types are affected by the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the export job."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobImportJobResult": {
      "type": "structure",
      "members": {
        "deletedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entries that were deleted."
          }
        },
        "updatedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entries that were updated."
          }
        },
        "createdEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entries that were created."
          }
        },
        "unchangedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entries that were unchanged."
          }
        },
        "recreatedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entries that were recreated."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the status was updated."
          }
        },
        "deletedEntryLinks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entry links that were successfully deleted."
          }
        },
        "createdEntryLinks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entry links that were successfully created."
          }
        },
        "unchangedEntryLinks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of entry links that were left unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results from a metadata import job."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobExportJobResult": {
      "type": "structure",
      "members": {
        "exportedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of entries that were exported."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The error message if the metadata export job failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary results from a metadata export job. The results are a snapshot of the metadata at the time when the job was created. The exported entries are saved to a Cloud Storage bucket."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the metadata job."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Message relating to the progression of a metadata job."
          }
        },
        "completionPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Progress tracking."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the status was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata job status."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED_WITH_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED_WITH_ERRORS"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListMetadataJobsResponse": {
      "type": "structure",
      "members": {
        "metadataJobs": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobList",
          "traits": {
            "smithy.api#documentation": "Metadata jobs under the specified parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List metadata jobs response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataJob"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1CancelMetadataJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Cancel metadata job request."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLink": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. Identifier. The relative resource name of the Entry Link, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}"
          }
        },
        "entryLinkType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Relative resource name of the Entry Link Type used to create this Entry Link. For example: Entry link between synonym terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/synonym Entry link between related terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/related Entry link between glossary terms and data assets: projects/dataplex-types/locations/global/entryLinkTypes/definition"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Entry Link was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Entry Link was last updated."
          }
        },
        "aspects": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1AspectMap",
          "traits": {
            "smithy.api#documentation": "Optional. The aspects that are attached to the entry link. The format of the aspect key has to be the following: {project_id_or_number}.{location_id}.{aspect_type_id} Currently, only a single aspect of a Dataplex-owned Aspect Type is allowed."
          }
        },
        "entryReferences": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReferenceList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies the Entries referenced in the Entry Link. There should be exactly two entry references."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EntryLink represents a link between two Entries."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReference"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The relative resource name of the referenced Entry, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The path in the Entry that is referenced in the Entry Link. Empty path denotes that the Entry itself is referenced in the Entry Link."
          }
        },
        "type": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The reference type of the Entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to the Entry that is linked through the Entry Link."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkEntryReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        },
        "TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1LookupEntryLinksResponse": {
      "type": "structure",
      "members": {
        "entryLinks": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkList",
          "traits": {
            "smithy.api#documentation": "List of entry links that reference the specified entry."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for LookupEntryLinks."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1EntryLink"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1LookupContextRequest": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The entry names to look up the context for. The maximum number of resources for a request is limited to 10.Examples:projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}"
          }
        },
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The text representing contextual information for which metadata context is being requested."
          }
        },
        "options": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows to configure the context.Supported options: format - The format of the context (one of yaml, xml, json, default is yaml). context_budget - If provided, the output will be intelligently truncated on a best-effort basis to contain approximately the desired amount of characters. There is no guarantee to achieve the specific amount. all_schema_fields - If set to true, all schema fields will be returned in the context (regardless of context_budget value). Otherwise, the list of schema fields is truncated. Default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lookup Context using permissions in the source system."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1LookupContextResponse": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre-formatted block of text containing the context for the requested resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lookup Context response."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeed": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the metadata feed, in the format projects/{project_id_or_number}/locations/{location_id}/metadataFeeds/{metadata_feed_id}."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different."
          }
        },
        "scope": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedScope",
          "traits": {
            "smithy.api#documentation": "Required. The scope of the metadata feed. Only the in scope changes are published."
          }
        },
        "filters": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFilters",
          "traits": {
            "smithy.api#documentation": "Optional. The filters of the metadata feed. Only the changes that match the filters are published."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the feed was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the feed was updated."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The pubsub topic that you want the metadata feed messages to publish to. Please grant Dataplex service account the permission to publish messages to the topic. The service account is: service-{PROJECT_NUMBER}@gcp-sa-dataplex.iam.gserviceaccount.com."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MetadataFeed contains information related to the metadata feed."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedScope": {
      "type": "structure",
      "members": {
        "organizationLevel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the metadata feed is at the organization-level. If true, all changes happened to the entries in the same organization as the feed are published. If false, you must specify a list of projects or a list of entry groups whose entries you want to listen to.The default is false."
          }
        },
        "projects": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The projects whose entries you want to listen to. Must be in the same organization as the feed. Must be in the format: projects/{project_id_or_number}."
          }
        },
        "entryGroups": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The entry groups whose entries you want to listen to. Must be in the format: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope defines the scope of the metadata feed. Scopes are exclusive. Only one of the scopes can be specified."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFilters": {
      "type": "structure",
      "members": {
        "entryTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The entry types that you want to listen to, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are published."
          }
        },
        "aspectTypes": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The aspect types that you want to listen to. Depending on how the aspect is attached to the entry, in the format: projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}."
          }
        },
        "changeTypes": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFiltersChangeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The type of change that you want to listen to. If not specified, all changes are published."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters defines the type of changes that you want to listen to. You can have multiple entry type filters and multiple aspect type filters. All of the entry type filters are OR'ed together. All of the aspect type filters are OR'ed together. All of the entry type filters and aspect type filters are AND'ed together."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFiltersChangeTypesItemEnum": {
      "type": "enum",
      "members": {
        "CHANGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFiltersChangeTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedFiltersChangeTypesItemEnum"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListMetadataFeedsResponse": {
      "type": "structure",
      "members": {
        "metadataFeeds": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedList",
          "traits": {
            "smithy.api#documentation": "List of metadata feeds under the specified parent location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty."
          }
        },
        "unreachable": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListMetadataFeeds."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1MetadataFeed"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1Glossary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the Glossary. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated unique id for the Glossary. This ID will be different if the Glossary is deleted and re-created with the same name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name of the Glossary. This is user-mutable. This will be same as the GlossaryId, if not specified."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user-mutable description of the Glossary."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Glossary was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Glossary was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the Glossary."
          }
        },
        "termCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of GlossaryTerms in the Glossary."
          }
        },
        "categoryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of GlossaryCategories in the Glossary."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Needed for resource freshness validation. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Glossary represents a collection of GlossaryCategories and GlossaryTerms defined by the user. Glossary is a top level resource and is the Google Cloud parent resource of all the GlossaryCategories and GlossaryTerms within it."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListGlossariesResponse": {
      "type": "structure",
      "members": {
        "glossaries": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryList",
          "traits": {
            "smithy.api#documentation": "Lists the Glossaries in the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Glossaries Response"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1Glossary"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryCategory": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated unique id for the GlossaryCategory. This ID will be different if the GlossaryCategory is deleted and re-created with the same name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name of the GlossaryCategory. This is user-mutable. This will be same as the GlossaryCategoryId, if not specified."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user-mutable description of the GlossaryCategory."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the GlossaryCategory was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the GlossaryCategory was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the GlossaryCategory."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The immediate parent of the GlossaryCategory in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GlossaryCategory represents a collection of GlossaryCategories and GlossaryTerms within a Glossary that are related to each other."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListGlossaryCategoriesResponse": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryCategoryList",
          "traits": {
            "smithy.api#documentation": "Lists the GlossaryCategories in the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List GlossaryCategories Response"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryCategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryCategory"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryTerm": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the GlossaryTerm. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated unique id for the GlossaryTerm. This ID will be different if the GlossaryTerm is deleted and re-created with the same name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User friendly display name of the GlossaryTerm. This is user-mutable. This will be same as the GlossaryTermId, if not specified."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user-mutable description of the GlossaryTerm."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the GlossaryTerm was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the GlossaryTerm was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the GlossaryTerm."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The immediate parent of the GlossaryTerm in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GlossaryTerms are the core of Glossary. A GlossaryTerm holds a rich text description that can be attached to Entries or specific columns to enrich them."
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ListGlossaryTermsResponse": {
      "type": "structure",
      "members": {
        "terms": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryTermList",
          "traits": {
            "smithy.api#documentation": "Lists the GlossaryTerms in the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachableLocations": {
          "target": "com.gcp.dataplex_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that the service couldn't reach."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List GlossaryTerms Response"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1GlossaryTerm"
      }
    },
    "com.gcp.dataplex_v1#GoogleCloudDataplexV1ChangeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the ChangeRequest, of the form: projects/{project_number}/locations/{location_id}/changeRequests/{change_request_id}"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated globally unique ID for the ChangeRequest."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the ChangeRequest was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the ChangeRequest was last updated."
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Justification of the ChangeRequest. This should explain why the change is needed or why it should be approved."
          }
        },
        "labels": {
          "target": "com.gcp.dataplex_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels for the ChangeRequest."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user who created the ChangeRequest."
          }
        },
        "state": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1ChangeRequestStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the ChangeRequest."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource name of the target resource to be modified. Example: //dataplex.googleapis.com/projects/my-project/locations/us-central1/entryGroups/my-group/entries/my-entry"
          }
        },
        "createEntry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1CreateEntryRequest",
          "traits": {
            "smithy.api#documentation": "Payload for creating an Entry."
          }
        },
        "updateEntry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1UpdateEntryRequest",
          "traits": {
            "smithy.api#documentation": "Payload for updating an Entry."
          }
        },
        "deleteEntry": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1DeleteEntryRequest",
          "traits": {
            "smithy.api#documentation": "Payload for deleting an Entry."
          }
        },
        "createEntryLink": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1CreateEntryLinkRequest",
          "traits": {
            "smithy.api#documentation": "Payload for creating an EntryLink."
          }
        },
        "deleteEntryLink": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1DeleteEntryLinkRequest",
          "traits": {
            "smithy.api#documentation": "Payload for deleting an EntryLink."
          }
        },
        "createGlossary": {
          "target": "com.gcp.dataplex_v1#GoogleCloudDataplexV1CreateGlossaryRequest",
          "traits": {
[...]
