{
  "smithy": "2.0",
  "metadata": {
    "service": "deploymentmanager",
    "version": "v2",
    "title": "Cloud Deployment Manager V2 API",
    "baseUrl": "https://deploymentmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.deploymentmanager_v2#Deployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional user-provided description of the deployment."
          }
        },
        "operation": {
          "target": "com.gcp.deploymentmanager_v2#Operation",
          "traits": {
            "smithy.api#documentation": "Output only. The Operation that most recently ran, or is currently running, on this deployment."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment."
          }
        },
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent."
          }
        },
        "update": {
          "target": "com.gcp.deploymentmanager_v2#DeploymentUpdate",
          "traits": {
            "smithy.api#documentation": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here."
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp in RFC3339 text format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp in RFC3339 text format."
          }
        },
        "target": {
          "target": "com.gcp.deploymentmanager_v2#TargetConfiguration",
          "traits": {
            "smithy.api#documentation": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates."
          }
        },
        "labels": {
          "target": "com.gcp.deploymentmanager_v2#DeploymentLabelEntryList",
          "traits": {
            "smithy.api#documentation": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server defined URL for the resource."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentLabelEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#DeploymentLabelEntry"
      }
    },
    "com.gcp.deploymentmanager_v2#Operation": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Type of the resource. Always `compute#operation` for Operation resources."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The unique identifier for the operation. This identifier is defined by the server."
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Deprecated] This field is deprecated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] Name of the operation."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations."
          }
        },
        "clientOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise."
          }
        },
        "operationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on."
          }
        },
        "targetLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource."
          }
        },
        "status": {
          "target": "com.gcp.deploymentmanager_v2#OperationStatusEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional textual description of the current status of the operation."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses."
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format."
          }
        },
        "error": {
          "target": "com.gcp.deploymentmanager_v2#OperationError",
          "traits": {
            "smithy.api#documentation": "[Output Only] If errors are generated during processing of the operation, this field will be populated."
          }
        },
        "warnings": {
          "target": "com.gcp.deploymentmanager_v2#OperationWarningsItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated."
          }
        },
        "httpErrorStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found."
          }
        },
        "httpErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] Server-defined URL for the resource."
          }
        },
        "selfLinkWithId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Server-defined URL for this resource with the resource id."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A textual description of the operation, which is set when the operation is created."
          }
        },
        "operationGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request."
          }
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "target": "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state."
          }
        },
        "instancesBulkInsertOperationMetadata": {
          "target": "com.gcp.deploymentmanager_v2#InstancesBulkInsertOperationMetadata"
        },
        "getVersionOperationMetadata": {
          "target": "com.gcp.deploymentmanager_v2#GetVersionOperationMetadata"
        },
        "firewallPolicyRuleOperationMetadata": {
          "target": "com.gcp.deploymentmanager_v2#FirewallPolicyRuleOperationMetadata"
        },
        "setAutoscalerLinkOperationMetadata": {
          "target": "com.gcp.deploymentmanager_v2#SetAutoscalerLinkOperationMetadata",
          "traits": {
            "smithy.api#documentation": "This field is used internally by the Autoscaler team and should not be promoted to \"alpha/beta/v1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period."
      }
    },
    "com.gcp.deploymentmanager_v2#OperationStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationError": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] The array of errors encountered while processing this operation."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationErrorErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The error type identifier for this error."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional, human-readable error message."
          }
        },
        "arguments": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field."
          }
        },
        "debugInfo": {
          "target": "com.gcp.deploymentmanager_v2#DebugInfo"
        },
        "errorDetails": {
          "target": "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemErrorDetailsItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemErrorDetailsItem": {
      "type": "structure",
      "members": {
        "errorInfo": {
          "target": "com.gcp.deploymentmanager_v2#ErrorInfo"
        },
        "quotaInfo": {
          "target": "com.gcp.deploymentmanager_v2#QuotaExceededInfo"
        },
        "help": {
          "target": "com.gcp.deploymentmanager_v2#Help"
        },
        "localizedMessage": {
          "target": "com.gcp.deploymentmanager_v2#LocalizedMessage"
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemErrorDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemErrorDetailsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#OperationErrorErrorsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#OperationErrorErrorsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#OperationWarningsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.deploymentmanager_v2#OperationWarningsItemCodeEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A human-readable description of the warning code."
          }
        },
        "data": {
          "target": "com.gcp.deploymentmanager_v2#OperationWarningsItemDataItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationWarningsItemCodeEnum": {
      "type": "enum",
      "members": {
        "DEPRECATED_RESOURCE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_RESOURCE_USED"
          }
        },
        "NO_RESULTS_ON_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESULTS_ON_PAGE"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        },
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_FOUND"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
          }
        },
        "NEXT_HOP_CANNOT_IP_FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_CANNOT_IP_FORWARD"
          }
        },
        "NEXT_HOP_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_NOT_RUNNING"
          }
        },
        "INJECTED_KERNELS_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INJECTED_KERNELS_DEPRECATED"
          }
        },
        "REQUIRED_TOS_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_TOS_AGREEMENT"
          }
        },
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
          }
        },
        "RESOURCE_NOT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_DELETED"
          }
        },
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
          }
        },
        "NOT_CRITICAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CRITICAL_ERROR"
          }
        },
        "CLEANUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANUP_FAILED"
          }
        },
        "FIELD_VALUE_OVERRIDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_VALUE_OVERRIDEN"
          }
        },
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
          }
        },
        "NETWORK_ENDPOINT_NOT_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_ENDPOINT_NOT_DETACHED"
          }
        },
        "PAGE_MISSING_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_MISSING_RESULTS"
          }
        },
        "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED"
          }
        },
        "RESOURCE_NOT_FOUND_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_FOUND_WARNING"
          }
        },
        "MISSING_TYPE_DEPENDENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_TYPE_DEPENDENCY"
          }
        },
        "EXTERNAL_API_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_API_WARNING"
          }
        },
        "SCHEMA_VALIDATION_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_VALIDATION_IGNORED"
          }
        },
        "UNDECLARED_PROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDECLARED_PROPERTIES"
          }
        },
        "EXPERIMENTAL_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENTAL_TYPE_USED"
          }
        },
        "DEPRECATED_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_TYPE_USED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "LARGE_DEPLOYMENT_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE_DEPLOYMENT_WARNING"
          }
        },
        "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE"
          }
        },
        "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB"
          }
        },
        "LIST_OVERHEAD_QUOTA_EXCEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_OVERHEAD_QUOTA_EXCEED"
          }
        },
        "QUOTA_INFO_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_INFO_UNAVAILABLE"
          }
        },
        "RESOURCE_USES_GLOBAL_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_USES_GLOBAL_DNS"
          }
        },
        "RATE_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMIT_EXCEEDED"
          }
        },
        "UPCOMING_MAINTENANCES_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPCOMING_MAINTENANCES_UNAVAILABLE"
          }
        },
        "RESERVED_ENTRY_136": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_136"
          }
        },
        "RESERVED_ENTRY_139": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_139"
          }
        },
        "RESERVED_ENTRY_141": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_141"
          }
        },
        "RESERVED_ENTRY_142": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_142"
          }
        },
        "RESERVED_ENTRY_143": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_143"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationWarningsItemDataItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A warning data value corresponding to the key."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#OperationWarningsItemDataItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#OperationWarningsItemDataItem"
      }
    },
    "com.gcp.deploymentmanager_v2#OperationWarningsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#OperationWarningsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#DebugInfo": {
      "type": "structure",
      "members": {
        "stackEntries": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The stack trace entries indicating where the error occurred."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional debugging information provided by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes additional debugging info."
      }
    },
    "com.gcp.deploymentmanager_v2#ErrorInfo": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
          }
        },
        "metadatas": {
          "target": "com.gcp.deploymentmanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
      }
    },
    "com.gcp.deploymentmanager_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.deploymentmanager_v2#QuotaExceededInfo": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine quota metric name."
          }
        },
        "limitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the quota limit."
          }
        },
        "dimensions": {
          "target": "com.gcp.deploymentmanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The map holding related quota dimensions."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current effective quota limit. The limit's unit depends on the quota type or metric."
          }
        },
        "futureLimit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Future quota limit being rolled out. The limit's unit depends on the quota type or metric."
          }
        },
        "rolloutStatus": {
          "target": "com.gcp.deploymentmanager_v2#QuotaExceededInfoRolloutStatusEnum",
          "traits": {
            "smithy.api#documentation": "Rollout status of the future quota limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for quota exceeded error for resource quota."
      }
    },
    "com.gcp.deploymentmanager_v2#QuotaExceededInfoRolloutStatusEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATUS_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#Help": {
      "type": "structure",
      "members": {
        "links": {
          "target": "com.gcp.deploymentmanager_v2#HelpLinkList",
          "traits": {
            "smithy.api#documentation": "URL(s) pointing to additional information on handling the current error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
      }
    },
    "com.gcp.deploymentmanager_v2#HelpLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#HelpLink"
      }
    },
    "com.gcp.deploymentmanager_v2#HelpLink": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what the link offers."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a URL link."
      }
    },
    "com.gcp.deploymentmanager_v2#LocalizedMessage": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized error message in the above locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
      }
    },
    "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadata": {
      "type": "structure",
      "members": {
        "clientOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The client operation id."
          }
        },
        "perLocationOperations": {
          "target": "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfoMap",
          "traits": {
            "smithy.api#documentation": "[Output Only] Status information per location (location name is key). Example key: zones/us-central1-a"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo"
      }
    },
    "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] Status of the action, which can be one of the following: `PROPAGATING`, `PROPAGATED`, `ABANDONED`, `FAILED`, or `DONE`."
          }
        },
        "error": {
          "target": "com.gcp.deploymentmanager_v2#Status",
          "traits": {
            "smithy.api#documentation": "[Output Only] If state is `ABANDONED` or `FAILED`, this field is populated."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfoStateEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPAGATING"
          }
        },
        "PROPAGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPAGATED"
          }
        },
        "ABANDONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABANDONED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.deploymentmanager_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.deploymentmanager_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.deploymentmanager_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#DocumentMap"
      }
    },
    "com.gcp.deploymentmanager_v2#InstancesBulkInsertOperationMetadata": {
      "type": "structure",
      "members": {
        "perLocationStatus": {
          "target": "com.gcp.deploymentmanager_v2#BulkInsertOperationStatusMap",
          "traits": {
            "smithy.api#documentation": "Status information per location (location name is key). Example key: zones/us-central1-a"
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#BulkInsertOperationStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.deploymentmanager_v2#BulkInsertOperationStatus"
      }
    },
    "com.gcp.deploymentmanager_v2#BulkInsertOperationStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.deploymentmanager_v2#BulkInsertOperationStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back."
          }
        },
        "targetVmCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] Count of VMs originally planned to be created."
          }
        },
        "createdVmCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] Count of VMs successfully created so far."
          }
        },
        "failedToCreateVmCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] Count of VMs that started creating but encountered an error."
          }
        },
        "deletedVmCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Output Only] Count of VMs that got deleted during rollback."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#BulkInsertOperationStatusStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ROLLING_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING_BACK"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#GetVersionOperationMetadata": {
      "type": "structure",
      "members": {
        "inlineSbomInfo": {
          "target": "com.gcp.deploymentmanager_v2#GetVersionOperationMetadataSbomInfo"
        }
      }
    },
    "com.gcp.deploymentmanager_v2#GetVersionOperationMetadataSbomInfo": {
      "type": "structure",
      "members": {
        "currentComponentVersions": {
          "target": "com.gcp.deploymentmanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "SBOM versions currently applied to the resource. The key is the component name and the value is the version."
          }
        },
        "targetComponentVersions": {
          "target": "com.gcp.deploymentmanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "SBOM versions scheduled for the next maintenance. The key is the component name and the value is the version."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#FirewallPolicyRuleOperationMetadata": {
      "type": "structure",
      "members": {
        "allocatedPriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#SetAutoscalerLinkOperationMetadata": {
      "type": "structure",
      "members": {
        "zonalIgmIds": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of zonal IGM IDs part of the RMIG."
          }
        },
        "zoneToIgmIds": {
          "target": "com.gcp.deploymentmanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentUpdate": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL of the manifest representing the update configuration of this deployment."
          }
        },
        "labels": {
          "target": "com.gcp.deploymentmanager_v2#DeploymentUpdateLabelEntryList",
          "traits": {
            "smithy.api#documentation": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An optional user-provided description of the deployment after the current update has been applied."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentUpdateLabelEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#DeploymentUpdateLabelEntry"
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentUpdateLabelEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the label"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label object for DeploymentUpdate"
      }
    },
    "com.gcp.deploymentmanager_v2#TargetConfiguration": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.deploymentmanager_v2#ConfigFile",
          "traits": {
            "smithy.api#documentation": "The configuration to use for this deployment."
          }
        },
        "imports": {
          "target": "com.gcp.deploymentmanager_v2#ImportFileList",
          "traits": {
            "smithy.api#documentation": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ImportFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#ImportFile"
      }
    },
    "com.gcp.deploymentmanager_v2#ConfigFile": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of the file."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ImportFile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of the file."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentLabelEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the label"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label object for Deployments"
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentsListResponse": {
      "type": "structure",
      "members": {
        "deployments": {
          "target": "com.gcp.deploymentmanager_v2#DeploymentList",
          "traits": {
            "smithy.api#documentation": "Output only. The deployments contained in this response."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token used to continue a truncated list request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated."
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#Deployment"
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentsCancelPreviewRequest": {
      "type": "structure",
      "members": {
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#DeploymentsStopRequest": {
      "type": "structure",
      "members": {
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.deploymentmanager_v2#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.deploymentmanager_v2#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.deploymentmanager_v2#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#Binding"
      }
    },
    "com.gcp.deploymentmanager_v2#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#AuditConfig"
      }
    },
    "com.gcp.deploymentmanager_v2#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.deploymentmanager_v2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.deploymentmanager_v2#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.deploymentmanager_v2#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.deploymentmanager_v2#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.deploymentmanager_v2#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#AuditLogConfig"
      }
    },
    "com.gcp.deploymentmanager_v2#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.deploymentmanager_v2#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.deploymentmanager_v2#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#GlobalSetPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.deploymentmanager_v2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Update mask for the policy."
          }
        },
        "bindings": {
          "target": "com.gcp.deploymentmanager_v2#BindingList",
          "traits": {
            "smithy.api#documentation": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#TestPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#TestPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#Manifest": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Self link for the manifest."
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the manifest."
          }
        },
        "config": {
          "target": "com.gcp.deploymentmanager_v2#ConfigFile",
          "traits": {
            "smithy.api#documentation": "Output only. The YAML configuration for this manifest."
          }
        },
        "imports": {
          "target": "com.gcp.deploymentmanager_v2#ImportFileList",
          "traits": {
            "smithy.api#documentation": "Output only. The imported files for this manifest."
          }
        },
        "expandedConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully-expanded configuration file, including any templates and references."
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp in RFC3339 text format."
          }
        },
        "layout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The YAML layout for this manifest."
          }
        },
        "manifestSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The computed size of the fully expanded manifest."
          }
        },
        "manifestSizeLimitBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size limit for expanded manifests in the project."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ManifestsListResponse": {
      "type": "structure",
      "members": {
        "manifests": {
          "target": "com.gcp.deploymentmanager_v2#ManifestList",
          "traits": {
            "smithy.api#documentation": "Output only. Manifests contained in this list response."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token used to continue a truncated list request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated."
      }
    },
    "com.gcp.deploymentmanager_v2#ManifestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#Manifest"
      }
    },
    "com.gcp.deploymentmanager_v2#OperationsListResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.deploymentmanager_v2#OperationList",
          "traits": {
            "smithy.api#documentation": "Output only. Operations contained in this list response."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token used to continue a truncated list request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated."
      }
    },
    "com.gcp.deploymentmanager_v2#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#Operation"
      }
    },
    "com.gcp.deploymentmanager_v2#Resource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the resource as it appears in the YAML config."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`."
          }
        },
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL of the manifest representing the current configuration of this resource."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the actual resource."
          }
        },
        "properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML."
          }
        },
        "finalProperties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML."
          }
        },
        "accessControl": {
          "target": "com.gcp.deploymentmanager_v2#ResourceAccessControl",
          "traits": {
            "smithy.api#documentation": "The Access Control Policy set on this resource."
          }
        },
        "update": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdate",
          "traits": {
            "smithy.api#documentation": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here."
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp in RFC3339 text format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp in RFC3339 text format."
          }
        },
        "warnings": {
          "target": "com.gcp.deploymentmanager_v2#ResourceWarningsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceWarningsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.deploymentmanager_v2#ResourceWarningsItemCodeEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A human-readable description of the warning code."
          }
        },
        "data": {
          "target": "com.gcp.deploymentmanager_v2#ResourceWarningsItemDataItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceWarningsItemCodeEnum": {
      "type": "enum",
      "members": {
        "DEPRECATED_RESOURCE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_RESOURCE_USED"
          }
        },
        "NO_RESULTS_ON_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESULTS_ON_PAGE"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        },
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_FOUND"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
          }
        },
        "NEXT_HOP_CANNOT_IP_FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_CANNOT_IP_FORWARD"
          }
        },
        "NEXT_HOP_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_NOT_RUNNING"
          }
        },
        "INJECTED_KERNELS_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INJECTED_KERNELS_DEPRECATED"
          }
        },
        "REQUIRED_TOS_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_TOS_AGREEMENT"
          }
        },
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
          }
        },
        "RESOURCE_NOT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_DELETED"
          }
        },
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
          }
        },
        "NOT_CRITICAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CRITICAL_ERROR"
          }
        },
        "CLEANUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANUP_FAILED"
          }
        },
        "FIELD_VALUE_OVERRIDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_VALUE_OVERRIDEN"
          }
        },
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
          }
        },
        "NETWORK_ENDPOINT_NOT_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_ENDPOINT_NOT_DETACHED"
          }
        },
        "PAGE_MISSING_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_MISSING_RESULTS"
          }
        },
        "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED"
          }
        },
        "RESOURCE_NOT_FOUND_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_FOUND_WARNING"
          }
        },
        "MISSING_TYPE_DEPENDENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_TYPE_DEPENDENCY"
          }
        },
        "EXTERNAL_API_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_API_WARNING"
          }
        },
        "SCHEMA_VALIDATION_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_VALIDATION_IGNORED"
          }
        },
        "UNDECLARED_PROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDECLARED_PROPERTIES"
          }
        },
        "EXPERIMENTAL_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENTAL_TYPE_USED"
          }
        },
        "DEPRECATED_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_TYPE_USED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "LARGE_DEPLOYMENT_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE_DEPLOYMENT_WARNING"
          }
        },
        "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE"
          }
        },
        "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB"
          }
        },
        "LIST_OVERHEAD_QUOTA_EXCEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_OVERHEAD_QUOTA_EXCEED"
          }
        },
        "QUOTA_INFO_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_INFO_UNAVAILABLE"
          }
        },
        "RESOURCE_USES_GLOBAL_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_USES_GLOBAL_DNS"
          }
        },
        "RATE_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMIT_EXCEEDED"
          }
        },
        "UPCOMING_MAINTENANCES_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPCOMING_MAINTENANCES_UNAVAILABLE"
          }
        },
        "RESERVED_ENTRY_136": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_136"
          }
        },
        "RESERVED_ENTRY_139": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_139"
          }
        },
        "RESERVED_ENTRY_141": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_141"
          }
        },
        "RESERVED_ENTRY_142": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_142"
          }
        },
        "RESERVED_ENTRY_143": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_ENTRY_143"
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceWarningsItemDataItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A warning data value corresponding to the key."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceWarningsItemDataItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#ResourceWarningsItemDataItem"
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceWarningsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#ResourceWarningsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceAccessControl": {
      "type": "structure",
      "members": {
        "gcpIamPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GCP IAM Policy to set on the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access controls set on the resource."
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdate": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL of the manifest representing the update configuration of this resource."
          }
        },
        "error": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateError",
          "traits": {
            "smithy.api#documentation": "Output only. If errors are generated during update of the resource, this field will be populated."
          }
        },
        "warnings": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateWarningsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
          }
        },
        "state": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the resource."
          }
        },
        "intent": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateIntentEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`."
          }
        },
        "properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML."
          }
        },
        "finalProperties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML."
          }
        },
        "accessControl": {
          "target": "com.gcp.deploymentmanager_v2#ResourceAccessControl",
          "traits": {
            "smithy.api#documentation": "The Access Control Policy to set on this resource after updating the resource itself."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateError": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] The array of errors encountered while processing this operation."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] The error type identifier for this error."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional, human-readable error message."
          }
        },
        "arguments": {
          "target": "com.gcp.deploymentmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field."
          }
        },
        "debugInfo": {
          "target": "com.gcp.deploymentmanager_v2#DebugInfo"
        },
        "errorDetails": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemErrorDetailsItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemErrorDetailsItem": {
      "type": "structure",
      "members": {
        "errorInfo": {
          "target": "com.gcp.deploymentmanager_v2#ErrorInfo"
        },
        "quotaInfo": {
          "target": "com.gcp.deploymentmanager_v2#QuotaExceededInfo"
        },
        "help": {
          "target": "com.gcp.deploymentmanager_v2#Help"
        },
        "localizedMessage": {
          "target": "com.gcp.deploymentmanager_v2#LocalizedMessage"
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemErrorDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemErrorDetailsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.deploymentmanager_v2#ResourceUpdateErrorErrorsItem"
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateWarningsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateWarningsItemCodeEnum",
          "traits": {
            "smithy.api#documentation": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Output Only] A human-readable description of the warning code."
          }
        },
        "data": {
          "target": "com.gcp.deploymentmanager_v2#ResourceUpdateWarningsItemDataItemList",
          "traits": {
            "smithy.api#documentation": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
          }
        }
      }
    },
    "com.gcp.deploymentmanager_v2#ResourceUpdateWarningsItemCodeEnum": {
      "type": "enum",
      "members": {
        "DEPRECATED_RESOURCE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_RESOURCE_USED"
          }
        },
        "NO_RESULTS_ON_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESULTS_ON_PAGE"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        },
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_FOUND"
          }
        },
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
          }
        },
        "NEXT_HOP_CANNOT_IP_FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_CANNOT_IP_FORWARD"
          }
        },
        "NEXT_HOP_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_NOT_RUNNING"
          }
        },
        "INJECTED_KERNELS_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INJECTED_KERNELS_DEPRECATED"
          }
        },
        "REQUIRED_TOS_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_TOS_AGREEMENT"
          }
        },
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
          }
        },
        "RESOURCE_NOT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_DELETED"
          }
        },
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
          }
        },
        "NOT_CRITICAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CRITICAL_ERROR"
          }
        },
        "CLEANUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANUP_FAILED"
          }
        },
        "FIELD_VALUE_OVERRIDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_VALUE_OVERRIDEN"
          }
        },
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
          }
        },
        "NETWORK_ENDPOINT_NOT_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_ENDPOINT_NOT_DETACHED"
          }
        },
        "PAGE_MISSING_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_MISSING_RESULTS"
          }
        },
        "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED"
          }
        },
        "RESOURCE_NOT_FOUND_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_FOUND_WARNING"
          }
        },
        "MISSING_TYPE_DEPENDENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_TYPE_DEPENDENCY"
          }
        },
        "EXTERNAL_API_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_API_WARNING"
          }
        },
        "SCHEMA_VALIDATION_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_VALIDATION_IGNORED"
          }
        },
        "UNDECLARED_PROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDECLARED_PROPERTIES"
          }
        },
        "EXPERIMENTAL_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENTAL_TYPE_USED"
          }
        },
        "DEPRECATED_TYPE_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_TYPE_USED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "LARGE_DEPLOYMENT_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
