{
  "smithy": "2.0",
  "metadata": {
    "service": "developerconnect",
    "version": "v1",
    "title": "Developer Connect API",
    "baseUrl": "https://developerconnect.googleapis.com/"
  },
  "shapes": {
    "com.gcp.developerconnect_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.developerconnect_v1#ListInsightsConfigsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "insightsConfigs": {
          "target": "com.gcp.developerconnect_v1#InsightsConfigList",
          "traits": {
            "smithy.api#documentation": "The list of InsightsConfigs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for response to listing InsightsConfigs."
      }
    },
    "com.gcp.developerconnect_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.developerconnect_v1#InsightsConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#InsightsConfig"
      }
    },
    "com.gcp.developerconnect_v1#ProcessBitbucketCloudWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.developerconnect_v1#HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. HTTP request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method."
      }
    },
    "com.gcp.developerconnect_v1#FetchUserRepositoriesResponse": {
      "type": "structure",
      "members": {
        "userRepos": {
          "target": "com.gcp.developerconnect_v1#UserRepositoryList",
          "traits": {
            "smithy.api#documentation": "The repositories that the user can access with this account connector."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for FetchUserRepositories."
      }
    },
    "com.gcp.developerconnect_v1#UserRepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#UserRepository"
      }
    },
    "com.gcp.developerconnect_v1#GitHubEnterpriseConfig": {
      "type": "structure",
      "members": {
        "appSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL-friendly name of the GitHub App."
          }
        },
        "appInstallationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the installation of the GitHub App."
          }
        },
        "sslCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate to use for requests to GitHub Enterprise."
          }
        },
        "installationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created."
          }
        },
        "privateKeySecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GitHub Enterprise version installed at the host_uri."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the GitHub App created from the manifest."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.developerconnect_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
          }
        },
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the GitHub Enterprise host this connection is for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to an instance of GitHub Enterprise."
      }
    },
    "com.gcp.developerconnect_v1#GoogleArtifactAnalysis": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project id of the project where the provenance is stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Artifact Analysis configurations."
      }
    },
    "com.gcp.developerconnect_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.developerconnect_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.developerconnect_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.developerconnect_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#DocumentMap"
      }
    },
    "com.gcp.developerconnect_v1#ProviderOAuthConfig": {
      "type": "structure",
      "members": {
        "systemProviderId": {
          "target": "com.gcp.developerconnect_v1#ProviderOAuthConfigSystemProviderIdEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Developer Connect provided OAuth."
          }
        },
        "scopes": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProviderOAuthConfig is the OAuth config for a provider."
      }
    },
    "com.gcp.developerconnect_v1#ProviderOAuthConfigSystemProviderIdEnum": {
      "type": "enum",
      "members": {
        "SYSTEM_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_PROVIDER_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITLAB"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "SENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENTRY"
          }
        },
        "ROVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROVO"
          }
        },
        "NEW_RELIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RELIC"
          }
        },
        "DATASTAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTAX"
          }
        },
        "DYNATRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNATRACE"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#DeploymentEvent": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.developerconnect_v1#DeploymentEventStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the DeploymentEvent."
          }
        },
        "artifactDeployments": {
          "target": "com.gcp.developerconnect_v1#ArtifactDeploymentList",
          "traits": {
            "smithy.api#documentation": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod."
          }
        },
        "deployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}"
          }
        },
        "runtimeConfig": {
          "target": "com.gcp.developerconnect_v1#RuntimeConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The runtime configurations where the DeploymentEvent happened."
          }
        },
        "undeployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update time of the DeploymentEvent."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create time of the DeploymentEvent."
          }
        },
        "runtimeDeploymentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource."
      }
    },
    "com.gcp.developerconnect_v1#DeploymentEventStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_INACTIVE"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#ArtifactDeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#ArtifactDeployment"
      }
    },
    "com.gcp.developerconnect_v1#InsightsConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}"
          }
        },
        "appHubApplication": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}"
          }
        },
        "runtimeConfigs": {
          "target": "com.gcp.developerconnect_v1#RuntimeConfigList",
          "traits": {
            "smithy.api#documentation": "Output only. The runtime configurations where the application is deployed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "annotations": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create timestamp."
          }
        },
        "errors": {
          "target": "com.gcp.developerconnect_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA."
          }
        },
        "projects": {
          "target": "com.gcp.developerconnect_v1#Projects",
          "traits": {
            "smithy.api#documentation": "Optional. The projects to track with the InsightsConfig."
          }
        },
        "labels": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with an InsightsConfig."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
          }
        },
        "artifactConfigs": {
          "target": "com.gcp.developerconnect_v1#ArtifactConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact configurations of the artifacts that are deployed."
          }
        },
        "state": {
          "target": "com.gcp.developerconnect_v1#InsightsConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The state of the InsightsConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them."
      }
    },
    "com.gcp.developerconnect_v1#RuntimeConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#RuntimeConfig"
      }
    },
    "com.gcp.developerconnect_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.developerconnect_v1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#Status"
      }
    },
    "com.gcp.developerconnect_v1#ArtifactConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#ArtifactConfig"
      }
    },
    "com.gcp.developerconnect_v1#InsightsConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#ArtifactDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of `ArtifactDeployment`."
          }
        },
        "containerStatusSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\""
          }
        },
        "artifactReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The artifact that is deployed."
          }
        },
        "deployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the deployment was deployed."
          }
        },
        "sourceCommitUris": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The source commits at which this artifact was built. Extracted from provenance."
          }
        },
        "undeployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set."
          }
        },
        "sourceCodeUris": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`"
          }
        },
        "artifactAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource."
      }
    },
    "com.gcp.developerconnect_v1#Projects": {
      "type": "structure",
      "members": {
        "projectIds": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The project IDs. Format: {project}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Projects represents the projects to track with the InsightsConfig."
      }
    },
    "com.gcp.developerconnect_v1#FetchReadTokenResponse": {
      "type": "structure",
      "members": {
        "gitUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp. Can be empty if unknown or non-expiring."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to get read token."
      }
    },
    "com.gcp.developerconnect_v1#BitbucketDataCenterConfig": {
      "type": "structure",
      "members": {
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.developerconnect_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
          }
        },
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the Bitbucket Data Center host this connection is for."
          }
        },
        "sslCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to an instance of Bitbucket Data Center."
      }
    },
    "com.gcp.developerconnect_v1#ProxyConfig": {
      "type": "structure",
      "members": {
        "httpProxyBaseUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The proxy configuration."
      }
    },
    "com.gcp.developerconnect_v1#AppHubWorkload": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The environment of the App Hub Workload."
          }
        },
        "workload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`."
          }
        },
        "criticality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The criticality of the App Hub Workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppHubWorkload represents the App Hub Workload."
      }
    },
    "com.gcp.developerconnect_v1#ArtifactConfig": {
      "type": "structure",
      "members": {
        "googleArtifactAnalysis": {
          "target": "com.gcp.developerconnect_v1#GoogleArtifactAnalysis",
          "traits": {
            "smithy.api#documentation": "Optional. Set if the artifact metadata is stored in Artifact analysis."
          }
        },
        "googleArtifactRegistry": {
          "target": "com.gcp.developerconnect_v1#GoogleArtifactRegistry",
          "traits": {
            "smithy.api#documentation": "Optional. Set if the artifact is stored in Artifact registry."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The artifact config of the artifact that is deployed."
      }
    },
    "com.gcp.developerconnect_v1#GitLabConfig": {
      "type": "structure",
      "members": {
        "authorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to gitlab.com."
      }
    },
    "com.gcp.developerconnect_v1#GitProxyConfig": {
      "type": "structure",
      "members": {
        "httpProxyBaseUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The git proxy configuration."
      }
    },
    "com.gcp.developerconnect_v1#GKEWorkload": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEWorkload represents the Google Kubernetes Engine runtime."
      }
    },
    "com.gcp.developerconnect_v1#ExchangeError": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for representing an error from exchanging OAuth tokens."
      }
    },
    "com.gcp.developerconnect_v1#ProcessGitHubEnterpriseWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.developerconnect_v1#HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. HTTP request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method."
      }
    },
    "com.gcp.developerconnect_v1#BitbucketCloudConfig": {
      "type": "structure",
      "members": {
        "authorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
          }
        },
        "workspace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to an instance of Bitbucket Cloud."
      }
    },
    "com.gcp.developerconnect_v1#CryptoKeyConfig": {
      "type": "structure",
      "members": {
        "keyReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature."
      }
    },
    "com.gcp.developerconnect_v1#ListDeploymentEventsResponse": {
      "type": "structure",
      "members": {
        "deploymentEvents": {
          "target": "com.gcp.developerconnect_v1#DeploymentEventList",
          "traits": {
            "smithy.api#documentation": "The list of DeploymentEvents."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to listing DeploymentEvents."
      }
    },
    "com.gcp.developerconnect_v1#DeploymentEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#DeploymentEvent"
      }
    },
    "com.gcp.developerconnect_v1#ListGitRepositoryLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "gitRepositoryLinks": {
          "target": "com.gcp.developerconnect_v1#GitRepositoryLinkList",
          "traits": {
            "smithy.api#documentation": "The list of GitRepositoryLinks"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing GitRepositoryLinks"
      }
    },
    "com.gcp.developerconnect_v1#GitRepositoryLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#GitRepositoryLink"
      }
    },
    "com.gcp.developerconnect_v1#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.developerconnect_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.developerconnect_v1#UserCredential": {
      "type": "structure",
      "members": {
        "userTokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The username associated with this token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a personal access token that authorized the Connection, and associated metadata."
      }
    },
    "com.gcp.developerconnect_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.developerconnect_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.developerconnect_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#Location"
      }
    },
    "com.gcp.developerconnect_v1#ListUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.gcp.developerconnect_v1#UserList",
          "traits": {
            "smithy.api#documentation": "The list of Users"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Users"
      }
    },
    "com.gcp.developerconnect_v1#UserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#User"
      }
    },
    "com.gcp.developerconnect_v1#ListAccountConnectorsResponse": {
      "type": "structure",
      "members": {
        "accountConnectors": {
          "target": "com.gcp.developerconnect_v1#AccountConnectorList",
          "traits": {
            "smithy.api#documentation": "The list of AccountConnectors"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing AccountConnectors"
      }
    },
    "com.gcp.developerconnect_v1#AccountConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#AccountConnector"
      }
    },
    "com.gcp.developerconnect_v1#GitRepositoryLink": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for the GitRepositoryLink."
          }
        },
        "cloneUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Git Clone URI."
          }
        },
        "labels": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Set to true when the connection is being set up or updated in the background."
          }
        },
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. External ID of the webhook created for the repository."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Delete timestamp"
          }
        },
        "gitProxyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create timestamp"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update timestamp"
          }
        },
        "annotations": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows clients to store small amounts of arbitrary data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the GitRepositoryLink object"
      }
    },
    "com.gcp.developerconnect_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.developerconnect_v1#FetchReadWriteTokenResponse": {
      "type": "structure",
      "members": {
        "gitUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp. Can be empty if unknown or non-expiring."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to get read/write token."
      }
    },
    "com.gcp.developerconnect_v1#FetchAccessTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for fetching an OAuth access token."
      }
    },
    "com.gcp.developerconnect_v1#InstallationState": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
          }
        },
        "stage": {
          "target": "com.gcp.developerconnect_v1#InstallationStateStageEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current step of the installation process."
          }
        },
        "actionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to follow for next action. Empty string if the installation is already complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
      }
    },
    "com.gcp.developerconnect_v1#InstallationStateStageEnum": {
      "type": "enum",
      "members": {
        "STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_UNSPECIFIED"
          }
        },
        "PENDING_CREATE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CREATE_APP"
          }
        },
        "PENDING_USER_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_USER_OAUTH"
          }
        },
        "PENDING_INSTALL_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_INSTALL_APP"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#GenericHTTPEndpointConfig": {
      "type": "structure",
      "members": {
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The service provider's https endpoint."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.developerconnect_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet."
          }
        },
        "bearerTokenAuthentication": {
          "target": "com.gcp.developerconnect_v1#BearerTokenAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Bearer token authentication with a token."
          }
        },
        "basicAuthentication": {
          "target": "com.gcp.developerconnect_v1#BasicAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Basic authentication with username and password."
          }
        },
        "sslCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SSL certificate to use for requests to the HTTP service provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the configuration for connections to an HTTP service provider."
      }
    },
    "com.gcp.developerconnect_v1#RuntimeConfig": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name."
          }
        },
        "state": {
          "target": "com.gcp.developerconnect_v1#RuntimeConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Runtime."
          }
        },
        "googleCloudRun": {
          "target": "com.gcp.developerconnect_v1#GoogleCloudRun",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Run runtime."
          }
        },
        "appHubWorkload": {
          "target": "com.gcp.developerconnect_v1#AppHubWorkload",
          "traits": {
            "smithy.api#documentation": "Output only. App Hub Workload."
          }
        },
        "appHubService": {
          "target": "com.gcp.developerconnect_v1#AppHubService",
          "traits": {
            "smithy.api#documentation": "Output only. App Hub Service."
          }
        },
        "gkeWorkload": {
          "target": "com.gcp.developerconnect_v1#GKEWorkload",
          "traits": {
            "smithy.api#documentation": "Output only. Google Kubernetes Engine runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RuntimeConfig represents the runtimes where the application is deployed."
      }
    },
    "com.gcp.developerconnect_v1#RuntimeConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED"
          }
        },
        "UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLINKED"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#CustomOAuthConfig": {
      "type": "structure",
      "members": {
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.developerconnect_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to connect to a private service."
          }
        },
        "scmProvider": {
          "target": "com.gcp.developerconnect_v1#CustomOAuthConfigScmProviderEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the SCM provider."
          }
        },
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The host URI of the OAuth application."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The client ID of the OAuth application."
          }
        },
        "sslCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL certificate to use for requests to a private service."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. SCM server version installed at the host URI."
          }
        },
        "tokenUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The OAuth2 token request URL."
          }
        },
        "pkceDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default."
          }
        },
        "authUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The OAuth2 authorization server URL."
          }
        },
        "scopes": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The scopes to be requested during OAuth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for a customized OAuth config."
      }
    },
    "com.gcp.developerconnect_v1#CustomOAuthConfigScmProviderEnum": {
      "type": "enum",
      "members": {
        "SCM_PROVIDER_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCM_PROVIDER_UNKNOWN"
          }
        },
        "GITHUB_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB_ENTERPRISE"
          }
        },
        "GITLAB_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITLAB_ENTERPRISE"
          }
        },
        "BITBUCKET_DATA_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BITBUCKET_DATA_CENTER"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#GitLabEnterpriseConfig": {
      "type": "structure",
      "members": {
        "sslCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the GitLab Enterprise server running on the `host_uri`."
          }
        },
        "webhookSecretSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
          }
        },
        "readAuthorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.developerconnect_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.developerconnect_v1#UserCredential",
          "traits": {
            "smithy.api#documentation": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
          }
        },
        "hostUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the GitLab Enterprise host this connection is for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to an instance of GitLab Enterprise."
      }
    },
    "com.gcp.developerconnect_v1#BearerTokenAuthentication": {
      "type": "structure",
      "members": {
        "tokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The token SecretManager secret version to authenticate as."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bearer token authentication with a token."
      }
    },
    "com.gcp.developerconnect_v1#FetchGitRefsResponse": {
      "type": "structure",
      "members": {
        "refNames": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Name of the refs fetched."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for fetching git refs."
      }
    },
    "com.gcp.developerconnect_v1#ProcessGitLabEnterpriseWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.developerconnect_v1#HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. HTTP request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method."
      }
    },
    "com.gcp.developerconnect_v1#GitHubConfig": {
      "type": "structure",
      "members": {
        "installationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig."
          }
        },
        "authorizerCredential": {
          "target": "com.gcp.developerconnect_v1#OAuthCredential",
          "traits": {
            "smithy.api#documentation": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config."
          }
        },
        "appInstallationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. GitHub App installation id."
          }
        },
        "githubApp": {
          "target": "com.gcp.developerconnect_v1#GitHubConfigGithubAppEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to github.com."
      }
    },
    "com.gcp.developerconnect_v1#GitHubConfigGithubAppEnum": {
      "type": "enum",
      "members": {
        "GIT_HUB_APP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIT_HUB_APP_UNSPECIFIED"
          }
        },
        "DEVELOPER_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER_CONNECT"
          }
        },
        "FIREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREBASE"
          }
        },
        "GEMINI_CODE_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEMINI_CODE_ASSIST"
          }
        },
        "DATAFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAFORM"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.developerconnect_v1#ProcessGitLabWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.developerconnect_v1#HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. HTTP request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RPC request object accepted by the ProcessGitLabWebhook RPC method."
      }
    },
    "com.gcp.developerconnect_v1#SecureSourceManagerInstanceConfig": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for connections to Secure Source Manager instance"
      }
    },
    "com.gcp.developerconnect_v1#Installation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the GitHub user or organization that owns this installation."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either \"user\" or \"organization\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the installation in GitHub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an installation of the GitHub App."
      }
    },
    "com.gcp.developerconnect_v1#AccountConnector": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the accountConnector was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the accountConnector was updated."
          }
        },
        "annotations": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows users to store small amounts of arbitrary data."
          }
        },
        "oauthStartUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start OAuth flow by clicking on this URL."
          }
        },
        "customOauthConfig": {
          "target": "com.gcp.developerconnect_v1#CustomOAuthConfig",
          "traits": {
            "smithy.api#documentation": "Custom OAuth config."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
          }
        },
        "labels": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "providerOauthConfig": {
          "target": "com.gcp.developerconnect_v1#ProviderOAuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Provider OAuth config."
          }
        },
        "proxyConfig": {
          "target": "com.gcp.developerconnect_v1#ProxyConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the http and git proxy features."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for the Account Connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints."
      }
    },
    "com.gcp.developerconnect_v1#ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.developerconnect_v1#ConnectionList",
          "traits": {
            "smithy.api#documentation": "The list of Connection"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Connections"
      }
    },
    "com.gcp.developerconnect_v1#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#Connection"
      }
    },
    "com.gcp.developerconnect_v1#Connection": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Set to true when the connection is being set up or updated in the background."
          }
        },
        "gitlabConfig": {
          "target": "com.gcp.developerconnect_v1#GitLabConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to gitlab.com."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for the Connection."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "httpConfig": {
          "target": "com.gcp.developerconnect_v1#GenericHTTPEndpointConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for connections to an HTTP service provider."
          }
        },
        "annotations": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Allows clients to store small amounts of arbitrary data."
          }
        },
        "cryptoKeyConfig": {
          "target": "com.gcp.developerconnect_v1#CryptoKeyConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature."
          }
        },
        "bitbucketDataCenterConfig": {
          "target": "com.gcp.developerconnect_v1#BitbucketDataCenterConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of Bitbucket Data Center."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
          }
        },
        "bitbucketCloudConfig": {
          "target": "com.gcp.developerconnect_v1#BitbucketCloudConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of Bitbucket Clouds."
          }
        },
        "gitlabEnterpriseConfig": {
          "target": "com.gcp.developerconnect_v1#GitLabEnterpriseConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of GitLab Enterprise."
          }
        },
        "labels": {
          "target": "com.gcp.developerconnect_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "githubConfig": {
          "target": "com.gcp.developerconnect_v1#GitHubConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to github.com."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update timestamp"
          }
        },
        "gitProxyConfig": {
          "target": "com.gcp.developerconnect_v1#GitProxyConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy)."
          }
        },
        "installationState": {
          "target": "com.gcp.developerconnect_v1#InstallationState",
          "traits": {
            "smithy.api#documentation": "Output only. Installation state of the Connection."
          }
        },
        "secureSourceManagerInstanceConfig": {
          "target": "com.gcp.developerconnect_v1#SecureSourceManagerInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of Secure Source Manager."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create timestamp"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Delete timestamp"
          }
        },
        "githubEnterpriseConfig": {
          "target": "com.gcp.developerconnect_v1#GitHubEnterpriseConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for connections to an instance of GitHub Enterprise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing Connection object"
      }
    },
    "com.gcp.developerconnect_v1#LinkableGitRepository": {
      "type": "structure",
      "members": {
        "cloneUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The clone uri of the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LinkableGitRepository represents a git repository that can be linked to a connection."
      }
    },
    "com.gcp.developerconnect_v1#FetchGitHubInstallationsResponse": {
      "type": "structure",
      "members": {
        "installations": {
          "target": "com.gcp.developerconnect_v1#InstallationList",
          "traits": {
            "smithy.api#documentation": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of fetching github installations."
      }
    },
    "com.gcp.developerconnect_v1#InstallationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#Installation"
      }
    },
    "com.gcp.developerconnect_v1#AppHubService": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The environment of the App Hub Service."
          }
        },
        "apphubService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`."
          }
        },
        "criticality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The criticality of the App Hub Service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppHubService represents the App Hub Service."
      }
    },
    "com.gcp.developerconnect_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.developerconnect_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.developerconnect_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.developerconnect_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.developerconnect_v1#HttpBody": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.developerconnect_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.developerconnect_v1#User": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address."
          }
        },
        "lastTokenRequestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the token was last requested."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the user was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User represents a user connected to the service providers through a AccountConnector."
      }
    },
    "com.gcp.developerconnect_v1#FinishOAuthResponse": {
      "type": "structure",
      "members": {
        "exchangeError": {
          "target": "com.gcp.developerconnect_v1#ExchangeError",
          "traits": {
            "smithy.api#documentation": "The error resulted from exchanging OAuth tokens from the service provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to finishing an OAuth flow."
      }
    },
    "com.gcp.developerconnect_v1#OAuthCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The username associated with this token."
          }
        },
        "oauthTokenSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
      }
    },
    "com.gcp.developerconnect_v1#FetchReadWriteTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for fetching SCM read/write token."
      }
    },
    "com.gcp.developerconnect_v1#GoogleCloudRun": {
      "type": "structure",
      "members": {
        "serviceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GoogleCloudRun represents the Cloud Run runtime."
      }
    },
    "com.gcp.developerconnect_v1#StartOAuthResponse": {
      "type": "structure",
      "members": {
        "authUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization server URL to the OAuth flow of the service provider."
          }
        },
        "systemProviderId": {
          "target": "com.gcp.developerconnect_v1#StartOAuthResponseSystemProviderIdEnum",
          "traits": {
            "smithy.api#documentation": "The ID of the system provider."
          }
        },
        "codeChallenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1"
          }
        },
        "ticket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ticket to be used for post processing the callback from the service provider."
          }
        },
        "codeChallengeMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2"
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID to the OAuth App of the service provider."
          }
        },
        "scopes": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of scopes requested by the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to starting an OAuth flow."
      }
    },
    "com.gcp.developerconnect_v1#StartOAuthResponseSystemProviderIdEnum": {
      "type": "enum",
      "members": {
        "SYSTEM_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_PROVIDER_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITLAB"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "SENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENTRY"
          }
        },
        "ROVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROVO"
          }
        },
        "NEW_RELIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RELIC"
          }
        },
        "DATASTAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTAX"
          }
        },
        "DYNATRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNATRACE"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.developerconnect_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.developerconnect_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#Operation"
      }
    },
    "com.gcp.developerconnect_v1#ServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceDirectoryConfig represents Service Directory configuration for a connection."
      }
    },
    "com.gcp.developerconnect_v1#FetchLinkableGitRepositoriesResponse": {
      "type": "structure",
      "members": {
        "linkableGitRepositories": {
          "target": "com.gcp.developerconnect_v1#LinkableGitRepositoryList",
          "traits": {
            "smithy.api#documentation": "The git repositories that can be linked to the connection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for FetchLinkableGitRepositories."
      }
    },
    "com.gcp.developerconnect_v1#LinkableGitRepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.developerconnect_v1#LinkableGitRepository"
      }
    },
    "com.gcp.developerconnect_v1#BasicAuthentication": {
      "type": "structure",
      "members": {
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password SecretManager secret version to authenticate as."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The username to authenticate as."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic authentication with username and password."
      }
    },
    "com.gcp.developerconnect_v1#GoogleArtifactRegistry": {
      "type": "structure",
      "members": {
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The name of the artifact registry package."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The host project of Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Artifact Registry configurations."
      }
    },
    "com.gcp.developerconnect_v1#FetchReadTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for fetching SCM read token."
      }
    },
    "com.gcp.developerconnect_v1#UserRepository": {
      "type": "structure",
      "members": {
        "gitProxyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user friendly repo name (e.g., myuser/myrepo)"
          }
        },
        "cloneUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo."
      }
    },
    "com.gcp.developerconnect_v1#FetchAccessTokenResponse": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The scopes of the access token."
          }
        },
        "exchangeError": {
          "target": "com.gcp.developerconnect_v1#ExchangeError",
          "traits": {
            "smithy.api#documentation": "The error resulted from exchanging OAuth tokens from the service provider."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token content."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration timestamp. Can be empty if unknown or non-expiring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for responding to getting an OAuth access token."
      }
    },
    "com.gcp.developerconnect_v1#ProcessBitbucketDataCenterWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.developerconnect_v1#HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. HTTP request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method."
      }
    },
    "com.gcp.developerconnect_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "extraLocationTypes": {
          "target": "com.gcp.developerconnect_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.developerconnect_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
[...]
