{
  "smithy": "2.0",
  "metadata": {
    "service": "dfareporting",
    "version": "v5",
    "title": "Campaign Manager 360 API",
    "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/"
  },
  "shapes": {
    "com.gcp.dfareporting_v5#Recipient": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the recipient."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#recipient."
          }
        },
        "deliveryType": {
          "target": "com.gcp.dfareporting_v5#RecipientDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "The delivery type for the recipient."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a recipient."
      }
    },
    "com.gcp.dfareporting_v5#RecipientDeliveryTypeEnum": {
      "type": "enum",
      "members": {
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#DynamicRules": {
      "type": "structure",
      "members": {
        "remarketingValueAttributes": {
          "target": "com.gcp.dfareporting_v5#RemarketingValueAttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The link between an element field ID and a list of user attribute IDs."
          }
        },
        "rotationType": {
          "target": "com.gcp.dfareporting_v5#DynamicRulesRotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows."
          }
        },
        "autoTargetedFieldIds": {
          "target": "com.gcp.dfareporting_v5#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO."
          }
        },
        "weightFieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED."
          }
        },
        "customRules": {
          "target": "com.gcp.dfareporting_v5#CustomRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
          }
        },
        "customValueFields": {
          "target": "com.gcp.dfareporting_v5#CustomValueFieldList",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping between field ID and custom key that are used to match for auto filtering."
          }
        },
        "ruleType": {
          "target": "com.gcp.dfareporting_v5#DynamicRulesRuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the rule, the default value is OPEN."
          }
        },
        "proximityFilter": {
          "target": "com.gcp.dfareporting_v5#ProximityFilter",
          "traits": {
            "smithy.api#documentation": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains dynamic rules information."
      }
    },
    "com.gcp.dfareporting_v5#RemarketingValueAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#RemarketingValueAttribute"
      }
    },
    "com.gcp.dfareporting_v5#DynamicRulesRotationTypeEnum": {
      "type": "enum",
      "members": {
        "ROTATION_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_TYPE_UNKNOWN"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZED"
          }
        },
        "WEIGHTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHTED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.dfareporting_v5#CustomRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CustomRule"
      }
    },
    "com.gcp.dfareporting_v5#CustomValueFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CustomValueField"
      }
    },
    "com.gcp.dfareporting_v5#DynamicRulesRuleTypeEnum": {
      "type": "enum",
      "members": {
        "RULE_SET_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_SET_TYPE_UNKNOWN"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "PROXIMITY_TARGETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXIMITY_TARGETING"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#SiteSkippableSetting": {
      "type": "structure",
      "members": {
        "skippable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site."
          }
        },
        "skipOffset": {
          "target": "com.gcp.dfareporting_v5#VideoOffset",
          "traits": {
            "smithy.api#documentation": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\"."
          }
        },
        "progressOffset": {
          "target": "com.gcp.dfareporting_v5#VideoOffset",
          "traits": {
            "smithy.api#documentation": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Skippable Settings"
      }
    },
    "com.gcp.dfareporting_v5#PlacementSingleConversionDomain": {
      "type": "structure",
      "members": {
        "conversionDomainId": {
          "target": "smithy.api#String"
        },
        "conversionDomainValue": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dfareporting_v5#RemarketingValueAttribute": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Field ID in the element."
          }
        },
        "userAttributeIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Remarketing user attribute IDs for auto filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains remarketing value attribute information."
      }
    },
    "com.gcp.dfareporting_v5#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dfareporting_v5#CreativeAssignment": {
      "type": "structure",
      "members": {
        "richMediaExitOverrides": {
          "target": "com.gcp.dfareporting_v5#RichMediaExitOverrideList",
          "traits": {
            "smithy.api#documentation": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR "
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation."
          }
        },
        "companionCreativeOverrides": {
          "target": "com.gcp.dfareporting_v5#CompanionClickThroughOverrideList",
          "traits": {
            "smithy.api#documentation": "Companion creative overrides for this creative assignment. Applicable to video ads."
          }
        },
        "clickThroughUrl": {
          "target": "com.gcp.dfareporting_v5#ClickThroughUrl",
          "traits": {
            "smithy.api#documentation": "Click-through URL of the creative assignment."
          }
        },
        "creativeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the creative to be assigned. This is a required field."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1."
          }
        },
        "applyEventTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO."
          }
        },
        "sequence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive."
          }
        },
        "sslCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
          }
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "creativeGroupAssignments": {
          "target": "com.gcp.dfareporting_v5#CreativeGroupAssignmentList",
          "traits": {
            "smithy.api#documentation": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments."
          }
        },
        "creativeIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the creative. This is a read-only, auto-generated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative Assignment."
      }
    },
    "com.gcp.dfareporting_v5#RichMediaExitOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#RichMediaExitOverride"
      }
    },
    "com.gcp.dfareporting_v5#CompanionClickThroughOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CompanionClickThroughOverride"
      }
    },
    "com.gcp.dfareporting_v5#CreativeGroupAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CreativeGroupAssignment"
      }
    },
    "com.gcp.dfareporting_v5#FloodlightActivitiesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        },
        "floodlightActivities": {
          "target": "com.gcp.dfareporting_v5#FloodlightActivityList",
          "traits": {
            "smithy.api#documentation": "Floodlight activity collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Floodlight Activity List Response"
      }
    },
    "com.gcp.dfareporting_v5#FloodlightActivityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#FloodlightActivity"
      }
    },
    "com.gcp.dfareporting_v5#FieldFilter": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.gcp.dfareporting_v5#FieldFilterMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Left hand side of the expression match type."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The boolean values, only applicable when rhs_value_type is BOOL."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The string value, only applicable when rhs_value_type is STRING."
          }
        },
        "dependentFieldValue": {
          "target": "com.gcp.dfareporting_v5#DependentFieldValue",
          "traits": {
            "smithy.api#documentation": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT."
          }
        },
        "requestValue": {
          "target": "com.gcp.dfareporting_v5#RequestValue",
          "traits": {
            "smithy.api#documentation": "Optional. The request value, only applicable when rhs_value_type is REQUEST."
          }
        },
        "fieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field ID on the left hand side of the expression."
          }
        },
        "valueType": {
          "target": "com.gcp.dfareporting_v5#FieldFilterValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Right hand side of the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains field filter information."
      }
    },
    "com.gcp.dfareporting_v5#FieldFilterMatchTypeEnum": {
      "type": "enum",
      "members": {
        "LHS_MATCH_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LHS_MATCH_TYPE_UNKNOWN"
          }
        },
        "EQUALS_OR_UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS_OR_UNRESTRICTED"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESTRICTED"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EQUALS"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#FieldFilterValueTypeEnum": {
      "type": "enum",
      "members": {
        "RHS_VALUE_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RHS_VALUE_TYPE_UNKNOWN"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "DEPENDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#FloodlightActivityDynamicTag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this dynamic tag. This is a read-only, auto-generated field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this tag."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic Tag"
      }
    },
    "com.gcp.dfareporting_v5#TargetingTemplatesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\"."
          }
        },
        "targetingTemplates": {
          "target": "com.gcp.dfareporting_v5#TargetingTemplateList",
          "traits": {
            "smithy.api#documentation": "Targeting template collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting Template List Response"
      }
    },
    "com.gcp.dfareporting_v5#TargetingTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#TargetingTemplate"
      }
    },
    "com.gcp.dfareporting_v5#ContentCategory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this content category. This is a read-only, auto-generated field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\"."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this content category. This is a read-only field that can be left blank."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CountriesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
          }
        },
        "countries": {
          "target": "com.gcp.dfareporting_v5#CountryList",
          "traits": {
            "smithy.api#documentation": "Country collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Country List Response"
      }
    },
    "com.gcp.dfareporting_v5#CountryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Country"
      }
    },
    "com.gcp.dfareporting_v5#DirectorySite": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this directory site. This is a read-only, auto-generated field."
          }
        },
        "idDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
          }
        },
        "settings": {
          "target": "com.gcp.dfareporting_v5#DirectorySiteSettings",
          "traits": {
            "smithy.api#documentation": "Directory site settings."
          }
        },
        "publisherSpecificationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
          }
        },
        "interstitialTagFormats": {
          "target": "com.gcp.dfareporting_v5#DirectorySiteInterstitialTagFormatsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of this directory site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this directory site."
          }
        },
        "inpageTagFormats": {
          "target": "com.gcp.dfareporting_v5#DirectorySiteInpageTagFormatsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement."
      }
    },
    "com.gcp.dfareporting_v5#DirectorySiteInterstitialTagFormatsItemEnum": {
      "type": "enum",
      "members": {
        "IFRAME_JAVASCRIPT_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IFRAME_JAVASCRIPT_INTERSTITIAL"
          }
        },
        "INTERNAL_REDIRECT_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_REDIRECT_INTERSTITIAL"
          }
        },
        "JAVASCRIPT_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVASCRIPT_INTERSTITIAL"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#DirectorySiteInterstitialTagFormatsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DirectorySiteInterstitialTagFormatsItemEnum"
      }
    },
    "com.gcp.dfareporting_v5#DirectorySiteInpageTagFormatsItemEnum": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "IFRAME_JAVASCRIPT_INPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IFRAME_JAVASCRIPT_INPAGE"
          }
        },
        "INTERNAL_REDIRECT_INPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_REDIRECT_INPAGE"
          }
        },
        "JAVASCRIPT_INPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVASCRIPT_INPAGE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#DirectorySiteInpageTagFormatsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DirectorySiteInpageTagFormatsItemEnum"
      }
    },
    "com.gcp.dfareporting_v5#Campaign": {
      "type": "structure",
      "members": {
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this campaign. This is a read-only field that can be left blank."
          }
        },
        "additionalCreativeOptimizationConfigurations": {
          "target": "com.gcp.dfareporting_v5#CreativeOptimizationConfigurationList",
          "traits": {
            "smithy.api#documentation": "Additional creative optimization configurations for the campaign."
          }
        },
        "endDate": {
          "target": "smithy.api#String"
        },
        "idDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field."
          }
        },
        "euPoliticalAdsDeclaration": {
          "target": "com.gcp.dfareporting_v5#CampaignEuPoliticalAdsDeclarationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions."
          }
        },
        "billingInvoiceCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this campaign. This is a read-only field that can be left blank."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser."
          }
        },
        "measurementPartnerLink": {
          "target": "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLink",
          "traits": {
            "smithy.api#documentation": "Measurement partner campaign link for tag wrapping."
          }
        },
        "adBlockingConfiguration": {
          "target": "com.gcp.dfareporting_v5#AdBlockingConfiguration",
          "traits": {
            "smithy.api#documentation": "Ad blocking settings for this campaign."
          }
        },
        "audienceSegmentGroups": {
          "target": "com.gcp.dfareporting_v5#AudienceSegmentGroupList",
          "traits": {
            "smithy.api#documentation": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups."
          }
        },
        "lastModifiedInfo": {
          "target": "com.gcp.dfareporting_v5#LastModifiedInfo",
          "traits": {
            "smithy.api#documentation": "Information about the most recent modification of this campaign. This is a read-only field."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary comments about this campaign. Must be less than 256 characters long."
          }
        },
        "creativeOptimizationConfiguration": {
          "target": "com.gcp.dfareporting_v5#CreativeOptimizationConfiguration",
          "traits": {
            "smithy.api#documentation": "Creative optimization configuration for the campaign."
          }
        },
        "eventTagOverrides": {
          "target": "com.gcp.dfareporting_v5#EventTagOverrideList",
          "traits": {
            "smithy.api#documentation": "Overrides that can be used to activate or deactivate advertiser event tags."
          }
        },
        "createInfo": {
          "target": "com.gcp.dfareporting_v5#LastModifiedInfo",
          "traits": {
            "smithy.api#documentation": "Information about the creation of this campaign. This is a read-only field."
          }
        },
        "defaultLandingPageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default landing page ID for this campaign."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser ID of this campaign. This is a required field."
          }
        },
        "advertiserGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser group ID of the associated advertiser."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this campaign has been archived."
          }
        },
        "clickThroughUrlSuffixProperties": {
          "target": "com.gcp.dfareporting_v5#ClickThroughUrlSuffixProperties",
          "traits": {
            "smithy.api#documentation": "Click-through URL suffix override properties for this campaign."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this campaign. This is a read-only auto-generated field."
          }
        },
        "defaultClickThroughEventTagProperties": {
          "target": "com.gcp.dfareporting_v5#DefaultClickThroughEventTagProperties",
          "traits": {
            "smithy.api#documentation": "Click-through event tag ID override properties for this campaign."
          }
        },
        "startDate": {
          "target": "smithy.api#String"
        },
        "creativeGroupIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "List of creative group IDs that are assigned to the campaign."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External ID for this campaign."
          }
        },
        "advertiserIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a Campaign Manager campaign."
      }
    },
    "com.gcp.dfareporting_v5#CreativeOptimizationConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CreativeOptimizationConfiguration"
      }
    },
    "com.gcp.dfareporting_v5#CampaignEuPoliticalAdsDeclarationEnum": {
      "type": "enum",
      "members": {
        "CONTAINS_EU_POLITICAL_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS_EU_POLITICAL_ADS"
          }
        },
        "DOES_NOT_CONTAIN_EU_POLITICAL_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#AudienceSegmentGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#AudienceSegmentGroup"
      }
    },
    "com.gcp.dfareporting_v5#EventTagOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#EventTagOverride"
      }
    },
    "com.gcp.dfareporting_v5#OffsetPosition": {
      "type": "structure",
      "members": {
        "top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Offset distance from top side of an asset or a window."
          }
        },
        "left": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Offset distance from left side of an asset or a window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Offset Position."
      }
    },
    "com.gcp.dfareporting_v5#UniversalAdId": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
          }
        },
        "registry": {
          "target": "com.gcp.dfareporting_v5#UniversalAdIdRegistryEnum",
          "traits": {
            "smithy.api#documentation": "Registry used for the Ad ID value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID."
      }
    },
    "com.gcp.dfareporting_v5#UniversalAdIdRegistryEnum": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "AD_ID_OFFICIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_ID_OFFICIAL"
          }
        },
        "CLEARCAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEARCAST"
          }
        },
        "DCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DCM"
          }
        },
        "ARPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARPP"
          }
        },
        "CUSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSV"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CustomValueField": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Field ID in the element."
          }
        },
        "requestKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Custom key used to match for auto filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains custom value field information."
      }
    },
    "com.gcp.dfareporting_v5#Dimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension name, e.g. advertiser"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a dimension."
      }
    },
    "com.gcp.dfareporting_v5#RuleBlock": {
      "type": "structure",
      "members": {
        "fieldFilter": {
          "target": "com.gcp.dfareporting_v5#FieldFilterList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of non-auto field filters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of field filters that the given custom rule will apply."
      }
    },
    "com.gcp.dfareporting_v5#FieldFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#FieldFilter"
      }
    },
    "com.gcp.dfareporting_v5#DynamicProfileVersion": {
      "type": "structure",
      "members": {
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions."
          }
        },
        "dynamicProfileFeedSettings": {
          "target": "com.gcp.dfareporting_v5#DynamicProfileFeedSettingsList",
          "traits": {
            "smithy.api#documentation": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains dynamic profile version information."
      }
    },
    "com.gcp.dfareporting_v5#DynamicProfileFeedSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DynamicProfileFeedSettings"
      }
    },
    "com.gcp.dfareporting_v5#ReportCompatibleFields": {
      "type": "structure",
      "members": {
        "pivotedActivityMetrics": {
          "target": "com.gcp.dfareporting_v5#MetricList",
          "traits": {
            "smithy.api#documentation": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#reportCompatibleFields."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionList",
          "traits": {
            "smithy.api#documentation": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
          }
        },
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#DimensionList",
          "traits": {
            "smithy.api#documentation": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
          }
        },
        "metrics": {
          "target": "com.gcp.dfareporting_v5#MetricList",
          "traits": {
            "smithy.api#documentation": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents fields that are compatible to be selected for a report of type \"STANDARD\"."
      }
    },
    "com.gcp.dfareporting_v5#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Metric"
      }
    },
    "com.gcp.dfareporting_v5#DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Dimension"
      }
    },
    "com.gcp.dfareporting_v5#ObjectFilter": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.dfareporting_v5#ObjectFilterStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list."
          }
        },
        "objectIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object Filter."
      }
    },
    "com.gcp.dfareporting_v5#ObjectFilterStatusEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#AdsListResponse": {
      "type": "structure",
      "members": {
        "ads": {
          "target": "com.gcp.dfareporting_v5#AdList",
          "traits": {
            "smithy.api#documentation": "Ad collection."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad List Response"
      }
    },
    "com.gcp.dfareporting_v5#AdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Ad"
      }
    },
    "com.gcp.dfareporting_v5#MobileApp": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "com.gcp.dfareporting_v5#MobileAppDirectoryEnum",
          "traits": {
            "smithy.api#documentation": "Mobile app directory."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of this mobile app."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this mobile app."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a mobile app. Used as a landing page deep link."
      }
    },
    "com.gcp.dfareporting_v5#MobileAppDirectoryEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "APPLE_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLE_APP_STORE"
          }
        },
        "GOOGLE_PLAY_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PLAY_STORE"
          }
        },
        "ROKU_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROKU_APP_STORE"
          }
        },
        "AMAZON_FIRETV_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_FIRETV_APP_STORE"
          }
        },
        "PLAYSTATION_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYSTATION_APP_STORE"
          }
        },
        "APPLE_TV_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLE_TV_APP_STORE"
          }
        },
        "XBOX_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XBOX_APP_STORE"
          }
        },
        "SAMSUNG_TV_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG_TV_APP_STORE"
          }
        },
        "ANDROID_TV_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID_TV_APP_STORE"
          }
        },
        "GENERIC_CTV_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_CTV_APP_STORE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#TargetableRemarketingList": {
      "type": "structure",
      "members": {
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension value for the advertiser ID that owns this targetable remarketing list."
          }
        },
        "advertiserIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the advertiser."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targetable remarketing list description."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targetable remarketing list ID."
          }
        },
        "listSource": {
          "target": "com.gcp.dfareporting_v5#TargetableRemarketingListListSourceEnum",
          "traits": {
            "smithy.api#documentation": "Product from which this targetable remarketing list was originated."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\"."
          }
        },
        "listSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of users currently in the list. This is a read-only field."
          }
        },
        "lifeSpan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of days that a user should remain in the targetable remarketing list without an impression."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this targetable remarketing list is active."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the targetable remarketing list. Is no greater than 128 characters long."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource."
      }
    },
    "com.gcp.dfareporting_v5#TargetableRemarketingListListSourceEnum": {
      "type": "enum",
      "members": {
        "REMARKETING_LIST_SOURCE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_OTHER"
          }
        },
        "REMARKETING_LIST_SOURCE_ADX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_ADX"
          }
        },
        "REMARKETING_LIST_SOURCE_DFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DFP"
          }
        },
        "REMARKETING_LIST_SOURCE_XFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_XFP"
          }
        },
        "REMARKETING_LIST_SOURCE_DFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DFA"
          }
        },
        "REMARKETING_LIST_SOURCE_GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_GA"
          }
        },
        "REMARKETING_LIST_SOURCE_YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_YOUTUBE"
          }
        },
        "REMARKETING_LIST_SOURCE_DBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DBM"
          }
        },
        "REMARKETING_LIST_SOURCE_GPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_GPLUS"
          }
        },
        "REMARKETING_LIST_SOURCE_DMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DMP"
          }
        },
        "REMARKETING_LIST_SOURCE_PLAY_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_PLAY_STORE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#PlatformTypesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\"."
          }
        },
        "platformTypes": {
          "target": "com.gcp.dfareporting_v5#PlatformTypeList",
          "traits": {
            "smithy.api#documentation": "Platform type collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Platform Type List Response"
      }
    },
    "com.gcp.dfareporting_v5#PlatformTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#PlatformType"
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLink": {
      "type": "structure",
      "members": {
        "measurementPartner": {
          "target": "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkMeasurementPartnerEnum",
          "traits": {
            "smithy.api#documentation": "Measurement partner used for tag wrapping."
          }
        },
        "partnerCampaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner campaign ID needed for establishing linking with Measurement partner."
          }
        },
        "linkStatus": {
          "target": "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkLinkStatusEnum",
          "traits": {
            "smithy.api#documentation": "."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkMeasurementPartnerEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "INTEGRAL_AD_SCIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRAL_AD_SCIENCE"
          }
        },
        "DOUBLE_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VERIFY"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkLinkStatusEnum": {
      "type": "enum",
      "members": {
        "MEASUREMENT_PARTNER_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_UNLINKED"
          }
        },
        "MEASUREMENT_PARTNER_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINKED"
          }
        },
        "MEASUREMENT_PARTNER_LINK_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_LINK_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_FAILURE"
          }
        },
        "MEASUREMENT_PARTNER_LINK_OPT_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_OPT_OUT"
          }
        },
        "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_UNLINK_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_UNLINK_PENDING"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#BillingRatesListResponse": {
      "type": "structure",
      "members": {
        "billingRates": {
          "target": "com.gcp.dfareporting_v5#BillingRateList",
          "traits": {
            "smithy.api#documentation": "Billing rates collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing Rate List Response"
      }
    },
    "com.gcp.dfareporting_v5#BillingRateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#BillingRate"
      }
    },
    "com.gcp.dfareporting_v5#TvCampaignSummariesListResponse": {
      "type": "structure",
      "members": {
        "tvCampaignSummaries": {
          "target": "com.gcp.dfareporting_v5#TvCampaignSummaryList",
          "traits": {
            "smithy.api#documentation": "List of TV campaign summaries."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for TvCampaignSummariesService.List."
      }
    },
    "com.gcp.dfareporting_v5#TvCampaignSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#TvCampaignSummary"
      }
    },
    "com.gcp.dfareporting_v5#DimensionValue": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#dimensionValue."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the dimension."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID associated with the value if available."
          }
        },
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dimension."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag of this response for caching purposes."
          }
        },
        "matchType": {
          "target": "com.gcp.dfareporting_v5#DimensionValueMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a DimensionValue resource."
      }
    },
    "com.gcp.dfareporting_v5#DimensionValueMatchTypeEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT"
          }
        },
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "WILDCARD_EXPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDCARD_EXPRESSION"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#BillingProfile": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this billing profile. This is a read-only, auto-generated field."
          }
        },
        "invoiceLevel": {
          "target": "com.gcp.dfareporting_v5#BillingProfileInvoiceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code of this billing profile.This is a read-only field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account."
          }
        },
        "paymentsAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the payment account the billing profile belongs to. This is a read-only field."
          }
        },
        "status": {
          "target": "com.gcp.dfareporting_v5#BillingProfileStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this billing profile.This is a read-only field."
          }
        },
        "secondaryPaymentsCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field."
          }
        },
        "purchaseOrder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile."
          }
        },
        "consolidatedInvoice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing currency code in ISO 4217 format.This is a read-only field."
          }
        },
        "paymentsCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the payment customer the billing profile belongs to. This is a read-only field."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the billing profile is the account default profile. This is a read-only field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a Campaign Manager Billing Profile."
      }
    },
    "com.gcp.dfareporting_v5#BillingProfileInvoiceLevelEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_LEVEL"
          }
        },
        "ADVERTISER_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_LEVEL"
          }
        },
        "CAMPAIGN_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMPAIGN_LEVEL"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#BillingProfileStatusEnum": {
      "type": "enum",
      "members": {
        "UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_REVIEW"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CreativeFieldsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\"."
          }
        },
        "creativeFields": {
          "target": "com.gcp.dfareporting_v5#CreativeFieldList",
          "traits": {
            "smithy.api#documentation": "Creative field collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative Field List Response"
      }
    },
    "com.gcp.dfareporting_v5#CreativeFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CreativeField"
      }
    },
    "com.gcp.dfareporting_v5#MobileAppsListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        },
        "mobileApps": {
          "target": "com.gcp.dfareporting_v5#MobileAppList",
          "traits": {
            "smithy.api#documentation": "Mobile apps collection."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mobile app List Response"
      }
    },
    "com.gcp.dfareporting_v5#MobileAppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#MobileApp"
      }
    },
    "com.gcp.dfareporting_v5#Report": {
      "type": "structure",
      "members": {
        "reachCriteria": {
          "target": "com.gcp.dfareporting_v5#ReportReachCriteria",
          "traits": {
            "smithy.api#documentation": "The report criteria for a report of type \"REACH\"."
          }
        },
        "ownerProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user profile id of the owner of this report."
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename used when generating report files for this report."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#report."
          }
        },
        "format": {
          "target": "com.gcp.dfareporting_v5#ReportFormatEnum",
          "traits": {
            "smithy.api#documentation": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID identifying this report resource."
          }
        },
        "pathToConversionCriteria": {
          "target": "com.gcp.dfareporting_v5#ReportPathToConversionCriteria",
          "traits": {
            "smithy.api#documentation": "The report criteria for a report of type \"PATH_TO_CONVERSION\"."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (in milliseconds since epoch) of when this report was last modified."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID to which this report belongs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the report."
          }
        },
        "delivery": {
          "target": "com.gcp.dfareporting_v5#ReportDelivery",
          "traits": {
            "smithy.api#documentation": "The report's email delivery settings."
          }
        },
        "floodlightCriteria": {
          "target": "com.gcp.dfareporting_v5#ReportFloodlightCriteria",
          "traits": {
            "smithy.api#documentation": "The report criteria for a report of type \"FLOODLIGHT\"."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag of this response for caching purposes."
          }
        },
        "criteria": {
          "target": "com.gcp.dfareporting_v5#ReportCriteria",
          "traits": {
            "smithy.api#documentation": "The report criteria for a report of type \"STANDARD\"."
          }
        },
        "schedule": {
          "target": "com.gcp.dfareporting_v5#ReportSchedule",
          "traits": {
            "smithy.api#documentation": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\"."
          }
        },
        "crossMediaReachCriteria": {
          "target": "com.gcp.dfareporting_v5#ReportCrossMediaReachCriteria",
          "traits": {
            "smithy.api#documentation": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\"."
          }
        },
        "subAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subaccount ID to which this report belongs if applicable."
          }
        },
        "type": {
          "target": "com.gcp.dfareporting_v5#ReportTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Report resource."
      }
    },
    "com.gcp.dfareporting_v5#ReportReachCriteria": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of dimensions the report should include."
          }
        },
        "metricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "The list of names of metrics the report should include."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
          }
        },
        "activities": {
          "target": "com.gcp.dfareporting_v5#Activities",
          "traits": {
            "smithy.api#documentation": "Activity group."
          }
        },
        "customRichMediaEvents": {
          "target": "com.gcp.dfareporting_v5#CustomRichMediaEvents",
          "traits": {
            "smithy.api#documentation": "Custom Rich Media Events group."
          }
        },
        "reachByFrequencyMetricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "The list of names of Reach By Frequency metrics the report should include."
          }
        },
        "dateRange": {
          "target": "com.gcp.dfareporting_v5#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range this report should be run for."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#SortedDimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#SortedDimension"
      }
    },
    "com.gcp.dfareporting_v5#DimensionValueList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DimensionValue"
      }
    },
    "com.gcp.dfareporting_v5#ReportFormatEnum": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "EXCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEL"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportPathToConversionCriteria": {
      "type": "structure",
      "members": {
        "floodlightConfigId": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
          }
        },
        "customRichMediaEvents": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of custom rich media events to include."
          }
        },
        "conversionDimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of conversion dimensions the report should include."
          }
        },
        "reportProperties": {
          "target": "com.gcp.dfareporting_v5#ReportPathToConversionCriteriaReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the report."
          }
        },
        "dateRange": {
          "target": "com.gcp.dfareporting_v5#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range this report should be run for."
          }
        },
        "activityFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of 'dfa:activity' values to filter on."
          }
        },
        "customFloodlightVariables": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of custom floodlight variables the report should include."
          }
        },
        "perInteractionDimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of per interaction dimensions the report should include."
          }
        },
        "metricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "The list of names of metrics the report should include."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportPathToConversionCriteriaReportProperties": {
      "type": "structure",
      "members": {
        "maximumInteractionGap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
          }
        },
        "includeUnattributedIPConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
          }
        },
        "includeUnattributedCookieConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
          }
        },
        "pivotOnInteractionPath": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable pivoting on interaction path."
          }
        },
        "clicksLookbackWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90."
          }
        },
        "impressionsLookbackWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90."
          }
        },
        "maximumClickInteractions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
          }
        },
        "maximumImpressionInteractions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
          }
        },
        "includeAttributedIPConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: has no effect."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportDelivery": {
      "type": "structure",
      "members": {
        "emailOwner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the report should be emailed to the report owner."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message to be sent with each email."
          }
        },
        "emailOwnerDeliveryType": {
          "target": "com.gcp.dfareporting_v5#ReportDeliveryEmailOwnerDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of delivery for the owner to receive, if enabled."
          }
        },
        "recipients": {
          "target": "com.gcp.dfareporting_v5#RecipientList",
          "traits": {
            "smithy.api#documentation": "The list of recipients to which to email the report."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportDeliveryEmailOwnerDeliveryTypeEnum": {
      "type": "enum",
      "members": {
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#RecipientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Recipient"
      }
    },
    "com.gcp.dfareporting_v5#ReportFloodlightCriteria": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.gcp.dfareporting_v5#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range this report should be run for."
          }
        },
        "reportProperties": {
          "target": "com.gcp.dfareporting_v5#ReportFloodlightCriteriaReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the report."
          }
        },
        "floodlightConfigId": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
          }
        },
        "customRichMediaEvents": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of custom rich media events to include."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
          }
        },
        "metricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "The list of names of metrics the report should include."
          }
        },
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of dimensions the report should include."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportFloodlightCriteriaReportProperties": {
      "type": "structure",
      "members": {
        "includeAttributedIPConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include conversions that have no cookie, but do have an exposure path."
          }
        },
        "includeUnattributedCookieConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
          }
        },
        "includeUnattributedIPConversions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportCriteria": {
      "type": "structure",
      "members": {
        "metricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "The list of names of metrics the report should include."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
          }
        },
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "The list of standard dimensions the report should include."
          }
        },
        "dateRange": {
          "target": "com.gcp.dfareporting_v5#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range for which this report should be run."
          }
        },
        "activities": {
          "target": "com.gcp.dfareporting_v5#Activities",
          "traits": {
            "smithy.api#documentation": "Activity group."
          }
        },
        "customRichMediaEvents": {
          "target": "com.gcp.dfareporting_v5#CustomRichMediaEvents",
          "traits": {
            "smithy.api#documentation": "Custom Rich Media Events group."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportSchedule": {
      "type": "structure",
      "members": {
        "runsOnDayOfMonth": {
          "target": "com.gcp.dfareporting_v5#ReportScheduleRunsOnDayOfMonthEnum",
          "traits": {
            "smithy.api#documentation": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month."
          }
        },
        "repeats": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
          }
        },
        "repeatsOnWeekDays": {
          "target": "com.gcp.dfareporting_v5#ReportScheduleRepeatsOnWeekDaysItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of week days \"WEEKLY\" on which scheduled reports should run."
          }
        },
        "startDate": {
          "target": "smithy.api#String"
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timezone when the report will run."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schedule is active or not. Must be set to either true or false."
          }
        },
        "every": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\"."
          }
        },
        "expirationDate": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportScheduleRunsOnDayOfMonthEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_MONTH"
          }
        },
        "WEEK_OF_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK_OF_MONTH"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportScheduleRepeatsOnWeekDaysItemEnum": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportScheduleRepeatsOnWeekDaysItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#ReportScheduleRepeatsOnWeekDaysItemEnum"
      }
    },
    "com.gcp.dfareporting_v5#ReportCrossMediaReachCriteria": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#SortedDimensionList",
          "traits": {
            "smithy.api#documentation": "Required. The list of dimensions the report should include."
          }
        },
        "dateRange": {
          "target": "com.gcp.dfareporting_v5#DateRange",
          "traits": {
            "smithy.api#documentation": "Required. The date range this report should be run for."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
          }
        },
        "metricNames": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of names of metrics the report should include."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportTypeEnum": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "REACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REACH"
          }
        },
        "PATH_TO_CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH_TO_CONVERSION"
          }
        },
        "FLOODLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOODLIGHT"
          }
        },
        "CROSS_MEDIA_REACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_MEDIA_REACH"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#Ad": {
      "type": "structure",
      "members": {
        "lastModifiedInfo": {
          "target": "com.gcp.dfareporting_v5#LastModifiedInfo",
          "traits": {
            "smithy.api#documentation": "Information about the most recent modification of this ad. This is a read-only field."
          }
        },
        "targetingTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD."
          }
        },
        "creativeGroupAssignments": {
          "target": "com.gcp.dfareporting_v5#CreativeGroupAssignmentList",
          "traits": {
            "smithy.api#documentation": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this ad. This is a required field and must be less than 256 characters long."
          }
        },
        "technologyTargeting": {
          "target": "com.gcp.dfareporting_v5#TechnologyTargeting",
          "traits": {
            "smithy.api#documentation": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
          }
        },
        "dynamicClickTracker": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert."
          }
        },
        "languageTargeting": {
          "target": "com.gcp.dfareporting_v5#LanguageTargeting",
          "traits": {
            "smithy.api#documentation": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this ad. This is a read-only field that can be left blank."
          }
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "sslRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated."
          }
        },
        "sslCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
          }
        },
        "remarketingListExpression": {
          "target": "com.gcp.dfareporting_v5#ListTargetingExpression",
          "traits": {
            "smithy.api#documentation": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
          }
        },
        "idDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of this ad. This is a read-only, auto-generated field."
          }
        },
        "size": {
          "target": "com.gcp.dfareporting_v5#Size",
          "traits": {
            "smithy.api#documentation": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD."
          }
        },
        "campaignIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this ad. This is a read-only field that can be left blank."
          }
        },
        "audienceSegmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD."
          }
        },
        "placementAssignments": {
          "target": "com.gcp.dfareporting_v5#PlacementAssignmentList",
          "traits": {
            "smithy.api#documentation": "Placement assignments for this ad."
          }
        },
        "compatibility": {
          "target": "com.gcp.dfareporting_v5#AdCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard."
          }
        },
        "id": {
[...]
