{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v3",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "type": "structure",
      "members": {
        "rewrittenQuery": {
          "target": "smithy.api#String"
        },
        "answerParts": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPartList"
        },
        "safetySignals": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        },
        "groundingSignals": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "answerGenerationModelCallSignals": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "answer": {
          "target": "smithy.api#String"
        },
        "searchSnippets": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippetList"
        },
        "citedSnippets": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippetList"
        },
        "rewriterModelCallSignals": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3InlineDestination": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3BoostSpec": {
      "type": "structure",
      "members": {
        "conditionBoostSpecs": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "entityTypeDisplayName": {
          "target": "smithy.api#String"
        },
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "prompts": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "defaultValue": {
          "target": "smithy.api#String"
        },
        "mandatory": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAgentAuth": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfigServiceAgentAuthEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfigServiceAgentAuthEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTH_UNSPECIFIED"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "type": "structure",
      "members": {
        "enableStackdriverLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableInteractionLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableConsentBasedRedaction": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ListSecuritySettingsResponse": {
      "type": "structure",
      "members": {
        "securitySettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SecuritySettingsList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SecuritySettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SecuritySettings"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "type": "structure",
      "members": {
        "conversationTurns": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurnList"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "testResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestCaseResultTestResultEnum"
        },
        "testTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurn"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestCaseResultTestResultEnum": {
      "type": "enum",
      "members": {
        "TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "parts": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "repeatCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "structure",
      "members": {
        "generatorSuggestionAnswers": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VersionVariants": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VersionVariantsVariantList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VersionVariantsVariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VersionVariantsVariant"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "structure",
      "members": {
        "importCount": {
          "target": "smithy.api#Integer"
        },
        "conversationDataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2CreateConversationModelOperationMetadataStateEnum"
        },
        "doneTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2CreateConversationModelOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DeploymentResult": {
      "type": "structure",
      "members": {
        "deploymentTestResults": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "experiment": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestError": {
      "type": "structure",
      "members": {
        "testCase": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.dialogflow_v3#GoogleRpcStatus"
        },
        "testTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason": {
      "type": "structure",
      "members": {
        "reasonLabels": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "feedback": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3QueryInput": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EventInput"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3IntentInput"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TextInput"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "audio": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AudioInput"
        },
        "dtmf": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DtmfInput"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV3alpha1TurnSignals": {
      "type": "structure",
      "members": {
        "sentimentScore": {
          "target": "smithy.api#Double"
        },
        "noUserInput": {
          "target": "smithy.api#Boolean"
        },
        "reachedEndPage": {
          "target": "smithy.api#Boolean"
        },
        "dtmfUsed": {
          "target": "smithy.api#Boolean"
        },
        "agentEscalated": {
          "target": "smithy.api#Boolean"
        },
        "userEscalated": {
          "target": "smithy.api#Boolean"
        },
        "webhookStatuses": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "failureReasons": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnumList"
        },
        "sentimentMagnitude": {
          "target": "smithy.api#Double"
        },
        "noMatch": {
          "target": "smithy.api#Boolean"
        },
        "triggeredAbandonmentEvent": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "FAILED_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_INTENT"
          }
        },
        "FAILED_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_WEBHOOK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnum"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInput": {
      "type": "structure",
      "members": {
        "precedingConversationSummary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "type": "structure",
      "members": {
        "webhooks": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3WebhookList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3WebhookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Webhook"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse": {
      "type": "structure",
      "members": {
        "continuousTestResults": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ContinuousTestResultList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ContinuousTestResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ContinuousTestResult"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2InputDataset": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v3#StringMap"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "snippets": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "outputParameters": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Form": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FormParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FormParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FormParameter"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityType": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeEntityList"
        },
        "enableFuzzyExtraction": {
          "target": "smithy.api#Boolean"
        },
        "kind": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeKindEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "autoExpansionMode": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeAutoExpansionModeEnum"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "KIND_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_MAP"
          }
        },
        "KIND_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_LIST"
          }
        },
        "KIND_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_REGEXP"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeAutoExpansionModeEnum": {
      "type": "enum",
      "members": {
        "AUTO_EXPANSION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_UNSPECIFIED"
          }
        },
        "AUTO_EXPANSION_MODE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_DEFAULT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Generator": {
      "type": "structure",
      "members": {
        "llmModelSettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "promptText": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Phrase"
        },
        "modelParameter": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GeneratorModelParameter"
        },
        "placeholders": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GeneratorPlaceholderList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GeneratorPlaceholderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GeneratorPlaceholder"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestError"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "structure",
      "members": {
        "sourceGenerator": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum": {
      "type": "enum",
      "members": {
        "DIFF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_TYPE_UNSPECIFIED"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETERS"
          }
        },
        "UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTTERANCE"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "structure",
      "members": {
        "endInteraction": {
          "target": "smithy.api#Boolean"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageList"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "liveAgentHandoff": {
          "target": "smithy.api#Boolean"
        },
        "followupEventInput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1EventInput"
        },
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SessionEntityTypeList"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ContextList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessage"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1Context"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "type": "structure",
      "members": {
        "cases": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "type": "structure",
      "members": {
        "encryptionSpec": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "structure",
      "members": {
        "segments": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegmentList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolFunctionTool": {
      "type": "structure",
      "members": {
        "inputSchema": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "outputSchema": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "structure",
      "members": {
        "dataStore": {
          "target": "smithy.api#String"
        },
        "documentProcessingMode": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDocumentProcessingModeEnum"
        },
        "dataStoreType": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDataStoreTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDocumentProcessingModeEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_PROCESSING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_PROCESSING_MODE_UNSPECIFIED"
          }
        },
        "DOCUMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTS"
          }
        },
        "CHUNKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHUNKS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDataStoreTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_STORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STORE_TYPE_UNSPECIFIED"
          }
        },
        "PUBLIC_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_WEB"
          }
        },
        "UNSTRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSTRUCTURED"
          }
        },
        "STRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Webhook": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "serviceDirectory": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "timeout": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "type": "structure",
      "members": {
        "fileUri": {
          "target": "smithy.api#String"
        },
        "thumbnailUri": {
          "target": "smithy.api#String"
        },
        "height": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMediaHeightEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMediaHeightEnum": {
      "type": "enum",
      "members": {
        "HEIGHT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEIGHT_UNSPECIFIED"
          }
        },
        "SHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "TALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TALL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolVersion": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Tool"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "knowledgeAssistDebugInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "type": "structure",
      "members": {
        "digits": {
          "target": "smithy.api#String"
        },
        "finishDigit": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "type": "structure",
      "members": {
        "transitionRoute": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "target": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "eventHandler": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EventHandler"
        },
        "index": {
          "target": "smithy.api#Integer"
        },
        "source": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "covered": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityType": {
      "type": "structure",
      "members": {
        "entityOverrideMode": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityTypeEntityOverrideModeEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EntityTypeEntityList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityTypeEntityOverrideModeEnum": {
      "type": "enum",
      "members": {
        "ENTITY_OVERRIDE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_UNSPECIFIED"
          }
        },
        "ENTITY_OVERRIDE_MODE_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_OVERRIDE"
          }
        },
        "ENTITY_OVERRIDE_MODE_SUPPLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v3#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3CalculateCoverageResponse": {
      "type": "structure",
      "members": {
        "intentCoverage": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3IntentCoverage"
        },
        "transitionCoverage": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionCoverage"
        },
        "agent": {
          "target": "smithy.api#String"
        },
        "routeGroupCoverage": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "type": "structure",
      "members": {
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "synthesizeSpeechConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3OutputAudioConfigAudioEncodingEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3OutputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "OUTPUT_AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_LINEAR_16"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MULAW"
          }
        },
        "OUTPUT_AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "structure",
      "members": {
        "promptTokenCount": {
          "target": "smithy.api#Integer"
        },
        "candidatesTokenCount": {
          "target": "smithy.api#Integer"
        },
        "totalTokenCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        },
        "isList": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AgentValidationResult": {
      "type": "structure",
      "members": {
        "flowValidationResults": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FlowValidationResultList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FlowValidationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FlowValidationResult"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookOutput": {
      "type": "structure",
      "members": {
        "executionSummary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ArticleAnswer": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double"
        },
        "snippets": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v3#StringMap"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ToolCall": {
      "type": "structure",
      "members": {
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ToolCallStateEnum"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "toolDisplayDetails": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "toolDisplayName": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ToolCallStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "TRIGGERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGERED"
          }
        },
        "NEEDS_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_CONFIRMATION"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseResult": {
      "type": "structure",
      "members": {
        "testResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseResultTestResultEnum"
        },
        "testTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "conversationTurns": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ConversationTurnList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseResultTestResultEnum": {
      "type": "enum",
      "members": {
        "TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ConversationTurn"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "structure",
      "members": {
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookStep": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "steps": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookStepList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookStep"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "type": "structure",
      "members": {
        "originalValue": {
          "target": "smithy.api#String"
        },
        "resolvedValue": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3QueryParameters": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String"
        },
        "llmModelSettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "disableWebhook": {
          "target": "smithy.api#Boolean"
        },
        "analyzeQueryTextSentiment": {
          "target": "smithy.api#Boolean"
        },
        "searchConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SearchConfig"
        },
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SessionEntityTypeList"
        },
        "timeZone": {
          "target": "smithy.api#String"
        },
        "populateDataStoreConnectionSignals": {
          "target": "smithy.api#Boolean"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "currentPage": {
          "target": "smithy.api#String"
        },
        "sessionTtl": {
          "target": "smithy.api#String"
        },
        "parameterScope": {
          "target": "smithy.api#String"
        },
        "currentPlaybook": {
          "target": "smithy.api#String"
        },
        "webhookHeaders": {
          "target": "com.gcp.dialogflow_v3#StringMap"
        },
        "endUserMetadata": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "geoLocation": {
          "target": "com.gcp.dialogflow_v3#GoogleTypeLatLng"
        },
        "flowVersions": {
          "target": "com.gcp.dialogflow_v3#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "type": "structure",
      "members": {
        "speechSettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "audioExportGcsDestination": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "dtmfSettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "loggingSettings": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "structure",
      "members": {
        "playbookSource": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "target": "smithy.api#String"
        },
        "generativeSource": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "faqSource": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "eventSource": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3IntentCoverageIntent": {
      "type": "structure",
      "members": {
        "intent": {
          "target": "smithy.api#String"
        },
        "covered": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#Document"
        },
        "justCollected": {
          "target": "smithy.api#Boolean"
        },
        "state": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfoStateEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfoStateEnum": {
      "type": "enum",
      "members": {
        "PARAMETER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_STATE_UNSPECIFIED"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPTY"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "FILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILLED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "imageUri": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageCardButtonList"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageCardButton"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "type": "structure",
      "members": {
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "knowledgeAssistDebugInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "type": "structure",
      "members": {
        "shareLocation": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "postbackData": {
          "target": "smithy.api#String"
        },
        "dial": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "openUrl": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3UserUtterance": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ConversationEvent": {
      "type": "structure",
      "members": {
        "newRecognitionResultPayload": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "newMessagePayload": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2Message"
        },
        "errorStatus": {
          "target": "com.gcp.dialogflow_v3#GoogleRpcStatus"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ConversationEventTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ConversationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CONVERSATION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_STARTED"
          }
        },
        "CONVERSATION_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_FINISHED"
          }
        },
        "HUMAN_INTERVENTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_INTERVENTION_NEEDED"
          }
        },
        "NEW_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_MESSAGE"
          }
        },
        "NEW_RECOGNITION_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RECOGNITION_RESULT"
          }
        },
        "UNRECOVERABLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRECOVERABLE_ERROR"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings": {
      "type": "structure",
      "members": {
        "selectedPrompt": {
          "target": "smithy.api#String"
        },
        "promptTemplates": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplateList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet": {
      "type": "structure",
      "members": {
        "documentTitle": {
          "target": "smithy.api#String"
        },
        "documentUri": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "structure",
      "members": {
        "deployment": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Environment"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "structure",
      "members": {
        "imageDisplayOptions": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardImageDisplayOptionsEnum"
        },
        "items": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardImageDisplayOptionsEnum": {
      "type": "enum",
      "members": {
        "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAY"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "CROPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROPPED"
          }
        },
        "BLURRED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLURRED_BACKGROUND"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3InlineSource": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String"
        },
        "apiKey": {
          "target": "smithy.api#String"
        },
        "secretVersionForApiKey": {
          "target": "smithy.api#String"
        },
        "requestLocation": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfigRequestLocationEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfigRequestLocationEnum": {
      "type": "enum",
      "members": {
        "REQUEST_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_LOCATION_UNSPECIFIED"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "QUERY_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_STRING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TestCaseError"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FlowTransition": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "conflictingResources": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "target": "com.gcp.dialogflow_v3#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "type": "structure",
      "members": {
        "importOption": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportFlowRequestImportOptionEnum"
        },
        "flowImportStrategy": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FlowImportStrategy"
        },
        "flowUri": {
          "target": "smithy.api#String"
        },
        "flowContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportFlowRequestImportOptionEnum": {
      "type": "enum",
      "members": {
        "IMPORT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_OPTION_UNSPECIFIED"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        },
        "FALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALLBACK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "structure",
      "members": {
        "parameterInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfoList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "type": "structure",
      "members": {
        "gcsUri": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AgentClientCertificateSettings": {
      "type": "structure",
      "members": {
        "privateKey": {
          "target": "smithy.api#String"
        },
        "passphrase": {
          "target": "smithy.api#String"
        },
        "sslCertificate": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "structure",
      "members": {
        "digits": {
          "target": "smithy.api#String"
        },
        "finishDigit": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AnswerFeedback": {
      "type": "structure",
      "members": {
        "customRating": {
          "target": "smithy.api#String"
        },
        "rating": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AnswerFeedbackRatingEnum"
        },
        "ratingReason": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3AnswerFeedbackRatingEnum": {
      "type": "enum",
      "members": {
        "RATING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATING_UNSPECIFIED"
          }
        },
        "THUMBS_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THUMBS_UP"
          }
        },
        "THUMBS_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THUMBS_DOWN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "similarityScore": {
          "target": "smithy.api#Double"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInvocation": {
      "type": "structure",
      "members": {
        "playbook": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "playbookState": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInvocationPlaybookStateEnum"
        },
        "playbookInput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "playbookOutput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookOutput"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInvocationPlaybookStateEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_UNSPECIFIED"
          }
        },
        "OUTPUT_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_OK"
          }
        },
        "OUTPUT_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_CANCELLED"
          }
        },
        "OUTPUT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_FAILED"
          }
        },
        "OUTPUT_STATE_ESCALATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_ESCALATED"
          }
        },
        "OUTPUT_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "type": "structure",
      "members": {
        "subtitle": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "rows": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageTableCardRowList"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonList"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "columnProperties": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageColumnPropertiesList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageTableCardRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookInstruction": {
      "type": "structure",
      "members": {
        "guidelines": {
          "target": "smithy.api#String"
        },
        "steps": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookStepList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3BatchRunTestCasesRequest": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String"
        },
        "testCases": {
          "target": "com.gcp.dialogflow_v3#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "type": "structure",
      "members": {
        "articleAnswers": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ArticleAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ArticleAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ArticleAnswer"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "structure",
      "members": {
        "repromptEventHandlers": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EventHandlerList"
        },
        "initialPromptFulfillment": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EventHandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EventHandler"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolOpenApiTool": {
      "type": "structure",
      "members": {
        "textSchema": {
          "target": "smithy.api#String"
        },
        "tlsConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolTLSConfig"
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig"
        },
        "authentication": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ToolAuthentication"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "type": "structure",
      "members": {
        "responseId": {
          "target": "smithy.api#String"
        },
        "outputAudioConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "outputAudio": {
          "target": "smithy.api#String"
        },
        "queryResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3QueryResult"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "structure",
      "members": {
        "originalValue": {
          "target": "smithy.api#String"
        },
        "resolvedValue": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "currentPage": {
          "target": "smithy.api#String"
        },
        "formInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "structure",
      "members": {
        "cesApp": {
          "target": "smithy.api#String"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "rawContent": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2Intent"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "structure",
      "members": {
        "exportedGcsDestination": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GcsDestination"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TypeSchema": {
      "type": "structure",
      "members": {
        "inlineSchema": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3InlineSchema"
        },
        "schemaReference": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3TypeSchemaSchemaReference"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Match": {
      "type": "structure",
      "members": {
        "intent": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Intent"
        },
        "event": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "resolvedInput": {
          "target": "smithy.api#String"
        },
        "matchType": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3MatchMatchTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3MatchMatchTypeEnum": {
      "type": "enum",
      "members": {
        "MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_TYPE_UNSPECIFIED"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "DIRECT_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_INTENT"
          }
        },
        "PARAMETER_FILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_FILLING"
          }
        },
        "NO_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MATCH"
          }
        },
        "NO_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_INPUT"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        },
        "KNOWLEDGE_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_CONNECTOR"
          }
        },
        "PLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBOOK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "structure",
      "members": {
        "confidenceScore": {
          "target": "smithy.api#Double"
        },
        "resolvedLanguageCode": {
          "target": "smithy.api#String"
        },
        "inputLanguageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "type": "structure",
      "members": {
        "playbookVersions": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookVersionList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PlaybookVersion"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "structure",
      "members": {
        "userInput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "synonyms": {
          "target": "com.gcp.dialogflow_v3#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "footer": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "type": "structure",
      "members": {
        "toolCall": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "conversation": {
          "target": "smithy.api#String"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SuggestionResultList"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "structure",
      "members": {
        "queryResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "type": "structure",
      "members": {
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3#StringMap"
        },
        "outputParameter": {
          "target": "smithy.api#String"
        },
        "generator": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "type": "structure",
      "members": {
        "ssmlGender": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VoiceSelectionParamsSsmlGenderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3VoiceSelectionParamsSsmlGenderEnum": {
      "type": "enum",
      "members": {
        "SSML_VOICE_GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_UNSPECIFIED"
          }
        },
        "SSML_VOICE_GENDER_MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_MALE"
          }
        },
        "SSML_VOICE_GENDER_FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_FEMALE"
          }
        },
        "SSML_VOICE_GENDER_NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_NEUTRAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "type": "structure",
      "members": {
        "quickReplies": {
          "target": "com.gcp.dialogflow_v3#StringList"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfoStateEnum"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "justCollected": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfoStateEnum": {
      "type": "enum",
      "members": {
        "PARAMETER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_STATE_UNSPECIFIED"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPTY"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "FILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILLED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "structure",
      "members": {
        "intent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3ValidateAgentRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3Environment": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String"
        },
        "webhookConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "testCasesConfig": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "versionConfigs": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EnvironmentVersionConfigList"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EnvironmentVersionConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "structure",
      "members": {
        "dtmfDigits": {
          "target": "smithy.api#String"
        },
        "triggerEvent": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "triggerIntent": {
          "target": "smithy.api#String"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "sessionInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "pageInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "fulfillmentInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "intentInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "detectIntentResponseId": {
          "target": "smithy.api#String"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessageList"
        },
        "languageInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowCxV3beta1ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2WebhookResponse": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageList"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ContextList"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityTypeList"
        },
        "followupEventInput": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2EventInput"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2IntentMessage"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2Context"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "type": "structure",
      "members": {
        "cesDebugInfo": {
          "target": "com.gcp.dialogflow_v3#DocumentMap"
        },
        "queryCategorizationFailureReason": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum"
        },
        "datastoreResponseReason": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoDatastoreResponseReasonEnum"
        },
        "ingestedContextReferenceDebugInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "serviceLatency": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationFailureReasonEnum"
        },
        "queryGenerationDebugInfo": {
          "target": "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum": {
      "type": "enum",
      "members": {
        "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "QUERY_CATEGORIZATION_INVALID_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_INVALID_CONFIG"
          }
        },
        "QUERY_CATEGORIZATION_RESULT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_RESULT_NOT_FOUND"
          }
        },
        "QUERY_CATEGORIZATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoDatastoreResponseReasonEnum": {
      "type": "enum",
      "members": {
        "DATASTORE_RESPONSE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_RESPONSE_REASON_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SEARCH_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_OUT_OF_QUOTA"
          }
        },
        "SEARCH_EMPTY_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_EMPTY_RESULTS"
          }
        },
        "ANSWER_GENERATION_GEN_AI_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_GEN_AI_DISABLED"
          }
        },
        "ANSWER_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_OUT_OF_QUOTA"
          }
        },
        "ANSWER_GENERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_ERROR"
          }
        },
        "ANSWER_GENERATION_NOT_ENOUGH_INFO": {
[...]
