{
  "smithy": "2.0",
  "metadata": {
    "service": "discoveryengine",
    "version": "v1",
    "title": "Discovery Engine API",
    "baseUrl": "https://discoveryengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.discoveryengine_v1#A2aV1AgentCardSignature": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The unprotected JWS header values."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The computed signature, base64url-encoded. Required."
          }
        },
        "protected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
      }
    },
    "com.gcp.discoveryengine_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1Message": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
          }
        },
        "role": {
          "target": "com.gcp.discoveryengine_v1#A2aV1MessageRoleEnum",
          "traits": {
            "smithy.api#documentation": "A role for the message."
          }
        },
        "extensions": {
          "target": "com.gcp.discoveryengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The URIs of extensions that are present or contributed to this Message."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The context id of the message. This is optional and if set, the message will be associated with the given context."
          }
        },
        "metadata": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task id of the message. This is optional and if set, the message will be associated with the given task."
          }
        },
        "content": {
          "target": "com.gcp.discoveryengine_v1#A2aV1PartList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id."
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1MessageRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "ROLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_USER"
          }
        },
        "ROLE_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_AGENT"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1PartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#A2aV1Part"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpec": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpecConditionEnum",
          "traits": {
            "smithy.api#documentation": "The condition under which query expansion should occur. Default to Condition.DISABLED."
          }
        },
        "pinUnexpandedResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification to determine under which conditions query expansion should occur."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpecConditionEnum": {
      "type": "enum",
      "members": {
        "CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONDITION_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "type": "structure",
      "members": {
        "connectorRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the connector run ended."
          }
        },
        "dataConnector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`."
          }
        },
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity to sync for the connector run."
          }
        },
        "syncType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the connector run started."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation resource name of the LRO to sync the connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse": {
      "type": "structure",
      "members": {
        "dedicatedCrawlRateTimeSeries": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "The historical dedicated crawl rate timeseries data, used for monitoring."
          }
        },
        "organicCrawlRateTimeSeries": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "The historical organic crawl rate timeseries data, used for monitoring."
          }
        },
        "state": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the response."
          }
        },
        "error": {
          "target": "com.gcp.discoveryengine_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "Errors from service when handling the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1FetchSitemapsResponseSitemapMetadata": {
      "type": "structure",
      "members": {
        "sitemap": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Sitemap",
          "traits": {
            "smithy.api#documentation": "The Sitemap."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a Sitemap and its metadata."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting": {
      "type": "structure",
      "members": {
        "defaultEgressAgentGateway": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
          "traits": {
            "smithy.api#documentation": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting": {
      "type": "structure",
      "members": {
        "shortcuts": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcutList",
          "traits": {
            "smithy.api#documentation": "Optional. The shortcuts to display on the homepage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the homepage setting of the widget. It includes all homepage related settings and configurations, such as shortcuts."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcutList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcut"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "type": "structure",
      "members": {
        "targetSites": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaTargetSiteList",
          "traits": {
            "smithy.api#documentation": "TargetSites created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaTargetSiteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaTargetSite"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleTypeLatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec": {
      "type": "structure",
      "members": {
        "returnExtractiveSegmentScore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
          }
        },
        "maxExtractiveAnswerCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
          }
        },
        "maxExtractiveSegmentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`."
          }
        },
        "numNextSegments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Return at most `num_next_segments` segments after each selected segments."
          }
        },
        "numPreviousSegments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specification for configuring the extractive content in a search response."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If match by URI, the URI of the Document."
          }
        },
        "fhirResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of the matcher that was used to match the Document."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "type": "structure",
      "members": {
        "matchHighlightingCondition": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpecMatchHighlightingConditionEnum",
          "traits": {
            "smithy.api#documentation": "The condition under which match highlighting should occur."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies features for display, like match highlighting."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpecMatchHighlightingConditionEnum": {
      "type": "enum",
      "members": {
        "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED"
          }
        },
        "MATCH_HIGHLIGHTING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_HIGHLIGHTING_DISABLED"
          }
        },
        "MATCH_HIGHLIGHTING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_HIGHLIGHTING_ENABLED"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaCondition": {
      "type": "structure",
      "members": {
        "activeTimeRange": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionTimeRangeList",
          "traits": {
            "smithy.api#documentation": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges."
          }
        },
        "queryTerms": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionQueryTermList",
          "traits": {
            "smithy.api#documentation": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms."
          }
        },
        "queryRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines circumstances to be checked before allowing a behavior"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionTimeRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionTimeRange"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionQueryTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSchema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
          }
        },
        "fieldConfigs": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaFieldConfigList",
          "traits": {
            "smithy.api#documentation": "Output only. Configurations for fields of the schema."
          }
        },
        "structSchema": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The structured representation of the schema."
          }
        },
        "jsonSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JSON representation of the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the structure and layout of a type of document data."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaFieldConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaFieldConfig"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistantGroundedContent": {
      "type": "structure",
      "members": {
        "citationMetadata": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CitationMetadata",
          "traits": {
            "smithy.api#documentation": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check"
          }
        },
        "textGroundingMetadata": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for grounding based on text sources."
          }
        },
        "content": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistantContent",
          "traits": {
            "smithy.api#documentation": "The content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec": {
      "type": "structure",
      "members": {
        "sampleQuerySet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the specification of the query set."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata": {
      "type": "structure",
      "members": {
        "citations": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationList",
          "traits": {
            "smithy.api#documentation": "Citations for segments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Citation metadata."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchResponseSummaryCitation"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity": {
      "type": "structure",
      "members": {
        "jsonParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the entity to facilitate data ingestion in json string format."
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`"
          }
        },
        "dataStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity."
          }
        },
        "params": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The parameters for the entity to facilitate data ingestion in structured json format."
          }
        },
        "keyPropertyMappings": {
          "target": "com.gcp.discoveryengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results."
          }
        },
        "healthcareFhirConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
          }
        },
        "startingSchema": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSchema",
          "traits": {
            "smithy.api#documentation": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an entity in the data source. For example, the `Account` object in Salesforce."
      }
    },
    "com.gcp.discoveryengine_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponse": {
      "type": "structure",
      "members": {
        "contentSuggestions": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseContentSuggestionList",
          "traits": {
            "smithy.api#documentation": "Results of the matched content suggestions. The result list is ordered and the first result is the top suggestion."
          }
        },
        "tailMatchTriggered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query."
          }
        },
        "peopleSuggestions": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestionList",
          "traits": {
            "smithy.api#documentation": "Results of the matched people suggestions. The result list is ordered and the first result is the top suggestion."
          }
        },
        "querySuggestions": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseQuerySuggestionList",
          "traits": {
            "smithy.api#documentation": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion."
          }
        },
        "recentSearchSuggestions": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestionList",
          "traits": {
            "smithy.api#documentation": "Results of the matched \"recent search\" suggestions. The result list is ordered and the first result is the top suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CompletionService.AdvancedCompleteQuery method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseContentSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseContentSuggestion"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseQuerySuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseQuerySuggestion"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSiteMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "type": "structure",
      "members": {
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the application. E.g., \"jira\", \"box\", etc."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores information for third party applicationOAuth."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig": {
      "type": "structure",
      "members": {
        "notebooklmConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for NotebookLM settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer provided configurations."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig": {
      "type": "structure",
      "members": {
        "searchTier": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchTierEnum",
          "traits": {
            "smithy.api#documentation": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified."
          }
        },
        "searchAddOns": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchAddOnsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The add-on that this search engine enables."
          }
        },
        "requiredSubscriptionTier": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigRequiredSubscriptionTierEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations for a Search Engine."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchTierEnum": {
      "type": "enum",
      "members": {
        "SEARCH_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TIER_UNSPECIFIED"
          }
        },
        "SEARCH_TIER_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TIER_STANDARD"
          }
        },
        "SEARCH_TIER_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TIER_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchAddOnsItemEnum": {
      "type": "enum",
      "members": {
        "SEARCH_ADD_ON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_ADD_ON_UNSPECIFIED"
          }
        },
        "SEARCH_ADD_ON_LLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_ADD_ON_LLM"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchAddOnsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigSearchAddOnsItemEnum"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfigRequiredSubscriptionTierEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_UNSPECIFIED"
          }
        },
        "SUBSCRIPTION_TIER_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_SEARCH"
          }
        },
        "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT"
          }
        },
        "SUBSCRIPTION_TIER_NOTEBOOK_LM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_NOTEBOOK_LM"
          }
        },
        "SUBSCRIPTION_TIER_FRONTLINE_WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_FRONTLINE_WORKER"
          }
        },
        "SUBSCRIPTION_TIER_AGENTSPACE_STARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_AGENTSPACE_STARTER"
          }
        },
        "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS"
          }
        },
        "SUBSCRIPTION_TIER_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_ENTERPRISE"
          }
        },
        "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING"
          }
        },
        "SUBSCRIPTION_TIER_EDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_EDU"
          }
        },
        "SUBSCRIPTION_TIER_EDU_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_EDU_PRO"
          }
        },
        "SUBSCRIPTION_TIER_EDU_EMERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_EDU_EMERGING"
          }
        },
        "SUBSCRIPTION_TIER_EDU_PRO_EMERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_EDU_PRO_EMERGING"
          }
        },
        "SUBSCRIPTION_TIER_FRONTLINE_STARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          }
        },
        "SUBSCRIPTION_TIER_CONSUMPTION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TIER_CONSUMPTION_ONLY"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ConditionQueryTerm": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
          }
        },
        "fullMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the search query needs to exactly match the query term."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Matcher for search request query"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1Security": {
      "type": "structure",
      "members": {
        "schemes": {
          "target": "com.gcp.discoveryengine_v1#A2aV1StringListMap"
        }
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1StringListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.discoveryengine_v1#A2aV1StringList"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CloudSqlSource": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID that contains the Cloud SQL source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
          }
        },
        "offload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Option for serverless export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/sql/pricing#serverless)."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Cloud SQL database to copy the data from with a length limit of 256 characters."
          }
        },
        "gcsStagingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Cloud SQL export to a specific Cloud Storage directory. Ensure that the Cloud SQL service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Cloud SQL instance to copy the data from with a length limit of 256 characters."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Cloud SQL table to copy the data from with a length limit of 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud SQL source import data from."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1RankRequest": {
      "type": "structure",
      "members": {
        "topN": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results to return. If this is unset or no bigger than zero, returns all results."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query to use."
          }
        },
        "ignoreRecordDetailsInResponse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the response will contain only record ID and score. By default, it is false, the response will contain record details."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the model to use. It is one of: * `semantic-ranker-512@latest`: Semantic ranking model with maximum input token size 512. It is set to `semantic-ranker-512@latest` by default if unspecified."
          }
        },
        "records": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1RankingRecordList",
          "traits": {
            "smithy.api#documentation": "Required. A list of records to rank."
          }
        },
        "userLabels": {
          "target": "com.gcp.discoveryengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RankService.Rank method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1RankingRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1RankingRecord"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ListAssistantsResponse": {
      "type": "structure",
      "members": {
        "assistants": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistantList",
          "traits": {
            "smithy.api#documentation": "All the customer's Assistants."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the AssistantService.ListAssistants method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Assistant"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "type": "structure",
      "members": {
        "top1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The top-1 value."
          }
        },
        "top10": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The top-10 value."
          }
        },
        "top3": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The top-3 value."
          }
        },
        "top5": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The top-5 value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores the metric values at specific top-k levels."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1DeleteCollectionMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
      "type": "structure",
      "members": {
        "alertPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The fully qualified resource name of the AlertPolicy."
          }
        },
        "alertEnrollments": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Optional. The enrollment states of each alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector level alert config."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResult": {
      "type": "structure",
      "members": {
        "policyResults": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResultList",
          "traits": {
            "smithy.api#documentation": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query."
          }
        },
        "verdict": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultVerdictEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1SearchRequestRelevanceScoreSpec": {
      "type": "structure",
      "members": {
        "returnRelevanceScore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for returning the document relevance score."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.discoveryengine_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.discoveryengine_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#DocumentMap"
      }
    },
    "com.gcp.discoveryengine_v1#A2aV1SendMessageRequest": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional metadata for the request."
          }
        },
        "message": {
          "target": "com.gcp.discoveryengine_v1#A2aV1Message",
          "traits": {
            "smithy.api#documentation": "Required. The message to send to the agent."
          }
        },
        "configuration": {
          "target": "com.gcp.discoveryengine_v1#A2aV1SendMessageConfiguration",
          "traits": {
            "smithy.api#documentation": "Configuration for the send request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "/////////// Request Messages ///////////"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec": {
      "type": "structure",
      "members": {
        "embeddingVectors": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVectorList",
          "traits": {
            "smithy.api#documentation": "The embedding vector used for retrieval. Limit to 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification that uses customized query embedding vector to do semantic document retrieval."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkChunkMetadata": {
      "type": "structure",
      "members": {
        "nextChunks": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkList",
          "traits": {
            "smithy.api#documentation": "The next chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_next_chunks. This field is only populated on SearchService.Search API."
          }
        },
        "previousChunks": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkList",
          "traits": {
            "smithy.api#documentation": "The previous chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_previous_chunks. This field is only populated on SearchService.Search API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the current chunk. This field is only populated on SearchService.Search API."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Chunk"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "type": "structure",
      "members": {
        "preamble": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of the prompt to use with the model."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "errorConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "traits": {
            "smithy.api#documentation": "The desired location of errors incurred during the Import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleRpcStatus"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswer": {
      "type": "structure",
      "members": {
        "queryUnderstandingInfo": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
          "traits": {
            "smithy.api#documentation": "Query understanding information."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Answer creation timestamp."
          }
        },
        "answerText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The textual answer."
          }
        },
        "groundingScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks."
          }
        },
        "safetyRatings": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSafetyRatingList",
          "traits": {
            "smithy.api#documentation": "Optional. Safety ratings."
          }
        },
        "state": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the answer generation."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Answer completed timestamp."
          }
        },
        "relatedQuestions": {
          "target": "com.gcp.discoveryengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Suggested related questions."
          }
        },
        "citations": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerCitationList",
          "traits": {
            "smithy.api#documentation": "Citations."
          }
        },
        "answerSkippedReasons": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerAnswerSkippedReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set."
          }
        },
        "steps": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerStepList",
          "traits": {
            "smithy.api#documentation": "Answer generation steps."
          }
        },
        "blobAttachments": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentList",
          "traits": {
            "smithy.api#documentation": "Output only. List of blob attachments in the answer."
          }
        },
        "groundingSupports": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupportList",
          "traits": {
            "smithy.api#documentation": "Optional. Grounding supports."
          }
        },
        "references": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerReferenceList",
          "traits": {
            "smithy.api#documentation": "References."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an answer."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSafetyRatingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSafetyRating"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerCitationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerCitation"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerAnswerSkippedReasonsItemEnum": {
      "type": "enum",
      "members": {
        "ANSWER_SKIPPED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_SKIPPED_REASON_UNSPECIFIED"
          }
        },
        "ADVERSARIAL_QUERY_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERSARIAL_QUERY_IGNORED"
          }
        },
        "NON_ANSWER_SEEKING_QUERY_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_ANSWER_SEEKING_QUERY_IGNORED"
          }
        },
        "OUT_OF_DOMAIN_QUERY_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_DOMAIN_QUERY_IGNORED"
          }
        },
        "POTENTIAL_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POTENTIAL_POLICY_VIOLATION"
          }
        },
        "NO_RELEVANT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RELEVANT_CONTENT"
          }
        },
        "JAIL_BREAKING_QUERY_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAIL_BREAKING_QUERY_IGNORED"
          }
        },
        "CUSTOMER_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_POLICY_VIOLATION"
          }
        },
        "NON_ANSWER_SEEKING_QUERY_IGNORED_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_ANSWER_SEEKING_QUERY_IGNORED_V2"
          }
        },
        "LOW_GROUNDED_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW_GROUNDED_ANSWER"
          }
        },
        "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED"
          }
        },
        "UNHELPFUL_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHELPFUL_ANSWER"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerAnswerSkippedReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerAnswerSkippedReasonsItemEnum"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerStep"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaAnswerReference"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "joinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported with complete existing Documents."
          }
        },
        "unjoinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported, but with Document information not found in the existing Branch."
          }
        },
        "errorConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors if this field was set in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1GroundingFact": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.discoveryengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Attributes associated with the fact. Common attributes include `source` (indicating where the fact was sourced from), `author` (indicating the author of the fact), and so on."
          }
        },
        "factText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content of the fact. Can be at most 10K characters long."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grounding Fact."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponse": {
      "type": "structure",
      "members": {
        "supportScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The support score for the input answer candidate. Higher the score, higher is the fraction of claims that are supported by the provided facts. This is always set when a response is returned."
          }
        },
        "citedChunks": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1FactChunkList",
          "traits": {
            "smithy.api#documentation": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request."
          }
        },
        "citedFacts": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunkList",
          "traits": {
            "smithy.api#documentation": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request."
          }
        },
        "claims": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseClaimList",
          "traits": {
            "smithy.api#documentation": "Claim texts and citation info across all claims in the answer candidate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GroundedGenerationService.CheckGrounding method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1FactChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1FactChunk"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunk"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseClaimList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1CheckGroundingResponseClaim"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig": {
      "type": "structure",
      "members": {
        "authParams": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Any authentication parameters specific to FEDERATED connectors."
          }
        },
        "jsonAuthParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format."
          }
        },
        "additionalParams": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Any additional parameters needed for FEDERATED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Sitemap": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The sitemap's creation time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sitemap for the SiteSearchEngine."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaTuneEngineResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response associated with a tune operation."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Chunk": {
      "type": "structure",
      "members": {
        "pageSpan": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkPageSpan",
          "traits": {
            "smithy.api#documentation": "Page span of the chunk."
          }
        },
        "dataUrls": {
          "target": "com.gcp.discoveryengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Image Data URLs if the current chunk contains images. Data URLs are composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content is a string from a document (parsed content)."
          }
        },
        "annotationMetadata": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkAnnotationMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. The annotation metadata includes structured content in the current chunk."
          }
        },
        "relevanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the relevance score based on similarity. Higher score indicates higher chunk relevance. The score is in range [-1.0, 1.0]. Only populated on SearchResponse."
          }
        },
        "documentMetadata": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkDocumentMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata of the document from the current chunk."
          }
        },
        "derivedStructData": {
          "target": "com.gcp.discoveryengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique chunk ID of the current chunk."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
          }
        },
        "chunkMetadata": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkChunkMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata of the current chunk."
          }
        },
        "annotationContents": {
          "target": "com.gcp.discoveryengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Annotation contents if the current chunk contains annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkAnnotationMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1DocumentInfo": {
      "type": "structure",
      "members": {
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the Document associated with the user event. Defaults to 1. For example, this field is 2 if two quantities of the same Document are involved in a `add-to-cart` event. Required for events of the following event types: * `add-to-cart` * `purchase`"
          }
        },
        "conversionValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The conversion value associated with this Document. Must be set if UserEvent.event_type is \"conversion\". For example, a value of 1000 signifies that 1000 seconds were spent viewing a Document for the `watch` conversion type."
          }
        },
        "promotionIds": {
          "target": "com.gcp.discoveryengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The promotion IDs associated with this Document. Currently, this field is restricted to at most one ID."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Document resource ID."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Document URI - only allowed for website data stores."
          }
        },
        "joined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the referenced Document can be found in the data store."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Document resource full name, of the form: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/branches/{branch_id}/documents/{document_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed document information associated with a user event."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaIdpConfig": {
      "type": "structure",
      "members": {
        "idpType": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaIdpConfigIdpTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identity provider type configured."
          }
        },
        "externalIdpConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig",
          "traits": {
            "smithy.api#documentation": "External Identity provider config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity Provider Config."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaIdpConfigIdpTypeEnum": {
      "type": "enum",
      "members": {
        "IDP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDP_TYPE_UNSPECIFIED"
          }
        },
        "GSUITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUITE"
          }
        },
        "THIRD_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpecConditionEnum",
          "traits": {
            "smithy.api#documentation": "The condition under which query expansion should occur. Default to Condition.DISABLED."
          }
        },
        "pinUnexpandedResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification to determine under which conditions query expansion should occur."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpecConditionEnum": {
      "type": "enum",
      "members": {
        "CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONDITION_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AnswerQueryResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Session",
          "traits": {
            "smithy.api#documentation": "Session resource object. It will be only available when session field is set and valid in the AnswerQueryRequest request."
          }
        },
        "answer": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1Answer",
          "traits": {
            "smithy.api#documentation": "Answer resource object. If AnswerQueryRequest.QueryUnderstandingSpec.QueryRephraserSpec.max_rephrase_steps is greater than 1, use Answer.name to fetch answer information using ConversationalSearchService.GetAnswer API."
          }
        },
        "answerQueryToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A global unique ID used for logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConversationalSearchService.AnswerQuery method."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpec": {
      "type": "structure",
      "members": {
        "queryClassificationSpec": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryClassificationSpec",
          "traits": {
            "smithy.api#documentation": "Query classification specification."
          }
        },
        "queryRephraserSpec": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec",
          "traits": {
            "smithy.api#documentation": "Query rephraser specification."
          }
        },
        "disableSpellCorrection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable spell correction. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query understanding specification."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "type": "structure",
      "members": {
        "defaultParsingConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig",
          "traits": {
            "smithy.api#documentation": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
          }
        },
        "chunkingConfig": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
          "traits": {
            "smithy.api#documentation": "Whether chunking mode is enabled."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
          }
        },
        "parsingConfigOverrides": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigMap",
          "traits": {
            "smithy.api#documentation": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "type": "structure",
      "members": {
        "identityMappingEntries": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1IdentityMappingEntryList",
          "traits": {
            "smithy.api#documentation": "The Identity Mapping Entries."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for IdentityMappingStoreService.ListIdentityMappings"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1IdentityMappingEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1IdentityMappingEntry"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1betaTuneEngineMetadata": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a tune operation."
      }
    },
    "com.gcp.discoveryengine_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1TargetSite": {
      "type": "structure",
      "members": {
        "indexingStatus": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1TargetSiteIndexingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indexing status."
          }
        },
        "failureReason": {
          "target": "com.gcp.discoveryengine_v1#GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
          "traits": {
            "smithy.api#documentation": "Output only. Failure reason."
          }
        },
        "rootDomainUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Root domain of the provided_uri_pattern."
          }
        },
        "providedUriPattern": {
          "target": "smithy.api#String",
          "traits": {
[...]
