{
  "smithy": "2.0",
  "metadata": {
    "service": "displayvideo",
    "version": "v4",
    "title": "Display & Video 360 API",
    "baseUrl": "https://displayvideo.googleapis.com/"
  },
  "shapes": {
    "com.gcp.displayvideo_v4#ListAssignedInventorySourcesResponse": {
      "type": "structure",
      "members": {
        "assignedInventorySources": {
          "target": "com.gcp.displayvideo_v4#AssignedInventorySourceList",
          "traits": {
            "smithy.api#documentation": "The list of assigned inventory sources. This list will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedInventorySources` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AssignedInventorySourceService.ListAssignedInventorySources."
      }
    },
    "com.gcp.displayvideo_v4#AssignedInventorySourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#AssignedInventorySource"
      }
    },
    "com.gcp.displayvideo_v4#AdPolicyTopicEvidenceCounterfeit": {
      "type": "structure",
      "members": {
        "owners": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The content or product owners that made a complaint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on the counterfeit enforcement that caused a policy violation."
      }
    },
    "com.gcp.displayvideo_v4#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.displayvideo_v4#AdvertiserGeneralConfig": {
      "type": "structure",
      "members": {
        "domainUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain URL of the advertiser's primary website. The system will send this information to publishers that require website URL to associate a campaign with an advertiser. Provide a URL with no path or query string, beginning with `http:` or `https:`. For example, http://www.example.com"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Advertiser's currency in ISO 4217 format. Accepted codes and the currencies they represent are: Currency Code : Currency Name * `ARS` : Argentine Peso * `AUD` : Australian Dollar * `BRL` : Brazilian Real * `CAD` : Canadian Dollar * `CHF` : Swiss Franc * `CLP` : Chilean Peso * `CNY` : Chinese Yuan * `COP` : Colombian Peso * `CZK` : Czech Koruna * `DKK` : Danish Krone * `EGP` : Egyption Pound * `EUR` : Euro * `GBP` : British Pound * `HKD` : Hong Kong Dollar * `HUF` : Hungarian Forint * `IDR` : Indonesian Rupiah * `ILS` : Israeli Shekel * `INR` : Indian Rupee * `JPY` : Japanese Yen * `KRW` : South Korean Won * `MXN` : Mexican Pesos * `MYR` : Malaysian Ringgit * `NGN` : Nigerian Naira * `NOK` : Norwegian Krone * `NZD` : New Zealand Dollar * `PEN` : Peruvian Nuevo Sol * `PLN` : Polish Zloty * `RON` : New Romanian Leu * `RUB` : Russian Ruble * `SEK` : Swedish Krona * `TRY` : Turkish Lira * `TWD` : New Taiwan Dollar * `USD` : US Dollar * `ZAR` : South African Rand"
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The standard TZ database name of the advertiser's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones For CM360 hybrid advertisers, the time zone is the same as that of the associated CM360 account; for third-party only advertisers, the time zone is the same as that of the parent partner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "General settings of an advertiser."
      }
    },
    "com.gcp.displayvideo_v4#AdvertiserDataAccessConfig": {
      "type": "structure",
      "members": {
        "sdfConfig": {
          "target": "com.gcp.displayvideo_v4#AdvertiserSdfConfig",
          "traits": {
            "smithy.api#documentation": "Structured Data Files (SDF) settings for the advertiser. If not specified, the SDF settings of the parent partner are used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that control how advertiser related data may be accessed."
      }
    },
    "com.gcp.displayvideo_v4#MaximizeSpendBidStrategy": {
      "type": "structure",
      "members": {
        "maxAverageCpmBidAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. For example, 1500000 represents 1.5 standard units of the currency."
          }
        },
        "customBiddingAlgorithmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error."
          }
        },
        "performanceGoalType": {
          "target": "com.gcp.displayvideo_v4#MaximizeSpendBidStrategyPerformanceGoalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the performance goal that the bidding strategy tries to minimize while spending the full budget. `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` is not supported for this strategy."
          }
        },
        "raiseBidForDeals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the strategy takes deal floor prices into account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A strategy that automatically adjusts the bid to optimize a specified performance goal while spending the full budget."
      }
    },
    "com.gcp.displayvideo_v4#MaximizeSpendBidStrategyPerformanceGoalTypeEnum": {
      "type": "enum",
      "members": {
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED"
          }
        },
        "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_REACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_REACH"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#InventorySourceAccessorsPartnerAccessor": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the partner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The partner with access to the inventory source."
      }
    },
    "com.gcp.displayvideo_v4#TargetFrequency": {
      "type": "structure",
      "members": {
        "timeUnit": {
          "target": "com.gcp.displayvideo_v4#TargetFrequencyTimeUnitEnum",
          "traits": {
            "smithy.api#documentation": "The unit of time in which the target frequency will be applied. The following time unit is applicable: * `TIME_UNIT_WEEKS`"
          }
        },
        "timeUnitCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of time_unit the target frequency will last. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_WEEKS` - must be 1"
          }
        },
        "targetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target number of times, on average, the ads will be shown to the same person in the timespan dictated by time_unit and time_unit_count."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting that controls the average number of times the ads will show to the same person over a certain period of time."
      }
    },
    "com.gcp.displayvideo_v4#TargetFrequencyTimeUnitEnum": {
      "type": "enum",
      "members": {
        "TIME_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_UNSPECIFIED"
          }
        },
        "TIME_UNIT_LIFETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_LIFETIME"
          }
        },
        "TIME_UNIT_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_MONTHS"
          }
        },
        "TIME_UNIT_WEEKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_WEEKS"
          }
        },
        "TIME_UNIT_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_DAYS"
          }
        },
        "TIME_UNIT_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_HOURS"
          }
        },
        "TIME_UNIT_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_MINUTES"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#ScriptError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed error message."
          }
        },
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The line number in the script where the error was thrown."
          }
        },
        "errorCode": {
          "target": "com.gcp.displayvideo_v4#ScriptErrorErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "The type of error."
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column number in the script where the error was thrown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error message for a custom bidding script."
      }
    },
    "com.gcp.displayvideo_v4#ScriptErrorErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "SYNTAX_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_ERROR"
          }
        },
        "DEPRECATED_SYNTAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_SYNTAX"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#ContactInfoList": {
      "type": "structure",
      "members": {
        "contactInfos": {
          "target": "com.gcp.displayvideo_v4#ContactInfoList_",
          "traits": {
            "smithy.api#documentation": "A list of ContactInfo objects defining Customer Match audience members. The size of members after splitting the contact_infos mustn't be greater than 500,000."
          }
        },
        "consent": {
          "target": "com.gcp.displayvideo_v4#Consent",
          "traits": {
            "smithy.api#documentation": "Input only. The consent setting for the users in contact_infos. Leaving this field unset indicates that consent is not specified. If ad_user_data or ad_personalization fields are set to `CONSENT_STATUS_DENIED`, the request will return an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper message for a list of contact information defining Customer Match audience members."
      }
    },
    "com.gcp.displayvideo_v4#ContactInfoList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#ContactInfo"
      }
    },
    "com.gcp.displayvideo_v4#AlgorithmRulesFloodlightActivityConversionSignal": {
      "type": "structure",
      "members": {
        "conversionCounting": {
          "target": "com.gcp.displayvideo_v4#AlgorithmRulesFloodlightActivityConversionSignalConversionCountingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of conversions to be used in impression value computation, for example, post-click conversions."
          }
        },
        "floodlightActivityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Id of the floodlight activity."
          }
        },
        "countingMethod": {
          "target": "com.gcp.displayvideo_v4#AlgorithmRulesFloodlightActivityConversionSignalCountingMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. The way to acquire value from the floodlight activity, for example, count of the conversion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The rule to score impressions based on Floodlight conversion events."
      }
    },
    "com.gcp.displayvideo_v4#AlgorithmRulesFloodlightActivityConversionSignalConversionCountingEnum": {
      "type": "enum",
      "members": {
        "CONVERSION_COUNTING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSION_COUNTING_UNSPECIFIED"
          }
        },
        "ALL_CONVERSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_CONVERSIONS"
          }
        },
        "POST_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_CLICK"
          }
        },
        "POST_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_VIEW"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AlgorithmRulesFloodlightActivityConversionSignalCountingMethodEnum": {
      "type": "enum",
      "members": {
        "COUNTING_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTING_METHOD_UNSPECIFIED"
          }
        },
        "CONVERSIONS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSIONS_COUNT"
          }
        },
        "SALES_QUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_QUANTITY"
          }
        },
        "SALES_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_VALUE"
          }
        },
        "UNIQUE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIQUE_COUNT"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#UniversalAdId": {
      "type": "structure",
      "members": {
        "registry": {
          "target": "com.gcp.displayvideo_v4#UniversalAdIdRegistryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The registry provides unique creative identifiers."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique creative identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A creative identifier provided by a registry that is unique across all platforms. This is part of the VAST 4.0 standard."
      }
    },
    "com.gcp.displayvideo_v4#UniversalAdIdRegistryEnum": {
      "type": "enum",
      "members": {
        "UNIVERSAL_AD_REGISTRY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_UNSPECIFIED"
          }
        },
        "UNIVERSAL_AD_REGISTRY_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_OTHER"
          }
        },
        "UNIVERSAL_AD_REGISTRY_AD_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_AD_ID"
          }
        },
        "UNIVERSAL_AD_REGISTRY_CLEARCAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_CLEARCAST"
          }
        },
        "UNIVERSAL_AD_REGISTRY_DV360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_DV360"
          }
        },
        "UNIVERSAL_AD_REGISTRY_CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIVERSAL_AD_REGISTRY_CM"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#InsertionOrder": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the insertion order."
          }
        },
        "optimizationObjective": {
          "target": "com.gcp.displayvideo_v4#InsertionOrderOptimizationObjectiveEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Required. The optimization objective of the insertion order."
          }
        },
        "reservationType": {
          "target": "com.gcp.displayvideo_v4#InsertionOrderReservationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reservation type of the insertion order."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes."
          }
        },
        "insertionOrderType": {
          "target": "com.gcp.displayvideo_v4#InsertionOrderInsertionOrderTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`."
          }
        },
        "frequencyCap": {
          "target": "com.gcp.displayvideo_v4#FrequencyCap",
          "traits": {
            "smithy.api#documentation": "Required. The frequency capping setting of the insertion order."
          }
        },
        "insertionOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the insertion order. Assigned by the system."
          }
        },
        "partnerCosts": {
          "target": "com.gcp.displayvideo_v4#PartnerCostList",
          "traits": {
            "smithy.api#documentation": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings."
          }
        },
        "campaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to."
          }
        },
        "budget": {
          "target": "com.gcp.displayvideo_v4#InsertionOrderBudget",
          "traits": {
            "smithy.api#documentation": "Required. The budget allocation settings of the insertion order."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the insertion order was last updated. Assigned by the system."
          }
        },
        "pacing": {
          "target": "com.gcp.displayvideo_v4#Pacing",
          "traits": {
            "smithy.api#documentation": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`."
          }
        },
        "kpi": {
          "target": "com.gcp.displayvideo_v4#Kpi",
          "traits": {
            "smithy.api#documentation": "Required. The key performance indicator (KPI) of the insertion order. This is represented as referred to as the \"Goal\" in the Display & Video 360 interface."
          }
        },
        "integrationDetails": {
          "target": "com.gcp.displayvideo_v4#IntegrationDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Additional integration details of the insertion order."
          }
        },
        "bidStrategy": {
          "target": "com.gcp.displayvideo_v4#BiddingStrategy",
          "traits": {
            "smithy.api#documentation": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated."
          }
        },
        "entityStatus": {
          "target": "com.gcp.displayvideo_v4#InsertionOrderEntityStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the advertiser the insertion order belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single insertion order."
      }
    },
    "com.gcp.displayvideo_v4#InsertionOrderOptimizationObjectiveEnum": {
      "type": "enum",
      "members": {
        "OPTIMIZATION_OBJECTIVE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZATION_OBJECTIVE_UNSPECIFIED"
          }
        },
        "CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSION"
          }
        },
        "CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICK"
          }
        },
        "BRAND_AWARENESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRAND_AWARENESS"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "NO_OBJECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OBJECTIVE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#InsertionOrderReservationTypeEnum": {
      "type": "enum",
      "members": {
        "RESERVATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_UNSPECIFIED"
          }
        },
        "RESERVATION_TYPE_NOT_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_NOT_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_TAG_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_TAG_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_PETRA_VIRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_PETRA_VIRAL"
          }
        },
        "RESERVATION_TYPE_INSTANT_RESERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_INSTANT_RESERVE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#InsertionOrderInsertionOrderTypeEnum": {
      "type": "enum",
      "members": {
        "INSERTION_ORDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSERTION_ORDER_TYPE_UNSPECIFIED"
          }
        },
        "RTB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RTB"
          }
        },
        "OVER_THE_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVER_THE_TOP"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#PartnerCostList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#PartnerCost"
      }
    },
    "com.gcp.displayvideo_v4#InsertionOrderEntityStatusEnum": {
      "type": "enum",
      "members": {
        "ENTITY_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_UNSPECIFIED"
          }
        },
        "ENTITY_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ACTIVE"
          }
        },
        "ENTITY_STATUS_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ARCHIVED"
          }
        },
        "ENTITY_STATUS_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_DRAFT"
          }
        },
        "ENTITY_STATUS_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_PAUSED"
          }
        },
        "ENTITY_STATUS_SCHEDULED_FOR_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AdPolicyTopicConstraintAdPolicyCountryConstraintList": {
      "type": "structure",
      "members": {
        "countries": {
          "target": "com.gcp.displayvideo_v4#AdPolicyCriterionRestrictionList",
          "traits": {
            "smithy.api#documentation": "Countries where the ad cannot serve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of countries where the ad cannot serve due to policy constraints."
      }
    },
    "com.gcp.displayvideo_v4#AdPolicyCriterionRestrictionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#AdPolicyCriterionRestriction"
      }
    },
    "com.gcp.displayvideo_v4#AppCategoryTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the app collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable collection of apps. A collection lets you target dynamic groups of related apps that are maintained by the platform, for example `All Apps/Google Play/Games`. This will be populated in the app_category_details field when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
      }
    },
    "com.gcp.displayvideo_v4#Displayvideo_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.displayvideo_v4#SurfaceTargetingCombinations": {
      "type": "structure",
      "members": {
        "availableSurfaceTypes": {
          "target": "com.gcp.displayvideo_v4#SurfaceTargetingCombinationsAvailableSurfaceTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The surface types available."
          }
        },
        "validSurfaceCombinations": {
          "target": "com.gcp.displayvideo_v4#SurfaceTargetingCombinationList",
          "traits": {
            "smithy.api#documentation": "Output only. Valid combinations of surfaces that can be selected together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Surface targeting rules."
      }
    },
    "com.gcp.displayvideo_v4#SurfaceTargetingCombinationsAvailableSurfaceTypesItemEnum": {
      "type": "enum",
      "members": {
        "PLANNABLE_SURFACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_UNSPECIFIED"
          }
        },
        "PLANNABLE_SURFACE_IN_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_IN_FEED"
          }
        },
        "PLANNABLE_SURFACE_IN_STREAM_BUMPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_IN_STREAM_BUMPER"
          }
        },
        "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE"
          }
        },
        "PLANNABLE_SURFACE_IN_STREAM_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_IN_STREAM_SKIPPABLE"
          }
        },
        "PLANNABLE_SURFACE_SHORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_SHORTS"
          }
        },
        "PLANNABLE_SURFACE_DISCOVER_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_DISCOVER_FEED"
          }
        },
        "PLANNABLE_SURFACE_GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_GMAIL"
          }
        },
        "PLANNABLE_SURFACE_GOOGLE_DISPLAY_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_GOOGLE_DISPLAY_NETWORK"
          }
        },
        "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE_THIRTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE_THIRTY_SECONDS"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#SurfaceTargetingCombinationsAvailableSurfaceTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#SurfaceTargetingCombinationsAvailableSurfaceTypesItemEnum"
      }
    },
    "com.gcp.displayvideo_v4#SurfaceTargetingCombinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#SurfaceTargetingCombination"
      }
    },
    "com.gcp.displayvideo_v4#Site": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the site."
          }
        },
        "urlOrAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single site. Sites are apps or websites belonging to a channel."
      }
    },
    "com.gcp.displayvideo_v4#LineItem": {
      "type": "structure",
      "members": {
        "bidStrategy": {
          "target": "com.gcp.displayvideo_v4#BiddingStrategy",
          "traits": {
            "smithy.api#documentation": "Required. The bidding strategy of the line item."
          }
        },
        "warningMessages": {
          "target": "com.gcp.displayvideo_v4#LineItemWarningMessagesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The warning messages generated by the line item. These warnings do not block saving the line item, but some may block the line item from running."
          }
        },
        "mobileApp": {
          "target": "com.gcp.displayvideo_v4#MobileApp",
          "traits": {
            "smithy.api#documentation": "The mobile app promoted by the line item. This is applicable only when line_item_type is either `LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL` or `LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL`."
          }
        },
        "containsEuPoliticalAds": {
          "target": "com.gcp.displayvideo_v4#LineItemContainsEuPoliticalAdsEnum",
          "traits": {
            "smithy.api#documentation": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**."
          }
        },
        "partnerCosts": {
          "target": "com.gcp.displayvideo_v4#PartnerCostList",
          "traits": {
            "smithy.api#documentation": "The partner costs associated with the line item. If absent or empty in CreateLineItem method, the newly created line item will inherit partner costs from its parent insertion order."
          }
        },
        "flight": {
          "target": "com.gcp.displayvideo_v4#LineItemFlight",
          "traits": {
            "smithy.api#documentation": "Required. The start and end time of the line item's flight."
          }
        },
        "frequencyCap": {
          "target": "com.gcp.displayvideo_v4#FrequencyCap",
          "traits": {
            "smithy.api#documentation": "Optional. Required if the line item type is not `LINE_ITEM_TYPE_DEMAND_GEN`. The impression frequency cap settings of the line item. The max_impressions field in this settings object must be used if assigning a limited cap."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the line item. Must be UTF-8 encoded with a maximum size of 240 bytes."
          }
        },
        "budget": {
          "target": "com.gcp.displayvideo_v4#LineItemBudget",
          "traits": {
            "smithy.api#documentation": "Required. The budget allocation setting of the line item."
          }
        },
        "optimizeFixedBidding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable DV360's bid optimization for fixed bid line items. By default, DV360 optimizes your fixed bid by automatically lowering bids for impressions that are less likely to perform well. This optimization is enabled by default (value is true). When this field is set to `false`, this optimization is disabled, and the bid will not be lowered for any reason. This setting only applies to line items with a `bidding_strategy` of type `FIXED_BID`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the line item."
          }
        },
        "youtubeAndPartnersSettings": {
          "target": "com.gcp.displayvideo_v4#YoutubeAndPartnersSettings",
          "traits": {
            "smithy.api#documentation": "Output only. Settings specific to YouTube and Partners line items."
          }
        },
        "demandGenSettings": {
          "target": "com.gcp.displayvideo_v4#DemandGenSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings specific to Demand Gen line items. Only applicable to Demand Gen line items. Retrieval and management of Demand Gen resources is currently rolling out. This field will be available to all partners by *June 24, 2026*."
          }
        },
        "reservationType": {
          "target": "com.gcp.displayvideo_v4#LineItemReservationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reservation type of the line item."
          }
        },
        "excludeNewExchanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude new exchanges from automatically being targeted by the line item. This field is false by default."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the advertiser the line item belongs to."
          }
        },
        "entityStatus": {
          "target": "com.gcp.displayvideo_v4#LineItemEntityStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Controls whether or not the line item can spend its budget and bid on inventory. * For CreateLineItem method, only `ENTITY_STATUS_DRAFT` is allowed. To activate a line item, use UpdateLineItem method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * A line item cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * If the line item's parent insertion order is not active, the line item can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`."
          }
        },
        "conversionCounting": {
          "target": "com.gcp.displayvideo_v4#ConversionCountingConfig",
          "traits": {
            "smithy.api#documentation": "The conversion tracking setting of the line item."
          }
        },
        "lineItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the line item. Assigned by the system."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the line item was last updated. Assigned by the system."
          }
        },
        "pacing": {
          "target": "com.gcp.displayvideo_v4#Pacing",
          "traits": {
            "smithy.api#documentation": "Required. The budget spending speed setting of the line item."
          }
        },
        "integrationDetails": {
          "target": "com.gcp.displayvideo_v4#IntegrationDetails",
          "traits": {
            "smithy.api#documentation": "Integration details of the line item."
          }
        },
        "insertionOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique ID of the insertion order that the line item belongs to."
          }
        },
        "lineItemType": {
          "target": "com.gcp.displayvideo_v4#LineItemLineItemTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The type of the line item."
          }
        },
        "creativeIds": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the creatives associated with the line item."
          }
        },
        "campaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the campaign that the line item belongs to."
          }
        },
        "partnerRevenueModel": {
          "target": "com.gcp.displayvideo_v4#PartnerRevenueModel",
          "traits": {
            "smithy.api#documentation": "Required. The partner revenue model setting of the line item."
          }
        },
        "targetingExpansion": {
          "target": "com.gcp.displayvideo_v4#TargetingExpansionConfig",
          "traits": {
            "smithy.api#documentation": "The [optimized targeting](//support.google.com/displayvideo/answer/12060859) settings of the line item. This config is only applicable for display, video, or audio line items that use automated bidding and positively target eligible audience lists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single line item."
      }
    },
    "com.gcp.displayvideo_v4#LineItemWarningMessagesItemEnum": {
      "type": "enum",
      "members": {
        "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED"
          }
        },
        "INVALID_FLIGHT_DATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_FLIGHT_DATES"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "PENDING_FLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_FLIGHT"
          }
        },
        "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED"
          }
        },
        "INVALID_INVENTORY_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_INVENTORY_SOURCE"
          }
        },
        "APP_INVENTORY_INVALID_SITE_TARGETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_INVENTORY_INVALID_SITE_TARGETING"
          }
        },
        "APP_INVENTORY_INVALID_AUDIENCE_LISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_INVENTORY_INVALID_AUDIENCE_LISTS"
          }
        },
        "NO_VALID_CREATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VALID_CREATIVE"
          }
        },
        "PARENT_INSERTION_ORDER_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_INSERTION_ORDER_PAUSED"
          }
        },
        "PARENT_INSERTION_ORDER_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_INSERTION_ORDER_EXPIRED"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#LineItemWarningMessagesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#LineItemWarningMessagesItemEnum"
      }
    },
    "com.gcp.displayvideo_v4#LineItemContainsEuPoliticalAdsEnum": {
      "type": "enum",
      "members": {
        "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN"
          }
        },
        "CONTAINS_EU_POLITICAL_ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS_EU_POLITICAL_ADVERTISING"
          }
        },
        "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#LineItemReservationTypeEnum": {
      "type": "enum",
      "members": {
        "RESERVATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_UNSPECIFIED"
          }
        },
        "RESERVATION_TYPE_NOT_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_NOT_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_TAG_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_TAG_GUARANTEED"
          }
        },
        "RESERVATION_TYPE_PETRA_VIRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_PETRA_VIRAL"
          }
        },
        "RESERVATION_TYPE_INSTANT_RESERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_INSTANT_RESERVE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#LineItemEntityStatusEnum": {
      "type": "enum",
      "members": {
        "ENTITY_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_UNSPECIFIED"
          }
        },
        "ENTITY_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ACTIVE"
          }
        },
        "ENTITY_STATUS_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ARCHIVED"
          }
        },
        "ENTITY_STATUS_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_DRAFT"
          }
        },
        "ENTITY_STATUS_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_PAUSED"
          }
        },
        "ENTITY_STATUS_SCHEDULED_FOR_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#LineItemLineItemTypeEnum": {
      "type": "enum",
      "members": {
        "LINE_ITEM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_UNSPECIFIED"
          }
        },
        "LINE_ITEM_TYPE_DISPLAY_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_DISPLAY_DEFAULT"
          }
        },
        "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL"
          }
        },
        "LINE_ITEM_TYPE_VIDEO_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_VIDEO_DEFAULT"
          }
        },
        "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL"
          }
        },
        "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY"
          }
        },
        "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY"
          }
        },
        "LINE_ITEM_TYPE_AUDIO_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_AUDIO_DEFAULT"
          }
        },
        "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_ACTION"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIDEO_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIDEO_SEQUENCE"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_AUDIO"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE_OVER_THE_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE_OVER_THE_TOP"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH_OVER_THE_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH_OVER_THE_TOP"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE_OVER_THE_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE_OVER_THE_TOP"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_TARGET_FREQUENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_TARGET_FREQUENCY"
          }
        },
        "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIEW"
          }
        },
        "LINE_ITEM_TYPE_DISPLAY_OUT_OF_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_DISPLAY_OUT_OF_HOME"
          }
        },
        "LINE_ITEM_TYPE_VIDEO_OUT_OF_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_VIDEO_OUT_OF_HOME"
          }
        },
        "LINE_ITEM_TYPE_DEMAND_GEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_ITEM_TYPE_DEMAND_GEN"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AppCategoryAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "targetingOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the app category."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this option is being negatively targeted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for assigned app category targeting option. This will be populated in the app_category_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
      }
    },
    "com.gcp.displayvideo_v4#VideoPerformanceAd": {
      "type": "structure",
      "members": {
        "customParameters": {
          "target": "com.gcp.displayvideo_v4#StringMap",
          "traits": {
            "smithy.api#documentation": "The custom parameters and accompanying values to add to the tracking URL."
          }
        },
        "headlines": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The list of headlines shown on the call-to-action banner."
          }
        },
        "descriptions": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The list of descriptions shown on the call-to-action banner."
          }
        },
        "displayUrlBreadcrumb1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first piece after the domain in the display URL."
          }
        },
        "actionButtonLabels": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The list of text assets shown on the call-to-action button."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL address loaded in the background for tracking purposes."
          }
        },
        "finalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL address of the webpage that people reach after they click the ad."
          }
        },
        "displayUrlBreadcrumb2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second piece after the domain in the display URL."
          }
        },
        "longHeadlines": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The list of long headlines shown on the call-to-action banner."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain of the display URL."
          }
        },
        "companionBanners": {
          "target": "com.gcp.displayvideo_v4#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of companion banners used by this ad."
          }
        },
        "videos": {
          "target": "com.gcp.displayvideo_v4#YoutubeVideoDetailsList",
          "traits": {
            "smithy.api#documentation": "The list of YouTube video assets used by this ad."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for a video performance ad."
      }
    },
    "com.gcp.displayvideo_v4#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.displayvideo_v4#ImageAssetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#ImageAsset"
      }
    },
    "com.gcp.displayvideo_v4#YoutubeVideoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#YoutubeVideoDetails"
      }
    },
    "com.gcp.displayvideo_v4#DeviceTypeTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "deviceType": {
          "target": "com.gcp.displayvideo_v4#DeviceTypeTargetingOptionDetailsDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The device type that is used to be targeted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`."
      }
    },
    "com.gcp.displayvideo_v4#DeviceTypeTargetingOptionDetailsDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "DEVICE_TYPE_COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_COMPUTER"
          }
        },
        "DEVICE_TYPE_CONNECTED_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CONNECTED_TV"
          }
        },
        "DEVICE_TYPE_SMART_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_SMART_PHONE"
          }
        },
        "DEVICE_TYPE_TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_TABLET"
          }
        },
        "DEVICE_TYPE_CONNECTED_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CONNECTED_DEVICE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#User": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the user."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the user. Must be UTF-8 encoded with a maximum size of 240 bytes."
          }
        },
        "lastLoginTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the user last logged in DV360 UI."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The email address used to identify the user."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the user. Assigned by the system."
          }
        },
        "assignedUserRoles": {
          "target": "com.gcp.displayvideo_v4#AssignedUserRoleList",
          "traits": {
            "smithy.api#documentation": "The assigned user roles. Required in CreateUser. Output only in UpdateUser. Can only be updated through BulkEditAssignedUserRoles."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single user in Display & Video 360."
      }
    },
    "com.gcp.displayvideo_v4#AssignedUserRoleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#AssignedUserRole"
      }
    },
    "com.gcp.displayvideo_v4#AdvertiserCreativeConfig": {
      "type": "structure",
      "members": {
        "obaComplianceDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to disable Google's About this Ad feature that adds badging (to identify the content as an ad) and transparency information (on interaction with About this Ad) to your ads for Online Behavioral Advertising (OBA) and regulatory requirements. About this Ad gives users greater control over the ads they see and helps you explain why they're seeing your ad. [Learn more](//support.google.com/displayvideo/answer/14315795). If you choose to set this field to `true`, note that ads served through Display & Video 360 must comply to the following: * Be Online Behavioral Advertising (OBA) compliant, as per your contract with Google Marketing Platform. * In the European Economic Area (EEA), include transparency information and a mechanism for users to report illegal content in ads. If using an alternative ad badging, transparency, and reporting solution, you must ensure it includes the required transparency information and illegal content flagging mechanism and that you notify Google of any illegal content reports using the appropriate [form](//support.google.com/legal/troubleshooter/1114905?sjid=6787484030557261960-EU#ts=2981967%2C2982031%2C12980091)."
          }
        },
        "iasClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID for configuring campaign monitoring provided by Integral Ad Service (IAS). The DV360 system will append an IAS \"Campaign Monitor\" tag containing this ID to the creative tag."
          }
        },
        "dynamicCreativeEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the advertiser is enabled for dynamic creatives."
          }
        },
        "videoCreativeDataSharingAuthorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By setting this field to `true`, you, on behalf of your company, authorize Google to use video creatives associated with this Display & Video 360 advertiser to provide reporting and features related to the advertiser's television campaigns. Applicable only when the advertiser has a CM360 hybrid ad server configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creatives related settings of an advertiser."
      }
    },
    "com.gcp.displayvideo_v4#ContentDurationTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "contentDuration": {
          "target": "com.gcp.displayvideo_v4#ContentDurationTargetingOptionDetailsContentDurationEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The content duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable content duration. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`."
      }
    },
    "com.gcp.displayvideo_v4#ContentDurationTargetingOptionDetailsContentDurationEnum": {
      "type": "enum",
      "members": {
        "CONTENT_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_UNSPECIFIED"
          }
        },
        "CONTENT_DURATION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_UNKNOWN"
          }
        },
        "CONTENT_DURATION_0_TO_1_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_0_TO_1_MIN"
          }
        },
        "CONTENT_DURATION_1_TO_5_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_1_TO_5_MIN"
          }
        },
        "CONTENT_DURATION_5_TO_15_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_5_TO_15_MIN"
          }
        },
        "CONTENT_DURATION_15_TO_30_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_15_TO_30_MIN"
          }
        },
        "CONTENT_DURATION_30_TO_60_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_30_TO_60_MIN"
          }
        },
        "CONTENT_DURATION_OVER_60_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DURATION_OVER_60_MIN"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#EditInventorySourceReadWriteAccessorsRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The partner context by which the accessors change is being made."
          }
        },
        "advertisersUpdate": {
          "target": "com.gcp.displayvideo_v4#EditInventorySourceReadWriteAccessorsRequestAdvertisersUpdate",
          "traits": {
            "smithy.api#documentation": "The advertisers to add or remove from the list of advertisers that have read/write access to the inventory source. This change will remove an existing partner read/write accessor."
          }
        },
        "assignPartner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set the partner context as read/write accessor of the inventory source. This will remove all other current read/write advertiser accessors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for InventorySourceService.EditInventorySourceReadWriteAccessors."
      }
    },
    "com.gcp.displayvideo_v4#AssetAssociation": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "com.gcp.displayvideo_v4#Asset",
          "traits": {
            "smithy.api#documentation": "Optional. The associated asset."
          }
        },
        "role": {
          "target": "com.gcp.displayvideo_v4#AssetAssociationRoleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The role of this asset for the creative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Asset association for the creative."
      }
    },
    "com.gcp.displayvideo_v4#AssetAssociationRoleEnum": {
      "type": "enum",
      "members": {
        "ASSET_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_UNSPECIFIED"
          }
        },
        "ASSET_ROLE_MAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_MAIN"
          }
        },
        "ASSET_ROLE_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_BACKUP"
          }
        },
        "ASSET_ROLE_POLITE_LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_POLITE_LOAD"
          }
        },
        "ASSET_ROLE_HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_HEADLINE"
          }
        },
        "ASSET_ROLE_LONG_HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_LONG_HEADLINE"
          }
        },
        "ASSET_ROLE_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_BODY"
          }
        },
        "ASSET_ROLE_LONG_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_LONG_BODY"
          }
        },
        "ASSET_ROLE_CAPTION_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_CAPTION_URL"
          }
        },
        "ASSET_ROLE_CALL_TO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_CALL_TO_ACTION"
          }
        },
        "ASSET_ROLE_ADVERTISER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_ADVERTISER_NAME"
          }
        },
        "ASSET_ROLE_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_PRICE"
          }
        },
        "ASSET_ROLE_ANDROID_APP_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_ANDROID_APP_ID"
          }
        },
        "ASSET_ROLE_IOS_APP_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_IOS_APP_ID"
          }
        },
        "ASSET_ROLE_RATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_RATING"
          }
        },
        "ASSET_ROLE_ICON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_ICON"
          }
        },
        "ASSET_ROLE_COVER_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_COVER_IMAGE"
          }
        },
        "ASSET_ROLE_BACKGROUND_COLOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_BACKGROUND_COLOR"
          }
        },
        "ASSET_ROLE_ACCENT_COLOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_ACCENT_COLOR"
          }
        },
        "ASSET_ROLE_REQUIRE_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_REQUIRE_LOGO"
          }
        },
        "ASSET_ROLE_REQUIRE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_REQUIRE_IMAGE"
          }
        },
        "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#SearchTargetingOptionsResponse": {
      "type": "structure",
      "members": {
        "targetingOptions": {
          "target": "com.gcp.displayvideo_v4#TargetingOptionList",
          "traits": {
            "smithy.api#documentation": "The list of targeting options that match the search criteria. This list will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `SearchTargetingOptions` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchTargetingOptions."
      }
    },
    "com.gcp.displayvideo_v4#TargetingOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#TargetingOption"
      }
    },
    "com.gcp.displayvideo_v4#ListCreativesResponse": {
      "type": "structure",
      "members": {
        "creatives": {
          "target": "com.gcp.displayvideo_v4#CreativeList",
          "traits": {
            "smithy.api#documentation": "The list of creatives. This list will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCreativesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page."
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#CreativeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#Creative"
      }
    },
    "com.gcp.displayvideo_v4#RetrievePlannableUserInterestsResponse": {
      "type": "structure",
      "members": {
        "plannableUserInterests": {
          "target": "com.gcp.displayvideo_v4#PlannableUserInterestList",
          "traits": {
            "smithy.api#documentation": "The list of plannable user interests (Google Audiences)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for RetrievePlannableUserInterests."
      }
    },
    "com.gcp.displayvideo_v4#PlannableUserInterestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#PlannableUserInterest"
      }
    },
    "com.gcp.displayvideo_v4#DemandGenImageAd": {
      "type": "structure",
      "members": {
        "headlines": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of headlines shown on the ad."
          }
        },
        "descriptions": {
          "target": "com.gcp.displayvideo_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of descriptions shown on the ad."
          }
        },
        "marketingImages": {
          "target": "com.gcp.displayvideo_v4#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of marketing images shown on the ad."
          }
        },
        "squareMarketingImages": {
          "target": "com.gcp.displayvideo_v4#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of square marketing images shown on the ad."
          }
        },
        "finalMobileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL address of the webpage that people reach after they click the ad on a mobile device."
          }
        },
        "portraitMarketingImages": {
          "target": "com.gcp.displayvideo_v4#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of portrait marketing images shown on the ad."
          }
        },
        "businessName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The business name shown on the ad."
          }
        },
        "finalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL address of the webpage that people reach after they click the ad."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL address loaded in the background for tracking purposes."
          }
        },
        "customParameters": {
          "target": "com.gcp.displayvideo_v4#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The custom parameters and accompanying values to add to the tracking URL."
          }
        },
        "callToAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The call-to-action button shown on the ad."
          }
        },
        "logoImages": {
          "target": "com.gcp.displayvideo_v4#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of logo images shown on the ad."
          }
        },
        "finalUrlSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The suffix to append to landing page URLs."
          }
        },
        "userSpecifiedTrackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tracking URL specified by the user manually."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for a Demand Gen image ad."
      }
    },
    "com.gcp.displayvideo_v4#YoutubeVideoAsset": {
      "type": "structure",
      "members": {
        "youtubeVideoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The YouTube video id of the asset. This is the 11 char string value used in the YouTube video URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data for a YouTube video ad asset."
      }
    },
    "com.gcp.displayvideo_v4#CreateAssignedTargetingOptionsRequest": {
      "type": "structure",
      "members": {
        "targetingType": {
          "target": "com.gcp.displayvideo_v4#CreateAssignedTargetingOptionsRequestTargetingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Identifies the type of this assigned targeting option."
          }
        },
        "assignedTargetingOptions": {
          "target": "com.gcp.displayvideo_v4#AssignedTargetingOptionList",
          "traits": {
            "smithy.api#documentation": "Required. The assigned targeting options to create and add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request listing which assigned targeting options of a given targeting type should be created and added."
      }
    },
    "com.gcp.displayvideo_v4#CreateAssignedTargetingOptionsRequestTargetingTypeEnum": {
      "type": "enum",
      "members": {
        "TARGETING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_UNSPECIFIED"
          }
        },
        "TARGETING_TYPE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CHANNEL"
          }
        },
        "TARGETING_TYPE_APP_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_APP_CATEGORY"
          }
        },
        "TARGETING_TYPE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_APP"
          }
        },
        "TARGETING_TYPE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_URL"
          }
        },
        "TARGETING_TYPE_DAY_AND_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DAY_AND_TIME"
          }
        },
        "TARGETING_TYPE_AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AGE_RANGE"
          }
        },
        "TARGETING_TYPE_REGIONAL_LOCATION_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_REGIONAL_LOCATION_LIST"
          }
        },
        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_PROXIMITY_LOCATION_LIST"
          }
        },
        "TARGETING_TYPE_GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_GENDER"
          }
        },
        "TARGETING_TYPE_VIDEO_PLAYER_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_VIDEO_PLAYER_SIZE"
          }
        },
        "TARGETING_TYPE_USER_REWARDED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_USER_REWARDED_CONTENT"
          }
        },
        "TARGETING_TYPE_PARENTAL_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_PARENTAL_STATUS"
          }
        },
        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_INSTREAM_POSITION"
          }
        },
        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION"
          }
        },
        "TARGETING_TYPE_DEVICE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEVICE_TYPE"
          }
        },
        "TARGETING_TYPE_AUDIENCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AUDIENCE_GROUP"
          }
        },
        "TARGETING_TYPE_BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_BROWSER"
          }
        },
        "TARGETING_TYPE_HOUSEHOLD_INCOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_HOUSEHOLD_INCOME"
          }
        },
        "TARGETING_TYPE_ON_SCREEN_POSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_ON_SCREEN_POSITION"
          }
        },
        "TARGETING_TYPE_THIRD_PARTY_VERIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_THIRD_PARTY_VERIFIER"
          }
        },
        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION"
          }
        },
        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION"
          }
        },
        "TARGETING_TYPE_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_ENVIRONMENT"
          }
        },
        "TARGETING_TYPE_CARRIER_AND_ISP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CARRIER_AND_ISP"
          }
        },
        "TARGETING_TYPE_OPERATING_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_OPERATING_SYSTEM"
          }
        },
        "TARGETING_TYPE_DEVICE_MAKE_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_DEVICE_MAKE_MODEL"
          }
        },
        "TARGETING_TYPE_KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_KEYWORD"
          }
        },
        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST"
          }
        },
        "TARGETING_TYPE_VIEWABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_VIEWABILITY"
          }
        },
        "TARGETING_TYPE_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CATEGORY"
          }
        },
        "TARGETING_TYPE_INVENTORY_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_INVENTORY_SOURCE"
          }
        },
        "TARGETING_TYPE_LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_LANGUAGE"
          }
        },
        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS"
          }
        },
        "TARGETING_TYPE_GEO_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_GEO_REGION"
          }
        },
        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_INVENTORY_SOURCE_GROUP"
          }
        },
        "TARGETING_TYPE_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_EXCHANGE"
          }
        },
        "TARGETING_TYPE_SUB_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_SUB_EXCHANGE"
          }
        },
        "TARGETING_TYPE_POI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_POI"
          }
        },
        "TARGETING_TYPE_BUSINESS_CHAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_BUSINESS_CHAIN"
          }
        },
        "TARGETING_TYPE_CONTENT_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_DURATION"
          }
        },
        "TARGETING_TYPE_CONTENT_STREAM_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_STREAM_TYPE"
          }
        },
        "TARGETING_TYPE_NATIVE_CONTENT_POSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_NATIVE_CONTENT_POSITION"
          }
        },
        "TARGETING_TYPE_OMID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_OMID"
          }
        },
        "TARGETING_TYPE_AUDIO_CONTENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_AUDIO_CONTENT_TYPE"
          }
        },
        "TARGETING_TYPE_CONTENT_GENRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_GENRE"
          }
        },
        "TARGETING_TYPE_YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_YOUTUBE_VIDEO"
          }
        },
        "TARGETING_TYPE_YOUTUBE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_YOUTUBE_CHANNEL"
          }
        },
        "TARGETING_TYPE_SESSION_POSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_SESSION_POSITION"
          }
        },
        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
          }
        },
        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AssignedTargetingOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v4#AssignedTargetingOption"
      }
    },
    "com.gcp.displayvideo_v4#AlgorithmRulesSignalComparison": {
      "type": "structure",
      "members": {
        "comparisonOperator": {
          "target": "com.gcp.displayvideo_v4#AlgorithmRulesSignalComparisonComparisonOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator used to compare the two values. In the resulting experession, the `signal` will be the first value and the `comparisonValue will be the second."
          }
        },
        "signal": {
          "target": "com.gcp.displayvideo_v4#AlgorithmRulesSignal",
          "traits": {
            "smithy.api#documentation": "Signal to compare."
          }
        },
        "comparisonValue": {
          "target": "com.gcp.displayvideo_v4#AlgorithmRulesComparisonValue",
          "traits": {
            "smithy.api#documentation": "Value to compare signal to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single comparison. The comparison compares the `signal` to the `comparisonValue`. The comparison of `siteId==123` is represented with the following field values: * `signal` has an `impressionSignal` of `SITE_ID`. * `comparisonOperator` is set to `EQUAL`. * `comparisonValue` is set to 123."
      }
    },
    "com.gcp.displayvideo_v4#AlgorithmRulesSignalComparisonComparisonOperatorEnum": {
      "type": "enum",
      "members": {
        "COMPARISON_OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPARISON_OPERATOR_UNSPECIFIED"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL_TO"
          }
        },
        "LESS_THAN_OR_EQUAL_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL_TO"
          }
        },
        "LIST_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_CONTAINS"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AdAsset": {
      "type": "structure",
      "members": {
        "youtubeVideoAsset": {
          "target": "com.gcp.displayvideo_v4#YoutubeVideoAsset",
          "traits": {
            "smithy.api#documentation": "Youtube video asset data."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the ad asset."
          }
        },
        "adAssetType": {
          "target": "com.gcp.displayvideo_v4#AdAssetAdAssetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the ad asset."
          }
        },
        "adAssetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the ad asset. Referred to as the asset ID when assigned to an ad."
          }
        },
        "entityStatus": {
          "target": "com.gcp.displayvideo_v4#AdAssetEntityStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The entity status of the ad asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single ad asset."
      }
    },
    "com.gcp.displayvideo_v4#AdAssetAdAssetTypeEnum": {
      "type": "enum",
      "members": {
        "AD_ASSET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_ASSET_TYPE_UNSPECIFIED"
          }
        },
        "AD_ASSET_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_ASSET_TYPE_IMAGE"
          }
        },
        "AD_ASSET_TYPE_YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_ASSET_TYPE_YOUTUBE_VIDEO"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AdAssetEntityStatusEnum": {
      "type": "enum",
      "members": {
        "ENTITY_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_UNSPECIFIED"
          }
        },
        "ENTITY_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ACTIVE"
          }
        },
        "ENTITY_STATUS_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_ARCHIVED"
          }
        },
        "ENTITY_STATUS_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_DRAFT"
          }
        },
        "ENTITY_STATUS_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_PAUSED"
          }
        },
        "ENTITY_STATUS_SCHEDULED_FOR_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          }
        }
      }
    },
    "com.gcp.displayvideo_v4#AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "targetingOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`."
          }
        },
        "authorizedSellerStatus": {
          "target": "com.gcp.displayvideo_v4#AuthorizedSellerStatusAssignedTargetingOptionDetailsAuthorizedSellerStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The authorized seller status to target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option."
      }
    },
[...]
