{
  "smithy": "2.0",
  "metadata": {
    "service": "dlp",
    "version": "v2",
    "title": "Sensitive Data Protection (DLP)",
    "baseUrl": "https://dlp.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dlp_v2#GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "type": "structure",
      "members": {
        "hybridItem": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2HybridContentItem",
          "traits": {
            "smithy.api#documentation": "The item to inspect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to search for potentially sensitive info in a custom location."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AwsAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. AWS account ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AWS account."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name."
          }
        },
        "currentVersion": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeVersion",
          "traits": {
            "smithy.api#documentation": "Current version of the stored info type."
          }
        },
        "pendingVersions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeVersionList",
          "traits": {
            "smithy.api#documentation": "Pending versions of the stored info type. Empty if no versions are pending."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StoredInfoType resource message that contains information about the current version and any pending updates."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeVersion"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2Conditions": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ConditionList",
          "traits": {
            "smithy.api#documentation": "A collection of conditions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of conditions."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Condition"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2InspectContentResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InspectResult",
          "traits": {
            "smithy.api#documentation": "The findings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of inspecting an item."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2MetadataLocation": {
      "type": "structure",
      "members": {
        "keyValueMetadataLabel": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2KeyValueMetadataLabel",
          "traits": {
            "smithy.api#documentation": "Metadata key that contains the finding."
          }
        },
        "storageLabel": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StorageMetadataLabel",
          "traits": {
            "smithy.api#documentation": "Storage metadata."
          }
        },
        "type": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2MetadataLocationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of metadata containing the finding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata Location"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2MetadataLocationTypeEnum": {
      "type": "enum",
      "members": {
        "METADATATYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATATYPE_UNSPECIFIED"
          }
        },
        "STORAGE_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_METADATA"
          }
        },
        "CONTENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_METADATA"
          }
        },
        "CLIENT_PROVIDED_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_PROVIDED_METADATA"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2QuasiIdField": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldId",
          "traits": {
            "smithy.api#documentation": "Identifies the column."
          }
        },
        "customTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A auxiliary field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2SecretsDiscoveryTarget": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Discovery target for credentials and secrets in cloud resource metadata. This target does not include any filtering or frequency controls. Cloud DLP will scan cloud resource metadata for secrets daily. No inspect template should be included in the discovery config for a security benchmarks scan. Instead, the built-in list of secrets and credentials infoTypes will be used (see https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference#credentials_and_secrets). Credentials and secrets discovered will be reported as vulnerabilities to Security Command Center."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "type": "structure",
      "members": {
        "wrappedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The wrapped data crypto key."
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the KMS CryptoKey to use for unwrapping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128-, 192-, or 256-bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a KMS-wrapped crypto key: dlp.kms.encrypt For more information, see [Creating a wrapped key] (https://cloud.google.com/sensitive-data-protection/docs/create-wrapped-key). Note: When you use Cloud KMS for cryptographic operations, [charges apply](https://cloud.google.com/kms/pricing)."
      }
    },
    "com.gcp.dlp_v2#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2MetadataKeyValueExpression": {
      "type": "structure",
      "members": {
        "keyRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression for the key. Key should be non-empty."
          }
        },
        "valueRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression for the value. Value should be non-empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a custom infoType that detects key-value pairs in the metadata matching the specified regular expressions."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2FileSet": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage url of the file(s) to scan, in the format `gs:///`. Trailing wildcard in the path is allowed. If the url ends in a trailing slash, the bucket or directory represented by the url will be scanned non-recursively (content in sub-directories will not be scanned). This means that `gs://mybucket/` is equivalent to `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to `gs://mybucket/directory/*`. Exactly one of `url` or `regex_file_set` must be set."
          }
        },
        "regexFileSet": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "traits": {
            "smithy.api#documentation": "The regex-filtered set of files to scan. Exactly one of `url` or `regex_file_set` must be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of files to scan."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryDiscoveryTarget": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryConditions",
          "traits": {
            "smithy.api#documentation": "In addition to matching the filter, these conditions must be true before a profile is generated."
          }
        },
        "cadence": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryGenerationCadence",
          "traits": {
            "smithy.api#documentation": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity."
          }
        },
        "disabled": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Disabled",
          "traits": {
            "smithy.api#documentation": "Tables that match this filter will not have profiles created."
          }
        },
        "filter": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryFilter",
          "traits": {
            "smithy.api#documentation": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target used to match against for discovery with BigQuery tables"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AllInfoTypes": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Apply transformation to all findings."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ProcessingLocation": {
      "type": "structure",
      "members": {
        "imageFallbackLocation": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ImageFallbackLocation",
          "traits": {
            "smithy.api#documentation": "Image processing falls back using this configuration."
          }
        },
        "documentFallbackLocation": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DocumentFallbackLocation",
          "traits": {
            "smithy.api#documentation": "Document processing falls back using this configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure processing location for discovery and inspection. For example, image OCR is only provided in limited regions but configuring ProcessingLocation will redirect OCR to a location where OCR is provided."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ActivateJobTrigger."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityConfig": {
      "type": "structure",
      "members": {
        "sensitiveAttribute": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldId",
          "traits": {
            "smithy.api#documentation": "Sensitive field for computing the l-value."
          }
        },
        "quasiIds": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldIdList",
          "traits": {
            "smithy.api#documentation": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "l-diversity metric, used for analysis of reidentification risk."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldId"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ProfileStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.dlp_v2#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "Profiling status code and optional message. The `status.code` value is 0 (default value) for OK."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the profile generation status was updated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Success or errors for the profile generation."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "type": "structure",
      "members": {
        "lDiversityResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityResult",
          "traits": {
            "smithy.api#documentation": "L-divesity result"
          }
        },
        "requestedPrivacyMetric": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2PrivacyMetric",
          "traits": {
            "smithy.api#documentation": "Privacy metric to compute."
          }
        },
        "kMapEstimationResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationResult",
          "traits": {
            "smithy.api#documentation": "K-map result"
          }
        },
        "kAnonymityResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2KAnonymityResult",
          "traits": {
            "smithy.api#documentation": "K-anonymity result"
          }
        },
        "requestedSourceTable": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTable",
          "traits": {
            "smithy.api#documentation": "Input dataset to compute metrics over."
          }
        },
        "deltaPresenceEstimationResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DeltaPresenceEstimationResult",
          "traits": {
            "smithy.api#documentation": "Delta-presence result"
          }
        },
        "categoricalStatsResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CategoricalStatsResult",
          "traits": {
            "smithy.api#documentation": "Categorical stats result"
          }
        },
        "requestedOptions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "traits": {
            "smithy.api#documentation": "The configuration used for this job."
          }
        },
        "numericalStatsResult": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2NumericalStatsResult",
          "traits": {
            "smithy.api#documentation": "Numerical stats result"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of a risk analysis operation request."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DeidentifyTemplate": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name (max 256 chars)."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of an inspectTemplate."
          }
        },
        "deidentifyConfig": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DeidentifyConfig",
          "traits": {
            "smithy.api#documentation": "The core content of the template."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of an inspectTemplate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description (max 256 chars)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DeidentifyTemplates contains instructions on how to de-identify content. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2MultiRegionProcessing": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Processing occurs in a multi-region that contains the current region if available."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ExcludeByHotword": {
      "type": "structure",
      "members": {
        "hotwordRegex": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Regex",
          "traits": {
            "smithy.api#documentation": "Regular expression pattern defining what qualifies as a hotword."
          }
        },
        "proximity": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Proximity",
          "traits": {
            "smithy.api#documentation": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The windowBefore property in proximity should be set to 1 if the hotword needs to be included in a column header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The rule to exclude findings based on a hotword. For record inspection of tables, column names are considered hotwords. An example of this is to exclude a finding if it belongs to a BigQuery column that matches a specific pattern."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2RecordKey": {
      "type": "structure",
      "members": {
        "datastoreKey": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DatastoreKey",
          "traits": {
            "smithy.api#documentation": "BigQuery key"
          }
        },
        "bigQueryKey": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryKey",
          "traits": {
            "smithy.api#documentation": "Datastore key"
          }
        },
        "idValues": {
          "target": "com.gcp.dlp_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for a unique key indicating a record that contains a finding."
      }
    },
    "com.gcp.dlp_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2Expressions": {
      "type": "structure",
      "members": {
        "logicalOperator": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ExpressionsLogicalOperatorEnum",
          "traits": {
            "smithy.api#documentation": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`."
          }
        },
        "conditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Conditions",
          "traits": {
            "smithy.api#documentation": "Conditions to apply to the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An expression, consisting of an operator and conditions."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ExpressionsLogicalOperatorEnum": {
      "type": "enum",
      "members": {
        "LOGICAL_OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGICAL_OPERATOR_UNSPECIFIED"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeLimit": {
      "type": "structure",
      "members": {
        "infoType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoType",
          "traits": {
            "smithy.api#documentation": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit."
          }
        },
        "maxFindings": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max findings limit for the given infoType."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Max findings configuration per infoType, per content item or long running DlpJob."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubExpressions": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubConditionList",
          "traits": {
            "smithy.api#documentation": "Conditions to apply to the expression."
          }
        },
        "logicalOperator": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubExpressionsLogicalOperatorEnum",
          "traits": {
            "smithy.api#documentation": "The operator to apply to the collection of conditions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An expression, consisting of an operator and conditions."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubCondition"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PubSubExpressionsLogicalOperatorEnum": {
      "type": "enum",
      "members": {
        "LOGICAL_OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGICAL_OPERATOR_UNSPECIFIED"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditions": {
      "type": "structure",
      "members": {
        "types": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Data profiles will only be generated for the database resource types specified in this field. If not specified, defaults to [DATABASE_RESOURCE_TYPE_ALL_SUPPORTED_TYPES]."
          }
        },
        "databaseEngines": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsDatabaseEnginesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Database engines that should be profiled. Optional. Defaults to ALL_SUPPORTED_DATABASE_ENGINES if unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Requirements that must be true before a table is profiled for the first time."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsTypesItemEnum": {
      "type": "enum",
      "members": {
        "DATABASE_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DATABASE_RESOURCE_TYPE_ALL_SUPPORTED_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESOURCE_TYPE_ALL_SUPPORTED_TYPES"
          }
        },
        "DATABASE_RESOURCE_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESOURCE_TYPE_TABLE"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsTypesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsDatabaseEnginesItemEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENGINE_UNSPECIFIED"
          }
        },
        "ALL_SUPPORTED_DATABASE_ENGINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SUPPORTED_DATABASE_ENGINES"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsDatabaseEnginesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditionsDatabaseEnginesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2Overlap": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Defines a condition for overlapping bounding boxes."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationResult": {
      "type": "structure",
      "members": {
        "kMapEstimationHistogram": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationHistogramBucketList",
          "traits": {
            "smithy.api#documentation": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationHistogramBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationHistogramBucket"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2OrConditions": {
      "type": "structure",
      "members": {
        "minAge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum age a table must have before Cloud DLP can profile it. Value must be 1 hour or greater."
          }
        },
        "minRowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of rows that should be present before Cloud DLP profiles a table"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "There is an OR relationship between these attributes. They are used to determine if a table should be scanned or not in Discovery."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BucketingConfig": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BucketList",
          "traits": {
            "smithy.api#documentation": "Set of buckets. Ranges must be non-overlapping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -> LOW, 31-65 -> MEDIUM, 66-100 -> HIGH. This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Bucket"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2TableOptions": {
      "type": "structure",
      "members": {
        "identifyingFields": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldIdList",
          "traits": {
            "smithy.api#documentation": "The columns that are the primary keys for table objects included in ContentItem. A copy of this cell's value will stored alongside alongside each finding so that the finding can be traced to the specific row it came from. No more than 3 may be provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instructions regarding the table content being inspected."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2FindingLimits": {
      "type": "structure",
      "members": {
        "maxFindingsPerItem": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of findings that are returned for each item scanned. When set within an InspectContentRequest, this field is ignored. This value isn't a hard limit. If the number of findings for an item reaches this limit, the inspection of that item ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns for the item can be multiple times higher than this value."
          }
        },
        "maxFindingsPerInfoType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeLimitList",
          "traits": {
            "smithy.api#documentation": "Configuration of findings limit given for specified infoTypes."
          }
        },
        "maxFindingsPerRequest": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of findings that are returned per request or job. If you set this field in an InspectContentRequest, the resulting maximum value is the value that you set or 3,000, whichever is lower. This value isn't a hard limit. If an inspection reaches this limit, the inspection ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration to control the number of findings returned for inspection. This is not used for de-identification or data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeLimitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeLimit"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageGenerationCadence": {
      "type": "structure",
      "members": {
        "refreshFrequency": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageGenerationCadenceRefreshFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Data changes in Cloud Storage can't trigger reprofiling. If you set this field, profiles are refreshed at this frequency regardless of whether the underlying buckets have changed. Defaults to never."
          }
        },
        "inspectTemplateModifiedCadence": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence",
          "traits": {
            "smithy.api#documentation": "Optional. Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How often existing buckets should have their profiles refreshed. New buckets are scanned as quickly as possible depending on system capacity."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageGenerationCadenceRefreshFrequencyEnum": {
      "type": "enum",
      "members": {
        "UPDATE_FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_UNSPECIFIED"
          }
        },
        "UPDATE_FREQUENCY_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_NEVER"
          }
        },
        "UPDATE_FREQUENCY_DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_DAILY"
          }
        },
        "UPDATE_FREQUENCY_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_MONTHLY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2Table": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FieldIdList",
          "traits": {
            "smithy.api#documentation": "Headers of the table."
          }
        },
        "rows": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2RowList",
          "traits": {
            "smithy.api#documentation": "Rows of the table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-structured-text#inspecting_a_table to learn more."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2RowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Row"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ImageTransformation": {
      "type": "structure",
      "members": {
        "redactionColor": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Color",
          "traits": {
            "smithy.api#documentation": "The color to use when redacting content from an image. If not specified, the default is black."
          }
        },
        "selectedInfoTypes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SelectedInfoTypes",
          "traits": {
            "smithy.api#documentation": "Apply transformation to the selected info_types."
          }
        },
        "allText": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AllText",
          "traits": {
            "smithy.api#documentation": "Apply transformation to all text that doesn't match an infoType. Only one instance is allowed within the ImageTransformations message."
          }
        },
        "allInfoTypes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AllInfoTypes",
          "traits": {
            "smithy.api#documentation": "Apply transformation to all findings not specified in other ImageTransformation's selected_info_types. Only one instance is allowed within the ImageTransformations message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for determining how redaction of images should occur."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PathElement": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2OutputStorageConfig": {
      "type": "structure",
      "members": {
        "table": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTable",
          "traits": {
            "smithy.api#documentation": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table."
          }
        },
        "storagePath": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudStoragePath",
          "traits": {
            "smithy.api#documentation": "Store findings in an existing Cloud Storage bucket. Files will be generated with the job ID and file part number as the filename and will contain findings in textproto format as SaveToGcsFindingsOutput. The filename will follow the naming convention `-`. Example: `my-job-id-2`. Supported for Inspect jobs. The bucket must not be the same as the bucket being inspected. If storing findings to Cloud Storage, the output schema field should not be set. If set, it will be ignored."
          }
        },
        "outputSchema": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2OutputStorageConfigOutputSchemaEnum",
          "traits": {
            "smithy.api#documentation": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud repository for storing output."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2OutputStorageConfigOutputSchemaEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_SCHEMA_UNSPECIFIED"
          }
        },
        "BASIC_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_COLUMNS"
          }
        },
        "GCS_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_COLUMNS"
          }
        },
        "DATASTORE_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_COLUMNS"
          }
        },
        "BIG_QUERY_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_COLUMNS"
          }
        },
        "ALL_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_COLUMNS"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "type": "structure",
      "members": {
        "storedInfoTypes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeList",
          "traits": {
            "smithy.api#documentation": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the next page is available then the next page token to be used in the following ListStoredInfoTypes request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListStoredInfoTypes."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredInfoType"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryConditions": {
      "type": "structure",
      "members": {
        "typeCollection": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryConditionsTypeCollectionEnum",
          "traits": {
            "smithy.api#documentation": "Restrict discovery to categories of table types."
          }
        },
        "createdAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigQuery table must have been created after this date. Used to avoid backfilling."
          }
        },
        "types": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypes",
          "traits": {
            "smithy.api#documentation": "Restrict discovery to specific table types."
          }
        },
        "orConditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2OrConditions",
          "traits": {
            "smithy.api#documentation": "At least one of the conditions must be true for a table to be scanned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Requirements that must be true before a table is scanned in discovery for the first time. There is an AND relationship between the top-level attributes. Additionally, minimum conditions with an OR relationship that must be met before Cloud DLP scans a table can be set (like a minimum row count or a minimum table age)."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryConditionsTypeCollectionEnum": {
      "type": "enum",
      "members": {
        "BIG_QUERY_COLLECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_COLLECTION_UNSPECIFIED"
          }
        },
        "BIG_QUERY_COLLECTION_ALL_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_COLLECTION_ALL_TYPES"
          }
        },
        "BIG_QUERY_COLLECTION_ONLY_SUPPORTED_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_COLLECTION_ONLY_SUPPORTED_TYPES"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence": {
      "type": "structure",
      "members": {
        "schemaModifiedCadence": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadence",
          "traits": {
            "smithy.api#documentation": "When to reprofile if the schema has changed."
          }
        },
        "refreshFrequency": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadenceRefreshFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Data changes (non-schema changes) in Cloud SQL tables can't trigger reprofiling. If you set this field, profiles are refreshed at this frequency regardless of whether the underlying tables have changed. Defaults to never."
          }
        },
        "inspectTemplateModifiedCadence": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence",
          "traits": {
            "smithy.api#documentation": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How often existing tables should have their profiles refreshed. New tables are scanned as quickly as possible depending on system capacity."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadenceRefreshFrequencyEnum": {
      "type": "enum",
      "members": {
        "UPDATE_FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_UNSPECIFIED"
          }
        },
        "UPDATE_FREQUENCY_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_NEVER"
          }
        },
        "UPDATE_FREQUENCY_DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_DAILY"
          }
        },
        "UPDATE_FREQUENCY_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_MONTHLY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryBigQueryFilter": {
      "type": "structure",
      "members": {
        "tableReference": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2TableReference",
          "traits": {
            "smithy.api#documentation": "The table to scan. Discovery configurations including this can only include one DiscoveryTarget (the DiscoveryTarget with this TableReference)."
          }
        },
        "tables": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableCollection",
          "traits": {
            "smithy.api#documentation": "A specific set of tables for this filter to apply to. A table collection must be specified in only one filter per config. If a table id or dataset is empty, Cloud DLP assumes all tables in that collection must be profiled. Must specify a project ID."
          }
        },
        "otherTables": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AllOtherBigQueryTables",
          "traits": {
            "smithy.api#documentation": "Catch-all. This should always be the last filter in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, dataset ID, and table ID."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "type": "structure",
      "members": {
        "wordList": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2WordList",
          "traits": {
            "smithy.api#documentation": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replace each input value with a value randomly selected from the dictionary."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2OtherCloudSingleResourceReference": {
      "type": "structure",
      "members": {
        "amazonS3Bucket": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AmazonS3Bucket",
          "traits": {
            "smithy.api#documentation": "Amazon S3 bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a single resource, like a single Amazon S3 bucket."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ConversationLocation": {
      "type": "structure",
      "members": {
        "messageIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Matches an index of a message in the conversation provided in the request."
          }
        },
        "allMessages": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AllMessages",
          "traits": {
            "smithy.api#documentation": "If set, indicates that the finding applies to all messages in the conversation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location within a conversation."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2TransformationOverview": {
      "type": "structure",
      "members": {
        "transformedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total size in bytes that were transformed in some way."
          }
        },
        "transformationSummaries": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2TransformationSummaryList",
          "traits": {
            "smithy.api#documentation": "Transformations applied to the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overview of the modifications that occurred."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2TransformationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2TransformationSummary"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypes": {
      "type": "structure",
      "members": {
        "types": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypesTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A set of BigQuery table types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The types of BigQuery tables supported by Cloud DLP."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypesTypesItemEnum": {
      "type": "enum",
      "members": {
        "BIG_QUERY_TABLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_TABLE_TYPE_UNSPECIFIED"
          }
        },
        "BIG_QUERY_TABLE_TYPE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_TABLE_TYPE_TABLE"
          }
        },
        "BIG_QUERY_TABLE_TYPE_EXTERNAL_BIG_LAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_TABLE_TYPE_EXTERNAL_BIG_LAKE"
          }
        },
        "BIG_QUERY_TABLE_TYPE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_QUERY_TABLE_TYPE_SNAPSHOT"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypesTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2BigQueryTableTypesTypesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2HybridOptions": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.dlp_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
          }
        },
        "tableOptions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2TableOptions",
          "traits": {
            "smithy.api#documentation": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
          }
        },
        "requiredFindingLabelKeys": {
          "target": "com.gcp.dlp_v2#StringList",
          "traits": {
            "smithy.api#documentation": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform."
      }
    },
    "com.gcp.dlp_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dlp_v2#UtilStatusProto": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
          }
        },
        "messageSet": {
          "target": "com.gcp.dlp_v2#Proto2BridgeMessageSet",
          "traits": {
            "smithy.api#documentation": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
          }
        },
        "canonicalCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
          }
        },
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wire-format for a Status object"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CustomInfoType": {
      "type": "structure",
      "members": {
        "infoType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoType",
          "traits": {
            "smithy.api#documentation": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type."
          }
        },
        "likelihood": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CustomInfoTypeLikelihoodEnum",
          "traits": {
            "smithy.api#documentation": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified."
          }
        },
        "detectionRules": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DetectionRuleList",
          "traits": {
            "smithy.api#documentation": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in the order that they are specified. Only supported for the `dictionary`, `regex`, and `stored_type` CustomInfoTypes."
          }
        },
        "regex": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Regex",
          "traits": {
            "smithy.api#documentation": "Regular expression based CustomInfoType."
          }
        },
        "exclusionType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CustomInfoTypeExclusionTypeEnum",
          "traits": {
            "smithy.api#documentation": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching. Only supported for the `dictionary`, `regex`, and `stored_type` CustomInfoTypes."
          }
        },
        "storedType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2StoredType",
          "traits": {
            "smithy.api#documentation": "Loads an existing `StoredInfoType` resource."
          }
        },
        "dictionary": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Dictionary",
          "traits": {
            "smithy.api#documentation": "A list of phrases to detect as a CustomInfoType."
          }
        },
        "surrogateType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SurrogateType",
          "traits": {
            "smithy.api#documentation": "Message for detecting output from deidentification transformations that support reversing."
          }
        },
        "fileLabelInfoType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2FileLabelInfoType",
          "traits": {
            "smithy.api#documentation": "File label to detect."
          }
        },
        "metadataKeyValueExpression": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2MetadataKeyValueExpression",
          "traits": {
            "smithy.api#documentation": "Key-value pair to detect in the metadata."
          }
        },
        "sensitivityScore": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SensitivityScore",
          "traits": {
            "smithy.api#documentation": "Sensitivity for this CustomInfoType. If this CustomInfoType extends an existing InfoType, the sensitivity here will take precedence over that of the original InfoType. If unset for a CustomInfoType, it will default to HIGH. This only applies to data profiling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CustomInfoTypeLikelihoodEnum": {
      "type": "enum",
      "members": {
        "LIKELIHOOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELIHOOD_UNSPECIFIED"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DetectionRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DetectionRule"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CustomInfoTypeExclusionTypeEnum": {
      "type": "enum",
      "members": {
        "EXCLUSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSION_TYPE_UNSPECIFIED"
          }
        },
        "EXCLUSION_TYPE_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSION_TYPE_EXCLUDE"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2Bucket": {
      "type": "structure",
      "members": {
        "min": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Value",
          "traits": {
            "smithy.api#documentation": "Lower bound of the range, inclusive. Type should be the same as max if used."
          }
        },
        "max": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Value",
          "traits": {
            "smithy.api#documentation": "Upper bound of the range, exclusive; type must match min."
          }
        },
        "replacementValue": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Value",
          "traits": {
            "smithy.api#documentation": "Required. Replacement value for this bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bucket is represented as a range, along with replacement values."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2LabelFieldMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Label Field."
          }
        },
        "value": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Value",
          "traits": {
            "smithy.api#documentation": "The value of the Label Field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The field values of the Google Drive label"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2KeyValueMetadataProperty": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the property."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key-value pair in the Metadata."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name."
          }
        },
        "type": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of job."
          }
        },
        "jobTriggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If created by a job trigger, the resource name of the trigger that instantiated the job."
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the job was last modified by the system."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the job started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the job finished."
          }
        },
        "actionDetails": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ActionDetailsList",
          "traits": {
            "smithy.api#documentation": "Events that should occur after the job has completed."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the job was created."
          }
        },
        "inspectDetails": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InspectDataSourceDetails",
          "traits": {
            "smithy.api#documentation": "Results from inspecting a data source."
          }
        },
        "state": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobStateEnum",
          "traits": {
            "smithy.api#documentation": "State of a job."
          }
        },
        "errors": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ErrorList",
          "traits": {
            "smithy.api#documentation": "A stream of errors encountered running the job."
          }
        },
        "riskDetails": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
          "traits": {
            "smithy.api#documentation": "Results from analyzing risk of a data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Combines all of the information about a DLP job."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobTypeEnum": {
      "type": "enum",
      "members": {
        "DLP_JOB_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DLP_JOB_TYPE_UNSPECIFIED"
          }
        },
        "INSPECT_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSPECT_JOB"
          }
        },
        "RISK_ANALYSIS_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ANALYSIS_JOB"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ActionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ActionDetails"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobStateEnum": {
      "type": "enum",
      "members": {
        "JOB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Error"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "type": "structure",
      "members": {
        "excludeRegex": {
          "target": "com.gcp.dlp_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub."
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a Cloud Storage bucket. Required."
          }
        },
        "includeRegex": {
          "target": "com.gcp.dlp_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2OtherCloudDiscoveryStartingLocation": {
      "type": "structure",
      "members": {
        "awsLocation": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AwsDiscoveryStartingLocation",
          "traits": {
            "smithy.api#documentation": "The AWS starting location for discovery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The other cloud starting location for discovery."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ListDlpJobsResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobList",
          "traits": {
            "smithy.api#documentation": "A list of DlpJobs that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for listing DLP jobs."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DlpJob"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Publish findings of a DlpJob to Data Catalog. In Data Catalog, tag templates are applied to the resource that Cloud DLP scanned. Data Catalog tag templates are stored in the same project and region where the BigQuery table exists. For Cloud DLP to create and apply the tag template, the Cloud DLP service agent must have the `roles/datacatalog.tagTemplateOwner` permission on the project. The tag template contains fields summarizing the results of the DlpJob. Any field values previously written by another DlpJob are deleted. InfoType naming patterns are strictly enforced when using this feature. Findings are persisted in Data Catalog storage and are governed by service-specific policies for Data Catalog. For more information, see [Service Specific Terms](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. This action is allowed only if all resources being scanned are BigQuery tables. Compatible with: Inspect"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2FileStoreRegex": {
      "type": "structure",
      "members": {
        "cloudStorageRegex": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudStorageRegex",
          "traits": {
            "smithy.api#documentation": "Optional. Regex for Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pattern to match against one or more file stores."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "type": "structure",
      "members": {
        "quasiIdsValues": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ValueList",
          "traits": {
            "smithy.api#documentation": "The quasi-identifier values."
          }
        },
        "estimatedAnonymity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The estimated anonymity for these quasi-identifier values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tuple of values for the quasi-identifier columns."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Value"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "type": "structure",
      "members": {
        "quasiIdsValues": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ValueList",
          "traits": {
            "smithy.api#documentation": "The quasi-identifier values."
          }
        },
        "estimatedProbability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tuple of values for the quasi-identifier columns."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudSqlDiscoveryTarget": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlConditions",
          "traits": {
            "smithy.api#documentation": "In addition to matching the filter, these conditions must be true before a profile is generated."
          }
        },
        "filter": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlFilter",
          "traits": {
            "smithy.api#documentation": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table."
          }
        },
        "generationCadence": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence",
          "traits": {
            "smithy.api#documentation": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity."
          }
        },
        "disabled": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Disabled",
          "traits": {
            "smithy.api#documentation": "Disable profiling for database resources that match this filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target used to match against for discovery with Cloud SQL tables."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadence": {
      "type": "structure",
      "members": {
        "types": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The types of schema modifications to consider. Defaults to NEW_COLUMNS."
          }
        },
        "frequency": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Frequency to regenerate data profiles when the schema is modified. Defaults to monthly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How frequently to modify the profile when the table's schema is modified."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceTypesItemEnum": {
      "type": "enum",
      "members": {
        "SQL_SCHEMA_MODIFICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SCHEMA_MODIFICATION_UNSPECIFIED"
          }
        },
        "NEW_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_COLUMNS"
          }
        },
        "REMOVED_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED_COLUMNS"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceTypesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2SchemaModifiedCadenceFrequencyEnum": {
      "type": "enum",
      "members": {
        "UPDATE_FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_UNSPECIFIED"
          }
        },
        "UPDATE_FREQUENCY_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_NEVER"
          }
        },
        "UPDATE_FREQUENCY_DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_DAILY"
          }
        },
        "UPDATE_FREQUENCY_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FREQUENCY_MONTHLY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AdjustByMatchingInfoTypes": {
      "type": "structure",
      "members": {
        "minLikelihood": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AdjustByMatchingInfoTypesMinLikelihoodEnum",
          "traits": {
            "smithy.api#documentation": "Required. Minimum likelihood of the `adjust_by_matching_info_types.info_types` finding. If the likelihood is lower than this value, Sensitive Data Protection doesn't adjust the likelihood of the `InspectionRuleSet.info_types` finding."
          }
        },
        "matchingType": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2AdjustByMatchingInfoTypesMatchingTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the adjustment rule is applied. Only `MATCHING_TYPE_PARTIAL_MATCH` is supported: - Partial match: adjusts the findings of infoTypes specified in the inspection rule when they have a nonempty intersection with a finding of an infoType specified in this adjustment rule."
          }
        },
        "infoTypes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeList",
          "traits": {
            "smithy.api#documentation": "Sensitive Data Protection adjusts the likelihood of a finding if that finding also matches one of these infoTypes. For example, you can create a rule to adjust the likelihood of a `PHONE_NUMBER` finding if the string is found within a document that is classified as `DOCUMENT_TYPE/HR/RESUME`. To configure this, set `PHONE_NUMBER` in `InspectionRuleSet.info_types`. Add an `adjustment_rule` with an `adjust_by_matching_info_types.info_types` that contains `DOCUMENT_TYPE/HR/RESUME`. In this case, the likelihood of the `PHONE_NUMBER` finding is adjusted, but the likelihood of the `DOCUMENT_TYPE/HR/RESUME` finding is not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AdjustmentRule condition for matching infoTypes."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AdjustByMatchingInfoTypesMinLikelihoodEnum": {
      "type": "enum",
      "members": {
        "LIKELIHOOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELIHOOD_UNSPECIFIED"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AdjustByMatchingInfoTypesMatchingTypeEnum": {
      "type": "enum",
      "members": {
        "MATCHING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHING_TYPE_UNSPECIFIED"
          }
        },
        "MATCHING_TYPE_FULL_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHING_TYPE_FULL_MATCH"
          }
        },
        "MATCHING_TYPE_PARTIAL_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHING_TYPE_PARTIAL_MATCH"
          }
        },
        "MATCHING_TYPE_INVERSE_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHING_TYPE_INVERSE_MATCH"
          }
        },
        "MATCHING_TYPE_RULE_SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHING_TYPE_RULE_SPECIFIC"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InfoType"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditions": {
      "type": "structure",
      "members": {
        "includedObjectAttributes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedObjectAttributesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Only objects with the specified attributes will be scanned. If an object has one of the specified attributes but is inside an excluded bucket, it will not be scanned. Defaults to [ALL_SUPPORTED_OBJECTS]. A profile will be created even if no objects match the included_object_attributes."
          }
        },
        "includedBucketAttributes": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedBucketAttributesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Only objects with the specified attributes will be scanned. Defaults to [ALL_SUPPORTED_BUCKETS] if unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Requirements that must be true before a Cloud Storage bucket or object is scanned in discovery for the first time. There is an AND relationship between the top-level attributes."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedObjectAttributesItemEnum": {
      "type": "enum",
      "members": {
        "CLOUD_STORAGE_OBJECT_ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_STORAGE_OBJECT_ATTRIBUTE_UNSPECIFIED"
          }
        },
        "ALL_SUPPORTED_OBJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SUPPORTED_OBJECTS"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "NEARLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEARLINE"
          }
        },
        "COLDLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLDLINE"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        },
        "MULTI_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_REGIONAL"
          }
        },
        "DURABLE_REDUCED_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DURABLE_REDUCED_AVAILABILITY"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedObjectAttributesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedObjectAttributesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedBucketAttributesItemEnum": {
      "type": "enum",
      "members": {
        "CLOUD_STORAGE_BUCKET_ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_STORAGE_BUCKET_ATTRIBUTE_UNSPECIFIED"
          }
        },
        "ALL_SUPPORTED_BUCKETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SUPPORTED_BUCKETS"
          }
        },
        "AUTOCLASS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOCLASS_DISABLED"
          }
        },
        "AUTOCLASS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOCLASS_ENABLED"
          }
        }
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedBucketAttributesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DiscoveryCloudStorageConditionsIncludedBucketAttributesItemEnum"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ReidentifyContentRequest": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. This field has no effect."
          }
        },
        "inspectTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template to use. Any configuration directly specified in `inspect_config` will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
          }
        },
        "inspectConfig": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2InspectConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the inspector."
          }
        },
        "item": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ContentItem",
          "traits": {
            "smithy.api#documentation": "The item to re-identify. Will be treated as text."
          }
        },
        "reidentifyTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template to use. References an instance of `DeidentifyTemplate`. Any configuration directly specified in `reidentify_config` or `inspect_config` will override those set in the template. The `DeidentifyTemplate` used must include only reversible transformations. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
          }
        },
        "reidentifyConfig": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DeidentifyConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the re-identification of the content item. This field shares the same proto message type that is used for de-identification, however its usage here is for the reversal of the previous de-identification. Re-identification is performed by examining the transformations used to de-identify the items and executing the reverse. This requires that only reversible transformations be provided here. The reversible transformations are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to re-identify an item."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2PublishToPubSub": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publish a message into a given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityResult": {
      "type": "structure",
      "members": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityHistogramBucketList",
          "traits": {
            "smithy.api#documentation": "Histogram of l-diversity equivalence class sensitive value frequencies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the l-diversity computation."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityHistogramBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2LDiversityHistogramBucket"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2CloudStoragePath": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL representing a file or path (no wildcards) in Cloud Storage. Example: `gs://[BUCKET_NAME]/dictionary.txt`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a single file or path in Cloud Storage."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AwsDiscoveryStartingLocation": {
      "type": "structure",
      "members": {
        "allAssetInventoryAssets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "All AWS assets stored in Asset Inventory that didn't match other AWS discovery configs."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AWS account ID that this discovery config applies to. Within an AWS organization, you can find the AWS account ID inside an AWS account ARN. Example: arn:{partition}:organizations::{management_account_id}:account/{org_id}/{account_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AWS starting location for discovery."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DatabaseResourceRegexes": {
      "type": "structure",
      "members": {
        "patterns": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DatabaseResourceRegexList",
          "traits": {
            "smithy.api#documentation": "A group of regular expression patterns to match against one or more database resources. Maximum of 100 entries. The sum of all regular expression's length can't exceed 10 KiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of regular expressions to determine what database resources to match against."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2DatabaseResourceRegexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2DatabaseResourceRegex"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2LeaveUntransformed": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2AwsAccountRegex": {
      "type": "structure",
      "members": {
        "accountIdRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Regex to test the AWS account ID against. If empty, all accounts match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AWS account regex."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. An empty value means there are no more results."
          }
        },
        "connections": {
          "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2ConnectionList",
          "traits": {
            "smithy.api#documentation": "List of connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListConnections."
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dlp_v2#GooglePrivacyDlpV2Connection"
      }
    },
    "com.gcp.dlp_v2#GooglePrivacyDlpV2WordList": {
      "type": "structure",
      "members": {
        "words": {
          "target": "com.gcp.dlp_v2#StringList",
          "traits": {
[...]
