{
  "smithy": "2.0",
  "metadata": {
    "service": "docs",
    "version": "v1",
    "title": "Google Docs API",
    "baseUrl": "https://docs.googleapis.com/"
  },
  "shapes": {
    "com.gcp.docs_v1#Paragraph": {
      "type": "structure",
      "members": {
        "elements": {
          "target": "com.gcp.docs_v1#ParagraphElementList",
          "traits": {
            "smithy.api#documentation": "The content of the paragraph, broken down into its component parts."
          }
        },
        "paragraphStyle": {
          "target": "com.gcp.docs_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The style of this paragraph."
          }
        },
        "bullet": {
          "target": "com.gcp.docs_v1#Bullet",
          "traits": {
            "smithy.api#documentation": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
          }
        },
        "suggestedPositionedObjectIds": {
          "target": "com.gcp.docs_v1#ObjectReferencesMap",
          "traits": {
            "smithy.api#documentation": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID."
          }
        },
        "suggestedBulletChanges": {
          "target": "com.gcp.docs_v1#SuggestedBulletMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to this paragraph's bullet."
          }
        },
        "suggestedParagraphStyleChanges": {
          "target": "com.gcp.docs_v1#SuggestedParagraphStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID."
          }
        },
        "positionedObjectIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the positioned objects tethered to this paragraph."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character."
      }
    },
    "com.gcp.docs_v1#ParagraphElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.docs_v1#ParagraphElement"
      }
    },
    "com.gcp.docs_v1#ObjectReferencesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#ObjectReferences"
      }
    },
    "com.gcp.docs_v1#SuggestedBulletMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#SuggestedBullet"
      }
    },
    "com.gcp.docs_v1#SuggestedParagraphStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#SuggestedParagraphStyle"
      }
    },
    "com.gcp.docs_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.docs_v1#NestingLevelSuggestionState": {
      "type": "structure",
      "members": {
        "textStyleSuggestionState": {
          "target": "com.gcp.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        },
        "glyphTypeSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to glyph_type."
          }
        },
        "indentStartSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to indent_start."
          }
        },
        "bulletAlignmentSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to bullet_alignment."
          }
        },
        "glyphFormatSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to glyph_format."
          }
        },
        "glyphSymbolSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to glyph_symbol."
          }
        },
        "indentFirstLineSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to indent_first_line."
          }
        },
        "startNumberSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to start_number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#PositionedObjectProperties": {
      "type": "structure",
      "members": {
        "positioning": {
          "target": "com.gcp.docs_v1#PositionedObjectPositioning",
          "traits": {
            "smithy.api#documentation": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
          }
        },
        "embeddedObject": {
          "target": "com.gcp.docs_v1#EmbeddedObject",
          "traits": {
            "smithy.api#documentation": "The embedded object of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a PositionedObject."
      }
    },
    "com.gcp.docs_v1#SizeSuggestionState": {
      "type": "structure",
      "members": {
        "heightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to height."
          }
        },
        "widthSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to width."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value."
      }
    },
    "com.gcp.docs_v1#Footer": {
      "type": "structure",
      "members": {
        "footerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer."
          }
        },
        "content": {
          "target": "com.gcp.docs_v1#StructuralElementList",
          "traits": {
            "smithy.api#documentation": "The contents of the footer. The indexes for a footer's content begin at zero."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document footer."
      }
    },
    "com.gcp.docs_v1#StructuralElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.docs_v1#StructuralElement"
      }
    },
    "com.gcp.docs_v1#InsertTableColumnRequest": {
      "type": "structure",
      "members": {
        "tableCellLocation": {
          "target": "com.gcp.docs_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell."
          }
        },
        "insertRight": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts an empty column into a table."
      }
    },
    "com.gcp.docs_v1#SectionBreak": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "sectionStyle": {
          "target": "com.gcp.docs_v1#SectionStyle",
          "traits": {
            "smithy.api#documentation": "The style of the section after this section break."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break."
      }
    },
    "com.gcp.docs_v1#DocumentFormat": {
      "type": "structure",
      "members": {
        "documentMode": {
          "target": "com.gcp.docs_v1#DocumentFormatDocumentModeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the document has pages or is pageless."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents document-level format settings."
      }
    },
    "com.gcp.docs_v1#DocumentFormatDocumentModeEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_MODE_UNSPECIFIED"
          }
        },
        "PAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGES"
          }
        },
        "PAGELESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGELESS"
          }
        }
      }
    },
    "com.gcp.docs_v1#DocumentStyle": {
      "type": "structure",
      "members": {
        "evenPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "pageNumberStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginLeft": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "defaultFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "useFirstPageHeaderFooter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "defaultHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "evenPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "useEvenPageHeaderFooter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "pageSize": {
          "target": "com.gcp.docs_v1#Size",
          "traits": {
            "smithy.api#documentation": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "firstPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginRight": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "firstPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginBottom": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginFooter": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "documentFormat": {
          "target": "com.gcp.docs_v1#DocumentFormat",
          "traits": {
            "smithy.api#documentation": "Specifies document-level format settings, such as the document mode (pages vs pageless)."
          }
        },
        "background": {
          "target": "com.gcp.docs_v1#Background",
          "traits": {
            "smithy.api#documentation": "The background of the document. Documents cannot have a transparent background color."
          }
        },
        "useCustomHeaderFooterMargins": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginTop": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "marginHeader": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        },
        "flipPageOrientation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The style of the document."
      }
    },
    "com.gcp.docs_v1#InsertTableRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows in the table."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.gcp.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
          }
        },
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of columns in the table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a table at the specified location. A newline character will be inserted before the inserted table."
      }
    },
    "com.gcp.docs_v1#CreateHeaderResponse": {
      "type": "structure",
      "members": {
        "headerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a header."
      }
    },
    "com.gcp.docs_v1#RichLink": {
      "type": "structure",
      "members": {
        "richLinkProperties": {
          "target": "com.gcp.docs_v1#RichLinkProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of this RichLink. This field is always present."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
          }
        },
        "richLinkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of this link."
          }
        },
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this RichLink."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.gcp.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this RichLink, keyed by suggestion ID."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event)."
      }
    },
    "com.gcp.docs_v1#SuggestedTextStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#SuggestedTextStyle"
      }
    },
    "com.gcp.docs_v1#InsertRichLinkRequest": {
      "type": "structure",
      "members": {
        "richLinkProperties": {
          "target": "com.gcp.docs_v1#RichLinkProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the rich link to insert."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.gcp.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the rich link at the end of a header, footer, footnote or the document body."
          }
        },
        "location": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a RichLink at the specified location."
      }
    },
    "com.gcp.docs_v1#BatchUpdateDocumentResponse": {
      "type": "structure",
      "members": {
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the document to which the updates were applied to."
          }
        },
        "replies": {
          "target": "com.gcp.docs_v1#ResponseList",
          "traits": {
            "smithy.api#documentation": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty."
          }
        },
        "writeControl": {
          "target": "com.gcp.docs_v1#WriteControl",
          "traits": {
            "smithy.api#documentation": "The updated write control after applying the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message from a BatchUpdateDocument request."
      }
    },
    "com.gcp.docs_v1#ResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.docs_v1#Response"
      }
    },
    "com.gcp.docs_v1#ReplaceAllTextRequest": {
      "type": "structure",
      "members": {
        "containsText": {
          "target": "com.gcp.docs_v1#SubstringMatchCriteria",
          "traits": {
            "smithy.api#documentation": "Finds text in the document matching this substring."
          }
        },
        "tabsCriteria": {
          "target": "com.gcp.docs_v1#TabsCriteria",
          "traits": {
            "smithy.api#documentation": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
          }
        },
        "replaceText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that will replace the matched text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces all instances of text matching a criteria with replace text."
      }
    },
    "com.gcp.docs_v1#UpdateSectionStyleRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
          }
        },
        "sectionStyle": {
          "target": "com.gcp.docs_v1#SectionStyle",
          "traits": {
            "smithy.api#documentation": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the SectionStyle."
      }
    },
    "com.gcp.docs_v1#InsertPersonRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation."
          }
        },
        "personProperties": {
          "target": "com.gcp.docs_v1#PersonProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the person mention to insert."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.gcp.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the person mention at the end of a header, footer, footnote or the document body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a person mention."
      }
    },
    "com.gcp.docs_v1#BookmarkLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a bookmark in this document."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab containing this bookmark."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a bookmark in this document."
      }
    },
    "com.gcp.docs_v1#ParagraphBorder": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        },
        "padding": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The padding of the border."
          }
        },
        "color": {
          "target": "com.gcp.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border."
          }
        },
        "dashStyle": {
          "target": "com.gcp.docs_v1#ParagraphBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around a paragraph."
      }
    },
    "com.gcp.docs_v1#ParagraphBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.gcp.docs_v1#List": {
      "type": "structure",
      "members": {
        "suggestedInsertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          }
        },
        "listProperties": {
          "target": "com.gcp.docs_v1#ListProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the list."
          }
        },
        "suggestedListPropertiesChanges": {
          "target": "com.gcp.docs_v1#SuggestedListPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to the list properties, keyed by suggestion ID."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet."
      }
    },
    "com.gcp.docs_v1#SuggestedListPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#SuggestedListProperties"
      }
    },
    "com.gcp.docs_v1#Response": {
      "type": "structure",
      "members": {
        "createFooter": {
          "target": "com.gcp.docs_v1#CreateFooterResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a footer."
          }
        },
        "insertInlineSheetsChart": {
          "target": "com.gcp.docs_v1#InsertInlineSheetsChartResponse",
          "traits": {
            "smithy.api#documentation": "The result of inserting an inline Google Sheets chart."
          }
        },
        "addDocumentTab": {
          "target": "com.gcp.docs_v1#AddDocumentTabResponse",
          "traits": {
            "smithy.api#documentation": "The result of adding a document tab."
          }
        },
        "insertInlineImage": {
          "target": "com.gcp.docs_v1#InsertInlineImageResponse",
          "traits": {
            "smithy.api#documentation": "The result of inserting an inline image."
          }
        },
        "createHeader": {
          "target": "com.gcp.docs_v1#CreateHeaderResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a header."
          }
        },
        "createFootnote": {
          "target": "com.gcp.docs_v1#CreateFootnoteResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a footnote."
          }
        },
        "replaceAllText": {
          "target": "com.gcp.docs_v1#ReplaceAllTextResponse",
          "traits": {
            "smithy.api#documentation": "The result of replacing text."
          }
        },
        "createNamedRange": {
          "target": "com.gcp.docs_v1#CreateNamedRangeResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a named range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single response from an update."
      }
    },
    "com.gcp.docs_v1#TabProperties": {
      "type": "structure",
      "members": {
        "nestingLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
          }
        },
        "iconEmoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible name of the tab."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the tab."
          }
        },
        "parentTabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the tab within the parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a tab."
      }
    },
    "com.gcp.docs_v1#ImageProperties": {
      "type": "structure",
      "members": {
        "transparency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent."
          }
        },
        "brightness": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
          }
        },
        "cropProperties": {
          "target": "com.gcp.docs_v1#CropProperties",
          "traits": {
            "smithy.api#documentation": "The crop properties of the image."
          }
        },
        "angle": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The clockwise rotation angle of the image, in radians."
          }
        },
        "sourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URI is the URI used to insert the image. The source URI can be empty."
          }
        },
        "contentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
          }
        },
        "contrast": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an image."
      }
    },
    "com.gcp.docs_v1#Color": {
      "type": "structure",
      "members": {
        "rgbColor": {
          "target": "com.gcp.docs_v1#RgbColor",
          "traits": {
            "smithy.api#documentation": "The RGB color value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A solid color."
      }
    },
    "com.gcp.docs_v1#ParagraphStyle": {
      "type": "structure",
      "members": {
        "spaceAbove": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "alignment": {
          "target": "com.gcp.docs_v1#ParagraphStyleAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "The text alignment for this paragraph."
          }
        },
        "borderTop": {
          "target": "com.gcp.docs_v1#ParagraphBorder",
          "traits": {
            "smithy.api#documentation": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
          }
        },
        "namedStyleType": {
          "target": "com.gcp.docs_v1#ParagraphStyleNamedStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated."
          }
        },
        "borderRight": {
          "target": "com.gcp.docs_v1#ParagraphBorder",
          "traits": {
            "smithy.api#documentation": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
          }
        },
        "avoidWidowAndOrphan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "indentEnd": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
          }
        },
        "direction": {
          "target": "com.gcp.docs_v1#ParagraphStyleDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited."
          }
        },
        "spacingMode": {
          "target": "com.gcp.docs_v1#ParagraphStyleSpacingModeEnum",
          "traits": {
            "smithy.api#documentation": "The spacing mode for the paragraph."
          }
        },
        "borderBetween": {
          "target": "com.gcp.docs_v1#ParagraphBorder",
          "traits": {
            "smithy.api#documentation": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
          }
        },
        "borderLeft": {
          "target": "com.gcp.docs_v1#ParagraphBorder",
          "traits": {
            "smithy.api#documentation": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
          }
        },
        "lineSpacing": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
          }
        },
        "spaceBelow": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "tabStops": {
          "target": "com.gcp.docs_v1#TabStopList",
          "traits": {
            "smithy.api#documentation": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
          }
        },
        "keepLinesTogether": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent."
          }
        },
        "keepWithNext": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent."
          }
        },
        "indentFirstLine": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "borderBottom": {
          "target": "com.gcp.docs_v1#ParagraphBorder",
          "traits": {
            "smithy.api#documentation": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
          }
        },
        "pageBreakBefore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error."
          }
        },
        "shading": {
          "target": "com.gcp.docs_v1#Shading",
          "traits": {
            "smithy.api#documentation": "The shading of the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "headingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
          }
        },
        "indentStart": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
      }
    },
    "com.gcp.docs_v1#ParagraphStyleAlignmentEnum": {
      "type": "enum",
      "members": {
        "ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_UNSPECIFIED"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER"
          }
        },
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END"
          }
        },
        "JUSTIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFIED"
          }
        }
      }
    },
    "com.gcp.docs_v1#ParagraphStyleNamedStyleTypeEnum": {
      "type": "enum",
      "members": {
        "NAMED_STYLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMED_STYLE_TYPE_UNSPECIFIED"
          }
        },
        "NORMAL_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_TEXT"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "SUBTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTITLE"
          }
        },
        "HEADING_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_1"
          }
        },
        "HEADING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_2"
          }
        },
        "HEADING_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_3"
          }
        },
        "HEADING_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_4"
          }
        },
        "HEADING_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_5"
          }
        },
        "HEADING_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_6"
          }
        }
      }
    },
    "com.gcp.docs_v1#ParagraphStyleDirectionEnum": {
      "type": "enum",
      "members": {
        "CONTENT_DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DIRECTION_UNSPECIFIED"
          }
        },
        "LEFT_TO_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_TO_RIGHT"
          }
        },
        "RIGHT_TO_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_TO_LEFT"
          }
        }
      }
    },
    "com.gcp.docs_v1#ParagraphStyleSpacingModeEnum": {
      "type": "enum",
      "members": {
        "SPACING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPACING_MODE_UNSPECIFIED"
          }
        },
        "NEVER_COLLAPSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER_COLLAPSE"
          }
        },
        "COLLAPSE_LISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLAPSE_LISTS"
          }
        }
      }
    },
    "com.gcp.docs_v1#TabStopList": {
      "type": "list",
      "member": {
        "target": "com.gcp.docs_v1#TabStop"
      }
    },
    "com.gcp.docs_v1#EmbeddedObjectSuggestionState": {
      "type": "structure",
      "members": {
        "titleSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to title."
          }
        },
        "descriptionSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to description."
          }
        },
        "marginLeftSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to margin_left."
          }
        },
        "sizeSuggestionState": {
          "target": "com.gcp.docs_v1#SizeSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in size have been changed in this suggestion."
          }
        },
        "linkedContentReferenceSuggestionState": {
          "target": "com.gcp.docs_v1#LinkedContentReferenceSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
          }
        },
        "imagePropertiesSuggestionState": {
          "target": "com.gcp.docs_v1#ImagePropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in image_properties have been changed in this suggestion."
          }
        },
        "marginRightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to margin_right."
          }
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "target": "com.gcp.docs_v1#EmbeddedDrawingPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
          }
        },
        "embeddedObjectBorderSuggestionState": {
          "target": "com.gcp.docs_v1#EmbeddedObjectBorderSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
          }
        },
        "marginBottomSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to margin_bottom."
          }
        },
        "marginTopSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to margin_top."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#BackgroundSuggestionState": {
      "type": "structure",
      "members": {
        "backgroundColorSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the current background color has been modified in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value."
      }
    },
    "com.gcp.docs_v1#PageBreak": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.gcp.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this PageBreak, keyed by suggestion ID."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page."
      }
    },
    "com.gcp.docs_v1#OptionalColor": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.gcp.docs_v1#Color",
          "traits": {
            "smithy.api#documentation": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A color that can either be fully opaque or fully transparent."
      }
    },
    "com.gcp.docs_v1#TableStyle": {
      "type": "structure",
      "members": {
        "tableColumnProperties": {
          "target": "com.gcp.docs_v1#TableColumnPropertiesList",
          "traits": {
            "smithy.api#documentation": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Styles that apply to a table."
      }
    },
    "com.gcp.docs_v1#TableColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.docs_v1#TableColumnProperties"
      }
    },
    "com.gcp.docs_v1#InsertTextRequest": {
      "type": "structure",
      "members": {
        "endOfSegmentLocation": {
          "target": "com.gcp.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the text at the end of a header, footer, footnote or the document body."
          }
        },
        "location": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts text at the specified location."
      }
    },
    "com.gcp.docs_v1#InsertInlineSheetsChartResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the inserted chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of inserting an embedded Google Sheets chart."
      }
    },
    "com.gcp.docs_v1#PositionedObjectPositioning": {
      "type": "structure",
      "members": {
        "leftOffset": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
          }
        },
        "topOffset": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
          }
        },
        "layout": {
          "target": "com.gcp.docs_v1#PositionedObjectPositioningLayoutEnum",
          "traits": {
            "smithy.api#documentation": "The layout of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to."
      }
    },
    "com.gcp.docs_v1#PositionedObjectPositioningLayoutEnum": {
      "type": "enum",
      "members": {
        "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED"
          }
        },
        "WRAP_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRAP_TEXT"
          }
        },
        "BREAK_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BREAK_LEFT"
          }
        },
        "BREAK_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BREAK_RIGHT"
          }
        },
        "BREAK_LEFT_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BREAK_LEFT_RIGHT"
          }
        },
        "IN_FRONT_OF_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_FRONT_OF_TEXT"
          }
        },
        "BEHIND_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEHIND_TEXT"
          }
        }
      }
    },
    "com.gcp.docs_v1#UpdateTableColumnPropertiesRequest": {
      "type": "structure",
      "members": {
        "tableColumnProperties": {
          "target": "com.gcp.docs_v1#TableColumnProperties",
          "traits": {
            "smithy.api#documentation": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`."
          }
        },
        "tableStartLocation": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document."
          }
        },
        "columnIndices": {
          "target": "com.gcp.docs_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the TableColumnProperties of columns in a table."
      }
    },
    "com.gcp.docs_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.docs_v1#UpdateTableCellStyleRequest": {
      "type": "structure",
      "members": {
        "tableCellStyle": {
          "target": "com.gcp.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`"
          }
        },
        "tableStartLocation": {
          "target": "com.gcp.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table."
          }
        },
        "tableRange": {
          "target": "com.gcp.docs_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range representing the subset of the table to which the updates are applied."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the style of a range of table cells."
      }
    },
    "com.gcp.docs_v1#CreateFootnoteResponse": {
      "type": "structure",
      "members": {
        "footnoteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created footnote."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a footnote."
      }
    },
    "com.gcp.docs_v1#ReplaceImageRequest": {
      "type": "structure",
      "members": {
        "imageReplaceMethod": {
          "target": "com.gcp.docs_v1#ReplaceImageRequestImageReplaceMethodEnum",
          "traits": {
            "smithy.api#documentation": "The replacement method."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "imageObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor."
      }
    },
    "com.gcp.docs_v1#ReplaceImageRequestImageReplaceMethodEnum": {
      "type": "enum",
      "members": {
        "IMAGE_REPLACE_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_REPLACE_METHOD_UNSPECIFIED"
          }
        },
        "CENTER_CROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER_CROP"
          }
        }
      }
    },
    "com.gcp.docs_v1#TableCellStyleSuggestionState": {
      "type": "structure",
      "members": {
        "columnSpanSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to column_span."
          }
        },
        "rowSpanSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to row_span."
          }
        },
        "borderRightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_right."
          }
        },
        "paddingLeftSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to padding_left."
          }
        },
        "borderBottomSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_bottom."
          }
        },
        "backgroundColorSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to background_color."
          }
        },
        "borderTopSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_top."
          }
        },
        "paddingRightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to padding_right."
          }
        },
        "contentAlignmentSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to content_alignment."
          }
        },
        "borderLeftSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_left."
          }
        },
        "paddingTopSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to padding_top."
          }
        },
        "paddingBottomSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to padding_bottom."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#DateElementPropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "timestampSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to timestamp."
          }
        },
        "timeZoneIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to time_zone_id."
          }
        },
        "localeSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to locale."
          }
        },
        "dateFormatSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to date_format."
          }
        },
        "timeFormatSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to time_format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#CreateParagraphBulletsRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to apply the bullet preset to."
          }
        },
        "bulletPreset": {
          "target": "com.gcp.docs_v1#CreateParagraphBulletsRequestBulletPresetEnum",
          "traits": {
            "smithy.api#documentation": "The kinds of bullet glyphs to be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list."
      }
    },
    "com.gcp.docs_v1#CreateParagraphBulletsRequestBulletPresetEnum": {
      "type": "enum",
      "members": {
        "BULLET_GLYPH_PRESET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_GLYPH_PRESET_UNSPECIFIED"
          }
        },
        "BULLET_DISC_CIRCLE_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_DISC_CIRCLE_SQUARE"
          }
        },
        "BULLET_DIAMONDX_ARROW3D_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_DIAMONDX_ARROW3D_SQUARE"
          }
        },
        "BULLET_CHECKBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_CHECKBOX"
          }
        },
        "BULLET_ARROW_DIAMOND_DISC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_ARROW_DIAMOND_DISC"
          }
        },
        "BULLET_STAR_CIRCLE_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_STAR_CIRCLE_SQUARE"
          }
        },
        "BULLET_ARROW3D_CIRCLE_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_ARROW3D_CIRCLE_SQUARE"
          }
        },
        "BULLET_LEFTTRIANGLE_DIAMOND_DISC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_LEFTTRIANGLE_DIAMOND_DISC"
          }
        },
        "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE"
          }
        },
        "BULLET_DIAMOND_CIRCLE_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULLET_DIAMOND_CIRCLE_SQUARE"
          }
        },
        "NUMBERED_DECIMAL_ALPHA_ROMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_DECIMAL_ALPHA_ROMAN"
          }
        },
        "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS"
          }
        },
        "NUMBERED_DECIMAL_NESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_DECIMAL_NESTED"
          }
        },
        "NUMBERED_UPPERALPHA_ALPHA_ROMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_UPPERALPHA_ALPHA_ROMAN"
          }
        },
        "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL"
          }
        },
        "NUMBERED_ZERODECIMAL_ALPHA_ROMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          }
        }
      }
    },
    "com.gcp.docs_v1#Range": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a contiguous range of text."
      }
    },
    "com.gcp.docs_v1#EmbeddedDrawingProperties": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
      }
    },
    "com.gcp.docs_v1#TableRowStyleSuggestionState": {
      "type": "structure",
      "members": {
        "minRowHeightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to min_row_height."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#PositionedObjectPositioningSuggestionState": {
      "type": "structure",
      "members": {
        "layoutSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to layout."
          }
        },
        "topOffsetSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to top_offset."
          }
        },
        "leftOffsetSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to left_offset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#CreateNamedRangeRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to apply the name to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a NamedRange referencing the given range."
      }
    },
    "com.gcp.docs_v1#EmbeddedObjectBorderSuggestionState": {
      "type": "structure",
      "members": {
        "colorSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to color."
          }
        },
        "widthSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to width."
          }
        },
        "propertyStateSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to property_state."
          }
        },
        "dashStyleSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to dash_style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#EndOfSegmentLocation": {
      "type": "structure",
      "members": {
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
      }
    },
    "com.gcp.docs_v1#HeadingLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a heading in this document."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tab containing this heading."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a heading in this document."
      }
    },
    "com.gcp.docs_v1#SectionColumnProperties": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "Output only. The width of the column."
          }
        },
        "paddingEnd": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The padding at the end of the column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties that apply to a section's column."
      }
    },
    "com.gcp.docs_v1#WriteControl": {
      "type": "structure",
      "members": {
        "requiredRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied."
          }
        },
        "targetRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides control over how write requests are executed."
      }
    },
    "com.gcp.docs_v1#TableCellBorder": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        },
        "color": {
          "target": "com.gcp.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border. This color cannot be transparent."
          }
        },
        "dashStyle": {
          "target": "com.gcp.docs_v1#TableCellBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0."
      }
    },
    "com.gcp.docs_v1#TableCellBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.gcp.docs_v1#InlineObjectPropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "embeddedObjectSuggestionState": {
          "target": "com.gcp.docs_v1#EmbeddedObjectSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.gcp.docs_v1#SuggestedTableRowStyle": {
      "type": "structure",
      "members": {
        "tableRowStyle": {
          "target": "com.gcp.docs_v1#TableRowStyle",
          "traits": {
            "smithy.api#documentation": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
          }
        },
        "tableRowStyleSuggestionState": {
          "target": "com.gcp.docs_v1#TableRowStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a TableRowStyle."
      }
    },
    "com.gcp.docs_v1#InlineObjectProperties": {
      "type": "structure",
      "members": {
        "embeddedObject": {
          "target": "com.gcp.docs_v1#EmbeddedObject",
          "traits": {
            "smithy.api#documentation": "The embedded object of this inline object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an InlineObject."
      }
    },
    "com.gcp.docs_v1#Size": {
      "type": "structure",
      "members": {
        "height": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The height of the object."
          }
        },
        "width": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A width and height."
      }
    },
    "com.gcp.docs_v1#SuggestedTextStyle": {
      "type": "structure",
      "members": {
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values."
          }
        },
        "textStyleSuggestionState": {
          "target": "com.gcp.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a TextStyle."
      }
    },
    "com.gcp.docs_v1#LinkedContentReference": {
      "type": "structure",
      "members": {
        "sheetsChartReference": {
          "target": "com.gcp.docs_v1#SheetsChartReference",
          "traits": {
            "smithy.api#documentation": "A reference to the linked chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to the external linked source content."
      }
    },
    "com.gcp.docs_v1#TableColumnProperties": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.gcp.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
          }
        },
        "widthType": {
          "target": "com.gcp.docs_v1#TableColumnPropertiesWidthTypeEnum",
          "traits": {
            "smithy.api#documentation": "The width type of the column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a column in a table."
      }
    },
    "com.gcp.docs_v1#TableColumnPropertiesWidthTypeEnum": {
      "type": "enum",
      "members": {
        "WIDTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDTH_TYPE_UNSPECIFIED"
          }
        },
        "EVENLY_DISTRIBUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENLY_DISTRIBUTED"
          }
        },
        "FIXED_WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_WIDTH"
          }
        }
      }
    },
    "com.gcp.docs_v1#TextRun": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.gcp.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this run, keyed by suggestion ID."
          }
        },
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this run."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement that represents a run of text that all has the same styling."
      }
    },
    "com.gcp.docs_v1#Bullet": {
      "type": "structure",
      "members": {
        "nestingLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The nesting level of this paragraph in the list."
          }
        },
        "listId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the list this paragraph belongs to."
          }
        },
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The paragraph-specific text style applied to this bullet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the bullet of a paragraph."
      }
    },
    "com.gcp.docs_v1#AddDocumentTabResponse": {
      "type": "structure",
      "members": {
        "tabProperties": {
          "target": "com.gcp.docs_v1#TabProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the newly added tab."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of adding a document tab."
      }
    },
    "com.gcp.docs_v1#AddDocumentTabRequest": {
      "type": "structure",
      "members": {
        "tabProperties": {
          "target": "com.gcp.docs_v1#TabProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the tab to add. All properties are optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented."
      }
    },
    "com.gcp.docs_v1#HorizontalRule": {
      "type": "structure",
      "members": {
        "textStyle": {
          "target": "com.gcp.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.gcp.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing a horizontal line."
      }
    },
    "com.gcp.docs_v1#PositionedObject": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this positioned object."
          }
        },
        "suggestedInsertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "target": "com.gcp.docs_v1#SuggestedPositionedObjectPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to the positioned object properties, keyed by suggestion ID."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.gcp.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "positionedObjectProperties": {
          "target": "com.gcp.docs_v1#PositionedObjectProperties",
          "traits": {
            "smithy.api#documentation": "The properties of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image."
      }
    },
    "com.gcp.docs_v1#SuggestedPositionedObjectPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.docs_v1#SuggestedPositionedObjectProperties"
      }
    },
[...]
