{
  "smithy": "2.0",
  "metadata": {
    "service": "documentai",
    "version": "v1",
    "title": "Cloud Document AI API",
    "baseUrl": "https://documentai.googleapis.com/"
  },
  "shapes": {
    "com.gcp.documentai_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.documentai_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.documentai_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.documentai_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.documentai_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.documentai_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.documentai_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.documentai_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.documentai_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.documentai_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.documentai_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.documentai_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.documentai_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#DocumentMap"
      }
    },
    "com.gcp.documentai_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1ProcessRequest": {
      "type": "structure",
      "members": {
        "inlineDocument": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Document",
          "traits": {
            "smithy.api#documentation": "An inline document proto."
          }
        },
        "rawDocument": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1RawDocument",
          "traits": {
            "smithy.api#documentation": "A raw document content (bytes)."
          }
        },
        "gcsDocument": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1GcsDocument",
          "traits": {
            "smithy.api#documentation": "A raw document on Google Cloud Storage."
          }
        },
        "skipHumanReview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether human review should be skipped for this request. Default to `false`."
          }
        },
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`."
          }
        },
        "processOptions": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1ProcessOptions",
          "traits": {
            "smithy.api#documentation": "Inference-time options for the process API"
          }
        },
        "labels": {
          "target": "com.gcp.documentai_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
          }
        },
        "imagelessMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Option to remove images from the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ProcessDocument method."
      }
    },
    "com.gcp.documentai_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Document": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
          }
        },
        "docid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An internal identifier for document. Should be loggable (no PII)."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. UTF-8 encoded text in reading order from the document."
          }
        },
        "textStyles": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyleList",
          "traits": {
            "smithy.api#documentation": "Styles for the Document.text."
          }
        },
        "pages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageList",
          "traits": {
            "smithy.api#documentation": "Visual page layout for the Document."
          }
        },
        "entities": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityList",
          "traits": {
            "smithy.api#documentation": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries."
          }
        },
        "entityRelations": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityRelationList",
          "traits": {
            "smithy.api#documentation": "Placeholder. Relationship among Document.entities."
          }
        },
        "textChanges": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextChangeList",
          "traits": {
            "smithy.api#documentation": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other."
          }
        },
        "shardInfo": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentShardInfo",
          "traits": {
            "smithy.api#documentation": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
          }
        },
        "error": {
          "target": "com.gcp.documentai_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "Any error that occurred while processing this document."
          }
        },
        "revisions": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevisionList",
          "traits": {
            "smithy.api#documentation": "Placeholder. Revision history of this document."
          }
        },
        "documentLayout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayout",
          "traits": {
            "smithy.api#documentation": "Parsed layout of the document."
          }
        },
        "chunkedDocument": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentChunkedDocument",
          "traits": {
            "smithy.api#documentation": "Document chunked based on chunking config."
          }
        },
        "blobAssets": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentBlobAssetList",
          "traits": {
            "smithy.api#documentation": "Optional. The blob assets in this document. This is used to store the content of the inline blobs in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset id."
          }
        },
        "entityValidationOutput": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityValidationOutput",
          "traits": {
            "smithy.api#documentation": "The entity validation output for the document. This is the validation output for `document.entities` field."
          }
        },
        "entitiesRevisions": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntitiesRevisionList",
          "traits": {
            "smithy.api#documentation": "A list of entity revisions. The entity revisions are appended to the document in the processing order. This field can be used for comparing the entity extraction results at different stages of the processing."
          }
        },
        "entitiesRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity revision ID that `document.entities` field is based on. If this field is set and `entities_revisions` is not empty, the entities in `document.entities` field are the entities in the entity revision with this id and `document.entity_validation_output` field is the `entity_validation_output` field in this entity revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyle"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPage"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntity"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityRelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityRelation"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextChange"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevision"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentBlobAssetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentBlobAsset"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntitiesRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntitiesRevision"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyle": {
      "type": "structure",
      "members": {
        "textAnchor": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchor",
          "traits": {
            "smithy.api#documentation": "Text anchor indexing into the Document.text."
          }
        },
        "color": {
          "target": "com.gcp.documentai_v1#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Text color."
          }
        },
        "backgroundColor": {
          "target": "com.gcp.documentai_v1#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Text background color."
          }
        },
        "fontWeight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`."
          }
        },
        "textStyle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`."
          }
        },
        "textDecoration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
          }
        },
        "fontSize": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyleFontSize",
          "traits": {
            "smithy.api#documentation": "Font size."
          }
        },
        "fontFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "type": "structure",
      "members": {
        "textSegments": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchorTextSegmentList",
          "traits": {
            "smithy.api#documentation": "The text segments from the Document.text."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text reference indexing into the Document.text."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchorTextSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "type": "structure",
      "members": {
        "startIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TextSegment start UTF-8 char index in the Document.text."
          }
        },
        "endIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TextSegment half open end UTF-8 char index in the Document.text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset"
      }
    },
    "com.gcp.documentai_v1#GoogleTypeColor": {
      "type": "structure",
      "members": {
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "type": "structure",
      "members": {
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Font size for the text."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Font size with unit."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPage": {
      "type": "structure",
      "members": {
        "pageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
          }
        },
        "image": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImage",
          "traits": {
            "smithy.api#documentation": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
          }
        },
        "transforms": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageMatrixList",
          "traits": {
            "smithy.api#documentation": "Transformation matrices that were applied to the original document image to produce Page.image."
          }
        },
        "dimension": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDimension",
          "traits": {
            "smithy.api#documentation": "Physical dimension of the page."
          }
        },
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for the page."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "blocks": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageBlockList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
          }
        },
        "paragraphs": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageParagraphList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
          }
        },
        "lines": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLineList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line."
          }
        },
        "tokens": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected tokens on the page."
          }
        },
        "visualElements": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageVisualElementList",
          "traits": {
            "smithy.api#documentation": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page."
          }
        },
        "tables": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected tables on the page."
          }
        },
        "formFields": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageFormFieldList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected form fields on the page."
          }
        },
        "symbols": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageSymbolList",
          "traits": {
            "smithy.api#documentation": "A list of visually detected symbols on the page."
          }
        },
        "detectedBarcodes": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcodeList",
          "traits": {
            "smithy.api#documentation": "A list of detected barcodes."
          }
        },
        "imageQualityScores": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
          "traits": {
            "smithy.api#documentation": "Image quality scores."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page in a Document."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageMatrixList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageMatrix"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageBlock"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageParagraph"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLine"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageToken"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageVisualElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageVisualElement"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTable"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageFormFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageFormField"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageSymbolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageSymbol"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw byte content of the image."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the image in pixels."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height of the image in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rendered image contents for this page."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows in the matrix."
          }
        },
        "cols": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of columns in the matrix."
          }
        },
        "type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matrix data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDimension": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page width."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page height."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimension for the page."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout": {
      "type": "structure",
      "members": {
        "textAnchor": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchor",
          "traits": {
            "smithy.api#documentation": "Text anchor indexing into the Document.text."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
          }
        },
        "boundingPoly": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding polygon for the Layout."
          }
        },
        "orientation": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayoutOrientationEnum",
          "traits": {
            "smithy.api#documentation": "Detected orientation for the Layout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Visual element describing a layout unit on a page."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayoutOrientationEnum": {
      "type": "enum",
      "members": {
        "ORIENTATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIENTATION_UNSPECIFIED"
          }
        },
        "PAGE_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_UP"
          }
        },
        "PAGE_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_RIGHT"
          }
        },
        "PAGE_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_DOWN"
          }
        },
        "PAGE_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_LEFT"
          }
        }
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1BoundingPoly": {
      "type": "structure",
      "members": {
        "vertices": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1VertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon vertices."
          }
        },
        "normalizedVertices": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1NormalizedVertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon normalized vertices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bounding polygon for the detected image annotation."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1VertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Vertex"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1NormalizedVertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1NormalizedVertex"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Vertex": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Y coordinate (starts from the top of the image)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1NormalizedVertex": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate (starts from the top of the image)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of detected language. Range `[0, 1]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected language for a structural component."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageBlock": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Block."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance": {
      "type": "structure",
      "members": {
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the revision that produced this element."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Id of this operation. Needs to be unique within the scope of the revision."
          }
        },
        "parents": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceParentList",
          "traits": {
            "smithy.api#documentation": "References to the original elements that are replaced."
          }
        },
        "type": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of provenance operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure to identify provenance relationships between annotations in different revisions."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceParentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceParent"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        },
        "EVAL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_REQUESTED"
          }
        },
        "EVAL_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_APPROVED"
          }
        },
        "EVAL_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL_SKIPPED"
          }
        }
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceParent": {
      "type": "structure",
      "members": {
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the index into current revision's parent_ids list."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the parent provenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageParagraph": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Paragraph."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of lines that a human would perceive as a paragraph."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLine": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Line."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageToken": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Token."
          }
        },
        "detectedBreak": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
          "traits": {
            "smithy.api#documentation": "Detected break at the end of a Token."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        },
        "styleInfo": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
          "traits": {
            "smithy.api#documentation": "Text style attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detected token."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreakTypeEnum",
          "traits": {
            "smithy.api#documentation": "Detected break type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected break at the end of a Token."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreakTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPACE"
          }
        },
        "WIDE_SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDE_SPACE"
          }
        },
        "HYPHEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPHEN"
          }
        }
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
      "type": "structure",
      "members": {
        "fontSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Font size in points (`1` point is `¹⁄₇₂` inches)."
          }
        },
        "pixelFontSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`."
          }
        },
        "letterSpacing": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Letter spacing in points."
          }
        },
        "fontType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name or style of the font."
          }
        },
        "bold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is bold (equivalent to font_weight is at least `700`)."
          }
        },
        "italic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is italic."
          }
        },
        "underlined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is underlined."
          }
        },
        "strikeout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is strikethrough. This feature is not supported yet."
          }
        },
        "subscript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is a subscript. This feature is not supported yet."
          }
        },
        "superscript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is a superscript. This feature is not supported yet."
          }
        },
        "smallcaps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is in small caps. This feature is not supported yet."
          }
        },
        "fontWeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
          }
        },
        "handwritten": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the text is handwritten."
          }
        },
        "textColor": {
          "target": "com.gcp.documentai_v1#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Color of the text."
          }
        },
        "backgroundColor": {
          "target": "com.gcp.documentai_v1#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Color of the background."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Font and other text style attributes."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageVisualElement": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for VisualElement."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the VisualElement."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected non-text visual elements, for example, checkbox, signature etc. on the page."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTable": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Table."
          }
        },
        "headerRows": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableRowList",
          "traits": {
            "smithy.api#documentation": "Header rows of the table."
          }
        },
        "bodyRows": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableRowList",
          "traits": {
            "smithy.api#documentation": "Body rows of the table."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A table representation similar to HTML table structure."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableRow"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableCellList",
          "traits": {
            "smithy.api#documentation": "Cells that make up this row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A row of table cells."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableCellList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableCell"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageTableTableCell": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for TableCell."
          }
        },
        "rowSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many rows this cell spans."
          }
        },
        "colSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many columns this cell spans."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cell representation inside the table."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageFormField": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc."
          }
        },
        "fieldValue": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for the FormField value."
          }
        },
        "nameDetectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages for name together with confidence."
          }
        },
        "valueDetectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages for value together with confidence."
          }
        },
        "valueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
          }
        },
        "correctedKeyText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
          }
        },
        "correctedValueText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A form field detected on the page."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for Symbol."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detected symbol."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
      "type": "structure",
      "members": {
        "layout": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageLayout",
          "traits": {
            "smithy.api#documentation": "Layout for DetectedBarcode."
          }
        },
        "barcode": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Barcode",
          "traits": {
            "smithy.api#documentation": "Detailed barcode information of the DetectedBarcode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detected barcode."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1Barcode": {
      "type": "structure",
      "members": {
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
          }
        },
        "valueFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
          }
        },
        "rawValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encodes the detailed information of a barcode."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "type": "structure",
      "members": {
        "qualityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
          }
        },
        "detectedDefects": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefectList",
          "traits": {
            "smithy.api#documentation": "A list of detected defects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image quality scores for the page image."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image Quality Defects"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntity": {
      "type": "structure",
      "members": {
        "textAnchor": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchor",
          "traits": {
            "smithy.api#documentation": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Entity type from a schema, for example, `Address`."
          }
        },
        "mentionText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
          }
        },
        "mentionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Use `id` field instead."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
          }
        },
        "pageAnchor": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchor",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Canonical id. This will be a unique value in the entity list for this document."
          }
        },
        "normalizedValue": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityNormalizedValue",
          "traits": {
            "smithy.api#documentation": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types."
          }
        },
        "properties": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityList",
          "traits": {
            "smithy.api#documentation": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance",
          "traits": {
            "smithy.api#documentation": "Optional. The history of this annotation."
          }
        },
        "redacted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the entity will be redacted for de-identification purposes."
          }
        },
        "method": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies how the entity's value is obtained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityMethodEnum": {
      "type": "enum",
      "members": {
        "METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_UNSPECIFIED"
          }
        },
        "EXTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRACT"
          }
        },
        "DERIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DERIVE"
          }
        }
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchor": {
      "type": "structure",
      "members": {
        "pageRefs": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefList",
          "traits": {
            "smithy.api#documentation": "One or more references to visual page elements"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json."
          }
        },
        "layoutType": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefLayoutTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the layout element that is being referenced if any."
          }
        },
        "layoutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Use PageRef.bounding_poly instead."
          }
        },
        "boundingPoly": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "Optional. Identifies the bounding polygon of a layout element on the page. If `layout_type` is set, the bounding polygon must be exactly the same to the layout element it's referring to."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a weak reference to a page element within a document."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentPageAnchorPageRefLayoutTypeEnum": {
      "type": "enum",
      "members": {
        "LAYOUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAYOUT_TYPE_UNSPECIFIED"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "PARAGRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAGRAPH"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN"
          }
        },
        "VISUAL_ELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISUAL_ELEMENT"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "FORM_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORM_FIELD"
          }
        }
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityNormalizedValue": {
      "type": "structure",
      "members": {
        "moneyValue": {
          "target": "com.gcp.documentai_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
          }
        },
        "dateValue": {
          "target": "com.gcp.documentai_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto"
          }
        },
        "datetimeValue": {
          "target": "com.gcp.documentai_v1#GoogleTypeDateTime",
          "traits": {
            "smithy.api#documentation": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto"
          }
        },
        "addressValue": {
          "target": "com.gcp.documentai_v1#GoogleTypePostalAddress",
          "traits": {
            "smithy.api#documentation": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto"
          }
        },
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value. Can be used for entities with binary values, or for checkboxes."
          }
        },
        "integerValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integer value."
          }
        },
        "floatValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Float value."
          }
        },
        "signatureValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A signature - a graphical representation of a person's name, often used to sign a document."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parsed and normalized entity value."
      }
    },
    "com.gcp.documentai_v1#GoogleTypeMoney": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.documentai_v1#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.documentai_v1#GoogleTypeDateTime": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
          }
        },
        "utcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
          }
        },
        "timeZone": {
          "target": "com.gcp.documentai_v1#GoogleTypeTimeZone",
          "traits": {
            "smithy.api#documentation": "Time zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
      }
    },
    "com.gcp.documentai_v1#GoogleTypeTimeZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.documentai_v1#GoogleTypePostalAddress": {
      "type": "structure",
      "members": {
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
          }
        },
        "addressLines": {
          "target": "com.gcp.documentai_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        },
        "recipients": {
          "target": "com.gcp.documentai_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "type": "structure",
      "members": {
        "subjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject entity id."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object entity id."
          }
        },
        "relation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relationship description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Relationship between Entities."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextChange": {
      "type": "structure",
      "members": {
        "textAnchor": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentTextAnchor",
          "traits": {
            "smithy.api#documentation": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
          }
        },
        "changedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that replaces the text identified in the `text_anchor`."
          }
        },
        "provenance": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceList",
          "traits": {
            "smithy.api#documentation": "The history of this annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used for text changes aka. OCR corrections."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentProvenance"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentShardInfo": {
      "type": "structure",
      "members": {
        "shardIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 0-based index of this shard."
          }
        },
        "shardCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of shards."
          }
        },
        "textOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index of the first character in Document.text in the overall document global text."
          }
        },
        "pageOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the first page in Document.pages in the overall document global pages. Available for document shards created by the document splitter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevision": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the change was made by a person specify the name or id of that person."
          }
        },
        "processor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the annotation was made by processor identify the processor by its resource name."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
          }
        },
        "parent": {
          "target": "com.gcp.documentai_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field."
          }
        },
        "parentIds": {
          "target": "com.gcp.documentai_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the revision was created, internally generated by doc proto storage at the time of create."
          }
        },
        "humanReview": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
          "traits": {
            "smithy.api#documentation": "Human Review information of this revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains past or forward revisions of this document."
      }
    },
    "com.gcp.documentai_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human review state. For example, `requested`, `succeeded`, `rejected`."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Human Review information of the document."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "type": "structure",
      "members": {
        "blocks": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockList",
          "traits": {
            "smithy.api#documentation": "List of blocks in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the parsed layout of a document as a collection of blocks that the document is divided into."
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
      }
    },
    "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "type": "structure",
      "members": {
        "textBlock": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of text content."
          }
        },
        "tableBlock": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of table content/structure."
          }
        },
        "listBlock": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "traits": {
            "smithy.api#documentation": "Block consisting of list content/structure."
          }
        },
        "imageBlock": {
          "target": "com.gcp.documentai_v1#GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock",
          "traits": {
[...]
