{
  "smithy": "2.0",
  "metadata": {
    "service": "doubleclickbidmanager",
    "version": "v2",
    "title": "DoubleClick Bid Manager API",
    "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/"
  },
  "shapes": {
    "com.gcp.doubleclickbidmanager_v2#Options": {
      "type": "structure",
      "members": {
        "includeOnlyTargetedUserLists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report parameter options."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#QuerySchedule": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
          }
        },
        "startDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
          }
        },
        "frequency": {
          "target": "com.gcp.doubleclickbidmanager_v2#QueryScheduleFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
          }
        },
        "nextRunTimezoneCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings on when and how frequently to run a query."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#QueryScheduleFrequencyEnum": {
      "type": "enum",
      "members": {
        "FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_UNSPECIFIED"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "SEMI_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEMI_MONTHLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "QUARTERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARTERLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportMetadata": {
      "type": "structure",
      "members": {
        "reportDataEndDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "The end date of the report data date range."
          }
        },
        "reportDataStartDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "The start date of the report data date range."
          }
        },
        "googleCloudStoragePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`."
          }
        },
        "status": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportStatus",
          "traits": {
            "smithy.api#documentation": "The status of the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata of a report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportStatus": {
      "type": "structure",
      "members": {
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
          }
        },
        "state": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the report generation."
          }
        },
        "format": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportStatusFormatEnum",
          "traits": {
            "smithy.api#documentation": "The format of the generated report file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportStatusFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT_UNSPECIFIED"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLSX"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#QueryMetadata": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the query. This value will be used in the file name of reports generated by the query."
          }
        },
        "dataRange": {
          "target": "com.gcp.doubleclickbidmanager_v2#DataRange",
          "traits": {
            "smithy.api#documentation": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
          }
        },
        "sendNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default."
          }
        },
        "format": {
          "target": "com.gcp.doubleclickbidmanager_v2#QueryMetadataFormatEnum",
          "traits": {
            "smithy.api#documentation": "The format of the report generated by the query."
          }
        },
        "shareEmailAddress": {
          "target": "com.gcp.doubleclickbidmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata of the query."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#QueryMetadataFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT_UNSPECIFIED"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLSX"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListReportsResponse": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportList",
          "traits": {
            "smithy.api#documentation": "The list of reports. This field will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.doubleclickbidmanager_v2#Report"
      }
    },
    "com.gcp.doubleclickbidmanager_v2#DataRange": {
      "type": "structure",
      "members": {
        "customEndDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
          }
        },
        "range": {
          "target": "com.gcp.doubleclickbidmanager_v2#DataRangeRangeEnum",
          "traits": {
            "smithy.api#documentation": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
          }
        },
        "customStartDate": {
          "target": "com.gcp.doubleclickbidmanager_v2#Doubleclickbidmanager_Date",
          "traits": {
            "smithy.api#documentation": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date range to be reported on."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#DataRangeRangeEnum": {
      "type": "enum",
      "members": {
        "RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANGE_UNSPECIFIED"
          }
        },
        "CUSTOM_DATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DATES"
          }
        },
        "CURRENT_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT_DAY"
          }
        },
        "PREVIOUS_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_DAY"
          }
        },
        "WEEK_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK_TO_DATE"
          }
        },
        "MONTH_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH_TO_DATE"
          }
        },
        "QUARTER_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARTER_TO_DATE"
          }
        },
        "YEAR_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEAR_TO_DATE"
          }
        },
        "PREVIOUS_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_WEEK"
          }
        },
        "PREVIOUS_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_MONTH"
          }
        },
        "PREVIOUS_QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_QUARTER"
          }
        },
        "PREVIOUS_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_YEAR"
          }
        },
        "LAST_7_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_7_DAYS"
          }
        },
        "LAST_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_30_DAYS"
          }
        },
        "LAST_90_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_90_DAYS"
          }
        },
        "LAST_365_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_365_DAYS"
          }
        },
        "ALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TIME"
          }
        },
        "LAST_14_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_14_DAYS"
          }
        },
        "LAST_60_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_60_DAYS"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Parameters": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.doubleclickbidmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values."
          }
        },
        "groupBys": {
          "target": "com.gcp.doubleclickbidmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
          }
        },
        "filters": {
          "target": "com.gcp.doubleclickbidmanager_v2#FilterPairList",
          "traits": {
            "smithy.api#documentation": "Filters to limit the scope of reported data."
          }
        },
        "options": {
          "target": "com.gcp.doubleclickbidmanager_v2#Options",
          "traits": {
            "smithy.api#documentation": "Additional report parameter options."
          }
        },
        "type": {
          "target": "com.gcp.doubleclickbidmanager_v2#ParametersTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters of a generated report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#FilterPairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.doubleclickbidmanager_v2#FilterPair"
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ParametersTypeEnum": {
      "type": "enum",
      "members": {
        "REPORT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORT_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "INVENTORY_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_AVAILABILITY"
          }
        },
        "AUDIENCE_COMPOSITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_COMPOSITION"
          }
        },
        "FLOODLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOODLIGHT"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE"
          }
        },
        "GRP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRP"
          }
        },
        "YOUTUBE_PROGRAMMATIC_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_PROGRAMMATIC_GUARANTEED"
          }
        },
        "REACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REACH"
          }
        },
        "UNIQUE_REACH_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIQUE_REACH_AUDIENCE"
          }
        },
        "FULL_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_PATH"
          }
        },
        "PATH_ATTRIBUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH_ATTRIBUTION"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Report": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata of the report."
          }
        },
        "params": {
          "target": "com.gcp.doubleclickbidmanager_v2#Parameters",
          "traits": {
            "smithy.api#documentation": "The parameters of the report."
          }
        },
        "key": {
          "target": "com.gcp.doubleclickbidmanager_v2#ReportKey",
          "traits": {
            "smithy.api#documentation": "The key information identifying the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single report generated by its parent report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ReportKey": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the query that generated the report."
          }
        },
        "reportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifying information of a report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListQueriesResponse": {
      "type": "structure",
      "members": {
        "queries": {
          "target": "com.gcp.doubleclickbidmanager_v2#QueryList",
          "traits": {
            "smithy.api#documentation": "The list of queries. This field will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results."
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#QueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.doubleclickbidmanager_v2#Query"
      }
    },
    "com.gcp.doubleclickbidmanager_v2#FilterPair": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifying value to filter by, such as a relevant resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single filter rule."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Query": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.doubleclickbidmanager_v2#QueryMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata of the query."
          }
        },
        "params": {
          "target": "com.gcp.doubleclickbidmanager_v2#Parameters",
          "traits": {
            "smithy.api#documentation": "The parameters of the report generated by the query."
          }
        },
        "schedule": {
          "target": "com.gcp.doubleclickbidmanager_v2#QuerySchedule",
          "traits": {
            "smithy.api#documentation": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single query used to generate a report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#RunQueryRequest": {
      "type": "structure",
      "members": {
        "dataRange": {
          "target": "com.gcp.doubleclickbidmanager_v2#DataRange",
          "traits": {
            "smithy.api#documentation": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details specifying how to run a query."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#DeleteQueriesRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.doubleclickbidmanager_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.doubleclickbidmanager_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.doubleclickbidmanager_v2#DeleteQueries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#DeleteQueriesRequest"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "queries/{queryId}"
        },
        "smithy.api#documentation": "Deletes an existing query as well as its generated reports."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListQueriesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListQueries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#ListQueriesRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#ListQueriesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "queries"
        },
        "smithy.api#documentation": "Lists queries created by the current user.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#CreateQueriesRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.doubleclickbidmanager_v2#Query",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#CreateQueries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#CreateQueriesRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#Query"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "queries"
        },
        "smithy.api#documentation": "Creates a new query."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#GetQueriesRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#GetQueries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#GetQueriesRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#Query"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "queries/{queryId}"
        },
        "smithy.api#documentation": "Retrieves a query."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#RunQueriesRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query to run.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "synchronous": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
            "smithy.api#httpQuery": "synchronous"
          }
        },
        "body": {
          "target": "com.gcp.doubleclickbidmanager_v2#RunQueryRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#RunQueries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#RunQueriesRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#Report"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "queries/{queryId}:run"
        },
        "smithy.api#documentation": "Runs an existing query to generate a report."
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListQueriesReportsRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query that generated the reports.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#ListQueriesReports": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#ListQueriesReportsRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#ListReportsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "queries/{queryId}/reports"
        },
        "smithy.api#documentation": "Lists reports generated by the provided query.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#GetQueriesReportsRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query that generated the report.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the query to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.doubleclickbidmanager_v2#GetQueriesReports": {
      "type": "operation",
      "input": {
        "target": "com.gcp.doubleclickbidmanager_v2#GetQueriesReportsRequest"
      },
      "output": {
        "target": "com.gcp.doubleclickbidmanager_v2#Report"
      },
      "errors": [
        {
          "target": "com.gcp.doubleclickbidmanager_v2#NotFound"
        },
        {
          "target": "com.gcp.doubleclickbidmanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "queries/{queryId}/reports/{reportId}"
        },
        "smithy.api#documentation": "Retrieves a report."
      }
    }
  }
}
