{
  "smithy": "2.0",
  "metadata": {
    "service": "drivelabels",
    "version": "v2",
    "title": "Drive Labels API",
    "baseUrl": "https://drivelabels.googleapis.com/"
  },
  "shapes": {
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        },
        "labels": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelList",
          "traits": {
            "smithy.api#documentation": "Labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing labels."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Label"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum valid value for the integer field."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum valid value for the integer field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the Integer field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "type": "structure",
      "members": {
        "badgeConfig": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BadgeConfig",
          "traits": {
            "smithy.api#documentation": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this label."
          }
        },
        "insertBeforeChoice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display text to show in the UI identifying this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic properties of the choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleTypeColor": {
      "type": "structure",
      "members": {
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BadgeColors": {
      "type": "structure",
      "members": {
        "backgroundColor": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Badge background that pairs with the foreground."
          }
        },
        "foregroundColor": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Badge foreground that pairs with the background."
          }
        },
        "soloColor": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Color that can be used for text without a background."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The color derived from BadgeConfig and changed to the closest recommended supported color."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be shown in the UI as disabled."
          }
        },
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be shown as required in the UI."
          }
        },
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field should be hidden in the search menu when searching for Drive items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UI display hints for rendering a field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldLimits": {
      "type": "structure",
      "members": {
        "selectionLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2SelectionLimits",
          "traits": {
            "smithy.api#documentation": "Selection field limits."
          }
        },
        "textLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2TextLimits",
          "traits": {
            "smithy.api#documentation": "The relevant limits for the specified Field.Type. Text field limits."
          }
        },
        "userLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserLimits",
          "traits": {
            "smithy.api#documentation": "User field limits."
          }
        },
        "maxDisplayNameLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limits for field title."
          }
        },
        "longTextLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LongTextLimits",
          "traits": {
            "smithy.api#documentation": "Long text field limits."
          }
        },
        "dateLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DateLimits",
          "traits": {
            "smithy.api#documentation": "Date field limits."
          }
        },
        "maxIdLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length for the id."
          }
        },
        "maxDescriptionLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limits for field description, also called help text."
          }
        },
        "integerLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2IntegerLimits",
          "traits": {
            "smithy.api#documentation": "Integer field limits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DateLimits": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Minimum value for the date field type."
          }
        },
        "maxValue": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Maximum value for the date field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for date field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the label should be shown in the UI as disabled."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order to display labels in a list."
          }
        },
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This label should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This label should be hidden in the search menu when searching for Drive items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The UI display hints for rendering the label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following field delete."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "type": "structure",
      "members": {
        "canEnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can enable this field. The user must have permission and this field must be disabled."
          }
        },
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
          }
        },
        "canUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can change this field."
          }
        },
        "canDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this field when editing the field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2IntegerLimits": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum value for an integer field type."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum value for an integer field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for integer field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2TextLimits": {
      "type": "structure",
      "members": {
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum length allowed for a text field type."
          }
        },
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length allowed for a text field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for text field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelPermissionRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to update."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates one or more label permissions."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelPermissionRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldUserOptions": {
      "type": "structure",
      "members": {
        "listOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldListOptions",
          "traits": {
            "smithy.api#documentation": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the user field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "type": "structure",
      "members": {
        "writeControl": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to publish a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserCapabilities": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name for the user capabilities."
          }
        },
        "canCreateAdminLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed to create admin labels."
          }
        },
        "canCreateSharedLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed to create shared labels."
          }
        },
        "canAdministrateLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is an administrator for the shared labels feature."
          }
        },
        "canAccessLabelManager": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed access to the label manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities of a user."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserLimits": {
      "type": "structure",
      "members": {
        "listLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLimits",
          "traits": {
            "smithy.api#documentation": "Limits for list-variant of a field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for Field.Type.USER."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "type": "structure",
      "members": {
        "canRead": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can read related applied metadata on items."
          }
        },
        "canWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can set this field on Drive items."
          }
        },
        "canSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can search for Drive items referencing this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this field on applied metadata."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledAppAppEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app where the label can be used."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledAppAppEnum": {
      "type": "enum",
      "members": {
        "APP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_UNSPECIFIED"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "type": "structure",
      "members": {
        "updatedLabel": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Label",
          "traits": {
            "smithy.api#documentation": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
          }
        },
        "responses": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponseList",
          "traits": {
            "smithy.api#documentation": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for label update."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermission": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermissionRoleEnum",
          "traits": {
            "smithy.api#documentation": "The role the principal should have."
          }
        },
        "person": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person resource name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this permission."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group resource name."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permission that applies to a principal (user, group, audience) on a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermissionRoleEnum": {
      "type": "enum",
      "members": {
        "LABEL_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_ROLE_UNSPECIFIED"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READER"
          }
        },
        "APPLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIER"
          }
        },
        "ORGANIZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZER"
          }
        },
        "EDITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITOR"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "writeControl": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "disabledPolicy": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Disabled policy to use."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to deprecate a published label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LockStatus": {
      "type": "structure",
      "members": {
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about whether a label component should be considered locked."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2SelectionLimits": {
      "type": "structure",
      "members": {
        "maxDeletedChoices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of deleted choices."
          }
        },
        "listLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLimits",
          "traits": {
            "smithy.api#documentation": "Limits for list-variant of a field type."
          }
        },
        "maxChoices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of choices."
          }
        },
        "maxIdLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum ID length for a selection option."
          }
        },
        "maxDisplayNameLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length for display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for selection field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Lifecycle": {
      "type": "structure",
      "members": {
        "disabledPolicy": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "The policy that governs how to show a disabled label, field, or selection choice."
          }
        },
        "hasUnpublishedChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the object associated with this lifecycle has unpublished changes."
          }
        },
        "state": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the object associated with this lifecycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UNPUBLISHED_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPUBLISHED_DRAFT"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent label resource name."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "labelPermission": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermission",
          "traits": {
            "smithy.api#documentation": "Required. The permission to create or update on the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "type": "structure",
      "members": {
        "updateLabel": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a label."
          }
        },
        "enableSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Enables a choice within a selection field."
          }
        },
        "disableSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Disables a choice within a selection field."
          }
        },
        "updateFieldType": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse",
          "traits": {
            "smithy.api#documentation": "Updates field type and/or type options."
          }
        },
        "enableField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
          "traits": {
            "smithy.api#documentation": "Enables field."
          }
        },
        "deleteSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Deletes a choice from a selection field."
          }
        },
        "deleteField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
          "traits": {
            "smithy.api#documentation": "Deletes a field from the label."
          }
        },
        "createField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
          "traits": {
            "smithy.api#documentation": "Creates a field."
          }
        },
        "createSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Creates a selection list option to add to a selection field."
          }
        },
        "updateSelectionChoiceProperties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates a choice within a selection field."
          }
        },
        "disableField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
          "traits": {
            "smithy.api#documentation": "Disables field."
          }
        },
        "updateField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single response from an update."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "type": "structure",
      "members": {
        "userOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldUserOptions",
          "traits": {
            "smithy.api#documentation": "Update field to User."
          }
        },
        "textOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldTextOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Text."
          }
        },
        "integerOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Integer."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field to update."
          }
        },
        "dateOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDateOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Date."
          }
        },
        "selectionOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Selection."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to change the type of a field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to delete."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field from which a choice will be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete a choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "type": "structure",
      "members": {
        "darkBadgeColors": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BadgeColors",
          "traits": {
            "smithy.api#documentation": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
          }
        },
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This option should be hidden in the search menu when searching for Drive items."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the option should be shown in the UI as disabled."
          }
        },
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This option should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "badgeColors": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BadgeColors",
          "traits": {
            "smithy.api#documentation": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
          }
        },
        "badgePriority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UI display hints for rendering an option."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest": {
      "type": "structure",
      "members": {
        "disableField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
          "traits": {
            "smithy.api#documentation": "Disables the field."
          }
        },
        "updateField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a field."
          }
        },
        "createSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Create a choice within a selection field."
          }
        },
        "updateSelectionChoiceProperties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Update a choice property within a selection field."
          }
        },
        "createField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
          "traits": {
            "smithy.api#documentation": "Creates a field."
          }
        },
        "deleteField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
          "traits": {
            "smithy.api#documentation": "Deletes a field from the label."
          }
        },
        "enableField": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
          "traits": {
            "smithy.api#documentation": "Enables the field."
          }
        },
        "deleteSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Delete a choice within a selection field."
          }
        },
        "updateFieldType": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "traits": {
            "smithy.api#documentation": "Update field type and/or type options."
          }
        },
        "updateLabel": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Updates the label properties."
          }
        },
        "enableSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Enable a choice within a selection field."
          }
        },
        "disableSelectionChoice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Disable a choice within a selection field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single kind of update to apply to a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceList",
          "traits": {
            "smithy.api#documentation": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`."
          }
        },
        "listOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldListOptions",
          "traits": {
            "smithy.api#documentation": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the selection field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettings": {
      "type": "structure",
      "members": {
        "enabledApps": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledAppList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of apps where the label can be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Google Workspace apps in which the label can be used."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledAppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following choice delete."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelProperties",
          "traits": {
            "smithy.api#documentation": "Required. Label properties to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates basic properties of a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "type": "structure",
      "members": {
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "enabledAppSettings": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
          "traits": {
            "smithy.api#documentation": "Required. The new `EnabledAppSettings` value for the label."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "view": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequestViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. When specified, only certain fields belonging to the indicated view will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequestViewEnum": {
      "type": "enum",
      "members": {
        "LABEL_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_BASIC"
          }
        },
        "LABEL_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_FULL"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the field to enable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable the field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "type": "structure",
      "members": {
        "labelLocks": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLockList",
          "traits": {
            "smithy.api#documentation": "Label locks."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a `ListLabelLocksRequest`."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLock"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "type": "structure",
      "members": {
        "appliedCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities related to this choice on applied metadata."
          }
        },
        "creator": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this choice."
          }
        },
        "lockStatus": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LockStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The `LockStatus` of this choice."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was updated last."
          }
        },
        "disabler": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
          }
        },
        "schemaCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities related to this option when editing the option."
          }
        },
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "traits": {
            "smithy.api#documentation": "Basic properties of the choice."
          }
        },
        "updater": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who updated this choice last."
          }
        },
        "publisher": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
          }
        },
        "lifecycle": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Lifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. Lifecycle of the choice."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was created."
          }
        },
        "displayHints": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
          "traits": {
            "smithy.api#documentation": "Output only. UI display hints for rendering a choice."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selection field choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BadgeConfig": {
      "type": "structure",
      "members": {
        "priorityOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used."
          }
        },
        "color": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Badge status of the label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "type": "structure",
      "members": {
        "canRead": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can read applied metadata related to this label."
          }
        },
        "canRemove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can remove this label from items."
          }
        },
        "canApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can apply this label to items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities a user has on this label's applied metadata."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeleteLabelPermissionRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to update."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes one or more label permissions."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeleteLabelPermissionRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "type": "structure",
      "members": {
        "copyMode": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedLabelPolicyCopyModeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how the applied label and field values should be copied when a Drive item is copied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Behavior of this label when it's applied to Drive items."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedLabelPolicyCopyModeEnum": {
      "type": "enum",
      "members": {
        "COPY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_MODE_UNSPECIFIED"
          }
        },
        "DO_NOT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO_NOT_COPY"
          }
        },
        "ALWAYS_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_COPY"
          }
        },
        "COPY_APPLIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_APPLIABLE"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDateOptions": {
      "type": "structure",
      "members": {
        "dateFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ICU date format."
          }
        },
        "minValue": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Output only. Minimum valid value (year, month, day)."
          }
        },
        "dateFormatType": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDateOptionsDateFormatTypeEnum",
          "traits": {
            "smithy.api#documentation": "Localized date formatting option. Field values are rendered in this format according to their locale."
          }
        },
        "maxValue": {
          "target": "com.gcp.drivelabels_v2#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Output only. Maximum valid value (year, month, day)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the date field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDateOptionsDateFormatTypeEnum": {
      "type": "enum",
      "members": {
        "DATE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_FORMAT_UNSPECIFIED"
          }
        },
        "LONG_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DATE"
          }
        },
        "SHORT_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_DATE"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermissionList",
          "traits": {
            "smithy.api#documentation": "Required. Permissions updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for updating one or more label permissions."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermission"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLimits": {
      "type": "structure",
      "members": {
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of values allowed for the field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for list-variant of a field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldProperties",
          "traits": {
            "smithy.api#documentation": "Required. Basic field properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update field properties."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldTextOptions": {
      "type": "structure",
      "members": {
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum valid length of values for the text field."
          }
        },
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum valid length of values for the text field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the Text field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldListOptions": {
      "type": "structure",
      "members": {
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries permitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a multi-valued variant of an associated field type."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "disabledPolicy": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Required. Field disabled policy."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Key of the field to disable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to disable the field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "type": "structure",
      "members": {
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can delete this choice."
          }
        },
        "canEnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can enable this choice."
          }
        },
        "canUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can update this choice."
          }
        },
        "canDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can disable this choice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this choice when editing the choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLimits": {
      "type": "structure",
      "members": {
        "maxDescriptionLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of characters allowed for the description."
          }
        },
        "maxDeletedFields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of published fields that can be deleted."
          }
        },
        "maxDraftRevisions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of draft revisions that will be kept before deleting old drafts."
          }
        },
        "maxFields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of fields allowed within the label."
          }
        },
        "fieldLimits": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldLimits",
          "traits": {
            "smithy.api#documentation": "The limits for fields."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "maxTitleLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of characters allowed for the title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "type": "structure",
      "members": {
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "writeControl": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Label": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label was created."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled."
          }
        },
        "displayHints": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelDisplayHints",
          "traits": {
            "smithy.api#documentation": "Output only. UI display hints for rendering the label."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
          }
        },
        "schemaCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities the user has on this label."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`."
          }
        },
        "labelType": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLabelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of label."
          }
        },
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelProperties",
          "traits": {
            "smithy.api#documentation": "Required. The basic properties of the label."
          }
        },
        "publisher": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label was published. This value has no meaning when the label isn't published."
          }
        },
        "lifecycle": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Lifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label revision was created."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The customer this label belongs to. For example: `customers/123abc789`."
          }
        },
        "disabler": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled."
          }
        },
        "appliedLabelPolicy": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "traits": {
            "smithy.api#documentation": "Output only. Behavior of this label when it's applied to Drive items."
          }
        },
        "creator": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this label."
          }
        },
        "appliedCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities related to this label on applied metadata."
          }
        },
        "lockStatus": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LockStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The `LockStatus` of this label."
          }
        },
        "fields": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldList",
          "traits": {
            "smithy.api#documentation": "List of fields in descending priority order."
          }
        },
        "learnMoreUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
          }
        },
        "enabledAppSettings": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The `EnabledAppSettings` for this Label."
          }
        },
        "revisionCreator": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this label revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLabelTypeEnum": {
      "type": "enum",
      "members": {
        "LABEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_TYPE_UNSPECIFIED"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "GOOGLE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_APP"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Field"
      }
    },
    "com.gcp.drivelabels_v2#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
          }
        },
        "view": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestViewEnum",
          "traits": {
            "smithy.api#documentation": "When specified, only certain fields belonging to the indicated view will be returned."
          }
        },
        "writeControl": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestViewEnum": {
      "type": "enum",
      "members": {
        "LABEL_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_BASIC"
          }
        },
        "LABEL_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_FULL"
          }
        }
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2WriteControl": {
      "type": "structure",
      "members": {
        "requiredRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides control over how write requests are executed. When not specified, the last write wins."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "type": "structure",
      "members": {
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Label permission resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "type": "structure",
      "members": {
        "hideInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
          }
        },
        "showInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following choice disable."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelProperties": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Title of the label."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic properties of the label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to disable."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field in which a choice will be disabled."
          }
        },
        "disabledPolicy": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Required. The disabled policy to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to disable a choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field in which a choice will be created."
          }
        },
        "choice": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
          "traits": {
            "smithy.api#documentation": "Required. The choice to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a selection choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following update to label properties."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response following update to field properties."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to enable."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field in which a choice will be enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable a choice."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo": {
      "type": "structure",
      "members": {
        "person": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a user."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "type": "structure",
      "members": {
        "labelPermissions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelPermissionList",
          "traits": {
            "smithy.api#documentation": "Label permissions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing the permissions on a label."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response following update to selection choice properties."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "traits": {
            "smithy.api#documentation": "Required. The choice properties to update."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The choice to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update a choice property."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display text to show in the UI identifying this field."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be marked as required."
          }
        },
        "insertBeforeField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The basic properties of the field."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Field": {
      "type": "structure",
      "members": {
        "userOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldUserOptions",
          "traits": {
            "smithy.api#documentation": "User field options."
          }
        },
        "lockStatus": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LockStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The `LockStatus` of this field."
          }
        },
        "dateOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDateOptions",
          "traits": {
            "smithy.api#documentation": "Date field options."
          }
        },
        "selectionOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSelectionOptions",
          "traits": {
            "smithy.api#documentation": "Selection field options."
          }
        },
        "creator": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this field."
          }
        },
        "appliedCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was updated."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`."
          }
        },
        "disabler": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
          }
        },
        "properties": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldProperties",
          "traits": {
            "smithy.api#documentation": "The basic properties of the field."
          }
        },
        "updater": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who modified this field."
          }
        },
        "schemaCapabilities": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities this user has when editing this field."
          }
        },
        "textOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldTextOptions",
          "traits": {
            "smithy.api#documentation": "Text field options."
          }
        },
        "lifecycle": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2Lifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle of this field."
          }
        },
        "publisher": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2UserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who published this field. This value has no meaning when the field is not published."
          }
        },
        "queryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\"."
          }
        },
        "integerOptions": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "traits": {
            "smithy.api#documentation": "Integer field options."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was created."
          }
        },
        "displayHints": {
          "target": "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2FieldDisplayHints",
          "traits": {
            "smithy.api#documentation": "Output only. UI display hints for rendering a field."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
      }
    },
    "com.gcp.drivelabels_v2#GoogleAppsDriveLabelsV2LabelLock": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label lock was created."
          }
        },
        "choiceId": {
          "target": "smithy.api#String",
          "traits": {
[...]
