{
  "smithy": "2.0",
  "metadata": {
    "service": "drive",
    "version": "v3",
    "title": "Google Drive API",
    "baseUrl": "https://www.googleapis.com/drive/v3/"
  },
  "shapes": {
    "com.gcp.drive_v3#TeamDrive": {
      "type": "structure",
      "members": {
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the Team Drive was created (RFC 3339 date-time)."
          }
        },
        "themeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this Team Drive."
          }
        },
        "capabilities": {
          "target": "com.gcp.drive_v3#TeamDriveCapabilities",
          "traits": {
            "smithy.api#documentation": "Capabilities the current user has on this Team Drive."
          }
        },
        "restrictions": {
          "target": "com.gcp.drive_v3#TeamDriveRestrictions",
          "traits": {
            "smithy.api#documentation": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
          }
        },
        "backgroundImageFile": {
          "target": "com.gcp.drive_v3#TeamDriveBackgroundImageFile",
          "traits": {
            "smithy.api#documentation": "The background image file for a Team Drive."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`."
          }
        },
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short-lived link to this Team Drive's background image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: use the drive collection instead. Next ID: 33"
      }
    },
    "com.gcp.drive_v3#TeamDriveCapabilities": {
      "type": "structure",
      "members": {
        "canReadRevisions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can read the revisions resource of files in this Team Drive."
          }
        },
        "canChangeTeamMembersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
          }
        },
        "canCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can copy files in this Team Drive."
          }
        },
        "canDeleteChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can delete children from folders in this Team Drive."
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can edit files in this Team Drive"
          }
        },
        "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
          }
        },
        "canDownload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can download files in this Team Drive."
          }
        },
        "canChangeDownloadRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive."
          }
        },
        "canRemoveChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
          }
        },
        "canComment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can comment on files in this Team Drive."
          }
        },
        "canRename": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can rename files or folders in this Team Drive."
          }
        },
        "canShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can share files or folders in this Team Drive."
          }
        },
        "canAddChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can add children to folders in this Team Drive."
          }
        },
        "canDeleteTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
          }
        },
        "canResetTeamDriveRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can reset the Team Drive restrictions to defaults."
          }
        },
        "canTrashChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can trash children from folders in this Team Drive."
          }
        },
        "canListChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can list the children of folders in this Team Drive."
          }
        },
        "canChangeCopyRequiresWriterPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
          }
        },
        "canManageMembers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can add members to this Team Drive or remove them or change their role."
          }
        },
        "canRenameTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can rename this Team Drive."
          }
        },
        "canChangeTeamDriveBackground": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the background of this Team Drive."
          }
        },
        "canChangeDomainUsersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
          }
        }
      }
    },
    "com.gcp.drive_v3#TeamDriveRestrictions": {
      "type": "structure",
      "members": {
        "copyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
          }
        },
        "sharingFoldersRequiresOrganizerPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
          }
        },
        "adminManagedRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether administrative privileges on this Team Drive are required to modify restrictions."
          }
        },
        "teamMembersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
          }
        },
        "domainUsersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
          }
        },
        "downloadRestriction": {
          "target": "com.gcp.drive_v3#DownloadRestriction",
          "traits": {
            "smithy.api#documentation": "Download restrictions applied by shared drive managers."
          }
        }
      }
    },
    "com.gcp.drive_v3#TeamDriveBackgroundImageFile": {
      "type": "structure",
      "members": {
        "yCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
          }
        },
        "xCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an image file in Drive to use for the background image."
          }
        }
      }
    },
    "com.gcp.drive_v3#AddReviewer": {
      "type": "structure",
      "members": {
        "addedReviewerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email of the reviewer to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a reviewer addition."
      }
    },
    "com.gcp.drive_v3#App": {
      "type": "structure",
      "members": {
        "hasDriveWideScope": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive."
          }
        },
        "primaryFileExtensions": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary file extensions."
          }
        },
        "productUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the product listing for this app."
          }
        },
        "createInFolderTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the app."
          }
        },
        "supportsOfflineCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating files when offline."
          }
        },
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the app."
          }
        },
        "icons": {
          "target": "com.gcp.drive_v3#AppIconsList",
          "traits": {
            "smithy.api#documentation": "The various icons for the app."
          }
        },
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object this app creates such as a Chart. If empty, the app name should be used instead."
          }
        },
        "useByDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is selected as the default handler for the types it supports."
          }
        },
        "supportsImport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports importing from Google Docs."
          }
        },
        "authorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is authorized to access data on the user's Drive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "primaryMimeTypes": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary MIME types."
          }
        },
        "secondaryMimeTypes": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary MIME types."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\"."
          }
        },
        "createUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to create a file with this app."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description of the app."
          }
        },
        "openUrlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation."
          }
        },
        "supportsCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating objects."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product listing for this app."
          }
        },
        "secondaryFileExtensions": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary file extensions."
          }
        },
        "supportsMultiOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports opening more than one file."
          }
        },
        "installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is installed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application."
      }
    },
    "com.gcp.drive_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.drive_v3#AppIconsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#AppIcons"
      }
    },
    "com.gcp.drive_v3#Channel": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
          }
        },
        "params": {
          "target": "com.gcp.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification channel used to watch for resource changes."
      }
    },
    "com.gcp.drive_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.drive_v3#User": {
      "type": "structure",
      "members": {
        "me": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this user is the requesting user."
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user's ID as visible in Permission resources."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A plain text displayable name for this user."
          }
        },
        "photoLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the user's profile photo, if available."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a Drive user."
      }
    },
    "com.gcp.drive_v3#DecryptionMetadata": {
      "type": "structure",
      "members": {
        "kaclsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the KACLS (Key ACL Service) used to encrypt the file."
          }
        },
        "aes256GcmChunkSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
          }
        },
        "keyFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
          }
        },
        "wrappedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
          }
        },
        "kaclsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the KACLS (Key ACL Service) used to encrypt the file."
          }
        },
        "encryptionResourceKeyHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of the CSE DecryptionMetadata."
      }
    },
    "com.gcp.drive_v3#Permission": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user or group to which this permission refers."
          }
        },
        "allowFileDiscovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
          }
        },
        "view": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
          }
        },
        "pendingOwner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
          }
        },
        "inheritedPermissionsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it."
          }
        },
        "photoLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the user's profile photo, if available."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain to which this permission refers."
          }
        },
        "teamDrivePermissionDetails": {
          "target": "com.gcp.drive_v3#PermissionTeamDrivePermissionDetailsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Output only. Use `permissionDetails` instead."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`."
          }
        },
        "permissionDetails": {
          "target": "com.gcp.drive_v3#PermissionPermissionDetailsItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Details of whether the permissions on this item are inherited or are directly on this item."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive."
      }
    },
    "com.gcp.drive_v3#PermissionTeamDrivePermissionDetailsItem": {
      "type": "structure",
      "members": {
        "inheritedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead."
          }
        },
        "teamDrivePermissionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
          }
        },
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/inherited` instead."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `permissionDetails/role` instead."
          }
        }
      }
    },
    "com.gcp.drive_v3#PermissionTeamDrivePermissionDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#PermissionTeamDrivePermissionDetailsItem"
      }
    },
    "com.gcp.drive_v3#PermissionPermissionDetailsItem": {
      "type": "structure",
      "members": {
        "inheritedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives."
          }
        },
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
          }
        },
        "permissionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
          }
        }
      }
    },
    "com.gcp.drive_v3#PermissionPermissionDetailsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#PermissionPermissionDetailsItem"
      }
    },
    "com.gcp.drive_v3#StartPageToken": {
      "type": "structure",
      "members": {
        "startPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for listing future changes. The page token doesn't expire."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
          }
        }
      }
    },
    "com.gcp.drive_v3#DriveList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
          }
        },
        "drives": {
          "target": "com.gcp.drive_v3#DriveList_",
          "traits": {
            "smithy.api#documentation": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of shared drives."
      }
    },
    "com.gcp.drive_v3#DriveList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Drive"
      }
    },
    "com.gcp.drive_v3#Label": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the label."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#label"
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the label."
          }
        },
        "fields": {
          "target": "com.gcp.drive_v3#LabelFieldMap",
          "traits": {
            "smithy.api#documentation": "A map of the fields on the label, keyed by the field's ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of label and label fields."
      }
    },
    "com.gcp.drive_v3#LabelFieldMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.drive_v3#LabelField"
      }
    },
    "com.gcp.drive_v3#GenerateCseTokenResponse": {
      "type": "structure",
      "members": {
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fileId for which the JWT was generated."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JSON Web Token (JWT) for the file."
          }
        },
        "currentKaclsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the KACLs that the returned KACLs ID points to."
          }
        },
        "currentKaclsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current Key ACL Service (KACLS) ID associated with the JWT."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT and associated metadata used to generate CSE files."
      }
    },
    "com.gcp.drive_v3#FileList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`."
          }
        },
        "files": {
          "target": "com.gcp.drive_v3#FileList_",
          "traits": {
            "smithy.api#documentation": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "incompleteSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of files."
      }
    },
    "com.gcp.drive_v3#FileList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#File"
      }
    },
    "com.gcp.drive_v3#StartApprovalRequest": {
      "type": "structure",
      "members": {
        "lockFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to lock the file when starting the approval."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A message to send to reviewers when notifying them of the approval request."
          }
        },
        "reviewerEmails": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The emails of the users who are set to review the approval."
          }
        },
        "dueTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time that the approval is due."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allows creating an approval on a file."
      }
    },
    "com.gcp.drive_v3#ModifyLabelsResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#modifyLabelsResponse\"`."
          }
        },
        "modifiedLabels": {
          "target": "com.gcp.drive_v3#LabelList_",
          "traits": {
            "smithy.api#documentation": "The list of labels which were added or updated by the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request."
      }
    },
    "com.gcp.drive_v3#LabelList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Label"
      }
    },
    "com.gcp.drive_v3#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.drive_v3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.drive_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.drive_v3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#DocumentMap"
      }
    },
    "com.gcp.drive_v3#Change": {
      "type": "structure",
      "members": {
        "removed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
          }
        },
        "file": {
          "target": "com.gcp.drive_v3#File",
          "traits": {
            "smithy.api#documentation": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
          }
        },
        "changeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the change. Possible values are `file` and `drive`."
          }
        },
        "drive": {
          "target": "com.gcp.drive_v3#Drive",
          "traits": {
            "smithy.api#documentation": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
          }
        },
        "teamDrive": {
          "target": "com.gcp.drive_v3#TeamDrive",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `drive` instead."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `changeType` instead."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`."
          }
        },
        "teamDriveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveId` instead."
          }
        },
        "driveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the shared drive associated with this change."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file which has changed."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of this change (RFC 3339 date-time)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A change to a file or shared drive."
      }
    },
    "com.gcp.drive_v3#LabelFieldModification": {
      "type": "structure",
      "members": {
        "setUserValues": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `user` field with these new values. The values must be a valid email addresses."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the field to be modified."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#labelFieldModification\"`."
          }
        },
        "setDateValues": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
          }
        },
        "setSelectionValues": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `selection` field with these new values."
          }
        },
        "setTextValues": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Sets the value of a `text` field."
          }
        },
        "setIntegerValues": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of an `integer` field with these new values."
          }
        },
        "unsetValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Unsets the values for this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A modification to a label's field."
      }
    },
    "com.gcp.drive_v3#ApprovalList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.drive_v3#ApprovalList_",
          "traits": {
            "smithy.api#documentation": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#approvalList"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of an approvals list request."
      }
    },
    "com.gcp.drive_v3#ApprovalList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Approval"
      }
    },
    "com.gcp.drive_v3#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.drive_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.drive_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.drive_v3#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.drive_v3#LabelField": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#labelField."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of this label field."
          }
        },
        "text": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `text`."
          }
        },
        "selection": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `selection`"
          }
        },
        "dateString": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
          }
        },
        "integer": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `integer`."
          }
        },
        "user": {
          "target": "com.gcp.drive_v3#UserList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `user`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of field, which is a typed key-value pair."
      }
    },
    "com.gcp.drive_v3#UserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#User"
      }
    },
    "com.gcp.drive_v3#ReplyList": {
      "type": "structure",
      "members": {
        "replies": {
          "target": "com.gcp.drive_v3#ReplyList_",
          "traits": {
            "smithy.api#documentation": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of replies to a comment on a file."
      }
    },
    "com.gcp.drive_v3#ReplyList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Reply"
      }
    },
    "com.gcp.drive_v3#AppIcons": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the icon. Represented as the maximum of the width and height."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the icon."
          }
        }
      }
    },
    "com.gcp.drive_v3#Comment": {
      "type": "structure",
      "members": {
        "anchor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the comment has been deleted. A deleted comment has no content."
          }
        },
        "htmlContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the comment with HTML formatting."
          }
        },
        "quotedFileContent": {
          "target": "com.gcp.drive_v3#CommentQuotedFileContent",
          "traits": {
            "smithy.api#documentation": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment."
          }
        },
        "assigneeEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
          }
        },
        "author": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The author of the comment. The author's email address and permission ID will not be populated."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the comment was created (RFC 3339 date-time)."
          }
        },
        "resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the comment has been resolved by one of its replies."
          }
        },
        "mentionedEmailAddresses": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed."
          }
        },
        "replies": {
          "target": "com.gcp.drive_v3#ReplyList_",
          "traits": {
            "smithy.api#documentation": "Output only. The full list of replies to the comment in chronological order."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the comment or any of its replies was modified (RFC 3339 date-time)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the comment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file."
      }
    },
    "com.gcp.drive_v3#CommentQuotedFileContent": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the quoted content."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quoted content itself. This is interpreted as plain text if set through the API."
          }
        }
      }
    },
    "com.gcp.drive_v3#Approval": {
      "type": "structure",
      "members": {
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the approval was completed."
          }
        },
        "modifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time the approval was modified."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#approval."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the approval was created."
          }
        },
        "approvalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approval ID."
          }
        },
        "initiator": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "The user that requested the approval."
          }
        },
        "status": {
          "target": "com.gcp.drive_v3#ApprovalStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the approval at the time this resource was requested."
          }
        },
        "reviewerResponses": {
          "target": "com.gcp.drive_v3#ReviewerResponseList",
          "traits": {
            "smithy.api#documentation": "The responses made on the approval by reviewers."
          }
        },
        "targetFileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target file id of the approval."
          }
        },
        "dueTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the approval is due."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for an approval. An approval is a review or approve process for a Drive item."
      }
    },
    "com.gcp.drive_v3#ApprovalStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.gcp.drive_v3#ReviewerResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#ReviewerResponse"
      }
    },
    "com.gcp.drive_v3#TeamDriveList": {
      "type": "structure",
      "members": {
        "teamDrives": {
          "target": "com.gcp.drive_v3#TeamDriveList_",
          "traits": {
            "smithy.api#documentation": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Team Drives."
      }
    },
    "com.gcp.drive_v3#TeamDriveList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#TeamDrive"
      }
    },
    "com.gcp.drive_v3#RevisionList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`."
          }
        },
        "revisions": {
          "target": "com.gcp.drive_v3#RevisionList_",
          "traits": {
            "smithy.api#documentation": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of revisions of a file."
      }
    },
    "com.gcp.drive_v3#RevisionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Revision"
      }
    },
    "com.gcp.drive_v3#CommentList": {
      "type": "structure",
      "members": {
        "comments": {
          "target": "com.gcp.drive_v3#CommentList_",
          "traits": {
            "smithy.api#documentation": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of comments on a file."
      }
    },
    "com.gcp.drive_v3#CommentList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Comment"
      }
    },
    "com.gcp.drive_v3#ModifyLabelsRequest": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `\"drive#modifyLabelsRequest\"`."
          }
        },
        "labelModifications": {
          "target": "com.gcp.drive_v3#LabelModificationList",
          "traits": {
            "smithy.api#documentation": "The list of modifications to apply to the labels on the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically."
      }
    },
    "com.gcp.drive_v3#LabelModificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#LabelModification"
      }
    },
    "com.gcp.drive_v3#ContentRestriction": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
          }
        },
        "restrictionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
          }
        },
        "restrictingUser": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The user who set the content restriction. Only populated if `readOnly=true`."
          }
        },
        "ownerRestricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
          }
        },
        "systemRestricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction for accessing the content of the file."
      }
    },
    "com.gcp.drive_v3#About": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`."
          }
        },
        "storageQuota": {
          "target": "com.gcp.drive_v3#AboutStorageQuota",
          "traits": {
            "smithy.api#documentation": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes."
          }
        },
        "exportFormats": {
          "target": "com.gcp.drive_v3#StringListMap",
          "traits": {
            "smithy.api#documentation": "A map of source MIME type to possible targets for all supported exports."
          }
        },
        "canCreateDrives": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can create shared drives."
          }
        },
        "driveThemes": {
          "target": "com.gcp.drive_v3#AboutDriveThemesItemList",
          "traits": {
            "smithy.api#documentation": "A list of themes that are supported for shared drives."
          }
        },
        "user": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "The authenticated user."
          }
        },
        "appInstalled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has installed the requesting app."
          }
        },
        "canCreateTeamDrives": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `canCreateDrives` instead."
          }
        },
        "maxUploadSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum upload size in bytes."
          }
        },
        "folderColorPalette": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The currently supported folder colors as RGB hex strings."
          }
        },
        "teamDriveThemes": {
          "target": "com.gcp.drive_v3#AboutTeamDriveThemesItemList",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes` instead."
          }
        },
        "maxImportSizes": {
          "target": "com.gcp.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of maximum import sizes by MIME type, in bytes."
          }
        },
        "importFormats": {
          "target": "com.gcp.drive_v3#StringListMap",
          "traits": {
            "smithy.api#documentation": "A map of source MIME type to possible targets for all supported imports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the user, the user's Drive, and system capabilities."
      }
    },
    "com.gcp.drive_v3#AboutStorageQuota": {
      "type": "structure",
      "members": {
        "usageInDriveTrash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The usage by trashed files in Google Drive."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user."
          }
        },
        "usageInDrive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The usage by all files in Google Drive."
          }
        },
        "usage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user."
          }
        }
      }
    },
    "com.gcp.drive_v3#StringListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.drive_v3#StringList"
      }
    },
    "com.gcp.drive_v3#AboutDriveThemesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the theme."
          }
        },
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this theme's background image."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of this theme as an RGB hex string."
          }
        }
      }
    },
    "com.gcp.drive_v3#AboutDriveThemesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#AboutDriveThemesItem"
      }
    },
    "com.gcp.drive_v3#AboutTeamDriveThemesItem": {
      "type": "structure",
      "members": {
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/backgroundImageLink` instead."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/colorRgb` instead."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/id` instead."
          }
        }
      }
    },
    "com.gcp.drive_v3#AboutTeamDriveThemesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#AboutTeamDriveThemesItem"
      }
    },
    "com.gcp.drive_v3#ClientEncryptionDetails": {
      "type": "structure",
      "members": {
        "encryptionState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
          }
        },
        "decryptionMetadata": {
          "target": "com.gcp.drive_v3#DecryptionMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata used for client-side operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the client-side encryption applied to the file."
      }
    },
    "com.gcp.drive_v3#CancelApprovalRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for cancelling an approval as an initiator."
      }
    },
    "com.gcp.drive_v3#ChangeList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."
          }
        },
        "newStartPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
          }
        },
        "changes": {
          "target": "com.gcp.drive_v3#ChangeList_",
          "traits": {
            "smithy.api#documentation": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of changes for a user."
      }
    },
    "com.gcp.drive_v3#ChangeList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.drive_v3#Change"
      }
    },
    "com.gcp.drive_v3#Revision": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MIME type of the revision."
          }
        },
        "exportLinks": {
          "target": "com.gcp.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Links for exporting Docs Editors files to specific formats."
          }
        },
        "publishedOutsideDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`."
          }
        },
        "published": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this revision is published. This is only applicable to Docs Editors files."
          }
        },
        "md5Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive."
          }
        },
        "publishAuto": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
          }
        },
        "publishedLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the published revision. This is only populated for Docs Editors files."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the revision was modified (RFC 3339 date-time)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the revision."
          }
        },
        "originalFilename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
          }
        },
        "lastModifyingUser": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
          }
        },
        "keepForever": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
      }
    },
    "com.gcp.drive_v3#DownloadRestrictionsMetadata": {
      "type": "structure",
      "members": {
        "effectiveDownloadRestrictionWithContext": {
          "target": "com.gcp.drive_v3#DownloadRestriction",
          "traits": {
            "smithy.api#documentation": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules."
          }
        },
        "itemDownloadRestriction": {
          "target": "com.gcp.drive_v3#DownloadRestriction",
          "traits": {
            "smithy.api#documentation": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Download restrictions applied to the file."
      }
    },
    "com.gcp.drive_v3#File": {
      "type": "structure",
      "members": {
        "quotaBytesUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled."
          }
        },
        "imageMediaMetadata": {
          "target": "com.gcp.drive_v3#FileImageMediaMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata about image media, if available."
          }
        },
        "contentRestrictions": {
          "target": "com.gcp.drive_v3#ContentRestrictionList",
          "traits": {
            "smithy.api#documentation": "Restrictions for accessing the content of the file. Only populated if such a restriction exists."
          }
        },
        "trashed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted."
          }
        },
        "isAppAuthorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file was created or opened by the requesting app."
          }
        },
        "writersCanShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives."
          }
        },
        "folderColorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead."
          }
        },
        "shortcutDetails": {
          "target": "com.gcp.drive_v3#FileShortcutDetails",
          "traits": {
            "smithy.api#documentation": "Information about a shortcut file."
          }
        },
        "webViewLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
          }
        },
        "originalFilename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive."
          }
        },
        "starred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has starred the file."
          }
        },
        "parents": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A static, unauthenticated link to the file's icon."
          }
        },
        "shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been shared. Not populated for items in shared drives."
          }
        },
        "thumbnailVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The thumbnail version for use in thumbnail cache invalidation."
          }
        },
        "labelInfo": {
          "target": "com.gcp.drive_v3#FileLabelInfo",
          "traits": {
            "smithy.api#documentation": "Label information on the file."
          }
        },
        "trashingUser": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
          }
        },
        "linkShareMetadata": {
          "target": "com.gcp.drive_v3#FileLinkShareMetadata",
          "traits": {
            "smithy.api#documentation": "Contains details about the link URLs that clients are using to refer to this item."
          }
        },
        "md5Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive."
          }
        },
        "trashedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives."
          }
        },
        "teamDriveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Output only. Use `driveId` instead."
          }
        },
        "lastModifyingUser": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user."
          }
        },
        "owners": {
          "target": "com.gcp.drive_v3#UserList",
          "traits": {
            "smithy.api#documentation": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
          }
        },
        "webContentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
          }
        },
        "capabilities": {
          "target": "com.gcp.drive_v3#FileCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities)."
          }
        },
        "modifiedByMeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the file was modified by the user (RFC 3339 date-time)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`."
          }
        },
        "thumbnailLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request."
          }
        },
        "driveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
          }
        },
        "viewedByMe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been viewed by this user."
          }
        },
        "ownedByMe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user owns the file. Not populated for items in shared drives."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the file."
          }
        },
        "sharingUser": {
          "target": "com.gcp.drive_v3#User",
          "traits": {
            "smithy.api#documentation": "Output only. The user who shared the file with the requesting user, if applicable."
          }
        },
        "spaces": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`."
          }
        },
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the file was created (RFC 3339 date-time)."
          }
        },
        "explicitlyTrashed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
          }
        },
        "hasThumbnail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
          }
        },
        "modifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user."
          }
        },
        "permissionIds": {
          "target": "com.gcp.drive_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of permission IDs for users with access to this file."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders."
          }
        },
        "inheritedPermissionsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
          }
        },
        "downloadRestrictions": {
          "target": "com.gcp.drive_v3#DownloadRestrictionsMetadata",
          "traits": {
            "smithy.api#documentation": "Download restrictions applied on the file."
          }
        },
        "sharedWithMeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time)."
          }
        },
        "fileExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource."
          }
        },
        "hasAugmentedPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
          }
        },
        "exportLinks": {
          "target": "com.gcp.drive_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Links for exporting Docs Editors files to specific formats."
          }
        },
        "headRevisionId": {
          "target": "smithy.api#String",
          "traits": {
[...]
