{
  "smithy": "2.0",
  "metadata": {
    "service": "eventarc",
    "version": "v1",
    "title": "Eventarc API",
    "baseUrl": "https://eventarc.googleapis.com/"
  },
  "shapes": {
    "com.gcp.eventarc_v1#Enrollment": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Destination is the Pipeline that the Enrollment is delivering to. It must point to the full resource name of a Pipeline. Format: \"projects/{PROJECT_ID}/locations/{region}/pipelines/{PIPELINE_ID)\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the form projects/{project}/locations/{location}/enrollments/{enrollment}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the channel. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "annotations": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource annotations."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and might be sent only on update and delete requests to ensure that the client has an up-to-date value before proceeding."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource display name."
          }
        },
        "celMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A CEL expression identifying which messages this enrollment applies to."
          }
        },
        "messageBus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource name of the message bus identifying the source of the messages. It matches the form projects/{project}/locations/{location}/messageBuses/{messageBus}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enrollment represents a subscription for messages on a particular message bus. It defines a matching criteria for messages on the bus and the subscriber endpoint where matched messages should be delivered."
      }
    },
    "com.gcp.eventarc_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.eventarc_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.eventarc_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.eventarc_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.eventarc_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.eventarc_v1#EventFilter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value for the attribute."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The operator used for matching the events with the value of the filter. If not specified, only events that have an exact key-value pair specified in the filter are matched. The allowed values are `path_pattern` and `match-path-pattern`. `path_pattern` is only allowed for GCFv1 triggers."
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of a CloudEvents attribute. Currently, only a subset of attributes are supported for filtering. You can [retrieve a specific provider's supported event types](/eventarc/docs/list-providers#describe-provider). All triggers MUST provide a filter for the 'type' attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters events based on exact matches on the CloudEvents attributes."
      }
    },
    "com.gcp.eventarc_v1#StateCondition": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.eventarc_v1#StateConditionCodeEnum",
          "traits": {
            "smithy.api#documentation": "The canonical code of the condition."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition that is part of the trigger state computation."
      }
    },
    "com.gcp.eventarc_v1#StateConditionCodeEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "INVALID_ARGUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ARGUMENT"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALREADY_EXISTS"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHENTICATED"
          }
        },
        "RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXHAUSTED"
          }
        },
        "FAILED_PRECONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PRECONDITION"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "OUT_OF_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_RANGE"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "DATA_LOSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LOSS"
          }
        }
      }
    },
    "com.gcp.eventarc_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.eventarc_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.eventarc_v1#FilteringAttribute": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the purpose of the attribute."
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Attribute used for filtering the event type."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the triggers for this provider should always specify a filter on these attributes. Trigger creation will fail otherwise."
          }
        },
        "pathPatternSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the attribute accepts matching expressions in the Eventarc PathPattern format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of the FilteringAttribute resource. Filtering attributes are per event type."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestinationAuthenticationConfigOAuthToken": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. OAuth scope to be used for generating OAuth access token. If not specified, \"https://www.googleapis.com/auth/cloud-platform\" will be used."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service account email used to generate the [OAuth token](https://developers.google.com/identity/protocols/OAuth2). The principal who calls this API must have iam.serviceAccounts.actAs permission in the service account. See https://cloud.google.com/iam/docs/understanding-service-accounts for more information. Eventarc service agents must have roles/roles/iam.serviceAccountTokenCreator role to allow Pipeline to create OAuth2 tokens for authenticated requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OAuth token](https://developers.google.com/identity/protocols/OAuth2). This type of authorization should generally only be used when calling Google APIs hosted on *.googleapis.com."
      }
    },
    "com.gcp.eventarc_v1#ListGoogleApiSourcesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListMessageBusEnrollments` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "googleApiSources": {
          "target": "com.gcp.eventarc_v1#GoogleApiSourceList",
          "traits": {
            "smithy.api#documentation": "The requested GoogleApiSources, up to the number specified in `page_size`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListGoogleApiSources` method."
      }
    },
    "com.gcp.eventarc_v1#GoogleApiSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#GoogleApiSource"
      }
    },
    "com.gcp.eventarc_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.eventarc_v1#GKE": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the cluster the GKE service is running in. The cluster must be running in the same project as the trigger being created."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Google Compute Engine in which the cluster resides, which can either be compute zone (for example, us-central1-a) for the zonal clusters or region (for example, us-central1) for regional clusters."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative path on the GKE service the events should be sent to. The value must conform to the definition of a URI path segment (section 3.3 of RFC2396). Examples: \"/route\", \"route\", \"route/subroute\"."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the GKE service."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The namespace the GKE service is running in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a GKE destination."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediation": {
      "type": "structure",
      "members": {
        "transformation": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediationTransformation",
          "traits": {
            "smithy.api#documentation": "Optional. How the Pipeline is to transform messages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mediation defines different ways to modify the Pipeline."
      }
    },
    "com.gcp.eventarc_v1#ListPipelinesResponse": {
      "type": "structure",
      "members": {
        "pipelines": {
          "target": "com.gcp.eventarc_v1#PipelineList",
          "traits": {
            "smithy.api#documentation": "The requested pipelines, up to the number specified in `page_size`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListPipelines` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListPipelines method."
      }
    },
    "com.gcp.eventarc_v1#PipelineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Pipeline"
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineRetryPolicy": {
      "type": "structure",
      "members": {
        "maxAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of delivery attempts for any message. The value must be between 1 and 100. The default value for this field is 5."
          }
        },
        "minRetryDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum amount of seconds to wait between retry attempts. The value must be between 1 and 600. The default value for this field is 5."
          }
        },
        "maxRetryDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum amount of seconds to wait between retry attempts. The value must be between 1 and 600. The default value for this field is 60."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The retry policy configuration for the Pipeline. The pipeline exponentially backs off in case the destination is non responsive or returns a retryable error code. The default semantics are as follows: The backoff starts with a 5 second delay and doubles the delay after each failed attempt (10 seconds, 20 seconds, 40 seconds, etc.). The delay is capped at 60 seconds by default. Please note that if you set the min_retry_delay and max_retry_delay fields to the same value this will make the duration between retries constant."
      }
    },
    "com.gcp.eventarc_v1#MessageBus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the form projects/{project}/locations/{location}/messageBuses/{message_bus}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.eventarc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config to control Platform logging for the Message Bus. This log configuration is applied to the Message Bus itself, and all the Enrollments attached to it."
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt their event data. It must match the pattern `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and might be sent only on update and delete requests to ensure that the client has an up-to-date value before proceeding."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource display name."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the channel. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "annotations": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MessageBus for the messages flowing through the system. The admin has visibility and control over the messages being published and consumed and can restrict publishers and subscribers to only a subset of data available in the system by defining authorization policies."
      }
    },
    "com.gcp.eventarc_v1#LoggingConfig": {
      "type": "structure",
      "members": {
        "logSeverity": {
          "target": "com.gcp.eventarc_v1#LoggingConfigLogSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum severity of logs that will be sent to Stackdriver/Platform Telemetry. Logs at severitiy ≥ this value will be sent, unless it is NONE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for Platform Telemetry logging for Eventarc Advanced resources."
      }
    },
    "com.gcp.eventarc_v1#LoggingConfigLogSeverityEnum": {
      "type": "enum",
      "members": {
        "LOG_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_SEVERITY_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTICE"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        }
      }
    },
    "com.gcp.eventarc_v1#ProjectSubscriptions": {
      "type": "structure",
      "members": {
        "list": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of projects to receive events from. All the projects must be in the same org. The listed projects should have the format project/{identifier} where identifier can be either the project id for project number. A single list may contain both formats. At most 100 projects can be listed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config to enable subscribing to all events from a list of projects."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestinationHttpEndpoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the HTTP endpoint. The value must be a RFC2396 URI string. Examples: `https://svc.us-central1.p.local:8080/route`. Only the HTTPS protocol is supported."
          }
        },
        "messageBindingTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The CEL expression used to modify how the destination-bound HTTP request is constructed. If a binding expression is not specified here, the message is treated as a CloudEvent and is mapped to the HTTP request according to the CloudEvent HTTP Protocol Binding Binary Content Mode (https://github.com/cloudevents/spec/blob/main/cloudevents/bindings/http-protocol-binding.md#31-binary-content-mode). In this representation, all fields except the `data` and `datacontenttype` field on the message are mapped to HTTP request headers with a prefix of `ce-`. To construct the HTTP request payload and the value of the content-type HTTP header, the payload format is defined as follows: 1) Use the output_payload_format_type on the Pipeline.Destination if it is set, else: 2) Use the input_payload_format_type on the Pipeline if it is set, else: 3) Treat the payload as opaque binary data. The `data` field of the message is converted to the payload format or left as-is for case 3) and then attached as the payload of the HTTP request. The `content-type` header on the HTTP request is set to the payload format type or left empty for case 3). However, if a mediation has updated the `datacontenttype` field on the message so that it is not the same as the payload format type but it is still a prefix of the payload format type, then the `content-type` header on the HTTP request is set to this `datacontenttype` value. For example, if the `datacontenttype` is \"application/json\" and the payload format type is \"application/json; charset=utf-8\", then the `content-type` header on the HTTP request is set to \"application/json; charset=utf-8\". If a non-empty binding expression is specified then this expression is used to modify the default CloudEvent HTTP Protocol Binding Binary Content representation. The result of the CEL expression must be a map of key/value pairs which is used as follows: - If a map named `headers` exists on the result of the expression, then its key/value pairs are directly mapped to the HTTP request headers. The headers values are constructed from the corresponding value type's canonical representation. If the `headers` field doesn't exist then the resulting HTTP request will be the headers of the CloudEvent HTTP Binding Binary Content Mode representation of the final message. Note: If the specified binding expression, has updated the `datacontenttype` field on the message so that it is not the same as the payload format type but it is still a prefix of the payload format type, then the `content-type` header in the `headers` map is set to this `datacontenttype` value. - If a field named `body` exists on the result of the expression then its value is directly mapped to the body of the request. If the value of the `body` field is of type bytes or string then it is used for the HTTP request body as-is, with no conversion. If the body field is of any other type then it is converted to a JSON string. If the body field does not exist then the resulting payload of the HTTP request will be data value of the CloudEvent HTTP Binding Binary Content Mode representation of the final message as described earlier. - Any other fields in the resulting expression will be ignored. The CEL expression may access the incoming CloudEvent message in its definition, as follows: - The `data` field of the incoming CloudEvent message can be accessed using the `message.data` value. Subfields of `message.data` may also be accessed if an input_payload_format has been specified on the Pipeline. - Each attribute of the incoming CloudEvent message can be accessed using the `message.` value, where is replaced with the name of the attribute. - Existing headers can be accessed in the CEL expression using the `headers` variable. The `headers` variable defines a map of key/value pairs corresponding to the HTTP headers of the CloudEvent HTTP Binding Binary Content Mode representation of the final message as described earlier. For example, the following CEL expression can be used to construct an HTTP request by adding an additional header to the HTTP headers of the CloudEvent HTTP Binding Binary Content Mode representation of the final message and by overwriting the body of the request: ``` { \"headers\": headers.merge({\"new-header-key\": \"new-header-value\"}), \"body\": \"new-body\" } ``` - The default binding for the message payload can be accessed using the `body` variable. It conatins a string representation of the message payload in the format specified by the `output_payload_format` field. If the `input_payload_format` field is not set, the `body` variable contains the same message payload bytes that were published. Additionally, the following CEL extension functions are provided for use in this CEL expression: - toBase64Url: map.toBase64Url() -> string - Converts a CelValue to a base64url encoded string - toJsonString: map.toJsonString() -> string - Converts a CelValue to a JSON string - merge: map1.merge(map2) -> map3 - Merges the passed CEL map with the existing CEL map the function is applied to. - If the same key exists in both maps, if the key's value is type map both maps are merged else the value from the passed map is used. - denormalize: map.denormalize() -> map - Denormalizes a CEL map such that every value of type map or key in the map is expanded to return a single level map. - The resulting keys are \".\" separated indices of the map keys. - For example: { \"a\": 1, \"b\": { \"c\": 2, \"d\": 3 } \"e\": [4, 5] } .denormalize() -> { \"a\": 1, \"b.c\": 2, \"b.d\": 3, \"e.0\": 4, \"e.1\": 5 } - setField: map.setField(key, value) -> message - Sets the field of the message with the given key to the given value. - If the field is not present it will be added. - If the field is present it will be overwritten. - The key can be a dot separated path to set a field in a nested message. - Key must be of type string. - Value may be any valid type. - removeFields: map.removeFields([key1, key2, ...]) -> message - Removes the fields of the map with the given keys. - The keys can be a dot separated path to remove a field in a nested message. - If a key is not found it will be ignored. - Keys must be of type string. - toMap: [map1, map2, ...].toMap() -> map - Converts a CEL list of CEL maps to a single CEL map - toCloudEventJsonWithPayloadFormat: message.toCloudEventJsonWithPayloadFormat() -> map - Converts a message to the corresponding structure of JSON format for CloudEvents. - It converts `data` to destination payload format specified in `output_payload_format`. If `output_payload_format` is not set, the data will remain unchanged. - It also sets the corresponding datacontenttype of the CloudEvent, as indicated by `output_payload_format`. If no `output_payload_format` is set it will use the value of the \"datacontenttype\" attribute on the CloudEvent if present, else remove \"datacontenttype\" attribute. - This function expects that the content of the message will adhere to the standard CloudEvent format. If it doesn't then this function will fail. - The result is a CEL map that corresponds to the JSON representation of the CloudEvent. To convert that data to a JSON string it can be chained with the toJsonString function. The Pipeline expects that the message it receives adheres to the standard CloudEvent format. If it doesn't then the outgoing message request may fail with a persistent error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a HTTP endpoint destination."
      }
    },
    "com.gcp.eventarc_v1#Provider": {
      "type": "structure",
      "members": {
        "eventTypes": {
          "target": "com.gcp.eventarc_v1#EventTypeList",
          "traits": {
            "smithy.api#documentation": "Output only. Event types for this provider."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. In `projects/{project}/locations/{location}/providers/{provider_id}` format."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human friendly name for the Provider. For example \"Cloud Storage\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of the Provider resource."
      }
    },
    "com.gcp.eventarc_v1#EventTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#EventType"
      }
    },
    "com.gcp.eventarc_v1#Pubsub": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Pub/Sub subscription created and managed by Eventarc as a transport for the event delivery. Format: `projects/{PROJECT_ID}/subscriptions/{SUBSCRIPTION_NAME}`."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Pub/Sub topic created and managed by Eventarc as a transport for the event delivery. Format: `projects/{PROJECT_ID}/topics/{TOPIC_NAME}`. You can set an existing topic for triggers of the type `google.cloud.pubsub.topic.v1.messagePublished`. The topic you provide here is not deleted by Eventarc at trigger deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Pub/Sub transport."
      }
    },
    "com.gcp.eventarc_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.eventarc_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.eventarc_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.eventarc_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#DocumentMap"
      }
    },
    "com.gcp.eventarc_v1#Channel": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Pub/Sub topic created and managed by Eventarc system as a transport for the event delivery. Format: `projects/{project}/topics/{topic_id}`."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this Channel satisfies the requirements of physical zone separation"
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the channel. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the channel. Must be unique within the location on the project and must be in `projects/{project}/locations/{location}/channels/{channel_id}` format."
          }
        },
        "activationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The activation token for the channel. The token must be used by the provider to register the channel for publishing."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the event provider (e.g. Eventarc SaaS partner) associated with the channel. This provider will be granted permissions to publish events to the channel. Format: `projects/{project}/locations/{location}/providers/{provider_id}`."
          }
        },
        "state": {
          "target": "com.gcp.eventarc_v1#ChannelStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of a Channel."
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt their event data. It must match the pattern `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a subscriber's intent to receive events from an event provider. Published events are delivered using the transport associated with the Channel resource. A channel is associated with exactly one event provider."
      }
    },
    "com.gcp.eventarc_v1#ChannelStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.eventarc_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.eventarc_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.eventarc_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Location"
      }
    },
    "com.gcp.eventarc_v1#ListMessageBusEnrollmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListMessageBusEnrollments` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "enrollments": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The requested enrollments, up to the number specified in `page_size`."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListMessageBusEnrollments` method.`"
      }
    },
    "com.gcp.eventarc_v1#ListTriggersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListTriggers` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        },
        "triggers": {
          "target": "com.gcp.eventarc_v1#TriggerList",
          "traits": {
            "smithy.api#documentation": "The requested triggers, up to the number specified in `page_size`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListTriggers` method."
      }
    },
    "com.gcp.eventarc_v1#TriggerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Trigger"
      }
    },
    "com.gcp.eventarc_v1#GoogleApiSource": {
      "type": "structure",
      "members": {
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt their event data. It must match the pattern `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "projectSubscriptions": {
          "target": "com.gcp.eventarc_v1#ProjectSubscriptions",
          "traits": {
            "smithy.api#documentation": "Optional. Config to enable subscribing to all events from a list of projects. All the projects must be in the same org as the GoogleApiSource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource display name."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.eventarc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config to control Platform logging for the GoogleApiSource."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Destination is the message bus that the GoogleApiSource is delivering to. It must be point to the full resource name of a MessageBus. Format: \"projects/{PROJECT_ID}/locations/{region}/messagesBuses/{MESSAGE_BUS_ID)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the form projects/{project}/locations/{location}/googleApiSources/{google_api_source}"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the channel. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "annotations": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource annotations."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and might be sent only on update and delete requests to ensure that the client has an up-to-date value before proceeding."
          }
        },
        "organizationSubscription": {
          "target": "com.gcp.eventarc_v1#OrganizationSubscription",
          "traits": {
            "smithy.api#documentation": "Optional. Config to enable subscribing to events from all projects in the GoogleApiSource's org."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a subscription to first-party events for a MessageBus resource. A GoogleApiSource resource lets you configure the delivery of events from Google API sources to a designated bus."
      }
    },
    "com.gcp.eventarc_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.eventarc_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.eventarc_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.eventarc_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.eventarc_v1#GoogleChannelConfig": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt their event data. It must match the pattern `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the config. Must be in the format of, `projects/{project}/locations/{location}/googleChannelConfig`. In API responses, the config name always includes the projectID, regardless of whether the projectID or projectNumber was provided."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Can be used to customize security settings for Eventarc first-party triggers in a specific region. Once the GoogleChannelConfig resource is configured, first-party event data is protected using the specified customer-managed encryption key instead of a Google-managed encryption key."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatProtobufFormat": {
      "type": "structure",
      "members": {
        "schemaDefinition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The entire schema definition is stored in this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of a Protobuf message payload."
      }
    },
    "com.gcp.eventarc_v1#ListProvidersResponse": {
      "type": "structure",
      "members": {
        "providers": {
          "target": "com.gcp.eventarc_v1#ProviderList",
          "traits": {
            "smithy.api#documentation": "The requested providers, up to the number specified in `page_size`."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListProviders` to request the next page. If this is empty, then there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListProviders` method."
      }
    },
    "com.gcp.eventarc_v1#ProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Provider"
      }
    },
    "com.gcp.eventarc_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.eventarc_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.eventarc_v1#Destination": {
      "type": "structure",
      "members": {
        "httpEndpoint": {
          "target": "com.gcp.eventarc_v1#HttpEndpoint",
          "traits": {
            "smithy.api#documentation": "An HTTP endpoint destination described by an URI."
          }
        },
        "networkConfig": {
          "target": "com.gcp.eventarc_v1#NetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Network config is used to configure how Eventarc resolves and connect to a destination. This should only be used with HttpEndpoint destination type."
          }
        },
        "gke": {
          "target": "com.gcp.eventarc_v1#GKE",
          "traits": {
            "smithy.api#documentation": "A GKE service capable of receiving events. The service should be running in the same project as the trigger."
          }
        },
        "workflow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Workflow whose Executions are triggered by the events. The Workflow resource should be deployed in the same project as the trigger. Format: `projects/{project}/locations/{location}/workflows/{workflow}`"
          }
        },
        "cloudRun": {
          "target": "com.gcp.eventarc_v1#CloudRun",
          "traits": {
            "smithy.api#documentation": "Cloud Run fully-managed resource that receives the events. The resource should be in the same project as the trigger."
          }
        },
        "cloudFunction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Function resource name. Cloud Functions V1 and V2 are supported. Format: `projects/{project}/locations/{location}/functions/{function}` This is a read-only field. Creating Cloud Functions V1/V2 triggers is only supported via the Cloud Functions product. An error will be returned if the user sets this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a target of an invocation over HTTP."
      }
    },
    "com.gcp.eventarc_v1#ListChannelConnectionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListChannelConnections` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "channelConnections": {
          "target": "com.gcp.eventarc_v1#ChannelConnectionList",
          "traits": {
            "smithy.api#documentation": "The requested channel connections, up to the number specified in `page_size`."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListChannelConnections` method."
      }
    },
    "com.gcp.eventarc_v1#ChannelConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#ChannelConnection"
      }
    },
    "com.gcp.eventarc_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.eventarc_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.eventarc_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.eventarc_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.eventarc_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#AuditLogConfig"
      }
    },
    "com.gcp.eventarc_v1#HttpEndpoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the HTTP endpoint. The value must be a RFC2396 URI string. Examples: `http://10.10.10.8:80/route`, `http://svc.us-central1.p.local:8080/`. Only HTTP and HTTPS protocols are supported. The host can be either a static IP addressable from the VPC specified by the network config, or an internal DNS hostname of the service resolvable via Cloud DNS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a HTTP endpoint destination."
      }
    },
    "com.gcp.eventarc_v1#ListMessageBusesResponse": {
      "type": "structure",
      "members": {
        "messageBuses": {
          "target": "com.gcp.eventarc_v1#MessageBusList",
          "traits": {
            "smithy.api#documentation": "The requested message buses, up to the number specified in `page_size`."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListMessageBuses` to request the next page. If this is empty, then there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListMessageBuses` method."
      }
    },
    "com.gcp.eventarc_v1#MessageBusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#MessageBus"
      }
    },
    "com.gcp.eventarc_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatAvroFormat": {
      "type": "structure",
      "members": {
        "schemaDefinition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The entire schema definition is stored in this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of an AVRO message payload."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestinationNetworkConfig": {
      "type": "structure",
      "members": {
        "networkAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the NetworkAttachment that allows access to the consumer VPC. Format: `projects/{PROJECT_ID}/regions/{REGION}/networkAttachments/{NETWORK_ATTACHMENT_NAME}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a network config to be used for destination resolution and connectivity."
      }
    },
    "com.gcp.eventarc_v1#CloudRun": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The region the Cloud Run service is deployed in."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative path on the Cloud Run service the events should be sent to. The value must conform to the definition of a URI path segment (section 3.3 of RFC2396). Examples: \"/route\", \"route\", \"route/subroute\"."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Cloud Run service being addressed. See https://cloud.google.com/run/docs/reference/rest/v1/namespaces.services. Only services located in the same project as the trigger object can be addressed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Cloud Run destination."
      }
    },
    "com.gcp.eventarc_v1#NetworkConfig": {
      "type": "structure",
      "members": {
        "networkAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the NetworkAttachment that allows access to the customer's VPC. Format: `projects/{PROJECT_ID}/regions/{REGION}/networkAttachments/{NETWORK_ATTACHMENT_NAME}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Configuration that can be inherited by other protos."
      }
    },
    "com.gcp.eventarc_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.eventarc_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.eventarc_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.eventarc_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.eventarc_v1#Trigger": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User labels attached to the triggers that can be used to group resources."
          }
        },
        "transport": {
          "target": "com.gcp.eventarc_v1#Transport",
          "traits": {
            "smithy.api#documentation": "Optional. To deliver messages, Eventarc might use other Google Cloud products as a transport intermediary. This field contains a reference to that transport intermediary. This information can be used for debugging purposes."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the channel associated with the trigger in `projects/{project}/locations/{location}/channels/{channel}` format. You must provide a channel to receive events from Eventarc SaaS partners."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IAM service account email associated with the trigger. The service account represents the identity of the trigger. The `iam.serviceAccounts.actAs` permission must be granted on the service account to allow a principal to impersonate the service account. For more information, see the [Roles and permissions](/eventarc/docs/all-roles-permissions) page specific to the trigger destination."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this Trigger satisfies the requirements of physical zone separation"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "retryPolicy": {
          "target": "com.gcp.eventarc_v1#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The retry policy to use in the Trigger. If unset, event delivery will be retried for up to 24 hours by default: https://cloud.google.com/eventarc/docs/retry-events"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and might be sent only on create requests to ensure that the client has an up-to-date value before proceeding."
          }
        },
        "eventFilters": {
          "target": "com.gcp.eventarc_v1#EventFilterList",
          "traits": {
            "smithy.api#documentation": "Required. Unordered list. The list of filters that applies to event attributes. Only events that match all the provided filters are sent to the destination."
          }
        },
        "destination": {
          "target": "com.gcp.eventarc_v1#Destination",
          "traits": {
            "smithy.api#documentation": "Required. Destination specifies where the events should be sent to."
          }
        },
        "conditions": {
          "target": "com.gcp.eventarc_v1#StateConditionMap",
          "traits": {
            "smithy.api#documentation": "Output only. The reason(s) why a trigger is in FAILED state."
          }
        },
        "eventDataContentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. EventDataContentType specifies the type of payload in MIME format that is expected from the CloudEvent data field. This is set to `application/json` if the value is not defined."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the trigger. Must be unique within the location of the project and must be in `projects/{project}/locations/{location}/triggers/{trigger}` format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of the trigger resource."
      }
    },
    "com.gcp.eventarc_v1#EventFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#EventFilter"
      }
    },
    "com.gcp.eventarc_v1#StateConditionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.eventarc_v1#StateCondition"
      }
    },
    "com.gcp.eventarc_v1#ChannelConnection": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned ID of the resource. The server guarantees uniqueness and immutability until deleted."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the connection."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the connected subscriber Channel. This is a weak reference to avoid cross project and cross accounts references. This must be in `projects/{project}/location/{location}/channels/{channel_id}` format."
          }
        },
        "activationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Activation token for the channel. The token will be used during the creation of ChannelConnection to bind the channel with the provider project. This field will not be stored in the provider resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of the ChannelConnection resource. A ChannelConnection is a resource which event providers create during the activation process to establish a connection between the provider and the subscriber channel."
      }
    },
    "com.gcp.eventarc_v1#ListEnrollmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListEnrollments` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        },
        "enrollments": {
          "target": "com.gcp.eventarc_v1#EnrollmentList",
          "traits": {
            "smithy.api#documentation": "The requested Enrollments, up to the number specified in `page_size`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListEnrollments` method."
      }
    },
    "com.gcp.eventarc_v1#EnrollmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Enrollment"
      }
    },
    "com.gcp.eventarc_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.eventarc_v1#Transport": {
      "type": "structure",
      "members": {
        "pubsub": {
          "target": "com.gcp.eventarc_v1#Pubsub",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub topic and subscription used by Eventarc as a transport intermediary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the transport intermediaries created for the trigger to deliver events."
      }
    },
    "com.gcp.eventarc_v1#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be sent to `ListChannels` to request the next page. If this is empty, then there are no more pages."
          }
        },
        "channels": {
          "target": "com.gcp.eventarc_v1#ChannelList",
          "traits": {
            "smithy.api#documentation": "The requested channels, up to the number specified in `page_size`."
          }
        },
        "unreachable": {
          "target": "com.gcp.eventarc_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListChannels` method."
      }
    },
    "com.gcp.eventarc_v1#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#Channel"
      }
    },
    "com.gcp.eventarc_v1#RetryPolicy": {
      "type": "structure",
      "members": {
        "maxAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of delivery attempts for any message. The only valid value is 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The retry policy configuration for the Trigger. Can only be set with Cloud Run destinations."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediationTransformation": {
      "type": "structure",
      "members": {
        "transformationTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The CEL expression template to apply to transform messages. The following CEL extension functions are provided for use in this CEL expression: - merge: map1.merge(map2) -> map3 - Merges the passed CEL map with the existing CEL map the function is applied to. - If the same key exists in both maps, if the key's value is type map both maps are merged else the value from the passed map is used. - denormalize: map.denormalize() -> map - Denormalizes a CEL map such that every value of type map or key in the map is expanded to return a single level map. - The resulting keys are \".\" separated indices of the map keys. - For example: { \"a\": 1, \"b\": { \"c\": 2, \"d\": 3 } \"e\": [4, 5] } .denormalize() -> { \"a\": 1, \"b.c\": 2, \"b.d\": 3, \"e.0\": 4, \"e.1\": 5 } - setField: map.setField(key, value) -> message - Sets the field of the message with the given key to the given value. - If the field is not present it will be added. - If the field is present it will be overwritten. - The key can be a dot separated path to set a field in a nested message. - Key must be of type string. - Value may be any valid type. - removeFields: map.removeFields([key1, key2, ...]) -> message - Removes the fields of the map with the given keys. - The keys can be a dot separated path to remove a field in a nested message. - If a key is not found it will be ignored. - Keys must be of type string. - toMap: [map1, map2, ...].toMap() -> map - Converts a CEL list of CEL maps to a single CEL map - toDestinationPayloadFormat(): message.data.toDestinationPayloadFormat() -> string or bytes - Converts the message data to the destination payload format specified in Pipeline.Destination.output_payload_format - This function is meant to be applied to the message.data field. - If the destination payload format is not set, the function will return the message data unchanged. - toCloudEventJsonWithPayloadFormat: message.toCloudEventJsonWithPayloadFormat() -> map - Converts a message to the corresponding structure of JSON format for CloudEvents - This function applies toDestinationPayloadFormat() to the message data. It also sets the corresponding datacontenttype of the CloudEvent, as indicated by Pipeline.Destination.output_payload_format. If no output_payload_format is set it will use the existing datacontenttype on the CloudEvent if present, else leave datacontenttype absent. - This function expects that the content of the message will adhere to the standard CloudEvent format. If it doesn't then this function will fail. - The result is a CEL map that corresponds to the JSON representation of the CloudEvent. To convert that data to a JSON string it can be chained with the toJsonString function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transformation defines the way to transform an incoming message."
      }
    },
    "com.gcp.eventarc_v1#Pipeline": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and might be sent only on create requests to ensure that the client has an up-to-date value before proceeding."
          }
        },
        "inputPayloadFormat": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormat",
          "traits": {
            "smithy.api#documentation": "Optional. The payload format expected for the messages received by the Pipeline. If input_payload_format is set then any messages not matching this format will be treated as persistent errors. If input_payload_format is not set, then the message data will be treated as an opaque binary and no output format can be set on the Pipeline through the Pipeline.Destination.output_payload_format field. Any Mediations on the Pipeline that involve access to the data field will fail as persistent errors."
          }
        },
        "mediations": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediationList",
          "traits": {
            "smithy.api#documentation": "Optional. List of mediation operations to be performed on the message. Currently, only one Transformation operation is allowed in each Pipeline."
          }
        },
        "retryPolicy": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineRetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The retry policy to use in the pipeline."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-assigned unique identifier for the Pipeline. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "annotations": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined annotations. See https://google.aip.dev/128#annotations."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time. A timestamp in RFC3339 UTC \"Zulu\" format, with nanosecond resolution and up to nine fractional digits. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Pipeline. Must be unique within the location of the project and must be in `projects/{project}/locations/{location}/pipelines/{pipeline}` format."
          }
        },
        "destinations": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestinationList",
          "traits": {
            "smithy.api#documentation": "Required. List of destinations to which messages will be forwarded. Currently, exactly one destination is supported per Pipeline."
          }
        },
        "loggingConfig": {
          "target": "com.gcp.eventarc_v1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config to control Platform Logging for Pipelines."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name of resource."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this Pipeline satisfies the requirements of physical zone separation"
          }
        },
        "labels": {
          "target": "com.gcp.eventarc_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User labels attached to the Pipeline that can be used to group resources. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time. A timestamp in RFC3339 UTC \"Zulu\" format, with nanosecond resolution and up to nine fractional digits. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt the event data. If not set, an internal Google-owned key will be used to encrypt messages. It must match the pattern \"projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of the Pipeline resource."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMediation"
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineDestination"
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormat": {
      "type": "structure",
      "members": {
        "protobuf": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatProtobufFormat",
          "traits": {
            "smithy.api#documentation": "Optional. Protobuf format."
          }
        },
        "avro": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatAvroFormat",
          "traits": {
            "smithy.api#documentation": "Optional. Avro format."
          }
        },
        "json": {
          "target": "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatJsonFormat",
          "traits": {
            "smithy.api#documentation": "Optional. JSON format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the format of message data."
      }
    },
    "com.gcp.eventarc_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.eventarc_v1#GoogleCloudEventarcV1PipelineMessagePayloadFormatJsonFormat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The format of a JSON message payload."
      }
    },
    "com.gcp.eventarc_v1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.eventarc_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.eventarc_v1#BindingList",
          "traits": {
[...]
