{
  "smithy": "2.0",
  "metadata": {
    "service": "fcm",
    "version": "v1",
    "title": "Firebase Cloud Messaging API",
    "baseUrl": "https://fcm.googleapis.com/"
  },
  "shapes": {
    "com.gcp.fcm_v1#LightSettings": {
      "type": "structure",
      "members": {
        "lightOnDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Along with `light_off_duration`, define the blink rate of LED flashes. Resolution defined by [proto.Duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Duration)"
          }
        },
        "lightOffDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Along with `light_on_duration`, define the blink rate of LED flashes. Resolution defined by [proto.Duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Duration)"
          }
        },
        "color": {
          "target": "com.gcp.fcm_v1#Color",
          "traits": {
            "smithy.api#documentation": "Required. Set `color` of the LED with [google.type.Color](https://github.com/googleapis/googleapis/blob/master/google/type/color.proto)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to control notification LED."
      }
    },
    "com.gcp.fcm_v1#WebpushConfig": {
      "type": "structure",
      "members": {
        "notification": {
          "target": "com.gcp.fcm_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Web Notification options as a JSON object. Supports Notification instance properties as defined in [Web Notification API](https://developer.mozilla.org/en-US/docs/Web/API/Notification). If present, \"title\" and \"body\" fields override [google.firebase.fcm.v1.Notification.title] and [google.firebase.fcm.v1.Notification.body]."
          }
        },
        "headers": {
          "target": "com.gcp.fcm_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP headers defined in webpush protocol. Refer to [Webpush protocol](https://tools.ietf.org/html/rfc8030#section-5) for supported headers, e.g. \"TTL\": \"15\"."
          }
        },
        "data": {
          "target": "com.gcp.fcm_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key/value payload. If present, it will override google.firebase.fcm.v1.Message.data."
          }
        },
        "fcmOptions": {
          "target": "com.gcp.fcm_v1#WebpushFcmOptions",
          "traits": {
            "smithy.api#documentation": "Options for features provided by the FCM SDK for Web."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Webpush protocol](https://tools.ietf.org/html/rfc8030) options."
      }
    },
    "com.gcp.fcm_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.fcm_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.fcm_v1#AndroidNotification": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's title. If present, it will override google.firebase.fcm.v1.Notification.title."
          }
        },
        "sticky": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to false or unset, the notification is automatically dismissed when the user clicks it in the panel. When set to true, the notification persists even when the user clicks it."
          }
        },
        "lightSettings": {
          "target": "com.gcp.fcm_v1#LightSettings",
          "traits": {
            "smithy.api#documentation": "Settings to control the notification's LED blinking rate and color if LED is available on the device. The total blinking time is controlled by the OS."
          }
        },
        "bodyLocKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key to the body string in the app's string resources to use to localize the body text to the user's current localization. See [String Resources](https://goo.gl/NdFZGI) for more information."
          }
        },
        "proxy": {
          "target": "com.gcp.fcm_v1#AndroidNotificationProxyEnum",
          "traits": {
            "smithy.api#documentation": "Setting to control when a notification may be proxied."
          }
        },
        "clickAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action associated with a user click on the notification. If specified, an activity with a matching intent filter is launched when a user clicks on the notification."
          }
        },
        "notificationPriority": {
          "target": "com.gcp.fcm_v1#AndroidNotificationNotificationPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Set the relative priority for this notification. Priority is an indication of how much of the user's attention should be consumed by this notification. Low-priority notifications may be hidden from the user in certain situations, while the user might be interrupted for a higher-priority notification. This parameter affects notification priority only on devices running Android 7.1 (API level 25) and lower. On Android 8.0 (API level 26) and higher, priority is ignored in favor of channel [importance](https://developer.android.com/develop/ui/views/notifications/channels#importance). Note this priority differs from `AndroidMessagePriority`. This priority is processed by the client after the message has been delivered, whereas [AndroidMessagePriority](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidmessagepriority) is an FCM concept that controls when the message is delivered."
          }
        },
        "defaultVibrateTimings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, use the Android framework's default vibrate pattern for the notification. Default values are specified in [config.xml](https://android.googlesource.com/platform/frameworks/base/+/master/core/res/res/values/config.xml). If `default_vibrate_timings` is set to true and `vibrate_timings` is also set, the default value is used instead of the user-specified `vibrate_timings`."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's body text. If present, it will override google.firebase.fcm.v1.Notification.body."
          }
        },
        "notificationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the number of items this notification represents. May be displayed as a badge count for launchers that support badging.See [Notification Badge](https://developer.android.com/training/notify-user/badges). For example, this might be useful if you're using just one notification to represent multiple new messages but you want the count here to represent the number of total new messages. If zero or unspecified, systems that support badging use the default, which is to increment a number displayed on the long-press menu each time a new notification arrives."
          }
        },
        "bypassProxyNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, display notifications delivered to the device will be handled by the app instead of the proxy."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the URL of an image that is going to be displayed in a notification. If present, it will override google.firebase.fcm.v1.Notification.image."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's icon color, expressed in #rrggbb format."
          }
        },
        "titleLocArgs": {
          "target": "com.gcp.fcm_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Variable string values to be used in place of the format specifiers in title_loc_key to use to localize the title text to the user's current localization. See [Formatting and Styling](https://goo.gl/MalYE3) for more information."
          }
        },
        "vibrateTimings": {
          "target": "com.gcp.fcm_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Set the vibration pattern to use. Pass in an array of [protobuf.Duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Duration) to turn on or off the vibrator. The first value indicates the `Duration` to wait before turning the vibrator on. The next value indicates the `Duration` to keep the vibrator on. Subsequent values alternate between `Duration` to turn the vibrator off and to turn the vibrator on. If `vibrate_timings` is set and `default_vibrate_timings` is set to `true`, the default value is used instead of the user-specified `vibrate_timings`."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's icon. Sets the notification icon to myicon for drawable resource myicon. If you don't send this key in the request, FCM displays the launcher icon specified in your app manifest."
          }
        },
        "titleLocKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key to the title string in the app's string resources to use to localize the title text to the user's current localization. See [String Resources](https://goo.gl/NdFZGI) for more information."
          }
        },
        "sound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sound to play when the device receives the notification. Supports \"default\" or the filename of a sound resource bundled in the app. Sound files must reside in /res/raw/."
          }
        },
        "localOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set whether or not this notification is relevant only to the current device. Some notifications can be bridged to other devices for remote display, such as a Wear OS watch. This hint can be set to recommend this notification not be bridged. See [Wear OS guides](https://developer.android.com/training/wearables/notifications/bridger#existing-method-of-preventing-bridging)"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the time that the event in the notification occurred. Notifications in the panel are sorted by this time. A point in time is represented using [protobuf.Timestamp](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/Timestamp)."
          }
        },
        "defaultSound": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, use the Android framework's default sound for the notification. Default values are specified in [config.xml](https://android.googlesource.com/platform/frameworks/base/+/master/core/res/res/values/config.xml)."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier used to replace existing notifications in the notification drawer. If not specified, each request creates a new notification. If specified and a notification with the same tag is already being shown, the new notification replaces the existing one in the notification drawer."
          }
        },
        "ticker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the \"ticker\" text, which is sent to accessibility services. Prior to API level 21 (`Lollipop`), sets the text that is displayed in the status bar when the notification first arrives."
          }
        },
        "channelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [notification's channel id](https://developer.android.com/guide/topics/ui/notifiers/notifications#ManageChannels) (new in Android O). The app must create a channel with this channel ID before any notification with this channel ID is received. If you don't send this channel ID in the request, or if the channel ID provided has not yet been created by the app, FCM uses the channel ID specified in the app manifest."
          }
        },
        "defaultLightSettings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, use the Android framework's default LED light settings for the notification. Default values are specified in [config.xml](https://android.googlesource.com/platform/frameworks/base/+/master/core/res/res/values/config.xml). If `default_light_settings` is set to true and `light_settings` is also set, the user-specified `light_settings` is used instead of the default value."
          }
        },
        "bodyLocArgs": {
          "target": "com.gcp.fcm_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Variable string values to be used in place of the format specifiers in body_loc_key to use to localize the body text to the user's current localization. See [Formatting and Styling](https://goo.gl/MalYE3) for more information."
          }
        },
        "visibility": {
          "target": "com.gcp.fcm_v1#AndroidNotificationVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Set the [Notification.visibility](https://developer.android.com/reference/android/app/Notification.html#visibility) of the notification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notification to send to android devices."
      }
    },
    "com.gcp.fcm_v1#AndroidNotificationProxyEnum": {
      "type": "enum",
      "members": {
        "PROXY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        },
        "IF_PRIORITY_LOWERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IF_PRIORITY_LOWERED"
          }
        }
      }
    },
    "com.gcp.fcm_v1#AndroidNotificationNotificationPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "PRIORITY_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_MIN"
          }
        },
        "PRIORITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_LOW"
          }
        },
        "PRIORITY_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_DEFAULT"
          }
        },
        "PRIORITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_HIGH"
          }
        },
        "PRIORITY_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_MAX"
          }
        }
      }
    },
    "com.gcp.fcm_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.fcm_v1#AndroidNotificationVisibilityEnum": {
      "type": "enum",
      "members": {
        "VISIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISIBILITY_UNSPECIFIED"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        }
      }
    },
    "com.gcp.fcm_v1#Color": {
      "type": "structure",
      "members": {
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.gcp.fcm_v1#Notification": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the URL of an image that is going to be downloaded on the device and displayed in a notification. JPEG, PNG, BMP have full support across platforms. Animated GIF and video only work on iOS. WebP and HEIF have varying levels of support across platforms and platform versions. Android has 1MB image size limit. Quota usage and implications/costs for hosting image on Firebase Storage: https://firebase.google.com/pricing"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's title."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification's body text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic notification template to use across all platforms."
      }
    },
    "com.gcp.fcm_v1#ApnsConfig": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.fcm_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP request headers defined in Apple Push Notification Service. Refer to [APNs request headers](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns) for supported headers such as `apns-expiration` and `apns-priority`. The backend sets a default value for `apns-expiration` of 30 days and a default value for `apns-priority` of 10 if not explicitly set."
          }
        },
        "payload": {
          "target": "com.gcp.fcm_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "APNs payload as a JSON object, including both `aps` dictionary and custom payload. See [Payload Key Reference](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification). If present, it overrides google.firebase.fcm.v1.Notification.title and google.firebase.fcm.v1.Notification.body."
          }
        },
        "fcmOptions": {
          "target": "com.gcp.fcm_v1#ApnsFcmOptions",
          "traits": {
            "smithy.api#documentation": "Options for features provided by the FCM SDK for iOS."
          }
        },
        "liveActivityToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Apple Live Activity](https://developer.apple.com/design/human-interface-guidelines/live-activities) token to send updates to. This token can either be a push token or [push-to-start](https://developer.apple.com/documentation/activitykit/activity/pushtostarttoken) token from Apple. To start, update, or end a live activity remotely using FCM, construct an [`aps payload`](https://developer.apple.com/documentation/activitykit/starting-and-updating-live-activities-with-activitykit-push-notifications#Construct-the-payload-that-starts-a-Live-Activity) and put it in the [`apns.payload`](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#ApnsConfig) field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Apple Push Notification Service](https://goo.gl/MXRTPa) specific options."
      }
    },
    "com.gcp.fcm_v1#AndroidFcmOptions": {
      "type": "structure",
      "members": {
        "analyticsLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label associated with the message's analytics data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for features provided by the FCM SDK for Android."
      }
    },
    "com.gcp.fcm_v1#WebpushFcmOptions": {
      "type": "structure",
      "members": {
        "analyticsLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label associated with the message's analytics data."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to open when the user clicks on the notification. For all URL values, HTTPS is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for features provided by the FCM SDK for Web."
      }
    },
    "com.gcp.fcm_v1#Message": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output Only. The identifier of the message sent, in the format of `projects/*/messages/{message_id}`."
          }
        },
        "data": {
          "target": "com.gcp.fcm_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Input only. Arbitrary key/value payload, which must be UTF-8 encoded. The key should not be a reserved word (\"from\", \"message_type\", or any word starting with \"google.\" or \"gcm.notification.\"). When sending payloads containing only data fields to iOS devices, only normal priority (`\"apns-priority\": \"5\"`) is allowed in [`ApnsConfig`](/docs/reference/fcm/rest/v1/projects.messages#apnsconfig)."
          }
        },
        "apns": {
          "target": "com.gcp.fcm_v1#ApnsConfig",
          "traits": {
            "smithy.api#documentation": "Input only. [Apple Push Notification Service](https://goo.gl/MXRTPa) specific options."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `fid` instead. Registration token to send a message to. During the transition period, this field also accepts a Firebase Installation ID (FID)."
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Condition to send a message to, e.g. \"'foo' in topics && 'bar' in topics\"."
          }
        },
        "notification": {
          "target": "com.gcp.fcm_v1#Notification",
          "traits": {
            "smithy.api#documentation": "Input only. Basic notification template to use across all platforms."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Topic name to send a message to, e.g. \"weather\". Note: \"/topics/\" prefix should not be provided."
          }
        },
        "android": {
          "target": "com.gcp.fcm_v1#AndroidConfig",
          "traits": {
            "smithy.api#documentation": "Input only. Android specific options for messages sent through [FCM connection server](https://goo.gl/4GLdUl)."
          }
        },
        "fid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Firebase Installation ID to send a message to."
          }
        },
        "webpush": {
          "target": "com.gcp.fcm_v1#WebpushConfig",
          "traits": {
            "smithy.api#documentation": "Input only. [Webpush protocol](https://tools.ietf.org/html/rfc8030) options."
          }
        },
        "fcmOptions": {
          "target": "com.gcp.fcm_v1#FcmOptions",
          "traits": {
            "smithy.api#documentation": "Input only. Template for FCM SDK feature options to use across all platforms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message to send by Firebase Cloud Messaging Service."
      }
    },
    "com.gcp.fcm_v1#ApnsFcmOptions": {
      "type": "structure",
      "members": {
        "analyticsLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label associated with the message's analytics data."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the URL of an image that is going to be displayed in a notification. If present, it will override google.firebase.fcm.v1.Notification.image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for features provided by the FCM SDK for iOS."
      }
    },
    "com.gcp.fcm_v1#SendMessageRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag for testing the request without actually delivering the message."
          }
        },
        "message": {
          "target": "com.gcp.fcm_v1#Message",
          "traits": {
            "smithy.api#documentation": "Required. Message to send."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to send a message to specified target."
      }
    },
    "com.gcp.fcm_v1#AndroidConfig": {
      "type": "structure",
      "members": {
        "bandwidthConstrainedOk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, messages will be allowed to be delivered to the app while the device is in bandwidth constrained mode. This should only be enabled when the app has been tested to properly handle messages in bandwidth constrained mode."
          }
        },
        "directBootOk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, messages will be allowed to be delivered to the app while the device is in direct boot mode. See [Support Direct Boot mode](https://developer.android.com/training/articles/direct-boot)."
          }
        },
        "restrictedPackageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package name of the application where the registration token must match in order to receive the message."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long (in seconds) the message should be kept in FCM storage if the device is offline. The maximum time to live supported is 4 weeks, and the default value is 4 weeks if not set. Set it to 0 if want to send the message immediately. In JSON format, the Duration type is encoded as a string rather than an object, where the string ends in the suffix \"s\" (indicating seconds) and is preceded by the number of seconds, with nanoseconds expressed as fractional seconds. For example, 3 seconds with 0 nanoseconds should be encoded in JSON format as \"3s\", while 3 seconds and 1 nanosecond should be expressed in JSON format as \"3.000000001s\". The ttl will be rounded down to the nearest second."
          }
        },
        "fcmOptions": {
          "target": "com.gcp.fcm_v1#AndroidFcmOptions",
          "traits": {
            "smithy.api#documentation": "Options for features provided by the FCM SDK for Android."
          }
        },
        "collapseKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier of a group of messages that can be collapsed, so that only the last message gets sent when delivery can be resumed. A maximum of 4 different collapse keys is allowed at any given time."
          }
        },
        "priority": {
          "target": "com.gcp.fcm_v1#AndroidConfigPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Message priority. Can take \"normal\" and \"high\" values. For more information, see [Setting the priority of a message](https://firebase.google.com/docs/cloud-messaging/customize-messages/setting-message-priority)."
          }
        },
        "data": {
          "target": "com.gcp.fcm_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key/value payload. If present, it will override google.firebase.fcm.v1.Message.data."
          }
        },
        "notification": {
          "target": "com.gcp.fcm_v1#AndroidNotification",
          "traits": {
            "smithy.api#documentation": "Notification to send to android devices."
          }
        },
        "restrictedSatelliteOk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, messages will be allowed to be delivered to the app while the device is connected over a restricted satellite network. This should only be enabled for messages that can be handled over a restricted satellite network and only for apps that are enabled to work over a restricted satellite network. Note that the ability of the app to connect to a restricted satellite network is dependent on the carrier's settings and the device model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Android specific options for messages sent through [FCM connection server](https://goo.gl/4GLdUl)."
      }
    },
    "com.gcp.fcm_v1#AndroidConfigPriorityEnum": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.fcm_v1#FcmOptions": {
      "type": "structure",
      "members": {
        "analyticsLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label associated with the message's analytics data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Platform independent options for features provided by the FCM SDKs."
      }
    },
    "com.gcp.fcm_v1#SendProjectsMessagesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. It contains the Firebase project id (i.e. the unique identifier for your Firebase project), in the format of `projects/{project_id}`. The numeric project number with no padding is also supported in the format of `projects/{project_number}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.fcm_v1#SendMessageRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.fcm_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.fcm_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.fcm_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.fcm_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.fcm_v1#SendProjectsMessages": {
      "type": "operation",
      "input": {
        "target": "com.gcp.fcm_v1#SendProjectsMessagesRequest"
      },
      "output": {
        "target": "com.gcp.fcm_v1#Message"
      },
      "errors": [
        {
          "target": "com.gcp.fcm_v1#NotFound"
        },
        {
          "target": "com.gcp.fcm_v1#Forbidden"
        },
        {
          "target": "com.gcp.fcm_v1#BadRequest"
        },
        {
          "target": "com.gcp.fcm_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/messages:send"
        },
        "smithy.api#documentation": "Send a message to specified target (a registration token, topic or condition)."
      }
    }
  }
}
