{
  "smithy": "2.0",
  "metadata": {
    "service": "file",
    "version": "v1",
    "title": "Cloud Filestore API",
    "baseUrl": "https://file.googleapis.com/"
  },
  "shapes": {
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
          }
        },
        "isRollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the update call is triggered from rollback, set the value as true."
          }
        },
        "maintenancePolicies": {
          "target": "com.gcp.file_v1#MaintenancePolicyMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
      }
    },
    "com.gcp.file_v1#MaintenancePolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.file_v1#MaintenancePolicy"
      }
    },
    "com.gcp.file_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.file_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.file_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.file_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.file_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.file_v1#FileShareConfig": {
      "type": "structure",
      "members": {
        "sourceBackupdrBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,"
          }
        },
        "nfsExportOptions": {
          "target": "com.gcp.file_v1#NfsExportOptionsList",
          "traits": {
            "smithy.api#documentation": "Nfs Export Options. There is a limit of 10 export options per file share."
          }
        },
        "capacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes."
          }
        },
        "sourceBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share configuration for the instance."
      }
    },
    "com.gcp.file_v1#NfsExportOptionsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#NfsExportOptions"
      }
    },
    "com.gcp.file_v1#DenyMaintenancePeriod": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "com.gcp.file_v1#File_Date",
          "traits": {
            "smithy.api#documentation": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
          }
        },
        "time": {
          "target": "com.gcp.file_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
          }
        },
        "startDate": {
          "target": "com.gcp.file_v1#File_Date",
          "traits": {
            "smithy.api#documentation": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of string values. e.g. instance's replica information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains notification related data."
      }
    },
    "com.gcp.file_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.file_v1#IOPSPerTB": {
      "type": "structure",
      "members": {
        "maxIopsPerTb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Maximum IOPS per TiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IOPS per TB. Filestore defines TB as 1024^4 bytes (TiB)."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "type": "structure",
      "members": {
        "nodes": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloMetadata contains resources required for proper SLO classification of the instance."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled end time for the maintenance."
          }
        },
        "scheduleDeadlineTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
          }
        },
        "canReschedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled start time for the maintenance."
          }
        },
        "rolloutManagementPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
      }
    },
    "com.gcp.file_v1#Replication": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.gcp.file_v1#ReplicationRoleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The replication role. When creating a new replica, this field must be set to `STANDBY`."
          }
        },
        "replicas": {
          "target": "com.gcp.file_v1#ReplicaConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Replication configuration for the replica instance associated with this instance. Only a single replica is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. The configuration used to replicate an instance."
      }
    },
    "com.gcp.file_v1#ReplicationRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDBY"
          }
        }
      }
    },
    "com.gcp.file_v1#ReplicaConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#ReplicaConfig"
      }
    },
    "com.gcp.file_v1#DirectoryServicesConfig": {
      "type": "structure",
      "members": {
        "ldap": {
          "target": "com.gcp.file_v1#LdapConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for LDAP servers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Directory Services configuration for Kerberos-based authentication."
      }
    },
    "com.gcp.file_v1#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "snapshots": {
          "target": "com.gcp.file_v1#SnapshotList",
          "traits": {
            "smithy.api#documentation": "A list of snapshots in the project for the specified instance."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListSnapshotsResponse is the result of ListSnapshotsRequest."
      }
    },
    "com.gcp.file_v1#SnapshotList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Snapshot"
      }
    },
    "com.gcp.file_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.file_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListInstancesResponse is the result of ListInstancesRequest."
      }
    },
    "com.gcp.file_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Instance"
      }
    },
    "com.gcp.file_v1#PauseReplicaRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "PauseReplicaRequest pauses a Filestore standby instance (replica)."
      }
    },
    "com.gcp.file_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes provisioned dataplane resources."
      }
    },
    "com.gcp.file_v1#Schedule": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        },
        "day": {
          "target": "com.gcp.file_v1#ScheduleDayEnum",
          "traits": {
            "smithy.api#documentation": "Allows to define schedule that runs specified day of the week."
          }
        },
        "startTime": {
          "target": "com.gcp.file_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the window to start the operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the schedule."
      }
    },
    "com.gcp.file_v1#ScheduleDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.file_v1#Backup": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was created."
          }
        },
        "storageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. KMS key name used for data encryption."
          }
        },
        "state": {
          "target": "com.gcp.file_v1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup state."
          }
        },
        "fileSystemProtocol": {
          "target": "com.gcp.file_v1#BackupFileSystemProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The file system protocol of the source Filestore instance that this backup is created from."
          }
        },
        "downloadBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Amount of bytes that will be downloaded if the backup is restored. This may be different than storage bytes, since sequential backups of the same disk will share storage."
          }
        },
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "sourceInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the source Filestore instance, in the format `projects/{project_number}/locations/{location_id}/instances/{instance_id}`, used to create this backup."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "capacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Capacity of the source file share when the backup was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
          }
        },
        "tags": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
          }
        },
        "sourceFileShare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the file share in the source Filestore instance that the backup is created from."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "sourceInstanceTier": {
          "target": "com.gcp.file_v1#BackupSourceInstanceTierEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The service tier of the source Filestore instance that this backup is created from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Filestore backup."
      }
    },
    "com.gcp.file_v1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.file_v1#BackupFileSystemProtocolEnum": {
      "type": "enum",
      "members": {
        "FILE_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_PROTOCOL_UNSPECIFIED"
          }
        },
        "NFS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_V3"
          }
        },
        "NFS_V4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_V4_1"
          }
        }
      }
    },
    "com.gcp.file_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.file_v1#BackupSourceInstanceTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "BASIC_HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_HDD"
          }
        },
        "BASIC_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_SSD"
          }
        },
        "HIGH_SCALE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_SCALE_SSD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        }
      }
    },
    "com.gcp.file_v1#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "weeklyCycle": {
          "target": "com.gcp.file_v1#WeeklyCycle",
          "traits": {
            "smithy.api#documentation": "Weekly cycle."
          }
        },
        "dailyCycle": {
          "target": "com.gcp.file_v1#DailyCycle",
          "traits": {
            "smithy.api#documentation": "Daily cycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceWindow definition."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "type": "structure",
      "members": {
        "eligibilities": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap",
          "traits": {
            "smithy.api#documentation": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
      }
    },
    "com.gcp.file_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.file_v1#Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the instance, in the format `projects/{project}/locations/{location}/instances/{instance}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "performanceLimits": {
          "target": "com.gcp.file_v1#PerformanceLimits",
          "traits": {
            "smithy.api#documentation": "Output only. Used for getting performance limits."
          }
        },
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "capacityStepSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The incremental increase or decrease in capacity, designated in some number of GB."
          }
        },
        "networks": {
          "target": "com.gcp.file_v1#NetworkConfigList",
          "traits": {
            "smithy.api#documentation": "VPC networks to which the instance is connected. For this version, only a single network is supported."
          }
        },
        "replication": {
          "target": "com.gcp.file_v1#Replication",
          "traits": {
            "smithy.api#documentation": "Optional. Replication configuration."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the instance state, if available."
          }
        },
        "performanceConfig": {
          "target": "com.gcp.file_v1#PerformanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Used to configure performance."
          }
        },
        "directoryServices": {
          "target": "com.gcp.file_v1#DirectoryServicesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Directory Services configuration for Kerberos-based authentication. Should only be set if protocol is \"NFS_V4_1\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the instance (2048 characters or less)."
          }
        },
        "fileShares": {
          "target": "com.gcp.file_v1#FileShareConfigList",
          "traits": {
            "smithy.api#documentation": "File system shares on the instance. For this version, only a single file share is supported."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KMS key name used for data encryption."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-specified ETag for the instance resource to prevent simultaneous updates from overwriting each other."
          }
        },
        "customPerformanceSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this instance supports configuring its performance. If true, the user can configure the instance's performance by using the 'performance_config' field."
          }
        },
        "minCapacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum capacity of the instance in GB."
          }
        },
        "maxCapacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum capacity of the instance in GB."
          }
        },
        "state": {
          "target": "com.gcp.file_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The instance state."
          }
        },
        "suspensionReasons": {
          "target": "com.gcp.file_v1#InstanceSuspensionReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Field indicates all the reasons the instance is in \"SUSPENDED\" state."
          }
        },
        "deletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the instance is protected against deletion."
          }
        },
        "protocol": {
          "target": "com.gcp.file_v1#InstanceProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The protocol indicates the access protocol for all shares in the instance. This field is immutable and it cannot be changed after the instance has been created. Default value: `NFS_V3`."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "deletionProtectionReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The reason for enabling deletion protection."
          }
        },
        "tags": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
          }
        },
        "tier": {
          "target": "com.gcp.file_v1#InstanceTierEnum",
          "traits": {
            "smithy.api#documentation": "The service tier of the instance."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Filestore instance."
      }
    },
    "com.gcp.file_v1#NetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#NetworkConfig"
      }
    },
    "com.gcp.file_v1#FileShareConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#FileShareConfig"
      }
    },
    "com.gcp.file_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDING"
          }
        },
        "RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMING"
          }
        },
        "REVERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERTING"
          }
        },
        "PROMOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTING"
          }
        }
      }
    },
    "com.gcp.file_v1#InstanceSuspensionReasonsItemEnum": {
      "type": "enum",
      "members": {
        "SUSPENSION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENSION_REASON_UNSPECIFIED"
          }
        },
        "KMS_KEY_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_KEY_ISSUE"
          }
        }
      }
    },
    "com.gcp.file_v1#InstanceSuspensionReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#InstanceSuspensionReasonsItemEnum"
      }
    },
    "com.gcp.file_v1#InstanceProtocolEnum": {
      "type": "enum",
      "members": {
        "FILE_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_PROTOCOL_UNSPECIFIED"
          }
        },
        "NFS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_V3"
          }
        },
        "NFS_V4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_V4_1"
          }
        }
      }
    },
    "com.gcp.file_v1#InstanceTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "BASIC_HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_HDD"
          }
        },
        "BASIC_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_SSD"
          }
        },
        "HIGH_SCALE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_SCALE_SSD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        }
      }
    },
    "com.gcp.file_v1#File_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.file_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.file_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.file_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#DocumentMap"
      }
    },
    "com.gcp.file_v1#Snapshot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
          }
        },
        "tags": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
          }
        },
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "filesystemUsedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The amount of bytes needed to allocate a full copy of the snapshot content"
          }
        },
        "state": {
          "target": "com.gcp.file_v1#SnapshotStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The snapshot state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the snapshot was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Filestore snapshot."
      }
    },
    "com.gcp.file_v1#SnapshotStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.file_v1#PromoteReplicaRequest": {
      "type": "structure",
      "members": {
        "peerInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PromoteReplicaRequest promotes a Filestore standby instance (replica)."
      }
    },
    "com.gcp.file_v1#PerformanceLimits": {
      "type": "structure",
      "members": {
        "maxReadIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum read IOPS."
          }
        },
        "maxReadThroughputBps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum read throughput in bytes per second."
          }
        },
        "maxIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum IOPS."
          }
        },
        "maxWriteIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum write IOPS."
          }
        },
        "maxWriteThroughputBps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum write throughput in bytes per second."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforced performance limits, calculated from the instance's performance configuration."
      }
    },
    "com.gcp.file_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.file_v1#NetworkConfig": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Google Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected."
          }
        },
        "ipAddresses": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or IPv6 addresses in the format `{block1}:{block2}:{block3}:{block4}:{block5}:{block6}:{block7}:{block8}`."
          }
        },
        "pscConfig": {
          "target": "com.gcp.file_v1#PscConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Private Service Connect configuration. Should only be set when connect_mode is PRIVATE_SERVICE_CONNECT."
          }
        },
        "modes": {
          "target": "com.gcp.file_v1#NetworkConfigModesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Internet protocol versions for which the instance has IP addresses assigned."
          }
        },
        "reservedIpRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, reserved_ip_range can have one of the following two types of values. * CIDR range value when using DIRECT_PEERING connect mode. * [Allocated IP address range](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address) when using PRIVATE_SERVICE_ACCESS connect mode. When the name of an allocated IP address range is specified, it must be one of the ranges associated with the private service access connection. When specified as a direct CIDR value, it must be a /29 CIDR block for Basic tier, a /24 CIDR block for High Scale tier, or a /26 CIDR block for Enterprise tier in one of the [internal IP address ranges](https://www.arin.net/reference/research/statistics/address_filters/) that identifies the range of IP addresses reserved for this instance. For example, 10.0.0.0/29, 192.168.0.0/24 or 192.168.0.0/26, respectively. The range you specify can't overlap with either existing subnets or assigned IP address ranges for other Filestore instances in the selected VPC network."
          }
        },
        "connectMode": {
          "target": "com.gcp.file_v1#NetworkConfigConnectModeEnum",
          "traits": {
            "smithy.api#documentation": "The network connect mode of the Filestore instance. If not provided, the connect mode defaults to DIRECT_PEERING."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network configuration for the instance."
      }
    },
    "com.gcp.file_v1#NetworkConfigModesItemEnum": {
      "type": "enum",
      "members": {
        "ADDRESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS_MODE_UNSPECIFIED"
          }
        },
        "MODE_IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_IPV4"
          }
        },
        "MODE_IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_IPV6"
          }
        }
      }
    },
    "com.gcp.file_v1#NetworkConfigModesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#NetworkConfigModesItemEnum"
      }
    },
    "com.gcp.file_v1#NetworkConfigConnectModeEnum": {
      "type": "enum",
      "members": {
        "CONNECT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT_MODE_UNSPECIFIED"
          }
        },
        "DIRECT_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_PEERING"
          }
        },
        "PRIVATE_SERVICE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_SERVICE_ACCESS"
          }
        },
        "PRIVATE_SERVICE_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_SERVICE_CONNECT"
          }
        }
      }
    },
    "com.gcp.file_v1#ReplicaConfig": {
      "type": "structure",
      "members": {
        "stateUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the replica state was updated."
          }
        },
        "peerInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica."
          }
        },
        "lastActiveSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely."
          }
        },
        "state": {
          "target": "com.gcp.file_v1#ReplicaConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The replica state."
          }
        },
        "stateReasons": {
          "target": "com.gcp.file_v1#ReplicaConfigStateReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the replication state, if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replica configuration for the instance."
      }
    },
    "com.gcp.file_v1#ReplicaConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PROMOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTING"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMING"
          }
        }
      }
    },
    "com.gcp.file_v1#ReplicaConfigStateReasonsItemEnum": {
      "type": "enum",
      "members": {
        "STATE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_REASON_UNSPECIFIED"
          }
        },
        "PEER_INSTANCE_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEER_INSTANCE_UNREACHABLE"
          }
        },
        "REMOVE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_FAILED"
          }
        },
        "PAUSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_FAILED"
          }
        },
        "RESUME_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUME_FAILED"
          }
        }
      }
    },
    "com.gcp.file_v1#ReplicaConfigStateReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#ReplicaConfigStateReasonsItemEnum"
      }
    },
    "com.gcp.file_v1#FixedIOPS": {
      "type": "structure",
      "members": {
        "maxIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Maximum IOPS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fixed IOPS (input/output operations per second) parameters."
      }
    },
    "com.gcp.file_v1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.file_v1#BackupList",
          "traits": {
            "smithy.api#documentation": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupsResponse is the result of ListBackupsRequest."
      }
    },
    "com.gcp.file_v1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Backup"
      }
    },
    "com.gcp.file_v1#ResumeReplicaRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "ResumeReplicaRequest resumes a Filestore standby instance (replica)."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
          }
        },
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an instance is eligible or ineligible."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
      }
    },
    "com.gcp.file_v1#NfsExportOptions": {
      "type": "structure",
      "members": {
        "squashMode": {
          "target": "com.gcp.file_v1#NfsExportOptionsSquashModeEnum",
          "traits": {
            "smithy.api#documentation": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field."
          }
        },
        "anonGid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings."
          }
        },
        "ipRanges": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions."
          }
        },
        "accessMode": {
          "target": "com.gcp.file_v1#NfsExportOptionsAccessModeEnum",
          "traits": {
            "smithy.api#documentation": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE."
          }
        },
        "anonUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NFS export options specifications."
      }
    },
    "com.gcp.file_v1#NfsExportOptionsSquashModeEnum": {
      "type": "enum",
      "members": {
        "SQUASH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUASH_MODE_UNSPECIFIED"
          }
        },
        "NO_ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ROOT_SQUASH"
          }
        },
        "ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_SQUASH"
          }
        }
      }
    },
    "com.gcp.file_v1#NfsExportOptionsAccessModeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_MODE_UNSPECIFIED"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        }
      }
    },
    "com.gcp.file_v1#RestoreInstanceRequest": {
      "type": "structure",
      "members": {
        "fileShare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the file share in the Filestore instance that the backup is being restored to."
          }
        },
        "sourceBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RestoreInstanceRequest restores an existing instance's file share from a backup."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
          }
        },
        "maintenancePolicyNames": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
          }
        },
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "sloMetadata": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
          }
        },
        "provisionedResources": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
          }
        },
        "maintenanceSettings": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenanceSettings associated with instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
          }
        },
        "producerMetadata": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
          }
        },
        "consumerDefinedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
          }
        },
        "slmInstanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "softwareVersions": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
          }
        },
        "maintenanceSchedules": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap",
          "traits": {
            "smithy.api#documentation": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
          }
        },
        "notificationParameters": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
      }
    },
    "com.gcp.file_v1#UpdatePolicy": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.gcp.file_v1#UpdatePolicyChannelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Relative scheduling channel applied to resource."
          }
        },
        "window": {
          "target": "com.gcp.file_v1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance window that is applied to resources covered by this policy."
          }
        },
        "denyMaintenancePeriods": {
          "target": "com.gcp.file_v1#DenyMaintenancePeriodList",
          "traits": {
            "smithy.api#documentation": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy applicable to instance updates."
      }
    },
    "com.gcp.file_v1#UpdatePolicyChannelEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_CHANNEL_UNSPECIFIED"
          }
        },
        "EARLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLIER"
          }
        },
        "LATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATER"
          }
        },
        "WEEK1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK1"
          }
        },
        "WEEK2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK2"
          }
        },
        "WEEK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK5"
          }
        }
      }
    },
    "com.gcp.file_v1#DenyMaintenancePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#DenyMaintenancePeriod"
      }
    },
    "com.gcp.file_v1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
          }
        },
        "updatePolicy": {
          "target": "com.gcp.file_v1#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Maintenance policy applicable to instance update."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was created."
          }
        },
        "state": {
          "target": "com.gcp.file_v1#MaintenancePolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies to service maintenance events."
      }
    },
    "com.gcp.file_v1#MaintenancePolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.file_v1#LdapConfig": {
      "type": "structure",
      "members": {
        "servers": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses."
          }
        },
        "groupsOu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The LDAP domain name in the format of `my-domain.com`."
          }
        },
        "usersOu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LdapConfig contains all the parameters for connecting to LDAP servers."
      }
    },
    "com.gcp.file_v1#WeeklyCycle": {
      "type": "structure",
      "members": {
        "schedule": {
          "target": "com.gcp.file_v1#ScheduleList",
          "traits": {
            "smithy.api#documentation": "User can specify multiple windows in a week. Minimum of 1 window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for weekly operations."
      }
    },
    "com.gcp.file_v1#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Schedule"
      }
    },
    "com.gcp.file_v1#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.file_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.file_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.file_v1#DailyCycle": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.file_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the day to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily operations."
      }
    },
    "com.gcp.file_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.file_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.file_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Location"
      }
    },
    "com.gcp.file_v1#PerformanceConfig": {
      "type": "structure",
      "members": {
        "iopsPerTb": {
          "target": "com.gcp.file_v1#IOPSPerTB",
          "traits": {
            "smithy.api#documentation": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error."
          }
        },
        "fixedIops": {
          "target": "com.gcp.file_v1#FixedIOPS",
          "traits": {
            "smithy.api#documentation": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively)."
      }
    },
    "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the node, if different from instance location."
          }
        },
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the node. This should be equal to SaasInstanceNode.node_id."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.file_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
      }
    },
    "com.gcp.file_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.file_v1#RevertInstanceRequest": {
      "type": "structure",
      "members": {
        "targetSnapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot."
      }
    },
    "com.gcp.file_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.file_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.file_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.file_v1#Operation"
      }
    },
    "com.gcp.file_v1#PscConfig": {
      "type": "structure",
      "members": {
        "endpointProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Service Connect configuration."
      }
    },
    "com.gcp.file_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.file_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.file_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.file_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.file_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.file_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.file_v1#NotFound"
        },
        {
          "target": "com.gcp.file_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.file_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.file_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.file_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.file_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.file_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.file_v1#NotFound"
        },
        {
          "target": "com.gcp.file_v1#Forbidden"
        }
      ],
[...]
