{
  "smithy": "2.0",
  "metadata": {
    "service": "firestore",
    "version": "v1",
    "title": "Cloud Firestore API",
    "baseUrl": "https://firestore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "type": "structure",
      "members": {
        "namespaceIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
          }
        },
        "inputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs of the collection groups to import. Unspecified means all collection groups that were included in the export. Each collection group in this list must be unique."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for FirestoreAdmin.ImportDocuments."
      }
    },
    "com.gcp.firestore_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firestore_v1#DocumentsTarget": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A target specified by a set of documents names."
      }
    },
    "com.gcp.firestore_v1#RollbackRequest": {
      "type": "structure",
      "members": {
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The transaction to roll back."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.Rollback."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1Database": {
      "type": "structure",
      "members": {
        "earliestVersionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The earliest timestamp at which older versions of the data can be read from the database. See [version_retention_period] above; this field is populated with `now - version_retention_period`. This value is continuously updated, and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery."
          }
        },
        "pointInTimeRecoveryEnablement": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabasePointInTimeRecoveryEnablementEnum",
          "traits": {
            "smithy.api#documentation": "Whether to enable the PITR feature on this database."
          }
        },
        "databaseEdition": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseDatabaseEditionEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The edition of the database."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the database. Available locations are listed at https://cloud.google.com/firestore/docs/locations."
          }
        },
        "versionRetentionPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The period during which past versions of data are retained in the database. Any read or query can specify a `read_time` within this window, and will read the state of the database at that time. If the PITR feature is enabled, the retention period is 7 days. Otherwise, the retention period is 1 hour."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which this database was deleted. Only set if the database has been deleted."
          }
        },
        "freeTier": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Background: Free tier is the ability of a Firestore database to use a small amount of resources every day without being charged. Once usage exceeds the free tier limit further usage is charged. Whether this database can make use of the free tier. Only one database per project can be eligible for the free tier. The first (or next) database that is created in a project without a free tier database will be marked as eligible for the free tier. Databases that are created while there is a free tier database will not be eligible for the free tier."
          }
        },
        "previousId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The database resource's prior database ID. This field is only populated for deleted databases."
          }
        },
        "mongodbCompatibleDataAccessMode": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseMongodbCompatibleDataAccessModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The MongoDB compatible API data access mode to use for this database. If not set on write, the default value is DATA_ACCESS_MODE_ENABLED for Enterprise Edition. The value is always DATA_ACCESS_MODE_DISABLED for Standard Edition."
          }
        },
        "firestoreDataAccessMode": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseFirestoreDataAccessModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The Firestore API data access mode to use for this database. If not set on write: - the default value is DATA_ACCESS_MODE_DISABLED for Enterprise Edition. - the default value is DATA_ACCESS_MODE_ENABLED for Standard Edition."
          }
        },
        "realtimeUpdatesMode": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseRealtimeUpdatesModeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The default Realtime Updates mode to use for this database."
          }
        },
        "appEngineIntegrationMode": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseAppEngineIntegrationModeEnum",
          "traits": {
            "smithy.api#documentation": "The App Engine integration mode to use for this database."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Database. Format: `projects/{project}/databases/{database}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UUID4 for this Database."
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key_prefix for this database. This key_prefix is used, in combination with the project ID (\"~\") to construct the application ID that is returned from the Cloud Datastore APIs in Google App Engine first generation runtimes. This value may be empty in which case the appid to use for URL-encoded keys is the project_id (eg: foo instead of v~foo)."
          }
        },
        "deleteProtectionState": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseDeleteProtectionStateEnum",
          "traits": {
            "smithy.api#documentation": "State of delete protection for the database."
          }
        },
        "sourceInfo": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1SourceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the provenance of this database."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which this database was created. Databases created before 2016 do not populate create_time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which this database was most recently updated. Note this only includes updates to the database resource and not data contained by the database."
          }
        },
        "tags": {
          "target": "com.gcp.firestore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
          }
        },
        "type": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the database. See https://cloud.google.com/datastore/docs/firestore-or-datastore for information about how to choose."
          }
        },
        "cmekConfig": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1CmekConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Presence indicates CMEK is enabled for this database."
          }
        },
        "concurrencyMode": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "The default concurrency control mode to use for this database. If unspecified in a CreateDatabase request, this will default based on the database edition: Optimistic for Enterprise and Pessimistic for all other databases. While transactions can explicitly specify their own concurrency mode, this setting defines the default behavior when left unspecified. Important: This database-level setting is not respected for Firestore with MongoDB compatibility. All transactions through the MongoDB compatibility layer will use optimistic concurrency control, regardless of this setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Cloud Firestore Database."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabasePointInTimeRecoveryEnablementEnum": {
      "type": "enum",
      "members": {
        "POINT_IN_TIME_RECOVERY_ENABLEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POINT_IN_TIME_RECOVERY_ENABLEMENT_UNSPECIFIED"
          }
        },
        "POINT_IN_TIME_RECOVERY_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POINT_IN_TIME_RECOVERY_ENABLED"
          }
        },
        "POINT_IN_TIME_RECOVERY_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POINT_IN_TIME_RECOVERY_DISABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseDatabaseEditionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_EDITION_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseMongodbCompatibleDataAccessModeEnum": {
      "type": "enum",
      "members": {
        "DATA_ACCESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_UNSPECIFIED"
          }
        },
        "DATA_ACCESS_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_ENABLED"
          }
        },
        "DATA_ACCESS_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_DISABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseFirestoreDataAccessModeEnum": {
      "type": "enum",
      "members": {
        "DATA_ACCESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_UNSPECIFIED"
          }
        },
        "DATA_ACCESS_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_ENABLED"
          }
        },
        "DATA_ACCESS_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ACCESS_MODE_DISABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseRealtimeUpdatesModeEnum": {
      "type": "enum",
      "members": {
        "REALTIME_UPDATES_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_UPDATES_MODE_UNSPECIFIED"
          }
        },
        "REALTIME_UPDATES_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_UPDATES_MODE_ENABLED"
          }
        },
        "REALTIME_UPDATES_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_UPDATES_MODE_DISABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseAppEngineIntegrationModeEnum": {
      "type": "enum",
      "members": {
        "APP_ENGINE_INTEGRATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_ENGINE_INTEGRATION_MODE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseDeleteProtectionStateEnum": {
      "type": "enum",
      "members": {
        "DELETE_PROTECTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PROTECTION_STATE_UNSPECIFIED"
          }
        },
        "DELETE_PROTECTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PROTECTION_DISABLED"
          }
        },
        "DELETE_PROTECTION_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PROTECTION_ENABLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_TYPE_UNSPECIFIED"
          }
        },
        "FIRESTORE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRESTORE_NATIVE"
          }
        },
        "DATASTORE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_MODE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        },
        "OPTIMISTIC_WITH_ENTITY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC_WITH_ENTITY_GROUPS"
          }
        }
      }
    },
    "com.gcp.firestore_v1#RunQueryRequest": {
      "type": "structure",
      "members": {
        "explainOptions": {
          "target": "com.gcp.firestore_v1#ExplainOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
          }
        },
        "structuredQuery": {
          "target": "com.gcp.firestore_v1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "A structured query."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "newTransaction": {
          "target": "com.gcp.firestore_v1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.RunQuery."
      }
    },
    "com.gcp.firestore_v1#MapValue": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.firestore_v1#ValueMap",
          "traits": {
            "smithy.api#documentation": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A map value."
      }
    },
    "com.gcp.firestore_v1#ValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.firestore_v1#Value"
      }
    },
    "com.gcp.firestore_v1#FieldReference": {
      "type": "structure",
      "members": {
        "fieldPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a field in a document. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to document field name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a field in a document, ex: `stats.operations`."
      }
    },
    "com.gcp.firestore_v1#ListCollectionIdsResponse": {
      "type": "structure",
      "members": {
        "collectionIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The collection ids."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that may be used to continue the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from Firestore.ListCollectionIds."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress": {
      "type": "structure",
      "members": {
        "estimatedWork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work estimated."
          }
        },
        "completedWork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ListBackupSchedulesResponse": {
      "type": "structure",
      "members": {
        "backupSchedules": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupScheduleList",
          "traits": {
            "smithy.api#documentation": "List of all backup schedules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for FirestoreAdmin.ListBackupSchedules."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupScheduleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupSchedule"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1PitrSnapshot": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`."
          }
        },
        "databaseUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Public UUID of the database the snapshot was associated with."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Snapshot time of the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour."
      }
    },
    "com.gcp.firestore_v1#CommitResponse": {
      "type": "structure",
      "members": {
        "writeResults": {
          "target": "com.gcp.firestore_v1#WriteResultList",
          "traits": {
            "smithy.api#documentation": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.Commit."
      }
    },
    "com.gcp.firestore_v1#WriteResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#WriteResult"
      }
    },
    "com.gcp.firestore_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firestore_v1#TransactionOptions": {
      "type": "structure",
      "members": {
        "readOnly": {
          "target": "com.gcp.firestore_v1#ReadOnly",
          "traits": {
            "smithy.api#documentation": "The transaction can only be used for read operations."
          }
        },
        "readWrite": {
          "target": "com.gcp.firestore_v1#ReadWrite",
          "traits": {
            "smithy.api#documentation": "The transaction can be used for both read and write operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for creating a new transaction."
      }
    },
    "com.gcp.firestore_v1#ReadWrite": {
      "type": "structure",
      "members": {
        "retryTransaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional transaction to retry."
          }
        },
        "concurrencyMode": {
          "target": "com.gcp.firestore_v1#ReadWriteConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a transaction that can be used to read and write documents."
      }
    },
    "com.gcp.firestore_v1#ReadWriteConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1CloneDatabaseRequest": {
      "type": "structure",
      "members": {
        "pitrSnapshot": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1PitrSnapshot",
          "traits": {
            "smithy.api#documentation": "Required. Specification of the PITR data to clone from. The source database must exist. The cloned database will be created in the same location as the source database."
          }
        },
        "tags": {
          "target": "com.gcp.firestore_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Tags to be bound to the cloned database. The tags should be provided in the format of `tagKeys/{tag_key_id} -> tagValues/{tag_value_id}`."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Encryption configuration for the cloned database. If this field is not specified, the cloned database will use the same encryption configuration as the source database, namely use_source_encryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for FirestoreAdmin.CloneDatabase."
      }
    },
    "com.gcp.firestore_v1#StructuredPipeline": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.firestore_v1#ValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional query-level arguments. "
          }
        },
        "pipeline": {
          "target": "com.gcp.firestore_v1#Pipeline",
          "traits": {
            "smithy.api#documentation": "Required. The pipeline query to execute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1DisableUserCredsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request for FirestoreAdmin.DisableUserCreds."
      }
    },
    "com.gcp.firestore_v1#DocumentTransform": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the document to transform."
          }
        },
        "fieldTransforms": {
          "target": "com.gcp.firestore_v1#FieldTransformList",
          "traits": {
            "smithy.api#documentation": "The list of transformations to apply to the fields of the document, in order. This must not be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation of a document."
      }
    },
    "com.gcp.firestore_v1#FieldTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#FieldTransform"
      }
    },
    "com.gcp.firestore_v1#ExplainStats": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.gcp.firestore_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The format depends on the `output_format` options in the request. Currently there are two supported options: `TEXT` and `JSON`. Both supply a `google.protobuf.StringValue`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pipeline explain stats. Depending on the explain options in the original request, this can contain the optimized plan and / or execution stats."
      }
    },
    "com.gcp.firestore_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned in the google.longrunning.Operation response field."
      }
    },
    "com.gcp.firestore_v1#DocumentDelete": {
      "type": "structure",
      "members": {
        "removedTargetIds": {
          "target": "com.gcp.firestore_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs for targets that previously matched this entity."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete."
          }
        },
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Document that was deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected."
      }
    },
    "com.gcp.firestore_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.firestore_v1#PlanSummary": {
      "type": "structure",
      "members": {
        "indexesUsed": {
          "target": "com.gcp.firestore_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planning phase information for the query."
      }
    },
    "com.gcp.firestore_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#DocumentMap"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the update database operation."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1EncryptionConfig": {
      "type": "structure",
      "members": {
        "customerManagedEncryption": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1CustomerManagedEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "Use Customer Managed Encryption Keys (CMEK) for encryption."
          }
        },
        "googleDefaultEncryption": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "Use Google default encryption."
          }
        },
        "useSourceEncryption": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1SourceEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "The database will use the same encryption configuration as the source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption configuration for a new database being created from another source. The source could be a Backup or a PitrSnapshot."
      }
    },
    "com.gcp.firestore_v1#Write": {
      "type": "structure",
      "members": {
        "updateTransforms": {
          "target": "com.gcp.firestore_v1#FieldTransformList",
          "traits": {
            "smithy.api#documentation": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order."
          }
        },
        "currentDocument": {
          "target": "com.gcp.firestore_v1#Precondition",
          "traits": {
            "smithy.api#documentation": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
          }
        },
        "update": {
          "target": "com.gcp.firestore_v1#Document",
          "traits": {
            "smithy.api#documentation": "A document to write."
          }
        },
        "delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
          }
        },
        "transform": {
          "target": "com.gcp.firestore_v1#DocumentTransform",
          "traits": {
            "smithy.api#documentation": "Applies a transformation to a document."
          }
        },
        "updateMask": {
          "target": "com.gcp.firestore_v1#DocumentMask",
          "traits": {
            "smithy.api#documentation": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A write on a document."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1CustomerManagedEncryptionOptions": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Only keys in the same location as the database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration options for using CMEK (Customer Managed Encryption Key) encryption."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1SearchTextSpec": {
      "type": "structure",
      "members": {
        "indexSpecs": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1SearchTextIndexSpecList",
          "traits": {
            "smithy.api#documentation": "Required. Specifications for how the field should be indexed. Repeated so that the field can be indexed in multiple ways."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for how to build a text search index for a field."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1SearchTextIndexSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1SearchTextIndexSpec"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ListIndexesResponse": {
      "type": "structure",
      "members": {
        "indexes": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexList",
          "traits": {
            "smithy.api#documentation": "The requested indexes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that may be used to request another page of results. If blank, this is the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for FirestoreAdmin.ListIndexes."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Index"
      }
    },
    "com.gcp.firestore_v1#DocumentChange": {
      "type": "structure",
      "members": {
        "removedTargetIds": {
          "target": "com.gcp.firestore_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs for targets that no longer match this document."
          }
        },
        "document": {
          "target": "com.gcp.firestore_v1#Document",
          "traits": {
            "smithy.api#documentation": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
          }
        },
        "targetIds": {
          "target": "com.gcp.firestore_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs of targets that match this document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected."
      }
    },
    "com.gcp.firestore_v1#QueryTarget": {
      "type": "structure",
      "members": {
        "structuredQuery": {
          "target": "com.gcp.firestore_v1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "A structured query."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A target specified by a query."
      }
    },
    "com.gcp.firestore_v1#WriteResult": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
          }
        },
        "transformResults": {
          "target": "com.gcp.firestore_v1#ValueList",
          "traits": {
            "smithy.api#documentation": "The results of applying each DocumentTransform.FieldTransform, in the same order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of applying a write."
      }
    },
    "com.gcp.firestore_v1#ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#Value"
      }
    },
    "com.gcp.firestore_v1#ListCollectionIdsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token. Must be a value from ListCollectionIdsResponse."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.ListCollectionIds."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BulkDeleteDocumentsRequest": {
      "type": "structure",
      "members": {
        "namespaceIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Namespaces to delete. An empty list means all namespaces. This is the recommended usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to delete from them. Each namespace in this list must be unique."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. IDs of the collection groups to delete. Unspecified means all collection groups. Each collection group in this list must be unique."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for FirestoreAdmin.BulkDeleteDocuments. When both collection_ids and namespace_ids are set, only documents satisfying both conditions will be deleted. Requests with namespace_ids and collection_ids both empty will be rejected. Please use FirestoreAdmin.DeleteDatabase instead."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1Backup": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Stats",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics about the backup. This data only becomes available after the backup is fully materialized to secondary storage. This field will be empty till then."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Firestore database that the backup is from. Format is `projects/{project}/databases/{database}`."
          }
        },
        "databaseUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UUID4 for the Firestore database that the backup is from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique resource name of the Backup. Format is `projects/{project}/locations/{location}/backups/{backup}`. The location in the name will be the Standard Managed Multi-Region (SMMR) location (e.g. `us`) if the backup was created with an SMMR location, or the Google Managed Multi-Region (GMMR) location (e.g. `nam5`) if the backup was created with a GMMR location."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The backup contains an externally consistent copy of the database at this time."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which this backup expires."
          }
        },
        "state": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Backup of a Cloud Firestore Database. The backup contains all documents and index configurations for the given database at a specific point in time."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AVAILABLE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#StructuredAggregationQuery": {
      "type": "structure",
      "members": {
        "structuredQuery": {
          "target": "com.gcp.firestore_v1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "Nested structured query."
          }
        },
        "aggregations": {
          "target": "com.gcp.firestore_v1#AggregationList",
          "traits": {
            "smithy.api#documentation": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Firestore query for running an aggregation over a StructuredQuery."
      }
    },
    "com.gcp.firestore_v1#AggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#Aggregation"
      }
    },
    "com.gcp.firestore_v1#Pipeline": {
      "type": "structure",
      "members": {
        "stages": {
          "target": "com.gcp.firestore_v1#StageList",
          "traits": {
            "smithy.api#documentation": "Required. Ordered list of stages to evaluate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firestore query represented as an ordered list of operations / stages."
      }
    },
    "com.gcp.firestore_v1#StageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#Stage"
      }
    },
    "com.gcp.firestore_v1#UnaryFilter": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.gcp.firestore_v1#UnaryFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The unary operator to apply."
          }
        },
        "field": {
          "target": "com.gcp.firestore_v1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to which to apply the operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter with a single operand."
      }
    },
    "com.gcp.firestore_v1#UnaryFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "IS_NAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NAN"
          }
        },
        "IS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NULL"
          }
        },
        "IS_NOT_NAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NOT_NAN"
          }
        },
        "IS_NOT_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NOT_NULL"
          }
        }
      }
    },
    "com.gcp.firestore_v1#BatchGetDocumentsRequest": {
      "type": "structure",
      "members": {
        "mask": {
          "target": "com.gcp.firestore_v1#DocumentMask",
          "traits": {
            "smithy.api#documentation": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents in a transaction."
          }
        },
        "documents": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
          }
        },
        "newTransaction": {
          "target": "com.gcp.firestore_v1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.BatchGetDocuments."
      }
    },
    "com.gcp.firestore_v1#Avg": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double."
      }
    },
    "com.gcp.firestore_v1#ExecutePipelineResponse": {
      "type": "structure",
      "members": {
        "executionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run."
          }
        },
        "explainStats": {
          "target": "com.gcp.firestore_v1#ExplainStats",
          "traits": {
            "smithy.api#documentation": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction."
          }
        },
        "results": {
          "target": "com.gcp.firestore_v1#DocumentList",
          "traits": {
            "smithy.api#documentation": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.Execute."
      }
    },
    "com.gcp.firestore_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#Document"
      }
    },
    "com.gcp.firestore_v1#Aggregation": {
      "type": "structure",
      "members": {
        "sum": {
          "target": "com.gcp.firestore_v1#Sum",
          "traits": {
            "smithy.api#documentation": "Sum aggregator."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations."
          }
        },
        "count": {
          "target": "com.gcp.firestore_v1#Count",
          "traits": {
            "smithy.api#documentation": "Count aggregator."
          }
        },
        "avg": {
          "target": "com.gcp.firestore_v1#Avg",
          "traits": {
            "smithy.api#documentation": "Average aggregator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an aggregation that produces a single result."
      }
    },
    "com.gcp.firestore_v1#WriteResponse": {
      "type": "structure",
      "members": {
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the stream. Only set on the first message, when a new stream was created."
          }
        },
        "streamToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set."
          }
        },
        "writeResults": {
          "target": "com.gcp.firestore_v1#WriteResultList",
          "traits": {
            "smithy.api#documentation": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.Write."
      }
    },
    "com.gcp.firestore_v1#DocumentMask": {
      "type": "structure",
      "members": {
        "fieldPaths": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
      }
    },
    "com.gcp.firestore_v1#Sum": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation completed. Will be unset if operation still in progress."
          }
        },
        "inputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the documents being imported."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1ImportDocumentsMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the import operation."
          }
        },
        "namespaceIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Which namespace IDs are being imported."
          }
        },
        "progressBytes": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in bytes, of this operation."
          }
        },
        "progressDocuments": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in documents, of this operation."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Which collection IDs are being imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ImportDocumentsMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1CmekConfig": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Only keys in the same location as this database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          }
        },
        "activeKeyVersion": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Currently in-use [KMS key versions](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions). During [key rotation](https://cloud.google.com/kms/docs/key-rotation), there can be multiple in-use key versions. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{key_version}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CMEK (Customer Managed Encryption Key) configuration for a Firestore database. If not present, the database is secured by the default Google encryption key."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The configuration options for using Google default encryption."
      }
    },
    "com.gcp.firestore_v1#ExecutionStats": {
      "type": "structure",
      "members": {
        "executionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total time to execute the query in the backend."
          }
        },
        "debugStats": {
          "target": "com.gcp.firestore_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }"
          }
        },
        "resultsReturned": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of results returned, including documents, projections, aggregation results, keys."
          }
        },
        "readOperations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total billable read operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution statistics for the query."
      }
    },
    "com.gcp.firestore_v1#Precondition": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A precondition on a document, used for conditional operations."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BackupSource": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the backup that was used to restore this database. Format: `projects/{project}/locations/{location}/backups/{backup}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a backup that was used to restore a database."
      }
    },
    "com.gcp.firestore_v1#BatchGetDocumentsResponse": {
      "type": "structure",
      "members": {
        "found": {
          "target": "com.gcp.firestore_v1#Document",
          "traits": {
            "smithy.api#documentation": "A document that was requested."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
          }
        },
        "missing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The streamed response for Firestore.BatchGetDocuments."
      }
    },
    "com.gcp.firestore_v1#FindNearest": {
      "type": "structure",
      "members": {
        "distanceMeasure": {
          "target": "com.gcp.firestore_v1#FindNearestDistanceMeasureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The distance measure to use, required."
          }
        },
        "distanceResultField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations."
          }
        },
        "queryVector": {
          "target": "com.gcp.firestore_v1#Value",
          "traits": {
            "smithy.api#documentation": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000."
          }
        },
        "vectorField": {
          "target": "com.gcp.firestore_v1#FieldReference",
          "traits": {
            "smithy.api#documentation": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
          }
        },
        "distanceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
      }
    },
    "com.gcp.firestore_v1#FindNearestDistanceMeasureEnum": {
      "type": "enum",
      "members": {
        "DISTANCE_MEASURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_MEASURE_UNSPECIFIED"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUCLIDEAN"
          }
        },
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSINE"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT_PRODUCT"
          }
        }
      }
    },
    "com.gcp.firestore_v1#Projection": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.firestore_v1#FieldReferenceList",
          "traits": {
            "smithy.api#documentation": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The projection of document's fields to return."
      }
    },
    "com.gcp.firestore_v1#FieldReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#FieldReference"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1FlatIndex": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "An index that stores vectors in a flat data structure, and supports exhaustive search."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ListUserCredsResponse": {
      "type": "structure",
      "members": {
        "userCreds": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1UserCredsList",
          "traits": {
            "smithy.api#documentation": "The user creds for the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for FirestoreAdmin.ListUserCreds."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1UserCredsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1UserCreds"
      }
    },
    "com.gcp.firestore_v1#ListDocumentsResponse": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.gcp.firestore_v1#DocumentList",
          "traits": {
            "smithy.api#documentation": "The Documents found."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.ListDocuments."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1TtlConfigDelta": {
      "type": "structure",
      "members": {
        "changeType": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1TtlConfigDeltaChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies how the TTL configuration is changing."
          }
        },
        "expirationOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset, relative to the timestamp value in the TTL-enabled field, used determine the document's expiration time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a TTL configuration change."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1TtlConfigDeltaChangeTypeEnum": {
      "type": "enum",
      "members": {
        "CHANGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_TYPE_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "type": "structure",
      "members": {
        "progressBytes": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in bytes, of this operation."
          }
        },
        "progressDocuments": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in documents, of this operation."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the collection groups that are being deleted."
          }
        },
        "namespaceIds": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Which namespace IDs are being deleted."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit)."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the operation."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation completed. Will be unset if operation still in progress."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1Index": {
      "type": "structure",
      "members": {
        "apiScope": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexApiScopeEnum",
          "traits": {
            "smithy.api#documentation": "The API scope supported by this index."
          }
        },
        "density": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexDensityEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The density configuration of the index."
          }
        },
        "state": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The serving state of the index."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty."
          }
        },
        "searchIndexOptions": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1SearchIndexOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for search indexes that are at the index definition level. This field is only currently supported for indexes with MONGODB_COMPATIBLE_API ApiScope."
          }
        },
        "multikey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the index is multikey. By default, the index is not multikey. For non-multikey indexes, none of the paths in the index definition reach or traverse an array, except via an explicit array index. For multikey indexes, at most one of the paths in the index definition reach or traverse an array, except via an explicit array index. Violations will result in errors. Note this field only applies to index with MONGODB_COMPATIBLE_API ApiScope."
          }
        },
        "unique": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether it is an unique index. Unique index ensures all values for the indexed field(s) are unique across documents."
          }
        },
        "fields": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexFieldList",
          "traits": {
            "smithy.api#documentation": "The fields supported by this index. For composite indexes, this requires a minimum of 2 and a maximum of 100 fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field."
          }
        },
        "queryScope": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexQueryScopeEnum",
          "traits": {
            "smithy.api#documentation": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection ID. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection ID as this index."
          }
        },
        "shardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of shards for the index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Firestore indexes enable simple and complex queries against documents in a database."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexApiScopeEnum": {
      "type": "enum",
      "members": {
        "ANY_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_API"
          }
        },
        "DATASTORE_MODE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_MODE_API"
          }
        },
        "MONGODB_COMPATIBLE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONGODB_COMPATIBLE_API"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexDensityEnum": {
      "type": "enum",
      "members": {
        "DENSITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENSITY_UNSPECIFIED"
          }
        },
        "SPARSE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARSE_ALL"
          }
        },
        "SPARSE_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARSE_ANY"
          }
        },
        "DENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENSE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "NEEDS_REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_REPAIR"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexField"
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1IndexQueryScopeEnum": {
      "type": "enum",
      "members": {
        "QUERY_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_SCOPE_UNSPECIFIED"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION"
          }
        },
        "COLLECTION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION_GROUP"
          }
        },
        "COLLECTION_RECURSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION_RECURSIVE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#Value": {
      "type": "structure",
      "members": {
        "integerValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer value."
          }
        },
        "geoPointValue": {
          "target": "com.gcp.firestore_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "A geo point value representing a point on the surface of Earth."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries."
          }
        },
        "bytesValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries."
          }
        },
        "arrayValue": {
          "target": "com.gcp.firestore_v1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "An array value. Cannot directly contain another array value, though can contain a map which contains another array."
          }
        },
        "pipelineValue": {
          "target": "com.gcp.firestore_v1#Pipeline",
          "traits": {
            "smithy.api#documentation": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents."
          }
        },
        "mapValue": {
          "target": "com.gcp.firestore_v1#MapValue",
          "traits": {
            "smithy.api#documentation": "A map value."
          }
        },
        "fieldReferenceValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double value."
          }
        },
        "timestampValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
          }
        },
        "variableReferenceValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document."
          }
        },
        "referenceValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
          }
        },
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value."
          }
        },
        "nullValue": {
          "target": "com.gcp.firestore_v1#ValueNullValueEnum",
          "traits": {
            "smithy.api#documentation": "A null value."
          }
        },
        "functionValue": {
          "target": "com.gcp.firestore_v1#Firestore_Function",
          "traits": {
            "smithy.api#documentation": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that can hold any of the supported value types."
      }
    },
    "com.gcp.firestore_v1#ValueNullValueEnum": {
      "type": "enum",
      "members": {
        "NULL_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL_VALUE"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the clone was started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the clone finished, unset for ongoing clones."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the database being cloned to."
          }
        },
        "pitrSnapshot": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1PitrSnapshot",
          "traits": {
            "smithy.api#documentation": "The snapshot from which this database was cloned."
          }
        },
        "progressPercentage": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "How far along the clone is as an estimated percentage of remaining time."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1CloneDatabaseMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The operation state of the clone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the long-running operation from the CloneDatabase request."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1CloneDatabaseMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.firestore_v1#Stage": {
      "type": "structure",
      "members": {
        "args": {
          "target": "com.gcp.firestore_v1#ValueList",
          "traits": {
            "smithy.api#documentation": "Optional. Ordered list of arguments the given stage expects."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the stage to evaluate. **Requires:** * must be in snake case (lower case with underscore separator)."
          }
        },
        "options": {
          "target": "com.gcp.firestore_v1#ValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional named arguments that certain functions may support."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single operation within a pipeline. A stage is made up of a unique name, and a list of arguments. The exact number of arguments & types is dependent on the stage type. To give an example, the stage `filter(state = \"MD\")` would be encoded as: ``` name: \"filter\" args { function_value { name: \"eq\" args { field_reference_value: \"state\" } args { string_value: \"MD\" } } } ``` See public documentation for the full list."
      }
    },
    "com.gcp.firestore_v1#GoogleFirestoreAdminV1ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {
          "target": "com.gcp.firestore_v1#GoogleFirestoreAdminV1DatabaseList",
          "traits": {
            "smithy.api#documentation": "The databases in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.firestore_v1#StringList",
          "traits": {
[...]
