{
  "smithy": "2.0",
  "metadata": {
    "service": "firebaseappcheck",
    "version": "v1",
    "title": "Firebase App Check API",
    "baseUrl": "https://firebaseappcheck.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigList",
          "traits": {
            "smithy.api#documentation": "RecaptchaEnterpriseConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetRecaptchaEnterpriseConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceList",
          "traits": {
            "smithy.api#documentation": "Service objects after the updates have been applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DeviceCheckConfigList",
          "traits": {
            "smithy.api#documentation": "DeviceCheckConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetDeviceCheckConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DeviceCheckConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DeviceCheckConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest": {
      "type": "structure",
      "members": {
        "assertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The CBOR-encoded assertion returned by the client-side App Attest API."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
          }
        },
        "artifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeAppAttestAssertion method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GeneratePlayIntegrityChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the GeneratePlayIntegrityChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity": {
      "type": "structure",
      "members": {
        "allowUnrecognizedVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed."
          }
        },
        "requests": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateResourcePolicyRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateResourcePolicyRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service": {
      "type": "structure",
      "members": {
        "enforcementMode": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceEnforcementModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The App Check enforcement mode for this service."
          }
        },
        "replayProtection": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceReplayProtectionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The replay protection enforcement mode for this service. Note that this field cannot be set to a level higher than the overall App Check enforcement mode. For example, if the overall App Check enforcement mode is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Once opted in, requests to your protected services may experience higher latency. To opt out of replay protection after opting in, set this field to `OFF`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this service configuration object was most recently updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforcement configuration for a Firebase service supported by App Check."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceReplayProtectionEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetSafetyNetConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1SafetyNetConfigList",
          "traits": {
            "smithy.api#documentation": "SafetyNetConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetSafetyNetConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1SafetyNetConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1SafetyNetConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "deviceIntegrity": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity",
          "traits": {
            "smithy.api#documentation": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
          }
        },
        "accountDetails": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails",
          "traits": {
            "smithy.api#documentation": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
          }
        },
        "appIntegrity": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity",
          "traits": {
            "smithy.api#documentation": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PublicJwk": {
      "type": "structure",
      "members": {
        "kty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2)."
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4)."
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1)."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigList",
          "traits": {
            "smithy.api#documentation": "PlayIntegrityConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetPlayIntegrityConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppAttestConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch)."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID."
          }
        },
        "enforcementMode": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicyEnforcementModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The App Check enforcement mode for this resource. This will override the App Check overall EnforcementMode setting on the service."
          }
        },
        "targetResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this resource policy configuration object was most recently updated."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicyEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig": {
      "type": "structure",
      "members": {
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
          }
        },
        "siteKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key."
          }
        },
        "riskAnalysis": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis",
          "traits": {
            "smithy.api#documentation": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest": {
      "type": "structure",
      "members": {
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "playIntegrityToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangePlayIntegrityToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1SafetyNetConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from SafetyNet tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's SafetyNet configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeSafetyNetToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by SafetyNet; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.androidApps.sha/create)."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ListDebugTokensResponse": {
      "type": "structure",
      "members": {
        "debugTokens": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DebugTokenList",
          "traits": {
            "smithy.api#documentation": "The DebugTokens retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListDebugTokens method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DebugTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DebugToken"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DebugToken": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this debug token was most recently updated."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human readable display name used to identify this debug token."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during an UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeSafetyNetTokenRequest": {
      "type": "structure",
      "members": {
        "safetyNetToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [SafetyNet attestation response](https://developer.android.com/training/safetynet/attestation#request-attestation-step) issued to your app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeSafetyNetToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the GenerateAppAttestChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest": {
      "type": "structure",
      "members": {
        "attestationStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key ID generated by App Attest for the client app."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeAppAttestAttestation method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ListResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "resourcePolicies": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicyList",
          "traits": {
            "smithy.api#documentation": "The ResourcePolicy objects retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest": {
      "type": "structure",
      "members": {
        "recaptchaV3Token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3)."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeRecaptchaV3Token method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest": {
      "type": "structure",
      "members": {
        "recaptchaEnterpriseToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages)."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeRecaptchaEnterpriseToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1DeviceCheckConfig": {
      "type": "structure",
      "members": {
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "privateKeySet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch)."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppAttestConfigList",
          "traits": {
            "smithy.api#documentation": "AppAttestConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetAppAttestConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppAttestConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppAttestConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaV3Config": {
      "type": "structure",
      "members": {
        "minValidScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "siteSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
          }
        },
        "siteSecretSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest": {
      "type": "structure",
      "members": {
        "deviceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeDeviceCheckToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest": {
      "type": "structure",
      "members": {
        "debugToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeDebugToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ServiceList",
          "traits": {
            "smithy.api#documentation": "The Services retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse": {
      "type": "structure",
      "members": {
        "appCheckToken": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken",
          "traits": {
            "smithy.api#documentation": "Encapsulates an App Check token."
          }
        },
        "artifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An artifact that can be used in future calls to ExchangeAppAttestAssertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ExchangeAppAttestAttestation method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "resourcePolicies": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicyList",
          "traits": {
            "smithy.api#documentation": "ResourcePolicy objects after the updates have been applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest": {
      "type": "structure",
      "members": {
        "customToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A custom token signed using your project's Admin SDK service account credentials."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeCustomToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateServicesRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateServiceRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateServiceRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateServiceRequest"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1UpdateServiceRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service",
          "traits": {
            "smithy.api#documentation": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A one-time use challenge for the client to pass to the App Attest API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GenerateAppAttestChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis": {
      "type": "structure",
      "members": {
        "minValidScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaV3ConfigList",
          "traits": {
            "smithy.api#documentation": "RecaptchaV3Configs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetRecaptchaV3Configs method."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaV3ConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1RecaptchaV3Config"
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails": {
      "type": "structure",
      "members": {
        "requireLicensed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity": {
      "type": "structure",
      "members": {
        "minDeviceRecognitionLevel": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrityMinDeviceRecognitionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrityMinDeviceRecognitionLevelEnum": {
      "type": "enum",
      "members": {
        "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED"
          }
        },
        "NO_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_INTEGRITY"
          }
        },
        "MEETS_BASIC_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_BASIC_INTEGRITY"
          }
        },
        "MEETS_DEVICE_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_DEVICE_INTEGRITY"
          }
        },
        "MEETS_STRONG_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_STRONG_INTEGRITY"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PublicJwkSet": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PublicJwkList",
          "traits": {
            "smithy.api#documentation": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours."
      }
    },
    "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PublicJwkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1PublicJwk"
      }
    },
    "com.gcp.firebaseappcheck_v1#ListProjectsServicesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1#ListProjectsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ListProjectsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/services"
        },
        "smithy.api#documentation": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GetProjectsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GetProjectsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#GetProjectsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the Service configuration for the specified service name."
      }
    },
    "com.gcp.firebaseappcheck_v1#PatchProjectsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1#PatchProjectsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#PatchProjectsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1Service"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the specified Service configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServicesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateServicesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/services:batchUpdate"
        },
        "smithy.api#documentation": "Atomically updates the specified Service configurations."
      }
    },
    "com.gcp.firebaseappcheck_v1#CreateProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#CreateProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#CreateProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/resourcePolicies"
        },
        "smithy.api#documentation": "Creates the specified ResourcePolicy configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#GetProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GetProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#GetProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested ResourcePolicy configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#PatchProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#PatchProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#PatchProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ResourcePolicy"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the specified ResourcePolicy configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#BatchUpdateProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/resourcePolicies:batchUpdate"
        },
        "smithy.api#documentation": "Atomically updates the specified ResourcePolicy configurations."
      }
    },
    "com.gcp.firebaseappcheck_v1#ListProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ListProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ListProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/resourcePolicies"
        },
        "smithy.api#documentation": "Lists all ResourcePolicy configurations for the specified project and service.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#DeleteProjectsServicesResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
            "smithy.api#httpQuery": "etag"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#DeleteProjectsServicesResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#DeleteProjectsServicesResourcePoliciesRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleProtobufEmpty"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the specified ResourcePolicy configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeSafetyNetTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeSafetyNetTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeSafetyNetTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeSafetyNetTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeSafetyNetToken"
        },
        "smithy.api#documentation": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeCustomTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeCustomTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeCustomTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeCustomToken"
        },
        "smithy.api#documentation": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1#GenerateAppAttestChallengeProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GenerateAppAttestChallengeProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#GenerateAppAttestChallengeProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:generateAppAttestChallenge"
        },
        "smithy.api#documentation": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAssertionProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAssertionProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAssertionProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeAppAttestAssertion"
        },
        "smithy.api#documentation": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAttestationProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAttestationProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeAppAttestAttestationProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeAppAttestAttestation"
        },
        "smithy.api#documentation": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful)."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeDeviceCheckTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeDeviceCheckTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeDeviceCheckTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeDeviceCheckToken"
        },
        "smithy.api#documentation": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeRecaptchaEnterpriseTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeRecaptchaEnterpriseTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#ExchangeRecaptchaEnterpriseTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1AppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:exchangeRecaptchaEnterpriseToken"
        },
        "smithy.api#documentation": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1#GeneratePlayIntegrityChallengeProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1#GeneratePlayIntegrityChallengeProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1#GeneratePlayIntegrityChallengeProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1#GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+app}:generatePlayIntegrityChallenge"
        },
        "smithy.api#documentation": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls."
      }
    },
    "com.gcp.firebaseappcheck_v1#ExchangeRecaptchaV3TokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
[...]
