{
  "smithy": "2.0",
  "metadata": {
    "service": "firebasedatabase",
    "version": "v1beta",
    "title": "Firebase Realtime Database Management API",
    "baseUrl": "https://firebasedatabase.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebasedatabase_v1beta#ReenableDatabaseInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to the ReenableDatabaseInstance method."
      }
    },
    "com.gcp.firebasedatabase_v1beta#UndeleteDatabaseInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to UndeleteDatabaseInstance method."
      }
    },
    "com.gcp.firebasedatabase_v1beta#ListDatabaseInstancesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty, then this response is the last page of results. This token can be used in a subsequent call to `ListDatabaseInstances` to find the next group of database instances. Page tokens are short-lived and should not be persisted."
          }
        },
        "instances": {
          "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstanceList",
          "traits": {
            "smithy.api#documentation": "List of each DatabaseInstance that is in the parent Firebase project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the ListDatabaseInstances method."
      }
    },
    "com.gcp.firebasedatabase_v1beta#DatabaseInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      }
    },
    "com.gcp.firebasedatabase_v1beta#DisableDatabaseInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to the DisableDatabaseInstance method."
      }
    },
    "com.gcp.firebasedatabase_v1beta#DatabaseInstance": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The database instance type. On creation only USER_DATABASE is allowed, which is also the default when omitted."
          }
        },
        "state": {
          "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The database's lifecycle state. Read-only."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the project this instance belongs to. For example: `projects/{project-number}`."
          }
        },
        "databaseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. The globally unique hostname of the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a Realtime Database instance. Details on interacting with contents of a DatabaseInstance can be found at: https://firebase.google.com/docs/database/rest/start."
      }
    },
    "com.gcp.firebasedatabase_v1beta#DatabaseInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_DATABASE"
          }
        },
        "USER_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_DATABASE"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#DatabaseInstanceStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#ListProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent project for which to list database instances, in the form: `projects/{project-number}/locations/{location-id}` To list across all locations, use a parent in the form: `projects/{project-number}/locations/-`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token returned from a previous call to `ListDatabaseInstances` indicating where in the set of database instances to resume listing.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate that DatabaseInstances in the `DELETED` state should also be returned.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of database instances to return in the response. The server may return fewer than this at its discretion. If no value is specified (or too large a value is specified), then the server will impose its own limit.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.firebasedatabase_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.firebasedatabase_v1beta#ListProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#ListProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#ListDatabaseInstancesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/instances"
        },
        "smithy.api#documentation": "Lists each DatabaseInstance associated with the specified parent project. The list items are returned in no particular order, but will be a consistent view of the database instances when additional requests are made with a `pageToken`. The resulting list contains instances in any STATE. The list results may be stale by a few seconds. Use GetDatabaseInstance for consistent reads.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#GetProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`. `database-id` is a globally unique identifier across all parent collections. For convenience, this method allows you to supply `-` as a wildcard character in place of specific collections under `projects` and `locations`. The resulting wildcarding form of the method is: `projects/-/locations/-/instances/{database-id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#GetProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#GetProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets the DatabaseInstance identified by the specified resource name."
      }
    },
    "com.gcp.firebasedatabase_v1beta#DeleteProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.firebasedatabase_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.firebasedatabase_v1beta#DeleteProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#DeleteProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Marks a DatabaseInstance to be deleted. The DatabaseInstance will be set to the DELETED state for 20 days, and will be purged within 30 days. The default database cannot be deleted. IDs for deleted database instances may never be recovered or re-used. The Database may only be deleted if it is already in a DISABLED state."
      }
    },
    "com.gcp.firebasedatabase_v1beta#CreateProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent project for which to create a database instance, in the form: `projects/{project-number}/locations/{location-id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, the request will be validated but not submitted.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The globally unique identifier of the database instance.",
            "smithy.api#httpQuery": "databaseId"
          }
        },
        "body": {
          "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#CreateProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#CreateProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+parent}/instances"
        },
        "smithy.api#documentation": "Requests that a new DatabaseInstance be created. The state of a successfully created DatabaseInstance is ACTIVE. Only available for projects on the Blaze plan. Projects can be upgraded using the Cloud Billing API https://cloud.google.com/billing/reference/rest/v1/projects/updateBillingInfo. Note that it might take a few minutes for billing enablement state to propagate to Firebase systems."
      }
    },
    "com.gcp.firebasedatabase_v1beta#DisableProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedatabase_v1beta#DisableDatabaseInstanceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#DisableProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#DisableProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:disable"
        },
        "smithy.api#documentation": "Disables a DatabaseInstance. The database can be re-enabled later using ReenableDatabaseInstance. When a database is disabled, all reads and writes are denied, including view access in the Firebase console."
      }
    },
    "com.gcp.firebasedatabase_v1beta#ReenableProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedatabase_v1beta#ReenableDatabaseInstanceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#ReenableProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#ReenableProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:reenable"
        },
        "smithy.api#documentation": "Enables a DatabaseInstance. The database must have been disabled previously using DisableDatabaseInstance. The state of a successfully reenabled DatabaseInstance is ACTIVE."
      }
    },
    "com.gcp.firebasedatabase_v1beta#UndeleteProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedatabase_v1beta#UndeleteDatabaseInstanceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedatabase_v1beta#UndeleteProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedatabase_v1beta#UndeleteProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedatabase_v1beta#DatabaseInstance"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedatabase_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedatabase_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:undelete"
        },
        "smithy.api#documentation": "Restores a DatabaseInstance that was previously marked to be deleted. After the delete method is used, DatabaseInstances are set to the DELETED state for 20 days, and will be purged within 30 days. Databases in the DELETED state can be undeleted without losing any data. This method may only be used on a DatabaseInstance in the DELETED state. Purged DatabaseInstances may not be recovered."
      }
    }
  }
}
