{
  "smithy": "2.0",
  "metadata": {
    "service": "gamesConfiguration",
    "version": "v1configuration",
    "title": "Google Play Games Services Publishing API",
    "baseUrl": "https://gamesconfiguration.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for this resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement."
          }
        },
        "achievementType": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationAchievementTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the achievement."
          }
        },
        "initialState": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationInitialStateEnum",
          "traits": {
            "smithy.api#documentation": "The initial state of the achievement."
          }
        },
        "stepsToUnlock": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Steps to unlock. Only applicable to incremental achievements."
          }
        },
        "draft": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "The draft data of the achievement."
          }
        },
        "published": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "The read-only published data of the achievement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement configuration resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationAchievementTypeEnum": {
      "type": "enum",
      "members": {
        "ACHIEVEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACHIEVEMENT_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationInitialStateEnum": {
      "type": "enum",
      "members": {
        "INITIAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_STATE_UNSPECIFIED"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        },
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationDetail": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
          }
        },
        "name": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "Localized strings for the achievement name."
          }
        },
        "description": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "Localized strings for the achievement description."
          }
        },
        "pointValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Point value for the achievement."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon url of this achievement. Writes to this field are ignored."
          }
        },
        "sortRank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sort rank of this achievement. Writes to this field are ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement configuration detail."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."
          }
        },
        "translations": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringList",
          "traits": {
            "smithy.api#documentation": "The locale strings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A localized string bundle resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LocalizedStringList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedString"
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LocalizedString": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale string."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A localized string resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
          }
        },
        "items": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationList",
          "traits": {
            "smithy.api#documentation": "The achievement configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ListConfigurations response."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration"
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for this resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the leaderboard."
          }
        },
        "scoreOrder": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationScoreOrderEnum"
        },
        "scoreMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum score that can be posted to this leaderboard."
          }
        },
        "scoreMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum score that can be posted to this leaderboard."
          }
        },
        "draft": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "The draft data of the leaderboard."
          }
        },
        "published": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationDetail",
          "traits": {
            "smithy.api#documentation": "The read-only published data of the leaderboard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An leaderboard configuration resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationScoreOrderEnum": {
      "type": "enum",
      "members": {
        "SCORE_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCORE_ORDER_UNSPECIFIED"
          }
        },
        "LARGER_IS_BETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGER_IS_BETTER"
          }
        },
        "SMALLER_IS_BETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLER_IS_BETTER"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationDetail": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
          }
        },
        "name": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "Localized strings for the leaderboard name."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon url of this leaderboard. Writes to this field are ignored."
          }
        },
        "sortRank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sort rank of this leaderboard. Writes to this field are ignored."
          }
        },
        "scoreFormat": {
          "target": "com.gcp.gamesConfiguration_v1configuration#GamesNumberFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "The score formatting for the leaderboard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A leaderboard configuration detail."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GamesNumberFormatConfiguration": {
      "type": "structure",
      "members": {
        "numberFormatType": {
          "target": "com.gcp.gamesConfiguration_v1configuration#GamesNumberFormatConfigurationNumberFormatTypeEnum",
          "traits": {
            "smithy.api#documentation": "The formatting for the number."
          }
        },
        "suffix": {
          "target": "com.gcp.gamesConfiguration_v1configuration#GamesNumberAffixConfiguration",
          "traits": {
            "smithy.api#documentation": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
          }
        },
        "numDecimalPlaces": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of decimal places for number. Only used for NUMERIC format type."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The curreny code string. Only used for CURRENCY format type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A number format resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GamesNumberFormatConfigurationNumberFormatTypeEnum": {
      "type": "enum",
      "members": {
        "NUMBER_FORMAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER_FORMAT_TYPE_UNSPECIFIED"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        },
        "TIME_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_DURATION"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENCY"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GamesNumberAffixConfiguration": {
      "type": "structure",
      "members": {
        "zero": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language requires special treatment of the number 0 (as in Arabic)."
          }
        },
        "one": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
          }
        },
        "two": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian)."
          }
        },
        "few": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish)."
          }
        },
        "many": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."
          }
        },
        "other": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LocalizedStringBundle",
          "traits": {
            "smithy.api#documentation": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A number affix resource."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."
          }
        },
        "items": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationList",
          "traits": {
            "smithy.api#documentation": "The leaderboard configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ListConfigurations response."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration"
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#DeleteAchievementConfigurationsRequest": {
      "type": "structure",
      "members": {
        "achievementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement used by this method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#DeleteAchievementConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#DeleteAchievementConfigurationsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "games/v1configuration/achievements/{achievementId}"
        },
        "smithy.api#documentation": "Delete the achievement configuration with the given ID."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GetAchievementConfigurationsRequest": {
      "type": "structure",
      "members": {
        "achievementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement used by this method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GetAchievementConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#GetAchievementConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "games/v1configuration/achievements/{achievementId}"
        },
        "smithy.api#documentation": "Retrieves the metadata of the achievement configuration with the given ID."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#InsertAchievementConfigurationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application ID from the Google Play developer console.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#InsertAchievementConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#InsertAchievementConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "smithy.api#documentation": "Insert a new achievement configuration in this application."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#ListAchievementConfigurationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application ID from the Google Play developer console.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token returned by the previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#ListAchievementConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#ListAchievementConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfigurationListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "smithy.api#documentation": "Returns a list of the achievement configurations in this application.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#UpdateAchievementConfigurationsRequest": {
      "type": "structure",
      "members": {
        "achievementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement used by this method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#UpdateAchievementConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#UpdateAchievementConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#AchievementConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "games/v1configuration/achievements/{achievementId}"
        },
        "smithy.api#documentation": "Update the metadata of the achievement configuration with the given ID."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#DeleteLeaderboardConfigurationsRequest": {
      "type": "structure",
      "members": {
        "leaderboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the leaderboard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#DeleteLeaderboardConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#DeleteLeaderboardConfigurationsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "smithy.api#documentation": "Delete the leaderboard configuration with the given ID."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GetLeaderboardConfigurationsRequest": {
      "type": "structure",
      "members": {
        "leaderboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the leaderboard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#GetLeaderboardConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#GetLeaderboardConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "smithy.api#documentation": "Retrieves the metadata of the leaderboard configuration with the given ID."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#InsertLeaderboardConfigurationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application ID from the Google Play developer console.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#InsertLeaderboardConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#InsertLeaderboardConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "smithy.api#documentation": "Insert a new leaderboard configuration in this application."
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#ListLeaderboardConfigurationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application ID from the Google Play developer console.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token returned by the previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#ListLeaderboardConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#ListLeaderboardConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfigurationListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "smithy.api#documentation": "Returns a list of the leaderboard configurations in this application.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#UpdateLeaderboardConfigurationsRequest": {
      "type": "structure",
      "members": {
        "leaderboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the leaderboard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gamesConfiguration_v1configuration#UpdateLeaderboardConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gamesConfiguration_v1configuration#UpdateLeaderboardConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.gamesConfiguration_v1configuration#LeaderboardConfiguration"
      },
      "errors": [
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#NotFound"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Forbidden"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#BadRequest"
        },
        {
          "target": "com.gcp.gamesConfiguration_v1configuration#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "smithy.api#documentation": "Update the metadata of the leaderboard configuration with the given ID."
      }
    }
  }
}
