{
  "smithy": "2.0",
  "metadata": {
    "service": "games",
    "version": "v1",
    "title": "Google Play Games Services API",
    "baseUrl": "https://games.googleapis.com/"
  },
  "shapes": {
    "com.gcp.games_v1#AchievementDefinitionsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#AchievementDefinitionList",
          "traits": {
            "smithy.api#documentation": "The achievement definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of achievement definition objects."
      }
    },
    "com.gcp.games_v1#AchievementDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#AchievementDefinition"
      }
    },
    "com.gcp.games_v1#AchievementDefinition": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the achievement."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the achievement."
          }
        },
        "achievementType": {
          "target": "com.gcp.games_v1#AchievementDefinitionAchievementTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the achievement."
          }
        },
        "totalSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total steps for an incremental achievement."
          }
        },
        "formattedTotalSteps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total steps for an incremental achievement as a string."
          }
        },
        "revealedIconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image URL for the revealed achievement icon."
          }
        },
        "isRevealedIconUrlDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
          }
        },
        "unlockedIconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image URL for the unlocked achievement icon."
          }
        },
        "isUnlockedIconUrlDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
          }
        },
        "initialState": {
          "target": "com.gcp.games_v1#AchievementDefinitionInitialStateEnum",
          "traits": {
            "smithy.api#documentation": "The initial state of the achievement."
          }
        },
        "experiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experience points which will be earned when unlocking this achievement."
          }
        },
        "achievementLifecycleState": {
          "target": "com.gcp.games_v1#AchievementDefinitionAchievementLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle state of the achievement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement definition object."
      }
    },
    "com.gcp.games_v1#AchievementDefinitionAchievementTypeEnum": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENTAL"
          }
        }
      }
    },
    "com.gcp.games_v1#AchievementDefinitionInitialStateEnum": {
      "type": "enum",
      "members": {
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        },
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        }
      }
    },
    "com.gcp.games_v1#AchievementDefinitionAchievementLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE"
          }
        },
        "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          }
        }
      }
    },
    "com.gcp.games_v1#AchievementIncrementResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
          }
        },
        "currentSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current steps recorded for this incremental achievement."
          }
        },
        "newlyUnlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current steps for the achievement has reached the number of steps required to unlock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement increment response"
      }
    },
    "com.gcp.games_v1#PlayerAchievementListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#PlayerAchievementList",
          "traits": {
            "smithy.api#documentation": "The achievements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of achievement objects."
      }
    },
    "com.gcp.games_v1#PlayerAchievementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerAchievement"
      }
    },
    "com.gcp.games_v1#PlayerAchievement": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the achievement."
          }
        },
        "currentSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current steps for an incremental achievement."
          }
        },
        "formattedCurrentStepsString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current steps for an incremental achievement as a string."
          }
        },
        "achievementState": {
          "target": "com.gcp.games_v1#PlayerAchievementAchievementStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the achievement."
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the last modification to this achievement's state."
          }
        },
        "experiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement object."
      }
    },
    "com.gcp.games_v1#PlayerAchievementAchievementStateEnum": {
      "type": "enum",
      "members": {
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        },
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        }
      }
    },
    "com.gcp.games_v1#AchievementRevealResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
          }
        },
        "currentState": {
          "target": "com.gcp.games_v1#AchievementRevealResponseCurrentStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement reveal response"
      }
    },
    "com.gcp.games_v1#AchievementRevealResponseCurrentStateEnum": {
      "type": "enum",
      "members": {
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        }
      }
    },
    "com.gcp.games_v1#AchievementSetStepsAtLeastResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
          }
        },
        "currentSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current steps recorded for this incremental achievement."
          }
        },
        "newlyUnlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current steps for the achievement has reached the number of steps required to unlock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement set steps at least response."
      }
    },
    "com.gcp.games_v1#AchievementUnlockResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
          }
        },
        "newlyUnlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An achievement unlock response"
      }
    },
    "com.gcp.games_v1#AchievementUpdateMultipleRequest": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`."
          }
        },
        "updates": {
          "target": "com.gcp.games_v1#AchievementUpdateRequestList",
          "traits": {
            "smithy.api#documentation": "The individual achievement update requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of achievement update requests."
      }
    },
    "com.gcp.games_v1#AchievementUpdateRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#AchievementUpdateRequest"
      }
    },
    "com.gcp.games_v1#AchievementUpdateRequest": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
          }
        },
        "achievementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The achievement this update is being applied to."
          }
        },
        "updateType": {
          "target": "com.gcp.games_v1#AchievementUpdateRequestUpdateTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of update being applied."
          }
        },
        "incrementPayload": {
          "target": "com.gcp.games_v1#GamesAchievementIncrement",
          "traits": {
            "smithy.api#documentation": "The payload if an update of type `INCREMENT` was requested for the achievement."
          }
        },
        "setStepsAtLeastPayload": {
          "target": "com.gcp.games_v1#GamesAchievementSetStepsAtLeast",
          "traits": {
            "smithy.api#documentation": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update an achievement."
      }
    },
    "com.gcp.games_v1#AchievementUpdateRequestUpdateTypeEnum": {
      "type": "enum",
      "members": {
        "REVEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEAL"
          }
        },
        "UNLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK"
          }
        },
        "INCREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCREMENT"
          }
        },
        "SET_STEPS_AT_LEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET_STEPS_AT_LEAST"
          }
        }
      }
    },
    "com.gcp.games_v1#GamesAchievementIncrement": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
          }
        },
        "steps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of steps to be incremented."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requestId associated with an increment to an achievement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload to request to increment an achievement."
      }
    },
    "com.gcp.games_v1#GamesAchievementSetStepsAtLeast": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
          }
        },
        "steps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of steps for the achievement to be set to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload to request to increment an achievement."
      }
    },
    "com.gcp.games_v1#AchievementUpdateMultipleResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
          }
        },
        "updatedAchievements": {
          "target": "com.gcp.games_v1#AchievementUpdateResponseList",
          "traits": {
            "smithy.api#documentation": "The updated state of the achievements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for UpdateMultipleAchievements rpc."
      }
    },
    "com.gcp.games_v1#AchievementUpdateResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#AchievementUpdateResponse"
      }
    },
    "com.gcp.games_v1#AchievementUpdateResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
          }
        },
        "achievementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The achievement this update is was applied to."
          }
        },
        "updateOccurred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the requested updates actually affected the achievement."
          }
        },
        "currentState": {
          "target": "com.gcp.games_v1#AchievementUpdateResponseCurrentStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the achievement."
          }
        },
        "currentSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current steps recorded for this achievement if it is incremental."
          }
        },
        "newlyUnlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An updated achievement."
      }
    },
    "com.gcp.games_v1#AchievementUpdateResponseCurrentStateEnum": {
      "type": "enum",
      "members": {
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        },
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        }
      }
    },
    "com.gcp.games_v1#Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The author of the application."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the application."
          }
        },
        "category": {
          "target": "com.gcp.games_v1#ApplicationCategory",
          "traits": {
            "smithy.api#documentation": "The category of the application."
          }
        },
        "assets": {
          "target": "com.gcp.games_v1#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The assets of the application."
          }
        },
        "instances": {
          "target": "com.gcp.games_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "The instances of the application."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last updated timestamp of the application."
          }
        },
        "achievement_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of achievements visible to the currently authenticated player."
          }
        },
        "leaderboard_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of leaderboards visible to the currently authenticated player."
          }
        },
        "enabledFeatures": {
          "target": "com.gcp.games_v1#ApplicationEnabledFeaturesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of features that have been enabled for the application."
          }
        },
        "themeColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Application resource."
      }
    },
    "com.gcp.games_v1#ImageAssetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#ImageAsset"
      }
    },
    "com.gcp.games_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#Instance"
      }
    },
    "com.gcp.games_v1#ApplicationEnabledFeaturesItemEnum": {
      "type": "enum",
      "members": {
        "SNAPSHOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOTS"
          }
        }
      }
    },
    "com.gcp.games_v1#ApplicationEnabledFeaturesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#ApplicationEnabledFeaturesItemEnum"
      }
    },
    "com.gcp.games_v1#ApplicationCategory": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary category."
          }
        },
        "secondary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary category."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An application category object."
      }
    },
    "com.gcp.games_v1#ImageAsset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the asset."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the asset."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the asset."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the asset."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image asset object."
      }
    },
    "com.gcp.games_v1#Instance": {
      "type": "structure",
      "members": {
        "platformType": {
          "target": "com.gcp.games_v1#InstancePlatformTypeEnum",
          "traits": {
            "smithy.api#documentation": "The platform type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized display name."
          }
        },
        "turnBasedPlay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to show if this game instance supports turn based play."
          }
        },
        "realtimePlay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to show if this game instance supports realtime play."
          }
        },
        "androidInstance": {
          "target": "com.gcp.games_v1#InstanceAndroidDetails",
          "traits": {
            "smithy.api#documentation": "Platform dependent details for Android."
          }
        },
        "iosInstance": {
          "target": "com.gcp.games_v1#InstanceIosDetails",
          "traits": {
            "smithy.api#documentation": "Platform dependent details for iOS."
          }
        },
        "webInstance": {
          "target": "com.gcp.games_v1#InstanceWebDetails",
          "traits": {
            "smithy.api#documentation": "Platform dependent details for Web."
          }
        },
        "acquisitionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI which shows where a user can acquire this instance."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Instance resource."
      }
    },
    "com.gcp.games_v1#InstancePlatformTypeEnum": {
      "type": "enum",
      "members": {
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "WEB_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_APP"
          }
        }
      }
    },
    "com.gcp.games_v1#InstanceAndroidDetails": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Android package name which maps to Google Play URL."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
          }
        },
        "enablePiracyCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether the anti-piracy check is enabled."
          }
        },
        "preferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this instance is the default for new installations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Android instance details resource."
      }
    },
    "com.gcp.games_v1#InstanceIosDetails": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
          }
        },
        "bundleIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bundle identifier."
          }
        },
        "itunesAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iTunes App ID."
          }
        },
        "supportIphone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate if this instance supports iPhone."
          }
        },
        "supportIpad": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate if this instance supports iPad."
          }
        },
        "preferredForIphone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this instance is the default for new installations on iPhone devices."
          }
        },
        "preferredForIpad": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this instance is the default for new installations on iPad devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The iOS details resource."
      }
    },
    "com.gcp.games_v1#InstanceWebDetails": {
      "type": "structure",
      "members": {
        "launchUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Launch URL for the game."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
          }
        },
        "preferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this instance is the default for new installations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Web details resource."
      }
    },
    "com.gcp.games_v1#ApplicationVerifyResponse": {
      "type": "structure",
      "members": {
        "player_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the player that was issued the auth token used in this request."
          }
        },
        "alternate_player_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party application verification response resource."
      }
    },
    "com.gcp.games_v1#EndPoint": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL suitable for loading in a web browser for the requested endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for a URL end point of the requested type."
      }
    },
    "com.gcp.games_v1#PlayerEventListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#PlayerEventList",
          "traits": {
            "smithy.api#documentation": "The player events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ListByPlayer response."
      }
    },
    "com.gcp.games_v1#PlayerEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerEvent"
      }
    },
    "com.gcp.games_v1#PlayerEvent": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
          }
        },
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event definition."
          }
        },
        "playerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the player."
          }
        },
        "numEvents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current number of times this event has occurred."
          }
        },
        "formattedNumEvents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event status resource."
      }
    },
    "com.gcp.games_v1#EventDefinitionListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#EventDefinitionList",
          "traits": {
            "smithy.api#documentation": "The event definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ListDefinitions response."
      }
    },
    "com.gcp.games_v1#EventDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventDefinition"
      }
    },
    "com.gcp.games_v1#EventDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event."
          }
        },
        "visibility": {
          "target": "com.gcp.games_v1#EventDefinitionVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "The visibility of event being tracked in this definition."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to display for the event."
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base URL for the image that represents the event."
          }
        },
        "childEvents": {
          "target": "com.gcp.games_v1#EventChildList",
          "traits": {
            "smithy.api#documentation": "A list of events that are a child of this event."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what this event represents."
          }
        },
        "isDefaultImageUrl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the icon image being returned is a default image, or is game-provided."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event definition resource."
      }
    },
    "com.gcp.games_v1#EventDefinitionVisibilityEnum": {
      "type": "enum",
      "members": {
        "REVEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVEALED"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        }
      }
    },
    "com.gcp.games_v1#EventChildList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventChild"
      }
    },
    "com.gcp.games_v1#EventChild": {
      "type": "structure",
      "members": {
        "childId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the child event."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event child relationship resource."
      }
    },
    "com.gcp.games_v1#EventRecordRequest": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request ID used to identify this attempt to record events."
          }
        },
        "currentTimeMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
          }
        },
        "timePeriods": {
          "target": "com.gcp.games_v1#EventPeriodUpdateList",
          "traits": {
            "smithy.api#documentation": "A list of the time period updates being made in this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event period update resource."
      }
    },
    "com.gcp.games_v1#EventPeriodUpdateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventPeriodUpdate"
      }
    },
    "com.gcp.games_v1#EventPeriodUpdate": {
      "type": "structure",
      "members": {
        "timePeriod": {
          "target": "com.gcp.games_v1#EventPeriodRange",
          "traits": {
            "smithy.api#documentation": "The time period being covered by this update."
          }
        },
        "updates": {
          "target": "com.gcp.games_v1#EventUpdateRequestList",
          "traits": {
            "smithy.api#documentation": "The updates being made for this time period."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event period update resource."
      }
    },
    "com.gcp.games_v1#EventUpdateRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventUpdateRequest"
      }
    },
    "com.gcp.games_v1#EventPeriodRange": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
          }
        },
        "periodStartMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
          }
        },
        "periodEndMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event period time range."
      }
    },
    "com.gcp.games_v1#EventUpdateRequest": {
      "type": "structure",
      "members": {
        "definitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event being modified in this update."
          }
        },
        "updateCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of times this event occurred in this time period."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event period update resource."
      }
    },
    "com.gcp.games_v1#EventUpdateResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
          }
        },
        "batchFailures": {
          "target": "com.gcp.games_v1#EventBatchRecordFailureList",
          "traits": {
            "smithy.api#documentation": "Any batch-wide failures which occurred applying updates."
          }
        },
        "eventFailures": {
          "target": "com.gcp.games_v1#EventRecordFailureList",
          "traits": {
            "smithy.api#documentation": "Any failures updating a particular event."
          }
        },
        "playerEvents": {
          "target": "com.gcp.games_v1#PlayerEventList",
          "traits": {
            "smithy.api#documentation": "The current status of any updated events"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event period update resource."
      }
    },
    "com.gcp.games_v1#EventBatchRecordFailureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventBatchRecordFailure"
      }
    },
    "com.gcp.games_v1#EventRecordFailureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#EventRecordFailure"
      }
    },
    "com.gcp.games_v1#EventBatchRecordFailure": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.games_v1#EventPeriodRange",
          "traits": {
            "smithy.api#documentation": "The time range which was rejected; empty for a request-wide failure."
          }
        },
        "failureCause": {
          "target": "com.gcp.games_v1#EventBatchRecordFailureFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "The cause for the update failure."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch update failure resource."
      }
    },
    "com.gcp.games_v1#EventBatchRecordFailureFailureCauseEnum": {
      "type": "enum",
      "members": {
        "TOO_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_LARGE"
          }
        },
        "TIME_PERIOD_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_PERIOD_EXPIRED"
          }
        },
        "TIME_PERIOD_SHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_PERIOD_SHORT"
          }
        },
        "TIME_PERIOD_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_PERIOD_LONG"
          }
        },
        "ALREADY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALREADY_UPDATED"
          }
        },
        "RECORD_RATE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECORD_RATE_HIGH"
          }
        }
      }
    },
    "com.gcp.games_v1#EventRecordFailure": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event that was not updated."
          }
        },
        "failureCause": {
          "target": "com.gcp.games_v1#EventRecordFailureFailureCauseEnum",
          "traits": {
            "smithy.api#documentation": "The cause for the update failure."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event update failure resource."
      }
    },
    "com.gcp.games_v1#EventRecordFailureFailureCauseEnum": {
      "type": "enum",
      "members": {
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "INVALID_UPDATE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_UPDATE_VALUE"
          }
        }
      }
    },
    "com.gcp.games_v1#Leaderboard": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The leaderboard ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the leaderboard."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon for the leaderboard."
          }
        },
        "isIconUrlDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the icon image being returned is a default image, or is game-provided."
          }
        },
        "order": {
          "target": "com.gcp.games_v1#LeaderboardOrderEnum",
          "traits": {
            "smithy.api#documentation": "How scores are ordered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Leaderboard resource."
      }
    },
    "com.gcp.games_v1#LeaderboardOrderEnum": {
      "type": "enum",
      "members": {
        "LARGER_IS_BETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGER_IS_BETTER"
          }
        },
        "SMALLER_IS_BETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLER_IS_BETTER"
          }
        }
      }
    },
    "com.gcp.games_v1#LeaderboardListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#LeaderboardList",
          "traits": {
            "smithy.api#documentation": "The leaderboards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of leaderboard objects."
      }
    },
    "com.gcp.games_v1#LeaderboardList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#Leaderboard"
      }
    },
    "com.gcp.games_v1#MetagameConfig": {
      "type": "structure",
      "members": {
        "currentVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one."
          }
        },
        "playerLevels": {
          "target": "com.gcp.games_v1#PlayerLevelList",
          "traits": {
            "smithy.api#documentation": "The list of player levels."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metagame config resource"
      }
    },
    "com.gcp.games_v1#PlayerLevelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerLevel"
      }
    },
    "com.gcp.games_v1#PlayerLevel": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
          }
        },
        "level": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The level for the user."
          }
        },
        "minExperiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum experience points for this level."
          }
        },
        "maxExperiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum experience points for this level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "1P/3P metadata about a user's level."
      }
    },
    "com.gcp.games_v1#CategoryListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#CategoryList",
          "traits": {
            "smithy.api#documentation": "The list of categories with usage data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party list metagame categories response."
      }
    },
    "com.gcp.games_v1#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#Category"
      }
    },
    "com.gcp.games_v1#Category": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category name."
          }
        },
        "experiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experience points earned in this category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data related to individual game categories."
      }
    },
    "com.gcp.games_v1#Player": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
          }
        },
        "playerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the player."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to display for the player."
          }
        },
        "avatarImageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base URL for the image that represents the player."
          }
        },
        "bannerUrlPortrait": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url to the portrait mode player banner image."
          }
        },
        "bannerUrlLandscape": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url to the landscape mode player banner image."
          }
        },
        "originalPlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
          }
        },
        "profileSettings": {
          "target": "com.gcp.games_v1#ProfileSettings",
          "traits": {
            "smithy.api#documentation": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
          }
        },
        "name": {
          "target": "com.gcp.games_v1#PlayerName",
          "traits": {
            "smithy.api#documentation": "A representation of the individual components of the name."
          }
        },
        "experienceInfo": {
          "target": "com.gcp.games_v1#PlayerExperienceInfo",
          "traits": {
            "smithy.api#documentation": "An object to represent Play Game experience information for the player."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The player's title rewarded for their game activities."
          }
        },
        "friendStatus": {
          "target": "com.gcp.games_v1#PlayerFriendStatusEnum",
          "traits": {
            "smithy.api#documentation": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
          }
        },
        "gamePlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-application unique player identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Player resource."
      }
    },
    "com.gcp.games_v1#PlayerName": {
      "type": "structure",
      "members": {
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family name of this player. In some places, this is known as the last name."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given name of this player. In some places, this is known as the first name."
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerFriendStatusEnum": {
      "type": "enum",
      "members": {
        "NO_RELATIONSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RELATIONSHIP"
          }
        },
        "FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIEND"
          }
        }
      }
    },
    "com.gcp.games_v1#ProfileSettings": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
          }
        },
        "profileVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the player's profile is visible to the currently signed in player."
          }
        },
        "friendsListVisibility": {
          "target": "com.gcp.games_v1#ProfileSettingsFriendsListVisibilityEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile settings"
      }
    },
    "com.gcp.games_v1#ProfileSettingsFriendsListVisibilityEnum": {
      "type": "enum",
      "members": {
        "VISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISIBLE"
          }
        },
        "REQUEST_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_REQUIRED"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerExperienceInfo": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
          }
        },
        "currentExperiencePoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current number of experience points for the player."
          }
        },
        "lastLevelUpTimestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
          }
        },
        "currentLevel": {
          "target": "com.gcp.games_v1#PlayerLevel",
          "traits": {
            "smithy.api#documentation": "The current level of the player."
          }
        },
        "nextLevel": {
          "target": "com.gcp.games_v1#PlayerLevel",
          "traits": {
            "smithy.api#documentation": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "1P/3P metadata about the player's experience."
      }
    },
    "com.gcp.games_v1#ScopedPlayerIds": {
      "type": "structure",
      "members": {
        "gamePlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field."
          }
        },
        "developerPlayerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scoped player identifiers."
      }
    },
    "com.gcp.games_v1#GetMultipleApplicationPlayerIdsResponse": {
      "type": "structure",
      "members": {
        "playerIds": {
          "target": "com.gcp.games_v1#ApplicationPlayerIdList",
          "traits": {
            "smithy.api#documentation": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetMultipleApplicationPlayerIds rpc."
      }
    },
    "com.gcp.games_v1#ApplicationPlayerIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#ApplicationPlayerId"
      }
    },
    "com.gcp.games_v1#ApplicationPlayerId": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application that this player identifier is for."
          }
        },
        "playerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The player identifier for the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Primary scoped player identifier for an application."
      }
    },
    "com.gcp.games_v1#PlayerListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#PlayerList",
          "traits": {
            "smithy.api#documentation": "The players."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party player list response."
      }
    },
    "com.gcp.games_v1#PlayerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#Player"
      }
    },
    "com.gcp.games_v1#RevisionCheckResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
          }
        },
        "revisionStatus": {
          "target": "com.gcp.games_v1#RevisionCheckResponseRevisionStatusEnum",
          "traits": {
            "smithy.api#documentation": "The result of the revision check."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the API this client revision should use when calling API methods."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party checking a revision response."
      }
    },
    "com.gcp.games_v1#RevisionCheckResponseRevisionStatusEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerLeaderboardScoreListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        },
        "player": {
          "target": "com.gcp.games_v1#Player",
          "traits": {
            "smithy.api#documentation": "The Player resources for the owner of this score."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#PlayerLeaderboardScoreList",
          "traits": {
            "smithy.api#documentation": "The leaderboard scores."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of player leaderboard scores."
      }
    },
    "com.gcp.games_v1#PlayerLeaderboardScoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerLeaderboardScore"
      }
    },
    "com.gcp.games_v1#PlayerLeaderboardScore": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
          }
        },
        "leaderboard_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the leaderboard this score is in."
          }
        },
        "scoreValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The numerical value of this score."
          }
        },
        "scoreString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formatted value of this score."
          }
        },
        "publicRank": {
          "target": "com.gcp.games_v1#LeaderboardScoreRank",
          "traits": {
            "smithy.api#documentation": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
          }
        },
        "socialRank": {
          "target": "com.gcp.games_v1#LeaderboardScoreRank",
          "traits": {
            "smithy.api#documentation": "The social rank of the score in this leaderboard."
          }
        },
        "friendsRank": {
          "target": "com.gcp.games_v1#LeaderboardScoreRank",
          "traits": {
            "smithy.api#documentation": "The rank of the score in the friends collection for this leaderboard."
          }
        },
        "timeSpan": {
          "target": "com.gcp.games_v1#PlayerLeaderboardScoreTimeSpanEnum",
          "traits": {
            "smithy.api#documentation": "The time span of this score."
          }
        },
        "writeTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
          }
        },
        "scoreTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A player leaderboard score object."
      }
    },
    "com.gcp.games_v1#PlayerLeaderboardScoreTimeSpanEnum": {
      "type": "enum",
      "members": {
        "ALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TIME"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.games_v1#LeaderboardScoreRank": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`."
          }
        },
        "rank": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rank in the leaderboard."
          }
        },
        "formattedRank": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rank in the leaderboard as a string."
          }
        },
        "numScores": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of scores in the leaderboard."
          }
        },
        "formattedNumScores": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of scores in the leaderboard as a string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A score rank in a leaderboard."
      }
    },
    "com.gcp.games_v1#LeaderboardScores": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the next page of results."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token for the previous page of results."
          }
        },
        "numScores": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of scores in the leaderboard."
          }
        },
        "playerScore": {
          "target": "com.gcp.games_v1#LeaderboardEntry",
          "traits": {
            "smithy.api#documentation": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#LeaderboardEntryList",
          "traits": {
            "smithy.api#documentation": "The scores in the leaderboard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ListScores response."
      }
    },
    "com.gcp.games_v1#LeaderboardEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#LeaderboardEntry"
      }
    },
    "com.gcp.games_v1#LeaderboardEntry": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
          }
        },
        "player": {
          "target": "com.gcp.games_v1#Player",
          "traits": {
            "smithy.api#documentation": "The player who holds this score."
          }
        },
        "scoreRank": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rank of this score for this leaderboard."
          }
        },
        "formattedScoreRank": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized string for the rank of this score for this leaderboard."
          }
        },
        "scoreValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The numerical value of this score."
          }
        },
        "formattedScore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized string for the numerical value of this score."
          }
        },
        "timeSpan": {
          "target": "com.gcp.games_v1#LeaderboardEntryTimeSpanEnum",
          "traits": {
            "smithy.api#documentation": "The time span of this high score."
          }
        },
        "writeTimestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
          }
        },
        "scoreTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Leaderboard Entry resource."
      }
    },
    "com.gcp.games_v1#LeaderboardEntryTimeSpanEnum": {
      "type": "enum",
      "members": {
        "ALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TIME"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerScoreResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
          }
        },
        "beatenScoreTimeSpans": {
          "target": "com.gcp.games_v1#PlayerScoreResponseBeatenScoreTimeSpansItemEnumList",
          "traits": {
            "smithy.api#documentation": "The time spans where the submitted score is better than the existing score for that time span."
          }
        },
        "unbeatenScores": {
          "target": "com.gcp.games_v1#PlayerScoreList",
          "traits": {
            "smithy.api#documentation": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
          }
        },
        "formattedScore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formatted value of the submitted score."
          }
        },
        "leaderboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The leaderboard ID that this score was submitted to."
          }
        },
        "scoreTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of leaderboard entry resources."
      }
    },
    "com.gcp.games_v1#PlayerScoreResponseBeatenScoreTimeSpansItemEnum": {
      "type": "enum",
      "members": {
        "ALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TIME"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerScoreResponseBeatenScoreTimeSpansItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerScoreResponseBeatenScoreTimeSpansItemEnum"
      }
    },
    "com.gcp.games_v1#PlayerScoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerScore"
      }
    },
    "com.gcp.games_v1#PlayerScore": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
          }
        },
        "timeSpan": {
          "target": "com.gcp.games_v1#PlayerScoreTimeSpanEnum",
          "traits": {
            "smithy.api#documentation": "The time span for this player score."
          }
        },
        "score": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The numerical value for this player score."
          }
        },
        "formattedScore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The formatted score for this player score."
          }
        },
        "scoreTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A player score."
      }
    },
    "com.gcp.games_v1#PlayerScoreTimeSpanEnum": {
      "type": "enum",
      "members": {
        "ALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TIME"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.games_v1#PlayerScoreSubmissionList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
          }
        },
        "scores": {
          "target": "com.gcp.games_v1#ScoreSubmissionList",
          "traits": {
            "smithy.api#documentation": "The score submissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of score submission requests."
      }
    },
    "com.gcp.games_v1#ScoreSubmissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#ScoreSubmission"
      }
    },
    "com.gcp.games_v1#ScoreSubmission": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
          }
        },
        "leaderboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The leaderboard this score is being submitted to."
          }
        },
        "score": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new score being submitted."
          }
        },
        "scoreTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to submit a score to leaderboards."
      }
    },
    "com.gcp.games_v1#PlayerScoreListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`."
          }
        },
        "submittedScores": {
          "target": "com.gcp.games_v1#PlayerScoreResponseList",
          "traits": {
            "smithy.api#documentation": "The score submissions statuses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of score submission statuses."
      }
    },
    "com.gcp.games_v1#PlayerScoreResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#PlayerScoreResponse"
      }
    },
    "com.gcp.games_v1#Snapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the snapshot."
          }
        },
        "driveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
          }
        },
        "type": {
          "target": "com.gcp.games_v1#SnapshotTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this snapshot."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of this snapshot."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this snapshot."
          }
        },
        "lastModifiedMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
          }
        },
        "durationMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration associated with this snapshot, in millis."
          }
        },
        "coverImage": {
          "target": "com.gcp.games_v1#SnapshotImage",
          "traits": {
            "smithy.api#documentation": "The cover image of this snapshot. May be absent if there is no image."
          }
        },
        "uniqueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name provided when the snapshot was created."
          }
        },
        "progressValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The progress value (64-bit integer set by developer) associated with this snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An snapshot object."
      }
    },
    "com.gcp.games_v1#SnapshotTypeEnum": {
      "type": "enum",
      "members": {
        "SAVE_GAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAVE_GAME"
          }
        }
      }
    },
    "com.gcp.games_v1#SnapshotImage": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the image."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the image."
          }
        },
        "mime_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the image."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image. This URL may be invalidated at any time and should not be cached."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image of a snapshot."
      }
    },
    "com.gcp.games_v1#SnapshotListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
          }
        },
        "items": {
          "target": "com.gcp.games_v1#SnapshotList",
          "traits": {
            "smithy.api#documentation": "The snapshots."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party list snapshots response."
      }
    },
    "com.gcp.games_v1#SnapshotList": {
      "type": "list",
      "member": {
        "target": "com.gcp.games_v1#Snapshot"
      }
    },
    "com.gcp.games_v1#StatsResponse": {
      "type": "structure",
      "members": {
        "churn_probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
          }
        },
        "num_purchases": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
          }
        },
        "spend_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
          }
        },
        "days_since_last_played": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
          }
        },
        "num_sessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
          }
        },
        "num_sessions_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
          }
        },
        "avg_session_length_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
          }
        },
        "spend_probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
          }
        },
        "high_spender_probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
          }
        },
        "total_spend_next_28_days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A third party stats resource."
      }
    },
    "com.gcp.games_v1#LinkPersonaRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
          }
        },
        "persona": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
          }
        },
        "cardinalityConstraint": {
          "target": "com.gcp.games_v1#LinkPersonaRequestCardinalityConstraintEnum",
          "traits": {
            "smithy.api#documentation": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game."
          }
        },
        "conflictingLinksResolutionPolicy": {
          "target": "com.gcp.games_v1#LinkPersonaRequestConflictingLinksResolutionPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Optional expiration time."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Optional time-to-live."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to link an in-game account with a PGS principal (encoded in the session id)."
      }
    },
    "com.gcp.games_v1#LinkPersonaRequestCardinalityConstraintEnum": {
      "type": "enum",
      "members": {
        "ONE_PERSONA_TO_ONE_PLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_PERSONA_TO_ONE_PLAYER"
          }
        }
      }
    },
    "com.gcp.games_v1#LinkPersonaRequestConflictingLinksResolutionPolicyEnum": {
      "type": "enum",
      "members": {
        "KEEP_EXISTING_LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP_EXISTING_LINKS"
          }
        },
        "CREATE_NEW_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_NEW_LINK"
          }
        }
      }
    },
    "com.gcp.games_v1#LinkPersonaResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.games_v1#LinkPersonaResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of a persona linking attempt."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Outcome of a persona linking attempt."
      }
    },
    "com.gcp.games_v1#LinkPersonaResponseStateEnum": {
      "type": "enum",
      "members": {
        "LINK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_CREATED"
          }
        },
        "PERSONA_OR_PLAYER_ALREADY_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONA_OR_PLAYER_ALREADY_LINKED"
          }
        }
      }
    },
    "com.gcp.games_v1#RetrievePlayerTokensResponse": {
      "type": "structure",
      "members": {
        "tokens": {
          "target": "com.gcp.games_v1#RecallTokenList",
          "traits": {
            "smithy.api#documentation": "Required. Recall tokens associated with the requested PGS Player principal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the RetrievePlayerTokens RPC"
      }
    },
[...]
