{
  "smithy": "2.0",
  "metadata": {
    "service": "gkebackup",
    "version": "v1",
    "title": "Backup for GKE API",
    "baseUrl": "https://gkebackup.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkebackup_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.gkebackup_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.gkebackup_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkebackup_v1#TransformationRuleAction": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A string containing a JSON-Pointer value that references a location within the target document where the operation is performed."
          }
        },
        "op": {
          "target": "com.gcp.gkebackup_v1#TransformationRuleActionOpEnum",
          "traits": {
            "smithy.api#documentation": "Required. op specifies the operation to perform."
          }
        },
        "fromPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A string containing a JSON Pointer value that references the location in the target document to move the value from."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A string that specifies the desired value in string format to use for transformation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TransformationRuleAction defines a TransformationRule action based on the JSON Patch RFC (https://www.rfc-editor.org/rfc/rfc6902)"
      }
    },
    "com.gcp.gkebackup_v1#TransformationRuleActionOpEnum": {
      "type": "enum",
      "members": {
        "OP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OP_UNSPECIFIED"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#GetTagsResponse": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A checksum based on the current bindings. This field is always set in server responses."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the service resource."
          }
        },
        "tags": {
          "target": "com.gcp.gkebackup_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetTags."
      }
    },
    "com.gcp.gkebackup_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkebackup_v1#Namespaces": {
      "type": "structure",
      "members": {
        "namespaces": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Kubernetes Namespaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Kubernetes Namespaces."
      }
    },
    "com.gcp.gkebackup_v1#BackupPlanDetails": {
      "type": "structure",
      "members": {
        "rpoRiskLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. A number that represents the current risk level of this BackupPlan from RPO perspective with 1 being no risk and 5 being highest risk."
          }
        },
        "lastSuccessfulBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Completion time of the last successful Backup. This is sourced from a successful Backup's complete_time field."
          }
        },
        "lastSuccessfulBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully qualified name of the last successful Backup created under this BackupPlan. `projects/*/locations/*/backupPlans/*/backups/*`"
          }
        },
        "backupConfigDetails": {
          "target": "com.gcp.gkebackup_v1#BackupConfigDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains details about the BackupConfig of Backups created via this BackupPlan."
          }
        },
        "protectedPodCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of Kubernetes Pods backed up in the last successful Backup created via this BackupPlan."
          }
        },
        "retentionPolicyDetails": {
          "target": "com.gcp.gkebackup_v1#RetentionPolicyDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Contains details about the RetentionPolicy of Backups created via this BackupPlan."
          }
        },
        "state": {
          "target": "com.gcp.gkebackup_v1#BackupPlanDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the BackupPlan."
          }
        },
        "nextScheduledBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time of next scheduled backup under this BackupPlan by either cron_schedule or rpo config. This is sourced from BackupPlan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about the backup plan/backup."
      }
    },
    "com.gcp.gkebackup_v1#BackupPlanDetailsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CLUSTER_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_PENDING"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.gkebackup_v1#BackupList",
          "traits": {
            "smithy.api#documentation": "The list of Backups matching the given criteria."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which may be sent as page_token in a subsequent `ListBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListBackups."
      }
    },
    "com.gcp.gkebackup_v1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#Backup"
      }
    },
    "com.gcp.gkebackup_v1#VolumeRestore": {
      "type": "structure",
      "members": {
        "volumeType": {
          "target": "com.gcp.gkebackup_v1#VolumeRestoreVolumeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of volume provisioned"
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human readable message explaining why the VolumeRestore is in its current state."
          }
        },
        "volumeHandle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A storage system-specific opaque handler to the underlying volume created for the target PVC from the volume backup."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the VolumeRestore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*/volumeRestores/*`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this VolumeRestore resource was created."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
          }
        },
        "volumeBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the VolumeBackup from which the volume will be restored. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume restore updates in order to avoid race conditions."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this VolumeRestore resource was last updated."
          }
        },
        "targetPvc": {
          "target": "com.gcp.gkebackup_v1#NamespacedName",
          "traits": {
            "smithy.api#documentation": "Output only. The reference to the target Kubernetes PVC to be restored."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the associated underlying volume restoration completed."
          }
        },
        "state": {
          "target": "com.gcp.gkebackup_v1#VolumeRestoreStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this VolumeRestore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the operation of restoring a volume from a VolumeBackup."
      }
    },
    "com.gcp.gkebackup_v1#VolumeRestoreVolumeTypeEnum": {
      "type": "enum",
      "members": {
        "VOLUME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_TYPE_UNSPECIFIED"
          }
        },
        "GCE_PERSISTENT_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE_PERSISTENT_DISK"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#VolumeRestoreStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#RestoreConfig": {
      "type": "structure",
      "members": {
        "namespacedResourceRestoreMode": {
          "target": "com.gcp.gkebackup_v1#RestoreConfigNamespacedResourceRestoreModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the behavior for handling the situation where sets of namespaced resources being restored already exist in the target cluster. This MUST be set to a value other than NAMESPACED_RESOURCE_RESTORE_MODE_UNSPECIFIED."
          }
        },
        "substitutionRules": {
          "target": "com.gcp.gkebackup_v1#SubstitutionRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of transformation rules to be applied against Kubernetes resources as they are selected for restoration from a Backup. Rules are executed in order defined - this order matters, as changes made by a rule may impact the filtering logic of subsequent rules. An empty list means no substitution will occur."
          }
        },
        "excludedNamespaces": {
          "target": "com.gcp.gkebackup_v1#Namespaces",
          "traits": {
            "smithy.api#documentation": "A list of selected namespaces excluded from restoration. All namespaces except those in this list will be restored."
          }
        },
        "volumeDataRestorePolicyBindings": {
          "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingList",
          "traits": {
            "smithy.api#documentation": "Optional. A table that binds volumes by their scope to a restore policy. Bindings must have a unique scope. Any volumes not scoped in the bindings are subject to the policy defined in volume_data_restore_policy."
          }
        },
        "allNamespaces": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restore all namespaced resources in the Backup if set to \"True\". Specifying this field to \"False\" is an error."
          }
        },
        "transformationRules": {
          "target": "com.gcp.gkebackup_v1#TransformationRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of transformation rules to be applied against Kubernetes resources as they are selected for restoration from a Backup. Rules are executed in order defined - this order matters, as changes made by a rule may impact the filtering logic of subsequent rules. An empty list means no transformation will occur."
          }
        },
        "restoreOrder": {
          "target": "com.gcp.gkebackup_v1#RestoreOrder",
          "traits": {
            "smithy.api#documentation": "Optional. RestoreOrder contains custom ordering to use on a Restore."
          }
        },
        "volumeDataRestorePolicy": {
          "target": "com.gcp.gkebackup_v1#RestoreConfigVolumeDataRestorePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the mechanism to be used to restore volume data. Default: VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED (will be treated as NO_VOLUME_DATA_RESTORATION)."
          }
        },
        "clusterResourceConflictPolicy": {
          "target": "com.gcp.gkebackup_v1#RestoreConfigClusterResourceConflictPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the behavior for handling the situation where cluster-scoped resources being restored already exist in the target cluster. This MUST be set to a value other than CLUSTER_RESOURCE_CONFLICT_POLICY_UNSPECIFIED if cluster_resource_restore_scope is not empty."
          }
        },
        "clusterResourceRestoreScope": {
          "target": "com.gcp.gkebackup_v1#ClusterResourceRestoreScope",
          "traits": {
            "smithy.api#documentation": "Optional. Identifies the cluster-scoped resources to restore from the Backup. Not specifying it means NO cluster resource will be restored."
          }
        },
        "selectedNamespaces": {
          "target": "com.gcp.gkebackup_v1#Namespaces",
          "traits": {
            "smithy.api#documentation": "A list of selected Namespaces to restore from the Backup. The listed Namespaces and all resources contained in them will be restored."
          }
        },
        "selectedApplications": {
          "target": "com.gcp.gkebackup_v1#NamespacedNames",
          "traits": {
            "smithy.api#documentation": "A list of selected ProtectedApplications to restore. The listed ProtectedApplications and all the resources to which they refer will be restored."
          }
        },
        "noNamespaces": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Do not restore any namespaced resources if set to \"True\". Specifying this field to \"False\" is not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a restore."
      }
    },
    "com.gcp.gkebackup_v1#RestoreConfigNamespacedResourceRestoreModeEnum": {
      "type": "enum",
      "members": {
        "NAMESPACED_RESOURCE_RESTORE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACED_RESOURCE_RESTORE_MODE_UNSPECIFIED"
          }
        },
        "DELETE_AND_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_AND_RESTORE"
          }
        },
        "FAIL_ON_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL_ON_CONFLICT"
          }
        },
        "MERGE_SKIP_ON_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_SKIP_ON_CONFLICT"
          }
        },
        "MERGE_REPLACE_VOLUME_ON_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_REPLACE_VOLUME_ON_CONFLICT"
          }
        },
        "MERGE_REPLACE_ON_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_REPLACE_ON_CONFLICT"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#SubstitutionRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#SubstitutionRule"
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBinding"
      }
    },
    "com.gcp.gkebackup_v1#TransformationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#TransformationRule"
      }
    },
    "com.gcp.gkebackup_v1#RestoreConfigVolumeDataRestorePolicyEnum": {
      "type": "enum",
      "members": {
        "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED"
          }
        },
        "RESTORE_VOLUME_DATA_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_VOLUME_DATA_FROM_BACKUP"
          }
        },
        "REUSE_VOLUME_HANDLE_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REUSE_VOLUME_HANDLE_FROM_BACKUP"
          }
        },
        "NO_VOLUME_DATA_RESTORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VOLUME_DATA_RESTORATION"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#RestoreConfigClusterResourceConflictPolicyEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_RESOURCE_CONFLICT_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_RESOURCE_CONFLICT_POLICY_UNSPECIFIED"
          }
        },
        "USE_EXISTING_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_EXISTING_VERSION"
          }
        },
        "USE_BACKUP_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BACKUP_VERSION"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.gkebackup_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.gkebackup_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#Location"
      }
    },
    "com.gcp.gkebackup_v1#Gkebackup_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.gkebackup_v1#ListRestoreChannelsResponse": {
      "type": "structure",
      "members": {
        "restoreChannels": {
          "target": "com.gcp.gkebackup_v1#RestoreChannelList",
          "traits": {
            "smithy.api#documentation": "The list of RestoreChannels matching the given criteria."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which may be sent as page_token in a subsequent `ListRestoreChannels` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListRestoreChannels."
      }
    },
    "com.gcp.gkebackup_v1#RestoreChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#RestoreChannel"
      }
    },
    "com.gcp.gkebackup_v1#Backup": {
      "type": "structure",
      "members": {
        "allNamespaces": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If True, all namespaces were included in the Backup."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Reserved for future use."
          }
        },
        "clusterMetadata": {
          "target": "com.gcp.gkebackup_v1#ClusterMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the GKE cluster from which this Backup was created."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Reserved for future use."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Completion time of the Backup"
          }
        },
        "deleteLockExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which an existing delete lock will expire for this backup (calculated from create_time + delete_lock_days)."
          }
        },
        "labels": {
          "target": "com.gcp.gkebackup_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A set of custom labels supplied by user."
          }
        },
        "encryptionKey": {
          "target": "com.gcp.gkebackup_v1#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "Output only. The customer managed encryption key that was used to encrypt the Backup's artifacts. Inherited from the parent BackupPlan's encryption_key value."
          }
        },
        "configBackupSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the config backup in bytes."
          }
        },
        "deleteLockDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum age for this Backup (in days). If this field is set to a non-zero value, the Backup will be \"locked\" against deletion (either manual or automatic deletion) for the number of days provided (measured from the creation time of the Backup). MUST be an integer value between 0-90 (inclusive). Defaults to parent BackupPlan's backup_delete_lock_days setting and may only be increased (either at creation time or in a subsequent update)."
          }
        },
        "namespaceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of user managed namespaces contained in the Backup."
          }
        },
        "troubleshootingInfo": {
          "target": "com.gcp.gkebackup_v1#TroubleshootingInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the troubleshooting steps which will provide debugging information to the end users."
          }
        },
        "selectedApplications": {
          "target": "com.gcp.gkebackup_v1#NamespacedNames",
          "traits": {
            "smithy.api#documentation": "Output only. If set, the list of ProtectedApplications whose resources were included in the Backup."
          }
        },
        "resourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of Kubernetes resources included in the Backup."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this Backup resource was created."
          }
        },
        "stateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable description of why the backup is in the current `state`. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
          }
        },
        "state": {
          "target": "com.gcp.gkebackup_v1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the Backup"
          }
        },
        "containsVolumeData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not the Backup contains volume data. Controlled by the parent BackupPlan's include_volume_data value."
          }
        },
        "containsSecrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not the Backup contains Kubernetes Secrets. Controlled by the parent BackupPlan's include_secrets value."
          }
        },
        "permissiveMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If false, Backup will fail when Backup for GKE detects Kubernetes configuration that is non-standard or requires additional setup to restore. Inherited from the parent BackupPlan's permissive_mode value."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this Backup resource was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The fully qualified name of the Backup. `projects/*/locations/*/backupPlans/*/backups/*`"
          }
        },
        "volumeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of volume backups contained in the Backup."
          }
        },
        "selectedNamespaceLabels": {
          "target": "com.gcp.gkebackup_v1#ResourceLabels",
          "traits": {
            "smithy.api#documentation": "Output only. If set, the list of labels whose constituent namespaces were included in the Backup."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total size of the Backup in bytes = config backup size + sum(volume backup sizes)"
          }
        },
        "retainExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this Backup will be automatically deleted (calculated from create_time + retain_days)."
          }
        },
        "podCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of Kubernetes Pods contained in the Backup."
          }
        },
        "retainDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The age (in days) after which this Backup will be automatically deleted. Must be an integer value >= 0: - If 0, no automatic deletion will occur for this Backup. - If not 0, this must be >= delete_lock_days and <= 365. Once a Backup is created, this value may only be increased. Defaults to the parent BackupPlan's backup_retain_days value."
          }
        },
        "manual": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This flag indicates whether this Backup resource was created manually by a user or via a schedule in the BackupPlan. A value of True means that the Backup was created manually."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User specified descriptive string for this Backup."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated global unique identifier of [UUID4](https://en.wikipedia.org/wiki/Universally_unique_identifier)"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a backup from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform backup updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackup`, and systems are expected to put that etag in the request to `UpdateBackup` or `DeleteBackup` to ensure that their change will be applied to the same version of the resource."
          }
        },
        "selectedNamespaces": {
          "target": "com.gcp.gkebackup_v1#Namespaces",
          "traits": {
            "smithy.api#documentation": "Output only. If set, the list of namespaces that were included in the Backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a request to perform a single point-in-time capture of some portion of the state of a GKE cluster, the record of the backup operation itself, and an anchor for the underlying artifacts that comprise the Backup (the config backup and VolumeBackups)."
      }
    },
    "com.gcp.gkebackup_v1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#Restore": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The target cluster into which this Restore will restore data. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*` Inherited from parent RestorePlan's cluster value."
          }
        },
        "restoreConfig": {
          "target": "com.gcp.gkebackup_v1#RestoreConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration of the Restore. Inherited from parent RestorePlan's restore_config."
          }
        },
        "troubleshootingInfo": {
          "target": "com.gcp.gkebackup_v1#TroubleshootingInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the troubleshooting steps which will provide debugging information to the end users."
          }
        },
        "volumesRestoredCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of volumes restored during the restore execution."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform restore updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestore`, and systems are expected to put that etag in the request to `UpdateRestore` or `DeleteRestore` to ensure that their change will be applied to the same version of the resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User specified descriptive string for this Restore."
          }
        },
        "labels": {
          "target": "com.gcp.gkebackup_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of custom labels supplied by user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The full name of the Restore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*`"
          }
        },
        "resourcesRestoredCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of resources restored during the restore execution."
          }
        },
        "filter": {
          "target": "com.gcp.gkebackup_v1#Filter",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Filters resources for `Restore`. If not specified, the scope of the restore will remain the same as defined in the `RestorePlan`. If this is specified and no resources are matched by the `inclusion_filters` or everything is excluded by the `exclusion_filters`, nothing will be restored. This filter can only be specified if the value of namespaced_resource_restore_mode is set to `MERGE_SKIP_ON_CONFLICT`, `MERGE_REPLACE_VOLUME_ON_CONFLICT` or `MERGE_REPLACE_ON_CONFLICT`."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of when the restore operation completed."
          }
        },
        "resourcesFailedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of resources that failed to be restored during the restore execution."
          }
        },
        "state": {
          "target": "com.gcp.gkebackup_v1#RestoreStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Restore."
          }
        },
        "volumeDataRestorePolicyOverrides": {
          "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Overrides the volume data restore policies selected in the Restore Config for override-scoped resources."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this Restore resource was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this Restore resource was created."
          }
        },
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A reference to the Backup used as the source from which this Restore will restore. Note that this Backup must be a sub-resource of the RestorePlan's backup_plan. Format: `projects/*/locations/*/backupPlans/*/backups/*`."
          }
        },
        "resourcesExcludedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of resources excluded during the restore execution."
          }
        },
        "stateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable description of why the Restore is in its current state. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents both a request to Restore some portion of a Backup into a target GKE cluster and a record of the restore operation itself."
      }
    },
    "com.gcp.gkebackup_v1#RestoreStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATING"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverride"
      }
    },
    "com.gcp.gkebackup_v1#ListRestorePlanBindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which may be sent as page_token in a subsequent `ListRestorePlanBindings` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "restorePlanBindings": {
          "target": "com.gcp.gkebackup_v1#RestorePlanBindingList",
          "traits": {
            "smithy.api#documentation": "The list of RestorePlanBindings matching the given criteria."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListRestorePlanBindings."
      }
    },
    "com.gcp.gkebackup_v1#RestorePlanBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#RestorePlanBinding"
      }
    },
    "com.gcp.gkebackup_v1#EncryptionKey": {
      "type": "structure",
      "members": {
        "gcpKmsEncryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Google Cloud KMS encryption key. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defined a customer managed encryption key that will be used to encrypt Backup artifacts."
      }
    },
    "com.gcp.gkebackup_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.gkebackup_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.gkebackup_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.gkebackup_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.gkebackup_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.gkebackup_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#AuditConfig"
      }
    },
    "com.gcp.gkebackup_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#Binding"
      }
    },
    "com.gcp.gkebackup_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.gkebackup_v1#DayOfWeekList": {
      "type": "structure",
      "members": {
        "daysOfWeek": {
          "target": "com.gcp.gkebackup_v1#DayOfWeekListDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of days of week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds repeated DaysOfWeek values as a container."
      }
    },
    "com.gcp.gkebackup_v1#DayOfWeekListDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#DayOfWeekListDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#DayOfWeekListDaysOfWeekItemEnum"
      }
    },
    "com.gcp.gkebackup_v1#VolumeBackup": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.gcp.gkebackup_v1#VolumeBackupFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format used for the volume backup."
          }
        },
        "volumeBackupHandle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A storage system-specific opaque handle to the underlying volume backup."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the VolumeBackup resource. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume backup from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume backup updates in order to avoid race conditions."
          }
        },
        "storageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The aggregate size of the underlying artifacts associated with this VolumeBackup in the backup storage. This may change over time when multiple backups of the same volume share the same backup storage location. In particular, this is likely to increase in size when the immediately preceding backup of the same volume is deleted."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Reserved for future use."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human readable message explaining why the VolumeBackup is in its current state. This field is only meant for human consumption and should not be used programmatically as this field is not guaranteed to be consistent."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. [Output Only] Reserved for future use."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this VolumeBackup resource was created."
          }
        },
        "sourcePvc": {
          "target": "com.gcp.gkebackup_v1#NamespacedName",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to the source Kubernetes PVC from which this VolumeBackup was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this VolumeBackup resource was last updated."
          }
        },
        "diskSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum size of the disk to which this VolumeBackup can be restored."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the associated underlying volume backup operation completed."
          }
        },
        "state": {
          "target": "com.gcp.gkebackup_v1#VolumeBackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this VolumeBackup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the backup of a specific persistent volume as a component of a Backup - both the record of the operation and a pointer to the underlying storage-specific artifacts."
      }
    },
    "com.gcp.gkebackup_v1#VolumeBackupFormatEnum": {
      "type": "enum",
      "members": {
        "VOLUME_BACKUP_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_BACKUP_FORMAT_UNSPECIFIED"
          }
        },
        "GCE_PERSISTENT_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE_PERSISTENT_DISK"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#VolumeBackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "SNAPSHOTTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOTTING"
          }
        },
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOADING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CLEANED_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANED_UP"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#SubstitutionRule": {
      "type": "structure",
      "members": {
        "originalValuePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. (Filtering parameter) This is a [regular expression] (https://en.wikipedia.org/wiki/Regular_expression) that is compared against the fields matched by the target_json_path expression (and must also have passed the previous filters). Substitution will not be performed against fields whose value does not match this expression. If this field is NOT specified, then ALL fields matched by the target_json_path expression will undergo substitution. Note that an empty (e.g., \"\", rather than unspecified) value for this field will only match empty fields."
          }
        },
        "targetJsonPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This is a [JSONPath] (https://kubernetes.io/docs/reference/kubectl/jsonpath/) expression that matches specific fields of candidate resources and it operates as both a filtering parameter (resources that are not matched with this expression will not be candidates for substitution) as well as a field identifier (identifies exactly which fields out of the candidate resources will be modified)."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This is the new value to set for any fields that pass the filtering and selection criteria. To remove a value from a Kubernetes resource, either leave this field unspecified, or set it to the empty string (\"\")."
          }
        },
        "targetGroupKinds": {
          "target": "com.gcp.gkebackup_v1#GroupKindList",
          "traits": {
            "smithy.api#documentation": "Optional. (Filtering parameter) Any resource subject to substitution must belong to one of the listed \"types\". If this field is not provided, no type filtering will be performed (all resources of all types matching previous filtering parameters will be candidates for substitution)."
          }
        },
        "targetNamespaces": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. (Filtering parameter) Any resource subject to substitution must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for substitution). To mix cluster-scoped and namespaced resources in the same rule, use an empty string (\"\") as one of the target namespaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation rule to be applied against Kubernetes resources as they are selected for restoration from a Backup. A rule contains both filtering logic (which resources are subject to substitution) and substitution logic."
      }
    },
    "com.gcp.gkebackup_v1#GroupKindList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#GroupKind"
      }
    },
    "com.gcp.gkebackup_v1#BDRBackupPlanJobLog": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the job."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource_type field displays the type of the protected resource."
          }
        },
        "revisedBackupRules": {
          "target": "com.gcp.gkebackup_v1#BackupRuleDetailList",
          "traits": {
            "smithy.api#documentation": "Revised Backup Plan rules."
          }
        },
        "previousBackupRules": {
          "target": "com.gcp.gkebackup_v1#BackupRuleDetailList",
          "traits": {
            "smithy.api#documentation": "Previous Backup Plan rules."
          }
        },
        "previousBackupPlanRevisionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name for previous backup plan revision"
          }
        },
        "workloadsAffectedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of workloads affected by the job."
          }
        },
        "previousBackupPlanRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly revision id e.g. v0, v1 etc."
          }
        },
        "errorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios."
          }
        },
        "jobCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category field displays the category of the job. Can be one of [UPDATE_BACKUP_PLAN]."
          }
        },
        "newBackupPlanRevisionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name for new backup plan revision"
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job_id field displays the identifier of the job being reported."
          }
        },
        "newBackupPlanRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly revision id e.g. v0, v1 etc."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the job."
          }
        },
        "backupPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical resource name for Backup Plan Plan of the job."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user readable error message. Only populated in error scenarios."
          }
        },
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error code. Only populated in error scenarios."
          }
        },
        "jobStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status field displays the status of the job. Can be one of [RUNNING,SUCCESSFUL, FAILED]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log entry for BDRBackupPlanJobLog for resources using BackupPlan based protection."
      }
    },
    "com.gcp.gkebackup_v1#BackupRuleDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#BackupRuleDetail"
      }
    },
    "com.gcp.gkebackup_v1#ResourceSelector": {
      "type": "structure",
      "members": {
        "groupKind": {
          "target": "com.gcp.gkebackup_v1#GroupKind",
          "traits": {
            "smithy.api#documentation": "Optional. Selects resources using their Kubernetes GroupKinds. If specified, only resources of provided GroupKind will be selected."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Selects resources using their namespaces. This only applies to namespace scoped resources and cannot be used for selecting cluster scoped resources. If specified, only resources in the provided namespace will be selected. If not specified, the filter will apply to both cluster scoped and namespace scoped resources (e.g. name or label). The [Namespace](https://pkg.go.dev/k8s.io/api/core/v1#Namespace) resource itself will be restored if and only if any resources within the namespace are restored."
          }
        },
        "labels": {
          "target": "com.gcp.gkebackup_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Selects resources using Kubernetes [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/). If specified, a resource will be selected if and only if the resource has all of the provided labels and all the label values match."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Selects resources using their resource names. If specified, only resources with the provided name will be selected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a selector to identify a single or a group of resources. Conditions in the selector are optional, but at least one field should be set to a non-empty value. If a condition is not specified, no restrictions will be applied on that dimension. If more than one condition is specified, a resource will be selected if and only if all conditions are met."
      }
    },
    "com.gcp.gkebackup_v1#GetBackupIndexDownloadUrlResponse": {
      "type": "structure",
      "members": {
        "signedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The signed URL for downloading the backup index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetBackupIndexDownloadUrl."
      }
    },
    "com.gcp.gkebackup_v1#BDRBackupRestoreJobLog": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the job."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource_type field displays the type of the protected resource."
          }
        },
        "backupRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the backup rule. Only populated for Scheduled Backup and Adhoc Backup."
          }
        },
        "restoreResourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restore resource location."
          }
        },
        "backupRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backup retention in days."
          }
        },
        "dataSourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical Data Source Name"
          }
        },
        "backupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name of the backup created in backup jobs and used in restore jobs."
          }
        },
        "jobCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category field displays the category of the job."
          }
        },
        "sourceResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name of the protected resource."
          }
        },
        "incrementalBackupSizeGib": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of incremental backup data copied."
          }
        },
        "recoveryPointTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recovery point time."
          }
        },
        "errorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios."
          }
        },
        "backupVaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name backup vault name"
          }
        },
        "backupConsistencyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup consistency time."
          }
        },
        "targetResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target resource type for restore jobs."
          }
        },
        "sourceResourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source resource location."
          }
        },
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error code. Only populated in error scenarios."
          }
        },
        "restoreResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name of the restore resource. Only populated in restore jobs."
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source resource ID."
          }
        },
        "jobStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status field displays the status of the job."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job_id field displays the identifier of the job being logged."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the job."
          }
        },
        "backupPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name for Backup Plan of the job. Only populated for Scheduled Backup and Adhoc Backup."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user readable error message. Only populated in error scenarios."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log entry for Backup and Restore Job for resources using BackupPlan based protection. Next Id: 25"
      }
    },
    "com.gcp.gkebackup_v1#RetentionPolicyDetails": {
      "type": "structure",
      "members": {
        "backupDeleteLockDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)"
          }
        },
        "backupRetainDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Default: 0 (no automatic deletion)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RetentionPolicyDetails defines a Backup retention policy for a BackupPlan."
      }
    },
    "com.gcp.gkebackup_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.gkebackup_v1#GroupKindDependency": {
      "type": "structure",
      "members": {
        "satisfying": {
          "target": "com.gcp.gkebackup_v1#GroupKind",
          "traits": {
            "smithy.api#documentation": "Required. The satisfying group kind must be restored first in order to satisfy the dependency."
          }
        },
        "requiring": {
          "target": "com.gcp.gkebackup_v1#GroupKind",
          "traits": {
            "smithy.api#documentation": "Required. The requiring group kind requires that the other group kind be restored first."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a dependency between two group kinds."
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBinding": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope."
          }
        },
        "volumeType": {
          "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingVolumeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The volume type, as determined by the PVC's bound PV, to apply the policy to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binds resources in the scope to the given VolumeDataRestorePolicy."
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingPolicyEnum": {
      "type": "enum",
      "members": {
        "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED"
          }
        },
        "RESTORE_VOLUME_DATA_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_VOLUME_DATA_FROM_BACKUP"
          }
        },
        "REUSE_VOLUME_HANDLE_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REUSE_VOLUME_HANDLE_FROM_BACKUP"
          }
        },
        "NO_VOLUME_DATA_RESTORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VOLUME_DATA_RESTORATION"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyBindingVolumeTypeEnum": {
      "type": "enum",
      "members": {
        "VOLUME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_TYPE_UNSPECIFIED"
          }
        },
        "GCE_PERSISTENT_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE_PERSISTENT_DISK"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#BackupConfig": {
      "type": "structure",
      "members": {
        "allNamespaces": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If True, include all namespaced resources"
          }
        },
        "selectedNamespaceLabels": {
          "target": "com.gcp.gkebackup_v1#ResourceLabels",
          "traits": {
            "smithy.api#documentation": "If set, the list of labels whose constituent namespaces were included in the Backup."
          }
        },
        "includeSecrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False"
          }
        },
        "includeVolumeData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False"
          }
        },
        "permissiveMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If false, Backups will fail when Backup for GKE detects Kubernetes configuration that is non-standard or requires additional setup to restore. Default: False"
          }
        },
        "selectedNamespaces": {
          "target": "com.gcp.gkebackup_v1#Namespaces",
          "traits": {
            "smithy.api#documentation": "If set, include just the resources in the listed namespaces."
          }
        },
        "selectedApplications": {
          "target": "com.gcp.gkebackup_v1#NamespacedNames",
          "traits": {
            "smithy.api#documentation": "If set, include just the resources referenced by the listed ProtectedApplications."
          }
        },
        "encryptionKey": {
          "target": "com.gcp.gkebackup_v1#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "Optional. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupConfig defines the configuration of Backups created via this BackupPlan."
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverride": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverridePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope."
          }
        },
        "selectedPvcs": {
          "target": "com.gcp.gkebackup_v1#NamespacedNames",
          "traits": {
            "smithy.api#documentation": "A list of PVCs to apply the policy override to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an override to apply a VolumeDataRestorePolicy for scoped resources."
      }
    },
    "com.gcp.gkebackup_v1#VolumeDataRestorePolicyOverridePolicyEnum": {
      "type": "enum",
      "members": {
        "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED"
          }
        },
        "RESTORE_VOLUME_DATA_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_VOLUME_DATA_FROM_BACKUP"
          }
        },
        "REUSE_VOLUME_HANDLE_FROM_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REUSE_VOLUME_HANDLE_FROM_BACKUP"
          }
        },
        "NO_VOLUME_DATA_RESTORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VOLUME_DATA_RESTORATION"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#NamespacedName": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Namespace of the Kubernetes resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Kubernetes resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a namespaced resource in Kubernetes."
      }
    },
    "com.gcp.gkebackup_v1#ListBackupPlansResponse": {
      "type": "structure",
      "members": {
        "backupPlans": {
          "target": "com.gcp.gkebackup_v1#BackupPlanList",
          "traits": {
            "smithy.api#documentation": "The list of BackupPlans matching the given criteria."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListBackupPlans."
      }
    },
    "com.gcp.gkebackup_v1#BackupPlanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkebackup_v1#BackupPlan"
      }
    },
    "com.gcp.gkebackup_v1#TroubleshootingInfo": {
      "type": "structure",
      "members": {
        "stateReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique code for each backup/restore operation failure message which helps user identify the failure."
          }
        },
        "stateReasonUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL for the troubleshooting doc which will help the user fix the failing backup/restore operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores information about troubleshooting doc for debugging a particular state of an operation (eg - backup/restore). This will be used by the end user to debug their operation failure scenario easily."
      }
    },
    "com.gcp.gkebackup_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.gkebackup_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.gkebackup_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.gkebackup_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.gkebackup_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.gkebackup_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.gkebackup_v1#BackupPlanBinding": {
      "type": "structure",
      "members": {
        "backupPlan": {
          "target": "smithy.api#String",
          "traits": {
[...]
