{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v2",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v2#PolicyControllerTemplateLibraryConfig": {
      "type": "structure",
      "members": {
        "installation": {
          "target": "com.gcp.gkehub_v2#PolicyControllerTemplateLibraryConfigInstallationEnum",
          "traits": {
            "smithy.api#documentation": "Configures the manner in which the template library is installed on the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config specifying which default library templates to install."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerTemplateLibraryConfigInstallationEnum": {
      "type": "enum",
      "members": {
        "INSTALLATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshAnalysisMessage": {
      "type": "structure",
      "members": {
        "resourcePaths": {
          "target": "com.gcp.gkehub_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
          }
        },
        "messageBase": {
          "target": "com.gcp.gkehub_v2#ServiceMeshAnalysisMessageBase",
          "traits": {
            "smithy.api#documentation": "Details common to all types of Istio and ServiceMesh analysis messages."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of what the error means. It is suitable for non-internationalize display purposes."
          }
        },
        "args": {
          "target": "com.gcp.gkehub_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration."
      }
    },
    "com.gcp.gkehub_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.gkehub_v2#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.gkehub_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.gkehub_v2#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.gkehub_v2#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#Operation"
      }
    },
    "com.gcp.gkehub_v2#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.gkehub_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.gkehub_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#DocumentMap"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyController": {
      "type": "structure",
      "members": {
        "logDeniesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Logs all denies and dry run failures."
          }
        },
        "mutationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
          }
        },
        "templateLibraryInstalled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Installs the default template library along with Policy Controller."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last time this membership spec was updated."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
          }
        },
        "auditIntervalSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
          }
        },
        "exemptableNamespaces": {
          "target": "com.gcp.gkehub_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
          }
        },
        "referentialRulesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
          }
        },
        "monitoring": {
          "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoring",
          "traits": {
            "smithy.api#documentation": "Monitoring specifies the configuration of monitoring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Policy Controller"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of Config Sync"
      }
    },
    "com.gcp.gkehub_v2#MeteringState": {
      "type": "structure",
      "members": {
        "lastMeasurementTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time stamp of the most recent measurement of the number of vCPUs in the cluster."
          }
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Metering**: State for a single membership, analyzed and reported by feature controller."
      }
    },
    "com.gcp.gkehub_v2#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.gkehub_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.gkehub_v2#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.gkehub_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.gkehub_v2#RBACRoleBindingActuationSpec": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature."
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshState": {
      "type": "structure",
      "members": {
        "controlPlaneManagement": {
          "target": "com.gcp.gkehub_v2#ServiceMeshControlPlaneManagement",
          "traits": {
            "smithy.api#documentation": "Output only. Status of control plane management"
          }
        },
        "configApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
          }
        },
        "analysisMessages": {
          "target": "com.gcp.gkehub_v2#ServiceMeshAnalysisMessageList",
          "traits": {
            "smithy.api#documentation": "Output only. Results of running Service Mesh analyzers."
          }
        },
        "dataPlaneManagement": {
          "target": "com.gcp.gkehub_v2#ServiceMeshDataPlaneManagement",
          "traits": {
            "smithy.api#documentation": "Output only. Status of data plane management."
          }
        },
        "conditions": {
          "target": "com.gcp.gkehub_v2#ServiceMeshConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. List of conditions reported for this membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshAnalysisMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ServiceMeshAnalysisMessage"
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ServiceMeshCondition"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerConfig": {
      "type": "structure",
      "members": {
        "enablePodTreeLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pod tree labels are enabled in this cluster."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Hierarchy Controller is enabled in this cluster."
          }
        },
        "enableHierarchicalResourceQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether hierarchical resource quota is enabled in this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Hierarchy Controller."
      }
    },
    "com.gcp.gkehub_v2#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.gkehub_v2#CloudBuildSpec": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the cloud build software on the cluster."
          }
        },
        "securityPolicy": {
          "target": "com.gcp.gkehub_v2#CloudBuildSpecSecurityPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Whether it is allowed to run the privileged builds on the cluster or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Cloud Build**: Configurations for each Cloud Build enabled cluster."
      }
    },
    "com.gcp.gkehub_v2#CloudBuildSpecSecurityPolicyEnum": {
      "type": "enum",
      "members": {
        "SECURITY_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_POLICY_UNSPECIFIED"
          }
        },
        "NON_PRIVILEGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_PRIVILEGED"
          }
        },
        "PRIVILEGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#Origin": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v2#OriginTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type specifies which type of origin is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Origin defines where this FeatureSpec originated from."
      }
    },
    "com.gcp.gkehub_v2#OriginTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "FLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET"
          }
        },
        "FLEET_OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_OUT_OF_SYNC"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#RBACRoleBindingActuationRBACRoleBindingState": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for the failure."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v2#RBACRoleBindingActuationRBACRoleBindingStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the RBACRoleBinding."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the RBACRoleBinding status was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership."
      }
    },
    "com.gcp.gkehub_v2#RBACRoleBindingActuationRBACRoleBindingStateStateEnum": {
      "type": "enum",
      "members": {
        "ROLE_BINDING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_BINDING_STATE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "CUSTOM_ROLE_MISSING_FROM_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceServiceAccountConfig": {
      "type": "structure",
      "members": {
        "simpleBindCredentials": {
          "target": "com.gcp.gkehub_v2#IdentityServiceSimpleBindCredentials",
          "traits": {
            "smithy.api#documentation": "Credentials for basic auth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentState": {
      "type": "structure",
      "members": {
        "gitSync": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateGitSyncEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of the git-sync pod."
          }
        },
        "monitor": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateMonitorEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of the monitor pod."
          }
        },
        "reconcilerManager": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateReconcilerManagerEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of reconciler-manager pod."
          }
        },
        "rootReconciler": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateRootReconcilerEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of root-reconciler."
          }
        },
        "admissionWebhook": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateAdmissionWebhookEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of admission-webhook."
          }
        },
        "otelCollector": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateOtelCollectorEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of otel-collector"
          }
        },
        "importer": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateImporterEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of the importer pod."
          }
        },
        "syncer": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateSyncerEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of the syncer pod."
          }
        },
        "resourceGroupControllerManager": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateResourceGroupControllerManagerEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state of resource-group-controller-manager"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of ConfigSync's deployment on a cluster."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateGitSyncEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateMonitorEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateReconcilerManagerEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateRootReconcilerEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateAdmissionWebhookEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateOtelCollectorEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateImporterEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateSyncerEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentStateResourceGroupControllerManagerEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.gkehub_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.gkehub_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerBundleInstallSpec": {
      "type": "structure",
      "members": {
        "exemptedNamespaces": {
          "target": "com.gcp.gkehub_v2#StringList",
          "traits": {
            "smithy.api#documentation": "the set of namespaces to be exempted from the bundle"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BundleInstallSpec is the specification configuration for a single managed bundle."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceSpec": {
      "type": "structure",
      "members": {
        "authMethods": {
          "target": "com.gcp.gkehub_v2#IdentityServiceAuthMethodList",
          "traits": {
            "smithy.api#documentation": "A member may support multiple auth methods."
          }
        },
        "identityServiceOptions": {
          "target": "com.gcp.gkehub_v2#IdentityServiceIdentityServiceOptions",
          "traits": {
            "smithy.api#documentation": "Optional. non-protocol-related configuration options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**IdentityService**: Configuration for a single membership."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceAuthMethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#IdentityServiceAuthMethod"
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceAuthMethod": {
      "type": "structure",
      "members": {
        "samlConfig": {
          "target": "com.gcp.gkehub_v2#IdentityServiceSamlConfig",
          "traits": {
            "smithy.api#documentation": "SAML specific configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for auth config."
          }
        },
        "oidcConfig": {
          "target": "com.gcp.gkehub_v2#IdentityServiceOidcConfig",
          "traits": {
            "smithy.api#documentation": "OIDC specific configuration."
          }
        },
        "ldapConfig": {
          "target": "com.gcp.gkehub_v2#IdentityServiceLdapConfig",
          "traits": {
            "smithy.api#documentation": "LDAP specific configuration."
          }
        },
        "proxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proxy server address to use for auth method."
          }
        },
        "azureadConfig": {
          "target": "com.gcp.gkehub_v2#IdentityServiceAzureADConfig",
          "traits": {
            "smithy.api#documentation": "AzureAD specific Configuration."
          }
        },
        "googleConfig": {
          "target": "com.gcp.gkehub_v2#IdentityServiceGoogleConfig",
          "traits": {
            "smithy.api#documentation": "GoogleConfig specific configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMigration": {
      "type": "structure",
      "members": {
        "copyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this membership spec was copied to PoCo feature."
          }
        },
        "stage": {
          "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMigrationStageEnum",
          "traits": {
            "smithy.api#documentation": "Stage of the migration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for the migration of PolicyController from ACM -> PoCo Hub."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMigrationStageEnum": {
      "type": "enum",
      "members": {
        "STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_UNSPECIFIED"
          }
        },
        "ACM_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACM_MANAGED"
          }
        },
        "POCO_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POCO_MANAGED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentState",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller."
          }
        },
        "version": {
          "target": "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerVersion",
          "traits": {
            "smithy.api#documentation": "The version for Hierarchy Controller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for Hierarchy Controller."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceDiagnosticInterface": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether to enable the diagnostic interface."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the AIS diagnostic interface."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerState": {
      "type": "structure",
      "members": {
        "migration": {
          "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMigration",
          "traits": {
            "smithy.api#documentation": "Record state of ACM -> PoCo Hub migration for this feature."
          }
        },
        "deploymentState": {
          "target": "com.gcp.gkehub_v2#ConfigManagementGatekeeperDeploymentState",
          "traits": {
            "smithy.api#documentation": "The state about the policy controller installation."
          }
        },
        "version": {
          "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerVersion",
          "traits": {
            "smithy.api#documentation": "The version of Gatekeeper Policy Controller deployed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for PolicyControllerState."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementContainerOverride": {
      "type": "structure",
      "members": {
        "cpuLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        },
        "memoryLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        },
        "memoryRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the container."
          }
        },
        "cpuRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a container override."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceSimpleBindCredentials": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the service account object/user."
          }
        },
        "encryptedPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The encrypted password of the service account object/user."
          }
        },
        "dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The distinguished name(DN) of the service account object/user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The structure holds the LDAP simple binding credential."
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshStatusDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable code that further describes a broad status."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured and human-readable details for a status."
      }
    },
    "com.gcp.gkehub_v2#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the long-running operation."
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshSpec": {
      "type": "structure",
      "members": {
        "controlPlane": {
          "target": "com.gcp.gkehub_v2#ServiceMeshSpecControlPlaneEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `management` instead Enables automatic control plane management."
          }
        },
        "defaultChannel": {
          "target": "com.gcp.gkehub_v2#ServiceMeshSpecDefaultChannelEnum",
          "traits": {
            "smithy.api#documentation": "Determines which release channel to use for default injection and service mesh APIs."
          }
        },
        "management": {
          "target": "com.gcp.gkehub_v2#ServiceMeshSpecManagementEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Enables automatic Service Mesh management."
          }
        },
        "configApi": {
          "target": "com.gcp.gkehub_v2#ServiceMeshSpecConfigApiEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the API that will be used for configuring the mesh workloads."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshSpecControlPlaneEnum": {
      "type": "enum",
      "members": {
        "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshSpecDefaultChannelEnum": {
      "type": "enum",
      "members": {
        "CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_UNSPECIFIED"
          }
        },
        "RAPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAPID"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshSpecManagementEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "MANAGEMENT_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_AUTOMATIC"
          }
        },
        "MANAGEMENT_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MANUAL"
          }
        },
        "MANAGEMENT_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_NOT_INSTALLED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ServiceMeshSpecConfigApiEnum": {
      "type": "enum",
      "members": {
        "CONFIG_API_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_UNSPECIFIED"
          }
        },
        "CONFIG_API_ISTIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_ISTIO"
          }
        },
        "CONFIG_API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_GATEWAY"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementOperatorState": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The semenatic version number of the operator."
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v2#ConfigManagementInstallErrorList",
          "traits": {
            "smithy.api#documentation": "Install errors."
          }
        },
        "deploymentState": {
          "target": "com.gcp.gkehub_v2#ConfigManagementOperatorStateDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the Operator's deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State information for an ACM's Operator."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementInstallErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ConfigManagementInstallError"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementOperatorStateDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementErrorResource": {
      "type": "structure",
      "members": {
        "resourceGvk": {
          "target": "com.gcp.gkehub_v2#ConfigManagementGroupVersionKind",
          "traits": {
            "smithy.api#documentation": "Group/version/kind of the resource that is causing an error"
          }
        },
        "sourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path in the git repo of the erroneous config"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata name of the resource that is causing an error"
          }
        },
        "resourceNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace of the resource that is causing an error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model for a config file in the git repo with an associated Sync error."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementSyncError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ACM defined error code"
          }
        },
        "errorResources": {
          "target": "com.gcp.gkehub_v2#ConfigManagementErrorResourceList",
          "traits": {
            "smithy.api#documentation": "A list of config(s) associated with the error, if any"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ACM created error representing a problem syncing configurations."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementErrorResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ConfigManagementErrorResource"
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceServerConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
          }
        },
        "connectionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty."
          }
        },
        "certificateAuthorityData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server settings for the external LDAP server."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerResourceList": {
      "type": "structure",
      "members": {
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory requirement expressed in Kubernetes resource units."
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU requirement expressed in Kubernetes resource units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceList contains container resource requirements."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementBinauthzConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether binauthz is enabled in this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Binauthz."
      }
    },
    "com.gcp.gkehub_v2#MembershipFeature": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.gkehub_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Google Cloud labels for this MembershipFeature."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.gkehub_v2#LifecycleState",
          "traits": {
            "smithy.api#documentation": "Output only. Lifecycle information of the resource itself."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v2#FeatureState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the this membershipFeature."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the MembershipFeature resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the MembershipFeature resource was last updated."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the MembershipFeature resource was deleted."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)"
          }
        },
        "spec": {
          "target": "com.gcp.gkehub_v2#FeatureSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Spec of this membershipFeature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipFeature represents the settings and status of a Fleet Feature enabled on a single Fleet Membership."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of CS This field summarizes the other fields in this message."
          }
        },
        "rootsyncCrd": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateRootsyncCrdEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the RootSync CRD"
          }
        },
        "reposyncCrd": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateReposyncCrdEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Reposync CRD"
          }
        },
        "syncState": {
          "target": "com.gcp.gkehub_v2#ConfigManagementSyncState",
          "traits": {
            "smithy.api#documentation": "Output only. The state of ConfigSync's process to sync configs to a cluster."
          }
        },
        "version": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncVersion",
          "traits": {
            "smithy.api#documentation": "Output only. The version of ConfigSync deployed."
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors pertaining to the installation of Config Sync."
          }
        },
        "deploymentState": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncDeploymentState",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed"
          }
        },
        "clusterLevelStopSyncingState": {
          "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateClusterLevelStopSyncingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether syncing resources to the cluster is stopped at the cluster level."
          }
        },
        "crCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of RootSync and RepoSync CRs in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State information for ConfigSync."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONFIG_SYNC_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_NOT_INSTALLED"
          }
        },
        "CONFIG_SYNC_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_INSTALLED"
          }
        },
        "CONFIG_SYNC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_ERROR"
          }
        },
        "CONFIG_SYNC_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateRootsyncCrdEnum": {
      "type": "enum",
      "members": {
        "CRD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRD_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateReposyncCrdEnum": {
      "type": "enum",
      "members": {
        "CRD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRD_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ConfigManagementConfigSyncError"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementConfigSyncStateClusterLevelStopSyncingStateEnum": {
      "type": "enum",
      "members": {
        "STOP_SYNCING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_SYNCING_STATE_UNSPECIFIED"
          }
        },
        "NOT_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STOPPED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#State": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current status."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v2#StateCodeEnum",
          "traits": {
            "smithy.api#documentation": "The high-level, machine-readable status of this MembershipFeature."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this status and any related Feature-specific details were updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High-level state of a MembershipFeature."
      }
    },
    "com.gcp.gkehub_v2#StateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoring": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoringBackendsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoringBackendsItemEnum": {
      "type": "enum",
      "members": {
        "MONITORING_BACKEND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_BACKEND_UNSPECIFIED"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "CLOUD_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_MONITORING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoringBackendsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#ConfigManagementPolicyControllerMonitoringBackendsItemEnum"
      }
    },
    "com.gcp.gkehub_v2#LifecycleState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2#LifecycleStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Feature resource in the Hub API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature."
      }
    },
    "com.gcp.gkehub_v2#LifecycleStateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "SERVICE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementBinauthzState": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.gkehub_v2#ConfigManagementBinauthzVersion",
          "traits": {
            "smithy.api#documentation": "The version of binauthz that is installed."
          }
        },
        "webhook": {
          "target": "com.gcp.gkehub_v2#ConfigManagementBinauthzStateWebhookEnum",
          "traits": {
            "smithy.api#documentation": "The state of the binauthz webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for Binauthz."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementBinauthzStateWebhookEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerSpec": {
      "type": "structure",
      "members": {
        "policyControllerHubConfig": {
          "target": "com.gcp.gkehub_v2#PolicyControllerHubConfig",
          "traits": {
            "smithy.api#documentation": "Policy Controller configuration for the cluster."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Policy Controller installed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceGoogleConfig": {
      "type": "structure",
      "members": {
        "disable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable automatic configuration of Google Plugin on supported platforms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Google Plugin Auth flow."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceOidcConfig": {
      "type": "structure",
      "members": {
        "userPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to user name."
          }
        },
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
          }
        },
        "groupsClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds group information."
          }
        },
        "encryptedClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Encrypted OIDC Client secret"
          }
        },
        "groupPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to group name."
          }
        },
        "enableAccessToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable access token."
          }
        },
        "deployCloudConsoleProxy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
          }
        },
        "certificateAuthorityData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM-encoded CA for OIDC provider."
          }
        },
        "kubectlRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
          }
        },
        "userClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds username."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for OIDC client application."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
          }
        },
        "extraParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of key-value pairs."
          }
        },
        "scopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of identifiers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for OIDC Auth flow."
      }
    },
    "com.gcp.gkehub_v2#WorkloadIdentityIdentityProviderStateDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v2#WorkloadIdentityIdentityProviderStateDetailCodeEnum",
          "traits": {
            "smithy.api#documentation": "The state of the Identity Provider."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current state or returned error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IdentityProviderStateDetail represents the state of an Identity Provider."
      }
    },
    "com.gcp.gkehub_v2#WorkloadIdentityIdentityProviderStateDetailCodeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_PROVIDER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_UNSPECIFIED"
          }
        },
        "IDENTITY_PROVIDER_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_OK"
          }
        },
        "IDENTITY_PROVIDER_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceUserConfig": {
      "type": "structure",
      "members": {
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
          }
        },
        "loginAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for user entries."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines where users exist in the LDAP directory."
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceSamlConfig": {
      "type": "structure",
      "members": {
        "userPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Prefix to prepend to user name."
          }
        },
        "identityProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The entity ID of the SAML IdP."
          }
        },
        "identityProviderCertificates": {
          "target": "com.gcp.gkehub_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of IdP certificates to validate the SAML response against."
          }
        },
        "userAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
          }
        },
        "groupsAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
          }
        },
        "groupPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Prefix to prepend to group name."
          }
        },
        "identityProviderSsoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI where the SAML IdP exposes the SSO service."
          }
        },
        "attributeMapping": {
          "target": "com.gcp.gkehub_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the SAML Auth flow."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementInstallError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of ACM."
      }
    },
    "com.gcp.gkehub_v2#WorkloadCertificateSpec": {
      "type": "structure",
      "members": {
        "certificateManagement": {
          "target": "com.gcp.gkehub_v2#WorkloadCertificateSpecCertificateManagementEnum",
          "traits": {
            "smithy.api#documentation": "CertificateManagement specifies workload certificate management."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature."
      }
    },
    "com.gcp.gkehub_v2#WorkloadCertificateSpecCertificateManagementEnum": {
      "type": "enum",
      "members": {
        "CERTIFICATE_MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_MANAGEMENT_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#IdentityServiceGroupConfig": {
      "type": "structure",
      "members": {
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for group entries."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the properties for locating and authenticating groups in the directory."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerMonitoringConfig": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.gcp.gkehub_v2#PolicyControllerMonitoringConfigBackendsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerMonitoringConfigBackendsItemEnum": {
      "type": "enum",
      "members": {
        "MONITORING_BACKEND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_BACKEND_UNSPECIFIED"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "CLOUD_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_MONITORING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerMonitoringConfigBackendsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#PolicyControllerMonitoringConfigBackendsItemEnum"
      }
    },
    "com.gcp.gkehub_v2#FeatureState": {
      "type": "structure",
      "members": {
        "servicemesh": {
          "target": "com.gcp.gkehub_v2#ServiceMeshState",
          "traits": {
            "smithy.api#documentation": "Service mesh state"
          }
        },
        "configmanagement": {
          "target": "com.gcp.gkehub_v2#ConfigManagementState",
          "traits": {
            "smithy.api#documentation": "Config Management state"
          }
        },
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v2#ClusterUpgradeState",
          "traits": {
            "smithy.api#documentation": "Cluster upgrade state."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v2#RBACRoleBindingActuationState",
          "traits": {
            "smithy.api#documentation": "RBAC Role Binding Actuation state"
          }
        },
        "identityservice": {
          "target": "com.gcp.gkehub_v2#IdentityServiceState",
          "traits": {
            "smithy.api#documentation": "Identity service state"
          }
        },
        "appdevexperience": {
          "target": "com.gcp.gkehub_v2#AppDevExperienceState",
          "traits": {
            "smithy.api#documentation": "Appdevexperience specific state."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v2#State",
          "traits": {
            "smithy.api#documentation": "The high-level state of this MembershipFeature."
          }
        },
        "metering": {
          "target": "com.gcp.gkehub_v2#MeteringState",
          "traits": {
            "smithy.api#documentation": "Metering state"
          }
        },
        "workloadidentity": {
          "target": "com.gcp.gkehub_v2#WorkloadIdentityState",
          "traits": {
            "smithy.api#documentation": "Workload Identity state"
          }
        },
        "policycontroller": {
          "target": "com.gcp.gkehub_v2#PolicyControllerState",
          "traits": {
            "smithy.api#documentation": "Policy Controller state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentState": {
      "type": "structure",
      "members": {
        "hnc": {
          "target": "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentStateHncEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)."
          }
        },
        "extension": {
          "target": "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment state for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentStateHncEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerPolicyControllerDeploymentConfig": {
      "type": "structure",
      "members": {
        "podAntiAffinity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead."
          }
        },
        "podAffinity": {
          "target": "com.gcp.gkehub_v2#PolicyControllerPolicyControllerDeploymentConfigPodAffinityEnum",
          "traits": {
            "smithy.api#documentation": "Pod affinity configuration."
          }
        },
        "replicaCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pod replica count."
          }
        },
        "containerResources": {
          "target": "com.gcp.gkehub_v2#PolicyControllerResourceRequirements",
          "traits": {
            "smithy.api#documentation": "Container resource requirements."
          }
        },
        "podTolerations": {
          "target": "com.gcp.gkehub_v2#PolicyControllerTolerationList",
          "traits": {
            "smithy.api#documentation": "Pod tolerations of node taints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment-specific configuration."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerPolicyControllerDeploymentConfigPodAffinityEnum": {
      "type": "enum",
      "members": {
        "AFFINITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_UNSPECIFIED"
          }
        },
        "NO_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AFFINITY"
          }
        },
        "ANTI_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTI_AFFINITY"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerTolerationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2#PolicyControllerToleration"
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementOciConfig": {
      "type": "structure",
      "members": {
        "gcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
          }
        },
        "syncRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
          }
        },
        "syncWaitSecs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period in seconds between consecutive syncs. Default: 15."
          }
        },
        "secretType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
          }
        },
        "policyDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OCI repo configuration for a single cluster."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementBinauthzVersion": {
      "type": "structure",
      "members": {
        "webhookVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the binauthz webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of binauthz."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerOnClusterState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2#PolicyControllerOnClusterStateStateEnum",
          "traits": {
            "smithy.api#documentation": "The lifecycle state of this component."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Surface potential errors or information logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OnClusterState represents the state of a sub-component of Policy Controller."
      }
    },
    "com.gcp.gkehub_v2#PolicyControllerOnClusterStateStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DECOMMISSIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMMISSIONING"
          }
        },
        "CLUSTER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ERROR"
          }
        },
        "HUB_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUB_ERROR"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementSyncState": {
      "type": "structure",
      "members": {
        "importToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the importer."
          }
        },
        "syncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the syncer."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v2#ConfigManagementSyncStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Sync status code."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp type of when ACM last successfully synced the repo."
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v2#ConfigManagementSyncErrorList",
          "traits": {
            "smithy.api#documentation": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the repo."
          }
        },
        "lastSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State indicating an ACM's progress syncing configurations to a cluster."
      }
    },
    "com.gcp.gkehub_v2#ConfigManagementSyncStateCodeEnum": {
      "type": "enum",
      "members": {
        "SYNC_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_CODE_UNSPECIFIED"
          }
        },
        "SYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONFIGURED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
[...]
