{
  "smithy": "2.0",
  "metadata": {
    "service": "gkeonprem",
    "version": "v1",
    "title": "GKE On-Prem API",
    "baseUrl": "https://gkeonprem.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkeonprem_v1#BareMetalDrainingMachine": {
      "type": "structure",
      "members": {
        "nodeIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Draining machine IP address."
          }
        },
        "podCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of pods yet to drain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a machine that is currently draining."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareNetworkConfig": {
      "type": "structure",
      "members": {
        "vcenterNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vcenter_network specifies vCenter network name. Inherited from the admin cluster."
          }
        },
        "hostConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareHostConfig",
          "traits": {
            "smithy.api#documentation": "Represents common network settings irrespective of the host's IP address."
          }
        },
        "controlPlaneV2Config": {
          "target": "com.gcp.gkeonprem_v1#VmwareControlPlaneV2Config",
          "traits": {
            "smithy.api#documentation": "Configuration for control plane V2 mode."
          }
        },
        "serviceAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
          }
        },
        "podAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
          }
        },
        "staticIpConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareStaticIpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration settings for a static IP configuration."
          }
        },
        "dhcpIpConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareDhcpIpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration settings for a DHCP IP configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies network config for the VMware user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalKubeletConfig": {
      "type": "structure",
      "members": {
        "registryPullQps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5."
          }
        },
        "registryBurst": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10."
          }
        },
        "serializeImagePullsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options)."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminControlPlaneConfig": {
      "type": "structure",
      "members": {
        "controlPlaneNodePoolConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminControlPlaneNodePoolConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster."
          }
        },
        "apiServerArgs": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminApiServerArgumentList",
          "traits": {
            "smithy.api#documentation": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminControlPlaneConfig specifies the control plane configuration."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminApiServerArgumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalAdminApiServerArgument"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalCluster": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty"
          }
        },
        "validationCheck": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheck",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the preflight check."
          }
        },
        "osEnvironmentConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalOsEnvironmentConfig",
          "traits": {
            "smithy.api#documentation": "OS environment related configurations."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set, there are currently changes in flight to the bare metal user cluster."
          }
        },
        "adminClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the bare metal admin cluster managing this user cluster."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the bare metal user cluster."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of the bare metal user cluster's API server."
          }
        },
        "controlPlane": {
          "target": "com.gcp.gkeonprem_v1#BareMetalControlPlaneConfig",
          "traits": {
            "smithy.api#documentation": "Required. Control plane configuration."
          }
        },
        "securityConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalSecurityConfig",
          "traits": {
            "smithy.api#documentation": "Security related setting configuration."
          }
        },
        "bareMetalVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Anthos clusters on bare metal version for your user cluster."
          }
        },
        "proxy": {
          "target": "com.gcp.gkeonprem_v1#BareMetalProxyConfig",
          "traits": {
            "smithy.api#documentation": "Proxy configuration."
          }
        },
        "upgradePolicy": {
          "target": "com.gcp.gkeonprem_v1#BareMetalClusterUpgradePolicy",
          "traits": {
            "smithy.api#documentation": "The cluster upgrade policy."
          }
        },
        "status": {
          "target": "com.gcp.gkeonprem_v1#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed cluster status."
          }
        },
        "storage": {
          "target": "com.gcp.gkeonprem_v1#BareMetalStorageConfig",
          "traits": {
            "smithy.api#documentation": "Required. Storage configuration."
          }
        },
        "nodeAccessConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNodeAccessConfig",
          "traits": {
            "smithy.api#documentation": "Node access related configurations."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of this bare metal user cluster."
          }
        },
        "maintenanceStatus": {
          "target": "com.gcp.gkeonprem_v1#BareMetalMaintenanceStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of on-going maintenance tasks."
          }
        },
        "networkConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Required. Network configuration."
          }
        },
        "maintenanceConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalMaintenanceConfig",
          "traits": {
            "smithy.api#documentation": "Maintenance configuration."
          }
        },
        "localNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The namespace of the cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The bare metal user cluster resource name."
          }
        },
        "state": {
          "target": "com.gcp.gkeonprem_v1#BareMetalClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the bare metal user cluster."
          }
        },
        "localName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl."
          }
        },
        "binaryAuthorization": {
          "target": "com.gcp.gkeonprem_v1#BinaryAuthorization",
          "traits": {
            "smithy.api#documentation": "Binary Authorization related configurations."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the bare metal user cluster was created."
          }
        },
        "fleet": {
          "target": "com.gcp.gkeonprem_v1#Fleet",
          "traits": {
            "smithy.api#documentation": "Output only. Fleet configuration for the cluster."
          }
        },
        "nodeConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalWorkloadNodeConfig",
          "traits": {
            "smithy.api#documentation": "Workload node configuration."
          }
        },
        "loadBalancer": {
          "target": "com.gcp.gkeonprem_v1#BareMetalLoadBalancerConfig",
          "traits": {
            "smithy.api#documentation": "Required. Load balancer configuration."
          }
        },
        "clusterOperations": {
          "target": "com.gcp.gkeonprem_v1#BareMetalClusterOperationsConfig",
          "traits": {
            "smithy.api#documentation": "Cluster operations configuration."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the bare metal user cluster was last updated."
          }
        },
        "annotations": {
          "target": "com.gcp.gkeonprem_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "adminClusterMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource that represents a bare metal user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkeonprem_v1#VmwareLoadBalancerConfig": {
      "type": "structure",
      "members": {
        "vipConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareVipConfig",
          "traits": {
            "smithy.api#documentation": "The VIPs used by the load balancer."
          }
        },
        "f5Config": {
          "target": "com.gcp.gkeonprem_v1#VmwareF5BigIpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for F5 Big IP typed load balancers."
          }
        },
        "manualLbConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareManualLbConfig",
          "traits": {
            "smithy.api#documentation": "Manually configured load balancers."
          }
        },
        "seesawConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareSeesawConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration for Seesaw typed load balancers."
          }
        },
        "metalLbConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareMetalLbConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for MetalLB typed load balancers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the locad balancer config for the VMware user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminMetalLbConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether MetalLB is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckResult": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the validation check."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of the validation."
          }
        },
        "state": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheckResultStateEnum",
          "traits": {
            "smithy.api#documentation": "The validation check state."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable message of the check failure."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed failure information, which might be unformatted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidationCheckResult defines the details about the validation check."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckResultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNKNOWN"
          }
        },
        "STATE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FAILURE"
          }
        },
        "STATE_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_SKIPPED"
          }
        },
        "STATE_FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FATAL"
          }
        },
        "STATE_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_WARNING"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalLoadBalancerAddressPool": {
      "type": "structure",
      "members": {
        "pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the address pool."
          }
        },
        "addresses": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
          }
        },
        "avoidBuggyIps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
          }
        },
        "manualAssign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevent IP addresses from being automatically assigned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an IP pool used by the load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#UpgradeDependency": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the dependency."
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current version of the dependency e.g. 1.15.0."
          }
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded."
          }
        },
        "membership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership names are formatted as `projects//locations//memberships/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UpgradeDependency represents a dependency when upgrading a resource."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminMaintenanceStatus": {
      "type": "structure",
      "members": {
        "machineDrainStatus": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminMachineDrainStatus",
          "traits": {
            "smithy.api#documentation": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalVipConfig": {
      "type": "structure",
      "members": {
        "controlPlaneVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster."
          }
        },
        "ingressVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the VIP config for the bare metal load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminVipConfig": {
      "type": "structure",
      "members": {
        "controlPlaneVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP which you previously set aside for the Kubernetes API of the admin cluster."
          }
        },
        "addonsVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP to configure the load balancer for add-ons."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminVipConfig for VMware load balancer configurations."
      }
    },
    "com.gcp.gkeonprem_v1#QueryBareMetalAdminVersionConfigResponse": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.gkeonprem_v1#BareMetalVersionInfoList",
          "traits": {
            "smithy.api#documentation": "List of available versions to install or to upgrade to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for querying bare metal admin cluster version config."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalVersionInfo"
      }
    },
    "com.gcp.gkeonprem_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.gkeonprem_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.gkeonprem_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#Binding"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminWorkloadNodeConfig": {
      "type": "structure",
      "members": {
        "maxPodsPerNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations."
      }
    },
    "com.gcp.gkeonprem_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.gkeonprem_v1#NodeTaint": {
      "type": "structure",
      "members": {
        "effect": {
          "target": "com.gcp.gkeonprem_v1#NodeTaintEffectEnum",
          "traits": {
            "smithy.api#documentation": "The taint effect."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key associated with the effect."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value associated with the effect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent."
      }
    },
    "com.gcp.gkeonprem_v1#NodeTaintEffectEnum": {
      "type": "enum",
      "members": {
        "EFFECT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFECT_UNSPECIFIED"
          }
        },
        "NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SCHEDULE"
          }
        },
        "PREFER_NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFER_NO_SCHEDULE"
          }
        },
        "NO_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_EXECUTE"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminSecurityConfig": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "com.gcp.gkeonprem_v1#Authorization",
          "traits": {
            "smithy.api#documentation": "Configures user access to the admin cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security related settings for the bare metal admin cluster."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminHAControlPlaneConfig": {
      "type": "structure",
      "members": {
        "controlPlaneIpBlock": {
          "target": "com.gcp.gkeonprem_v1#VmwareIpBlock",
          "traits": {
            "smithy.api#documentation": "Static IP addresses for the admin control plane nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies HA admin control plane config."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminLoadBalancerConfig": {
      "type": "structure",
      "members": {
        "vipConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminVipConfig",
          "traits": {
            "smithy.api#documentation": "The VIPs used by the load balancer."
          }
        },
        "portConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminPortConfig",
          "traits": {
            "smithy.api#documentation": "Configures the ports that the load balancer will listen on."
          }
        },
        "manualLbConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminManualLbConfig",
          "traits": {
            "smithy.api#documentation": "Manually configured load balancers."
          }
        },
        "bgpLbConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminBgpLbConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for BGP typed load balancers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalMultipleNetworkInterfacesConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the multiple networking interfaces cluster configuration."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheck": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheckStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The detailed validation check status."
          }
        },
        "scenario": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheckScenarioEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The scenario when the preflight checks were run."
          }
        },
        "option": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheckOptionEnum",
          "traits": {
            "smithy.api#documentation": "Options used for the validation check"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidationCheck represents the result of preflight check."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckScenarioEnum": {
      "type": "enum",
      "members": {
        "SCENARIO_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCENARIO_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckOptionEnum": {
      "type": "enum",
      "members": {
        "OPTIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS_UNSPECIFIED"
          }
        },
        "SKIP_VALIDATION_CHECK_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_VALIDATION_CHECK_BLOCKING"
          }
        },
        "SKIP_VALIDATION_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_VALIDATION_ALL"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminMaintenanceConfig": {
      "type": "structure",
      "members": {
        "maintenanceAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalNetworkConfig": {
      "type": "structure",
      "members": {
        "islandModeCidr": {
          "target": "com.gcp.gkeonprem_v1#BareMetalIslandModeCidrConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster."
          }
        },
        "srIovConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalSrIovConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for SR-IOV."
          }
        },
        "advancedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
          }
        },
        "multipleNetworkInterfacesConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalMultipleNetworkInterfacesConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for multiple network interfaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the cluster network configuration."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareManualLbConfig": {
      "type": "structure",
      "members": {
        "controlPlaneNodePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968)."
          }
        },
        "ingressHttpNodePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527)."
          }
        },
        "ingressHttpsNodePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139)."
          }
        },
        "konnectivityServerNodePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#ListBareMetalClustersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "bareMetalClusters": {
          "target": "com.gcp.gkeonprem_v1#BareMetalClusterList",
          "traits": {
            "smithy.api#documentation": "The list of bare metal Clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing bare metal Clusters."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalCluster"
      }
    },
    "com.gcp.gkeonprem_v1#ListBareMetalAdminClustersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
          }
        },
        "bareMetalAdminClusters": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminClusterList",
          "traits": {
            "smithy.api#documentation": "The list of bare metal admin cluster."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing bare metal admin clusters."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalAdminCluster"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalNodePoolConfig": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.gkeonprem_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
          }
        },
        "nodeConfigs": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNodeConfigList",
          "traits": {
            "smithy.api#documentation": "Required. The list of machine addresses in the bare metal node pool."
          }
        },
        "kubeletConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalKubeletConfig",
          "traits": {
            "smithy.api#documentation": "The modifiable kubelet configurations for the bare metal machines."
          }
        },
        "operatingSystem": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNodePoolConfigOperatingSystemEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the nodes operating system (default: LINUX)."
          }
        },
        "taints": {
          "target": "com.gcp.gkeonprem_v1#NodeTaintList",
          "traits": {
            "smithy.api#documentation": "The initial taints assigned to nodes of this node pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalNodeConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalNodeConfig"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalNodePoolConfigOperatingSystemEnum": {
      "type": "enum",
      "members": {
        "OPERATING_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_SYSTEM_UNSPECIFIED"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#NodeTaintList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#NodeTaint"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminMultipleNetworkInterfacesConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the multiple networking interfaces cluster configuration."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminBgpLbConfig": {
      "type": "structure",
      "members": {
        "bgpPeerConfigs": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminBgpPeerConfigList",
          "traits": {
            "smithy.api#documentation": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
          }
        },
        "asn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation."
          }
        },
        "addressPools": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminLoadBalancerAddressPoolList",
          "traits": {
            "smithy.api#documentation": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
          }
        },
        "loadBalancerNodePoolConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminLoadBalancerNodePoolConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminBgpPeerConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalAdminBgpPeerConfig"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminLoadBalancerAddressPoolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#BareMetalAdminLoadBalancerAddressPool"
      }
    },
    "com.gcp.gkeonprem_v1#EnrollBareMetalAdminClusterRequest": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This is the full resource name of this admin cluster's fleet membership."
          }
        },
        "bareMetalAdminClusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareMetalLbConfig": {
      "type": "structure",
      "members": {
        "addressPools": {
          "target": "com.gcp.gkeonprem_v1#VmwareAddressPoolList",
          "traits": {
            "smithy.api#documentation": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents configuration parameters for the MetalLB load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAddressPoolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#VmwareAddressPool"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalControlPlaneNodePoolConfig": {
      "type": "structure",
      "members": {
        "nodePoolConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNodePoolConfig",
          "traits": {
            "smithy.api#documentation": "Required. The generic configuration for a node pool running the control plane."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the control plane node pool configuration."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalBgpPeerConfig": {
      "type": "structure",
      "members": {
        "controlPlaneNodes": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions."
          }
        },
        "asn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IP address of the external peer device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckStatus": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheckResultList",
          "traits": {
            "smithy.api#documentation": "Individual checks which failed as part of the Preflight check execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidationCheckStatus defines the detailed validation check status."
      }
    },
    "com.gcp.gkeonprem_v1#ValidationCheckResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#ValidationCheckResult"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalStorageConfig": {
      "type": "structure",
      "members": {
        "lvpShareConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalLvpShareConfig",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
          }
        },
        "lvpNodeMountsConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalLvpConfig",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalStorageConfig specifies the cluster storage configuration."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAAGConfig": {
      "type": "structure",
      "members": {
        "aagConfigDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies anti affinity group config for the VMware user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminSeesawConfig": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name]."
          }
        },
        "masterIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MasterIP is the IP announced by the master of Seesaw group."
          }
        },
        "stackdriverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name to be used by Stackdriver."
          }
        },
        "enableHa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer."
          }
        },
        "ipBlocks": {
          "target": "com.gcp.gkeonprem_v1#VmwareIpBlockList",
          "traits": {
            "smithy.api#documentation": "The IP Blocks to be used by the Seesaw load balancer"
          }
        },
        "vms": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the VMs created for this Seesaw group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareIpBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#VmwareIpBlock"
      }
    },
    "com.gcp.gkeonprem_v1#VmwareHostIp": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24)."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the machine. VM's name will be used if this field is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents VMware user cluster node's network configuration."
      }
    },
    "com.gcp.gkeonprem_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.gkeonprem_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminProxy": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP address of proxy server."
          }
        },
        "noProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminProxy represents configuration for admin cluster proxy."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareSeesawConfig": {
      "type": "structure",
      "members": {
        "enableHa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer."
          }
        },
        "ipBlocks": {
          "target": "com.gcp.gkeonprem_v1#VmwareIpBlockList",
          "traits": {
            "smithy.api#documentation": "Required. The IP Blocks to be used by the Seesaw load balancer"
          }
        },
        "vms": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the VMs created for this Seesaw group."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name]."
          }
        },
        "masterIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MasterIP is the IP announced by the master of Seesaw group."
          }
        },
        "stackdriverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name to be used by Stackdriver."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareVipConfig": {
      "type": "structure",
      "members": {
        "controlPlaneVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP which you previously set aside for the Kubernetes API of this cluster."
          }
        },
        "ingressVip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VIP which you previously set aside for ingress traffic into this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the VIP config for the VMware user cluster load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminNetworkConfig": {
      "type": "structure",
      "members": {
        "haControlPlaneConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminHAControlPlaneConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for HA admin cluster control plane."
          }
        },
        "serviceAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
          }
        },
        "podAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
          }
        },
        "staticIpConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareStaticIpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration settings for a static IP configuration."
          }
        },
        "dhcpIpConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareDhcpIpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration settings for a DHCP IP configuration."
          }
        },
        "hostConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareHostConfig",
          "traits": {
            "smithy.api#documentation": "Represents common network settings irrespective of the host's IP address."
          }
        },
        "vcenterNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vcenter_network specifies vCenter network name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalMaintenanceConfig": {
      "type": "structure",
      "members": {
        "maintenanceAddressCidrBlocks": {
          "target": "com.gcp.gkeonprem_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies configurations to put bare metal nodes in and out of maintenance."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareControlPlaneV2Config": {
      "type": "structure",
      "members": {
        "controlPlaneIpBlock": {
          "target": "com.gcp.gkeonprem_v1#VmwareIpBlock",
          "traits": {
            "smithy.api#documentation": "Static IP addresses for the control plane nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies control plane V2 config."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminOsEnvironmentConfig": {
      "type": "structure",
      "members": {
        "packageRepoExcluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the package repo should be added when initializing bare metal machines."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies operating system operation settings for cluster provisioning."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminPrivateRegistryConfig": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registry address."
          }
        },
        "caCert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareClusterUpgradePolicy": {
      "type": "structure",
      "members": {
        "controlPlaneOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the upgrade applies to the control plane only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareClusterUpgradePolicy defines the cluster upgrade policy."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalLoadBalancerNodePoolConfig": {
      "type": "structure",
      "members": {
        "nodePoolConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalNodePoolConfig",
          "traits": {
            "smithy.api#documentation": "The generic configuration for a node pool running a load balancer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the load balancer's node pool configuration."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareF5BigIpConfig": {
      "type": "structure",
      "members": {
        "partition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'."
          }
        },
        "snatPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool name. Only necessary, if using SNAT."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The load balancer's IP address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents configuration parameters for an F5 BIG-IP load balancer."
      }
    },
    "com.gcp.gkeonprem_v1#Metric": {
      "type": "structure",
      "members": {
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For metrics with integer value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For metrics with floating point value."
          }
        },
        "metric": {
          "target": "com.gcp.gkeonprem_v1#MetricMetricEnum",
          "traits": {
            "smithy.api#documentation": "Required. The metric name."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For metrics with custom values (ratios, visual progress, etc.)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Progress metric is (string, int|float|string) pair."
      }
    },
    "com.gcp.gkeonprem_v1#MetricMetricEnum": {
      "type": "enum",
      "members": {
        "METRIC_ID_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_ID_UNSPECIFIED"
          }
        },
        "NODES_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_TOTAL"
          }
        },
        "NODES_DRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_DRAINING"
          }
        },
        "NODES_UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_UPGRADING"
          }
        },
        "NODES_PENDING_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_PENDING_UPGRADE"
          }
        },
        "NODES_UPGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_UPGRADED"
          }
        },
        "NODES_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_FAILED"
          }
        },
        "NODES_HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_HEALTHY"
          }
        },
        "NODES_RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_RECONCILING"
          }
        },
        "NODES_IN_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODES_IN_MAINTENANCE"
          }
        },
        "PREFLIGHTS_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFLIGHTS_COMPLETED"
          }
        },
        "PREFLIGHTS_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFLIGHTS_RUNNING"
          }
        },
        "PREFLIGHTS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFLIGHTS_FAILED"
          }
        },
        "PREFLIGHTS_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFLIGHTS_TOTAL"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalLvpConfig": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The host machine path."
          }
        },
        "storageClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The StorageClass name that PVs will be created with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the configs for local persistent volumes (PVs)."
      }
    },
    "com.gcp.gkeonprem_v1#ClusterUser": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ClusterUser configures user principals for an RBAC policy."
      }
    },
    "com.gcp.gkeonprem_v1#ResourceCondition": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message indicating details about last transition."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable message indicating details about last transition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the condition transit from one status to another."
          }
        },
        "state": {
          "target": "com.gcp.gkeonprem_v1#ResourceConditionStateEnum",
          "traits": {
            "smithy.api#documentation": "state of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller."
      }
    },
    "com.gcp.gkeonprem_v1#ResourceConditionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_TRUE"
          }
        },
        "STATE_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FALSE"
          }
        },
        "STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNKNOWN"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#Versions": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.gkeonprem_v1#VersionList",
          "traits": {
            "smithy.api#documentation": "Shows the mapping of a given version to the number of machines under this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Versions describes the mapping of a given version to the number of machines under this version."
      }
    },
    "com.gcp.gkeonprem_v1#VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#Version"
      }
    },
    "com.gcp.gkeonprem_v1#EnrollVmwareClusterRequest": {
      "type": "structure",
      "members": {
        "vmwareClusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validate the request without actually doing any updates."
          }
        },
        "localName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside / beyond the enrollment operation."
          }
        },
        "adminClusterMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for enrolling an existing VMware cluster to the Anthos On-Prem API."
      }
    },
    "com.gcp.gkeonprem_v1#ResourceStatus": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.gkeonprem_v1#ResourceConditionList",
          "traits": {
            "smithy.api#documentation": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reflect current version of the resource."
          }
        },
        "versions": {
          "target": "com.gcp.gkeonprem_v1#Versions",
          "traits": {
            "smithy.api#documentation": "Shows the mapping of a given version to the number of machines under this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED)."
      }
    },
    "com.gcp.gkeonprem_v1#ResourceConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#ResourceCondition"
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalWorkloadNodeConfig": {
      "type": "structure",
      "members": {
        "maxPodsPerNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter."
          }
        },
        "containerRuntime": {
          "target": "com.gcp.gkeonprem_v1#BareMetalWorkloadNodeConfigContainerRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies which container runtime will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the workload node configurations."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalWorkloadNodeConfigContainerRuntimeEnum": {
      "type": "enum",
      "members": {
        "CONTAINER_RUNTIME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_RUNTIME_UNSPECIFIED"
          }
        },
        "CONTAINERD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINERD"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalNodeConfig": {
      "type": "structure",
      "members": {
        "nodeIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1"
          }
        },
        "labels": {
          "target": "com.gcp.gkeonprem_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalNodeConfig lists machine addresses to access Nodes."
      }
    },
    "com.gcp.gkeonprem_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.gkeonprem_v1#VmwareDataplaneV2Config": {
      "type": "structure",
      "members": {
        "windowsDataplaneV2Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable Dataplane V2 for clusters with Windows nodes."
          }
        },
        "dataplaneV2Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables Dataplane V2."
          }
        },
        "advancedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
          }
        },
        "forwardMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configure ForwardMode for Dataplane v2."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2"
      }
    },
    "com.gcp.gkeonprem_v1#EnrollVmwareNodePoolRequest": {
      "type": "structure",
      "members": {
        "vmwareNodePoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target node pool id to be enrolled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for enrolling a VMware node pool."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminNetworkConfig": {
      "type": "structure",
      "members": {
        "advancedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
          }
        },
        "multipleNetworkInterfacesConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminMultipleNetworkInterfacesConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for multiple network interfaces."
          }
        },
        "islandModeCidr": {
          "target": "com.gcp.gkeonprem_v1#BareMetalAdminIslandModeCidrConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Island mode CIDR."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BareMetalAdminNetworkConfig specifies the cluster network configuration."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminAuthorizationConfig": {
      "type": "structure",
      "members": {
        "viewerUsers": {
          "target": "com.gcp.gkeonprem_v1#ClusterUserList",
          "traits": {
            "smithy.api#documentation": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization."
      }
    },
    "com.gcp.gkeonprem_v1#ClusterUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkeonprem_v1#ClusterUser"
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminPreparedSecretsConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether prepared secrets is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalSecurityConfig": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "com.gcp.gkeonprem_v1#Authorization",
          "traits": {
            "smithy.api#documentation": "Configures user access to the user cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security related settings for the bare metal user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareStorageConfig": {
      "type": "structure",
      "members": {
        "vsphereCsiDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies vSphere CSI components deployment config in the VMware user cluster."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalLoadBalancerConfig": {
      "type": "structure",
      "members": {
        "vipConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalVipConfig",
          "traits": {
            "smithy.api#documentation": "The VIPs used by the load balancer."
          }
        },
        "metalLbConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalMetalLbConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for MetalLB load balancers."
          }
        },
        "portConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalPortConfig",
          "traits": {
            "smithy.api#documentation": "Configures the ports that the load balancer will listen on."
          }
        },
        "manualLbConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalManualLbConfig",
          "traits": {
            "smithy.api#documentation": "Manually configured load balancers."
          }
        },
        "bgpLbConfig": {
          "target": "com.gcp.gkeonprem_v1#BareMetalBgpLbConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the load balancer configuration."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminCluster": {
      "type": "structure",
      "members": {
        "antiAffinityGroups": {
          "target": "com.gcp.gkeonprem_v1#VmwareAAGConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster anti affinity group configuration."
          }
        },
        "preparedSecrets": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminPreparedSecretsConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The VMware admin cluster prepared secrets configuration. It should always be enabled by the Central API, instead of letting users set it."
          }
        },
        "status": {
          "target": "com.gcp.gkeonprem_v1#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Output only. ResourceStatus representing detailed cluster state."
          }
        },
        "controlPlaneNode": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminControlPlaneNodeConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster control plane node configuration."
          }
        },
        "imageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS image type for the VMware admin cluster."
          }
        },
        "proxy": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminProxy",
          "traits": {
            "smithy.api#documentation": "Configuration for proxy."
          }
        },
        "privateRegistryConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminPrivateRegistryConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for registry."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The DNS name of VMware admin cluster's API server."
          }
        },
        "addonNode": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminAddonNodeConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster addon node configuration."
          }
        },
        "onPremVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Anthos clusters on the VMware version for the admin cluster."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set, there are currently changes in flight to the VMware admin cluster."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the VMware admin cluster."
          }
        },
        "bootstrapClusterMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bootstrap cluster this VMware admin cluster belongs to."
          }
        },
        "validationCheck": {
          "target": "com.gcp.gkeonprem_v1#ValidationCheck",
          "traits": {
            "smithy.api#documentation": "Output only. ValidationCheck represents the result of the preflight check job."
          }
        },
        "authorization": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster authorization configuration."
          }
        },
        "platformConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwarePlatformConfig",
          "traits": {
            "smithy.api#documentation": "The VMware platform configuration."
          }
        },
        "autoRepairConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareAutoRepairConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster auto repair configuration."
          }
        },
        "loadBalancer": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminLoadBalancerConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster load balancer configuration."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which VMware admin cluster was last updated."
          }
        },
        "vcenter": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminVCenterConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster VCenter configuration."
          }
        },
        "annotations": {
          "target": "com.gcp.gkeonprem_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "fleet": {
          "target": "com.gcp.gkeonprem_v1#Fleet",
          "traits": {
            "smithy.api#documentation": "Output only. Fleet configuration for the cluster."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which VMware admin cluster was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The VMware admin cluster resource name."
          }
        },
        "state": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of VMware admin cluster."
          }
        },
        "localName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
          }
        },
        "networkConfig": {
          "target": "com.gcp.gkeonprem_v1#VmwareAdminNetworkConfig",
          "traits": {
            "smithy.api#documentation": "The VMware admin cluster network configuration."
          }
        },
        "enableAdvancedCluster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable advanced cluster."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of this VMware admin cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource that represents a VMware admin cluster."
      }
    },
    "com.gcp.gkeonprem_v1#VmwareAdminClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.gcp.gkeonprem_v1#Version": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of machines under the above version."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version describes the number of nodes at a given version under a resource."
      }
    },
    "com.gcp.gkeonprem_v1#BareMetalAdminManualLbConfig": {
[...]
