{
  "smithy": "2.0",
  "metadata": {
    "service": "gmail",
    "version": "v1",
    "title": "Gmail API",
    "baseUrl": "https://gmail.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gmail_v1#ListSendAsResponse": {
      "type": "structure",
      "members": {
        "sendAs": {
          "target": "com.gcp.gmail_v1#SendAsList",
          "traits": {
            "smithy.api#documentation": "List of send-as aliases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListSendAs method."
      }
    },
    "com.gcp.gmail_v1#SendAsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#SendAs"
      }
    },
    "com.gcp.gmail_v1#ClassificationLabelFieldValue": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field ID for the Classification Label Value. Maps to the ID field of the Google Drive `Label.Field` object."
          }
        },
        "selection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selection choice ID for the selection option. Should only be set if the field type is `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google Drive `Label.Field.SelectionOptions` resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field values for a classification label."
      }
    },
    "com.gcp.gmail_v1#ListDelegatesResponse": {
      "type": "structure",
      "members": {
        "delegates": {
          "target": "com.gcp.gmail_v1#DelegateList",
          "traits": {
            "smithy.api#documentation": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListDelegates method."
      }
    },
    "com.gcp.gmail_v1#DelegateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Delegate"
      }
    },
    "com.gcp.gmail_v1#HistoryLabelRemoved": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.gmail_v1#Message"
        },
        "labelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Label IDs removed from the message."
          }
        }
      }
    },
    "com.gcp.gmail_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gmail_v1#Profile": {
      "type": "structure",
      "members": {
        "messagesTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of messages in the mailbox."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the mailbox's current history record."
          }
        },
        "threadsTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of threads in the mailbox."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for a Gmail user."
      }
    },
    "com.gcp.gmail_v1#ModifyMessageRequest": {
      "type": "structure",
      "members": {
        "addLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update."
          }
        },
        "addClassificationLabels": {
          "target": "com.gcp.gmail_v1#ClassificationLabelValueList",
          "traits": {
            "smithy.api#documentation": "A list of classification label values to add. If a Classification Label with the same label ID is already applied to the message, fields with existing field IDs will be updated and fields with new field IDs will be added. There's a limit of 20 Classification Label values per request. If the message is already classified and the final total number of Classification Label values exceeds the maximum allowed number of Classification Label values per message, the modification fails."
          }
        },
        "removeClassificationLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Classification Label values to remove from this message."
          }
        },
        "removeLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update."
          }
        }
      }
    },
    "com.gcp.gmail_v1#ClassificationLabelValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#ClassificationLabelValue"
      }
    },
    "com.gcp.gmail_v1#Filter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server assigned ID of the filter."
          }
        },
        "action": {
          "target": "com.gcp.gmail_v1#FilterAction",
          "traits": {
            "smithy.api#documentation": "Action that the filter performs."
          }
        },
        "criteria": {
          "target": "com.gcp.gmail_v1#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "Matching criteria for the filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread."
      }
    },
    "com.gcp.gmail_v1#AutoForwarding": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses."
          }
        },
        "disposition": {
          "target": "com.gcp.gmail_v1#AutoForwardingDispositionEnum",
          "traits": {
            "smithy.api#documentation": "The state that a message should be left in after it has been forwarded."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether all incoming mail is automatically forwarded to another address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-forwarding settings for an account."
      }
    },
    "com.gcp.gmail_v1#AutoForwardingDispositionEnum": {
      "type": "enum",
      "members": {
        "DISPOSITIONUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispositionUnspecified"
          }
        },
        "LEAVEININBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leaveInInbox"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archive"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "MARKREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markRead"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListFiltersResponse": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.gcp.gmail_v1#FilterList",
          "traits": {
            "smithy.api#documentation": "List of a user's filters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListFilters method."
      }
    },
    "com.gcp.gmail_v1#FilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Filter"
      }
    },
    "com.gcp.gmail_v1#Label": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the label."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the label."
          }
        },
        "messageListVisibility": {
          "target": "com.gcp.gmail_v1#LabelMessageListVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "The visibility of messages with this label in the message list in the Gmail web interface."
          }
        },
        "threadsTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of threads with the label."
          }
        },
        "color": {
          "target": "com.gcp.gmail_v1#LabelColor",
          "traits": {
            "smithy.api#documentation": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`."
          }
        },
        "type": {
          "target": "com.gcp.gmail_v1#LabelTypeEnum",
          "traits": {
            "smithy.api#documentation": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads."
          }
        },
        "labelListVisibility": {
          "target": "com.gcp.gmail_v1#LabelLabelListVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "The visibility of the label in the label list in the Gmail web interface."
          }
        },
        "messagesTotal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of messages with the label."
          }
        },
        "messagesUnread": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of unread messages with the label."
          }
        },
        "threadsUnread": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of unread threads with the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000."
      }
    },
    "com.gcp.gmail_v1#LabelMessageListVisibilityEnum": {
      "type": "enum",
      "members": {
        "SHOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "show"
          }
        },
        "HIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide"
          }
        }
      }
    },
    "com.gcp.gmail_v1#LabelTypeEnum": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      }
    },
    "com.gcp.gmail_v1#LabelLabelListVisibilityEnum": {
      "type": "enum",
      "members": {
        "LABELSHOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labelShow"
          }
        },
        "LABELSHOWIFUNREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labelShowIfUnread"
          }
        },
        "LABELHIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labelHide"
          }
        }
      }
    },
    "com.gcp.gmail_v1#CseIdentity": {
      "type": "structure",
      "members": {
        "primaryKeyPairId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a key pair is associated, the ID of the key pair, CseKeyPair."
          }
        },
        "signAndEncryptKeyPairs": {
          "target": "com.gcp.gmail_v1#SignAndEncryptKeyPairs",
          "traits": {
            "smithy.api#documentation": "The configuration of a CSE identity that uses different key pairs for signing and encryption."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address for the sending identity. The email address must be the primary email address of the authenticated user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
      }
    },
    "com.gcp.gmail_v1#SendAs": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail."
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
          }
        },
        "replyToAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header."
          }
        },
        "smtpMsa": {
          "target": "com.gcp.gmail_v1#SmtpMsa",
          "traits": {
            "smithy.api#documentation": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases."
          }
        },
        "sendAsEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create."
          }
        },
        "treatAsAlias": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
          }
        },
        "verificationStatus": {
          "target": "com.gcp.gmail_v1#SendAsVerificationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface. The send-as alias must be a valid email address."
      }
    },
    "com.gcp.gmail_v1#SendAsVerificationStatusEnum": {
      "type": "enum",
      "members": {
        "VERIFICATIONSTATUSUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verificationStatusUnspecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      }
    },
    "com.gcp.gmail_v1#Message": {
      "type": "structure",
      "members": {
        "classificationLabelValues": {
          "target": "com.gcp.gmail_v1#ClassificationLabelValueList",
          "traits": {
            "smithy.api#documentation": "Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts. There's a limit of 20 Classification Label values per request. If the Classification Label values exceeds the maximum allowed number, the request fails."
          }
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short part of the message text."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the message."
          }
        },
        "labelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of IDs of labels applied to this message."
          }
        },
        "internalDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last history record that modified this message."
          }
        },
        "threadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. "
          }
        },
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied. @required gmail.users.drafts.create gmail.users.drafts.update"
          }
        },
        "payload": {
          "target": "com.gcp.gmail_v1#MessagePart",
          "traits": {
            "smithy.api#documentation": "The parsed email structure in the message parts."
          }
        },
        "sizeEstimate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated size in bytes of the message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An email message."
      }
    },
    "com.gcp.gmail_v1#SmtpMsa": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname of the SMTP service. Required."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port of the SMTP service. Required."
          }
        },
        "securityMode": {
          "target": "com.gcp.gmail_v1#SmtpMsaSecurityModeEnum",
          "traits": {
            "smithy.api#documentation": "The protocol that will be used to secure communication with the SMTP service. Required."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for communication with an SMTP service."
      }
    },
    "com.gcp.gmail_v1#SmtpMsaSecurityModeEnum": {
      "type": "enum",
      "members": {
        "SECURITYMODEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityModeUnspecified"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl"
          }
        },
        "STARTTLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starttls"
          }
        }
      }
    },
    "com.gcp.gmail_v1#SmimeInfo": {
      "type": "structure",
      "members": {
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this SmimeInfo is the default one for this user's send-as address."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate expires (in milliseconds since epoch)."
          }
        },
        "pkcs12": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately."
          }
        },
        "encryptedKeyPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted key password, when key is encrypted."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID for the SmimeInfo."
          }
        },
        "issuerCn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The S/MIME certificate issuer's common name."
          }
        },
        "pem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An S/MIME email config."
      }
    },
    "com.gcp.gmail_v1#HistoryMessageDeleted": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.gmail_v1#Message"
        }
      }
    },
    "com.gcp.gmail_v1#ClassificationLabelValue": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.gmail_v1#ClassificationLabelFieldValueList",
          "traits": {
            "smithy.api#documentation": "Field values for the given classification label ID."
          }
        },
        "labelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The canonical or raw alphanumeric classification label ID. Maps to the ID field of the Google Drive Label resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Classification Labels applied to the email message. Classification Labels are different from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about classification labels](https://support.google.com/a/answer/9292382)."
      }
    },
    "com.gcp.gmail_v1#ClassificationLabelFieldValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#ClassificationLabelFieldValue"
      }
    },
    "com.gcp.gmail_v1#FilterAction": {
      "type": "structure",
      "members": {
        "addLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of labels to add to the message."
          }
        },
        "removeLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of labels to remove from the message."
          }
        },
        "forward": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address that the message should be forwarded to. This effectively redirects the message to the address specified in this field, maintaining the original sender in the \"From\" field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of actions to perform on a message."
      }
    },
    "com.gcp.gmail_v1#ForwardingAddress": {
      "type": "structure",
      "members": {
        "forwardingEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An email address to which messages can be forwarded."
          }
        },
        "verificationStatus": {
          "target": "com.gcp.gmail_v1#ForwardingAddressVerificationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether this address has been verified and is usable for forwarding. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for a forwarding address."
      }
    },
    "com.gcp.gmail_v1#ForwardingAddressVerificationStatusEnum": {
      "type": "enum",
      "members": {
        "VERIFICATIONSTATUSUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verificationStatusUnspecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      }
    },
    "com.gcp.gmail_v1#DisableCseKeyPairRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Requests to turn off a client-side encryption key pair."
      }
    },
    "com.gcp.gmail_v1#WatchResponse": {
      "type": "structure",
      "members": {
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the mailbox's current history record."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Push notification watch response."
      }
    },
    "com.gcp.gmail_v1#MessagePart": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the message part."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment. Only present if this message part represents an attachment."
          }
        },
        "partId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the message part."
          }
        },
        "headers": {
          "target": "com.gcp.gmail_v1#MessagePartHeaderList",
          "traits": {
            "smithy.api#documentation": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`."
          }
        },
        "parts": {
          "target": "com.gcp.gmail_v1#MessagePartList",
          "traits": {
            "smithy.api#documentation": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521."
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#MessagePartBody",
          "traits": {
            "smithy.api#documentation": "The message part body for this part, which may be empty for container MIME message parts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single MIME message part."
      }
    },
    "com.gcp.gmail_v1#MessagePartHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#MessagePartHeader"
      }
    },
    "com.gcp.gmail_v1#MessagePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#MessagePart"
      }
    },
    "com.gcp.gmail_v1#MessagePartBody": {
      "type": "structure",
      "members": {
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of bytes for the message part data (encoding notwithstanding)."
          }
        },
        "attachmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The body of a single MIME message part."
      }
    },
    "com.gcp.gmail_v1#WatchRequest": {
      "type": "structure",
      "members": {
        "labelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated."
          }
        },
        "labelFilterAction": {
          "target": "com.gcp.gmail_v1#WatchRequestLabelFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead."
          }
        },
        "labelFilterBehavior": {
          "target": "com.gcp.gmail_v1#WatchRequestLabelFilterBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored."
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set up or update a new push notification watch on this user's mailbox."
      }
    },
    "com.gcp.gmail_v1#WatchRequestLabelFilterActionEnum": {
      "type": "enum",
      "members": {
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "include"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exclude"
          }
        }
      }
    },
    "com.gcp.gmail_v1#WatchRequestLabelFilterBehaviorEnum": {
      "type": "enum",
      "members": {
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "include"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exclude"
          }
        }
      }
    },
    "com.gcp.gmail_v1#CsePrivateKeyMetadata": {
      "type": "structure",
      "members": {
        "privateKeyMetadataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The immutable ID for the private key metadata instance."
          }
        },
        "hardwareKeyMetadata": {
          "target": "com.gcp.gmail_v1#HardwareKeyMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for hardware keys."
          }
        },
        "kaclsKeyMetadata": {
          "target": "com.gcp.gmail_v1#KaclsKeyMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for a private key instance managed by an external key access control list service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a private key instance."
      }
    },
    "com.gcp.gmail_v1#LanguageSettings": {
      "type": "structure",
      "members": {
        "displayLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. For a table of sample values, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface."
      }
    },
    "com.gcp.gmail_v1#ListCseKeyPairsResponse": {
      "type": "structure",
      "members": {
        "cseKeyPairs": {
          "target": "com.gcp.gmail_v1#CseKeyPairList",
          "traits": {
            "smithy.api#documentation": "One page of the list of CSE key pairs installed for the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain."
          }
        }
      }
    },
    "com.gcp.gmail_v1#CseKeyPairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#CseKeyPair"
      }
    },
    "com.gcp.gmail_v1#ListCseIdentitiesResponse": {
      "type": "structure",
      "members": {
        "cseIdentities": {
          "target": "com.gcp.gmail_v1#CseIdentityList",
          "traits": {
            "smithy.api#documentation": "One page of the list of CSE identities configured for the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain."
          }
        }
      }
    },
    "com.gcp.gmail_v1#CseIdentityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#CseIdentity"
      }
    },
    "com.gcp.gmail_v1#BatchDeleteMessagesRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the messages to delete."
          }
        }
      }
    },
    "com.gcp.gmail_v1#HardwareKeyMetadata": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description about the hardware key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for hardware keys. If [hardware key encryption](https://support.google.com/a/answer/14153163) is set up for the Google Workspace organization, users can optionally store their private key on their smart card and use it to sign and decrypt email messages in Gmail by inserting their smart card into a reader attached to their Windows device."
      }
    },
    "com.gcp.gmail_v1#MessagePartHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the header before the `:` separator. For example, `To`."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the header after the `:` separator. For example, `someuser@example.com`."
          }
        }
      }
    },
    "com.gcp.gmail_v1#HistoryMessageAdded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.gmail_v1#Message"
        }
      }
    },
    "com.gcp.gmail_v1#ListThreadsResponse": {
      "type": "structure",
      "members": {
        "threads": {
          "target": "com.gcp.gmail_v1#ThreadList",
          "traits": {
            "smithy.api#documentation": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get) method."
          }
        },
        "resultSizeEstimate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated total number of results."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token to retrieve the next page of results in the list."
          }
        }
      }
    },
    "com.gcp.gmail_v1#ThreadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Thread"
      }
    },
    "com.gcp.gmail_v1#FilterCriteria": {
      "type": "structure",
      "members": {
        "negatedQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
          }
        },
        "sizeComparison": {
          "target": "com.gcp.gmail_v1#FilterCriteriaSizeComparisonEnum",
          "traits": {
            "smithy.api#documentation": "How the message size in bytes should be in relation to the size field."
          }
        },
        "excludeChats": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the response should exclude chats."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the entire RFC822 message in bytes, including all headers and attachments."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender's display name or email address."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive."
          }
        },
        "hasAttachment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the message has any attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message matching criteria."
      }
    },
    "com.gcp.gmail_v1#FilterCriteriaSizeComparisonEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecified"
          }
        },
        "SMALLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smaller"
          }
        },
        "LARGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "larger"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListMessagesResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.gmail_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results in the list."
          }
        },
        "resultSizeEstimate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated total number of results."
          }
        }
      }
    },
    "com.gcp.gmail_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Message"
      }
    },
    "com.gcp.gmail_v1#EnableCseKeyPairRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Requests to turn on a client-side encryption key pair."
      }
    },
    "com.gcp.gmail_v1#History": {
      "type": "structure",
      "members": {
        "messagesDeleted": {
          "target": "com.gcp.gmail_v1#HistoryMessageDeletedList",
          "traits": {
            "smithy.api#documentation": "Messages deleted (not Trashed) from the mailbox in this history record."
          }
        },
        "messages": {
          "target": "com.gcp.gmail_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this."
          }
        },
        "messagesAdded": {
          "target": "com.gcp.gmail_v1#HistoryMessageAddedList",
          "traits": {
            "smithy.api#documentation": "Messages added to the mailbox in this history record."
          }
        },
        "labelsRemoved": {
          "target": "com.gcp.gmail_v1#HistoryLabelRemovedList",
          "traits": {
            "smithy.api#documentation": "Labels removed from messages in this history record."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mailbox sequence ID."
          }
        },
        "labelsAdded": {
          "target": "com.gcp.gmail_v1#HistoryLabelAddedList",
          "traits": {
            "smithy.api#documentation": "Labels added to messages in this history record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways."
      }
    },
    "com.gcp.gmail_v1#HistoryMessageDeletedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#HistoryMessageDeleted"
      }
    },
    "com.gcp.gmail_v1#HistoryMessageAddedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#HistoryMessageAdded"
      }
    },
    "com.gcp.gmail_v1#HistoryLabelRemovedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#HistoryLabelRemoved"
      }
    },
    "com.gcp.gmail_v1#HistoryLabelAddedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#HistoryLabelAdded"
      }
    },
    "com.gcp.gmail_v1#HistoryLabelAdded": {
      "type": "structure",
      "members": {
        "labelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Label IDs added to the message."
          }
        },
        "message": {
          "target": "com.gcp.gmail_v1#Message"
        }
      }
    },
    "com.gcp.gmail_v1#ModifyThreadRequest": {
      "type": "structure",
      "members": {
        "addLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update."
          }
        },
        "removeLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update."
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListDraftsResponse": {
      "type": "structure",
      "members": {
        "resultSizeEstimate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated total number of results."
          }
        },
        "drafts": {
          "target": "com.gcp.gmail_v1#DraftList",
          "traits": {
            "smithy.api#documentation": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get) method can fetch additional message details."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results in the list."
          }
        }
      }
    },
    "com.gcp.gmail_v1#DraftList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Draft"
      }
    },
    "com.gcp.gmail_v1#KaclsKeyMetadata": {
      "type": "structure",
      "members": {
        "kaclsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the key access control list service that manages the private key."
          }
        },
        "kaclsData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference)."
      }
    },
    "com.gcp.gmail_v1#ListForwardingAddressesResponse": {
      "type": "structure",
      "members": {
        "forwardingAddresses": {
          "target": "com.gcp.gmail_v1#ForwardingAddressList",
          "traits": {
            "smithy.api#documentation": "List of addresses that may be used for forwarding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListForwardingAddresses method."
      }
    },
    "com.gcp.gmail_v1#ForwardingAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#ForwardingAddress"
      }
    },
    "com.gcp.gmail_v1#PopSettings": {
      "type": "structure",
      "members": {
        "accessWindow": {
          "target": "com.gcp.gmail_v1#PopSettingsAccessWindowEnum",
          "traits": {
            "smithy.api#documentation": "The range of messages which are accessible via POP."
          }
        },
        "disposition": {
          "target": "com.gcp.gmail_v1#PopSettingsDispositionEnum",
          "traits": {
            "smithy.api#documentation": "The action that will be executed on a message after it has been fetched via POP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "POP settings for an account."
      }
    },
    "com.gcp.gmail_v1#PopSettingsAccessWindowEnum": {
      "type": "enum",
      "members": {
        "ACCESSWINDOWUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accessWindowUnspecified"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "FROMNOWON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fromNowOn"
          }
        },
        "ALLMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allMail"
          }
        }
      }
    },
    "com.gcp.gmail_v1#PopSettingsDispositionEnum": {
      "type": "enum",
      "members": {
        "DISPOSITIONUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispositionUnspecified"
          }
        },
        "LEAVEININBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leaveInInbox"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archive"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "MARKREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markRead"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListLabelsResponse": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.gmail_v1#LabelList",
          "traits": {
            "smithy.api#documentation": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get) method can fetch additional label details."
          }
        }
      }
    },
    "com.gcp.gmail_v1#LabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#Label"
      }
    },
    "com.gcp.gmail_v1#Thread": {
      "type": "structure",
      "members": {
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short part of the message text."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last history record that modified this thread."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the thread."
          }
        },
        "messages": {
          "target": "com.gcp.gmail_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "The list of messages in the thread."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of messages representing a conversation."
      }
    },
    "com.gcp.gmail_v1#VacationSettings": {
      "type": "structure",
      "members": {
        "responseBodyPlainText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
          }
        },
        "restrictToDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users."
          }
        },
        "restrictToContacts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
          }
        },
        "responseSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
          }
        },
        "responseBodyHtml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
          }
        },
        "enableAutoReply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that controls whether Gmail automatically replies to messages."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface."
      }
    },
    "com.gcp.gmail_v1#LabelColor": {
      "type": "structure",
      "members": {
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286, #7858c3, #c2185b, #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
          }
        },
        "textColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286, #7858c3, #c2185b, #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
          }
        }
      }
    },
    "com.gcp.gmail_v1#SignAndEncryptKeyPairs": {
      "type": "structure",
      "members": {
        "signingKeyPairId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the CseKeyPair that signs outgoing mail."
          }
        },
        "encryptionKeyPairId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the CseKeyPair that encrypts signed outgoing mail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of a CSE identity that uses different key pairs for signing and encryption."
      }
    },
    "com.gcp.gmail_v1#ObliterateCseKeyPairRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to obliterate a CSE key pair."
      }
    },
    "com.gcp.gmail_v1#ImapSettings": {
      "type": "structure",
      "members": {
        "autoExpunge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
          }
        },
        "expungeBehavior": {
          "target": "com.gcp.gmail_v1#ImapSettingsExpungeBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether IMAP is enabled for the account."
          }
        },
        "maxFolderSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IMAP settings for an account."
      }
    },
    "com.gcp.gmail_v1#ImapSettingsExpungeBehaviorEnum": {
      "type": "enum",
      "members": {
        "EXPUNGEBEHAVIORUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expungeBehaviorUnspecified"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archive"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "DELETEFOREVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteForever"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListSmimeInfoResponse": {
      "type": "structure",
      "members": {
        "smimeInfo": {
          "target": "com.gcp.gmail_v1#SmimeInfoList",
          "traits": {
            "smithy.api#documentation": "List of SmimeInfo."
          }
        }
      }
    },
    "com.gcp.gmail_v1#SmimeInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#SmimeInfo"
      }
    },
    "com.gcp.gmail_v1#Draft": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the draft."
          }
        },
        "message": {
          "target": "com.gcp.gmail_v1#Message",
          "traits": {
            "smithy.api#documentation": "The message content of the draft."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A draft email in the user's mailbox."
      }
    },
    "com.gcp.gmail_v1#Delegate": {
      "type": "structure",
      "members": {
        "verificationStatus": {
          "target": "com.gcp.gmail_v1#DelegateVerificationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only."
          }
        },
        "delegateEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the delegate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates."
      }
    },
    "com.gcp.gmail_v1#DelegateVerificationStatusEnum": {
      "type": "enum",
      "members": {
        "VERIFICATIONSTATUSUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verificationStatusUnspecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.gcp.gmail_v1#BatchModifyMessagesRequest": {
      "type": "structure",
      "members": {
        "addLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of label IDs to add to messages."
          }
        },
        "ids": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the messages to modify. There is a limit of 1000 ids per request."
          }
        },
        "addClassificationLabels": {
          "target": "com.gcp.gmail_v1#ClassificationLabelValueList",
          "traits": {
            "smithy.api#documentation": "A list of Classification Label values to add. If a Classification Label with the same label ID is already applied to the message, fields with existing field IDs will be updated and fields with new field IDs will be added. There's a limit of 20 Classification Label values per request. If the message is already classified and the final total number of Classification Label values exceeds the maximum allowed number of Classification Label values per message, the modification fails."
          }
        },
        "removeClassificationLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Classification Label values to remove from messages."
          }
        },
        "removeLabelIds": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of label IDs to remove from messages."
          }
        }
      }
    },
    "com.gcp.gmail_v1#CseKeyPair": {
      "type": "structure",
      "members": {
        "privateKeyMetadata": {
          "target": "com.gcp.gmail_v1#CsePrivateKeyMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata for instances of this key pair's private key."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`."
          }
        },
        "pem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format."
          }
        },
        "keyPairId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The immutable ID for the client-side encryption S/MIME key pair."
          }
        },
        "pkcs7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
          }
        },
        "subjectEmailAddresses": {
          "target": "com.gcp.gmail_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The email address identities that are specified on the leaf certificate."
          }
        },
        "enablementState": {
          "target": "com.gcp.gmail_v1#CseKeyPairEnablementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the key pair."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
      }
    },
    "com.gcp.gmail_v1#CsePrivateKeyMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#CsePrivateKeyMetadata"
      }
    },
    "com.gcp.gmail_v1#CseKeyPairEnablementStateEnum": {
      "type": "enum",
      "members": {
        "STATEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stateUnspecified"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListHistoryResponse": {
      "type": "structure",
      "members": {
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the mailbox's current history record."
          }
        },
        "history": {
          "target": "com.gcp.gmail_v1#HistoryList",
          "traits": {
            "smithy.api#documentation": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token to retrieve the next page of results in the list."
          }
        }
      }
    },
    "com.gcp.gmail_v1#HistoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#History"
      }
    },
    "com.gcp.gmail_v1#StopUsersRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.gmail_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.gmail_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.gmail_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.gmail_v1#StopUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#StopUsersRequest"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "gmail/v1/users/{userId}/stop"
        },
        "smithy.api#documentation": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push)."
      }
    },
    "com.gcp.gmail_v1#WatchUsersRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#WatchRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#WatchUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#WatchUsersRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#WatchResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "gmail/v1/users/{userId}/watch"
        },
        "smithy.api#documentation": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push)."
      }
    },
    "com.gcp.gmail_v1#GetProfileUsersRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#GetProfileUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#GetProfileUsersRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#Profile"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/profile"
        },
        "smithy.api#documentation": "Gets the current user's Gmail profile."
      }
    },
    "com.gcp.gmail_v1#ListUsersHistoryHistoryTypesEnum": {
      "type": "enum",
      "members": {
        "MESSAGEADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messageAdded"
          }
        },
        "MESSAGEDELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messageDeleted"
          }
        },
        "LABELADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labelAdded"
          }
        },
        "LABELREMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labelRemoved"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListUsersHistoryHistoryTypesEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gmail_v1#ListUsersHistoryHistoryTypesEnum"
      }
    },
    "com.gcp.gmail_v1#ListUsersHistoryRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startHistoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
            "smithy.api#httpQuery": "startHistoryId"
          }
        },
        "historyTypes": {
          "target": "com.gcp.gmail_v1#ListUsersHistoryHistoryTypesEnumList",
          "traits": {
            "smithy.api#documentation": "History types to be returned by the function",
            "smithy.api#httpQuery": "historyTypes"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token to retrieve a specific page of results in the list.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "labelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only return messages with a label matching the ID.",
            "smithy.api#httpQuery": "labelId"
          }
        }
      }
    },
    "com.gcp.gmail_v1#ListUsersHistory": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#ListUsersHistoryRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#ListHistoryResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/history"
        },
        "smithy.api#documentation": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.gmail_v1#GetPopUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#GetPopUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#GetPopUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#PopSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/settings/pop"
        },
        "smithy.api#documentation": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
      }
    },
    "com.gcp.gmail_v1#GetAutoForwardingUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#GetAutoForwardingUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#GetAutoForwardingUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#AutoForwarding"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/settings/autoForwarding"
        },
        "smithy.api#documentation": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings)."
      }
    },
    "com.gcp.gmail_v1#GetImapUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#GetImapUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#GetImapUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#ImapSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/settings/imap"
        },
        "smithy.api#documentation": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
      }
    },
    "com.gcp.gmail_v1#UpdateLanguageUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#LanguageSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#UpdateLanguageUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#UpdateLanguageUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#LanguageSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "gmail/v1/users/{userId}/settings/language"
        },
        "smithy.api#documentation": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead."
      }
    },
    "com.gcp.gmail_v1#GetVacationUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gmail_v1#GetVacationUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#GetVacationUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#VacationSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "gmail/v1/users/{userId}/settings/vacation"
        },
        "smithy.api#documentation": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings)."
      }
    },
    "com.gcp.gmail_v1#UpdateAutoForwardingUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#AutoForwarding",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#UpdateAutoForwardingUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#UpdateAutoForwardingUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#AutoForwarding"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "gmail/v1/users/{userId}/settings/autoForwarding"
        },
        "smithy.api#documentation": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority."
      }
    },
    "com.gcp.gmail_v1#UpdateImapUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#ImapSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#UpdateImapUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#UpdateImapUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#ImapSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "gmail/v1/users/{userId}/settings/imap"
        },
        "smithy.api#documentation": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
      }
    },
    "com.gcp.gmail_v1#UpdatePopUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#PopSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#UpdatePopUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#UpdatePopUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#PopSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "gmail/v1/users/{userId}/settings/pop"
        },
        "smithy.api#documentation": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
      }
    },
    "com.gcp.gmail_v1#UpdateVacationUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gmail_v1#VacationSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gmail_v1#UpdateVacationUsersSettings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gmail_v1#UpdateVacationUsersSettingsRequest"
      },
      "output": {
        "target": "com.gcp.gmail_v1#VacationSettings"
      },
      "errors": [
        {
          "target": "com.gcp.gmail_v1#NotFound"
        },
        {
          "target": "com.gcp.gmail_v1#Forbidden"
        },
        {
          "target": "com.gcp.gmail_v1#BadRequest"
        },
        {
          "target": "com.gcp.gmail_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "gmail/v1/users/{userId}/settings/vacation"
        },
        "smithy.api#documentation": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings)."
      }
    },
    "com.gcp.gmail_v1#GetLanguageUsersSettingsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
[...]
