{
  "smithy": "2.0",
  "metadata": {
    "service": "health",
    "version": "v4",
    "title": "Google Health API",
    "baseUrl": "https://health.googleapis.com/"
  },
  "shapes": {
    "com.gcp.health_v4#FoodServing": {
      "type": "structure",
      "members": {
        "foodMeasurementUnitDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\")."
          }
        },
        "multiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the multiplier used to compute the energy when using this serving instead of the default serving."
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of food consumed, fractional values are supported."
          }
        },
        "foodMeasurementUnitDisplayNamePlural": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Legacy measurement unit for serving size in plural form (e.g. \"pieces\", \"grams\")."
          }
        },
        "foodMeasurementUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Food measurement unit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents different properties and information about the serving of a specific food."
      }
    },
    "com.gcp.health_v4#TotalCaloriesRollupValue": {
      "type": "structure",
      "members": {
        "kcalSum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of the total calories in kilocalories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the user's total calories."
      }
    },
    "com.gcp.health_v4#DailyHeartRateVariability": {
      "type": "structure",
      "members": {
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep."
          }
        },
        "date": {
          "target": "com.gcp.health_v4#Health_Date",
          "traits": {
            "smithy.api#documentation": "Required. Date (in the user's timezone) of heart rate variability measurement."
          }
        },
        "entropy": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep."
          }
        },
        "averageHeartRateVariabilityMilliseconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats."
          }
        },
        "nonRemHeartRateBeatsPerMinute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Non-REM heart rate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
      }
    },
    "com.gcp.health_v4#BatchDeleteDataPointsRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.health_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete a batch of identifiable data points."
      }
    },
    "com.gcp.health_v4#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.health_v4#ReconciledDataPoint": {
      "type": "structure",
      "members": {
        "dailyHeartRateVariability": {
          "target": "com.gcp.health_v4#DailyHeartRateVariability",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-heart-rate-variability` daily data type collection."
          }
        },
        "dailyHeartRateZones": {
          "target": "com.gcp.health_v4#DailyHeartRateZones",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-heart-rate-zones` daily data type collection."
          }
        },
        "bodyFat": {
          "target": "com.gcp.health_v4#BodyFat",
          "traits": {
            "smithy.api#documentation": "Data for points in the `body-fat` sample data type collection."
          }
        },
        "heartRateVariability": {
          "target": "com.gcp.health_v4#HeartRateVariability",
          "traits": {
            "smithy.api#documentation": "Data for points in the `heart-rate-variability` sample data type collection."
          }
        },
        "dailyRestingHeartRate": {
          "target": "com.gcp.health_v4#DailyRestingHeartRate",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-resting-heart-rate` daily data type collection."
          }
        },
        "dailyVo2Max": {
          "target": "com.gcp.health_v4#DailyVO2Max",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-vo2-max` daily data type collection."
          }
        },
        "dataPointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
          }
        },
        "oxygenSaturation": {
          "target": "com.gcp.health_v4#OxygenSaturation",
          "traits": {
            "smithy.api#documentation": "Data for points in the `oxygen-saturation` sample data type collection."
          }
        },
        "respiratoryRateSleepSummary": {
          "target": "com.gcp.health_v4#RespiratoryRateSleepSummary",
          "traits": {
            "smithy.api#documentation": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
          }
        },
        "sleep": {
          "target": "com.gcp.health_v4#Sleep",
          "traits": {
            "smithy.api#documentation": "Data for points in the `sleep` session data type collection."
          }
        },
        "runVo2Max": {
          "target": "com.gcp.health_v4#RunVO2Max",
          "traits": {
            "smithy.api#documentation": "Data for points in the `run-vo2-max` sample data type collection."
          }
        },
        "exercise": {
          "target": "com.gcp.health_v4#Exercise",
          "traits": {
            "smithy.api#documentation": "Data for points in the `exercise` session data type collection."
          }
        },
        "nutritionLog": {
          "target": "com.gcp.health_v4#NutritionLog",
          "traits": {
            "smithy.api#documentation": "Data for points in the `nutrition-log` session data type collection."
          }
        },
        "activeMinutes": {
          "target": "com.gcp.health_v4#ActiveMinutes",
          "traits": {
            "smithy.api#documentation": "Data for points in the `active-minutes` interval data type collection."
          }
        },
        "basalEnergyBurned": {
          "target": "com.gcp.health_v4#BasalEnergyBurned",
          "traits": {
            "smithy.api#documentation": "Data for points in the `basal-energy-burned` interval data type collection."
          }
        },
        "activityLevel": {
          "target": "com.gcp.health_v4#ActivityLevel",
          "traits": {
            "smithy.api#documentation": "Data for points in the `activity-level` daily data type collection."
          }
        },
        "floors": {
          "target": "com.gcp.health_v4#Floors",
          "traits": {
            "smithy.api#documentation": "Data for points in the `floors` interval data type collection."
          }
        },
        "sedentaryPeriod": {
          "target": "com.gcp.health_v4#SedentaryPeriod",
          "traits": {
            "smithy.api#documentation": "Data for points in the `sedentary-period` interval data type collection."
          }
        },
        "bloodGlucose": {
          "target": "com.gcp.health_v4#BloodGlucose",
          "traits": {
            "smithy.api#documentation": "Data for points in the `blood-glucose` sample data type collection."
          }
        },
        "altitude": {
          "target": "com.gcp.health_v4#Altitude",
          "traits": {
            "smithy.api#documentation": "Data for points in the `altitude` interval data type collection."
          }
        },
        "height": {
          "target": "com.gcp.health_v4#Height",
          "traits": {
            "smithy.api#documentation": "Data for points in the `height` sample data type collection."
          }
        },
        "distance": {
          "target": "com.gcp.health_v4#Distance",
          "traits": {
            "smithy.api#documentation": "Data for points in the `distance` interval data type collection."
          }
        },
        "timeInHeartRateZone": {
          "target": "com.gcp.health_v4#TimeInHeartRateZone",
          "traits": {
            "smithy.api#documentation": "Data for points in the `time-in-heart-rate-zone` interval data type collection."
          }
        },
        "activeZoneMinutes": {
          "target": "com.gcp.health_v4#ActiveZoneMinutes",
          "traits": {
            "smithy.api#documentation": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
          }
        },
        "swimLengthsData": {
          "target": "com.gcp.health_v4#SwimLengthsData",
          "traits": {
            "smithy.api#documentation": "Data for points in the `swim-lengths-data` interval data type collection."
          }
        },
        "weight": {
          "target": "com.gcp.health_v4#Weight",
          "traits": {
            "smithy.api#documentation": "Data for points in the `weight` sample data type collection."
          }
        },
        "hydrationLog": {
          "target": "com.gcp.health_v4#HydrationLog",
          "traits": {
            "smithy.api#documentation": "Data for points in the `hydration-log` session data type collection."
          }
        },
        "dailyOxygenSaturation": {
          "target": "com.gcp.health_v4#DailyOxygenSaturation",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-oxygen-saturation` daily data type collection."
          }
        },
        "dailyRespiratoryRate": {
          "target": "com.gcp.health_v4#DailyRespiratoryRate",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-respiratory-rate` daily data type collection."
          }
        },
        "dailySleepTemperatureDerivations": {
          "target": "com.gcp.health_v4#DailySleepTemperatureDerivations",
          "traits": {
            "smithy.api#documentation": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
          }
        },
        "activeEnergyBurned": {
          "target": "com.gcp.health_v4#ActiveEnergyBurned",
          "traits": {
            "smithy.api#documentation": "Data for points in the `active-energy-burned` interval data type collection."
          }
        },
        "vo2Max": {
          "target": "com.gcp.health_v4#VO2Max",
          "traits": {
            "smithy.api#documentation": "Data for points in the `vo2-max` sample data type collection."
          }
        },
        "heartRate": {
          "target": "com.gcp.health_v4#HeartRate",
          "traits": {
            "smithy.api#documentation": "Data for points in the `heart-rate` sample data type collection."
          }
        },
        "coreBodyTemperature": {
          "target": "com.gcp.health_v4#CoreBodyTemperature",
          "traits": {
            "smithy.api#documentation": "Data for points in the `core-body-temperature` sample data type collection."
          }
        },
        "steps": {
          "target": "com.gcp.health_v4#Steps",
          "traits": {
            "smithy.api#documentation": "Data for points in the `steps` interval data type collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reconciled computed or recorded metric."
      }
    },
    "com.gcp.health_v4#HeartBeat": {
      "type": "structure",
      "members": {
        "beatsPerMinute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The beats-per-minute value extrapolated from the time before the following heart beat. This is calculated as 60000 / rr, where rr is the gap between heart beats in milliseconds (IBI - Interbeat Interval)."
          }
        },
        "physicalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time of the heart beat measurement."
          }
        },
        "utcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UTC offset of the user's timezone when the heart beat measurement occurred."
          }
        },
        "civilTime": {
          "target": "com.gcp.health_v4#CivilDateTime",
          "traits": {
            "smithy.api#documentation": "Output only. The civil time in the timezone the subject is in at the time of the observation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single heart beat measurement."
      }
    },
    "com.gcp.health_v4#WeightQuantity": {
      "type": "structure",
      "members": {
        "userProvidedUnit": {
          "target": "com.gcp.health_v4#WeightQuantityUserProvidedUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the user provided unit."
          }
        },
        "grams": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Value representing the weight in grams."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the weight quantity."
      }
    },
    "com.gcp.health_v4#WeightQuantityUserProvidedUnitEnum": {
      "type": "enum",
      "members": {
        "WEIGHT_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_UNSPECIFIED"
          }
        },
        "GRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAM"
          }
        },
        "KILOGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOGRAM"
          }
        },
        "OUNCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUNCE"
          }
        },
        "POUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POUND"
          }
        },
        "STONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STONE"
          }
        },
        "MILLIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILLIGRAM"
          }
        },
        "MICROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROGRAM"
          }
        },
        "NANOGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NANOGRAM"
          }
        }
      }
    },
    "com.gcp.health_v4#DailyHeartRateZones": {
      "type": "structure",
      "members": {
        "heartRateZones": {
          "target": "com.gcp.health_v4#HeartRateZoneList",
          "traits": {
            "smithy.api#documentation": "Required. The heart rate zones."
          }
        },
        "date": {
          "target": "com.gcp.health_v4#Health_Date",
          "traits": {
            "smithy.api#documentation": "Required. Date (in user's timezone) of the heart rate zones record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day."
      }
    },
    "com.gcp.health_v4#HeartRateZoneList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#HeartRateZone"
      }
    },
    "com.gcp.health_v4#ActiveMinutesByActivityLevel": {
      "type": "structure",
      "members": {
        "activityLevel": {
          "target": "com.gcp.health_v4#ActiveMinutesByActivityLevelActivityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Required. The level of activity."
          }
        },
        "activeMinutes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of whole minutes spent in activity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active minutes at a given activity level."
      }
    },
    "com.gcp.health_v4#ActiveMinutesByActivityLevelActivityLevelEnum": {
      "type": "enum",
      "members": {
        "ACTIVITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_LEVEL_UNSPECIFIED"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERATE"
          }
        },
        "VIGOROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIGOROUS"
          }
        }
      }
    },
    "com.gcp.health_v4#VO2Max": {
      "type": "structure",
      "members": {
        "sampleTime": {
          "target": "com.gcp.health_v4#ObservationSampleTime",
          "traits": {
            "smithy.api#documentation": "Required. The time at which VO2 max was measured."
          }
        },
        "vo2Max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
          }
        },
        "measurementMethod": {
          "target": "com.gcp.health_v4#VO2MaxMeasurementMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The method used to measure the VO2 max value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VO2 max measurement."
      }
    },
    "com.gcp.health_v4#VO2MaxMeasurementMethodEnum": {
      "type": "enum",
      "members": {
        "MEASUREMENT_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_METHOD_UNSPECIFIED"
          }
        },
        "FITBIT_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FITBIT_RUN"
          }
        },
        "GOOGLE_DEMOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEMOGRAPHIC"
          }
        },
        "COOPER_TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOPER_TEST"
          }
        },
        "HEART_RATE_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEART_RATE_RATIO"
          }
        },
        "METABOLIC_CART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METABOLIC_CART"
          }
        },
        "MULTISTAGE_FITNESS_TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTISTAGE_FITNESS_TEST"
          }
        },
        "ROCKPORT_FITNESS_TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROCKPORT_FITNESS_TEST"
          }
        },
        "MAX_EXERCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_EXERCISE"
          }
        },
        "PREDICTION_SUB_MAX_EXERCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDICTION_SUB_MAX_EXERCISE"
          }
        },
        "PREDICTION_NON_EXERCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDICTION_NON_EXERCISE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.health_v4#RespiratoryRateSleepSummary": {
      "type": "structure",
      "members": {
        "deepSleepStats": {
          "target": "com.gcp.health_v4#RespiratoryRateSleepSummaryStatistics",
          "traits": {
            "smithy.api#documentation": "Optional. Respiratory rate statistics for deep sleep."
          }
        },
        "lightSleepStats": {
          "target": "com.gcp.health_v4#RespiratoryRateSleepSummaryStatistics",
          "traits": {
            "smithy.api#documentation": "Optional. Respiratory rate statistics for light sleep."
          }
        },
        "remSleepStats": {
          "target": "com.gcp.health_v4#RespiratoryRateSleepSummaryStatistics",
          "traits": {
            "smithy.api#documentation": "Optional. Respiratory rate statistics for REM sleep."
          }
        },
        "fullSleepStats": {
          "target": "com.gcp.health_v4#RespiratoryRateSleepSummaryStatistics",
          "traits": {
            "smithy.api#documentation": "Required. Full respiratory rate statistics."
          }
        },
        "sampleTime": {
          "target": "com.gcp.health_v4#ObservationSampleTime",
          "traits": {
            "smithy.api#documentation": "Required. The time at which respiratory rate was measured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times."
      }
    },
    "com.gcp.health_v4#DailyRollUpDataPointsResponse": {
      "type": "structure",
      "members": {
        "rollupDataPoints": {
          "target": "com.gcp.health_v4#DailyRollupDataPointList",
          "traits": {
            "smithy.api#documentation": "Values for each aggregation time window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the list of rolled up data points."
      }
    },
    "com.gcp.health_v4#DailyRollupDataPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#DailyRollupDataPoint"
      }
    },
    "com.gcp.health_v4#NutritionLog": {
      "type": "structure",
      "members": {
        "totalFat": {
          "target": "com.gcp.health_v4#WeightQuantity",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the total fat of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
          }
        },
        "foodDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value representing the display name of the food. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
          }
        },
        "nutrients": {
          "target": "com.gcp.health_v4#NutrientQuantityList",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the nutrients of the nutrition log."
          }
        },
        "energyFromFat": {
          "target": "com.gcp.health_v4#EnergyQuantity",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the energy from fat of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
          }
        },
        "mealType": {
          "target": "com.gcp.health_v4#NutritionLogMealTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the meal type of the nutrition log."
          }
        },
        "totalCarbohydrate": {
          "target": "com.gcp.health_v4#WeightQuantity",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the total carbohydrate of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
          }
        },
        "serving": {
          "target": "com.gcp.health_v4#Serving",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the nutrition log serving."
          }
        },
        "interval": {
          "target": "com.gcp.health_v4#SessionTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval."
          }
        },
        "energy": {
          "target": "com.gcp.health_v4#EnergyQuantity",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the energy of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
          }
        },
        "food": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Represents the food ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds information about a user logged food. There are two ways of creating a nutrition log based on the food type: 1. Identified food: Using the food field, which is a reference to a Food resource. In this case fields `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat`, `food_display_name` will be populated based on the referenced food. 2. Anonymous food: Using the `food_display_name` field and setting the `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat` fields manually. The identified food is preferred over the anonymous food. Nutrition logs created from anonymous food are not be editable."
      }
    },
    "com.gcp.health_v4#NutrientQuantityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#NutrientQuantity"
      }
    },
    "com.gcp.health_v4#NutritionLogMealTypeEnum": {
      "type": "enum",
      "members": {
        "MEAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEAL_TYPE_UNSPECIFIED"
          }
        },
        "BEFORE_BREAKFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE_BREAKFAST"
          }
        },
        "BREAKFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BREAKFAST"
          }
        },
        "BEFORE_LUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE_LUNCH"
          }
        },
        "LUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LUNCH"
          }
        },
        "BEFORE_DINNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE_DINNER"
          }
        },
        "DINNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DINNER"
          }
        },
        "AFTER_DINNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFTER_DINNER"
          }
        },
        "SNACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNACK"
          }
        },
        "ANYTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANYTIME"
          }
        }
      }
    },
    "com.gcp.health_v4#DateTime": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "com.gcp.health_v4#TimeZone",
          "traits": {
            "smithy.api#documentation": "Time zone."
          }
        },
        "utcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
      }
    },
    "com.gcp.health_v4#CivilDateTime": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.gcp.health_v4#Health_Date",
          "traits": {
            "smithy.api#documentation": "Required. Calendar date."
          }
        },
        "time": {
          "target": "com.gcp.health_v4#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
      }
    },
    "com.gcp.health_v4#DailyVO2Max": {
      "type": "structure",
      "members": {
        "vo2MaxCovariance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The covariance of the VO2 max value."
          }
        },
        "date": {
          "target": "com.gcp.health_v4#Health_Date",
          "traits": {
            "smithy.api#documentation": "Required. The date for which the Daily VO2 max was measured."
          }
        },
        "vo2Max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
          }
        },
        "estimated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation."
          }
        },
        "cardioFitnessLevel": {
          "target": "com.gcp.health_v4#DailyVO2MaxCardioFitnessLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the user's cardio fitness level based on their VO2 max."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise."
      }
    },
    "com.gcp.health_v4#DailyVO2MaxCardioFitnessLevelEnum": {
      "type": "enum",
      "members": {
        "CARDIO_FITNESS_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDIO_FITNESS_LEVEL_UNSPECIFIED"
          }
        },
        "POOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POOR"
          }
        },
        "FAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIR"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOD"
          }
        },
        "VERY_GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_GOOD"
          }
        },
        "EXCELLENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCELLENT"
          }
        }
      }
    },
    "com.gcp.health_v4#CivilTimeInterval": {
      "type": "structure",
      "members": {
        "end": {
          "target": "com.gcp.health_v4#CivilDateTime",
          "traits": {
            "smithy.api#documentation": "Required. The exclusive end of the range."
          }
        },
        "start": {
          "target": "com.gcp.health_v4#CivilDateTime",
          "traits": {
            "smithy.api#documentation": "Required. The inclusive start of the range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Counterpart of google.type.Interval, but using CivilDateTime."
      }
    },
    "com.gcp.health_v4#SleepStage": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Sleep stage end time."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Sleep stage start time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this sleep stages segment."
          }
        },
        "startUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The offset of the user's local time at the start of the sleep stage relative to the Coordinated Universal Time (UTC)."
          }
        },
        "type": {
          "target": "com.gcp.health_v4#SleepStageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this sleep stages segment."
          }
        },
        "endUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The offset of the user's local time at the end of the sleep stage relative to the Coordinated Universal Time (UTC)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sleep stage segment."
      }
    },
    "com.gcp.health_v4#SleepStageTypeEnum": {
      "type": "enum",
      "members": {
        "SLEEP_STAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLEEP_STAGE_TYPE_UNSPECIFIED"
          }
        },
        "AWAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAKE"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "DEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEEP"
          }
        },
        "REM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REM"
          }
        },
        "ASLEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASLEEP"
          }
        },
        "RESTLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTLESS"
          }
        }
      }
    },
    "com.gcp.health_v4#Electrocardiogram": {
      "type": "structure",
      "members": {
        "millivoltsScalingFactor": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The factor by which to divide waveform samples to get voltage in millivolts: millivolts = waveform_sample / millivolts_scaling_factor."
          }
        },
        "medicalDeviceInfo": {
          "target": "com.gcp.health_v4#MedicalDeviceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The meta information for the compatible device used to conduct the measurement. ECG measurements typically populate `firmware_version`, `feature_version`, and `device_model`."
          }
        },
        "beatsPerMinuteAvg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Average heart rate recorded during ECG reading in beats per minute."
          }
        },
        "resultClassification": {
          "target": "com.gcp.health_v4#ElectrocardiogramResultClassificationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The result classification of the ECG reading."
          }
        },
        "waveformSamples": {
          "target": "com.gcp.health_v4#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. An array of voltage values representing lead I ECG values. Each sample represents voltage difference in ECG graph. The first value in array corresponds to the start of the reading."
          }
        },
        "leadNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of leads used for ECG reading."
          }
        },
        "samplingFrequencyHertz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The sampling frequency of waveform samples in hertz."
          }
        },
        "interval": {
          "target": "com.gcp.health_v4#SessionTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval. NOTE: Historical ECG data lacks timezone offsets, so `start_utc_offset` and `end_utc_offset` will be missing or default to zero. As a result, the civil time fields within this interval will default to UTC. It is recommended to use physical time fields instead for accurate time referencing. NOTE: The `start_time` and `end_time` of the interval are equal, representing the reading time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Electrocardiogram (ECG) measurement session. This data type is based on SaMD feature and any changes to it may require additional review."
      }
    },
    "com.gcp.health_v4#ElectrocardiogramResultClassificationEnum": {
      "type": "enum",
      "members": {
        "RESULT_CLASSIFICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_CLASSIFICATION_UNSPECIFIED"
          }
        },
        "NORMAL_SINUS_RHYTHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_SINUS_RHYTHM"
          }
        },
        "ATRIAL_FIBRILLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATRIAL_FIBRILLATION"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCONCLUSIVE"
          }
        },
        "INCONCLUSIVE_HIGH_HEART_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCONCLUSIVE_HIGH_HEART_RATE"
          }
        },
        "INCONCLUSIVE_LOW_HEART_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCONCLUSIVE_LOW_HEART_RATE"
          }
        },
        "UNREADABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREADABLE"
          }
        },
        "NOT_ANALYZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ANALYZED"
          }
        }
      }
    },
    "com.gcp.health_v4#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.health_v4#SubscriberConfig": {
      "type": "structure",
      "members": {
        "subscriptionCreatePolicy": {
          "target": "com.gcp.health_v4#SubscriberConfigSubscriptionCreatePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Required. Policy for subscription creation."
          }
        },
        "dataTypes": {
          "target": "com.gcp.health_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Required. See [Google Health API data types](https://developers.google.com/health/data-types) for the list of supported data types. Values should be in kebab-case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type."
      }
    },
    "com.gcp.health_v4#SubscriberConfigSubscriptionCreatePolicyEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.health_v4#ActivityLevel": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "com.gcp.health_v4#ObservationTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval."
          }
        },
        "activityLevelType": {
          "target": "com.gcp.health_v4#ActivityLevelActivityLevelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Activity level type in the given time interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal type to capture activity level during a certain time interval."
      }
    },
    "com.gcp.health_v4#ActivityLevelActivityLevelTypeEnum": {
      "type": "enum",
      "members": {
        "ACTIVITY_LEVEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_LEVEL_TYPE_UNSPECIFIED"
          }
        },
        "SEDENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEDENTARY"
          }
        },
        "LIGHTLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTLY_ACTIVE"
          }
        },
        "MODERATELY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERATELY_ACTIVE"
          }
        },
        "VERY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_ACTIVE"
          }
        }
      }
    },
    "com.gcp.health_v4#HydrationLogRollupValue": {
      "type": "structure",
      "members": {
        "amountConsumed": {
          "target": "com.gcp.health_v4#VolumeQuantityRollup",
          "traits": {
            "smithy.api#documentation": "Rollup for amount consumed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the hydration log data type."
      }
    },
    "com.gcp.health_v4#Settings": {
      "type": "structure",
      "members": {
        "heightUnit": {
          "target": "com.gcp.health_v4#SettingsHeightUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported."
          }
        },
        "distanceUnit": {
          "target": "com.gcp.health_v4#SettingsDistanceUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported."
          }
        },
        "utcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported."
          }
        },
        "foodLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The food language code derived from the user's food database. Possible values: `'en-US'`, `'en-GB'`, `'de-DE'`, `'es-ES'`, `'fr-FR'`, `'zh-CN'`, `'zh-TW'`, `'ja-JP'`, `'en-AU'`, `'en-CA'`, `'it-IT'`, `'ko-KR'`, `'es-MX'`, `'en-IN'`, `'en-SG'`, `'en-PH'`, `'en-IE'`, `'fr-CA'`. Updates to this field are currently not supported."
          }
        },
        "swimUnit": {
          "target": "com.gcp.health_v4#SettingsSwimUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "waterUnit": {
          "target": "com.gcp.health_v4#SettingsWaterUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "glucoseUnit": {
          "target": "com.gcp.health_v4#SettingsGlucoseUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "temperatureUnit": {
          "target": "com.gcp.health_v4#SettingsTemperatureUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "languageLocale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
          }
        },
        "strideLengthWalkingType": {
          "target": "com.gcp.health_v4#SettingsStrideLengthWalkingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported."
          }
        },
        "weightUnit": {
          "target": "com.gcp.health_v4#SettingsWeightUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The measurement unit defined in the user's account settings."
          }
        },
        "autoStrideEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported."
          }
        },
        "strideLengthRunningType": {
          "target": "com.gcp.health_v4#SettingsStrideLengthRunningTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings details."
      }
    },
    "com.gcp.health_v4#SettingsHeightUnitEnum": {
      "type": "enum",
      "members": {
        "HEIGHT_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEIGHT_UNIT_UNSPECIFIED"
          }
        },
        "HEIGHT_UNIT_INCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEIGHT_UNIT_INCHES"
          }
        },
        "HEIGHT_UNIT_CENTIMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEIGHT_UNIT_CENTIMETERS"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsDistanceUnitEnum": {
      "type": "enum",
      "members": {
        "DISTANCE_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_UNIT_UNSPECIFIED"
          }
        },
        "DISTANCE_UNIT_MILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_UNIT_MILES"
          }
        },
        "DISTANCE_UNIT_KILOMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_UNIT_KILOMETERS"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsSwimUnitEnum": {
      "type": "enum",
      "members": {
        "SWIM_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWIM_UNIT_UNSPECIFIED"
          }
        },
        "SWIM_UNIT_METERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWIM_UNIT_METERS"
          }
        },
        "SWIM_UNIT_YARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWIM_UNIT_YARDS"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsWaterUnitEnum": {
      "type": "enum",
      "members": {
        "WATER_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WATER_UNIT_UNSPECIFIED"
          }
        },
        "WATER_UNIT_ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WATER_UNIT_ML"
          }
        },
        "WATER_UNIT_FL_OZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WATER_UNIT_FL_OZ"
          }
        },
        "WATER_UNIT_CUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WATER_UNIT_CUP"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsGlucoseUnitEnum": {
      "type": "enum",
      "members": {
        "GLUCOSE_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLUCOSE_UNIT_UNSPECIFIED"
          }
        },
        "GLUCOSE_UNIT_MG_DL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLUCOSE_UNIT_MG_DL"
          }
        },
        "GLUCOSE_UNIT_MMOL_L": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLUCOSE_UNIT_MMOL_L"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsTemperatureUnitEnum": {
      "type": "enum",
      "members": {
        "TEMPERATURE_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPERATURE_UNIT_UNSPECIFIED"
          }
        },
        "TEMPERATURE_UNIT_CELSIUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPERATURE_UNIT_CELSIUS"
          }
        },
        "TEMPERATURE_UNIT_FAHRENHEIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPERATURE_UNIT_FAHRENHEIT"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsStrideLengthWalkingTypeEnum": {
      "type": "enum",
      "members": {
        "STRIDE_LENGTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_UNSPECIFIED"
          }
        },
        "STRIDE_LENGTH_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_DEFAULT"
          }
        },
        "STRIDE_LENGTH_TYPE_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_MANUAL"
          }
        },
        "STRIDE_LENGTH_TYPE_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_AUTO"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsWeightUnitEnum": {
      "type": "enum",
      "members": {
        "WEIGHT_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_UNSPECIFIED"
          }
        },
        "WEIGHT_UNIT_POUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_POUNDS"
          }
        },
        "WEIGHT_UNIT_STONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_STONE"
          }
        },
        "WEIGHT_UNIT_KILOGRAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_KILOGRAMS"
          }
        }
      }
    },
    "com.gcp.health_v4#SettingsStrideLengthRunningTypeEnum": {
      "type": "enum",
      "members": {
        "STRIDE_LENGTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_UNSPECIFIED"
          }
        },
        "STRIDE_LENGTH_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_DEFAULT"
          }
        },
        "STRIDE_LENGTH_TYPE_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_MANUAL"
          }
        },
        "STRIDE_LENGTH_TYPE_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIDE_LENGTH_TYPE_AUTO"
          }
        }
      }
    },
    "com.gcp.health_v4#ActiveEnergyBurnedRollupValue": {
      "type": "structure",
      "members": {
        "kcalSum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Sum of the active energy burned in kilocalories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of active energy burned."
      }
    },
    "com.gcp.health_v4#Floors": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "com.gcp.health_v4#ObservationTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval"
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of floors in the recorded interval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gained elevation measured in floors over the time interval"
      }
    },
    "com.gcp.health_v4#EnergyQuantityRollup": {
      "type": "structure",
      "members": {
        "userProvidedUnitLast": {
          "target": "com.gcp.health_v4#EnergyQuantityRollupUserProvidedUnitLastEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The user provided unit on the last element."
          }
        },
        "kcalSum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The sum of the energy in kilocalories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rollup for the energy quantity."
      }
    },
    "com.gcp.health_v4#EnergyQuantityRollupUserProvidedUnitLastEnum": {
      "type": "enum",
      "members": {
        "ENERGY_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENERGY_UNIT_UNSPECIFIED"
          }
        },
        "JOULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOULE"
          }
        },
        "KILOJOULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOJOULE"
          }
        },
        "KILOCALORIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOCALORIE"
          }
        },
        "SMALL_CALORIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL_CALORIE"
          }
        },
        "CALORIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALORIE"
          }
        }
      }
    },
    "com.gcp.health_v4#SleepSummary": {
      "type": "structure",
      "members": {
        "minutesAsleep": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE)."
          }
        },
        "minutesAwake": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages."
          }
        },
        "minutesToFallAsleep": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Minutes to fall asleep calculated by restlessness algorithm."
          }
        },
        "minutesAfterWakeUp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Minutes after wake up calculated by restlessness algorithm."
          }
        },
        "minutesInSleepPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Delta between wake time and bedtime. It is the sum of all stages."
          }
        },
        "stagesSummary": {
          "target": "com.gcp.health_v4#StageSummaryList",
          "traits": {
            "smithy.api#documentation": "Output only. List of summaries (total duration and segment count) per each sleep stage type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Sleep summary: metrics and stages summary."
      }
    },
    "com.gcp.health_v4#StageSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#StageSummary"
      }
    },
    "com.gcp.health_v4#FloorsRollupValue": {
      "type": "structure",
      "members": {
        "countSum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sum of the floors count."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the user's floors."
      }
    },
    "com.gcp.health_v4#ActiveMinutesRollupValue": {
      "type": "structure",
      "members": {
        "activeMinutesRollupByActivityLevel": {
          "target": "com.gcp.health_v4#ActiveMinutesRollupByActivityLevelList",
          "traits": {
            "smithy.api#documentation": "Active minutes by activity level. At most one record per activity level is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the active minutes data type."
      }
    },
    "com.gcp.health_v4#ActiveMinutesRollupByActivityLevelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#ActiveMinutesRollupByActivityLevel"
      }
    },
    "com.gcp.health_v4#Serving": {
      "type": "structure",
      "members": {
        "foodMeasurementUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Food measurement unit"
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of food consumed, fractional values are supported."
          }
        },
        "foodMeasurementUnitDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents different properties and information about the serving of a specific food."
      }
    },
    "com.gcp.health_v4#ListSubscribersResponse": {
      "type": "structure",
      "members": {
        "subscribers": {
          "target": "com.gcp.health_v4#SubscriberList",
          "traits": {
            "smithy.api#documentation": "Subscribers from the specified project."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of subscribers matching the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSubscribers."
      }
    },
    "com.gcp.health_v4#SubscriberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#Subscriber"
      }
    },
    "com.gcp.health_v4#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.health_v4#Profile": {
      "type": "structure",
      "members": {
        "autoRunningStrideLengthMm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
          }
        },
        "userConfiguredWalkingStrideLengthMm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
          }
        },
        "userConfiguredRunningStrideLengthMm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
          }
        },
        "age": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported."
          }
        },
        "autoWalkingStrideLengthMm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
          }
        },
        "membershipStartDate": {
          "target": "com.gcp.health_v4#Health_Date",
          "traits": {
            "smithy.api#documentation": "Output only. The date the user created their account. Updates to this field are currently not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile details."
      }
    },
    "com.gcp.health_v4#HttpHeader": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP header value."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP header key. It is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an HTTP header."
      }
    },
    "com.gcp.health_v4#PairedDevice": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.gcp.health_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Lists of unique features supported by the device. Comprehensive list of supported features: **Fitness Tracking** - `ACTIVE_MINUTES`: Legacy active minutes. - `AUTOSTRIDE`: Automatic stride length calculation. - `BIKE_ONBOARDING`: Cycling UI support. - `CALORIES`: Daily burned calories. - `DISTANCE`: Daily distance tracking. - `ELEVATION`: Floors climbed. - `INACTIVITY_ALERTS`: Reminders to move. - `SEDENTARY_TIME`: Tracks inactive time. - `STEPS`: Daily steps. - `SWIM`: Swim tracking (laps/strokes). - `AUTORUN`: Automatic run detection. - `ACTIVE_ZONE_MINUTES`: Active Zone Minutes (AZM). **Heart Rate & Health** - `HEART_RATE`: Continuous heart rate (PPG). - `BAT_SIGNAL`: High/Low Heart Rate Alerts. **Advanced Sensors** - `SPO2`: Blood oxygen saturation. - `NIGHTTIME_OXYGEN_SATURATION`: Sleep SpO2. - `ESTIMATED_OXYGEN_VARIATION`: Estimated Oxygen Variation. - `EDA`: Electrodermal Activity (stress). - `SKIN_TEMPERATURE`: Skin temperature variation. - `INTERNAL_DEVICE_TEMPERATURE`: Internal device temperature. **Sleep & Wellness** - `SLEEP`: Basic sleep tracking. - `SMART_SLEEP`: Advanced sleep tracking (stages/score). - `BEDTIME_REMINDER`: Bedtime reminders. - `SOUNDSCAPE`: Snore and noise detection. **Advanced Workouts** - `WB`: Custom Workout Builder. - `AUTOCUES`: Auto Cues / Auto Lap. - `DWR_RUN`: Daily Run Recommendations. - `ADVANCED_RUNNING`: Advanced Running Dynamics (e.g., GCT, VO). **GPS & Location** - `GPS`: Built-in GPS. - `CONNECTED_GPS`: Connected GPS (uses phone). - `LOCATION_HINT`: Location helper. **Payments & NFC** - `PAYMENTS`: NFC payments (Fitbit Pay/Google Wallet). - `FELICA`: FeliCa support (Japan payments/transit). **Activity Detection** - `GROK`: SmartTrack automatic activity detection. - `RETRO_AR`: Retroactive Activity Recognition prompts. **Smart Features & UI** - `ALARMS`: Silent alarms. - `BLE_MUSIC_CONTROL`: BLE music control. - `MUSIC`: Direct music storage/control. - `YOUTUBE_MUSIC_SUPPORTED`: YouTube Music support. - `GALLERY`: App Gallery. - `TUTORIAL_SUPPORTED`: On-screen tutorials. - `SMILEY_EMOTE`: Legacy Zip face. - `MOBILE_TO_DEVICE_DEEPLINK`: Mobile to device settings deep link. - `HIDE_GALLERY`: Option to hide Gallery. - `HIDE_GOAL_SELECTION`: Option to hide goal selection. - `DIGITAL_WARRANTY_SUPPORTED`: Digital warranty display. - `DIRECT_DEVICE_SETTINGS_SUPPORTED`: Direct device settings management. **Gym HR Broadcasting** - `ASPEN_SUPPORTED`: Broadcast HR to gym equipment. - `ASPEN_REMOTE_UI_SUPPORTED`: Remote UI for HR sharing. **Privacy & Security** - `FINITE_IMPROBABILITY`: BLE Resolvable Private Address (RPA) privacy. - `DOMAIN_KEY_SYNC`: Domain key synchronization. **BLE Protocol** - `BONDING`: Secure BLE bonding. - `ADVERTISES_SERIAL`: Advertises serial number. - `STATUS_CHARACTERISTIC`: BLE Status Characteristic. - `TRACKER_CHANNEL_CHARACTERISTIC`: BLE Tracker Channel Characteristic. - `PING_CHARACTERISTIC`: BLE Ping Characteristic. **Cellular & Wi-Fi** - `MOBILE_DATA`: LTE cellular support. - `SINGLE_AP_WIFI`: Single AP Wi-Fi. - `MULTI_AP_WIFI`: Multi AP Wi-Fi. - `WIFI_FWUP`: Firmware updates over Wi-Fi. **Data Sync & Transfer** - `APP_SYNC`: Background app sync. - `LIVE_DATA`: Real-time data streaming. - `EVENT_BASED_SYNC_SUPPORTED`: Event-based sync. - `TIME_SERVICE`: Time synchronization service. - `REMOTE_FILE_PROVIDER`: Remote file transfer. - `DIRECT_COMMS_ALARMS`: Direct communication for alarms. - `DIRECT_COMMS_EXERCISE`: Direct communication for exercise. - `DIRECT_COMMS_BATTERY_ALERTS`: Direct communication for battery alerts. **Google Integrations** - `PARROT_TREE_SUPPORTED`: Find My Device support."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of last sync with the Fitbit mobile application."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of this Device resource. Format: `users/{user}/pairedDevices/{paired_device}` Example: `users/1234567890/pairedDevices/123` or `users/me/pairedDevices/123`"
          }
        },
        "deviceType": {
          "target": "com.gcp.health_v4#PairedDeviceDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The device type. Supported: TRACKER | SCALE"
          }
        },
        "batteryLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The battery level of the device."
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mac ID number of the device."
          }
        },
        "deviceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The product name of the device"
          }
        },
        "batteryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The battery status of the device. Supported: High | Medium | Low | Empty"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User's Paired 1P Device The PairedDevice details include information about the device type, battery status, battery level, last sync time, device version, mac address, and features."
      }
    },
    "com.gcp.health_v4#PairedDeviceDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "TRACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACKER"
          }
        },
        "SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE"
          }
        }
      }
    },
    "com.gcp.health_v4#CreateSubscriptionPayload": {
      "type": "structure",
      "members": {
        "dataTypes": {
          "target": "com.gcp.health_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Data types subscribed to."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload for creating a subscription."
      }
    },
    "com.gcp.health_v4#Steps": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "com.gcp.health_v4#ObservationTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of steps in the recorded interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Step count over the time interval."
      }
    },
    "com.gcp.health_v4#VolumeQuantity": {
      "type": "structure",
      "members": {
        "milliliters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Value representing the volume in milliliters."
          }
        },
        "userProvidedUnit": {
          "target": "com.gcp.health_v4#VolumeQuantityUserProvidedUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Value representing the user provided unit, used only for user-facing input and display purposes. In the API format, all volume quantities are converted to milliliters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the volume quantity."
      }
    },
    "com.gcp.health_v4#VolumeQuantityUserProvidedUnitEnum": {
      "type": "enum",
      "members": {
        "VOLUME_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_UNIT_UNSPECIFIED"
          }
        },
        "CUP_IMPERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUP_IMPERIAL"
          }
        },
        "CUP_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUP_US"
          }
        },
        "FLUID_OUNCE_IMPERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLUID_OUNCE_IMPERIAL"
          }
        },
        "FLUID_OUNCE_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLUID_OUNCE_US"
          }
        },
        "LITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LITER"
          }
        },
        "MILLILITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILLILITER"
          }
        },
        "PINT_IMPERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PINT_IMPERIAL"
          }
        },
        "PINT_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PINT_US"
          }
        }
      }
    },
    "com.gcp.health_v4#TimeInHeartRateZoneValue": {
      "type": "structure",
      "members": {
        "heartRateZone": {
          "target": "com.gcp.health_v4#TimeInHeartRateZoneValueHeartRateZoneEnum",
          "traits": {
            "smithy.api#documentation": "The heart rate zone."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total time spent in the specified heart rate zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the total time spent in a specific heart rate zone."
      }
    },
    "com.gcp.health_v4#TimeInHeartRateZoneValueHeartRateZoneEnum": {
      "type": "enum",
      "members": {
        "HEART_RATE_ZONE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEART_RATE_ZONE_TYPE_UNSPECIFIED"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERATE"
          }
        },
        "VIGOROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIGOROUS"
          }
        },
        "PEAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEAK"
          }
        }
      }
    },
    "com.gcp.health_v4#Health_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.health_v4#HydrationLog": {
      "type": "structure",
      "members": {
        "amountConsumed": {
          "target": "com.gcp.health_v4#VolumeQuantity",
          "traits": {
            "smithy.api#documentation": "Required. Amount of liquid (ex. water) consumed."
          }
        },
        "interval": {
          "target": "com.gcp.health_v4#SessionTimeInterval",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds information about a user logged hydration."
      }
    },
    "com.gcp.health_v4#OutOfBedSegment": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Segment end time."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Segment tart time."
          }
        },
        "startUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC)."
          }
        },
        "endUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A time interval to represent an out-of-bed segment."
      }
    },
    "com.gcp.health_v4#AlertWindow": {
      "type": "structure",
      "members": {
        "heartBeats": {
          "target": "com.gcp.health_v4#HeartBeatList",
          "traits": {
            "smithy.api#documentation": "Optional. All heart beats in the interval contained in this analysis window."
          }
        },
        "civilStartTime": {
          "target": "com.gcp.health_v4#CivilDateTime",
          "traits": {
            "smithy.api#documentation": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
          }
        },
        "endUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UTC offset of the user's timezone when the analysis window ended."
          }
        },
        "civilEndTime": {
          "target": "com.gcp.health_v4#CivilDateTime",
          "traits": {
            "smithy.api#documentation": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The end time of the analysis window."
          }
        },
        "positive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether the window was positive for AFib or not. A `true` value indicates that AFib was detected in this window. A `false` value means AFib was not detected, but does not guarantee the absence of AFib."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Observed interval. The start time of the analysis window."
          }
        },
        "startUtcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UTC offset of the user's timezone when the analysis window started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An analysis window evaluated for AFib. Note: The current version of the algorithm will only produce alerts if all windows are positive. So anything returned from the API will always have the positive bit set to true. Internally, windows can be negative, however. We never save \"inconclusive\" windows (they aren't produced by the algorithm)."
      }
    },
    "com.gcp.health_v4#HeartBeatList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#HeartBeat"
      }
    },
    "com.gcp.health_v4#GoogleDevicesandservicesHealthV4DataType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly."
      }
    },
    "com.gcp.health_v4#ReconcileDataPointsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token, empty if the response is complete"
          }
        },
        "dataPoints": {
          "target": "com.gcp.health_v4#ReconciledDataPointList",
          "traits": {
            "smithy.api#documentation": "Data points matching the query"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the list of reconciled DataPoints."
      }
    },
    "com.gcp.health_v4#ReconciledDataPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#ReconciledDataPoint"
      }
    },
    "com.gcp.health_v4#FoodMeasurementUnit": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the food measurement unit (e.g., \"gram\", \"piece\")."
          }
        },
        "pluralDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The plural display name of the food measurement unit (e.g., \"grams\", \"pieces\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a food measurement unit."
      }
    },
    "com.gcp.health_v4#ActivityLevelRollupByActivityLevelType": {
      "type": "structure",
      "members": {
        "activityLevelType": {
          "target": "com.gcp.health_v4#ActivityLevelRollupByActivityLevelTypeActivityLevelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Activity level type."
          }
        },
        "totalDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total duration in the activity level type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the total duration in a specific activity level type."
      }
    },
    "com.gcp.health_v4#ActivityLevelRollupByActivityLevelTypeActivityLevelTypeEnum": {
      "type": "enum",
      "members": {
        "ACTIVITY_LEVEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_LEVEL_TYPE_UNSPECIFIED"
          }
        },
        "SEDENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEDENTARY"
          }
        },
        "LIGHTLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTLY_ACTIVE"
          }
        },
        "MODERATELY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERATELY_ACTIVE"
          }
        },
        "VERY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_ACTIVE"
          }
        }
      }
    },
    "com.gcp.health_v4#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.health_v4#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.health_v4#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.health_v4#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.health_v4#DocumentMap"
      }
    },
    "com.gcp.health_v4#HeartRateRollupValue": {
      "type": "structure",
      "members": {
        "beatsPerMinuteAvg": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The average heart rate value in the interval."
          }
        },
        "beatsPerMinuteMax": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum heart rate value in the interval."
          }
        },
        "beatsPerMinuteMin": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum heart rate value in the interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the heart rate data type."
      }
    },
    "com.gcp.health_v4#SwimLengthsDataRollupValue": {
      "type": "structure",
      "members": {
        "strokeCountSum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of swim strokes in the interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the swim lengths data type."
      }
    },
    "com.gcp.health_v4#HeartRateVariability": {
      "type": "structure",
      "members": {
        "sampleTime": {
          "target": "com.gcp.health_v4#ObservationSampleTime",
          "traits": {
            "smithy.api#documentation": "Required. The time of the heart rate variability measurement."
          }
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Google Health."
          }
        },
        "standardDeviationMilliseconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The standard deviation of the heart rate variability measurement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN)."
      }
    },
    "com.gcp.health_v4#ActiveZoneMinutesRollupValue": {
      "type": "structure",
      "members": {
        "sumInPeakHeartZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Active zone minutes in `HeartRateZone.PEAK`."
          }
        },
        "sumInCardioHeartZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Active zone minutes in `HeartRateZone.CARDIO`."
          }
        },
        "sumInFatBurnHeartZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Active zone minutes in `HeartRateZone.FAT_BURN`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of the rollup of the active zone minutes data type."
      }
    },
    "com.gcp.health_v4#ExerciseMetadata": {
      "type": "structure",
      "members": {
        "poolLengthMillimeters": {
          "target": "smithy.api#String",
          "traits": {
[...]
