{
  "smithy": "2.0",
  "metadata": {
    "service": "homegraph",
    "version": "v1",
    "title": "HomeGraph API",
    "baseUrl": "https://homegraph.googleapis.com/"
  },
  "shapes": {
    "com.gcp.homegraph_v1#ReportStateAndNotificationRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier per event (for example, a doorbell press)."
          }
        },
        "followUpToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "payload": {
          "target": "com.gcp.homegraph_v1#StateAndNotificationPayload",
          "traits": {
            "smithy.api#documentation": "Required. State of devices to update and notification metadata for devices."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging."
          }
        },
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Third-party user ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```"
      }
    },
    "com.gcp.homegraph_v1#ReportStateAndNotificationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID copied from ReportStateAndNotificationRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
      }
    },
    "com.gcp.homegraph_v1#QueryRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging."
          }
        },
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Third-party user ID."
          }
        },
        "inputs": {
          "target": "com.gcp.homegraph_v1#QueryRequestInputList",
          "traits": {
            "smithy.api#documentation": "Required. Inputs containing third-party device IDs for which to get the device states."
          }
        },
        "deviceView": {
          "target": "com.gcp.homegraph_v1#QueryRequestDeviceViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
          }
        },
        "includeDeviceMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the response will include device metadata in the device_metadata field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
      }
    },
    "com.gcp.homegraph_v1#QueryRequestInputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#QueryRequestInput"
      }
    },
    "com.gcp.homegraph_v1#QueryRequestDeviceViewEnum": {
      "type": "enum",
      "members": {
        "DEVICE_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_VIEW_UNSPECIFIED"
          }
        },
        "SMART_HOME_TRAIT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_HOME_TRAIT_ONLY"
          }
        },
        "HOME_TRAIT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME_TRAIT_ONLY"
          }
        },
        "HOME_TRAIT_AND_SMART_HOME_TRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#SyncRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging."
          }
        },
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Third-party user ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
      }
    },
    "com.gcp.homegraph_v1#DeviceNames": {
      "type": "structure",
      "members": {
        "defaultNames": {
          "target": "com.gcp.homegraph_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
          }
        },
        "nicknames": {
          "target": "com.gcp.homegraph_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional names provided by the user for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifiers used to describe the device."
      }
    },
    "com.gcp.homegraph_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.homegraph_v1#Component": {
      "type": "structure",
      "members": {
        "childComponents": {
          "target": "com.gcp.homegraph_v1#ComponentList",
          "traits": {
            "smithy.api#documentation": "Optional. Child components."
          }
        },
        "deviceTypes": {
          "target": "com.gcp.homegraph_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the component from the device provider."
          }
        },
        "traitData": {
          "target": "com.gcp.homegraph_v1#TraitDataList",
          "traits": {
            "smithy.api#documentation": "Required. List of trait data associated with the component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Component of a provider device."
      }
    },
    "com.gcp.homegraph_v1#ComponentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#Component"
      }
    },
    "com.gcp.homegraph_v1#TraitDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#TraitData"
      }
    },
    "com.gcp.homegraph_v1#AgentOtherDeviceId": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique third-party device ID."
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID for your smart home Action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alternate third-party device ID."
      }
    },
    "com.gcp.homegraph_v1#EventData": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The timestamp of the event."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique event ID from the device provider."
          }
        },
        "event": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The actual event payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the details for a single event."
      }
    },
    "com.gcp.homegraph_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.homegraph_v1#QueryResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging. Copied from the request."
          }
        },
        "payload": {
          "target": "com.gcp.homegraph_v1#QueryResponsePayload",
          "traits": {
            "smithy.api#documentation": "Device states for the devices given in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
      }
    },
    "com.gcp.homegraph_v1#DeviceInfo": {
      "type": "structure",
      "members": {
        "swVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device software version."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device manufacturer."
          }
        },
        "hwVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device hardware version."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device information."
      }
    },
    "com.gcp.homegraph_v1#SyncResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging. Copied from the request."
          }
        },
        "payload": {
          "target": "com.gcp.homegraph_v1#SyncResponsePayload",
          "traits": {
            "smithy.api#documentation": "Devices associated with the third-party user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
      }
    },
    "com.gcp.homegraph_v1#RequestSyncDevicesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
      }
    },
    "com.gcp.homegraph_v1#ComponentTraitUpdates": {
      "type": "structure",
      "members": {
        "componentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the component from the device provider."
          }
        },
        "traitData": {
          "target": "com.gcp.homegraph_v1#TraitDataList",
          "traits": {
            "smithy.api#documentation": "Required. The updated trait data for the component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the set of updates for a component."
      }
    },
    "com.gcp.homegraph_v1#TraitData": {
      "type": "structure",
      "members": {
        "trait": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The Provider Home API trait payload."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Other metadata for the trait. The time the client update was committed in the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the trait payload for a single trait."
      }
    },
    "com.gcp.homegraph_v1#QueryRequestPayload": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.homegraph_v1#AgentDeviceIdList",
          "traits": {
            "smithy.api#documentation": "Third-party device IDs for which to get the device states."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload containing device IDs."
      }
    },
    "com.gcp.homegraph_v1#AgentDeviceIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#AgentDeviceId"
      }
    },
    "com.gcp.homegraph_v1#HomeTraitPayload": {
      "type": "structure",
      "members": {
        "rootComponent": {
          "target": "com.gcp.homegraph_v1#Component",
          "traits": {
            "smithy.api#documentation": "The root component of the device as reported by the provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for UDDM trait data associated with a device."
      }
    },
    "com.gcp.homegraph_v1#StateAndNotificationPayload": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.homegraph_v1#ReportStateAndNotificationDevice",
          "traits": {
            "smithy.api#documentation": "The devices for updating state and sending notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload containing the state and notification information for devices."
      }
    },
    "com.gcp.homegraph_v1#QueryRequestInput": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.gcp.homegraph_v1#QueryRequestPayload",
          "traits": {
            "smithy.api#documentation": "Payload containing third-party device IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device ID inputs to QueryRequest."
      }
    },
    "com.gcp.homegraph_v1#SyncResponsePayload": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.homegraph_v1#DeviceList",
          "traits": {
            "smithy.api#documentation": "Devices associated with the third-party user."
          }
        },
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Third-party user ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload containing device information."
      }
    },
    "com.gcp.homegraph_v1#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#Device"
      }
    },
    "com.gcp.homegraph_v1#Events": {
      "type": "structure",
      "members": {
        "componentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
          }
        },
        "events": {
          "target": "com.gcp.homegraph_v1#EventDataList",
          "traits": {
            "smithy.api#documentation": "Required. List of events associated with the component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a set of events for a specific component."
      }
    },
    "com.gcp.homegraph_v1#EventDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#EventData"
      }
    },
    "com.gcp.homegraph_v1#HomeEvents": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. / Unique identifier for the device."
          }
        },
        "events": {
          "target": "com.gcp.homegraph_v1#EventsList",
          "traits": {
            "smithy.api#documentation": "Required. List of events for the item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the set of events for an item."
      }
    },
    "com.gcp.homegraph_v1#EventsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#Events"
      }
    },
    "com.gcp.homegraph_v1#DeviceMetadata": {
      "type": "structure",
      "members": {
        "traitCommitTimestamps": {
          "target": "com.gcp.homegraph_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for traits of a single device."
      }
    },
    "com.gcp.homegraph_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.homegraph_v1#RequestSyncDevicesRequest": {
      "type": "structure",
      "members": {
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Third-party user ID."
          }
        },
        "async": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call."
      }
    },
    "com.gcp.homegraph_v1#QueryResponsePayload": {
      "type": "structure",
      "members": {
        "homeTraitPayload": {
          "target": "com.gcp.homegraph_v1#HomeTraitPayloadMap",
          "traits": {
            "smithy.api#documentation": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
          }
        },
        "devices": {
          "target": "com.gcp.homegraph_v1#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "States of the devices. Map of third-party device ID to struct of device states."
          }
        },
        "deviceMetadata": {
          "target": "com.gcp.homegraph_v1#DeviceMetadataMap",
          "traits": {
            "smithy.api#documentation": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload containing device states information."
      }
    },
    "com.gcp.homegraph_v1#HomeTraitPayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.homegraph_v1#HomeTraitPayload"
      }
    },
    "com.gcp.homegraph_v1#DocumentMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.homegraph_v1#DocumentMap"
      }
    },
    "com.gcp.homegraph_v1#DeviceMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.homegraph_v1#DeviceMetadata"
      }
    },
    "com.gcp.homegraph_v1#ReportStateAndNotificationDevice": {
      "type": "structure",
      "members": {
        "notifications": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
          }
        },
        "homeEvents": {
          "target": "com.gcp.homegraph_v1#HomeEventsList",
          "traits": {
            "smithy.api#documentation": "Optional. UDDM/WHDM trait events"
          }
        },
        "states": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
          }
        },
        "homeTraits": {
          "target": "com.gcp.homegraph_v1#HomeTraitUpdatesList",
          "traits": {
            "smithy.api#documentation": "Optional. UDDM/WHDM trait updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The states and notifications specific to a device."
      }
    },
    "com.gcp.homegraph_v1#HomeEventsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#HomeEvents"
      }
    },
    "com.gcp.homegraph_v1#HomeTraitUpdatesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#HomeTraitUpdates"
      }
    },
    "com.gcp.homegraph_v1#AgentDeviceId": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Third-party device ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third-party device ID for one device."
      }
    },
    "com.gcp.homegraph_v1#Device": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Third-party device ID."
          }
        },
        "otherDeviceIds": {
          "target": "com.gcp.homegraph_v1#AgentOtherDeviceIdList",
          "traits": {
            "smithy.api#documentation": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
          }
        },
        "notificationSupportedByAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
          }
        },
        "name": {
          "target": "com.gcp.homegraph_v1#DeviceNames",
          "traits": {
            "smithy.api#documentation": "Names given to this device by your smart home Action."
          }
        },
        "attributes": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Attributes for the traits supported by the device."
          }
        },
        "roomHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
          }
        },
        "structureHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
          }
        },
        "traits": {
          "target": "com.gcp.homegraph_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
          }
        },
        "deviceInfo": {
          "target": "com.gcp.homegraph_v1#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "Device manufacturer, model, hardware version, and software version."
          }
        },
        "customData": {
          "target": "com.gcp.homegraph_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
          }
        },
        "willReportState": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third-party device definition."
      }
    },
    "com.gcp.homegraph_v1#AgentOtherDeviceIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#AgentOtherDeviceId"
      }
    },
    "com.gcp.homegraph_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.homegraph_v1#HomeTraitUpdates": {
      "type": "structure",
      "members": {
        "components": {
          "target": "com.gcp.homegraph_v1#ComponentTraitUpdatesList",
          "traits": {
            "smithy.api#documentation": "Required. Trait updates for each component."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique identifier for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the set of updates for a device."
      }
    },
    "com.gcp.homegraph_v1#ComponentTraitUpdatesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.homegraph_v1#ComponentTraitUpdates"
      }
    },
    "com.gcp.homegraph_v1#DeleteAgentUsersRequest": {
      "type": "structure",
      "members": {
        "agentUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Third-party user ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request ID used for debugging.",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.homegraph_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.homegraph_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.homegraph_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.homegraph_v1#DeleteAgentUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.homegraph_v1#DeleteAgentUsersRequest"
      },
      "output": {
        "target": "com.gcp.homegraph_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.homegraph_v1#NotFound"
        },
        {
          "target": "com.gcp.homegraph_v1#Forbidden"
        },
        {
          "target": "com.gcp.homegraph_v1#BadRequest"
        },
        {
          "target": "com.gcp.homegraph_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+agentUserId}"
        },
        "smithy.api#documentation": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
      }
    },
    "com.gcp.homegraph_v1#ReportStateAndNotificationDevicesRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.homegraph_v1#ReportStateAndNotificationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#ReportStateAndNotificationDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.homegraph_v1#ReportStateAndNotificationDevicesRequest"
      },
      "output": {
        "target": "com.gcp.homegraph_v1#ReportStateAndNotificationResponse"
      },
      "errors": [
        {
          "target": "com.gcp.homegraph_v1#NotFound"
        },
        {
          "target": "com.gcp.homegraph_v1#Forbidden"
        },
        {
          "target": "com.gcp.homegraph_v1#BadRequest"
        },
        {
          "target": "com.gcp.homegraph_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/devices:reportStateAndNotification"
        },
        "smithy.api#documentation": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project."
      }
    },
    "com.gcp.homegraph_v1#QueryDevicesRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.homegraph_v1#QueryRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#QueryDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.homegraph_v1#QueryDevicesRequest"
      },
      "output": {
        "target": "com.gcp.homegraph_v1#QueryResponse"
      },
      "errors": [
        {
          "target": "com.gcp.homegraph_v1#NotFound"
        },
        {
          "target": "com.gcp.homegraph_v1#Forbidden"
        },
        {
          "target": "com.gcp.homegraph_v1#BadRequest"
        },
        {
          "target": "com.gcp.homegraph_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/devices:query"
        },
        "smithy.api#documentation": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project."
      }
    },
    "com.gcp.homegraph_v1#RequestSyncDevicesRequest_": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.homegraph_v1#RequestSyncDevicesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#RequestSyncDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.homegraph_v1#RequestSyncDevicesRequest_"
      },
      "output": {
        "target": "com.gcp.homegraph_v1#RequestSyncDevicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.homegraph_v1#NotFound"
        },
        {
          "target": "com.gcp.homegraph_v1#Forbidden"
        },
        {
          "target": "com.gcp.homegraph_v1#BadRequest"
        },
        {
          "target": "com.gcp.homegraph_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/devices:requestSync"
        },
        "smithy.api#documentation": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project."
      }
    },
    "com.gcp.homegraph_v1#SyncDevicesRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.homegraph_v1#SyncRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.homegraph_v1#SyncDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.homegraph_v1#SyncDevicesRequest"
      },
      "output": {
        "target": "com.gcp.homegraph_v1#SyncResponse"
      },
      "errors": [
        {
          "target": "com.gcp.homegraph_v1#NotFound"
        },
        {
          "target": "com.gcp.homegraph_v1#Forbidden"
        },
        {
          "target": "com.gcp.homegraph_v1#BadRequest"
        },
        {
          "target": "com.gcp.homegraph_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/devices:sync"
        },
        "smithy.api#documentation": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project."
      }
    }
  }
}
