{
  "smithy": "2.0",
  "metadata": {
    "service": "hypercomputecluster",
    "version": "v1",
    "title": "Cluster Director API",
    "baseUrl": "https://hypercomputecluster.googleapis.com/"
  },
  "shapes": {
    "com.gcp.hypercomputecluster_v1#CreateNetwork": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a new network should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.hypercomputecluster_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.hypercomputecluster_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#Location"
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeInstanceSlurmNodeSet": {
      "type": "structure",
      "members": {
        "startupScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB."
          }
        },
        "bootDisk": {
          "target": "com.gcp.hypercomputecluster_v1#BootDisk",
          "traits": {
            "smithy.api#documentation": "Optional. Boot disk for the compute instance"
          }
        },
        "labels": {
          "target": "com.gcp.hypercomputecluster_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances."
      }
    },
    "com.gcp.hypercomputecluster_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.hypercomputecluster_v1#NetworkResource": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.gcp.hypercomputecluster_v1#NetworkReference",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to a network in Google Compute Engine."
          }
        },
        "config": {
          "target": "com.gcp.hypercomputecluster_v1#NetworkResourceConfig",
          "traits": {
            "smithy.api#documentation": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource representing a network that connects the various components of a cluster together."
      }
    },
    "com.gcp.hypercomputecluster_v1#CheckClusterHealth": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that cluster health check should be performed."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewOnDemandInstancesConfig": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteNetwork": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates network deletion step with the resource name."
      }
    },
    "com.gcp.hypercomputecluster_v1#UpdateLoginNode": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a login node should be updated."
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationStep": {
      "type": "structure",
      "members": {
        "createStorageBucket": {
          "target": "com.gcp.hypercomputecluster_v1#CreateStorageBucket",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
          }
        },
        "createLustreInstance": {
          "target": "com.gcp.hypercomputecluster_v1#CreateLustreInstance",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new Lustre instance creation is part of the operation."
          }
        },
        "createOrchestrator": {
          "target": "com.gcp.hypercomputecluster_v1#CreateOrchestrator",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that orchestrator creation is part of the operation."
          }
        },
        "updatePartition": {
          "target": "com.gcp.hypercomputecluster_v1#UpdatePartition",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that partition update is part of the operation."
          }
        },
        "deleteNetwork": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteNetwork",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that network deletion is part of the operation."
          }
        },
        "deleteFilestoreInstance": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteFilestoreInstance",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that Filestore instance deletion is part of the operation."
          }
        },
        "updateNodeset": {
          "target": "com.gcp.hypercomputecluster_v1#UpdateNodeset",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that nodeset update is part of the operation."
          }
        },
        "deleteStorageBucket": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteStorageBucket",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation."
          }
        },
        "deleteLoginNode": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteLoginNode",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that login node deletion is part of the operation."
          }
        },
        "deleteLustreInstance": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteLustreInstance",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that Lustre instance deletion is part of the operation."
          }
        },
        "deleteOrchestrator": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteOrchestrator",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that orchestrator deletion is part of the operation."
          }
        },
        "createFilestoreInstance": {
          "target": "com.gcp.hypercomputecluster_v1#CreateFilestoreInstance",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new Filestore instance creation is part of the operation."
          }
        },
        "deleteNodeset": {
          "target": "com.gcp.hypercomputecluster_v1#DeleteNodeset",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that nodeset deletion is part of the operation."
          }
        },
        "createPrivateServiceAccess": {
          "target": "com.gcp.hypercomputecluster_v1#CreatePrivateServiceAccess",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new private service access creation is part of the operation."
          }
        },
        "createPartition": {
          "target": "com.gcp.hypercomputecluster_v1#CreatePartition",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new partition creation is part of the operation."
          }
        },
        "state": {
          "target": "com.gcp.hypercomputecluster_v1#OperationStepStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the operation step."
          }
        },
        "createNetwork": {
          "target": "com.gcp.hypercomputecluster_v1#CreateNetwork",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new network creation is part of the operation."
          }
        },
        "createNodeset": {
          "target": "com.gcp.hypercomputecluster_v1#CreateNodeset",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new nodeset creation is part of the operation."
          }
        },
        "checkClusterHealth": {
          "target": "com.gcp.hypercomputecluster_v1#CheckClusterHealth",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that cluster health check is part of the operation."
          }
        },
        "deletePartition": {
          "target": "com.gcp.hypercomputecluster_v1#DeletePartition",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that partition deletion is part of the operation."
          }
        },
        "updateLoginNode": {
          "target": "com.gcp.hypercomputecluster_v1#UpdateLoginNode",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that login node update is part of the operation."
          }
        },
        "updateOrchestrator": {
          "target": "com.gcp.hypercomputecluster_v1#UpdateOrchestrator",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that an orchestrator update is part of the operation."
          }
        },
        "createLoginNode": {
          "target": "com.gcp.hypercomputecluster_v1#CreateLoginNode",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that new login node creation is part of the operation."
          }
        },
        "deletePrivateServiceAccess": {
          "target": "com.gcp.hypercomputecluster_v1#DeletePrivateServiceAccess",
          "traits": {
            "smithy.api#documentation": "Output only. If set, indicates that private service access deletion is part of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the status of a single step in a cluster mutation long-running operation."
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationStepStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.gcp.hypercomputecluster_v1#ClusterList",
          "traits": {
            "smithy.api#documentation": "Clusters in the specified location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListClusters."
      }
    },
    "com.gcp.hypercomputecluster_v1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#Cluster"
      }
    },
    "com.gcp.hypercomputecluster_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "progress": {
          "target": "com.gcp.hypercomputecluster_v1#OperationProgress",
          "traits": {
            "smithy.api#documentation": "Output only. Progress of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteLustreInstance": {
      "type": "structure",
      "members": {
        "lustre": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a Lustre instance should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreatePartition": {
      "type": "structure",
      "members": {
        "partitions": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the partition to create"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a partition should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeResource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.hypercomputecluster_v1#ComputeResourceConfig",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource defining how virtual machines and accelerators should be provisioned for the cluster."
      }
    },
    "com.gcp.hypercomputecluster_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.hypercomputecluster_v1#Cluster": {
      "type": "structure",
      "members": {
        "networkResources": {
          "target": "com.gcp.hypercomputecluster_v1#NetworkResourceMap",
          "traits": {
            "smithy.api#documentation": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
          }
        },
        "storageResources": {
          "target": "com.gcp.hypercomputecluster_v1#StorageResourceMap",
          "traits": {
            "smithy.api#documentation": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description for your cluster. You can use up to 2,048 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the cluster was most recently updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
          }
        },
        "labels": {
          "target": "com.gcp.hypercomputecluster_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the cluster was originally created."
          }
        },
        "computeResources": {
          "target": "com.gcp.hypercomputecluster_v1#ComputeResourceMap",
          "traits": {
            "smithy.api#documentation": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
          }
        },
        "orchestrator": {
          "target": "com.gcp.hypercomputecluster_v1#Orchestrator",
          "traits": {
            "smithy.api#documentation": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together."
      }
    },
    "com.gcp.hypercomputecluster_v1#NetworkResourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.hypercomputecluster_v1#NetworkResource"
      }
    },
    "com.gcp.hypercomputecluster_v1#StorageResourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.hypercomputecluster_v1#StorageResource"
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeResourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.hypercomputecluster_v1#ComputeResource"
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmOrchestrator": {
      "type": "structure",
      "members": {
        "epilogBashScripts": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty."
          }
        },
        "defaultPartition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions."
          }
        },
        "partitions": {
          "target": "com.gcp.hypercomputecluster_v1#SlurmPartitionList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster."
          }
        },
        "nodeSets": {
          "target": "com.gcp.hypercomputecluster_v1#SlurmNodeSetList",
          "traits": {
            "smithy.api#documentation": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes."
          }
        },
        "prologBashScripts": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty."
          }
        },
        "loginNodes": {
          "target": "com.gcp.hypercomputecluster_v1#SlurmLoginNodes",
          "traits": {
            "smithy.api#documentation": "Required. Configuration for login nodes, which allow users to access the cluster over SSH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator."
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmPartitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#SlurmPartition"
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmNodeSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#SlurmNodeSet"
      }
    },
    "com.gcp.hypercomputecluster_v1#FileShareConfig": {
      "type": "structure",
      "members": {
        "capacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers."
          }
        },
        "fileShare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Filestore share location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing filestore configuration"
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteStorageBucket": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateOrchestrator": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that an orchestrator should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewFlexStartInstancesConfig": {
      "type": "structure",
      "members": {
        "maxDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models)."
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmLoginNodes": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.hypercomputecluster_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance."
          }
        },
        "storageConfigs": {
          "target": "com.gcp.hypercomputecluster_v1#StorageConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. How storage resources should be mounted on each login node."
          }
        },
        "startupScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`."
          }
        },
        "bootDisk": {
          "target": "com.gcp.hypercomputecluster_v1#BootDisk",
          "traits": {
            "smithy.api#documentation": "Optional. Boot disk for the login node."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of login node instances to create."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`."
          }
        },
        "enablePublicIps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses)."
          }
        },
        "enableOsLogin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
          }
        },
        "instances": {
          "target": "com.gcp.hypercomputecluster_v1#ComputeInstanceList",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the login node instances that were created in Compute Engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH."
      }
    },
    "com.gcp.hypercomputecluster_v1#StorageConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#StorageConfig"
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#ComputeInstance"
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateFilestoreInstance": {
      "type": "structure",
      "members": {
        "filestore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a new filestore instance should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteOrchestrator": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that an orchestrator should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteNodeset": {
      "type": "structure",
      "members": {
        "nodesets": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the nodeset to delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a nodeset should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.hypercomputecluster_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.hypercomputecluster_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.hypercomputecluster_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.hypercomputecluster_v1#StorageResource": {
      "type": "structure",
      "members": {
        "lustre": {
          "target": "com.gcp.hypercomputecluster_v1#LustreReference",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre."
          }
        },
        "bucket": {
          "target": "com.gcp.hypercomputecluster_v1#BucketReference",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage."
          }
        },
        "filestore": {
          "target": "com.gcp.hypercomputecluster_v1#FilestoreReference",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore."
          }
        },
        "config": {
          "target": "com.gcp.hypercomputecluster_v1#StorageResourceConfig",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a form of persistent storage that you can mount onto compute resources in the cluster."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewFilestoreConfig": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.gcp.hypercomputecluster_v1#NewFilestoreConfigProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set."
          }
        },
        "filestore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
          }
        },
        "fileShares": {
          "target": "com.gcp.hypercomputecluster_v1#FileShareConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
          }
        },
        "tier": {
          "target": "com.gcp.hypercomputecluster_v1#NewFilestoreConfigTierEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Service tier to use for the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewFilestoreConfigProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "NFSV3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV3"
          }
        },
        "NFSV41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV41"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#FileShareConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#FileShareConfig"
      }
    },
    "com.gcp.hypercomputecluster_v1#NewFilestoreConfigTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#NetworkResourceConfig": {
      "type": "structure",
      "members": {
        "existingNetwork": {
          "target": "com.gcp.hypercomputecluster_v1#ExistingNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that an existing network should be imported."
          }
        },
        "newNetwork": {
          "target": "com.gcp.hypercomputecluster_v1#NewNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that a new network should be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
      }
    },
    "com.gcp.hypercomputecluster_v1#Orchestrator": {
      "type": "structure",
      "members": {
        "slurm": {
          "target": "com.gcp.hypercomputecluster_v1#SlurmOrchestrator",
          "traits": {
            "smithy.api#documentation": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime."
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationProgress": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.gcp.hypercomputecluster_v1#OperationStepList",
          "traits": {
            "smithy.api#documentation": "Output only. Steps and status of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the progress of a cluster mutation long-running operation."
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#OperationStep"
      }
    },
    "com.gcp.hypercomputecluster_v1#GcsAutoclassConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables Auto-class feature."
          }
        },
        "terminalStorageClass": {
          "target": "com.gcp.hypercomputecluster_v1#GcsAutoclassConfigTerminalStorageClassEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Terminal storage class of the autoclass bucket"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing Google Cloud Storage autoclass configuration"
      }
    },
    "com.gcp.hypercomputecluster_v1#GcsAutoclassConfigTerminalStorageClassEnum": {
      "type": "enum",
      "members": {
        "TERMINAL_STORAGE_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINAL_STORAGE_CLASS_UNSPECIFIED"
          }
        },
        "NEARLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEARLINE"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#StorageConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources."
          }
        },
        "localMount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of how a storage resource should be mounted on a VM instance."
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmNodeSet": {
      "type": "structure",
      "members": {
        "maxDynamicNodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes."
          }
        },
        "computeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources."
          }
        },
        "storageConfigs": {
          "target": "com.gcp.hypercomputecluster_v1#StorageConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. How storage resources should be mounted on each compute node."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`."
          }
        },
        "staticNodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times."
          }
        },
        "computeInstance": {
          "target": "com.gcp.hypercomputecluster_v1#ComputeInstanceSlurmNodeSet",
          "traits": {
            "smithy.api#documentation": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeletePrivateServiceAccess": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates private service access deletion step."
      }
    },
    "com.gcp.hypercomputecluster_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.hypercomputecluster_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.hypercomputecluster_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#DocumentMap"
      }
    },
    "com.gcp.hypercomputecluster_v1#GcsHierarchicalNamespaceConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables hierarchical namespace setup for the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing Google Cloud Storage hierarchical namespace configuration"
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeResourceConfig": {
      "type": "structure",
      "members": {
        "newOnDemandInstances": {
          "target": "com.gcp.hypercomputecluster_v1#NewOnDemandInstancesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
          }
        },
        "newReservedInstances": {
          "target": "com.gcp.hypercomputecluster_v1#NewReservedInstancesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
          }
        },
        "newFlexStartInstances": {
          "target": "com.gcp.hypercomputecluster_v1#NewFlexStartInstancesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs."
          }
        },
        "newSpotInstances": {
          "target": "com.gcp.hypercomputecluster_v1#NewSpotInstancesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that this resource should use spot VMs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a compute resource should be created at runtime."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteLoginNode": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a login node should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#UpdateNodeset": {
      "type": "structure",
      "members": {
        "nodesets": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the nodeset to update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a nodeset should be updated."
      }
    },
    "com.gcp.hypercomputecluster_v1#ExistingFilestoreConfig": {
      "type": "structure",
      "members": {
        "filestore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported."
      }
    },
    "com.gcp.hypercomputecluster_v1#ExistingLustreConfig": {
      "type": "structure",
      "members": {
        "lustre": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewSpotInstancesConfig": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
          }
        },
        "terminationAction": {
          "target": "com.gcp.hypercomputecluster_v1#NewSpotInstancesConfigTerminationActionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewSpotInstancesConfigTerminationActionEnum": {
      "type": "enum",
      "members": {
        "TERMINATION_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATION_ACTION_UNSPECIFIED"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateLoginNode": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a login node should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#StorageResourceConfig": {
      "type": "structure",
      "members": {
        "newFilestore": {
          "target": "com.gcp.hypercomputecluster_v1#NewFilestoreConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
          }
        },
        "newLustre": {
          "target": "com.gcp.hypercomputecluster_v1#NewLustreConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created."
          }
        },
        "existingLustre": {
          "target": "com.gcp.hypercomputecluster_v1#ExistingLustreConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
          }
        },
        "newBucket": {
          "target": "com.gcp.hypercomputecluster_v1#NewBucketConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
          }
        },
        "existingFilestore": {
          "target": "com.gcp.hypercomputecluster_v1#ExistingFilestoreConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
          }
        },
        "existingBucket": {
          "target": "com.gcp.hypercomputecluster_v1#ExistingBucketConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
      }
    },
    "com.gcp.hypercomputecluster_v1#ExistingBucketConfig": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Cloud Storage bucket to import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteFilestoreInstance": {
      "type": "structure",
      "members": {
        "filestore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a Filestore instance should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewBucketConfig": {
      "type": "structure",
      "members": {
        "autoclass": {
          "target": "com.gcp.hypercomputecluster_v1#GcsAutoclassConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass)."
          }
        },
        "hierarchicalNamespace": {
          "target": "com.gcp.hypercomputecluster_v1#GcsHierarchicalNamespaceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
          }
        },
        "storageClass": {
          "target": "com.gcp.hypercomputecluster_v1#NewBucketConfigStorageClassEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Cloud Storage bucket to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewBucketConfigStorageClassEnum": {
      "type": "enum",
      "members": {
        "STORAGE_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_CLASS_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "NEARLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEARLINE"
          }
        },
        "COLDLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLDLINE"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#BootDisk": {
      "type": "structure",
      "members": {
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeletePartition": {
      "type": "structure",
      "members": {
        "partitions": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the partition to delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a partition should be deleted."
      }
    },
    "com.gcp.hypercomputecluster_v1#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.hypercomputecluster_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.hypercomputecluster_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.hypercomputecluster_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewReservedInstancesConfig": {
      "type": "structure",
      "members": {
        "reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview)."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateLustreInstance": {
      "type": "structure",
      "members": {
        "lustre": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a new lustre instance should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#LustreReference": {
      "type": "structure",
      "members": {
        "lustre": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewNetworkConfig": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Description of the network. Maximum of 2048 characters."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a NetworkResourceConfig, indicates that a new network should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#SlurmPartition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
          }
        },
        "nodeSetIds": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
      }
    },
    "com.gcp.hypercomputecluster_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.hypercomputecluster_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.hypercomputecluster_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.hypercomputecluster_v1#Operation"
      }
    },
    "com.gcp.hypercomputecluster_v1#FilestoreReference": {
      "type": "structure",
      "members": {
        "filestore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a [Filestore](https://cloud.google.com/filestore) instance."
      }
    },
    "com.gcp.hypercomputecluster_v1#UpdatePartition": {
      "type": "structure",
      "members": {
        "partitions": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the partition to update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a partition should be updated."
      }
    },
    "com.gcp.hypercomputecluster_v1#BucketReference": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreatePrivateServiceAccess": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a new private service access should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#ComputeInstance": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances)."
      }
    },
    "com.gcp.hypercomputecluster_v1#UpdateOrchestrator": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that an orchestrator should be updated."
      }
    },
    "com.gcp.hypercomputecluster_v1#ExistingNetworkConfig": {
      "type": "structure",
      "members": {
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a NetworkResourceConfig, indicates that an existing network should be imported."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateNodeset": {
      "type": "structure",
      "members": {
        "nodesets": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the nodeset to create"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a nodeset should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NewLustreConfig": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
          }
        },
        "lustre": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`"
          }
        },
        "perUnitStorageThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information."
          }
        },
        "filesystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers."
          }
        },
        "capacityGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#NetworkReference": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine."
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateStorageBucket": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set in OperationStep, indicates that a new storage bucket should be created."
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.hypercomputecluster_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.hypercomputecluster_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.hypercomputecluster_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#BadRequest"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.hypercomputecluster_v1#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.hypercomputecluster_v1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#BadRequest"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
            "smithy.api#httpQuery": "clusterId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.hypercomputecluster_v1#Cluster",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#CreateProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#CreateProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#BadRequest"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/clusters"
        },
        "smithy.api#documentation": "Creates a new Cluster in a given project and location."
      }
    },
    "com.gcp.hypercomputecluster_v1#PatchProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.hypercomputecluster_v1#Cluster",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#PatchProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#PatchProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#BadRequest"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single Cluster."
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#DeleteProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#BadRequest"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Cluster."
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#ListProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#ListProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#ListClustersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/clusters"
        },
        "smithy.api#documentation": "Lists Clusters in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.hypercomputecluster_v1#GetProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.hypercomputecluster_v1#GetProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.hypercomputecluster_v1#Cluster"
      },
      "errors": [
        {
          "target": "com.gcp.hypercomputecluster_v1#NotFound"
        },
        {
          "target": "com.gcp.hypercomputecluster_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Cluster."
      }
    }
  }
}
