{
  "smithy": "2.0",
  "metadata": {
    "service": "iamcredentials",
    "version": "v1",
    "title": "IAM Service Account Credentials API",
    "baseUrl": "https://iamcredentials.googleapis.com/"
  },
  "shapes": {
    "com.gcp.iamcredentials_v1#ServiceAccountAllowedLocations": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]"
          }
        },
        "encodedLocations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The hex encoded bitmap of the trust boundary locations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of allowed locations for given service account."
      }
    },
    "com.gcp.iamcredentials_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.iamcredentials_v1#GenerateAccessTokenResponse": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token expiration time. The expiration time is always set."
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth 2.0 access token."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GenerateIdTokenRequest": {
      "type": "structure",
      "members": {
        "delegates": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
          }
        },
        "includeEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the service account email in the token. If set to `true`, the token will contain `email` and `email_verified` claims."
          }
        },
        "organizationNumberIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the organization number of the service account in the token. If set to `true`, the token will contain a `google.organization_number` claim. The value of the claim will be `null` if the service account isn't associated with an organization."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The audience for the token, such as the API or account that this token grants access to."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#SignBlobRequest": {
      "type": "structure",
      "members": {
        "delegates": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
          }
        },
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bytes to sign."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#SignJwtResponse": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the key used to sign the JWT. The key used for signing will remain valid for at least 12 hours after the JWT is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
          }
        },
        "signedJwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JWT. Contains the automatically generated header; the client-supplied payload; and the signature, which is generated using the key referenced by the `kid` field in the header. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the JWT. As a result, the receiver can no longer verify the signature."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GenerateIdTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OpenId Connect ID token. The token is a JSON Web Token (JWT) that contains a payload with claims. See the [JSON Web Token spec](https://tools.ietf.org/html/rfc7519) for more information. Here is an example of a decoded JWT payload: ``` { \"iss\": \"https://accounts.google.com\", \"iat\": 1496953245, \"exp\": 1496953245, \"aud\": \"https://www.example.com\", \"sub\": \"107517467455664443765\", \"azp\": \"107517467455664443765\", \"email\": \"my-iam-account@my-project.iam.gserviceaccount.com\", \"email_verified\": true, \"google\": { \"organization_number\": 123456 } } ```"
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#SignBlobResponse": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the key used to sign the blob. The key used for signing will remain valid for at least 12 hours after the blob is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
          }
        },
        "signedBlob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature for the blob. Does not include the original blob. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the blob. As a result, the receiver can no longer verify the signature."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#WorkforcePoolAllowedLocations": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]"
          }
        },
        "encodedLocations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The hex encoded bitmap of the trust boundary locations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of allowed locations for given workforce pool."
      }
    },
    "com.gcp.iamcredentials_v1#GenerateAccessTokenRequest": {
      "type": "structure",
      "members": {
        "delegates": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The sequence of service accounts in a delegation chain. This field is required for [delegated requests](https://cloud.google.com/iam/help/credentials/delegated-request). For [direct requests](https://cloud.google.com/iam/help/credentials/direct-request), which are more common, do not specify this field. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired lifetime duration of the access token in seconds. By default, the maximum allowed value is 1 hour. To set a lifetime of up to 12 hours, you can add the service account as an allowed value in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension` constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime If a value is not specified, the token's lifetime will be set to a default value of 1 hour."
          }
        },
        "scope": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes for more information. At least one value required."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#SignJwtRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future."
          }
        },
        "delegates": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#WorkloadIdentityPoolAllowedLocations": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.iamcredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]"
          }
        },
        "encodedLocations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The hex encoded bitmap of the trust boundary locations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of allowed locations for given workload identity pool."
      }
    },
    "com.gcp.iamcredentials_v1#SignJwtProjectsServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.iamcredentials_v1#SignJwtRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.iamcredentials_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.iamcredentials_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.iamcredentials_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.iamcredentials_v1#SignJwtProjectsServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#SignJwtProjectsServiceAccountsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#SignJwtResponse"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.iamcredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:signJwt"
        },
        "smithy.api#documentation": "Signs a JWT using a service account's system-managed private key."
      }
    },
    "com.gcp.iamcredentials_v1#GenerateIdTokenProjectsServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.iamcredentials_v1#GenerateIdTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GenerateIdTokenProjectsServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#GenerateIdTokenProjectsServiceAccountsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#GenerateIdTokenResponse"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.iamcredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:generateIdToken"
        },
        "smithy.api#documentation": "Generates an OpenID Connect ID token for a service account."
      }
    },
    "com.gcp.iamcredentials_v1#SignBlobProjectsServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.iamcredentials_v1#SignBlobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#SignBlobProjectsServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#SignBlobProjectsServiceAccountsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#SignBlobResponse"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.iamcredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:signBlob"
        },
        "smithy.api#documentation": "Signs a blob using a service account's system-managed private key."
      }
    },
    "com.gcp.iamcredentials_v1#GenerateAccessTokenProjectsServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.iamcredentials_v1#GenerateAccessTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GenerateAccessTokenProjectsServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#GenerateAccessTokenProjectsServiceAccountsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#GenerateAccessTokenResponse"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.iamcredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:generateAccessToken"
        },
        "smithy.api#documentation": "Generates an OAuth 2.0 access token for a service account."
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of service account. Format: `projects/-/serviceAccounts/{service_account_email}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsServiceAccountsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#ServiceAccountAllowedLocations"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/allowedLocations"
        },
        "smithy.api#documentation": "Returns the trust boundary info for a given service account."
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsLocationsWorkloadIdentityPoolsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of workload identity pool.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsLocationsWorkloadIdentityPools": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#GetAllowedLocationsProjectsLocationsWorkloadIdentityPoolsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#WorkloadIdentityPoolAllowedLocations"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/allowedLocations"
        },
        "smithy.api#documentation": "Returns the trust boundary info for a given workload identity pool."
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsLocationsWorkforcePoolsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of workforce pool.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.iamcredentials_v1#GetAllowedLocationsLocationsWorkforcePools": {
      "type": "operation",
      "input": {
        "target": "com.gcp.iamcredentials_v1#GetAllowedLocationsLocationsWorkforcePoolsRequest"
      },
      "output": {
        "target": "com.gcp.iamcredentials_v1#WorkforcePoolAllowedLocations"
      },
      "errors": [
        {
          "target": "com.gcp.iamcredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.iamcredentials_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/allowedLocations"
        },
        "smithy.api#documentation": "Returns the trust boundary info for a given workforce pool."
      }
    }
  }
}
