{
  "smithy": "2.0",
  "metadata": {
    "service": "integrations",
    "version": "v1",
    "title": "Application Integration API",
    "baseUrl": "https://integrations.googleapis.com/"
  },
  "shapes": {
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "type": "structure",
      "members": {
        "scriptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the Apps Script project to be linked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for LinkAppsScriptProject rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "type": "structure",
      "members": {
        "scriptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the linked Apps Script project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for LinkAppsScriptProject rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "structure",
      "members": {
        "appsScriptProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Apps Script project to be created."
          }
        },
        "authConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CreateAppsScriptProject rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The created AppsScriptProject ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for CreateAppsScriptProject rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientRequest": {
      "type": "structure",
      "members": {
        "cloudKmsConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. OPTIONAL: Cloud KMS config for AuthModule to encrypt/decrypt credentials."
          }
        },
        "createSampleWorkflows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if sample workflow should be created along with provisioning"
          }
        },
        "provisionGmek": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Indicates provision with GMEK or CMEK. This field is deprecated and the provision would always be GMEK if cloud_kms_config is not present in the request."
          }
        },
        "runAsServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User input run-as service account, if empty, will bring up a new default service account"
          }
        },
        "skipCpProvision": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if skip CP provision or not"
          }
        },
        "enableHttpCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the client should be allowed to make HTTP calls."
          }
        },
        "enableManagedAiFeatures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the client should be allowed to use managed AI features, i.e. using Cloud Companion APIs of the tenant project. This will allow the customers to use features like Troubleshooting, OpenAPI spec enrichment, etc. for free."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Provision rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCloudKmsConfig": {
      "type": "structure",
      "members": {
        "kmsLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location name of the key ring, e.g. \"us-west1\"."
          }
        },
        "kmsRing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location."
          }
        },
        "keyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data."
          }
        },
        "kmsProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The gcp project id of the project where the kms key stored. If empty, the kms key is stored at the same project as customer's project and ecrypted with CMEK, otherwise, the kms key is stored in the tenant project and encrypted with GMEK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information for Client's Cloud KMS information"
      }
    },
    "com.gcp.integrations_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequest": {
      "type": "structure",
      "members": {
        "workflows": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequestWorkflowsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Indicate which workflows to create"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for PostProvisioning rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequestWorkflowsItemEnum": {
      "type": "enum",
      "members": {
        "SAMPLE_INTEGRATIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMPLE_INTEGRATIONS_UNSPECIFIED"
          }
        },
        "SAMPLE_WORKFLOW_ECOM_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMPLE_WORKFLOW_ECOM_PROCESSING"
          }
        },
        "EXECUTE_CONNECTOR_TOOL_WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTE_CONNECTOR_TOOL_WORKFLOW"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequestWorkflowsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequestWorkflowsItemEnum"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for PostProvisioning rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the Deprovision rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaGetClientResponse": {
      "type": "structure",
      "members": {
        "client": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfig",
          "traits": {
            "smithy.api#documentation": "Required. Required: The client configuration that was requested"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the GetClient rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique ID (project_id + region)"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GCP project id of the client associated with"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what the client is used for"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region the client is linked to."
          }
        },
        "cloudKmsConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the client was first created."
          }
        },
        "p4ServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service agent associated with this client"
          }
        },
        "billingType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfigBillingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the billing type of the client"
          }
        },
        "clientState": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfigClientStateEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the activity state the client"
          }
        },
        "runAsServiceAccount": {
          "target": "smithy.api#String"
        },
        "enableVariableMasking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. "
          }
        },
        "isGmek": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the client is provisioned with CMEK or GMEK."
          }
        },
        "enableInternalIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the client enables internal IP feature, this is applicable for internal clients only."
          }
        },
        "enableHttpCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. "
          }
        },
        "enableManagedAiFeatures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. "
          }
        },
        "customerConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCustomerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Customer configuration information for the given client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration information for the Client"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfigBillingTypeEnum": {
      "type": "enum",
      "members": {
        "BILLING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_UNSPECIFIED"
          }
        },
        "BILLING_TYPE_APIGEE_TRIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_APIGEE_TRIALS"
          }
        },
        "BILLING_TYPE_APIGEE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_APIGEE_SUBSCRIPTION"
          }
        },
        "BILLING_TYPE_PAYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_PAYG"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientConfigClientStateEnum": {
      "type": "enum",
      "members": {
        "CLIENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_STATE_UNSPECIFIED"
          }
        },
        "CLIENT_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_STATE_ACTIVE"
          }
        },
        "CLIENT_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_STATE_DISABLED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCustomerConfig": {
      "type": "structure",
      "members": {
        "enableManagedAiFeatures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the client should be allowed to use managed AI features, i.e. using Cloud Companion APIs of the tenant project. This will allow the customers to use features like Troubleshooting, OpenAPI spec enrichment, etc. for free."
          }
        },
        "runAsServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Run-as service account to be updated for the provisioned client."
          }
        },
        "enableVariableMasking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if variable masking feature should be turned on for this region."
          }
        },
        "enableHttpCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the client should be allowed to make HTTP calls. True if http call feature should be turned on for this region."
          }
        },
        "cloudKmsConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud KMS config for Auth Module to encrypt/decrypt credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer configuration information for the given client"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaChangeCustomerConfigRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask specifying the fields in the customer config that have been modified and must be updated. If absent or empty, no fields are updated."
          }
        },
        "customerConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCustomerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The customer configuration to be updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the ChangeCustomerConfig rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaChangeCustomerConfigResponse": {
      "type": "structure",
      "members": {
        "customerConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCustomerConfig",
          "traits": {
            "smithy.api#documentation": "Required. The updated customer configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ChangeCustomerConfig rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaGetClientMetadataResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectProperties",
          "traits": {
            "smithy.api#documentation": "Required. Required: The client configuration that was requested"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the GetClientMetadata rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectProperties": {
      "type": "structure",
      "members": {
        "ipEnablementState": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectPropertiesIpEnablementStateEnum",
          "traits": {
            "smithy.api#documentation": "An enum value of what the enablement state is for the given project"
          }
        },
        "provisionedRegions": {
          "target": "com.gcp.integrations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of provisioned regions on the current project"
          }
        },
        "billingType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectPropertiesBillingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Required: The client billing type that was requested"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata information for the given project"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectPropertiesIpEnablementStateEnum": {
      "type": "enum",
      "members": {
        "IP_ENABLEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ENABLEMENT_STATE_UNSPECIFIED"
          }
        },
        "IP_ENABLEMENT_STATE_STANDALONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ENABLEMENT_STATE_STANDALONE"
          }
        },
        "IP_ENABLEMENT_STATE_APIGEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ENABLEMENT_STATE_APIGEE"
          }
        },
        "IP_ENABLEMENT_STATE_APIGEE_ENTITLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ENABLEMENT_STATE_APIGEE_ENTITLED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaProjectPropertiesBillingTypeEnum": {
      "type": "enum",
      "members": {
        "BILLING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_UNSPECIFIED"
          }
        },
        "APIGEE_TRIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_TRIALS"
          }
        },
        "APIGEE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_SUBSCRIPTION"
          }
        },
        "PAYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYG"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION"
          }
        },
        "NO_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_BILLING"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest": {
      "type": "structure",
      "members": {
        "cloudKmsConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "traits": {
            "smithy.api#documentation": "Required. REQUIRED: Cloud KMS config for AuthModule to encrypt/decrypt credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the SwitchEncryption rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaReplaceServiceAccountRequest": {
      "type": "structure",
      "members": {
        "runAsServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. REQUIRED: Run-as service account to be updated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the ReplaceServiceAccount rpc"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaSwitchVariableMaskingRequest": {
      "type": "structure",
      "members": {
        "enableVariableMasking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. REQUIRED: True if variable masking feature should be turned on for this region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable/disable variable masking for a provisioned client"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaToggleHttpRequest": {
      "type": "structure",
      "members": {
        "enableHttpCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. REQUIRED: True if http call feature should be turned on for this region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable/disable http call for a provisioned client"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the id of the GCP project that the function will be created in."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The function name of CF to be created"
          }
        },
        "functionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The function region of CF to be created"
          }
        },
        "gcfApiVersion": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequestGcfApiVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The api version of CF to be created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for Creating Cloud Function rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequestGcfApiVersionEnum": {
      "type": "enum",
      "members": {
        "GCF_API_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCF_API_VERSION_UNSPECIFIED"
          }
        },
        "API_VERSION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V1"
          }
        },
        "API_VERSION_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V2"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse": {
      "type": "structure",
      "members": {
        "triggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trigger url that will be returned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for Creating Cloud Function rpc call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificateList",
          "traits": {
            "smithy.api#documentation": "The list of Certificates retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token used to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list Certificates."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificate"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Auto generated primary key"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the certificate"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the certificate"
          }
        },
        "requestorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Requestor ID to be used to register certificate with trawler"
          }
        },
        "credentialId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Credential id that will be used to register with trawler"
          }
        },
        "certificateStatus": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificateCertificateStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the certificate"
          }
        },
        "validStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp after which certificate will be valid"
          }
        },
        "validEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp after which certificate will expire"
          }
        },
        "rawCertificate": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientCertificate",
          "traits": {
            "smithy.api#documentation": "Input only. Raw client certificate which would be registered with trawler"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The certificate definition"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCertificateCertificateStatusEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaClientCertificate": {
      "type": "structure",
      "members": {
        "sslCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
          }
        },
        "encryptedPrivateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains client certificate information"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the auth config."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the auth config."
          }
        },
        "encryptedCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key."
          }
        },
        "decryptedCredential": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCredential",
          "traits": {
            "smithy.api#documentation": "Raw auth credentials."
          }
        },
        "certificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate id for client certificate"
          }
        },
        "credentialType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigCredentialTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Credential type of the encrypted credential."
          }
        },
        "creatorEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the auth config is created."
          }
        },
        "lastModifierEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the auth config is modified."
          }
        },
        "visibility": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The visibility of the auth config."
          }
        },
        "state": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the auth config."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason / details of the current status."
          }
        },
        "expiryNotificationDuration": {
          "target": "com.gcp.integrations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
          }
        },
        "validTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
          }
        },
        "overrideValidTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AuthConfig resource use to hold channels and connection config data."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigCredentialTypeEnum": {
      "type": "enum",
      "members": {
        "CREDENTIAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIAL_TYPE_UNSPECIFIED"
          }
        },
        "USERNAME_AND_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USERNAME_AND_PASSWORD"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY"
          }
        },
        "OAUTH2_AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTHORIZATION_CODE"
          }
        },
        "OAUTH2_IMPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_IMPLICIT"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        },
        "OAUTH2_RESOURCE_OWNER_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_RESOURCE_OWNER_CREDENTIALS"
          }
        },
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        },
        "AUTH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TOKEN"
          }
        },
        "SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT"
          }
        },
        "CLIENT_CERTIFICATE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CERTIFICATE_ONLY"
          }
        },
        "OIDC_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_TOKEN"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigVisibilityEnum": {
      "type": "enum",
      "members": {
        "AUTH_CONFIG_VISIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_CONFIG_VISIBILITY_UNSPECIFIED"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "CLIENT_VISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_VISIBLE"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "SOFT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFT_DELETED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCredential": {
      "type": "structure",
      "members": {
        "credentialType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCredentialCredentialTypeEnum",
          "traits": {
            "smithy.api#documentation": "Credential type associated with auth config."
          }
        },
        "usernameAndPassword": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaUsernameAndPassword",
          "traits": {
            "smithy.api#documentation": "Username and password credential"
          }
        },
        "oauth2AuthorizationCode": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "traits": {
            "smithy.api#documentation": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
          }
        },
        "oauth2ClientCredentials": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
          "traits": {
            "smithy.api#documentation": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials"
          }
        },
        "oauth2ResourceOwnerCredentials": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
          "traits": {
            "smithy.api#documentation": "OAuth2 resource owner credentials"
          }
        },
        "jwt": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaJwt",
          "traits": {
            "smithy.api#documentation": "JWT credential"
          }
        },
        "authToken": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthToken",
          "traits": {
            "smithy.api#documentation": "Auth token credential"
          }
        },
        "serviceAccountCredentials": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
          "traits": {
            "smithy.api#documentation": "Service account credential"
          }
        },
        "oidcToken": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOidcToken",
          "traits": {
            "smithy.api#documentation": "Google OIDC ID Token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines parameters for a single, canonical credential."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaCredentialCredentialTypeEnum": {
      "type": "enum",
      "members": {
        "CREDENTIAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIAL_TYPE_UNSPECIFIED"
          }
        },
        "USERNAME_AND_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USERNAME_AND_PASSWORD"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY"
          }
        },
        "OAUTH2_AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTHORIZATION_CODE"
          }
        },
        "OAUTH2_IMPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_IMPLICIT"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        },
        "OAUTH2_RESOURCE_OWNER_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_RESOURCE_OWNER_CREDENTIALS"
          }
        },
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        },
        "AUTH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TOKEN"
          }
        },
        "SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT"
          }
        },
        "CLIENT_CERTIFICATE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CERTIFICATE_ONLY"
          }
        },
        "OIDC_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_TOKEN"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username to be used"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password to be used"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password pair."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's id."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's secret."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A space-delimited list of requested scope permissions."
          }
        },
        "authEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth url endpoint to send the auth code request to."
          }
        },
        "authParams": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMap",
          "traits": {
            "smithy.api#documentation": "The auth parameters sent along with the auth code request."
          }
        },
        "tokenEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token url endpoint to send the token request to."
          }
        },
        "tokenParams": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMap",
          "traits": {
            "smithy.api#documentation": "The token parameters sent along with the token request."
          }
        },
        "accessToken": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAccessToken",
          "traits": {
            "smithy.api#documentation": "The access token received from the token endpoint."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Auth Code that is used to initially retrieve the access token."
          }
        },
        "requestType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCodeRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Represent how to pass parameters to fetch access token"
          }
        },
        "applyReauthPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCodeRequestTypeEnum": {
      "type": "enum",
      "members": {
        "REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "REQUEST_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_BODY"
          }
        },
        "QUERY_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_PARAMETERS"
          }
        },
        "ENCODED_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODED_HEADER"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMap": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapEntryList",
          "traits": {
            "smithy.api#documentation": "A list of parameter map entries."
          }
        },
        "keyType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this."
          }
        },
        "valueType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapEntry"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapKeyTypeEnum": {
      "type": "enum",
      "members": {
        "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        },
        "NON_SERIALIZABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SERIALIZABLE_OBJECT"
          }
        },
        "PROTO_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM"
          }
        },
        "SERIALIZED_OBJECT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIALIZED_OBJECT_VALUE"
          }
        },
        "PROTO_ENUM_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM_ARRAY"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES"
          }
        },
        "BYTES_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES_ARRAY"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapValueTypeEnum": {
      "type": "enum",
      "members": {
        "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_VALUE"
          }
        },
        "INT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_VALUE"
          }
        },
        "DOUBLE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VALUE"
          }
        },
        "BOOLEAN_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_VALUE"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        },
        "INT_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT_ARRAY"
          }
        },
        "DOUBLE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_ARRAY"
          }
        },
        "BOOLEAN_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_ARRAY"
          }
        },
        "JSON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_VALUE"
          }
        },
        "PROTO_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_VALUE"
          }
        },
        "PROTO_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ARRAY"
          }
        },
        "NON_SERIALIZABLE_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SERIALIZABLE_OBJECT"
          }
        },
        "PROTO_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM"
          }
        },
        "SERIALIZED_OBJECT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIALIZED_OBJECT_VALUE"
          }
        },
        "PROTO_ENUM_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO_ENUM_ARRAY"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES"
          }
        },
        "BYTES_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTES_ARRAY"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapField",
          "traits": {
            "smithy.api#documentation": "Key of the map entry."
          }
        },
        "value": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapField",
          "traits": {
            "smithy.api#documentation": "Value of the map entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entry is a pair of key and value."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMapField": {
      "type": "structure",
      "members": {
        "referenceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Referencing one of the Integration variables."
          }
        },
        "literalValue": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaValueType",
          "traits": {
            "smithy.api#documentation": "Passing a literal value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field represents either the key or value in an entry."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaValueType": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Double Number."
          }
        },
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean."
          }
        },
        "stringArray": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaStringParameterArray",
          "traits": {
            "smithy.api#documentation": "String Array."
          }
        },
        "intArray": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaIntParameterArray",
          "traits": {
            "smithy.api#documentation": "Integer Array."
          }
        },
        "doubleArray": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "traits": {
            "smithy.api#documentation": "Double Number Array."
          }
        },
        "booleanArray": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaBooleanParameterArray",
          "traits": {
            "smithy.api#documentation": "Boolean Array."
          }
        },
        "jsonValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Json."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the parameter."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "type": "structure",
      "members": {
        "stringValues": {
          "target": "com.gcp.integrations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "String array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of string array."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "type": "structure",
      "members": {
        "intValues": {
          "target": "com.gcp.integrations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Integer array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of integer array."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "type": "structure",
      "members": {
        "doubleValues": {
          "target": "com.gcp.integrations_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Double number array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of double number array."
      }
    },
    "com.gcp.integrations_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "type": "structure",
      "members": {
        "booleanValues": {
          "target": "com.gcp.integrations_v1#BooleanList",
          "traits": {
            "smithy.api#documentation": "Boolean array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message only contains a field of boolean array."
      }
    },
    "com.gcp.integrations_v1#BooleanList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Boolean"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAccessToken": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token encapsulating the security identity of a process or thread."
          }
        },
        "accessTokenExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The approximate time until the access token retrieved is valid."
          }
        },
        "tokenType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the access token will expire, use the refresh token to obtain another access token."
          }
        },
        "refreshTokenExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approximate time until the refresh token retrieved is valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access token represents the authorization of a specific application to access specific parts of a user’s data."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's ID."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's secret."
          }
        },
        "tokenEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A space-delimited list of requested scope permissions."
          }
        },
        "tokenParams": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMap",
          "traits": {
            "smithy.api#documentation": "Token parameters for the auth request."
          }
        },
        "accessToken": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAccessToken",
          "traits": {
            "smithy.api#documentation": "Access token fetched from the authorization server."
          }
        },
        "requestType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ClientCredentialsRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Represent how to pass parameters to fetch access token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ClientCredentialsRequestTypeEnum": {
      "type": "enum",
      "members": {
        "REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "REQUEST_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_BODY"
          }
        },
        "QUERY_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_PARAMETERS"
          }
        },
        "ENCODED_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODED_HEADER"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's ID."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's secret."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's password."
          }
        },
        "tokenEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A space-delimited list of requested scope permissions."
          }
        },
        "tokenParams": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaParameterMap",
          "traits": {
            "smithy.api#documentation": "Token parameters for the auth request."
          }
        },
        "accessToken": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAccessToken",
          "traits": {
            "smithy.api#documentation": "Access token fetched from the authorization server."
          }
        },
        "requestType": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentialsRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Represent how to pass parameters to fetch access token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentialsRequestTypeEnum": {
      "type": "enum",
      "members": {
        "REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "REQUEST_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_BODY"
          }
        },
        "QUERY_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_PARAMETERS"
          }
        },
        "ENCODED_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODED_HEADER"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaJwt": {
      "type": "structure",
      "members": {
        "jwtHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies which algorithm is used to generate the signature."
          }
        },
        "jwtPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's pre-shared secret to sign the token."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token calculated by the header, payload and signature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the auth type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the service account that has the permission to make the request."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A space-delimited list of requested scope permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the service account which can be used to generate access token for authenticating the service call."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaOidcToken": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account email to be used as the identity for the token."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID token obtained for the service account"
          }
        },
        "tokenExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approximate time until the token retrieved is valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC Token"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "type": "structure",
      "members": {
        "authConfigs": {
          "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigList",
          "traits": {
            "smithy.api#documentation": "The list of AuthConfigs retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token used to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list AuthConfigs."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaAuthConfig"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.integrations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "All regions where Connector Platform is provisioned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing all provisioned regions for Connector Platform."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionList",
          "traits": {
            "smithy.api#documentation": "Connections."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing Connections listed by region."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1Connection"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1Connection": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Updated time."
          }
        },
        "labels": {
          "target": "com.gcp.integrations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the resource."
          }
        },
        "connectorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
          }
        },
        "status": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Current status of the connection."
          }
        },
        "configVariables": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for configuring the connection with an external system."
          }
        },
        "authConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for establishing the connection's authentication with an external system."
          }
        },
        "lockConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1LockConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration that indicates whether or not the Connection can be edited."
          }
        },
        "destinationConfigs": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1DestinationConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
          }
        },
        "imageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Service account needed for runtime plane to access Google Cloud resources."
          }
        },
        "serviceDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\""
          }
        },
        "envoyImageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Suspended indicates if a user has suspended a connection or not."
          }
        },
        "nodeConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1NodeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Node configuration for the connection."
          }
        },
        "logConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1LogConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Log configuration for the connection."
          }
        },
        "sslConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1SslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Ssl config of a connection"
          }
        },
        "subscriptionType": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionSubscriptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This subscription type enum states the subscription type of the project."
          }
        },
        "connectionRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Connection revision. This field is only updated when the connection is created or updated by User."
          }
        },
        "eventingEnablementType": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionEventingEnablementTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Eventing enablement type. Will be nil if eventing is not enabled."
          }
        },
        "eventingConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1EventingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Eventing config of a connection"
          }
        },
        "connectorVersionLaunchStage": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionConnectorVersionLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Flag to mark the version indicating the launch stage."
          }
        },
        "eventingRuntimeData": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1EventingRuntimeData",
          "traits": {
            "smithy.api#documentation": "Output only. Eventing Runtime Data."
          }
        },
        "connectorVersionInfraConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectorVersionInfraConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Infra configs supported by Connector Version."
          }
        },
        "isTrustedTester": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is trusted tester program enabled for the project."
          }
        },
        "authOverrideEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Auth override enabled for the connection. If Auth Override is enabled, Connection allows the backend service auth to be overridden in the entities/actions API."
          }
        },
        "billingConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1BillingConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Billing config for the connection."
          }
        },
        "asyncOperationsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Async operations enabled for the connection. If Async Operations is enabled, Connection allows the customers to initiate async long running operations using the actions API."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Hostname of the Service Directory service with TLS."
          }
        },
        "tlsServiceDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Service Directory service with TLS."
          }
        },
        "euaOauthAuthConfig": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional Oauth2.0 Auth config for EUA. If the connection is configured using non-OAuth authentication but OAuth needs to be used for EUA, this field can be populated with the OAuth config. This should be a OAuth2AuthCodeFlow Auth type only."
          }
        },
        "trafficShapingConfigs": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1TrafficShapingConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Traffic shaping configuration for the connection."
          }
        },
        "fallbackOnAdminCredentials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Fallback on admin credentials for the connection. If this both auth_override_enabled and fallback_on_admin_credentials are set to true, the connection will use the admin credentials if the dynamic auth header is not present during auth override."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection represents an instance of connector."
      }
    },
    "com.gcp.integrations_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConfigVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConfigVariable"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1DestinationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1DestinationConfig"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionSubscriptionTypeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TYPE_UNSPECIFIED"
          }
        },
        "PAY_G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAY_G"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAID"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionEventingEnablementTypeEnum": {
      "type": "enum",
      "members": {
        "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENTING_AND_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENTING_AND_CONNECTION"
          }
        },
        "ONLY_EVENTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLY_EVENTING"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionConnectorVersionLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "PRIVATE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_PREVIEW"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1TrafficShapingConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1TrafficShapingConfig"
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "State."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status provides detailed information for the state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectionStatus indicates the state of the connection."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConnectionStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "AUTHORIZATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConfigVariable": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Key of the config variable."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value is an integer"
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Value is a bool."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value is a string."
          }
        },
        "secretValue": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Value is a secret."
          }
        },
        "encryptionKeyValue": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1EncryptionKey",
          "traits": {
            "smithy.api#documentation": "Optional. Value is a Encryption Key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1Secret": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret provides a reference to entries in Secret Manager."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1EncryptionKey": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1EncryptionKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of the encryption key."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption Key value."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1EncryptionKeyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MANAGED"
          }
        },
        "CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED"
          }
        }
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfig": {
      "type": "structure",
      "members": {
        "authType": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigAuthTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of authentication configured."
          }
        },
        "userPassword": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigUserPassword",
          "traits": {
            "smithy.api#documentation": "UserPassword."
          }
        },
        "oauth2JwtBearer": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "traits": {
            "smithy.api#documentation": "Oauth2JwtBearer."
          }
        },
        "oauth2ClientCredentials": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "traits": {
            "smithy.api#documentation": "Oauth2ClientCredentials."
          }
        },
        "sshPublicKey": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "traits": {
            "smithy.api#documentation": "SSH Public Key."
          }
        },
        "oauth2AuthCodeFlow": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow",
          "traits": {
            "smithy.api#documentation": "Oauth2AuthCodeFlow."
          }
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlowGoogleManaged",
          "traits": {
            "smithy.api#documentation": "Oauth2AuthCodeFlowGoogleManaged."
          }
        },
        "additionalVariables": {
          "target": "com.gcp.integrations_v1#GoogleCloudConnectorsV1ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. List containing additional auth configs."
          }
        },
        "authKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Identifier key for auth config"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthConfig defines details of a authentication type."
      }
    },
    "com.gcp.integrations_v1#GoogleCloudConnectorsV1AuthConfigAuthTypeEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "USER_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PASSWORD"
          }
        },
        "OAUTH2_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_JWT_BEARER"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        },
        "SSH_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_PUBLIC_KEY"
          }
        },
        "OAUTH2_AUTH_CODE_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTH_CODE_FLOW"
          }
        },
        "GOOGLE_AUTHENTICATION": {
          "target": "smithy.api#Unit",
[...]
