{
  "smithy": "2.0",
  "metadata": {
    "service": "jobs",
    "version": "v4",
    "title": "Cloud Talent Solution API",
    "baseUrl": "https://jobs.googleapis.com/"
  },
  "shapes": {
    "com.gcp.jobs_v4#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.jobs_v4#BatchCreateJobsResponse": {
      "type": "structure",
      "members": {
        "jobResults": {
          "target": "com.gcp.jobs_v4#JobResultList",
          "traits": {
            "smithy.api#documentation": "List of job mutation results from a batch create operation. It can change until operation status is FINISHED, FAILED or CANCELLED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of JobService.BatchCreateJobs. It's used to replace google.longrunning.Operation.response in case of success."
      }
    },
    "com.gcp.jobs_v4#JobResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#JobResult"
      }
    },
    "com.gcp.jobs_v4#CommuteInfo": {
      "type": "structure",
      "members": {
        "travelDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds required to travel to the job location from the query location. A duration of 0 seconds indicates that the job isn't reachable within the requested duration, but was returned as part of an expanded query."
          }
        },
        "jobLocation": {
          "target": "com.gcp.jobs_v4#Location",
          "traits": {
            "smithy.api#documentation": "Location used as the destination in the commute calculation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commute details related to this job."
      }
    },
    "com.gcp.jobs_v4#ApplicationInfo": {
      "type": "structure",
      "members": {
        "emails": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Use this field to specify email address(es) to which resumes or applications can be sent. The maximum number of allowed characters for each entry is 255."
          }
        },
        "uris": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Use this URI field to direct an applicant to a website, for example to link to an online application form. The maximum number of allowed characters for each entry is 2,000."
          }
        },
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to provide instructions, such as \"Mail your application to ...\", that a candidate can follow to apply for the job. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 3,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application related details of a job posting."
      }
    },
    "com.gcp.jobs_v4#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v4#JobDerivedInfo": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.jobs_v4#LocationList",
          "traits": {
            "smithy.api#documentation": "Structured locations of the job, resolved from Job.addresses. locations are exactly matched to Job.addresses in the same order."
          }
        },
        "jobCategories": {
          "target": "com.gcp.jobs_v4#JobDerivedInfoJobCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Job categories derived from Job.title and Job.description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derived details about the job posting."
      }
    },
    "com.gcp.jobs_v4#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#Location"
      }
    },
    "com.gcp.jobs_v4#JobDerivedInfoJobCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "JOB_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_CATEGORY_UNSPECIFIED"
          }
        },
        "ACCOUNTING_AND_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNTING_AND_FINANCE"
          }
        },
        "ADMINISTRATIVE_AND_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE_AND_OFFICE"
          }
        },
        "ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISING_AND_MARKETING"
          }
        },
        "ANIMAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANIMAL_CARE"
          }
        },
        "ART_FASHION_AND_DESIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ART_FASHION_AND_DESIGN"
          }
        },
        "BUSINESS_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_OPERATIONS"
          }
        },
        "CLEANING_AND_FACILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANING_AND_FACILITIES"
          }
        },
        "COMPUTER_AND_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTER_AND_IT"
          }
        },
        "CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTRUCTION"
          }
        },
        "CUSTOMER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SERVICE"
          }
        },
        "EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION"
          }
        },
        "ENTERTAINMENT_AND_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERTAINMENT_AND_TRAVEL"
          }
        },
        "FARMING_AND_OUTDOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARMING_AND_OUTDOORS"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE"
          }
        },
        "HUMAN_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES"
          }
        },
        "INSTALLATION_MAINTENANCE_AND_REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_MAINTENANCE_AND_REPAIR"
          }
        },
        "LEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGAL"
          }
        },
        "MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT"
          }
        },
        "MANUFACTURING_AND_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUFACTURING_AND_WAREHOUSE"
          }
        },
        "MEDIA_COMMUNICATIONS_AND_WRITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_COMMUNICATIONS_AND_WRITING"
          }
        },
        "OIL_GAS_AND_MINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIL_GAS_AND_MINING"
          }
        },
        "PERSONAL_CARE_AND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_CARE_AND_SERVICES"
          }
        },
        "PROTECTIVE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTIVE_SERVICES"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_ESTATE"
          }
        },
        "RESTAURANT_AND_HOSPITALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTAURANT_AND_HOSPITALITY"
          }
        },
        "SALES_AND_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_AND_RETAIL"
          }
        },
        "SCIENCE_AND_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIENCE_AND_ENGINEERING"
          }
        },
        "SOCIAL_SERVICES_AND_NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SERVICES_AND_NON_PROFIT"
          }
        },
        "SPORTS_FITNESS_AND_RECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPORTS_FITNESS_AND_RECREATION"
          }
        },
        "TRANSPORTATION_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSPORTATION_AND_LOGISTICS"
          }
        }
      }
    },
    "com.gcp.jobs_v4#JobDerivedInfoJobCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#JobDerivedInfoJobCategoriesItemEnum"
      }
    },
    "com.gcp.jobs_v4#HistogramQuery": {
      "type": "structure",
      "members": {
        "histogramQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression specifies a histogram request against matching jobs for searches. See SearchJobsRequest.histogram_queries for details about syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The histogram request."
      }
    },
    "com.gcp.jobs_v4#TimeOfDay": {
      "type": "structure",
      "members": {
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.jobs_v4#ListTenantsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v4#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "tenants": {
          "target": "com.gcp.jobs_v4#TenantList",
          "traits": {
            "smithy.api#documentation": "Tenants for the current client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List tenants response object."
      }
    },
    "com.gcp.jobs_v4#TenantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#Tenant"
      }
    },
    "com.gcp.jobs_v4#JobEvent": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The job name(s) associated with this event. For example, if this is an impression event, this field contains the identifiers of all jobs shown to the job seeker. If this was a view event, this field contains the identifier of the viewed job. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\", for example, \"projects/foo/tenants/bar/jobs/baz\"."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v4#JobEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the event (see JobEventType)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event issued when a job seeker interacts with the application that implements Cloud Talent Solution."
      }
    },
    "com.gcp.jobs_v4#JobEventTypeEnum": {
      "type": "enum",
      "members": {
        "JOB_EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_EVENT_TYPE_UNSPECIFIED"
          }
        },
        "IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        },
        "VIEW_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_REDIRECT"
          }
        },
        "APPLICATION_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_START"
          }
        },
        "APPLICATION_FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_FINISH"
          }
        },
        "APPLICATION_QUICK_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_QUICK_SUBMISSION"
          }
        },
        "APPLICATION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_REDIRECT"
          }
        },
        "APPLICATION_START_FROM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_START_FROM_SEARCH"
          }
        },
        "APPLICATION_REDIRECT_FROM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_REDIRECT_FROM_SEARCH"
          }
        },
        "APPLICATION_COMPANY_SUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_COMPANY_SUBMIT"
          }
        },
        "BOOKMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKMARK"
          }
        },
        "NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION"
          }
        },
        "HIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIRED"
          }
        },
        "SENT_CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENT_CV"
          }
        },
        "INTERVIEW_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERVIEW_GRANTED"
          }
        }
      }
    },
    "com.gcp.jobs_v4#ResponseMetadata": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique id associated with this call. This id is logged for tracking purposes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information returned to client, such as debugging information."
      }
    },
    "com.gcp.jobs_v4#CustomRankingInfo": {
      "type": "structure",
      "members": {
        "importanceLevel": {
          "target": "com.gcp.jobs_v4#CustomRankingInfoImportanceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Required. Controls over how important the score of CustomRankingInfo.ranking_expression gets applied to job's final ranking position. An error is thrown if not specified."
          }
        },
        "rankingExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Controls over how job documents get ranked on top of existing relevance score (determined by API algorithm). A combination of the ranking expression and relevance score is used to determine job's final ranking position. The syntax for this expression is a subset of Google SQL syntax. Supported operators are: +, -, *, /, where the left and right side of the operator is either a numeric Job.custom_attributes key, integer/double value or an expression that can be evaluated to a number. Parenthesis are supported to adjust calculation precedence. The expression must be < 200 characters in length. The expression is considered invalid for a job if the expression references custom attributes that are not populated on the job or if the expression results in a divide by zero. If an expression is invalid for a job, that job is demoted to the end of the results. Sample ranking expression (year + 25) * 0.25 - (freshness / 0.5)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom ranking information for SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v4#CustomRankingInfoImportanceLevelEnum": {
      "type": "enum",
      "members": {
        "IMPORTANCE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORTANCE_LEVEL_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILD"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "EXTREME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTREME"
          }
        }
      }
    },
    "com.gcp.jobs_v4#CompensationFilter": {
      "type": "structure",
      "members": {
        "units": {
          "target": "com.gcp.jobs_v4#CompensationFilterUnitsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Specify desired `base compensation entry's` CompensationInfo.CompensationUnit."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v4#CompensationFilterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of filter."
          }
        },
        "range": {
          "target": "com.gcp.jobs_v4#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Compensation range."
          }
        },
        "includeJobsWithUnspecifiedCompensationRange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, jobs with unspecified compensation range fields are included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter on job compensation type and amount."
      }
    },
    "com.gcp.jobs_v4#CompensationFilterUnitsItemEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_UNIT_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "OTHER_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v4#CompensationFilterUnitsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#CompensationFilterUnitsItemEnum"
      }
    },
    "com.gcp.jobs_v4#CompensationFilterTypeEnum": {
      "type": "enum",
      "members": {
        "FILTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_TYPE_UNSPECIFIED"
          }
        },
        "UNIT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_ONLY"
          }
        },
        "UNIT_AND_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_AND_AMOUNT"
          }
        },
        "ANNUALIZED_BASE_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE_AMOUNT"
          }
        },
        "ANNUALIZED_TOTAL_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL_AMOUNT"
          }
        }
      }
    },
    "com.gcp.jobs_v4#Company": {
      "type": "structure",
      "members": {
        "keywordSearchableJobCustomAttributes": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please set the searchability of the custom attribute in the Job.custom_attributes going forward. A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword searches. Jobs with `string_values` under these specified field keys are returned if any of the values match the search keyword. Custom field values with parenthesis, brackets and special symbols are not searchable as-is, and those keyword queries must be surrounded by quotes."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client side company identifier, used to uniquely identify the company. The maximum number of allowed characters is 255."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the company, for example, \"Google LLC\"."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy."
          }
        },
        "derivedInfo": {
          "target": "com.gcp.jobs_v4#CompanyDerivedInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Derived details about the company."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI that hosts the employer's company logo."
          }
        },
        "websiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI representing the company's primary web site or home page, for example, \"https://www.google.com\". The maximum number of allowed characters is 255."
          }
        },
        "size": {
          "target": "com.gcp.jobs_v4#CompanySizeEnum",
          "traits": {
            "smithy.api#documentation": "The employer's company size."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required during company update. The resource name for a company. This is generated by the service when a company is created. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/foo/tenants/bar/companies/baz\"."
          }
        },
        "headquartersAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in DerivedInfo.headquarters_location."
          }
        },
        "hiringAgency": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided."
          }
        },
        "careerSiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to employer's career site or careers page on the employer's web site, for example, \"https://careers.google.com\"."
          }
        },
        "eeoText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Company resource represents a company in the service. A company is the entity that owns job postings, that is, the hiring entity responsible for employing applicants for the job position."
      }
    },
    "com.gcp.jobs_v4#CompanySizeEnum": {
      "type": "enum",
      "members": {
        "COMPANY_SIZE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_SIZE_UNSPECIFIED"
          }
        },
        "MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINI"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "SMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMEDIUM"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "BIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG"
          }
        },
        "BIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGGER"
          }
        },
        "GIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIANT"
          }
        }
      }
    },
    "com.gcp.jobs_v4#BatchOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch operation is created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch operation is finished and google.longrunning.Operation.done is set to `true`."
          }
        },
        "stateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "More detailed information about operation state."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of total item(s) inside an operation."
          }
        },
        "failureCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of failed item(s) inside an operation."
          }
        },
        "state": {
          "target": "com.gcp.jobs_v4#BatchOperationMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of a long running operation."
          }
        },
        "successCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of successful item(s) inside an operation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch operation status is updated. The metadata and the update_time is refreshed every minute otherwise cached data is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata used for long running operations returned by CTS batch APIs. It's used to replace google.longrunning.Operation.metadata."
      }
    },
    "com.gcp.jobs_v4#BatchOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.jobs_v4#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.jobs_v4#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v4#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.jobs_v4#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.jobs_v4#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.jobs_v4#ClientEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier, generated by the client application."
          }
        },
        "eventNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notes about the event provided by recruiters or other users, for example, feedback on why a job was bookmarked."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The timestamp of the event."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Strongly recommended for the best service experience. A unique ID generated in the API responses. It can be found in ResponseMetadata.request_id."
          }
        },
        "jobEvent": {
          "target": "com.gcp.jobs_v4#JobEvent",
          "traits": {
            "smithy.api#documentation": "An event issued when a job seeker interacts with the application that implements Cloud Talent Solution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event issued when an end user interacts with the application that implements Cloud Talent Solution. Providing this information improves the quality of results for the API clients, enabling the service to perform optimally. The number of events sent must be consistent with other calls, such as job searches, issued to the service by the client."
      }
    },
    "com.gcp.jobs_v4#BatchUpdateJobsRequest": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.jobs_v4#JobList",
          "traits": {
            "smithy.api#documentation": "Required. The jobs to be updated. A maximum of 200 jobs can be updated in a batch."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Strongly recommended for the best service experience. Be aware that it will also increase latency when checking the status of a batch operation. If update_mask is provided, only the specified fields in Job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Only top level fields of Job are supported. If update_mask is provided, The Job inside JobResult will only contains fields that is updated, plus the Id of the Job. Otherwise, Job will include all fields, which can yield a very large response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update a batch of jobs."
      }
    },
    "com.gcp.jobs_v4#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#Job"
      }
    },
    "com.gcp.jobs_v4#BatchDeleteJobsResponse": {
      "type": "structure",
      "members": {
        "jobResults": {
          "target": "com.gcp.jobs_v4#JobResultList",
          "traits": {
            "smithy.api#documentation": "List of job mutation results from a batch delete operation. It can change until operation status is FINISHED, FAILED or CANCELLED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of JobService.BatchDeleteJobs. It's used to replace google.longrunning.Operation.response in case of success."
      }
    },
    "com.gcp.jobs_v4#ListJobsResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.jobs_v4#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "jobs": {
          "target": "com.gcp.jobs_v4#JobList",
          "traits": {
            "smithy.api#documentation": "The Jobs for a given company. The maximum number of items returned is based on the limit field provided in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List jobs response."
      }
    },
    "com.gcp.jobs_v4#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.jobs_v4#SearchJobsResponse": {
      "type": "structure",
      "members": {
        "matchingJobs": {
          "target": "com.gcp.jobs_v4#MatchingJobList",
          "traits": {
            "smithy.api#documentation": "The Job entities that match the specified SearchJobsRequest."
          }
        },
        "histogramQueryResults": {
          "target": "com.gcp.jobs_v4#HistogramQueryResultList",
          "traits": {
            "smithy.api#documentation": "The histogram results that match with specified SearchJobsRequest.histogram_queries."
          }
        },
        "broadenedQueryJobsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If query broadening is enabled, we may append additional results from the broadened query. This number indicates how many of the jobs returned in the jobs field are from the broadened query. These results are always at the end of the jobs list. In particular, a value of 0, or if the field isn't set, all the jobs in the jobs list are from the original (without broadening) query. If this field is non-zero, subsequent requests with offset after this result set should contain all broadened results."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of jobs that match the specified query. Note: This size is precise only if the total is less than 100,000."
          }
        },
        "locationFilters": {
          "target": "com.gcp.jobs_v4#LocationList",
          "traits": {
            "smithy.api#documentation": "The location filters that the service applied to the specified query. If any filters are lat-lng based, the Location.location_type is Location.LocationType.LOCATION_TYPE_UNSPECIFIED."
          }
        },
        "spellCorrection": {
          "target": "com.gcp.jobs_v4#SpellingCorrection",
          "traits": {
            "smithy.api#documentation": "The spell checking result, and correction."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v4#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for SearchJob method."
      }
    },
    "com.gcp.jobs_v4#MatchingJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#MatchingJob"
      }
    },
    "com.gcp.jobs_v4#HistogramQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#HistogramQueryResult"
      }
    },
    "com.gcp.jobs_v4#CompensationEntry": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus."
          }
        },
        "range": {
          "target": "com.gcp.jobs_v4#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Compensation range."
          }
        },
        "expectedUnitsPerYear": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
          }
        },
        "amount": {
          "target": "com.gcp.jobs_v4#Money",
          "traits": {
            "smithy.api#documentation": "Compensation amount."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v4#CompensationEntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Compensation type. Default is CompensationType.COMPENSATION_TYPE_UNSPECIFIED."
          }
        },
        "unit": {
          "target": "com.gcp.jobs_v4#CompensationEntryUnitEnum",
          "traits": {
            "smithy.api#documentation": "Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year."
      }
    },
    "com.gcp.jobs_v4#CompensationEntryTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BONUS"
          }
        },
        "SIGNING_BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNING_BONUS"
          }
        },
        "EQUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUITY"
          }
        },
        "PROFIT_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFIT_SHARING"
          }
        },
        "COMMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMISSIONS"
          }
        },
        "TIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIPS"
          }
        },
        "OTHER_COMPENSATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_TYPE"
          }
        }
      }
    },
    "com.gcp.jobs_v4#CompensationEntryUnitEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_UNIT_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "OTHER_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v4#BatchDeleteJobsRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the jobs to delete. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\". For example, \"projects/foo/tenants/bar/jobs/baz\". A maximum of 200 jobs can be deleted in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete a batch of jobs."
      }
    },
    "com.gcp.jobs_v4#RequestMetadata": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if allow_missing_ids is unset or `false`. A unique session identification string. A session is defined as the duration of an end user's interaction with the service over a certain period. Obfuscate this field for privacy concerns before providing it to the service. Note that any improvements to the model for a particular tenant site rely on this field being set correctly to a unique session ID. The maximum number of allowed characters is 255."
          }
        },
        "allowMissingIds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only set when any of domain, session_id and user_id isn't available for some reason. It is highly recommended not to set this field and provide accurate domain, session_id and user_id for the best service experience."
          }
        },
        "deviceInfo": {
          "target": "com.gcp.jobs_v4#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "The type of device used by the job seeker at the time of the call to the service."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if allow_missing_ids is unset or `false`. A unique user identification string, as determined by the client. To have the strongest positive impact on search quality make sure the client-level is unique. Obfuscate this field for privacy concerns before providing it to the service. Note that any improvements to the model for a particular tenant site rely on this field being set correctly to a unique user ID. The maximum number of allowed characters is 255."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if allow_missing_ids is unset or `false`. The client-defined scope or source of the service call, which typically is the domain on which the service has been implemented and is currently being run. For example, if the service is being run by client *Foo, Inc.*, on job board www.foo.com and career site www.bar.com, then this field is set to \"foo.com\" for use on the job board, and \"bar.com\" for use on the career site. Note that any improvements to the model for a particular tenant site rely on this field being set correctly to a unique domain. The maximum number of allowed characters is 255."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Meta information related to the job searcher or entity conducting the job search. This information is used to improve the performance of the service."
      }
    },
    "com.gcp.jobs_v4#Location": {
      "type": "structure",
      "members": {
        "latLng": {
          "target": "com.gcp.jobs_v4#LatLng",
          "traits": {
            "smithy.api#documentation": "An object representing a latitude/longitude pair."
          }
        },
        "radiusMiles": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Radius in miles of the job location. This value is derived from the location bounding box in which a circle with the specified radius centered from google.type.LatLng covers the area associated with the job location. For example, currently, \"Mountain View, CA, USA\" has a radius of 6.17 miles."
          }
        },
        "locationType": {
          "target": "com.gcp.jobs_v4#LocationLocationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of a location, which corresponds to the address lines field of google.type.PostalAddress. For example, \"Downtown, Atlanta, GA, USA\" has a type of LocationType.NEIGHBORHOOD, and \"Kansas City, KS, USA\" has a type of LocationType.LOCALITY."
          }
        },
        "postalAddress": {
          "target": "com.gcp.jobs_v4#PostalAddress",
          "traits": {
            "smithy.api#documentation": "Postal address of the location that includes human readable information, such as postal delivery and payments addresses. Given a postal address, a postal service can deliver items to a premises, P.O. Box, or other delivery location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a location with full geographic information."
      }
    },
    "com.gcp.jobs_v4#LocationLocationTypeEnum": {
      "type": "enum",
      "members": {
        "LOCATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_TYPE_UNSPECIFIED"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "ADMINISTRATIVE_AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE_AREA"
          }
        },
        "SUB_ADMINISTRATIVE_AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_ADMINISTRATIVE_AREA"
          }
        },
        "LOCALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALITY"
          }
        },
        "POSTAL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTAL_CODE"
          }
        },
        "SUB_LOCALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_LOCALITY"
          }
        },
        "SUB_LOCALITY_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_LOCALITY_1"
          }
        },
        "SUB_LOCALITY_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_LOCALITY_2"
          }
        },
        "NEIGHBORHOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEIGHBORHOOD"
          }
        },
        "STREET_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_ADDRESS"
          }
        }
      }
    },
    "com.gcp.jobs_v4#MatchingJob": {
      "type": "structure",
      "members": {
        "commuteInfo": {
          "target": "com.gcp.jobs_v4#CommuteInfo",
          "traits": {
            "smithy.api#documentation": "Commute information which is generated based on specified CommuteFilter."
          }
        },
        "jobTitleSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.title field most closely matching a search query's keywords, if available. The matching query keywords are enclosed in HTML bold tags."
          }
        },
        "job": {
          "target": "com.gcp.jobs_v4#Job",
          "traits": {
            "smithy.api#documentation": "Job resource that matches the specified SearchJobsRequest."
          }
        },
        "searchTextSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.description and similar fields that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags."
          }
        },
        "jobSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A summary of the job with core information that's displayed on the search results listing page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job entry with metadata inside SearchJobsResponse."
      }
    },
    "com.gcp.jobs_v4#CompletionResult": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.jobs_v4#CompletionResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The completion topic."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the company image for COMPANY_NAME."
          }
        },
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggestion for the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource that represents completion results."
      }
    },
    "com.gcp.jobs_v4#CompletionResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMPLETION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETION_TYPE_UNSPECIFIED"
          }
        },
        "JOB_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_TITLE"
          }
        },
        "COMPANY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_NAME"
          }
        },
        "COMBINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBINED"
          }
        }
      }
    },
    "com.gcp.jobs_v4#LocationFilter": {
      "type": "structure",
      "members": {
        "latLng": {
          "target": "com.gcp.jobs_v4#LatLng",
          "traits": {
            "smithy.api#documentation": "The latitude and longitude of the geographic center to search from. This field is ignored if `address` is provided."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address name, such as \"Mountain View\" or \"Bay Area\"."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CLDR region code of the country/region. This field may be used in two ways: 1) If telecommute preference is not set, this field is used address ambiguity of the user-input address. For example, \"Liverpool\" may refer to \"Liverpool, NY, US\" or \"Liverpool, UK\". This region code biases the address resolution toward a specific country or territory. If this field is not set, address resolution is biased toward the United States by default. 2) If telecommute preference is set to TELECOMMUTE_ALLOWED, the telecommute location filter will be limited to the region specified in this field. If this field is not set, the telecommute job locations will not be See https://unicode-org.github.io/cldr-staging/charts/latest/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "telecommutePreference": {
          "target": "com.gcp.jobs_v4#LocationFilterTelecommutePreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Allows the client to return jobs without a set location, specifically, telecommuting jobs (telecommuting is considered by the service as a special location). Job.posting_region indicates if a job permits telecommuting. If this field is set to TelecommutePreference.TELECOMMUTE_ALLOWED, telecommuting jobs are searched, and address and lat_lng are ignored. If not set or set to TelecommutePreference.TELECOMMUTE_EXCLUDED, the telecommute status of the jobs is ignored. Jobs that have PostingRegion.TELECOMMUTE and have additional Job.addresses may still be matched based on other location filters using address or lat_lng. This filter can be used by itself to search exclusively for telecommuting jobs, or it can be combined with another location filter to search for a combination of job locations, such as \"Mountain View\" or \"telecommuting\" jobs. However, when used in combination with other location filters, telecommuting jobs can be treated as less relevant than other jobs in the search response. This field is only used for job search requests."
          }
        },
        "distanceInMiles": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The distance_in_miles is applied when the location being searched for is identified as a city or smaller. This field is ignored if the location being searched for is a state or larger."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Geographic region of the search."
      }
    },
    "com.gcp.jobs_v4#LocationFilterTelecommutePreferenceEnum": {
      "type": "enum",
      "members": {
        "TELECOMMUTE_PREFERENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_PREFERENCE_UNSPECIFIED"
          }
        },
        "TELECOMMUTE_EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_EXCLUDED"
          }
        },
        "TELECOMMUTE_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_ALLOWED"
          }
        },
        "TELECOMMUTE_JOBS_EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_JOBS_EXCLUDED"
          }
        }
      }
    },
    "com.gcp.jobs_v4#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.jobs_v4#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.jobs_v4#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#DocumentMap"
      }
    },
    "com.gcp.jobs_v4#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.jobs_v4#CompensationInfo": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.jobs_v4#CompensationEntryList",
          "traits": {
            "smithy.api#documentation": "Job compensation information. At most one entry can be of type CompensationInfo.CompensationType.BASE, which is referred as **base compensation entry** for the job."
          }
        },
        "annualizedTotalCompensationRange": {
          "target": "com.gcp.jobs_v4#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Output only. Annualized total compensation range. Computed as all compensation entries' CompensationEntry.amount times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
          }
        },
        "annualizedBaseCompensationRange": {
          "target": "com.gcp.jobs_v4#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Output only. Annualized base compensation range. Computed as base compensation entry's CompensationEntry.amount times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job compensation details."
      }
    },
    "com.gcp.jobs_v4#CompensationEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#CompensationEntry"
      }
    },
    "com.gcp.jobs_v4#CommuteFilter": {
      "type": "structure",
      "members": {
        "travelDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The maximum travel time in seconds. The maximum allowed value is `3600s` (one hour). Format is `123s`."
          }
        },
        "startCoordinates": {
          "target": "com.gcp.jobs_v4#LatLng",
          "traits": {
            "smithy.api#documentation": "Required. The latitude and longitude of the location to calculate the commute time from."
          }
        },
        "commuteMethod": {
          "target": "com.gcp.jobs_v4#CommuteFilterCommuteMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. The method of transportation to calculate the commute time for."
          }
        },
        "roadTraffic": {
          "target": "com.gcp.jobs_v4#CommuteFilterRoadTrafficEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the traffic density to use when calculating commute time."
          }
        },
        "allowImpreciseAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, jobs without street level addresses may also be returned. For city level addresses, the city center is used. For state and coarser level addresses, text matching is used. If this field is set to `false` or isn't specified, only jobs that include street level addresses will be returned by commute search."
          }
        },
        "departureTime": {
          "target": "com.gcp.jobs_v4#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "The departure time used to calculate traffic impact, represented as google.type.TimeOfDay in local time zone. Currently traffic model is restricted to hour level resolution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters needed for commute search."
      }
    },
    "com.gcp.jobs_v4#CommuteFilterCommuteMethodEnum": {
      "type": "enum",
      "members": {
        "COMMUTE_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMUTE_METHOD_UNSPECIFIED"
          }
        },
        "DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVING"
          }
        },
        "TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT"
          }
        },
        "WALKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WALKING"
          }
        },
        "CYCLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLING"
          }
        },
        "TRANSIT_ACCESSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT_ACCESSIBLE"
          }
        }
      }
    },
    "com.gcp.jobs_v4#CommuteFilterRoadTrafficEnum": {
      "type": "enum",
      "members": {
        "ROAD_TRAFFIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROAD_TRAFFIC_UNSPECIFIED"
          }
        },
        "TRAFFIC_FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_FREE"
          }
        },
        "BUSY_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSY_HOUR"
          }
        }
      }
    },
    "com.gcp.jobs_v4#BatchCreateJobsRequest": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.jobs_v4#JobList",
          "traits": {
            "smithy.api#documentation": "Required. The jobs to be created. A maximum of 200 jobs can be created in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a batch of jobs."
      }
    },
    "com.gcp.jobs_v4#CompensationRange": {
      "type": "structure",
      "members": {
        "minCompensation": {
          "target": "com.gcp.jobs_v4#Money",
          "traits": {
            "smithy.api#documentation": "The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation."
          }
        },
        "maxCompensation": {
          "target": "com.gcp.jobs_v4#Money",
          "traits": {
            "smithy.api#documentation": "The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compensation range."
      }
    },
    "com.gcp.jobs_v4#Tenant": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required during tenant update. The resource name for a tenant. This is generated by the service when a tenant is created. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\"."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client side tenant identifier, used to uniquely identify the tenant. The maximum number of allowed characters is 255."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Tenant resource represents a tenant in the service. A tenant is a group or entity that shares common access with specific privileges for resources like jobs. Customer may create multiple tenants to provide data isolation for different groups."
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequest": {
      "type": "structure",
      "members": {
        "jobQuery": {
          "target": "com.gcp.jobs_v4#JobQuery",
          "traits": {
            "smithy.api#documentation": "Query used to search against jobs, such as keyword, location filters, etc."
          }
        },
        "jobView": {
          "target": "com.gcp.jobs_v4#SearchJobsRequestJobViewEnum",
          "traits": {
            "smithy.api#documentation": "The desired job attributes returned for jobs in the search response. Defaults to JobView.JOB_VIEW_SMALL if no value is specified."
          }
        },
        "histogramQueries": {
          "target": "com.gcp.jobs_v4#HistogramQueryList",
          "traits": {
            "smithy.api#documentation": "An expression specifies a histogram request against matching jobs. Expression syntax is an aggregation function call with histogram facets and other options. Available aggregation function calls are: * `count(string_histogram_facet)`: Count the number of matching entities, for each distinct attribute value. * `count(numeric_histogram_facet, list of buckets)`: Count the number of matching entities within each bucket. A maximum of 200 histogram buckets are supported. Data types: * Histogram facet: facet names with format `a-zA-Z+`. * String: string like \"any string with backslash escape for quote(\\\").\" * Number: whole number and floating point number like 10, -1 and -0.01. * List: list of elements with comma(,) separator surrounded by square brackets, for example, [1, 2, 3] and [\"one\", \"two\", \"three\"]. Built-in constants: * MIN (minimum number similar to java Double.MIN_VALUE) * MAX (maximum number similar to java Double.MAX_VALUE) Built-in functions: * bucket(start, end[, label]): bucket built-in function creates a bucket with range of start, end). Note that the end is exclusive, for example, bucket(1, MAX, \"positive number\") or bucket(1, 10). Job histogram facets: * company_display_name: histogram by [Job.company_display_name. * employment_type: histogram by Job.employment_types, for example, \"FULL_TIME\", \"PART_TIME\". * company_size (DEPRECATED): histogram by CompanySize, for example, \"SMALL\", \"MEDIUM\", \"BIG\". * publish_time_in_day: histogram by the Job.posting_publish_time in days. Must specify list of numeric buckets in spec. * publish_time_in_month: histogram by the Job.posting_publish_time in months. Must specify list of numeric buckets in spec. * publish_time_in_year: histogram by the Job.posting_publish_time in years. Must specify list of numeric buckets in spec. * degree_types: histogram by the Job.degree_types, for example, \"Bachelors\", \"Masters\". * job_level: histogram by the Job.job_level, for example, \"Entry Level\". * country: histogram by the country code of jobs, for example, \"US\", \"FR\". * admin1: histogram by the admin1 code of jobs, which is a global placeholder referring to the state, province, or the particular term a country uses to define the geographic structure below the country level, for example, \"CA\", \"IL\". * city: histogram by a combination of the \"city name, admin1 code\". For example, \"Mountain View, CA\", \"New York, NY\". * admin1_country: histogram by a combination of the \"admin1 code, country\", for example, \"CA, US\", \"IL, US\". * city_coordinate: histogram by the city center's GPS coordinates (latitude and longitude), for example, 37.4038522,-122.0987765. Since the coordinates of a city center can change, customers may need to refresh them periodically. * locale: histogram by the Job.language_code, for example, \"en-US\", \"fr-FR\". * language: histogram by the language subtag of the Job.language_code, for example, \"en\", \"fr\". * category: histogram by the JobCategory, for example, \"COMPUTER_AND_IT\", \"HEALTHCARE\". * base_compensation_unit: histogram by the CompensationInfo.CompensationUnit of base salary, for example, \"WEEKLY\", \"MONTHLY\". * base_compensation: histogram by the base salary. Must specify list of numeric buckets to group results by. * annualized_base_compensation: histogram by the base annualized salary. Must specify list of numeric buckets to group results by. * annualized_total_compensation: histogram by the total annualized salary. Must specify list of numeric buckets to group results by. * string_custom_attribute: histogram by string Job.custom_attributes. Values can be accessed via square bracket notations like string_custom_attribute[\"key1\"]. * numeric_custom_attribute: histogram by numeric Job.custom_attributes. Values can be accessed via square bracket notations like numeric_custom_attribute[\"key1\"]. Must specify list of numeric buckets to group results by. Example expressions: * `count(admin1)` * `count(base_compensation, [bucket(1000, 10000), bucket(10000, 100000), bucket(100000, MAX)])` * `count(string_custom_attribute[\"some-string-custom-attribute\"])` * `count(numeric_custom_attribute[\"some-numeric-custom-attribute\"], [bucket(MIN, 0, \"negative\"), bucket(0, MAX, \"non-negative\")])`"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token specifying the current offset within search results. See SearchJobsResponse.next_page_token for an explanation of how to obtain the next set of query results."
          }
        },
        "diversificationLevel": {
          "target": "com.gcp.jobs_v4#SearchJobsRequestDiversificationLevelEnum",
          "traits": {
            "smithy.api#documentation": "Controls whether highly similar jobs are returned next to each other in the search results. Jobs are identified as highly similar based on their titles, job categories, and locations. Highly similar results are clustered so that only one representative job of the cluster is displayed to the job seeker higher up in the results, with the other jobs being displayed lower down in the results. Defaults to DiversificationLevel.SIMPLE if no value is specified."
          }
        },
        "requestMetadata": {
          "target": "com.gcp.jobs_v4#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "Required. The meta information collected about the job searcher, used to improve the search quality of the service. The identifiers (such as `user_id`) are provided by users, and must be unique and consistent."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer that specifies the current offset (that is, starting result location, amongst the jobs deemed by the API as relevant) in search results. This field is only considered if page_token is unset. The maximum allowed value is 5000. Otherwise an error is thrown. For example, 0 means to return results starting from the first matching job, and 10 means to return from the 11th job. This can be used for pagination, (for example, pageSize = 10 and offset = 10 means to return from the second page)."
          }
        },
        "searchMode": {
          "target": "com.gcp.jobs_v4#SearchJobsRequestSearchModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of a search. Defaults to SearchMode.JOB_SEARCH."
          }
        },
        "keywordMatchMode": {
          "target": "com.gcp.jobs_v4#SearchJobsRequestKeywordMatchModeEnum",
          "traits": {
            "smithy.api#documentation": "Controls what keyword match options to use. If both keyword_match_mode and disable_keyword_match are set, keyword_match_mode will take precedence. Defaults to KeywordMatchMode.KEYWORD_MATCH_ALL if no value is specified."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The criteria determining how search results are sorted. Default is `\"relevance desc\"`. Supported options are: * `\"relevance desc\"`: By relevance descending, as determined by the API algorithms. Relevance thresholding of query results is only available with this ordering. * `\"posting_publish_time desc\"`: By Job.posting_publish_time descending. * `\"posting_update_time desc\"`: By Job.posting_update_time descending. * `\"title\"`: By Job.title ascending. * `\"title desc\"`: By Job.title descending. * `\"annualized_base_compensation\"`: By job's CompensationInfo.annualized_base_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_base_compensation desc\"`: By job's CompensationInfo.annualized_base_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation\"`: By job's CompensationInfo.annualized_total_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation desc\"`: By job's CompensationInfo.annualized_total_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"custom_ranking desc\"`: By the relevance score adjusted to the SearchJobsRequest.CustomRankingInfo.ranking_expression with weight factor assigned by SearchJobsRequest.CustomRankingInfo.importance_level in descending order. * Location sorting: Use the special syntax to order jobs by distance: `\"distance_from('Hawaii')\"`: Order by distance from Hawaii. `\"distance_from(19.89, 155.5)\"`: Order by distance from a coordinate. `\"distance_from('Hawaii'), distance_from('Puerto Rico')\"`: Order by multiple locations. See details below. `\"distance_from('Hawaii'), distance_from(19.89, 155.5)\"`: Order by multiple locations. See details below. The string can have a maximum of 256 characters. When multiple distance centers are provided, a job that is close to any of the distance centers would have a high rank. When a job has multiple locations, the job location closest to one of the distance centers will be used. Jobs that don't have locations will be ranked at the bottom. Distance is calculated with a precision of 11.3 meters (37.4 feet). Diversification strategy is still applied unless explicitly disabled in diversification_level."
          }
        },
        "relevanceThreshold": {
          "target": "com.gcp.jobs_v4#SearchJobsRequestRelevanceThresholdEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The relevance threshold of the search results. Default to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information."
          }
        },
        "enableBroadening": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether to broaden the search when it produces sparse results. Broadened queries append results to the end of the matching results list. Defaults to false."
          }
        },
        "maxPageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A limit on the number of jobs returned in the search results. Increasing this value above the default value of 10 can increase search response time. The value can be between 1 and 100."
          }
        },
        "customRankingInfo": {
          "target": "com.gcp.jobs_v4#CustomRankingInfo",
          "traits": {
            "smithy.api#documentation": "Controls over how job documents get ranked on top of existing relevance score (determined by API algorithm)."
          }
        },
        "disableKeywordMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use SearchJobsRequest.keyword_match_mode going forward. To migrate, disable_keyword_match set to false maps to KeywordMatchMode.KEYWORD_MATCH_ALL, and disable_keyword_match set to true maps to KeywordMatchMode.KEYWORD_MATCH_DISABLED. If SearchJobsRequest.keyword_match_mode is set, this field is ignored. Controls whether to disable exact keyword match on Job.title, Job.description, Job.company_display_name, Job.addresses, Job.qualifications. When disable keyword match is turned off, a keyword match returns jobs that do not match given category filters when there are matching keywords. For example, for the query \"program manager,\" a result is returned even if the job posting has the title \"software developer,\" which doesn't fall into \"program manager\" ontology, but does have \"program manager\" appearing in its description. For queries like \"cloud\" that don't contain title or location specific ontology, jobs with \"cloud\" keyword matches are returned regardless of this flag's value. Use Company.keyword_searchable_job_custom_attributes if company-specific globally matched custom field/attribute string values are needed. Enabling keyword match improves recall of subsequent search requests. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Request body of the `SearchJobs` call."
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequestJobViewEnum": {
      "type": "enum",
      "members": {
        "JOB_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_UNSPECIFIED"
          }
        },
        "JOB_VIEW_ID_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_ID_ONLY"
          }
        },
        "JOB_VIEW_MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_MINIMAL"
          }
        },
        "JOB_VIEW_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_SMALL"
          }
        },
        "JOB_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_FULL"
          }
        }
      }
    },
    "com.gcp.jobs_v4#HistogramQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v4#HistogramQuery"
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequestDiversificationLevelEnum": {
      "type": "enum",
      "members": {
        "DIVERSIFICATION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVERSIFICATION_LEVEL_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE"
          }
        },
        "ONE_PER_COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_PER_COMPANY"
          }
        },
        "TWO_PER_COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_PER_COMPANY"
          }
        },
        "MAX_THREE_PER_COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_THREE_PER_COMPANY"
          }
        },
        "DIVERSIFY_BY_LOOSER_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVERSIFY_BY_LOOSER_SIMILARITY"
          }
        }
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequestSearchModeEnum": {
      "type": "enum",
      "members": {
        "SEARCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MODE_UNSPECIFIED"
          }
        },
        "JOB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_SEARCH"
          }
        },
        "FEATURED_JOB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURED_JOB_SEARCH"
          }
        }
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequestKeywordMatchModeEnum": {
      "type": "enum",
      "members": {
        "KEYWORD_MATCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_MATCH_MODE_UNSPECIFIED"
          }
        },
        "KEYWORD_MATCH_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_MATCH_DISABLED"
          }
        },
        "KEYWORD_MATCH_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_MATCH_ALL"
          }
        },
        "KEYWORD_MATCH_TITLE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_MATCH_TITLE_ONLY"
          }
        }
      }
    },
    "com.gcp.jobs_v4#SearchJobsRequestRelevanceThresholdEnum": {
      "type": "enum",
      "members": {
        "RELEVANCE_THRESHOLD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEVANCE_THRESHOLD_UNSPECIFIED"
          }
        },
        "LOWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOWEST"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.jobs_v4#HistogramQueryResult": {
      "type": "structure",
      "members": {
        "histogramQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested histogram expression."
          }
        },
        "histogram": {
          "target": "com.gcp.jobs_v4#StringMap",
          "traits": {
            "smithy.api#documentation": "A map from the values of the facet associated with distinct values to the number of matching entries with corresponding value. The key format is: * (for string histogram) string values stored in the field. * (for named numeric bucket) name specified in `bucket()` function, like for `bucket(0, MAX, \"non-negative\")`, the key will be `non-negative`. * (for anonymous numeric bucket) range formatted as `-`, for example, `0-1000`, `MIN-0`, and `0-MAX`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Histogram result that matches HistogramQuery specified in searches."
      }
    },
    "com.gcp.jobs_v4#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v4#CompanyDerivedInfo": {
      "type": "structure",
      "members": {
        "headquartersLocation": {
          "target": "com.gcp.jobs_v4#Location",
          "traits": {
            "smithy.api#documentation": "A structured headquarters location of the company, resolved from Company.headquarters_address if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derived details about the company."
      }
    },
    "com.gcp.jobs_v4#Job": {
      "type": "structure",
      "members": {
        "jobBenefits": {
          "target": "com.gcp.jobs_v4#JobJobBenefitsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The benefits included with the job."
          }
        },
        "promotionValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A promotion value of the job, as determined by the client. The value determines the sort order of the jobs returned when searching for jobs using the featured jobs search call, with higher promotional values being returned first and ties being resolved by relevance sort. Only the jobs with a promotionValue >0 are returned in a FEATURED_JOB_SEARCH. Default value is 0, and negative values are treated as 0."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the posting. This field is distinct from any requirements for fluency that are associated with the job. Language codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }. If this field is unspecified and Job.description is present, detected language code based on Job.description is assigned, otherwise defaults to 'en_US'."
          }
        },
        "addresses": {
          "target": "com.gcp.jobs_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Strongly recommended for the best service experience. Location(s) where the employer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', and so on.) as multiple jobs with the same company, language_code and requisition_id are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. Jobs with multiple addresses must have their addresses with the same LocationType to allow location filtering to work properly. (For example, a Job with addresses \"1600 Amphitheatre Parkway, Mountain View, CA, USA\" and \"London, UK\" may not have location filters applied correctly at search time since the first is a LocationType.STREET_ADDRESS and the second is a LocationType.LOCALITY.) If a job needs to have multiple addresses, it is suggested to split it into multiple jobs with same LocationTypes. The maximum number of allowed characters is 500."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The title of the job, such as \"Software Engineer\" The maximum number of allowed characters is 500."
          }
        },
        "degreeTypes": {
          "target": "com.gcp.jobs_v4#JobDegreeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The desired education degrees for the job, such as Bachelors, Masters."
          }
        },
        "jobLevel": {
          "target": "com.gcp.jobs_v4#JobJobLevelEnum",
          "traits": {
            "smithy.api#documentation": "The experience level associated with the job, such as \"Entry Level\"."
          }
        },
        "postingPublishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp this job posting was most recently published. The default value is the time the request arrives at the server. Invalid timestamps are ignored."
          }
        },
        "processingOptions": {
          "target": "com.gcp.jobs_v4#ProcessingOptions",
          "traits": {
            "smithy.api#documentation": "Options for job processing."
          }
        },
        "customAttributes": {
          "target": "com.gcp.jobs_v4#CustomAttributeMap",
          "traits": {
            "smithy.api#documentation": "A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. The keys of the map are strings up to 64 bytes and must match the pattern: `a-zA-Z*`. For example, key0LikeThis or KEY_1_LIKE_THIS. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB."
          }
        },
        "postingCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this job posting was created."
          }
        },
        "company": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the company listing the job. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\". For example, \"projects/foo/tenants/bar/companies/baz\"."
          }
        },
        "responsibilities": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of job responsibilities. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000."
          }
        },
        "employmentTypes": {
          "target": "com.gcp.jobs_v4#JobEmploymentTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The employment type(s) of a job, for example, full time or part time."
          }
        },
        "derivedInfo": {
          "target": "com.gcp.jobs_v4#JobDerivedInfo",
          "traits": {
[...]
