{
  "smithy": "2.0",
  "metadata": {
    "service": "kmsinventory",
    "version": "v1",
    "title": "KMS Inventory API",
    "baseUrl": "https://kmsinventory.googleapis.com/"
  },
  "shapes": {
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResourcesSummary": {
      "type": "structure",
      "members": {
        "resourceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of protected resources in the same Cloud organization as the key."
          }
        },
        "projectCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of distinct Cloud projects in the same Cloud organization as the key that have resources protected by the key."
          }
        },
        "resourceTypes": {
          "target": "com.gcp.kmsinventory_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The number of resources protected by the key grouped by resource type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the ProtectedResourcesSummary resource. Example: projects/test-project/locations/us/keyRings/test-keyring/cryptoKeys/test-key/protectedResourcesSummary"
          }
        },
        "cloudProducts": {
          "target": "com.gcp.kmsinventory_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The number of resources protected by the key grouped by Cloud product."
          }
        },
        "locations": {
          "target": "com.gcp.kmsinventory_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The number of resources protected by the key grouped by region."
          }
        },
        "warnings": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1WarningList",
          "traits": {
            "smithy.api#documentation": "Warning messages for the state of response ProtectedResourcesSummary For example, if the organization service account is not configured, INSUFFICIENT_PERMISSIONS_PARTIAL_DATA warning will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregate information about the resources protected by a Cloud KMS key in the same Cloud organization/project as the key."
      }
    },
    "com.gcp.kmsinventory_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1WarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1Warning"
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Example: `compute.googleapis.com/Disk`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this resource was created. The granularity is in seconds. Timestamp.nanos will always be 0."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format: `projects/{PROJECT_NUMBER}`."
          }
        },
        "labels": {
          "target": "com.gcp.kmsinventory_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A key-value pair of the resource's labels (v1) to their values."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project that owns the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location can be `global`, regional like `us-east1`, or zonal like `us-west1-b`."
          }
        },
        "cryptoKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key version data to Asset Inventory. If there are multiple key versions protecting the resource, then this is same value as the first element of crypto_key_versions."
          }
        },
        "cryptoKeyVersions": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key versions data to Asset Inventory. The first element of this field is stored in crypto_key_version."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1`."
          }
        },
        "cloudProduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud product that owns the resource. Example: `compute`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a resource protected by a Cloud KMS key."
      }
    },
    "com.gcp.kmsinventory_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKey": {
      "type": "structure",
      "members": {
        "cryptoKeyBackend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Only applicable if CryptoKeyVersions have a ProtectionLevel of HSM_SINGLE_TENANT, with the resource name in the format `projects/*/locations/*/singleTenantHsmInstances/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future."
          }
        },
        "importOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Whether this key may contain imported versions only."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CryptoKey was created."
          }
        },
        "purpose": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyPurposeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The immutable purpose of this CryptoKey."
          }
        },
        "rotationPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted."
          }
        },
        "destroyScheduledDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 30 days."
          }
        },
        "primary": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersion",
          "traits": {
            "smithy.api#documentation": "Output only. A copy of the \"primary\" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted."
          }
        },
        "nextRotationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted."
          }
        },
        "versionTemplate": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplate",
          "traits": {
            "smithy.api#documentation": "A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template."
          }
        },
        "labels": {
          "target": "com.gcp.kmsinventory_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys)."
          }
        },
        "keyAccessJustificationsPolicy": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The policy used for Key Access Justifications Policy Enforcement. If this field is present and this key is enrolled in Key Access Justifications Policy Enforcement, the policy will be evaluated in encrypt, decrypt, and sign operations, and the operation will fail if rejected by the policy. The policy is defined by specifying zero or more allowed justification codes. https://cloud.google.com/assured-workloads/key-access-justifications/docs/justification-codes By default, this field is absent, and all justification codes are allowed. If the `key_access_justifications_policy.allowed_access_reasons` is empty (zero allowed justification code), all encrypt, decrypt, and sign operations will fail."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyPurposeEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_PURPOSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_PURPOSE_UNSPECIFIED"
          }
        },
        "ENCRYPT_DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPT_DECRYPT"
          }
        },
        "ASYMMETRIC_SIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYMMETRIC_SIGN"
          }
        },
        "ASYMMETRIC_DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYMMETRIC_DECRYPT"
          }
        },
        "RAW_ENCRYPT_DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW_ENCRYPT_DECRYPT"
          }
        },
        "MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC"
          }
        },
        "KEY_ENCAPSULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_ENCAPSULATION"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicy": {
      "type": "structure",
      "members": {
        "allowedAccessReasons": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicyAllowedAccessReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of allowed reasons for access to a CryptoKey. Note that empty allowed_access_reasons has a different meaning depending on where this message appears. If this is under KeyAccessJustificationsPolicyConfig, it means allow-all. If this is under CryptoKey, it means deny-all."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A KeyAccessJustificationsPolicy specifies zero or more allowed AccessReason values for encrypt, decrypt, and sign operations on a CryptoKey or KeyAccessJustificationsPolicyConfig (the default Key Access Justifications policy)."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicyAllowedAccessReasonsItemEnum": {
      "type": "enum",
      "members": {
        "REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_UNSPECIFIED"
          }
        },
        "CUSTOMER_INITIATED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_INITIATED_SUPPORT"
          }
        },
        "GOOGLE_INITIATED_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_INITIATED_SERVICE"
          }
        },
        "THIRD_PARTY_DATA_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY_DATA_REQUEST"
          }
        },
        "GOOGLE_INITIATED_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_INITIATED_REVIEW"
          }
        },
        "CUSTOMER_INITIATED_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_INITIATED_ACCESS"
          }
        },
        "GOOGLE_INITIATED_SYSTEM_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_INITIATED_SYSTEM_OPERATION"
          }
        },
        "REASON_NOT_EXPECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_NOT_EXPECTED"
          }
        },
        "MODIFIED_CUSTOMER_INITIATED_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED_CUSTOMER_INITIATED_ACCESS"
          }
        },
        "MODIFIED_GOOGLE_INITIATED_SYSTEM_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED_GOOGLE_INITIATED_SYSTEM_OPERATION"
          }
        },
        "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
          }
        },
        "CUSTOMER_AUTHORIZED_WORKFLOW_SERVICING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_AUTHORIZED_WORKFLOW_SERVICING"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicyAllowedAccessReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyAccessJustificationsPolicyAllowedAccessReasonsItemEnum"
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ListCryptoKeysResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token returned from the previous response if the next page is desired."
          }
        },
        "cryptoKeys": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyList",
          "traits": {
            "smithy.api#documentation": "The list of CryptoKeys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyDashboardService.ListCryptoKeys."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKey"
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersion": {
      "type": "structure",
      "members": {
        "importJob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported."
          }
        },
        "importFailureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CryptoKeyVersion was created."
          }
        },
        "reimportEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version."
          }
        },
        "destroyEventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED."
          }
        },
        "destroyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED."
          }
        },
        "externalDestructionFailureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The root cause of the most recent external destruction failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED."
          }
        },
        "importTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CryptoKeyVersion's key material was most recently imported."
          }
        },
        "state": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the CryptoKeyVersion."
          }
        },
        "attestation": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestation",
          "traits": {
            "smithy.api#documentation": "Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM."
          }
        },
        "generateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this CryptoKeyVersion's key material was generated."
          }
        },
        "algorithm": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports."
          }
        },
        "externalProtectionLevelOptions": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1ExternalProtectionLevelOptions",
          "traits": {
            "smithy.api#documentation": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
          }
        },
        "generationFailureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The root cause of the most recent generation failure. Only present if state is GENERATION_FAILED."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`."
          }
        },
        "protectionLevel": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionStateEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED"
          }
        },
        "PENDING_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_GENERATION"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DESTROYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROYED"
          }
        },
        "DESTROY_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROY_SCHEDULED"
          }
        },
        "PENDING_IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_IMPORT"
          }
        },
        "IMPORT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_FAILED"
          }
        },
        "GENERATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATION_FAILED"
          }
        },
        "PENDING_EXTERNAL_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_EXTERNAL_DESTRUCTION"
          }
        },
        "EXTERNAL_DESTRUCTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_DESTRUCTION_FAILED"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionAlgorithmEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "GOOGLE_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYMMETRIC_ENCRYPTION"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_GCM"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_GCM"
          }
        },
        "AES_128_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CBC"
          }
        },
        "AES_256_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CBC"
          }
        },
        "AES_128_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CTR"
          }
        },
        "AES_256_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CTR"
          }
        },
        "RSA_SIGN_PSS_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_2048_SHA256"
          }
        },
        "RSA_SIGN_PSS_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_3072_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA512"
          }
        },
        "RSA_SIGN_PKCS1_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_2048_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_3072_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA512"
          }
        },
        "RSA_SIGN_RAW_PKCS1_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_2048"
          }
        },
        "RSA_SIGN_RAW_PKCS1_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_3072"
          }
        },
        "RSA_SIGN_RAW_PKCS1_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_4096"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA512"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA1"
          }
        },
        "EC_SIGN_P256_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P256_SHA256"
          }
        },
        "EC_SIGN_P384_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P384_SHA384"
          }
        },
        "EC_SIGN_SECP256K1_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_SECP256K1_SHA256"
          }
        },
        "EC_SIGN_ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_ED25519"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA256"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA1"
          }
        },
        "HMAC_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA384"
          }
        },
        "HMAC_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA512"
          }
        },
        "HMAC_SHA224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA224"
          }
        },
        "EXTERNAL_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_SYMMETRIC_ENCRYPTION"
          }
        },
        "ML_KEM_768": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_768"
          }
        },
        "ML_KEM_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_1024"
          }
        },
        "KEM_XWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEM_XWING"
          }
        },
        "PQ_SIGN_ML_DSA_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44"
          }
        },
        "PQ_SIGN_ML_DSA_65": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65"
          }
        },
        "PQ_SIGN_ML_DSA_87": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87"
          }
        },
        "PQ_SIGN_SLH_DSA_SHA2_128S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_SLH_DSA_SHA2_128S"
          }
        },
        "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256"
          }
        },
        "PQ_SIGN_ML_DSA_44_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_65_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_87_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestationCertificateChains": {
      "type": "structure",
      "members": {
        "googleCardCerts": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Google card certificate chain corresponding to the attestation."
          }
        },
        "googlePartitionCerts": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Google partition certificate chain corresponding to the attestation."
          }
        },
        "caviumCerts": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Cavium certificate chain corresponding to the attestation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1Warning": {
      "type": "structure",
      "members": {
        "warningCode": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1WarningWarningCodeEnum",
          "traits": {
            "smithy.api#documentation": "The specific warning code for the displayed message."
          }
        },
        "displayMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The literal message providing context and details about the warnings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A warning message that indicates potential problems with the response data."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1WarningWarningCodeEnum": {
      "type": "enum",
      "members": {
        "WARNING_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_CODE_UNSPECIFIED"
          }
        },
        "INSUFFICIENT_PERMISSIONS_PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_PERMISSIONS_PARTIAL_DATA"
          }
        },
        "RESOURCE_LIMIT_EXCEEDED_PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_LIMIT_EXCEEDED_PARTIAL_DATA"
          }
        },
        "ORG_LESS_PROJECT_PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORG_LESS_PROJECT_PARTIAL_DATA"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestation": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestationFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format of the attestation data."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The attestation data provided by the HSM when the key operation was performed."
          }
        },
        "certChains": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestationCertificateChains",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate chains needed to validate the attestation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains an HSM-generated attestation about a key operation. For more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key)."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1KeyOperationAttestationFormatEnum": {
      "type": "enum",
      "members": {
        "ATTESTATION_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTESTATION_FORMAT_UNSPECIFIED"
          }
        },
        "CAVIUM_V1_COMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAVIUM_V1_COMPRESSED"
          }
        },
        "CAVIUM_V2_COMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAVIUM_V2_COMPRESSED"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1ExternalProtectionLevelOptions": {
      "type": "structure",
      "members": {
        "externalKeyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI for an external resource that this CryptoKeyVersion represents."
          }
        },
        "ekmConnectionKeyPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplate": {
      "type": "structure",
      "members": {
        "protectionLevel": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplateProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE."
          }
        },
        "algorithm": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplateAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplateProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE"
          }
        },
        "HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "EXTERNAL_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_VPC"
          }
        },
        "HSM_SINGLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HSM_SINGLE_TENANT"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsV1CryptoKeyVersionTemplateAlgorithmEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "GOOGLE_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYMMETRIC_ENCRYPTION"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_GCM"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_GCM"
          }
        },
        "AES_128_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CBC"
          }
        },
        "AES_256_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CBC"
          }
        },
        "AES_128_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CTR"
          }
        },
        "AES_256_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CTR"
          }
        },
        "RSA_SIGN_PSS_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_2048_SHA256"
          }
        },
        "RSA_SIGN_PSS_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_3072_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA512"
          }
        },
        "RSA_SIGN_PKCS1_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_2048_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_3072_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA512"
          }
        },
        "RSA_SIGN_RAW_PKCS1_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_2048"
          }
        },
        "RSA_SIGN_RAW_PKCS1_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_3072"
          }
        },
        "RSA_SIGN_RAW_PKCS1_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_4096"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA512"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA1"
          }
        },
        "EC_SIGN_P256_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P256_SHA256"
          }
        },
        "EC_SIGN_P384_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P384_SHA384"
          }
        },
        "EC_SIGN_SECP256K1_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_SECP256K1_SHA256"
          }
        },
        "EC_SIGN_ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_ED25519"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA256"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA1"
          }
        },
        "HMAC_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA384"
          }
        },
        "HMAC_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA512"
          }
        },
        "HMAC_SHA224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA224"
          }
        },
        "EXTERNAL_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_SYMMETRIC_ENCRYPTION"
          }
        },
        "ML_KEM_768": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_768"
          }
        },
        "ML_KEM_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_1024"
          }
        },
        "KEM_XWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEM_XWING"
          }
        },
        "PQ_SIGN_ML_DSA_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44"
          }
        },
        "PQ_SIGN_ML_DSA_65": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65"
          }
        },
        "PQ_SIGN_ML_DSA_87": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87"
          }
        },
        "PQ_SIGN_SLH_DSA_SHA2_128S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_SLH_DSA_SHA2_128S"
          }
        },
        "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256"
          }
        },
        "PQ_SIGN_ML_DSA_44_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_65_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_87_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "protectedResources": {
          "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResourceList",
          "traits": {
            "smithy.api#documentation": "Protected resources for this page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for KeyTrackingService.SearchProtectedResources."
      }
    },
    "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResource"
      }
    },
    "com.gcp.kmsinventory_v1#SearchProjectsProtectedResourcesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of resources to return. The service may return fewer than this value. If unspecified, at most 500 resources will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous KeyTrackingService.SearchProtectedResources call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to KeyTrackingService.SearchProtectedResources must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "resourceTypes": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of resource types that this request searches for. If empty, it will search all the [trackable resource types](https://cloud.google.com/kms/docs/view-key-usage#tracked-resource-types). Regular expressions are also supported. For example: * `compute.googleapis.com.*` snapshots resources whose type starts with `compute.googleapis.com`. * `.*Image` snapshots resources whose type ends with `Image`. * `.*Image.*` snapshots resources whose type contains `Image`. See [RE2](https://github.com/google/re2/wiki/Syntax) for all supported regular expression syntax. If the regular expression does not match any supported resource type, an INVALID_ARGUMENT error will be returned.",
            "smithy.api#httpQuery": "resourceTypes"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A scope can be an organization or a project. Resources protected by the crypto key in provided scope will be returned. The following values are allowed: * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/12345678\") * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\")",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cryptoKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the CryptoKey.",
            "smithy.api#httpQuery": "cryptoKey"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.kmsinventory_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.kmsinventory_v1#SearchProjectsProtectedResources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.kmsinventory_v1#SearchProjectsProtectedResourcesRequest"
      },
      "output": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.kmsinventory_v1#NotFound"
        },
        {
          "target": "com.gcp.kmsinventory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+scope}/protectedResources:search"
        },
        "smithy.api#documentation": "Returns metadata about the resources protected by the given Cloud KMS CryptoKey in the given Cloud organization/project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.kmsinventory_v1#ListProjectsCryptoKeysRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud project for which to retrieve key metadata, in the format `projects/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of keys to return. The service may return fewer than this value. If unspecified, at most 1000 keys will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pass this into a subsequent request in order to receive the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#ListProjectsCryptoKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.kmsinventory_v1#ListProjectsCryptoKeysRequest"
      },
      "output": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ListCryptoKeysResponse"
      },
      "errors": [
        {
          "target": "com.gcp.kmsinventory_v1#NotFound"
        },
        {
          "target": "com.gcp.kmsinventory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/cryptoKeys"
        },
        "smithy.api#documentation": "Returns cryptographic keys managed by Cloud KMS in a given Cloud project. Note that this data is sourced from snapshots, meaning it may not completely reflect the actual state of key metadata at call time.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.kmsinventory_v1#GetProtectedResourcesSummaryProjectsLocationsKeyRingsCryptoKeysFallbackScopeEnum": {
      "type": "enum",
      "members": {
        "FALLBACK_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALLBACK_SCOPE_UNSPECIFIED"
          }
        },
        "FALLBACK_SCOPE_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALLBACK_SCOPE_PROJECT"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GetProtectedResourcesSummaryProjectsLocationsKeyRingsCryptoKeysRequest": {
      "type": "structure",
      "members": {
        "fallbackScope": {
          "target": "com.gcp.kmsinventory_v1#GetProtectedResourcesSummaryProjectsLocationsKeyRingsCryptoKeysFallbackScopeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The scope to use if the kms organization service account is not configured.",
            "smithy.api#httpQuery": "fallbackScope"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the CryptoKey.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#GetProtectedResourcesSummaryProjectsLocationsKeyRingsCryptoKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.kmsinventory_v1#GetProtectedResourcesSummaryProjectsLocationsKeyRingsCryptoKeysRequest"
      },
      "output": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1ProtectedResourcesSummary"
      },
      "errors": [
        {
          "target": "com.gcp.kmsinventory_v1#NotFound"
        },
        {
          "target": "com.gcp.kmsinventory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/protectedResourcesSummary"
        },
        "smithy.api#documentation": "Returns aggregate information about the resources protected by the given Cloud KMS CryptoKey. By default, summary of resources within the same Cloud organization as the key will be returned, which requires the KMS organization service account to be configured(refer https://docs.cloud.google.com/kms/docs/view-key-usage#required-roles). If the KMS organization service account is not configured or key's project is not part of an organization, set fallback_scope to `FALLBACK_SCOPE_PROJECT` to retrieve a summary of protected resources within the key's project."
      }
    },
    "com.gcp.kmsinventory_v1#SearchOrganizationsProtectedResourcesRequest": {
      "type": "structure",
      "members": {
        "cryptoKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the CryptoKey.",
            "smithy.api#httpQuery": "cryptoKey"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A scope can be an organization or a project. Resources protected by the crypto key in provided scope will be returned. The following values are allowed: * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/12345678\") * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\")",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceTypes": {
          "target": "com.gcp.kmsinventory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of resource types that this request searches for. If empty, it will search all the [trackable resource types](https://cloud.google.com/kms/docs/view-key-usage#tracked-resource-types). Regular expressions are also supported. For example: * `compute.googleapis.com.*` snapshots resources whose type starts with `compute.googleapis.com`. * `.*Image` snapshots resources whose type ends with `Image`. * `.*Image.*` snapshots resources whose type contains `Image`. See [RE2](https://github.com/google/re2/wiki/Syntax) for all supported regular expression syntax. If the regular expression does not match any supported resource type, an INVALID_ARGUMENT error will be returned.",
            "smithy.api#httpQuery": "resourceTypes"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous KeyTrackingService.SearchProtectedResources call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to KeyTrackingService.SearchProtectedResources must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of resources to return. The service may return fewer than this value. If unspecified, at most 500 resources will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.kmsinventory_v1#SearchOrganizationsProtectedResources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.kmsinventory_v1#SearchOrganizationsProtectedResourcesRequest"
      },
      "output": {
        "target": "com.gcp.kmsinventory_v1#GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.kmsinventory_v1#NotFound"
        },
        {
          "target": "com.gcp.kmsinventory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+scope}/protectedResources:search"
        },
        "smithy.api#documentation": "Returns metadata about the resources protected by the given Cloud KMS CryptoKey in the given Cloud organization/project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
