{
  "smithy": "2.0",
  "metadata": {
    "service": "language",
    "version": "v2",
    "title": "Cloud Natural Language API",
    "baseUrl": "https://language.googleapis.com/"
  },
  "shapes": {
    "com.gcp.language_v2#CpuMetric": {
      "type": "structure",
      "members": {
        "cpuType": {
          "target": "com.gcp.language_v2#CpuMetricCpuTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of cpu, e.g. N2."
          }
        },
        "trackingLabels": {
          "target": "com.gcp.language_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
          }
        },
        "coreNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of CPU cores."
          }
        },
        "machineSpec": {
          "target": "com.gcp.language_v2#CpuMetricMachineSpecEnum",
          "traits": {
            "smithy.api#documentation": "Required. Machine spec, e.g. N1_STANDARD_4."
          }
        },
        "coreSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Total seconds of core usage, e.g. 4."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metric for billing reports."
      }
    },
    "com.gcp.language_v2#CpuMetricCpuTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_CPU_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_CPU_TYPE"
          }
        },
        "A2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2"
          }
        },
        "A3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3"
          }
        },
        "A4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A4"
          }
        },
        "A4X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A4X"
          }
        },
        "C2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2"
          }
        },
        "C2D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "E2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2"
          }
        },
        "G2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2"
          }
        },
        "G4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G4"
          }
        },
        "C3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3"
          }
        },
        "C4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4"
          }
        },
        "C4A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A"
          }
        },
        "C4D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D"
          }
        },
        "N4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4"
          }
        },
        "N4A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A"
          }
        },
        "C3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D"
          }
        },
        "M2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M2"
          }
        },
        "M1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M1"
          }
        },
        "N1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1"
          }
        },
        "N2_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_CUSTOM"
          }
        },
        "N2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2"
          }
        },
        "N2D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D"
          }
        }
      }
    },
    "com.gcp.language_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.language_v2#CpuMetricMachineSpecEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_MACHINE_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_MACHINE_SPEC"
          }
        },
        "N1_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_2"
          }
        },
        "N1_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_4"
          }
        },
        "N1_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_8"
          }
        },
        "N1_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_16"
          }
        },
        "N1_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_32"
          }
        },
        "N1_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_64"
          }
        },
        "N1_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_STANDARD_96"
          }
        },
        "N1_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_2"
          }
        },
        "N1_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_4"
          }
        },
        "N1_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_8"
          }
        },
        "N1_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_16"
          }
        },
        "N1_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_32"
          }
        },
        "N1_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_64"
          }
        },
        "N1_HIGHMEM_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHMEM_96"
          }
        },
        "N1_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_2"
          }
        },
        "N1_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_4"
          }
        },
        "N1_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_8"
          }
        },
        "N1_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_16"
          }
        },
        "N1_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_32"
          }
        },
        "N1_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_64"
          }
        },
        "N1_HIGHCPU_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_96"
          }
        },
        "A2_HIGHGPU_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_HIGHGPU_1G"
          }
        },
        "A2_HIGHGPU_2G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_HIGHGPU_2G"
          }
        },
        "A2_HIGHGPU_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_HIGHGPU_4G"
          }
        },
        "A2_HIGHGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_HIGHGPU_8G"
          }
        },
        "A2_MEGAGPU_16G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_MEGAGPU_16G"
          }
        },
        "A2_ULTRAGPU_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_ULTRAGPU_1G"
          }
        },
        "A2_ULTRAGPU_2G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_ULTRAGPU_2G"
          }
        },
        "A2_ULTRAGPU_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_ULTRAGPU_4G"
          }
        },
        "A2_ULTRAGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2_ULTRAGPU_8G"
          }
        },
        "A3_HIGHGPU_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_HIGHGPU_1G"
          }
        },
        "A3_HIGHGPU_2G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_HIGHGPU_2G"
          }
        },
        "A3_HIGHGPU_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_HIGHGPU_4G"
          }
        },
        "A3_HIGHGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_HIGHGPU_8G"
          }
        },
        "A3_MEGAGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_MEGAGPU_8G"
          }
        },
        "A3_ULTRAGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_ULTRAGPU_8G"
          }
        },
        "A3_EDGEGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A3_EDGEGPU_8G"
          }
        },
        "A4_HIGHGPU_8G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A4_HIGHGPU_8G"
          }
        },
        "A4X_HIGHGPU_4G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A4X_HIGHGPU_4G"
          }
        },
        "E2_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_STANDARD_2"
          }
        },
        "E2_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_STANDARD_4"
          }
        },
        "E2_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_STANDARD_8"
          }
        },
        "E2_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_STANDARD_16"
          }
        },
        "E2_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_STANDARD_32"
          }
        },
        "E2_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHMEM_2"
          }
        },
        "E2_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHMEM_4"
          }
        },
        "E2_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHMEM_8"
          }
        },
        "E2_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHMEM_16"
          }
        },
        "E2_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_2"
          }
        },
        "E2_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_4"
          }
        },
        "E2_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_8"
          }
        },
        "E2_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_16"
          }
        },
        "E2_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_32"
          }
        },
        "N2_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_2"
          }
        },
        "N2_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_4"
          }
        },
        "N2_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_8"
          }
        },
        "N2_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_16"
          }
        },
        "N2_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_32"
          }
        },
        "N2_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_48"
          }
        },
        "N2_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_64"
          }
        },
        "N2_STANDARD_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_80"
          }
        },
        "N2_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_96"
          }
        },
        "N2_STANDARD_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_STANDARD_128"
          }
        },
        "N2_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_2"
          }
        },
        "N2_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_4"
          }
        },
        "N2_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_8"
          }
        },
        "N2_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_16"
          }
        },
        "N2_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_32"
          }
        },
        "N2_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_48"
          }
        },
        "N2_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_64"
          }
        },
        "N2_HIGHMEM_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_80"
          }
        },
        "N2_HIGHMEM_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_96"
          }
        },
        "N2_HIGHMEM_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHMEM_128"
          }
        },
        "N2_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_2"
          }
        },
        "N2_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_4"
          }
        },
        "N2_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_8"
          }
        },
        "N2_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_16"
          }
        },
        "N2_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_32"
          }
        },
        "N2_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_48"
          }
        },
        "N2_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_64"
          }
        },
        "N2_HIGHCPU_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_80"
          }
        },
        "N2_HIGHCPU_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2_HIGHCPU_96"
          }
        },
        "N2D_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_2"
          }
        },
        "N2D_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_4"
          }
        },
        "N2D_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_8"
          }
        },
        "N2D_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_16"
          }
        },
        "N2D_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_32"
          }
        },
        "N2D_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_48"
          }
        },
        "N2D_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_64"
          }
        },
        "N2D_STANDARD_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_80"
          }
        },
        "N2D_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_96"
          }
        },
        "N2D_STANDARD_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_128"
          }
        },
        "N2D_STANDARD_224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_STANDARD_224"
          }
        },
        "N2D_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_2"
          }
        },
        "N2D_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_4"
          }
        },
        "N2D_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_8"
          }
        },
        "N2D_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_16"
          }
        },
        "N2D_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_32"
          }
        },
        "N2D_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_48"
          }
        },
        "N2D_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_64"
          }
        },
        "N2D_HIGHMEM_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_80"
          }
        },
        "N2D_HIGHMEM_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHMEM_96"
          }
        },
        "N2D_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_2"
          }
        },
        "N2D_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_4"
          }
        },
        "N2D_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_8"
          }
        },
        "N2D_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_16"
          }
        },
        "N2D_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_32"
          }
        },
        "N2D_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_48"
          }
        },
        "N2D_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_64"
          }
        },
        "N2D_HIGHCPU_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_80"
          }
        },
        "N2D_HIGHCPU_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_96"
          }
        },
        "N2D_HIGHCPU_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_128"
          }
        },
        "N2D_HIGHCPU_224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N2D_HIGHCPU_224"
          }
        },
        "C2_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2_STANDARD_4"
          }
        },
        "C2_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2_STANDARD_8"
          }
        },
        "C2_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2_STANDARD_16"
          }
        },
        "C2_STANDARD_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2_STANDARD_30"
          }
        },
        "C2_STANDARD_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2_STANDARD_60"
          }
        },
        "C2D_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_2"
          }
        },
        "C2D_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_4"
          }
        },
        "C2D_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_8"
          }
        },
        "C2D_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_16"
          }
        },
        "C2D_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_32"
          }
        },
        "C2D_STANDARD_56": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_56"
          }
        },
        "C2D_STANDARD_112": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_STANDARD_112"
          }
        },
        "C2D_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_2"
          }
        },
        "C2D_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_4"
          }
        },
        "C2D_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_8"
          }
        },
        "C2D_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_16"
          }
        },
        "C2D_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_32"
          }
        },
        "C2D_HIGHCPU_56": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_56"
          }
        },
        "C2D_HIGHCPU_112": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHCPU_112"
          }
        },
        "C2D_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_2"
          }
        },
        "C2D_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_4"
          }
        },
        "C2D_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_8"
          }
        },
        "C2D_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_16"
          }
        },
        "C2D_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_32"
          }
        },
        "C2D_HIGHMEM_56": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_56"
          }
        },
        "C2D_HIGHMEM_112": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C2D_HIGHMEM_112"
          }
        },
        "G2_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_4"
          }
        },
        "G2_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_8"
          }
        },
        "G2_STANDARD_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_12"
          }
        },
        "G2_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_16"
          }
        },
        "G2_STANDARD_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_24"
          }
        },
        "G2_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_32"
          }
        },
        "G2_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_48"
          }
        },
        "G2_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2_STANDARD_96"
          }
        },
        "G4_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G4_STANDARD_48"
          }
        },
        "C3_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_4"
          }
        },
        "C3_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_8"
          }
        },
        "C3_STANDARD_22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_22"
          }
        },
        "C3_STANDARD_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_44"
          }
        },
        "C3_STANDARD_88": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_88"
          }
        },
        "C3_STANDARD_176": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_STANDARD_176"
          }
        },
        "C3_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_4"
          }
        },
        "C3_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_8"
          }
        },
        "C3_HIGHCPU_22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_22"
          }
        },
        "C3_HIGHCPU_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_44"
          }
        },
        "C3_HIGHCPU_88": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_88"
          }
        },
        "C3_HIGHCPU_176": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHCPU_176"
          }
        },
        "C3_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_4"
          }
        },
        "C3_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_8"
          }
        },
        "C3_HIGHMEM_22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_22"
          }
        },
        "C3_HIGHMEM_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_44"
          }
        },
        "C3_HIGHMEM_88": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_88"
          }
        },
        "C3_HIGHMEM_176": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3_HIGHMEM_176"
          }
        },
        "C4_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_8"
          }
        },
        "C4_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_16"
          }
        },
        "C4_STANDARD_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_24"
          }
        },
        "C4_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_32"
          }
        },
        "C4_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_48"
          }
        },
        "C4_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_96"
          }
        },
        "C4_STANDARD_144": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_144"
          }
        },
        "C4_STANDARD_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_192"
          }
        },
        "C4_STANDARD_288": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_STANDARD_288"
          }
        },
        "C4_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_8"
          }
        },
        "C4_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_16"
          }
        },
        "C4_HIGHCPU_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_24"
          }
        },
        "C4_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_32"
          }
        },
        "C4_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_48"
          }
        },
        "C4_HIGHCPU_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_96"
          }
        },
        "C4_HIGHCPU_144": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_144"
          }
        },
        "C4_HIGHCPU_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_192"
          }
        },
        "C4_HIGHCPU_288": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHCPU_288"
          }
        },
        "C4_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_8"
          }
        },
        "C4_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_16"
          }
        },
        "C4_HIGHMEM_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_24"
          }
        },
        "C4_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_32"
          }
        },
        "C4_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_48"
          }
        },
        "C4_HIGHMEM_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_96"
          }
        },
        "C4_HIGHMEM_144": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_144"
          }
        },
        "C4_HIGHMEM_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_192"
          }
        },
        "C4_HIGHMEM_288": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4_HIGHMEM_288"
          }
        },
        "C4A_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_8"
          }
        },
        "C4A_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_16"
          }
        },
        "C4A_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_32"
          }
        },
        "C4A_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_48"
          }
        },
        "C4A_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_64"
          }
        },
        "C4A_STANDARD_72": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_STANDARD_72"
          }
        },
        "C4A_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_8"
          }
        },
        "C4A_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_16"
          }
        },
        "C4A_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_32"
          }
        },
        "C4A_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_48"
          }
        },
        "C4A_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_64"
          }
        },
        "C4A_HIGHCPU_72": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHCPU_72"
          }
        },
        "C4A_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_8"
          }
        },
        "C4A_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_16"
          }
        },
        "C4A_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_32"
          }
        },
        "C4A_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_48"
          }
        },
        "C4A_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_64"
          }
        },
        "C4A_HIGHMEM_72": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4A_HIGHMEM_72"
          }
        },
        "C4D_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_2"
          }
        },
        "C4D_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_4"
          }
        },
        "C4D_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_8"
          }
        },
        "C4D_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_16"
          }
        },
        "C4D_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_32"
          }
        },
        "C4D_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_48"
          }
        },
        "C4D_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_64"
          }
        },
        "C4D_STANDARD_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_96"
          }
        },
        "C4D_STANDARD_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_192"
          }
        },
        "C4D_STANDARD_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_STANDARD_384"
          }
        },
        "C4D_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_2"
          }
        },
        "C4D_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_4"
          }
        },
        "C4D_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_8"
          }
        },
        "C4D_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_16"
          }
        },
        "C4D_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_32"
          }
        },
        "C4D_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_48"
          }
        },
        "C4D_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_64"
          }
        },
        "C4D_HIGHCPU_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_96"
          }
        },
        "C4D_HIGHCPU_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_192"
          }
        },
        "C4D_HIGHCPU_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHCPU_384"
          }
        },
        "C4D_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_2"
          }
        },
        "C4D_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_4"
          }
        },
        "C4D_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_8"
          }
        },
        "C4D_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_16"
          }
        },
        "C4D_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_32"
          }
        },
        "C4D_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_48"
          }
        },
        "C4D_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_64"
          }
        },
        "C4D_HIGHMEM_96": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_96"
          }
        },
        "C4D_HIGHMEM_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_192"
          }
        },
        "C4D_HIGHMEM_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C4D_HIGHMEM_384"
          }
        },
        "N4_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_2"
          }
        },
        "N4_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_4"
          }
        },
        "N4_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_8"
          }
        },
        "N4_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_16"
          }
        },
        "N4_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_32"
          }
        },
        "N4_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_48"
          }
        },
        "N4_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_64"
          }
        },
        "N4_STANDARD_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_STANDARD_80"
          }
        },
        "N4_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_2"
          }
        },
        "N4_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_4"
          }
        },
        "N4_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_8"
          }
        },
        "N4_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_16"
          }
        },
        "N4_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_32"
          }
        },
        "N4_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_48"
          }
        },
        "N4_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_64"
          }
        },
        "N4_HIGHCPU_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHCPU_80"
          }
        },
        "N4_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_2"
          }
        },
        "N4_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_4"
          }
        },
        "N4_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_8"
          }
        },
        "N4_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_16"
          }
        },
        "N4_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_32"
          }
        },
        "N4_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_48"
          }
        },
        "N4_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_64"
          }
        },
        "N4_HIGHMEM_80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4_HIGHMEM_80"
          }
        },
        "N4A_STANDARD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_2"
          }
        },
        "N4A_STANDARD_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_4"
          }
        },
        "N4A_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_8"
          }
        },
        "N4A_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_16"
          }
        },
        "N4A_STANDARD_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_32"
          }
        },
        "N4A_STANDARD_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_48"
          }
        },
        "N4A_STANDARD_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_STANDARD_64"
          }
        },
        "N4A_HIGHCPU_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_2"
          }
        },
        "N4A_HIGHCPU_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_4"
          }
        },
        "N4A_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_8"
          }
        },
        "N4A_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_16"
          }
        },
        "N4A_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_32"
          }
        },
        "N4A_HIGHCPU_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_48"
          }
        },
        "N4A_HIGHCPU_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHCPU_64"
          }
        },
        "N4A_HIGHMEM_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_2"
          }
        },
        "N4A_HIGHMEM_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_4"
          }
        },
        "N4A_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_8"
          }
        },
        "N4A_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_16"
          }
        },
        "N4A_HIGHMEM_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_32"
          }
        },
        "N4A_HIGHMEM_48": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_48"
          }
        },
        "N4A_HIGHMEM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N4A_HIGHMEM_64"
          }
        },
        "C3D_STANDARD_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_8"
          }
        },
        "C3D_STANDARD_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_16"
          }
        },
        "C3D_STANDARD_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_30"
          }
        },
        "C3D_STANDARD_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_60"
          }
        },
        "C3D_STANDARD_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_90"
          }
        },
        "C3D_STANDARD_180": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_180"
          }
        },
        "C3D_STANDARD_360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_STANDARD_360"
          }
        },
        "C3D_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_8"
          }
        },
        "C3D_HIGHCPU_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_16"
          }
        },
        "C3D_HIGHCPU_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_30"
          }
        },
        "C3D_HIGHCPU_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_60"
          }
        },
        "C3D_HIGHCPU_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_90"
          }
        },
        "C3D_HIGHCPU_180": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_180"
          }
        },
        "C3D_HIGHCPU_360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHCPU_360"
          }
        },
        "C3D_HIGHMEM_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_8"
          }
        },
        "C3D_HIGHMEM_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_16"
          }
        },
        "C3D_HIGHMEM_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_30"
          }
        },
        "C3D_HIGHMEM_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_60"
          }
        },
        "C3D_HIGHMEM_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_90"
          }
        },
        "C3D_HIGHMEM_180": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_180"
          }
        },
        "C3D_HIGHMEM_360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C3D_HIGHMEM_360"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSResponseExplanationMetadataOutputMetadata": {
      "type": "structure",
      "members": {
        "outputTensorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the output tensor. Only needed in train response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the prediction output to be explained."
      }
    },
    "com.gcp.language_v2#XPSTrainResponse": {
      "type": "structure",
      "members": {
        "deployedModelSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimated model size in bytes once deployed."
          }
        },
        "textTrainResp": {
          "target": "com.gcp.language_v2#XPSTextTrainResponse",
          "traits": {
            "smithy.api#documentation": "Will only be needed for uCAIP from Beta."
          }
        },
        "imageObjectDetectionTrainResp": {
          "target": "com.gcp.language_v2#XPSImageObjectDetectionModelSpec"
        },
        "textToSpeechTrainResp": {
          "target": "com.gcp.language_v2#XPSTextToSpeechTrainResponse"
        },
        "imageClassificationTrainResp": {
          "target": "com.gcp.language_v2#XPSImageClassificationTrainResponse"
        },
        "evaluatedExampleSet": {
          "target": "com.gcp.language_v2#XPSExampleSet",
          "traits": {
            "smithy.api#documentation": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted."
          }
        },
        "videoActionRecognitionTrainResp": {
          "target": "com.gcp.language_v2#XPSVideoActionRecognitionTrainResponse"
        },
        "modelToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model."
          }
        },
        "explanationConfigs": {
          "target": "com.gcp.language_v2#XPSResponseExplanationSpecList",
          "traits": {
            "smithy.api#documentation": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request."
          }
        },
        "speechTrainResp": {
          "target": "com.gcp.language_v2#XPSSpeechModelSpec"
        },
        "translationTrainResp": {
          "target": "com.gcp.language_v2#XPSTranslationTrainResponse"
        },
        "evaluationMetricsSet": {
          "target": "com.gcp.language_v2#XPSEvaluationMetricsSet",
          "traits": {
            "smithy.api#documentation": "The trained model evaluation metrics. This can be optionally returned."
          }
        },
        "tablesTrainResp": {
          "target": "com.gcp.language_v2#XPSTablesTrainResponse"
        },
        "errorAnalysisConfigs": {
          "target": "com.gcp.language_v2#XPSVisionErrorAnalysisConfigList",
          "traits": {
            "smithy.api#documentation": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample)."
          }
        },
        "videoObjectTrackingTrainResp": {
          "target": "com.gcp.language_v2#XPSVideoObjectTrackingTrainResponse"
        },
        "videoClassificationTrainResp": {
          "target": "com.gcp.language_v2#XPSVideoClassificationTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "target": "com.gcp.language_v2#XPSImageSegmentationTrainResponse"
        }
      }
    },
    "com.gcp.language_v2#XPSResponseExplanationSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSResponseExplanationSpec"
      }
    },
    "com.gcp.language_v2#XPSVisionErrorAnalysisConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSVisionErrorAnalysisConfig"
      }
    },
    "com.gcp.language_v2#XPSColorMapIntColor": {
      "type": "structure",
      "members": {
        "red": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The value should be in range of [0, 255]."
          }
        },
        "green": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The value should be in range of [0, 255]."
          }
        },
        "blue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The value should be in range of [0, 255]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RGB color and each channel is represented by an integer."
      }
    },
    "com.gcp.language_v2#TpuMetric": {
      "type": "structure",
      "members": {
        "tpuType": {
          "target": "com.gcp.language_v2#TpuMetricTpuTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD."
          }
        },
        "tpuSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Seconds of TPU usage, e.g. 3600."
          }
        }
      }
    },
    "com.gcp.language_v2#TpuMetricTpuTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_TPU_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_TPU_TYPE"
          }
        },
        "TPU_V2_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2_POD"
          }
        },
        "TPU_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2"
          }
        },
        "TPU_V3_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3_POD"
          }
        },
        "TPU_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3"
          }
        },
        "TPU_V5_LITEPOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V5_LITEPOD"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSExportModelOutputConfig": {
      "type": "structure",
      "members": {
        "tfSavedModelFormat": {
          "target": "com.gcp.language_v2#XPSTfSavedModelFormat"
        },
        "dockerFormat": {
          "target": "com.gcp.language_v2#XPSDockerFormat"
        },
        "exportFirebaseAuxiliaryInfo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
          }
        },
        "outputGcrUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER."
          }
        },
        "coreMlFormat": {
          "target": "com.gcp.language_v2#XPSCoreMlFormat"
        },
        "tfJsFormat": {
          "target": "com.gcp.language_v2#XPSTfJsFormat"
        },
        "edgeTpuTfLiteFormat": {
          "target": "com.gcp.language_v2#XPSEdgeTpuTfLiteFormat"
        },
        "outputGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory"
          }
        },
        "tfLiteFormat": {
          "target": "com.gcp.language_v2#XPSTfLiteFormat"
        }
      }
    },
    "com.gcp.language_v2#XPSImageModelArtifactSpec": {
      "type": "structure",
      "members": {
        "labelGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'."
          }
        },
        "checkpointArtifact": {
          "target": "com.gcp.language_v2#XPSModelArtifactItem",
          "traits": {
            "smithy.api#documentation": "The Tensorflow checkpoint files. e.g. Used for resumable training."
          }
        },
        "exportArtifact": {
          "target": "com.gcp.language_v2#XPSModelArtifactItemList",
          "traits": {
            "smithy.api#documentation": "The model binary files in different formats for model export."
          }
        },
        "servingArtifact": {
          "target": "com.gcp.language_v2#XPSModelArtifactItem",
          "traits": {
            "smithy.api#documentation": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API."
          }
        },
        "tfJsBinaryGcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated."
          }
        },
        "tfLiteMetadataGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only."
      }
    },
    "com.gcp.language_v2#XPSModelArtifactItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSModelArtifactItem"
      }
    },
    "com.gcp.language_v2#XPSImageExportModelSpec": {
      "type": "structure",
      "members": {
        "exportModelOutputConfig": {
          "target": "com.gcp.language_v2#XPSExportModelOutputConfigList",
          "traits": {
            "smithy.api#documentation": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
      }
    },
    "com.gcp.language_v2#XPSExportModelOutputConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSExportModelOutputConfig"
      }
    },
    "com.gcp.language_v2#XPSConfusionMatrixRow": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "com.gcp.language_v2#IntegerList",
          "traits": {
            "smithy.api#documentation": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field."
          }
        },
        "count": {
          "target": "com.gcp.language_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A row in the confusion matrix."
      }
    },
    "com.gcp.language_v2#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.language_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.language_v2#XPSStringStats": {
      "type": "structure",
      "members": {
        "topUnigramStats": {
          "target": "com.gcp.language_v2#XPSStringStatsUnigramStatsList",
          "traits": {
            "smithy.api#documentation": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count."
          }
        },
        "commonStats": {
          "target": "com.gcp.language_v2#XPSCommonStats"
        }
      },
      "traits": {
        "smithy.api#documentation": "The data statistics of a series of STRING values."
      }
    },
    "com.gcp.language_v2#XPSStringStatsUnigramStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSStringStatsUnigramStats"
      }
    },
    "com.gcp.language_v2#XPSRegressionMetricsEntry": {
      "type": "structure",
      "members": {
        "trueValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The actual target value for a row in the dataset."
          }
        },
        "predictedValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The observed value for a row in the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pair of actual & observed values for the model being evaluated."
      }
    },
    "com.gcp.language_v2#AnnotateTextRequest": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.gcp.language_v2#Document",
          "traits": {
            "smithy.api#documentation": "Required. Input document."
          }
        },
        "encodingType": {
          "target": "com.gcp.language_v2#AnnotateTextRequestEncodingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The encoding type used by the API to calculate offsets."
          }
        },
        "features": {
          "target": "com.gcp.language_v2#AnnotateTextRequestFeatures",
          "traits": {
            "smithy.api#documentation": "Required. The enabled features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the text annotation API, which can perform multiple analysis types in one call."
      }
    },
    "com.gcp.language_v2#AnnotateTextRequestEncodingTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "UTF8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF8"
          }
        },
        "UTF16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF16"
          }
        },
        "UTF32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF32"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSCategoryStatsSingleCategoryStats": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of occurrences of this value in the series."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CATEGORY value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The statistics of a single CATEGORY value."
      }
    },
    "com.gcp.language_v2#XPSBatchPredictResponse": {
      "type": "structure",
      "members": {
        "exampleSet": {
          "target": "com.gcp.language_v2#XPSExampleSet",
          "traits": {
            "smithy.api#documentation": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend."
          }
        }
      }
    },
    "com.gcp.language_v2#XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "structure",
      "members": {
        "wer": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Word error rate (standard error metric used for speech recognition)."
          }
        },
        "numUtterances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of utterances used in the wer computation."
          }
        },
        "numDeletions": {
          "target": "smithy.api#Integer"
        },
        "numWords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of words over which the word error rate was computed."
          }
        },
        "sentenceAccuracy": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Below fields are used for debugging purposes"
          }
        },
        "numInsertions": {
          "target": "smithy.api#Integer"
        },
        "numSubstitutions": {
          "target": "smithy.api#Integer"
        },
        "isEnhancedModel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true then it means we have an enhanced version of the biasing models."
          }
        },
        "biasingModelType": {
          "target": "com.gcp.language_v2#XPSSpeechEvaluationMetricsSubModelEvaluationMetricBiasingModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the biasing model."
          }
        }
      }
    },
    "com.gcp.language_v2#XPSSpeechEvaluationMetricsSubModelEvaluationMetricBiasingModelTypeEnum": {
      "type": "enum",
      "members": {
        "BIASING_MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIASING_MODEL_TYPE_UNSPECIFIED"
          }
        },
        "COMMAND_AND_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SEARCH"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSFloat64StatsHistogramBucket": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of data values that are in the bucket, i.e. are between min and max values."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum value of the bucket, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bucket of a histogram."
      }
    },
    "com.gcp.language_v2#InfraUsage": {
      "type": "structure",
      "members": {
        "gpuMetrics": {
          "target": "com.gcp.language_v2#GpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated gpu metrics since requested start_time."
          }
        },
        "ramMetrics": {
          "target": "com.gcp.language_v2#RamMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated ram metrics since requested start_time."
          }
        },
        "diskMetrics": {
          "target": "com.gcp.language_v2#DiskMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated persistent disk metrics since requested start_time."
          }
        },
        "cpuMetrics": {
          "target": "com.gcp.language_v2#CpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated core metrics since requested start_time."
          }
        },
        "tpuMetrics": {
          "target": "com.gcp.language_v2#TpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated tpu metrics since requested start_time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LINT: LEGACY_NAMES Infra Usage of billing metrics."
      }
    },
    "com.gcp.language_v2#GpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#GpuMetric"
      }
    },
    "com.gcp.language_v2#RamMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#RamMetric"
      }
    },
    "com.gcp.language_v2#DiskMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#DiskMetric"
      }
    },
    "com.gcp.language_v2#CpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#CpuMetric"
      }
    },
    "com.gcp.language_v2#TpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#TpuMetric"
      }
    },
    "com.gcp.language_v2#Sentiment": {
      "type": "structure",
      "members": {
        "magnitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative)."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the feeling associated with the entire text or entities in the text."
      }
    },
    "com.gcp.language_v2#XPSVisionErrorAnalysisConfig": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of query examples in error analysis."
          }
        },
        "queryType": {
          "target": "com.gcp.language_v2#XPSVisionErrorAnalysisConfigQueryTypeEnum",
          "traits": {
            "smithy.api#documentation": "The query type used in retrieval. The enum values are frozen in the foreseeable future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The vision model error analysis configuration. Next tag: 3"
      }
    },
    "com.gcp.language_v2#XPSVisionErrorAnalysisConfigQueryTypeEnum": {
      "type": "enum",
      "members": {
        "QUERY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_TYPE_UNSPECIFIED"
          }
        },
        "QUERY_TYPE_ALL_SIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_TYPE_ALL_SIMILAR"
          }
        },
        "QUERY_TYPE_SAME_CLASS_SIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_TYPE_SAME_CLASS_SIMILAR"
          }
        },
        "QUERY_TYPE_SAME_CLASS_DISSIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSTextSentimentEvaluationMetrics": {
      "type": "structure",
      "members": {
        "meanSquaredError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
          }
        },
        "linearKappa": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
          }
        },
        "f1Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The harmonic mean of recall and precision."
          }
        },
        "confusionMatrix": {
          "target": "com.gcp.language_v2#XPSConfusionMatrix",
          "traits": {
            "smithy.api#documentation": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
          }
        },
        "precision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Precision."
          }
        },
        "recall": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Recall."
          }
        },
        "meanAbsoluteError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
          }
        },
        "quadraticKappa": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model evaluation metrics for text sentiment problems."
      }
    },
    "com.gcp.language_v2#XPSTextComponentModel": {
      "type": "structure",
      "members": {
        "versionNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest."
          }
        },
        "servoModelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest."
          }
        },
        "tfRuntimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
          }
        },
        "servingArtifact": {
          "target": "com.gcp.language_v2#XPSModelArtifactItem",
          "traits": {
            "smithy.api#documentation": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API."
          }
        },
        "submodelType": {
          "target": "com.gcp.language_v2#XPSTextComponentModelSubmodelTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of trained NL submodel"
          }
        },
        "partition": {
          "target": "com.gcp.language_v2#XPSTextComponentModelPartitionEnum",
          "traits": {
            "smithy.api#documentation": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest."
          }
        },
        "submodelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the trained NL submodel."
          }
        },
        "batchPredictionModelGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage resource path to hold batch prediction model."
          }
        },
        "onlinePredictionModelGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage resource path to hold online prediction model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Component model."
      }
    },
    "com.gcp.language_v2#XPSTextComponentModelSubmodelTypeEnum": {
      "type": "enum",
      "members": {
        "TEXT_MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_UNSPECIFIED"
          }
        },
        "TEXT_MODEL_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_DEFAULT"
          }
        },
        "TEXT_MODEL_TYPE_META_ARCHITECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_META_ARCHITECT"
          }
        },
        "TEXT_MODEL_TYPE_ATC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_ATC"
          }
        },
        "TEXT_MODEL_TYPE_CLARA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_CLARA2"
          }
        },
        "TEXT_MODEL_TYPE_CHATBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_CHATBASE"
          }
        },
        "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING"
          }
        },
        "TEXT_MODEL_TYPE_TEXT_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_TEXT_EXTRACTION"
          }
        },
        "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION"
          }
        },
        "TEXT_MODEL_TYPE_COMPOSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_COMPOSITE"
          }
        },
        "TEXT_MODEL_TYPE_ALL_MODELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_ALL_MODELS"
          }
        },
        "TEXT_MODEL_TYPE_BERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_BERT"
          }
        },
        "TEXT_MODEL_TYPE_ENC_PALM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_MODEL_TYPE_ENC_PALM"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSTextComponentModelPartitionEnum": {
      "type": "enum",
      "members": {
        "PARTITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_TYPE_UNSPECIFIED"
          }
        },
        "PARTITION_ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_ZERO"
          }
        },
        "PARTITION_REDUCED_HOMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_REDUCED_HOMING"
          }
        },
        "PARTITION_JELLYFISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_JELLYFISH"
          }
        },
        "PARTITION_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_CPU"
          }
        },
        "PARTITION_CUSTOM_STORAGE_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITION_CUSTOM_STORAGE_CPU"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSTablesModelStructure": {
      "type": "structure",
      "members": {
        "modelParameters": {
          "target": "com.gcp.language_v2#XPSTablesModelStructureModelParametersList",
          "traits": {
            "smithy.api#documentation": "A list of models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of Tables model structure."
      }
    },
    "com.gcp.language_v2#XPSTablesModelStructureModelParametersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSTablesModelStructureModelParameters"
      }
    },
    "com.gcp.language_v2#XPSTranslationTrainResponse": {
      "type": "structure",
      "members": {
        "modelType": {
          "target": "com.gcp.language_v2#XPSTranslationTrainResponseModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Train response for translation."
      }
    },
    "com.gcp.language_v2#XPSTranslationTrainResponseModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY"
          }
        },
        "CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSSpeechPreprocessStats": {
      "type": "structure",
      "members": {
        "testSentencesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of sentences in the test data set."
          }
        },
        "numLogsExamples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of samples found in the previously recorded logs data."
          }
        },
        "testExamplesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of examples labelled as TEST by Speech xps server."
          }
        },
        "trainWordsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of words in the training data set."
          }
        },
        "numMachineTranscribedExamples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows marked as MACHINE_TRANSCRIBED"
          }
        },
        "dataErrors": {
          "target": "com.gcp.language_v2#XPSDataErrorsList",
          "traits": {
            "smithy.api#documentation": "Different types of data errors and the counts associated with them."
          }
        },
        "numHumanLabeledExamples": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows marked HUMAN_LABELLED"
          }
        },
        "trainSentencesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of sentences in the training data set."
          }
        },
        "trainExamplesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of examples labeled as TRAIN by Speech xps server."
          }
        },
        "testWordsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of words in the test data set."
          }
        }
      }
    },
    "com.gcp.language_v2#XPSDataErrorsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSDataErrors"
      }
    },
    "com.gcp.language_v2#XPSTablesConfidenceMetricsEntry": {
      "type": "structure",
      "members": {
        "trueNegativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "True negative count."
          }
        },
        "truePositiveCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "True positive count."
          }
        },
        "truePositiveRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "TPR = #true positives / (#true positives + #false negatvies)"
          }
        },
        "falseNegativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "False negative count."
          }
        },
        "recall": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Recall = #true positives / (#true positives + #false negatives)."
          }
        },
        "precision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Precision = #true positives / (#true positives + #false positives)."
          }
        },
        "falsePositiveCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "False positive count."
          }
        },
        "confidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence threshold value used to compute the metrics."
          }
        },
        "f1Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)"
          }
        },
        "falsePositiveRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "FPR = #false positives / (#false positives + #true negatives)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for a single confidence threshold."
      }
    },
    "com.gcp.language_v2#XPSColumnSpecForecastingMetadata": {
      "type": "structure",
      "members": {
        "columnType": {
          "target": "com.gcp.language_v2#XPSColumnSpecForecastingMetadataColumnTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the column for FORECASTING model training purposes."
          }
        }
      }
    },
    "com.gcp.language_v2#XPSColumnSpecForecastingMetadataColumnTypeEnum": {
      "type": "enum",
      "members": {
        "COLUMN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_TYPE_UNSPECIFIED"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY"
          }
        },
        "KEY_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_METADATA"
          }
        },
        "TIME_SERIES_AVAILABLE_PAST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_AVAILABLE_PAST_ONLY"
          }
        },
        "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          }
        }
      }
    },
    "com.gcp.language_v2#XPSVideoActionMetricsEntry": {
      "type": "structure",
      "members": {
        "precisionWindowLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
          }
        },
        "meanAveragePrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean average precision."
          }
        },
        "confidenceMetricsEntries": {
          "target": "com.gcp.language_v2#XPSVideoActionMetricsEntryConfidenceMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Evaluation metrics entry given a specific precision_window_length."
      }
    },
    "com.gcp.language_v2#XPSVideoActionMetricsEntryConfidenceMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v2#XPSVideoActionMetricsEntryConfidenceMetricsEntry"
      }
    },
    "com.gcp.language_v2#XPSFloat64Stats": {
      "type": "structure",
      "members": {
        "commonStats": {
          "target": "com.gcp.language_v2#XPSCommonStats"
        },
        "quantiles": {
          "target": "com.gcp.language_v2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values."
          }
        },
        "mean": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean of the series."
          }
        },
        "standardDeviation": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The standard deviation of the series."
          }
        },
        "histogramBuckets": {
          "target": "com.gcp.language_v2#XPSFloat64StatsHistogramBucketList",
          "traits": {
[...]
