{
  "smithy": "2.0",
  "metadata": {
    "service": "localservices",
    "version": "v1",
    "title": "Local Services API",
    "baseUrl": "https://localservices.googleapis.com/"
  },
  "shapes": {
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "type": "structure",
      "members": {
        "accountReports": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AccountReportList",
          "traits": {
            "smithy.api#documentation": "List of account reports which maps 1:1 to a particular linked GLS account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AccountReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AccountReport"
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "structure",
      "members": {
        "phoneLeadResponsiveness": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GLS account."
          }
        },
        "currentPeriodConnectedPhoneCalls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of connected phone calls (duration over 30s) in current specified period."
          }
        },
        "businessName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business name of the account."
          }
        },
        "totalReview": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of reviews the account has up to current date."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency code of the account."
          }
        },
        "currentPeriodTotalCost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost of the account in current specified period in the account's specified currency."
          }
        },
        "averageFiveStarRating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average review rating score from 1-5 stars."
          }
        },
        "averageWeeklyBudget": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average weekly budget in the currency code of the account."
          }
        },
        "previousPeriodTotalCost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost of the account in previous specified period in the account's specified currency."
          }
        },
        "currentPeriodPhoneCalls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of phone calls in current specified period, including both connected and unconnected calls."
          }
        },
        "currentPeriodChargedLeads": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of charged leads the account received in current specified period."
          }
        },
        "previousPeriodPhoneCalls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of phone calls in previous specified period, including both connected and unconnected calls."
          }
        },
        "aggregatorInfo": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "traits": {
            "smithy.api#documentation": "Aggregator specific information related to the account."
          }
        },
        "previousPeriodConnectedPhoneCalls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of connected phone calls (duration over 30s) in previous specified period."
          }
        },
        "impressionsLastTwoDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of impressions that customers have had in the past 2 days."
          }
        },
        "previousPeriodChargedLeads": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of charged leads the account received in previous specified period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18"
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "type": "structure",
      "members": {
        "aggregatorProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conatiner for aggregator specific information if lead is for an aggregator GLS account."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "structure",
      "members": {
        "timezone": {
          "target": "com.gcp.localservices_v1#GoogleTypeTimeZone",
          "traits": {
            "smithy.api#documentation": "Timezone of the particular provider associated to a lead."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies account that received the lead."
          }
        },
        "googleAdsLeadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of a Detailed Lead Report."
          }
        },
        "businessName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business name associated to the account."
          }
        },
        "leadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
          }
        },
        "leadCreationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the lead was created."
          }
        },
        "disputeStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dispute status related to the lead."
          }
        },
        "geo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the associated account's home city."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency code."
          }
        },
        "messageLead": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "traits": {
            "smithy.api#documentation": "More information associated to only message leads."
          }
        },
        "leadPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Price of the lead (available only after it has been charged)."
          }
        },
        "phoneLead": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "traits": {
            "smithy.api#documentation": "More information associated to only phone leads."
          }
        },
        "aggregatorInfo": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "traits": {
            "smithy.api#documentation": "Aggregator specific information related to the lead."
          }
        },
        "bookingLead": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "traits": {
            "smithy.api#documentation": "More information associated to only booking leads."
          }
        },
        "leadType": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportLeadTypeEnum",
          "traits": {
            "smithy.api#documentation": "Lead type."
          }
        },
        "leadCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lead category (e.g. hvac, plumber)"
          }
        },
        "chargeStatus": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportChargeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether the lead has been charged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportLeadTypeEnum": {
      "type": "enum",
      "members": {
        "LEAD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEAD_TYPE_UNSPECIFIED"
          }
        },
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "BOOKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKING"
          }
        }
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportChargeStatusEnum": {
      "type": "enum",
      "members": {
        "CHARGE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGE_STATUS_UNSPECIFIED"
          }
        },
        "CHARGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGED"
          }
        },
        "NOT_CHARGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CHARGED"
          }
        }
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "structure",
      "members": {
        "jobType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job type of the specified lead."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code of the customer who created the lead."
          }
        },
        "consumerPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumer phone number associated with the message lead."
          }
        },
        "customerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the customer who created the lead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for message lead specific information."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "structure",
      "members": {
        "chargedCallTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the phone call which resulted in a charged phone lead."
          }
        },
        "chargedConnectedCallDurationSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the charged phone call in seconds."
          }
        },
        "consumerPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumer phone number associated with the phone lead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for phone lead specific information."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "type": "structure",
      "members": {
        "consumerPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumer phone number associated with the booking lead."
          }
        },
        "consumerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumer email associated with the booking lead."
          }
        },
        "customerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the customer who created the lead."
          }
        },
        "jobType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job type of the specified lead."
          }
        },
        "bookingAppointmentTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when service is provided by advertiser."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for booking lead specific information."
      }
    },
    "com.gcp.localservices_v1#GoogleTypeTimeZone": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
          }
        },
        "detailedLeadReports": {
          "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportList",
          "traits": {
            "smithy.api#documentation": "List of detailed lead reports uniquely identified by external lead id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
      }
    },
    "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
      }
    },
    "com.gcp.localservices_v1#SearchDetailedLeadReportsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
            "smithy.api#httpQuery": "query"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "startDate.month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "smithy.api#httpQuery": "startDate.month"
          }
        },
        "endDate.month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "smithy.api#httpQuery": "endDate.month"
          }
        },
        "startDate.year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "smithy.api#httpQuery": "startDate.year"
          }
        },
        "endDate.year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "smithy.api#httpQuery": "endDate.year"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "startDate.day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "smithy.api#httpQuery": "startDate.day"
          }
        },
        "endDate.day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "smithy.api#httpQuery": "endDate.day"
          }
        }
      }
    },
    "com.gcp.localservices_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.localservices_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.localservices_v1#SearchDetailedLeadReports": {
      "type": "operation",
      "input": {
        "target": "com.gcp.localservices_v1#SearchDetailedLeadReportsRequest"
      },
      "output": {
        "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.localservices_v1#NotFound"
        },
        {
          "target": "com.gcp.localservices_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/detailedLeadReports:search"
        },
        "smithy.api#documentation": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.localservices_v1#SearchAccountReportsRequest": {
      "type": "structure",
      "members": {
        "startDate.month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "smithy.api#httpQuery": "startDate.month"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
            "smithy.api#httpQuery": "query"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "startDate.year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "smithy.api#httpQuery": "startDate.year"
          }
        },
        "endDate.month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "smithy.api#httpQuery": "endDate.month"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "endDate.year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "smithy.api#httpQuery": "endDate.year"
          }
        },
        "endDate.day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "smithy.api#httpQuery": "endDate.day"
          }
        },
        "startDate.day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "smithy.api#httpQuery": "startDate.day"
          }
        }
      }
    },
    "com.gcp.localservices_v1#SearchAccountReports": {
      "type": "operation",
      "input": {
        "target": "com.gcp.localservices_v1#SearchAccountReportsRequest"
      },
      "output": {
        "target": "com.gcp.localservices_v1#GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.localservices_v1#NotFound"
        },
        {
          "target": "com.gcp.localservices_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/accountReports:search"
        },
        "smithy.api#documentation": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
