{
  "smithy": "2.0",
  "metadata": {
    "service": "logging",
    "version": "v2",
    "title": "Cloud Logging API",
    "baseUrl": "https://logging.googleapis.com/"
  },
  "shapes": {
    "com.gcp.logging_v2#DeleteLinkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the link to delete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters to DeleteLink."
      }
    },
    "com.gcp.logging_v2#LogErrorGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id is a unique identifier for a particular error group; it is the last part of the error group resource name: /project/[PROJECT_ID]/errors/[ERROR_GROUP_ID]. Example: COShysOX0r_51QE.This field can be used to search for log entries belonging to a specific error group in Logs Explorer (e.g., error_groups.id = \"ID\") or Observability Analytics.The id is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see Google Cloud Privacy Notice (https://cloud.google.com/terms/cloud-privacy-notice)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata that associates the LogEntry to Error Reporting error groups."
      }
    },
    "com.gcp.logging_v2#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.logging_v2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
          }
        },
        "metadata": {
          "target": "com.gcp.logging_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.logging_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.logging_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.logging_v2#FilterExpression": {
      "type": "structure",
      "members": {
        "isNegation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the NOT flag should be added to the comparator."
          }
        },
        "fieldSourceValue": {
          "target": "com.gcp.logging_v2#FieldSource",
          "traits": {
            "smithy.api#documentation": "The field. This will be the field that is set as the Right Hand Side of the filter."
          }
        },
        "literalValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Value will be used to hold user defined constants set as the Right Hand Side of the filter."
          }
        },
        "fieldSource": {
          "target": "com.gcp.logging_v2#FieldSource",
          "traits": {
            "smithy.api#documentation": "Can be one of the FieldSource types: field name, alias ref, variable ref, or a literal value."
          }
        },
        "comparator": {
          "target": "com.gcp.logging_v2#FilterExpressionComparatorEnum",
          "traits": {
            "smithy.api#documentation": "The comparison type to use for the filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is a leaf of the FilterPredicate. Ex: { field: json_payload.message.error_code, filter_value: {numeric_value: 400}, comparator: EQUAL_TO} The field will be schema field that is selected using the . annotation to display the drill down value. The value will be the user inputted text that the filter is comparing against."
      }
    },
    "com.gcp.logging_v2#FilterExpressionComparatorEnum": {
      "type": "enum",
      "members": {
        "COMPARATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPARATOR_UNSPECIFIED"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "MATCHES_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHES_REGEXP"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "GREATER_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_EQUALS"
          }
        },
        "LESS_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_EQUALS"
          }
        },
        "IS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NULL"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "LIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKE"
          }
        }
      }
    },
    "com.gcp.logging_v2#LogBucket": {
      "type": "structure",
      "members": {
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the bucket is locked.The retention period on a locked bucket cannot be changed. Locked buckets may only be deleted if they are empty."
          }
        },
        "indexConfigs": {
          "target": "com.gcp.logging_v2#IndexConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of indexed fields and related configuration data."
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Logs will be retained by default for this amount of time, after which they will automatically be deleted. The minimum retention period is 1 day. If this value is set to zero at bucket creation time, the default time of 30 days will be used."
          }
        },
        "cmekSettings": {
          "target": "com.gcp.logging_v2#CmekSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The CMEK settings of the log bucket. If present, new log entries written to this log bucket are encrypted using the CMEK key provided in this configuration. If a log bucket has CMEK settings, the CMEK settings cannot be disabled later by updating the log bucket. Changing the KMS key is allowed."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of the bucket. This is not set for any of the default buckets."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Describes this bucket."
          }
        },
        "analyticsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether log analytics is enabled for this bucket.Once enabled, log analytics features cannot be disabled."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.logging_v2#LogBucketLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The bucket lifecycle state."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the bucket.For example:projects/my-project/locations/global/buckets/my-bucketFor a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support)For the location of global it is unspecified where log entries are actually stored.After a bucket has been created, the location cannot be changed."
          }
        },
        "restrictedFields": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Log entry field paths that are denied access in this bucket.The following fields and their children are eligible: textPayload, jsonPayload, protoPayload, httpRequest, labels, sourceLocation.Restricting a repeated field will restrict all values. Adding a parent will block all child fields. (e.g. foo.bar will block foo.bar.baz)"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a repository in which log entries are stored."
      }
    },
    "com.gcp.logging_v2#IndexConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#IndexConfig"
      }
    },
    "com.gcp.logging_v2#LogBucketLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.logging_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.logging_v2#ListRecentQueriesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
          }
        },
        "unreachable": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The unreachable resources. Each resource can be either 1) a saved query if a specific query is unreachable or 2) a location if a specific location is unreachable. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/recentQueries/[QUERY_ID]\" \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example:\"projects/my-project/locations/global/recentQueries/12345678\" \"projects/my-project/locations/global\"If there are unreachable resources, the response will first return pages that contain recent queries, and then return pages that contain the unreachable resources."
          }
        },
        "recentQueries": {
          "target": "com.gcp.logging_v2#RecentQueryList",
          "traits": {
            "smithy.api#documentation": "A list of recent queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from ListRecentQueries."
      }
    },
    "com.gcp.logging_v2#RecentQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#RecentQuery"
      }
    },
    "com.gcp.logging_v2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for TestIamPermissions method."
      }
    },
    "com.gcp.logging_v2#ListLogsResponse": {
      "type": "structure",
      "members": {
        "logNames": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of log names. For example, \"projects/my-project/logs/syslog\" or \"organizations/123/logs/cloudresourcemanager.googleapis.com%2Factivity\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result returned from ListLogs."
      }
    },
    "com.gcp.logging_v2#LabelDescriptor": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "com.gcp.logging_v2#LabelDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data that can be assigned to the label."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label key."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description for the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a label."
      }
    },
    "com.gcp.logging_v2#LabelDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT64"
          }
        }
      }
    },
    "com.gcp.logging_v2#LogEntrySourceLocation": {
      "type": "structure",
      "members": {
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python)."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about the source code location that produced the log entry."
      }
    },
    "com.gcp.logging_v2#ListMonitoredResourceDescriptorsResponse": {
      "type": "structure",
      "members": {
        "resourceDescriptors": {
          "target": "com.gcp.logging_v2#MonitoredResourceDescriptorList",
          "traits": {
            "smithy.api#documentation": "A list of resource descriptors."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result returned from ListMonitoredResourceDescriptors."
      }
    },
    "com.gcp.logging_v2#MonitoredResourceDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#MonitoredResourceDescriptor"
      }
    },
    "com.gcp.logging_v2#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.logging_v2#LogEntry": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.logging_v2#LogEntryOperation",
          "traits": {
            "smithy.api#documentation": "Optional. Information about an operation associated with the log entry, if applicable."
          }
        },
        "severity": {
          "target": "com.gcp.logging_v2#LogEntrySeverityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The severity of the log entry. The default value is LogSeverity.DEFAULT."
          }
        },
        "httpRequest": {
          "target": "com.gcp.logging_v2#HttpRequest",
          "traits": {
            "smithy.api#documentation": "Optional. Information about the HTTP request associated with this log entry, if applicable."
          }
        },
        "metadata": {
          "target": "com.gcp.logging_v2#MonitoredResourceMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. This field is not used by Logging. Any value written to it is cleared."
          }
        },
        "resource": {
          "target": "com.gcp.logging_v2#MonitoredResource",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource that produced this log entry.Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error."
          }
        },
        "textPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a Unicode string (UTF-8)."
          }
        },
        "otel": {
          "target": "com.gcp.logging_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The structured OpenTelemetry protocol payload. Contains the OpenTelemetry Resource, Instrumentation Scope, and Entities attributes for this log as they are defined in the OTLP specification, and any other fields that do not have a direct analog in the LogEntry. See https://opentelemetry.io/docs/specs/otel/logs/data-model/"
          }
        },
        "labels": {
          "target": "com.gcp.logging_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of key, value pairs that provides additional information about the log entry. The labels can be user-defined or system-defined.User-defined labels are arbitrary key, value pairs that you can use to classify logs.System-defined labels are defined by cloud services for platform logs. They have two components - a service namespace component and the attribute name. For example: compute.googleapis.com/resource_name.Cloud Logging truncates label keys that exceed 512 B and label values that exceed 64 KB upon their associated log entry being written. The truncation is indicated by an ellipsis at the end of the character string."
          }
        },
        "split": {
          "target": "com.gcp.logging_v2#LogSplit",
          "traits": {
            "smithy.api#documentation": "Optional. Information indicating this LogEntry is part of a sequence of multiple log entries split from a single LogEntry."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the Cloud Trace (https://docs.cloud.google.com/trace/docs) span associated with the current operation in which the log is being written.A Span (https://docs.cloud.google.com/trace/docs/reference/v2/rest/v2/projects.traces/batchWrite#Span) represents a single operation within a trace. Whereas a trace may involve multiple different microservices running on multiple different machines, a span generally corresponds to a single logical operation being performed in a single instance of a microservice on one specific machine. Spans are the nodes within the tree that is a trace.Applications that are instrumented for tracing (https://docs.cloud.google.com/trace/docs/setup) will generally assign a new, unique span ID on each incoming request. It is also common to create and record additional spans corresponding to internal processing elements as well as issuing requests to dependencies.The span ID is expected to be a 16-character, hexadecimal encoding of an 8-byte array and should not be zero. It should be unique within the trace and should, ideally, be generated in a manner that is uniformly random.Example values: 000000000000004a 7a2190356c3fc94b 0000f00300090021 d39223e101960076"
          }
        },
        "apphubDestination": {
          "target": "com.gcp.logging_v2#AppHub",
          "traits": {
            "smithy.api#documentation": "Output only. AppHub application metadata associated with the destination application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a destination."
          }
        },
        "logName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the log to which this log entry belongs: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" A project number may be used in place of PROJECT_ID. The project number is translated to its corresponding PROJECT_ID internally and the log_name field will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".[LOG_ID] must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters, forward-slash, underscore, hyphen, and period.For backward compatibility, if log_name begins with a forward-slash, such as /projects/..., then the log entry is processed as usual, but the forward-slash is removed. Listing the log entry will not show the leading slash and filtering for a log name with a leading slash will never return any results."
          }
        },
        "apphub": {
          "target": "com.gcp.logging_v2#AppHub",
          "traits": {
            "smithy.api#documentation": "Output only. AppHub application metadata associated with this LogEntry. May be empty if there is no associated AppHub application or multiple associated applications (such as for VPC flow logs)"
          }
        },
        "jsonPayload": {
          "target": "com.gcp.logging_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a structure that is expressed as a JSON object."
          }
        },
        "receiveTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the log entry was received by Logging."
          }
        },
        "traceSampled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The sampling decision of the span associated with the log entry at the time the log entry was created. This field corresponds to the sampled flag in the W3C trace-context specification (https://www.w3.org/TR/trace-context/#sampled-flag). A non-sampled trace value is still useful as a request correlation identifier. The default is False."
          }
        },
        "trace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The trace ID being written to Cloud Trace (https://docs.cloud.google.com/trace/docs) in association with this log entry. For example, if your trace data is stored in the Cloud project \"my-trace-project\" and if the service that is creating the log entry receives a trace header that includes the trace ID \"12345\", then the service should use \"12345\".The REST resource name of the trace is also supported, but using this format is not recommended. An example trace REST resource name is similar to \"projects/my-trace-project/traces/12345\".The trace field provides the link between logs and traces. By using this field, you can navigate from a log entry to a trace."
          }
        },
        "errorGroups": {
          "target": "com.gcp.logging_v2#LogErrorGroupList",
          "traits": {
            "smithy.api#documentation": "Output only. The Error Reporting (https://cloud.google.com/error-reporting) error groups associated with this LogEntry. Error Reporting sets the values for this field during error group creation.This field is populated only when log entries are stored in Cloud Logging storage (Logs Explorer and Observability Analytics). It is not available for use in log sink filters, log-based metrics, or log-based alerts, and it is excluded from log exports (Cloud Storage, BigQuery, and Pub/Sub).For more information, see View error details( https://cloud.google.com/error-reporting/docs/viewing-errors#view_error_details)"
          }
        },
        "insertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insert_id to be duplicates which are removed in a single query result. However, there are no guarantees of de-duplication in the export of logs.If the insert_id is omitted when writing a log entry, the Logging API assigns its own unique identifier in this field.In queries, the insert_id is also used to order log entries that have the same log_name and timestamp values."
          }
        },
        "apphubSource": {
          "target": "com.gcp.logging_v2#AppHub",
          "traits": {
            "smithy.api#documentation": "Output only. AppHub application metadata associated with the source application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a source."
          }
        },
        "protoPayload": {
          "target": "com.gcp.logging_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a protocol buffer. Some Google Cloud Platform services use this field for their log entry payloads.The following protocol buffer types are supported; user-defined types are not supported:\"type.googleapis.com/google.cloud.audit.AuditLog\" \"type.googleapis.com/google.appengine.logging.v1.RequestLog\""
          }
        },
        "sourceLocation": {
          "target": "com.gcp.logging_v2#LogEntrySourceLocation",
          "traits": {
            "smithy.api#documentation": "Optional. Source code location information associated with the log entry, if any."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time the event described by the log entry occurred. This time is used to compute the log entry's age and to enforce the logs retention period. If this field is omitted in a new log entry, then Logging assigns it the current time. Timestamps have nanosecond accuracy, but trailing zeros in the fractional seconds might be omitted when the timestamp is displayed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual entry in a log."
      }
    },
    "com.gcp.logging_v2#LogEntrySeverityEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTICE"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        }
      }
    },
    "com.gcp.logging_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.logging_v2#LogErrorGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#LogErrorGroup"
      }
    },
    "com.gcp.logging_v2#LogEntryOperation": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the first log entry in the operation."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation."
          }
        },
        "last": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the last log entry in the operation."
          }
        },
        "producer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary producer identifier. The combination of id and producer must be globally unique. Examples for producer: \"MyDivision.MyBigCompany.com\", \"github.com/MyProject/MyApplication\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about a potentially long-running operation with which a log entry is associated."
      }
    },
    "com.gcp.logging_v2#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.logging_v2#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.logging_v2#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#Operation"
      }
    },
    "com.gcp.logging_v2#WriteLogEntriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Result returned from WriteLogEntries."
      }
    },
    "com.gcp.logging_v2#ListViewsResponse": {
      "type": "structure",
      "members": {
        "views": {
          "target": "com.gcp.logging_v2#LogViewList",
          "traits": {
            "smithy.api#documentation": "A list of views."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from ListViews."
      }
    },
    "com.gcp.logging_v2#LogViewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#LogView"
      }
    },
    "com.gcp.logging_v2#LogExclusion": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of the exclusion.This field may not be present for older exclusions."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of the exclusion.This field may not be present for older exclusions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A client-assigned identifier, such as \"load-balancer-exclusion\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. First character has to be alphanumeric."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to True, then this exclusion is disabled and it does not exclude any log entries. You can update an exclusion to change the value of this field."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An advanced logs filter (https://docs.cloud.google.com/logging/docs/view/building-queries#queries-by-expression) that matches the log entries to be excluded. By using the sample function (https://docs.cloud.google.com/logging/docs/view/logging-query-language#sample), you can exclude less than 100% of the matching log entries.For example, the following query matches 99% of low-severity log entries from Google Cloud Storage buckets:resource.type=gcs_bucket severity<ERROR sample(insertId, 0.99)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of this exclusion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a set of log entries that are filtered out by a sink. If your Google Cloud resource receives a large volume of log entries, you can use exclusions to reduce your chargeable logs. Note that exclusions on organization-level and folder-level sinks don't apply to child resources. Note also that you cannot modify the _Required sink or exclude logs from it."
      }
    },
    "com.gcp.logging_v2#ProjectedField": {
      "type": "structure",
      "members": {
        "truncationGranularity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The truncation granularity when grouping by a time/date field. This will be used to truncate the field to the granularity specified. This can be either a date or a time granularity found at https://cloud.google.com/bigquery/docs/reference/standard-sql/timestamp_functions#timestamp_trunc_granularity_date and https://cloud.google.com/bigquery/docs/reference/standard-sql/timestamp_functions#timestamp_trunc_granularity_time respectively."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias name for the field. Valid alias examples are: - single word alias: TestAlias - numbers in an alias: Alias123 - multi word alias should be enclosed in quotes: \"Test Alias\" Invalid alias examples are: - alias containing keywords: WHERE, SELECT, FROM, etc. - alias starting with a number: 1stAlias"
          }
        },
        "sqlAggregationFunction": {
          "target": "com.gcp.logging_v2#FunctionApplication",
          "traits": {
            "smithy.api#documentation": "The function to apply to the field."
          }
        },
        "regexExtraction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The re2 extraction for the field. This will be used to extract the value from the field using REGEXP_EXTRACT. More information on re2 can be found here: https://github.com/google/re2/wiki/Syntax. Meta characters like +?()| will need to be escaped. Examples: - \".(autoscaler.*)$\" will be converted to REGEXP_EXTRACT(JSON_VALUE(field),\"request(.*(autoscaler.*)$)\")in SQL. - \"\\(test_value\\)$\" will be converted to REGEXP_EXTRACT(JSON_VALUE(field),\"request(\\(test_value\\)$)\") in SQL."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The field name. This will be the field that is selected using the dot notation to display the drill down value."
          }
        },
        "virtualField": {
          "target": "com.gcp.logging_v2#VirtualField",
          "traits": {
            "smithy.api#documentation": "Optional. A virtual field definition, used in place of field to define a field that is computed from other fields rather than being directly present in the data schema.For example, a virtual field can be defined using COALESCE to select the first non-null value from a list of fields.If virtual_field is set, field must not be set."
          }
        },
        "operation": {
          "target": "com.gcp.logging_v2#ProjectedFieldOperationEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the role of this field (direct selection, grouping, or aggregation)."
          }
        },
        "cast": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cast for the field. This can any SQL cast type. Examples: - STRING - CHAR - DATE - TIMESTAMP - DATETIME - INT - FLOAT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a field selected in the query, analogous to an item in a SQL SELECT clause. It specifies the source field and optionally applies transformations like aggregation, casting, regex extraction, or assigns an alias. Use ProjectedField when you need more than just the raw source field name (for which you might use FieldSource directly in QueryBuilderConfig's field_sources list if no transformations or specific operation type are needed).A ProjectedField can represent either a field present in the data schema (specified via the field property) or a virtual field that is computed from other fields (specified via the virtual_field property)."
      }
    },
    "com.gcp.logging_v2#ProjectedFieldOperationEnum": {
      "type": "enum",
      "members": {
        "FIELD_OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_OPERATION_UNSPECIFIED"
          }
        },
        "NO_SETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SETTING"
          }
        },
        "GROUP_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_BY"
          }
        },
        "AGGREGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE"
          }
        }
      }
    },
    "com.gcp.logging_v2#VirtualField": {
      "type": "structure",
      "members": {
        "underlyingFieldSources": {
          "target": "com.gcp.logging_v2#FieldSourceList",
          "traits": {
            "smithy.api#documentation": "The field sources that will be used to create the virtual field, based on the semantics of the virtual field type.The field sources must follow these rules, based on the virtual field type: - For VIRTUAL_FIELD_TYPE_UNSPECIFIED, this field must be empty. - For COALESCE, this field must be non-empty and include a minimum of two field sources. The underlying field sources must be actual projected fields that represent actual schema fields and that must not be transformed and aggregated in any way, except for casting. The type of all the underlying field sources must be equivalent so that picking one of them would result in the same value type."
          }
        },
        "virtualFieldType": {
          "target": "com.gcp.logging_v2#VirtualFieldVirtualFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the virtual field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A virtual field is a field that is not physically present in the underlying data schema, but is created through specific operations within the query builder model based on other fields in the schema."
      }
    },
    "com.gcp.logging_v2#FieldSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#FieldSource"
      }
    },
    "com.gcp.logging_v2#VirtualFieldVirtualFieldTypeEnum": {
      "type": "enum",
      "members": {
        "VIRTUAL_FIELD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL_FIELD_TYPE_UNSPECIFIED"
          }
        },
        "COALESCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COALESCE"
          }
        }
      }
    },
    "com.gcp.logging_v2#LinkMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of an operation."
          }
        },
        "createLinkRequest": {
          "target": "com.gcp.logging_v2#CreateLinkRequest",
          "traits": {
            "smithy.api#documentation": "CreateLink RPC request."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of an operation."
          }
        },
        "deleteLinkRequest": {
          "target": "com.gcp.logging_v2#DeleteLinkRequest",
          "traits": {
            "smithy.api#documentation": "DeleteLink RPC request."
          }
        },
        "state": {
          "target": "com.gcp.logging_v2#LinkMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of an operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for long running Link operations."
      }
    },
    "com.gcp.logging_v2#LinkMetadataStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "OPERATION_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SCHEDULED"
          }
        },
        "OPERATION_STATE_WAITING_FOR_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_WAITING_FOR_PERMISSIONS"
          }
        },
        "OPERATION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_RUNNING"
          }
        },
        "OPERATION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SUCCEEDED"
          }
        },
        "OPERATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_FAILED"
          }
        },
        "OPERATION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_CANCELLED"
          }
        },
        "OPERATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.logging_v2#BigQueryOptions": {
      "type": "structure",
      "members": {
        "usePartitionedTables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use BigQuery's partition tables (https://docs.cloud.google.com/bigquery/docs/partitioned-tables). By default, Cloud Logging creates dated tables based on the log entries' timestamps, e.g. syslog_20170523. With partitioned tables the date suffix is no longer present and special query syntax (https://docs.cloud.google.com/bigquery/docs/querying-partitioned-tables) has to be used instead. In both cases, tables are sharded based on UTC timezone."
          }
        },
        "usesTimestampColumnPartitioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if new timestamp column based partitioning is in use, false if legacy ingress-time partitioning is in use.All new sinks will have this field set true and will use timestamp column based partitioning. If use_partitioned_tables is false, this value has no meaning and will be false. Legacy sinks using partitioned tables will have this field set to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options that change functionality of a sink exporting data to BigQuery."
      }
    },
    "com.gcp.logging_v2#SavedQuery": {
      "type": "structure",
      "members": {
        "opsAnalyticsQuery": {
          "target": "com.gcp.logging_v2#OpsAnalyticsQuery",
          "traits": {
            "smithy.api#documentation": "Analytics query that can be executed in Log Analytics."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human readable description of the saved query."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user specified title for the SavedQuery."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the saved query was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the saved query was last updated."
          }
        },
        "visibility": {
          "target": "com.gcp.logging_v2#SavedQueryVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The visibility status of this query, which determines its ownership."
          }
        },
        "loggingQuery": {
          "target": "com.gcp.logging_v2#LoggingQuery",
          "traits": {
            "smithy.api#documentation": "Logging query that can be executed in Logs Explorer or via Logging API."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the saved query.In the format: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/savedQueries/[QUERY_ID]\" For a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support#bucket-regions)After the saved query is created, the location cannot be changed.If the user doesn't provide a QUERY_ID, the system will generate an alphanumeric ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a query that has been saved by a user."
      }
    },
    "com.gcp.logging_v2#SavedQueryVisibilityEnum": {
      "type": "enum",
      "members": {
        "VISIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISIBILITY_UNSPECIFIED"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        }
      }
    },
    "com.gcp.logging_v2#LogSplit": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A globally unique identifier for all log entries in a sequence of split log entries. All log entries with the same |LogSplit.uid| are assumed to be part of the same sequence of split log entries."
          }
        },
        "totalSplits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of log entries that the original LogEntry was split into."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of this LogEntry in the sequence of split log entries. Log entries are given |index| values 0, 1, ..., n-1 for a sequence of n log entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information used to correlate multiple log entries. Used when a single LogEntry would exceed the Google Cloud Logging size limit and is split across multiple log entries."
      }
    },
    "com.gcp.logging_v2#LocationMetadata": {
      "type": "structure",
      "members": {
        "logAnalyticsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not Log Analytics features are supported in the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Logging specific location metadata."
      }
    },
    "com.gcp.logging_v2#WriteLogEntriesRequest": {
      "type": "structure",
      "members": {
        "partialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether a batch's valid entries should be written even if some other entry failed due to a permanent error such as INVALID_ARGUMENT or PERMISSION_DENIED. If any entry failed, then the response status is the response status of one of the failed entries. The response will include error details in WriteLogEntriesPartialErrors.log_entry_errors keyed by the entries' zero-based index in the entries. Failed requests for which no entries are written will not include per-entry errors."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the request should expect normal response, but the entries won't be persisted nor exported. Useful for checking whether the logging API endpoints are working properly before sending valuable data."
          }
        },
        "entries": {
          "target": "com.gcp.logging_v2#LogEntryList",
          "traits": {
            "smithy.api#documentation": "Required. The log entries to send to Logging. The order of log entries in this list does not matter. Values supplied in this method's log_name, resource, and labels fields are copied into those log entries in this list that do not include values for their corresponding fields. For more information, see the LogEntry type.If the timestamp or insert_id fields are missing in log entries, then this method supplies the current time or a unique identifier, respectively. The supplied values are chosen so that, among the log entries that did not supply their own values, the entries earlier in the list will sort before the entries later in the list. See the entries.list method.Log entries with timestamps that are more than the logs retention period (https://docs.cloud.google.com/logging/quotas) in the past or more than 24 hours in the future will not be available when calling entries.list. However, those log entries can still be exported with LogSinks (https://docs.cloud.google.com/logging/docs/routing/overview).To improve throughput and to avoid exceeding the quota limit (https://docs.cloud.google.com/logging/quotas) for calls to entries.write, you should try to include several log entries in this list, rather than calling this method for each individual log entry."
          }
        },
        "logName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A default log resource name that is assigned to all log entries in entries that do not specify a value for log_name: projects/[PROJECT_ID]/logs/[LOG_ID] organizations/[ORGANIZATION_ID]/logs/[LOG_ID] billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID] folders/[FOLDER_ID]/logs/[LOG_ID][LOG_ID] must be URL-encoded. For example: \"projects/my-project-id/logs/syslog\" \"organizations/123/logs/cloudaudit.googleapis.com%2Factivity\" The permission logging.logEntries.create is needed on each project, organization, billing account, or folder that is receiving new log entries, whether the resource is specified in logName or in an individual log entry."
          }
        },
        "resource": {
          "target": "com.gcp.logging_v2#MonitoredResource",
          "traits": {
            "smithy.api#documentation": "Optional. A default monitored resource object that is assigned to all log entries in entries that do not specify a value for resource. Example: { \"type\": \"gce_instance\", \"labels\": { \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\" }} See LogEntry."
          }
        },
        "labels": {
          "target": "com.gcp.logging_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Default labels that are added to the labels field of all log entries in entries. If a log entry already has a label with the same key as a label in this parameter, then the log entry's label is not changed. See LogEntry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters to WriteLogEntries."
      }
    },
    "com.gcp.logging_v2#LogEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#LogEntry"
      }
    },
    "com.gcp.logging_v2#Exponential": {
      "type": "structure",
      "members": {
        "numFiniteBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        },
        "growthFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be greater than 1."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor ^ i).Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1))."
      }
    },
    "com.gcp.logging_v2#HttpRequest": {
      "type": "structure",
      "members": {
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent sent by the client. Example: \"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"."
          }
        },
        "remoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\"."
          }
        },
        "requestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheme (http, https), the host name, the path and the query portion of the URL that was requested. Example: \"http://example.com/some/info?color=red\"."
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The response code indicating the status of response. Examples: 200, 404."
          }
        },
        "requestSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP request message in bytes, including the request headers and the request body."
          }
        },
        "requestMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request method. Examples: \"GET\", \"HEAD\", \"PUT\", \"POST\"."
          }
        },
        "latency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request processing latency on the server, from the time the request was received until the response was sent. For WebSocket connections, this field refers to the entire time duration of the connection."
          }
        },
        "cacheLookup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a cache lookup was attempted."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\""
          }
        },
        "responseSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body."
          }
        },
        "serverIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\"."
          }
        },
        "cacheHit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not an entity was served from cache (with or without validation)."
          }
        },
        "referer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referer URL of the request, as defined in HTTP/1.1 Header Field Definitions (https://datatracker.ietf.org/doc/html/rfc2616#section-14.36)."
          }
        },
        "cacheValidatedWithOriginServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if cache_hit is True."
          }
        },
        "cacheFillBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message."
      }
    },
    "com.gcp.logging_v2#CopyLogEntriesMetadata": {
      "type": "structure",
      "members": {
        "cancellationRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether the user has requested cancellation of the operation."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination to which to copy log entries.For example, a Cloud Storage bucket:\"storage.googleapis.com/my-cloud-storage-bucket\""
          }
        },
        "request": {
          "target": "com.gcp.logging_v2#CopyLogEntriesRequest",
          "traits": {
            "smithy.api#documentation": "CopyLogEntries RPC request. This field is deprecated and not used."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source from which to copy log entries.For example, a log bucket:\"projects/my-project/locations/global/buckets/my-source-bucket\""
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation.For example,\"copy\""
          }
        },
        "writerIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IAM identity of a service account that must be granted access to the destination.If the service account is not granted permission to the destination within an hour, the operation will be cancelled.For example: \"serviceAccount:foo@bar.com\""
          }
        },
        "state": {
          "target": "com.gcp.logging_v2#CopyLogEntriesMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of an operation."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The create time of an operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of an operation."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated progress of the operation (0 - 100%)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for CopyLogEntries long running operations."
      }
    },
    "com.gcp.logging_v2#CopyLogEntriesMetadataStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "OPERATION_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SCHEDULED"
          }
        },
        "OPERATION_STATE_WAITING_FOR_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_WAITING_FOR_PERMISSIONS"
          }
        },
        "OPERATION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_RUNNING"
          }
        },
        "OPERATION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SUCCEEDED"
          }
        },
        "OPERATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_FAILED"
          }
        },
        "OPERATION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_CANCELLED"
          }
        },
        "OPERATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.logging_v2#LoggingQuery": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An advanced query using the Logging Query Language (https://docs.cloud.google.com/logging/docs/view/logging-query-language). The maximum length of the filter is 20000 characters."
          }
        },
        "summaryFieldStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Characters will be counted from the start of the string."
          }
        },
        "summaryFieldEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Characters will be counted from the end of the string."
          }
        },
        "summaryFields": {
          "target": "com.gcp.logging_v2#SummaryFieldList",
          "traits": {
            "smithy.api#documentation": "Optional. The set of summary fields to display for this saved query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Cloud Logging query that can be run in Logs Explorer UI or via the logging API.In addition to the query itself, additional information may be stored to capture the display configuration and other UI state used in association with analysis of query results."
      }
    },
    "com.gcp.logging_v2#SummaryFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#SummaryField"
      }
    },
    "com.gcp.logging_v2#TailLogEntriesRequest": {
      "type": "structure",
      "members": {
        "bufferWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The amount of time to buffer log entries at the server before being returned to prevent out of order results due to late arriving log entries. Valid values are between 0-60000 milliseconds. Defaults to 2000 milliseconds."
          }
        },
        "resourceNames": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Name of a parent resource from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://docs.cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters to TailLogEntries."
      }
    },
    "com.gcp.logging_v2#LogScope": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the log scope.Log scopes are only available in the global location. For example:projects/my-project/locations/global/logScopes/my-log-scope"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of the log scope."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of the log scope."
          }
        },
        "resourceNames": {
          "target": "com.gcp.logging_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Names of one or more parent resources (organizations and folders are not supported.): projects/[PROJECT_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]A log scope can include a maximum of 5 projects and a maximum of 100 resources in total."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Describes this log scope.The maximum length of the description is 8000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a group of resources to read log entries from."
      }
    },
    "com.gcp.logging_v2#MonitoredResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. Some descriptors include the service name in the type; for example, the type of a Datastream stream is datastream.googleapis.com/Stream."
          }
        },
        "labels": {
          "target": "com.gcp.logging_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} "
      }
    },
    "com.gcp.logging_v2#BucketMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of an operation."
          }
        },
        "updateBucketRequest": {
          "target": "com.gcp.logging_v2#UpdateBucketRequest",
          "traits": {
            "smithy.api#documentation": "LongRunningUpdateBucket RPC request."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The create time of an operation."
          }
        },
        "state": {
          "target": "com.gcp.logging_v2#BucketMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of an operation."
          }
        },
        "createBucketRequest": {
          "target": "com.gcp.logging_v2#CreateBucketRequest",
          "traits": {
            "smithy.api#documentation": "LongRunningCreateBucket RPC request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for LongRunningUpdateBucket Operations."
      }
    },
    "com.gcp.logging_v2#BucketMetadataStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "OPERATION_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SCHEDULED"
          }
        },
        "OPERATION_STATE_WAITING_FOR_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_WAITING_FOR_PERMISSIONS"
          }
        },
        "OPERATION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_RUNNING"
          }
        },
        "OPERATION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_SUCCEEDED"
          }
        },
        "OPERATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_FAILED"
          }
        },
        "OPERATION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_CANCELLED"
          }
        },
        "OPERATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.logging_v2#OpsAnalyticsQuery": {
      "type": "structure",
      "members": {
        "sqlQueryText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Log Analytics SQL query in text format.If both sql_query_text and query_builder fields are set, then the sql_query_text will be used, if its non-empty. At least one of the two fields must be set."
          }
        },
        "queryBuilder": {
          "target": "com.gcp.logging_v2#QueryBuilderConfig",
          "traits": {
            "smithy.api#documentation": "Optional. A query builder configuration used in Log Analytics.If both query_builder and sql_query_text fields are set, then the sql_query_text will be used, if its non-empty. At least one of the two fields must be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a query that can be run in Log Analytics."
      }
    },
    "com.gcp.logging_v2#CreateLinkRequest": {
      "type": "structure",
      "members": {
        "link": {
          "target": "com.gcp.logging_v2#Link",
          "traits": {
            "smithy.api#documentation": "Required. The new link."
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the link. The link_id can have up to 100 characters. A valid link_id must only have alphanumeric characters and underscores within it."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the bucket to create a link for. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters to CreateLink."
      }
    },
    "com.gcp.logging_v2#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.logging_v2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.logging_v2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.logging_v2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#Location"
      }
    },
    "com.gcp.logging_v2#FieldSource": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified, dot-delimited path to the selected atomic field (the leaf value). This path is used for primary selection and actions like drill-down or projection.The path components should match the exact field names or keys as they appear in the underlying data schema. For JSON fields, this means respecting the original casing (e.g., camelCase or snake_case as present in the JSON).To reference field names containing special characters (e.g., hyphens, spaces), enclose the individual path segment in backticks (`).Examples: * json_payload.labels.message * json_payload.request_id * httpRequest.status * json_payload.\\my-custom-field`.value *jsonPayload.`my key with spaces`.data`"
          }
        },
        "projectedField": {
          "target": "com.gcp.logging_v2#ProjectedField",
          "traits": {
            "smithy.api#documentation": "A projected field option for when a user wants to use a field with some additional transformations such as casting or extractions."
          }
        },
        "aliasRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias name for a field that has already been aliased within a different ProjectedField type elsewhere in the query model. The alias must be defined in the QueryBuilderConfig's field_sources list, otherwise the model is invalid."
          }
        },
        "columnType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the selected field. This comes from the schema. Can be one of the BigQuery data types: - STRING - INT64 - FLOAT64 - BOOL - TIMESTAMP - DATE - RECORD - JSON"
          }
        },
        "parentPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dot-delimited path of the parent container that holds the target field.This path defines the structural hierarchy and is essential for correctly generating SQL when field keys contain special characters (e.g., dots or brackets).Example: json_payload.labels (This points to the 'labels' object). This is an empty string if the target field is at the root level."
          }
        },
        "isJson": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is a JSON field, or has a parent that is a JSON field. This value is used to determine JSON extractions in generated SQL queries. Note that this is_json flag may be true when the column_type is not JSON if the parent is a JSON field. Ex: - A json_payload.message field might have is_json=true, since the 'json_payload' parent is of type JSON, and columnType='STRING' if the 'message' field is of type STRING."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A source that can be used to represent a \"field of data\" within various parts of a structured query, such as in SELECT, WHERE, or ORDER BY clauses. The term \"field of data\" is used here because it is not limited to literal fields in the underlying data schema."
      }
    },
    "com.gcp.logging_v2#BucketOptions": {
      "type": "structure",
      "members": {
        "exponentialBuckets": {
          "target": "com.gcp.logging_v2#Exponential",
          "traits": {
            "smithy.api#documentation": "The exponential buckets."
          }
        },
        "linearBuckets": {
          "target": "com.gcp.logging_v2#Linear",
          "traits": {
            "smithy.api#documentation": "The linear bucket."
          }
        },
        "explicitBuckets": {
          "target": "com.gcp.logging_v2#Explicit",
          "traits": {
            "smithy.api#documentation": "The explicit buckets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite."
      }
    },
    "com.gcp.logging_v2#RequestLog": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "An indication of the relative cost of serving this request."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request method. Example: \"GET\", \"HEAD\", \"PUT\", \"POST\", \"DELETE\"."
          }
        },
        "line": {
          "target": "com.gcp.logging_v2#LogLineList",
          "traits": {
            "smithy.api#documentation": "A list of log lines emitted by the application while serving this request."
          }
        },
        "traceSampled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the value in the 'trace_id' field was sampled for storage in a trace backend."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internet host and port number of the resource being requested."
          }
        },
        "pendingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time this request spent in the pending request queue."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin IP address."
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Referrer URL of request."
          }
        },
        "responseSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size in bytes sent back to client by request."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the instance that handled the request."
          }
        },
        "instanceIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the instance processing this request belongs to a manually scaled module, then this is the 0-based index of the instance. Otherwise, this value is -1."
          }
        },
        "latency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latency of the request."
          }
        },
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stackdriver Trace identifier for this request."
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP response status code. Example: 200, 404."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". The fragment identifier, which is identified by the # character, is not included."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent that made the request."
          }
        },
        "first": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the first RequestLog entry for this request. If an active request has several RequestLog entries written to Stackdriver Logging, then this field will be set for one of them."
          }
        },
        "megaCycles": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of CPU megacycles used to process request."
          }
        },
        "httpVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP version of request. Example: \"HTTP/1.1\"."
          }
        },
        "sourceReference": {
          "target": "com.gcp.logging_v2#SourceReferenceList",
          "traits": {
            "smithy.api#documentation": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories."
          }
        },
        "urlMapEntry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File or class that handled the request."
          }
        },
        "nickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logged-in user who made the request.Most likely, this is the part of the user's email before the @ sign. The field value is the same for different requests from the same user, but different users can have similar names. This information is also available to the application via the App Engine Users API.This field will be populated starting with App Engine 1.9.21."
          }
        },
        "appEngineRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App Engine release version."
          }
        },
        "finished": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this request is finished or active."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application that handled this request."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique identifier for a request, which is based on the request start time. Request IDs for requests which started later will compare greater as strings than those for requests which started earlier."
          }
        },
        "wasLoadingRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this was a loading request for the instance."
          }
        },
        "taskQueueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue name of the request, in the case of an offline request."
          }
        },
        "taskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task name of the request, in the case of an offline request."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stackdriver Trace span identifier for this request."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the request finished."
          }
        },
        "moduleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Module of the application that handled this request."
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the application that handled this request."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the request started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Complete log information about a single HTTP request to an App Engine application."
      }
    },
    "com.gcp.logging_v2#LogLineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#LogLine"
      }
    },
    "com.gcp.logging_v2#SourceReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.logging_v2#SourceReference"
      }
    },
    "com.gcp.logging_v2#AppHub": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.logging_v2#AppHubService",
          "traits": {
            "smithy.api#documentation": "Metadata associated with the service."
          }
        },
        "application": {
          "target": "com.gcp.logging_v2#AppHubApplication",
          "traits": {
            "smithy.api#documentation": "Metadata associated with the application."
          }
        },
        "workload": {
          "target": "com.gcp.logging_v2#AppHubWorkload",
          "traits": {
            "smithy.api#documentation": "Metadata associated with the workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with App Hub."
      }
    },
    "com.gcp.logging_v2#UndeleteBucketRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The parameters to UndeleteBucket."
      }
    },
    "com.gcp.logging_v2#ListBucketsResponse": {
      "type": "structure",
      "members": {
[...]
