{
  "smithy": "2.0",
  "metadata": {
    "service": "managedkafka",
    "version": "v1",
    "title": "Managed Service for Apache Kafka API",
    "baseUrl": "https://managedkafka.googleapis.com/"
  },
  "shapes": {
    "com.gcp.managedkafka_v1#ListConnectClustersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "connectClusters": {
          "target": "com.gcp.managedkafka_v1#ConnectClusterList",
          "traits": {
            "smithy.api#documentation": "The list of Connect clusters in the requested parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListConnectClusters."
      }
    },
    "com.gcp.managedkafka_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.managedkafka_v1#ConnectClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#ConnectCluster"
      }
    },
    "com.gcp.managedkafka_v1#GcpConfig": {
      "type": "structure",
      "members": {
        "accessConfig": {
          "target": "com.gcp.managedkafka_v1#AccessConfig",
          "traits": {
            "smithy.api#documentation": "Required. Access configuration for the Kafka cluster."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
      }
    },
    "com.gcp.managedkafka_v1#ListConnectorsResponse": {
      "type": "structure",
      "members": {
        "connectors": {
          "target": "com.gcp.managedkafka_v1#ConnectorList",
          "traits": {
            "smithy.api#documentation": "The list of connectors in the requested parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListConnectors."
      }
    },
    "com.gcp.managedkafka_v1#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Connector"
      }
    },
    "com.gcp.managedkafka_v1#Acl": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits."
          }
        },
        "patternType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\"."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID."
          }
        },
        "aclEntries": {
          "target": "com.gcp.managedkafka_v1#AclEntryList",
          "traits": {
            "smithy.api#documentation": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type."
      }
    },
    "com.gcp.managedkafka_v1#AclEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#AclEntry"
      }
    },
    "com.gcp.managedkafka_v1#TrustConfig": {
      "type": "structure",
      "members": {
        "casConfigs": {
          "target": "com.gcp.managedkafka_v1#CertificateAuthorityServiceConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sources of CA certificates to install in the broker's truststore."
      }
    },
    "com.gcp.managedkafka_v1#CertificateAuthorityServiceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#CertificateAuthorityServiceConfig"
      }
    },
    "com.gcp.managedkafka_v1#ConnectAccessConfig": {
      "type": "structure",
      "members": {
        "networkConfigs": {
          "target": "com.gcp.managedkafka_v1#ConnectNetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of access to the Kafka Connect cluster."
      }
    },
    "com.gcp.managedkafka_v1#ConnectNetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#ConnectNetworkConfig"
      }
    },
    "com.gcp.managedkafka_v1#UpdateOptions": {
      "type": "structure",
      "members": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster."
      }
    },
    "com.gcp.managedkafka_v1#PauseConnectorRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for PauseConnector."
      }
    },
    "com.gcp.managedkafka_v1#HttpBody": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.managedkafka_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.managedkafka_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.managedkafka_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#DocumentMap"
      }
    },
    "com.gcp.managedkafka_v1#CertificateAuthorityServiceConfig": {
      "type": "structure",
      "members": {
        "caPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration for the Google Certificate Authority Service."
      }
    },
    "com.gcp.managedkafka_v1#NetworkConfig": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#UpdateSchemaModeRequest": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.managedkafka_v1#UpdateSchemaModeRequestModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The mode type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for updating schema registry or subject mode."
      }
    },
    "com.gcp.managedkafka_v1#UpdateSchemaModeRequestModeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READONLY"
          }
        },
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READWRITE"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#SchemaConfig": {
      "type": "structure",
      "members": {
        "compatibility": {
          "target": "com.gcp.managedkafka_v1#SchemaConfigCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value."
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The subject to which this subject is an alias of. Only applicable for subject config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SchemaConfig represents configuration for a schema registry or a specific subject."
      }
    },
    "com.gcp.managedkafka_v1#SchemaConfigCompatibilityEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKWARD"
          }
        },
        "BACKWARD_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKWARD_TRANSITIVE"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD"
          }
        },
        "FORWARD_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD_TRANSITIVE"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "FULL_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_TRANSITIVE"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#SchemaVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The schema ID."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema payload."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subject of the version."
          }
        },
        "references": {
          "target": "com.gcp.managedkafka_v1#SchemaReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. The schema references used by the schema."
          }
        },
        "schemaType": {
          "target": "com.gcp.managedkafka_v1#SchemaVersionSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The schema type of the schema."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The version ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version of a schema."
      }
    },
    "com.gcp.managedkafka_v1#SchemaReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#SchemaReference"
      }
    },
    "com.gcp.managedkafka_v1#SchemaVersionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_TYPE_UNSPECIFIED"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#Topic": {
      "type": "structure",
      "members": {
        "replicationFactor": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability."
          }
        },
        "configs": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}"
          }
        },
        "partitionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kafka topic in a given cluster."
      }
    },
    "com.gcp.managedkafka_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.managedkafka_v1#Cluster": {
      "type": "structure",
      "members": {
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "gcpConfig": {
          "target": "com.gcp.managedkafka_v1#GcpConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the cluster was last updated."
          }
        },
        "capacityConfig": {
          "target": "com.gcp.managedkafka_v1#CapacityConfig",
          "traits": {
            "smithy.api#documentation": "Required. Capacity configuration for the Kafka cluster."
          }
        },
        "state": {
          "target": "com.gcp.managedkafka_v1#ClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the cluster."
          }
        },
        "brokerDetails": {
          "target": "com.gcp.managedkafka_v1#BrokerDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster."
          }
        },
        "rebalanceConfig": {
          "target": "com.gcp.managedkafka_v1#RebalanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Rebalance configuration for the Kafka cluster."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.managedkafka_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. TLS configuration for the Kafka cluster."
          }
        },
        "updateOptions": {
          "target": "com.gcp.managedkafka_v1#UpdateOptions",
          "traits": {
            "smithy.api#documentation": "Optional. UpdateOptions represents options that control how updates to the cluster are applied."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the cluster was created."
          }
        },
        "kafkaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}"
          }
        },
        "labels": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Apache Kafka cluster deployed in a location."
      }
    },
    "com.gcp.managedkafka_v1#ClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#BrokerDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#BrokerDetails"
      }
    },
    "com.gcp.managedkafka_v1#RestartConnectorRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for RestartConnector."
      }
    },
    "com.gcp.managedkafka_v1#CreateVersionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the schema created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for CreateVersion."
      }
    },
    "com.gcp.managedkafka_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.managedkafka_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.managedkafka_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.managedkafka_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.managedkafka_v1#RemoveAclEntryResponse": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.gcp.managedkafka_v1#Acl",
          "traits": {
            "smithy.api#documentation": "The updated acl. Returned if the removed acl entry was not the last entry in the acl."
          }
        },
        "aclDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for RemoveAclEntry."
      }
    },
    "com.gcp.managedkafka_v1#SchemaReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the reference."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subject of the reference."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The version of the reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SchemaReference is a reference to a schema."
      }
    },
    "com.gcp.managedkafka_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.managedkafka_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.managedkafka_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Operation"
      }
    },
    "com.gcp.managedkafka_v1#RestartConnectorResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for RestartConnector."
      }
    },
    "com.gcp.managedkafka_v1#ResumeConnectorResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for ResumeConnector."
      }
    },
    "com.gcp.managedkafka_v1#SchemaRegistry": {
      "type": "structure",
      "members": {
        "contexts": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The contexts of the schema registry instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SchemaRegistry is a schema registry instance."
      }
    },
    "com.gcp.managedkafka_v1#TaskRetryPolicy": {
      "type": "structure",
      "members": {
        "minimumBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay."
          }
        },
        "taskRetryDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, task retry is disabled."
          }
        },
        "maximumBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively."
      }
    },
    "com.gcp.managedkafka_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.managedkafka_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.managedkafka_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.managedkafka_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.managedkafka_v1#ConnectGcpConfig": {
      "type": "structure",
      "members": {
        "secretPaths": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/"
          }
        },
        "accessConfig": {
          "target": "com.gcp.managedkafka_v1#ConnectAccessConfig",
          "traits": {
            "smithy.api#documentation": "Required. Access configuration for the Kafka Connect cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
      }
    },
    "com.gcp.managedkafka_v1#CreateVersionRequest": {
      "type": "structure",
      "members": {
        "schemaType": {
          "target": "com.gcp.managedkafka_v1#CreateVersionRequestSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject."
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the schema will be normalized before being stored. The default is false."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema payload"
          }
        },
        "references": {
          "target": "com.gcp.managedkafka_v1#SchemaReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. The schema references used by the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CreateVersion."
      }
    },
    "com.gcp.managedkafka_v1#CreateVersionRequestSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_TYPE_UNSPECIFIED"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.managedkafka_v1#ListTopicsResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.gcp.managedkafka_v1#TopicList",
          "traits": {
            "smithy.api#documentation": "The list of topics in the requested parent. The order of the topics is unspecified."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListTopics."
      }
    },
    "com.gcp.managedkafka_v1#TopicList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Topic"
      }
    },
    "com.gcp.managedkafka_v1#SchemaMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.managedkafka_v1#SchemaModeModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes."
      }
    },
    "com.gcp.managedkafka_v1#SchemaModeModeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READONLY"
          }
        },
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READWRITE"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.gcp.managedkafka_v1#ClusterList",
          "traits": {
            "smithy.api#documentation": "The list of Clusters in the requested parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListClusters."
      }
    },
    "com.gcp.managedkafka_v1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Cluster"
      }
    },
    "com.gcp.managedkafka_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.managedkafka_v1#TlsConfig": {
      "type": "structure",
      "members": {
        "sslPrincipalMappingRules": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default)."
          }
        },
        "trustConfig": {
          "target": "com.gcp.managedkafka_v1#TrustConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The TLS configuration for the Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#ListAclsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        },
        "acls": {
          "target": "com.gcp.managedkafka_v1#AclList",
          "traits": {
            "smithy.api#documentation": "The list of acls in the requested parent. The order of the acls is unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListAcls."
      }
    },
    "com.gcp.managedkafka_v1#AclList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Acl"
      }
    },
    "com.gcp.managedkafka_v1#SchemaSubject": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
          }
        },
        "versions": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The versions of the subject."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subject defines the evolution scope of schemas as a holder of schema versions."
      }
    },
    "com.gcp.managedkafka_v1#UpdateSchemaConfigRequest": {
      "type": "structure",
      "members": {
        "compatibility": {
          "target": "com.gcp.managedkafka_v1#UpdateSchemaConfigRequestCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig."
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig."
      }
    },
    "com.gcp.managedkafka_v1#UpdateSchemaConfigRequestCompatibilityEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKWARD"
          }
        },
        "BACKWARD_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKWARD_TRANSITIVE"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD"
          }
        },
        "FORWARD_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD_TRANSITIVE"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "FULL_TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_TRANSITIVE"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#Connector": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}"
          }
        },
        "state": {
          "target": "com.gcp.managedkafka_v1#ConnectorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the connector."
          }
        },
        "taskRestartPolicy": {
          "target": "com.gcp.managedkafka_v1#TaskRetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Restarts the individual tasks of a Connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kafka Connect connector in a given ConnectCluster."
      }
    },
    "com.gcp.managedkafka_v1#ConnectorStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UNASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNASSIGNED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#CheckCompatibilityRequest": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema payload"
          }
        },
        "references": {
          "target": "com.gcp.managedkafka_v1#SchemaReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. The schema references used by the schema."
          }
        },
        "verbose": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false."
          }
        },
        "schemaType": {
          "target": "com.gcp.managedkafka_v1#CheckCompatibilityRequestSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The schema type of the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CheckCompatibility."
      }
    },
    "com.gcp.managedkafka_v1#CheckCompatibilityRequestSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_TYPE_UNSPECIFIED"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#CapacityConfig": {
      "type": "structure",
      "members": {
        "vcpuCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The number of vCPUs to provision for the cluster. Minimum: 3."
          }
        },
        "memoryBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A capacity configuration of a Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.managedkafka_v1#ConsumerPartitionMetadata": {
      "type": "structure",
      "members": {
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The current offset for this partition, or 0 if no offset has been committed."
          }
        },
        "metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The associated metadata for this partition, or empty if it does not exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a consumer group corresponding to a specific partition."
      }
    },
    "com.gcp.managedkafka_v1#AddAclEntryResponse": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.gcp.managedkafka_v1#Acl",
          "traits": {
            "smithy.api#documentation": "The updated acl."
          }
        },
        "aclCreated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the acl was created as a result of adding the acl entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for AddAclEntry."
      }
    },
    "com.gcp.managedkafka_v1#StopConnectorRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for StopConnector."
      }
    },
    "com.gcp.managedkafka_v1#CreateSchemaRegistryRequest": {
      "type": "structure",
      "members": {
        "schemaRegistryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number."
          }
        },
        "schemaRegistry": {
          "target": "com.gcp.managedkafka_v1#SchemaRegistry",
          "traits": {
            "smithy.api#documentation": "Required. The schema registry instance to create. The name field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a schema registry instance."
      }
    },
    "com.gcp.managedkafka_v1#Managedkafka_Schema": {
      "type": "structure",
      "members": {
        "schemaType": {
          "target": "com.gcp.managedkafka_v1#Managedkafka_SchemaSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The schema type of the schema."
          }
        },
        "references": {
          "target": "com.gcp.managedkafka_v1#SchemaReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. The schema references used by the schema."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for a Kafka message."
      }
    },
    "com.gcp.managedkafka_v1#Managedkafka_SchemaSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_TYPE_UNSPECIFIED"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#BrokerDetails": {
      "type": "structure",
      "members": {
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The node id of the broker."
          }
        },
        "rack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The rack of the broker."
          }
        },
        "brokerIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The index of the broker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a broker in the Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#CheckCompatibilityResponse": {
      "type": "structure",
      "members": {
        "is_compatible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The compatibility check result. If true, the schema is compatible with the resource."
          }
        },
        "messages": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Failure reasons if verbose = true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for CheckCompatibility."
      }
    },
    "com.gcp.managedkafka_v1#ConsumerGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}"
          }
        },
        "topics": {
          "target": "com.gcp.managedkafka_v1#ConsumerTopicMetadataMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kafka consumer group in a given cluster."
      }
    },
    "com.gcp.managedkafka_v1#ConsumerTopicMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedkafka_v1#ConsumerTopicMetadata"
      }
    },
    "com.gcp.managedkafka_v1#ConsumerTopicMetadata": {
      "type": "structure",
      "members": {
        "partitions": {
          "target": "com.gcp.managedkafka_v1#ConsumerPartitionMetadataMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a consumer group corresponding to a specific topic."
      }
    },
    "com.gcp.managedkafka_v1#ConsumerPartitionMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedkafka_v1#ConsumerPartitionMetadata"
      }
    },
    "com.gcp.managedkafka_v1#ResumeConnectorRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for ResumeConnector."
      }
    },
    "com.gcp.managedkafka_v1#AclEntry": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka."
          }
        },
        "permissionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the access granted for a given Resource Pattern in an ACL."
      }
    },
    "com.gcp.managedkafka_v1#StopConnectorResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for StopConnector."
      }
    },
    "com.gcp.managedkafka_v1#AccessConfig": {
      "type": "structure",
      "members": {
        "networkConfigs": {
          "target": "com.gcp.managedkafka_v1#NetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of access to the Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#NetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#NetworkConfig"
      }
    },
    "com.gcp.managedkafka_v1#Context": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
          }
        },
        "subjects": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The subjects of the context."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Context represents an independent schema grouping in a schema registry instance."
      }
    },
    "com.gcp.managedkafka_v1#ListSchemaRegistriesResponse": {
      "type": "structure",
      "members": {
        "schemaRegistries": {
          "target": "com.gcp.managedkafka_v1#SchemaRegistryList",
          "traits": {
            "smithy.api#documentation": "The schema registry instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for ListSchemaRegistries."
      }
    },
    "com.gcp.managedkafka_v1#SchemaRegistryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#SchemaRegistry"
      }
    },
    "com.gcp.managedkafka_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.managedkafka_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.managedkafka_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#Location"
      }
    },
    "com.gcp.managedkafka_v1#RebalanceConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.managedkafka_v1#RebalanceConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines rebalancing behavior of a Kafka cluster."
      }
    },
    "com.gcp.managedkafka_v1#RebalanceConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "NO_REBALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_REBALANCE"
          }
        },
        "AUTO_REBALANCE_ON_SCALE_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_REBALANCE_ON_SCALE_UP"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#ConnectCluster": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.managedkafka_v1#ConnectClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Kafka Connect cluster."
          }
        },
        "kafkaCluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}"
          }
        },
        "labels": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the cluster was last updated."
          }
        },
        "capacityConfig": {
          "target": "com.gcp.managedkafka_v1#CapacityConfig",
          "traits": {
            "smithy.api#documentation": "Required. Capacity configuration for the Kafka Connect cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the cluster was created."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "gcpConfig": {
          "target": "com.gcp.managedkafka_v1#ConnectGcpConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
          }
        },
        "config": {
          "target": "com.gcp.managedkafka_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Apache Kafka Connect cluster deployed in a location."
      }
    },
    "com.gcp.managedkafka_v1#ConnectClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#PauseConnectorResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for PauseConnector."
      }
    },
    "com.gcp.managedkafka_v1#ConnectNetworkConfig": {
      "type": "structure",
      "members": {
        "additionalSubnets": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information."
          }
        },
        "dnsDomainNames": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog"
          }
        },
        "primarySubnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster."
      }
    },
    "com.gcp.managedkafka_v1#LookupVersionRequest": {
      "type": "structure",
      "members": {
        "references": {
          "target": "com.gcp.managedkafka_v1#SchemaReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. The schema references used by the schema."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The schema payload"
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the schema will be normalized before being looked up. The default is false."
          }
        },
        "schemaType": {
          "target": "com.gcp.managedkafka_v1#LookupVersionRequestSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The schema type of the schema."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for LookupVersion."
      }
    },
    "com.gcp.managedkafka_v1#LookupVersionRequestSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_TYPE_UNSPECIFIED"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#ListConsumerGroupsResponse": {
      "type": "structure",
      "members": {
        "consumerGroups": {
          "target": "com.gcp.managedkafka_v1#ConsumerGroupList",
          "traits": {
            "smithy.api#documentation": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListConsumerGroups."
      }
    },
    "com.gcp.managedkafka_v1#ConsumerGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedkafka_v1#ConsumerGroup"
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "extraLocationTypes": {
          "target": "com.gcp.managedkafka_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.managedkafka_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.managedkafka_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.managedkafka_v1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.managedkafka_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.managedkafka_v1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        },
        {
          "target": "com.gcp.managedkafka_v1#BadRequest"
        },
        {
          "target": "com.gcp.managedkafka_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.managedkafka_v1#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.managedkafka_v1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        },
        {
          "target": "com.gcp.managedkafka_v1#BadRequest"
        },
        {
          "target": "com.gcp.managedkafka_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.managedkafka_v1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression for the result.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Order by fields for the result.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent location whose clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#ListProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#ListProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#ListClustersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/clusters"
        },
        "smithy.api#documentation": "Lists the clusters in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.managedkafka_v1#CreateProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
            "smithy.api#httpQuery": "clusterId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.managedkafka_v1#Cluster",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.managedkafka_v1#CreateProjectsLocationsClusters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.managedkafka_v1#CreateProjectsLocationsClustersRequest"
      },
      "output": {
        "target": "com.gcp.managedkafka_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.managedkafka_v1#NotFound"
        },
        {
          "target": "com.gcp.managedkafka_v1#Forbidden"
        },
        {
          "target": "com.gcp.managedkafka_v1#BadRequest"
        },
        {
          "target": "com.gcp.managedkafka_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/clusters"
        },
        "smithy.api#documentation": "Creates a new cluster in a given project and location."
      }
    },
    "com.gcp.managedkafka_v1#PatchProjectsLocationsClustersRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
[...]
