{
  "smithy": "2.0",
  "metadata": {
    "service": "memcache",
    "version": "v1",
    "title": "Cloud Memorystore for Memcached API",
    "baseUrl": "https://memcache.googleapis.com/"
  },
  "shapes": {
    "com.gcp.memcache_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.memcache_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.memcache_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#Location"
      }
    },
    "com.gcp.memcache_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.memcache_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.memcache_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.memcache_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.memcache_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.memcache_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.memcache_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#Operation"
      }
    },
    "com.gcp.memcache_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.memcache_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.memcache_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.memcache_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.memcache_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.memcache_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.memcache_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.memcache_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#DocumentMap"
      }
    },
    "com.gcp.memcache_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.memcache_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.memcache_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.memcache_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "A list of Memcached instances in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListInstances."
      }
    },
    "com.gcp.memcache_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#Instance"
      }
    },
    "com.gcp.memcache_v1#Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Memcached instances are managed and addressed at the regional level so `location_id` here refers to a Google Cloud region; however, users may choose which zones Memcached nodes should be provisioned in within an instance. Refer to zones field for more details."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided name for the instance, which is only used for display purposes. Cannot be more than 80 characters."
          }
        },
        "labels": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "authorizedNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the Google Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. If left unspecified, the `default` network will be used."
          }
        },
        "zones": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Zones in which Memcached nodes should be provisioned. Memcached nodes will be equally distributed across these zones. If not provided, the service will by default create nodes in all zones in the region for the instance."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Number of nodes in the Memcached instance."
          }
        },
        "nodeConfig": {
          "target": "com.gcp.memcache_v1#NodeConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration for Memcached nodes."
          }
        },
        "memcacheVersion": {
          "target": "com.gcp.memcache_v1#InstanceMemcacheVersionEnum",
          "traits": {
            "smithy.api#documentation": "The major version of Memcached software. If not provided, latest supported version will be used. Currently the latest supported major version is `MEMCACHE_1_5`. The minor version will be automatically determined by our system based on the latest supported minor version."
          }
        },
        "parameters": {
          "target": "com.gcp.memcache_v1#MemcacheParameters",
          "traits": {
            "smithy.api#documentation": "User defined parameters to apply to the memcached process on each node."
          }
        },
        "memcacheNodes": {
          "target": "com.gcp.memcache_v1#NodeList",
          "traits": {
            "smithy.api#documentation": "Output only. List of Memcached nodes. Refer to Node message for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the instance was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the instance was updated."
          }
        },
        "state": {
          "target": "com.gcp.memcache_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this Memcached instance."
          }
        },
        "memcacheFullVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full version of memcached server running on this instance. System automatically determines the full memcached version for an instance based on the input MemcacheVersion. The full version format will be \"memcached-1.5.16\"."
          }
        },
        "instanceMessages": {
          "target": "com.gcp.memcache_v1#InstanceMessageList",
          "traits": {
            "smithy.api#documentation": "List of messages that describe the current state of the Memcached instance."
          }
        },
        "discoveryEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Endpoint for the Discovery API."
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.memcache_v1#GoogleCloudMemcacheV1MaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "The maintenance policy for the instance. If not provided, the maintenance event will be performed based on Memorystore internal rollout schedule."
          }
        },
        "maintenanceSchedule": {
          "target": "com.gcp.memcache_v1#MaintenanceSchedule",
          "traits": {
            "smithy.api#documentation": "Output only. Published maintenance schedule."
          }
        },
        "reservedIpRangeId": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Contains the id of allocated IP address ranges associated with the private service access connection for example, \"test-default\" associated with IP range 10.0.0.0/29."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "maintenanceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Last self service update maintenance version triggered by the customer. If it is empty, it means that the maintenance version is not set by the user."
          }
        },
        "effectiveMaintenanceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The effective maintenance version of the instance."
          }
        },
        "availableMaintenanceVersions": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The available maintenance versions that can be applied to the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Memorystore for Memcached instance"
      }
    },
    "com.gcp.memcache_v1#InstanceMemcacheVersionEnum": {
      "type": "enum",
      "members": {
        "MEMCACHE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_VERSION_UNSPECIFIED"
          }
        },
        "MEMCACHE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_5"
          }
        },
        "MEMCACHE_1_6_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_6_15"
          }
        }
      }
    },
    "com.gcp.memcache_v1#NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#Node"
      }
    },
    "com.gcp.memcache_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "PERFORMING_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMING_MAINTENANCE"
          }
        },
        "MEMCACHE_VERSION_UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_VERSION_UPGRADING"
          }
        }
      }
    },
    "com.gcp.memcache_v1#InstanceMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#InstanceMessage"
      }
    },
    "com.gcp.memcache_v1#NodeConfig": {
      "type": "structure",
      "members": {
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Number of cpus per Memcached node."
          }
        },
        "memorySizeMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Memory size in MiB for each Memcached node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Memcached Node."
      }
    },
    "com.gcp.memcache_v1#MemcacheParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID associated with this set of parameters. Users can use this id to determine if the parameters associated with the instance differ from the parameters associated with the nodes. A discrepancy between parameter ids can inform users that they may need to take action to apply parameters on nodes."
          }
        },
        "params": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User defined set of parameters to use in the memcached process."
          }
        }
      }
    },
    "com.gcp.memcache_v1#Node": {
      "type": "structure",
      "members": {
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier of the Memcached node. The node id does not include project or location like the Memcached instance name."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Location (GCP Zone) for the Memcached node."
          }
        },
        "state": {
          "target": "com.gcp.memcache_v1#NodeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the Memcached node."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Hostname or IP address of the Memcached node used by the clients to connect to the Memcached server on this node."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The port number of the Memcached server on this node."
          }
        },
        "parameters": {
          "target": "com.gcp.memcache_v1#MemcacheParameters",
          "traits": {
            "smithy.api#documentation": "User defined parameters currently applied to the node."
          }
        },
        "memcacheVersion": {
          "target": "com.gcp.memcache_v1#NodeMemcacheVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Major version of memcached server running on this node, e.g. MEMCACHE_1_5"
          }
        },
        "memcacheFullVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full version of memcached server running on this node. e.g. - memcached-1.5.16"
          }
        }
      }
    },
    "com.gcp.memcache_v1#NodeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.memcache_v1#NodeMemcacheVersionEnum": {
      "type": "enum",
      "members": {
        "MEMCACHE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_VERSION_UNSPECIFIED"
          }
        },
        "MEMCACHE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_5"
          }
        },
        "MEMCACHE_1_6_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_6_15"
          }
        }
      }
    },
    "com.gcp.memcache_v1#InstanceMessage": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.memcache_v1#InstanceMessageCodeEnum",
          "traits": {
            "smithy.api#documentation": "A code that correspond to one type of user-facing message."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message on memcached instance which will be exposed to users."
          }
        }
      }
    },
    "com.gcp.memcache_v1#InstanceMessageCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "ZONE_DISTRIBUTION_UNBALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_DISTRIBUTION_UNBALANCED"
          }
        }
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1MaintenancePolicy": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
          }
        },
        "weeklyMaintenanceWindow": {
          "target": "com.gcp.memcache_v1#WeeklyMaintenanceWindowList",
          "traits": {
            "smithy.api#documentation": "Required. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_maintenance_windows is expected to be one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy per instance."
      }
    },
    "com.gcp.memcache_v1#WeeklyMaintenanceWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#WeeklyMaintenanceWindow"
      }
    },
    "com.gcp.memcache_v1#WeeklyMaintenanceWindow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "com.gcp.memcache_v1#WeeklyMaintenanceWindowDayEnum",
          "traits": {
            "smithy.api#documentation": "Required. Allows to define schedule that runs specified day of the week."
          }
        },
        "startTime": {
          "target": "com.gcp.memcache_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Start time of the window in UTC."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Duration of the time window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for weekly operations."
      }
    },
    "com.gcp.memcache_v1#WeeklyMaintenanceWindowDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.memcache_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.memcache_v1#MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of any upcoming scheduled maintenance for this instance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of any upcoming scheduled maintenance for this instance."
          }
        },
        "scheduleDeadlineTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deadline that the maintenance schedule start time can not go beyond, including reschedule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upcoming maintenance schedule."
      }
    },
    "com.gcp.memcache_v1#UpdateParametersRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask of fields to update."
          }
        },
        "parameters": {
          "target": "com.gcp.memcache_v1#MemcacheParameters",
          "traits": {
            "smithy.api#documentation": "The parameters to apply to the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for UpdateParameters."
      }
    },
    "com.gcp.memcache_v1#ApplyParametersRequest": {
      "type": "structure",
      "members": {
        "nodeIds": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Nodes to which the instance-level parameter group is applied."
          }
        },
        "applyAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to apply instance-level parameter group to all nodes. If set to true, users are restricted from specifying individual nodes, and `ApplyParameters` updates all nodes within the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for ApplyParameters."
      }
    },
    "com.gcp.memcache_v1#RescheduleMaintenanceRequest": {
      "type": "structure",
      "members": {
        "rescheduleType": {
          "target": "com.gcp.memcache_v1#RescheduleMaintenanceRequestRescheduleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for RescheduleMaintenance."
      }
    },
    "com.gcp.memcache_v1#RescheduleMaintenanceRequestRescheduleTypeEnum": {
      "type": "enum",
      "members": {
        "RESCHEDULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCHEDULE_TYPE_UNSPECIFIED"
          }
        },
        "IMMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMMEDIATE"
          }
        },
        "NEXT_AVAILABLE_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_AVAILABLE_WINDOW"
          }
        },
        "SPECIFIC_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPECIFIC_TIME"
          }
        }
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1UpgradeInstanceRequest": {
      "type": "structure",
      "members": {
        "memcacheVersion": {
          "target": "com.gcp.memcache_v1#GoogleCloudMemcacheV1UpgradeInstanceRequestMemcacheVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the target version of memcached engine to upgrade to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for UpgradeInstance."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1UpgradeInstanceRequestMemcacheVersionEnum": {
      "type": "enum",
      "members": {
        "MEMCACHE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_VERSION_UNSPECIFIED"
          }
        },
        "MEMCACHE_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_5"
          }
        },
        "MEMCACHE_1_6_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMCACHE_1_6_15"
          }
        }
      }
    },
    "com.gcp.memcache_v1#SetTagsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the service resource."
          }
        },
        "tags": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. These bindings will override any bindings previously set and will be effective immediately. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. Must be a valid UUID. This request is only idempotent if a `request_id` is provided."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A checksum based on the current bindings which can be passed to prevent race conditions. If not passed, etag check would be skipped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SetTags."
      }
    },
    "com.gcp.memcache_v1#SetTagsResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the service resource."
          }
        },
        "tags": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A checksum based on the current bindings. This field is always set in server responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SetTags."
      }
    },
    "com.gcp.memcache_v1#GetTagsResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the service resource."
          }
        },
        "tags": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A checksum based on the current bindings. This field is always set in server responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetTags."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1LocationMetadata": {
      "type": "structure",
      "members": {
        "availableZones": {
          "target": "com.gcp.memcache_v1#GoogleCloudMemcacheV1ZoneMetadataMap",
          "traits": {
            "smithy.api#documentation": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by GCE. These keys can be specified in the `zones` field when creating a Memcached instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.cloud.location.Location."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1ZoneMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#GoogleCloudMemcacheV1ZoneMetadata"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1ZoneMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.memcache_v1#LocationMetadata": {
      "type": "structure",
      "members": {
        "availableZones": {
          "target": "com.gcp.memcache_v1#ZoneMetadataMap",
          "traits": {
            "smithy.api#documentation": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by GCE. These keys can be specified in the `zones` field when creating a Memcached instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.cloud.location.Location."
      }
    },
    "com.gcp.memcache_v1#ZoneMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#ZoneMetadata"
      }
    },
    "com.gcp.memcache_v1#ZoneMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.memcache_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudMemcacheV1OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation."
      }
    },
    "com.gcp.memcache_v1#GetTagsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the service resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GetTags."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "labels": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "state": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "softwareVersions": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
          }
        },
        "maintenancePolicyNames": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
          }
        },
        "producerMetadata": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
          }
        },
        "provisionedResources": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
          }
        },
        "sloMetadata": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
          }
        },
        "maintenanceSchedules": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap",
          "traits": {
            "smithy.api#documentation": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
          }
        },
        "consumerDefinedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
          }
        },
        "slmInstanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
          }
        },
        "maintenanceSettings": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenanceSettings associated with instance."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
          }
        },
        "notificationParameters": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes provisioned dataplane resources."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
          }
        },
        "nodes": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloMetadata contains resources required for proper SLO classification of the instance."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "type": "structure",
      "members": {
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the node. This should be equal to SaasInstanceNode.node_id."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the node, if different from instance location."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "type": "structure",
      "members": {
        "eligibilities": {
          "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap",
          "traits": {
            "smithy.api#documentation": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "structure",
      "members": {
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an instance is eligible or ineligible."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled start time for the maintenance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled end time for the maintenance."
          }
        },
        "canReschedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
          }
        },
        "rolloutManagementPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
          }
        },
        "scheduleDeadlineTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
          }
        },
        "maintenancePolicies": {
          "target": "com.gcp.memcache_v1#MaintenancePolicyMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
          }
        },
        "isRollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the update call is triggered from rollback, set the value as true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
      }
    },
    "com.gcp.memcache_v1#MaintenancePolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.memcache_v1#MaintenancePolicy"
      }
    },
    "com.gcp.memcache_v1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
          }
        },
        "labels": {
          "target": "com.gcp.memcache_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "state": {
          "target": "com.gcp.memcache_v1#MaintenancePolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of the policy."
          }
        },
        "updatePolicy": {
          "target": "com.gcp.memcache_v1#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Maintenance policy applicable to instance update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies to service maintenance events."
      }
    },
    "com.gcp.memcache_v1#MaintenancePolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.memcache_v1#UpdatePolicy": {
      "type": "structure",
      "members": {
        "window": {
          "target": "com.gcp.memcache_v1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance window that is applied to resources covered by this policy."
          }
        },
        "channel": {
          "target": "com.gcp.memcache_v1#UpdatePolicyChannelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Relative scheduling channel applied to resource."
          }
        },
        "denyMaintenancePeriods": {
          "target": "com.gcp.memcache_v1#DenyMaintenancePeriodList",
          "traits": {
            "smithy.api#documentation": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy applicable to instance updates."
      }
    },
    "com.gcp.memcache_v1#UpdatePolicyChannelEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_CHANNEL_UNSPECIFIED"
          }
        },
        "EARLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLIER"
          }
        },
        "LATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATER"
          }
        },
        "WEEK1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK1"
          }
        },
        "WEEK2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK2"
          }
        },
        "WEEK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK5"
          }
        }
      }
    },
    "com.gcp.memcache_v1#DenyMaintenancePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#DenyMaintenancePeriod"
      }
    },
    "com.gcp.memcache_v1#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "dailyCycle": {
          "target": "com.gcp.memcache_v1#DailyCycle",
          "traits": {
            "smithy.api#documentation": "Daily cycle."
          }
        },
        "weeklyCycle": {
          "target": "com.gcp.memcache_v1#WeeklyCycle",
          "traits": {
            "smithy.api#documentation": "Weekly cycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceWindow definition."
      }
    },
    "com.gcp.memcache_v1#DailyCycle": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.memcache_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the day to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily operations."
      }
    },
    "com.gcp.memcache_v1#WeeklyCycle": {
      "type": "structure",
      "members": {
        "schedule": {
          "target": "com.gcp.memcache_v1#ScheduleList",
          "traits": {
            "smithy.api#documentation": "User can specify multiple windows in a week. Minimum of 1 window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for weekly operations."
      }
    },
    "com.gcp.memcache_v1#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.memcache_v1#Schedule"
      }
    },
    "com.gcp.memcache_v1#Schedule": {
      "type": "structure",
      "members": {
        "day": {
          "target": "com.gcp.memcache_v1#ScheduleDayEnum",
          "traits": {
            "smithy.api#documentation": "Allows to define schedule that runs specified day of the week."
          }
        },
        "startTime": {
          "target": "com.gcp.memcache_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the window to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the schedule."
      }
    },
    "com.gcp.memcache_v1#ScheduleDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.memcache_v1#DenyMaintenancePeriod": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.memcache_v1#Memcache_Date",
          "traits": {
            "smithy.api#documentation": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
          }
        },
        "endDate": {
          "target": "com.gcp.memcache_v1#Memcache_Date",
          "traits": {
            "smithy.api#documentation": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
          }
        },
        "time": {
          "target": "com.gcp.memcache_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
      }
    },
    "com.gcp.memcache_v1#Memcache_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.memcache_v1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of string values. e.g. instance's replica information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains notification related data."
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.memcache_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.memcache_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.memcache_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        }
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.memcache_v1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.memcache_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.memcache_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.memcache_v1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        },
        {
          "target": "com.gcp.memcache_v1#BadRequest"
        },
        {
          "target": "com.gcp.memcache_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.memcache_v1#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.memcache_v1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.memcache_v1#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        },
        {
          "target": "com.gcp.memcache_v1#BadRequest"
        },
        {
          "target": "com.gcp.memcache_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the instance location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a GCP region",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the `page_size` value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more instances left to be queried.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `next_page_token` value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List filter. For example, exclude all Memcached instances with name as my-instance by specifying `\"name != my-instance\"`.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.memcache_v1#ListProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#ListProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/instances"
        },
        "smithy.api#documentation": "Lists Instances in a given location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Memcached instance resource name in the format: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.memcache_v1#GetProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#GetProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Instance"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Instance."
      }
    },
    "com.gcp.memcache_v1#CreateProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the instance location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a GCP region",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The logical name of the Memcached instance in the user project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the user project / location. If any of the above are not met, the API raises an invalid argument error.",
            "smithy.api#httpQuery": "instanceId"
          }
        },
        "body": {
          "target": "com.gcp.memcache_v1#Instance",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.memcache_v1#CreateProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#CreateProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        },
        {
          "target": "com.gcp.memcache_v1#BadRequest"
        },
        {
          "target": "com.gcp.memcache_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/instances"
        },
        "smithy.api#documentation": "Creates a new Instance in a given location."
      }
    },
    "com.gcp.memcache_v1#PatchProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Memcached instances are managed and addressed at the regional level so `location_id` here refers to a Google Cloud region; however, users may choose which zones Memcached nodes should be provisioned in within an instance. Refer to zones field for more details.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask of fields to update. * `displayName`",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.memcache_v1#Instance",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.memcache_v1#PatchProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#PatchProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        },
        {
          "target": "com.gcp.memcache_v1#BadRequest"
        },
        {
          "target": "com.gcp.memcache_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing Instance in a given project and location."
      }
    },
    "com.gcp.memcache_v1#UpdateParametersProjectsLocationsInstancesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the Memcached instance for which the parameters should be updated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.memcache_v1#UpdateParametersRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.memcache_v1#UpdateParametersProjectsLocationsInstances": {
      "type": "operation",
      "input": {
        "target": "com.gcp.memcache_v1#UpdateParametersProjectsLocationsInstancesRequest"
      },
      "output": {
        "target": "com.gcp.memcache_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.memcache_v1#NotFound"
        },
        {
          "target": "com.gcp.memcache_v1#Forbidden"
        },
        {
[...]
