{
  "smithy": "2.0",
  "metadata": {
    "service": "migrationcenter",
    "version": "v1",
    "title": "Migration Center API",
    "baseUrl": "https://migrationcenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.migrationcenter_v1#OutputFile": {
      "type": "structure",
      "members": {
        "xlsxOutputFile": {
          "target": "com.gcp.migrationcenter_v1#XlsxOutputFile",
          "traits": {
            "smithy.api#documentation": "Output only. XLSX output file."
          }
        },
        "fileSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File size in bytes."
          }
        },
        "csvOutputFile": {
          "target": "com.gcp.migrationcenter_v1#CsvOutputFile",
          "traits": {
            "smithy.api#documentation": "Output only. CSV output file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a single output file."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryVmwareNode": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A VMWare Engine Node"
      }
    },
    "com.gcp.migrationcenter_v1#PostgreSqlSetting": {
      "type": "structure",
      "members": {
        "realValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The setting real value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The setting string value. Notice that enum values are stored as strings."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The setting int value."
          }
        },
        "setting": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The setting name."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The setting unit."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. The setting boolean value."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The setting source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSql setting."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummary": {
      "type": "structure",
      "members": {
        "allAssetsStats": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryAssetAggregateStats",
          "traits": {
            "smithy.api#documentation": "Aggregate statistics for all the assets across all the groups."
          }
        },
        "groupFindings": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryGroupFindingList",
          "traits": {
            "smithy.api#documentation": "Findings for each Group included in this report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryGroupFindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#ReportSummaryGroupFinding"
      }
    },
    "com.gcp.migrationcenter_v1#AggregationResultCount": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a count aggregation."
      }
    },
    "com.gcp.migrationcenter_v1#ListSourcesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "sources": {
          "target": "com.gcp.migrationcenter_v1#SourceList",
          "traits": {
            "smithy.api#documentation": "The list of sources."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing sources."
      }
    },
    "com.gcp.migrationcenter_v1#SourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#Source"
      }
    },
    "com.gcp.migrationcenter_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1#AssetsExportJob": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobExportCondition",
          "traits": {
            "smithy.api#documentation": "Optional. Conditions for selecting assets to export."
          }
        },
        "showHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
          }
        },
        "performanceData": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobPerformanceData",
          "traits": {
            "smithy.api#documentation": "Export asset with performance data."
          }
        },
        "recentExecutions": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobExecutionList",
          "traits": {
            "smithy.api#documentation": "Output only. Recent non expired executions of the job."
          }
        },
        "signedUriDestination": {
          "target": "com.gcp.migrationcenter_v1#SignedUriDestination",
          "traits": {
            "smithy.api#documentation": "Export to Cloud Storage files downloadable using signed URIs."
          }
        },
        "inventory": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobInventory",
          "traits": {
            "smithy.api#documentation": "Export asset inventory details."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Resource name."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource update time."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource creation time."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
          }
        },
        "networkDependencies": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobNetworkDependencies",
          "traits": {
            "smithy.api#documentation": "Export data regarding asset network dependencies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Assets export job message."
      }
    },
    "com.gcp.migrationcenter_v1#AssetsExportJobExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#AssetsExportJobExecution"
      }
    },
    "com.gcp.migrationcenter_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1#SqlServerSchemaDetails": {
      "type": "structure",
      "members": {
        "clrObjectCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. SqlServer number of CLR objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a SqlServer database."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummarySoleTenantNodeAllocation": {
      "type": "structure",
      "members": {
        "nodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of this node type to be provisioned"
          }
        },
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of assets allocated to these nodes"
          }
        },
        "node": {
          "target": "com.gcp.migrationcenter_v1#SoleTenantNodeType",
          "traits": {
            "smithy.api#documentation": "Sole Tenant node type, e.g. \"m3-node-128-3904\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the assets allocated to a specific Sole-Tenant node type."
      }
    },
    "com.gcp.migrationcenter_v1#RunImportJobRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to run an import job."
      }
    },
    "com.gcp.migrationcenter_v1#AssetsExportJobInventory": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for asset inventory details exports."
      }
    },
    "com.gcp.migrationcenter_v1#MigrationInsight": {
      "type": "structure",
      "members": {
        "fit": {
          "target": "com.gcp.migrationcenter_v1#FitDescriptor",
          "traits": {
            "smithy.api#documentation": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
          }
        },
        "computeEngineTarget": {
          "target": "com.gcp.migrationcenter_v1#ComputeEngineMigrationTarget",
          "traits": {
            "smithy.api#documentation": "Output only. A Google Compute Engine target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An insight about potential migrations for an asset."
      }
    },
    "com.gcp.migrationcenter_v1#MysqlDatabaseDeployment": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.migrationcenter_v1#MySqlPropertyList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql properties."
          }
        },
        "plugins": {
          "target": "com.gcp.migrationcenter_v1#MySqlPluginList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql plugins."
          }
        },
        "resourceGroupsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of resource groups."
          }
        },
        "variables": {
          "target": "com.gcp.migrationcenter_v1#MySqlVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql variables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a Mysql database deployment."
      }
    },
    "com.gcp.migrationcenter_v1#MySqlPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#MySqlProperty"
      }
    },
    "com.gcp.migrationcenter_v1#MySqlPluginList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#MySqlPlugin"
      }
    },
    "com.gcp.migrationcenter_v1#MySqlVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#MySqlVariable"
      }
    },
    "com.gcp.migrationcenter_v1#AggregationResultHistogramBucket": {
      "type": "structure",
      "members": {
        "lowerBound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound - inclusive."
          }
        },
        "upperBound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Upper bound - exclusive."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of items in the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
      }
    },
    "com.gcp.migrationcenter_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.migrationcenter_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.migrationcenter_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.migrationcenter_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.migrationcenter_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.migrationcenter_v1#SqlServerFeature": {
      "type": "structure",
      "members": {
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The feature name."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Field enabled is set when a feature is used on the source deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Server feature details."
      }
    },
    "com.gcp.migrationcenter_v1#MySqlPlugin": {
      "type": "structure",
      "members": {
        "plugin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The plugin name."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The plugin version."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. The plugin is active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySql plugin."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseDeploymentTopology": {
      "type": "structure",
      "members": {
        "memoryLimitBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Total memory in bytes limited by db deployment."
          }
        },
        "physicalCoreLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of total physical cores limited by db deployment."
          }
        },
        "diskAllocatedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Disk allocated in bytes."
          }
        },
        "instances": {
          "target": "com.gcp.migrationcenter_v1#DatabaseInstanceList",
          "traits": {
            "smithy.api#documentation": "Optional. List of database instances."
          }
        },
        "coreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of total logical cores."
          }
        },
        "physicalCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of total physical cores."
          }
        },
        "memoryBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Total memory in bytes."
          }
        },
        "diskUsedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Disk used in bytes."
          }
        },
        "coreLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of total logical cores limited by db deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of database deployment's topology."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#DatabaseInstance"
      }
    },
    "com.gcp.migrationcenter_v1#ImportRowError": {
      "type": "structure",
      "members": {
        "vmUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM UUID."
          }
        },
        "errors": {
          "target": "com.gcp.migrationcenter_v1#ImportErrorList",
          "traits": {
            "smithy.api#documentation": "The list of errors detected in the row."
          }
        },
        "csvError": {
          "target": "com.gcp.migrationcenter_v1#ImportRowErrorCsvErrorDetails",
          "traits": {
            "smithy.api#documentation": "Error details for a CSV file."
          }
        },
        "rowNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The row number where the error was detected."
          }
        },
        "archiveError": {
          "target": "com.gcp.migrationcenter_v1#ImportRowErrorArchiveErrorDetails",
          "traits": {
            "smithy.api#documentation": "Error details for an archive file."
          }
        },
        "xlsxError": {
          "target": "com.gcp.migrationcenter_v1#ImportRowErrorXlsxErrorDetails",
          "traits": {
            "smithy.api#documentation": "Error details for an XLSX file."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VM in the row."
          }
        },
        "assetTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The asset title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that reports the import job errors at row level."
      }
    },
    "com.gcp.migrationcenter_v1#ImportErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#ImportError"
      }
    },
    "com.gcp.migrationcenter_v1#OutputFileList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#OutputFileList_",
          "traits": {
            "smithy.api#documentation": "Output only. List of output files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of output files."
      }
    },
    "com.gcp.migrationcenter_v1#OutputFileList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#OutputFile"
      }
    },
    "com.gcp.migrationcenter_v1#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.gcp.migrationcenter_v1#GroupList",
          "traits": {
            "smithy.api#documentation": "The list of Group"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing groups."
      }
    },
    "com.gcp.migrationcenter_v1#GroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#Group"
      }
    },
    "com.gcp.migrationcenter_v1#VirtualMachinePreferences": {
      "type": "structure",
      "members": {
        "regionPreferences": {
          "target": "com.gcp.migrationcenter_v1#RegionPreferences",
          "traits": {
            "smithy.api#documentation": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with."
          }
        },
        "targetProduct": {
          "target": "com.gcp.migrationcenter_v1#VirtualMachinePreferencesTargetProductEnum",
          "traits": {
            "smithy.api#documentation": "Target product for assets using this preference set. Specify either target product or business goal, but not both."
          }
        },
        "soleTenancyPreferences": {
          "target": "com.gcp.migrationcenter_v1#SoleTenancyPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences concerning Sole Tenant nodes and virtual machines."
          }
        },
        "sizingOptimizationStrategy": {
          "target": "com.gcp.migrationcenter_v1#VirtualMachinePreferencesSizingOptimizationStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with."
          }
        },
        "vmwareEnginePreferences": {
          "target": "com.gcp.migrationcenter_v1#VmwareEnginePreferences",
          "traits": {
            "smithy.api#documentation": "Preferences concerning insights and recommendations for Google Cloud VMware Engine."
          }
        },
        "commitmentPlan": {
          "target": "com.gcp.migrationcenter_v1#VirtualMachinePreferencesCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
          }
        },
        "computeEnginePreferences": {
          "target": "com.gcp.migrationcenter_v1#ComputeEnginePreferences",
          "traits": {
            "smithy.api#documentation": "Compute Engine preferences concern insights and recommendations for Compute Engine target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets."
      }
    },
    "com.gcp.migrationcenter_v1#VirtualMachinePreferencesTargetProductEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#VirtualMachinePreferencesSizingOptimizationStrategyEnum": {
      "type": "enum",
      "members": {
        "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_MODERATE"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#VirtualMachinePreferencesCommitmentPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "COMMITMENT_PLAN_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_NONE"
          }
        },
        "COMMITMENT_PLAN_ONE_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_ONE_YEAR"
          }
        },
        "COMMITMENT_PLAN_THREE_YEARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_THREE_YEARS"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#CascadeLogicalDBsRule": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Cascading rule for related logical DBs."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseInstance": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.gcp.migrationcenter_v1#DatabaseInstanceRoleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The instance role in the database engine."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance's name."
          }
        },
        "network": {
          "target": "com.gcp.migrationcenter_v1#DatabaseInstanceNetwork",
          "traits": {
            "smithy.api#documentation": "Optional. Networking details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a database instance."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseInstanceRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        },
        "ARBITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARBITER"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#PostgreSqlDatabaseDeployment": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.gcp.migrationcenter_v1#PostgreSqlSettingList",
          "traits": {
            "smithy.api#documentation": "Optional. List of PostgreSql settings."
          }
        },
        "properties": {
          "target": "com.gcp.migrationcenter_v1#PostgreSqlPropertyList",
          "traits": {
            "smithy.api#documentation": "Optional. List of PostgreSql properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a PostgreSQL database deployment."
      }
    },
    "com.gcp.migrationcenter_v1#PostgreSqlSettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#PostgreSqlSetting"
      }
    },
    "com.gcp.migrationcenter_v1#PostgreSqlPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#PostgreSqlProperty"
      }
    },
    "com.gcp.migrationcenter_v1#SqlServerTraceFlag": {
      "type": "structure",
      "members": {
        "traceFlagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The trace flag name."
          }
        },
        "scope": {
          "target": "com.gcp.migrationcenter_v1#SqlServerTraceFlagScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The trace flag scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Server trace flag details."
      }
    },
    "com.gcp.migrationcenter_v1#SqlServerTraceFlagScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#AssetPerformanceData": {
      "type": "structure",
      "members": {
        "dailyResourceUsageAggregations": {
          "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationList",
          "traits": {
            "smithy.api#documentation": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Performance data for an asset."
      }
    },
    "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregation"
      }
    },
    "com.gcp.migrationcenter_v1#SignedUriDestination": {
      "type": "structure",
      "members": {
        "fileFormat": {
          "target": "com.gcp.migrationcenter_v1#SignedUriDestinationFileFormatEnum",
          "traits": {
            "smithy.api#documentation": "Required. The file format to export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed URI destination configuration."
      }
    },
    "com.gcp.migrationcenter_v1#SignedUriDestinationFileFormatEnum": {
      "type": "enum",
      "members": {
        "FILE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_UNSPECIFIED"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLSX"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#AzureVmPlatformDetails": {
      "type": "structure",
      "members": {
        "machineTypeLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure platform's machine type label."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the machine in the Azure format."
          }
        },
        "hyperthreading": {
          "target": "com.gcp.migrationcenter_v1#AzureVmPlatformDetailsHyperthreadingEnum",
          "traits": {
            "smithy.api#documentation": "Whether the machine is hyperthreaded."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure platform's provisioning state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure VM specific details."
      }
    },
    "com.gcp.migrationcenter_v1#AzureVmPlatformDetailsHyperthreadingEnum": {
      "type": "enum",
      "members": {
        "HYPERTHREADING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_UNSPECIFIED"
          }
        },
        "HYPERTHREADING_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_DISABLED"
          }
        },
        "HYPERTHREADING_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_ENABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#PostgreSqlProperty": {
      "type": "structure",
      "members": {
        "numericValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The property numeric value."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. The property is enabled."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The property name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSql property."
      }
    },
    "com.gcp.migrationcenter_v1#RunningProcess": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.migrationcenter_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Process extended attributes."
          }
        },
        "pid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process ID."
          }
        },
        "cmdline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process full command line."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User running the process."
          }
        },
        "exePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process binary path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest OS running process details."
      }
    },
    "com.gcp.migrationcenter_v1#AwsRds": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Specific details for an AWS RDS database deployment."
      }
    },
    "com.gcp.migrationcenter_v1#XlsxOutputFile": {
      "type": "structure",
      "members": {
        "signedUri": {
          "target": "com.gcp.migrationcenter_v1#SignedUri",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URI destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a single output file of type XLSX."
      }
    },
    "com.gcp.migrationcenter_v1#HostsEntry": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP (raw, IPv4/6 agnostic)."
          }
        },
        "hostNames": {
          "target": "com.gcp.migrationcenter_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of host names / aliases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single /etc/hosts entry."
      }
    },
    "com.gcp.migrationcenter_v1#AssetsExportJobExecution": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Globally unique identifier of the execution."
          }
        },
        "result": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobExecutionResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of the export execution."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Execution timestamp."
          }
        },
        "requestedAssetCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of assets requested for export after resolving the requested filters."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Expiration time for the export and artifacts."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Completion time of the export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution status of assets export job."
      }
    },
    "com.gcp.migrationcenter_v1#Migrationcenter_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.migrationcenter_v1#SqlServerServerFlag": {
      "type": "structure",
      "members": {
        "valueInUse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
          }
        },
        "serverFlagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag value set by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Server server flag details."
      }
    },
    "com.gcp.migrationcenter_v1#AggregateAssetsValuesRequest": {
      "type": "structure",
      "members": {
        "aggregations": {
          "target": "com.gcp.migrationcenter_v1#AggregationList",
          "traits": {
            "smithy.api#documentation": "Array of aggregations to perform. Up to 25 aggregations can be defined."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The aggregation will be performed on assets that match the provided filter."
          }
        },
        "showHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to aggregate one or more values."
      }
    },
    "com.gcp.migrationcenter_v1#AggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#Aggregation"
      }
    },
    "com.gcp.migrationcenter_v1#GenericPlatformDetails": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field."
          }
        },
        "hyperthreading": {
          "target": "com.gcp.migrationcenter_v1#GenericPlatformDetailsHyperthreadingEnum",
          "traits": {
            "smithy.api#documentation": "Whether the machine is hyperthreaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic platform details."
      }
    },
    "com.gcp.migrationcenter_v1#GenericPlatformDetailsHyperthreadingEnum": {
      "type": "enum",
      "members": {
        "HYPERTHREADING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_UNSPECIFIED"
          }
        },
        "HYPERTHREADING_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_DISABLED"
          }
        },
        "HYPERTHREADING_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_ENABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#ComputeEngineMigrationTarget": {
      "type": "structure",
      "members": {
        "shape": {
          "target": "com.gcp.migrationcenter_v1#ComputeEngineShapeDescriptor",
          "traits": {
            "smithy.api#documentation": "Description of the suggested shape for the migration target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute engine migration target."
      }
    },
    "com.gcp.migrationcenter_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.migrationcenter_v1#MachineDiskDetails": {
      "type": "structure",
      "members": {
        "totalFreeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total disk free space."
          }
        },
        "disks": {
          "target": "com.gcp.migrationcenter_v1#DiskEntryList",
          "traits": {
            "smithy.api#documentation": "List of disks."
          }
        },
        "totalCapacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk total Capacity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of machine disks."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryAssetAggregateStats": {
      "type": "structure",
      "members": {
        "totalStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sum of persistent storage in bytes of all the assets in this collection."
          }
        },
        "storageUtilizationChart": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryUtilizationChartData",
          "traits": {
            "smithy.api#documentation": "Total memory split into Used/Free buckets."
          }
        },
        "coreCountHistogram": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryHistogramChartData",
          "traits": {
            "smithy.api#documentation": "Histogram showing a distribution of logical CPU core counts."
          }
        },
        "storageBytesHistogram": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryHistogramChartData",
          "traits": {
            "smithy.api#documentation": "Histogram showing a distribution of storage sizes."
          }
        },
        "memoryUtilizationChart": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryUtilizationChartData",
          "traits": {
            "smithy.api#documentation": "Total memory split into Used/Free buckets."
          }
        },
        "totalMemoryBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sum of the memory in bytes of all the assets in this collection."
          }
        },
        "softwareInstances": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryChartData",
          "traits": {
            "smithy.api#documentation": "Output only. Count of assets grouped by software name. Only present for virtual machines."
          }
        },
        "totalCores": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sum of the CPU core count of all the assets in this collection."
          }
        },
        "operatingSystem": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryChartData",
          "traits": {
            "smithy.api#documentation": "Count of assets grouped by Operating System families."
          }
        },
        "memoryBytesHistogram": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryHistogramChartData",
          "traits": {
            "smithy.api#documentation": "Histogram showing a distribution of memory sizes."
          }
        },
        "totalAssets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of the number of unique assets in this collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregate statistics for a collection of assets."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseSchema": {
      "type": "structure",
      "members": {
        "sqlServer": {
          "target": "com.gcp.migrationcenter_v1#SqlServerSchemaDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Details of a SqlServer schema."
          }
        },
        "postgresql": {
          "target": "com.gcp.migrationcenter_v1#PostgreSqlSchemaDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Details of a PostgreSql schema."
          }
        },
        "objects": {
          "target": "com.gcp.migrationcenter_v1#DatabaseObjectsList",
          "traits": {
            "smithy.api#documentation": "Optional. List of details of objects by category."
          }
        },
        "tablesSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The total size of tables in bytes."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the schema."
          }
        },
        "mysql": {
          "target": "com.gcp.migrationcenter_v1#MySqlSchemaDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Details of a Mysql schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a database schema."
      }
    },
    "com.gcp.migrationcenter_v1#DatabaseObjectsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#DatabaseObjects"
      }
    },
    "com.gcp.migrationcenter_v1#AggregationCount": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Object count."
      }
    },
    "com.gcp.migrationcenter_v1#ExecutionReport": {
      "type": "structure",
      "members": {
        "executionErrors": {
          "target": "com.gcp.migrationcenter_v1#ValidationReport",
          "traits": {
            "smithy.api#documentation": "Validation errors encountered during the execution of the import job."
          }
        },
        "totalRowsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of rows in the import job."
          }
        },
        "framesReported": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of asset frames reported for the import job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that reports result of the import job execution."
      }
    },
    "com.gcp.migrationcenter_v1#BatchUpdateAssetsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.migrationcenter_v1#UpdateAssetRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update a list of assets."
      }
    },
    "com.gcp.migrationcenter_v1#UpdateAssetRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#UpdateAssetRequest"
      }
    },
    "com.gcp.migrationcenter_v1#AssetsExportJobExportCondition": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Assets filter, supports the same syntax as asset listing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conditions for selecting assets to export."
      }
    },
    "com.gcp.migrationcenter_v1#ValidateImportJobRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to validate an import job."
      }
    },
    "com.gcp.migrationcenter_v1#DiscoveryClient": {
      "type": "structure",
      "members": {
        "signalsEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field is intended for internal use."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the discovery client was first created."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "heartbeatTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free text display name. Maximum length is 63 characters."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1#DiscoveryClientStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the discovery client."
          }
        },
        "errors": {
          "target": "com.gcp.migrationcenter_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors affecting client functionality."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Full name of the source object associated with this discovery client."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service account used by the discovery client for various operation."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free text description. Maximum length is 1000 characters."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Client version, as reported in recent heartbeat."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Full name of this discovery client."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an installed Migration Center Discovery Client instance."
      }
    },
    "com.gcp.migrationcenter_v1#DiscoveryClientStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#Status"
      }
    },
    "com.gcp.migrationcenter_v1#RunningService": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.migrationcenter_v1#RunningServiceStateEnum",
          "traits": {
            "smithy.api#documentation": "Service state (OS-agnostic)."
          }
        },
        "pid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service pid."
          }
        },
        "cmdline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service command line."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name."
          }
        },
        "exePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service binary path."
          }
        },
        "startMode": {
          "target": "com.gcp.migrationcenter_v1#RunningServiceStartModeEnum",
          "traits": {
            "smithy.api#documentation": "Service start mode (OS-agnostic)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest OS running service details."
      }
    },
    "com.gcp.migrationcenter_v1#RunningServiceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#RunningServiceStartModeEnum": {
      "type": "enum",
      "members": {
        "START_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_MODE_UNSPECIFIED"
          }
        },
        "BOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#ImportJob": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was created."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was completed."
          }
        },
        "validationReport": {
          "target": "com.gcp.migrationcenter_v1#ValidationReport",
          "traits": {
            "smithy.api#documentation": "Output only. The report with the validation results of the import job."
          }
        },
        "executionReport": {
          "target": "com.gcp.migrationcenter_v1#ExecutionReport",
          "traits": {
            "smithy.api#documentation": "Output only. The report with the results of running the import job."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-friendly display name. Maximum length is 256 characters."
          }
        },
        "assetSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Reference to a source."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the import job."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1#ImportJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the import job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents the background job that imports asset frames."
      }
    },
    "com.gcp.migrationcenter_v1#ImportJobStateEnum": {
      "type": "enum",
      "members": {
        "IMPORT_JOB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_UNSPECIFIED"
          }
        },
        "IMPORT_JOB_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_PENDING"
          }
        },
        "IMPORT_JOB_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_RUNNING"
          }
        },
        "IMPORT_JOB_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_COMPLETED"
          }
        },
        "IMPORT_JOB_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_FAILED"
          }
        },
        "IMPORT_JOB_STATE_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_VALIDATING"
          }
        },
        "IMPORT_JOB_STATE_FAILED_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_FAILED_VALIDATION"
          }
        },
        "IMPORT_JOB_STATE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_READY"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#DiskEntryList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#DiskEntryList_",
          "traits": {
            "smithy.api#documentation": "Disk entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM disks."
      }
    },
    "com.gcp.migrationcenter_v1#DiskEntryList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#DiskEntry"
      }
    },
    "com.gcp.migrationcenter_v1#MySqlVariable": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The variable value."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The variable category."
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The variable name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySql variable."
      }
    },
    "com.gcp.migrationcenter_v1#ComputeEnginePreferences": {
      "type": "structure",
      "members": {
        "persistentDiskType": {
          "target": "com.gcp.migrationcenter_v1#ComputeEnginePreferencesPersistentDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data."
          }
        },
        "machinePreferences": {
          "target": "com.gcp.migrationcenter_v1#MachinePreferences",
          "traits": {
            "smithy.api#documentation": "Preferences concerning the machine types to consider on Compute Engine."
          }
        },
        "licenseType": {
          "target": "com.gcp.migrationcenter_v1#ComputeEnginePreferencesLicenseTypeEnum",
          "traits": {
            "smithy.api#documentation": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user preferences relating to Compute Engine target platform."
      }
    },
    "com.gcp.migrationcenter_v1#ComputeEnginePreferencesPersistentDiskTypeEnum": {
      "type": "enum",
      "members": {
        "PERSISTENT_DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_UNSPECIFIED"
          }
        },
        "PERSISTENT_DISK_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_STANDARD"
          }
        },
        "PERSISTENT_DISK_TYPE_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_BALANCED"
          }
        },
        "PERSISTENT_DISK_TYPE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_SSD"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#ComputeEnginePreferencesLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "LICENSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_TYPE_UNSPECIFIED"
          }
        },
        "LICENSE_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_TYPE_DEFAULT"
          }
        },
        "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#FrameViolationEntry": {
      "type": "structure",
      "members": {
        "violation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message describing the violation."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field of the original frame where the violation occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that contains a single violation of a reported `AssetFrame` resource."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryVmwareEngineFinding": {
      "type": "structure",
      "members": {
        "allocatedRegions": {
          "target": "com.gcp.migrationcenter_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Set of regions in which the assets were allocated"
          }
        },
        "nodeAllocations": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryVmwareNodeAllocationList",
          "traits": {
            "smithy.api#documentation": "Set of per-nodetype allocation records"
          }
        },
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of assets which are allocated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of findings that applies to assets destined for VMWare Engine."
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryVmwareNodeAllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#ReportSummaryVmwareNodeAllocation"
      }
    },
    "com.gcp.migrationcenter_v1#ImportRowErrorArchiveErrorDetails": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The file path inside the archive where the error was detected."
          }
        },
        "csvError": {
          "target": "com.gcp.migrationcenter_v1#ImportRowErrorCsvErrorDetails",
          "traits": {
            "smithy.api#documentation": "Error details for a CSV file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details for an archive file."
      }
    },
    "com.gcp.migrationcenter_v1#NfsExport": {
      "type": "structure",
      "members": {
        "hosts": {
          "target": "com.gcp.migrationcenter_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The hosts or networks to which the export is being shared."
          }
        },
        "exportDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The directory being exported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NFS export."
      }
    },
    "com.gcp.migrationcenter_v1#NetworkAdapterList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#NetworkAdapterDetailsList",
          "traits": {
            "smithy.api#documentation": "Network adapter entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of network adapters."
      }
    },
    "com.gcp.migrationcenter_v1#NetworkAdapterDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#NetworkAdapterDetails"
      }
    },
    "com.gcp.migrationcenter_v1#NetworkConnectionList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#NetworkConnectionList_",
          "traits": {
            "smithy.api#documentation": "Network connection entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network connection list."
      }
    },
    "com.gcp.migrationcenter_v1#NetworkConnectionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#NetworkConnection"
      }
    },
    "com.gcp.migrationcenter_v1#DailyResourceUsageAggregation": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.gcp.migrationcenter_v1#Migrationcenter_Date",
          "traits": {
            "smithy.api#documentation": "Aggregation date. Day boundaries are at midnight UTC."
          }
        },
        "disk": {
          "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationDisk",
          "traits": {
            "smithy.api#documentation": "Disk usage."
          }
        },
        "cpu": {
          "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationCPU",
          "traits": {
            "smithy.api#documentation": "CPU usage."
          }
        },
        "memory": {
          "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationMemory",
          "traits": {
            "smithy.api#documentation": "Memory usage."
          }
        },
        "network": {
          "target": "com.gcp.migrationcenter_v1#DailyResourceUsageAggregationNetwork",
          "traits": {
            "smithy.api#documentation": "Network usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage data aggregation for a single day."
      }
    },
    "com.gcp.migrationcenter_v1#GuestInstalledApplicationList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#GuestInstalledApplicationList_",
          "traits": {
            "smithy.api#documentation": "Application entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest installed application list."
      }
    },
    "com.gcp.migrationcenter_v1#GuestInstalledApplicationList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#GuestInstalledApplication"
      }
    },
    "com.gcp.migrationcenter_v1#SoleTenancyPreferences": {
      "type": "structure",
      "members": {
        "hostMaintenancePolicy": {
          "target": "com.gcp.migrationcenter_v1#SoleTenancyPreferencesHostMaintenancePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Sole Tenancy nodes maintenance policy."
          }
        },
        "nodeTypes": {
          "target": "com.gcp.migrationcenter_v1#SoleTenantNodeTypeList",
          "traits": {
            "smithy.api#documentation": "A list of sole tenant node types. An empty list means that all possible node types will be considered."
          }
        },
        "cpuOvercommitRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
          }
        },
        "commitmentPlan": {
          "target": "com.gcp.migrationcenter_v1#SoleTenancyPreferencesCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences concerning Sole Tenancy nodes and VMs."
      }
    },
    "com.gcp.migrationcenter_v1#SoleTenancyPreferencesHostMaintenancePolicyEnum": {
      "type": "enum",
      "members": {
        "HOST_MAINTENANCE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MAINTENANCE_POLICY_UNSPECIFIED"
          }
        },
        "HOST_MAINTENANCE_POLICY_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MAINTENANCE_POLICY_DEFAULT"
          }
        },
        "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE"
          }
        },
        "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#SoleTenantNodeTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#SoleTenantNodeType"
      }
    },
    "com.gcp.migrationcenter_v1#SoleTenancyPreferencesCommitmentPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "COMMITMENT_1_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_1_YEAR"
          }
        },
        "COMMITMENT_3_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_3_YEAR"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#Report": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1#ReportStateEnum",
          "traits": {
            "smithy.api#documentation": "Report creation state."
          }
        },
        "summary": {
          "target": "com.gcp.migrationcenter_v1#ReportSummary",
          "traits": {
            "smithy.api#documentation": "Output only. Summary view of the Report."
          }
        },
        "type": {
          "target": "com.gcp.migrationcenter_v1#ReportTypeEnum",
          "traits": {
            "smithy.api#documentation": "Report type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly display name. Maximum length is 63 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report represents a point-in-time rendering of the ReportConfig results."
      }
    },
    "com.gcp.migrationcenter_v1#ReportStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#ReportTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TOTAL_COST_OF_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTAL_COST_OF_OWNERSHIP"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#SendDiscoveryClientHeartbeatRequest": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.migrationcenter_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Optional. Errors affecting client functionality."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client application version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to send a discovery client heartbeat."
      }
    },
    "com.gcp.migrationcenter_v1#Insight": {
      "type": "structure",
      "members": {
        "migrationInsight": {
          "target": "com.gcp.migrationcenter_v1#MigrationInsight",
          "traits": {
            "smithy.api#documentation": "Output only. An insight about potential migrations for an asset."
          }
        },
        "genericInsight": {
          "target": "com.gcp.migrationcenter_v1#GenericInsight",
          "traits": {
            "smithy.api#documentation": "Output only. A generic insight about an asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An insight about an asset."
      }
    },
    "com.gcp.migrationcenter_v1#CpuUsageSample": {
      "type": "structure",
      "members": {
        "utilizedPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU usage sample."
      }
    },
    "com.gcp.migrationcenter_v1#SignedUri": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the file the Signed URI references."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Download URI for the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a signed URI."
      }
    },
    "com.gcp.migrationcenter_v1#NetworkAddressList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1#NetworkAddressList_",
          "traits": {
            "smithy.api#documentation": "Network address entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of allocated/assigned network addresses."
      }
    },
    "com.gcp.migrationcenter_v1#NetworkAddressList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#NetworkAddress"
      }
    },
    "com.gcp.migrationcenter_v1#ImportError": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.migrationcenter_v1#ImportErrorSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the error."
          }
        },
        "errorDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that reports the errors encountered while processing an import job."
      }
    },
    "com.gcp.migrationcenter_v1#ImportErrorSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#GuestOsDetails": {
      "type": "structure",
      "members": {
        "family": {
          "target": "com.gcp.migrationcenter_v1#GuestOsDetailsFamilyEnum",
          "traits": {
            "smithy.api#documentation": "What family the OS belong to, if known."
          }
        },
        "runtime": {
          "target": "com.gcp.migrationcenter_v1#GuestRuntimeDetails",
          "traits": {
            "smithy.api#documentation": "Runtime information."
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operating system."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the operating system."
          }
        },
        "config": {
          "target": "com.gcp.migrationcenter_v1#GuestConfigDetails",
          "traits": {
            "smithy.api#documentation": "OS and app configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information from Guest-level collections."
      }
    },
    "com.gcp.migrationcenter_v1#GuestOsDetailsFamilyEnum": {
      "type": "enum",
      "members": {
        "OS_FAMILY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FAMILY_UNKNOWN"
          }
        },
        "OS_FAMILY_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FAMILY_WINDOWS"
          }
        },
        "OS_FAMILY_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FAMILY_LINUX"
          }
        },
        "OS_FAMILY_UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FAMILY_UNIX"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#RunAssetsExportJobResponse": {
      "type": "structure",
      "members": {
        "assetsExportJobExecution": {
          "target": "com.gcp.migrationcenter_v1#AssetsExportJobExecution",
          "traits": {
            "smithy.api#documentation": "Output only. Execution status of the assets export operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for running an assets export job."
      }
    },
    "com.gcp.migrationcenter_v1#InsightList": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "insights": {
          "target": "com.gcp.migrationcenter_v1#InsightList_",
          "traits": {
            "smithy.api#documentation": "Output only. Insights of the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message containing insights list."
      }
    },
    "com.gcp.migrationcenter_v1#InsightList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1#Insight"
      }
    },
    "com.gcp.migrationcenter_v1#Source": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the source was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the source was last updated."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The information confidence of the source. The higher the value, the higher the confidence."
          }
        },
        "type": {
          "target": "com.gcp.migrationcenter_v1#SourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data source type."
          }
        },
        "managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the source is managed by other service(s)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the source."
          }
        },
        "pendingFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of frames that are still being processed."
          }
        },
        "errorFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of frames that were reported by the source and contained errors."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1#SourceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the source."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source represents an object from which asset information is streamed to Migration Center."
      }
    },
    "com.gcp.migrationcenter_v1#SourceTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNKNOWN"
          }
        },
        "SOURCE_TYPE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UPLOAD"
          }
        },
        "SOURCE_TYPE_GUEST_OS_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_GUEST_OS_SCAN"
          }
        },
        "SOURCE_TYPE_INVENTORY_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_INVENTORY_SCAN"
          }
        },
        "SOURCE_TYPE_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_CUSTOM"
          }
        },
        "SOURCE_TYPE_DISCOVERY_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_DISCOVERY_CLIENT"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#SourceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1#ReportSummaryGroupPreferenceSetFinding": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display Name of the Preference Set"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description for the Preference Set."
          }
        },
        "monthlyCostStorage": {
          "target": "com.gcp.migrationcenter_v1#Money",
          "traits": {
            "smithy.api#documentation": "Storage monthly cost for this preference set."
          }
        },
        "machinePreferences": {
          "target": "com.gcp.migrationcenter_v1#VirtualMachinePreferences",
          "traits": {
            "smithy.api#documentation": "A set of preferences that applies to all machines in the context."
          }
        },
        "monthlyCostOsLicense": {
          "target": "com.gcp.migrationcenter_v1#Money",
          "traits": {
            "smithy.api#documentation": "Licensing monthly cost for this preference set."
          }
        },
        "monthlyCostOther": {
          "target": "com.gcp.migrationcenter_v1#Money",
          "traits": {
            "smithy.api#documentation": "Miscellaneous monthly cost for this preference set."
          }
        },
        "monthlyCostNetworkEgress": {
          "target": "com.gcp.migrationcenter_v1#Money",
          "traits": {
            "smithy.api#documentation": "Network Egress monthly cost for this preference set."
          }
        },
        "vmwareEngineFinding": {
          "target": "com.gcp.migrationcenter_v1#ReportSummaryVmwareEngineFinding",
          "traits": {
[...]
