{
  "smithy": "2.0",
  "metadata": {
    "service": "ml",
    "version": "v1",
    "title": "AI Platform Training & Prediction API",
    "baseUrl": "https://ml.googleapis.com/"
  },
  "shapes": {
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Matches values of the parent parameter with type 'INTEGER'. All values must lie in `integer_value_spec` of parent parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the spec to match integer values from parent parameter."
      }
    },
    "com.gcp.ml_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpec": {
      "type": "structure",
      "members": {
        "integerValueSpec": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec",
          "traits": {
            "smithy.api#documentation": "The value spec for an 'INTEGER' parameter."
          }
        },
        "parentIntValues": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec"
        },
        "parentDiscreteValues": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec"
        },
        "childParameterSpecs": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecList",
          "traits": {
            "smithy.api#documentation": "A child node is active if the parameter's value matches the child node's matching_parent_values. If two items in child_parameter_specs have the same name, they must have disjoint matching_parent_values."
          }
        },
        "parameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parameter name must be unique amongst all ParameterSpecs."
          }
        },
        "type": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the parameter."
          }
        },
        "discreteValueSpec": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec",
          "traits": {
            "smithy.api#documentation": "The value spec for a 'DISCRETE' parameter."
          }
        },
        "scaleType": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecScaleTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the parameter should be scaled. Leave unset for categorical parameters."
          }
        },
        "doubleValueSpec": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec",
          "traits": {
            "smithy.api#documentation": "The value spec for a 'DOUBLE' parameter."
          }
        },
        "categoricalValueSpec": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec",
          "traits": {
            "smithy.api#documentation": "The value spec for a 'CATEGORICAL' parameter."
          }
        },
        "parentCategoricalValues": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single parameter to optimize."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpec"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecTypeEnum": {
      "type": "enum",
      "members": {
        "PARAMETER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_TYPE_UNSPECIFIED"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORICAL"
          }
        },
        "DISCRETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCRETE"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecScaleTypeEnum": {
      "type": "enum",
      "members": {
        "SCALE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE_TYPE_UNSPECIFIED"
          }
        },
        "UNIT_LINEAR_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_LINEAR_SCALE"
          }
        },
        "UNIT_LOG_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_LOG_SCALE"
          }
        },
        "UNIT_REVERSE_LOG_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_REVERSE_LOG_SCALE"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__SuggestTrialsResponse": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which operation processing completed."
          }
        },
        "studyState": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__SuggestTrialsResponseStudyStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the study."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation was started."
          }
        },
        "trials": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__TrialList",
          "traits": {
            "smithy.api#documentation": "A list of trials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message will be placed in the response field of a completed google.longrunning.Operation associated with a SuggestTrials request."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__SuggestTrialsResponseStudyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__TrialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__Trial"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__IntegratedGradientsAttribution": {
      "type": "structure",
      "members": {
        "numIntegralSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec": {
      "type": "structure",
      "members": {
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be specified if type is `DOUBLE`. Maximum value of the parameter."
          }
        },
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be specified if type is `DOUBLE`. Minimum value of the parameter."
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__StudyConfig": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__StudyConfigAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The search algorithm specified for the study."
          }
        },
        "metrics": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_MetricSpecList",
          "traits": {
            "smithy.api#documentation": "Metric specs for the study."
          }
        },
        "parameters": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_ParameterSpecList",
          "traits": {
            "smithy.api#documentation": "Required. The set of parameters to tune."
          }
        },
        "automatedStoppingConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__AutomatedStoppingConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for automated stopping of unpromising Trials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents configuration of a study."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__StudyConfigAlgorithmEnum": {
      "type": "enum",
      "members": {
        "ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALGORITHM_UNSPECIFIED"
          }
        },
        "GAUSSIAN_PROCESS_BANDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAUSSIAN_PROCESS_BANDIT"
          }
        },
        "GRID_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRID_SEARCH"
          }
        },
        "RANDOM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM_SEARCH"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_MetricSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfig_MetricSpec"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ExplanationConfig": {
      "type": "structure",
      "members": {
        "integratedGradientsAttribution": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__IntegratedGradientsAttribution",
          "traits": {
            "smithy.api#documentation": "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
          }
        },
        "xraiAttribution": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__XraiAttribution",
          "traits": {
            "smithy.api#documentation": "Attributes credit by computing the XRAI taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Currently only implemented for models with natural image inputs."
          }
        },
        "sampledShapleyAttribution": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__SampledShapleyAttribution",
          "traits": {
            "smithy.api#documentation": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message holding configuration options for explaining model predictions. There are three feature attribution methods supported for TensorFlow models: integrated gradients, sampled Shapley, and XRAI. [Learn more about feature attributions.](/ai-platform/prediction/docs/ai-explanations/overview)"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ExplainRequest": {
      "type": "structure",
      "members": {
        "httpBody": {
          "target": "com.gcp.ml_v1#GoogleApi__HttpBody",
          "traits": {
            "smithy.api#documentation": "Required. The explanation request body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for explanations to be issued against a trained model."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterOutput": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time for the trial."
          }
        },
        "hyperparameters": {
          "target": "com.gcp.ml_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The hyperparameters given to this trial."
          }
        },
        "builtInAlgorithmOutput": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__BuiltInAlgorithmOutput",
          "traits": {
            "smithy.api#documentation": "Details related to built-in algorithms jobs. Only set for trials of built-in algorithms jobs that have succeeded."
          }
        },
        "state": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterOutputStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The detailed state of the trial."
          }
        },
        "trialId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trial id for these results."
          }
        },
        "finalMetric": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
          "traits": {
            "smithy.api#documentation": "The final objective metric seen for this trial."
          }
        },
        "isTrialStoppedEarly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the trial is stopped early."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time for the trial."
          }
        },
        "webAccessUris": {
          "target": "com.gcp.ml_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "URIs for accessing [interactive shells](https://cloud.google.com/ai-platform/training/docs/monitor-debug-interactive-shell) (one URI for each training node). Only available if this trial is part of a hyperparameter tuning job and the job's training_input.enable_web_access is `true`. The keys are names of each node in the training job; for example, `master-replica-0` for the master node, `worker-replica-0` for the first worker, and `ps-replica-0` for the first parameter server. The values are the URIs for each node's interactive shell."
          }
        },
        "allMetrics": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetricList",
          "traits": {
            "smithy.api#documentation": "All recorded object metrics for this trial. This field is not currently populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the result of a single hyperparameter tuning trial from a training job. The TrainingOutput object that is returned on successful completion of a training job with hyperparameter tuning includes a list of HyperparameterOutput objects, one for each successful trial."
      }
    },
    "com.gcp.ml_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterOutputStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ListOptimalTrialsResponse": {
      "type": "structure",
      "members": {
        "trials": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__TrialList",
          "traits": {
            "smithy.api#documentation": "The pareto-optimal trials for multiple objective study or the optimal trial for single objective study. The definition of pareto-optimal can be checked in wiki page. https://en.wikipedia.org/wiki/Pareto_efficiency"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListOptimalTrials method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__RouteMap": {
      "type": "structure",
      "members": {
        "predict": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path on the container to send prediction requests to. AI Platform Prediction forwards requests sent using projects.predict to this path on the container's IP address and port. AI Platform Prediction then returns the container's response in the API response. For example, if you set this field to `/foo`, then when AI Platform Prediction receives a prediction request, it forwards the request body in a POST request to the `/foo` path on the port of your container specified by the first value of Version.container.ports. If you don't specify this field, it defaults to the following value: /v1/models/MODEL/versions/VERSION:predict The placeholders in this value are replaced as follows: * MODEL: The name of the parent Model. This does not include the \"projects/PROJECT_ID/models/\" prefix that the API returns in output; it is the bare model name, as provided to projects.models.create. * VERSION: The name of the model version. This does not include the \"projects/PROJECT_ID/models/MODEL/versions/\" prefix that the API returns in output; it is the bare version name, as provided to projects.models.versions.create."
          }
        },
        "health": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path on the container to send health checkss to. AI Platform Prediction intermittently sends GET requests to this path on the container's IP address and port to check that the container is healthy. Read more about [health checks](/ai-platform/prediction/docs/custom-container-requirements#checks). For example, if you set this field to `/bar`, then AI Platform Prediction intermittently sends a GET request to the `/bar` path on the port of your container specified by the first value of Version.container.ports. If you don't specify this field, it defaults to the following value: /v1/models/ MODEL/versions/VERSION The placeholders in this value are replaced as follows: * MODEL: The name of the parent Model. This does not include the \"projects/PROJECT_ID/models/\" prefix that the API returns in output; it is the bare model name, as provided to projects.models.create. * VERSION: The name of the model version. This does not include the \"projects/PROJECT_ID /models/MODEL/versions/\" prefix that the API returns in output; it is the bare version name, as provided to projects.models.versions.create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies HTTP paths served by a custom container. AI Platform Prediction sends requests to these paths on the container; the custom container must run an HTTP server that responds to these requests with appropriate responses. Read [Custom container requirements](/ai-platform/prediction/docs/custom-container-requirements) for details on how to create your container image to meet these requirements."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__Study": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__StudyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The detailed state of a study."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the study was created."
          }
        },
        "inactiveReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human readable reason why the Study is inactive. This should be empty if a study is ACTIVE or COMPLETED."
          }
        },
        "studyConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__StudyConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration of the study."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of a study."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a Study."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__StudyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleApi__HttpBody": {
      "type": "structure",
      "members": {
        "extensions": {
          "target": "com.gcp.ml_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.ml_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ml_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#DocumentMap"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__Measurement": {
      "type": "structure",
      "members": {
        "stepCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of steps a machine learning model has been trained for. Must be non-negative."
          }
        },
        "elapsedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the trial has been running at the point of this measurement."
          }
        },
        "metrics": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_Measurement_MetricList",
          "traits": {
            "smithy.api#documentation": "Provides a list of metrics that act as inputs into the objective function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a measurement."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_Measurement_MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1_Measurement_Metric"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ListStudiesResponse": {
      "type": "structure",
      "members": {
        "studies": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__StudyList",
          "traits": {
            "smithy.api#documentation": "The studies associated with the project."
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__StudyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__Study"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_Trial_Parameter": {
      "type": "structure",
      "members": {
        "floatValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be set if ParameterType is DOUBLE or DISCRETE."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be set if ParameterType is INTEGER"
          }
        },
        "parameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be set if ParameterTypeis CATEGORICAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a parameter to be tuned. Contains the name of the parameter and the suggested value to use for this trial."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpec": {
      "type": "structure",
      "members": {
        "enableTrialEarlyStopping": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the hyperparameter tuning job enables auto trial early stopping."
          }
        },
        "maxParallelTrials": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of training trials to run concurrently. You can reduce the time it takes to perform hyperparameter tuning by adding trials in parallel. However, each trail only benefits from the information gained in completed trials. That means that a trial does not get access to the results of trials running at the same time, which could reduce the quality of the overall optimization. Each trial will use the same scale tier and machine types. Defaults to one."
          }
        },
        "maxTrials": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. How many training trials should be attempted to optimize the specified hyperparameters. Defaults to one."
          }
        },
        "goal": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpecGoalEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of goal to use for tuning. Available types are `MAXIMIZE` and `MINIMIZE`. Defaults to `MAXIMIZE`."
          }
        },
        "params": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecList",
          "traits": {
            "smithy.api#documentation": "Required. The set of parameters to tune."
          }
        },
        "algorithm": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpecAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The search algorithm specified for the hyperparameter tuning job. Uses the default AI Platform hyperparameter tuning algorithm if unspecified."
          }
        },
        "resumePreviousJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The prior hyperparameter tuning job id that users hope to continue with. The job id will be used to find the corresponding vizier study guid and resume the study."
          }
        },
        "hyperparameterMetricTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The TensorFlow summary tag name to use for optimizing trials. For current versions of TensorFlow, this tag name should exactly match what is shown in TensorBoard, including all scopes. For versions of TensorFlow prior to 0.12, this should be only the tag passed to tf.Summary. By default, \"training/hptuning/metric\" will be used."
          }
        },
        "maxFailedTrials": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of failed trials that need to be seen before failing the hyperparameter tuning job. You can specify this field to override the default failing criteria for AI Platform hyperparameter tuning jobs. Defaults to zero, which means the service decides when a hyperparameter job should fail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a set of hyperparameters to optimize."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpecGoalEnum": {
      "type": "enum",
      "members": {
        "GOAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOAL_TYPE_UNSPECIFIED"
          }
        },
        "MAXIMIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMIZE"
          }
        },
        "MINIMIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMIZE"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpec"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpecAlgorithmEnum": {
      "type": "enum",
      "members": {
        "ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALGORITHM_UNSPECIFIED"
          }
        },
        "GRID_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRID_SEARCH"
          }
        },
        "RANDOM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM_SEARCH"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__Trial": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the client that originally requested this trial."
          }
        },
        "trialInfeasible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the parameters in this trial are not attempted again."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the trial was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the trial assigned by the service."
          }
        },
        "parameters": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_Trial_ParameterList",
          "traits": {
            "smithy.api#documentation": "The parameters of the trial."
          }
        },
        "state": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__TrialStateEnum",
          "traits": {
            "smithy.api#documentation": "The detailed state of a trial."
          }
        },
        "infeasibleReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human readable string describing why the trial is infeasible. This should only be set if trial_infeasible is true."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the trial's status changed to COMPLETED."
          }
        },
        "finalMeasurement": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__Measurement",
          "traits": {
            "smithy.api#documentation": "The final measurement containing the objective value."
          }
        },
        "measurements": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__MeasurementList",
          "traits": {
            "smithy.api#documentation": "A list of measurements that are strictly lexicographically ordered by their induced tuples (steps, elapsed_time). These are used for early stopping computations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a trial."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_Trial_ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1_Trial_Parameter"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__TrialStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUESTED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__MeasurementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__Measurement"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ContainerPort": {
      "type": "structure",
      "members": {
        "containerPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of the port to expose on the container. This must be a valid port number: 0 < PORT_NUMBER < 65536."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a network port in a single container. This message is a subset of the [Kubernetes ContainerPort v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core)."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__SampledShapleyAttribution": {
      "type": "structure",
      "members": {
        "numPaths": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of feature permutations to consider when approximating the Shapley values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__SuggestTrialsMetadata": {
      "type": "structure",
      "members": {
        "study": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the study that the trial belongs to."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the client that is requesting the suggestion."
          }
        },
        "suggestionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of suggestions requested."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time operation was submitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata field of a google.longrunning.Operation associated with a SuggestTrialsRequest."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__CompleteTrialRequest": {
      "type": "structure",
      "members": {
        "finalMeasurement": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__Measurement",
          "traits": {
            "smithy.api#documentation": "Optional. If provided, it will be used as the completed trial's final_measurement; Otherwise, the service will auto-select a previously reported measurement as the final-measurement"
          }
        },
        "trialInfeasible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if the trial cannot be run with the given Parameter, and final_measurement will be ignored."
          }
        },
        "infeasibleReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human readable reason why the trial was infeasible. This should only be provided if `trial_infeasible` is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the CompleteTrial service method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig": {
      "type": "structure",
      "members": {
        "useElapsedTime": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the median automated stopping rule applies to measurement.use_elapsed_time, which means the elapsed_time field of the current trial's latest measurement is used to compute the median objective value for each completed trial."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The median automated stopping rule stops a pending trial if the trial's best objective_value is strictly below the median 'performance' of all completed trials reported up to the trial's last measurement. Currently, 'performance' refers to the running average of the objective values reported by the trial in each measurement."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__TrainingInput": {
      "type": "structure",
      "members": {
        "workerConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ReplicaConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for workers. You should only set `workerConfig.acceleratorConfig` if `workerType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](/ai-platform/training/docs/using-gpus#compute-engine-machine-types-with-gpu) Set `workerConfig.imageUri` only if you build a custom image for your worker. If `workerConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](/ai-platform/training/docs/distributed-training-containers)."
          }
        },
        "pythonVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The version of Python used in training. You must either specify this field or specify `masterConfig.imageUri`. The following Python versions are available: * Python '3.7' is available when `runtime_version` is set to '1.15' or later. * Python '3.5' is available when `runtime_version` is set to a version from '1.4' to '1.14'. * Python '2.7' is available when `runtime_version` is set to '1.15' or earlier. Read more about the Python versions available for [each runtime version](/ml-engine/docs/runtime-version-list)."
          }
        },
        "evaluatorConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ReplicaConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for evaluators. You should only set `evaluatorConfig.acceleratorConfig` if `evaluatorType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](/ai-platform/training/docs/using-gpus#compute-engine-machine-types-with-gpu) Set `evaluatorConfig.imageUri` only if you build a custom image for your evaluator. If `evaluatorConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](/ai-platform/training/docs/distributed-training-containers)."
          }
        },
        "hyperparameters": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__HyperparameterSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The set of Hyperparameters to tune."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Options for using customer-managed encryption keys (CMEK) to protect resources created by a training job, instead of using Google's default encryption. If this is set, then all resources created by the training job will be encrypted with the customer-managed encryption key that you specify. [Learn how and when to use CMEK with AI Platform Training](/ai-platform/training/docs/cmek)."
          }
        },
        "parameterServerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of virtual machine to use for your training job's parameter server. The supported values are the same as those described in the entry for `master_type`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. This value must be present when `scaleTier` is set to `CUSTOM` and `parameter_server_count` is greater than zero."
          }
        },
        "parameterServerCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of parameter server replicas to use for the training job. Each replica in the cluster will be of the type specified in `parameter_server_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `parameter_server_type`. The default value is zero."
          }
        },
        "pythonModule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Python module name to run after installing the packages."
          }
        },
        "scaleTier": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__TrainingInputScaleTierEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the machine types, the number of replicas for workers and parameter servers."
          }
        },
        "evaluatorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of virtual machine to use for your training job's evaluator nodes. The supported values are the same as those described in the entry for `masterType`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. This value must be present when `scaleTier` is set to `CUSTOM` and `evaluatorCount` is greater than zero."
          }
        },
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The AI Platform runtime version to use for training. You must either specify this field or specify `masterConfig.imageUri`. For more information, see the [runtime version list](/ai-platform/training/docs/runtime-version-list) and learn [how to manage runtime versions](/ai-platform/training/docs/versioning)."
          }
        },
        "workerCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of worker replicas to use for the training job. Each replica in the cluster will be of the type specified in `worker_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `worker_type`. The default value is zero."
          }
        },
        "evaluatorCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of evaluator replicas to use for the training job. Each replica in the cluster will be of the type specified in `evaluator_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `evaluator_type`. The default value is zero."
          }
        },
        "workerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of virtual machine to use for your training job's worker nodes. The supported values are the same as those described in the entry for `masterType`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. If you use `cloud_tpu` for this value, see special instructions for [configuring a custom TPU machine](/ml-engine/docs/tensorflow/using-tpus#configuring_a_custom_tpu_machine). This value must be present when `scaleTier` is set to `CUSTOM` and `workerCount` is greater than zero."
          }
        },
        "jobDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Google Cloud Storage path in which to store training outputs and other data needed for training. This path is passed to your TensorFlow program as the '--job-dir' command-line argument. The benefit of specifying this field is that Cloud ML validates the path for use in training."
          }
        },
        "enableWebAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether you want AI Platform Training to enable [interactive shell access](https://cloud.google.com/ai-platform/training/docs/monitor-debug-interactive-shell) to training containers. If set to `true`, you can access interactive shells at the URIs given by TrainingOutput.web_access_uris or HyperparameterOutput.web_access_uris (within TrainingOutput.trials)."
          }
        },
        "args": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Command-line arguments passed to the training application when it starts. If your job uses a custom container, then the arguments are passed to the container's `ENTRYPOINT` command."
          }
        },
        "useChiefInTfConfig": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Use `chief` instead of `master` in the `TF_CONFIG` environment variable when training with a custom container. Defaults to `false`. [Learn more about this field.](/ai-platform/training/docs/distributed-training-details#chief-versus-master) This field has no effect for training jobs that don't use a custom container."
          }
        },
        "parameterServerConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ReplicaConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for parameter servers. You should only set `parameterServerConfig.acceleratorConfig` if `parameterServerType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](/ai-platform/training/docs/using-gpus#compute-engine-machine-types-with-gpu) Set `parameterServerConfig.imageUri` only if you build a custom image for your parameter server. If `parameterServerConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](/ai-platform/training/docs/distributed-training-containers)."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full name of the [Compute Engine network](/vpc/docs/vpc) to which the Job is peered. For example, `projects/12345/global/networks/myVPC`. The format of this field is `projects/{project}/global/networks/{network}`, where {project} is a project number (like `12345`) and {network} is network name. Private services access must already be configured for the network. If left unspecified, the Job is not peered with any network. [Learn about using VPC Network Peering.](/ai-platform/training/docs/vpc-peering)."
          }
        },
        "packageUris": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud Storage location of the packages with the training program and any additional dependencies. The maximum number of package URIs is 100."
          }
        },
        "scheduling": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__Scheduling",
          "traits": {
            "smithy.api#documentation": "Optional. Scheduling options for a training job."
          }
        },
        "masterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. See the [list of compatible Compute Engine machine types](/ai-platform/training/docs/machine-types#compute-engine-machine-types). Alternatively, you can use the certain legacy machine types in this field. See the [list of legacy machine types](/ai-platform/training/docs/machine-types#legacy-machine-types). Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPUs](/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine)."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email address of a service account to use when running the training appplication. You must have the `iam.serviceAccounts.actAs` permission for the specified service account. In addition, the AI Platform Training Google-managed service account must have the `roles/iam.serviceAccountAdmin` role for the specified service account. [Learn more about configuring a service account.](/ai-platform/training/docs/custom-service-account) If not specified, the AI Platform Training Google-managed service account is used by default."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The region to run the training job in. See the [available regions](/ai-platform/training/docs/regions) for AI Platform Training."
          }
        },
        "masterConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ReplicaConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for your master worker. You should only set `masterConfig.acceleratorConfig` if `masterType` is set to a Compute Engine machine type. Learn about [restrictions on accelerator configurations for training.](/ai-platform/training/docs/using-gpus#compute-engine-machine-types-with-gpu) Set `masterConfig.imageUri` only if you build a custom image. Only one of `masterConfig.imageUri` and `runtimeVersion` should be set. Learn more about [configuring custom containers](/ai-platform/training/docs/distributed-training-containers)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents input parameters for a training job. When using the gcloud command to submit your training job, you can specify the input parameters as command-line arguments and/or in a YAML configuration file referenced from the --config command-line argument. For details, see the guide to [submitting a training job](/ai-platform/training/docs/training-jobs)."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__TrainingInputScaleTierEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "STANDARD_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_1"
          }
        },
        "PREMIUM_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM_1"
          }
        },
        "BASIC_GPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_GPU"
          }
        },
        "BASIC_TPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_TPU"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.ml_v1#GoogleIamV1__AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__BuiltInAlgorithmOutput": {
      "type": "structure",
      "members": {
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Framework on which the built-in algorithm was trained."
          }
        },
        "pythonVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Python version on which the built-in algorithm was trained."
          }
        },
        "modelPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage path to the `model/` directory where the training job saves the trained model. Only set for successful jobs that don't use hyperparameter tuning."
          }
        },
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Platform runtime version on which the built-in algorithm was trained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents output related to a built-in algorithm Job."
      }
    },
    "com.gcp.ml_v1#GoogleType__Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__DiskConfig": {
      "type": "structure",
      "members": {
        "bootDiskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size in GB of the boot disk (default is 100GB)."
          }
        },
        "bootDiskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the boot disk (default is \"pd-ssd\"). Valid values: \"pd-ssd\" (Persistent Disk Solid State Drive) or \"pd-standard\" (Persistent Disk Hard Disk Drive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the config of disk options."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpec": {
      "type": "structure",
      "members": {
        "discreteValues": {
          "target": "com.gcp.ml_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Required if type is `DISCRETE`. A list of feasible points. The list should be in strictly increasing order. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values."
          }
        },
        "categoricalValues": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required if type is `CATEGORICAL`. The list of possible categories."
          }
        },
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required if type is `DOUBLE` or `INTEGER`. This field should be unset if type is `CATEGORICAL`. This value should be integers if type is INTEGER."
          }
        },
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required if type is `DOUBLE` or `INTEGER`. This field should be unset if type is `CATEGORICAL`. This value should be integers if type is `INTEGER`."
          }
        },
        "type": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the parameter."
          }
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parameter name must be unique amongst all ParameterConfigs in a HyperparameterSpec message. E.g., \"learning_rate\"."
          }
        },
        "scaleType": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecScaleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. How the parameter should be scaled to the hypercube. Leave unset for categorical parameters. Some kind of scaling is strongly recommended for real or integral parameters (e.g., `UNIT_LINEAR_SCALE`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single hyperparameter to optimize."
      }
    },
    "com.gcp.ml_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecTypeEnum": {
      "type": "enum",
      "members": {
        "PARAMETER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_TYPE_UNSPECIFIED"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORICAL"
          }
        },
        "DISCRETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCRETE"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ParameterSpecScaleTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "UNIT_LINEAR_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_LINEAR_SCALE"
          }
        },
        "UNIT_LOG_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_LOG_SCALE"
          }
        },
        "UNIT_REVERSE_LOG_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_REVERSE_LOG_SCALE"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.ml_v1#GoogleIamV1__Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ListOptimalTrialsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for the ListTrials service method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Must be specified if type is `CATEGORICAL`. The list of possible categories."
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.ml_v1#GoogleType__Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__EnvVar": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the environment variable. Defaults to an empty string. In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set earlier in the same env field as where this message occurs. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $(VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable. Must be a [valid C identifier](https://github.com/kubernetes/kubernetes/blob/v1.18.8/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L258) and must not begin with the prefix `AIP_`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an environment variable to be made available in a container. This message is a subset of the [Kubernetes EnvVar v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#envvar-v1-core)."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__AcceleratorConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__AcceleratorConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of accelerator to use."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of accelerators to attach to each machine running the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a hardware accelerator request config. Note that the AcceleratorConfig can be used in both Jobs and Versions. Learn more about [accelerators for training](/ml-engine/docs/using-gpus) and [accelerators for online prediction](/ml-engine/docs/machine-types-online-prediction#gpus)."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__AcceleratorConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ACCELERATOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATOR_TYPE_UNSPECIFIED"
          }
        },
        "NVIDIA_TESLA_K80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_K80"
          }
        },
        "NVIDIA_TESLA_P100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100"
          }
        },
        "NVIDIA_TESLA_V100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_V100"
          }
        },
        "NVIDIA_TESLA_P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4"
          }
        },
        "NVIDIA_TESLA_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4"
          }
        },
        "NVIDIA_TESLA_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_A100"
          }
        },
        "TPU_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2"
          }
        },
        "TPU_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3"
          }
        },
        "TPU_V2_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2_POD"
          }
        },
        "TPU_V3_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3_POD"
          }
        },
        "TPU_V4_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V4_POD"
          }
        }
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.ml_v1#GoogleIamV1__AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleIamV1__AuditLogConfig"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__AutomatedStoppingConfig": {
      "type": "structure",
      "members": {
        "decayCurveStoppingConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig"
        },
        "medianAutomatedStoppingConfig": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Automated Early Stopping of Trials. If no implementation_config is set, automated early stopping will not be run."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for the CheckTrialEarlyStoppingState service method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__ListVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pass this token as the `page_token` field of the request for a subsequent call."
          }
        },
        "versions": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__VersionList",
          "traits": {
            "smithy.api#documentation": "The list of versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListVersions method."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__Version"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__Model": {
      "type": "structure",
      "members": {
        "onlinePredictionLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, online prediction access logs are sent to Cloud Logging. These logs are like standard server access logs, containing information like timestamp and latency for each request. Note that [logs may incur a cost](/stackdriver/pricing), especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option. Default is false."
          }
        },
        "regions": {
          "target": "com.gcp.ml_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of regions where the model is going to be deployed. Only one region per model is supported. Defaults to 'us-central1' if nothing is set. See the available regions for AI Platform services. Note: * No matter where a model is deployed, it can always be accessed by users from anywhere, both for online and batch prediction. * The region for a batch prediction job is set by the region field when submitting the batch prediction job and does not take its value from this field."
          }
        },
        "defaultVersion": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__Version",
          "traits": {
            "smithy.api#documentation": "Output only. The default version of the model. This version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.models.versions.setDefault."
          }
        },
        "labels": {
          "target": "com.gcp.ml_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. One or more labels that you can add, to organize your models. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels. Note that this field is not updatable for mls1* models."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetModel`, and systems are expected to put that etag in the request to `UpdateModel` to ensure that their change will be applied to the model as intended."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name specified for the model when it was created. The model name must be unique within the project it is created in."
          }
        },
        "onlinePredictionConsoleLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, online prediction nodes send `stderr` and `stdout` streams to Cloud Logging. These can be more verbose than the standard access logs (see `onlinePredictionLogging`) and can incur higher cost. However, they are helpful for debugging. Note that [logs may incur a cost](/stackdriver/pricing), especially if your project receives prediction requests at a high QPS. Estimate your costs before enabling this option. Default is false."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description specified for the model when it was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a machine learning solution. A model can have multiple versions, each of which is a deployed, trained model ready to receive prediction requests. The model itself is just a container."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__AutoScaling": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.ml_v1#GoogleCloudMlV1__MetricSpecList",
          "traits": {
            "smithy.api#documentation": "MetricSpec contains the specifications to use to calculate the desired nodes count."
          }
        },
        "maxNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes to scale this model under load. The actual value will depend on resource quota and availability."
          }
        },
        "minNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum number of nodes to allocate for this model. These nodes are always up, starting from the time the model is deployed. Therefore, the cost of operating this model will be at least `rate` * `min_nodes` * number of hours since last billing cycle, where `rate` is the cost per node-hour as documented in the [pricing guide](/ml-engine/docs/pricing), even if no predictions are performed. There is additional cost for each prediction performed. Unlike manual scaling, if the load gets too heavy for the nodes that are up, the service will automatically add nodes to handle the increased load as well as scale back as traffic drops, always maintaining at least `min_nodes`. You will be charged for the time in which additional nodes are used. If `min_nodes` is not specified and AutoScaling is used with a [legacy (MLS1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 0, in which case, when traffic to a model stops (and after a cool-down period), nodes will be shut down and no charges will be incurred until traffic to the model resumes. If `min_nodes` is not specified and AutoScaling is used with a [Compute Engine (N1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 1. `min_nodes` must be at least 1 for use with a Compute Engine machine type. You can set `min_nodes` when creating the model version, and you can also update `min_nodes` for an existing version: update_body.json: { 'autoScaling': { 'minNodes': 5 } } HTTP request: PATCH https://ml.googleapis.com/v1/{name=projects/*/models/*/versions/*}?update_mask=autoScaling.minNodes -d @./update_body.json "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for automatically scaling a model."
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__MetricSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleCloudMlV1__MetricSpec"
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.ml_v1#GoogleIamV1__BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.ml_v1#GoogleIamV1__AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleIamV1__Binding"
      }
    },
    "com.gcp.ml_v1#GoogleIamV1__AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ml_v1#GoogleIamV1__AuditConfig"
      }
    },
    "com.gcp.ml_v1#GoogleCloudMlV1__Version": {
      "type": "structure",
      "members": {
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The AI Platform runtime version to use for this deployment. For more information, see the [runtime version list](/ml-engine/docs/runtime-version-list) and [how to manage runtime versions](/ml-engine/docs/versioning)."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of machine on which to serve the model. Currently only applies to online prediction service. To learn about valid values for this field, read [Choosing a machine type for online prediction](/ai-platform/prediction/docs/machine-types-online-prediction). If this field is not specified and you are using a [regional endpoint](/ai-platform/prediction/docs/regional-endpoints), then the machine type defaults to `n1-standard-2`. If this field is not specified and you are using the global endpoint (`ml.googleapis.com`), then the machine type defaults to `mls1-c1-m2`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetVersion`, and systems are expected to put that etag in the request to `UpdateVersion` to ensure that their change will be applied to the model as intended."
          }
        },
        "predictionClass": {
          "target": "smithy.api#String",
          "traits": {
[...]
