{
  "smithy": "2.0",
  "metadata": {
    "service": "monitoring",
    "version": "v3",
    "title": "Cloud Monitoring API",
    "baseUrl": "https://monitoring.googleapis.com/"
  },
  "shapes": {
    "com.gcp.monitoring_v3#MonitoredResourceDescriptor": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. For a list of types, see Monitored resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A detailed description of the monitored resource type that might be used in documentation."
          }
        },
        "labels": {
          "target": "com.gcp.monitoring_v3#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\"."
          }
        },
        "launchStage": {
          "target": "com.gcp.monitoring_v3#MonitoredResourceDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the monitored resource definition."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API."
      }
    },
    "com.gcp.monitoring_v3#LabelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#LabelDescriptor"
      }
    },
    "com.gcp.monitoring_v3#MonitoredResourceDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#MutationRecord": {
      "type": "structure",
      "members": {
        "mutateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the change occurred."
          }
        },
        "mutatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user making the change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a change made to a configuration."
      }
    },
    "com.gcp.monitoring_v3#CollectdPayloadError": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads."
          }
        },
        "error": {
          "target": "com.gcp.monitoring_v3#Status",
          "traits": {
            "smithy.api#documentation": "Records the error status for the payload. If this field is present, the partial errors for nested values won't be populated."
          }
        },
        "valueErrors": {
          "target": "com.gcp.monitoring_v3#CollectdValueErrorList",
          "traits": {
            "smithy.api#documentation": "Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the error status for payloads that were not written."
      }
    },
    "com.gcp.monitoring_v3#CollectdValueErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#CollectdValueError"
      }
    },
    "com.gcp.monitoring_v3#ResponseStatusCode": {
      "type": "structure",
      "members": {
        "statusValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A status code to accept."
          }
        },
        "statusClass": {
          "target": "com.gcp.monitoring_v3#ResponseStatusCodeStatusClassEnum",
          "traits": {
            "smithy.api#documentation": "A class of status codes to accept."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status to accept. Either a status code class like \"2xx\", or an integer status code like \"200\"."
      }
    },
    "com.gcp.monitoring_v3#ResponseStatusCodeStatusClassEnum": {
      "type": "enum",
      "members": {
        "STATUS_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_UNSPECIFIED"
          }
        },
        "STATUS_CLASS_1XX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_1XX"
          }
        },
        "STATUS_CLASS_2XX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_2XX"
          }
        },
        "STATUS_CLASS_3XX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_3XX"
          }
        },
        "STATUS_CLASS_4XX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_4XX"
          }
        },
        "STATUS_CLASS_5XX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_5XX"
          }
        },
        "STATUS_CLASS_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_CLASS_ANY"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#ServiceAgentAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.monitoring_v3#ServiceAgentAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating either an OpenID Connect token (https://developers.google.com/identity/protocols/OpenIDConnect) or OAuth token (https://developers.google.com/identity/protocols/oauth2). The token will be generated for the Monitoring service agent service account."
      }
    },
    "com.gcp.monitoring_v3#ServiceAgentAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "OIDC_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_TOKEN"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#CloudEndpoints": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Cloud Endpoints service underlying this service. Corresponds to the service resource label in the api monitored resource (https://cloud.google.com/monitoring/api/resources#tag_api)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Endpoints service. Learn more at https://cloud.google.com/endpoints."
      }
    },
    "com.gcp.monitoring_v3#Metric": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount."
          }
        },
        "labels": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific metric, identified by specifying values for all of the labels of a MetricDescriptor."
      }
    },
    "com.gcp.monitoring_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.monitoring_v3#Daily": {
      "type": "structure",
      "members": {
        "periodicity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of days between runs. Must be greater than or equal to 1 day and less than or equal to 31 days."
          }
        },
        "executionTime": {
          "target": "com.gcp.monitoring_v3#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. The time of day (in UTC) at which the query should run. If left unspecified, the server picks an arbitrary time of day and runs the query at the same time each day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to schedule the query to run every so many days."
      }
    },
    "com.gcp.monitoring_v3#GkeService": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The project this resource lives in. For legacy services migrated from the Custom type, this may be a distinct project from the one parenting the service itself."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent cluster."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent namespace."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this service."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the parent cluster. This may be a zone or region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKE Service. The \"service\" here represents a Kubernetes service object (https://kubernetes.io/docs/concepts/services-networking/service). The field names correspond to the resource labels on k8s_service monitored resources (https://cloud.google.com/monitoring/api/resources#tag_k8s_service)."
      }
    },
    "com.gcp.monitoring_v3#GkeNamespace": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the parent cluster. This may be a zone or region."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent cluster."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The project this resource lives in. For legacy services migrated from the Custom type, this may be a distinct project from the one parenting the service itself."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKE Namespace. The field names correspond to the resource metadata labels on monitored resources that fall under a namespace (for example, k8s_container or k8s_pod)."
      }
    },
    "com.gcp.monitoring_v3#Telemetry": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the resource that defines this service. Formatted as described in https://cloud.google.com/apis/design/resource_names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how to query telemetry on a Service."
      }
    },
    "com.gcp.monitoring_v3#HttpCheck": {
      "type": "structure",
      "members": {
        "authInfo": {
          "target": "com.gcp.monitoring_v3#BasicAuthentication",
          "traits": {
            "smithy.api#documentation": "The authentication information. Optional when creating an HTTP check; defaults to empty. Do not set both auth_method and auth_info."
          }
        },
        "validateSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean specifying whether to include SSL certificate validation as a part of the Uptime check. Only applies to checks where monitored_resource is set to uptime_url. If use_ssl is false, setting validate_ssl to true has no effect."
          }
        },
        "headers": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "The list of headers to send as part of the Uptime check request. If two headers have the same key and different values, they should be entered as a single header, with the value being a comma-separated list of all the desired values as described at https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate headers with the same key in a Create call will cause the first to be overwritten by the second. The maximum number of headers allowed is 100."
          }
        },
        "pingConfig": {
          "target": "com.gcp.monitoring_v3#PingConfig",
          "traits": {
            "smithy.api#documentation": "Contains information needed to add pings to an HTTP check."
          }
        },
        "serviceAgentAuthentication": {
          "target": "com.gcp.monitoring_v3#ServiceAgentAuthentication",
          "traits": {
            "smithy.api#documentation": "If specified, Uptime will generate and attach an OIDC JWT token for the Monitoring service agent service account as an Authorization header in the HTTP request when probing."
          }
        },
        "requestMethod": {
          "target": "com.gcp.monitoring_v3#HttpCheckRequestMethodEnum",
          "traits": {
            "smithy.api#documentation": "The HTTP request method to use for the check. If set to METHOD_UNSPECIFIED then request_method defaults to GET."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional (defaults to \"/\"). The path to the page against which to run the check. Will be combined with the host (specified within the monitored_resource) and port to construct the full URL. If the provided path does not begin with \"/\", a \"/\" will be prepended automatically."
          }
        },
        "maskHeaders": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean specifying whether to encrypt the header information. Encryption should be specified for any headers related to authentication that you do not wish to be seen when retrieving the configuration. The server will be responsible for encrypting the headers. On Get/List calls, if mask_headers is set to true then the headers will be obscured with ******."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional (defaults to 80 when use_ssl is false, and 443 when use_ssl is true). The TCP port on the HTTP server against which to run the check. Will be combined with host (specified within the monitored_resource) and path to construct the full URL."
          }
        },
        "useSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, use HTTPS instead of HTTP to run the check."
          }
        },
        "contentType": {
          "target": "com.gcp.monitoring_v3#HttpCheckContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "The content type header to use for the check. The following configurations result in errors: 1. Content type is specified in both the headers field and the content_type field. 2. Request method is GET and content_type is not TYPE_UNSPECIFIED 3. Request method is POST and content_type is TYPE_UNSPECIFIED. 4. Request method is POST and a \"Content-Type\" header is provided via headers field. The content_type field should be used instead."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request body associated with the HTTP POST request. If content_type is URL_ENCODED, the body passed in must be URL-encoded. Users can provide a Content-Length header via the headers field or the API will do so. If the request_method is GET and body is not empty, the API will return an error. The maximum byte size is 1 megabyte.Note: If client libraries aren't used (which performs the conversion automatically) base64 encode your body data since the field is of bytes type."
          }
        },
        "customContentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided content type header to use for the check. The invalid configurations outlined in the content_type field apply to custom_content_type, as well as the following: 1. content_type is URL_ENCODED and custom_content_type is set. 2. content_type is USER_PROVIDED and custom_content_type is not set."
          }
        },
        "acceptedResponseStatusCodes": {
          "target": "com.gcp.monitoring_v3#ResponseStatusCodeList",
          "traits": {
            "smithy.api#documentation": "If present, the check will only pass if the HTTP response status code is in this set of status codes. If empty, the HTTP status code will only pass if the HTTP status code is 200-299."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information involved in an HTTP/HTTPS Uptime check request."
      }
    },
    "com.gcp.monitoring_v3#HttpCheckRequestMethodEnum": {
      "type": "enum",
      "members": {
        "METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#HttpCheckContentTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "URL_ENCODED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_ENCODED"
          }
        },
        "USER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#ResponseStatusCodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#ResponseStatusCode"
      }
    },
    "com.gcp.monitoring_v3#IstioCanonicalService": {
      "type": "structure",
      "members": {
        "canonicalServiceNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the canonical service underlying this service. Corresponds to the destination_canonical_service_namespace metric label in Istio metrics (https://cloud.google.com/monitoring/api/metrics_istio)."
          }
        },
        "canonicalService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the canonical service underlying this service. Corresponds to the destination_canonical_service_name metric label in label in Istio metrics (https://cloud.google.com/monitoring/api/metrics_istio)."
          }
        },
        "meshUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Istio mesh in which this canonical service is defined. Corresponds to the mesh_uid metric label in Istio metrics (https://cloud.google.com/monitoring/api/metrics_istio)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Canonical service scoped to an Istio mesh. Anthos clusters running ASM >= 1.6.8 will have their services ingested as this type."
      }
    },
    "com.gcp.monitoring_v3#Group": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of this group. The format is: projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID] When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique [GROUP_ID] that is generated automatically."
          }
        },
        "isCluster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-assigned name for this group, used only for display purposes."
          }
        },
        "parentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the group's parent, if it has one. The format is: projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID] For groups with no parent, parent_name is the empty string, \"\"."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter used to determine which monitored resources belong to this group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors."
      }
    },
    "com.gcp.monitoring_v3#ListUptimeCheckConfigsResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of Uptime check configurations for the project, irrespective of any pagination."
          }
        },
        "uptimeCheckConfigs": {
          "target": "com.gcp.monitoring_v3#UptimeCheckConfigList",
          "traits": {
            "smithy.api#documentation": "The returned Uptime check configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The protocol for the ListUptimeCheckConfigs response."
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#UptimeCheckConfig"
      }
    },
    "com.gcp.monitoring_v3#CreateCollectdTimeSeriesResponse": {
      "type": "structure",
      "members": {
        "payloadErrors": {
          "target": "com.gcp.monitoring_v3#CollectdPayloadErrorList",
          "traits": {
            "smithy.api#documentation": "Records the error status for points that were not written due to an error in the request.Failed requests for which nothing is written will return an error response instead. Requests where data points were rejected by the backend will set summary instead."
          }
        },
        "summary": {
          "target": "com.gcp.monitoring_v3#CreateTimeSeriesSummary",
          "traits": {
            "smithy.api#documentation": "Aggregate statistics from writing the payloads. This field is omitted if all points were successfully written, so that the response is empty. This is for backwards compatibility with clients that log errors on any non-empty response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CreateCollectdTimeSeries response."
      }
    },
    "com.gcp.monitoring_v3#CollectdPayloadErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#CollectdPayloadError"
      }
    },
    "com.gcp.monitoring_v3#CollectdPayload": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.monitoring_v3#CollectdValueList",
          "traits": {
            "smithy.api#documentation": "The measured values during this time interval. Each value must have a different data_source_name."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the interval."
          }
        },
        "pluginInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance name of the plugin Example: \"hdcl\"."
          }
        },
        "metadata": {
          "target": "com.gcp.monitoring_v3#TypedValueMap",
          "traits": {
            "smithy.api#documentation": "The measurement metadata. Example: \"process_id\" -> 12345"
          }
        },
        "typeInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The measurement type instance. Example: \"used\"."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the interval."
          }
        },
        "plugin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the plugin. Example: \"disk\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The measurement type. Example: \"memory\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information."
      }
    },
    "com.gcp.monitoring_v3#CollectdValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#CollectdValue"
      }
    },
    "com.gcp.monitoring_v3#TypedValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.monitoring_v3#TypedValue"
      }
    },
    "com.gcp.monitoring_v3#AppEngine": {
      "type": "structure",
      "members": {
        "moduleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the App Engine module underlying this service. Corresponds to the module_id resource label in the gae_app monitored resource (https://cloud.google.com/monitoring/api/resources#tag_gae_app)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine service. Learn more at https://cloud.google.com/appengine."
      }
    },
    "com.gcp.monitoring_v3#Trigger": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The absolute number of time series that must fail the predicate for the condition to be triggered."
          }
        },
        "percent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of time series that must fail the predicate for the condition to be triggered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how many time series must fail a predicate to trigger a condition. If not specified, then a {count: 1} trigger is used."
      }
    },
    "com.gcp.monitoring_v3#BooleanTest": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the column containing the boolean value. If the value in a row is NULL, that row is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test that uses an alerting result in a boolean column produced by the SQL query."
      }
    },
    "com.gcp.monitoring_v3#OperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.monitoring_v3#OperationMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the batch operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch request was received."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the operation result was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata for longrunning operation for the edit Metrics Scope endpoints."
      }
    },
    "com.gcp.monitoring_v3#OperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#ListAlertsResponse": {
      "type": "structure",
      "members": {
        "alerts": {
          "target": "com.gcp.monitoring_v3#AlertList",
          "traits": {
            "smithy.api#documentation": "The list of alerts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. The token is encrypted and only guaranteed to return correct results for 72 hours after it is created. If empty, all results have been returned."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The estimated total number of matching results for this query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListAlerts response."
      }
    },
    "com.gcp.monitoring_v3#AlertList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Alert"
      }
    },
    "com.gcp.monitoring_v3#ListGroupMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.monitoring_v3#MonitoredResourceList",
          "traits": {
            "smithy.api#documentation": "A set of monitored resources in the group."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of elements matching this request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListGroupMembers response."
      }
    },
    "com.gcp.monitoring_v3#MonitoredResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#MonitoredResource"
      }
    },
    "com.gcp.monitoring_v3#Custom": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Use a custom service to designate a service that you want to monitor when none of the other service types (like App Engine, Cloud Run, or a GKE type) matches your intended service."
      }
    },
    "com.gcp.monitoring_v3#ListSnoozesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token for repeated calls to ListSnoozes, to fetch additional pages of results. If this is empty or missing, there are no more pages."
          }
        },
        "snoozes": {
          "target": "com.gcp.monitoring_v3#SnoozeList",
          "traits": {
            "smithy.api#documentation": "Snoozes matching this list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The results of a successful ListSnoozes call, containing the matching Snoozes."
      }
    },
    "com.gcp.monitoring_v3#SnoozeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Snooze"
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckIp": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.gcp.monitoring_v3#UptimeCheckIpRegionEnum",
          "traits": {
            "smithy.api#documentation": "A broad region category in which the IP address is located."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address from which the Uptime check originates. This is a fully specified IP address (not an IP address range). Most IP addresses, as of this publication, are in IPv4 format; however, one should not rely on the IP addresses being in IPv4 format indefinitely, and should support interpreting this field in either IPv4 or IPv6 format."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A more specific location within the region that typically encodes a particular city/town/metro (and its containing state/province or country) within the broader umbrella region category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the region, location, and list of IP addresses where checkers in the location run from."
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckIpRegionEnum": {
      "type": "enum",
      "members": {
        "REGION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGION_UNSPECIFIED"
          }
        },
        "USA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA"
          }
        },
        "EUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUROPE"
          }
        },
        "SOUTH_AMERICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOUTH_AMERICA"
          }
        },
        "ASIA_PACIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASIA_PACIFIC"
          }
        },
        "USA_OREGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_OREGON"
          }
        },
        "USA_IOWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_IOWA"
          }
        },
        "USA_VIRGINIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_VIRGINIA"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#Criteria": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The specific AlertPolicy names for the alert that should be snoozed. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[POLICY_ID] There is a limit of 16 policies per snooze. This limit is checked during snooze creation. Exactly 1 alert policy is required if filter is specified at the same time."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When you define a snooze, you can also define a filter for that snooze. The filter is a string containing one or more key-value pairs. The string uses the standard https://google.aip.dev/160 filter syntax. If you define a filter for a snooze, then the snooze can only apply to one alert policy. When the snooze is active, incidents won't be created when the incident would have key-value pairs (labels) that match those specified by the filter in the snooze.Snooze filters support resource, metric, and metadata labels. If multiple labels are used, then they must be connected with an AND operator. For example, the following filter applies the snooze to incidents that have a resource label with an instance ID of 1234567890, a metric label with an instance name of test_group, a metadata user label with a key of foo and a value of bar, and a metadata system label with a key of region and a value of us-central1: \"filter\": \"resource.labels.instance_id=\\\"1234567890\\\" AND metric.labels.instance_name=\\\"test_group\\\" AND metadata.user_labels.foo=\\\"bar\\\" AND metadata.system_labels.region=\\\"us-central1\\\"\" "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Criteria specific to the AlertPolicys that this Snooze applies to. The Snooze will suppress alerts that come from one of the AlertPolicys whose names are supplied."
      }
    },
    "com.gcp.monitoring_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.monitoring_v3#LogMetadata": {
      "type": "structure",
      "members": {
        "extractedLabels": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels extracted from the log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the log for log-based alerts."
      }
    },
    "com.gcp.monitoring_v3#NotificationRateLimit": {
      "type": "structure",
      "members": {
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not more than one notification per period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control over the rate of notifications sent to this alerting policy's notification channels."
      }
    },
    "com.gcp.monitoring_v3#MetricRange": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.monitoring_v3#GoogleMonitoringV3Range",
          "traits": {
            "smithy.api#documentation": "Range of values considered \"good.\" For a one-sided range, set one bound to an infinite value."
          }
        },
        "timeSeries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying the TimeSeries to use for evaluating window quality."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A MetricRange is used when each window is good when the value x of a single TimeSeries satisfies range.min <= x <= range.max. The provided TimeSeries must have ValueType = INT64 or ValueType = DOUBLE and MetricKind = GAUGE."
      }
    },
    "com.gcp.monitoring_v3#LogMatch": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A logs-based filter. See Advanced Logs Queries (https://cloud.google.com/logging/docs/view/advanced-queries) for how this filter should be constructed."
          }
        },
        "labelExtractors": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map from a label key to an extractor expression, which is used to extract the value for this label key. Each entry in this map is a specification for how data should be extracted from log entries that match filter. Each combination of extracted values is treated as a separate rule for the purposes of triggering notifications. Label keys and corresponding values can be used in notifications generated by this condition.Please see the documentation on logs-based metric valueExtractors (https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.metrics#LogMetric.FIELDS.value_extractor) for syntax and examples."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition type that checks whether a log message in the scoping project (https://cloud.google.com/monitoring/api/v3#project_name) satisfies the given filter. Logs from other projects in the metrics scope are not evaluated."
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckConfig": {
      "type": "structure",
      "members": {
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How often, in seconds, the Uptime check is performed. Currently, the only supported values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes), and 900s (15 minutes). Optional, defaults to 60s."
          }
        },
        "internalCheckers": {
          "target": "com.gcp.monitoring_v3#InternalCheckerList",
          "traits": {
            "smithy.api#documentation": "The internal checkers that this check will egress from. If is_internal is true and this list is empty, the check will egress from all the InternalCheckers configured for the project that owns this UptimeCheckConfig."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the check is disabled or not."
          }
        },
        "selectedRegions": {
          "target": "com.gcp.monitoring_v3#UptimeCheckConfigSelectedRegionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of regions from which the check will be run. Some regions contain one location, and others contain more than one. If this field is specified, enough regions must be provided to include a minimum of 3 locations. Not specifying this field will result in Uptime checks running from all available regions."
          }
        },
        "userLabels": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "User-supplied key/value data to be used for organizing and identifying the UptimeCheckConfig objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter."
          }
        },
        "checkerType": {
          "target": "com.gcp.monitoring_v3#UptimeCheckConfigCheckerTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of checkers to use to execute the Uptime check."
          }
        },
        "httpCheck": {
          "target": "com.gcp.monitoring_v3#HttpCheck",
          "traits": {
            "smithy.api#documentation": "Contains information needed to make an HTTP or HTTPS check."
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is true, then checks are made only from the 'internal_checkers'. If it is false, then checks are made only from the 'selected_regions'. It is an error to provide 'selected_regions' when is_internal is true, or to provide 'internal_checkers' when is_internal is false."
          }
        },
        "logCheckFailures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "To specify whether to log the results of failed probes to Cloud Logging."
          }
        },
        "syntheticMonitor": {
          "target": "com.gcp.monitoring_v3#SyntheticMonitorTarget",
          "traits": {
            "smithy.api#documentation": "Specifies a Synthetic Monitor to invoke."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A unique resource name for this Uptime check configuration. The format is: projects/[PROJECT_ID_OR_NUMBER]/uptimeCheckConfigs/[UPTIME_CHECK_ID] [PROJECT_ID_OR_NUMBER] is the Workspace host project associated with the Uptime check.This field should be omitted when creating the Uptime check configuration; on create, the resource name is assigned by the server and included in the response."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time to wait for the request to complete (must be between 1 and 60 seconds). Required."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the Uptime check configuration. The display name should be unique within a Cloud Monitoring Workspace in order to make it easier to identify; however, uniqueness is not enforced. Required."
          }
        },
        "monitoredResource": {
          "target": "com.gcp.monitoring_v3#MonitoredResource",
          "traits": {
            "smithy.api#documentation": "The monitored resource (https://cloud.google.com/monitoring/api/resources) associated with the configuration. The following monitored resource types are valid for this field: uptime_url, gce_instance, gae_app, aws_ec2_instance, aws_elb_load_balancer k8s_service servicedirectory_service cloud_run_revision"
          }
        },
        "tcpCheck": {
          "target": "com.gcp.monitoring_v3#TcpCheck",
          "traits": {
            "smithy.api#documentation": "Contains information needed to make a TCP check."
          }
        },
        "contentMatchers": {
          "target": "com.gcp.monitoring_v3#ContentMatcherList",
          "traits": {
            "smithy.api#documentation": "The content that is expected to appear in the data returned by the target server against which the check is run. Currently, only the first entry in the content_matchers list is supported, and additional entries will be ignored. This field is optional and should only be specified if a content match is required as part of the/ Uptime check."
          }
        },
        "resourceGroup": {
          "target": "com.gcp.monitoring_v3#ResourceGroup",
          "traits": {
            "smithy.api#documentation": "The group resource associated with the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message configures which resources and services to monitor for availability."
      }
    },
    "com.gcp.monitoring_v3#InternalCheckerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#InternalChecker"
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckConfigSelectedRegionsItemEnum": {
      "type": "enum",
      "members": {
        "REGION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGION_UNSPECIFIED"
          }
        },
        "USA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA"
          }
        },
        "EUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUROPE"
          }
        },
        "SOUTH_AMERICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOUTH_AMERICA"
          }
        },
        "ASIA_PACIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASIA_PACIFIC"
          }
        },
        "USA_OREGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_OREGON"
          }
        },
        "USA_IOWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_IOWA"
          }
        },
        "USA_VIRGINIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USA_VIRGINIA"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckConfigSelectedRegionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#UptimeCheckConfigSelectedRegionsItemEnum"
      }
    },
    "com.gcp.monitoring_v3#UptimeCheckConfigCheckerTypeEnum": {
      "type": "enum",
      "members": {
        "CHECKER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKER_TYPE_UNSPECIFIED"
          }
        },
        "STATIC_IP_CHECKERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATIC_IP_CHECKERS"
          }
        },
        "VPC_CHECKERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_CHECKERS"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#ContentMatcherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#ContentMatcher"
      }
    },
    "com.gcp.monitoring_v3#Exponential": {
      "type": "structure",
      "members": {
        "growthFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be greater than 1."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        },
        "numFiniteBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor ^ i).Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1))."
      }
    },
    "com.gcp.monitoring_v3#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.monitoring_v3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.monitoring_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.monitoring_v3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#DocumentMap"
      }
    },
    "com.gcp.monitoring_v3#CreateTimeSeriesRequest": {
      "type": "structure",
      "members": {
        "timeSeries": {
          "target": "com.gcp.monitoring_v3#TimeSeriesList",
          "traits": {
            "smithy.api#documentation": "Required. The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.The maximum number of TimeSeries objects per Create request is 200."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CreateTimeSeries request."
      }
    },
    "com.gcp.monitoring_v3#TimeSeriesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#TimeSeries"
      }
    },
    "com.gcp.monitoring_v3#Range": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum of the population values."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum of the population values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The range of the population values."
      }
    },
    "com.gcp.monitoring_v3#Linear": {
      "type": "structure",
      "members": {
        "numFiniteBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must be greater than 0."
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound of the first bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): offset + (width * i).Lower bound (1 <= i < N): offset + (width * (i - 1))."
      }
    },
    "com.gcp.monitoring_v3#Type": {
      "type": "structure",
      "members": {
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "options": {
          "target": "com.gcp.monitoring_v3#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "oneofs": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in oneof definitions in this type."
          }
        },
        "sourceContext": {
          "target": "com.gcp.monitoring_v3#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "syntax": {
          "target": "com.gcp.monitoring_v3#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "fields": {
          "target": "com.gcp.monitoring_v3#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type.New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.monitoring_v3#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Option"
      }
    },
    "com.gcp.monitoring_v3#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Field"
      }
    },
    "com.gcp.monitoring_v3#TcpCheck": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The TCP port on the server against which to run the check. Will be combined with host (specified within the monitored_resource) to construct the full URL. Required."
          }
        },
        "pingConfig": {
          "target": "com.gcp.monitoring_v3#PingConfig",
          "traits": {
            "smithy.api#documentation": "Contains information needed to add pings to a TCP check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information required for a TCP Uptime check request."
      }
    },
    "com.gcp.monitoring_v3#CreateTimeSeriesSummary": {
      "type": "structure",
      "members": {
        "totalPointCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of points in the request."
          }
        },
        "errors": {
          "target": "com.gcp.monitoring_v3#Monitoring_ErrorList",
          "traits": {
            "smithy.api#documentation": "The number of points that failed to be written. Order is not guaranteed."
          }
        },
        "successPointCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of points that were successfully written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of the result of a failed request to write data to a time series."
      }
    },
    "com.gcp.monitoring_v3#Monitoring_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Monitoring_Error"
      }
    },
    "com.gcp.monitoring_v3#BasicSli": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: The set of locations to which this SLI is relevant. Telemetry from other locations will not be used to calculate performance for this SLI. If omitted, this SLI applies to all locations in which the Service has activity. For service types that don't support breaking down by location, setting this field will result in an error."
          }
        },
        "availability": {
          "target": "com.gcp.monitoring_v3#AvailabilityCriteria",
          "traits": {
            "smithy.api#documentation": "Good service is defined to be the count of requests made to this service that return successfully."
          }
        },
        "latency": {
          "target": "com.gcp.monitoring_v3#LatencyCriteria",
          "traits": {
            "smithy.api#documentation": "Good service is defined to be the count of requests made to this service that are fast enough with respect to latency.threshold."
          }
        },
        "method": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: The set of RPCs to which this SLI is relevant. Telemetry from other methods will not be used to calculate performance for this SLI. If omitted, this SLI applies to all the Service's methods. For service types that don't support breaking down by method, setting this field will result in an error."
          }
        },
        "version": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: The set of API versions to which this SLI is relevant. Telemetry from other API versions will not be used to calculate performance for this SLI. If omitted, this SLI applies to all API versions. For service types that don't support breaking down by version, setting this field will result in an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An SLI measuring performance on a well-known service type. Performance will be computed on the basis of pre-defined metrics. The type of the service_resource determines the metrics to use and the service_resource.labels and metric_labels are used to construct a monitoring filter to filter that metric down to just the data relevant to this service."
      }
    },
    "com.gcp.monitoring_v3#NotificationChannelDescriptor": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the notification channel type. This form of the name is suitable for a user interface."
          }
        },
        "supportedTiers": {
          "target": "com.gcp.monitoring_v3#NotificationChannelDescriptorSupportedTiersItemEnumList",
          "traits": {
            "smithy.api#documentation": "The tiers that support this notification channel; the project service tier must be one of the supported_tiers."
          }
        },
        "labels": {
          "target": "com.gcp.monitoring_v3#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that must be defined to identify a particular channel of the corresponding type. Each label includes a description for how that field should be populated."
          }
        },
        "launchStage": {
          "target": "com.gcp.monitoring_v3#NotificationChannelDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "The product launch stage for channels of this type."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the notification channel type. The description may include a description of the properties of the channel and pointers to external documentation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full REST resource name for this descriptor. The format is: projects/[PROJECT_ID_OR_NUMBER]/notificationChannelDescriptors/[TYPE] In the above, [TYPE] is the value of the type field."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of notification channel, such as \"email\" and \"sms\". To view the full list of channels, see Channel descriptors (https://cloud.google.com/monitoring/alerts/using-channels-api#ncd). Notification channel types are globally unique."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a notification channel. The descriptor includes the properties of the channel and the set of labels or fields that must be specified to configure channels of a given type."
      }
    },
    "com.gcp.monitoring_v3#NotificationChannelDescriptorSupportedTiersItemEnum": {
      "type": "enum",
      "members": {
        "SERVICE_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TIER_UNSPECIFIED"
          }
        },
        "SERVICE_TIER_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TIER_BASIC"
          }
        },
        "SERVICE_TIER_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TIER_PREMIUM"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#NotificationChannelDescriptorSupportedTiersItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#NotificationChannelDescriptorSupportedTiersItemEnum"
      }
    },
    "com.gcp.monitoring_v3#NotificationChannelDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#Documentation": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the documentation, interpreted according to mime_type. The content may not exceed 8,192 Unicode characters and may not exceed more than 10,240 bytes when encoded in UTF-8 format, whichever is smaller. This text can be templatized by using variables (https://cloud.google.com/monitoring/alerts/doc-variables#doc-vars)."
          }
        },
        "links": {
          "target": "com.gcp.monitoring_v3#LinkList",
          "traits": {
            "smithy.api#documentation": "Optional. Links to content such as playbooks, repositories, and other resources. This field can contain up to 3 entries."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The format of the content field. Presently, only the value \"text/markdown\" is supported. See Markdown (https://en.wikipedia.org/wiki/Markdown) for more information."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The subject line of the notification. The subject line may not exceed 10,240 bytes. In notifications generated by this policy, the contents of the subject line after variable expansion will be truncated to 255 bytes or shorter at the latest UTF-8 character boundary. The 255-byte limit is recommended by this thread (https://stackoverflow.com/questions/1592291/what-is-the-email-subject-length-limit). It is both the limit imposed by some third-party ticketing products and it is common to define textual fields in databases as VARCHAR(255).The contents of the subject line can be templatized by using variables (https://cloud.google.com/monitoring/alerts/doc-variables#doc-vars). If this field is missing or empty, a default subject line will be generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Documentation that is included in the notifications and incidents pertaining to this policy."
      }
    },
    "com.gcp.monitoring_v3#LinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#Link"
      }
    },
    "com.gcp.monitoring_v3#ListNotificationChannelDescriptorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. If empty, all results have been returned."
          }
        },
        "channelDescriptors": {
          "target": "com.gcp.monitoring_v3#NotificationChannelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The monitored resource descriptors supported for the specified project, optionally filtered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListNotificationChannelDescriptors response."
      }
    },
    "com.gcp.monitoring_v3#NotificationChannelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v3#NotificationChannelDescriptor"
      }
    },
    "com.gcp.monitoring_v3#PrometheusQueryLanguageCondition": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The PromQL expression to evaluate. Every evaluation cycle this expression is evaluated at the current time, and all resultant time series become pending/firing alerts. This field must not be empty."
          }
        },
        "labels": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels to add to or overwrite in the PromQL query result. Label names must be valid (https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels). Label values can be templatized by using variables (https://cloud.google.com/monitoring/alerts/doc-variables#doc-vars). The only available variable names are the names of the labels in the PromQL result, including \"__name__\" and \"value\". \"labels\" may be empty."
          }
        },
        "disableMetricValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable metric existence validation for this condition.This allows alerting policies to be defined on metrics that do not yet exist, improving advanced customer workflows such as configuring alerting policies using Terraform.Users with the monitoring.alertPolicyViewer role are able to see the name of the non-existent metric in the alerting policy condition."
          }
        },
        "evaluationInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How often this rule should be evaluated. Must be a positive multiple of 30 seconds or missing. This field is optional. Its default value is 30 seconds. If this PrometheusQueryLanguageCondition was generated from a Prometheus alerting rule, then this value should be taken from the enclosing rule group."
          }
        },
        "alertRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The alerting rule name of this alert in the corresponding Prometheus configuration file.Some external tools may require this field to be populated correctly in order to refer to the original Prometheus configuration file. The rule group name and the alert name are necessary to update the relevant AlertPolicies in case the definition of the rule group changes in the future.This field is optional. If this field is not empty, then it must be a valid Prometheus label name (https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels). This field may not exceed 2048 Unicode characters in length."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Alerts are considered firing once their PromQL expression was evaluated to be \"true\" for this long. Alerts whose PromQL expression was not evaluated to be \"true\" for long enough are considered pending. Must be a non-negative duration or missing. This field is optional. Its default value is zero."
          }
        },
        "ruleGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule group name of this alert in the corresponding Prometheus configuration file.Some external tools may require this field to be populated correctly in order to refer to the original Prometheus configuration file. The rule group name and the alert name are necessary to update the relevant AlertPolicies in case the definition of the rule group changes in the future.This field is optional. If this field is not empty, then it must contain a valid UTF-8 string. This field may not exceed 2048 Unicode characters in length."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition type that allows alerting policies to be defined using Prometheus Query Language (PromQL) (https://prometheus.io/docs/prometheus/latest/querying/basics/).The PrometheusQueryLanguageCondition message contains information from a Prometheus alerting rule and its associated rule group.A Prometheus alerting rule is described here (https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/). The semantics of a Prometheus alerting rule is described here (https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/#rule).A Prometheus rule group is described here (https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/). The semantics of a Prometheus rule group is described here (https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/#rule_group).Because Cloud Alerting has no representation of a Prometheus rule group resource, we must embed the information of the parent rule group inside each of the conditions that refer to it. We must also update the contents of all Prometheus alerts in case the information of their rule group changes.The PrometheusQueryLanguageCondition protocol buffer combines the information of the corresponding rule group and alerting rule. The structure of the PrometheusQueryLanguageCondition protocol buffer does NOT mimic the structure of the Prometheus rule group and alerting rule YAML declarations. The PrometheusQueryLanguageCondition protocol buffer may change in the future to support future rule group and/or alerting rule features. There are no new such features at the present time (2023-06-26)."
      }
    },
    "com.gcp.monitoring_v3#BucketOptions": {
      "type": "structure",
      "members": {
        "linearBuckets": {
          "target": "com.gcp.monitoring_v3#Linear",
          "traits": {
            "smithy.api#documentation": "The linear bucket."
          }
        },
        "explicitBuckets": {
          "target": "com.gcp.monitoring_v3#Explicit",
          "traits": {
            "smithy.api#documentation": "The explicit buckets."
          }
        },
        "exponentialBuckets": {
          "target": "com.gcp.monitoring_v3#Exponential",
          "traits": {
            "smithy.api#documentation": "The exponential buckets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite."
      }
    },
    "com.gcp.monitoring_v3#Field": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.monitoring_v3#FieldKindEnum",
          "traits": {
            "smithy.api#documentation": "The field type."
          }
        },
        "jsonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field JSON name."
          }
        },
        "oneofIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
          }
        },
        "typeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\"."
          }
        },
        "options": {
          "target": "com.gcp.monitoring_v3#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the default value of this field. Proto2 syntax only."
          }
        },
        "cardinality": {
          "target": "com.gcp.monitoring_v3#FieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "The field cardinality."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The field number."
          }
        },
        "packed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use alternative packed wire representation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single field of a message type.New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.monitoring_v3#FieldKindEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DOUBLE"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT64"
          }
        },
        "TYPE_UINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT64"
          }
        },
        "TYPE_INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT32"
          }
        },
        "TYPE_FIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED64"
          }
        },
        "TYPE_FIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED32"
          }
        },
        "TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BOOL"
          }
        },
        "TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STRING"
          }
        },
        "TYPE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GROUP"
          }
        },
        "TYPE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MESSAGE"
          }
        },
        "TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BYTES"
          }
        },
        "TYPE_UINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT32"
          }
        },
        "TYPE_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ENUM"
          }
        },
        "TYPE_SFIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED32"
          }
        },
        "TYPE_SFIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED64"
          }
        },
        "TYPE_SINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT32"
          }
        },
        "TYPE_SINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT64"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#FieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "CARDINALITY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_UNKNOWN"
          }
        },
        "CARDINALITY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_OPTIONAL"
          }
        },
        "CARDINALITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REQUIRED"
          }
        },
        "CARDINALITY_REPEATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REPEATED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#DroppedLabels": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from label to its value, for all labels dropped in any aggregation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of (label, value) pairs that were removed from a Distribution time series during aggregation and then added as an attachment to a Distribution.Exemplar.The full label set for the exemplars is constructed by using the dropped pairs in combination with the label values that remain on the aggregated Distribution time series. The constructed full label set can be used to identify the specific entity, such as the instance or job, which might be contributing to a long-tail. However, with dropped labels, the storage requirements are reduced because only the aggregated distribution values for a large group of time series are stored.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities."
      }
    },
    "com.gcp.monitoring_v3#SpanContext": {
      "type": "structure",
      "members": {
        "spanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] "
      }
    },
    "com.gcp.monitoring_v3#Alert": {
      "type": "structure",
      "members": {
        "closeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the alert was closed."
          }
        },
        "policy": {
          "target": "com.gcp.monitoring_v3#PolicySnapshot",
          "traits": {
            "smithy.api#documentation": "The snapshot of the alert policy that generated this alert."
          }
        },
        "openTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the alert was opened."
          }
        },
        "resource": {
          "target": "com.gcp.monitoring_v3#MonitoredResource",
          "traits": {
            "smithy.api#documentation": "The monitored resource type and any monitored resource labels preserved from the incident's generating condition."
          }
        },
        "metadata": {
          "target": "com.gcp.monitoring_v3#MonitoredResourceMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata of the monitored resource."
          }
        },
        "state": {
          "target": "com.gcp.monitoring_v3#AlertStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the alert."
          }
        },
        "metric": {
          "target": "com.gcp.monitoring_v3#Metric",
          "traits": {
            "smithy.api#documentation": "The metric type and any metric labels preserved from the incident's generating condition."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the alert.The format is: projects/[PROJECT_ID_OR_NUMBER]/alerts/[ALERT_ID] The [ALERT_ID] is a system-assigned unique identifier for the alert."
          }
        },
        "log": {
          "target": "com.gcp.monitoring_v3#LogMetadata",
          "traits": {
            "smithy.api#documentation": "The log information associated with the alert. This field is only populated for log-based alerts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alert is the representation of a violation of an alert policy. It is a read-only resource that cannot be modified by the accompanied API."
      }
    },
    "com.gcp.monitoring_v3#AlertStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.gcp.monitoring_v3#LabelValue": {
      "type": "structure",
      "members": {
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A bool label value."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An int64 label value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string label value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label value."
      }
    },
    "com.gcp.monitoring_v3#AlertPolicy": {
      "type": "structure",
      "members": {
        "combiner": {
          "target": "com.gcp.monitoring_v3#AlertPolicyCombinerEnum",
          "traits": {
            "smithy.api#documentation": "How to combine the results of multiple conditions to determine if an incident should be opened. If condition_time_series_query_language is present, this must be COMBINE_UNSPECIFIED."
          }
        },
        "userLabels": {
          "target": "com.gcp.monitoring_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "User-supplied key/value data to be used for organizing and identifying the AlertPolicy objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.Note that Prometheus {alert name} is a valid Prometheus label names (https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels), whereas Prometheus {rule group} is an unrestricted UTF-8 string. This means that they cannot be stored as-is in user labels, because they may contain characters that are not allowed in user-label values."
          }
        },
        "conditions": {
          "target": "com.gcp.monitoring_v3#ConditionList",
          "traits": {
            "smithy.api#documentation": "A list of conditions for the policy. The conditions are combined by AND or OR according to the combiner field. If the combined conditions evaluate to true, then an incident is created. A policy can have from one to six conditions. If condition_time_series_query_language is present, it must be the only condition. If condition_monitoring_query_language is present, it must be the only condition."
          }
        },
        "mutationRecord": {
          "target": "com.gcp.monitoring_v3#MutationRecord",
          "traits": {
            "smithy.api#documentation": "A read-only record of the most recent change to the alerting policy. If provided in a call to create or update, this field will be ignored."
          }
        },
        "alertStrategy": {
          "target": "com.gcp.monitoring_v3#AlertStrategy",
          "traits": {
            "smithy.api#documentation": "Control over how this alerting policy's notification channels are notified."
          }
        },
        "notificationChannels": {
          "target": "com.gcp.monitoring_v3#StringList",
          "traits": {
[...]
