{
  "smithy": "2.0",
  "metadata": {
    "service": "mybusinesslodging",
    "version": "v1",
    "title": "My Business Lodging API",
    "baseUrl": "https://mybusinesslodging.googleapis.com/"
  },
  "shapes": {
    "com.gcp.mybusinesslodging_v1#Business": {
      "type": "structure",
      "members": {
        "meetingRoomsException": {
          "target": "com.gcp.mybusinesslodging_v1#BusinessMeetingRoomsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Meeting rooms exception."
          }
        },
        "meetingRoomsCountException": {
          "target": "com.gcp.mybusinesslodging_v1#BusinessMeetingRoomsCountExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Meeting rooms count exception."
          }
        },
        "businessCenterException": {
          "target": "com.gcp.mybusinesslodging_v1#BusinessBusinessCenterExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Business center exception."
          }
        },
        "meetingRoomsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Meeting rooms count. The number of meeting rooms at the property."
          }
        },
        "businessCenter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Business center. A designated room at the hotel with one or more desks and equipped with guest-use computers, printers, fax machines and/or photocopiers. May or may not be open 24/7. May or may not require a key to access. Not a meeting room or conference room."
          }
        },
        "meetingRooms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Meeting rooms. Rooms at the hotel designated for business-related gatherings. Rooms are usually equipped with tables or desks, office chairs and audio/visual facilities to allow for presentations and conference calls. Also known as conference rooms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Features of the property of specific interest to the business traveler."
      }
    },
    "com.gcp.mybusinesslodging_v1#BusinessMeetingRoomsExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#BusinessMeetingRoomsCountExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#BusinessBusinessCenterExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LodgingMetadata": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The latest time at which the Lodging data is asserted to be true in the real world. This is not necessarily the time at which the request is made."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the Lodging."
      }
    },
    "com.gcp.mybusinesslodging_v1#Policies": {
      "type": "structure",
      "members": {
        "checkinTime": {
          "target": "com.gcp.mybusinesslodging_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Check-in time. The time of the day at which the hotel begins providing guests access to their unit at the beginning of their stay."
          }
        },
        "maxKidsStayFreeCountException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesMaxKidsStayFreeCountExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Max kids stay free count exception."
          }
        },
        "allInclusiveOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "All inclusive only. The only rate option offered by the hotel is a rate that includes the cost of the room, meals, activities and other amenities that might otherwise be charged separately."
          }
        },
        "paymentOptions": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptions",
          "traits": {
            "smithy.api#documentation": "Forms of payment accepted at the property."
          }
        },
        "maxKidsStayFreeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max kids stay free count. The hotel allows a specific, defined number of children to stay in the room/suite of a parent or adult without an additional fee."
          }
        },
        "maxChildAgeException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesMaxChildAgeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Max child age exception."
          }
        },
        "kidsStayFree": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kids stay free. The children of guests are allowed to stay in the room/suite of a parent or adult without an additional fee. The policy may or may not stipulate a limit of the child's age or the overall number of children allowed."
          }
        },
        "checkinTimeException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesCheckinTimeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Check-in time exception."
          }
        },
        "kidsStayFreeException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesKidsStayFreeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Kids stay free exception."
          }
        },
        "checkoutTime": {
          "target": "com.gcp.mybusinesslodging_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Check-out time. The time of the day on the last day of a guest's reserved stay at which the guest must vacate their room and settle their bill. Some hotels may offer late or early check out for a fee."
          }
        },
        "allInclusiveAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesAllInclusiveAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "All inclusive available exception."
          }
        },
        "checkoutTimeException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesCheckoutTimeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Check-out time exception."
          }
        },
        "smokeFreeProperty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Smoke free property. Smoking is not allowed inside the building, on balconies, or in outside spaces. Hotels that offer a designated area for guests to smoke are not considered smoke-free properties."
          }
        },
        "smokeFreePropertyException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesSmokeFreePropertyExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Smoke free property exception."
          }
        },
        "allInclusiveOnlyException": {
          "target": "com.gcp.mybusinesslodging_v1#PoliciesAllInclusiveOnlyExceptionEnum",
          "traits": {
            "smithy.api#documentation": "All inclusive only exception."
          }
        },
        "maxChildAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max child age. The hotel allows children up to a certain age to stay in the room/suite of a parent or adult without an additional fee."
          }
        },
        "allInclusiveAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "All inclusive available. The hotel offers a rate option that includes the cost of the room, meals, activities, and other amenities that might otherwise be charged separately."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property rules that impact guests."
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesMaxKidsStayFreeCountExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesMaxChildAgeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesCheckinTimeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesKidsStayFreeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesAllInclusiveAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesCheckoutTimeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesSmokeFreePropertyExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PoliciesAllInclusiveOnlyExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#Pets": {
      "type": "structure",
      "members": {
        "dogsAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Dogs allowed. Domesticated canines are permitted at the property and allowed to stay in the guest room of their owner. May or may not require a fee."
          }
        },
        "catsAllowedException": {
          "target": "com.gcp.mybusinesslodging_v1#PetsCatsAllowedExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Cats allowed exception."
          }
        },
        "dogsAllowedException": {
          "target": "com.gcp.mybusinesslodging_v1#PetsDogsAllowedExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Dogs allowed exception."
          }
        },
        "petsAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pets allowed. Household animals are allowed at the property and in the specific guest room of their owner. May or may not include dogs, cats, reptiles and/or fish. May or may not require a fee. Service animals are not considered to be pets, so not governed by this policy."
          }
        },
        "petsAllowedFreeException": {
          "target": "com.gcp.mybusinesslodging_v1#PetsPetsAllowedFreeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Pets allowed free exception."
          }
        },
        "petsAllowedException": {
          "target": "com.gcp.mybusinesslodging_v1#PetsPetsAllowedExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Pets allowed exception."
          }
        },
        "catsAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cats allowed. Domesticated felines are permitted at the property and allowed to stay in the guest room of their owner. May or may not require a fee."
          }
        },
        "petsAllowedFree": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pets allowed free. Household animals are allowed at the property and in the specific guest room of their owner for free. May or may not include dogs, cats, reptiles, and/or fish."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policies regarding guest-owned animals."
      }
    },
    "com.gcp.mybusinesslodging_v1#PetsCatsAllowedExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PetsDogsAllowedExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PetsPetsAllowedFreeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PetsPetsAllowedExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#Parking": {
      "type": "structure",
      "members": {
        "electricCarChargingStationsException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingElectricCarChargingStationsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Electric car charging stations exception."
          }
        },
        "selfParkingAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Self parking available. Guests park their own cars. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Can be free or for a fee."
          }
        },
        "valetParkingAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingValetParkingAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Valet parking available exception."
          }
        },
        "electricCarChargingStations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Electric car charging stations. Electric power stations, usually located outdoors, into which guests plug their electric cars to receive a charge."
          }
        },
        "freeValetParkingException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingFreeValetParkingExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Free valet parking exception."
          }
        },
        "freeParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Free parking. The hotel allows the cars of guests to be parked for free. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Parking may be performed by the guest or by hotel staff. Free parking must be available to all guests (limited conditions does not apply)."
          }
        },
        "freeParkingException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingFreeParkingExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Free parking exception."
          }
        },
        "freeSelfParkingException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingFreeSelfParkingExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Free self parking exception."
          }
        },
        "freeValetParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Free valet parking. Hotel staff member parks the cars of guests. Parking with this service is free."
          }
        },
        "freeSelfParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Free self parking. Guests park their own cars for free. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply."
          }
        },
        "parkingAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingParkingAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Parking available exception."
          }
        },
        "selfParkingAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#ParkingSelfParkingAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Self parking available exception."
          }
        },
        "parkingAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Parking available. The hotel allows the cars of guests to be parked. Can be free or for a fee. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Parking may be performed by the guest or by hotel staff."
          }
        },
        "valetParkingAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Valet parking available. Hotel staff member parks the cars of guests. Parking with this service can be free or for a fee."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parking options at the property."
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingElectricCarChargingStationsExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingValetParkingAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingFreeValetParkingExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingFreeParkingExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingFreeSelfParkingExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingParkingAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#ParkingSelfParkingAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaning": {
      "type": "structure",
      "members": {
        "commercialGradeDisinfectantCleaningException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningCommercialGradeDisinfectantCleaningExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Commercial grade disinfectant cleaning exception."
          }
        },
        "employeesTrainedCleaningProceduresException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesTrainedCleaningProceduresExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Employees trained cleaning procedures exception."
          }
        },
        "commonAreasEnhancedCleaningException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningCommonAreasEnhancedCleaningExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Common areas enhanced cleaning exception."
          }
        },
        "employeesTrainedCleaningProcedures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Employees trained in COVID-19 cleaning procedures."
          }
        },
        "employeesWearProtectiveEquipmentException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesWearProtectiveEquipmentExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Employees wear protective equipment exception."
          }
        },
        "guestRoomsEnhancedCleaningException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningGuestRoomsEnhancedCleaningExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Guest rooms enhanced cleaning exception."
          }
        },
        "guestRoomsEnhancedCleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enhanced cleaning of guest rooms."
          }
        },
        "employeesWearProtectiveEquipment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Employees wear masks, face shields, and/or gloves."
          }
        },
        "commercialGradeDisinfectantCleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Commercial-grade disinfectant used to clean the property."
          }
        },
        "commonAreasEnhancedCleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enhanced cleaning of common areas."
          }
        },
        "employeesTrainedThoroughHandWashing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Employees trained in thorough hand-washing."
          }
        },
        "employeesTrainedThoroughHandWashingException": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesTrainedThoroughHandWashingExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Employees trained thorough hand washing exception."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enhanced cleaning measures implemented by the hotel during COVID-19."
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningCommercialGradeDisinfectantCleaningExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesTrainedCleaningProceduresExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningCommonAreasEnhancedCleaningExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesWearProtectiveEquipmentExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningGuestRoomsEnhancedCleaningExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EnhancedCleaningEmployeesTrainedThoroughHandWashingExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EcoCertification": {
      "type": "structure",
      "members": {
        "awarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the eco certificate was awarded or not."
          }
        },
        "awardedException": {
          "target": "com.gcp.mybusinesslodging_v1#EcoCertificationAwardedExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Awarded exception."
          }
        },
        "ecoCertificate": {
          "target": "com.gcp.mybusinesslodging_v1#EcoCertificationEcoCertificateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The eco certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An eco certificate awarded to the hotel. Deprecated: this message is no longer populated. All certification data is now provided by BeCause."
      }
    },
    "com.gcp.mybusinesslodging_v1#EcoCertificationAwardedExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#EcoCertificationEcoCertificateEnum": {
      "type": "enum",
      "members": {
        "ECO_CERTIFICATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECO_CERTIFICATE_UNSPECIFIED"
          }
        },
        "ISO14001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO14001"
          }
        },
        "ISO50001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO50001"
          }
        },
        "ASIAN_ECOTOURISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASIAN_ECOTOURISM"
          }
        },
        "BIOSPHERE_RESPOSNIBLE_TOURISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOSPHERE_RESPOSNIBLE_TOURISM"
          }
        },
        "BUREAU_VERITAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUREAU_VERITAS"
          }
        },
        "CONTROL_UNION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROL_UNION"
          }
        },
        "EARTHCHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARTHCHECK"
          }
        },
        "ECO_CERTIFICATION_MALTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECO_CERTIFICATION_MALTA"
          }
        },
        "ECOTOURISM_AUSTRALIAS_ECO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECOTOURISM_AUSTRALIAS_ECO"
          }
        },
        "GREAT_GREEN_DEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREAT_GREEN_DEAL"
          }
        },
        "GREEN_GLOBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_GLOBE"
          }
        },
        "GREEN_GROWTH2050": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_GROWTH2050"
          }
        },
        "GREEN_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_KEY"
          }
        },
        "GREEN_KEY_ECO_RATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_KEY_ECO_RATING"
          }
        },
        "GREEN_SEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_SEAL"
          }
        },
        "GREEN_STAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_STAR"
          }
        },
        "GREEN_TOURISM_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN_TOURISM_ACTIVE"
          }
        },
        "HILTON_LIGHTSTAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HILTON_LIGHTSTAY"
          }
        },
        "HOSTELLING_INTERNATIONALS_QUALITY_AND_SUSTAINABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOSTELLING_INTERNATIONALS_QUALITY_AND_SUSTAINABILITY"
          }
        },
        "HOTELES_MAS_VERDES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTELES_MAS_VERDES"
          }
        },
        "NORDIC_SWAN_ECOLABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORDIC_SWAN_ECOLABEL"
          }
        },
        "PREFERRED_BY_NATURE_SUSTAINABLE_TOURISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED_BY_NATURE_SUSTAINABLE_TOURISM"
          }
        },
        "SUSTAINABLE_TRAVEL_IRELAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSTAINABLE_TRAVEL_IRELAND"
          }
        },
        "TOF_TIGERS_INITITIVES_PUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOF_TIGERS_INITITIVES_PUG"
          }
        },
        "TRAVELIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVELIFE"
          }
        },
        "UNITED_CERTIFICATION_SYSTEMS_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNITED_CERTIFICATION_SYSTEMS_LIMITED"
          }
        },
        "VIREO_SRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIREO_SRL"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcing": {
      "type": "structure",
      "members": {
        "ecoFriendlyToiletriesException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingEcoFriendlyToiletriesExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Eco friendly toiletries exception."
          }
        },
        "organicCageFreeEggsException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingOrganicCageFreeEggsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Organic cage free eggs exception."
          }
        },
        "organicFoodAndBeveragesException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingOrganicFoodAndBeveragesExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Organic food and beverages exception."
          }
        },
        "responsiblySourcesSeafood": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Responsibly sources seafood. The property does not source seafood from the Monterey Bay Aquarium Seafood Watch \"avoid\" list, and must sustainably source seafood listed as \"good alternative,\" \"eco-certified,\" and \"best choice\". The property has a policy outlining a commitment to source Marine Stewardship Council (MSC) and/or Aquaculture Stewardship Council (ASC) Chain of Custody certified seafood."
          }
        },
        "locallySourcedFoodAndBeveragesException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingLocallySourcedFoodAndBeveragesExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Locally sourced food and beverages exception."
          }
        },
        "organicCageFreeEggs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Organic cage free eggs. The property sources 100% certified organic and cage-free eggs (shell, liquid, and egg products). Cage-free means hens are able to walk, spread their wings and lay their eggs in nests)."
          }
        },
        "vegetarianMeals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Vegetarian meals. The property provides vegetarian menu options for guests. Vegetarian food does not contain meat, poultry, fish, or seafood."
          }
        },
        "veganMeals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Vegan meals. The property provides vegan menu options for guests. Vegan food does not contain animal products or byproducts."
          }
        },
        "responsiblePurchasingPolicyException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingResponsiblePurchasingPolicyExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Responsible purchasing policy exception."
          }
        },
        "responsiblySourcesSeafoodException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingResponsiblySourcesSeafoodExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Responsibly sources seafood exception."
          }
        },
        "responsiblePurchasingPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Responsible purchasing policy. The property has a responsible procurement policy in place. Responsible means integration of social, ethical, and/or environmental performance factors into the procurement process when selecting suppliers."
          }
        },
        "locallySourcedFoodAndBeverages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Locally sourced food and beverages. Property sources locally in order to lower the environmental footprint from reduced transportation and to stimulate the local economy. Products produced less than 62 miles from the establishment are normally considered as locally produced."
          }
        },
        "vegetarianMealsException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingVegetarianMealsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Vegetarian meals exception."
          }
        },
        "ecoFriendlyToiletries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Eco friendly toiletries. Soap, shampoo, lotion, and other toiletries provided for guests have a nationally or internationally recognized sustainability certification, such as USDA Organic, EU Organic, or cruelty-free."
          }
        },
        "organicFoodAndBeverages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Organic food and beverages. At least 25% of food and beverages, by spend, are certified organic. Organic means products that are certified to one of the organic standard listed in the IFOAM family of standards. Qualifying certifications include USDA Organic and EU Organic, among others."
          }
        },
        "veganMealsException": {
          "target": "com.gcp.mybusinesslodging_v1#SustainableSourcingVeganMealsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Vegan meals exception."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sustainable sourcing practices implemented at the hotel."
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingEcoFriendlyToiletriesExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingOrganicCageFreeEggsExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingOrganicFoodAndBeveragesExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingLocallySourcedFoodAndBeveragesExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingResponsiblePurchasingPolicyExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingResponsiblySourcesSeafoodExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingVegetarianMealsExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#SustainableSourcingVeganMealsExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptions": {
      "type": "structure",
      "members": {
        "debitCardException": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptionsDebitCardExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Debit card exception."
          }
        },
        "cash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cash. The hotel accepts payment by paper/coin currency."
          }
        },
        "creditCardException": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptionsCreditCardExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Credit card exception."
          }
        },
        "mobileNfc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mobile nfc. The hotel has the compatible computer hardware terminal that reads and charges a payment app on the guest's smartphone without requiring the two devices to make physical contact. Also known as Apple Pay, Google Pay, Samsung Pay."
          }
        },
        "mobileNfcException": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptionsMobileNfcExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Mobile nfc exception."
          }
        },
        "chequeException": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptionsChequeExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Cheque exception."
          }
        },
        "cashException": {
          "target": "com.gcp.mybusinesslodging_v1#PaymentOptionsCashExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Cash exception."
          }
        },
        "cheque": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cheque. The hotel accepts a printed document issued by the guest's bank in the guest's name as a form of payment."
          }
        },
        "debitCard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Debit card. The hotel accepts a bank-issued card that immediately deducts the charged funds from the guest's bank account upon processing."
          }
        },
        "creditCard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Credit card. The hotel accepts payment by a card issued by a bank or credit card company. Also known as charge card, debit card, bank card, or charge plate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forms of payment accepted at the property."
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptionsDebitCardExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptionsCreditCardExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptionsMobileNfcExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptionsChequeExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#PaymentOptionsCashExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#HealthAndSafety": {
      "type": "structure",
      "members": {
        "personalProtection": {
          "target": "com.gcp.mybusinesslodging_v1#PersonalProtection",
          "traits": {
            "smithy.api#documentation": "Personal protection measures implemented by the hotel during COVID-19."
          }
        },
        "increasedFoodSafety": {
          "target": "com.gcp.mybusinesslodging_v1#IncreasedFoodSafety",
          "traits": {
            "smithy.api#documentation": "Increased food safety measures implemented by the hotel during COVID-19."
          }
        },
        "minimizedContact": {
          "target": "com.gcp.mybusinesslodging_v1#MinimizedContact",
          "traits": {
            "smithy.api#documentation": "Minimized contact measures implemented by the hotel during COVID-19."
          }
        },
        "enhancedCleaning": {
          "target": "com.gcp.mybusinesslodging_v1#EnhancedCleaning",
          "traits": {
            "smithy.api#documentation": "Enhanced cleaning measures implemented by the hotel during COVID-19."
          }
        },
        "physicalDistancing": {
          "target": "com.gcp.mybusinesslodging_v1#PhysicalDistancing",
          "traits": {
            "smithy.api#documentation": "Physical distancing measures implemented by the hotel during COVID-19."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health and safety measures implemented by the hotel during COVID-19."
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEating": {
      "type": "structure",
      "members": {
        "toasterException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingToasterExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Toaster exception."
          }
        },
        "teaStation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tea station. A small area with the supplies needed to heat water and make tea."
          }
        },
        "kettleException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingKettleExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Kettle exception."
          }
        },
        "snackbar": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Snackbar. A small cabinet in the guestroom containing snacks. The items are most commonly available for a fee."
          }
        },
        "minibarException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingMinibarExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Minibar exception."
          }
        },
        "kitchenAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingKitchenAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Kitchen available exception."
          }
        },
        "toaster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toaster. A small, temperature controlled electric appliance with rectangular slots at the top that are lined with heated coils for the purpose of browning slices of bread products."
          }
        },
        "minibar": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Minibar. A small refrigerated cabinet in the guestroom containing bottles/cans of soft drinks, mini bottles of alcohol, and snacks. The items are most commonly available for a fee."
          }
        },
        "dishwasher": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Dishwasher. A counter-height electrical cabinet containing racks for dirty dishware, cookware and cutlery, and a dispenser for soap built into the pull-down door. The cabinet is attached to the plumbing system to facilitate the automatic cleaning of its contents."
          }
        },
        "indoorGrill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indoor grill. Metal grates built into an indoor cooktop on which food is cooked over an open flame or electric heat source."
          }
        },
        "coffeeMakerException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingCoffeeMakerExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Coffee maker exception."
          }
        },
        "sinkException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingSinkExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Sink exception."
          }
        },
        "kitchenAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kitchen available. An area of the guestroom designated for the preparation and storage of food via the presence of a refrigerator, cook top, oven and sink, as well as cutlery, dishes and cookware. Usually includes small appliances such a coffee maker and a microwave. May or may not include an automatic dishwasher."
          }
        },
        "stoveException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingStoveExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Stove exception."
          }
        },
        "oven": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Oven. A temperature controlled, heated metal cabinet powered by gas or electricity in which food is placed for the purpose of cooking or reheating."
          }
        },
        "cookwareException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingCookwareExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Cookware exception."
          }
        },
        "refrigeratorException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingRefrigeratorExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Refrigerator exception."
          }
        },
        "stove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Stove. A kitchen appliance powered by gas or electricity for the purpose of creating a flame or hot surface on which pots of food can be cooked. Also known as cooktop or hob."
          }
        },
        "outdoorGrill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Outdoor grill. Metal grates on which food is cooked over an open flame or electric heat source. Part of an outdoor apparatus that supports the grates. Also known as barbecue grill or barbecue."
          }
        },
        "outdoorGrillException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingOutdoorGrillExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Outdoor grill exception."
          }
        },
        "sink": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sink. A basin with a faucet attached to a water source and used for the purpose of washing and rinsing."
          }
        },
        "ovenException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingOvenExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Oven exception."
          }
        },
        "coffeeMaker": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Coffee maker. An electric appliance that brews coffee by heating and forcing water through ground coffee."
          }
        },
        "indoorGrillException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingIndoorGrillExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Indoor grill exception."
          }
        },
        "kettle": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kettle. A covered container with a handle and a spout used for boiling water."
          }
        },
        "cookware": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cookware. Kitchen pots, pans and utensils used in connection with the preparation of food."
          }
        },
        "microwave": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Microwave. An electric oven that quickly cooks and heats food by microwave energy. Smaller than a standing or wall mounted oven. Usually placed on a kitchen counter, a shelf or tabletop or mounted above a cooktop."
          }
        },
        "dishwasherException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingDishwasherExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Dishwasher exception."
          }
        },
        "microwaveException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingMicrowaveExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Microwave exception."
          }
        },
        "teaStationException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingTeaStationExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Tea station exception."
          }
        },
        "refrigerator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Refrigerator. A large, climate-controlled electrical cabinet with vertical doors. Built for the purpose of chilling and storing perishable foods."
          }
        },
        "snackbarException": {
          "target": "com.gcp.mybusinesslodging_v1#LivingAreaEatingSnackbarExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Snackbar exception."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about eating features in the living area."
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingToasterExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingKettleExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingMinibarExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingKitchenAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingCoffeeMakerExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingSinkExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingStoveExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingCookwareExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingRefrigeratorExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingOutdoorGrillExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingOvenExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingIndoorGrillExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingDishwasherExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingMicrowaveExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingTeaStationExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#LivingAreaEatingSnackbarExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#Housekeeping": {
      "type": "structure",
      "members": {
        "dailyHousekeepingException": {
          "target": "com.gcp.mybusinesslodging_v1#HousekeepingDailyHousekeepingExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Daily housekeeping exception."
          }
        },
        "turndownService": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Turndown service. Hotel staff enters guest units to prepare the bed for sleep use. May or may not include some light housekeeping. May or may not include an evening snack or candy. Also known as evening service."
          }
        },
        "housekeepingAvailableException": {
          "target": "com.gcp.mybusinesslodging_v1#HousekeepingHousekeepingAvailableExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Housekeeping available exception."
          }
        },
        "housekeepingAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Housekeeping available. Guest units are cleaned by hotel staff during guest's stay. Schedule may vary from daily, weekly, or specific days of the week."
          }
        },
        "turndownServiceException": {
          "target": "com.gcp.mybusinesslodging_v1#HousekeepingTurndownServiceExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Turndown service exception."
          }
        },
        "dailyHousekeeping": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Daily housekeeping. Guest units are cleaned by hotel staff daily during guest's stay."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conveniences provided in guest units to facilitate an easier, more comfortable stay."
      }
    },
    "com.gcp.mybusinesslodging_v1#HousekeepingDailyHousekeepingExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#HousekeepingHousekeepingAvailableExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#HousekeepingTurndownServiceExceptionEnum": {
      "type": "enum",
      "members": {
        "EXCEPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEPTION_UNSPECIFIED"
          }
        },
        "UNDER_CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_CONSTRUCTION"
          }
        },
        "DEPENDENT_ON_SEASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_SEASON"
          }
        },
        "DEPENDENT_ON_DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENT_ON_DAY_OF_WEEK"
          }
        }
      }
    },
    "com.gcp.mybusinesslodging_v1#WaterConservation": {
      "type": "structure",
      "members": {
        "waterSavingShowers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Water saving showers. All of the property's guest rooms have shower heads that use no more than 2.0 gallons per minute (gpm)."
          }
        },
        "waterSavingSinksException": {
          "target": "com.gcp.mybusinesslodging_v1#WaterConservationWaterSavingSinksExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Water saving sinks exception."
          }
        },
        "linenReuseProgramException": {
          "target": "com.gcp.mybusinesslodging_v1#WaterConservationLinenReuseProgramExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Linen reuse program exception."
          }
        },
        "waterSavingShowersException": {
          "target": "com.gcp.mybusinesslodging_v1#WaterConservationWaterSavingShowersExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Water saving showers exception."
          }
        },
        "waterSavingSinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Water saving sinks. All of the property's guest rooms have bathroom faucets that use a maximum of 1.5 gallons per minute (gpm), public restroom faucets do not exceed 0.5 gpm, and kitchen faucets (excluding faucets used exclusively for filling operations) do not exceed 2.2 gpm."
          }
        },
        "towelReuseProgram": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Towel reuse program. The property offers a towel reuse program."
          }
        },
        "linenReuseProgram": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Linen reuse program. The property offers a linen reuse program."
          }
        },
        "independentOrganizationAuditsWaterUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Independent organization audits water use. The property conducts a water conservation audit every 5 years, the results of which are either verified by a third-party and/or published in external communications. A water conservation audit is a detailed assessment of the facility, providing recommendations to existing operations and procedures to improve water efficiency, available incentives or rebates, and opportunities for improvements through renovations or upgrades. Examples of organizations who conduct credible third party audits include: Engie Impact, and local utility providers (they often provide energy and water audits)."
          }
        },
        "waterSavingToilets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Water saving toilets. All of the property's toilets use 1.6 gallons per flush, or less."
          }
        },
        "waterSavingToiletsException": {
          "target": "com.gcp.mybusinesslodging_v1#WaterConservationWaterSavingToiletsExceptionEnum",
          "traits": {
            "smithy.api#documentation": "Water saving toilets exception."
          }
        },
[...]
