{
  "smithy": "2.0",
  "metadata": {
    "service": "mybusinessbusinessinformation",
    "version": "v1",
    "title": "My Business Business Information API",
    "baseUrl": "https://mybusinessbusinessinformation.googleapis.com/"
  },
  "shapes": {
    "com.gcp.mybusinessbusinessinformation_v1#RepeatedEnumAttributeValue": {
      "type": "structure",
      "members": {
        "unsetValues": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Enum values that are unset."
          }
        },
        "setValues": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Enum values that are set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values for an attribute with a `value_type` of REPEATED_ENUM. This consists of two lists of value IDs: those that are set (true) and those that are unset (false). Values absent are considered unknown. At least one value must be specified."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#UriAttributeValue": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The proposed URI value for this attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values for an attribute with a `value_type` of URL."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#RelevantLocation": {
      "type": "structure",
      "members": {
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specify the location that is on the other side of the relation by its placeID."
          }
        },
        "relationType": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#RelevantLocationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the relationship."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about another location that is related to current one. The relation can be any one of DEPARTMENT_OF or INDEPENDENT_ESTABLISHMENT_OF, and the location specified here can be on either side (parent/child) of the location."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#RelevantLocationRelationTypeEnum": {
      "type": "enum",
      "members": {
        "RELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATION_TYPE_UNSPECIFIED"
          }
        },
        "DEPARTMENT_OF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPARTMENT_OF"
          }
        },
        "INDEPENDENT_ESTABLISHMENT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDEPENDENT_ESTABLISHMENT_IN"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ListCategoriesResponse": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#CategoryList",
          "traits": {
            "smithy.api#documentation": "The matching categories based on the requested parameters."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the number of categories exceeded the requested page size, this field will be populated with a token to fetch the next page of categories on a subsequent call to `ListCategories`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BusinessCategories.ListCategories."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Category"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#OpenInfo": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#OpenInfoStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether or not the Location is currently open for business. All locations are open by default, unless updated to be closed."
          }
        },
        "canReopen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this business is eligible for re-open."
          }
        },
        "openingDate": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Mybusinessbusinessinformation_Date",
          "traits": {
            "smithy.api#documentation": "Optional. The date on which the location first opened. If the exact day is not known, month and year only can be provided. The date must be in the past or be no more than one year in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to the opening state of the business."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#OpenInfoStatusEnum": {
      "type": "enum",
      "members": {
        "OPEN_FOR_BUSINESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_FOR_BUSINESS_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED_PERMANENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED_PERMANENTLY"
          }
        },
        "CLOSED_TEMPORARILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED_TEMPORARILY"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#MoreHours": {
      "type": "structure",
      "members": {
        "hoursTypeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of hours. Clients should call {#link businessCategories:BatchGet} to get supported hours types for categories of their locations."
          }
        },
        "periods": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimePeriodList",
          "traits": {
            "smithy.api#documentation": "Required. A collection of times that this location is open. Each period represents a range of hours when the location is open during the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The time periods during which a location is open for certain types of business."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#TimePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#TimePeriod"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#MoreHoursType": {
      "type": "structure",
      "members": {
        "localizedDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable localized display name for the hours type."
          }
        },
        "hoursTypeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable ID provided by Google for this hours type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable English display name for the hours type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "More hours types that a business can offers, in addition to its regular hours."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchChainsResponse": {
      "type": "structure",
      "members": {
        "chains": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ChainList",
          "traits": {
            "smithy.api#documentation": "Chains that match the queried chain_display_name in SearchChainsRequest. If there are no matches, this field will be empty. Results are listed in order of relevance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Locations.SearchChains."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ChainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Chain"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PostalAddress": {
      "type": "structure",
      "members": {
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        },
        "recipients": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "addressLines": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#FreeFormServiceItem": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This field represents the category name (i.e. the category's stable ID). The `category` and `service_type_id` should match the possible combinations provided in the `Category` message."
          }
        },
        "label": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Label",
          "traits": {
            "smithy.api#documentation": "Required. Language-tagged labels for the item. We recommend that item names be 140 characters or less, and descriptions 250 characters or less. This field should only be set if the input is a custom service item. Standardized service types should be updated using service_type_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a free-form service offered by the merchant. These are services that are not exposed as part of our structure service data. The merchant manually enters the names for such services using a geomerchant surface."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#StructuredServiceItem": {
      "type": "structure",
      "members": {
        "serviceTypeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `service_type_id` field is a Google provided unique ID that can be found in `ServiceType`. This information is provided by `BatchGetCategories` rpc service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of structured service item. The character limit is 300."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a structured service offered by the merchant. For eg: toilet_installation."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#RelationshipData": {
      "type": "structure",
      "members": {
        "childrenLocations": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#RelevantLocationList",
          "traits": {
            "smithy.api#documentation": "The list of children locations that this location has relations with."
          }
        },
        "parentLocation": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#RelevantLocation",
          "traits": {
            "smithy.api#documentation": "The parent location that this location has relations with."
          }
        },
        "parentChain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Chain that this location is member of. How to find Chain ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of all parent and children locations related to this one."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#RelevantLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#RelevantLocation"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Attribute": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#DocumentList",
          "traits": {
            "smithy.api#documentation": "The values for this attribute. The type of the values supplied must match that expected for that attribute. This is a repeated field where multiple attribute values may be provided. Attribute types only support one value."
          }
        },
        "repeatedEnumValue": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#RepeatedEnumAttributeValue",
          "traits": {
            "smithy.api#documentation": "When the attribute value type is REPEATED_ENUM, this contains the attribute value, and the other values fields must be empty."
          }
        },
        "uriValues": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#UriAttributeValueList",
          "traits": {
            "smithy.api#documentation": "When the attribute value type is URL, this field contains the value(s) for this attribute, and the other values fields must be empty."
          }
        },
        "valueType": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of value that this attribute contains. This should be used to determine how to interpret the value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name for this attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A location attribute. Attributes provide additional information about a location. The attributes that can be set on a location may vary based on the properties of that location (for example, category). Available attributes are determined by Google and may be added and removed without API changes."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#UriAttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#UriAttributeValue"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeValueTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_VALUE_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENUM"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL"
          }
        },
        "REPEATED_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPEATED_ENUM"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Mybusinessbusinessinformation_Date": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Places": {
      "type": "structure",
      "members": {
        "placeInfos": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#PlaceInfoList",
          "traits": {
            "smithy.api#documentation": "The areas represented by place IDs. Limited to a maximum of 20 places."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the union of areas represented by a set of places."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PlaceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#PlaceInfo"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceAreaBusiness": {
      "type": "structure",
      "members": {
        "businessType": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceAreaBusinessBusinessTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the type of the service area business."
          }
        },
        "places": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Places",
          "traits": {
            "smithy.api#documentation": "The area that this business serves defined through a set of places."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. CLDR region code of the country/region that this service area business is based in. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland. This field is required for CUSTOMER_LOCATION_ONLY businesses, and is ignored otherwise. The region specified here can be different from regions for the areas that this business serves (e.g. service area businesses that provide services in regions other than the one that they are based in). If this location requires verification after creation, the address provided for verification purposes *must* be located within this region, and the business owner or their authorized representative *must* be able to receive postal mail at the provided verification address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service area businesses provide their service at the customer's location (for example, a locksmith or plumber)."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceAreaBusinessBusinessTypeEnum": {
      "type": "enum",
      "members": {
        "BUSINESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_TYPE_UNSPECIFIED"
          }
        },
        "CUSTOMER_LOCATION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_LOCATION_ONLY"
          }
        },
        "CUSTOMER_AND_BUSINESS_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_AND_BUSINESS_LOCATION"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadata": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadataValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The value type for the attribute. Values set and retrieved should be expected to be of this type."
          }
        },
        "repeatable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the attribute supports multiple values. If false, only a single value should be provided."
          }
        },
        "valueMetadata": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeValueMetadataList",
          "traits": {
            "smithy.api#documentation": "For some types of attributes (for example, enums), a list of supported values and corresponding display names for those values is provided."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the attribute."
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the attribute is deprecated and should no longer be used. If deprecated, updating this attribute will not result in an error, but updates will not be saved. At some point after being deprecated, the attribute will be removed entirely and it will become an error."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized display name for the attribute, if available; otherwise, the English display name."
          }
        },
        "groupDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized display name of the group that contains this attribute, if available; otherwise, the English group name. Related attributes are collected into a group and should be displayed together under the heading given here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for an attribute. Contains display information for the attribute, including a localized name and a heading for grouping related attributes together."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadataValueTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_VALUE_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENUM"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL"
          }
        },
        "REPEATED_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPEATED_ENUM"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeValueMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeValueMetadata"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The approximate number of Locations in the list irrespective of pagination. This field will only be returned if `filter` is used as a query parameter."
          }
        },
        "locations": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "The locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the number of locations exceeded the requested page size, this field is populated with a token to fetch the next page of locations on a subsequent call to `ListLocations`. If there are no more locations, this field is not present in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Locations.ListLocations."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Location"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ListAttributeMetadataResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the number of attributes exceeded the requested page size, this field will be populated with a token to fetch the next page of attributes on a subsequent call to `attributes.list`. If there are no more attributes, this field will not be present in the response."
          }
        },
        "attributeMetadata": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadataList",
          "traits": {
            "smithy.api#documentation": "A collection of attribute metadata for the available attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for AttributesService.ListAttributeMetadata."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeMetadata"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeValueMetadata": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The attribute value."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for this value, localized where available; otherwise, in English. The value display name is intended to be used in context with the attribute display name. For example, for a \"WiFi\" enum attribute, this could contain \"Paid\" to represent paid Wi-Fi."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for supported attribute values."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Category": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A stable ID (provided by Google) for this category. The value must be specified when modifying the category (when creating or updating a location)."
          }
        },
        "moreHoursTypes": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#MoreHoursTypeList",
          "traits": {
            "smithy.api#documentation": "Output only. More hours types that are available for this business category."
          }
        },
        "serviceTypes": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceTypeList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of all the service types that are available for this business category."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable name of the category. This is set when reading the location. When modifying the location, `category_id` must be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A category describing what this business is (not what it does). For a list of valid category IDs, and the mappings to their human-readable names, see `categories.list`."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#MoreHoursTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#MoreHoursType"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceType"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ChainName": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for this chain."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP 47 code of language of the name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name to be used when displaying the chain."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#BusinessHours": {
      "type": "structure",
      "members": {
        "periods": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimePeriodList",
          "traits": {
            "smithy.api#documentation": "Required. A collection of times that this location is open for business. Each period represents a range of hours when the location is open during the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the time periods that this location is open for business. Holds a collection of TimePeriod instances."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AdWordsLocationExtensions": {
      "type": "structure",
      "members": {
        "adPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An alternate phone number to display on AdWords location extensions instead of the location's primary phone number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information that is surfaced in AdWords."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Label": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name for the price list, section, or item."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the price list, section, or item."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code that these strings apply for. Only one set of labels may be set per language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label to be used when displaying the price list, section, or item."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SpecialHourPeriod": {
      "type": "structure",
      "members": {
        "closed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, `end_date`, `open_time`, and `close_time` are ignored, and the date specified in `start_date` is treated as the location being closed for the entire day."
          }
        },
        "openTime": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Valid values are 00:00-24:00 where 24:00 represents midnight at the end of the specified day field. Must be specified if `closed` is false."
          }
        },
        "endDate": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Mybusinessbusinessinformation_Date",
          "traits": {
            "smithy.api#documentation": "Optional. The calendar date this special hour period ends on. If `end_date` field is not set, default to the date specified in `start_date`. If set, this field must be equal to or at most 1 day after `start_date`."
          }
        },
        "closeTime": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field. Must be specified if `closed` is false."
          }
        },
        "startDate": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Mybusinessbusinessinformation_Date",
          "traits": {
            "smithy.api#documentation": "Required. The calendar date this special hour period starts on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single time period when a location's operational hours differ from its normal business hours. A special hour period must represent a range of less than 24 hours. The `open_time` and `start_date` must predate the `close_time` and `end_date`. The `close_time` and `end_date` can extend to 11:59 a.m. on the day after the specified `start_date`. For example, the following inputs are valid: start_date=2015-11-23, open_time=08:00, close_time=18:00 start_date=2015-11-23, end_date=2015-11-23, open_time=08:00, close_time=18:00 start_date=2015-11-23, end_date=2015-11-24, open_time=13:00, close_time=11:59 The following inputs are not valid: start_date=2015-11-23, open_time=13:00, close_time=11:59 start_date=2015-11-23, end_date=2015-11-24, open_time=13:00, close_time=12:00 start_date=2015-11-23, end_date=2015-11-25, open_time=08:00, close_time=18:00"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsResponse": {
      "type": "structure",
      "members": {
        "googleLocations": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#GoogleLocationList",
          "traits": {
            "smithy.api#documentation": "A collection of GoogleLocations that are potential matches to the specified request, listed in order from most to least accuracy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GoogleLocations.SearchGoogleLocations."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GoogleLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GoogleLocation"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SpecialHours": {
      "type": "structure",
      "members": {
        "specialHourPeriods": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#SpecialHourPeriodList",
          "traits": {
            "smithy.api#documentation": "Required. A list of exceptions to the business's regular hours."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a set of time periods when a location's operational hours differ from its normal business hours."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SpecialHourPeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#SpecialHourPeriod"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceType": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable display name for the service type."
          }
        },
        "serviceTypeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable ID (provided by Google) for this service type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message describing a service type that the business offers."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Chain": {
      "type": "structure",
      "members": {
        "chainNames": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ChainNameList",
          "traits": {
            "smithy.api#documentation": "Names of the chain."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The chain's resource name, in the format `chains/{chain_id}`."
          }
        },
        "locationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of locations that are part of this chain."
          }
        },
        "websites": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ChainUriList",
          "traits": {
            "smithy.api#documentation": "Websites of the chain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chain is a brand that your business's locations can be affiliated with."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ChainNameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ChainName"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ChainUriList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ChainUri"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceItem": {
      "type": "structure",
      "members": {
        "price": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the monetary price of the service item. We recommend that currency_code and units should be set when including a price. This will be treated as a fixed price for the service item."
          }
        },
        "structuredServiceItem": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StructuredServiceItem",
          "traits": {
            "smithy.api#documentation": "Optional. This field will be set case of structured services data."
          }
        },
        "freeFormServiceItem": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#FreeFormServiceItem",
          "traits": {
            "smithy.api#documentation": "Optional. This field will be set case of free-form services data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that describes a single service item. It is used to describe the type of service that the merchant provides. For example, haircut can be a service."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Location",
          "traits": {
            "smithy.api#documentation": "Location to search for. If provided, will find locations which match the provided location details, which must include a value for the title."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text query to search for. The search results from a query string will be less accurate than if providing an exact location, but can provide more inexact matches."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of matches to return. The default value is 3, with a maximum of 10. Note that latency may increase if more are requested. There is no pagination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GoogleLocations.SearchGoogleLocations."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Profile": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Description of the location in your own voice, not editable by anyone else."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All information pertaining to the location's profile."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#TimePeriod": {
      "type": "structure",
      "members": {
        "closeTime": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field."
          }
        },
        "openDay": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimePeriodOpenDayEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the day of the week this period starts on."
          }
        },
        "openTime": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Valid values are 00:00-24:00, where 24:00 represents midnight at the end of the specified day field."
          }
        },
        "closeDay": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#TimePeriodCloseDayEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the day of the week this period ends on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a span of time that the business is open, starting on the specified open day/time and closing on the specified close day/time. The closing time must occur after the opening time, for example later in the same day, or on a subsequent day."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#TimePeriodOpenDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#TimePeriodCloseDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PhoneNumbers": {
      "type": "structure",
      "members": {
        "additionalPhones": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Up to two phone numbers (mobile or landline, no fax) at which your business can be called, in addition to your primary phone number."
          }
        },
        "primaryPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A phone number that connects to your individual business location as directly as possible. Use a local phone number instead of a central, call center helpline number whenever possible."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of phone numbers for the business. During updates, both fields must be set. Clients may not update just the primary or additional phone numbers using the update mask. International phone format is preferred, such as \"+1 415 555 0132\", see more in (https://developers.google.com/style/phone-numbers#international-phone-numbers)."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#BatchGetCategoriesResponse": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#CategoryList",
          "traits": {
            "smithy.api#documentation": "Categories that match the GConcept ids provided in the request. They will not come in the same order as category ids in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BusinessCategories.BatchGetBusinessCategories."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Attributes": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google identifier for this location in the form of `locations/{location_id}/attributes`."
          }
        },
        "attributes": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AttributeList",
          "traits": {
            "smithy.api#documentation": "A collection of attributes that need to be updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container for all the attributes for a given location."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Attribute"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Categories": {
      "type": "structure",
      "members": {
        "primaryCategory": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Category",
          "traits": {
            "smithy.api#documentation": "Required. Category that best describes the core business this location engages in."
          }
        },
        "additionalCategories": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#CategoryList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional categories to describe your business. Categories help your customers find accurate, specific results for services they're interested in. To keep your business information accurate and live, make sure that you use as few categories as possible to describe your overall core business. Choose categories that are as specific as possible, but representative of your main business."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of categories that describes the business. During updates, both fields must be set. Clients are prohibited from individually updating the primary or additional categories using the update mask."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GoogleUpdatedLocation": {
      "type": "structure",
      "members": {
        "diffMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields where the values in the view as it appears to consumers are different than the merchant's information. To accept these changes, patch the location. To reject, patch with your preferred values."
          }
        },
        "pendingMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields where the merchant has provided an update that is currently in flight and hasn't yet been published to Maps and Search. This mask only tracks the status of the merchant's own edits, not external changes."
          }
        },
        "location": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Location",
          "traits": {
            "smithy.api#documentation": "The Google-updated version of this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the view of a location as it appears to consumers, which includes updates that are currently serving on Google Maps and Search."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GoogleLocation": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Location",
          "traits": {
            "smithy.api#documentation": "The sparsely populated Location information. This field can be re-used in CreateLocation if it is not currently claimed by a user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this GoogleLocation, in the format `googleLocations/{googleLocationId}`."
          }
        },
        "requestAdminRightsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that will redirect the user to the request admin rights UI. This field is only present if the location has already been claimed by any user, including the current user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Location that is present on Google. This can be a location that has been claimed by the user, someone else, or could be unclaimed."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ChainUri": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri for this chain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Url to be used when displaying the chain."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Location": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Categories",
          "traits": {
            "smithy.api#documentation": "Optional. The different categories that describe the business."
          }
        },
        "moreHours": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#MoreHoursList",
          "traits": {
            "smithy.api#documentation": "Optional. More hours for a business's different departments or specific customers."
          }
        },
        "serviceArea": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceAreaBusiness",
          "traits": {
            "smithy.api#documentation": "Optional. Service area businesses provide their service at the customer's location. If this business is a service area business, this field describes the area(s) serviced by the business."
          }
        },
        "labels": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A collection of free-form strings to allow you to tag your business. These labels are NOT user facing; only you can see them. Must be between 1-255 characters per label."
          }
        },
        "phoneNumbers": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#PhoneNumbers",
          "traits": {
            "smithy.api#documentation": "Optional. The different phone numbers that customers can use to get in touch with the business."
          }
        },
        "adWordsLocationExtensions": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#AdWordsLocationExtensions",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information that is surfaced in AdWords."
          }
        },
        "profile": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Profile",
          "traits": {
            "smithy.api#documentation": "Optional. Describes your business in your own voice and shares with users the unique story of your business and offerings. This field is required for all categories except lodging categories (e.g., hotels, motels, inns)."
          }
        },
        "latlng": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided latitude and longitude. When creating a location, this field is ignored if the provided address geocodes successfully. This field is only returned on get requests if the user-provided `latlng` value was accepted during create, or the `latlng` value was updated through the Google Business Profile website. This field can only be updated by approved clients."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. External identifier for this location, which must be unique within a given account. This is a means of associating the location with your own records."
          }
        },
        "storefrontAddress": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#PostalAddress",
          "traits": {
            "smithy.api#documentation": "Optional. A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address. This field should only be set for businesses that have a storefront. This field should not be set for locations of type `CUSTOMER_LOCATION_ONLY` but if set, any value provided will be discarded."
          }
        },
        "serviceItems": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceItemList",
          "traits": {
            "smithy.api#documentation": "Optional. List of services supported by merchants. A service can be haircut, install water heater, etc. Duplicated service items will be removed automatically."
          }
        },
        "websiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL for this business. If possible, use a URL that represents this individual business location instead of a generic website/URL that represents all locations, or the brand."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google identifier for this location in the form: `locations/{location_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Metadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional non-user-editable information."
          }
        },
        "openInfo": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#OpenInfo",
          "traits": {
            "smithy.api#documentation": "Optional. A flag that indicates whether the location is currently open for business."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The language of the location. Set during creation and not updateable."
          }
        },
        "relationshipData": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#RelationshipData",
          "traits": {
            "smithy.api#documentation": "Optional. All locations and chain related to this one."
          }
        },
        "regularHours": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BusinessHours",
          "traits": {
            "smithy.api#documentation": "Optional. Operating hours for the business."
          }
        },
        "specialHours": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#SpecialHours",
          "traits": {
            "smithy.api#documentation": "Optional. Special hours for the business. This typically includes holiday hours, and other times outside of regular operating hours. These override regular business hours. This field cannot be set without regular hours."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer \"Google\" over \"Google Inc. - Mountain View Corporate Headquarters\"). Don't include marketing taglines, store codes, special characters, hours or closed/open status, phone numbers, website URLs, service/product information, location/address or directions, or containment information (for example, \"Chase ATM in Duane Reade\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A location. See the [help center article] (https://support.google.com/business/answer/3038177) for a detailed description of these fields, or the [category endpoint](/my-business/reference/rest/v4/categories) for a list of valid business categories."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#MoreHoursList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#MoreHours"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ServiceItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ServiceItem"
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Metadata": {
      "type": "structure",
      "members": {
        "canHaveBusinessCalls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the listing is eligible for business calls."
          }
        },
        "hasGoogleUpdated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the place ID associated with this location has updates that need to be updated or rejected by the client. If this boolean is set, you should call the `getGoogleUpdated` method to look up information that's needs to be verified."
          }
        },
        "canOperateLodgingData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the location can operate on Lodging data."
          }
        },
        "duplicateLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location resource that this location duplicates."
          }
        },
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the location can be deleted using the API."
          }
        },
        "newReviewUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the page on Google Search where a customer can leave a review for the location."
          }
        },
        "isParticularlyPersonalPlace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only."
          }
        },
        "mapsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the location on Maps."
          }
        },
        "hasVoiceOfMerchant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the listing has Voice of Merchant. If this boolean is false, you should call the locations.getVoiceOfMerchantState API to get details as to why they do not have Voice of Merchant."
          }
        },
        "canOperateLocalPost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the listing can manage local posts. Deprecated: This field is no longer populated and will be removed in a future version."
          }
        },
        "hasPendingEdits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether any of this Location's properties are in the edit pending state."
          }
        },
        "canOperateHealthData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the location can operate on Health data."
          }
        },
        "canModifyServiceList": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the listing can modify the service list."
          }
        },
        "canHaveFoodMenus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the listing is eligible for food menu."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If this locationappears on Google Maps, this field is populated with the place ID for the location. This ID can be used in various Places APIs. This field can be set during Create calls, but not for Update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional non-user-editable information about the location."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PlaceInfo": {
      "type": "structure",
      "members": {
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the place. Must correspond to a region. (https://developers.google.com/places/web-service/supported_types#table3)"
          }
        },
        "placeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The localized name of the place. For example, `Scottsdale, AZ`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an area that's represented by a place ID."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetChainsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The chain's resource name, in the format `chains/{chain_place_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetChains": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GetChainsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Chain"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the specified chain. Returns `NOT_FOUND` if the chain does not exist."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchChainsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of matched chains to return from this query. The default is 10. The maximum possible value is 500.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "chainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Search for a chain by its name. Exact/partial/fuzzy/related queries are supported. Examples: \"walmart\", \"wal-mart\", \"walmmmart\", \"沃尔玛\"",
            "smithy.api#httpQuery": "chainName"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchChains": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#SearchChainsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#SearchChainsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/chains:search"
        },
        "smithy.api#documentation": "Searches the chain based on chain name."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsRequest_": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsRequest_"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#SearchGoogleLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BadRequest"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/googleLocations:search"
        },
        "smithy.api#documentation": "Search all of the possible locations that are a match to the specified request."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ListAccountsLocationsRequest": {
      "type": "structure",
      "members": {
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Read mask to specify what fields will be returned in the response.",
            "smithy.api#httpQuery": "readMask"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the account to fetch locations from. If the parent Account is of AccountType PERSONAL, only Locations that are directly owned by the Account are returned, otherwise it will return all accessible locations from the Account, either directly or indirectly.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sorting order for the request. Multiple fields should be comma-separated, following SQL syntax. The default sorting order is ascending. To specify descending order, a suffix \" desc\" should be added. Valid fields to order_by are title and store_code. For example: \"title, store_code desc\" or \"title\" or \"store_code desc\"",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A filter constraining the locations to return. The response includes only entries that match the filter. If `filter` is empty, then constraints are applied and all locations (paginated) are retrieved for the requested account. For more information about valid fields and example usage, see [Work with Location Data Guide](https://developers.google.com/my-business/content/location-data#filter_results_when_you_list_locations).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, it fetches the next `page` of locations. The page token is returned by previous calls to `ListLocations` when there were more locations than could fit in the requested page size.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. How many locations to fetch per page. Default value is 10 if not set. Minimum is 1, and maximum page size is 100.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#ListAccountsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ListAccountsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/locations"
        },
        "smithy.api#documentation": "Lists the locations for the specified account.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#CreateAccountsLocationsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique request ID for the server to detect duplicated requests. We recommend using UUIDs. Max length is 50 characters.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the request is validated without actually creating the location.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the account in which to create this location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Location",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#CreateAccountsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#CreateAccountsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BadRequest"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/locations"
        },
        "smithy.api#documentation": "Creates a new Location that will be owned by the logged in user."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocationsRequest": {
      "type": "structure",
      "members": {
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Read mask to specify what fields will be returned in the response.",
            "smithy.api#httpQuery": "readMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the location to fetch.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GoogleUpdatedLocation"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}:getGoogleUpdated"
        },
        "smithy.api#documentation": "Returns the specified location as it appears live on Google Maps and Search. This consumer-facing view may have been updated by Google or user-generated content and may differ from the merchant's version. The returned GoogleUpdatedLocation contains masks that indicate which fields differ from the merchant's information."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#UpdateAttributesLocationsRequest": {
      "type": "structure",
      "members": {
        "attributeMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Attribute name of attributes that you'd like to update. Represented by `attributes/{attribute}`. Updates: All attributes provided in the attributes field that you would like to update must be set in the `attribute_mask`. Attributes set in the above list but not in the `attribute_mask` will be ignored. Deletes: If you'd like to delete certain attributes, they must be specified in the `attribute_mask` with no matching entry in the attributes list. If you'd like to delete all attributes set on a location, you should look up all the applicable attributes for the location and then add them to the `attribute_mask` with an empty attributes field.",
            "smithy.api#httpQuery": "attributeMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google identifier for this location in the form of `locations/{location_id}/attributes`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Attributes",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#UpdateAttributesLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#UpdateAttributesLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Attributes"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BadRequest"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Update attributes for a given location."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetAttributesLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google identifier for this location in the form of `locations/{location_id}/attributes`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetAttributesLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GetAttributesLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Attributes"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves attributes for a location as last set by the merchant. It may not reflect updates from Google or user-generated content that are live on Google Maps."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetLocationsRequest": {
      "type": "structure",
      "members": {
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Read mask to specify what fields will be returned in the response.",
            "smithy.api#httpQuery": "readMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the location to fetch.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GetLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns the specified location as last set by the merchant. It may not reflect updates from Google or user-generated content that are live on Google Maps."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PatchLocationsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The specific fields to update.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google identifier for this location in the form: `locations/{location_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the request is validated without actually updating the location. When this field is set, we will only return validation errors if there were any. The response will be empty if no errors were found.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "body": {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Location",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#PatchLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#PatchLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BadRequest"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the specified location."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#DeleteLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the location to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#DeleteLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#DeleteLocationsRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#BadRequest"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a location. If this location cannot be deleted using the API and it is marked so in the `google.mybusiness.businessinformation.v1.LocationState`, use the [Google Business Profile](https://business.google.com/manage/) website."
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocationsAttributesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google identifier for this location in the form of `locations/{location_id}/attributes`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocationsAttributes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#GetGoogleUpdatedLocationsAttributesRequest"
      },
      "output": {
        "target": "com.gcp.mybusinessbusinessinformation_v1#Attributes"
      },
      "errors": [
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#NotFound"
        },
        {
          "target": "com.gcp.mybusinessbusinessinformation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}:getGoogleUpdated"
        },
        "smithy.api#documentation": "Retrieves attributes for a location as they appear live on Google Maps and Search. This consumer-facing view may have been updated by Google or user-generated content and may differ from the merchant's version."
      }
    },
[...]
