{
  "smithy": "2.0",
  "metadata": {
    "service": "netapp",
    "version": "v1",
    "title": "NetApp API",
    "baseUrl": "https://netapp.googleapis.com/"
  },
  "shapes": {
    "com.gcp.netapp_v1#ListReplicationsResponse": {
      "type": "structure",
      "members": {
        "replications": {
          "target": "com.gcp.netapp_v1#ReplicationList",
          "traits": {
            "smithy.api#documentation": "A list of replications in the project for the specified volume."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListReplicationsResponse is the result of ListReplicationsRequest."
      }
    },
    "com.gcp.netapp_v1#ReplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#Replication"
      }
    },
    "com.gcp.netapp_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.netapp_v1#ExecuteOntapPostRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `ExecuteOntapPost` API."
      }
    },
    "com.gcp.netapp_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.netapp_v1#CloneDetails": {
      "type": "structure",
      "members": {
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}"
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
          }
        },
        "sharedSpaceGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a clone volume."
      }
    },
    "com.gcp.netapp_v1#BlockDevice": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "com.gcp.netapp_v1#BlockDeviceOsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created."
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
          }
        },
        "sizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
          }
        },
        "hostGroups": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Block device represents the device(s) which are stored in the block volume."
      }
    },
    "com.gcp.netapp_v1#BlockDeviceOsTypeEnum": {
      "type": "enum",
      "members": {
        "OS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_TYPE_UNSPECIFIED"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "ESXI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESXI"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ListVolumesResponse": {
      "type": "structure",
      "members": {
        "volumes": {
          "target": "com.gcp.netapp_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "The list of Volume"
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Volumes"
      }
    },
    "com.gcp.netapp_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#Volume"
      }
    },
    "com.gcp.netapp_v1#CacheConfig": {
      "type": "structure",
      "members": {
        "cachePrePopulate": {
          "target": "com.gcp.netapp_v1#CachePrePopulate",
          "traits": {
            "smithy.api#documentation": "Optional. Pre-populate cache volume with data from the origin volume."
          }
        },
        "cachePrePopulateState": {
          "target": "com.gcp.netapp_v1#CacheConfigCachePrePopulateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the prepopulation job indicating how the prepopulation is progressing."
          }
        },
        "cifsChangeNotifyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
          }
        },
        "writebackEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the cache volume."
      }
    },
    "com.gcp.netapp_v1#CacheConfigCachePrePopulateStateEnum": {
      "type": "enum",
      "members": {
        "CACHE_PRE_POPULATE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CACHE_PRE_POPULATE_STATE_UNSPECIFIED"
          }
        },
        "NOT_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.netapp_v1#CachePrePopulate": {
      "type": "structure",
      "members": {
        "pathList": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
          }
        },
        "excludePathList": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume."
          }
        },
        "recursion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pre-populate cache volume with data from the origin volume."
      }
    },
    "com.gcp.netapp_v1#Replication": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description about this replication relationship."
          }
        },
        "hybridPeeringDetails": {
          "target": "com.gcp.netapp_v1#HybridPeeringDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Hybrid peering details."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "hybridReplicationType": {
          "target": "com.gcp.netapp_v1#ReplicationHybridReplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the hybrid replication."
          }
        },
        "mirrorState": {
          "target": "com.gcp.netapp_v1#ReplicationMirrorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the state of mirroring."
          }
        },
        "destinationVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1#ReplicationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the replication."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. State details of the replication."
          }
        },
        "healthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
          }
        },
        "replicationSchedule": {
          "target": "com.gcp.netapp_v1#ReplicationReplicationScheduleEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the schedule for replication."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Replication create time."
          }
        },
        "transferStats": {
          "target": "com.gcp.netapp_v1#TransferStats",
          "traits": {
            "smithy.api#documentation": "Output only. Replication transfer statistics."
          }
        },
        "role": {
          "target": "com.gcp.netapp_v1#ReplicationRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this points to source or destination."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
          }
        },
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
          }
        },
        "hybridReplicationUserCommands": {
          "target": "com.gcp.netapp_v1#UserCommands",
          "traits": {
            "smithy.api#documentation": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
          }
        },
        "destinationVolumeParameters": {
          "target": "com.gcp.netapp_v1#DestinationVolumeParameters",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Destination volume parameters"
          }
        },
        "clusterLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of the user cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
      }
    },
    "com.gcp.netapp_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.netapp_v1#ReplicationHybridReplicationTypeEnum": {
      "type": "enum",
      "members": {
        "HYBRID_REPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID_REPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION"
          }
        },
        "CONTINUOUS_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_REPLICATION"
          }
        },
        "ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM_REPLICATION"
          }
        },
        "REVERSE_ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSE_ONPREM_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ReplicationMirrorStateEnum": {
      "type": "enum",
      "members": {
        "MIRROR_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIRROR_STATE_UNSPECIFIED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "MIRRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIRRORED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "TRANSFERRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFERRING"
          }
        },
        "BASELINE_TRANSFERRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASELINE_TRANSFERRING"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "EXTERNALLY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNALLY_MANAGED"
          }
        },
        "PENDING_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_PEERING"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ReplicationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING_CLUSTER_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLUSTER_PEERING"
          }
        },
        "PENDING_SVM_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SVM_PEERING"
          }
        },
        "PENDING_REMOTE_RESYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REMOTE_RESYNC"
          }
        },
        "EXTERNALLY_MANAGED_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNALLY_MANAGED_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ReplicationReplicationScheduleEnum": {
      "type": "enum",
      "members": {
        "REPLICATION_SCHEDULE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_SCHEDULE_UNSPECIFIED"
          }
        },
        "EVERY_10_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERY_10_MINUTES"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ReplicationRoleEnum": {
      "type": "enum",
      "members": {
        "REPLICATION_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_ROLE_UNSPECIFIED"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1#BackupRetentionPolicy": {
      "type": "structure",
      "members": {
        "dailyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "manualBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "monthlyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "backupMinimumEnforcedRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Minimum retention duration in days for backups in the backup vault."
          }
        },
        "weeklyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policy for backups in the backup vault"
      }
    },
    "com.gcp.netapp_v1#ListHostGroupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "hostGroups": {
          "target": "com.gcp.netapp_v1#HostGroupList",
          "traits": {
            "smithy.api#documentation": "The list of host groups."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListHostGroupsResponse is the response to a ListHostGroupsRequest."
      }
    },
    "com.gcp.netapp_v1#HostGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#HostGroup"
      }
    },
    "com.gcp.netapp_v1#WeeklySchedule": {
      "type": "structure",
      "members": {
        "snapshotsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Snapshots to keep for the hourly schedule"
          }
        },
        "minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
          }
        },
        "hour": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
          }
        },
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
      }
    },
    "com.gcp.netapp_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.netapp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.netapp_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.netapp_v1#HybridReplicationParameters": {
      "type": "structure",
      "members": {
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source volume to be peered with the destination volume."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source cluster to be peered with the destination cluster."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the replication."
          }
        },
        "largeVolumeConstituentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Constituent volume count for large volume."
          }
        },
        "peerIpAddresses": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of node ip addresses to be peered with."
          }
        },
        "hybridReplicationType": {
          "target": "com.gcp.netapp_v1#HybridReplicationParametersHybridReplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the hybrid replication."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels to be added to the replication as the key value pairs."
          }
        },
        "replication": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Desired name for the replication of this volume."
          }
        },
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
          }
        },
        "replicationSchedule": {
          "target": "com.gcp.netapp_v1#HybridReplicationParametersReplicationScheduleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Replication Schedule for the replication created."
          }
        },
        "clusterLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Hybrid Replication parameters for the volume."
      }
    },
    "com.gcp.netapp_v1#HybridReplicationParametersHybridReplicationTypeEnum": {
      "type": "enum",
      "members": {
        "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION"
          }
        },
        "CONTINUOUS_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_REPLICATION"
          }
        },
        "ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM_REPLICATION"
          }
        },
        "REVERSE_ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSE_ONPREM_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1#HybridReplicationParametersReplicationScheduleEnum": {
      "type": "enum",
      "members": {
        "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED"
          }
        },
        "EVERY_10_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERY_10_MINUTES"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.netapp_v1#RevertVolumeRequest": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RevertVolumeRequest reverts the given volume to the specified snapshot."
      }
    },
    "com.gcp.netapp_v1#OntapVolumeTarget": {
      "type": "structure",
      "members": {
        "volumeUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UUID of the ONTAP volume to restore to."
          }
        },
        "restoreDestinationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Absolute directory path in the destination volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the ONTAP volume target of the restore operation."
      }
    },
    "com.gcp.netapp_v1#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "snapshots": {
          "target": "com.gcp.netapp_v1#SnapshotList",
          "traits": {
            "smithy.api#documentation": "A list of snapshots in the project for the specified volume."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListSnapshotsResponse is the result of ListSnapshotsRequest."
      }
    },
    "com.gcp.netapp_v1#SnapshotList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#Snapshot"
      }
    },
    "com.gcp.netapp_v1#HybridPeeringDetails": {
      "type": "structure",
      "members": {
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the user's local source volume to be peered with the destination volume."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the user's local source cluster to be peered with the destination cluster."
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Temporary passphrase generated to accept cluster peering command."
          }
        },
        "subnetIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IP address of the subnet."
          }
        },
        "commandExpiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Expiration time for the peering command to be executed on user's ONTAP."
          }
        },
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HybridPeeringDetails contains details about the hybrid peering."
      }
    },
    "com.gcp.netapp_v1#ListBackupVaultsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "backupVaults": {
          "target": "com.gcp.netapp_v1#BackupVaultList",
          "traits": {
            "smithy.api#documentation": "A list of backupVaults in the project for the specified location."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest."
      }
    },
    "com.gcp.netapp_v1#BackupVaultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#BackupVault"
      }
    },
    "com.gcp.netapp_v1#RestoreVolumeRequest": {
      "type": "structure",
      "members": {
        "ontapVolumeTarget": {
          "target": "com.gcp.netapp_v1#OntapVolumeTarget",
          "traits": {
            "smithy.api#documentation": "The ONTAP volume target of the restore operation."
          }
        },
        "backupSource": {
          "target": "com.gcp.netapp_v1#BackupSource",
          "traits": {
            "smithy.api#documentation": "The backup source of the restore operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `RestoreVolume` API."
      }
    },
    "com.gcp.netapp_v1#RestoreParameters": {
      "type": "structure",
      "members": {
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
          }
        },
        "sourceBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The RestoreParameters if volume is created from a snapshot or backup."
      }
    },
    "com.gcp.netapp_v1#OntapSource": {
      "type": "structure",
      "members": {
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`"
          }
        },
        "snapshotUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The UUID of the ONTAP source snapshot."
          }
        },
        "volumeUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UUID of the ONTAP source volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents ONTAP source details."
      }
    },
    "com.gcp.netapp_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.netapp_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.netapp_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#Operation"
      }
    },
    "com.gcp.netapp_v1#MonthlySchedule": {
      "type": "structure",
      "members": {
        "hour": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
          }
        },
        "minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
          }
        },
        "snapshotsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Snapshots to keep for the hourly schedule"
          }
        },
        "daysOfMonth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50"
      }
    },
    "com.gcp.netapp_v1#VolumeBackupConfig": {
      "type": "structure",
      "members": {
        "volumeUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provides the Ontap UUID of the volume within the pool."
          }
        },
        "backupConfig": {
          "target": "com.gcp.netapp_v1#BackupConfig",
          "traits": {
            "smithy.api#documentation": "Backup configuration for the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup configuration for a volume in a pool."
      }
    },
    "com.gcp.netapp_v1#LargeCapacityConfig": {
      "type": "structure",
      "members": {
        "constituentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool."
      }
    },
    "com.gcp.netapp_v1#Backup": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.netapp_v1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup state."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "backupRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
          }
        },
        "volumeRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
          }
        },
        "enforcedRetentionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time until which the backup is not deletable."
          }
        },
        "ontapSource": {
          "target": "com.gcp.netapp_v1#OntapSource",
          "traits": {
            "smithy.api#documentation": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
          }
        },
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
          }
        },
        "backupType": {
          "target": "com.gcp.netapp_v1#BackupBackupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of backup, manually created or created by a backup policy."
          }
        },
        "chainStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)"
          }
        },
        "volumeUsageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NetApp Backup."
      }
    },
    "com.gcp.netapp_v1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOADING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1#BackupBackupTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        }
      }
    },
    "com.gcp.netapp_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.netapp_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.netapp_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#DocumentMap"
      }
    },
    "com.gcp.netapp_v1#VerifyKmsConfigRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "VerifyKmsConfigRequest specifies the KMS config to be validated."
      }
    },
    "com.gcp.netapp_v1#BackupPolicy": {
      "type": "structure",
      "members": {
        "weeklyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1#BackupPolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup policy state."
          }
        },
        "dailyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of daily backups to keep. Note that the minimum daily backup limit is 2."
          }
        },
        "monthlyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
          }
        },
        "assignedVolumeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of volumes assigned by this backup policy."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup policy was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the backup policy."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup Policy."
      }
    },
    "com.gcp.netapp_v1#BackupPolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1#EncryptVolumesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
      }
    },
    "com.gcp.netapp_v1#ListActiveDirectoriesResponse": {
      "type": "structure",
      "members": {
        "activeDirectories": {
          "target": "com.gcp.netapp_v1#ActiveDirectoryList",
          "traits": {
            "smithy.api#documentation": "The list of active directories."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListActiveDirectoriesResponse contains all the active directories requested."
      }
    },
    "com.gcp.netapp_v1#ActiveDirectoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#ActiveDirectory"
      }
    },
    "com.gcp.netapp_v1#ValidateDirectoryServiceRequest": {
      "type": "structure",
      "members": {
        "directoryServiceType": {
          "target": "com.gcp.netapp_v1#ValidateDirectoryServiceRequestDirectoryServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of directory service policy attached to the storage pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool."
      }
    },
    "com.gcp.netapp_v1#ValidateDirectoryServiceRequestDirectoryServiceTypeEnum": {
      "type": "enum",
      "members": {
        "DIRECTORY_SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VerifyKmsConfigResponse": {
      "type": "structure",
      "members": {
        "healthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If the customer key configured correctly to the encrypt volume."
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Instructions for the customers to provide the access to the encryption key."
          }
        },
        "healthError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Error message if config is not healthy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VerifyKmsConfigResponse contains the information if the config is correctly and error message."
      }
    },
    "com.gcp.netapp_v1#CacheParameters": {
      "type": "structure",
      "members": {
        "cacheConfig": {
          "target": "com.gcp.netapp_v1#CacheConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of the cache volume."
          }
        },
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume's SVM."
          }
        },
        "peeringCommandExpiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed description of the current cache state."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Temporary passphrase generated to accept cluster peering command."
          }
        },
        "enableGlobalFileLock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the cache volume has global file lock enabled."
          }
        },
        "peerIpAddresses": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster."
          }
        },
        "cacheState": {
          "target": "com.gcp.netapp_v1#CacheParametersCacheStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the cache volume indicating the peering status."
          }
        },
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume for the cache volume."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume's ONTAP cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache Parameters for the volume."
      }
    },
    "com.gcp.netapp_v1#CacheParametersCacheStateEnum": {
      "type": "enum",
      "members": {
        "CACHE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CACHE_STATE_UNSPECIFIED"
          }
        },
        "PENDING_CLUSTER_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLUSTER_PEERING"
          }
        },
        "PENDING_SVM_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SVM_PEERING"
          }
        },
        "PEERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEERED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "backups": {
          "target": "com.gcp.netapp_v1#BackupList",
          "traits": {
            "smithy.api#documentation": "A list of backups in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupsResponse is the result of ListBackupsRequest."
      }
    },
    "com.gcp.netapp_v1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#Backup"
      }
    },
    "com.gcp.netapp_v1#ListQuotaRulesResponse": {
      "type": "structure",
      "members": {
        "quotaRules": {
          "target": "com.gcp.netapp_v1#QuotaRuleList",
          "traits": {
            "smithy.api#documentation": "List of quota rules"
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest."
      }
    },
    "com.gcp.netapp_v1#QuotaRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#QuotaRule"
      }
    },
    "com.gcp.netapp_v1#ListBackupConfigsResponse": {
      "type": "structure",
      "members": {
        "volumeBackupConfigs": {
          "target": "com.gcp.netapp_v1#VolumeBackupConfigList",
          "traits": {
            "smithy.api#documentation": "A list of backup configurations for volumes in the pool."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing BackupConfigs in an ONTAP StoragePool."
      }
    },
    "com.gcp.netapp_v1#VolumeBackupConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#VolumeBackupConfig"
      }
    },
    "com.gcp.netapp_v1#StopReplicationRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StopReplicationRequest stops a replication until resumed."
      }
    },
    "com.gcp.netapp_v1#UpdateBackupConfigRequest": {
      "type": "structure",
      "members": {
        "volumeUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UUID of the ONTAP-mode volume."
          }
        },
        "backupConfig": {
          "target": "com.gcp.netapp_v1#BackupConfig",
          "traits": {
            "smithy.api#documentation": "Required. Backup configuration to apply."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UpdateBackupConfig"
      }
    },
    "com.gcp.netapp_v1#EstablishPeeringRequest": {
      "type": "structure",
      "members": {
        "peerIpAddresses": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of IPv4 ip addresses to be used for peering."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source cluster to be peered with the destination cluster."
          }
        },
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
          }
        },
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source volume to be peered with the destination volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications."
      }
    },
    "com.gcp.netapp_v1#Volume": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
          }
        },
        "tieringPolicy": {
          "target": "com.gcp.netapp_v1#TieringPolicy",
          "traits": {
            "smithy.api#documentation": "Tiering policy for the volume."
          }
        },
        "hybridReplicationParameters": {
          "target": "com.gcp.netapp_v1#HybridReplicationParameters",
          "traits": {
            "smithy.api#documentation": "Optional. The Hybrid Replication parameters for the volume."
          }
        },
        "snapshotPolicy": {
          "target": "com.gcp.netapp_v1#SnapshotPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. SnapshotPolicy for a volume."
          }
        },
        "unixPermissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "blockDevices": {
          "target": "com.gcp.netapp_v1#BlockDeviceList",
          "traits": {
            "smithy.api#documentation": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1#VolumeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the volume"
          }
        },
        "snapReserve": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
          }
        },
        "multipleEndpoints": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the volume"
          }
        },
        "securityStyle": {
          "target": "com.gcp.netapp_v1#VolumeSecurityStyleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Security Style of the Volume"
          }
        },
        "replicaZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the replica zone for regional volume."
          }
        },
        "hasReplication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the volume is part of a replication relationship."
          }
        },
        "backupConfig": {
          "target": "com.gcp.netapp_v1#BackupConfig",
          "traits": {
            "smithy.api#documentation": "BackupConfig of the volume."
          }
        },
        "protocols": {
          "target": "com.gcp.netapp_v1#VolumeProtocolsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Protocols required for the volume"
          }
        },
        "mountOptions": {
          "target": "com.gcp.netapp_v1#MountOptionList",
          "traits": {
            "smithy.api#documentation": "Output only. Mount options of this volume"
          }
        },
        "restrictedActions": {
          "target": "com.gcp.netapp_v1#VolumeRestrictedActionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. List of actions that are restricted on this volume."
          }
        },
        "serviceLevel": {
          "target": "com.gcp.netapp_v1#VolumeServiceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Service level of the volume"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the volume"
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Share name of the volume"
          }
        },
        "smbSettings": {
          "target": "com.gcp.netapp_v1#VolumeSmbSettingsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. SMB share settings for the volume."
          }
        },
        "kmsConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the KMS config to be used for volume encryption."
          }
        },
        "throughputMibps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Throughput of the volume (in MiB/s)"
          }
        },
        "capacityGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Capacity in GIB of the volume"
          }
        },
        "exportPolicy": {
          "target": "com.gcp.netapp_v1#ExportPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Export policy of the volume"
          }
        },
        "cloneDetails": {
          "target": "com.gcp.netapp_v1#CloneDetails",
          "traits": {
            "smithy.api#documentation": "Output only. If this volume is a clone, this field contains details about the clone."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the volume"
          }
        },
        "largeCapacity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
          }
        },
        "coldTierSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the volume cold tier data rounded down to the nearest GiB."
          }
        },
        "ldapEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Flag indicating if the volume is NFS LDAP enabled or not."
          }
        },
        "largeCapacityConfig": {
          "target": "com.gcp.netapp_v1#LargeCapacityConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive."
          }
        },
        "psaRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field is not implemented. The values provided in this field are ignored."
          }
        },
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. StoragePool name of the volume"
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. State details of the volume"
          }
        },
        "usedGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the active zone for regional volume."
          }
        },
        "hotTierSizeUsedGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level"
          }
        },
        "kerberosEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p)."
          }
        },
        "snapshotDirectory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
          }
        },
        "cacheParameters": {
          "target": "com.gcp.netapp_v1#CacheParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Cache parameters for the volume."
          }
        },
        "restoreParameters": {
          "target": "com.gcp.netapp_v1#RestoreParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the source of the volume to be created from."
          }
        },
        "activeDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the ActiveDirectory name of a SMB volume."
          }
        },
        "encryptionType": {
          "target": "com.gcp.netapp_v1#VolumeEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specified the current volume encryption key source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume provides a filesystem that you can mount."
      }
    },
    "com.gcp.netapp_v1#BlockDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#BlockDevice"
      }
    },
    "com.gcp.netapp_v1#VolumeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeSecurityStyleEnum": {
      "type": "enum",
      "members": {
        "SECURITY_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_STYLE_UNSPECIFIED"
          }
        },
        "NTFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NTFS"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIX"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeProtocolsItemEnum": {
      "type": "enum",
      "members": {
        "PROTOCOLS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOLS_UNSPECIFIED"
          }
        },
        "NFSV3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV3"
          }
        },
        "NFSV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV4"
          }
        },
        "SMB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMB"
          }
        },
        "ISCSI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISCSI"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVME"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeProtocolsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#VolumeProtocolsItemEnum"
      }
    },
    "com.gcp.netapp_v1#MountOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#MountOption"
      }
    },
    "com.gcp.netapp_v1#VolumeRestrictedActionsItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_ACTION_UNSPECIFIED"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeRestrictedActionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#VolumeRestrictedActionsItemEnum"
      }
    },
    "com.gcp.netapp_v1#VolumeServiceLevelEnum": {
      "type": "enum",
      "members": {
        "SERVICE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_LEVEL_UNSPECIFIED"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "EXTREME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTREME"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeSmbSettingsItemEnum": {
      "type": "enum",
      "members": {
        "SMB_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMB_SETTINGS_UNSPECIFIED"
          }
        },
        "ENCRYPT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPT_DATA"
          }
        },
        "BROWSABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSABLE"
          }
        },
        "CHANGE_NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_NOTIFY"
          }
        },
        "NON_BROWSABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_BROWSABLE"
          }
        },
        "OPLOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPLOCKS"
          }
        },
        "SHOW_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_SNAPSHOT"
          }
        },
        "SHOW_PREVIOUS_VERSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_PREVIOUS_VERSIONS"
          }
        },
        "ACCESS_BASED_ENUMERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_BASED_ENUMERATION"
          }
        },
        "CONTINUOUSLY_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUSLY_AVAILABLE"
          }
        }
      }
    },
    "com.gcp.netapp_v1#VolumeSmbSettingsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#VolumeSmbSettingsItemEnum"
      }
    },
    "com.gcp.netapp_v1#VolumeEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_TYPE_UNSPECIFIED"
          }
        },
        "SERVICE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_MANAGED"
          }
        },
        "CLOUD_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_KMS"
          }
        }
      }
    },
    "com.gcp.netapp_v1#ListBackupPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "backupPolicies": {
          "target": "com.gcp.netapp_v1#BackupPolicyList",
          "traits": {
            "smithy.api#documentation": "The list of backup policies."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupPoliciesResponse contains all the backup policies requested."
      }
    },
    "com.gcp.netapp_v1#BackupPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1#BackupPolicy"
      }
    },
    "com.gcp.netapp_v1#SimpleExportPolicyRule": {
      "type": "structure",
      "members": {
        "accessType": {
          "target": "com.gcp.netapp_v1#SimpleExportPolicyRuleAccessTypeEnum",
          "traits": {
            "smithy.api#documentation": "Access type (ReadWrite, ReadOnly, None)"
          }
        },
        "squashMode": {
          "target": "com.gcp.netapp_v1#SimpleExportPolicyRuleSquashModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
          }
        },
        "nfsv4": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "NFS V4 protocol."
          }
        },
        "anonUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`."
          }
        },
        "kerberos5iReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
          }
        },
        "nfsv3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "NFS V3 protocol."
          }
        },
        "kerberos5ReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
          }
        },
        "kerberos5pReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
          }
        },
        "allowedClients": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of allowed clients IP addresses"
          }
        },
        "kerberos5pReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
          }
        },
        "kerberos5iReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
          }
        },
        "hasRootAccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether Unix root access will be granted."
          }
        },
        "kerberos5ReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An export policy rule describing various export options."
      }
    },
    "com.gcp.netapp_v1#SimpleExportPolicyRuleAccessTypeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TYPE_UNSPECIFIED"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        },
        "READ_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_NONE"
          }
        }
      }
    },
    "com.gcp.netapp_v1#SimpleExportPolicyRuleSquashModeEnum": {
      "type": "enum",
      "members": {
        "SQUASH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUASH_MODE_UNSPECIFIED"
          }
        },
        "NO_ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ROOT_SQUASH"
          }
        },
        "ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_SQUASH"
          }
        },
        "ALL_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SQUASH"
          }
        }
      }
    },
    "com.gcp.netapp_v1#DailySchedule": {
      "type": "structure",
      "members": {
        "snapshotsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Snapshots to keep for the hourly schedule"
          }
        },
        "minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
          }
        },
        "hour": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
      }
    },
    "com.gcp.netapp_v1#BackupVault": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the backup vault."
          }
        },
        "encryptionState": {
          "target": "com.gcp.netapp_v1#BackupVaultEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Field indicating encryption state of CMEK backups."
          }
        },
        "backupVaultType": {
          "target": "com.gcp.netapp_v1#BackupVaultBackupVaultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of backup vault to be created. Default is IN_REGION."
          }
        },
        "sourceBackupVault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "backupRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "destinationBackupVault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1#BackupVaultStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup vault state."
          }
        },
        "backupRetentionPolicy": {
          "target": "com.gcp.netapp_v1#BackupRetentionPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Backup retention policy defining the retention of backups."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the backup vault."
          }
        },
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "backupsCryptoKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
          }
        },
        "kmsConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NetApp BackupVault."
      }
    },
    "com.gcp.netapp_v1#BackupVaultEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "ENCRYPTION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_PENDING"
          }
        },
        "ENCRYPTION_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_COMPLETED"
          }
        },
        "ENCRYPTION_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_IN_PROGRESS"
          }
        },
        "ENCRYPTION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.netapp_v1#BackupVaultBackupVaultTypeEnum": {
      "type": "enum",
      "members": {
        "BACKUP_VAULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_VAULT_TYPE_UNSPECIFIED"
          }
        },
        "IN_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REGION"
          }
        },
        "CROSS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_REGION"
          }
        }
      }
    },
    "com.gcp.netapp_v1#BackupVaultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
