{
  "smithy": "2.0",
  "metadata": {
    "service": "networksecurity",
    "version": "v1",
    "title": "Network Security API",
    "baseUrl": "https://networksecurity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networksecurity_v1#ThreatOverride": {
      "type": "structure",
      "members": {
        "threatId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Vendor-specific ID of a threat to override."
          }
        },
        "type": {
          "target": "com.gcp.networksecurity_v1#ThreatOverrideTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the threat (read only)."
          }
        },
        "action": {
          "target": "com.gcp.networksecurity_v1#ThreatOverrideActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Threat action override. For some threat types, only a subset of actions applies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines what action to take for a specific threat_id match."
      }
    },
    "com.gcp.networksecurity_v1#ThreatOverrideTypeEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        },
        "ANTIVIRUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTIVIRUS"
          }
        },
        "SPYWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPYWARE"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ThreatOverrideActionEnum": {
      "type": "enum",
      "members": {
        "THREAT_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_ACTION_UNSPECIFIED"
          }
        },
        "DEFAULT_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACTION"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ThreatPreventionProfile": {
      "type": "structure",
      "members": {
        "antivirusOverrides": {
          "target": "com.gcp.networksecurity_v1#AntivirusOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for overriding antivirus actions per protocol."
          }
        },
        "severityOverrides": {
          "target": "com.gcp.networksecurity_v1#SeverityOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for overriding threats actions by severity match."
          }
        },
        "threatOverrides": {
          "target": "com.gcp.networksecurity_v1#ThreatOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels."
      }
    },
    "com.gcp.networksecurity_v1#AntivirusOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AntivirusOverride"
      }
    },
    "com.gcp.networksecurity_v1#SeverityOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#SeverityOverride"
      }
    },
    "com.gcp.networksecurity_v1#ThreatOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#ThreatOverride"
      }
    },
    "com.gcp.networksecurity_v1#InterceptDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1#InterceptDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the deployment. See https://google.aip.dev/216."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        },
        "interceptDeploymentGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service."
      }
    },
    "com.gcp.networksecurity_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networksecurity_v1#InterceptDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ClientTlsPolicy": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the resource."
          }
        },
        "serverValidationCa": {
          "target": "com.gcp.networksecurity_v1#ValidationCAList",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "clientCertificate": {
          "target": "com.gcp.networksecurity_v1#GoogleCloudNetworksecurityV1CertificateProvider",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource."
      }
    },
    "com.gcp.networksecurity_v1#ValidationCAList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#ValidationCA"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
          }
        },
        "params": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a set of MCP methods to match against."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatchList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatch"
      }
    },
    "com.gcp.networksecurity_v1#Source": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace/*\") or a suffix match (example, \"*/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure."
          }
        },
        "ipBlocks": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of traffic source attributes."
      }
    },
    "com.gcp.networksecurity_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipal": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatch",
          "traits": {
            "smithy.api#documentation": "Required. A non-empty string whose value is matched against the principal value based on the principal_selector. Only exact match can be applied for CLIENT_CERT_URI_SAN, CLIENT_CERT_DNS_NAME_SAN, CLIENT_CERT_COMMON_NAME selectors."
          }
        },
        "principalSelector": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipalPrincipalSelectorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. An enum to decide what principal value the principal rule will match against. If not specified, the PrincipalSelector is CLIENT_CERT_URI_SAN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a principal to be matched against."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipalPrincipalSelectorEnum": {
      "type": "enum",
      "members": {
        "PRINCIPAL_SELECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRINCIPAL_SELECTOR_UNSPECIFIED"
          }
        },
        "CLIENT_CERT_URI_SAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CERT_URI_SAN"
          }
        },
        "CLIENT_CERT_DNS_NAME_SAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CERT_DNS_NAME_SAN"
          }
        },
        "CLIENT_CERT_COMMON_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CERT_COMMON_NAME"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ServerTlsPolicy": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Set of label tags associated with the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text description of the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "serverCertificate": {
          "target": "com.gcp.networksecurity_v1#GoogleCloudNetworksecurityV1CertificateProvider",
          "traits": {
            "smithy.api#documentation": "Optional if policy is to be used with Traffic Director. For Application Load Balancers must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported."
          }
        },
        "allowOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field applies only for Traffic Director policies. It is must be set to false for Application Load Balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "mtlsPolicy": {
          "target": "com.gcp.networksecurity_v1#MTLSPolicy",
          "traits": {
            "smithy.api#documentation": "This field is required if the policy is used with Application Load Balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by Application Load Balancers can be attached only to TargetHttpsProxy with an `EXTERNAL`, `EXTERNAL_MANAGED` or `INTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme."
      }
    },
    "com.gcp.networksecurity_v1#GoogleCloudNetworksecurityV1CertificateProvider": {
      "type": "structure",
      "members": {
        "grpcEndpoint": {
          "target": "com.gcp.networksecurity_v1#GoogleCloudNetworksecurityV1GrpcEndpoint",
          "traits": {
            "smithy.api#documentation": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
          }
        },
        "certificateProviderInstance": {
          "target": "com.gcp.networksecurity_v1#CertificateProviderInstance",
          "traits": {
            "smithy.api#documentation": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication."
      }
    },
    "com.gcp.networksecurity_v1#MTLSPolicy": {
      "type": "structure",
      "members": {
        "clientValidationCa": {
          "target": "com.gcp.networksecurity_v1#ValidationCAList",
          "traits": {
            "smithy.api#documentation": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate."
          }
        },
        "clientValidationTrustConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers."
          }
        },
        "clientValidationMode": {
          "target": "com.gcp.networksecurity_v1#MTLSPolicyClientValidationModeEnum",
          "traits": {
            "smithy.api#documentation": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of the MTLSPolicy."
      }
    },
    "com.gcp.networksecurity_v1#MTLSPolicyClientValidationModeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_VALIDATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_VALIDATION_MODE_UNSPECIFIED"
          }
        },
        "ALLOW_INVALID_OR_MISSING_CLIENT_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INVALID_OR_MISSING_CLIENT_CERT"
          }
        },
        "REJECT_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECT_INVALID"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ListBackendAuthenticationConfigsResponse": {
      "type": "structure",
      "members": {
        "backendAuthenticationConfigs": {
          "target": "com.gcp.networksecurity_v1#BackendAuthenticationConfigList",
          "traits": {
            "smithy.api#documentation": "List of BackendAuthenticationConfig resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListBackendAuthenticationConfigs method."
      }
    },
    "com.gcp.networksecurity_v1#BackendAuthenticationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#BackendAuthenticationConfig"
      }
    },
    "com.gcp.networksecurity_v1#InterceptDeploymentGroupDeployment": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.networksecurity_v1#InterceptDeploymentGroupDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent known state of the deployment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment belonging to this deployment group."
      }
    },
    "com.gcp.networksecurity_v1#InterceptDeploymentGroupDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ListUrlListsResponse": {
      "type": "structure",
      "members": {
        "urlLists": {
          "target": "com.gcp.networksecurity_v1#UrlListList",
          "traits": {
            "smithy.api#documentation": "List of UrlList resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListUrlLists method."
      }
    },
    "com.gcp.networksecurity_v1#UrlListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#UrlList"
      }
    },
    "com.gcp.networksecurity_v1#ValidationCA": {
      "type": "structure",
      "members": {
        "grpcEndpoint": {
          "target": "com.gcp.networksecurity_v1#GoogleCloudNetworksecurityV1GrpcEndpoint",
          "traits": {
            "smithy.api#documentation": "gRPC specific configuration to access the gRPC server to obtain the CA certificate."
          }
        },
        "certificateProviderInstance": {
          "target": "com.gcp.networksecurity_v1#CertificateProviderInstance",
          "traits": {
            "smithy.api#documentation": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate."
      }
    },
    "com.gcp.networksecurity_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.networksecurity_v1#ListInterceptDeploymentGroupsResponse": {
      "type": "structure",
      "members": {
        "interceptDeploymentGroups": {
          "target": "com.gcp.networksecurity_v1#InterceptDeploymentGroupList",
          "traits": {
            "smithy.api#documentation": "The deployment groups from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListInterceptDeploymentGroups."
      }
    },
    "com.gcp.networksecurity_v1#InterceptDeploymentGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#InterceptDeploymentGroup"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatch": {
      "type": "structure",
      "members": {
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``"
          }
        },
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
          }
        },
        "ignoreCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``"
          }
        },
        "exact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines how a string value should be matched."
      }
    },
    "com.gcp.networksecurity_v1#ListMirroringDeploymentsResponse": {
      "type": "structure",
      "members": {
        "mirroringDeployments": {
          "target": "com.gcp.networksecurity_v1#MirroringDeploymentList",
          "traits": {
            "smithy.api#documentation": "The deployments from the specified parent."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListMirroringDeployments."
      }
    },
    "com.gcp.networksecurity_v1#MirroringDeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#MirroringDeployment"
      }
    },
    "com.gcp.networksecurity_v1#SACRealm": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the realm was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the realm was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`."
          }
        },
        "securityService": {
          "target": "com.gcp.networksecurity_v1#SACRealmSecurityServiceEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. SSE service provider associated with the realm."
          }
        },
        "pairingKey": {
          "target": "com.gcp.networksecurity_v1#SACRealmPairingKey",
          "traits": {
            "smithy.api#documentation": "Output only. Key to be shared with SSE service provider during pairing."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1#SACRealmStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the realm."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional list of labels applied to the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service."
      }
    },
    "com.gcp.networksecurity_v1#SACRealmSecurityServiceEnum": {
      "type": "enum",
      "members": {
        "SECURITY_SERVICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_SERVICE_UNSPECIFIED"
          }
        },
        "PALO_ALTO_PRISMA_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PALO_ALTO_PRISMA_ACCESS"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#SACRealmStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING_PARTNER_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_PARTNER_ATTACHMENT"
          }
        },
        "PARTNER_ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_ATTACHED"
          }
        },
        "PARTNER_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_DETACHED"
          }
        },
        "KEY_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_EXPIRED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ListFirewallEndpointsResponse": {
      "type": "structure",
      "members": {
        "firewallEndpoints": {
          "target": "com.gcp.networksecurity_v1#FirewallEndpointList",
          "traits": {
            "smithy.api#documentation": "The list of Endpoint"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Endpoints"
      }
    },
    "com.gcp.networksecurity_v1#FirewallEndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#FirewallEndpoint"
      }
    },
    "com.gcp.networksecurity_v1#ListMirroringEndpointGroupAssociationsResponse": {
      "type": "structure",
      "members": {
        "mirroringEndpointGroupAssociations": {
          "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociationList",
          "traits": {
            "smithy.api#documentation": "The associations from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListMirroringEndpointGroupAssociations."
      }
    },
    "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociation"
      }
    },
    "com.gcp.networksecurity_v1#Destination": {
      "type": "structure",
      "members": {
        "hosts": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\"."
          }
        },
        "ports": {
          "target": "com.gcp.networksecurity_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Required. List of destination ports to match. At least one port should match."
          }
        },
        "methods": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services."
          }
        },
        "httpHeaderMatch": {
          "target": "com.gcp.networksecurity_v1#HttpHeaderMatch",
          "traits": {
            "smithy.api#documentation": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of traffic destination attributes."
      }
    },
    "com.gcp.networksecurity_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.networksecurity_v1#GatewaySecurityPolicyRule": {
      "type": "structure",
      "members": {
        "tlsInspectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the rule was created."
          }
        },
        "basicProfile": {
          "target": "com.gcp.networksecurity_v1#GatewaySecurityPolicyRuleBasicProfileEnum",
          "traits": {
            "smithy.api#documentation": "Required. Profile which tells what the primitive action should be."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Priority of the rule. Lower number corresponds to higher precedence."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the rule was updated."
          }
        },
        "applicationMatcher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CEL expression for matching on L7/application level criteria."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether the rule is enforced."
          }
        },
        "sessionMatcher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CEL expression for matching on session criteria."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform."
      }
    },
    "com.gcp.networksecurity_v1#GatewaySecurityPolicyRuleBasicProfileEnum": {
      "type": "enum",
      "members": {
        "BASIC_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_PROFILE_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#SecurityProfileGroup": {
      "type": "structure",
      "members": {
        "customInterceptProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last resource update timestamp."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource creation timestamp."
          }
        },
        "urlFilteringProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "threatPreventionProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration."
          }
        },
        "customMirroringProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
          }
        },
        "dataPathId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier used by the data-path. Unique within {container, location}."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of the profile group. Max length 2048 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes."
      }
    },
    "com.gcp.networksecurity_v1#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.networksecurity_v1#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.networksecurity_v1#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleFromRequestSource": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipalList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh. This field is not supported for global external Application Load Balancers."
          }
        },
        "ipBlocks": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleIpBlockList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy"
          }
        },
        "resources": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleRequestResourceList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a single source."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRulePrincipal"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleIpBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleIpBlock"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleRequestResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleRequestResource"
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperation": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy."
          }
        },
        "mcp": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationMCP",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
          }
        },
        "snis": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy."
          }
        },
        "headerSet": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
          "traits": {
            "smithy.api#documentation": "Optional. A list of headers to match against in http header."
          }
        },
        "hosts": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
          }
        },
        "paths": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes properties of one or more targets of a request."
      }
    },
    "com.gcp.networksecurity_v1#SecurityProfile": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of the profile. Max length 512 characters."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "type": {
          "target": "com.gcp.networksecurity_v1#SecurityProfileTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The single ProfileType that the SecurityProfile resource configures."
          }
        },
        "threatPreventionProfile": {
          "target": "com.gcp.networksecurity_v1#ThreatPreventionProfile",
          "traits": {
            "smithy.api#documentation": "The threat prevention configuration for the SecurityProfile."
          }
        },
        "customMirroringProfile": {
          "target": "com.gcp.networksecurity_v1#CustomMirroringProfile",
          "traits": {
            "smithy.api#documentation": "The custom Packet Mirroring v2 configuration for the SecurityProfile."
          }
        },
        "urlFilteringProfile": {
          "target": "com.gcp.networksecurity_v1#UrlFilteringProfile",
          "traits": {
            "smithy.api#documentation": "The URL filtering configuration for the SecurityProfile."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource creation timestamp."
          }
        },
        "customInterceptProfile": {
          "target": "com.gcp.networksecurity_v1#CustomInterceptProfile",
          "traits": {
            "smithy.api#documentation": "The custom TPPI configuration for the SecurityProfile."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last resource update timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes."
      }
    },
    "com.gcp.networksecurity_v1#SecurityProfileTypeEnum": {
      "type": "enum",
      "members": {
        "PROFILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_TYPE_UNSPECIFIED"
          }
        },
        "THREAT_PREVENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_PREVENTION"
          }
        },
        "CUSTOM_MIRRORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_MIRRORING"
          }
        },
        "CUSTOM_INTERCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_INTERCEPT"
          }
        },
        "URL_FILTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_FILTERING"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.networksecurity_v1#MirroringDeployment": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.networksecurity_v1#MirroringDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the deployment. See https://google.aip.dev/216."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "mirroringDeploymentGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service."
      }
    },
    "com.gcp.networksecurity_v1#MirroringDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleTo": {
      "type": "structure",
      "members": {
        "notOperations": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationList",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the negated properties of the targets of a request. Matches requests for operations that do not match the criteria specified in this field. At least one of operations or notOperations must be specified."
          }
        },
        "operations": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationList",
          "traits": {
            "smithy.api#documentation": "Optional. Describes properties of one or more targets of a request. At least one of operations or notOperations must be specified. Limited to 1 operation. A match occurs when ANY operation (in operations or notOperations) matches. Within an operation, the match follows AND semantics across fields and OR semantics within a field, i.e. a match occurs when ANY path matches AND ANY header matches and ANY method matches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes properties of one or more targets of a request."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperation"
      }
    },
    "com.gcp.networksecurity_v1#FirewallEndpointAssociation": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time stamp"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the network that is being associated."
          }
        },
        "firewallEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the FirewallEndpoint that is being associated."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time stamp"
          }
        },
        "tlsInspectionPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL of the TlsInspectionPolicy that is being associated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. name of resource"
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1#FirewallEndpointAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the association."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing Association object"
      }
    },
    "com.gcp.networksecurity_v1#FirewallEndpointAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ORPHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORPHAN"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleHeaderMatchList",
          "traits": {
            "smithy.api#documentation": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a set of HTTP headers to match against."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleHeaderMatchList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#AuthzPolicyAuthzRuleHeaderMatch"
      }
    },
    "com.gcp.networksecurity_v1#ListInterceptEndpointGroupAssociationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        },
        "interceptEndpointGroupAssociations": {
          "target": "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationList",
          "traits": {
            "smithy.api#documentation": "The associations from the specified parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListInterceptEndpointGroupAssociations."
      }
    },
    "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociation"
      }
    },
    "com.gcp.networksecurity_v1#CustomInterceptProfile": {
      "type": "structure",
      "members": {
        "interceptEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action."
      }
    },
    "com.gcp.networksecurity_v1#AuthorizationPolicy": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the AuthorizationPolicy resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "rules": {
          "target": "com.gcp.networksecurity_v1#RuleList",
          "traits": {
            "smithy.api#documentation": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "action": {
          "target": "com.gcp.networksecurity_v1#AuthorizationPolicyActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource."
      }
    },
    "com.gcp.networksecurity_v1#RuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#Rule"
      }
    },
    "com.gcp.networksecurity_v1#AuthorizationPolicyActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyTarget": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networksecurity_v1#AuthzPolicyTargetLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the set of targets to which this policy should be applied to."
      }
    },
    "com.gcp.networksecurity_v1#AuthzPolicyTargetLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        },
        "INTERNAL_SELF_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SELF_MANAGED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#ListSecurityProfilesResponse": {
      "type": "structure",
      "members": {
        "securityProfiles": {
          "target": "com.gcp.networksecurity_v1#SecurityProfileList",
          "traits": {
            "smithy.api#documentation": "List of SecurityProfile resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListSecurityProfiles method."
      }
    },
    "com.gcp.networksecurity_v1#SecurityProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#SecurityProfile"
      }
    },
    "com.gcp.networksecurity_v1#ListSACRealmsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "sacRealms": {
          "target": "com.gcp.networksecurity_v1#SACRealmList",
          "traits": {
            "smithy.api#documentation": "The list of SACRealms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListSACRealms` method."
      }
    },
    "com.gcp.networksecurity_v1#SACRealmList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#SACRealm"
      }
    },
    "com.gcp.networksecurity_v1#ListGatewaySecurityPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "gatewaySecurityPolicies": {
          "target": "com.gcp.networksecurity_v1#GatewaySecurityPolicyList",
          "traits": {
            "smithy.api#documentation": "List of GatewaySecurityPolicies resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListGatewaySecurityPolicies method."
      }
    },
    "com.gcp.networksecurity_v1#GatewaySecurityPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#GatewaySecurityPolicy"
      }
    },
    "com.gcp.networksecurity_v1#FirewallEndpointEndpointSettings": {
      "type": "structure",
      "members": {
        "jumboFramesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the endpoint."
      }
    },
    "com.gcp.networksecurity_v1#CustomMirroringProfile": {
      "type": "structure",
      "members": {
        "mirroringEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action."
      }
    },
    "com.gcp.networksecurity_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.networksecurity_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.networksecurity_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.networksecurity_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#DocumentMap"
      }
    },
    "com.gcp.networksecurity_v1#GatewaySecurityPolicy": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "tlsInspectionPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata."
      }
    },
    "com.gcp.networksecurity_v1#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.networksecurity_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.networksecurity_v1#UrlFilter": {
      "type": "structure",
      "members": {
        "filteringAction": {
          "target": "com.gcp.networksecurity_v1#UrlFilterFilteringActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The action taken when this filter is applied."
          }
        },
        "urls": {
          "target": "com.gcp.networksecurity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of strings that a URL must match with for this filter to be applied."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL filter defines an action to take for some URL match."
      }
    },
    "com.gcp.networksecurity_v1#UrlFilterFilteringActionEnum": {
      "type": "enum",
      "members": {
        "URL_FILTERING_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_FILTERING_ACTION_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociation": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "interceptEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124."
          }
        },
        "locationsDetails": {
          "target": "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationLocationDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        },
        "locations": {
          "target": "com.gcp.networksecurity_v1#InterceptLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
          }
        },
        "networkCookie": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the endpoint group association."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network."
      }
    },
    "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationLocationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationLocationDetails"
      }
    },
    "com.gcp.networksecurity_v1#InterceptLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#InterceptLocation"
      }
    },
    "com.gcp.networksecurity_v1#InterceptEndpointGroupAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#MirroringEndpointGroup": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the endpoint group. See https://google.aip.dev/216."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
          }
        },
        "associations": {
          "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociationDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. List of associations to this endpoint group."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
          }
        },
        "type": {
          "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of the endpoint group. If left unspecified, defaults to DIRECT."
          }
        },
        "connectedDeploymentGroups": {
          "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupConnectedDeploymentGroupList",
          "traits": {
            "smithy.api#documentation": "Output only. List of details about the connected deployment groups to this endpoint group."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "mirroringDeploymentGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The deployment group that this DIRECT endpoint group is connected to, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure mirroring for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A mirroring rule that references the security profile (group)."
      }
    },
    "com.gcp.networksecurity_v1#MirroringEndpointGroupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1#MirroringEndpointGroupAssociationDetails"
      }
    },
[...]
