{
  "smithy": "2.0",
  "metadata": {
    "service": "networkmanagement",
    "version": "v1",
    "title": "Network Management API",
    "baseUrl": "https://networkmanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networkmanagement_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.networkmanagement_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.networkmanagement_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#Location"
      }
    },
    "com.gcp.networkmanagement_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.networkmanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.networkmanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.networkmanagement_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkmanagement_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.networkmanagement_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.networkmanagement_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.networkmanagement_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#Operation"
      }
    },
    "com.gcp.networkmanagement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkmanagement_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.networkmanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.networkmanagement_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.networkmanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.networkmanagement_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.networkmanagement_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.networkmanagement_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#DocumentMap"
      }
    },
    "com.gcp.networkmanagement_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.networkmanagement_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.networkmanagement_v1#ListNetworkMonitoringProvidersResponse": {
      "type": "structure",
      "members": {
        "networkMonitoringProviders": {
          "target": "com.gcp.networkmanagement_v1#NetworkMonitoringProviderList",
          "traits": {
            "smithy.api#documentation": "The list of NetworkMonitoringProvider"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing NetworkMonitoringProviders"
      }
    },
    "com.gcp.networkmanagement_v1#NetworkMonitoringProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#NetworkMonitoringProvider"
      }
    },
    "com.gcp.networkmanagement_v1#NetworkMonitoringProvider": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Name of the resource. Format: `projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the NetworkMonitoringProvider was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the NetworkMonitoringProvider was updated."
          }
        },
        "providerType": {
          "target": "com.gcp.networkmanagement_v1#NetworkMonitoringProviderProviderTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the NetworkMonitoringProvider."
          }
        },
        "providerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to the provider's UI."
          }
        },
        "state": {
          "target": "com.gcp.networkmanagement_v1#NetworkMonitoringProviderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the NetworkMonitoringProvider."
          }
        },
        "errors": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of error messages detected for the NetworkMonitoringProvider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing NetworkMonitoringProvider resource."
      }
    },
    "com.gcp.networkmanagement_v1#NetworkMonitoringProviderProviderTypeEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_TYPE_UNSPECIFIED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#NetworkMonitoringProviderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#GenerateProviderAccessTokenResponse": {
      "type": "structure",
      "members": {
        "providerAccessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider access token for the NetworkMonitoringProvider resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response for generating an access token for a NetworkMonitoringProvider resource."
      }
    },
    "com.gcp.networkmanagement_v1#HttpBody": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.networkmanagement_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.networkmanagement_v1#GenerateMonitoringPointConfigResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.networkmanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The Monitoring Point configuration of the provider in JSON format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response for getting Monitoring Point configuration of a NetworkMonitoringProvider resource."
      }
    },
    "com.gcp.networkmanagement_v1#ListMonitoringPointsResponse": {
      "type": "structure",
      "members": {
        "monitoringPoints": {
          "target": "com.gcp.networkmanagement_v1#MonitoringPointList",
          "traits": {
            "smithy.api#documentation": "The list of MonitoringPoints."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing MonitoringPoints"
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#MonitoringPoint"
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the resource. Format: `projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/monitoringPoints/{monitoring_point}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the MonitoringPoint was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the MonitoringPoint was updated."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the MonitoringPoint."
          }
        },
        "originatingIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IP address visible when MonitoringPoint connects to the provider."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the software running on the MonitoringPoint."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deployment type of the MonitoringPoint."
          }
        },
        "connectionStatus": {
          "target": "com.gcp.networkmanagement_v1#MonitoringPointConnectionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Connection status of the MonitoringPoint."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The hostname of the MonitoringPoint."
          }
        },
        "geoLocation": {
          "target": "com.gcp.networkmanagement_v1#GeoLocation",
          "traits": {
            "smithy.api#documentation": "Output only. The geographical location of the MonitoringPoint."
          }
        },
        "upgradeType": {
          "target": "com.gcp.networkmanagement_v1#MonitoringPointUpgradeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of upgrade available for the MonitoringPoint."
          }
        },
        "networkInterfaces": {
          "target": "com.gcp.networkmanagement_v1#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The network interfaces of the MonitoringPoint."
          }
        },
        "errors": {
          "target": "com.gcp.networkmanagement_v1#MonitoringPointErrorsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The codes of errors detected in the MonitoringPoint."
          }
        },
        "autoGeoLocationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if automaitic geographic location is enabled for the MonitoringPoint."
          }
        },
        "providerTags": {
          "target": "com.gcp.networkmanagement_v1#ProviderTagList",
          "traits": {
            "smithy.api#documentation": "Output only. The provider tags of the MonitoringPoint."
          }
        },
        "host": {
          "target": "com.gcp.networkmanagement_v1#Host",
          "traits": {
            "smithy.api#documentation": "Output only. The host information of the MonitoringPoint."
          }
        },
        "upgradeAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if an upgrade is available for the MonitoringPoint."
          }
        },
        "guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The GUID of the MonitoringPoint."
          }
        },
        "deploymentType": {
          "target": "com.gcp.networkmanagement_v1#MonitoringPointDeploymentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment type of the MonitoringPoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing MonitoringPoint resource."
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointConnectionStatusEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_STATUS_UNSPECIFIED"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointUpgradeTypeEnum": {
      "type": "enum",
      "members": {
        "UPGRADE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_TYPE_UNSPECIFIED"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#NetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#NetworkInterface"
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointErrorsItemEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "NTP_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NTP_ERROR"
          }
        },
        "UPGRADE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_ERROR"
          }
        },
        "DOWNLOAD_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOAD_FAILED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointErrorsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#MonitoringPointErrorsItemEnum"
      }
    },
    "com.gcp.networkmanagement_v1#ProviderTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#ProviderTag"
      }
    },
    "com.gcp.networkmanagement_v1#MonitoringPointDeploymentTypeEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_TYPE_UNSPECIFIED"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER"
          }
        },
        "PODMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PODMAN"
          }
        },
        "HELM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELM"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#GeoLocation": {
      "type": "structure",
      "members": {
        "formattedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted address."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unicode CLDR region code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographical location of the MonitoringPoint."
      }
    },
    "com.gcp.networkmanagement_v1#NetworkInterface": {
      "type": "structure",
      "members": {
        "interfaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the network interface. Examples: eth0, eno1"
          }
        },
        "speed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Speed of the interface in millions of bits per second."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of the interface."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of the interface and subnet mask in CIDR format. Examples: 192.168.1.0/24, 2001:db8::/32"
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MAC address of the interface."
          }
        },
        "adapterDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the interface."
          }
        },
        "vlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the VLAN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing network interfaces."
      }
    },
    "com.gcp.networkmanagement_v1#ProviderTag": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The category of the provider tag."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The value of the provider tag."
          }
        },
        "resourceType": {
          "target": "com.gcp.networkmanagement_v1#ProviderTagResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The resource type of the provider tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the provider tag."
      }
    },
    "com.gcp.networkmanagement_v1#ProviderTagResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "NETWORK_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_PATH"
          }
        },
        "WEB_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_PATH"
          }
        },
        "MONITORING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POLICY"
          }
        },
        "MONITORING_POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POINT"
          }
        },
        "MONITORING_POINT_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POINT_RULE"
          }
        },
        "MONITORING_POINT_RULE_AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POINT_RULE_AUTO"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#Host": {
      "type": "structure",
      "members": {
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The operating system of the host."
          }
        },
        "cloudProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud provider of the host."
          }
        },
        "cloudProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud project id of the host."
          }
        },
        "cloudInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud instance id of the host."
          }
        },
        "cloudRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud region of the host."
          }
        },
        "cloudZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud zone of the host."
          }
        },
        "cloudVirtualNetworkIds": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The ids of cloud virtual networks of the host."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing information about the host."
      }
    },
    "com.gcp.networkmanagement_v1#ListNetworkPathsResponse": {
      "type": "structure",
      "members": {
        "networkPaths": {
          "target": "com.gcp.networkmanagement_v1#NetworkPathList",
          "traits": {
            "smithy.api#documentation": "The list of NetworkPath"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing NetworkPaths"
      }
    },
    "com.gcp.networkmanagement_v1#NetworkPathList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#NetworkPath"
      }
    },
    "com.gcp.networkmanagement_v1#NetworkPath": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the resource. Format: `projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/networkPaths/{network_path}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the NetworkPath was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the NetworkPath was updated."
          }
        },
        "sourceMonitoringPointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provider's UUID of the source MonitoringPoint. This id may not point to a resource in the Google Cloud."
          }
        },
        "destinationMonitoringPointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provider's UUID of the destination MonitoringPoint. This id may not point to a resource in the Google Cloud."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IP address or hostname of the network path destination."
          }
        },
        "dualEnded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the network path is dual ended. When true, the network path is measured both: from both source to destination, and from destination to source. When false, the network path is measured from the source through the destination back to the source (round trip measurement)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the network path."
          }
        },
        "destinationGeoLocation": {
          "target": "com.gcp.networkmanagement_v1#GeoLocation",
          "traits": {
            "smithy.api#documentation": "Output only. Geographical location of the destination MonitoringPoint."
          }
        },
        "networkProtocol": {
          "target": "com.gcp.networkmanagement_v1#NetworkPathNetworkProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The network protocol of the network path."
          }
        },
        "monitoringEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is monitoring enabled for the network path."
          }
        },
        "monitoringStatus": {
          "target": "com.gcp.networkmanagement_v1#NetworkPathMonitoringStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The monitoring status of the network path."
          }
        },
        "providerTags": {
          "target": "com.gcp.networkmanagement_v1#ProviderTagList",
          "traits": {
            "smithy.api#documentation": "Output only. The provider tags of the network path."
          }
        },
        "monitoringPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of monitoring policy."
          }
        },
        "monitoringPolicyDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the monitoring policy."
          }
        },
        "providerUiUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to provider's UI; link shows the NetworkPath."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing NetworkPath resource."
      }
    },
    "com.gcp.networkmanagement_v1#NetworkPathNetworkProtocolEnum": {
      "type": "enum",
      "members": {
        "NETWORK_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_PROTOCOL_UNSPECIFIED"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICMP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#NetworkPathMonitoringStatusEnum": {
      "type": "enum",
      "members": {
        "MONITORING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_STATUS_UNSPECIFIED"
          }
        },
        "MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING"
          }
        },
        "POLICY_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_MISMATCH"
          }
        },
        "MONITORING_POINT_OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POINT_OFFLINE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#ListWebPathsResponse": {
      "type": "structure",
      "members": {
        "webPaths": {
          "target": "com.gcp.networkmanagement_v1#WebPathList",
          "traits": {
            "smithy.api#documentation": "The list of WebPath."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing WebPaths"
      }
    },
    "com.gcp.networkmanagement_v1#WebPathList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#WebPath"
      }
    },
    "com.gcp.networkmanagement_v1#WebPath": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the resource. Format: `projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/webPaths/{web_path}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the WebPath was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the WebPath was updated."
          }
        },
        "sourceMonitoringPointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the source MonitoringPoint."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the WebPath."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Web monitoring target."
          }
        },
        "monitoringEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is monitoring enabled for the WebPath."
          }
        },
        "monitoringStatus": {
          "target": "com.gcp.networkmanagement_v1#WebPathMonitoringStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The monitoring status of the WebPath."
          }
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Monitoring interval."
          }
        },
        "workflowType": {
          "target": "com.gcp.networkmanagement_v1#WebPathWorkflowTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The workflow type of the WebPath."
          }
        },
        "relatedNetworkPathId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provider's UUID of the related NetworkPath."
          }
        },
        "providerTags": {
          "target": "com.gcp.networkmanagement_v1#ProviderTagList",
          "traits": {
            "smithy.api#documentation": "Output only. The provider tags of the web path."
          }
        },
        "monitoringPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the monitoring policy."
          }
        },
        "monitoringPolicyDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the monitoring policy."
          }
        },
        "providerUiUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to provider's UI; link shows the WebPath."
          }
        },
        "destinationGeoLocation": {
          "target": "com.gcp.networkmanagement_v1#GeoLocation",
          "traits": {
            "smithy.api#documentation": "Output only. Geographical location of the destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing WebPath resource."
      }
    },
    "com.gcp.networkmanagement_v1#WebPathMonitoringStatusEnum": {
      "type": "enum",
      "members": {
        "MONITORING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_STATUS_UNSPECIFIED"
          }
        },
        "MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING"
          }
        },
        "POLICY_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_MISMATCH"
          }
        },
        "MONITORING_POINT_OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_POINT_OFFLINE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#WebPathWorkflowTypeEnum": {
      "type": "enum",
      "members": {
        "WORKFLOW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKFLOW_TYPE_UNSPECIFIED"
          }
        },
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#ListConnectivityTestsResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.networkmanagement_v1#ConnectivityTestList",
          "traits": {
            "smithy.api#documentation": "List of Connectivity Tests."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token to fetch the next set of Connectivity Tests."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached (when querying all locations with `-`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListConnectivityTests` method."
      }
    },
    "com.gcp.networkmanagement_v1#ConnectivityTestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#ConnectivityTest"
      }
    },
    "com.gcp.networkmanagement_v1#ConnectivityTest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique name of the resource using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied description of the Connectivity Test. Maximum of 512 characters."
          }
        },
        "source": {
          "target": "com.gcp.networkmanagement_v1#Endpoint",
          "traits": {
            "smithy.api#documentation": "Required. Source specification of the Connectivity Test. You can use a combination of source IP address, URI of a supported endpoint, project ID, or VPC network to identify the source location. Reachability analysis might proceed even if the source location is ambiguous. However, the test result might include endpoints or use a source that you don't intend to test."
          }
        },
        "destination": {
          "target": "com.gcp.networkmanagement_v1#Endpoint",
          "traits": {
            "smithy.api#documentation": "Required. Destination specification of the Connectivity Test. You can use a combination of destination IP address, URI of a supported endpoint, project ID, or VPC network to identify the destination location. Reachability analysis proceeds even if the destination location is ambiguous. However, the test result might include endpoints or use a destination that you don't intend to test."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Protocol of the test. When not provided, \"TCP\" is assumed."
          }
        },
        "relatedProjects": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Other projects that may be relevant for reachability analysis. This is applicable to scenarios where a test can cross project boundaries."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of a Connectivity Test."
          }
        },
        "labels": {
          "target": "com.gcp.networkmanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user-provided metadata."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the test was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the test's configuration was updated."
          }
        },
        "reachabilityDetails": {
          "target": "com.gcp.networkmanagement_v1#ReachabilityDetails",
          "traits": {
            "smithy.api#documentation": "Output only. The reachability details of this test from the latest run. The details are updated when creating a new test, updating an existing test, or triggering a one-time rerun of an existing test."
          }
        },
        "probingDetails": {
          "target": "com.gcp.networkmanagement_v1#ProbingDetails",
          "traits": {
            "smithy.api#documentation": "Output only. The probing details of this test from the latest run, present for applicable tests only. The details are updated when creating a new test, updating an existing test, or triggering a one-time rerun of an existing test."
          }
        },
        "roundTrip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether run analysis for the return path from destination to source. Default value is false."
          }
        },
        "returnReachabilityDetails": {
          "target": "com.gcp.networkmanagement_v1#ReachabilityDetails",
          "traits": {
            "smithy.api#documentation": "Output only. The reachability details of this test from the latest run for the return path. The details are updated when creating a new test, updating an existing test, or triggering a one-time rerun of an existing test."
          }
        },
        "bypassFirewallChecks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the analysis should skip firewall checking. Default value is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Connectivity Test for a network reachability analysis."
      }
    },
    "com.gcp.networkmanagement_v1#Endpoint": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the endpoint, which can be an external or internal IP."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The IP protocol port of the endpoint. Only applicable when protocol is TCP or UDP."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Compute Engine instance URI."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A forwarding rule and its corresponding IP address represent the frontend configuration of a Google Cloud load balancer. Forwarding rules are also used for protocol forwarding, Private Service Connect and other network services to provide forwarding information in the control plane. Applicable only to destination endpoint. Format: `projects/{project}/global/forwardingRules/{id}` or `projects/{project}/regions/{region}/forwardingRules/{id}`"
          }
        },
        "forwardingRuleTarget": {
          "target": "com.gcp.networkmanagement_v1#EndpointForwardingRuleTargetEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the type of the target of the forwarding rule."
          }
        },
        "loadBalancerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the load balancer the forwarding rule points to. Empty for forwarding rules not related to load balancers."
          }
        },
        "loadBalancerType": {
          "target": "com.gcp.networkmanagement_v1#EndpointLoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the load balancer the forwarding rule points to."
          }
        },
        "gkeMasterCluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cluster URI for [Google Kubernetes Engine cluster control plane](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture)."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS endpoint of [Google Kubernetes Engine cluster control plane](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture). Requires gke_master_cluster to be set, can't be used simultaneoulsly with ip_address or network. Applicable only to destination endpoint."
          }
        },
        "cloudSqlInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Cloud SQL](https://cloud.google.com/sql) instance URI."
          }
        },
        "redisInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Redis Instance](https://cloud.google.com/memorystore/docs/redis) URI. Applicable only to destination endpoint."
          }
        },
        "redisCluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Redis Cluster](https://cloud.google.com/memorystore/docs/cluster) URI. Applicable only to destination endpoint."
          }
        },
        "gkePod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [GKE Pod](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) URI."
          }
        },
        "dmsPrivateConnection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [DMS Private Connection](https://docs.cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.privateConnections) name format: projects/{project}/locations/{location}/privateConnections/{privateConnection}."
          }
        },
        "cloudFunction": {
          "target": "com.gcp.networkmanagement_v1#CloudFunctionEndpoint",
          "traits": {
            "smithy.api#documentation": "A [Cloud Function](https://cloud.google.com/functions). Applicable only to source endpoint."
          }
        },
        "appEngineVersion": {
          "target": "com.gcp.networkmanagement_v1#AppEngineVersionEndpoint",
          "traits": {
            "smithy.api#documentation": "An [App Engine](https://cloud.google.com/appengine) [service version](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions). Applicable only to source endpoint."
          }
        },
        "cloudRunRevision": {
          "target": "com.gcp.networkmanagement_v1#CloudRunRevisionEndpoint",
          "traits": {
            "smithy.api#documentation": "A [Cloud Run](https://cloud.google.com/run) [revision](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.revisions/get) Applicable only to source endpoint."
          }
        },
        "cloudRunJob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Cloud Run](https://cloud.google.com/run) [job](https://docs.cloud.google.com/run/docs/reference/rest/v2/projects.locations.jobs#Job) URI. Applicable only to source endpoint. The format is: projects/{project}/locations/{location}/jobs/{job}"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A VPC network URI. For source endpoints, used according to the `network_type`. For destination endpoints, used only when the source is an external IP address endpoint, and the destination is an internal IP address endpoint."
          }
        },
        "networkType": {
          "target": "com.gcp.networkmanagement_v1#EndpointNetworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "For source endpoints, type of the network where the endpoint is located. Not relevant for destination endpoints."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For source endpoints, endpoint project ID. Used according to the `network_type`. Not relevant for destination endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source or destination of the Connectivity Test."
      }
    },
    "com.gcp.networkmanagement_v1#EndpointForwardingRuleTargetEnum": {
      "type": "enum",
      "members": {
        "FORWARDING_RULE_TARGET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARDING_RULE_TARGET_UNSPECIFIED"
          }
        },
        "INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE"
          }
        },
        "LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCER"
          }
        },
        "VPN_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPN_GATEWAY"
          }
        },
        "PSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#EndpointLoadBalancerTypeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCER_TYPE_UNSPECIFIED"
          }
        },
        "HTTPS_ADVANCED_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS_ADVANCED_LOAD_BALANCER"
          }
        },
        "HTTPS_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS_LOAD_BALANCER"
          }
        },
        "REGIONAL_HTTPS_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_HTTPS_LOAD_BALANCER"
          }
        },
        "INTERNAL_HTTPS_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_HTTPS_LOAD_BALANCER"
          }
        },
        "SSL_PROXY_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_PROXY_LOAD_BALANCER"
          }
        },
        "TCP_PROXY_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_PROXY_LOAD_BALANCER"
          }
        },
        "INTERNAL_TCP_PROXY_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_TCP_PROXY_LOAD_BALANCER"
          }
        },
        "NETWORK_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_LOAD_BALANCER"
          }
        },
        "LEGACY_NETWORK_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY_NETWORK_LOAD_BALANCER"
          }
        },
        "TCP_UDP_INTERNAL_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_UDP_INTERNAL_LOAD_BALANCER"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#EndpointNetworkTypeEnum": {
      "type": "enum",
      "members": {
        "NETWORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_TYPE_UNSPECIFIED"
          }
        },
        "GCP_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP_NETWORK"
          }
        },
        "NON_GCP_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_GCP_NETWORK"
          }
        },
        "INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNET"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#CloudFunctionEndpoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Cloud Function](https://cloud.google.com/functions) name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for Cloud Function attributes."
      }
    },
    "com.gcp.networkmanagement_v1#AppEngineVersionEndpoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An [App Engine](https://cloud.google.com/appengine) [service version](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions) name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for the App Engine service version attributes."
      }
    },
    "com.gcp.networkmanagement_v1#CloudRunRevisionEndpoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A [Cloud Run](https://cloud.google.com/run) [revision](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.revisions/get) URI. The format is: projects/{project}/locations/{location}/revisions/{revision}"
          }
        },
        "serviceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the Cloud Run service that the revision belongs to. The format is: projects/{project}/locations/{location}/services/{service}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for Cloud Run revision attributes."
      }
    },
    "com.gcp.networkmanagement_v1#ReachabilityDetails": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.networkmanagement_v1#ReachabilityDetailsResultEnum",
          "traits": {
            "smithy.api#documentation": "The overall result of the test's configuration analysis."
          }
        },
        "verifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the configuration analysis."
          }
        },
        "error": {
          "target": "com.gcp.networkmanagement_v1#Status",
          "traits": {
            "smithy.api#documentation": "The details of a failure or a cancellation of reachability analysis."
          }
        },
        "traces": {
          "target": "com.gcp.networkmanagement_v1#TraceList",
          "traits": {
            "smithy.api#documentation": "Result may contain a list of traces if a test has multiple possible paths in the network, such as when destination endpoint is a load balancer with multiple backends."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of the configuration analysis from the last run of the test."
      }
    },
    "com.gcp.networkmanagement_v1#ReachabilityDetailsResultEnum": {
      "type": "enum",
      "members": {
        "RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_UNSPECIFIED"
          }
        },
        "REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REACHABLE"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        },
        "AMBIGUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMBIGUOUS"
          }
        },
        "UNDETERMINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDETERMINED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#TraceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#Trace"
      }
    },
    "com.gcp.networkmanagement_v1#Trace": {
      "type": "structure",
      "members": {
        "endpointInfo": {
          "target": "com.gcp.networkmanagement_v1#EndpointInfo",
          "traits": {
            "smithy.api#documentation": "Derived from the source and destination endpoints definition specified by user request, and validated by the data plane model. If there are multiple traces starting from different source locations, then the endpoint_info may be different between traces."
          }
        },
        "steps": {
          "target": "com.gcp.networkmanagement_v1#StepList",
          "traits": {
            "smithy.api#documentation": "A trace of a test contains multiple steps from the initial state to the final state (delivered, dropped, forwarded, or aborted). The steps are ordered by the processing sequence within the simulated network state machine. It is critical to preserve the order of the steps and avoid reordering or sorting them."
          }
        },
        "forwardTraceId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of trace. For forward traces, this ID is unique for each trace. For return traces, it matches ID of associated forward trace. A single forward trace can be associated with none, one or more than one return trace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trace represents one simulated packet forwarding path. * Each trace contains multiple ordered steps. * Each step is in a particular state with associated configuration. * State is categorized as final or non-final states. * Each final state has a reason associated. * Each trace must end with a final state (the last step). ``` |---------------------Trace----------------------| Step1(State) Step2(State) --- StepN(State(final)) ```"
      }
    },
    "com.gcp.networkmanagement_v1#StepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkmanagement_v1#Step"
      }
    },
    "com.gcp.networkmanagement_v1#EndpointInfo": {
      "type": "structure",
      "members": {
        "sourceIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source IP address."
          }
        },
        "destinationIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination IP address."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP protocol in string format, for example: \"TCP\", \"UDP\", \"ICMP\"."
          }
        },
        "sourcePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Source port. Only valid when protocol is TCP or UDP."
          }
        },
        "destinationPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Destination port. Only valid when protocol is TCP or UDP."
          }
        },
        "sourceNetworkUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the network where this packet originates from. Format: `projects/{project_id}/global/networks/{network_id}`"
          }
        },
        "destinationNetworkUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the network where this packet is sent to. Format: `projects/{project_id}/global/networks/{network_id}`"
          }
        },
        "sourceAgentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the source telemetry agent this packet originates from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For display only. The specification of the endpoints for the test. EndpointInfo is derived from source and destination Endpoint and validated by the backend data plane model."
      }
    },
    "com.gcp.networkmanagement_v1#Step": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the step. Usually this is a summary of the state."
          }
        },
        "state": {
          "target": "com.gcp.networkmanagement_v1#StepStateEnum",
          "traits": {
            "smithy.api#documentation": "Each step is in one of the pre-defined states."
          }
        },
        "causesDrop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is a step that leads to the final state Drop."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID that contains the configuration this step is validating."
          }
        },
        "instance": {
          "target": "com.gcp.networkmanagement_v1#InstanceInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine instance."
          }
        },
        "firewall": {
          "target": "com.gcp.networkmanagement_v1#FirewallInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine firewall rule."
          }
        },
        "route": {
          "target": "com.gcp.networkmanagement_v1#RouteInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine route."
          }
        },
        "endpoint": {
          "target": "com.gcp.networkmanagement_v1#EndpointInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the source and destination under analysis. The endpoint information in an intermediate state may differ with the initial input, as it might be modified by state like NAT, or Connection Proxy."
          }
        },
        "googleService": {
          "target": "com.gcp.networkmanagement_v1#GoogleServiceInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Google service"
          }
        },
        "forwardingRule": {
          "target": "com.gcp.networkmanagement_v1#ForwardingRuleInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine forwarding rule."
          }
        },
        "hybridSubnet": {
          "target": "com.gcp.networkmanagement_v1#HybridSubnetInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a hybrid subnet."
          }
        },
        "vpnGateway": {
          "target": "com.gcp.networkmanagement_v1#VpnGatewayInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine VPN gateway."
          }
        },
        "vpnTunnel": {
          "target": "com.gcp.networkmanagement_v1#VpnTunnelInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Compute Engine VPN tunnel."
          }
        },
        "interconnectAttachment": {
          "target": "com.gcp.networkmanagement_v1#InterconnectAttachmentInfo",
          "traits": {
            "smithy.api#documentation": "Display information of an interconnect attachment."
          }
        },
        "vpcConnector": {
          "target": "com.gcp.networkmanagement_v1#VpcConnectorInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a VPC connector."
          }
        },
        "directVpcEgressConnection": {
          "target": "com.gcp.networkmanagement_v1#DirectVpcEgressConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a serverless direct VPC egress connection."
          }
        },
        "serverlessExternalConnection": {
          "target": "com.gcp.networkmanagement_v1#ServerlessExternalConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a serverless public (external) connection."
          }
        },
        "deliver": {
          "target": "com.gcp.networkmanagement_v1#DeliverInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the final state \"deliver\" and reason."
          }
        },
        "forward": {
          "target": "com.gcp.networkmanagement_v1#ForwardInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the final state \"forward\" and reason."
          }
        },
        "abort": {
          "target": "com.gcp.networkmanagement_v1#AbortInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the final state \"abort\" and reason."
          }
        },
        "drop": {
          "target": "com.gcp.networkmanagement_v1#DropInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the final state \"drop\" and reason."
          }
        },
        "loadBalancer": {
          "target": "com.gcp.networkmanagement_v1#LoadBalancerInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the load balancers. Deprecated in favor of the `load_balancer_backend_info` field, not used in new tests."
          }
        },
        "network": {
          "target": "com.gcp.networkmanagement_v1#NetworkInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Google Cloud network."
          }
        },
        "gkeMaster": {
          "target": "com.gcp.networkmanagement_v1#GKEMasterInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Google Kubernetes Engine cluster master."
          }
        },
        "gkePod": {
          "target": "com.gcp.networkmanagement_v1#GkePodInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Google Kubernetes Engine Pod."
          }
        },
        "ipMasqueradingSkipped": {
          "target": "com.gcp.networkmanagement_v1#IpMasqueradingSkippedInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the reason why GKE Pod IP masquerading was skipped."
          }
        },
        "gkeNetworkPolicy": {
          "target": "com.gcp.networkmanagement_v1#GkeNetworkPolicyInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a GKE Network Policy."
          }
        },
        "gkeNetworkPolicySkipped": {
          "target": "com.gcp.networkmanagement_v1#GkeNetworkPolicySkippedInfo",
          "traits": {
            "smithy.api#documentation": "Display information of the reason why GKE Network Policy evaluation was skipped."
          }
        },
        "cloudSqlInstance": {
          "target": "com.gcp.networkmanagement_v1#CloudSQLInstanceInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Cloud SQL instance."
          }
        },
        "redisInstance": {
          "target": "com.gcp.networkmanagement_v1#RedisInstanceInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Redis Instance."
          }
        },
        "redisCluster": {
          "target": "com.gcp.networkmanagement_v1#RedisClusterInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Redis Cluster."
          }
        },
        "cloudFunction": {
          "target": "com.gcp.networkmanagement_v1#CloudFunctionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Cloud Function."
          }
        },
        "appEngineVersion": {
          "target": "com.gcp.networkmanagement_v1#AppEngineVersionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of an App Engine service version."
          }
        },
        "cloudRunRevision": {
          "target": "com.gcp.networkmanagement_v1#CloudRunRevisionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Cloud Run revision."
          }
        },
        "cloudRunJob": {
          "target": "com.gcp.networkmanagement_v1#CloudRunJobInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Cloud Run job."
          }
        },
        "nat": {
          "target": "com.gcp.networkmanagement_v1#NatInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a NAT."
          }
        },
        "proxyConnection": {
          "target": "com.gcp.networkmanagement_v1#ProxyConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a ProxyConnection."
          }
        },
        "loadBalancerBackendInfo": {
          "target": "com.gcp.networkmanagement_v1#LoadBalancerBackendInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a specific load balancer backend."
          }
        },
        "storageBucket": {
          "target": "com.gcp.networkmanagement_v1#StorageBucketInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Storage Bucket. Used only for return traces."
          }
        },
        "serverlessNeg": {
          "target": "com.gcp.networkmanagement_v1#ServerlessNegInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Serverless network endpoint group backend. Used only for return traces."
          }
        },
        "ngfwPacketInspection": {
          "target": "com.gcp.networkmanagement_v1#NgfwPacketInspectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a layer 7 packet inspection by the firewall."
          }
        },
        "dmsPrivateConnection": {
          "target": "com.gcp.networkmanagement_v1#PrivateConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a DMS Private Connection."
          }
        },
        "datastreamPrivateConnection": {
          "target": "com.gcp.networkmanagement_v1#PrivateConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Display information of a Datastream Private Connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A simulated forwarding path is composed of multiple steps. Each step has a well-defined state and an associated configuration."
      }
    },
    "com.gcp.networkmanagement_v1#StepStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "START_FROM_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_INSTANCE"
          }
        },
        "START_FROM_INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_INTERNET"
          }
        },
        "START_FROM_GOOGLE_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_GOOGLE_SERVICE"
          }
        },
        "START_FROM_PRIVATE_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_PRIVATE_NETWORK"
          }
        },
        "START_FROM_GKE_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_GKE_MASTER"
          }
        },
        "START_FROM_CLOUD_SQL_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_CLOUD_SQL_INSTANCE"
          }
        },
        "START_FROM_GKE_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_GKE_POD"
          }
        },
        "START_FROM_REDIS_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_REDIS_INSTANCE"
          }
        },
        "START_FROM_REDIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_REDIS_CLUSTER"
          }
        },
        "START_FROM_CLOUD_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_CLOUD_FUNCTION"
          }
        },
        "START_FROM_APP_ENGINE_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_APP_ENGINE_VERSION"
          }
        },
        "START_FROM_CLOUD_RUN_REVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_CLOUD_RUN_REVISION"
          }
        },
        "START_FROM_CLOUD_RUN_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_CLOUD_RUN_JOB"
          }
        },
        "START_FROM_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_STORAGE_BUCKET"
          }
        },
        "START_FROM_PSC_PUBLISHED_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_PSC_PUBLISHED_SERVICE"
          }
        },
        "START_FROM_SERVERLESS_NEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_SERVERLESS_NEG"
          }
        },
        "START_FROM_DMS_PRIVATE_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_DMS_PRIVATE_CONNECTION"
          }
        },
        "START_FROM_DATASTREAM_PRIVATE_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_FROM_DATASTREAM_PRIVATE_CONNECTION"
          }
        },
        "APPLY_INGRESS_FIREWALL_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_INGRESS_FIREWALL_RULE"
          }
        },
        "APPLY_EGRESS_FIREWALL_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_EGRESS_FIREWALL_RULE"
          }
        },
        "APPLY_ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_ROUTE"
          }
        },
        "APPLY_FORWARDING_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_FORWARDING_RULE"
          }
        },
        "ANALYZE_LOAD_BALANCER_BACKEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYZE_LOAD_BALANCER_BACKEND"
          }
        },
        "SPOOFING_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOFING_APPROVED"
          }
        },
        "ARRIVE_AT_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_INSTANCE"
          }
        },
        "ARRIVE_AT_INTERNAL_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_INTERNAL_LOAD_BALANCER"
          }
        },
        "ARRIVE_AT_EXTERNAL_LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_EXTERNAL_LOAD_BALANCER"
          }
        },
        "ARRIVE_AT_HYBRID_SUBNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_HYBRID_SUBNET"
          }
        },
        "ARRIVE_AT_VPN_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_VPN_GATEWAY"
          }
        },
        "ARRIVE_AT_VPN_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_VPN_TUNNEL"
          }
        },
        "ARRIVE_AT_INTERCONNECT_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_INTERCONNECT_ATTACHMENT"
          }
        },
        "ARRIVE_AT_VPC_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_VPC_CONNECTOR"
          }
        },
        "ARRIVE_AT_GKE_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRIVE_AT_GKE_POD"
          }
        },
        "DIRECT_VPC_EGRESS_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_VPC_EGRESS_CONNECTION"
          }
        },
        "SERVERLESS_EXTERNAL_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVERLESS_EXTERNAL_CONNECTION"
          }
        },
        "NGFW_PACKET_INSPECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NGFW_PACKET_INSPECTION"
          }
        },
        "NAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAT"
          }
        },
        "SKIP_GKE_POD_IP_MASQUERADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_GKE_POD_IP_MASQUERADING"
          }
        },
        "SKIP_GKE_INGRESS_NETWORK_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_GKE_INGRESS_NETWORK_POLICY"
          }
        },
        "SKIP_GKE_EGRESS_NETWORK_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_GKE_EGRESS_NETWORK_POLICY"
          }
        },
        "APPLY_INGRESS_GKE_NETWORK_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_INGRESS_GKE_NETWORK_POLICY"
          }
        },
        "APPLY_EGRESS_GKE_NETWORK_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_EGRESS_GKE_NETWORK_POLICY"
          }
        },
        "PROXY_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY_CONNECTION"
          }
        },
        "DELIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVER"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD"
          }
        },
        "ABORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORT"
          }
        },
        "VIEWER_PERMISSION_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_PERMISSION_MISSING"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#InstanceInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Compute Engine instance."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of a Compute Engine instance in format \"projects/{project}/zones/{zone}/instances/{instance}\""
          }
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the network interface of a Compute Engine instance."
          }
        },
        "networkUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of a Compute Engine network in format \"projects/{project}/global/networks/{network}\""
          }
        },
        "internalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal IP address of the network interface."
          }
        },
        "externalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External IP address of the network interface."
          }
        },
        "networkTags": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Network tags configured on the instance."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account authorized for the instance."
          }
        },
        "pscNetworkAttachmentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the PSC network attachment the NIC is attached to (if relevant) in format \"projects/{project}/regions/{region}/networkAttachments/{network_attachment}\""
          }
        },
        "running": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the Compute Engine instance is running. Deprecated: use the `status` field instead."
          }
        },
        "status": {
          "target": "com.gcp.networkmanagement_v1#InstanceInfoStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For display only. Metadata associated with a Compute Engine instance."
      }
    },
    "com.gcp.networkmanagement_v1#InstanceInfoStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RUNNING"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#FirewallInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the firewall rule. This field might be empty for firewall policy rules."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the firewall rule in format \"projects/{project}/global/firewalls/{firewall}\". This field is not applicable to implied VPC firewall rules."
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Possible values: INGRESS, EGRESS"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Possible values: ALLOW, DENY, APPLY_SECURITY_PROFILE_GROUP"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the firewall rule."
          }
        },
        "networkUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the VPC network that the firewall rule is associated with in format \"projects/{project}/global/networks/{network}\". This field is not applicable to hierarchical firewall policy rules."
          }
        },
        "targetTags": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The target tags defined by the VPC firewall rule. This field is not applicable to firewall policy rules."
          }
        },
        "targetServiceAccounts": {
          "target": "com.gcp.networkmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The target service accounts specified by the firewall rule."
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the firewall policy that this rule is associated with. This field is not applicable to VPC firewall rules and implied VPC firewall rules."
          }
        },
        "policyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the firewall policy that this rule is associated with. This field is not applicable to VPC firewall rules and implied VPC firewall rules. Format: * `locations/global/firewallPolicies/{policy_id}` (hierarchical policy) * `projects/{project_id}/global/firewallPolicies/{policy_id}` (global network firewall policy) * `projects/{project_id}/regions/{region}/firewallPolicies/{policy_id}` (regional network firewall policy)"
          }
        },
        "firewallRuleType": {
          "target": "com.gcp.networkmanagement_v1#FirewallInfoFirewallRuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The firewall rule's type."
          }
        },
        "policyPriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the firewall policy that this rule is associated with. This field is not applicable to VPC firewall rules and implied VPC firewall rules."
          }
        },
        "targetType": {
          "target": "com.gcp.networkmanagement_v1#FirewallInfoTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Target type of the firewall rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For display only. Metadata associated with a VPC firewall rule, an implied VPC firewall rule, or a firewall policy rule."
      }
    },
    "com.gcp.networkmanagement_v1#FirewallInfoFirewallRuleTypeEnum": {
      "type": "enum",
      "members": {
        "FIREWALL_RULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREWALL_RULE_TYPE_UNSPECIFIED"
          }
        },
        "HIERARCHICAL_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIERARCHICAL_FIREWALL_POLICY_RULE"
          }
        },
        "VPC_FIREWALL_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_FIREWALL_RULE"
          }
        },
        "IMPLIED_VPC_FIREWALL_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPLIED_VPC_FIREWALL_RULE"
          }
        },
        "SERVERLESS_VPC_ACCESS_MANAGED_FIREWALL_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVERLESS_VPC_ACCESS_MANAGED_FIREWALL_RULE"
          }
        },
        "NETWORK_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_FIREWALL_POLICY_RULE"
          }
        },
        "NETWORK_REGIONAL_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_REGIONAL_FIREWALL_POLICY_RULE"
          }
        },
        "SYSTEM_NETWORK_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_NETWORK_FIREWALL_POLICY_RULE"
          }
        },
        "SYSTEM_REGIONAL_NETWORK_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_REGIONAL_NETWORK_FIREWALL_POLICY_RULE"
          }
        },
        "UNSUPPORTED_FIREWALL_POLICY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_FIREWALL_POLICY_RULE"
          }
        },
        "TRACKING_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACKING_STATE"
          }
        },
        "ANALYSIS_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_SKIPPED"
          }
        }
      }
    },
    "com.gcp.networkmanagement_v1#FirewallInfoTargetTypeEnum": {
      "type": "enum",
      "members": {
        "TARGET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_TYPE_UNSPECIFIED"
          }
        },
        "INSTANCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCES"
          }
        },
        "INTERNAL_MANAGED_LB": {
          "target": "smithy.api#Unit",
[...]
