{
  "smithy": "2.0",
  "metadata": {
    "service": "networkconnectivity",
    "version": "v1",
    "title": "Network Connectivity API",
    "baseUrl": "https://networkconnectivity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networkconnectivity_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.networkconnectivity_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkconnectivity_v1#ListServiceConnectionMapsResponse": {
      "type": "structure",
      "members": {
        "serviceConnectionMaps": {
          "target": "com.gcp.networkconnectivity_v1#ServiceConnectionMapList",
          "traits": {
            "smithy.api#documentation": "ServiceConnectionMaps to be returned."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListServiceConnectionMaps."
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConnectionMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#ServiceConnectionMap"
      }
    },
    "com.gcp.networkconnectivity_v1#PscConnection": {
      "type": "structure",
      "members": {
        "producerInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Deprecated. Use producer_instance_metadata instead. An immutable identifier for the producer instance."
          }
        },
        "serviceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] The service class associated with this PSC Connection. The value is derived from the SCPolicy and matches the service class name provided by the customer."
          }
        },
        "producerInstanceMetadata": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Immutable. An immutable map for the producer instance metadata."
          }
        },
        "errorInfo": {
          "target": "com.gcp.networkconnectivity_v1#GoogleRpcErrorInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The error info for the latest error during operating this connection."
          }
        },
        "consumerForwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource reference of the PSC Forwarding Rule within the consumer VPC."
          }
        },
        "ipVersion": {
          "target": "com.gcp.networkconnectivity_v1#PscConnectionIpVersionEnum",
          "traits": {
            "smithy.api#documentation": "The requested IP version for the PSC connection."
          }
        },
        "pscConnectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PSC connection id of the PSC forwarding rule."
          }
        },
        "consumerTargetProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project where the PSC connection is created."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#PscConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the PSC Connection"
          }
        },
        "gceOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last Compute Engine operation to setup PSC connection."
          }
        },
        "selectedSubnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the subnetwork selected to allocate IP address for this connection."
          }
        },
        "errorType": {
          "target": "com.gcp.networkconnectivity_v1#PscConnectionErrorTypeEnum",
          "traits": {
            "smithy.api#documentation": "The error type indicates whether the error is consumer facing, producer facing or system internal."
          }
        },
        "consumerAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource reference of the consumer address."
          }
        },
        "error": {
          "target": "com.gcp.networkconnectivity_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The most recent error during operating this connection. Deprecated, please use error_info instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a specific Private Service Connect connection."
      }
    },
    "com.gcp.networkconnectivity_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkconnectivity_v1#PscConnectionIpVersionEnum": {
      "type": "enum",
      "members": {
        "IP_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_VERSION_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#PscConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CREATE_REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_REPAIRING"
          }
        },
        "DELETE_REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REPAIRING"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#PscConnectionErrorTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_ERROR_TYPE_UNSPECIFIED"
          }
        },
        "ERROR_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_INTERNAL"
          }
        },
        "ERROR_CONSUMER_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CONSUMER_SIDE"
          }
        },
        "ERROR_PRODUCER_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_PRODUCER_SIDE"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#RouteTable": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#RouteTableStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of this route table."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the route table. Route table names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/routeTables/{route_table_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the route table was last updated."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Google-generated UUID for the route table. This value is unique across all route table resources. If a route table is deleted and another with the same name is created, the new route table is assigned a different `uid`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the route table was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the route table."
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#RouteTableStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACCEPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTING"
          }
        },
        "REJECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConnectionToken": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceConnectionToken was created."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The token generated by Automation."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time to which this token is valid."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of this resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceConnectionToken was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a ServiceConnectionToken. Format: projects/{project}/locations/{location}/ServiceConnectionTokens/{service_connection_token} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource path of the network associated with this token. Example: projects/{projectNumOrId}/global/networks/{resourceId}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ServiceConnectionToken resource."
      }
    },
    "com.gcp.networkconnectivity_v1#LinkedVpnTunnels": {
      "type": "structure",
      "members": {
        "excludeImportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Hub routes overlapped/encompassed by exclude import ranges are excluded during import from hub."
          }
        },
        "vpcNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The VPC network where these VPN tunnels are located."
          }
        },
        "uris": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The URIs of linked VPN tunnel resources."
          }
        },
        "includeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic routes fully encompassed by include export ranges are included during export to hub."
          }
        },
        "siteToSiteDataTransfer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations)."
          }
        },
        "includeImportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Hub routes fully encompassed by include import ranges are included during import from hub."
          }
        },
        "excludeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic routes overlapped/encompassed by exclude export ranges are excluded during export to hub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of Cloud VPN tunnel resources. These resources should be redundant HA VPN tunnels that all advertise the same prefixes to Google Cloud. Alternatively, in a passive/active configuration, all tunnels should be capable of advertising the same prefixes."
      }
    },
    "com.gcp.networkconnectivity_v1#InternalRange": {
      "type": "structure",
      "members": {
        "migration": {
          "target": "com.gcp.networkconnectivity_v1#Migration",
          "traits": {
            "smithy.api#documentation": "Optional. Must be present if usage is set to FOR_MIGRATION."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the internal range was created."
          }
        },
        "overlaps": {
          "target": "com.gcp.networkconnectivity_v1#InternalRangeOverlapsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Types of resources that are allowed to overlap with the current internal range."
          }
        },
        "targetCidrRange": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Can be set to narrow down or pick a different address space while searching for a free range. If not set, defaults to the [\"10.0.0.0/8\", \"172.16.0.0/12\", \"192.168.0.0/16\"] address space (for auto-mode networks, the \"10.0.0.0/9\" range is used instead of \"10.0.0.0/8\"). This can be used to target the search in other rfc-1918 address spaces like \"172.16.0.0/12\" and \"192.168.0.0/16\" or non-rfc-1918 address spaces used in the VPC."
          }
        },
        "prefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An alternate to ip_cidr_range. Can be set when trying to create an IPv4 reservation that automatically finds a free range of the given size. If both ip_cidr_range and prefix_length are set, there is an error if the range sizes do not match. Can also be used during updates to change the range size. NOTE: For IPv6 this field only works if ip_cidr_range is set as well, and both fields must match. In other words, with IPv6 this field only works as a redundant parameter."
          }
        },
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IP range that this internal range defines. NOTE: IPv6 ranges are limited to usage=EXTERNAL_TO_VPC and peering=FOR_SELF. NOTE: For IPv6 Ranges this field is compulsory, i.e. the address range must be specified explicitly."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The URL or resource ID of the network in which to reserve the internal range. The network cannot be deleted if there are any reserved internal ranges referring to it. Legacy networks are not supported. For example: https://www.googleapis.com/compute/v1/projects/{project}/locations/global/networks/{network} projects/{project}/locations/global/networks/{network} {network}"
          }
        },
        "peering": {
          "target": "com.gcp.networkconnectivity_v1#InternalRangePeeringEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of peering set for this internal range."
          }
        },
        "allocationOptions": {
          "target": "com.gcp.networkconnectivity_v1#AllocationOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Range auto-allocation options, may be set only when auto-allocation is selected by not setting ip_cidr_range (and setting prefix_length)."
          }
        },
        "immutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable ranges cannot have their fields modified, except for labels and description."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the internal range was updated."
          }
        },
        "excludeCidrRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. ExcludeCidrRanges flag. Specifies a set of CIDR blocks that allows exclusion of particular CIDR ranges from the auto-allocation process, without having to reserve these blocks"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of this resource."
          }
        },
        "usage": {
          "target": "com.gcp.networkconnectivity_v1#InternalRangeUsageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of usage set for this InternalRange."
          }
        },
        "users": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of resources that refer to this internal range. Resources that use the internal range for their range allocation are referred to as users of the range. Other resources mark themselves as users while doing so by creating a reference to this internal range. Having a user, based on this reference, prevents deletion of the internal range referred to. Can be empty."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of an internal range. Format: projects/{project}/locations/{location}/internalRanges/{internal_range} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The internal range resource for IPAM operations within a VPC network. Used to represent a private address range along with behavioral characteristics of that range (its usage and peering behavior). Networking resources can link to this range if they are created as belonging to it."
      }
    },
    "com.gcp.networkconnectivity_v1#InternalRangeOverlapsItemEnum": {
      "type": "enum",
      "members": {
        "OVERLAP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_UNSPECIFIED"
          }
        },
        "OVERLAP_ROUTE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_ROUTE_RANGE"
          }
        },
        "OVERLAP_EXISTING_SUBNET_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_EXISTING_SUBNET_RANGE"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#InternalRangeOverlapsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#InternalRangeOverlapsItemEnum"
      }
    },
    "com.gcp.networkconnectivity_v1#InternalRangePeeringEnum": {
      "type": "enum",
      "members": {
        "PEERING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEERING_UNSPECIFIED"
          }
        },
        "FOR_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_SELF"
          }
        },
        "FOR_PEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_PEER"
          }
        },
        "NOT_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SHARED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#InternalRangeUsageEnum": {
      "type": "enum",
      "members": {
        "USAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USAGE_UNSPECIFIED"
          }
        },
        "FOR_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_VPC"
          }
        },
        "EXTERNAL_TO_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_TO_VPC"
          }
        },
        "FOR_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_MIGRATION"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.networkconnectivity_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceClass": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "serviceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generated service class name. Use this name to refer to the Service class in Service Connection Maps and Service Connection Policies."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a ServiceClass resource. Format: projects/{project}/locations/{location}/serviceClasses/{service_class} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceClass was updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceClass was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ServiceClass resource."
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConnectionMap": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceConnectionMap was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of this resource."
          }
        },
        "serviceClassUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service class uri this ServiceConnectionMap is for."
          }
        },
        "consumerPscConnections": {
          "target": "com.gcp.networkconnectivity_v1#ConsumerPscConnectionList",
          "traits": {
            "smithy.api#documentation": "Output only. PSC connection details on consumer side."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a ServiceConnectionMap. Format: projects/{project}/locations/{location}/serviceConnectionMaps/{service_connection_map} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "producerPscConfigs": {
          "target": "com.gcp.networkconnectivity_v1#ProducerPscConfigList",
          "traits": {
            "smithy.api#documentation": "The PSC configurations on producer side."
          }
        },
        "infrastructure": {
          "target": "com.gcp.networkconnectivity_v1#ServiceConnectionMapInfrastructureEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The infrastructure used for connections between consumers/producers."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token provided by the consumer. This token authenticates that the consumer can create a connection within the specified project and network."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "serviceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service class identifier this ServiceConnectionMap is for. The user of ServiceConnectionMap create API needs to have networkconnectivity.serviceClasses.use IAM permission for the service class."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the ServiceConnectionMap was created."
          }
        },
        "consumerPscConfigs": {
          "target": "com.gcp.networkconnectivity_v1#ConsumerPscConfigList",
          "traits": {
            "smithy.api#documentation": "The PSC configurations on consumer side."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ServiceConnectionMap resource."
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#ConsumerPscConnection"
      }
    },
    "com.gcp.networkconnectivity_v1#ProducerPscConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#ProducerPscConfig"
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConnectionMapInfrastructureEnum": {
      "type": "enum",
      "members": {
        "INFRASTRUCTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRASTRUCTURE_UNSPECIFIED"
          }
        },
        "PSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#ConsumerPscConfig"
      }
    },
    "com.gcp.networkconnectivity_v1#StateMetadata": {
      "type": "structure",
      "members": {
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Accompanies only the transient states, which include `ADDING`, `DELETING`, and `SUSPENDING`, to denote the time until which the transient state of the resource will be effective. For instance, if the state is `ADDING`, this field shows the time when the resource state transitions to `ACTIVE`."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#StateMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state and activation time details of the resource state."
      }
    },
    "com.gcp.networkconnectivity_v1#StateMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ADDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ListAutomatedDnsRecordsResponse": {
      "type": "structure",
      "members": {
        "automatedDnsRecords": {
          "target": "com.gcp.networkconnectivity_v1#AutomatedDnsRecordList",
          "traits": {
            "smithy.api#documentation": "AutomatedDnsRecords to be returned."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListAutomatedDnsRecords."
      }
    },
    "com.gcp.networkconnectivity_v1#AutomatedDnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#AutomatedDnsRecord"
      }
    },
    "com.gcp.networkconnectivity_v1#ListHubsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "hubs": {
          "target": "com.gcp.networkconnectivity_v1#HubList",
          "traits": {
            "smithy.api#documentation": "The requested hubs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for HubService.ListHubs method."
      }
    },
    "com.gcp.networkconnectivity_v1#HubList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#Hub"
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConfig": {
      "type": "structure",
      "members": {
        "eligibilityCriteria": {
          "target": "com.gcp.networkconnectivity_v1#ServiceConfigEligibilityCriteriaEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The eligibility criteria for the service."
          }
        },
        "supportEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time for eligibility criteria support. If not specified, no planned end time is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies eligibility information for the service."
      }
    },
    "com.gcp.networkconnectivity_v1#ServiceConfigEligibilityCriteriaEnum": {
      "type": "enum",
      "members": {
        "ELIGIBILITY_CRITERIA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBILITY_CRITERIA_UNSPECIFIED"
          }
        },
        "NETWORK_SERVICE_TIER_PREMIUM_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_TIER_PREMIUM_ONLY"
          }
        },
        "NETWORK_SERVICE_TIER_STANDARD_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_TIER_STANDARD_ONLY"
          }
        },
        "REQUEST_ENDPOINT_REGIONAL_ENDPOINT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_ENDPOINT_REGIONAL_ENDPOINT_ONLY"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#PolicyBasedRoute": {
      "type": "structure",
      "members": {
        "interconnectAttachment": {
          "target": "com.gcp.networkconnectivity_v1#InterconnectAttachment",
          "traits": {
            "smithy.api#documentation": "Optional. The interconnect attachments that this policy-based route applies to."
          }
        },
        "virtualMachine": {
          "target": "com.gcp.networkconnectivity_v1#VirtualMachine",
          "traits": {
            "smithy.api#documentation": "Optional. VM instances that this policy-based route applies to."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fully-qualified URL of the network that this route applies to, for example: projects/my-project/global/networks/my-network."
          }
        },
        "filter": {
          "target": "com.gcp.networkconnectivity_v1#Filter",
          "traits": {
            "smithy.api#documentation": "Required. The filter to match L4 traffic."
          }
        },
        "warnings": {
          "target": "com.gcp.networkconnectivity_v1#WarningsList",
          "traits": {
            "smithy.api#documentation": "Output only. If potential misconfigurations are detected for this route, this field will be populated with warning messages."
          }
        },
        "nextHopOtherRoutes": {
          "target": "com.gcp.networkconnectivity_v1#PolicyBasedRouteNextHopOtherRoutesEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Other routes that will be referenced to determine the next hop of the packet."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the policy-based route was created."
          }
        },
        "nextHopIlbIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IP address of a global-access-enabled L4 ILB that is the next hop for matching packets. For this version, only nextHopIlbIp is supported."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of this resource. Provide this field when you create the resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the policy-based route was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. A unique name of the resource in the form of `projects/{project_number}/locations/global/PolicyBasedRoutes/{policy_based_route_id}`"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined fully-qualified URL for this resource."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The priority of this policy-based route. Priority is used to break ties in cases where there are more than one matching policy-based routes found. In cases where multiple policy-based routes are matched, the one with the lowest-numbered priority value wins. The default value is 1000. The priority value must be from 1 to 65535, inclusive."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of this resource. Always networkconnectivity#policyBasedRoute for policy-based Route resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy-based routes route L4 network traffic based on not just destination IP address, but also source IP address, protocol, and more. If a policy-based route conflicts with other types of routes, the policy-based route always takes precedence."
      }
    },
    "com.gcp.networkconnectivity_v1#WarningsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#Warnings"
      }
    },
    "com.gcp.networkconnectivity_v1#PolicyBasedRouteNextHopOtherRoutesEnum": {
      "type": "enum",
      "members": {
        "OTHER_ROUTES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_ROUTES_UNSPECIFIED"
          }
        },
        "DEFAULT_ROUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ROUTING"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ListGatewayAdvertisedRoutesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
          }
        },
        "gatewayAdvertisedRoutes": {
          "target": "com.gcp.networkconnectivity_v1#GatewayAdvertisedRouteList",
          "traits": {
            "smithy.api#documentation": "The requested gateway advertised routes."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Hubs that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for HubService.ListGatewayAdvertisedRoutes method."
      }
    },
    "com.gcp.networkconnectivity_v1#GatewayAdvertisedRouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#GatewayAdvertisedRoute"
      }
    },
    "com.gcp.networkconnectivity_v1#ListRouteTablesResponse": {
      "type": "structure",
      "members": {
        "routeTables": {
          "target": "com.gcp.networkconnectivity_v1#RouteTableList",
          "traits": {
            "smithy.api#documentation": "The requested route tables."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Hubs that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for HubService.ListRouteTables method."
      }
    },
    "com.gcp.networkconnectivity_v1#RouteTableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#RouteTable"
      }
    },
    "com.gcp.networkconnectivity_v1#Migration": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource path as an URI of the source resource, for example a subnet. The project for the source resource should match the project for the InternalRange. An example: /projects/{project}/regions/{region}/subnetworks/{subnet}"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource path of the target resource. The target project can be different, as in the cases when migrating to peer networks. For example: /projects/{project}/regions/{region}/subnetworks/{subnet}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for migration with source and target resource names."
      }
    },
    "com.gcp.networkconnectivity_v1#ListTransportsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "transports": {
          "target": "com.gcp.networkconnectivity_v1#TransportList",
          "traits": {
            "smithy.api#documentation": "The list of Transport."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Transports."
      }
    },
    "com.gcp.networkconnectivity_v1#TransportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#Transport"
      }
    },
    "com.gcp.networkconnectivity_v1#IpRangeReservation": {
      "type": "structure",
      "members": {
        "ipRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A block of IP addresses used to allocate supporting infrastructure for this gateway. This block must not overlap with subnets in any spokes or peer VPC networks that the gateway can communicate with. Example: \"10.1.2.0/24\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of IP ranges that are reserved for this gateway's internal intfrastructure."
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConnection": {
      "type": "structure",
      "members": {
        "ipVersion": {
          "target": "com.gcp.networkconnectivity_v1#ConsumerPscConnectionIpVersionEnum",
          "traits": {
            "smithy.api#documentation": "The requested IP version for the PSC connection."
          }
        },
        "errorInfo": {
          "target": "com.gcp.networkconnectivity_v1#GoogleRpcErrorInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The error info for the latest error during operating this connection."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer project whose PSC forwarding rule is connected to the service attachments in this service connection map."
          }
        },
        "pscConnectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PSC connection id of the PSC forwarding rule connected to the service attachments in this service connection map."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the consumer forwarding rule created. Example: projects/{projectNumOrId}/regions/us-east1/networks/{resourceId}."
          }
        },
        "dnsAutomationStatus": {
          "target": "com.gcp.networkconnectivity_v1#DnsAutomationStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The status of DNS automation for this PSC connection."
          }
        },
        "producerInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Deprecated. Use producer_instance_metadata instead. An immutable identifier for the producer instance."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer network whose PSC forwarding rule is connected to the service attachments in this service connection map. Note that the network could be on a different project (shared VPC)."
          }
        },
        "producerInstanceMetadata": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Immutable. An immutable map for the producer instance metadata."
          }
        },
        "errorType": {
          "target": "com.gcp.networkconnectivity_v1#ConsumerPscConnectionErrorTypeEnum",
          "traits": {
            "smithy.api#documentation": "The error type indicates whether the error is consumer facing, producer facing or system internal."
          }
        },
        "error": {
          "target": "com.gcp.networkconnectivity_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The most recent error during operating this connection."
          }
        },
        "gceOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last Compute Engine operation to setup PSC connection."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#ConsumerPscConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the PSC connection."
          }
        },
        "serviceAttachmentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of a service attachment which is the target of the PSC connection."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP literal allocated on the consumer network for the PSC forwarding rule that is created to connect to the producer service attachment in this service connection map."
          }
        },
        "selectedSubnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the selected subnetwork selected to allocate IP address for this connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PSC connection details on consumer side."
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConnectionIpVersionEnum": {
      "type": "enum",
      "members": {
        "IP_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_VERSION_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConnectionErrorTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_ERROR_TYPE_UNSPECIFIED"
          }
        },
        "ERROR_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_INTERNAL"
          }
        },
        "ERROR_CONSUMER_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CONSUMER_SIDE"
          }
        },
        "ERROR_PRODUCER_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_PRODUCER_SIDE"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#ConsumerPscConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CREATE_REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_REPAIRING"
          }
        },
        "DELETE_REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REPAIRING"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#AutomatedDnsRecord": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the record was created."
          }
        },
        "recordType": {
          "target": "com.gcp.networkconnectivity_v1#AutomatedDnsRecordRecordTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The identifier of a supported record type."
          }
        },
        "currentConfig": {
          "target": "com.gcp.networkconnectivity_v1#Config",
          "traits": {
            "smithy.api#documentation": "Output only. The current settings for this record as identified by (`hostname`, `dns_suffix`, `type`) in Cloud DNS. The `current_config` field reflects the actual settings of the DNS record in Cloud DNS based on the `hostname`, `dns_suffix`, and `type`. * **Absence:** If `current_config` is unset, it means a DNS record with the specified `hostname`, `dns_suffix`, and `type` does not currently exist in Cloud DNS. This could be because the `AutomatedDnsRecord` has never been successfully programmed, has been deleted, or there was an error during provisioning. * **Presence:** If `current_config` is present: * It can be different from the `original_config`. This can happen due to several reasons: * Out-of-band changes: A consumer might have directly modified the DNS record in Cloud DNS. * `OVERWRITE` operations from other `AutomatedDnsRecord` resources: Another `AutomatedDnsRecord` with the same identifying attributes (`hostname`, `dns_suffix`, `type`) but a different configuration might have overwritten the record using `insert_mode: OVERWRITE`. Therefore, the presence of `current_config` indicates that a corresponding DNS record exists, but its values (TTL and RRData) might not always align with the `original_config` of the AutomatedDnsRecord."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "serviceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The service class identifier which authorizes this AutomatedDnsRecord. Any API calls targeting this AutomatedDnsRecord must have `networkconnectivity.serviceClasses.use` IAM permission for the provided service class."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable message providing more context about the current state, such as an error description if the state is `FAILED_DEPROGRAMMING`."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The FQDN created by combining the hostname and dns suffix. Should include a trailing dot."
          }
        },
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The dns suffix for this record to use in longest-suffix matching. Requires a trailing dot. Example: \"example.com.\""
          }
        },
        "creationMode": {
          "target": "com.gcp.networkconnectivity_v1#AutomatedDnsRecordCreationModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The creation mode of the AutomatedDnsRecord. This field is immutable."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of when the record was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the record."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The name of an AutomatedDnsRecord. Format: projects/{project}/locations/{location}/automatedDnsRecords/{automated_dns_record} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        },
        "originalConfig": {
          "target": "com.gcp.networkconnectivity_v1#Config",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The configuration settings used to create this DNS record. These settings define the desired state of the record as specified by the producer."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The hostname for the DNS record. This value will be prepended to the `dns_suffix` to create the full domain name (FQDN) for the record. For example, if `hostname` is \"corp.db\" and `dns_suffix` is \"example.com.\", the resulting record will be \"corp.db.example.com.\". Should not include a trailing dot."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#AutomatedDnsRecordStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current operational state of this AutomatedDnsRecord as managed by Service Connectivity Automation."
          }
        },
        "dnsZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. DnsZone is the DNS zone managed by automation. Format: projects/{project}/managedZones/{managedZone}"
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The full resource path of the consumer network this AutomatedDnsRecord is visible to. Example: \"projects/{projectNumOrId}/global/networks/{networkName}\"."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a DNS record managed by the AutomatedDnsRecord API."
      }
    },
    "com.gcp.networkconnectivity_v1#AutomatedDnsRecordRecordTypeEnum": {
      "type": "enum",
      "members": {
        "RECORD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECORD_TYPE_UNSPECIFIED"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#AutomatedDnsRecordCreationModeEnum": {
      "type": "enum",
      "members": {
        "CREATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATION_MODE_UNSPECIFIED"
          }
        },
        "CONSUMER_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_API"
          }
        },
        "SERVICE_CONNECTION_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_CONNECTION_MAP"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#AutomatedDnsRecordStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROGRAMMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAMMED"
          }
        },
        "FAILED_DEPROGRAMMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_DEPROGRAMMING"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#Group": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the group was created."
          }
        },
        "autoAccept": {
          "target": "com.gcp.networkconnectivity_v1#AutoAccept",
          "traits": {
            "smithy.api#documentation": "Optional. The auto-accept setting for this group."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the group."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the group was last updated."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Google-generated UUID for the group. This value is unique across all group resources. If a group is deleted and another with the same name is created, the new route table is assigned a different unique_id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the group. Group names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/groups/{group_id}`"
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#GroupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of this group."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
          }
        },
        "routeTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the route table that corresponds to this group. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}/routeTables/{route_table_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group represents a subset of spokes attached to a hub."
      }
    },
    "com.gcp.networkconnectivity_v1#GroupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACCEPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTING"
          }
        },
        "REJECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#GoogleRpcErrorInfo": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
          }
        },
        "metadata": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
      }
    },
    "com.gcp.networkconnectivity_v1#StateReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.networkconnectivity_v1#StateReasonCodeEnum",
          "traits": {
            "smithy.api#documentation": "The code associated with this reason."
          }
        },
        "userDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information provided by the user in the RejectSpoke call."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable details about this reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for the current state of the spoke."
      }
    },
    "com.gcp.networkconnectivity_v1#StateReasonCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REVIEW"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UPDATE_PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_PENDING_REVIEW"
          }
        },
        "UPDATE_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_REJECTED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#Spoke": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the spoke was created."
          }
        },
        "fieldPathsPendingUpdate": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields waiting for hub administrator's approval."
          }
        },
        "spokeType": {
          "target": "com.gcp.networkconnectivity_v1#SpokeSpokeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of resource associated with the spoke."
          }
        },
        "linkedVpnTunnels": {
          "target": "com.gcp.networkconnectivity_v1#LinkedVpnTunnels",
          "traits": {
            "smithy.api#documentation": "Optional. VPN tunnels that are associated with the spoke."
          }
        },
        "gateway": {
          "target": "com.gcp.networkconnectivity_v1#Gateway",
          "traits": {
            "smithy.api#documentation": "Optional. This is a gateway that can apply specialized processing to traffic going through it."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "linkedVpcNetwork": {
          "target": "com.gcp.networkconnectivity_v1#LinkedVpcNetwork",
          "traits": {
            "smithy.api#documentation": "Optional. VPC network that is associated with the spoke."
          }
        },
        "linkedRouterApplianceInstances": {
          "target": "com.gcp.networkconnectivity_v1#LinkedRouterApplianceInstances",
          "traits": {
            "smithy.api#documentation": "Optional. Router appliance instances that are associated with the spoke."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Google-generated UUID for the spoke. This value is unique across all spoke resources. If a spoke is deleted and another with the same name is created, the new spoke is assigned a different `unique_id`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of the spoke."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the spoke was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the spoke. Spoke names must be unique. They use the following form: `projects/{project_number}/locations/{region}/spokes/{spoke_id}`"
          }
        },
        "reasons": {
          "target": "com.gcp.networkconnectivity_v1#StateReasonList",
          "traits": {
            "smithy.api#documentation": "Output only. The reasons for current state of the spoke."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the group that this spoke is associated with."
          }
        },
        "hub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the hub that this spoke is attached to."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#SpokeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of this spoke."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
          }
        },
        "linkedInterconnectAttachments": {
          "target": "com.gcp.networkconnectivity_v1#LinkedInterconnectAttachments",
          "traits": {
            "smithy.api#documentation": "Optional. VLAN attachments that are associated with the spoke."
          }
        },
        "linkedProducerVpcNetwork": {
          "target": "com.gcp.networkconnectivity_v1#LinkedProducerVpcNetwork",
          "traits": {
            "smithy.api#documentation": "Optional. The linked producer VPC that is associated with the spoke."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Network Connectivity Center spoke represents one or more network connectivity resources. When you create a spoke, you associate it with a hub. You must also identify a value for exactly one of the following fields: * linked_vpn_tunnels * linked_interconnect_attachments * linked_router_appliance_instances * linked_vpc_network"
      }
    },
    "com.gcp.networkconnectivity_v1#SpokeSpokeTypeEnum": {
      "type": "enum",
      "members": {
        "SPOKE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOKE_TYPE_UNSPECIFIED"
          }
        },
        "VPN_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPN_TUNNEL"
          }
        },
        "INTERCONNECT_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERCONNECT_ATTACHMENT"
          }
        },
        "ROUTER_APPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTER_APPLIANCE"
          }
        },
        "VPC_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_NETWORK"
          }
        },
        "GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATEWAY"
          }
        },
        "PRODUCER_VPC_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER_VPC_NETWORK"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#StateReasonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1#StateReason"
      }
    },
    "com.gcp.networkconnectivity_v1#SpokeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACCEPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTING"
          }
        },
        "REJECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#RouterApplianceInstance": {
      "type": "structure",
      "members": {
        "virtualMachine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the VM."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address on the VM to use for peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A router appliance instance is a Compute Engine virtual machine (VM) instance that acts as a BGP speaker. A router appliance instance is specified by the URI of the VM and the internal IP address of one of the VM's network interfaces."
      }
    },
    "com.gcp.networkconnectivity_v1#SpokeStateCount": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of spokes that are in this state and associated with a given hub."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1#SpokeStateCountStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the spokes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of spokes that are in a particular state and associated with a given hub."
      }
    },
    "com.gcp.networkconnectivity_v1#SpokeStateCountStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACCEPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTING"
          }
        },
        "REJECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#HubStatusEntry": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of propagated Private Service Connect connections with this status. If the `group_by` field was not set in the request message, the value of this field is 1."
          }
        },
        "pscPropagationStatus": {
          "target": "com.gcp.networkconnectivity_v1#PscPropagationStatus",
          "traits": {
            "smithy.api#documentation": "The Private Service Connect propagation status."
          }
        },
        "groupBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that this entry is grouped by. This has the same value as the `group_by` field in the request message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hub status entry represents the status of a set of propagated Private Service Connect connections grouped by certain fields."
      }
    },
    "com.gcp.networkconnectivity_v1#PscConfig": {
      "type": "structure",
      "members": {
        "allowedGoogleProducersResourceHierarchyLevel": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of Projects, Folders, or Organizations from where the Producer instance can be within. For example, a network administrator can provide both 'organizations/foo' and 'projects/bar' as allowed_google_producers_resource_hierarchy_levels. This allowlists this network to connect with any Producer instance within the 'foo' organization or the 'bar' project. By default, allowed_google_producers_resource_hierarchy_level is empty. The format for each allowed_google_producers_resource_hierarchy_level is / where is one of 'projects', 'folders', or 'organizations' and is either the ID or the number of the resource type. Format for each allowed_google_producers_resource_hierarchy_level value: 'projects/' or 'folders/' or 'organizations/' Eg. [projects/my-project-id, projects/567, folders/891, organizations/123]"
          }
        },
        "subnetworks": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The resource paths of subnetworks to use for IP address management. Example: projects/{projectNumOrId}/regions/{region}/subnetworks/{resourceId}."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Max number of PSC connections for this policy."
          }
        },
        "producerInstanceLocation": {
          "target": "com.gcp.networkconnectivity_v1#PscConfigProducerInstanceLocationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. ProducerInstanceLocation is used to specify which authorization mechanism to use to determine which projects the Producer instance can be within."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration used for Private Service Connect connections. Used when Infrastructure is PSC."
      }
    },
    "com.gcp.networkconnectivity_v1#PscConfigProducerInstanceLocationEnum": {
      "type": "enum",
      "members": {
        "PRODUCER_INSTANCE_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER_INSTANCE_LOCATION_UNSPECIFIED"
          }
        },
        "CUSTOM_RESOURCE_HIERARCHY_LEVELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_RESOURCE_HIERARCHY_LEVELS"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#LinkedProducerVpcNetwork": {
      "type": "structure",
      "members": {
        "proposedExcludeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The proposed exclude export IP ranges waiting for hub administrator's approval."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The URI of the Service Consumer VPC that the Producer VPC is peered with."
          }
        },
        "serviceConsumerVpcSpoke": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Service Consumer Network spoke."
          }
        },
        "peering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the VPC peering between the Service Consumer VPC and the Producer VPC (defined in the Tenant project) which is added to the NCC hub. This peering must be in ACTIVE state."
          }
        },
        "excludeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. IP ranges encompassing the subnets to be excluded from peering."
          }
        },
        "proposedIncludeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The proposed include export IP ranges waiting for hub administrator's approval."
          }
        },
        "producerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the Producer VPC."
          }
        },
        "includeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. IP ranges allowed to be included from peering."
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.networkconnectivity_v1#LinkedRouterApplianceInstances": {
      "type": "structure",
      "members": {
        "includeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic routes fully encompassed by include export ranges are included during export to hub."
          }
        },
        "vpcNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The VPC network where these router appliance instances are located."
          }
        },
        "excludeImportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Hub routes overlapped/encompassed by exclude import ranges are excluded during import from hub."
          }
        },
        "instances": {
          "target": "com.gcp.networkconnectivity_v1#RouterApplianceInstanceList",
          "traits": {
            "smithy.api#documentation": "The list of router appliance instances."
          }
        },
        "excludeExportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic routes overlapped/encompassed by exclude export ranges are excluded during export to hub."
          }
        },
        "includeImportRanges": {
          "target": "com.gcp.networkconnectivity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Hub routes fully encompassed by include import ranges are included during import from hub."
          }
        },
        "siteToSiteDataTransfer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations)."
          }
        }
      },
      "traits": {
[...]
