{
  "smithy": "2.0",
  "metadata": {
    "service": "ondemandscanning",
    "version": "v1",
    "title": "On-Demand Scanning API",
    "baseUrl": "https://ondemandscanning.googleapis.com/"
  },
  "shapes": {
    "com.gcp.ondemandscanning_v1#SecretStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.ondemandscanning_v1#SecretStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The status of the secret."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional message about the status code."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time the secret status was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the secret with a timestamp."
      }
    },
    "com.gcp.ondemandscanning_v1#SecretStatusStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#EnvelopeSignature": {
      "type": "structure",
      "members": {
        "sig": {
          "target": "smithy.api#String"
        },
        "keyid": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#GitSourceContext": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository URL."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit hash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
      }
    },
    "com.gcp.ondemandscanning_v1#BaseImage": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository name in which the base image is from."
          }
        },
        "layerCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of layers that the base image is composed of."
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registry in which the base image is from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the base image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BaseImage describes a base image of a container image."
      }
    },
    "com.gcp.ondemandscanning_v1#FileLocation": {
      "type": "structure",
      "members": {
        "layerDetails": {
          "target": "com.gcp.ondemandscanning_v1#LayerDetails"
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
          }
        },
        "lineNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line number in the file where the package is found. Applies only to source repository scanning. Note: this field is marked as `optional` in other corresponding protos, but in edition 2023, the \"optional\" keyword is redundant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the location at which a package was found."
      }
    },
    "com.gcp.ondemandscanning_v1#SlsaBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Risk": {
      "type": "structure",
      "members": {
        "epss": {
          "target": "com.gcp.ondemandscanning_v1#ExploitPredictionScoringSystem",
          "traits": {
            "smithy.api#documentation": "The Exploit Prediction Scoring System (EPSS) estimates the likelihood (probability) that a software vulnerability will be exploited in the wild."
          }
        },
        "cisaKev": {
          "target": "com.gcp.ondemandscanning_v1#CISAKnownExploitedVulnerabilities",
          "traits": {
            "smithy.api#documentation": "CISA maintains the authoritative source of vulnerabilities that have been exploited in the wild."
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#InTotoSlsaProvenanceV1": {
      "type": "structure",
      "members": {
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
          }
        },
        "predicateType": {
          "target": "smithy.api#String"
        },
        "subject": {
          "target": "com.gcp.ondemandscanning_v1#SubjectList"
        },
        "predicate": {
          "target": "com.gcp.ondemandscanning_v1#SlsaProvenanceV1"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#SubjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#Subject"
      }
    },
    "com.gcp.ondemandscanning_v1#CISAKnownExploitedVulnerabilities": {
      "type": "structure",
      "members": {
        "knownRansomwareCampaignUse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Occurrence": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.ondemandscanning_v1#ImageOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes how this resource derives from the basis in the associated note."
          }
        },
        "attestation": {
          "target": "com.gcp.ondemandscanning_v1#AttestationOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes an attestation of an artifact."
          }
        },
        "sbomReference": {
          "target": "com.gcp.ondemandscanning_v1#SBOMReferenceOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes a specific SBOM reference occurrences."
          }
        },
        "upgrade": {
          "target": "com.gcp.ondemandscanning_v1#UpgradeOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes an available package upgrade on the linked resource."
          }
        },
        "compliance": {
          "target": "com.gcp.ondemandscanning_v1#ComplianceOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes a compliance violation on a linked resource."
          }
        },
        "kind": {
          "target": "com.gcp.ondemandscanning_v1#OccurrenceKindEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests."
          }
        },
        "remediation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of actions that can be taken to remedy the note."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image."
          }
        },
        "package": {
          "target": "com.gcp.ondemandscanning_v1#PackageOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes the installation of a package on the linked resource."
          }
        },
        "advisoryPublishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this advisory was published by the source."
          }
        },
        "vulnerability": {
          "target": "com.gcp.ondemandscanning_v1#VulnerabilityOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes a security vulnerability."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this occurrence was last updated."
          }
        },
        "discovery": {
          "target": "com.gcp.ondemandscanning_v1#DiscoveryOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes when a resource was discovered."
          }
        },
        "secret": {
          "target": "com.gcp.ondemandscanning_v1#SecretOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes a secret."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
          }
        },
        "envelope": {
          "target": "com.gcp.ondemandscanning_v1#Envelope",
          "traits": {
            "smithy.api#documentation": "https://github.com/secure-systems-lab/dsse"
          }
        },
        "aiSkillAnalysis": {
          "target": "com.gcp.ondemandscanning_v1#AISkillAnalysisOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes an AI skill analysis."
          }
        },
        "noteName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this occurrence was created."
          }
        },
        "deployment": {
          "target": "com.gcp.ondemandscanning_v1#DeploymentOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes the deployment of an artifact on a runtime."
          }
        },
        "dsseAttestation": {
          "target": "com.gcp.ondemandscanning_v1#DSSEAttestationOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes an attestation of an artifact using dsse."
          }
        },
        "build": {
          "target": "com.gcp.ondemandscanning_v1#BuildOccurrence",
          "traits": {
            "smithy.api#documentation": "Describes a verifiable build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An instance of an analysis type that has been found on a resource."
      }
    },
    "com.gcp.ondemandscanning_v1#OccurrenceKindEnum": {
      "type": "enum",
      "members": {
        "NOTE_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTE_KIND_UNSPECIFIED"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        },
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE"
          }
        },
        "DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "ATTESTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTESTATION"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        },
        "COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE"
          }
        },
        "DSSE_ATTESTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSSE_ATTESTATION"
          }
        },
        "VULNERABILITY_ASSESSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_ASSESSMENT"
          }
        },
        "SBOM_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM_REFERENCE"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        },
        "AI_SKILL_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI_SKILL_ANALYSIS"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#UpgradeDistribution": {
      "type": "structure",
      "members": {
        "cve": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The cve tied to this Upgrade."
          }
        },
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity as specified by the upstream operating system."
          }
        },
        "classification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities."
      }
    },
    "com.gcp.ondemandscanning_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ondemandscanning_v1#PackageVersion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "licenses": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses."
          }
        },
        "version": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1LayerDetails": {
      "type": "structure",
      "members": {
        "chainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid"
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the layer in the container image."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
          }
        },
        "baseImages": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1BaseImageList",
          "traits": {
            "smithy.api#documentation": "The base images the layer is found within."
          }
        },
        "diffId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The diff ID (typically a sha256 hash) of the layer in the container image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the layer a package was found in."
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1BaseImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#GrafeasV1BaseImage"
      }
    },
    "com.gcp.ondemandscanning_v1#Fingerprint": {
      "type": "structure",
      "members": {
        "v2Blob": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The ordered list of v2 blobs that represent a given image."
          }
        },
        "v1Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The layer ID of the final layer in the Docker image's v1 representation."
          }
        },
        "v2Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of properties that uniquely identify a given Docker image."
      }
    },
    "com.gcp.ondemandscanning_v1#AnalysisCompleted": {
      "type": "structure",
      "members": {
        "analysisType": {
          "target": "com.gcp.ondemandscanning_v1#StringList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap"
        },
        "configSource": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        },
        "environment": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the event that kicked off the build."
      }
    },
    "com.gcp.ondemandscanning_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ondemandscanning_v1#BuildOccurrence": {
      "type": "structure",
      "members": {
        "intotoProvenance": {
          "target": "com.gcp.ondemandscanning_v1#InTotoProvenance",
          "traits": {
            "smithy.api#documentation": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec."
          }
        },
        "inTotoSlsaProvenanceV1": {
          "target": "com.gcp.ondemandscanning_v1#InTotoSlsaProvenanceV1",
          "traits": {
            "smithy.api#documentation": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance."
          }
        },
        "provenanceBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
          }
        },
        "intotoStatement": {
          "target": "com.gcp.ondemandscanning_v1#InTotoStatement",
          "traits": {
            "smithy.api#documentation": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope."
          }
        },
        "provenance": {
          "target": "com.gcp.ondemandscanning_v1#BuildProvenance",
          "traits": {
            "smithy.api#documentation": "The actual provenance for the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a build occurrence."
      }
    },
    "com.gcp.ondemandscanning_v1#PackageIssue": {
      "type": "structure",
      "members": {
        "fixedVersion": {
          "target": "com.gcp.ondemandscanning_v1#Version",
          "traits": {
            "smithy.api#documentation": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available."
          }
        },
        "effectiveSeverity": {
          "target": "com.gcp.ondemandscanning_v1#PackageIssueEffectiveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available."
          }
        },
        "fixAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether a fix is available for this package."
          }
        },
        "fixedPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package."
          }
        },
        "affectedVersion": {
          "target": "com.gcp.ondemandscanning_v1#Version",
          "traits": {
            "smithy.api#documentation": "Required. The version of the package that is installed on the resource affected by this vulnerability."
          }
        },
        "affectedPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The package this vulnerability was found in."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package (e.g. OS, MAVEN, GO)."
          }
        },
        "fixedCpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
          }
        },
        "fileLocation": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1FileLocationList",
          "traits": {
            "smithy.api#documentation": "The location at which this package was found."
          }
        },
        "affectedCpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available)."
      }
    },
    "com.gcp.ondemandscanning_v1#PackageIssueEffectiveSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1FileLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#GrafeasV1FileLocation"
      }
    },
    "com.gcp.ondemandscanning_v1#Command": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
          }
        },
        "waitFor": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The ID(s) of the command(s) that this command depends on."
          }
        },
        "env": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Environment variables set before running this command."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory (relative to project source root) used when running this command."
          }
        },
        "args": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Command-line arguments used when executing this command."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command describes a step performed as part of the build pipeline."
      }
    },
    "com.gcp.ondemandscanning_v1#Subject": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "com.gcp.ondemandscanning_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet"
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ondemandscanning_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.ondemandscanning_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.ondemandscanning_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#Operation"
      }
    },
    "com.gcp.ondemandscanning_v1#SlsaCompleteness": {
      "type": "structure",
      "members": {
        "materials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
          }
        },
        "arguments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
          }
        },
        "environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.environment is claimed to be complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.ondemandscanning_v1#CloudRepoSourceContext": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A revision ID."
          }
        },
        "repoId": {
          "target": "com.gcp.ondemandscanning_v1#RepoId",
          "traits": {
            "smithy.api#documentation": "The ID of the repo."
          }
        },
        "aliasContext": {
          "target": "com.gcp.ondemandscanning_v1#AliasContext",
          "traits": {
            "smithy.api#documentation": "An alias, which may be a branch or tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
      }
    },
    "com.gcp.ondemandscanning_v1#Justification": {
      "type": "structure",
      "members": {
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional details on why this justification was chosen."
          }
        },
        "justificationType": {
          "target": "com.gcp.ondemandscanning_v1#JustificationJustificationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The justification type for this vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
      }
    },
    "com.gcp.ondemandscanning_v1#JustificationJustificationTypeEnum": {
      "type": "enum",
      "members": {
        "JUSTIFICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_TYPE_UNSPECIFIED"
          }
        },
        "COMPONENT_NOT_PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPONENT_NOT_PRESENT"
          }
        },
        "VULNERABLE_CODE_NOT_PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABLE_CODE_NOT_PRESENT"
          }
        },
        "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH"
          }
        },
        "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY"
          }
        },
        "INLINE_MITIGATIONS_ALREADY_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INLINE_MITIGATIONS_ALREADY_EXIST"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Identity": {
      "type": "structure",
      "members": {
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision independent identifier of the update."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The revision number of the update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unique identifier of the update."
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "smithy.api#Boolean"
        },
        "environment": {
          "target": "smithy.api#Boolean"
        },
        "materials": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.ondemandscanning_v1#VulnerabilityOccurrence": {
      "type": "structure",
      "members": {
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A one sentence description of this vulnerability."
          }
        },
        "cvssv3": {
          "target": "com.gcp.ondemandscanning_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v3 score for the vulnerability."
          }
        },
        "severity": {
          "target": "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The note provider assigned severity of this vulnerability."
          }
        },
        "risk": {
          "target": "com.gcp.ondemandscanning_v1#Risk",
          "traits": {
            "smithy.api#documentation": "Risk information about the vulnerability, such as CISA, EPSS, etc."
          }
        },
        "cvssV4": {
          "target": "com.gcp.ondemandscanning_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v4 score for the vulnerability."
          }
        },
        "cvssV2": {
          "target": "com.gcp.ondemandscanning_v1#CVSS",
          "traits": {
            "smithy.api#documentation": "The cvss v2 score for the vulnerability."
          }
        },
        "relatedUrls": {
          "target": "com.gcp.ondemandscanning_v1#RelatedUrlList",
          "traits": {
            "smithy.api#documentation": "Output only. URLs related to this vulnerability."
          }
        },
        "effectiveSeverity": {
          "target": "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceEffectiveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues."
          }
        },
        "packageIssue": {
          "target": "com.gcp.ondemandscanning_v1#PackageIssueList",
          "traits": {
            "smithy.api#documentation": "Required. The set of affected locations and their fixes (if available) within the associated resource."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A detailed description of this vulnerability."
          }
        },
        "fixAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether at least one of the affected packages has a fix available."
          }
        },
        "cvssVersion": {
          "target": "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceCvssVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. CVSS version used to populate cvss_score and severity."
          }
        },
        "cvssScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
          }
        },
        "vexAssessment": {
          "target": "com.gcp.ondemandscanning_v1#VexAssessment"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
          }
        },
        "extraDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Occurrence-specific extra details about the vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An occurrence of a severity vulnerability on a resource."
      }
    },
    "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#RelatedUrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#RelatedUrl"
      }
    },
    "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceEffectiveSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#PackageIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#PackageIssue"
      }
    },
    "com.gcp.ondemandscanning_v1#VulnerabilityOccurrenceCvssVersionEnum": {
      "type": "enum",
      "members": {
        "CVSS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_UNSPECIFIED"
          }
        },
        "CVSS_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_2"
          }
        },
        "CVSS_VERSION_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_3"
          }
        },
        "CVSS_VERSION_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVSS_VERSION_4"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#BuildDefinition": {
      "type": "structure",
      "members": {
        "buildType": {
          "target": "smithy.api#String"
        },
        "externalParameters": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap"
        },
        "internalParameters": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap"
        },
        "resolvedDependencies": {
          "target": "com.gcp.ondemandscanning_v1#ResourceDescriptorList"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#ResourceDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#ResourceDescriptor"
      }
    },
    "com.gcp.ondemandscanning_v1#ComplianceOccurrence": {
      "type": "structure",
      "members": {
        "nonCompliantFiles": {
          "target": "com.gcp.ondemandscanning_v1#NonCompliantFileList"
        },
        "nonComplianceReason": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "com.gcp.ondemandscanning_v1#ComplianceVersion",
          "traits": {
            "smithy.api#documentation": "The OS and config version the benchmark was run on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason."
      }
    },
    "com.gcp.ondemandscanning_v1#NonCompliantFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#NonCompliantFile"
      }
    },
    "com.gcp.ondemandscanning_v1#AliasContext": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.ondemandscanning_v1#AliasContextKindEnum",
          "traits": {
            "smithy.api#documentation": "The alias kind."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alias to a repo revision."
      }
    },
    "com.gcp.ondemandscanning_v1#AliasContextKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "MOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVABLE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Artifact": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
          }
        },
        "names": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact describes a build product."
      }
    },
    "com.gcp.ondemandscanning_v1#ListVulnerabilitiesResponseV1": {
      "type": "structure",
      "members": {
        "occurrences": {
          "target": "com.gcp.ondemandscanning_v1#OccurrenceList",
          "traits": {
            "smithy.api#documentation": "The list of Vulnerability Occurrences resulting from a scan."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
      }
    },
    "com.gcp.ondemandscanning_v1#OccurrenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#Occurrence"
      }
    },
    "com.gcp.ondemandscanning_v1#BinarySourceInfo": {
      "type": "structure",
      "members": {
        "sourceVersion": {
          "target": "com.gcp.ondemandscanning_v1#PackageVersion",
          "traits": {
            "smithy.api#documentation": "The source package. Similar to the above, this is significant when the source is different than the binary itself. Since the top-level package/version fields are based on an if/else, we need a separate field for both binary and source if we want to know definitively where the data is coming from."
          }
        },
        "binaryVersion": {
          "target": "com.gcp.ondemandscanning_v1#PackageVersion",
          "traits": {
            "smithy.api#documentation": "The binary package. This is significant when the source is different than the binary itself. Historically if they've differed, we've stored the name of the source and its version in the package/version fields, but we should also store the binary package info, as that's what's actually installed."
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Source": {
      "type": "structure",
      "members": {
        "additionalContexts": {
          "target": "com.gcp.ondemandscanning_v1#SourceContextList",
          "traits": {
            "smithy.api#documentation": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
          }
        },
        "artifactStorageSourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, the input binary artifacts for the build came from this location."
          }
        },
        "fileHashes": {
          "target": "com.gcp.ondemandscanning_v1#FileHashesMap",
          "traits": {
            "smithy.api#documentation": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file."
          }
        },
        "context": {
          "target": "com.gcp.ondemandscanning_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "If provided, the source code used for the build came from this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source describes the location of the source used for the build."
      }
    },
    "com.gcp.ondemandscanning_v1#SourceContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#SourceContext"
      }
    },
    "com.gcp.ondemandscanning_v1#FileHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.ondemandscanning_v1#FileHashes"
      }
    },
    "com.gcp.ondemandscanning_v1#Material": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "com.gcp.ondemandscanning_v1#StringMap"
        },
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#SBOMStatus": {
      "type": "structure",
      "members": {
        "sbomState": {
          "target": "com.gcp.ondemandscanning_v1#SBOMStatusSbomStateEnum",
          "traits": {
            "smithy.api#documentation": "The progress of the SBOM generation."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there was an error generating an SBOM, this will indicate what that error was."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of an SBOM generation."
      }
    },
    "com.gcp.ondemandscanning_v1#SBOMStatusSbomStateEnum": {
      "type": "enum",
      "members": {
        "SBOM_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#BuildMetadata": {
      "type": "structure",
      "members": {
        "invocationId": {
          "target": "smithy.api#String"
        },
        "startedOn": {
          "target": "smithy.api#String"
        },
        "finishedOn": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#RelatedUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific URL associated with the resource."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label to describe usage of the URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for any related URL information."
      }
    },
    "com.gcp.ondemandscanning_v1#ExploitPredictionScoringSystem": {
      "type": "structure",
      "members": {
        "percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score"
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#AnalyzePackagesResponse": {
      "type": "structure",
      "members": {
        "scan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the scan resource created by this successful scan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnalyzePackagesResponse contains the information necessary to find results for the given scan."
      }
    },
    "com.gcp.ondemandscanning_v1#ProvenanceBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "builderDependencies": {
          "target": "com.gcp.ondemandscanning_v1#ResourceDescriptorList"
        },
        "version": {
          "target": "com.gcp.ondemandscanning_v1#StringMap"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Category": {
      "type": "structure",
      "members": {
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the category."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category to which the update belongs."
      }
    },
    "com.gcp.ondemandscanning_v1#AISkillAnalysisOccurrence": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.gcp.ondemandscanning_v1#FindingList",
          "traits": {
            "smithy.api#documentation": "Findings produced by the analysis."
          }
        },
        "skillName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the skill that produced this analysis."
          }
        },
        "maxSeverity": {
          "target": "com.gcp.ondemandscanning_v1#AISkillAnalysisOccurrenceMaxSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Maximum severity found among findings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis."
      }
    },
    "com.gcp.ondemandscanning_v1#FindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#Finding"
      }
    },
    "com.gcp.ondemandscanning_v1#AISkillAnalysisOccurrenceMaxSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Location": {
      "type": "structure",
      "members": {
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path from which we gathered that this package/version is installed."
          }
        },
        "version": {
          "target": "com.gcp.ondemandscanning_v1#Version",
          "traits": {
            "smithy.api#documentation": "Deprecated. The version installed at this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`."
      }
    },
    "com.gcp.ondemandscanning_v1#Remediation": {
      "type": "structure",
      "members": {
        "remediationType": {
          "target": "com.gcp.ondemandscanning_v1#RemediationRemediationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of remediation that can be applied."
          }
        },
        "remediationUri": {
          "target": "com.gcp.ondemandscanning_v1#RelatedUrl",
          "traits": {
            "smithy.api#documentation": "Contains the URL where to obtain the remediation."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains a comprehensive human-readable discussion of the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies details on how to handle (and presumably, fix) a vulnerability."
      }
    },
    "com.gcp.ondemandscanning_v1#RemediationRemediationTypeEnum": {
      "type": "enum",
      "members": {
        "REMEDIATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_TYPE_UNSPECIFIED"
          }
        },
        "MITIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MITIGATION"
          }
        },
        "NO_FIX_PLANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_FIX_PLANNED"
          }
        },
        "NONE_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE_AVAILABLE"
          }
        },
        "VENDOR_FIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VENDOR_FIX"
          }
        },
        "WORKAROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKAROUND"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#SBOMReferenceOccurrence": {
      "type": "structure",
      "members": {
        "payloadType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
          }
        },
        "signatures": {
          "target": "com.gcp.ondemandscanning_v1#EnvelopeSignatureList",
          "traits": {
            "smithy.api#documentation": "The signatures over the payload."
          }
        },
        "payload": {
          "target": "com.gcp.ondemandscanning_v1#SbomReferenceIntotoPayload",
          "traits": {
            "smithy.api#documentation": "The actual payload that contains the SBOM reference data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details."
      }
    },
    "com.gcp.ondemandscanning_v1#EnvelopeSignatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#EnvelopeSignature"
      }
    },
    "com.gcp.ondemandscanning_v1#UpgradeOccurrence": {
      "type": "structure",
      "members": {
        "parsedVersion": {
          "target": "com.gcp.ondemandscanning_v1#Version",
          "traits": {
            "smithy.api#documentation": "Required for non-Windows OS. The version of the package in a machine + human readable form."
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for non-Windows OS. The package this Upgrade is for."
          }
        },
        "windowsUpdate": {
          "target": "com.gcp.ondemandscanning_v1#WindowsUpdate",
          "traits": {
            "smithy.api#documentation": "Required for Windows OS. Represents the metadata about the Windows update."
          }
        },
        "distribution": {
          "target": "com.gcp.ondemandscanning_v1#UpgradeDistribution",
          "traits": {
            "smithy.api#documentation": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update."
      }
    },
    "com.gcp.ondemandscanning_v1#Maintainer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.ondemandscanning_v1#IngestionSource": {
      "type": "structure",
      "members": {
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource URL of the resource that was scanned to find this package."
          }
        },
        "attachmentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attachment URI that this package was extracted from."
          }
        },
        "source": {
          "target": "com.gcp.ondemandscanning_v1#IngestionSourceSourceEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates where an extracted package originates from."
      }
    },
    "com.gcp.ondemandscanning_v1#IngestionSourceSourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNSPECIFIED"
          }
        },
        "DOCKER_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER_IMAGE"
          }
        },
        "SBOM_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM_ATTACHMENT"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.ondemandscanning_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1FileLocation": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
          }
        },
        "lineNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line number in the file where the package was found. Optional field that only applies to source repository scanning."
          }
        },
        "layerDetails": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1LayerDetails",
          "traits": {
            "smithy.api#documentation": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the location at which a package was found."
      }
    },
    "com.gcp.ondemandscanning_v1#WindowsUpdate": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.ondemandscanning_v1#Identity",
          "traits": {
            "smithy.api#documentation": "Required - The unique identifier for the update."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized title of the update."
          }
        },
        "lastPublishedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last published timestamp of the update."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized description of the update."
          }
        },
        "categories": {
          "target": "com.gcp.ondemandscanning_v1#CategoryList",
          "traits": {
            "smithy.api#documentation": "The list of categories to which the update belongs."
          }
        },
        "kbArticleIds": {
          "target": "com.gcp.ondemandscanning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Microsoft Knowledge Base article IDs that are associated with the update."
          }
        },
        "supportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hyperlink to the support information for the update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate."
      }
    },
    "com.gcp.ondemandscanning_v1#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#Category"
      }
    },
    "com.gcp.ondemandscanning_v1#Jwt": {
      "type": "structure",
      "members": {
        "compactJwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#NonCompliantFile": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Empty if `display_command` is set."
          }
        },
        "displayCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command to display the non-compliant files."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explains why a file is non compliant for a CIS check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'."
      }
    },
    "com.gcp.ondemandscanning_v1#Recipe": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
          }
        },
        "environment": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
          }
        },
        "definedInMaterial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
      }
    },
    "com.gcp.ondemandscanning_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#DocumentMap"
      }
    },
    "com.gcp.ondemandscanning_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.ondemandscanning_v1#SlsaProvenanceZeroTwo": {
      "type": "structure",
      "members": {
        "materials": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaMaterialList"
        },
        "builder": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "invocation": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "buildConfig": {
          "target": "com.gcp.ondemandscanning_v1#DocumentMap"
        },
        "metadata": {
          "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "buildType": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "See full explanation of fields at slsa.dev/provenance/v0.2."
      }
    },
    "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaMaterialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ondemandscanning_v1#GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
      }
    },
    "com.gcp.ondemandscanning_v1#CVSS": {
      "type": "structure",
      "members": {
        "confidentialityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Confidentiality Impact (C). Defined in CVSS v2, v3."
          }
        },
        "scope": {
          "target": "com.gcp.ondemandscanning_v1#CVSSScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope (S). Defined in CVSS v3."
          }
        },
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The base score is a function of the base metric scores."
          }
        },
        "attackComplexity": {
          "target": "com.gcp.ondemandscanning_v1#CVSSAttackComplexityEnum",
          "traits": {
            "smithy.api#documentation": "Attack Complexity (AC). Defined in CVSS v2, v3, v4."
          }
        },
        "vulnerableSystemConfidentialityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4."
          }
        },
        "subsequentSystemConfidentialityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4."
          }
        },
        "availabilityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Availability Impact (A). Defined in CVSS v2, v3."
          }
        },
        "subsequentSystemIntegrityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Integrity Impact (SI). Defined in CVSS v4."
          }
        },
        "impactScore": {
          "target": "smithy.api#Double"
        },
        "userInteraction": {
          "target": "com.gcp.ondemandscanning_v1#CVSSUserInteractionEnum",
          "traits": {
            "smithy.api#documentation": "User Interaction (UI). Defined in CVSS v3, v4."
          }
        },
        "exploitMaturity": {
          "target": "com.gcp.ondemandscanning_v1#CVSSExploitMaturityEnum",
          "traits": {
            "smithy.api#documentation": "Exploit Maturity (E). Defined in CVSS v4."
          }
        },
        "exploitabilityScore": {
          "target": "smithy.api#Double"
        },
        "attackRequirements": {
          "target": "com.gcp.ondemandscanning_v1#CVSSAttackRequirementsEnum",
          "traits": {
            "smithy.api#documentation": "Attack Requirements (AT). Defined in CVSS v4."
          }
        },
        "vulnerableSystemIntegrityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4."
          }
        },
        "vulnerableSystemAvailabilityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Vulnerable System Availability Impact (VA). Defined in CVSS v4."
          }
        },
        "subsequentSystemAvailabilityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemAvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Subsequent System Availability Impact (SA). Defined in CVSS v4."
          }
        },
        "integrityImpact": {
          "target": "com.gcp.ondemandscanning_v1#CVSSIntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "Integrity Impact (I). Defined in CVSS v2, v3."
          }
        },
        "authentication": {
          "target": "com.gcp.ondemandscanning_v1#CVSSAuthenticationEnum",
          "traits": {
            "smithy.api#documentation": "Authentication (Au). Defined in CVSS v2."
          }
        },
        "attackVector": {
          "target": "com.gcp.ondemandscanning_v1#CVSSAttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "Attack Vector (AV). Defined in CVSS v2, v3, v4."
          }
        },
        "privilegesRequired": {
          "target": "com.gcp.ondemandscanning_v1#CVSSPrivilegesRequiredEnum",
          "traits": {
            "smithy.api#documentation": "Privileges Required (PR). Defined in CVSS v3, v4."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version."
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSAttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        },
        "ATTACK_COMPLEXITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_MEDIUM"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSUserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        },
        "USER_INTERACTION_PASSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_PASSIVE"
          }
        },
        "USER_INTERACTION_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_ACTIVE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSExploitMaturityEnum": {
      "type": "enum",
      "members": {
        "EXPLOIT_MATURITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_UNSPECIFIED"
          }
        },
        "EXPLOIT_MATURITY_NOT_DEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_NOT_DEFINED"
          }
        },
        "EXPLOIT_MATURITY_ATTACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_ATTACKED"
          }
        },
        "EXPLOIT_MATURITY_POC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_POC"
          }
        },
        "EXPLOIT_MATURITY_UNREPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_MATURITY_UNREPORTED"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSAttackRequirementsEnum": {
      "type": "enum",
      "members": {
        "ATTACK_REQUIREMENTS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_UNSPECIFIED"
          }
        },
        "ATTACK_REQUIREMENTS_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_NONE"
          }
        },
        "ATTACK_REQUIREMENTS_PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_REQUIREMENTS_PRESENT"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSVulnerableSystemAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSSubsequentSystemAvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSIntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        },
        "IMPACT_PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_PARTIAL"
          }
        },
        "IMPACT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_COMPLETE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSAuthenticationEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_UNSPECIFIED"
          }
        },
        "AUTHENTICATION_MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_MULTIPLE"
          }
        },
        "AUTHENTICATION_SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_SINGLE"
          }
        },
        "AUTHENTICATION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_NONE"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSAttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#CVSSPrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.ondemandscanning_v1#SbomReferenceIntotoPayload": {
      "type": "structure",
      "members": {
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the schema of the Statement."
          }
        },
        "predicateType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI identifying the type of the Predicate."
          }
        },
        "subject": {
          "target": "com.gcp.ondemandscanning_v1#SubjectList",
          "traits": {
[...]
