{
  "smithy": "2.0",
  "metadata": {
    "service": "oracledatabase",
    "version": "v1",
    "title": "Oracle Database@Google Cloud API",
    "baseUrl": "https://oracledatabase.googleapis.com/"
  },
  "shapes": {
    "com.gcp.oracledatabase_v1#ListMinorVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "minorVersions": {
          "target": "com.gcp.oracledatabase_v1#MinorVersionList",
          "traits": {
            "smithy.api#documentation": "The list of MinorVersions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for `MinorVersion.List`."
      }
    },
    "com.gcp.oracledatabase_v1#MinorVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#MinorVersion"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateAzureDataLakeStorageConnectionProperties": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure client ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sets the Azure storage account name."
          }
        },
        "sasTokenSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Credential that uses a shared access signature (SAS) to authenticate to an Azure Service."
          }
        },
        "accountKeySecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure storage account key. This property is required when 'authentication_type' is set to 'SHARED_KEY'."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure client secret (aka application password) for authentication."
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of AzureDataLakeStorageConnection."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure Storage service endpoint. e.g: https://test.blob.core.windows.net"
          }
        },
        "authenticationType": {
          "target": "com.gcp.oracledatabase_v1#GoldengateAzureDataLakeStorageConnectionPropertiesAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication mechanism to access Azure Data Lake Storage."
          }
        },
        "azureAuthorityHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The endpoint used for authentication with Microsoft Entra ID (formerly Azure Active Directory). Default value: https://login.microsoftonline.com"
          }
        },
        "azureTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure tenant ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateAzureDataLakeStorageConnection."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateAzureDataLakeStorageConnectionPropertiesAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "SHARED_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_KEY"
          }
        },
        "SHARED_ACCESS_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_ACCESS_SIGNATURE"
          }
        },
        "AZURE_ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE_ACTIVE_DIRECTORY"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateOciObjectStorageConnectionProperties": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The OCID of the OCI user who will access the Object Storage. The user must have write access to the bucket they want to connect to."
          }
        },
        "privateKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint."
          }
        },
        "publicKeyFingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The fingerprint of the API Key of the user specified by the userId."
          }
        },
        "useResourcePrincipal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal."
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of OciObjectStorageConnection."
          }
        },
        "tenancyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The OCID of the related OCI tenancy."
          }
        },
        "privateKeyPassphraseSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The passphrase of the private key."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the region of OCI Object Storage. e.g.: us-ashburn-1 If the region is not provided, backend will default to the default region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateOciObjectStorageConnection."
      }
    },
    "com.gcp.oracledatabase_v1#ListExadbVmClustersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable locations when listing resources across all locations using wildcard location '-'."
          }
        },
        "exadbVmClusters": {
          "target": "com.gcp.oracledatabase_v1#ExadbVmClusterList",
          "traits": {
            "smithy.api#documentation": "The list of ExadbVmClusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for `ExadbVmCluster.List`."
      }
    },
    "com.gcp.oracledatabase_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.oracledatabase_v1#ExadbVmClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#ExadbVmCluster"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateSnowflakeConnectionProperties": {
      "type": "structure",
      "members": {
        "privateKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The content of private key file in PEM format."
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of SnowflakeConnection."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to Snowflake platform. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The username Oracle Goldengate uses to connect to Snowflake."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password Oracle Goldengate uses to connect to Snowflake platform in plain text."
          }
        },
        "connectionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. JDBC connection URL. e.g.: 'jdbc:snowflake://.snowflakecomputing.com/?warehouse=&db='"
          }
        },
        "privateKeyPassphraseSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Password if the private key file is encrypted."
          }
        },
        "authenticationType": {
          "target": "com.gcp.oracledatabase_v1#GoldengateSnowflakeConnectionPropertiesAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Used authentication mechanism to access Snowflake."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateSnowflakeConnection."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateSnowflakeConnectionPropertiesAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "KEY_PAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_PAIR"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#ListGoldengateDeploymentVersionsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "goldengateDeploymentVersions": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentVersionList",
          "traits": {
            "smithy.api#documentation": "The list of GoldengateDeploymentVersion"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing GoldengateDeploymentVersions"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentVersion"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentLock": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The message."
          }
        },
        "type": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentLockTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of lock."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time created."
          }
        },
        "compartmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The compartment id."
          }
        },
        "relatedResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The related resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lock of the GoldengateDeployment."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentLockTypeEnum": {
      "type": "enum",
      "members": {
        "LOCK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#StopGoldengateDeploymentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request for `GoldengateDeployment.Stop`."
      }
    },
    "com.gcp.oracledatabase_v1#ListDbVersionsResponse": {
      "type": "structure",
      "members": {
        "dbVersions": {
          "target": "com.gcp.oracledatabase_v1#DbVersionList",
          "traits": {
            "smithy.api#documentation": "The list of DbVersions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for `DbVersions.List`."
      }
    },
    "com.gcp.oracledatabase_v1#DbVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#DbVersion"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateMongodbConnectionProperties": {
      "type": "structure",
      "members": {
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of MongodbConnection."
          }
        },
        "tlsCertificateKeyFilePasswordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the Client Certificate key file password in Secret Manager. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "tlsCaFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Database Certificate - The base64 encoded content of a .pem file, containing the server public key (for 1 and 2-way SSL)."
          }
        },
        "connectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. MongoDB connection string. e.g.: 'mongodb://mongodb0.example.com:27017/recordsrecords'"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password Oracle Goldengate uses to connect the Mongodb connection in plain text."
          }
        },
        "tlsCertificateKeyFilePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The Client Certificate key file password in plain text."
          }
        },
        "securityProtocol": {
          "target": "com.gcp.oracledatabase_v1#GoldengateMongodbConnectionPropertiesSecurityProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Security Type for MongoDB."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the Mongodb connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The username Oracle Goldengate uses to connect to the database."
          }
        },
        "tlsCertificateKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client Certificate - The base64 encoded content of a .pem file, containing the client public key (for 2-way SSL)."
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The OCID of the Oracle Autonomous Json Database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateMongodbConnection."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateMongodbConnectionPropertiesSecurityProtocolEnum": {
      "type": "enum",
      "members": {
        "MONGODB_SECURITY_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONGODB_SECURITY_PROTOCOL_UNSPECIFIED"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAIN"
          }
        },
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        },
        "MTLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTLS"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#ListGoldengateDeploymentTypesResponse": {
      "type": "structure",
      "members": {
        "goldengateDeploymentTypes": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentTypeList",
          "traits": {
            "smithy.api#documentation": "The list of GoldengateDeploymentType"
          }
        },
        "unreachable": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. The resource names of locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing GoldengateDeploymentTypes"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentType"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDatabricksConnectionProperties": {
      "type": "structure",
      "members": {
        "storageCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. External storage credential name to access files on object storage such as ADLS Gen2, S3 or Cloud Storage."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to Databricks. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password used to connect to Databricks in plain text."
          }
        },
        "connectionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Connection URL. e.g.: 'jdbc:databricks://adb-33934.4.azuredatabricks.net:443/default;transportMode=http;ssl=1;httpPath=sql/protocolv1/o/3393########44/0##3-7-hlrb'"
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. OAuth client secret, only applicable for authentication_type == OAUTH_M2M"
          }
        },
        "authenticationType": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDatabricksConnectionPropertiesAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication type for Databricks."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. OAuth client id, only applicable for authentication_type == OAUTH_M2M"
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of DatabricksConnection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateDatabricksConnection."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDatabricksConnectionPropertiesAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "DATABRICKS_AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABRICKS_AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "PERSONAL_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_ACCESS_TOKEN"
          }
        },
        "OAUTH_M2M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_M2M"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateGoogleCloudStorageConnectionProperties": {
      "type": "structure",
      "members": {
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type."
          }
        },
        "serviceAccountKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateGoogleCloudStorageConnectionProperties."
      }
    },
    "com.gcp.oracledatabase_v1#TestConnectionAssignmentError": {
      "type": "structure",
      "members": {
        "issue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text describing the root cause of the reported issue."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short error code that defines the error, meant for programmatic parsing."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable error message."
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text describing the action required to fix the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details for TestGoldengateConnectionAssignment."
      }
    },
    "com.gcp.oracledatabase_v1#ListDbServersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "dbServers": {
          "target": "com.gcp.oracledatabase_v1#DbServerList",
          "traits": {
            "smithy.api#documentation": "The list of database servers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for `DbServer.List`."
      }
    },
    "com.gcp.oracledatabase_v1#DbServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#DbServer"
      }
    },
    "com.gcp.oracledatabase_v1#DbSystemProperties": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The hostname of the DbSystem."
          }
        },
        "shape": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Shape of DB System."
          }
        },
        "sshPublicKeys": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. SSH public keys to be stored with the DbSystem."
          }
        },
        "dataStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The data storage size in GB that is currently available to DbSystems."
          }
        },
        "hostnamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Prefix for DB System host names."
          }
        },
        "initialDataStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The initial data storage size in GB."
          }
        },
        "timeZone": {
          "target": "com.gcp.oracledatabase_v1#TimeZone",
          "traits": {
            "smithy.api#documentation": "Optional. Time zone of the DbSystem."
          }
        },
        "dbHome": {
          "target": "com.gcp.oracledatabase_v1#DbHome",
          "traits": {
            "smithy.api#documentation": "Optional. Details for creating a Database Home."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.oracledatabase_v1#DbSystemPropertiesLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the DbSystem."
          }
        },
        "ocid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OCID of the DbSystem."
          }
        },
        "privateIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The private IP address of the DbSystem."
          }
        },
        "computeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of CPU cores to enable for the DbSystem."
          }
        },
        "licenseModel": {
          "target": "com.gcp.oracledatabase_v1#DbSystemPropertiesLicenseModelEnum",
          "traits": {
            "smithy.api#documentation": "Required. The license model of the DbSystem."
          }
        },
        "dbSystemOptions": {
          "target": "com.gcp.oracledatabase_v1#DbSystemOptions",
          "traits": {
            "smithy.api#documentation": "Optional. The options for the DbSystem."
          }
        },
        "recoStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The reco/redo storage size in GB."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The host domain name of the DbSystem."
          }
        },
        "memorySizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The memory size in GB."
          }
        },
        "dataCollectionOptions": {
          "target": "com.gcp.oracledatabase_v1#DataCollectionOptionsDbSystem",
          "traits": {
            "smithy.api#documentation": "Optional. Data collection options for diagnostics."
          }
        },
        "databaseEdition": {
          "target": "com.gcp.oracledatabase_v1#DbSystemPropertiesDatabaseEditionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The database edition of the DbSystem."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of nodes in the DbSystem."
          }
        },
        "computeModel": {
          "target": "com.gcp.oracledatabase_v1#DbSystemPropertiesComputeModelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The compute model of the DbSystem."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a DbSystem."
      }
    },
    "com.gcp.oracledatabase_v1#DbSystemPropertiesLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "MIGRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED"
          }
        },
        "MAINTENANCE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE_IN_PROGRESS"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#DbSystemPropertiesLicenseModelEnum": {
      "type": "enum",
      "members": {
        "LICENSE_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_MODEL_UNSPECIFIED"
          }
        },
        "LICENSE_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_INCLUDED"
          }
        },
        "BRING_YOUR_OWN_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRING_YOUR_OWN_LICENSE"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#DbSystemPropertiesDatabaseEditionEnum": {
      "type": "enum",
      "members": {
        "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED"
          }
        },
        "STANDARD_EDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_EDITION"
          }
        },
        "ENTERPRISE_EDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_EDITION"
          }
        },
        "ENTERPRISE_EDITION_HIGH_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#DbSystemPropertiesComputeModelEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MODEL_UNSPECIFIED"
          }
        },
        "ECPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECPU"
          }
        },
        "OCPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCPU"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateConnectionAssignment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the GoldengateConnectionAssignment resource in the following format: projects/{project}/locations/{region}/goldengateConnectionAssignments/{goldengate_connection_assignment}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name for the GoldengateConnectionAssignment."
          }
        },
        "labels": {
          "target": "com.gcp.oracledatabase_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels or tags associated with the GoldengateConnectionAssignment."
          }
        },
        "properties": {
          "target": "com.gcp.oracledatabase_v1#GoldengateConnectionAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Required. The properties of the GoldengateConnectionAssignment."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the connection assignment was created."
          }
        },
        "entitlementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The OCID of the entitlement linked to this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a Goldengate Connection Assignment."
      }
    },
    "com.gcp.oracledatabase_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentProperties": {
      "type": "structure",
      "members": {
        "maintenanceWindow": {
          "target": "com.gcp.oracledatabase_v1#GoldengateMaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Optional. The maintenance window of the GoldengateDeployment."
          }
        },
        "upgradeRequiredTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time upgrade required of the GoldengateDeployment."
          }
        },
        "maintenanceConfig": {
          "target": "com.gcp.oracledatabase_v1#GoldengateMaintenanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The maintenance configuration of the GoldengateDeployment."
          }
        },
        "deploymentDiagnosticData": {
          "target": "com.gcp.oracledatabase_v1#DeploymentDiagnosticData",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment diagnostic data of the GoldengateDeployment."
          }
        },
        "healthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the GoldengateDeployment is healthy."
          }
        },
        "deploymentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment url of the GoldengateDeployment."
          }
        },
        "lifecycleDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle details of the GoldengateDeployment."
          }
        },
        "category": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The category of the GoldengateDeployment."
          }
        },
        "deploymentRole": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesDeploymentRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment role of the GoldengateDeployment."
          }
        },
        "loadBalancerSubnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The load balancer subnet id of the GoldengateDeployment."
          }
        },
        "publicIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The public ip address of the GoldengateDeployment."
          }
        },
        "oggData": {
          "target": "com.gcp.oracledatabase_v1#GoldengateOggDeployment",
          "traits": {
            "smithy.api#documentation": "Required. The ogg data of the GoldengateDeployment."
          }
        },
        "storageUtilizationBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The storage utilization in bytes of the GoldengateDeployment."
          }
        },
        "nextMaintenanceActionType": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesNextMaintenanceActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The next maintenance action type of the GoldengateDeployment."
          }
        },
        "locks": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentLockList",
          "traits": {
            "smithy.api#documentation": "Output only. The locks of the GoldengateDeployment."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the GoldengateDeployment."
          }
        },
        "placements": {
          "target": "com.gcp.oracledatabase_v1#GoldengatePlacementList",
          "traits": {
            "smithy.api#documentation": "Output only. The placements of the GoldengateDeployment."
          }
        },
        "nextMaintenanceTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of next maintenance of the GoldengateDeployment."
          }
        },
        "cpuCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The Minimum number of OCPUs to be made available for this Deployment."
          }
        },
        "deploymentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation."
          }
        },
        "lifecycleSubState": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLifecycleSubStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle sub-state of the GoldengateDeployment."
          }
        },
        "nsgIds": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The nsg ids of the GoldengateDeployment."
          }
        },
        "ocid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OCID of the GoldengateDeployment."
          }
        },
        "loadBalancerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The load balancer id of the GoldengateDeployment."
          }
        },
        "privateIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The private ip address of the GoldengateDeployment."
          }
        },
        "isLatestVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the GoldengateDeployment is of the latest version."
          }
        },
        "lastBackupScheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time last backup scheduled of the GoldengateDeployment."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the GoldengateDeployment."
          }
        },
        "isStorageUtilizationLimitExceeded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the GoldengateDeployment was updated."
          }
        },
        "oggVersionSupportEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time ogg version supported until of the GoldengateDeployment."
          }
        },
        "licenseModel": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLicenseModelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The Oracle license model that applies to a Deployment."
          }
        },
        "environmentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The environment type of the GoldengateDeployment."
          }
        },
        "nextMaintenanceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The next maintenance description of the GoldengateDeployment."
          }
        },
        "roleChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the role of the GoldengateDeployment was changed."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment."
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the GoldengateDeployment is public."
          }
        },
        "nextBackupScheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time next backup scheduled of the GoldengateDeployment."
          }
        },
        "isAutoScalingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count."
          }
        },
        "ingressIps": {
          "target": "com.gcp.oracledatabase_v1#IngressIpList",
          "traits": {
            "smithy.api#documentation": "Output only. The ingress ips of the GoldengateDeployment."
          }
        },
        "backupSchedule": {
          "target": "com.gcp.oracledatabase_v1#GoldengateBackupSchedule",
          "traits": {
            "smithy.api#documentation": "Output only. The backup schedule of the GoldengateDeployment."
          }
        },
        "deploymentBackupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployment backup id of the GoldengateDeployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of GoldengateDeployment."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesCategoryEnum": {
      "type": "enum",
      "members": {
        "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED"
          }
        },
        "DATA_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_REPLICATION"
          }
        },
        "DATA_TRANSFORMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TRANSFORMS"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesDeploymentRoleEnum": {
      "type": "enum",
      "members": {
        "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDBY"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesNextMaintenanceActionTypeEnum": {
      "type": "enum",
      "members": {
        "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentLockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#GoldengateDeploymentLock"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengatePlacementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#GoldengatePlacement"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLifecycleSubStateEnum": {
      "type": "enum",
      "members": {
        "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED"
          }
        },
        "RECOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVERING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "BACKING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKING_UP"
          }
        },
        "ROLLING_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING_BACK"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDeploymentPropertiesLicenseModelEnum": {
      "type": "enum",
      "members": {
        "LICENSE_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_MODEL_UNSPECIFIED"
          }
        },
        "LICENSE_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_INCLUDED"
          }
        },
        "BRING_YOUR_OWN_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRING_YOUR_OWN_LICENSE"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#IngressIpList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#IngressIp"
      }
    },
    "com.gcp.oracledatabase_v1#ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {
          "target": "com.gcp.oracledatabase_v1#DatabaseList",
          "traits": {
            "smithy.api#documentation": "The list of Databases."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for `Database.List`."
      }
    },
    "com.gcp.oracledatabase_v1#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#Database"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateMicrosoftFabricConnectionProperties": {
      "type": "structure",
      "members": {
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of MicrosoftFabricConnection."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure client ID of the application."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client secret associated with the client id."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Azure tenant ID of the application."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateMicrosoftFabricConnection."
      }
    },
    "com.gcp.oracledatabase_v1#StorageSizeDetails": {
      "type": "structure",
      "members": {
        "dataStorageSizeInGbs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem."
          }
        },
        "recoStorageSizeInGbs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateHdfsConnectionProperties": {
      "type": "structure",
      "members": {
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of HdfsConnection."
          }
        },
        "coreSiteXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the Hadoop Distributed File System configuration file (core-site.xml)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateHdfsConnection."
      }
    },
    "com.gcp.oracledatabase_v1#ExascaleConfig": {
      "type": "structure",
      "members": {
        "availableStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Available storage size for Exascale in GBs."
          }
        },
        "totalStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Total storage size needed for Exascale in GBs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the Exascale configuration for the Exadata Infrastructure."
      }
    },
    "com.gcp.oracledatabase_v1#GoogleCloudStorageIcebergStorage": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bucket of Google Cloud Storage."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project ID of Google Cloud Storage."
          }
        },
        "serviceAccountKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The base64 encoded content of the service account key file of Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage Iceberg storage."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateKafkaSchemaRegistryConnectionProperties": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.gcp.oracledatabase_v1#GoldengateKafkaSchemaRegistryConnectionPropertiesAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Used authentication mechanism to access Schema Registry."
          }
        },
        "keyStoreFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The base64 encoded content of the KeyStore file."
          }
        },
        "trustStoreFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The base64 encoded content of the TrustStore file."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The username to access Schema Registry using basic authentication. This value is injected into 'schema.registry.basic.auth.user.info=user:password' configuration property."
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of KafkaSchemaRegistryConnection."
          }
        },
        "trustStorePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The TrustStore password in plain text."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password to access Schema Registry in plain text."
          }
        },
        "sslKeyPasswordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password to access Schema Registry using basic authentication. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "keyStorePasswordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "sslKeyPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password for the cert inside the KeyStore in plain text."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Kafka Schema Registry URL. e.g.: 'https://server1.us.oracle.com:8081'"
          }
        },
        "keyStorePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The KeyStore password in plain text."
          }
        },
        "trustStorePasswordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateKafkaSchemaRegistryConnection."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateKafkaSchemaRegistryConnectionPropertiesAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "MUTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTUAL"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.oracledatabase_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.oracledatabase_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#Location"
      }
    },
    "com.gcp.oracledatabase_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.oracledatabase_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.oracledatabase_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#Operation"
      }
    },
    "com.gcp.oracledatabase_v1#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.oracledatabase_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.oracledatabase_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.oracledatabase_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateGoogleBigQueryConnectionProperties": {
      "type": "structure",
      "members": {
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type."
          }
        },
        "serviceAccountKeyFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google BigQuery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateGoogleBigQueryConnectionProperties."
      }
    },
    "com.gcp.oracledatabase_v1#AutonomousDatabaseConnectionUrls": {
      "type": "structure",
      "members": {
        "machineLearningNotebookUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database."
          }
        },
        "machineLearningUserManagementUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of Machine Learning user management the Autonomous Database."
          }
        },
        "mongoDbUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the MongoDB API for the Autonomous Database."
          }
        },
        "graphStudioUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the Graph Studio for the Autonomous Database."
          }
        },
        "apexUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Oracle Application Express (APEX) URL."
          }
        },
        "ordsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database."
          }
        },
        "sqlDevWebUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database."
          }
        },
        "databaseTransformsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the Database Transforms for the Autonomous Database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
      }
    },
    "com.gcp.oracledatabase_v1#CustomerContact": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact"
      }
    },
    "com.gcp.oracledatabase_v1#MinorVersion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}"
          }
        },
        "gridImageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the Grid Image."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The valid Oracle grid infrastructure software version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
      }
    },
    "com.gcp.oracledatabase_v1#DbHome": {
      "type": "structure",
      "members": {
        "isUnifiedAuditingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether unified auditing is enabled for the Database Home."
          }
        },
        "database": {
          "target": "com.gcp.oracledatabase_v1#Database",
          "traits": {
            "smithy.api#documentation": "Required. The Database resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name for the Database Home. The name does not have to be unique within your project."
          }
        },
        "dbVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the Database Home resource."
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDb2ConnectionProperties": {
      "type": "structure",
      "members": {
        "additionalAttributes": {
          "target": "com.gcp.oracledatabase_v1#NameValuePairList",
          "traits": {
            "smithy.api#documentation": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name or address of a host."
          }
        },
        "sslServerCertificateFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The file which contains the self-signed server certificate / Certificate Authority (CA) certificate."
          }
        },
        "technologyType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The technology type of Db2Connection."
          }
        },
        "sslClientKeystashFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The keystash file which contains the encrypted password to the key database file. Not supported for IBM Db2 for i."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Db2 connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The username Oracle Goldengate uses to connect to the DB2 database."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the database."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The port of an endpoint usually specified for a connection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The password Oracle Goldengate uses for Db2 connection in plain text."
          }
        },
        "securityProtocol": {
          "target": "com.gcp.oracledatabase_v1#GoldengateDb2ConnectionPropertiesSecurityProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Security protocol for the DB2 database."
          }
        },
        "sslClientKeystoredbFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The keystore file created at the client containing the server certificate / CA root certificate. Not supported for IBM Db2 for i."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of GoldengateDb2Connection."
      }
    },
    "com.gcp.oracledatabase_v1#NameValuePairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#NameValuePair"
      }
    },
    "com.gcp.oracledatabase_v1#GoldengateDb2ConnectionPropertiesSecurityProtocolEnum": {
      "type": "enum",
      "members": {
        "DB2_SECURITY_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB2_SECURITY_PROTOCOL_UNSPECIFIED"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAIN"
          }
        },
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#AutonomousDatabaseProperties": {
      "type": "structure",
      "members": {
        "encryptionKeyHistoryEntries": {
          "target": "com.gcp.oracledatabase_v1#EncryptionKeyHistoryEntryList",
          "traits": {
            "smithy.api#documentation": "Output only. The history of the encryption keys used to encrypt the Autonomous Database."
          }
        },
        "privateEndpointLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The private endpoint label for the Autonomous Database."
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret."
          }
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds."
          }
        },
        "nextLongTermBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The long term backup schedule of the Autonomous Database."
          }
        },
        "maintenanceBeginTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date and time when maintenance will begin."
          }
        },
        "dataSafeState": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDataSafeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Data Safe registration for the Autonomous Database."
          }
        },
        "databaseManagementState": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDatabaseManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of database management for the Autonomous Database."
          }
        },
        "supportedCloneRegions": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database."
          }
        },
        "dataStorageSizeTb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The size of the data stored in the database, in terabytes."
          }
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds."
          }
        },
        "encryptionKey": {
          "target": "com.gcp.oracledatabase_v1#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version."
          }
        },
        "operationsInsightsState": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesOperationsInsightsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This field indicates the state of Operations Insights for the Autonomous Database."
          }
        },
        "licenseType": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesLicenseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The license type used for the Autonomous Database."
          }
        },
        "privateEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The private endpoint for the Autonomous Database."
          }
        },
        "apexDetails": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabaseApex",
          "traits": {
            "smithy.api#documentation": "Output only. The details for the Oracle APEX Application Development."
          }
        },
        "totalAutoBackupStorageSizeGbs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes."
          }
        },
        "isAutoScalingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count."
          }
        },
        "arePrimaryAllowlistedIpsUsed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary."
          }
        },
        "mtlsConnectionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections."
          }
        },
        "state": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of the Autonomous Database."
          }
        },
        "customerContacts": {
          "target": "com.gcp.oracledatabase_v1#CustomerContactList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The list of customer contacts."
          }
        },
        "connectionStrings": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabaseConnectionStrings",
          "traits": {
            "smithy.api#documentation": "Output only. The connection strings used to connect to an Autonomous Database."
          }
        },
        "allowlistedIps": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database."
          }
        },
        "ociUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database."
          }
        },
        "memoryTableGbs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The memory assigned to in-memory tables in an Autonomous Database."
          }
        },
        "allocatedStorageSizeTb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes."
          }
        },
        "localDataGuardEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure."
          }
        },
        "dbVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The Oracle Database version for the Autonomous Database."
          }
        },
        "failedDataRecoveryDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover."
          }
        },
        "isLocalDataGuardEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled."
          }
        },
        "dataGuardRoleChangedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database."
          }
        },
        "sqlWebDeveloperUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SQL Web Developer URL for the Autonomous Database."
          }
        },
        "openMode": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesOpenModeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This field indicates the current mode of the Autonomous Database."
          }
        },
        "refreshableState": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesRefreshableStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The refresh State of the clone."
          }
        },
        "computeCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The number of compute servers for the Autonomous Database."
          }
        },
        "permissionLevel": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesPermissionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The permission level of the Autonomous Database."
          }
        },
        "ocid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
          }
        },
        "dbWorkload": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDbWorkloadEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The workload type of the Autonomous Database."
          }
        },
        "backupRetentionPeriodDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days."
          }
        },
        "scheduledOperationDetails": {
          "target": "com.gcp.oracledatabase_v1#ScheduledOperationDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The list and details of the scheduled operations of the Autonomous Database."
          }
        },
        "autonomousContainerDatabaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Autonomous Container Database OCID."
          }
        },
        "localStandbyDb": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabaseStandbySummary",
          "traits": {
            "smithy.api#documentation": "Output only. The details of the Autonomous Data Guard standby database."
          }
        },
        "dataStorageSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The size of the data stored in the database, in gigabytes."
          }
        },
        "memoryPerOracleComputeUnitGbs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The amount of memory enabled per ECPU, in gigabytes."
          }
        },
        "cpuCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The number of CPU cores to be made available to the database."
          }
        },
        "role": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The Data Guard role of the Autonomous Database."
          }
        },
        "connectionUrls": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabaseConnectionUrls",
          "traits": {
            "smithy.api#documentation": "Output only. The Oracle Connection URLs for an Autonomous Database."
          }
        },
        "disasterRecoveryRoleChangedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database."
          }
        },
        "maintenanceEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date and time when maintenance will end."
          }
        },
        "availableUpgradeVersions": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database."
          }
        },
        "nCharacterSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
          }
        },
        "vaultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault."
          }
        },
        "lifecycleDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The details of the current lifestyle state of the Autonomous Database."
          }
        },
        "privateEndpointIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The private endpoint IP address for the Autonomous Database."
          }
        },
        "localDisasterRecoveryType": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesLocalDisasterRecoveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database."
          }
        },
        "refreshableMode": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesRefreshableModeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The refresh mode of the cloned Autonomous Database."
          }
        },
        "usedDataStorageSizeTbs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The storage space used by Autonomous Database, in gigabytes."
          }
        },
        "dbEdition": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDbEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The edition of the Autonomous Databases."
          }
        },
        "serviceAgentEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project."
          }
        },
        "actualUsedDataStorageSizeTb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The amount of storage currently being used for user and system data, in terabytes."
          }
        },
        "characterSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8."
          }
        },
        "maintenanceScheduleType": {
          "target": "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesMaintenanceScheduleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The maintenance schedule of the Autonomous Database."
          }
        },
        "peerDbIds": {
          "target": "com.gcp.oracledatabase_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database."
          }
        },
        "isStorageAutoScalingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an Autonomous Database."
      }
    },
    "com.gcp.oracledatabase_v1#EncryptionKeyHistoryEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oracledatabase_v1#EncryptionKeyHistoryEntry"
      }
    },
    "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDataSafeStateEnum": {
      "type": "enum",
      "members": {
        "DATA_SAFE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SAFE_STATE_UNSPECIFIED"
          }
        },
        "REGISTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTERING"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTERED"
          }
        },
        "DEREGISTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEREGISTERING"
          }
        },
        "NOT_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REGISTERED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesDatabaseManagementStateEnum": {
      "type": "enum",
      "members": {
        "DATABASE_MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENABLED"
          }
        },
        "FAILED_ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_ENABLING"
          }
        },
        "FAILED_DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_DISABLING"
          }
        }
      }
    },
    "com.gcp.oracledatabase_v1#AutonomousDatabasePropertiesOperationsInsightsStateEnum": {
      "type": "enum",
      "members": {
        "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
[...]
