{
  "smithy": "2.0",
  "metadata": {
    "service": "oslogin",
    "version": "v1",
    "title": "Cloud OS Login API",
    "baseUrl": "https://oslogin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.oslogin_v1#SignSshPublicKeyResponse": {
      "type": "structure",
      "members": {
        "signedSshPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed SSH public key to use in the SSH handshake."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for signing an SSH public key."
      }
    },
    "com.gcp.oslogin_v1#ProvisionPosixAccountRequest": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.oslogin_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The regions to wait for a POSIX account to be written to before returning a response. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request message for creating a POSIX account entry."
      }
    },
    "com.gcp.oslogin_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.oslogin_v1#SignSshPublicKeyRequest": {
      "type": "structure",
      "members": {
        "appEngineInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The App Engine instance to sign the SSH public key for. Expected format: apps/{app}/services/{service}/versions/{version}/instances/{instance}"
          }
        },
        "computeInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute instance to sign the SSH public key for. Expected format: projects/{project}/zones/{zone}/instances/{numeric_instance_id}"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account for the instance. If the instance in question does not have a service account, this field should be left empty. If the wrong service account is provided, this operation will return a signed certificate that will not be accepted by the VM."
          }
        },
        "cloudRunResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Cloud Run resource to sign the SSH public key for. Expected formats: - `projects/{project}/locations/{location}/services/{service}` - `projects/{project}/locations/{location}/workerPools/{worker_pool}` - `projects/{project}/locations/{location}/jobs/{job}` - `projects/{project}/locations/{location}/instances/{instance}`"
          }
        },
        "sshPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SSH public key to sign."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request message for signing an SSH public key."
      }
    },
    "com.gcp.oslogin_v1#ImportSshPublicKeyResponse": {
      "type": "structure",
      "members": {
        "loginProfile": {
          "target": "com.gcp.oslogin_v1#LoginProfile",
          "traits": {
            "smithy.api#documentation": "The login profile information for the user."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed information about import results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for importing an SSH public key."
      }
    },
    "com.gcp.oslogin_v1#PosixAccount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical resource name."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID."
          }
        },
        "homeDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the home directory for this account."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A POSIX account identifier."
          }
        },
        "shell": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the logic shell for this account."
          }
        },
        "gecos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GECOS (user information) entry for this account."
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System identifier for which account the username or uid applies to. By default, the empty value is used."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only one POSIX account can be marked as primary."
          }
        },
        "operatingSystemType": {
          "target": "com.gcp.oslogin_v1#PosixAccountOperatingSystemTypeEnum",
          "traits": {
            "smithy.api#documentation": "The operating system type where this account applies."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the POSIX account."
          }
        },
        "gid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default group ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The POSIX account information associated with a Google account."
      }
    },
    "com.gcp.oslogin_v1#PosixAccountOperatingSystemTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATING_SYSTEM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_SYSTEM_TYPE_UNSPECIFIED"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#SshPublicKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical resource name."
          }
        },
        "expirationTimeUsec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expiration time in microseconds since epoch."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SHA-256 fingerprint of the SSH public key."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Public key text in SSH format, defined by [RFC4253](https://www.ietf.org/rfc/rfc4253.txt) section 6.6."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SSH public key information associated with a Google account."
      }
    },
    "com.gcp.oslogin_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.oslogin_v1#LoginProfile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique user ID."
          }
        },
        "sshPublicKeys": {
          "target": "com.gcp.oslogin_v1#SshPublicKeyMap",
          "traits": {
            "smithy.api#documentation": "A map from SSH public key fingerprint to the associated key object."
          }
        },
        "posixAccounts": {
          "target": "com.gcp.oslogin_v1#PosixAccountList",
          "traits": {
            "smithy.api#documentation": "The list of POSIX accounts associated with the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user profile information used for logging in to a virtual machine on Google Compute Engine."
      }
    },
    "com.gcp.oslogin_v1#SshPublicKeyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.oslogin_v1#SshPublicKey"
      }
    },
    "com.gcp.oslogin_v1#PosixAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.oslogin_v1#PosixAccount"
      }
    },
    "com.gcp.oslogin_v1#SignSshPublicKeyProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent for the signing request. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.oslogin_v1#SignSshPublicKeyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.oslogin_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.oslogin_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.oslogin_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.oslogin_v1#SignSshPublicKeyProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#SignSshPublicKeyProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#SignSshPublicKeyResponse"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}:signSshPublicKey"
        },
        "smithy.api#documentation": "Signs an SSH public key for a user to authenticate to a virtual machine on Google Compute Engine."
      }
    },
    "com.gcp.oslogin_v1#ImportSshPublicKeyUsersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID for the user in format `users/{user}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID of the Google Cloud Platform project.",
            "smithy.api#httpQuery": "projectId"
          }
        },
        "regions": {
          "target": "com.gcp.oslogin_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The regions to which to assert that the key was written. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region.",
            "smithy.api#httpQuery": "regions"
          }
        },
        "body": {
          "target": "com.gcp.oslogin_v1#SshPublicKey",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#ImportSshPublicKeyUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#ImportSshPublicKeyUsersRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#ImportSshPublicKeyResponse"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}:importSshPublicKey"
        },
        "smithy.api#documentation": "Adds an SSH public key and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile."
      }
    },
    "com.gcp.oslogin_v1#GetLoginProfileUsersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID for the user in format `users/{user}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A system ID for filtering the results of the request.",
            "smithy.api#httpQuery": "systemId"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project ID of the Google Cloud Platform project.",
            "smithy.api#httpQuery": "projectId"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#GetLoginProfileUsers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#GetLoginProfileUsersRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#LoginProfile"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/loginProfile"
        },
        "smithy.api#documentation": "Retrieves the profile information used for logging in to a virtual machine on Google Compute Engine."
      }
    },
    "com.gcp.oslogin_v1#PatchUsersSshPublicKeysRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mask to control which fields get updated. Updates all if not present.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.oslogin_v1#SshPublicKey",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#PatchUsersSshPublicKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#PatchUsersSshPublicKeysRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#SshPublicKey"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an SSH public key and returns the profile information. This method supports patch semantics."
      }
    },
    "com.gcp.oslogin_v1#GetUsersSshPublicKeysRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fingerprint of the public key to retrieve. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.oslogin_v1#GetUsersSshPublicKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#GetUsersSshPublicKeysRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#SshPublicKey"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves an SSH public key."
      }
    },
    "com.gcp.oslogin_v1#CreateUsersSshPublicKeysRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID for the user in format `users/{user}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.oslogin_v1#SshPublicKey",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#CreateUsersSshPublicKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#CreateUsersSshPublicKeysRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#SshPublicKey"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/sshPublicKeys"
        },
        "smithy.api#documentation": "Create an SSH public key"
      }
    },
    "com.gcp.oslogin_v1#DeleteUsersSshPublicKeysRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.oslogin_v1#DeleteUsersSshPublicKeys": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#DeleteUsersSshPublicKeysRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an SSH public key."
      }
    },
    "com.gcp.oslogin_v1#DeleteUsersProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A reference to the POSIX account to update. POSIX accounts are identified by the project ID they are associated with. A reference to the POSIX account is in format `users/{user}/projects/{project}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.oslogin_v1#DeleteUsersProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#DeleteUsersProjectsRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a POSIX account."
      }
    },
    "com.gcp.oslogin_v1#ProvisionPosixAccountUsersProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID for the user in format `users/{user}/projects/{project}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.oslogin_v1#ProvisionPosixAccountRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.oslogin_v1#ProvisionPosixAccountUsersProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.oslogin_v1#ProvisionPosixAccountUsersProjectsRequest"
      },
      "output": {
        "target": "com.gcp.oslogin_v1#PosixAccount"
      },
      "errors": [
        {
          "target": "com.gcp.oslogin_v1#NotFound"
        },
        {
          "target": "com.gcp.oslogin_v1#Forbidden"
        },
        {
          "target": "com.gcp.oslogin_v1#BadRequest"
        },
        {
          "target": "com.gcp.oslogin_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Adds a POSIX account and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile."
      }
    }
  }
}
