{
  "smithy": "2.0",
  "metadata": {
    "service": "people",
    "version": "v1",
    "title": "People API",
    "baseUrl": "https://people.googleapis.com/"
  },
  "shapes": {
    "com.gcp.people_v1#AgeRangeType": {
      "type": "structure",
      "members": {
        "ageRange": {
          "target": "com.gcp.people_v1#AgeRangeTypeAgeRangeEnum",
          "traits": {
            "smithy.api#documentation": "The age range."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the age range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's age range."
      }
    },
    "com.gcp.people_v1#AgeRangeTypeAgeRangeEnum": {
      "type": "enum",
      "members": {
        "AGE_RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNSPECIFIED"
          }
        },
        "LESS_THAN_EIGHTEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_EIGHTEEN"
          }
        },
        "EIGHTEEN_TO_TWENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EIGHTEEN_TO_TWENTY"
          }
        },
        "TWENTY_ONE_OR_OLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_ONE_OR_OLDER"
          }
        }
      }
    },
    "com.gcp.people_v1#Skill": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The skill; for example, `underwater basket weaving`."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the skill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A skill that the person has."
      }
    },
    "com.gcp.people_v1#SearchResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.people_v1#SearchResultList",
          "traits": {
            "smithy.api#documentation": "The results of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a search request for the authenticated user, given a query."
      }
    },
    "com.gcp.people_v1#SearchResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#SearchResult"
      }
    },
    "com.gcp.people_v1#Residence": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the residence."
          }
        },
        "current": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the residence is the person's current residence; false if the residence is a past residence."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the residence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence."
      }
    },
    "com.gcp.people_v1#Occupation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the occupation."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The occupation; for example, `carpenter`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's occupation."
      }
    },
    "com.gcp.people_v1#ContactGroupMembership": {
      "type": "structure",
      "members": {
        "contactGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The contact group ID for the contact group membership."
          }
        },
        "contactGroupResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Google contact group membership."
      }
    },
    "com.gcp.people_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.people_v1#ModifyContactGroupMembersRequest": {
      "type": "structure",
      "members": {
        "resourceNamesToAdd": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
          }
        },
        "resourceNamesToRemove": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups."
      }
    },
    "com.gcp.people_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.people_v1#Organization": {
      "type": "structure",
      "members": {
        "phoneticName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phonetic name of the organization."
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the organization."
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym."
          }
        },
        "department": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's department at the organization."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's job title at the organization."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name associated with the organization; for example, `google.com`."
          }
        },
        "fullTimeEquivalentMillipercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The person's full-time equivalent millipercent within the organization (100000 = 100%)."
          }
        },
        "endDate": {
          "target": "com.gcp.people_v1#People_Date",
          "traits": {
            "smithy.api#documentation": "The end date when the person left the organization."
          }
        },
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's cost center at the organization."
          }
        },
        "startDate": {
          "target": "com.gcp.people_v1#People_Date",
          "traits": {
            "smithy.api#documentation": "The start date when the person joined the organization."
          }
        },
        "current": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the organization is the person's current organization; false if the organization is a past organization."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the organization office the person works at."
          }
        },
        "jobDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's job description at the organization."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the organization."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's past or current organization. Overlapping date ranges are permitted."
      }
    },
    "com.gcp.people_v1#UserDefined": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end user specified key of the user defined data."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the user defined data."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end user specified value of the user defined data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary user data that is populated by the end users."
      }
    },
    "com.gcp.people_v1#Gender": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the gender."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
          }
        },
        "addressMeAs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`"
          }
        },
        "formattedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's gender."
      }
    },
    "com.gcp.people_v1#Event": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the event."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
          }
        },
        "date": {
          "target": "com.gcp.people_v1#People_Date",
          "traits": {
            "smithy.api#documentation": "The date of the event."
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event related to the person."
      }
    },
    "com.gcp.people_v1#ContactGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
          }
        },
        "formattedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
          }
        },
        "memberCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of contacts in the group irrespective of max members in specified in the request."
          }
        },
        "groupType": {
          "target": "com.gcp.people_v1#ContactGroupGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The contact group type."
          }
        },
        "memberResourceNames": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#ContactGroupMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the contact group."
          }
        },
        "clientData": {
          "target": "com.gcp.people_v1#GroupClientDataList",
          "traits": {
            "smithy.api#documentation": "The group's client data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contact group."
      }
    },
    "com.gcp.people_v1#ContactGroupGroupTypeEnum": {
      "type": "enum",
      "members": {
        "GROUP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_TYPE_UNSPECIFIED"
          }
        },
        "USER_CONTACT_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CONTACT_GROUP"
          }
        },
        "SYSTEM_CONTACT_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_CONTACT_GROUP"
          }
        }
      }
    },
    "com.gcp.people_v1#GroupClientDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#GroupClientData"
      }
    },
    "com.gcp.people_v1#People_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.people_v1#PersonResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.people_v1#Status",
          "traits": {
            "smithy.api#documentation": "The status of the response."
          }
        },
        "requestedResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
          }
        },
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)."
          }
        },
        "person": {
          "target": "com.gcp.people_v1#Person",
          "traits": {
            "smithy.api#documentation": "The person."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for a single person"
      }
    },
    "com.gcp.people_v1#Url": {
      "type": "structure",
      "members": {
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the URL."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's associated URLs."
      }
    },
    "com.gcp.people_v1#CopyOtherContactToMyContactsGroupRequest": {
      "type": "structure",
      "members": {
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
          }
        },
        "sources": {
          "target": "com.gcp.people_v1#CopyOtherContactToMyContactsGroupRequestSourcesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
          }
        },
        "copyMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to copy an \"Other contact\" to my contacts group."
      }
    },
    "com.gcp.people_v1#CopyOtherContactToMyContactsGroupRequestSourcesItemEnum": {
      "type": "enum",
      "members": {
        "READ_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "READ_SOURCE_TYPE_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_PROFILE"
          }
        },
        "READ_SOURCE_TYPE_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_DOMAIN_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_DOMAIN_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_OTHER_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_OTHER_CONTACT"
          }
        }
      }
    },
    "com.gcp.people_v1#CopyOtherContactToMyContactsGroupRequestSourcesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#CopyOtherContactToMyContactsGroupRequestSourcesItemEnum"
      }
    },
    "com.gcp.people_v1#BatchCreateContactsResponse": {
      "type": "structure",
      "members": {
        "createdPeople": {
          "target": "com.gcp.people_v1#PersonResponseList",
          "traits": {
            "smithy.api#documentation": "The contacts that were created, unless the request `read_mask` is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts."
      }
    },
    "com.gcp.people_v1#PersonResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#PersonResponse"
      }
    },
    "com.gcp.people_v1#Name": {
      "type": "structure",
      "members": {
        "phoneticGivenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given name spelled as it sounds."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
          }
        },
        "unstructuredName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free form name value."
          }
        },
        "phoneticFullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name spelled as it sounds."
          }
        },
        "honorificPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The honorific prefixes, such as `Mrs.` or `Dr.`"
          }
        },
        "phoneticHonorificPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The honorific prefixes spelled as they sound."
          }
        },
        "phoneticHonorificSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The honorific suffixes spelled as they sound."
          }
        },
        "honorificSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The honorific suffixes, such as `Jr.`"
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family name."
          }
        },
        "middleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The middle name(s)."
          }
        },
        "phoneticMiddleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The middle name(s) spelled as they sound."
          }
        },
        "phoneticFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family name spelled as it sounds."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the name."
          }
        },
        "displayNameLastFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's name. If the name is a mononym, the family name is empty."
      }
    },
    "com.gcp.people_v1#UpdateContactGroupRequest": {
      "type": "structure",
      "members": {
        "contactGroup": {
          "target": "com.gcp.people_v1#ContactGroup",
          "traits": {
            "smithy.api#documentation": "Required. The contact group to update."
          }
        },
        "updateGroupFields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name"
          }
        },
        "readGroupFields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update an existing user contact group. All updated fields will be replaced."
      }
    },
    "com.gcp.people_v1#Membership": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the membership."
          }
        },
        "domainMembership": {
          "target": "com.gcp.people_v1#DomainMembership",
          "traits": {
            "smithy.api#documentation": "Output only. The domain membership."
          }
        },
        "contactGroupMembership": {
          "target": "com.gcp.people_v1#ContactGroupMembership",
          "traits": {
            "smithy.api#documentation": "The contact group membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's membership in a group. Only contact group memberships can be modified."
      }
    },
    "com.gcp.people_v1#GetPeopleResponse": {
      "type": "structure",
      "members": {
        "responses": {
          "target": "com.gcp.people_v1#PersonResponseList",
          "traits": {
            "smithy.api#documentation": "The response for each requested resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a get request for a list of people by resource name."
      }
    },
    "com.gcp.people_v1#GroupClientData": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client specified key of the client data."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client specified value of the client data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
      }
    },
    "com.gcp.people_v1#ClientData": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client specified key of the client data."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client specified value of the client data."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the client data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
      }
    },
    "com.gcp.people_v1#SearchResult": {
      "type": "structure",
      "members": {
        "person": {
          "target": "com.gcp.people_v1#Person",
          "traits": {
            "smithy.api#documentation": "The matched Person."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A result of a search query."
      }
    },
    "com.gcp.people_v1#FileAs": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file-as value"
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the file-as."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name that should be used to sort the person in a list."
      }
    },
    "com.gcp.people_v1#ContactGroupMetadata": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the group was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata about a contact group."
      }
    },
    "com.gcp.people_v1#Relation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the relation."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
          }
        },
        "person": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the other person this relation refers to."
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's relation to another person."
      }
    },
    "com.gcp.people_v1#ExternalId": {
      "type": "structure",
      "members": {
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the external ID."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the external ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An identifier from an external entity related to the person."
      }
    },
    "com.gcp.people_v1#PhoneNumber": {
      "type": "structure",
      "members": {
        "canonicalForm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number."
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the phone number."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's phone number."
      }
    },
    "com.gcp.people_v1#ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.people_v1#PersonList",
          "traits": {
            "smithy.api#documentation": "The list of people that the requestor is connected to."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items in the list without pagination."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalPeople": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request for the authenticated user's connections."
      }
    },
    "com.gcp.people_v1#PersonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Person"
      }
    },
    "com.gcp.people_v1#Locale": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the locale."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's locale preference."
      }
    },
    "com.gcp.people_v1#Location": {
      "type": "structure",
      "members": {
        "buildingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The building identifier."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the location."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
          }
        },
        "current": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the location is the current location."
          }
        },
        "floor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The floor name or number."
          }
        },
        "deskCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The individual desk location."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free-form value of the location."
          }
        },
        "floorSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The floor section in `floor_name`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's location."
      }
    },
    "com.gcp.people_v1#FieldMetadata": {
      "type": "structure",
      "members": {
        "sourcePrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person."
          }
        },
        "source": {
          "target": "com.gcp.people_v1#Source",
          "traits": {
            "smithy.api#documentation": "The source of the field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a field."
      }
    },
    "com.gcp.people_v1#Interest": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The interest; for example, `stargazing`."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the interest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One of the person's interests."
      }
    },
    "com.gcp.people_v1#ContactGroupResponse": {
      "type": "structure",
      "members": {
        "contactGroup": {
          "target": "com.gcp.people_v1#ContactGroup",
          "traits": {
            "smithy.api#documentation": "The contact group."
          }
        },
        "requestedResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original requested resource name."
          }
        },
        "status": {
          "target": "com.gcp.people_v1#Status",
          "traits": {
            "smithy.api#documentation": "The status of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for a specific contact group."
      }
    },
    "com.gcp.people_v1#ListContactGroupsResponse": {
      "type": "structure",
      "members": {
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used to retrieve changes since the last request."
          }
        },
        "contactGroups": {
          "target": "com.gcp.people_v1#ContactGroupList",
          "traits": {
            "smithy.api#documentation": "The list of contact groups. Members of the contact groups are not populated."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items in the list without pagination."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a list contact groups request."
      }
    },
    "com.gcp.people_v1#ContactGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ContactGroup"
      }
    },
    "com.gcp.people_v1#ProfileMetadata": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "com.gcp.people_v1#ProfileMetadataObjectTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The profile object type."
          }
        },
        "userTypes": {
          "target": "com.gcp.people_v1#ProfileMetadataUserTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The user types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata about a profile."
      }
    },
    "com.gcp.people_v1#ProfileMetadataObjectTypeEnum": {
      "type": "enum",
      "members": {
        "OBJECT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_TYPE_UNSPECIFIED"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSON"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        }
      }
    },
    "com.gcp.people_v1#ProfileMetadataUserTypesItemEnum": {
      "type": "enum",
      "members": {
        "USER_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_TYPE_UNKNOWN"
          }
        },
        "GOOGLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_USER"
          }
        },
        "GPLUS_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPLUS_USER"
          }
        },
        "GOOGLE_APPS_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_APPS_USER"
          }
        }
      }
    },
    "com.gcp.people_v1#ProfileMetadataUserTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ProfileMetadataUserTypesItemEnum"
      }
    },
    "com.gcp.people_v1#ContactToCreate": {
      "type": "structure",
      "members": {
        "contactPerson": {
          "target": "com.gcp.people_v1#Person",
          "traits": {
            "smithy.api#documentation": "Required. The person data to populate a newly created source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper that contains the person data to populate a newly created source."
      }
    },
    "com.gcp.people_v1#CoverPhoto": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the cover photo."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the cover photo."
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about."
      }
    },
    "com.gcp.people_v1#ListOtherContactsResponse": {
      "type": "structure",
      "members": {
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
          }
        },
        "otherContacts": {
          "target": "com.gcp.people_v1#PersonList",
          "traits": {
            "smithy.api#documentation": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of other contacts in the list without pagination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request for the authenticated user's \"Other contacts\"."
      }
    },
    "com.gcp.people_v1#Photo": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50"
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the photo."
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the photo is a default photo; false if the photo is a user-provided photo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's photo. A picture shown next to the person's name to help others recognize the person."
      }
    },
    "com.gcp.people_v1#Tagline": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the tagline."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tagline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: No data will be returned A brief one-line description of the person."
      }
    },
    "com.gcp.people_v1#ListDirectoryPeopleResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "people": {
          "target": "com.gcp.people_v1#PersonList",
          "traits": {
            "smithy.api#documentation": "The list of people in the domain directory."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request for the authenticated user's domain directory."
      }
    },
    "com.gcp.people_v1#SearchDirectoryPeopleResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items in the list without pagination."
          }
        },
        "people": {
          "target": "com.gcp.people_v1#PersonList",
          "traits": {
            "smithy.api#documentation": "The list of people in the domain directory that match the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request for people in the authenticated user's domain directory that match the specified query."
      }
    },
    "com.gcp.people_v1#SipAddress": {
      "type": "structure",
      "members": {
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the SIP address."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet."
      }
    },
    "com.gcp.people_v1#Birthday": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.gcp.people_v1#People_Date",
          "traits": {
            "smithy.api#documentation": "The structured date of the birthday."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the birthday."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
      }
    },
    "com.gcp.people_v1#ModifyContactGroupMembersResponse": {
      "type": "structure",
      "members": {
        "notFoundResourceNames": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The contact people resource names that were not found."
          }
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The contact people resource names that cannot be removed from their last contact group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a modify contact group members request."
      }
    },
    "com.gcp.people_v1#CalendarUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The calendar URL."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the calendar URL."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's calendar URL."
      }
    },
    "com.gcp.people_v1#DomainMembership": {
      "type": "structure",
      "members": {
        "inViewerDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the person is in the viewer's Google Workspace domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Google Workspace Domain membership."
      }
    },
    "com.gcp.people_v1#BatchCreateContactsRequest": {
      "type": "structure",
      "members": {
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
          }
        },
        "sources": {
          "target": "com.gcp.people_v1#BatchCreateContactsRequestSourcesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
          }
        },
        "contacts": {
          "target": "com.gcp.people_v1#ContactToCreateList",
          "traits": {
            "smithy.api#documentation": "Required. The contact to create. Allows up to 200 contacts in a single request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to create a batch of contacts."
      }
    },
    "com.gcp.people_v1#BatchCreateContactsRequestSourcesItemEnum": {
      "type": "enum",
      "members": {
        "READ_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "READ_SOURCE_TYPE_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_PROFILE"
          }
        },
        "READ_SOURCE_TYPE_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_DOMAIN_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_DOMAIN_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_OTHER_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_OTHER_CONTACT"
          }
        }
      }
    },
    "com.gcp.people_v1#BatchCreateContactsRequestSourcesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#BatchCreateContactsRequestSourcesItemEnum"
      }
    },
    "com.gcp.people_v1#ContactToCreateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ContactToCreate"
      }
    },
    "com.gcp.people_v1#UpdateContactPhotoRequest": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.people_v1#UpdateContactPhotoRequestSourcesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
          }
        },
        "photoBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Raw photo bytes"
          }
        },
        "personFields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG."
      }
    },
    "com.gcp.people_v1#UpdateContactPhotoRequestSourcesItemEnum": {
      "type": "enum",
      "members": {
        "READ_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "READ_SOURCE_TYPE_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_PROFILE"
          }
        },
        "READ_SOURCE_TYPE_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_DOMAIN_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_DOMAIN_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_OTHER_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_OTHER_CONTACT"
          }
        }
      }
    },
    "com.gcp.people_v1#UpdateContactPhotoRequestSourcesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#UpdateContactPhotoRequestSourcesItemEnum"
      }
    },
    "com.gcp.people_v1#BatchGetContactGroupsResponse": {
      "type": "structure",
      "members": {
        "responses": {
          "target": "com.gcp.people_v1#ContactGroupResponseList",
          "traits": {
            "smithy.api#documentation": "The list of responses for each requested contact group resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a batch get contact groups request."
      }
    },
    "com.gcp.people_v1#ContactGroupResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ContactGroupResponse"
      }
    },
    "com.gcp.people_v1#ImClient": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "formattedProtocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user name used in the IM client."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the IM client."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's instant messaging client."
      }
    },
    "com.gcp.people_v1#MiscKeyword": {
      "type": "structure",
      "members": {
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the miscellaneous keyword."
          }
        },
        "type": {
          "target": "com.gcp.people_v1#MiscKeywordTypeEnum",
          "traits": {
            "smithy.api#documentation": "The miscellaneous keyword type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the miscellaneous keyword."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's miscellaneous keyword."
      }
    },
    "com.gcp.people_v1#MiscKeywordTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "OUTLOOK_BILLING_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_BILLING_INFORMATION"
          }
        },
        "OUTLOOK_DIRECTORY_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_DIRECTORY_SERVER"
          }
        },
        "OUTLOOK_KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_KEYWORD"
          }
        },
        "OUTLOOK_MILEAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_MILEAGE"
          }
        },
        "OUTLOOK_PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_PRIORITY"
          }
        },
        "OUTLOOK_SENSITIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_SENSITIVITY"
          }
        },
        "OUTLOOK_SUBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_SUBJECT"
          }
        },
        "OUTLOOK_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLOOK_USER"
          }
        },
        "HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME"
          }
        },
        "WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORK"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.people_v1#RelationshipStatus": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the relationship status."
          }
        },
        "formattedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: No data will be returned A person's relationship status."
      }
    },
    "com.gcp.people_v1#DeleteContactPhotoResponse": {
      "type": "structure",
      "members": {
        "person": {
          "target": "com.gcp.people_v1#Person",
          "traits": {
            "smithy.api#documentation": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for deleting a contact's photo."
      }
    },
    "com.gcp.people_v1#Biography": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short biography."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the biography."
          }
        },
        "contentType": {
          "target": "com.gcp.people_v1#BiographyContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "The content type of the biography."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's short biography."
      }
    },
    "com.gcp.people_v1#BiographyContentTypeEnum": {
      "type": "enum",
      "members": {
        "CONTENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_TYPE_UNSPECIFIED"
          }
        },
        "TEXT_PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_PLAIN"
          }
        },
        "TEXT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_HTML"
          }
        }
      }
    },
    "com.gcp.people_v1#BatchUpdateContactsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
          }
        },
        "readMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
          }
        },
        "sources": {
          "target": "com.gcp.people_v1#BatchUpdateContactsRequestSourcesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
          }
        },
        "contacts": {
          "target": "com.gcp.people_v1#PersonMap",
          "traits": {
            "smithy.api#documentation": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update a batch of contacts."
      }
    },
    "com.gcp.people_v1#BatchUpdateContactsRequestSourcesItemEnum": {
      "type": "enum",
      "members": {
        "READ_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "READ_SOURCE_TYPE_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_PROFILE"
          }
        },
        "READ_SOURCE_TYPE_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_DOMAIN_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_DOMAIN_CONTACT"
          }
        },
        "READ_SOURCE_TYPE_OTHER_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_SOURCE_TYPE_OTHER_CONTACT"
          }
        }
      }
    },
    "com.gcp.people_v1#BatchUpdateContactsRequestSourcesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#BatchUpdateContactsRequestSourcesItemEnum"
      }
    },
    "com.gcp.people_v1#PersonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.people_v1#Person"
      }
    },
    "com.gcp.people_v1#UpdateContactPhotoResponse": {
      "type": "structure",
      "members": {
        "person": {
          "target": "com.gcp.people_v1#Person",
          "traits": {
            "smithy.api#documentation": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for updating a contact's photo."
      }
    },
    "com.gcp.people_v1#BraggingRights": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the bragging rights."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bragging rights; for example, `climbed mount everest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: No data will be returned A person's bragging rights."
      }
    },
    "com.gcp.people_v1#BatchUpdateContactsResponse": {
      "type": "structure",
      "members": {
        "updateResult": {
          "target": "com.gcp.people_v1#PersonResponseMap",
          "traits": {
            "smithy.api#documentation": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
      }
    },
    "com.gcp.people_v1#PersonResponseMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.people_v1#PersonResponse"
      }
    },
    "com.gcp.people_v1#RelationshipInterest": {
      "type": "structure",
      "members": {
        "formattedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the relationship interest."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: No data will be returned A person's relationship interest ."
      }
    },
    "com.gcp.people_v1#BatchDeleteContactsRequest": {
      "type": "structure",
      "members": {
        "resourceNames": {
          "target": "com.gcp.people_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to delete a batch of existing contacts."
      }
    },
    "com.gcp.people_v1#Person": {
      "type": "structure",
      "members": {
        "emailAddresses": {
          "target": "com.gcp.people_v1#EmailAddressList",
          "traits": {
            "smithy.api#documentation": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople."
          }
        },
        "userDefined": {
          "target": "com.gcp.people_v1#UserDefinedList",
          "traits": {
            "smithy.api#documentation": "The person's user defined data."
          }
        },
        "photos": {
          "target": "com.gcp.people_v1#PhotoList",
          "traits": {
            "smithy.api#documentation": "Output only. The person's photos."
          }
        },
        "events": {
          "target": "com.gcp.people_v1#EventList",
          "traits": {
            "smithy.api#documentation": "The person's events."
          }
        },
        "clientData": {
          "target": "com.gcp.people_v1#ClientDataList",
          "traits": {
            "smithy.api#documentation": "The person's client data."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
          }
        },
        "relationshipInterests": {
          "target": "com.gcp.people_v1#RelationshipInterestList",
          "traits": {
            "smithy.api#documentation": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests."
          }
        },
        "birthdays": {
          "target": "com.gcp.people_v1#BirthdayList",
          "traits": {
            "smithy.api#documentation": "The person's birthdays. This field is a singleton for contact sources."
          }
        },
        "imClients": {
          "target": "com.gcp.people_v1#ImClientList",
          "traits": {
            "smithy.api#documentation": "The person's instant messaging clients."
          }
        },
        "urls": {
          "target": "com.gcp.people_v1#UrlList",
          "traits": {
            "smithy.api#documentation": "The person's associated URLs."
          }
        },
        "biographies": {
          "target": "com.gcp.people_v1#BiographyList",
          "traits": {
            "smithy.api#documentation": "The person's biographies. This field is a singleton for contact sources."
          }
        },
        "braggingRights": {
          "target": "com.gcp.people_v1#BraggingRightsList",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED**: No data will be returned The person's bragging rights."
          }
        },
        "names": {
          "target": "com.gcp.people_v1#NameList",
          "traits": {
            "smithy.api#documentation": "The person's names. This field is a singleton for contact sources."
          }
        },
        "relations": {
          "target": "com.gcp.people_v1#RelationList",
          "traits": {
            "smithy.api#documentation": "The person's relations."
          }
        },
        "locations": {
          "target": "com.gcp.people_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "The person's locations."
          }
        },
        "locales": {
          "target": "com.gcp.people_v1#LocaleList",
          "traits": {
            "smithy.api#documentation": "The person's locale preferences."
          }
        },
        "addresses": {
          "target": "com.gcp.people_v1#AddressList",
          "traits": {
            "smithy.api#documentation": "The person's street addresses."
          }
        },
        "miscKeywords": {
          "target": "com.gcp.people_v1#MiscKeywordList",
          "traits": {
            "smithy.api#documentation": "The person's miscellaneous keywords."
          }
        },
        "ageRanges": {
          "target": "com.gcp.people_v1#AgeRangeTypeList",
          "traits": {
            "smithy.api#documentation": "Output only. The person's age ranges."
          }
        },
        "memberships": {
          "target": "com.gcp.people_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "The person's group memberships."
          }
        },
        "occupations": {
          "target": "com.gcp.people_v1#OccupationList",
          "traits": {
            "smithy.api#documentation": "The person's occupations."
          }
        },
        "residences": {
          "target": "com.gcp.people_v1#ResidenceList",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
          }
        },
        "relationshipStatuses": {
          "target": "com.gcp.people_v1#RelationshipStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses."
          }
        },
        "coverPhotos": {
          "target": "com.gcp.people_v1#CoverPhotoList",
          "traits": {
            "smithy.api#documentation": "Output only. The person's cover photos."
          }
        },
        "ageRange": {
          "target": "com.gcp.people_v1#PersonAgeRangeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range."
          }
        },
        "sipAddresses": {
          "target": "com.gcp.people_v1#SipAddressList",
          "traits": {
            "smithy.api#documentation": "The person's SIP addresses."
          }
        },
        "genders": {
          "target": "com.gcp.people_v1#GenderList",
          "traits": {
            "smithy.api#documentation": "The person's genders. This field is a singleton for contact sources."
          }
        },
        "externalIds": {
          "target": "com.gcp.people_v1#ExternalIdList",
          "traits": {
            "smithy.api#documentation": "The person's external IDs."
          }
        },
        "calendarUrls": {
          "target": "com.gcp.people_v1#CalendarUrlList",
          "traits": {
            "smithy.api#documentation": "The person's calendar URLs."
          }
        },
        "nicknames": {
          "target": "com.gcp.people_v1#NicknameList",
          "traits": {
            "smithy.api#documentation": "The person's nicknames."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#PersonMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the person."
          }
        },
        "taglines": {
          "target": "com.gcp.people_v1#TaglineList",
          "traits": {
            "smithy.api#documentation": "Output only. **DEPRECATED**: No data will be returned The person's taglines."
          }
        },
        "interests": {
          "target": "com.gcp.people_v1#InterestList",
          "traits": {
            "smithy.api#documentation": "The person's interests."
          }
        },
        "phoneNumbers": {
          "target": "com.gcp.people_v1#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
          }
        },
        "fileAses": {
          "target": "com.gcp.people_v1#FileAsList",
          "traits": {
            "smithy.api#documentation": "The person's file-ases."
          }
        },
        "organizations": {
          "target": "com.gcp.people_v1#OrganizationList",
          "traits": {
            "smithy.api#documentation": "The person's past or current organizations."
          }
        },
        "skills": {
          "target": "com.gcp.people_v1#SkillList",
          "traits": {
            "smithy.api#documentation": "The person's skills."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true."
      }
    },
    "com.gcp.people_v1#EmailAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#EmailAddress"
      }
    },
    "com.gcp.people_v1#UserDefinedList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#UserDefined"
      }
    },
    "com.gcp.people_v1#PhotoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Photo"
      }
    },
    "com.gcp.people_v1#EventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Event"
      }
    },
    "com.gcp.people_v1#ClientDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ClientData"
      }
    },
    "com.gcp.people_v1#RelationshipInterestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#RelationshipInterest"
      }
    },
    "com.gcp.people_v1#BirthdayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Birthday"
      }
    },
    "com.gcp.people_v1#ImClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ImClient"
      }
    },
    "com.gcp.people_v1#UrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Url"
      }
    },
    "com.gcp.people_v1#BiographyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Biography"
      }
    },
    "com.gcp.people_v1#BraggingRightsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#BraggingRights"
      }
    },
    "com.gcp.people_v1#NameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Name"
      }
    },
    "com.gcp.people_v1#RelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Relation"
      }
    },
    "com.gcp.people_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Location"
      }
    },
    "com.gcp.people_v1#LocaleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Locale"
      }
    },
    "com.gcp.people_v1#AddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Address"
      }
    },
    "com.gcp.people_v1#MiscKeywordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#MiscKeyword"
      }
    },
    "com.gcp.people_v1#AgeRangeTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#AgeRangeType"
      }
    },
    "com.gcp.people_v1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Membership"
      }
    },
    "com.gcp.people_v1#OccupationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Occupation"
      }
    },
    "com.gcp.people_v1#ResidenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Residence"
      }
    },
    "com.gcp.people_v1#RelationshipStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#RelationshipStatus"
      }
    },
    "com.gcp.people_v1#CoverPhotoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#CoverPhoto"
      }
    },
    "com.gcp.people_v1#PersonAgeRangeEnum": {
      "type": "enum",
      "members": {
        "AGE_RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE_UNSPECIFIED"
          }
        },
        "LESS_THAN_EIGHTEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_EIGHTEEN"
          }
        },
        "EIGHTEEN_TO_TWENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EIGHTEEN_TO_TWENTY"
          }
        },
        "TWENTY_ONE_OR_OLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_ONE_OR_OLDER"
          }
        }
      }
    },
    "com.gcp.people_v1#SipAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#SipAddress"
      }
    },
    "com.gcp.people_v1#GenderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Gender"
      }
    },
    "com.gcp.people_v1#ExternalIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#ExternalId"
      }
    },
    "com.gcp.people_v1#CalendarUrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#CalendarUrl"
      }
    },
    "com.gcp.people_v1#NicknameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Nickname"
      }
    },
    "com.gcp.people_v1#TaglineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Tagline"
      }
    },
    "com.gcp.people_v1#InterestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Interest"
      }
    },
    "com.gcp.people_v1#PhoneNumberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#PhoneNumber"
      }
    },
    "com.gcp.people_v1#FileAsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#FileAs"
      }
    },
    "com.gcp.people_v1#OrganizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Organization"
      }
    },
    "com.gcp.people_v1#SkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.people_v1#Skill"
      }
    },
    "com.gcp.people_v1#CreateContactGroupRequest": {
      "type": "structure",
      "members": {
        "contactGroup": {
          "target": "com.gcp.people_v1#ContactGroup",
          "traits": {
            "smithy.api#documentation": "Required. The contact group to create."
          }
        },
        "readGroupFields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to create a new contact group."
      }
    },
    "com.gcp.people_v1#Address": {
      "type": "structure",
      "members": {
        "poBox": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The P.O. box of the address."
          }
        },
        "streetAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street address."
          }
        },
        "extendedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended address of the address; for example, the apartment number."
          }
        },
        "formattedType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The city of the address."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country of the address."
          }
        },
        "formattedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the address; for example, the state or province."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code of the address."
          }
        },
        "metadata": {
          "target": "com.gcp.people_v1#FieldMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the address."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's physical address. May be a P.O. box or street address. All fields are optional."
      }
    },
    "com.gcp.people_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
[...]
