{
  "smithy": "2.0",
  "metadata": {
    "service": "places",
    "version": "v1",
    "title": "Places API (New)",
    "baseUrl": "https://places.googleapis.com/"
  },
  "shapes": {
    "com.gcp.places_v1#GoogleTypeTimeZone": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptor": {
      "type": "structure",
      "members": {
        "landmarks": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmarkList",
          "traits": {
            "smithy.api#documentation": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first."
          }
        },
        "areas": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorAreaList",
          "traits": {
            "smithy.api#documentation": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmarkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmark"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorAreaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorArea"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1TransitAgency": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the agency's homepage."
          }
        },
        "displayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "Agency name (e.g. \"VTA\") in the requested language."
          }
        },
        "fareUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the agency's fare details page."
          }
        },
        "icon": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1TransitIcon",
          "traits": {
            "smithy.api#documentation": "Icon identifier for localized branded icon of a transit system (e.g. London Underground) which should be used instead of TransitLine.vehicle_icon in the UI."
          }
        },
        "lines": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1TransitLineList",
          "traits": {
            "smithy.api#documentation": "The transit lines that are served by this agency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a transit agency."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1TransitLineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1TransitLine"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceContainingPlace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the place in which this place is located."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The place id of the place in which this place is located."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Info about the place in which this place is located."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParameters": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.gcp.places_v1#GoogleTypeLatLng",
          "traits": {
            "smithy.api#documentation": "Optional. An explicit routing origin that overrides the origin defined in the polyline. By default, the polyline origin is used."
          }
        },
        "routeModifiers": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RouteModifiers",
          "traits": {
            "smithy.api#documentation": "Optional. The route modifiers."
          }
        },
        "travelMode": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParametersTravelModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The travel mode."
          }
        },
        "routingPreference": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParametersRoutingPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies how to compute the routing summaries. The server attempts to use the selected routing preference to compute the route. The traffic aware routing preference is only available for the `DRIVE` or `TWO_WHEELER` `travelMode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters to configure the routing calculations to the places in the response, both along a route (where result ranking will be influenced) and for calculating travel times on results."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParametersTravelModeEnum": {
      "type": "enum",
      "members": {
        "TRAVEL_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL_MODE_UNSPECIFIED"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE"
          }
        },
        "BICYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BICYCLE"
          }
        },
        "WALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WALK"
          }
        },
        "TWO_WHEELER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_WHEELER"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParametersRoutingPreferenceEnum": {
      "type": "enum",
      "members": {
        "ROUTING_PREFERENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTING_PREFERENCE_UNSPECIFIED"
          }
        },
        "TRAFFIC_UNAWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_UNAWARE"
          }
        },
        "TRAFFIC_AWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_AWARE"
          }
        },
        "TRAFFIC_AWARE_OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_AWARE_OPTIMAL"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlacePaymentOptions": {
      "type": "structure",
      "members": {
        "acceptsCreditCards": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place accepts credit cards as payment."
          }
        },
        "acceptsNfc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place accepts NFC payments."
          }
        },
        "acceptsDebitCards": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place accepts debit cards as payment."
          }
        },
        "acceptsCashOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payment options the place accepts."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1Circle": {
      "type": "structure",
      "members": {
        "center": {
          "target": "com.gcp.places_v1#GoogleTypeLatLng",
          "traits": {
            "smithy.api#documentation": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
          }
        },
        "radius": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Circle with a LatLng as center and radius."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "traits": {
            "smithy.api#documentation": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`."
          }
        },
        "structuredFormat": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "traits": {
            "smithy.api#documentation": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Prediction results for a Query Autocomplete prediction."
      }
    },
    "com.gcp.places_v1#GoogleTypeLatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1TransitStop": {
      "type": "structure",
      "members": {
        "stopCode": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "Human readable identifier of the stop, used by transit agencies to distinguish stops with the same name."
          }
        },
        "platformCode": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The platform code represented by this stop. It can be formatted in any way. (eg: \"2\", \"Platform 2\", \"2-4\", or \"1x\")."
          }
        },
        "signageText": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The verbatim text written on the signboard for this platform, e.g. \"Towards Central\" or \"East side & Brooklyn\". When `platform_code` is absent, this field is potentially the only identifier for the platform; however, both `platform_code` and `signage_text` may be set simultaneously."
          }
        },
        "location": {
          "target": "com.gcp.places_v1#GoogleTypeLatLng",
          "traits": {
            "smithy.api#documentation": "The stop's location."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the transit stop that can be used to uniquely identify the stop among other transit stops in the same transit station. This identifier is not guaranteed to be stable across different responses."
          }
        },
        "displayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The name of the stop."
          }
        },
        "wheelchairAccessibleEntrance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Wheelchair accessibility of this stop. This field indicates whether there is an accessible path from outside the station to the stop. It does not indicate whether it is possible to board a vehicle from the stop."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a transit stop within a station. This is a specific location where passengers board and alight transit vehicles, such as a platform or bus bay. This is distinct from a `Departure`, which is an event of a vehicle leaving a stop at a specific time."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "type": "structure",
      "members": {
        "circle": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Circle",
          "traits": {
            "smithy.api#documentation": "A circle defined by center point and radius."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region to search."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchTextResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages."
          }
        },
        "searchUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link allows the user to search with the same text query as specified in the request on Google Maps."
          }
        },
        "places": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceList",
          "traits": {
            "smithy.api#documentation": "A list of places that meet the user's text search criteria."
          }
        },
        "routingSummaries": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummaryList",
          "traits": {
            "smithy.api#documentation": "A list of routing summaries where each entry associates to the corresponding place in the same index in the `places` field. If the routing summary is not available for one of the places, it will contain an empty entry. This list will have as many entries as the list of places if requested."
          }
        },
        "contextualContents": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentList",
          "traits": {
            "smithy.api#documentation": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. A list of contextual contents where each entry associates to the corresponding place in the same index in the places field. The contents that are relevant to the `text_query` in the request are preferred. If the contextual content is not available for one of the places, it will return non-contextual content. It will be empty only when the content is unavailable for this place. This list will have as many entries as the list of places if requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response proto for SearchText. "
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1Place"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummary"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContent"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "type": "structure",
      "members": {
        "mainText": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "traits": {
            "smithy.api#documentation": "Represents the name of the Place or query."
          }
        },
        "secondaryText": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "traits": {
            "smithy.api#documentation": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorArea": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The area's resource name."
          }
        },
        "containment": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorAreaContainmentEnum",
          "traits": {
            "smithy.api#documentation": "Defines the spatial relationship between the target location and the area."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The area's place id."
          }
        },
        "displayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The area's display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Area information and the area's relationship with the target location. Areas includes precise sublocality, neighborhoods, and large compounds that are useful for describing a location."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorAreaContainmentEnum": {
      "type": "enum",
      "members": {
        "CONTAINMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINMENT_UNSPECIFIED"
          }
        },
        "WITHIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN"
          }
        },
        "OUTSKIRTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTSKIRTS"
          }
        },
        "NEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEAR"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "type": "structure",
      "members": {
        "takeout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If a place provides takeout."
          }
        },
        "dineIn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If a place provides dine-in."
          }
        },
        "delivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If a place provides delivery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1Photo": {
      "type": "structure",
      "members": {
        "flagContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link where users can flag a problem with the photo."
          }
        },
        "googleMapsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show the photo on Google Maps."
          }
        },
        "heightPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum available height, in pixels."
          }
        },
        "authorAttributions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AuthorAttributionList",
          "traits": {
            "smithy.api#documentation": "This photo's authors."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`)."
          }
        },
        "widthPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum available width, in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a photo of a place."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AuthorAttributionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1AuthorAttribution"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContent": {
      "type": "structure",
      "members": {
        "justifications": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationList",
          "traits": {
            "smithy.api#documentation": "Justifications for the place."
          }
        },
        "photos": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PhotoList",
          "traits": {
            "smithy.api#documentation": "Information (including references) about photos of this place, contextual to the place query."
          }
        },
        "reviews": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ReviewList",
          "traits": {
            "smithy.api#documentation": "List of reviews about this place, contextual to the place query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Content that is contextual to the place query."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustification"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PhotoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1Photo"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ReviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1Review"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that may be used as is or formatted with `matches`."
          }
        },
        "matches": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRangeList",
          "traits": {
            "smithy.api#documentation": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text representing a Place or query prediction. The text may be used as is or formatted."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptions": {
      "type": "structure",
      "members": {
        "connectorAggregation": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregationList",
          "traits": {
            "smithy.api#documentation": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate."
          }
        },
        "connectorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceReviewSummary": {
      "type": "structure",
      "members": {
        "reviewsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show reviews of this place on Google Maps."
          }
        },
        "text": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The summary of user reviews."
          }
        },
        "flagContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link where users can flag a problem with the summary."
          }
        },
        "disclosureText": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI-generated summary of the place using user reviews."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionList",
          "traits": {
            "smithy.api#documentation": "Contains a list of suggestions, ordered in descending order of relevance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response proto for AutocompletePlaces."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "type": "structure",
      "members": {
        "highlightedTextRanges": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRangeList",
          "traits": {
            "smithy.api#documentation": "The list of the ranges of the highlighted text."
          }
        },
        "text": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAddressComponent": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language used to format this components, in CLDR notation."
          }
        },
        "shortText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
          }
        },
        "types": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An array indicating the type(s) of the address component."
          }
        },
        "longText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The structured components that form the formatted address, if this information is available."
      }
    },
    "com.gcp.places_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RouteModifiers": {
      "type": "structure",
      "members": {
        "avoidFerries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, avoids ferries where reasonable, giving preference to routes not containing ferries. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
          }
        },
        "avoidIndoor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, avoids navigating indoors where reasonable, giving preference to routes not containing indoor navigation. Applies only to the `WALK` `TravelMode`."
          }
        },
        "avoidHighways": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, avoids highways where reasonable, giving preference to routes not containing highways. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
          }
        },
        "avoidTolls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, avoids toll roads where reasonable, giving preference to routes not containing toll roads. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates a set of optional conditions to satisfy when calculating the routes."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PhotoMedia": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`."
          }
        },
        "photoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short-lived uri that can be used to render the photo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A photo media from Places API."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAttribution": {
      "type": "structure",
      "members": {
        "providerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI to the Place's data provider."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Place's data provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about data providers of this place."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "type": "structure",
      "members": {
        "rectangle": {
          "target": "com.gcp.places_v1#GoogleGeoTypeViewport",
          "traits": {
            "smithy.api#documentation": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
          }
        },
        "circle": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Circle",
          "traits": {
            "smithy.api#documentation": "A circle defined by center point and radius."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region to search. This location serves as a bias which means results around given location might be returned."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustification": {
      "type": "structure",
      "members": {
        "reviewJustification": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
        },
        "businessAvailabilityAttributesJustification": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification"
        }
      },
      "traits": {
        "smithy.api#documentation": "Justifications for the place. Justifications answers the question of why a place could interest an end user."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "type": "structure",
      "members": {
        "rectangle": {
          "target": "com.gcp.places_v1#GoogleGeoTypeViewport",
          "traits": {
            "smithy.api#documentation": "A viewport defined by a northeast and a southwest corner."
          }
        },
        "circle": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Circle",
          "traits": {
            "smithy.api#documentation": "A circle defined by a center point and radius."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region to search. The results may be biased around the specified region."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters": {
      "type": "structure",
      "members": {
        "polyline": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Polyline",
          "traits": {
            "smithy.api#documentation": "Required. The route polyline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a precalculated polyline from the [Routes API](https://developers.google.com/maps/documentation/routes) defining the route to search. Searching along a route is similar to using the `locationBias` or `locationRestriction` request option to bias the search results. However, while the `locationBias` and `locationRestriction` options let you specify a region to bias the search results, this option lets you bias the results along a trip route. Results are not guaranteed to be along the route provided, but rather are ranked within the search area defined by the polyline and, optionally, by the `locationBias` or `locationRestriction` based on minimal detour times from origin to destination. The results might be along an alternate route, especially if the provided polyline does not define an optimal route from origin to destination."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "type": "structure",
      "members": {
        "rectangle": {
          "target": "com.gcp.places_v1#GoogleGeoTypeViewport",
          "traits": {
            "smithy.api#documentation": "A viewport defined by a northeast and a southwest corner."
          }
        },
        "circle": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Circle",
          "traits": {
            "smithy.api#documentation": "A circle defined by a center point and radius."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region to search. The results will be restricted to the specified region."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceEvChargeAmenitySummary": {
      "type": "structure",
      "members": {
        "overview": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContentBlock",
          "traits": {
            "smithy.api#documentation": "An overview of the available amenities. This is guaranteed to be provided."
          }
        },
        "restaurant": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContentBlock",
          "traits": {
            "smithy.api#documentation": "A summary of the nearby restaurants."
          }
        },
        "store": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContentBlock",
          "traits": {
            "smithy.api#documentation": "A summary of the nearby stores."
          }
        },
        "flagContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link where users can flag a problem with the summary."
          }
        },
        "coffee": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContentBlock",
          "traits": {
            "smithy.api#documentation": "A summary of the nearby coffee options."
          }
        },
        "disclosureText": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The summary of amenities near the EV charging station. This only applies to places with type `electric_vehicle_charging_station`. The `overview` field is guaranteed to be provided while the other fields are optional."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceParkingOptions": {
      "type": "structure",
      "members": {
        "freeParkingLot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers free parking lots."
          }
        },
        "freeStreetParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers free street parking."
          }
        },
        "paidParkingLot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers paid parking lots."
          }
        },
        "paidGarageParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers paid garage parking."
          }
        },
        "paidStreetParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers paid street parking."
          }
        },
        "valetParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers valet parking."
          }
        },
        "freeGarageParking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place offers free garage parking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about parking options for the place. A parking lot could support more than one option at the same time."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceGoogleMapsLinks": {
      "type": "structure",
      "members": {
        "reviewsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show reviews of this place on Google Maps."
          }
        },
        "directionsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show the directions to the place. The link only populates the destination location and uses the default travel mode `DRIVE`."
          }
        },
        "placeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show this place."
          }
        },
        "photosUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show photos of this place on Google Maps."
          }
        },
        "writeAReviewUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to write a review for this place on Google Maps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Links to trigger different Google Maps actions."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1Polyline": {
      "type": "structure",
      "members": {
        "encodedPolyline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), as returned by the [Routes API by default](https://developers.google.com/maps/documentation/routes/reference/rest/v2/TopLevel/computeRoutes#polylineencoding). See the [encoder](https://developers.google.com/maps/documentation/utilities/polylineutility) and [decoder](https://developers.google.com/maps/documentation/routes/polylinedecoder) tools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A route polyline. Only supports an [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), which can be passed as a string and includes compression with minimal lossiness. This is the Routes API default output."
      }
    },
    "com.gcp.places_v1#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "type": "structure",
      "members": {
        "price": {
          "target": "com.gcp.places_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "The price of the fuel."
          }
        },
        "type": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1FuelOptionsFuelPriceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of fuel."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the fuel price was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fuel price information for a given type."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1FuelOptionsFuelPriceTypeEnum": {
      "type": "enum",
      "members": {
        "FUEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUEL_TYPE_UNSPECIFIED"
          }
        },
        "DIESEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIESEL"
          }
        },
        "DIESEL_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIESEL_PLUS"
          }
        },
        "REGULAR_UNLEADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR_UNLEADED"
          }
        },
        "MIDGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDGRADE"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "SP91": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP91"
          }
        },
        "SP91_E10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP91_E10"
          }
        },
        "SP92": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP92"
          }
        },
        "SP95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP95"
          }
        },
        "SP95_E10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP95_E10"
          }
        },
        "SP98": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP98"
          }
        },
        "SP99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP99"
          }
        },
        "SP100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SP100"
          }
        },
        "LPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LPG"
          }
        },
        "E80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E80"
          }
        },
        "E85": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E85"
          }
        },
        "E100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E100"
          }
        },
        "METHANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHANE"
          }
        },
        "BIO_DIESEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIO_DIESEL"
          }
        },
        "TRUCK_DIESEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUCK_DIESEL"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1Review": {
      "type": "structure",
      "members": {
        "visitDate": {
          "target": "com.gcp.places_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "The date when the author visited the place. This is truncated to the year and month of the visit."
          }
        },
        "text": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The localized text of the review."
          }
        },
        "flagContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link where users can flag a problem with the review."
          }
        },
        "googleMapsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show the review on Google Maps."
          }
        },
        "originalText": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The review text in its original language."
          }
        },
        "relativePublishTimeDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country."
          }
        },
        "authorAttribution": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AuthorAttribution",
          "traits": {
            "smithy.api#documentation": "This review's author."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`)."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the review."
          }
        },
        "rating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number between 1.0 and 5.0, also called the number of stars."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a review of a place."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchNearbyRequest": {
      "type": "structure",
      "members": {
        "excludedTypes": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
          }
        },
        "routingParameters": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters that affect the routing to the search results."
          }
        },
        "includedTypes": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
          }
        },
        "excludedPrimaryTypes": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
          }
        },
        "includeFutureOpeningBusinesses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, include businesses that are not yet open but will open in the future."
          }
        },
        "maxResultCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
          }
        },
        "includedPrimaryTypes": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
          }
        },
        "rankPreference": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1SearchNearbyRequestRankPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "How results will be ranked in the response."
          }
        },
        "locationRestriction": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
          "traits": {
            "smithy.api#documentation": "Required. The region to search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request proto for Search Nearby. "
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1SearchNearbyRequestRankPreferenceEnum": {
      "type": "enum",
      "members": {
        "RANK_PREFERENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANK_PREFERENCE_UNSPECIFIED"
          }
        },
        "DISTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE"
          }
        },
        "POPULARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POPULARITY"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1Place": {
      "type": "structure",
      "members": {
        "internationalPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable phone number for the place, in international format."
          }
        },
        "menuForChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place has a children's menu."
          }
        },
        "movedPlaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's place ID. If this Place moved multiple times, this field will represent the first moved Place. This field will not be populated if this Place has not moved."
          }
        },
        "iconBackgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Background color for icon_mask in hex format, e.g. #909CE1."
          }
        },
        "evChargeAmenitySummary": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceEvChargeAmenitySummary",
          "traits": {
            "smithy.api#documentation": "The summary of amenities near the EV charging station."
          }
        },
        "evChargeOptions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptions",
          "traits": {
            "smithy.api#documentation": "Information of ev charging options."
          }
        },
        "location": {
          "target": "com.gcp.places_v1#GoogleTypeLatLng",
          "traits": {
            "smithy.api#documentation": "The position of this place."
          }
        },
        "subDestinations": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceSubDestinationList",
          "traits": {
            "smithy.api#documentation": "A list of sub-destinations related to the place."
          }
        },
        "priceRange": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PriceRange",
          "traits": {
            "smithy.api#documentation": "The price range associated with a Place."
          }
        },
        "formattedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A full, human-readable address for this place."
          }
        },
        "currentOpeningHours": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHours",
          "traits": {
            "smithy.api#documentation": "The hours of operation for the next seven days (including today) incorporating any special opening hours. The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. If the actual opening hours are outside of this range, the opening hours will be truncated. For example, if a place is open from 10pm yesterday to 6am today, the opening hours will be truncated to 12am today to 6am today. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
          }
        },
        "userRatingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of reviews (with or without text) for this place."
          }
        },
        "containingPlaces": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceContainingPlaceList",
          "traits": {
            "smithy.api#documentation": "List of places in which the current place is located."
          }
        },
        "timeZone": {
          "target": "com.gcp.places_v1#GoogleTypeTimeZone",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a place."
          }
        },
        "types": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
          }
        },
        "openingDate": {
          "target": "com.gcp.places_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "The date this place will open in the future. This field is only populated if the business status is FUTURE_OPENING."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place."
          }
        },
        "plusCode": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlacePlusCode",
          "traits": {
            "smithy.api#documentation": "Plus code of the place location lat/long."
          }
        },
        "takeout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the business supports takeout."
          }
        },
        "viewport": {
          "target": "com.gcp.places_v1#GoogleGeoTypeViewport",
          "traits": {
            "smithy.api#documentation": "A viewport suitable for displaying the place on an average-sized map. This viewport should not be used as the physical boundary or the service area of the business."
          }
        },
        "parkingOptions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceParkingOptions",
          "traits": {
            "smithy.api#documentation": "Options of parking provided by the place."
          }
        },
        "transitStation": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1TransitStation",
          "traits": {
            "smithy.api#documentation": "The transit station information for the place."
          }
        },
        "servesCoffee": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place serves coffee."
          }
        },
        "rating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A rating between 1.0 and 5.0, based on user reviews of this place."
          }
        },
        "regularSecondaryOpeningHours": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHoursList",
          "traits": {
            "smithy.api#documentation": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place."
          }
        },
        "regularOpeningHours": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHours",
          "traits": {
            "smithy.api#documentation": "The regular hours are the hours of operation for a place on a typical schedule. Note that if a place is always open (24 hours), the `close` field will not be set. Clients can rely on always open (24 hours) being represented as an [`open`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Period) period containing [`day`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, [`hour`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, and [`minute`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`."
          }
        },
        "photos": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PhotoList",
          "traits": {
            "smithy.api#documentation": "Information (including references) about photos of this place. A maximum of 10 photos can be returned."
          }
        },
        "servesBeer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves beer."
          }
        },
        "addressComponents": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAddressComponentList",
          "traits": {
            "smithy.api#documentation": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response."
          }
        },
        "outdoorSeating": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place provides outdoor seating."
          }
        },
        "paymentOptions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlacePaymentOptions",
          "traits": {
            "smithy.api#documentation": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset."
          }
        },
        "businessStatus": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceBusinessStatusEnum",
          "traits": {
            "smithy.api#documentation": "The business status for the place."
          }
        },
        "allowsDogs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place allows dogs."
          }
        },
        "priceLevel": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlacePriceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Price level of the place."
          }
        },
        "googleMapsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL providing more information about this place."
          }
        },
        "editorialSummary": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered."
          }
        },
        "liveMusic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place provides live music."
          }
        },
        "goodForWatchingSports": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place is suitable for watching sports."
          }
        },
        "accessibilityOptions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "traits": {
            "smithy.api#documentation": "Information about the accessibility options a place offers."
          }
        },
        "servesWine": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves wine."
          }
        },
        "currentSecondaryOpeningHours": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHoursList",
          "traits": {
            "smithy.api#documentation": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
          }
        },
        "servesLunch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves lunch."
          }
        },
        "addressDescriptor": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptor",
          "traits": {
            "smithy.api#documentation": "The address descriptor of the place. Address descriptors include additional information that help describe a location using landmarks and areas. See address descriptor regional coverage in https://developers.google.com/maps/documentation/geocoding/address-descriptors/coverage."
          }
        },
        "servesVegetarianFood": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves vegetarian food."
          }
        },
        "reviewSummary": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceReviewSummary",
          "traits": {
            "smithy.api#documentation": "AI-generated summary of the place using user reviews."
          }
        },
        "servesDinner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves dinner."
          }
        },
        "goodForChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place is good for children."
          }
        },
        "websiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain."
          }
        },
        "servesBrunch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves brunch."
          }
        },
        "neighborhoodSummary": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceNeighborhoodSummary",
          "traits": {
            "smithy.api#documentation": "A summary of points of interest near the place."
          }
        },
        "restroom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place has restroom."
          }
        },
        "googleMapsLinks": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceGoogleMapsLinks",
          "traits": {
            "smithy.api#documentation": "Links to trigger different Google Maps actions."
          }
        },
        "primaryType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary type of the given result. This type must be one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type. When a primary type is present, it is always one of the types in the `types` field."
          }
        },
        "primaryTypeDisplayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type."
          }
        },
        "servesCocktails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place serves cocktails."
          }
        },
        "nationalPhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable phone number for the place, in national format."
          }
        },
        "curbsidePickup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the business supports curbside pickup."
          }
        },
        "servesBreakfast": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place serves breakfast."
          }
        },
        "generativeSummary": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceGenerativeSummary",
          "traits": {
            "smithy.api#documentation": "AI-generated summary of the place."
          }
        },
        "consumerAlert": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceConsumerAlert",
          "traits": {
            "smithy.api#documentation": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
          }
        },
        "postalAddress": {
          "target": "com.gcp.places_v1#GoogleTypePostalAddress",
          "traits": {
            "smithy.api#documentation": "The address in postal address format."
          }
        },
        "goodForGroups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place accommodates groups."
          }
        },
        "pureServiceAreaBusiness": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the place is a pure service area business. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses may not have a physical address or location on Google Maps."
          }
        },
        "dineIn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the business supports indoor or outdoor seating options."
          }
        },
        "displayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
          }
        },
        "attributions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAttributionList",
          "traits": {
            "smithy.api#documentation": "A set of data provider that must be shown with this result."
          }
        },
        "iconMaskBaseUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\")."
          }
        },
        "delivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the business supports delivery."
          }
        },
        "googleMapsTypeLabel": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The type label of the place on Google Maps, localized to the request language if applicable, for example, \"Restaurant\", \"Cafe\", \"Airport\", etc. The type label may be different from the primary type display name and may not be a supported type in [Places API Place Types table](https://developers.google.com/maps/documentation/places/web-service/place-types)."
          }
        },
        "adrFormatAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The place's address in adr microformat: http://microformats.org/wiki/adr."
          }
        },
        "servesDessert": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Place serves dessert."
          }
        },
        "movedPlace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's resource name, in `places/{place_id}` format. If this Place moved multiple times, this field will represent the first moved place. This field will not be populated if this Place has not moved."
          }
        },
        "shortFormattedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short, human-readable address for this place."
          }
        },
        "reviews": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ReviewList",
          "traits": {
            "smithy.api#documentation": "List of reviews about this place, sorted by relevance. A maximum of 5 reviews can be returned."
          }
        },
        "utcOffsetMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes."
          }
        },
        "fuelOptions": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1FuelOptions",
          "traits": {
            "smithy.api#documentation": "The most recent information about fuel options in a gas station. This information is updated regularly."
          }
        },
        "reservable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the place supports reservations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All the information representing a Place."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceSubDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceSubDestination"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceContainingPlaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceContainingPlace"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHoursList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceOpeningHours"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAddressComponentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAddressComponent"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceBusinessStatusEnum": {
      "type": "enum",
      "members": {
        "BUSINESS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_STATUS_UNSPECIFIED"
          }
        },
        "OPERATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATIONAL"
          }
        },
        "CLOSED_TEMPORARILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED_TEMPORARILY"
          }
        },
        "CLOSED_PERMANENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED_PERMANENTLY"
          }
        },
        "FUTURE_OPENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUTURE_OPENING"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlacePriceLevelEnum": {
      "type": "enum",
      "members": {
        "PRICE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_UNSPECIFIED"
          }
        },
        "PRICE_LEVEL_FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_FREE"
          }
        },
        "PRICE_LEVEL_INEXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_INEXPENSIVE"
          }
        },
        "PRICE_LEVEL_MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_MODERATE"
          }
        },
        "PRICE_LEVEL_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_EXPENSIVE"
          }
        },
        "PRICE_LEVEL_VERY_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_LEVEL_VERY_EXPENSIVE"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAttributionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceAttribution"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummary": {
      "type": "structure",
      "members": {
        "legs": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummaryLegList",
          "traits": {
            "smithy.api#documentation": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination."
          }
        },
        "directionsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummaryLegList": {
      "type": "list",
      "member": {
        "target": "com.gcp.places_v1#GoogleMapsPlacesV1RoutingSummaryLeg"
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AuthorAttribution": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the author of the Photo or Review."
          }
        },
        "photoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Profile photo URI of the author of the Photo or Review."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the author of the Photo or Review."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the author of the UGC data. Used in Photo, and Review."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmark": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The landmark's resource name."
          }
        },
        "spatialRelationship": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmarkSpatialRelationshipEnum",
          "traits": {
            "smithy.api#documentation": "Defines the spatial relationship between the target location and the landmark."
          }
        },
        "straightLineDistanceMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The straight line distance, in meters, between the center point of the target and the center point of the landmark. In some situations, this value can be longer than `travel_distance_meters`."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The landmark's place id."
          }
        },
        "travelDistanceMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The travel distance, in meters, along the road network from the target to the landmark, if known. This value does not take into account the mode of transportation, such as walking, driving, or biking."
          }
        },
        "types": {
          "target": "com.gcp.places_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A set of type tags for this landmark. For a complete list of possible values, see https://developers.google.com/maps/documentation/places/web-service/place-types."
          }
        },
        "displayName": {
          "target": "com.gcp.places_v1#GoogleTypeLocalizedText",
          "traits": {
            "smithy.api#documentation": "The landmark's display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic landmark information and the landmark's relationship with the target location. Landmarks are prominent places that can be used to describe a location."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1AddressDescriptorLandmarkSpatialRelationshipEnum": {
      "type": "enum",
      "members": {
        "NEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEAR"
          }
        },
        "WITHIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN"
          }
        },
        "BESIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BESIDE"
          }
        },
        "ACROSS_THE_ROAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACROSS_THE_ROAD"
          }
        },
        "DOWN_THE_ROAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN_THE_ROAD"
          }
        },
        "AROUND_THE_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AROUND_THE_CORNER"
          }
        },
        "BEHIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEHIND"
          }
        }
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1TransitIcon": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the icon."
          }
        },
        "nameIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the name is contained in the icon and there is no need to display it next to the icon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Icon for a transit line, vehicle, or agency."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustification": {
      "type": "structure",
      "members": {
        "highlightedText": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
        },
        "review": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1Review",
          "traits": {
            "smithy.api#documentation": "The review that the highlighted text is generated from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User review justifications. This highlights a section of the user review that would interest an end user. For instance, if the search query is \"firewood pizza\", the review justification highlights the text relevant to the search query."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1PlaceConsumerAlertDetails": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title to show together with the description."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the consumer alert message."
          }
        },
        "aboutLink": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink",
          "traits": {
            "smithy.api#documentation": "The link to show together with the description to provide more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the consumer alert message."
      }
    },
    "com.gcp.places_v1#GoogleTypeLocalizedText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized string in the language corresponding to language_code below."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized variant of a text in a particular language."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of connectors in this aggregation."
          }
        },
        "availableCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of connectors in this aggregation that are currently available."
          }
        },
        "outOfServiceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of connectors in this aggregation that are currently out of service."
          }
        },
        "maxChargeRateKw": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The static max charging rate in kw of each connector in the aggregation."
          }
        },
        "availabilityLastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the connector availability information in this aggregation was last updated."
          }
        },
        "type": {
          "target": "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The connector type of this aggregation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw."
      }
    },
    "com.gcp.places_v1#GoogleMapsPlacesV1EVChargeOptionsConnectorAggregationTypeEnum": {
      "type": "enum",
      "members": {
        "EV_CONNECTOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EV_CONNECTOR_TYPE_UNSPECIFIED"
          }
        },
[...]
