{
  "smithy": "2.0",
  "metadata": {
    "service": "privateca",
    "version": "v1",
    "title": "Certificate Authority API",
    "baseUrl": "https://privateca.googleapis.com/"
  },
  "shapes": {
    "com.gcp.privateca_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.privateca_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.privateca_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.privateca_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#Binding"
      }
    },
    "com.gcp.privateca_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#AuditConfig"
      }
    },
    "com.gcp.privateca_v1#EncryptionSpec": {
      "type": "structure",
      "members": {
        "cloudKmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for a Cloud KMS key in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration used for encrypting data at rest."
      }
    },
    "com.gcp.privateca_v1#KeyUsage": {
      "type": "structure",
      "members": {
        "baseKeyUsage": {
          "target": "com.gcp.privateca_v1#KeyUsageOptions",
          "traits": {
            "smithy.api#documentation": "Describes high-level ways in which a key may be used."
          }
        },
        "extendedKeyUsage": {
          "target": "com.gcp.privateca_v1#ExtendedKeyUsageOptions",
          "traits": {
            "smithy.api#documentation": "Detailed scenarios in which a key may be used."
          }
        },
        "unknownExtendedKeyUsages": {
          "target": "com.gcp.privateca_v1#ObjectIdList",
          "traits": {
            "smithy.api#documentation": "Used to describe extended key usages that are not listed in the KeyUsage.ExtendedKeyUsageOptions message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A KeyUsage describes key usage values that may appear in an X.509 certificate."
      }
    },
    "com.gcp.privateca_v1#ObjectIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#ObjectId"
      }
    },
    "com.gcp.privateca_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.privateca_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.privateca_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#AuditLogConfig"
      }
    },
    "com.gcp.privateca_v1#CaPool": {
      "type": "structure",
      "members": {
        "publishingOptions": {
          "target": "com.gcp.privateca_v1#PublishingOptions",
          "traits": {
            "smithy.api#documentation": "Optional. The PublishingOptions to follow when issuing Certificates from any CertificateAuthority in this CaPool."
          }
        },
        "encryptionSpec": {
          "target": "com.gcp.privateca_v1#EncryptionSpec",
          "traits": {
            "smithy.api#documentation": "Optional. When EncryptionSpec is provided, the Subject, SubjectAltNames, and the PEM-encoded certificate fields will be encrypted at rest."
          }
        },
        "issuancePolicy": {
          "target": "com.gcp.privateca_v1#IssuancePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The IssuancePolicy to control how Certificates will be issued from this CaPool."
          }
        },
        "labels": {
          "target": "com.gcp.privateca_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels with user-defined metadata."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this CaPool in the format `projects/*/locations/*/caPools/*`."
          }
        },
        "tier": {
          "target": "com.gcp.privateca_v1#CaPoolTierEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Tier of this CaPool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CaPool represents a group of CertificateAuthorities that form a trust anchor. A CaPool can be used to manage issuance policies for one or more CertificateAuthority resources and to rotate CA certificates in and out of the trust anchor."
      }
    },
    "com.gcp.privateca_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.privateca_v1#CaPoolTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "DEVOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVOPS"
          }
        }
      }
    },
    "com.gcp.privateca_v1#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.privateca_v1#ActivateCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "pemCaCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The signed CA certificate issued from FetchCertificateAuthorityCsrResponse.pem_csr."
          }
        },
        "subordinateConfig": {
          "target": "com.gcp.privateca_v1#SubordinateConfig",
          "traits": {
            "smithy.api#documentation": "Required. Must include information about the issuer of 'pem_ca_certificate', and any further issuers until the self-signed CA."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.ActivateCertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#UndeleteCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.UndeleteCertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.privateca_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.privateca_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.privateca_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#DocumentMap"
      }
    },
    "com.gcp.privateca_v1#ListCertificateTemplatesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations (e.g. \"us-west1\") that could not be reached."
          }
        },
        "certificateTemplates": {
          "target": "com.gcp.privateca_v1#CertificateTemplateList",
          "traits": {
            "smithy.api#documentation": "The list of CertificateTemplates."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListCertificateTemplatesRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.ListCertificateTemplates."
      }
    },
    "com.gcp.privateca_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.privateca_v1#CertificateTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertificateTemplate"
      }
    },
    "com.gcp.privateca_v1#Certificate": {
      "type": "structure",
      "members": {
        "issuerCertificateAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the issuing CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this Certificate was updated."
          }
        },
        "revocationDetails": {
          "target": "com.gcp.privateca_v1#RevocationDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details regarding the revocation of this Certificate. This Certificate is considered revoked if and only if this field is present."
          }
        },
        "certificateDescription": {
          "target": "com.gcp.privateca_v1#CertificateDescription",
          "traits": {
            "smithy.api#documentation": "Output only. A structured description of the issued X.509 certificate."
          }
        },
        "pemCsr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. A pem-encoded X.509 certificate signing request (CSR)."
          }
        },
        "config": {
          "target": "com.gcp.privateca_v1#CertificateConfig",
          "traits": {
            "smithy.api#documentation": "Immutable. A description of the certificate and key that does not require X.509 or ASN.1."
          }
        },
        "labels": {
          "target": "com.gcp.privateca_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels with user-defined metadata."
          }
        },
        "pemCertificateChain": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246."
          }
        },
        "requestedNotBeforeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The requested not_before_time of this Certificate. This field may only be set if the CaPool.IssuancePolicy.allow_requester_specified_not_before_time field is set to true for the issuing CaPool. If this field is specified, the certificate will be issued with this 'not_before_time'. If this is not specified, the 'not_before_time' will be set to the issuance time or issuance time minus backdate_duration depending on the CaPool configuration."
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The desired lifetime of a certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate. Note that the lifetime may be truncated if it would extend past the life of any certificate authority in the issuing chain."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this Certificate was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`."
          }
        },
        "certificateTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for a CertificateTemplate used to issue this certificate, in the format `projects/*/locations/*/certificateTemplates/*`. If this is specified, the caller must have the necessary permission to use this template. If this is omitted, no template will be used. This template must be in the same location as the Certificate."
          }
        },
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The pem-encoded, signed X.509 certificate."
          }
        },
        "subjectMode": {
          "target": "com.gcp.privateca_v1#CertificateSubjectModeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Specifies how the Certificate's identity fields are to be decided. If this is omitted, the `DEFAULT` subject mode will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Certificate corresponds to a signed X.509 certificate issued by a CertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#CertificateSubjectModeEnum": {
      "type": "enum",
      "members": {
        "SUBJECT_REQUEST_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBJECT_REQUEST_MODE_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "RDN_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDN_SEQUENCE"
          }
        },
        "REFLECTED_SPIFFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFLECTED_SPIFFE"
          }
        }
      }
    },
    "com.gcp.privateca_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.privateca_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.privateca_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#Location"
      }
    },
    "com.gcp.privateca_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.privateca_v1#CertificateExtensionConstraints": {
      "type": "structure",
      "members": {
        "knownExtensions": {
          "target": "com.gcp.privateca_v1#CertificateExtensionConstraintsKnownExtensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of named X.509 extensions. Will be combined with additional_extensions to determine the full set of X.509 extensions."
          }
        },
        "additionalExtensions": {
          "target": "com.gcp.privateca_v1#ObjectIdList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of ObjectIds identifying custom X.509 extensions. Will be combined with known_extensions to determine the full set of X.509 extensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a set of X.509 extensions that may be part of some certificate issuance controls."
      }
    },
    "com.gcp.privateca_v1#CertificateExtensionConstraintsKnownExtensionsItemEnum": {
      "type": "enum",
      "members": {
        "KNOWN_CERTIFICATE_EXTENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWN_CERTIFICATE_EXTENSION_UNSPECIFIED"
          }
        },
        "BASE_KEY_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_KEY_USAGE"
          }
        },
        "EXTENDED_KEY_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTENDED_KEY_USAGE"
          }
        },
        "CA_OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_OPTIONS"
          }
        },
        "POLICY_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_IDS"
          }
        },
        "AIA_OCSP_SERVERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AIA_OCSP_SERVERS"
          }
        },
        "NAME_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAME_CONSTRAINTS"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CertificateExtensionConstraintsKnownExtensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertificateExtensionConstraintsKnownExtensionsItemEnum"
      }
    },
    "com.gcp.privateca_v1#ExtendedKeyUsageOptions": {
      "type": "structure",
      "members": {
        "emailProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.4. Officially described as \"Email protection\"."
          }
        },
        "clientAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.2. Officially described as \"TLS WWW client authentication\", though regularly used for non-WWW TLS."
          }
        },
        "serverAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.1. Officially described as \"TLS WWW server authentication\", though regularly used for non-WWW TLS."
          }
        },
        "ocspSigning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.9. Officially described as \"Signing OCSP responses\"."
          }
        },
        "codeSigning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.3. Officially described as \"Signing of downloadable executable code client authentication\"."
          }
        },
        "timeStamping": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Corresponds to OID 1.3.6.1.5.5.7.3.8. Officially described as \"Binding the hash of an object to a time\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KeyUsage.ExtendedKeyUsageOptions has fields that correspond to certain common OIDs that could be specified as an extended key usage value."
      }
    },
    "com.gcp.privateca_v1#FetchCaCertsResponse": {
      "type": "structure",
      "members": {
        "caCerts": {
          "target": "com.gcp.privateca_v1#CertChainList",
          "traits": {
            "smithy.api#documentation": "The PEM encoded CA certificate chains of all certificate authorities in this CaPool in the ENABLED, DISABLED, or STAGED states."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.FetchCaCerts."
      }
    },
    "com.gcp.privateca_v1#CertChainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertChain"
      }
    },
    "com.gcp.privateca_v1#AttributeTypeAndValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.privateca_v1#AttributeTypeAndValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute type of the attribute and value pair."
          }
        },
        "objectId": {
          "target": "com.gcp.privateca_v1#ObjectId",
          "traits": {
            "smithy.api#documentation": "Object ID for an attribute type of an attribute and value pair."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for the attribute type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AttributeTypeAndValue specifies an attribute type and value. It can use either a OID or enum value to specify the attribute type."
      }
    },
    "com.gcp.privateca_v1#AttributeTypeAndValueTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_TYPE_UNSPECIFIED"
          }
        },
        "COMMON_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON_NAME"
          }
        },
        "COUNTRY_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY_CODE"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "ORGANIZATIONAL_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATIONAL_UNIT"
          }
        },
        "LOCALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALITY"
          }
        },
        "PROVINCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVINCE"
          }
        },
        "STREET_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_ADDRESS"
          }
        },
        "POSTAL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTAL_CODE"
          }
        }
      }
    },
    "com.gcp.privateca_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.privateca_v1#SubordinateConfig": {
      "type": "structure",
      "members": {
        "certificateAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This can refer to a CertificateAuthority that was used to create a subordinate CertificateAuthority. This field is used for information and usability purposes only. The resource name is in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`."
          }
        },
        "pemIssuerChain": {
          "target": "com.gcp.privateca_v1#SubordinateConfigChain",
          "traits": {
            "smithy.api#documentation": "Required. Contains the PEM certificate chain for the issuers of this CertificateAuthority, but not pem certificate for this CA itself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a subordinate CA's issuers. This is either a resource name to a known issuing CertificateAuthority, or a PEM issuer certificate chain."
      }
    },
    "com.gcp.privateca_v1#CertificateFingerprint": {
      "type": "structure",
      "members": {
        "sha256Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA 256 hash, encoded in hexadecimal, of the DER x509 certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group of fingerprints for the x509 certificate."
      }
    },
    "com.gcp.privateca_v1#CertificateAuthority": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.privateca_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels with user-defined metadata."
          }
        },
        "config": {
          "target": "com.gcp.privateca_v1#CertificateConfig",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The config used to create a self-signed X.509 certificate or CSR."
          }
        },
        "accessUrls": {
          "target": "com.gcp.privateca_v1#AccessUrls",
          "traits": {
            "smithy.api#documentation": "Output only. URLs for accessing content published by this CA, such as the CA certificate and CRLs."
          }
        },
        "caCertificateDescriptions": {
          "target": "com.gcp.privateca_v1#CertificateDescriptionList",
          "traits": {
            "smithy.api#documentation": "Output only. A structured description of this CertificateAuthority's CA certificate and its issuers. Ordered as self-to-root."
          }
        },
        "keySpec": {
          "target": "com.gcp.privateca_v1#KeyVersionSpec",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Used when issuing certificates for this CertificateAuthority. If this CertificateAuthority is a self-signed CertificateAuthority, this key is also used to sign the self-signed CA certificate. Otherwise, it is used to sign a CSR."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateAuthority was last updated."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateAuthority was soft deleted, if it is in the DELETED state."
          }
        },
        "pemCaCertificates": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. This CertificateAuthority's certificate chain, including the current CertificateAuthority's certificate. Ordered such that the root issuer is the final element (consistent with RFC 5246). For a self-signed CA, this will only list the current CertificateAuthority's certificate."
          }
        },
        "tier": {
          "target": "com.gcp.privateca_v1#CertificateAuthorityTierEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The CaPool.Tier of the CaPool that includes this CertificateAuthority."
          }
        },
        "type": {
          "target": "com.gcp.privateca_v1#CertificateAuthorityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Type of this CertificateAuthority."
          }
        },
        "state": {
          "target": "com.gcp.privateca_v1#CertificateAuthorityStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The State for this CertificateAuthority."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateAuthority will be permanently purged, if it is in the DELETED state."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "subordinateConfig": {
          "target": "com.gcp.privateca_v1#SubordinateConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If this is a subordinate CertificateAuthority, this field will be set with the subordinate configuration, which describes its issuers. This may be updated, but this CertificateAuthority must continue to validate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`."
          }
        },
        "userDefinedAccessUrls": {
          "target": "com.gcp.privateca_v1#UserDefinedAccessUrls",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined URLs for CA certificate and CRLs. The service does not publish content to these URLs. It is up to the user to mirror content to these URLs."
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The desired lifetime of the CA certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateAuthority was created."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "gcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a Cloud Storage bucket where this CertificateAuthority will publish content, such as the CA certificate and CRLs. This must be a bucket name, without any prefixes (such as `gs://`) or suffixes (such as `.googleapis.com`). For example, to use a bucket named `my-bucket`, you would simply specify `my-bucket`. If not specified, a managed bucket will be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CertificateAuthority represents an individual Certificate Authority. A CertificateAuthority can be used to create Certificates."
      }
    },
    "com.gcp.privateca_v1#CertificateDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertificateDescription"
      }
    },
    "com.gcp.privateca_v1#CertificateAuthorityTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "DEVOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVOPS"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CertificateAuthorityTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SELF_SIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELF_SIGNED"
          }
        },
        "SUBORDINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBORDINATE"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CertificateAuthorityStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        },
        "AWAITING_USER_ACTIVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING_USER_ACTIVATION"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.privateca_v1#RevokedCertificate": {
      "type": "structure",
      "members": {
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`."
          }
        },
        "hexSerialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number of the Certificate."
          }
        },
        "revocationReason": {
          "target": "com.gcp.privateca_v1#RevokedCertificateRevocationReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason the Certificate was revoked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a revoked Certificate."
      }
    },
    "com.gcp.privateca_v1#RevokedCertificateRevocationReasonEnum": {
      "type": "enum",
      "members": {
        "REVOCATION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOCATION_REASON_UNSPECIFIED"
          }
        },
        "KEY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_COMPROMISE"
          }
        },
        "CERTIFICATE_AUTHORITY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_AUTHORITY_COMPROMISE"
          }
        },
        "AFFILIATION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATION_CHANGED"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPERSEDED"
          }
        },
        "CESSATION_OF_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CESSATION_OF_OPERATION"
          }
        },
        "CERTIFICATE_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_HOLD"
          }
        },
        "PRIVILEGE_WITHDRAWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGE_WITHDRAWN"
          }
        },
        "ATTRIBUTE_AUTHORITY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_AUTHORITY_COMPROMISE"
          }
        }
      }
    },
    "com.gcp.privateca_v1#SubjectDescription": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "com.gcp.privateca_v1#Subject",
          "traits": {
            "smithy.api#documentation": "Contains distinguished name fields such as the common name, location and / organization."
          }
        },
        "subjectAltName": {
          "target": "com.gcp.privateca_v1#SubjectAltNames",
          "traits": {
            "smithy.api#documentation": "The subject alternative name fields."
          }
        },
        "notBeforeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the certificate becomes valid."
          }
        },
        "hexSerialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number encoded in lowercase hexadecimal."
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For convenience, the actual lifetime of an issued certificate."
          }
        },
        "notAfterTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time after which the certificate is expired. Per RFC 5280, the validity period for a certificate is the period of time from not_before_time through not_after_time, inclusive. Corresponds to 'not_before_time' + 'lifetime' - 1 second."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "These values describe fields in an issued X.509 certificate such as the distinguished name, subject alternative names, serial number, and lifetime."
      }
    },
    "com.gcp.privateca_v1#KeyUsageOptions": {
      "type": "structure",
      "members": {
        "keyEncipherment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used to encipher other keys."
          }
        },
        "keyAgreement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used in a key agreement protocol."
          }
        },
        "digitalSignature": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used for digital signatures."
          }
        },
        "contentCommitment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used for cryptographic commitments. Note that this may also be referred to as \"non-repudiation\"."
          }
        },
        "decipherOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used to decipher only."
          }
        },
        "dataEncipherment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used to encipher data."
          }
        },
        "certSign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used to sign certificates."
          }
        },
        "encipherOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used to encipher only."
          }
        },
        "crlSign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The key may be used sign certificate revocation lists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KeyUsage.KeyUsageOptions corresponds to the key usage values described in https://tools.ietf.org/html/rfc5280#section-4.2.1.3."
      }
    },
    "com.gcp.privateca_v1#FetchCaCertsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.FetchCaCerts."
      }
    },
    "com.gcp.privateca_v1#CertificateConfigKeyId": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A KeyId identifies a specific public key, usually by hashing the public key."
      }
    },
    "com.gcp.privateca_v1#AccessUrls": {
      "type": "structure",
      "members": {
        "caCertificateAccessUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where this CertificateAuthority's CA certificate is published. This will only be set for CAs that have been activated."
          }
        },
        "crlAccessUrls": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The URLs where this CertificateAuthority's CRLs are published. This will only be set for CAs that have been activated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URLs where a CertificateAuthority will publish content."
      }
    },
    "com.gcp.privateca_v1#KeyId": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A KeyId identifies a specific public key, usually by hashing the public key."
      }
    },
    "com.gcp.privateca_v1#FetchCertificateAuthorityCsrResponse": {
      "type": "structure",
      "members": {
        "pemCsr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The PEM-encoded signed certificate signing request (CSR)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.FetchCertificateAuthorityCsr."
      }
    },
    "com.gcp.privateca_v1#ListCertificateAuthoritiesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.page_token to retrieve the next page of results."
          }
        },
        "certificateAuthorities": {
          "target": "com.gcp.privateca_v1#CertificateAuthorityList",
          "traits": {
            "smithy.api#documentation": "The list of CertificateAuthorities."
          }
        },
        "unreachable": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations (e.g. \"us-west1\") that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.ListCertificateAuthorities."
      }
    },
    "com.gcp.privateca_v1#CertificateAuthorityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertificateAuthority"
      }
    },
    "com.gcp.privateca_v1#PublicKey": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A public key. The padding and encoding must match with the `KeyFormat` value specified for the `format` field."
          }
        },
        "format": {
          "target": "com.gcp.privateca_v1#PublicKeyFormatEnum",
          "traits": {
            "smithy.api#documentation": "Required. The format of the public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PublicKey describes a public key."
      }
    },
    "com.gcp.privateca_v1#PublicKeyFormatEnum": {
      "type": "enum",
      "members": {
        "KEY_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_FORMAT_UNSPECIFIED"
          }
        },
        "PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEM"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CertificateConfig": {
      "type": "structure",
      "members": {
        "subjectConfig": {
          "target": "com.gcp.privateca_v1#SubjectConfig",
          "traits": {
            "smithy.api#documentation": "Required. Specifies some of the values in a certificate that are related to the subject."
          }
        },
        "x509Config": {
          "target": "com.gcp.privateca_v1#X509Parameters",
          "traits": {
            "smithy.api#documentation": "Required. Describes how some of the technical X.509 fields in a certificate should be populated."
          }
        },
        "subjectKeyId": {
          "target": "com.gcp.privateca_v1#CertificateConfigKeyId",
          "traits": {
            "smithy.api#documentation": "Optional. When specified this provides a custom SKI to be used in the certificate. This should only be used to maintain a SKI of an existing CA originally created outside CA service, which was not generated using method (1) described in RFC 5280 section 4.2.1.2."
          }
        },
        "publicKey": {
          "target": "com.gcp.privateca_v1#PublicKey",
          "traits": {
            "smithy.api#documentation": "Optional. The public key that corresponds to this config. This is, for example, used when issuing Certificates, but not when creating a self-signed CertificateAuthority or CertificateAuthority CSR."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CertificateConfig describes an X.509 certificate or CSR that is to be created, as an alternative to using ASN.1."
      }
    },
    "com.gcp.privateca_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.privateca_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.privateca_v1#CaOptions": {
      "type": "structure",
      "members": {
        "maxIssuerPathLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Refers to the path length constraint field in the X.509 extension. For a CA certificate, this value describes the depth of subordinate CA certificates that are allowed. If this value is less than 0, the request will fail. If this value is missing, the max path length will be omitted from the certificate."
          }
        },
        "isCa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Refers to the \"CA\" boolean field in the X.509 extension. When this value is missing, the basic constraints extension will be omitted from the certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the X.509 basic constraints extension, per [RFC 5280 section 4.2.1.9](https://tools.ietf.org/html/rfc5280#section-4.2.1.9)"
      }
    },
    "com.gcp.privateca_v1#AllowedKeyType": {
      "type": "structure",
      "members": {
        "ellipticCurve": {
          "target": "com.gcp.privateca_v1#EcKeyType",
          "traits": {
            "smithy.api#documentation": "Represents an allowed Elliptic Curve key type."
          }
        },
        "rsa": {
          "target": "com.gcp.privateca_v1#RsaKeyType",
          "traits": {
            "smithy.api#documentation": "Represents an allowed RSA key type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a \"type\" of key that may be used in a Certificate issued from a CaPool. Note that a single AllowedKeyType may refer to either a fully-qualified key algorithm, such as RSA 4096, or a family of key algorithms, such as any RSA key."
      }
    },
    "com.gcp.privateca_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.privateca_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.privateca_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.privateca_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.privateca_v1#RevokeCertificateRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "reason": {
          "target": "com.gcp.privateca_v1#RevokeCertificateRequestReasonEnum",
          "traits": {
            "smithy.api#documentation": "Required. The RevocationReason for revoking this certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.RevokeCertificate."
      }
    },
    "com.gcp.privateca_v1#RevokeCertificateRequestReasonEnum": {
      "type": "enum",
      "members": {
        "REVOCATION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOCATION_REASON_UNSPECIFIED"
          }
        },
        "KEY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_COMPROMISE"
          }
        },
        "CERTIFICATE_AUTHORITY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_AUTHORITY_COMPROMISE"
          }
        },
        "AFFILIATION_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATION_CHANGED"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPERSEDED"
          }
        },
        "CESSATION_OF_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CESSATION_OF_OPERATION"
          }
        },
        "CERTIFICATE_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_HOLD"
          }
        },
        "PRIVILEGE_WITHDRAWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGE_WITHDRAWN"
          }
        },
        "ATTRIBUTE_AUTHORITY_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_AUTHORITY_COMPROMISE"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.privateca_v1#CertChain": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The certificates that form the CA chain, from leaf to root order."
          }
        }
      }
    },
    "com.gcp.privateca_v1#RelativeDistinguishedName": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.privateca_v1#AttributeTypeAndValueList",
          "traits": {
            "smithy.api#documentation": "Attributes describes the attribute value assertions in the RDN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RelativeDistinguishedName specifies a relative distinguished name which will be used to build a distinguished name."
      }
    },
    "com.gcp.privateca_v1#AttributeTypeAndValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#AttributeTypeAndValue"
      }
    },
    "com.gcp.privateca_v1#CertificateDescription": {
      "type": "structure",
      "members": {
        "authorityKeyId": {
          "target": "com.gcp.privateca_v1#KeyId",
          "traits": {
            "smithy.api#documentation": "Identifies the subject_key_id of the parent certificate, per https://tools.ietf.org/html/rfc5280#section-4.2.1.1"
          }
        },
        "aiaIssuingCertificateUrls": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Describes lists of issuer CA certificate URLs that appear in the \"Authority Information Access\" extension in the certificate."
          }
        },
        "subjectDescription": {
          "target": "com.gcp.privateca_v1#SubjectDescription",
          "traits": {
            "smithy.api#documentation": "Describes some of the values in a certificate that are related to the subject and lifetime."
          }
        },
        "publicKey": {
          "target": "com.gcp.privateca_v1#PublicKey",
          "traits": {
            "smithy.api#documentation": "The public key that corresponds to an issued certificate."
          }
        },
        "crlDistributionPoints": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Describes a list of locations to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13"
          }
        },
        "x509Description": {
          "target": "com.gcp.privateca_v1#X509Parameters",
          "traits": {
            "smithy.api#documentation": "Describes some of the technical X.509 fields in a certificate."
          }
        },
        "certFingerprint": {
          "target": "com.gcp.privateca_v1#CertificateFingerprint",
          "traits": {
            "smithy.api#documentation": "The hash of the x.509 certificate."
          }
        },
        "subjectKeyId": {
          "target": "com.gcp.privateca_v1#KeyId",
          "traits": {
            "smithy.api#documentation": "Provides a means of identifiying certificates that contain a particular public key, per https://tools.ietf.org/html/rfc5280#section-4.2.1.2."
          }
        },
        "tbsCertificateDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash of the pre-signed certificate, which will be signed by the CA. Corresponds to the TBS Certificate in https://tools.ietf.org/html/rfc5280#section-4.1.2. The field will always be populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CertificateDescription describes an X.509 certificate or CSR that has been issued, as an alternative to using ASN.1 / X.509."
      }
    },
    "com.gcp.privateca_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.privateca_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.privateca_v1#UserDefinedAccessUrls": {
      "type": "structure",
      "members": {
        "crlAccessUrls": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of URLs where to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13. If specified, the default Cloud Storage URLs will be omitted."
          }
        },
        "aiaIssuingCertificateUrls": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of URLs where the issuer CA certificate may be downloaded, which appears in the \"Authority Information Access\" extension in the certificate. If specified, the default Cloud Storage URLs will be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-defined URLs for accessing content published by this CertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.privateca_v1#SubjectAltNames": {
      "type": "structure",
      "members": {
        "dnsNames": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Contains only valid, fully-qualified host names."
          }
        },
        "uris": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Contains only valid RFC 3986 URIs."
          }
        },
        "emailAddresses": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Contains only valid RFC 2822 E-mail addresses."
          }
        },
        "customSans": {
          "target": "com.gcp.privateca_v1#X509ExtensionList",
          "traits": {
            "smithy.api#documentation": "Contains additional subject alternative name values. For each custom_san, the `value` field must contain an ASN.1 encoded UTF8String."
          }
        },
        "ipAddresses": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Contains only valid 32-bit IPv4 addresses or RFC 4291 IPv6 addresses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SubjectAltNames corresponds to a more modern way of listing what the asserted identity is in a certificate (i.e., compared to the \"common name\" in the distinguished name)."
      }
    },
    "com.gcp.privateca_v1#X509ExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#X509Extension"
      }
    },
    "com.gcp.privateca_v1#EnableCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.EnableCertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.privateca_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.privateca_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#Operation"
      }
    },
    "com.gcp.privateca_v1#ListCertificateRevocationListsResponse": {
      "type": "structure",
      "members": {
        "certificateRevocationLists": {
          "target": "com.gcp.privateca_v1#CertificateRevocationListList",
          "traits": {
            "smithy.api#documentation": "The list of CertificateRevocationLists."
          }
        },
        "unreachable": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations (e.g. \"us-west1\") that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListCertificateRevocationListsRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.ListCertificateRevocationLists."
      }
    },
    "com.gcp.privateca_v1#CertificateRevocationListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#CertificateRevocationList"
      }
    },
    "com.gcp.privateca_v1#SubordinateConfigChain": {
      "type": "structure",
      "members": {
        "pemCertificates": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Expected to be in leaf-to-root order according to RFC 5246."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message describes a subordinate CA's issuer certificate chain. This wrapper exists for compatibility reasons."
      }
    },
    "com.gcp.privateca_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.privateca_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.privateca_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.privateca_v1#X509Extension": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "com.gcp.privateca_v1#ObjectId",
          "traits": {
            "smithy.api#documentation": "Required. The OID for this X.509 extension."
          }
        },
        "critical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether or not this extension is critical (i.e., if the client does not know how to handle this extension, the client should consider this to be an error)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of this X.509 extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An X509Extension specifies an X.509 extension, which may be used in different parts of X.509 objects like certificates, CSRs, and CRLs."
      }
    },
    "com.gcp.privateca_v1#EcKeyType": {
      "type": "structure",
      "members": {
        "signatureAlgorithm": {
          "target": "com.gcp.privateca_v1#EcKeyTypeSignatureAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Optional. A signature algorithm that must be used. If this is omitted, any EC-based signature algorithm will be allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an Elliptic Curve key that may be used in a Certificate issued from a CaPool."
      }
    },
    "com.gcp.privateca_v1#EcKeyTypeSignatureAlgorithmEnum": {
      "type": "enum",
      "members": {
        "EC_SIGNATURE_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGNATURE_ALGORITHM_UNSPECIFIED"
          }
        },
        "ECDSA_P256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECDSA_P256"
          }
        },
        "ECDSA_P384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECDSA_P384"
          }
        },
        "EDDSA_25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDDSA_25519"
          }
        }
      }
    },
    "com.gcp.privateca_v1#CertificateTemplate": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateTemplate was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this CertificateTemplate was updated."
          }
        },
        "predefinedValues": {
          "target": "com.gcp.privateca_v1#X509Parameters",
          "traits": {
            "smithy.api#documentation": "Optional. A set of X.509 values that will be applied to all issued certificates that use this template. If the certificate request includes conflicting values for the same properties, they will be overwritten by the values defined here. If the issuing CaPool's IssuancePolicy defines conflicting baseline_values for the same properties, the certificate issuance request will fail."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this CertificateTemplate in the format `projects/*/locations/*/certificateTemplates/*`."
          }
        },
        "identityConstraints": {
          "target": "com.gcp.privateca_v1#CertificateIdentityConstraints",
          "traits": {
            "smithy.api#documentation": "Optional. Describes constraints on identities that may be appear in Certificates issued using this template. If this is omitted, then this template will not add restrictions on a certificate's identity."
          }
        },
        "maximumLifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum lifetime allowed for issued Certificates that use this template. If the issuing CaPool resource's IssuancePolicy specifies a maximum_lifetime the minimum of the two durations will be the maximum lifetime for issued Certificates. Note that if the issuing CertificateAuthority expires before a Certificate's requested maximum_lifetime, the effective lifetime will be explicitly truncated to match it."
          }
        },
        "passthroughExtensions": {
          "target": "com.gcp.privateca_v1#CertificateExtensionConstraints",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the set of X.509 extensions that may appear in a Certificate issued using this CertificateTemplate. If a certificate request sets extensions that don't appear in the passthrough_extensions, those extensions will be dropped. If the issuing CaPool's IssuancePolicy defines baseline_values that don't appear here, the certificate issuance request will fail. If this is omitted, then this template will not add restrictions on a certificate's X.509 extensions. These constraints do not apply to X.509 extensions set in this CertificateTemplate's predefined_values."
          }
        },
        "labels": {
          "target": "com.gcp.privateca_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels with user-defined metadata."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of scenarios this template is intended for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CertificateTemplate refers to a managed template for certificate issuance."
      }
    },
    "com.gcp.privateca_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.privateca_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.privateca_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.privateca_v1#ListCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.privateca_v1#CertificateList",
          "traits": {
            "smithy.api#documentation": "The list of Certificates."
          }
        },
        "unreachable": {
          "target": "com.gcp.privateca_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations (e.g. \"us-west1\") that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in ListCertificatesRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CertificateAuthorityService.ListCertificates."
      }
    },
    "com.gcp.privateca_v1#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.privateca_v1#Certificate"
      }
    },
    "com.gcp.privateca_v1#DisableCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "ignoreDependentResources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field allows this CA to be disabled even if it's being depended on by another resource. However, doing so may result in unintended and unrecoverable effects on any dependent resources since the CA will no longer be able to issue certificates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CertificateAuthorityService.DisableCertificateAuthority."
      }
    },
    "com.gcp.privateca_v1#IssuanceModes": {
      "type": "structure",
      "members": {
        "allowCsrBasedIssuance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, allows callers to create Certificates by specifying a CSR."
          }
        },
        "allowConfigBasedIssuance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, allows callers to create Certificates by specifying a CertificateConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IssuanceModes specifies the allowed ways in which Certificates may be requested from this CaPool."
      }
    },
    "com.gcp.privateca_v1#PublishingOptions": {
      "type": "structure",
      "members": {
        "publishCaCert": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, publishes each CertificateAuthority's CA certificate and includes its URL in the \"Authority Information Access\" X.509 extension in all issued Certificates. If this is false, the CA certificate will not be published and the corresponding X.509 extension will not be written in issued certificates."
          }
        },
        "publishCrl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, publishes each CertificateAuthority's CRL and includes its URL in the \"CRL Distribution Points\" X.509 extension in all issued Certificates. If this is false, CRLs will not be published and the corresponding X.509 extension will not be written in issued certificates. CRLs will expire 7 days from their creation. However, we will rebuild daily. CRLs are also rebuilt shortly after a certificate is revoked."
          }
        },
        "encodingFormat": {
          "target": "com.gcp.privateca_v1#PublishingOptionsEncodingFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the encoding format of each CertificateAuthority resource's CA certificate and CRLs. If this is omitted, CA certificates and CRLs will be published in PEM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options relating to the publication of each CertificateAuthority's CA certificate and CRLs and their inclusion as extensions in issued Certificates. The options set here apply to certificates issued by any CertificateAuthority in the CaPool."
      }
    },
    "com.gcp.privateca_v1#PublishingOptionsEncodingFormatEnum": {
      "type": "enum",
      "members": {
        "ENCODING_FORMAT_UNSPECIFIED": {
[...]
