{
  "smithy": "2.0",
  "metadata": {
    "service": "pubsub",
    "version": "v1",
    "title": "Cloud Pub/Sub API",
    "baseUrl": "https://pubsub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.pubsub_v1#ValidateSchemaResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for the `ValidateSchema` method. Empty for now."
      }
    },
    "com.gcp.pubsub_v1#DetachSubscriptionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for the DetachSubscription method. Reserved for future use."
      }
    },
    "com.gcp.pubsub_v1#NoWrapper": {
      "type": "structure",
      "members": {
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the `data` field as the HTTP body for delivery."
      }
    },
    "com.gcp.pubsub_v1#UnstructuredInference": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.pubsub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. A parameters object to be included in each inference request. The parameters object is combined with the data field of the Pub/Sub message to form the inference request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for making inferences using arbitrary JSON payloads."
      }
    },
    "com.gcp.pubsub_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.pubsub_v1#Snapshot": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The snapshot is guaranteed to exist up until this time. A newly-created snapshot expires no later than 7 days from the time of its creation. Its exact lifetime is determined at creation by the existing backlog in the source subscription. Specifically, the lifetime of the snapshot is `7 days - (age of oldest unacked message in the subscription)`. For example, consider a subscription whose oldest unacked message is 3 days old. If a snapshot is created from this subscription, the snapshot -- which will always capture this 3-day-old backlog as long as the snapshot exists -- will expire in 4 days. The service will refuse to create a snapshot that would expire in less than 1 hour after creation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the snapshot."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the topic from which this snapshot is retaining messages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A snapshot resource. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot."
      }
    },
    "com.gcp.pubsub_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.pubsub_v1#TextConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline."
      }
    },
    "com.gcp.pubsub_v1#ModifyPushConfigRequest": {
      "type": "structure",
      "members": {
        "pushConfig": {
          "target": "com.gcp.pubsub_v1#PushConfig",
          "traits": {
            "smithy.api#documentation": "Required. The push configuration for future deliveries. An empty `pushConfig` indicates that the Pub/Sub system should stop pushing messages from the given subscription and allow messages to be pulled and acknowledged - effectively pausing the subscription if `Pull` or `StreamingPull` is not called."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the ModifyPushConfig method."
      }
    },
    "com.gcp.pubsub_v1#UpdateSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.pubsub_v1#Subscription",
          "traits": {
            "smithy.api#documentation": "Required. The updated subscription object."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Indicates which fields in the provided subscription to update. Must be specified and non-empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the UpdateSubscription method."
      }
    },
    "com.gcp.pubsub_v1#AcknowledgeRequest": {
      "type": "structure",
      "members": {
        "ackIds": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The acknowledgment ID for the messages being acknowledged that was returned by the Pub/Sub system in the `Pull` response. Must not be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Acknowledge method."
      }
    },
    "com.gcp.pubsub_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.pubsub_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.pubsub_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.pubsub_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.pubsub_v1#AvroFormat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for reading Cloud Storage data in Avro binary format. The bytes of each object will be set to the `data` field of a Pub/Sub message."
      }
    },
    "com.gcp.pubsub_v1#UpdateTopicRequest": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "com.gcp.pubsub_v1#Topic",
          "traits": {
            "smithy.api#documentation": "Required. The updated topic object."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Indicates which fields in the provided topic to update. Must be specified and non-empty. Note that if `update_mask` contains \"message_storage_policy\" but the `message_storage_policy` is not set in the `topic` provided above, then the updated value is determined by the policy configured at the project or organization level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the UpdateTopic method."
      }
    },
    "com.gcp.pubsub_v1#ValidateMessageResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for the `ValidateMessage` method. Empty for now."
      }
    },
    "com.gcp.pubsub_v1#Topic": {
      "type": "structure",
      "members": {
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
          }
        },
        "messageStoragePolicy": {
          "target": "com.gcp.pubsub_v1#MessageStoragePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Policy constraining the set of Google Cloud Platform regions where messages published to the topic may be stored. If not present, then no constraints are in effect."
          }
        },
        "labels": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
          }
        },
        "ingestionDataSourceSettings": {
          "target": "com.gcp.pubsub_v1#IngestionDataSourceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for ingestion from a data source into this topic."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#TopicStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field indicating the state of the topic."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the Cloud KMS CryptoKey to be used to protect access to messages published on this topic. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "messageTransforms": {
          "target": "com.gcp.pubsub_v1#MessageTransformList",
          "traits": {
            "smithy.api#documentation": "Optional. Transforms to be applied to messages published to the topic. Transforms are applied in the order specified."
          }
        },
        "tags": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
          }
        },
        "schemaSettings": {
          "target": "com.gcp.pubsub_v1#SchemaSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for validating messages published against a schema."
          }
        },
        "messageRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the minimum duration to retain a message after it is published to the topic. If this field is set, messages published to the topic in the last `message_retention_duration` are always available to subscribers. For instance, it allows any attached subscription to [seek to a timestamp](https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) that is up to `message_retention_duration` in the past. If this field is not set, message retention is controlled by settings on individual subscriptions. Cannot be more than 31 days or less than 10 minutes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A topic resource."
      }
    },
    "com.gcp.pubsub_v1#TopicStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INGESTION_RESOURCE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_RESOURCE_ERROR"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#MessageTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#MessageTransform"
      }
    },
    "com.gcp.pubsub_v1#MessageTransform": {
      "type": "structure",
      "members": {
        "aiInference": {
          "target": "com.gcp.pubsub_v1#AIInference",
          "traits": {
            "smithy.api#documentation": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated, use the `disabled` field to disable transforms."
          }
        },
        "compression": {
          "target": "com.gcp.pubsub_v1#Compression",
          "traits": {
            "smithy.api#documentation": "Optional. Compression/Decompression."
          }
        },
        "javascriptUdf": {
          "target": "com.gcp.pubsub_v1#JavaScriptUDF",
          "traits": {
            "smithy.api#documentation": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All supported message transforms types."
      }
    },
    "com.gcp.pubsub_v1#DeadLetterPolicy": {
      "type": "structure",
      "members": {
        "deadLetterTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost."
          }
        },
        "maxDeliveryAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgment deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail."
      }
    },
    "com.gcp.pubsub_v1#PullResponse": {
      "type": "structure",
      "members": {
        "receivedMessages": {
          "target": "com.gcp.pubsub_v1#ReceivedMessageList",
          "traits": {
            "smithy.api#documentation": "Optional. Received Pub/Sub messages. The list will be empty if there are no more messages available in the backlog, or if no messages could be returned before the request timeout. For JSON, the response can be entirely empty. The Pub/Sub system may return fewer than the `maxMessages` requested even if there are more messages available in the backlog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `Pull` method."
      }
    },
    "com.gcp.pubsub_v1#ReceivedMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#ReceivedMessage"
      }
    },
    "com.gcp.pubsub_v1#CloudStorage": {
      "type": "structure",
      "members": {
        "pubsubAvroFormat": {
          "target": "com.gcp.pubsub_v1#PubSubAvroFormat",
          "traits": {
            "smithy.api#documentation": "Optional. It will be assumed data from Cloud Storage was written via [Cloud Storage subscriptions](https://cloud.google.com/pubsub/docs/cloudstorage)."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage bucket. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#CloudStorageStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates the state of the Cloud Storage ingestion source."
          }
        },
        "matchGlob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Glob pattern used to match objects that will be ingested. If unset, all objects will be ingested. See the [supported patterns](https://cloud.google.com/storage/docs/json_api/v1/objects/list#list-objects-and-prefixes-using-glob)."
          }
        },
        "textFormat": {
          "target": "com.gcp.pubsub_v1#TextFormat",
          "traits": {
            "smithy.api#documentation": "Optional. Data from Cloud Storage will be interpreted as text."
          }
        },
        "avroFormat": {
          "target": "com.gcp.pubsub_v1#AvroFormat",
          "traits": {
            "smithy.api#documentation": "Optional. Data from Cloud Storage will be interpreted in Avro format."
          }
        },
        "minimumObjectCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Only objects with a larger or equal creation timestamp will be ingested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ingestion settings for Cloud Storage."
      }
    },
    "com.gcp.pubsub_v1#CloudStorageStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CLOUD_STORAGE_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_STORAGE_PERMISSION_DENIED"
          }
        },
        "PUBLISH_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH_PERMISSION_DENIED"
          }
        },
        "BUCKET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET_NOT_FOUND"
          }
        },
        "TOO_MANY_OBJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_OBJECTS"
          }
        },
        "CONFLICTING_REGION_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_REGION_CONSTRAINTS"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#ConfluentCloud": {
      "type": "structure",
      "members": {
        "bootstrapServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The address of the bootstrap server. The format is url:port."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the cluster."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#ConfluentCloudStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates the state of the Confluent Cloud ingestion source."
          }
        },
        "identityPoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the identity pool to be used for Federated Identity authentication with Confluent Cloud. See https://docs.confluent.io/cloud/current/security/authenticate/workload-identities/identity-providers/oauth/identity-pools.html#add-oauth-identity-pools."
          }
        },
        "gcpServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The GCP service account to be used for Federated Identity authentication with `identity_pool_id`."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the topic in the Confluent Cloud cluster that Pub/Sub will import from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ingestion settings for Confluent Cloud."
      }
    },
    "com.gcp.pubsub_v1#ConfluentCloudStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CONFLUENT_CLOUD_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLUENT_CLOUD_PERMISSION_DENIED"
          }
        },
        "PUBLISH_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH_PERMISSION_DENIED"
          }
        },
        "UNREACHABLE_BOOTSTRAP_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE_BOOTSTRAP_SERVER"
          }
        },
        "CLUSTER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_NOT_FOUND"
          }
        },
        "TOPIC_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC_NOT_FOUND"
          }
        },
        "CONFLICTING_REGION_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_REGION_CONSTRAINTS"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#ListTopicSnapshotsResponse": {
      "type": "structure",
      "members": {
        "snapshots": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The names of the snapshots that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not empty, indicates that there may be more snapshots that match the request; this value should be passed in a new `ListTopicSnapshotsRequest` to get more snapshots."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListTopicSnapshots` method."
      }
    },
    "com.gcp.pubsub_v1#RollbackSchemaRequest": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision ID to roll back to. It must be a revision of the same schema. Example: c7cfa2a8"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `RollbackSchema` method."
      }
    },
    "com.gcp.pubsub_v1#AwsMsk": {
      "type": "structure",
      "members": {
        "gcpServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The GCP service account to be used for Federated Identity authentication with Amazon MSK (via a `AssumeRoleWithWebIdentity` call for the provided role). The `aws_role_arn` must be set up with `accounts.google.com:sub` equals to this service account number."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#AwsMskStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates the state of the Amazon MSK ingestion source."
          }
        },
        "clusterArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Amazon Resource Name (ARN) that uniquely identifies the cluster."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the topic in the Amazon MSK cluster that Pub/Sub will import from."
          }
        },
        "awsRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. AWS role ARN to be used for Federated Identity authentication with Amazon MSK. Check the Pub/Sub docs for how to set up this role and the required permissions that need to be attached to it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ingestion settings for Amazon MSK."
      }
    },
    "com.gcp.pubsub_v1#AwsMskStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "MSK_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSK_PERMISSION_DENIED"
          }
        },
        "PUBLISH_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH_PERMISSION_DENIED"
          }
        },
        "CLUSTER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_NOT_FOUND"
          }
        },
        "TOPIC_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC_NOT_FOUND"
          }
        },
        "CONFLICTING_REGION_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_REGION_CONSTRAINTS"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#BigQueryConfig": {
      "type": "structure",
      "members": {
        "useTopicSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#BigQueryConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates whether or not the subscription can receive messages."
          }
        },
        "dropUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}"
          }
        },
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
          }
        },
        "useTableSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a BigQuery subscription."
      }
    },
    "com.gcp.pubsub_v1#BigQueryConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "SCHEMA_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_MISMATCH"
          }
        },
        "IN_TRANSIT_LOCATION_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT_LOCATION_RESTRICTION"
          }
        },
        "VERTEX_AI_LOCATION_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI_LOCATION_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#ValidateMessageRequest": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.gcp.pubsub_v1#Pubsub_Schema",
          "traits": {
            "smithy.api#documentation": "Ad-hoc schema against which to validate"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`."
          }
        },
        "encoding": {
          "target": "com.gcp.pubsub_v1#ValidateMessageRequestEncodingEnum",
          "traits": {
            "smithy.api#documentation": "The encoding expected for messages"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message to validate against the provided `schema_spec`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `ValidateMessage` method."
      }
    },
    "com.gcp.pubsub_v1#ValidateMessageRequestEncodingEnum": {
      "type": "enum",
      "members": {
        "ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCODING_UNSPECIFIED"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#ListSchemasResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.gcp.pubsub_v1#Pubsub_SchemaList",
          "traits": {
            "smithy.api#documentation": "The resulting schemas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more schemas that match the request; this value should be passed in a new `ListSchemasRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListSchemas` method."
      }
    },
    "com.gcp.pubsub_v1#Pubsub_SchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#Pubsub_Schema"
      }
    },
    "com.gcp.pubsub_v1#JavaScriptUDF": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the JavasScript function that should applied to Pub/Sub messages."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (optional) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-defined JavaScript function that can transform or filter a Pub/Sub message."
      }
    },
    "com.gcp.pubsub_v1#PushConfig": {
      "type": "structure",
      "members": {
        "pushEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`."
          }
        },
        "oidcToken": {
          "target": "com.gcp.pubsub_v1#OidcToken",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
          }
        },
        "noWrapper": {
          "target": "com.gcp.pubsub_v1#NoWrapper",
          "traits": {
            "smithy.api#documentation": "Optional. When set, the payload to the push endpoint is not wrapped."
          }
        },
        "attributes": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`"
          }
        },
        "pubsubWrapper": {
          "target": "com.gcp.pubsub_v1#PubsubWrapper",
          "traits": {
            "smithy.api#documentation": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a push delivery endpoint."
      }
    },
    "com.gcp.pubsub_v1#IngestionDataSourceSettings": {
      "type": "structure",
      "members": {
        "platformLogsSettings": {
          "target": "com.gcp.pubsub_v1#PlatformLogsSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Platform Logs settings. If unset, no Platform Logs will be generated."
          }
        },
        "confluentCloud": {
          "target": "com.gcp.pubsub_v1#ConfluentCloud",
          "traits": {
            "smithy.api#documentation": "Optional. Confluent Cloud."
          }
        },
        "azureEventHubs": {
          "target": "com.gcp.pubsub_v1#AzureEventHubs",
          "traits": {
            "smithy.api#documentation": "Optional. Azure Event Hubs."
          }
        },
        "cloudStorage": {
          "target": "com.gcp.pubsub_v1#CloudStorage",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage."
          }
        },
        "awsMsk": {
          "target": "com.gcp.pubsub_v1#AwsMsk",
          "traits": {
            "smithy.api#documentation": "Optional. Amazon MSK."
          }
        },
        "awsKinesis": {
          "target": "com.gcp.pubsub_v1#AwsKinesis",
          "traits": {
            "smithy.api#documentation": "Optional. Amazon Kinesis Data Streams."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for an ingestion data source on a topic."
      }
    },
    "com.gcp.pubsub_v1#ListSchemaRevisionsResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.gcp.pubsub_v1#Pubsub_SchemaList",
          "traits": {
            "smithy.api#documentation": "The revisions of the schema."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListSchemaRevisions` method."
      }
    },
    "com.gcp.pubsub_v1#AIInference": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        },
        "unstructuredInference": {
          "target": "com.gcp.pubsub_v1#UnstructuredInference",
          "traits": {
            "smithy.api#documentation": "Optional. Requests and responses can be any arbitrary JSON object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for making inference requests against Vertex AI models."
      }
    },
    "com.gcp.pubsub_v1#ListSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "subscriptions": {
          "target": "com.gcp.pubsub_v1#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "Optional. The subscriptions that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListSubscriptionsRequest` to get more subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListSubscriptions` method."
      }
    },
    "com.gcp.pubsub_v1#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#Subscription"
      }
    },
    "com.gcp.pubsub_v1#ListTopicsResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.gcp.pubsub_v1#TopicList",
          "traits": {
            "smithy.api#documentation": "Optional. The resulting topics."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not empty, indicates that there may be more topics that match the request; this value should be passed in a new `ListTopicsRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListTopics` method."
      }
    },
    "com.gcp.pubsub_v1#TopicList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#Topic"
      }
    },
    "com.gcp.pubsub_v1#PubSubAvroFormat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for reading Cloud Storage data written via [Cloud Storage subscriptions](https://cloud.google.com/pubsub/docs/cloudstorage). The data and attributes fields of the originally exported Pub/Sub message will be restored when publishing."
      }
    },
    "com.gcp.pubsub_v1#AvroConfig": {
      "type": "structure",
      "members": {
        "useTopicSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists."
          }
        },
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary."
      }
    },
    "com.gcp.pubsub_v1#ExpirationPolicy": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion)."
      }
    },
    "com.gcp.pubsub_v1#AzureEventHubs": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Event Hubs namespace."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tenant id of the Azure application that is being used to authenticate Pub/Sub."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the resource group within the azure subscription."
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Azure subscription id."
          }
        },
        "gcpServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The GCP service account to be used for Federated Identity authentication."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#AzureEventHubsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates the state of the Event Hubs ingestion source."
          }
        },
        "eventHub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Event Hub."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The client id of the Azure application that is being used to authenticate Pub/Sub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ingestion settings for Azure Event Hubs."
      }
    },
    "com.gcp.pubsub_v1#AzureEventHubsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "EVENT_HUBS_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_HUBS_PERMISSION_DENIED"
          }
        },
        "PUBLISH_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH_PERMISSION_DENIED"
          }
        },
        "NAMESPACE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_NOT_FOUND"
          }
        },
        "EVENT_HUB_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_HUB_NOT_FOUND"
          }
        },
        "SUBSCRIPTION_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_NOT_FOUND"
          }
        },
        "RESOURCE_GROUP_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_GROUP_NOT_FOUND"
          }
        },
        "CONFLICTING_REGION_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_REGION_CONSTRAINTS"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#PubsubWrapper": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
      }
    },
    "com.gcp.pubsub_v1#BigtableConfig": {
      "type": "structure",
      "members": {
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`."
          }
        },
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#BigtableConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field that indicates whether or not the subscription can receive messages."
          }
        },
        "appProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Bigtable subscription. The Pub/Sub message will be written to a Bigtable row as follows: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp."
      }
    },
    "com.gcp.pubsub_v1#BigtableConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "APP_PROFILE_MISCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_PROFILE_MISCONFIGURED"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "SCHEMA_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_MISMATCH"
          }
        },
        "IN_TRANSIT_LOCATION_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT_LOCATION_RESTRICTION"
          }
        },
        "VERTEX_AI_LOCATION_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI_LOCATION_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.pubsub_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.pubsub_v1#Subscription": {
      "type": "structure",
      "members": {
        "cloudStorageConfig": {
          "target": "com.gcp.pubsub_v1#CloudStorageConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it."
          }
        },
        "messageRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes."
          }
        },
        "retryPolicy": {
          "target": "com.gcp.pubsub_v1#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgment deadline exceeded events for a given message."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out."
          }
        },
        "retainAckedMessages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages."
          }
        },
        "deadLetterPolicy": {
          "target": "com.gcp.pubsub_v1#DeadLetterPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
          }
        },
        "enableMessageOrdering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order."
          }
        },
        "topicMessageRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the minimum duration for which a message is retained after it is published to the subscription's topic. If this field is set, messages published to the subscription's topic in the last `topic_message_retention_duration` are always available to subscribers. See the `message_retention_duration` field in `Topic`. This field is set only in responses from the server; it is ignored if it is set in any requests."
          }
        },
        "analyticsHubSubscriptionInfo": {
          "target": "com.gcp.pubsub_v1#AnalyticsHubSubscriptionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the associated Analytics Hub subscription. Only set if the subscription is created by Analytics Hub."
          }
        },
        "messageTransforms": {
          "target": "com.gcp.pubsub_v1#MessageTransformList",
          "traits": {
            "smithy.api#documentation": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified."
          }
        },
        "tags": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
          }
        },
        "state": {
          "target": "com.gcp.pubsub_v1#SubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An output-only field indicating whether or not the subscription can receive messages."
          }
        },
        "enableExactlyOnceDelivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgment deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values."
          }
        },
        "pushConfig": {
          "target": "com.gcp.pubsub_v1#PushConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If push delivery is used with this subscription, this field is used to configure it."
          }
        },
        "detached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made."
          }
        },
        "labels": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
          }
        },
        "bigtableConfig": {
          "target": "com.gcp.pubsub_v1#BigtableConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it."
          }
        },
        "bigqueryConfig": {
          "target": "com.gcp.pubsub_v1#BigQueryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it."
          }
        },
        "expirationPolicy": {
          "target": "com.gcp.pubsub_v1#ExpirationPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`. The value of this field will be `_deleted-topic_` if the topic has been deleted."
          }
        },
        "ackDeadlineSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription resource. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, or `bigtable_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set."
      }
    },
    "com.gcp.pubsub_v1#SubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "RESOURCE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_ERROR"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#PullRequest": {
      "type": "structure",
      "members": {
        "returnImmediately": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If this field set to true, the system will respond immediately even if it there are no messages available to return in the `Pull` response. Otherwise, the system may wait (for a bounded amount of time) until at least one message is available, rather than returning no messages. Warning: setting this field to `true` is discouraged because it adversely impacts the performance of `Pull` operations. We recommend that users do not set this field."
          }
        },
        "maxMessages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of messages to return for this request. Must be a positive integer. The Pub/Sub system may return fewer than the number specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `Pull` method."
      }
    },
    "com.gcp.pubsub_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.pubsub_v1#MessageStoragePolicy": {
      "type": "structure",
      "members": {
        "allowedPersistenceRegions": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of IDs of Google Cloud regions where messages that are published to the topic may be persisted in storage. Messages published by publishers running in non-allowed Google Cloud regions (or running outside of Google Cloud altogether) are routed for storage in one of the allowed regions. An empty list means that no regions are allowed, and is not a valid configuration."
          }
        },
        "enforceInTransit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, `allowed_persistence_regions` is also used to enforce in-transit guarantees for messages. That is, Pub/Sub will fail Publish operations on this topic and subscribe operations on any subscription attached to this topic in any region that is not in `allowed_persistence_regions`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy constraining the storage of messages published to the topic."
      }
    },
    "com.gcp.pubsub_v1#UpdateSnapshotRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Indicates which fields in the provided snapshot to update. Must be specified and non-empty."
          }
        },
        "snapshot": {
          "target": "com.gcp.pubsub_v1#Snapshot",
          "traits": {
            "smithy.api#documentation": "Required. The updated snapshot object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the UpdateSnapshot method."
      }
    },
    "com.gcp.pubsub_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.pubsub_v1#OidcToken": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push)."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect)."
      }
    },
    "com.gcp.pubsub_v1#Pubsub_Schema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the schema. Format is `projects/{project}/schemas/{schema}`."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the schema."
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp that the revision was created."
          }
        },
        "type": {
          "target": "com.gcp.pubsub_v1#Pubsub_SchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the schema definition."
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The definition of the schema. This should contain a string representing the full definition of the schema that is a valid schema definition of the type specified in `type`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schema resource."
      }
    },
    "com.gcp.pubsub_v1#Pubsub_SchemaTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PROTOCOL_BUFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_BUFFER"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#PlatformLogsSettings": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.pubsub_v1#PlatformLogsSettingsSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum severity level of Platform Logs that will be written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Platform Logs produced by Pub/Sub."
      }
    },
    "com.gcp.pubsub_v1#PlatformLogsSettingsSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "snapshots": {
          "target": "com.gcp.pubsub_v1#SnapshotList",
          "traits": {
            "smithy.api#documentation": "Optional. The resulting snapshots."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not empty, indicates that there may be more snapshot that match the request; this value should be passed in a new `ListSnapshotsRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListSnapshots` method."
      }
    },
    "com.gcp.pubsub_v1#SnapshotList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#Snapshot"
      }
    },
    "com.gcp.pubsub_v1#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subscription whose backlog the snapshot retains. Specifically, the created snapshot is guaranteed to retain: (a) The existing backlog on the subscription. More precisely, this is defined as the messages in the subscription's backlog that are unacknowledged upon the successful completion of the `CreateSnapshot` request; as well as: (b) Any messages published to the subscription's topic following the successful completion of the CreateSnapshot request. Format is `projects/{project}/subscriptions/{sub}`."
          }
        },
        "labels": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
          }
        },
        "tags": {
          "target": "com.gcp.pubsub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `CreateSnapshot` method."
      }
    },
    "com.gcp.pubsub_v1#AnalyticsHubSubscriptionInfo": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the associated Analytics Hub subscription resource. Pattern: \"projects/{project}/locations/{location}/subscriptions/{subscription}\""
          }
        },
        "listing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the associated Analytics Hub listing resource. Pattern: \"projects/{project}/locations/{location}/dataExchanges/{data_exchange}/listings/{listing}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an associated [Analytics Hub subscription](https://cloud.google.com/bigquery/docs/analytics-hub-manage-subscriptions)."
      }
    },
    "com.gcp.pubsub_v1#ReceivedMessage": {
      "type": "structure",
      "members": {
        "ackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This ID can be used to acknowledge the received message."
          }
        },
        "deliveryAttempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The approximate number of times that Pub/Sub has attempted to deliver the associated message to a subscriber. More precisely, this is 1 + (number of NACKs) + (number of ack_deadline exceeds) for this message. A NACK is any call to ModifyAckDeadline with a 0 deadline. An ack_deadline exceeds event is whenever a message is not acknowledged within ack_deadline. Note that ack_deadline is initially Subscription.ackDeadlineSeconds, but may get extended automatically by the client library. Upon the first delivery of a given message, `delivery_attempt` will have a value of 1. The value is calculated at best effort and is approximate. If a DeadLetterPolicy is not set on the subscription, this will be 0."
          }
        },
        "message": {
          "target": "com.gcp.pubsub_v1#PubsubMessage",
          "traits": {
            "smithy.api#documentation": "Optional. The message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message and its corresponding acknowledgment ID."
      }
    },
    "com.gcp.pubsub_v1#TextFormat": {
      "type": "structure",
      "members": {
        "delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When unset, '\\n' is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for reading Cloud Storage data in text format. Each line of text as specified by the delimiter will be set to the `data` field of a Pub/Sub message."
      }
    },
    "com.gcp.pubsub_v1#CommitSchemaRequest": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.gcp.pubsub_v1#Pubsub_Schema",
          "traits": {
            "smithy.api#documentation": "Required. The schema revision to commit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CommitSchema method."
      }
    },
    "com.gcp.pubsub_v1#Compression": {
      "type": "structure",
      "members": {
        "compressionAlgorithm": {
          "target": "com.gcp.pubsub_v1#CompressionCompressionAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the compression algorithm to use."
          }
        },
        "compressionMode": {
          "target": "com.gcp.pubsub_v1#CompressionCompressionModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies whether to compress or decompress the message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for compressing/decompressing message data using a user-specified compression algorithm."
      }
    },
    "com.gcp.pubsub_v1#CompressionCompressionAlgorithmEnum": {
      "type": "enum",
      "members": {
        "COMPRESSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "ZLIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZLIB"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#CompressionCompressionModeEnum": {
      "type": "enum",
      "members": {
        "COMPRESSION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESSION_MODE_UNSPECIFIED"
          }
        },
        "COMPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESS"
          }
        },
        "DECOMPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMPRESS"
          }
        }
      }
    },
    "com.gcp.pubsub_v1#RetryPolicy": {
      "type": "structure",
      "members": {
        "minimumBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds."
          }
        },
        "maximumBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy that specifies how Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgment deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff."
      }
    },
    "com.gcp.pubsub_v1#SeekRequest": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored."
          }
        },
        "snapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `Seek` method."
      }
    },
    "com.gcp.pubsub_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.pubsub_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.pubsub_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#Binding"
      }
    },
    "com.gcp.pubsub_v1#PublishRequest": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.pubsub_v1#PubsubMessageList",
          "traits": {
            "smithy.api#documentation": "Required. The messages to publish."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Publish method."
      }
    },
    "com.gcp.pubsub_v1#PubsubMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1#PubsubMessage"
      }
    },
    "com.gcp.pubsub_v1#PublishResponse": {
      "type": "structure",
      "members": {
        "messageIds": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `Publish` method."
      }
    },
    "com.gcp.pubsub_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.pubsub_v1#StringList",
          "traits": {
[...]
