{
  "smithy": "2.0",
  "metadata": {
    "service": "readerrevenuesubscriptionlinking",
    "version": "v1",
    "title": "Reader Revenue Subscription Linking API",
    "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/"
  },
  "shapes": {
    "com.gcp.readerrevenuesubscriptionlinking_v1#Reader": {
      "type": "structure",
      "members": {
        "originatingPublicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SwG publication id that the reader's subscription linking was originating from."
          }
        },
        "publicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SwG publication id that the reader has linked their subscription to."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the publication reader was created and associated with a Google user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
          }
        },
        "ppid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The publisher provided id of the reader."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reader of a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Entitlement": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. The max expire_time is 398 days from now()."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
          }
        },
        "subscriptionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single entitlement for a publication reader"
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeleteReaderResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response to deleting a reader of a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements": {
      "type": "structure",
      "members": {
        "entitlements": {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#EntitlementList",
          "traits": {
            "smithy.api#documentation": "All of the entitlements for a publication reader."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the singleton."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A singleton containing all of a reader's entitlements for a publication."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#EntitlementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Entitlement"
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#GetEntitlementsPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the singleton.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields to update. Defaults to all fields.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#UpdateEntitlementsPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#ReaderEntitlements"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#GetPublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Reader"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReadersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, any entitlements under the reader will also be purged.",
            "smithy.api#httpQuery": "force"
          }
        }
      }
    },
    "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReaders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#DeletePublicationsReadersRequest"
      },
      "output": {
        "target": "com.gcp.readerrevenuesubscriptionlinking_v1#DeleteReaderResponse"
      },
      "errors": [
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#NotFound"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Forbidden"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#BadRequest"
        },
        {
          "target": "com.gcp.readerrevenuesubscriptionlinking_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present."
      }
    }
  }
}
