{
  "smithy": "2.0",
  "metadata": {
    "service": "realtimebidding",
    "version": "v1",
    "title": "Real-time Bidding API",
    "baseUrl": "https://realtimebidding.googleapis.com/"
  },
  "shapes": {
    "com.gcp.realtimebidding_v1#ListEndpointsResponse": {
      "type": "structure",
      "members": {
        "endpoints": {
          "target": "com.gcp.realtimebidding_v1#EndpointList",
          "traits": {
            "smithy.api#documentation": "List of bidder endpoints."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the `ListEndpoints` method to retrieve the next page of results in ListEndpointsRequest.pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing bidder endpoints."
      }
    },
    "com.gcp.realtimebidding_v1#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#Endpoint"
      }
    },
    "com.gcp.realtimebidding_v1#Endpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server."
          }
        },
        "tradingLocation": {
          "target": "com.gcp.realtimebidding_v1#EndpointTradingLocationEnum",
          "traits": {
            "smithy.api#documentation": "The trading location that bid requests should be sent from. See https://developers.google.com/authorized-buyers/rtb/peer-guide#trading-locations for further information."
          }
        },
        "bidProtocol": {
          "target": "com.gcp.realtimebidding_v1#EndpointBidProtocolEnum",
          "traits": {
            "smithy.api#documentation": "The protocol that the bidder endpoint is using."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL that bid requests should be sent to."
          }
        },
        "maximumQps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of queries per second allowed to be sent to this server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bidder endpoint that receives bid requests."
      }
    },
    "com.gcp.realtimebidding_v1#EndpointTradingLocationEnum": {
      "type": "enum",
      "members": {
        "TRADING_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRADING_LOCATION_UNSPECIFIED"
          }
        },
        "US_WEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_WEST"
          }
        },
        "US_EAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_EAST"
          }
        },
        "EUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUROPE"
          }
        },
        "ASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASIA"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#EndpointBidProtocolEnum": {
      "type": "enum",
      "members": {
        "BID_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BID_PROTOCOL_UNSPECIFIED"
          }
        },
        "GOOGLE_RTB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_RTB"
          }
        },
        "OPENRTB_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENRTB_JSON"
          }
        },
        "OPENRTB_PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENRTB_PROTOBUF"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#ListPretargetingConfigsResponse": {
      "type": "structure",
      "members": {
        "pretargetingConfigs": {
          "target": "com.gcp.realtimebidding_v1#PretargetingConfigList",
          "traits": {
            "smithy.api#documentation": "List of pretargeting configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the `ListPretargetingConfigs` method to retrieve the next page of results in ListPretargetingConfigsRequest.pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing pretargeting configurations."
      }
    },
    "com.gcp.realtimebidding_v1#PretargetingConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#PretargetingConfig"
      }
    },
    "com.gcp.realtimebidding_v1#ListBiddersResponse": {
      "type": "structure",
      "members": {
        "bidders": {
          "target": "com.gcp.realtimebidding_v1#BidderList",
          "traits": {
            "smithy.api#documentation": "List of bidders."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the `ListBidders` method to retrieve the next page of results in ListBiddersRequest.pageToken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing bidders."
      }
    },
    "com.gcp.realtimebidding_v1#BidderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#Bidder"
      }
    },
    "com.gcp.realtimebidding_v1#WatchCreativesResponse": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub topic that will be used to publish creative serving status notifications. This would be of the format `projects/{project_id}/topics/{topic_id}`."
          }
        },
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub subscription that can be used to pull creative status notifications. This would be of the format `projects/{project_id}/subscriptions/{subscription_id}`. Subscription is created with pull delivery. All service accounts belonging to the bidder will have read access to this subscription. Subscriptions that are inactive for more than 90 days will be disabled. Use watchCreatives to re-enable the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for the request to receive push notification when a bidder's creatives change status."
      }
    },
    "com.gcp.realtimebidding_v1#AddTargetedSitesRequest": {
      "type": "structure",
      "members": {
        "sites": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of site URLs to target in the pretargeting configuration. These values will be added to the list of targeted URLs in PretargetingConfig.webTargeting.values."
          }
        },
        "targetingMode": {
          "target": "com.gcp.realtimebidding_v1#AddTargetedSitesRequestTargetingModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The targeting mode that should be applied to the list of site URLs. If there are existing targeted sites, must be equal to the existing PretargetingConfig.webTargeting.targetingMode or a 400 bad request error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to start targeting the provided sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
      }
    },
    "com.gcp.realtimebidding_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.realtimebidding_v1#AddTargetedSitesRequestTargetingModeEnum": {
      "type": "enum",
      "members": {
        "TARGETING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_MODE_UNSPECIFIED"
          }
        },
        "INCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUSIVE"
          }
        },
        "EXCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSIVE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#Buyer": {
      "type": "structure",
      "members": {
        "maximumActiveCreativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum number of active creatives that this buyer can have."
          }
        },
        "activeCreativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of creatives that this buyer submitted through the API or bid with in the last 30 days. This is counted against the maximum number of active creatives."
          }
        },
        "billingIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of billing IDs associated with this account. These IDs appear on: 1. A bid request, to signal which buyers are eligible to bid on a given opportunity, and which pretargeting configurations were matched for each eligible buyer. 2. The bid response, to attribute a winning impression to a specific account for billing, reporting, policy and publisher block enforcement."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the buyer resource that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` is the account ID of the buyer account whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager."
          }
        },
        "bidder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the bidder resource that is responsible for receiving bidding traffic for this account. The bidder name must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder receiving traffic for this buyer."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The diplay name associated with this buyer account, as visible to sellers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RTB Buyer account information."
      }
    },
    "com.gcp.realtimebidding_v1#AppTargeting": {
      "type": "structure",
      "members": {
        "mobileAppTargeting": {
          "target": "com.gcp.realtimebidding_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Targeted app IDs. App IDs can refer to those found in an app store or ones that are not published in an app store. A maximum of 30,000 app IDs can be targeted."
          }
        },
        "mobileAppCategoryTargeting": {
          "target": "com.gcp.realtimebidding_v1#NumericTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Lists of included and excluded mobile app categories as defined in https://developers.google.com/adwords/api/docs/appendix/mobileappcategories.csv."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subset of app inventory to target. Bid requests that match criteria in at least one of the specified dimensions will be sent."
      }
    },
    "com.gcp.realtimebidding_v1#UrlDownloadSize": {
      "type": "structure",
      "members": {
        "normalizedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The normalized URL with query parameters and fragment removed."
          }
        },
        "downloadSizeKb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Download size of the URL in kilobytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URL-level breakdown for the download size."
      }
    },
    "com.gcp.realtimebidding_v1#AddTargetedPublishersRequest": {
      "type": "structure",
      "members": {
        "publisherIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of publisher IDs to target in the pretargeting configuration. These values will be added to the list of targeted publisher IDs in PretargetingConfig.publisherTargeting.values. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
          }
        },
        "targetingMode": {
          "target": "com.gcp.realtimebidding_v1#AddTargetedPublishersRequestTargetingModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The targeting mode that should be applied to the list of publisher IDs. If are existing publisher IDs, must be equal to the existing PretargetingConfig.publisherTargeting.targetingMode or a 400 bad request error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to start targeting the provided publishers in a specific pretargeting configuration. The pretargeting configuration itself specifies how these publishers are targeted in PretargetingConfig.publisherTargeting."
      }
    },
    "com.gcp.realtimebidding_v1#AddTargetedPublishersRequestTargetingModeEnum": {
      "type": "enum",
      "members": {
        "TARGETING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_MODE_UNSPECIFIED"
          }
        },
        "INCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUSIVE"
          }
        },
        "EXCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSIVE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CloseUserListRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to close a specified user list."
      }
    },
    "com.gcp.realtimebidding_v1#ListPublisherConnectionsResponse": {
      "type": "structure",
      "members": {
        "publisherConnections": {
          "target": "com.gcp.realtimebidding_v1#PublisherConnectionList",
          "traits": {
            "smithy.api#documentation": "The list of publisher connections."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListPublisherConnectionsRequest.pageToken field in the subsequent call to the `ListPublisherConnections` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a request for listing publisher connections."
      }
    },
    "com.gcp.realtimebidding_v1#PublisherConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#PublisherConnection"
      }
    },
    "com.gcp.realtimebidding_v1#BatchRejectPublisherConnectionsRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The names of the publishers with whom connection will be rejected. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to reject a batch of publisher connections."
      }
    },
    "com.gcp.realtimebidding_v1#CreativeServingDecision": {
      "type": "structure",
      "members": {
        "detectedDomains": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The detected domains for this creative."
          }
        },
        "detectedVendorIds": {
          "target": "com.gcp.realtimebidding_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "IDs of the ad technology vendors that were detected to be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method. If the `allowed_vendor_type` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) does not contain one of the vendor type IDs that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
          }
        },
        "lastStatusUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the creative status was updated. Can be used to filter the response of the creatives.list method."
          }
        },
        "detectedClickThroughUrls": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of detected destination URLs for the creative. Can be used to filter the response of the creatives.list method."
          }
        },
        "platformPolicyCompliance": {
          "target": "com.gcp.realtimebidding_v1#PolicyCompliance",
          "traits": {
            "smithy.api#documentation": "Policy compliance of this creative when bidding in Open Bidding (outside of Russia and China). For the list of platform policies, see: https://support.google.com/platformspolicy/answer/3013851."
          }
        },
        "detectedAdvertisers": {
          "target": "com.gcp.realtimebidding_v1#AdvertiserAndBrandList",
          "traits": {
            "smithy.api#documentation": "Detected advertisers and brands."
          }
        },
        "networkPolicyCompliance": {
          "target": "com.gcp.realtimebidding_v1#PolicyCompliance",
          "traits": {
            "smithy.api#documentation": "Policy compliance of this creative when bidding in open auction, private auction, or auction packages (outside of Russia and China)."
          }
        },
        "russiaPolicyCompliance": {
          "target": "com.gcp.realtimebidding_v1#PolicyCompliance",
          "traits": {
            "smithy.api#documentation": "The policy compliance of this creative in Russia. When approved or disapproved, this applies to both deals and open auction in Russia. When pending review, this creative is allowed to serve for deals but not for open auction."
          }
        },
        "detectedCategories": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. IDs of the detected categories. The taxonomy in which the categories are expressed is specified by the detected_categories_taxonomy field. Use this in conjunction with BidRequest.bcat to avoid bidding on impressions where a given ad category is blocked, or to troubleshoot filtered bids. Can be used to filter the response of the creatives.list method."
          }
        },
        "adTechnologyProviders": {
          "target": "com.gcp.realtimebidding_v1#AdTechnologyProviders",
          "traits": {
            "smithy.api#documentation": "The detected ad technology providers."
          }
        },
        "dealsPolicyCompliance": {
          "target": "com.gcp.realtimebidding_v1#PolicyCompliance",
          "traits": {
            "smithy.api#documentation": "Policy compliance of this creative when bidding on Programmatic Guaranteed and Preferred Deals (outside of Russia and China)."
          }
        },
        "chinaPolicyCompliance": {
          "target": "com.gcp.realtimebidding_v1#PolicyCompliance",
          "traits": {
            "smithy.api#documentation": "The policy compliance of this creative in China. When approved or disapproved, this applies to both deals and open auction in China. When pending review, this creative is allowed to serve for deals but not for open auction."
          }
        },
        "detectedAttributes": {
          "target": "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedAttributesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Publisher-excludable attributes that were detected for this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes. Can be used to filter the response of the creatives.list method."
          }
        },
        "detectedCategoriesTaxonomy": {
          "target": "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedCategoriesTaxonomyEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The taxonomy in which the detected_categories field is expressed."
          }
        },
        "detectedProductCategories": {
          "target": "com.gcp.realtimebidding_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs. Can be used to filter the response of the creatives.list method."
          }
        },
        "detectedSensitiveCategories": {
          "target": "com.gcp.realtimebidding_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Detected sensitive categories, if any. Can be used to filter the response of the creatives.list method. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Top level status and detected attributes of a creative."
      }
    },
    "com.gcp.realtimebidding_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.realtimebidding_v1#AdvertiserAndBrandList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#AdvertiserAndBrand"
      }
    },
    "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedAttributesItemEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "IMAGE_RICH_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_RICH_MEDIA"
          }
        },
        "ADOBE_FLASH_FLV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADOBE_FLASH_FLV"
          }
        },
        "IS_TAGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_TAGGED"
          }
        },
        "IS_COOKIE_TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_COOKIE_TARGETED"
          }
        },
        "IS_USER_INTEREST_TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_USER_INTEREST_TARGETED"
          }
        },
        "EXPANDING_DIRECTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_NONE"
          }
        },
        "EXPANDING_DIRECTION_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP"
          }
        },
        "EXPANDING_DIRECTION_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN"
          }
        },
        "EXPANDING_DIRECTION_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_LEFT"
          }
        },
        "EXPANDING_DIRECTION_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_UP_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_LEFT"
          }
        },
        "EXPANDING_DIRECTION_UP_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_DOWN_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN_LEFT"
          }
        },
        "EXPANDING_DIRECTION_DOWN_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN_RIGHT"
          }
        },
        "CREATIVE_TYPE_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_TYPE_HTML"
          }
        },
        "CREATIVE_TYPE_VAST_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_TYPE_VAST_VIDEO"
          }
        },
        "EXPANDING_DIRECTION_UP_OR_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_OR_DOWN"
          }
        },
        "EXPANDING_DIRECTION_LEFT_OR_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_LEFT_OR_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_ANY_DIAGONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_ANY_DIAGONAL"
          }
        },
        "EXPANDING_ACTION_ROLLOVER_TO_EXPAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_ACTION_ROLLOVER_TO_EXPAND"
          }
        },
        "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_MRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_MRAID"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_FLASH"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_HTML5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_HTML5"
          }
        },
        "SKIPPABLE_INSTREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE_INSTREAM_VIDEO"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_SSL"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL"
          }
        },
        "NON_SKIPPABLE_INSTREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SKIPPABLE_INSTREAM_VIDEO"
          }
        },
        "NATIVE_ELIGIBILITY_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_ELIGIBILITY_ELIGIBLE"
          }
        },
        "NON_VPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_VPAID"
          }
        },
        "NATIVE_ELIGIBILITY_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_ELIGIBILITY_NOT_ELIGIBLE"
          }
        },
        "ANY_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_INTERSTITIAL"
          }
        },
        "NON_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_INTERSTITIAL"
          }
        },
        "IN_BANNER_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_BANNER_VIDEO"
          }
        },
        "RENDERING_SIZELESS_ADX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERING_SIZELESS_ADX"
          }
        },
        "OMSDK_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMSDK_1_0"
          }
        },
        "RENDERING_PLAYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERING_PLAYABLE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedAttributesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedAttributesItemEnum"
      }
    },
    "com.gcp.realtimebidding_v1#CreativeServingDecisionDetectedCategoriesTaxonomyEnum": {
      "type": "enum",
      "members": {
        "AD_CATEGORY_TAXONOMY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_CATEGORY_TAXONOMY_UNSPECIFIED"
          }
        },
        "GOOGLE_AD_CATEGORY_TAXONOMY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AD_CATEGORY_TAXONOMY"
          }
        },
        "IAB_CONTENT_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAB_CONTENT_1_0"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#NumericTargetingDimension": {
      "type": "structure",
      "members": {
        "includedIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs included in a config."
          }
        },
        "excludedIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs excluded in a config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting used for targeting dimensions that contain a list of included and excluded numeric IDs used in app, user list, geo, and vertical id targeting."
      }
    },
    "com.gcp.realtimebidding_v1#Creative": {
      "type": "structure",
      "members": {
        "creativeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Buyer-specific creative ID that references this creative in bid responses. This field is Ignored in update operations. Can be used to filter the response of the creatives.list method. The maximum length of the creative ID is 128 bytes."
          }
        },
        "declaredClickThroughUrls": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of declared destination URLs for the creative. Can be used to filter the response of the creatives.list method."
          }
        },
        "agencyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agency ID for this creative."
          }
        },
        "restrictedCategories": {
          "target": "com.gcp.realtimebidding_v1#CreativeRestrictedCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "All restricted categories for the ads that may be shown from this creative."
          }
        },
        "video": {
          "target": "com.gcp.realtimebidding_v1#VideoContent",
          "traits": {
            "smithy.api#documentation": "A video creative."
          }
        },
        "declaredVendorIds": {
          "target": "com.gcp.realtimebidding_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "IDs for the declared ad technology vendors that may be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method."
          }
        },
        "advertiserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the company being advertised in the creative. Can be used to filter the response of the creatives.list method."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the creative. Version for a new creative is 1 and it increments during subsequent creative updates."
          }
        },
        "apiUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of the creative through the API."
          }
        },
        "html": {
          "target": "com.gcp.realtimebidding_v1#HtmlContent",
          "traits": {
            "smithy.api#documentation": "An HTML creative."
          }
        },
        "creativeServingDecision": {
          "target": "com.gcp.realtimebidding_v1#CreativeServingDecision",
          "traits": {
            "smithy.api#documentation": "Output only. Top level status and detected attributes of a creative (for example domain, language, advertiser, product category, etc.) that affect whether (status) and where (context) a creative will be allowed to serve."
          }
        },
        "declaredRestrictedCategories": {
          "target": "com.gcp.realtimebidding_v1#CreativeDeclaredRestrictedCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "All declared restricted categories for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the buyer account that this creative is owned by. Can be used to filter the response of the creatives.list method with equality and inequality check."
          }
        },
        "creativeFormat": {
          "target": "com.gcp.realtimebidding_v1#CreativeCreativeFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format of this creative. Can be used to filter the response of the creatives.list method."
          }
        },
        "adChoicesDestinationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to AdChoices destination page. This is only supported for native ads."
          }
        },
        "impressionTrackingUrls": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of URLs to be called to record an impression."
          }
        },
        "declaredAttributes": {
          "target": "com.gcp.realtimebidding_v1#CreativeDeclaredAttributesItemEnumList",
          "traits": {
            "smithy.api#documentation": "All declared attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto\") contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response."
          }
        },
        "native": {
          "target": "com.gcp.realtimebidding_v1#NativeContent",
          "traits": {
            "smithy.api#documentation": "A native creative."
          }
        },
        "renderUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: FLEDGE is no longer supported. See: https://privacysandbox.google.com/blog/update-on-plans-for-privacy-sandbox-technologies Experimental field that can be used during the [FLEDGE Origin Trial](/authorized-buyers/rtb/fledge-origin-trial). The URL to fetch an interest group ad used in [TURTLEDOVE on-device auction](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#1-browsers-record-interest-groups\"). This should be unique among all creatives for a given `accountId`. This URL should be the same as the URL returned by [generateBid()](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#32-on-device-bidding)."
          }
        },
        "dealIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. IDs of all of the deals with which this creative has been used in bidding. Can be used to filter the response of the creatives.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A creative and its classification data."
      }
    },
    "com.gcp.realtimebidding_v1#CreativeRestrictedCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_CATEGORY_UNSPECIFIED"
          }
        },
        "ALCOHOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALCOHOL"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CreativeRestrictedCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#CreativeRestrictedCategoriesItemEnum"
      }
    },
    "com.gcp.realtimebidding_v1#CreativeDeclaredRestrictedCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_CATEGORY_UNSPECIFIED"
          }
        },
        "ALCOHOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALCOHOL"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CreativeDeclaredRestrictedCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#CreativeDeclaredRestrictedCategoriesItemEnum"
      }
    },
    "com.gcp.realtimebidding_v1#CreativeCreativeFormatEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_UNSPECIFIED"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CreativeDeclaredAttributesItemEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "IMAGE_RICH_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_RICH_MEDIA"
          }
        },
        "ADOBE_FLASH_FLV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADOBE_FLASH_FLV"
          }
        },
        "IS_TAGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_TAGGED"
          }
        },
        "IS_COOKIE_TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_COOKIE_TARGETED"
          }
        },
        "IS_USER_INTEREST_TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_USER_INTEREST_TARGETED"
          }
        },
        "EXPANDING_DIRECTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_NONE"
          }
        },
        "EXPANDING_DIRECTION_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP"
          }
        },
        "EXPANDING_DIRECTION_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN"
          }
        },
        "EXPANDING_DIRECTION_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_LEFT"
          }
        },
        "EXPANDING_DIRECTION_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_UP_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_LEFT"
          }
        },
        "EXPANDING_DIRECTION_UP_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_DOWN_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN_LEFT"
          }
        },
        "EXPANDING_DIRECTION_DOWN_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_DOWN_RIGHT"
          }
        },
        "CREATIVE_TYPE_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_TYPE_HTML"
          }
        },
        "CREATIVE_TYPE_VAST_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_TYPE_VAST_VIDEO"
          }
        },
        "EXPANDING_DIRECTION_UP_OR_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_UP_OR_DOWN"
          }
        },
        "EXPANDING_DIRECTION_LEFT_OR_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_LEFT_OR_RIGHT"
          }
        },
        "EXPANDING_DIRECTION_ANY_DIAGONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_DIRECTION_ANY_DIAGONAL"
          }
        },
        "EXPANDING_ACTION_ROLLOVER_TO_EXPAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING_ACTION_ROLLOVER_TO_EXPAND"
          }
        },
        "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_MRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_MRAID"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_FLASH"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_HTML5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_HTML5"
          }
        },
        "SKIPPABLE_INSTREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE_INSTREAM_VIDEO"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_SSL"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL"
          }
        },
        "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL"
          }
        },
        "NON_SKIPPABLE_INSTREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SKIPPABLE_INSTREAM_VIDEO"
          }
        },
        "NATIVE_ELIGIBILITY_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_ELIGIBILITY_ELIGIBLE"
          }
        },
        "NON_VPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_VPAID"
          }
        },
        "NATIVE_ELIGIBILITY_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_ELIGIBILITY_NOT_ELIGIBLE"
          }
        },
        "ANY_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_INTERSTITIAL"
          }
        },
        "NON_INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_INTERSTITIAL"
          }
        },
        "IN_BANNER_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_BANNER_VIDEO"
          }
        },
        "RENDERING_SIZELESS_ADX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERING_SIZELESS_ADX"
          }
        },
        "OMSDK_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMSDK_1_0"
          }
        },
        "RENDERING_PLAYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERING_PLAYABLE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#CreativeDeclaredAttributesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#CreativeDeclaredAttributesItemEnum"
      }
    },
    "com.gcp.realtimebidding_v1#MediaFile": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "com.gcp.realtimebidding_v1#MediaFileMimeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The MIME type of this media file. Can be used to filter the response of the creatives.list method."
          }
        },
        "bitrate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bitrate of the video file, in Kbps. Can be used to filter the response of the creatives.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about each media file in the VAST."
      }
    },
    "com.gcp.realtimebidding_v1#MediaFileMimeTypeEnum": {
      "type": "enum",
      "members": {
        "VIDEO_MIME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_UNSPECIFIED"
          }
        },
        "MIME_VIDEO_XFLV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_XFLV"
          }
        },
        "MIME_VIDEO_WEBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_WEBM"
          }
        },
        "MIME_VIDEO_MP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_MP4"
          }
        },
        "MIME_VIDEO_OGG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_OGG"
          }
        },
        "MIME_VIDEO_YT_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_YT_HOSTED"
          }
        },
        "MIME_VIDEO_X_MS_WMV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_X_MS_WMV"
          }
        },
        "MIME_VIDEO_3GPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_3GPP"
          }
        },
        "MIME_VIDEO_MOV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_VIDEO_MOV"
          }
        },
        "MIME_APPLICATION_SWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_SWF"
          }
        },
        "MIME_APPLICATION_SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_SURVEY"
          }
        },
        "MIME_APPLICATION_JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_JAVASCRIPT"
          }
        },
        "MIME_APPLICATION_SILVERLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_SILVERLIGHT"
          }
        },
        "MIME_APPLICATION_MPEGURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_MPEGURL"
          }
        },
        "MIME_APPLICATION_MPEGDASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_APPLICATION_MPEGDASH"
          }
        },
        "MIME_AUDIO_MP4A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_AUDIO_MP4A"
          }
        },
        "MIME_AUDIO_MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_AUDIO_MP3"
          }
        },
        "MIME_AUDIO_OGG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_AUDIO_OGG"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#VideoMetadata": {
      "type": "structure",
      "members": {
        "isVpaid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this a VPAID ad? Can be used to filter the response of the creatives.list method."
          }
        },
        "isValidVast": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this a valid VAST ad? Can be used to filter the response of the creatives.list method."
          }
        },
        "vastVersion": {
          "target": "com.gcp.realtimebidding_v1#VideoMetadataVastVersionEnum",
          "traits": {
            "smithy.api#documentation": "The maximum VAST version across all wrapped VAST documents. Can be used to filter the response of the creatives.list method."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration of the ad. Can be used to filter the response of the creatives.list method."
          }
        },
        "mediaFiles": {
          "target": "com.gcp.realtimebidding_v1#MediaFileList",
          "traits": {
            "smithy.api#documentation": "The list of all media files declared in the VAST. If there are multiple VASTs in a wrapper chain, this includes the media files from the deepest one in the chain."
          }
        },
        "skipOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum duration that the user has to watch before being able to skip this ad. If the field is not set, the ad is not skippable. If the field is set, the ad is skippable. Can be used to filter the response of the creatives.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video metadata for a creative."
      }
    },
    "com.gcp.realtimebidding_v1#VideoMetadataVastVersionEnum": {
      "type": "enum",
      "members": {
        "VAST_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAST_VERSION_UNSPECIFIED"
          }
        },
        "VAST_VERSION_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAST_VERSION_1_0"
          }
        },
        "VAST_VERSION_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAST_VERSION_2_0"
          }
        },
        "VAST_VERSION_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAST_VERSION_3_0"
          }
        },
        "VAST_VERSION_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAST_VERSION_4_0"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#MediaFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#MediaFile"
      }
    },
    "com.gcp.realtimebidding_v1#AdTechnologyProviders": {
      "type": "structure",
      "members": {
        "detectedProviderIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The detected [Google Ad Tech Providers (ATP)](https://support.google.com/admanager/answer/9012903) for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider."
          }
        },
        "detectedGvlIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The detected IAB Global Vendor List (GVL) IDs for this creative. See the IAB Global Vendor List at https://vendor-list.consensu.org/v2/vendor-list.json for details about the vendors."
          }
        },
        "unidentifiedProviderDomains": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Domains of detected unidentified ad technology providers (if any). You must ensure that the creatives used in bids placed for inventory that will serve to EEA or UK users does not contain unidentified ad technology providers. Google reserves the right to filter non-compliant bids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of detected Ad Technology Providers for this creative. Bids placed for inventory that will serve to EEA or UK users are expected to comply with GDPR requirements. You must ensure that the creatives used in such bids should contain only user consented ad technology providers as indicated in the bid request. Google reserves the right to filter non-compliant bids. User consented ad technology providers can be found in the [Google Protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) with the `BidRequest.adslot.consented_providers_settings` field, and can be found as an [OpenRTB extension](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto) with the `BidRequest.user.ext.consented_providers_settings` and `BidRequest.user.ext.consent` fields. See https://support.google.com/authorizedbuyers/answer/9789378 for additional information about the Google TCF v2 integration."
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotCrawlableEvidence": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotCrawlableEvidenceReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason of destination not crawlable."
          }
        },
        "crawlTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate time of the crawl."
          }
        },
        "crawledUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination URL that was attempted to be crawled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evidence that the creative's destination URL was not crawlable by Google."
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotCrawlableEvidenceReasonEnum": {
      "type": "enum",
      "members": {
        "REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_UNSPECIFIED"
          }
        },
        "UNREACHABLE_ROBOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE_ROBOTS"
          }
        },
        "TIMEOUT_ROBOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_ROBOTS"
          }
        },
        "ROBOTED_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROBOTED_DENIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#RemoveTargetedPublishersRequest": {
      "type": "structure",
      "members": {
        "publisherIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of publisher IDs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted publisher IDs in PretargetingConfig.publisherTargeting.values. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to stop targeting publishers in a specific configuration. The pretargeting configuration itself specifies how these publishers are targeted in PretargetingConfig.publisherTargeting."
      }
    },
    "com.gcp.realtimebidding_v1#BatchApprovePublisherConnectionsResponse": {
      "type": "structure",
      "members": {
        "publisherConnections": {
          "target": "com.gcp.realtimebidding_v1#PublisherConnectionList",
          "traits": {
            "smithy.api#documentation": "The publisher connections that have been approved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for the request to approve a batch of publisher connections."
      }
    },
    "com.gcp.realtimebidding_v1#PublisherConnection": {
      "type": "structure",
      "members": {
        "publisherPlatform": {
          "target": "com.gcp.realtimebidding_v1#PublisherConnectionPublisherPlatformEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the publisher is an Ad Manager or AdMob publisher."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the publisher initiated a connection with the bidder (irrespective of if or when the bidder approves it). This is subsequently updated if the publisher revokes and re-initiates the connection."
          }
        },
        "biddingState": {
          "target": "com.gcp.realtimebidding_v1#PublisherConnectionBiddingStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether the publisher has been approved by the bidder."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Publisher display name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the publisher connection. This follows the pattern `bidders/{bidder}/publisherConnections/{publisher}`, where `{bidder}` represents the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Open Bidding exchange's connection to a publisher. This is initiated by the publisher for the bidder to review. If approved by the bidder, this means that the bidder agrees to receive bid requests from the publisher."
      }
    },
    "com.gcp.realtimebidding_v1#PublisherConnectionPublisherPlatformEnum": {
      "type": "enum",
      "members": {
        "PUBLISHER_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_PLATFORM_UNSPECIFIED"
          }
        },
        "GOOGLE_AD_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AD_MANAGER"
          }
        },
        "ADMOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMOB"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#PublisherConnectionBiddingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidence": {
      "type": "structure",
      "members": {
        "invalidPage": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceInvalidPageEnum",
          "traits": {
            "smithy.api#documentation": "Page was crawled successfully, but was detected as either a page with no content or an error page."
          }
        },
        "expandedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full non-working URL."
          }
        },
        "httpError": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP error code (for example, 404 or 5xx)"
          }
        },
        "urlRejected": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceUrlRejectedEnum",
          "traits": {
            "smithy.api#documentation": "Rejected because of malformed URLs or invalid requests."
          }
        },
        "lastCheckTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approximate time when the ad destination was last checked."
          }
        },
        "dnsError": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceDnsErrorEnum",
          "traits": {
            "smithy.api#documentation": "DNS lookup errors."
          }
        },
        "redirectionError": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceRedirectionErrorEnum",
          "traits": {
            "smithy.api#documentation": "HTTP redirect chain error."
          }
        },
        "platform": {
          "target": "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidencePlatformEnum",
          "traits": {
            "smithy.api#documentation": "Platform of the non-working URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evidence of the creative's destination URL not functioning properly or having been incorrectly set up."
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceInvalidPageEnum": {
      "type": "enum",
      "members": {
        "INVALID_PAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PAGE_UNSPECIFIED"
          }
        },
        "EMPTY_OR_ERROR_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPTY_OR_ERROR_PAGE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceUrlRejectedEnum": {
      "type": "enum",
      "members": {
        "URL_REJECTED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_REJECTED_UNSPECIFIED"
          }
        },
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "MALFORMED_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_URL"
          }
        },
        "URL_REJECTED_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_REJECTED_UNKNOWN"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceDnsErrorEnum": {
      "type": "enum",
      "members": {
        "DNS_ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_ERROR_UNSPECIFIED"
          }
        },
        "ERROR_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_DNS"
          }
        },
        "GOOGLE_CRAWLER_DNS_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CRAWLER_DNS_ISSUE"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidenceRedirectionErrorEnum": {
      "type": "enum",
      "members": {
        "REDIRECTION_ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_ERROR_UNSPECIFIED"
          }
        },
        "TOO_MANY_REDIRECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_REDIRECTS"
          }
        },
        "INVALID_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REDIRECT"
          }
        },
        "EMPTY_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPTY_REDIRECT"
          }
        },
        "REDIRECT_ERROR_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_ERROR_UNKNOWN"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationNotWorkingEvidencePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "PERSONAL_COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_COMPUTER"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#WatchCreativesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to receive push notifications when any of the creatives belonging to the bidder changes status."
      }
    },
    "com.gcp.realtimebidding_v1#ActivatePretargetingConfigRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to activate a pretargeting configuration. Sets the configuration's state to ACTIVE."
      }
    },
    "com.gcp.realtimebidding_v1#DomainCallEvidence": {
      "type": "structure",
      "members": {
        "topHttpCallDomains": {
          "target": "com.gcp.realtimebidding_v1#DomainCallsList",
          "traits": {
            "smithy.api#documentation": "Breakdown of the most frequent domains called through HTTP by the creative."
          }
        },
        "totalHttpCallCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of HTTP calls made by the creative, including but not limited to the number of calls in the top_http_call_domains."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number of HTTP calls made by a creative, broken down by domain."
      }
    },
    "com.gcp.realtimebidding_v1#DomainCallsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#DomainCalls"
      }
    },
    "com.gcp.realtimebidding_v1#ListCreativesResponse": {
      "type": "structure",
      "members": {
        "creatives": {
          "target": "com.gcp.realtimebidding_v1#CreativeList",
          "traits": {
            "smithy.api#documentation": "The list of creatives."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.pageToken field in the subsequent call to the `ListCreatives` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing creatives."
      }
    },
    "com.gcp.realtimebidding_v1#CreativeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#Creative"
      }
    },
    "com.gcp.realtimebidding_v1#GetRemarketingTagResponse": {
      "type": "structure",
      "members": {
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An HTML tag that can be placed on the advertiser's page to add users to a user list. For more information and code samples on using snippets on your website, refer to [Tag your site for remarketing](https://support.google.com/google-ads/answer/2476688)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This has been sunset as of October 2023, and will return an error response if called. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Response for a request to get remarketing tag."
      }
    },
    "com.gcp.realtimebidding_v1#OpenUserListRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to open a specified user list."
      }
    },
    "com.gcp.realtimebidding_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.realtimebidding_v1#RemoveTargetedSitesRequest": {
      "type": "structure",
      "members": {
        "sites": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of site URLs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted URLs in PretargetingConfig.webTargeting.values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to stop targeting sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
      }
    },
    "com.gcp.realtimebidding_v1#UserList": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.realtimebidding_v1#UserListStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the user list. A new user list starts out as open."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the user list."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the user list. This must be unique across all user lists for a given account."
          }
        },
        "urlRestriction": {
          "target": "com.gcp.realtimebidding_v1#UrlRestriction",
          "traits": {
            "smithy.api#documentation": "Required. Deprecated. This will be removed in October 2023. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api The URL restriction for the user list."
          }
        },
        "membershipDurationDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The number of days a user's cookie stays on the user list. The field must be between 0 and 540 inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Authorized Buyers user list. Authorized Buyers can create/update/list user lists. Once a user list is created in the system, Authorized Buyers can add users to the user list using the bulk uploader API. Alternatively, users can be added by hosting a tag on the advertiser's page."
      }
    },
    "com.gcp.realtimebidding_v1#UserListStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#UrlRestriction": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.realtimebidding_v1#Realtimebidding_Date",
          "traits": {
            "smithy.api#documentation": "Start date (if specified) of the URL restriction."
          }
        },
        "restrictionType": {
          "target": "com.gcp.realtimebidding_v1#UrlRestrictionRestrictionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The restriction type for the specified URL."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL to use for applying the restriction on the user list."
          }
        },
        "endDate": {
          "target": "com.gcp.realtimebidding_v1#Realtimebidding_Date",
          "traits": {
            "smithy.api#documentation": "End date (if specified) of the URL restriction. End date should be later than the start date for the date range to be valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. This will be removed in October 2023. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Represents the URL restriction (for the URL captured by the pixel callback) for a user list."
      }
    },
    "com.gcp.realtimebidding_v1#UrlRestrictionRestrictionTypeEnum": {
      "type": "enum",
      "members": {
        "RESTRICTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTION_TYPE_UNSPECIFIED"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "DOES_NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_EQUAL"
          }
        },
        "DOES_NOT_CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN"
          }
        },
        "DOES_NOT_START_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_START_WITH"
          }
        },
        "DOES_NOT_END_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_END_WITH"
          }
        }
      }
    },
    "com.gcp.realtimebidding_v1#DestinationUrlEvidence": {
      "type": "structure",
      "members": {
        "destinationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full landing page URL of the destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full landing page URL of the destination."
      }
    },
    "com.gcp.realtimebidding_v1#Bidder": {
      "type": "structure",
      "members": {
        "cookieMatchingNetworkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The buyer's network ID used for cookie matching. This ID corresponds to the `google_nid` parameter in the URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the bidder resource that must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager."
          }
        },
        "bypassNonguaranteedDealsPretargeting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. An option to bypass pretargeting for private auctions and preferred deals. When true, bid requests from these nonguaranteed deals will always be sent. When false, bid requests will be subject to regular pretargeting configurations. Programmatic Guaranteed deals will always be sent to the bidder, regardless of the value for this option. Auction packages are not impacted by this value and are subject to the regular pretargeting configurations."
          }
        },
        "dealsBillingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The billing ID for the deals pretargeting config. This billing ID is sent on the bid request for guaranteed and nonguaranteed deals matched in pretargeting."
          }
        },
        "cookieMatchingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The base URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bidder settings."
      }
    },
    "com.gcp.realtimebidding_v1#DownloadSizeEvidence": {
      "type": "structure",
      "members": {
        "totalDownloadSizeKb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total download size (in kilobytes) for all the resources in the creative."
          }
        },
        "topUrlDownloadSizeBreakdowns": {
          "target": "com.gcp.realtimebidding_v1#UrlDownloadSizeList",
          "traits": {
            "smithy.api#documentation": "Download size broken down by URLs with the top download size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Total download size and URL-level download size breakdown for resources in a creative."
      }
    },
    "com.gcp.realtimebidding_v1#UrlDownloadSizeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#UrlDownloadSize"
      }
    },
    "com.gcp.realtimebidding_v1#HttpCookieEvidence": {
      "type": "structure",
      "members": {
        "cookieNames": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of cookies that violate Google policies. For TOO_MANY_COOKIES policy, this will be the cookie names of top domains with the largest number of cookies. For other policies, this will be all the cookie names that violate the policy."
          }
        },
        "maxCookieCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The largest number of cookies set by a creative. If this field is set, cookie_names above will be set to the cookie names of top domains with the largest number of cookies. This field will only be set for TOO_MANY_COOKIES policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evidence for HTTP cookie-related policy violations."
      }
    },
    "com.gcp.realtimebidding_v1#HtmlContent": {
      "type": "structure",
      "members": {
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML snippet that displays the ad when inserted in the web page."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTML content for a creative."
      }
    },
    "com.gcp.realtimebidding_v1#AdvertiserAndBrand": {
      "type": "structure",
      "members": {
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt for the list of possible values. Can be used to filter the response of the creatives.list method."
          }
        },
        "advertiserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser name. Can be used to filter the response of the creatives.list method."
          }
        },
        "brandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brand name. Can be used to filter the response of the creatives.list method."
          }
        },
        "brandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detected brand ID or zero if no brand has been detected. See https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt for the list of possible values. Can be used to filter the response of the creatives.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected advertiser and brand information."
      }
    },
    "com.gcp.realtimebidding_v1#Image": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image height in pixels."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image width in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved."
      }
    },
    "com.gcp.realtimebidding_v1#NativeContent": {
      "type": "structure",
      "members": {
        "appIcon": {
          "target": "com.gcp.realtimebidding_v1#Image",
          "traits": {
            "smithy.api#documentation": "The app icon, for app download ads."
          }
        },
        "image": {
          "target": "com.gcp.realtimebidding_v1#Image",
          "traits": {
            "smithy.api#documentation": "A large image."
          }
        },
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short title for the ad."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description of the ad."
          }
        },
        "clickLinkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL that the browser/SDK will load when the user clicks the ad."
          }
        },
        "clickTrackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for click tracking."
          }
        },
        "callToAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for the button that the user is supposed to click."
          }
        },
        "logo": {
          "target": "com.gcp.realtimebidding_v1#Image",
          "traits": {
            "smithy.api#documentation": "A smaller image, for the advertiser's logo."
          }
        },
        "videoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to fetch a native video ad."
          }
        },
        "priceDisplayText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price of the promoted app including currency info."
          }
        },
        "advertiserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the advertiser or sponsor, to be displayed in the ad creative."
          }
        },
        "starRating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The app rating in the app store. Must be in the range [0-5]."
          }
        },
        "videoVastXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of a VAST document for a native video ad."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Native content for a creative."
      }
    },
    "com.gcp.realtimebidding_v1#Realtimebidding_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.realtimebidding_v1#ListBuyersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the `ListBuyers` method to retrieve the next page of results in ListBuyersRequest.pageToken."
          }
        },
        "buyers": {
          "target": "com.gcp.realtimebidding_v1#BuyerList",
          "traits": {
            "smithy.api#documentation": "List of buyers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing buyer account information."
      }
    },
    "com.gcp.realtimebidding_v1#BuyerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.realtimebidding_v1#Buyer"
      }
    },
    "com.gcp.realtimebidding_v1#DomainCalls": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name."
          }
        },
        "httpCallCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of HTTP calls made to the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of HTTP calls made to the given domain."
      }
    },
    "com.gcp.realtimebidding_v1#PretargetingConfig": {
      "type": "structure",
      "members": {
        "allowedUserTargetingModes": {
          "target": "com.gcp.realtimebidding_v1#PretargetingConfigAllowedUserTargetingModesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Targeting modes included by this config. A bid request must allow all the specified targeting modes. An unset value allows all bid requests to be sent, regardless of which targeting modes they allow."
          }
        },
        "excludedContentLabelIds": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The sensitive content category label IDs excluded in this config. Bid requests for inventory with any of the specified content label IDs will not be sent. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
          }
        },
        "includedLanguages": {
          "target": "com.gcp.realtimebidding_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The languages included in this config, represented by their language code. See https://developers.google.com/adwords/api/docs/appendix/languagecodes."
          }
        },
        "webTargeting": {
          "target": "com.gcp.realtimebidding_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Targeting on a subset of site inventory. If WEB is listed in included_environments, the specified targeting is applied. A maximum of 50,000 site URLs can be targeted. An unset value for targeting allows all web-based bid requests to be sent. Sites can either be targeting positively (bid requests will be sent only if the destination site is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination site is not listed in the pretargeting config)."
          }
        },
        "includedPlatforms": {
          "target": "com.gcp.realtimebidding_v1#PretargetingConfigIncludedPlatformsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The platforms included by this config. Bid requests for devices with the specified platform types will be sent. An unset value allows all bid requests to be sent, regardless of platform."
          }
        },
        "state": {
          "target": "com.gcp.realtimebidding_v1#PretargetingConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this pretargeting config."
          }
        },
        "includedFormats": {
          "target": "com.gcp.realtimebidding_v1#PretargetingConfigIncludedFormatsItemEnumList",
          "traits": {
[...]
