{
  "smithy": "2.0",
  "metadata": {
    "service": "recommendationengine",
    "version": "v1beta1",
    "title": "Recommendations AI (Beta)",
    "baseUrl": "https://recommendationengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Catalog item categories. Each category should be a UTF-8 encoded string with a length limit of 2 KiB. Note that the order in the list denotes the specificity (from least to most specific)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Category represents catalog item category hierarchy."
      }
    },
    "com.gcp.recommendationengine_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem": {
      "type": "structure",
      "members": {
        "categoryHierarchies": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchyList",
          "traits": {
            "smithy.api#documentation": "Required. Catalog item categories. This field is repeated for supporting one catalog item belonging to several parallel category hierarchies. For example, if a shoes product belongs to both [\"Shoes & Accessories\" -> \"Shoes\"] and [\"Sports & Fitness\" -> \"Athletic Clothing\" -> \"Shoes\"], it could be represented as: \"categoryHierarchies\": [ { \"categories\": [\"Shoes & Accessories\", \"Shoes\"]}, { \"categories\": [\"Sports & Fitness\", \"Athletic Clothing\", \"Shoes\"] } ]"
          }
        },
        "tags": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering tags associated with the catalog item. Each tag should be a UTF-8 encoded string with a length limit of 1 KiB. This tag can be used for filtering recommendation results by passing the tag as part of the predict request filter."
          }
        },
        "productMetadata": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItem",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata specific to retail products."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Catalog item description. UTF-8 encoded string with a length limit of 5 KiB."
          }
        },
        "itemGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Variant group identifier for prediction results. UTF-8 encoded string with a length limit of 128 bytes. This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id)."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. The model automatically detects the text language. Your catalog can include text in different languages, but duplicating catalog items to provide text in multiple languages can result in degraded model performance."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Catalog item identifier. UTF-8 encoded string with a length limit of 128 bytes. This id must be unique among all catalog items within the same catalog. It should also be used when logging user events in order for the user events to be joined with the Catalog."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Catalog item title. UTF-8 encoded string with a length limit of 1 KiB."
          }
        },
        "itemAttributes": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMap",
          "traits": {
            "smithy.api#documentation": "Optional. Highly encouraged. Extra catalog item attributes to be included in the recommendation model. For example, for retail products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the item attributes here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CatalogItem captures all metadata information of items to be recommended."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Import related errors."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse": {
      "type": "structure",
      "members": {
        "predictionApiKeyRegistrations": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistrationList",
          "traits": {
            "smithy.api#documentation": "The list of registered API keys."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If empty, the list is complete. If nonempty, pass the token to the next request's `ListPredictionApiKeysRegistrationsRequest.pageToken`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListPredictionApiKeyRegistrations`."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistrationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Catalog": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the catalog."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The catalog display name."
          }
        },
        "defaultEventStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the default event store."
          }
        },
        "catalogItemLevelConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
          "traits": {
            "smithy.api#documentation": "Required. The catalog item level configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The catalog configuration. Next ID: 5."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetail": {
      "type": "structure",
      "members": {
        "displayPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Display price of the product (e.g. discounted price). If provided, this will override the display price in Catalog for this product."
          }
        },
        "stockState": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetailStockStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Item stock state. If provided, this overrides the stock state in Catalog for items in this event."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Currency code for price/costs. Use three-character ISO-4217 code. Required only if originalPrice or displayPrice is set."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Catalog item ID. UTF-8 encoded string with a length limit of 128 characters."
          }
        },
        "itemAttributes": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extra features associated with a product in the user event."
          }
        },
        "originalPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Original price of the product. If provided, this will override the original price in Catalog for this product."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `add-to-cart` event. Required for `add-to-cart`, `add-to-list`, `remove-from-cart`, `checkout-start`, `purchase-complete`, `refund` event types."
          }
        },
        "availableQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Quantity of the products in stock when a user event happens. Optional. If provided, this overrides the available quantity in Catalog for this event. and can only be set if `stock_status` is set to `IN_STOCK`. Note that if an item is out of stock, you must set the `stock_state` field to be `OUT_OF_STOCK`. Leaving this field unspecified / as zero is not sufficient to mark the item out of stock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed product information associated with a user event."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetailStockStateEnum": {
      "type": "enum",
      "members": {
        "STOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOCK_STATE_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        },
        "PREORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREORDER"
          }
        },
        "BACKORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKORDER"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for TriggerCatalogRejoin method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "type": "structure",
      "members": {
        "displayPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Display price of the product."
          }
        },
        "originalPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Price of the product without any discount. If zero, by default set to be the 'displayPrice'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exact product price."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the request / operation. This is parroting back the requestId that was passed in the request."
          }
        },
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were processed successfully."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that encountered errors while processing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency for expensive long running operations. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response. Note that this field must not be set if the desired input config is catalog_inline_source."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The desired location of errors incurred during the Import."
          }
        },
        "inputConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1InputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The desired input location of the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ImportUserEvents request."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.recommendationengine_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.recommendationengine_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#DocumentMap"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The maximum product price."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The minimum product price."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product price range when there are a range of prices for different variations of the same product."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleApiHttpBody": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "type": "structure",
      "members": {
        "categoricalFeatures": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapStringListMap",
          "traits": {
            "smithy.api#documentation": "Categorical features that can take on one of a limited number of possible values. Some examples would be the brand/maker of a product, or country of a customer. Feature names and values must be UTF-8 encoded strings. For example: `{ \"colors\": {\"value\": [\"yellow\", \"green\"]}, \"sizes\": {\"value\":[\"S\", \"M\"]}`"
          }
        },
        "numericalFeatures": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapFloatListMap",
          "traits": {
            "smithy.api#documentation": "Numerical features. Some examples would be the height/weight of a product, or age of a customer. Feature names must be UTF-8 encoded strings. For example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]}, \"heights_cm\": {\"value\":[8.1, 6.4]} }`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FeatureMap represents extra features that customers want to include in the recommendation model for catalogs/user events as categorical/numerical features."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapStringListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapFloatListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapStringList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "String feature value with a length limit of 128 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of string features."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Registered Api Key."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserInfo": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IP address of the user. This could be either IPv4 (e.g. 104.133.9.80) or IPv6 (e.g. 2001:0db8:85a3:0000:0000:8a2e:0370:7334). This should *not* be set when using the javascript pixel or if `direct_user_request` is set. Used to extract location information for personalization."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Unique identifier for logged-in user with a length limit of 128 bytes. Required only for logged-in users. Don't set for anonymous users. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality."
          }
        },
        "directUserRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the request is made directly from the end user in which case the user_agent and ip_address fields can be populated from the HTTP request. This should *not* be set when using the javascript pixel. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events)."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for tracking visitors with a length limit of 128 bytes. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. Maximum length 128 bytes. Cannot be empty. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User agent as included in the HTTP header. UTF-8 encoded string with a length limit of 1 KiB. This should *not* be set when using the JavaScript pixel or if `directUserRequest` is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of end users."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors in the request if set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportCatalogItemsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleRpcStatus"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The previous PredictResponse.next_page_token."
          }
        },
        "labels": {
          "target": "com.gcp.recommendationengine_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels for the predict request. * Label keys can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * Non-zero label values can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * No more than 64 labels can be associated with a given request. See https://goo.gl/xmQnxf for more information on and examples of labels."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter for restricting prediction results. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to items that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1 KiB. * filterOutOfStockItems. Restricts predictions to items that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular items to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
          }
        },
        "params": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Additional domain specific parameters for the predictions. Allowed values: * `returnCatalogItem`: Boolean. If set to true, the associated catalogItem object will be returned in the `PredictResponse.PredictionResult.itemMetadata` object in the method response. * `returnItemScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned item will be set in the `metadata` field in the prediction response. The given 'score' indicates the probability of an item being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular items instead of empty if your filter blocks all prediction results. * `priceRerankLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-price-reranking', 'low-price-reranking', 'medium-price-reranking', 'high-price-reranking'}. This gives request level control and adjust prediction results based on product price. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-diversity', 'low-diversity', 'medium-diversity', 'high-diversity', 'auto-diversity'}. This gives request level control and adjust prediction results based on product category."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of results to return per page. Set this property to the number of prediction results required. If zero, the service will choose a reasonable default."
          }
        },
        "userEvent": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEvent",
          "traits": {
            "smithy.api#documentation": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserInfo.visitor_id or UserInfo.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserInfo.visitor_id to a random unique ID and leave UserInfo.user_id unset."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Use dryRun mode for this prediction query. If set to true, a fake model will be used that returns arbitrary catalog items. Note that the dryRun mode should only be used for testing the API, or if the model is not ready."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Predict method. Full resource name of the format: `{name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*}` The id of the recommendation engine placement. This id is used to identify the set of models that will be used to make the prediction. We currently support three placements with the following IDs by default: // * `shopping_cart`: Predicts items frequently bought together with one or more catalog items in the same shopping session. Commonly displayed after `add-to-cart` event, on product detail pages, or on the shopping cart page. * `home_page`: Predicts the next product that a user will most likely engage with or purchase based on the shopping or viewing history of the specified `userId` or `visitorId`. For example - Recommendations for you. * `product_detail`: Predicts the next product that a user will most likely engage with or purchase. The prediction is based on the shopping or viewing history of the specified `userId` or `visitorId` and its relevance to a specified `CatalogItem`. Typically used on product detail pages. For example - More items like this. * `recently_viewed_default`: Returns up to 75 items recently viewed by the specified `userId` or `visitorId`, most recent ones first. Returns nothing if neither of them has viewed any items yet. For example - Recently viewed. The full list of available placements can be seen at https://console.cloud.google.com/recommendation/catalogs/default_catalog/placements"
      }
    },
    "com.gcp.recommendationengine_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "type": "structure",
      "members": {
        "costs": {
          "target": "com.gcp.recommendationengine_v1beta1#DoubleMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map to pass the costs associated with the product. For example: {\"manufacturing\": 45.5} The profit of selling this item is computed like so: * If 'exactPrice' is provided, profit = displayPrice - sum(costs) * If 'priceRange' is provided, profit = minPrice - sum(costs)"
          }
        },
        "stockState": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemStockStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`."
          }
        },
        "images": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImageList",
          "traits": {
            "smithy.api#documentation": "Optional. Product images for the catalog item."
          }
        },
        "exactPrice": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
          "traits": {
            "smithy.api#documentation": "Optional. The exact product price."
          }
        },
        "canonicalProductUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Canonical URL directly linking to the item detail page with a length limit of 5 KiB.."
          }
        },
        "priceRange": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
          "traits": {
            "smithy.api#documentation": "Optional. The product price range."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Only required if the price is set. Currency code for price/costs. Use three-character ISO-4217 code."
          }
        },
        "availableQuantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The available quantity of the item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProductCatalogItem captures item metadata specific to retail products."
      }
    },
    "com.gcp.recommendationengine_v1beta1#DoubleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductCatalogItemStockStateEnum": {
      "type": "enum",
      "members": {
        "STOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOCK_STATE_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        },
        "PREORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREORDER"
          }
        },
        "BACKORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKORDER"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Image"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.recommendationengine_v1beta1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Float feature value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of float features."
      }
    },
    "com.gcp.recommendationengine_v1beta1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "type": "structure",
      "members": {
        "rejoinedUserEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of user events that were joined with latest catalog items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for TriggerCatalogRejoin method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogInlineSource": {
      "type": "structure",
      "members": {
        "catalogItems": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of catalog items to update/create. Recommended max of 10k items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inline source for the input config for ImportCatalogItems method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "type": "structure",
      "members": {
        "userEvents": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventList",
          "traits": {
            "smithy.api#documentation": "The user events."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListUserEvents.page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListUserEvents method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEvent"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResultList",
          "traits": {
            "smithy.api#documentation": "A list of recommended items. The order represents the ranking (from the most relevant item to the least)."
          }
        },
        "metadata": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional domain specific prediction response metadata."
          }
        },
        "itemsMissingInCatalog": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs of items in the request that were missing from the catalog."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If empty, the list is complete. If nonempty, the token to pass to the next request's PredictRequest.page_token."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the dryRun property was set in the request."
          }
        },
        "recommendationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique recommendation token. This should be included in the user event logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for predict method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse": {
      "type": "structure",
      "members": {
        "userEventsSample": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventList",
          "traits": {
            "smithy.api#documentation": "A sampling of events deleted (or will be deleted) depending on the `force` property in the request. Max of 500 items will be returned."
          }
        },
        "purgedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of events purged as a result of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata": {
      "type": "structure",
      "members": {
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the request / operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest": {
      "type": "structure",
      "members": {
        "predictionApiKeyRegistration": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
          "traits": {
            "smithy.api#documentation": "Required. The prediction API key registration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `CreatePredictionApiKeyRegistration` method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Image": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Height of the image in number of pixels."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URL of the image with a length limit of 5 KiB."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Width of the image in number of pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog item thumbnail/detail image."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1EventDetail": {
      "type": "structure",
      "members": {
        "pageViewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. This `pageViewId` will be automatically generated if using the JavaScript pixel."
          }
        },
        "eventAttributes": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1FeatureMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extra user event features to include in the recommendation model. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Complete url (window.location.href) of the user's current page. When using the JavaScript pixel, this value is filled in automatically. Maximum length 5KB."
          }
        },
        "experimentIds": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Recommendation Engine system, using different recommendation models)."
          }
        },
        "recommendationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Recommendation token included in the recommendation prediction response. This field enables accurate attribution of recommendation model performance. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased item. If user clicks on product K in the recommendation results, pass the `PredictResponse.recommendationToken` property as a url parameter to product K's page. When recording events on product K's page, log the PredictResponse.recommendation_token to this field. Optional, but highly encouraged for user events that are the result of a recommendation prediction query."
          }
        },
        "referrerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The referrer url of the current page. When using the JavaScript pixel, this value is filled in automatically."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User event details shared by all recommendation types."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "type": "structure",
      "members": {
        "itemMetadata": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional item metadata / annotations. Possible values: * `catalogItem`: JSON representation of the catalogItem. Will be set if `returnCatalogItem` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnItemScore` is set to true in `PredictRequest.params`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the recommended catalog item"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PredictionResult represents the recommendation prediction results."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response associated with a tune operation."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BigQuery table to copy the data from."
          }
        },
        "gcsStagingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The project id (can be project # or id) that the BigQuery source is in. If not specified, inherits the project id from the parent request."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BigQuery data set to copy the data from."
          }
        },
        "dataSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user event imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BigQuery source import data from."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse": {
      "type": "structure",
      "members": {
        "catalogItems": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemList",
          "traits": {
            "smithy.api#documentation": "The catalog items."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListCatalogItemRequest.page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCatalogItems method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The default value is false. Override this flag to true to actually perform the purge. If the field is not set to true, a sampling of events to be deleted will be returned."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string to specify the events to be deleted. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: UserEvent.eventType field of type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: field of type string. Specifying this will delete all events associated with a visitor. * `userId`: field of type string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PurgeUserEvents method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "type": "structure",
      "members": {
        "taxes": {
          "target": "com.gcp.recommendationengine_v1beta1#DoubleMap",
          "traits": {
            "smithy.api#documentation": "Optional. All the taxes associated with the transaction."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Currency code. Use three-character ISO-4217 code. This field is not required if the event type is `refund`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The transaction ID with a length limit of 128 bytes."
          }
        },
        "costs": {
          "target": "com.gcp.recommendationengine_v1beta1#DoubleMap",
          "traits": {
            "smithy.api#documentation": "Optional. All the costs associated with the product. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs. Total product cost such that profit = revenue - (sum(taxes) + sum(costs)) If product_cost is not set, then profit = revenue - tax - shipping - sum(CatalogItem.costs). If CatalogItem.cost is not specified for one of the items, CatalogItem.cost based profit *cannot* be calculated for this Transaction."
          }
        },
        "revenue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Total revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations. This field is not required if the event type is `refund`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transaction represents the entire purchase transaction."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListCatalogsResponse": {
      "type": "structure",
      "members": {
        "catalogs": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogList",
          "traits": {
            "smithy.api#documentation": "Output only. All the customer's catalogs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token, if not returned indicates the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListCatalogs method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Catalog"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1InputConfig": {
      "type": "structure",
      "members": {
        "userEventInlineSource": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventInlineSource",
          "traits": {
            "smithy.api#documentation": "The Inline source for the input content for UserEvents."
          }
        },
        "catalogInlineSource": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
          "traits": {
            "smithy.api#documentation": "The Inline source for the input content for Catalog items."
          }
        },
        "gcsSource": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1GcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location for the input content."
          }
        },
        "bigQuerySource": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1BigQuerySource",
          "traits": {
            "smithy.api#documentation": "BigQuery input source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The input config source."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventImportSummary": {
      "type": "structure",
      "members": {
        "joinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported with complete existing catalog information."
          }
        },
        "unjoinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported, but with catalog information not found in the imported catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors if this field was set in the request."
          }
        },
        "importSummary": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
          "traits": {
            "smithy.api#documentation": "Aggregated statistics of user event import status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1alphaTuningMetadata": {
      "type": "structure",
      "members": {
        "recommendationModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the recommendation model that this tune applies to. Format: projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/eventStores/{event_store_id}/recommendationModels/{recommendation_model_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a tune operation."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventInlineSource": {
      "type": "structure",
      "members": {
        "userEvents": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of user events to import. Recommended max of 10k items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inline source for the input config for ImportUserEvents method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1InputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The desired input location of the data."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates which fields in the provided imported 'items' to update. If not set, will by default update all fields."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The desired location of errors incurred during the Import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Import methods."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1GcsSource": {
      "type": "structure",
      "members": {
        "inputUris": {
          "target": "com.gcp.recommendationengine_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing catalog information](/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions."
          }
        },
        "jsonSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user events imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Storage location for input content. format."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1RejoinUserEventsResponse": {
      "type": "structure",
      "members": {
        "rejoinedUserEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of user events that were joined with latest catalog items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for RejoinUserEvents method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.recommendationengine_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "type": "structure",
      "members": {
        "productDetails": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetailList",
          "traits": {
            "smithy.api#documentation": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_details' should be set for this unless the shopping cart is empty. * `search` (highly encouraged) In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new SEARCH event with different product_details is desired. The end user may have not finished broswing the whole page yet. This field is not allowed for the following event types: * `category-page-view` * `home-page-view`"
          }
        },
        "purchaseTransaction": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
          "traits": {
            "smithy.api#documentation": "Optional. A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Optional for `checkout-start` events. Other event types should not set this field."
          }
        },
        "cartId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `remove-from-cart`, `checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events."
          }
        },
        "searchQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The user's search query as UTF-8 encoded text with a length limit of 5 KiB."
          }
        },
        "pageCategories": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchyList",
          "traits": {
            "smithy.api#documentation": "Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The categories associated with a category page. Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: categories : [\"Sales\", \"2017 Black Friday Deals\"]."
          }
        },
        "listId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for `add-to-list` and `remove-from-list` events. The id or name of the list that the item is being added to or removed from. Other event types should not set this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProductEventDetail captures user event information specific to retail products."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductDetail"
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest": {
      "type": "structure",
      "members": {
        "userEventRejoinScope": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequestUserEventRejoinScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the catalog rejoin to define the scope and range of the user events to be rejoined with catalog items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CatalogRejoin method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequestUserEventRejoinScopeEnum": {
      "type": "enum",
      "members": {
        "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED"
          }
        },
        "JOINED_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOINED_EVENTS"
          }
        },
        "UNJOINED_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNJOINED_EVENTS"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1RejoinUserEventsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for RejoinUserEvents method."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "type": "structure",
      "members": {
        "eventItemLevel": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfigEventItemLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Level of the catalog at which events are uploaded. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details."
          }
        },
        "predictItemLevel": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfigPredictItemLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Level of the catalog at which predictions are made. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures the catalog level that users send events to, and the level at which predictions are made."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfigEventItemLevelEnum": {
      "type": "enum",
      "members": {
        "CATALOG_ITEM_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATALOG_ITEM_LEVEL_UNSPECIFIED"
          }
        },
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT"
          }
        },
        "MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASTER"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfigPredictItemLevelEnum": {
      "type": "enum",
      "members": {
        "CATALOG_ITEM_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATALOG_ITEM_LEVEL_UNSPECIFIED"
          }
        },
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT"
          }
        },
        "MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASTER"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEvent": {
      "type": "structure",
      "members": {
        "eventSource": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventEventSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. This field should *not* be set when using JavaScript pixel or the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`."
          }
        },
        "userInfo": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserInfo",
          "traits": {
            "smithy.api#documentation": "Required. User information."
          }
        },
        "eventDetail": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1EventDetail",
          "traits": {
            "smithy.api#documentation": "Optional. User event detailed information common across different recommendation types."
          }
        },
        "productEventDetail": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ProductEventDetail",
          "traits": {
            "smithy.api#documentation": "Optional. Retail product specific user event metadata. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `category-page-view` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` * `search` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_event_detail' should be set for this unless the shopping cart is empty. This field is not allowed for the following event types: * `home-page-view`"
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User event type. Allowed values are: * `add-to-cart` Products being added to cart. * `add-to-list` Items being added to a list (shopping list, favorites etc). * `category-page-view` Special pages such as sale or promotion pages viewed. * `checkout-start` User starting a checkout process. * `detail-page-view` Products detail page viewed. * `home-page-view` Homepage viewed. * `page-visit` Generic page visits not included in the event types above. * `purchase-complete` User finishing a purchase. * `refund` Purchased items being refunded or returned. * `remove-from-cart` Products being removed from cart. * `remove-from-list` Items being removed from a list. * `search` Product search. * `shopping-cart-page-view` User viewing a shopping cart. * `impression` List of items displayed. Used by Google Tag Manager."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Only required for ImportUserEvents method. Timestamp of user event created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UserEvent captures all metadata information recommendation engine needs to know about how end users interact with customers' website."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1UserEventEventSourceEnum": {
      "type": "enum",
      "members": {
        "EVENT_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_SOURCE_UNSPECIFIED"
          }
        },
        "AUTOML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOML"
          }
        },
        "ECOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECOMMERCE"
          }
        },
        "BATCH_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_UPLOAD"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the catalog.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates which fields in the provided 'catalog' to update. If not set, will only update the catalog_item_level_config field. Currently only fields that can be updated are catalog_item_level_config.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Catalog",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.recommendationengine_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.recommendationengine_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.recommendationengine_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1Catalog"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates the catalog configuration."
      }
    },
    "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListCatalogs` call. Provide this to retrieve the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account resource name with an associated location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListCatalogsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/catalogs"
        },
        "smithy.api#documentation": "Lists all the catalog configurations associated with the project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#ImportProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. `projects/1234/locations/global/catalogs/default_catalog` If no updateMask is specified, requires catalogItems.create permission. If updateMask is specified, requires catalogItems.update permission.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#ImportProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#ImportProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/catalogItems:import"
        },
        "smithy.api#documentation": "Bulk import of multiple catalog items. Request processing may be synchronous. No partial updating supported. Non-existing items will be created. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully updated."
      }
    },
    "com.gcp.recommendationengine_v1beta1#GetProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full resource name of catalog item, such as `projects/*/locations/global/catalogs/default_catalog/catalogitems/some_catalog_item_id`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#GetProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#GetProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a specific catalog item."
      }
    },
    "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full resource name of catalog item, such as `projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates which fields in the provided 'item' to update. If not set, will by default update all fields.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#PatchProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a catalog item. Partial updating is supported. Non-existing items will be created."
      }
    },
    "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The previous ListCatalogItemsResponse.next_page_token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Use of this field is not supported by version v1beta1.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#ListProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/catalogItems"
        },
        "smithy.api#documentation": "Gets a list of catalog items.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#CreateProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#CreateProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#CreateProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleCloudRecommendationengineV1beta1CatalogItem"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/catalogItems"
        },
        "smithy.api#documentation": "Creates a catalog item."
      }
    },
    "com.gcp.recommendationengine_v1beta1#DeleteProjectsLocationsCatalogsCatalogItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full resource name of catalog item, such as `projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommendationengine_v1beta1#DeleteProjectsLocationsCatalogsCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommendationengine_v1beta1#DeleteProjectsLocationsCatalogsCatalogItemsRequest"
      },
      "output": {
        "target": "com.gcp.recommendationengine_v1beta1#GoogleProtobufEmpty"
      },
      "errors": [
        {
          "target": "com.gcp.recommendationengine_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommendationengine_v1beta1#BadRequest"
        },
        {
[...]
