{
  "smithy": "2.0",
  "metadata": {
    "service": "reseller",
    "version": "v1",
    "title": "Google Workspace Reseller API",
    "baseUrl": "https://reseller.googleapis.com/"
  },
  "shapes": {
    "com.gcp.reseller_v1#ResellernotifyGetwatchdetailsResponse": {
      "type": "structure",
      "members": {
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Topic name of the PubSub"
          }
        },
        "serviceAccountEmailAddresses": {
          "target": "com.gcp.reseller_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of registered service accounts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for resellernotify getwatchdetails response."
      }
    },
    "com.gcp.reseller_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.reseller_v1#Address": {
      "type": "structure",
      "members": {
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For `countryCode` information, see the ISO 3166 country code elements. Verify that country is approved for resale of Google products. This property is required when creating a new customer."
          }
        },
        "addressLine3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line 3 of the address."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company or company division name. This is required."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a customer address. Value: `customers#address`"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An example of a `region` value is `CA` for the state of California."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A `postalCode` example is a postal zip code such as `94043`. This property is required when creating a new customer."
          }
        },
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer contact's name. This is required."
          }
        },
        "addressLine2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line 2 of the address."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An example of a `locality` value is the city of `San Francisco`."
          }
        },
        "addressLine1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A customer's physical address. An address can be composed of one to three lines. The `addressline2` and `addressLine3` are optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for address of a customer."
      }
    },
    "com.gcp.reseller_v1#ChangePlanRequest": {
      "type": "structure",
      "members": {
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `planName` property is required. This is the name of the subscription's payment plan. For more information about the Google payment plans, see API concepts. Possible values are: - `ANNUAL_MONTHLY_PAY` - The annual commitment plan with monthly payments *Caution: *`ANNUAL_MONTHLY_PAY` is returned as `ANNUAL` in all API responses. - `ANNUAL_YEARLY_PAY` - The annual commitment plan with yearly payments - `FLEXIBLE` - The flexible plan - `TRIAL` - The 30-day free trial plan "
          }
        },
        "seats": {
          "target": "com.gcp.reseller_v1#Seats",
          "traits": {
            "smithy.api#documentation": "This is a required property. The seats property is the number of user seat licenses."
          }
        },
        "purchaseOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a `purchaseOrderId` value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters."
          }
        },
        "dealCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in `changePlan` request in order to receive discounted rate. This property is optional. If a deal code has already been added to a subscription, this property may be left empty and the existing discounted rate will still apply (if not empty, only provide the deal code that is already present on the subscription). If a deal code has never been added to a subscription and this property is left blank, regular pricing will apply."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a subscription change plan request. Value: `subscriptions#changePlanRequest`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for the ChangePlan rpc request."
      }
    },
    "com.gcp.reseller_v1#PrimaryAdmin": {
      "type": "structure",
      "members": {
        "primaryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business email of the primary administrator of the customer. The email verification link is sent to this email address at the time of customer creation. Primary administrators have access to the customer's Admin Console, including the ability to invite and evict users and manage the administrative needs of the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for primary admin in case of TEAM customers"
      }
    },
    "com.gcp.reseller_v1#Subscription": {
      "type": "structure",
      "members": {
        "trialSettings": {
          "target": "com.gcp.reseller_v1#SubscriptionTrialSettings",
          "traits": {
            "smithy.api#documentation": "The G Suite annual commitment and flexible payment plans can be in a 30-day free trial. For more information, see the API concepts."
          }
        },
        "renewalSettings": {
          "target": "com.gcp.reseller_v1#RenewalSettings",
          "traits": {
            "smithy.api#documentation": "Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center."
          }
        },
        "plan": {
          "target": "com.gcp.reseller_v1#SubscriptionPlan",
          "traits": {
            "smithy.api#documentation": "The `plan` property is required. In this version of the API, the G Suite plans are the flexible plan, annual commitment plan, and the 30-day free trial plan. For more information about the API\"s payment plans, see the API concepts."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a Subscription. Value: `reseller#subscription`"
          }
        },
        "purchaseOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a `purchaseOrderId` value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is an optional property."
          }
        },
        "transferInfo": {
          "target": "com.gcp.reseller_v1#SubscriptionTransferInfo",
          "traits": {
            "smithy.api#documentation": "Read-only transfer related information for the subscription. For more information, see retrieve transferable subscriptions for a customer."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only external display name for a product's SKU assigned to a customer in the subscription. SKU names are subject to change at Google's discretion. For products and SKUs available in this version of the API, see Product and SKU IDs."
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A required property. The `skuId` is a unique system identifier for a product's SKU assigned to a customer in the subscription. For products and SKUs available in this version of the API, see Product and SKU IDs."
          }
        },
        "billingMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only field that returns the current billing method for a subscription."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google."
          }
        },
        "seats": {
          "target": "com.gcp.reseller_v1#Seats",
          "traits": {
            "smithy.api#documentation": "This is a required property. The number and limit of user seat licenses in the plan."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `creationTime` property is the date when subscription was created. It is in milliseconds using the Epoch format. See an example Epoch converter."
          }
        },
        "suspensionReasons": {
          "target": "com.gcp.reseller_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Read-only field containing an enumerable of all the current suspension reasons for a subscription. It is possible for a subscription to have many concurrent, overlapping suspension reasons. A subscription's `STATUS` is `SUSPENDED` until all pending suspensions are removed. Possible options include: - `PENDING_TOS_ACCEPTANCE` - The customer has not logged in and accepted the G Suite Resold Terms of Services. - `RENEWAL_WITH_TYPE_CANCEL` - The customer's commitment ended and their service was cancelled at the end of their term. - `RESELLER_INITIATED` - A manual suspension invoked by a Reseller. - `TRIAL_ENDED` - The customer's trial expired without a plan selected. - `OTHER` - The customer is suspended for an internal Google reason (e.g. abuse or otherwise). "
          }
        },
        "customerDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary domain name of the customer"
          }
        },
        "dealCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in `insert` requests in order to receive discounted rate. This property is optional, regular pricing applies if left empty."
          }
        },
        "resourceUiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to customer's Subscriptions page in the Admin console. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task using the Subscriptions page in the Admin console."
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `subscriptionId` is the subscription identifier and is unique for each customer. This is a required property. Since a `subscriptionId` changes when a subscription is updated, we recommend not using this ID as a key for persistent data. Use the `subscriptionId` as described in retrieve all reseller subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a subscription."
      }
    },
    "com.gcp.reseller_v1#SubscriptionTrialSettings": {
      "type": "structure",
      "members": {
        "isInTrial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if a subscription's plan is in a 30-day free trial or not: - `true` — The plan is in trial. - `false` — The plan is not in trial. "
          }
        },
        "trialEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example Epoch converter."
          }
        }
      }
    },
    "com.gcp.reseller_v1#SubscriptionPlan": {
      "type": "structure",
      "members": {
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `planName` property is required. This is the name of the subscription's plan. For more information about the Google payment plans, see the API concepts. Possible values are: - `ANNUAL_MONTHLY_PAY` — The annual commitment plan with monthly payments. *Caution: *`ANNUAL_MONTHLY_PAY` is returned as `ANNUAL` in all API responses. - `ANNUAL_YEARLY_PAY` — The annual commitment plan with yearly payments - `FLEXIBLE` — The flexible plan - `TRIAL` — The 30-day free trial plan. A subscription in trial will be suspended after the 30th free day if no payment plan is assigned. Calling `changePlan` will assign a payment plan to a trial but will not activate the plan. A trial will automatically begin its assigned payment plan after its 30th free day or immediately after calling `startPaidService`. - `FREE` — The free plan is exclusive to the Cloud Identity SKU and does not incur any billing. "
          }
        },
        "commitmentInterval": {
          "target": "com.gcp.reseller_v1#SubscriptionPlanCommitmentInterval",
          "traits": {
            "smithy.api#documentation": "In this version of the API, annual commitment plan's interval is one year. *Note: *When `billingMethod` value is `OFFLINE`, the subscription property object `plan.commitmentInterval` is omitted in all API responses. "
          }
        },
        "isCommitmentPlan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The `isCommitmentPlan` property's boolean value identifies the plan as an annual commitment plan: - `true` — The subscription's plan is an annual commitment plan. - `false` — The plan is not an annual commitment plan. "
          }
        }
      }
    },
    "com.gcp.reseller_v1#SubscriptionPlanCommitmentInterval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An annual commitment plan's interval's `startTime` in milliseconds using UNIX Epoch format. See an example Epoch converter."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An annual commitment plan's interval's `endTime` in milliseconds using the UNIX Epoch format. See an example Epoch converter."
          }
        }
      }
    },
    "com.gcp.reseller_v1#SubscriptionTransferInfo": {
      "type": "structure",
      "members": {
        "minimumTransferableSeats": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When inserting a subscription, this is the minimum number of seats listed in the transfer order for this product. For example, if the customer has 20 users, the reseller cannot place a transfer order of 15 seats. The minimum is 20 seats."
          }
        },
        "transferabilityExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when transfer token or intent to transfer will expire. The time is in milliseconds using UNIX Epoch format."
          }
        },
        "currentLegacySkuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `skuId` of the current resold subscription. This is populated only when the customer has a subscription with a legacy SKU and the subscription resource is populated with the `skuId` of the SKU recommended for the transfer."
          }
        }
      }
    },
    "com.gcp.reseller_v1#RenewalSettings": {
      "type": "structure",
      "members": {
        "renewalType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center. When renewing a subscription, the `renewalType` is a required property."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a subscription renewal setting. Value: `subscriptions#renewalSettings`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a subscription renewal settings."
      }
    },
    "com.gcp.reseller_v1#ResellernotifyResource": {
      "type": "structure",
      "members": {
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Topic name of the PubSub"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for resellernotify response."
      }
    },
    "com.gcp.reseller_v1#Customer": {
      "type": "structure",
      "members": {
        "postalAddress": {
          "target": "com.gcp.reseller_v1#Address",
          "traits": {
            "smithy.api#documentation": "A customer's address information. Each field has a limit of 255 charcters."
          }
        },
        "alternateEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Like the \"Customer email\" in the reseller tools, this email is the secondary contact used if something happens to the customer's service such as service outage or a security issue. This property is required when creating a new \"domain\" customer and should not use the same domain as `customerDomain`. The `alternateEmail` field is not necessary to create a \"team\" customer."
          }
        },
        "customerDomainVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the customer's primary domain has been verified."
          }
        },
        "customerType": {
          "target": "com.gcp.reseller_v1#CustomerCustomerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identifies the type of the customer. Acceptable values include: * `domain`: Implies a domain-verified customer (default). * `team`: Implies an email-verified customer. For more information, see [managed teams](https://support.google.com/a/users/answer/9939479)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a customer. Value: `reseller#customer`"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google."
          }
        },
        "primaryAdmin": {
          "target": "com.gcp.reseller_v1#PrimaryAdmin",
          "traits": {
            "smithy.api#documentation": "The first admin details of the customer, present in case of TEAM customer."
          }
        },
        "customerDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer's primary domain name string. `customerDomain` is required when creating a new customer. Do not include the `www` prefix in the domain when adding a customer."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer contact phone number. Must start with \"+\" followed by the country code. The rest of the number can be contiguous numbers or respect the phone local format conventions, but it must be a real phone number and not, for example, \"123\". This field is silently ignored if invalid."
          }
        },
        "resourceUiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to customer's Admin console dashboard. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task in the Admin console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When a Google customer's account is registered with a reseller, the customer's subscriptions for Google services are managed by this reseller. A customer is described by a primary domain name and a physical address."
      }
    },
    "com.gcp.reseller_v1#CustomerCustomerTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOMERTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerTypeUnspecified"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        }
      }
    },
    "com.gcp.reseller_v1#Subscriptions": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a collection of subscriptions. Value: reseller#subscriptions"
          }
        },
        "subscriptions": {
          "target": "com.gcp.reseller_v1#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "The subscriptions in this page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription manages the relationship of a Google customer's payment plan with a product's SKU, user licenses, 30-day free trial status, and renewal options. A primary role of a reseller is to manage the Google customer's subscriptions."
      }
    },
    "com.gcp.reseller_v1#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.reseller_v1#Subscription"
      }
    },
    "com.gcp.reseller_v1#Seats": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a subscription seat setting. Value: `subscriptions#seats`"
          }
        },
        "numberOfSeats": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This is a required property and is exclusive to subscriptions with `ANNUAL_MONTHLY_PAY` and `ANNUAL_YEARLY_PAY` plans. This property sets the maximum number of licenses assignable to users on a subscription. The reseller can add more licenses, but once set, the `numberOfSeats` cannot be reduced until renewal. The reseller is invoiced based on the `numberOfSeats` value regardless of how many of these user licenses are assigned. *Note: *Google Workspace subscriptions automatically assign a license to every user."
          }
        },
        "maximumNumberOfSeats": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This is a required property and is exclusive to subscriptions with `FLEXIBLE` or `TRIAL` plans. This property sets the maximum number of licensed users allowed on a subscription. This quantity can be increased up to the maximum limit defined in the reseller's contract. The minimum quantity is the current number of users in the customer account. *Note: *G Suite subscriptions automatically assign a license to every user."
          }
        },
        "licensedNumberOfSeats": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Read-only field containing the current number of users that are assigned a license for the product defined in `skuId`. This field's value is equivalent to the numerical count of users returned by the Enterprise License Manager API method: [`listForProductAndSku`](https://developers.google.com/workspace/admin/licensing/v1/reference/licenseAssignments/listForProductAndSku)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for subscription seats."
      }
    },
    "com.gcp.reseller_v1#GetCustomersRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.reseller_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.reseller_v1#GetCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#GetCustomersRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Customer"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "apps/reseller/v1/customers/{customerId}"
        },
        "smithy.api#documentation": "Gets a customer account. Use this operation to see a customer account already in your reseller management, or to see the minimal account information for an existing customer that you do not manage. For more information about the API response for existing customers, see [retrieving a customer account](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_customers#get_customer)."
      }
    },
    "com.gcp.reseller_v1#PatchCustomersRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#Customer",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.reseller_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.reseller_v1#PatchCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#PatchCustomersRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Customer"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "apps/reseller/v1/customers/{customerId}"
        },
        "smithy.api#documentation": "Updates a customer account's settings. This method supports patch semantics. You cannot update `customerType` via the Reseller API, but a `\"team\"` customer can verify their domain and become `customerType = \"domain\"`. For more information, see [Verify your domain to unlock Essentials features](https://support.google.com/a/answer/9122284)."
      }
    },
    "com.gcp.reseller_v1#InsertCustomersRequest": {
      "type": "structure",
      "members": {
        "customerAuthToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `customerAuthToken` query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.",
            "smithy.api#httpQuery": "customerAuthToken"
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#Customer",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#InsertCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#InsertCustomersRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Customer"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers"
        },
        "smithy.api#documentation": "Orders a new customer's account. Before ordering a new customer account, establish whether the customer account already exists using the [`customers.get`](https://developers.google.com/workspace/admin/reseller/v1/reference/customers/get) If the customer account exists as a direct Google account or as a resold customer account from another reseller, use the `customerAuthToken\\` as described in [order a resold account for an existing customer](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_customers#create_existing_customer). For more information about ordering a new customer account, see [order a new customer account](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_customers#create_customer). After creating a new customer account, you must provision a user as an administrator. The customer's administrator is required to sign in to the Admin console and sign the G Suite via Reseller agreement to activate the account. Resellers are prohibited from signing the G Suite via Reseller agreement on the customer's behalf. For more information, see [order a new customer account](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_customers#tos)."
      }
    },
    "com.gcp.reseller_v1#UpdateCustomersRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#Customer",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#UpdateCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#UpdateCustomersRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Customer"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "apps/reseller/v1/customers/{customerId}"
        },
        "smithy.api#documentation": "Updates a customer account's settings. You cannot update `customerType` via the Reseller API, but a `\"team\"` customer can verify their domain and become `customerType = \"domain\"`. For more information, see [update a customer's settings](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_customers#update_customer)."
      }
    },
    "com.gcp.reseller_v1#GetwatchdetailsResellernotifyRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.reseller_v1#GetwatchdetailsResellernotify": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#GetwatchdetailsResellernotifyRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#ResellernotifyGetwatchdetailsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "apps/reseller/v1/resellernotify/getwatchdetails"
        },
        "smithy.api#documentation": "Returns all the details of the watch corresponding to the reseller."
      }
    },
    "com.gcp.reseller_v1#UnregisterResellernotifyRequest": {
      "type": "structure",
      "members": {
        "serviceAccountEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account which owns the Cloud-PubSub topic.",
            "smithy.api#httpQuery": "serviceAccountEmailAddress"
          }
        }
      }
    },
    "com.gcp.reseller_v1#UnregisterResellernotify": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#UnregisterResellernotifyRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#ResellernotifyResource"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/resellernotify/unregister"
        },
        "smithy.api#documentation": "Unregisters a Reseller for receiving notifications."
      }
    },
    "com.gcp.reseller_v1#RegisterResellernotifyRequest": {
      "type": "structure",
      "members": {
        "serviceAccountEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account which will own the created Cloud-PubSub topic.",
            "smithy.api#httpQuery": "serviceAccountEmailAddress"
          }
        }
      }
    },
    "com.gcp.reseller_v1#RegisterResellernotify": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#RegisterResellernotifyRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#ResellernotifyResource"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/resellernotify/register"
        },
        "smithy.api#documentation": "Registers a Reseller for receiving notifications."
      }
    },
    "com.gcp.reseller_v1#ActivateSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#ActivateSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#ActivateSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/activate"
        },
        "smithy.api#documentation": "Activates a subscription previously suspended by the reseller. If you did not suspend the customer subscription and it is suspended for any other reason, such as for abuse or a pending ToS acceptance, this call will not reactivate the customer subscription."
      }
    },
    "com.gcp.reseller_v1#DeleteSubscriptionsDeletionTypeEnum": {
      "type": "enum",
      "members": {
        "DELETION_TYPE_UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_type_undefined"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "TRANSFER_TO_DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer_to_direct"
          }
        }
      }
    },
    "com.gcp.reseller_v1#DeleteSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "deletionType": {
          "target": "com.gcp.reseller_v1#DeleteSubscriptionsDeletionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The `deletionType` query string enables the cancellation, downgrade, or suspension of a subscription.",
            "smithy.api#httpQuery": "deletionType",
            "smithy.api#required": {}
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#DeleteSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#DeleteSubscriptionsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}"
        },
        "smithy.api#documentation": "Cancels, suspends, or transfers a subscription to direct."
      }
    },
    "com.gcp.reseller_v1#GetSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#GetSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#GetSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}"
        },
        "smithy.api#documentation": "Gets a specific subscription. The `subscriptionId` can be found using the [Retrieve all reseller subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#get_all_subscriptions) method. For more information about retrieving a specific subscription, see the information descrived in [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#get_subscription)."
      }
    },
    "com.gcp.reseller_v1#InsertSubscriptionsActionEnum": {
      "type": "enum",
      "members": {
        "ACTIONUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actionUnspecified"
          }
        },
        "BUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "buy"
          }
        },
        "SWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "switch"
          }
        }
      }
    },
    "com.gcp.reseller_v1#InsertSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "sourceSkuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku_id of the existing subscription to be upgraded or downgraded. This is required when action is SWITCH.",
            "smithy.api#httpQuery": "sourceSkuId"
          }
        },
        "customerAuthToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `customerAuthToken` query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.",
            "smithy.api#httpQuery": "customerAuthToken"
          }
        },
        "action": {
          "target": "com.gcp.reseller_v1#InsertSubscriptionsActionEnum",
          "traits": {
            "smithy.api#documentation": "The intented insert action. Advised to set this when the customer already has a subscription for a different SKU in the same product.",
            "smithy.api#httpQuery": "action"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#Subscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#InsertSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#InsertSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions"
        },
        "smithy.api#documentation": "Creates or transfer a subscription. Create a subscription for a customer's account that you ordered using the [Order a new customer account](https://developers.google.com/workspace/admin/reseller/v1/reference/customers/insert.html) method. For more information about creating a subscription for different payment plans, see [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#create_subscription).\\ If you did not order the customer's account using the customer insert method, use the customer's `customerAuthToken` when creating a subscription for that customer. If transferring a G Suite subscription with an associated Google Drive or Google Vault subscription, use the [batch operation](https://developers.google.com/workspace/admin/reseller/v1/how-tos/batch.html) to transfer all of these subscriptions. For more information, see how to [transfer subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#transfer_a_subscription)."
      }
    },
    "com.gcp.reseller_v1#StartPaidServiceSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#StartPaidServiceSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#StartPaidServiceSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/startPaidService"
        },
        "smithy.api#documentation": "Immediately move a 30-day free trial subscription to a paid service subscription. This method is only applicable if a payment plan has already been set up for the 30-day trial subscription. For more information, see [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#paid_service)."
      }
    },
    "com.gcp.reseller_v1#SuspendSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.reseller_v1#SuspendSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#SuspendSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/suspend"
        },
        "smithy.api#documentation": "Suspends an active subscription. You can use this method to suspend a paid subscription that is currently in the `ACTIVE` state. * For `FLEXIBLE` subscriptions, billing is paused. * For `ANNUAL_MONTHLY_PAY` or `ANNUAL_YEARLY_PAY` subscriptions: * Suspending the subscription does not change the renewal date that was originally committed to. * A suspended subscription does not renew. If you activate the subscription after the original renewal date, a new annual subscription will be created, starting on the day of activation. We strongly encourage you to suspend subscriptions only for short periods of time as suspensions over 60 days may result in the subscription being cancelled."
      }
    },
    "com.gcp.reseller_v1#ChangePlanSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#ChangePlanRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#ChangePlanSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#ChangePlanSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/changePlan"
        },
        "smithy.api#documentation": "Updates a subscription plan. Use this method to update a plan for a 30-day trial or a flexible plan subscription to an annual commitment plan with monthly or yearly payments. How a plan is updated differs depending on the plan and the products. For more information, see the description in [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#update_subscription_plan)."
      }
    },
    "com.gcp.reseller_v1#ChangeSeatsSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#Seats",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#ChangeSeatsSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#ChangeSeatsSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/changeSeats"
        },
        "smithy.api#documentation": "Updates a subscription's user license settings. For more information about updating an annual commitment plan or a flexible plan subscription’s licenses, see [Manage Subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#update_subscription_seat)."
      }
    },
    "com.gcp.reseller_v1#ChangeRenewalSettingsSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. The `subscriptionId` is the subscription identifier and is unique for each customer. Since a `subscriptionId` changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the `subscriptionId` can be found using the retrieve all reseller subscriptions method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.reseller_v1#RenewalSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.reseller_v1#ChangeRenewalSettingsSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#ChangeRenewalSettingsSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        },
        {
          "target": "com.gcp.reseller_v1#BadRequest"
        },
        {
          "target": "com.gcp.reseller_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "apps/reseller/v1/customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings"
        },
        "smithy.api#documentation": "Updates a user license's renewal settings. This is applicable for accounts with annual commitment plans only. For more information, see the description in [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions#update_renewal)."
      }
    },
    "com.gcp.reseller_v1#ListSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "customerNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When retrieving all of your subscriptions and filtering for specific customers, you can enter a prefix for a customer name. Using an example customer group that includes `exam.com`, `example20.com` and `example.com`: - `exa` -- Returns all customer names that start with 'exa' which could include `exam.com`, `example20.com`, and `example.com`. A name prefix is similar to using a regular expression's asterisk, exa*. - `example` -- Returns `example20.com` and `example.com`. ",
            "smithy.api#httpQuery": "customerNamePrefix"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be either the customer's primary domain name or the customer's unique identifier. If the domain name for a customer changes, the old domain name cannot be used to access the customer, but the customer's unique identifier (as returned by the API) can always be used. We recommend storing the unique identifier in your systems where applicable.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When retrieving a large list, the `maxResults` is the maximum number of results per page. The `nextPageToken` value takes you to the next page. The default is 20.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "customerAuthToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `customerAuthToken` query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.",
            "smithy.api#httpQuery": "customerAuthToken"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page in the list",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.reseller_v1#ListSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.reseller_v1#ListSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.reseller_v1#Subscriptions"
      },
      "errors": [
        {
          "target": "com.gcp.reseller_v1#NotFound"
        },
        {
          "target": "com.gcp.reseller_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "apps/reseller/v1/subscriptions"
        },
        "smithy.api#documentation": "Lists of subscriptions managed by the reseller. The list can be all subscriptions, all of a customer's subscriptions, or all of a customer's transferable subscriptions. Optionally, this method can filter the response by a `customerNamePrefix`. For more information, see [manage subscriptions](https://developers.google.com/workspace/admin/reseller/v1/how-tos/manage_subscriptions).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
