{
  "smithy": "2.0",
  "metadata": {
    "service": "retail",
    "version": "v2",
    "title": "Vertex AI Search for commerce API",
    "baseUrl": "https://retail.googleapis.com/"
  },
  "shapes": {
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportUserEventsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "importSummary": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaUserEventImportSummary",
          "traits": {
            "smithy.api#documentation": "Aggregated statistics of user event import status."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors if this field was set in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleRpcStatus"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2OutputConfigBigQueryDestination": {
      "type": "structure",
      "members": {
        "tableIdPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The prefix of exported BigQuery tables."
          }
        },
        "tableType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Describes the table type. The following values are supported: * `table`: A BigQuery native table. * `view`: A virtual table defined by a SQL query."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of a BigQuery Dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The BigQuery output destination configuration."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2AddFulfillmentPlacesRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
          }
        },
        "placeIds": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\" to be added for this type. Duplicate IDs will be automatically ignored. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned. If the total number of place IDs exceeds 2000 for this type after adding, then the update will be rejected."
          }
        },
        "addTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2AddFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaCreateModelMetadata": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a create operation."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaModelServingConfigList": {
      "type": "structure",
      "members": {
        "servingConfigIds": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineSource": {
      "type": "structure",
      "members": {
        "inlineForceIntents": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntentList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of inline force intent classifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inline source for intent classifications."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntent"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RemoveCatalogAttributeRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The attribute name key of the CatalogAttribute to remove."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CatalogService.RemoveCatalogAttribute method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ImportMetadata": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. This field is never set."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that encountered errors while processing."
          }
        },
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were processed successfully."
          }
        },
        "notificationPubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification is sent to specified Pub/Sub topic. The message data is JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaAddLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaExportProductsResponse": {
      "type": "structure",
      "members": {
        "errorsConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaExportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "This field is never set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "outputResult": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaOutputResult",
          "traits": {
            "smithy.api#documentation": "Output result indicating where the data were exported to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestPersonalizationSpec": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestPersonalizationSpecModeEnum",
          "traits": {
            "smithy.api#documentation": "Defaults to Mode.AUTO."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for personalization."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestPersonalizationSpecModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2Interval": {
      "type": "structure",
      "members": {
        "exclusiveMinimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Exclusive lower bound."
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive upper bound."
          }
        },
        "exclusiveMaximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Exclusive upper bound."
          }
        },
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive lower bound."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A floating point interval."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2OutputConfigGcsDestination": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The output uri prefix for saving output data to json files. Some mapping examples are as follows: output_uri_prefix sample output(assuming the object is foo.json) ======================== ============================================= gs://bucket/ gs://bucket/foo.json gs://bucket/folder/ gs://bucket/folder/foo.json gs://bucket/folder/item_ gs://bucket/folder/item_foo.json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage output destination configuration."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaPurgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2#GoogleApiHttpBody": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.retail_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.retail_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.retail_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#DocumentMap"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaModelModelFeaturesConfig": {
      "type": "structure",
      "members": {
        "frequentlyBoughtTogetherConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig",
          "traits": {
            "smithy.api#documentation": "Additional configs for frequently-bought-together models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional model features config."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestFacetSpec": {
      "type": "structure",
      "members": {
        "facetKey": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestFacetSpecFacetKey",
          "traits": {
            "smithy.api#documentation": "Required. The facet key specification."
          }
        },
        "excludedFilterKeys": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 products with the color facet \"Red\" and 200 products with the color facet \"Blue\". A query containing the filter \"colorFamilies:ANY(\"Red\")\" and having \"colorFamilies\" as FacetKey.key would by default return only \"Red\" products in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue products available, \"Blue\" would not be shown as an available facet value. If \"colorFamilies\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"colorFamilies\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" products. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 50. The maximum allowed value is 300. Values above 300 will be coerced to 300. If this field is negative, an INVALID_ARGUMENT is returned."
          }
        },
        "enableDynamicPosition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined by Google Retail Search. It is ordered together with dynamic facets if dynamic facets is enabled. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined by Google Retail Search. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enable, which generates a facet \"gender\". Then, the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how Google Retail Search orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position values are false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A facet specification to perform faceted search."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2Product": {
      "type": "structure",
      "members": {
        "rating": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2Rating",
          "traits": {
            "smithy.api#documentation": "The rating of this product."
          }
        },
        "availability": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ProductAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The online availability of the Product. Default to Availability.IN_STOCK. For primary products with variants set the availability of the primary as Availability.OUT_OF_STOCK and set the true availability at the variant level. This way the primary product will be considered \"in stock\" as long as it has at least one variant in stock. For primary products with no variants set the true availability at the primary level. Corresponding properties: Google Merchant Center property [availability](https://support.google.com/merchants/answer/6324448). Schema.org property [Offer.availability](https://schema.org/availability)."
          }
        },
        "availableQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The available quantity of the item."
          }
        },
        "audience": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2Audience",
          "traits": {
            "smithy.api#documentation": "The target group associated with a given audience (e.g. male, veterans, car owners, musicians, etc.) of the product."
          }
        },
        "colorInfo": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ColorInfo",
          "traits": {
            "smithy.api#documentation": "The color of the product. Corresponding properties: Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color)."
          }
        },
        "type": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of the product. Default to Catalog.product_level_config.ingestion_product_type if unset."
          }
        },
        "categories": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Product categories. This field is repeated for supporting one product belonging to several parallel categories. Strongly recommended using the full path for better search / recommendation quality. To represent the full path of category, use the '>' sign, with one space on each side, to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, if a shoes product belongs to both [\"Shoes & Accessories\" -> \"Shoes\"] and [\"Sports & Fitness\" -> \"Athletic Clothing\" -> \"Shoes\"], it could be represented as: \"categories\": [ \"Shoes & Accessories > Shoes\", \"Sports & Fitness > Athletic Clothing > Shoes\" ] Must be set for Type.PRIMARY Product otherwise an INVALID_ARGUMENT error is returned. At most 250 values are allowed per Product unless overridden through the Google Cloud console. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property google_product_category. Schema.org property [Product.category] (https://schema.org/category). [mc_google_product_category]: https://support.google.com/merchants/answer/6324436"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`."
          }
        },
        "sizes": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The size of the product. To represent different size systems or size types, consider using this format: [[[size_system:]size_type:]size_value]. For example, in \"US:MENS:M\", \"US\" represents size system; \"MENS\" represents size type; \"M\" represents size value. In \"GIRLS:27\", size system is empty; \"GIRLS\" represents size type; \"27\" represents size value. In \"32 inches\", both size system and size type are empty, while size value is \"32 inches\". A maximum of 20 values are allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [size](https://support.google.com/merchants/answer/6324492), [size_type](https://support.google.com/merchants/answer/6324497), and [size_system](https://support.google.com/merchants/answer/6324502). Schema.org property [Product.size](https://schema.org/size)."
          }
        },
        "primaryProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant group identifier. Must be an id, with the same parent branch with this product. Otherwise, an error is thrown. For Type.PRIMARY Products, this field can only be empty or set to the same value as id. For VARIANT Products, this field cannot be empty. A maximum of 2,000 products are allowed to share the same Type.PRIMARY Product. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [item_group_id](https://support.google.com/merchants/answer/6324507). Schema.org property [Product.inProductGroupWithID](https://schema.org/inProductGroupWithID)."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Note that this field is applied in the following ways: * If the Product is already expired when it is uploaded, this product is not indexed for search. * If the Product is not expired when it is uploaded, only the Type.PRIMARY's and Type.COLLECTION's expireTime is respected, and Type.VARIANT's expireTime is not used. In general, we suggest the users to delete the stale products explicitly, instead of using this field to determine staleness. expire_time must be later than available_time and publish_time, otherwise an INVALID_ARGUMENT error is thrown. Corresponding properties: Google Merchant Center property [expiration_date](https://support.google.com/merchants/answer/6324499)."
          }
        },
        "localInventories": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2LocalInventoryList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of local inventories specific to different places. This field can be managed by ProductService.AddLocalInventories and ProductService.RemoveLocalInventories APIs if fine-grained, high-volume updates are necessary."
          }
        },
        "availableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when this Product becomes available for SearchService.Search. Note that this is only applicable to Type.PRIMARY and Type.COLLECTION, and ignored for Type.VARIANT."
          }
        },
        "collectionMemberIds": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The id of the collection members when type is Type.COLLECTION. Non-existent product ids are allowed. The type of the members must be either Type.PRIMARY or Type.VARIANT otherwise an INVALID_ARGUMENT error is thrown. Should not set it for other types. A maximum of 1000 values are allowed. Otherwise, an INVALID_ARGUMENT error is return."
          }
        },
        "variants": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ProductList",
          "traits": {
            "smithy.api#documentation": "Output only. Product variants grouped together on primary product which share similar product attributes. It's automatically grouped by primary_product_id for all the product variants. Only populated for Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the title/description and other string attributes. Use language tags defined by [BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). For product prediction, this field is ignored and the model automatically detects the text language. The Product can include text in different languages, but duplicating Products to provide text in multiple languages can result in degraded model performance. For product search this field is in use. It defaults to \"en-US\" if unset."
          }
        },
        "attributes": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CustomAttributeMap",
          "traits": {
            "smithy.api#documentation": "Highly encouraged. Extra product attributes to be included. For example, for products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the attributes here. Features that can take on one of a limited number of possible values. Two types of features can be set are: Textual features. some examples would be the brand/maker of a product, or country of a customer. Numerical features. Some examples would be the height/weight of a product, or age of a customer. For example: `{ \"vendor\": {\"text\": [\"vendor123\", \"vendor456\"]}, \"lengths_cm\": {\"numbers\":[2.3, 15.4]}, \"heights_cm\": {\"numbers\":[8.1, 6.4]} }`. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * Max entries count: 200. * The key must be a UTF-8 encoded string with a length limit of 128 characters. * For indexable attribute, the key must match the pattern: `a-zA-Z0-9*`. For example, `key0LikeThis` or `KEY_1_LIKE_THIS`. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a non-empty UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed."
          }
        },
        "images": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ImageList",
          "traits": {
            "smithy.api#documentation": "Product images for the product. We highly recommend putting the main image first. A maximum of 300 images are allowed. Corresponding properties: Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
          }
        },
        "materials": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The material of the product. For example, \"leather\", \"wooden\". A maximum of 20 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 200 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [material](https://support.google.com/merchants/answer/6324410). Schema.org property [Product.material](https://schema.org/material)."
          }
        },
        "tags": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Custom tags associated with the product. At most 250 values are allowed per Product. This value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This tag can be used for filtering recommendation results by passing the tag as part of the PredictRequest.filter. Corresponding properties: Google Merchant Center property [custom_label_0–4](https://support.google.com/merchants/answer/6324473)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product description. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [description](https://support.google.com/merchants/answer/6324468). Schema.org property [Product.description](https://schema.org/description)."
          }
        },
        "patterns": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The pattern or graphic print of the product. For example, \"striped\", \"polka dot\", \"paisley\". A maximum of 20 values are allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [pattern](https://support.google.com/merchants/answer/6324483). Schema.org property [Product.pattern](https://schema.org/pattern)."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Product title. This field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [title](https://support.google.com/merchants/answer/6324415). Schema.org property [Product.name](https://schema.org/name)."
          }
        },
        "brands": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The brands of the product. A maximum of 30 brands are allowed unless overridden through the Google Cloud console. Each brand must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [brand](https://support.google.com/merchants/answer/6324351). Schema.org property [Product.brand](https://schema.org/brand)."
          }
        },
        "priceInfo": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2PriceInfo",
          "traits": {
            "smithy.api#documentation": "Product price and cost information. Corresponding properties: Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371)."
          }
        },
        "conditions": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The condition of the product. Strongly encouraged to use the standard values: \"new\", \"refurbished\", \"used\". A maximum of 1 value is allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [condition](https://support.google.com/merchants/answer/6324469). Schema.org property [Offer.itemCondition](https://schema.org/itemCondition)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Product identifier, which is the final component of name. For example, this field is \"id_1\", if name is `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/id_1`. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [id](https://support.google.com/merchants/answer/6324405). Schema.org property [Product.sku](https://schema.org/sku)."
          }
        },
        "promotions": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2PromotionList",
          "traits": {
            "smithy.api#documentation": "The promotions applied to the product. A maximum of 10 values are allowed per Product. Only Promotion.promotion_id will be used, other fields will be ignored if set."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The TTL (time to live) of the product. Note that this is only applicable to Type.PRIMARY and Type.COLLECTION, and ignored for Type.VARIANT. In general, we suggest the users to delete the stale products explicitly, instead of using this field to determine staleness. If it is set, it must be a non-negative value, and expire_time is set as current timestamp plus ttl. The derived expire_time is returned in the output and ttl is left blank when retrieving the Product. If it is set, the product is not available for SearchService.Search after current timestamp plus ttl. However, the product can still be retrieved by ProductService.GetProduct and ProductService.ListProducts."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical URL directly linking to the product detail page. It is strongly recommended to provide a valid uri for the product, otherwise the service performance could be significantly degraded. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [link](https://support.google.com/merchants/answer/6324416). Schema.org property [Offer.url](https://schema.org/url)."
          }
        },
        "fulfillmentInfo": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2FulfillmentInfoList",
          "traits": {
            "smithy.api#documentation": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods. All the elements must have distinct FulfillmentInfo.type. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the product is published by the retailer for the first time, which indicates the freshness of the products. Note that this field is different from available_time, given it purely describes product freshness regardless of when it is available on search and recommendation."
          }
        },
        "gtin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Global Trade Item Number (GTIN) of the product. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. This field must be a Unigram. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [gtin](https://support.google.com/merchants/answer/6324461). Schema.org property [Product.isbn](https://schema.org/isbn), [Product.gtin8](https://schema.org/gtin8), [Product.gtin12](https://schema.org/gtin12), [Product.gtin13](https://schema.org/gtin13), or [Product.gtin14](https://schema.org/gtin14). If the value is not a valid GTIN, an INVALID_ARGUMENT error is returned."
          }
        },
        "retrievableFields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates which fields in the Products are returned in SearchResponse. Supported fields for all types: * audience * availability * brands * color_info * conditions * gtin * materials * name * patterns * price_info * rating * sizes * title * uri Supported fields only for Type.PRIMARY and Type.COLLECTION: * categories * description * images Supported fields only for Type.VARIANT: * Only the first image in images To mark attributes as retrievable, include paths of the form \"attributes.key\" where \"key\" is the key of a custom attribute, as specified in attributes. For Type.PRIMARY and Type.COLLECTION, the following fields are always returned in SearchResponse by default: * name For Type.VARIANT, the following fields are always returned in by default: * name * color_info Note: Returning more fields in SearchResponse can increase response payload size and serving latency. This field is deprecated. Use the retrievable site-wide control instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product captures all metadata information of items to be recommended or searched."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ProductAvailabilityEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        },
        "PREORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREORDER"
          }
        },
        "BACKORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKORDER"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ProductTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2LocalInventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2LocalInventory"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2Product"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CustomAttributeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2CustomAttribute"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2Image"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PromotionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2Promotion"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2FulfillmentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2FulfillmentInfo"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RuleOnewaySynonymsAction": {
      "type": "structure",
      "members": {
        "synonyms": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Defines a set of synonyms. Cannot contain duplicates. Can specify up to 100 synonyms."
          }
        },
        "onewayTerms": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Will be [deprecated = true] post migration;"
          }
        },
        "queryTerms": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Terms from the search query. Will treat synonyms as their synonyms. Not themselves synonyms of the synonyms. Can specify up to 100 terms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps a set of terms to a set of synonyms. Set of synonyms will be treated as synonyms of each query term only. `query_terms` will not be treated as synonyms of each other. Example: \"sneakers\" will use a synonym of \"shoes\". \"shoes\" will not use a synonym of \"sneakers\"."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PriceInfoPriceRange": {
      "type": "structure",
      "members": {
        "price": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2Interval",
          "traits": {
            "smithy.api#documentation": "The inclusive Product.pricing_info.price interval of all variant Product having the same Product.primary_product_id."
          }
        },
        "originalPrice": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2Interval",
          "traits": {
            "smithy.api#documentation": "The inclusive Product.pricing_info.original_price internal of all variant Product having the same Product.primary_product_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price range of all variant Product having the same Product.primary_product_id."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2Catalog": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The fully qualified resource name of the catalog."
          }
        },
        "productLevelConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ProductLevelConfig",
          "traits": {
            "smithy.api#documentation": "Required. The product level configuration."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The catalog configuration."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaAddLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaExportProductsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "outputResult": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2betaOutputResult",
          "traits": {
            "smithy.api#documentation": "Output result indicating where the data were exported to."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2betaExportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "This field is never set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2LocalInventory": {
      "type": "structure",
      "members": {
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The place ID for the current set of inventory information."
          }
        },
        "priceInfo": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2PriceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Product price and cost information. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371)."
          }
        },
        "attributes": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CustomAttributeMap",
          "traits": {
            "smithy.api#documentation": "Optional. Additional local inventory attributes, for example, store name, promotion tags, etc. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * At most 30 attributes are allowed. * The key must be a UTF-8 encoded string with a length limit of 32 characters. * The key must match the pattern: `a-zA-Z0-9*`. For example, key0LikeThis or KEY_1_LIKE_THIS. * The attribute values must be of the same type (text or number). * Only 1 value is allowed for each attribute. * For text values, the length limit is 256 UTF-8 characters. * The attribute does not support search. The `searchable` field should be unset or set to false. * The max summed total bytes of custom attribute keys and values per product is 5MiB."
          }
        },
        "fulfillmentTypes": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Supported fulfillment types. Valid fulfillment type values include commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. All the elements must be distinct. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inventory information at a place (e.g. a store) identified by a place ID."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CompleteQueryResponseAttributeResult": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of suggestions for the attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource that represents attribute results."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigExample": {
      "type": "structure",
      "members": {
        "intentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The intent_type must match one of the predefined intent types defined at https://cloud.google.com/retail/docs/reference/rpc/google.cloud.retail.v2alpha#querytype"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The reason for the intent classification. This is used to explain the intent classification decision."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Example query."
          }
        },
        "classifiedPositive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether the example is classified positively."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An example for intent classification."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2AttributesConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The fully qualified resource name of the attribute config. Format: `projects/*/locations/*/catalogs/*/attributesConfig`"
          }
        },
        "attributeConfigLevel": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2AttributesConfigAttributeConfigLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The AttributeConfigLevel used for this catalog."
          }
        },
        "catalogAttributes": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CatalogAttributeMap",
          "traits": {
            "smithy.api#documentation": "Enable attribute(s) config at catalog level. For example, indexable, dynamic_facetable, or searchable for each attribute. The key is catalog attribute's name. For example: `color`, `brands`, `attributes.custom_attribute`, such as `attributes.xyz`. The maximum number of catalog attributes allowed in a request is 1000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog level attribute config."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2AttributesConfigAttributeConfigLevelEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_CONFIG_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_CONFIG_LEVEL_UNSPECIFIED"
          }
        },
        "PRODUCT_LEVEL_ATTRIBUTE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_LEVEL_ATTRIBUTE_CONFIG"
          }
        },
        "CATALOG_LEVEL_ATTRIBUTE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATALOG_LEVEL_ATTRIBUTE_CONFIG"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CatalogAttributeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2CatalogAttribute"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RemoveControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for RemoveControl method."
      }
    },
    "com.gcp.retail_v2#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.retail_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.retail_v2#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.retail_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CompletionConfig": {
      "type": "structure",
      "members": {
        "lastAllowlistImportOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the LRO corresponding to the latest allowlist import. Can use GetOperation API to retrieve the latest state of the Long Running Operation."
          }
        },
        "minPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of characters needed to be typed in order to get suggestions. Default value is 2. If left unset or set to 0, then will fallback to default value. Value range is 1 to 20."
          }
        },
        "lastDenylistImportOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the LRO corresponding to the latest denylist import. Can use GetOperation API to retrieve the latest state of the Long Running Operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Fully qualified name `projects/*/locations/*/catalogs/*/completionConfig`"
          }
        },
        "lastSuggestionsImportOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the LRO corresponding to the latest suggestion terms list import. Can use GetOperation API method to retrieve the latest state of the Long Running Operation."
          }
        },
        "matchingOrder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the matching order for autocomplete suggestions, e.g., a query consisting of 'sh' with 'out-of-order' specified would suggest \"women's shoes\", whereas a query of 'red s' with 'exact-prefix' specified would suggest \"red shoes\". Currently supported values: * 'out-of-order' * 'exact-prefix' Default value: 'exact-prefix'."
          }
        },
        "maxSuggestions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of autocomplete suggestions returned per term. Default value is 20. If left unset or set to 0, then will fallback to default value. Value range is 1 to 20."
          }
        },
        "allowlistInputConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CompletionDataInputConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The source data for the latest import of the autocomplete allowlist phrases."
          }
        },
        "suggestionsInputConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CompletionDataInputConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The source data for the latest import of the autocomplete suggestion phrases."
          }
        },
        "denylistInputConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2CompletionDataInputConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The source data for the latest import of the autocomplete denylist phrases."
          }
        },
        "autoLearning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, the auto learning function is enabled. Auto learning uses user data to generate suggestions using ML techniques. Default value is false. Only after enabling auto learning can users use `cloud-retail` data in CompleteQueryRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog level autocomplete config for customers to customize autocomplete feature's settings."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ExperimentInfoServingConfigExperiment": {
      "type": "structure",
      "members": {
        "experimentServingConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the serving config `Experiment.VariantArm.serving_config_id` responsible for generating the search response. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
          }
        },
        "originalServingConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the original SearchRequest.placement in the search request prior to reassignment by experiment API. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for active serving config A/B tests."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RemoveFulfillmentPlacesRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
          }
        },
        "removeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used."
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
          }
        },
        "placeIds": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\", to be removed for this type. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Import related errors."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaExportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Export related errors."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaImportCompletionDataResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CreateModelMetadata": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a create operation."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaModelModelFeaturesConfig": {
      "type": "structure",
      "members": {
        "frequentlyBoughtTogetherConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig",
          "traits": {
            "smithy.api#documentation": "Additional configs for frequently-bought-together models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional model features config."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaAddFulfillmentPlacesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ResumeModelRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for resuming training of a model."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailLoggingImportErrorContext": {
      "type": "structure",
      "members": {
        "userEvent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed content which caused the error on importing a user event."
          }
        },
        "gcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage file path of the import source. Can be set for batch operation error."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed content which caused the error on importing a product."
          }
        },
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation resource name of the LRO."
          }
        },
        "lineNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line number of the content in file. Should be empty for permission or batch operation error."
          }
        },
        "catalogItem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed content which caused the error on importing a catalog item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error payload that is populated on LRO import APIs, including \"google.cloud.retail.v2.ProductService.ImportProducts\" and \"google.cloud.retail.v2.EventService.ImportUserEvents\"."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PauseModelRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for pausing training of a model."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchResponseFacetFacetValue": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of items that have this facet value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text value of a facet, such as \"Black\" for facet \"colorFamilies\"."
          }
        },
        "interval": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2Interval",
          "traits": {
            "smithy.api#documentation": "Interval value for a facet, such as [10, 20) for facet \"price\"."
          }
        },
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true."
          }
        },
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A facet value which contains value names and their count."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RuleBoostAction": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Strength of the condition boost, which must be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the item a big promotion. However, it does not necessarily mean that the boosted item will be the top result at all times, nor that other items will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant items. Setting to -1.0 gives the item a big demotion. However, results that are deeply relevant might still be shown. The item will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored."
          }
        },
        "productsFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter can have a max size of 5000 characters. An expression which specifies which products to apply an action to. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost products with product ID \"product_1\" or \"product_2\", and color \"Red\" or \"Blue\": *(id: ANY(\"product_1\", \"product_2\")) * *AND * *(colorFamilies: ANY(\"Red\", \"Blue\")) *"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A boost action to apply to results matching condition specified above."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaTuneModelMetadata": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a tune operation."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaAddLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestSpellCorrectionSpec": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestSpellCorrectionSpecModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode under which spell correction should take effect to replace the original search query. Default to Mode.AUTO."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for query spell correction."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestSpellCorrectionSpecModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "SUGGESTION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTION_ONLY"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PurgeUserEventsResponse": {
      "type": "structure",
      "members": {
        "purgedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of events purged as a result of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportProductsResponse": {
      "type": "structure",
      "members": {
        "errorsConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors in the request if set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntent": {
      "type": "structure",
      "members": {
        "intentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The intent_type must match one of the predefined intent types defined at https://cloud.google.com/retail/docs/reference/rpc/google.cloud.retail.v2alpha#querytype"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A example query."
          }
        },
        "operation": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntentOperationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The operation to perform for the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An inline force intent classification configuration."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2IntentClassificationConfigInlineForceIntentOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EXACT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT_MATCH"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2BigQueryOutputResult": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a BigQuery Dataset."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a BigQuery Table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BigQuery output result."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaGcsOutputResult": {
      "type": "structure",
      "members": {
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri of Gcs output"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Gcs output result."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PriceInfo": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895)."
          }
        },
        "priceExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the price stops to be effective. The price is used for search before price_expire_time. If this field is set, the original_price must be set and original_price is used after price_expire_time. Do not set if price is always effective because it will cause additional latency during search."
          }
        },
        "priceEffectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the price starts to be effective. This can be set as a future timestamp, and the price is only used for search after price_effective_time. If so, the original_price must be set and original_price is used before price_effective_time. Do not set if price is always effective because it will cause additional latency during search."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned. The Product.Type.VARIANT Products with the same Product.primary_product_id must share the same currency_code. Otherwise, a FAILED_PRECONDITION error is returned."
          }
        },
        "priceRange": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2PriceInfoPriceRange",
          "traits": {
            "smithy.api#documentation": "Output only. The price range of all the child Product.Type.VARIANT Products grouped together on the Product.Type.PRIMARY Product. Only populated for Product.Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests."
          }
        },
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.price](https://schema.org/price)."
          }
        },
        "originalPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Price of the product without any discount. If zero, by default set to be the price. If set, original_price should be greater than or equal to price, otherwise an INVALID_ARGUMENT error is thrown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price information of a Product."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ListServingConfigsResponse": {
      "type": "structure",
      "members": {
        "servingConfigs": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ServingConfigList",
          "traits": {
            "smithy.api#documentation": "All the ServingConfigs for a given catalog."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token, if not returned indicates the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListServingConfigs method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ServingConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2ServingConfig"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2CompletionDataInputConfig": {
      "type": "structure",
      "members": {
        "bigQuerySource": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2BigQuerySource",
          "traits": {
            "smithy.api#documentation": "Required. BigQuery input source. Add the IAM permission \"BigQuery Data Viewer\" for cloud-retail-customer-data-access@system.gserviceaccount.com before using this feature otherwise an error is thrown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The input config source for completion data."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ModelModelFeaturesConfig": {
      "type": "structure",
      "members": {
        "frequentlyBoughtTogetherConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig",
          "traits": {
            "smithy.api#documentation": "Additional configs for frequently-bought-together models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional model features config."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RejoinUserEventsResponse": {
      "type": "structure",
      "members": {
        "rejoinedUserEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of user events that were joined with latest product catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `RejoinUserEvents` method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaPurgeProductsMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that encountered errors while processing."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were deleted successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the PurgeProducts operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ProductInlineSource": {
      "type": "structure",
      "members": {
        "products": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2ProductList",
          "traits": {
            "smithy.api#documentation": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inline source for the input config for ImportProducts method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchResponseTileNavigationResult": {
      "type": "structure",
      "members": {
        "tiles": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2TileList",
          "traits": {
            "smithy.api#documentation": "The current tiles that are used for tile navigation, sorted by engagement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field specifies all related information for tile navigation that will be used in client side."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2TileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2Tile"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaAddFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestBoostSpec": {
      "type": "structure",
      "members": {
        "conditionBoostSpecs": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestBoostSpecConditionBoostSpecList",
          "traits": {
            "smithy.api#documentation": "Condition boost specifications. If a product matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20."
          }
        },
        "skipBoostSpecValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip boostspec validation. If this field is set to true, invalid BoostSpec.condition_boost_specs will be ignored and valid BoostSpec.condition_boost_specs will still be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boost specification to boost certain items."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RemoveFulfillmentPlacesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaEnrollSolutionResponse": {
      "type": "structure",
      "members": {
        "enrolledSolution": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2alphaEnrollSolutionResponseEnrolledSolutionEnum",
          "traits": {
            "smithy.api#documentation": "Retail API solution that the project has enrolled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for EnrollSolution method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaEnrollSolutionResponseEnrolledSolutionEnum": {
      "type": "enum",
      "members": {
        "SOLUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_UNSPECIFIED"
          }
        },
        "SOLUTION_TYPE_RECOMMENDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_RECOMMENDATION"
          }
        },
        "SOLUTION_TYPE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_SEARCH"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RuleTwowaySynonymsAction": {
      "type": "structure",
      "members": {
        "synonyms": {
          "target": "com.gcp.retail_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a set of terms that will be treated as synonyms of each other. Example: synonyms of \"sneakers\" and \"shoes\": * \"sneakers\" will use a synonym of \"shoes\". * \"shoes\" will use a synonym of \"sneakers\"."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestDynamicFacetSpec": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestDynamicFacetSpecModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of the DynamicFacet feature. Defaults to Mode.DISABLED if it's unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specifications of dynamically generated facets."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2SearchRequestDynamicFacetSpecModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ImportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Import related errors."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2betaBigQueryOutputResult": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a BigQuery Dataset."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a BigQuery Table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BigQuery output result."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2PurgeProductsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string to specify the products to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. \"*\" implies delete all items in a branch. The eligible fields for filtering are: * `availability`: Double quoted Product.availability string. * `create_time` : in ISO 8601 \"zulu\" format. Supported syntax: * Comparators (\">\", \"<\", \">=\", \"<=\", \"=\"). Examples: * create_time <= \"2015-02-13T17:05:46Z\" * availability = \"IN_STOCK\" * Conjunctions (\"AND\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\" * Disjunctions (\"OR\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"IN_STOCK\" * Can support nested queries. Examples: * (create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\") OR (create_time >= \"2015-02-14T13:03:32Z\" AND availability = \"IN_STOCK\") * Filter Limits: * Filter should not contain more than 6 conditions. * Max nesting depth should not exceed 2 levels. Examples queries: * Delete back order products created before a timestamp. create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"BACKORDER\""
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any products."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PurgeProducts method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2ConversationalSearchResponseRefinedSearch": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query to be used for search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The proposed refined search for intent-refinement/bundled shopping conversation. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2RemoveFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2alphaImportCompletionDataResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.retail_v2#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2UpdateGenerativeQuestionConfigRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates which fields in the provided GenerativeQuestionConfig to update. The following are NOT supported: * GenerativeQuestionConfig.frequency If not set or empty, all supported fields are updated."
          }
        },
        "generativeQuestionConfig": {
          "target": "com.gcp.retail_v2#GoogleCloudRetailV2GenerativeQuestionConfig",
          "traits": {
            "smithy.api#documentation": "Required. The question to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for UpdateGenerativeQuestionConfig method."
      }
    },
    "com.gcp.retail_v2#GoogleCloudRetailV2Tile": {
      "type": "structure",
      "members": {
        "representativeProductId": {
          "target": "smithy.api#String",
          "traits": {
[...]
