{
  "smithy": "2.0",
  "metadata": {
    "service": "run",
    "version": "v2",
    "title": "Cloud Run Admin API",
    "baseUrl": "https://run.googleapis.com/"
  },
  "shapes": {
    "com.gcp.run_v2#GoogleCloudRunV2VersionToPath": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative path of the secret in the container."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Volume": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        },
        "pushTiming": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified image."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker Registry 2.0 digest."
          }
        },
        "ociMediaType": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImageOciMediaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image built by the pipeline."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImageOciMediaTypeEnum": {
      "type": "enum",
      "members": {
        "OCI_MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCI_MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE_MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_MANIFEST"
          }
        },
        "IMAGE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_INDEX"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ContainerPort": {
      "type": "structure",
      "members": {
        "containerPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port number the container listens on. This must be a valid TCP port number, 0 < container_port < 65536."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerPort represents a network port in a single container."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2CancelExecutionRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the request should be validated without actually cancelling any resources."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for deleting an Execution."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2EmptyDirVolumeSource": {
      "type": "structure",
      "members": {
        "medium": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2EmptyDirVolumeSourceMediumEnum",
          "traits": {
            "smithy.api#documentation": "The medium on which the data is stored. Acceptable values today is only MEMORY or none. When none, the default will currently be backed by memory but could change over time. +optional"
          }
        },
        "sizeLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs)."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2EmptyDirVolumeSourceMediumEnum": {
      "type": "enum",
      "members": {
        "MEDIUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_UNSPECIFIED"
          }
        },
        "MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY"
          }
        },
        "DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ServiceScaling": {
      "type": "structure",
      "members": {
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. total max instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. total min instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          }
        },
        "scalingMode": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ServiceScalingScalingModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The scaling mode for the service."
          }
        },
        "manualInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. total instance count for the service in manual scaling mode. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scaling settings applied at the service level rather than at the revision level."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ServiceScalingScalingModeEnum": {
      "type": "enum",
      "members": {
        "SCALING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING_MODE_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2StartInstanceRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates that the request should be validated without actually stopping any resources."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for starting an Instance."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1RepoSource": {
      "type": "structure",
      "members": {
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Cloud Source Repository."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
          }
        },
        "branchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "invertRegex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
          }
        },
        "substitutions": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explicit commit SHA to build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a Google Cloud Source Repository."
      }
    },
    "com.gcp.run_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1GenericArtifactDependency": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1"
          }
        },
        "destPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Where the artifact files should be placed on the worker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a generic artifact as a build dependency."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ListExecutionsResponse": {
      "type": "structure",
      "members": {
        "executions": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ExecutionList",
          "traits": {
            "smithy.api#documentation": "The resulting list of Executions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token indicating there are more items than page_size. Use it in the next ListExecutions request to continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing a list of Executions."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2Execution"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Oci": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0"
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar"
          }
        },
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OCI image to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a 2nd-gen Google Cloud Build repository resource."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ExportImageRequest": {
      "type": "structure",
      "members": {
        "destinationRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The export destination url (the Artifact Registry repo)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for exporting Cloud Run image."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Results": {
      "type": "structure",
      "members": {
        "genericArtifacts": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGenericArtifactList",
          "traits": {
            "smithy.api#documentation": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedPythonPackageList",
          "traits": {
            "smithy.api#documentation": "Python artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "npmPackages": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedNpmPackageList",
          "traits": {
            "smithy.api#documentation": "Npm packages uploaded to Artifact Registry at the end of the build."
          }
        },
        "buildStepImages": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of build step digests, in the order corresponding to build step indices."
          }
        },
        "numArtifacts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
          }
        },
        "goModules": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGoModuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "images": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImageList",
          "traits": {
            "smithy.api#documentation": "Container images that were built as a part of the build."
          }
        },
        "buildStepOutputs": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted."
          }
        },
        "artifactManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
          }
        },
        "mavenArtifacts": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedMavenArtifactList",
          "traits": {
            "smithy.api#documentation": "Maven artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "buildStepResults": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStepResultsMap",
          "traits": {
            "smithy.api#documentation": "Results for build steps. step_id -> "
          }
        },
        "artifactTiming": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Time to push all non-container artifacts to Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts created by the build pipeline."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGenericArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGenericArtifact"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedPythonPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedPythonPackage"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedNpmPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedNpmPackage"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGoModuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedGoModule"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuiltImage"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedMavenArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStepResultsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStepResults"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1ArtifactObjects": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
          }
        },
        "timing": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing all artifact objects."
          }
        },
        "paths": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Path globs used to match files in the build's workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v2#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1GitSourceDependency": {
      "type": "structure",
      "members": {
        "destPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Where should the files be placed on the worker."
          }
        },
        "repository": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1GitSourceRepository",
          "traits": {
            "smithy.api#documentation": "Required. The kind of repo (url or dev connect)."
          }
        },
        "depth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision that we will fetch the repo at."
          }
        },
        "recurseSubmodules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if submodules should be fetched too (default false)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a git repository as a build dependency."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1GenericArtifact": {
      "type": "structure",
      "members": {
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v2#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.run_v2#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2Job": {
      "type": "structure",
      "members": {
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary identifier for the API client."
          }
        },
        "latestCreatedExecution": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ExecutionReference",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the last created execution."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For a deleted resource, the time after which it will be permamently deleted."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "lastModifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the last authenticated modifier."
          }
        },
        "launchStage": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2JobLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output."
          }
        },
        "clientVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary version identifier for the API client."
          }
        },
        "conditions": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "template": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ExecutionTemplate",
          "traits": {
            "smithy.api#documentation": "Required. The template used to create executions for this Job."
          }
        },
        "annotations": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the authenticated creator."
          }
        },
        "binaryAuthorization": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2BinaryAuthorization",
          "traits": {
            "smithy.api#documentation": "Settings for the Binary Authorization feature."
          }
        },
        "labels": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deletion time. It is only populated as a response to a Delete request."
          }
        },
        "executionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of executions created for this job."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "terminalCondition": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2Condition",
          "traits": {
            "smithy.api#documentation": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "startExecutionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique string used as a suffix creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A number that monotonically increases every time the user modifies the desired state."
          }
        },
        "runExecutionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job represents the configuration of a single job, which references a container image that is run to completion."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2JobLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2Condition"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2NodeSelector": {
      "type": "structure",
      "members": {
        "accelerator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. GPU accelerator type to attach to an instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hardware constraints configuration."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Warning": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of the warning generated."
          }
        },
        "priority": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1WarningPriorityEnum",
          "traits": {
            "smithy.api#documentation": "The priority for this warning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A non-fatal problem encountered during the execution of the build."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1WarningPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2HTTPHeader": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The header field value"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The header field name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTPHeader describes a custom header to be used in HTTP probes"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStep": {
      "type": "structure",
      "members": {
        "automapSubstitutions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
          }
        },
        "allowExitCodes": {
          "target": "com.gcp.run_v2#IntegerList",
          "traits": {
            "smithy.api#documentation": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
          }
        },
        "args": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments."
          }
        },
        "status": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStepStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
          }
        },
        "results": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StepResultList",
          "traits": {
            "smithy.api#documentation": "Declaration of results for this build step."
          }
        },
        "waitFor": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
          }
        },
        "volumes": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1VolumeList",
          "traits": {
            "smithy.api#documentation": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
          }
        },
        "env": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
          }
        },
        "allowFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Return code from running the step."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
          }
        },
        "secretEnv": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
          }
        },
        "timing": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for executing this build step."
          }
        },
        "pullTiming": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pulling this build step's builder image only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A step in the build pipeline."
      }
    },
    "com.gcp.run_v2#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1BuildStepStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StepResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StepResult"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Volume"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2BuildInfo": {
      "type": "structure",
      "members": {
        "functionTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Entry point of the function when the image is a Cloud Run function."
          }
        },
        "sourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Source code location of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build information of the image."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2WorkerPool": {
      "type": "structure",
      "members": {
        "template": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2WorkerPoolRevisionTemplate",
          "traits": {
            "smithy.api#documentation": "Required. The template used to create revisions for this WorkerPool."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the authenticated creator."
          }
        },
        "annotations": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 WorkerPool. This field follows Kubernetes annotations' namespacing, limits, and rules."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deletion time. It is only populated as a response to a Delete request."
          }
        },
        "labels": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 WorkerPool."
          }
        },
        "binaryAuthorization": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2BinaryAuthorization",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for the Binary Authorization feature."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of the WorkerPool. This field currently has a 512-character limit."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "instanceSplitStatuses": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed status information for corresponding instance splits. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time."
          }
        },
        "terminalCondition": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2Condition",
          "traits": {
            "smithy.api#documentation": "Output only. The Condition of this WorkerPool, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "customAudiences": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Deprecated: Not supported, and ignored by Cloud Run."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Returns true if the WorkerPool is currently being acted upon by the system to bring it into the desired state. When a new WorkerPool is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the WorkerPool to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revison`, `instance_split_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the WorkerPool, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `instance_splits` and `instance_split_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `instance_split_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created WorkerPools. Additional information on the failure can be found in `terminal_condition` and `conditions`."
          }
        },
        "instanceSplits": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies how to distribute instances over a collection of Revisions belonging to the WorkerPool. If instance split is empty or not provided, defaults to 100% instances assigned to the latest `Ready` Revision."
          }
        },
        "scaling": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2WorkerPoolScaling",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies worker-pool-level scaling settings"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this WorkerPool. In CreateWorkerPoolRequest, this field is ignored, and instead composed from CreateWorkerPoolRequest.parent and CreateWorkerPoolRequest.worker_id. Format: `projects/{project}/locations/{location}/workerPools/{worker_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary identifier for the API client."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For a deleted resource, the time after which it will be permamently deleted."
          }
        },
        "lastModifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the last authenticated modifier."
          }
        },
        "latestReadyRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the latest revision that is serving workloads. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "launchStage": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2WorkerPoolLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output."
          }
        },
        "conditions": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the WorkerPool does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "clientVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary version identifier for the API client."
          }
        },
        "threatDetectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether Cloud Run Threat Detection monitoring is enabled for the parent project of this worker pool."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generation of this WorkerPool currently serving workloads. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`."
          }
        },
        "latestCreatedRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkerPool acts as a top-level container that manages a set of configurations and revision templates which implement a pull-based workload. WorkerPool exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatus"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2InstanceSplit"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2WorkerPoolLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2TaskTemplate": {
      "type": "structure",
      "members": {
        "vpcAccess": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2VpcAccess",
          "traits": {
            "smithy.api#documentation": "Optional. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
          }
        },
        "gpuZonalRedundancyDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if GPU zonal redundancy is disabled on this task template."
          }
        },
        "executionEnvironment": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2TaskTemplateExecutionEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The execution environment being used to host this Task."
          }
        },
        "containers": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ContainerList",
          "traits": {
            "smithy.api#documentation": "Holds the single container that defines the unit of execution for this task."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
          }
        },
        "volumes": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2VolumeList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Volumes to make available to containers."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds."
          }
        },
        "encryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
          }
        },
        "nodeSelector": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2NodeSelector",
          "traits": {
            "smithy.api#documentation": "Optional. The node selector for the task template."
          }
        },
        "maxRetries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of retries allowed per Task, before marking this Task failed. Defaults to 3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TaskTemplate describes the data a task should have when created from a template."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2TaskTemplateExecutionEnvironmentEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_UNSPECIFIED"
          }
        },
        "EXECUTION_ENVIRONMENT_GEN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_GEN1"
          }
        },
        "EXECUTION_ENVIRONMENT_GEN2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_GEN2"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2Container"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2Volume"
      }
    },
    "com.gcp.run_v2#Proto2BridgeMessageSet": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ContainerStatus": {
      "type": "structure",
      "members": {
        "imageDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ImageDigest holds the resolved digest for the image specified and resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the container, if specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerStatus holds the information of container name and image digest value."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2VolumeMount": {
      "type": "structure",
      "members": {
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). This field is currently rejected in Secret volume mounts."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This must match the Name of a Volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VolumeMount describes a mounting of a Volume within a container."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2MultiRegionSettings": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of regions to deploy to, including primary region."
          }
        },
        "multiRegionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. System-generated unique id for the multi-region Service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for multi-region deployment."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2RevisionScaling": {
      "type": "structure",
      "members": {
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of serving instances that this resource should have. When unspecified, the field is set to the server default value of 100. For more information see https://cloud.google.com/run/docs/configuring/max-instances"
          }
        },
        "cpuUtilization": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Determines a threshold for CPU utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable CPU utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum number of serving instances that this resource should have."
          }
        },
        "concurrencyUtilization": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Determines a threshold for concurrency utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable concurrency utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for revision-level scaling settings."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2Task": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last-modified time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique name of this Task."
          }
        },
        "retried": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of times this Task was retried. Tasks are retried when they fail up to the maxRetries limit."
          }
        },
        "scheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents time when the task was scheduled to run by the system. It is not guaranteed to be set in happens-before order across separate operations."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations."
          }
        },
        "completionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents time when the Task was completed. It is not guaranteed to be set in happens-before order across separate operations."
          }
        },
        "volumes": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2VolumeList",
          "traits": {
            "smithy.api#documentation": "A list of Volumes to make available to containers."
          }
        },
        "logUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI where logs for this execution can be found in Cloud Console."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A number that monotonically increases every time the user modifies the desired state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents time when the task was created by the system. It is not guaranteed to be set in happens-before order across separate operations."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server assigned unique identifier for the Task. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
          }
        },
        "encryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
          }
        },
        "labels": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels"
          }
        },
        "nodeSelector": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2NodeSelector",
          "traits": {
            "smithy.api#documentation": "Output only. The node selector for the task."
          }
        },
        "annotations": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Index of the Task, unique per execution, and beginning at 0."
          }
        },
        "vpcAccess": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2VpcAccess",
          "traits": {
            "smithy.api#documentation": "Output only. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
          }
        },
        "executionEnvironment": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2TaskExecutionEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "The execution environment being used to host this Task."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The generation of this Task. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
          }
        },
        "conditions": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. The Condition of this Task, containing its readiness status, and detailed error information in case it did not reach the desired state."
          }
        },
        "gpuZonalRedundancyDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. True if GPU zonal redundancy is disabled on this task."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request."
          }
        },
        "execution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the parent Execution."
          }
        },
        "maxRetries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of retries allowed per Task, before marking this Task failed."
          }
        },
        "lastAttemptResult": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2TaskAttemptResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of the last attempt of this Task."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          }
        },
        "containers": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ContainerList",
          "traits": {
            "smithy.api#documentation": "Holds the single container that defines the unit of execution for this task."
          }
        },
        "job": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the parent Job."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task represents a single run of a container to completion."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2TaskExecutionEnvironmentEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_UNSPECIFIED"
          }
        },
        "EXECUTION_ENVIRONMENT_GEN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_GEN1"
          }
        },
        "EXECUTION_ENVIRONMENT_GEN2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_ENVIRONMENT_GEN2"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatusTypeEnum",
          "traits": {
            "smithy.api#documentation": "The allocation type for this instance split."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision to which this instance split is assigned."
          }
        },
        "percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies percent of the instance split to this Revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the observed state of a single `InstanceSplit` entry."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2InstanceSplitStatusTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED"
          }
        },
        "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST"
          }
        },
        "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2ContainerOverride": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the container specified as a DNS_LABEL."
          }
        },
        "args": {
          "target": "com.gcp.run_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Arguments to the entrypoint. Will replace existing args for override."
          }
        },
        "env": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2EnvVarList",
          "traits": {
            "smithy.api#documentation": "List of environment variables to set in the container. Will be merged with existing env for override."
          }
        },
        "clearArgs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if the intention is to clear out existing args list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-container override specification."
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2EnvVarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleCloudRunV2EnvVar"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2TCPSocketAction": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TCPSocketAction describes an action based on opening a socket"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1FileHashes": {
      "type": "structure",
      "members": {
        "fileHash": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1HashList",
          "traits": {
            "smithy.api#documentation": "Collection of file hashes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1HashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1Hash"
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1MavenArtifact": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
          }
        },
        "deployFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `version` value used when uploading the artifact to Artifact Registry."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `groupId` value used when uploading the artifact to Artifact Registry."
          }
        },
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StorageSource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "sourceFetcher": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify the tool to fetch the source file for the build."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Cloud Storage."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum": {
      "type": "enum",
      "members": {
        "SOURCE_FETCHER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_FETCHER_UNSPECIFIED"
          }
        },
        "GSUTIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUTIL"
          }
        },
        "GCS_FETCHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_FETCHER"
          }
        }
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2EnvVarSource": {
      "type": "structure",
      "members": {
        "secretKeyRef": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2SecretKeySelector",
          "traits": {
            "smithy.api#documentation": "Selects a secret and a specific version from Cloud Secret Manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnvVarSource represents a source for the value of an EnvVar."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "type": "structure",
      "members": {
        "pushTiming": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the npm package."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded npm package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
      }
    },
    "com.gcp.run_v2#GoogleDevtoolsCloudbuildV1NpmPackage": {
      "type": "structure",
      "members": {
        "packagePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Npm package to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v2#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.run_v2#GoogleCloudRunV2RevisionTemplate": {
      "type": "structure",
      "members": {
        "clientVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Arbitrary version identifier for the API client."
          }
        },
        "gpuZonalRedundancyDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if GPU zonal redundancy is disabled on this revision."
          }
        },
        "sessionAffinity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enable session affinity."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Max allowed time for an instance to respond to a request."
          }
        },
        "volumes": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2VolumeList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Volumes to make available to containers."
          }
        },
        "maxInstanceRequestConcurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Sets the maximum number of requests that each serving instance can receive. If not specified or 0, concurrency defaults to 80 when requested `CPU >= 1` and defaults to 1 when requested `CPU < 1`."
          }
        },
        "encryptionKeyRevocationAction": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2RevisionTemplateEncryptionKeyRevocationActionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The action to take if the encryption key is revoked."
          }
        },
        "scaling": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2RevisionScaling",
          "traits": {
            "smithy.api#documentation": "Optional. Scaling settings for this Revision."
          }
        },
        "serviceMesh": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ServiceMesh",
          "traits": {
            "smithy.api#documentation": "Optional. Enables service mesh connectivity."
          }
        },
        "annotations": {
          "target": "com.gcp.run_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 RevisionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules."
          }
        },
        "containers": {
          "target": "com.gcp.run_v2#GoogleCloudRunV2ContainerList",
          "traits": {
            "smithy.api#documentation": "Holds the list which define the units of execution for this Revision."
          }
        },
        "executionEnvironment": {
[...]
