{
  "smithy": "2.0",
  "metadata": {
    "service": "saasservicemgmt",
    "version": "v1",
    "title": "App Lifecycle Manager API",
    "baseUrl": "https://saasservicemgmt.googleapis.com/"
  },
  "shapes": {
    "com.gcp.saasservicemgmt_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.saasservicemgmt_v1#Aggregate": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Number of records in the group."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Group by which to aggregate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state."
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutStats": {
      "type": "structure",
      "members": {
        "operationsByState": {
          "target": "com.gcp.saasservicemgmt_v1#AggregateList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\""
          }
        },
        "estimatedTotalUnitCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RolloutStats contains information about the progress of a rollout."
      }
    },
    "com.gcp.saasservicemgmt_v1#AggregateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Aggregate"
      }
    },
    "com.gcp.saasservicemgmt_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.saasservicemgmt_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.saasservicemgmt_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.saasservicemgmt_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#DocumentMap"
      }
    },
    "com.gcp.saasservicemgmt_v1#FromMapping": {
      "type": "structure",
      "members": {
        "outputVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the outputVariable on the dependency"
          }
        },
        "dependency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Alias of the dependency that the outputVariable will pass its value to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output variables whose values will be passed on to dependencies"
      }
    },
    "com.gcp.saasservicemgmt_v1#ListUnitOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "unitOperations": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationList",
          "traits": {
            "smithy.api#documentation": "The resulting unit operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListUnitOperations method."
      }
    },
    "com.gcp.saasservicemgmt_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitOperation"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationCondition": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SCHEDULED"
          }
        },
        "TYPE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RUNNING"
          }
        },
        "TYPE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SUCCEEDED"
          }
        },
        "TYPE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CANCELLED"
          }
        },
        "TYPE_APP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_CREATED"
          }
        },
        "TYPE_APP_COMPONENTS_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_COMPONENTS_REGISTERED"
          }
        },
        "TYPE_WORKLOAD_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_WORKLOAD_SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#Release": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "inputVariableDefaults": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of input variables to default values. Maximum 100"
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created)."
          }
        },
        "blueprint": {
          "target": "com.gcp.saasservicemgmt_v1#Blueprint",
          "traits": {
            "smithy.api#documentation": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit."
          }
        },
        "releaseRequirements": {
          "target": "com.gcp.saasservicemgmt_v1#ReleaseRequirements",
          "traits": {
            "smithy.api#documentation": "Optional. Set of requirements to be fulfilled on the Unit when using this Release."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "outputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitVariable"
      }
    },
    "com.gcp.saasservicemgmt_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutControl": {
      "type": "structure",
      "members": {
        "runParams": {
          "target": "com.gcp.saasservicemgmt_v1#RunRolloutActionParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed."
          }
        },
        "action": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutControlActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it."
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutControlActionEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_ACTION_UNSPECIFIED"
          }
        },
        "ROLLOUT_ACTION_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_ACTION_RUN"
          }
        },
        "ROLLOUT_ACTION_PAUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_ACTION_PAUSE"
          }
        },
        "ROLLOUT_ACTION_CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_ACTION_CANCEL"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#Dependency": {
      "type": "structure",
      "members": {
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unit kind of the dependency."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An alias for the dependency. Used for input variable mapping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dependency represent a single dependency with another unit kind by alias."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitUpdatePacing": {
      "type": "structure",
      "members": {
        "maxConcurrentOperationsPercent": {
          "target": "com.gcp.saasservicemgmt_v1#Decimal",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
          }
        },
        "maxConcurrentOperationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region."
      }
    },
    "com.gcp.saasservicemgmt_v1#Blueprint": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc."
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version metadata if present on the blueprint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev)."
      }
    },
    "com.gcp.saasservicemgmt_v1#RunRolloutActionParams": {
      "type": "structure",
      "members": {
        "retryFailedOperations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitKind": {
      "type": "structure",
      "members": {
        "boundaryType": {
          "target": "com.gcp.saasservicemgmt_v1#UnitKindBoundaryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\""
          }
        },
        "inputVariableMappings": {
          "target": "com.gcp.saasservicemgmt_v1#VariableMappingList",
          "traits": {
            "smithy.api#documentation": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100."
          }
        },
        "outputVariableMappings": {
          "target": "com.gcp.saasservicemgmt_v1#VariableMappingList",
          "traits": {
            "smithy.api#documentation": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "dependencies": {
          "target": "com.gcp.saasservicemgmt_v1#DependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10."
          }
        },
        "saas": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "defaultRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
          }
        },
        "defaultFlagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitKindBoundaryTypeEnum": {
      "type": "enum",
      "members": {
        "BOUNDARY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_UNSPECIFIED"
          }
        },
        "BOUNDARY_TYPE_TENANT_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_TENANT_PROJECT"
          }
        },
        "BOUNDARY_TYPE_MANAGED_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_MANAGED_PROJECT"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#VariableMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#VariableMapping"
      }
    },
    "com.gcp.saasservicemgmt_v1#DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Dependency"
      }
    },
    "com.gcp.saasservicemgmt_v1#Provision": {
      "type": "structure",
      "members": {
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the Release object to use for the Unit. (optional)."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of input variables. Maximum 100. (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned."
      }
    },
    "com.gcp.saasservicemgmt_v1#Tenant": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\""
          }
        },
        "saas": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model."
          }
        },
        "consumerResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API)."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\""
      }
    },
    "com.gcp.saasservicemgmt_v1#ErrorBudget": {
      "type": "structure",
      "members": {
        "allowedPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout."
          }
        },
        "allowedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of failed units allowed in a location without pausing the rollout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused."
      }
    },
    "com.gcp.saasservicemgmt_v1#ListUnitKindsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages."
          }
        },
        "unitKinds": {
          "target": "com.gcp.saasservicemgmt_v1#UnitKindList",
          "traits": {
            "smithy.api#documentation": "The resulting unit kinds."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListUnitKinds method."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitKindList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitKind"
      }
    },
    "com.gcp.saasservicemgmt_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information that the service is available in."
      }
    },
    "com.gcp.saasservicemgmt_v1#Deprovision": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutKind": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "rolloutOrchestrationStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
          }
        },
        "updateUnitKindStrategy": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutKindUpdateUnitKindStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "errorBudget": {
          "target": "com.gcp.saasservicemgmt_v1#ErrorBudget",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "unitFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "unitUpdatePacing": {
          "target": "com.gcp.saasservicemgmt_v1#UnitUpdatePacing",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies."
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutKindUpdateUnitKindStrategyEnum": {
      "type": "enum",
      "members": {
        "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED"
          }
        },
        "UPDATE_UNIT_KIND_STRATEGY_ON_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_ON_START"
          }
        },
        "UPDATE_UNIT_KIND_STRATEGY_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#Schedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A time specification to schedule the maintenance."
      }
    },
    "com.gcp.saasservicemgmt_v1#ListRolloutsResponse": {
      "type": "structure",
      "members": {
        "rollouts": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutList",
          "traits": {
            "smithy.api#documentation": "The resulting rollouts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListRollouts method."
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Rollout"
      }
    },
    "com.gcp.saasservicemgmt_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.saasservicemgmt_v1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.saasservicemgmt_v1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.saasservicemgmt_v1#FlagUpdate": {
      "type": "structure",
      "members": {
        "flagRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Flag release being applied by UnitOperation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FlagUpdate is a UnitOperation that pushes new flag values to Units."
      }
    },
    "com.gcp.saasservicemgmt_v1#Unit": {
      "type": "structure",
      "members": {
        "managementMode": {
          "target": "com.gcp.saasservicemgmt_v1#UnitManagementModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created."
          }
        },
        "systemManagedState": {
          "target": "com.gcp.saasservicemgmt_v1#UnitSystemManagedStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Indicates the system managed state of the unit."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1#UnitConditionList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "scheduledOperations": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of scheduled UnitOperations for this unit."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Indicates the current input variables deployed by the unit"
          }
        },
        "systemCleanupAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. If set, indicates the time when the system will start removing the unit."
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "dependents": {
          "target": "com.gcp.saasservicemgmt_v1#UnitDependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000."
          }
        },
        "dependencies": {
          "target": "com.gcp.saasservicemgmt_v1#UnitDependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Set of dependencies for this unit. Maximum 10."
          }
        },
        "ongoingOperations": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit."
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1#UnitStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
          }
        },
        "outputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "flagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Flag revisions used by this Unit."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The current Release object for this Unit."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "maintenance": {
          "target": "com.gcp.saasservicemgmt_v1#MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "pendingOperations": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitManagementModeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_UNSPECIFIED"
          }
        },
        "MANAGEMENT_MODE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_USER"
          }
        },
        "MANAGEMENT_MODE_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_SYSTEM"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitSystemManagedStateEnum": {
      "type": "enum",
      "members": {
        "SYSTEM_MANAGED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_UNSPECIFIED"
          }
        },
        "SYSTEM_MANAGED_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_ACTIVE"
          }
        },
        "SYSTEM_MANAGED_STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_INACTIVE"
          }
        },
        "SYSTEM_MANAGED_STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitDependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitDependency"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitStateEnum": {
      "type": "enum",
      "members": {
        "UNIT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_UNSPECIFIED"
          }
        },
        "UNIT_STATE_NOT_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_NOT_PROVISIONED"
          }
        },
        "UNIT_STATE_PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_PROVISIONING"
          }
        },
        "UNIT_STATE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_UPDATING"
          }
        },
        "UNIT_STATE_DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_DEPROVISIONING"
          }
        },
        "UNIT_STATE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_READY"
          }
        },
        "UNIT_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#ListTenantsResponse": {
      "type": "structure",
      "members": {
        "tenants": {
          "target": "com.gcp.saasservicemgmt_v1#TenantList",
          "traits": {
            "smithy.api#documentation": "The resulting tenants."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListTenants method."
      }
    },
    "com.gcp.saasservicemgmt_v1#TenantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Tenant"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitVariable": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String encoded value for the variable."
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the variable from actuation configs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitVariable describes a parameter for a Unit."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitVariableTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#ToMapping": {
      "type": "structure",
      "members": {
        "inputVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the inputVariable on the dependency"
          }
        },
        "ignoreForLookup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not"
          }
        },
        "dependency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Alias of the dependency that the inputVariable will pass its value to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input variables whose values will be passed on to dependencies"
      }
    },
    "com.gcp.saasservicemgmt_v1#ListReleasesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages."
          }
        },
        "releases": {
          "target": "com.gcp.saasservicemgmt_v1#ReleaseList",
          "traits": {
            "smithy.api#documentation": "The resulting releases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListReleases method."
      }
    },
    "com.gcp.saasservicemgmt_v1#ReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Release"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitDependency": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to the Unit object."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Alias for the name of the dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of dependencies for this unit. Maximum 10."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperation": {
      "type": "structure",
      "members": {
        "deprovision": {
          "target": "com.gcp.saasservicemgmt_v1#Deprovision",
          "traits": {
            "smithy.api#documentation": "Optional. Deprovision operation."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "provision": {
          "target": "com.gcp.saasservicemgmt_v1#Provision",
          "traits": {
            "smithy.api#documentation": "Optional. Provision operation."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Unit a given UnitOperation will act upon."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "parentUnitOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)"
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation)."
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. UnitOperationState describes the current state of the unit operation."
          }
        },
        "flagUpdate": {
          "target": "com.gcp.saasservicemgmt_v1#FlagUpdate",
          "traits": {
            "smithy.api#documentation": "Optional. Flag update operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "engineState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage."
          }
        },
        "upgrade": {
          "target": "com.gcp.saasservicemgmt_v1#Upgrade",
          "traits": {
            "smithy.api#documentation": "Optional. Upgrade operation."
          }
        },
        "schedule": {
          "target": "com.gcp.saasservicemgmt_v1#Schedule",
          "traits": {
            "smithy.api#documentation": "Optional. When to schedule this operation."
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationConditionList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "rollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
          }
        },
        "errorCategory": {
          "target": "com.gcp.saasservicemgmt_v1#UnitOperationErrorCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. UnitOperationErrorCategory describe the error category."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\""
          }
        },
        "cancel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationStateEnum": {
      "type": "enum",
      "members": {
        "UNIT_OPERATION_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_UNKNOWN"
          }
        },
        "UNIT_OPERATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_PENDING"
          }
        },
        "UNIT_OPERATION_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_SCHEDULED"
          }
        },
        "UNIT_OPERATION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_RUNNING"
          }
        },
        "UNIT_OPERATION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_SUCCEEDED"
          }
        },
        "UNIT_OPERATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_FAILED"
          }
        },
        "UNIT_OPERATION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_CANCELLED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#UnitOperationCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitOperationErrorCategoryEnum": {
      "type": "enum",
      "members": {
        "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL"
          }
        },
        "RETRIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRIABLE"
          }
        },
        "IGNORABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORABLE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#Saas": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.saasservicemgmt_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\""
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1#SaasStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "error": {
          "target": "com.gcp.saasservicemgmt_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states."
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1#SaasConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Saas is a representation of a SaaS service managed by the Producer."
      }
    },
    "com.gcp.saasservicemgmt_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Location"
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasStateEnum": {
      "type": "enum",
      "members": {
        "STATE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_TYPE_UNSPECIFIED"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_RUNNING"
          }
        },
        "STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#SaasCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1#VariableMapping": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.gcp.saasservicemgmt_v1#FromMapping",
          "traits": {
            "smithy.api#documentation": "Optional. Output variables which will get their values from dependencies"
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. name of the variable"
          }
        },
        "to": {
          "target": "com.gcp.saasservicemgmt_v1#ToMapping",
          "traits": {
            "smithy.api#documentation": "Optional. Input variables whose values will be passed on to dependencies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mapping of input variables to their respective output variable for depedenencies"
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasCondition": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        },
        "status": {
          "target": "com.gcp.saasservicemgmt_v1#SaasConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1#SaasConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SaasCondition describes the status of a Saas."
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_READY"
          }
        },
        "TYPE_SYNCHRONIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SYNCHRONIZED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#Rollout": {
      "type": "structure",
      "members": {
        "rootRollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
          }
        },
        "unitFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human readable message indicating details about the last state transition."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified."
          }
        },
        "control": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutControl",
          "traits": {
            "smithy.api#documentation": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
          }
        },
        "rolloutKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to."
          }
        },
        "rolloutOrchestrationStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations."
          }
        },
        "effectiveUnitFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the rollout."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation)."
          }
        },
        "flagRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet."
          }
        },
        "stateTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time when the rollout transitioned into its current state."
          }
        },
        "parentRollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
          }
        },
        "stats": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutStats",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Details about the progress of the rollout."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single rollout execution and its results"
      }
    },
    "com.gcp.saasservicemgmt_v1#RolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "ROLLOUT_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_RUNNING"
          }
        },
        "ROLLOUT_STATE_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_PAUSED"
          }
        },
        "ROLLOUT_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_SUCCEEDED"
          }
        },
        "ROLLOUT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_FAILED"
          }
        },
        "ROLLOUT_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_CANCELLED"
          }
        },
        "ROLLOUT_STATE_WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_WAITING"
          }
        },
        "ROLLOUT_STATE_CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_CANCELLING"
          }
        },
        "ROLLOUT_STATE_RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_RESUMING"
          }
        },
        "ROLLOUT_STATE_PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_PAUSING"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#ReleaseRequirements": {
      "type": "structure",
      "members": {
        "upgradeableFromReleases": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of requirements to be fulfilled on the Unit when using this Release."
      }
    },
    "com.gcp.saasservicemgmt_v1#Upgrade": {
      "type": "structure",
      "members": {
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the Release object to use for the Unit. (optional)."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of input variables. Maximum 100. (optional)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
      }
    },
    "com.gcp.saasservicemgmt_v1#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.saasservicemgmt_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.saasservicemgmt_v1#ListSaasResponse": {
      "type": "structure",
      "members": {
        "saas": {
          "target": "com.gcp.saasservicemgmt_v1#SaasList",
          "traits": {
            "smithy.api#documentation": "The resulting saas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListSaas method."
      }
    },
    "com.gcp.saasservicemgmt_v1#SaasList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1#Saas"
      }
    },
    "com.gcp.saasservicemgmt_v1#Decimal": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitCondition": {
      "type": "structure",
      "members": {
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        },
        "status": {
          "target": "com.gcp.saasservicemgmt_v1#UnitConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1#UnitConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state."
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#UnitConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_READY"
          }
        },
        "TYPE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UPDATING"
          }
        },
        "TYPE_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROVISIONED"
          }
        },
        "TYPE_OPERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_OPERATION_ERROR"
          }
        },
        "TYPE_FLAGS_CONFIG_INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLAGS_CONFIG_INITIALIZED"
          }
        },
        "TYPE_APP_CREATED_OR_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_CREATED_OR_ALREADY_EXISTS"
          }
        },
        "TYPE_APP_COMPONENTS_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_COMPONENTS_REGISTERED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1#ListRolloutKindsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "rolloutKinds": {
          "target": "com.gcp.saasservicemgmt_v1#RolloutKindList",
          "traits": {
            "smithy.api#documentation": "The resulting rollout kinds."
          }
        }
      },
      "traits": {
[...]
