{
  "smithy": "2.0",
  "metadata": {
    "service": "searchads360",
    "version": "v23",
    "title": "Search Ads 360 Reporting API",
    "baseUrl": "https://searchads360.googleapis.com/"
  },
  "shapes": {
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEntry": {
      "type": "structure",
      "members": {
        "constraints": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicConstraintList",
          "traits": {
            "smithy.api#documentation": "Indicates how serving of this resource may be affected (for example, not serving in a country)."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy topic this finding refers to. For example, \"ALCOHOL\", \"TRADEMARKS_IN_AD_TEXT\", or \"DESTINATION_NOT_WORKING\". The set of possible policy topics is not fixed for a particular API version and may change at any time."
          }
        },
        "type": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Describes the negative or positive effect this policy will have on serving."
          }
        },
        "evidences": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEvidenceList",
          "traits": {
            "smithy.api#documentation": "Additional information that explains policy finding (for example, the brand name for a trademark finding)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy finding attached to a resource (for example, alcohol policy associated with a site that sells alcohol). Each PolicyTopicEntry has a topic that indicates the specific ads policy the entry is about and a type to indicate the effect that the entry will have on serving. It may optionally have one or more evidences that indicate the reason for the finding. It may also optionally have one or more constraints that provide details about how serving may be restricted."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicConstraintList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicConstraint"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEntryTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PROHIBITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROHIBITED"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED"
          }
        },
        "FULLY_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULLY_LIMITED"
          }
        },
        "DESCRIPTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTIVE"
          }
        },
        "BROADENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROADENING"
          }
        },
        "AREA_OF_INTEREST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AREA_OF_INTEREST_ONLY"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PolicyTopicEvidence"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SiteSeed": {
      "type": "structure",
      "members": {
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of the site. If the customer requesting the ideas doesn't own the site provided only public information is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Site Seed"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__HotelCalloutAsset": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The text of the hotel callout asset. The length of this string should be between 1 and 25, inclusive."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The language of the hotel callout. Represented as BCP 47 language tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An asset representing a hotel callout."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_LocalCampaignSetting": {
      "type": "structure",
      "members": {
        "locationSourceType": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_LocalCampaignSettingLocationSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The location source type for this local campaign."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Campaign setting for local campaigns."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_LocalCampaignSettingLocationSourceTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOOGLE_MY_BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MY_BUSINESS"
          }
        },
        "AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATE"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__CustomerUserAccess": {
      "type": "structure",
      "members": {
        "inviterUserEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the inviter user. Read only field"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User id of the user with the customer access. Read only field"
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the user. Read only field"
          }
        },
        "accessRole": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__CustomerUserAccessAccessRoleEnum",
          "traits": {
            "smithy.api#documentation": "Access role of the user."
          }
        },
        "accessCreationDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The customer user access creation time. Read only field The format is \"YYYY-MM-DD HH:MM:SS\". Examples: \"2018-03-05 09:15:00\" or \"2018-02-01 14:34:30\""
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Name of the resource. Resource names have the form: `customers/{customer_id}/customerUserAccesses/{user_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the permission of a single user onto a single customer."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__CustomerUserAccessAccessRoleEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "EMAIL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ONLY"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ConversionRateSuggestion": {
      "type": "structure",
      "members": {
        "conversionRateModel": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ConversionRateSuggestionConversionRateModelEnum",
          "traits": {
            "smithy.api#documentation": "Model type used to calculate the suggested conversion rate."
          }
        },
        "plannableProductCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code associated with the plannable product (for example: DEMAND_GEN). To list all plannable product codes, use ReachPlanService.ListPlannableProducts."
          }
        },
        "surfaceTargeting": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SurfaceTargeting",
          "traits": {
            "smithy.api#documentation": "The surfaces associated with the plannable product. If not present, the conversion rate is considered surface agnostic for this product."
          }
        },
        "conversionRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The suggested conversion rate. The value is between 0 and 1 (exclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A conversion rate suggestion."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ConversionRateSuggestionConversionRateModelEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "CUSTOMER_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_HISTORY"
          }
        },
        "INVENTORY_AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_AGGRESSIVE"
          }
        },
        "INVENTORY_CONSERVATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_CONSERVATIVE"
          }
        },
        "INVENTORY_MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_MEDIAN"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Recommendation_KeywordRecommendation": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__KeywordInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The recommended keyword."
          }
        },
        "searchTerms": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_RecommendationKeywordRecommendation_SearchTermList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of search terms this keyword matches. The same search term may be repeated for multiple keywords."
          }
        },
        "recommendedCpcBidMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The recommended CPC (cost-per-click) bid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The keyword recommendation."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_RecommendationKeywordRecommendation_SearchTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_RecommendationKeywordRecommendation_SearchTerm"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__KeywordAndUrlSeed": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to crawl in order to generate keyword ideas."
          }
        },
        "keywords": {
          "target": "com.gcp.searchads360_v23#StringList",
          "traits": {
            "smithy.api#documentation": "Requires at least one keyword and no more than 20 keywords."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Keyword And Url Seed"
      }
    },
    "com.gcp.searchads360_v23#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest": {
      "type": "structure",
      "members": {
        "insightsApplicationInfo": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__AdditionalApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Additional information on the application issuing the request."
          }
        },
        "baselineAudience": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__InsightsAudience",
          "traits": {
            "smithy.api#documentation": "The baseline audience to which the audience of interest is being compared."
          }
        },
        "dimensions": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequestDimensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The audience dimensions for which composition insights should be returned. Supported dimensions are KNOWLEDGE_GRAPH, GEO_TARGET_COUNTRY, SUB_COUNTRY_LOCATION, YOUTUBE_CHANNEL, YOUTUBE_LINEUP, AFFINITY_USER_INTEREST, IN_MARKET_USER_INTEREST, ."
          }
        },
        "customerInsightsGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the customer being planned for. This is a user-defined value."
          }
        },
        "audience": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__InsightsAudience",
          "traits": {
            "smithy.api#documentation": "Required. The audience of interest for which insights are being requested."
          }
        },
        "dataMonth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one-month range of historical data to use for insights, in the format \"yyyy-mm\". If unset, insights will be returned for the last thirty days of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AudienceInsightsService.GenerateAudienceCompositionInsights."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequestDimensionsItemEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        },
        "KNOWLEDGE_GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_GRAPH"
          }
        },
        "GEO_TARGET_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_TARGET_COUNTRY"
          }
        },
        "SUB_COUNTRY_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_COUNTRY_LOCATION"
          }
        },
        "YOUTUBE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHANNEL"
          }
        },
        "AFFINITY_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_USER_INTEREST"
          }
        },
        "IN_MARKET_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_MARKET_USER_INTEREST"
          }
        },
        "PARENTAL_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENTAL_STATUS"
          }
        },
        "INCOME_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOME_RANGE"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        },
        "YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_VIDEO"
          }
        },
        "DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE"
          }
        },
        "YOUTUBE_LINEUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_LINEUP"
          }
        },
        "USER_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST"
          }
        },
        "LIFE_EVENT_USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFE_EVENT_USER_INTEREST"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequestDimensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequestDimensionsItemEnum"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__AdVideoAsset": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Asset resource name of this video."
          }
        },
        "adVideoAssetInfo": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__AdVideoAssetInfo",
          "traits": {
            "smithy.api#documentation": "Contains info fields for this AdVideoAsset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A video asset used inside an ad."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AiMaxSetting": {
      "type": "structure",
      "members": {
        "bundlingRequired": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AiMaxSettingBundlingRequiredEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether a search campaign has adopted AI Max before, and is required to have AI Max enabled to adopt campaign-level text asset automation and brand list targeting in all API versions."
          }
        },
        "enableAiMax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether or not AI Max features are served for this campaign. Individual AI Max features are enabled or disabled by their respective settings. But if enable_ai_max is set to false or cleared, then no AI Max features will serve for this campaign, regardless of the other settings. Search Term Matching is enabled by default when AI Max is enabled, and can be disabled at the ad group level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for AI Max in search campaigns."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AiMaxSettingBundlingRequiredEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignGoalConfigResult": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returned for successful operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result for the campaign goal config mutate."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__EffectiveFrequencyBreakdown": {
      "type": "structure",
      "members": {
        "effectiveFrequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The effective frequency [1-10]."
          }
        },
        "effectiveCoviewReach": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of users (including co-viewing users) reached for the associated effective_frequency value."
          }
        },
        "onTargetReach": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of unique people reached at least effective_frequency times that exactly matches the Targeting. Note that a minimum number of unique people must be reached in order for data to be reported. If the minimum number is not met, the on_target_reach value will be rounded to 0."
          }
        },
        "onTargetEffectiveCoviewReach": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of users (including co-viewing users) reached for the associated effective_frequency value within the specified plan demographic."
          }
        },
        "totalReach": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of unique people reached at least effective_frequency times. This includes people that may fall outside the specified Targeting. Note that a minimum number of unique people must be reached in order for data to be reported. If the minimum number is not met, the total_reach value will be rounded to 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A breakdown of the number of unique people reached at a given effective frequency."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__AdParameterOperation": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldMask that determines which resource fields are modified in an update."
          }
        },
        "remove": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remove operation: A resource name for the ad parameter to remove is expected in this format: `customers/{customer_id}/adParameters/{ad_group_id}~{criterion_id}~{parameter_index}`"
          }
        },
        "create": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdParameter",
          "traits": {
            "smithy.api#documentation": "Create operation: No resource name is expected for the new ad parameter."
          }
        },
        "update": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdParameter",
          "traits": {
            "smithy.api#documentation": "Update operation: The ad parameter is expected to have a valid resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single operation (create, update, remove) on ad parameter."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__KeywordPlanCampaignOperation": {
      "type": "structure",
      "members": {
        "create": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__KeywordPlanCampaign",
          "traits": {
            "smithy.api#documentation": "Create operation: No resource name is expected for the new Keyword Plan campaign."
          }
        },
        "update": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__KeywordPlanCampaign",
          "traits": {
            "smithy.api#documentation": "Update operation: The Keyword Plan campaign is expected to have a valid resource name."
          }
        },
        "remove": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remove operation: A resource name for the removed Keyword Plan campaign is expected, in this format: `customers/{customer_id}/keywordPlanCampaigns/{keywordPlan_campaign_id}`"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The FieldMask that determines which resource fields are modified in an update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single operation (create, update, remove) on a Keyword Plan campaign."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__StoreAttribute": {
      "type": "structure",
      "members": {
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store code from https://support.google.com/business/answer/3370250#storecode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Store attributes of the transaction."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_NetworkSettings": {
      "type": "structure",
      "members": {
        "targetPartnerSearchNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served on the partner network. This is available only to some select partner accounts. Unless you have been instructed to use this field, it likely does not apply to your account. This does not control whether ads will be served on Google Search Partners Network; use `target_search_network` for that instead."
          }
        },
        "targetContentNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served on specified placements in the Google Display Network. Placements are specified using the Placement criterion."
          }
        },
        "targetGoogleSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served with google.com search results."
          }
        },
        "targetYoutube": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served on YouTube."
          }
        },
        "targetSearchNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served on sites in the Google Search Partners Network (requires `target_google_search` to also be `true`)."
          }
        },
        "targetGoogleTvNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ads will be served on the Google TV network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network settings for the campaign."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariable": {
      "type": "structure",
      "members": {
        "family": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableFamilyEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Family of the conversion custom variable."
          }
        },
        "ownerCustomer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the customer that owns the conversion custom variable."
          }
        },
        "customColumnIds": {
          "target": "com.gcp.searchads360_v23#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The IDs of custom columns that use this conversion custom variable."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the conversion custom variable."
          }
        },
        "floodlightConversionCustomVariableInfo": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_ConversionCustomVariable_FloodlightConversionCustomVariableInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Fields for Search Ads 360 floodlight conversion custom variables."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the conversion custom variable. Conversion custom variable resource names have the form: `customers/{customer_id}/conversionCustomVariables/{conversion_custom_variable_id}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the conversion custom variable. Name should be unique. The maximum length of name is 100 characters. There should not be any extra spaces before and after."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The tag of the conversion custom variable. Tag should be unique and consist of a \"u\" character directly followed with a number less than ormequal to 100. For example: \"u4\"."
          }
        },
        "cardinality": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Cardinality of the conversion custom variable."
          }
        },
        "status": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the conversion custom variable for conversion event accrual."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A conversion custom variable. See \"About custom Floodlight metrics and dimensions in the new Search Ads 360\" at https://support.google.com/sa360/answer/13567857"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableFamilyEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLOODLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOODLIGHT"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableCardinalityEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "BELOW_ALL_LIMITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BELOW_ALL_LIMITS"
          }
        },
        "EXCEEDS_SEGMENTATION_LIMIT_BUT_NOT_STATS_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEEDS_SEGMENTATION_LIMIT_BUT_NOT_STATS_LIMIT"
          }
        },
        "APPROACHES_STATS_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROACHES_STATS_LIMIT"
          }
        },
        "EXCEEDS_STATS_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCEEDS_STATS_LIMIT"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__ConversionCustomVariableStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ACTIVATION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATION_NEEDED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequest": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__CampaignAssetOperationList",
          "traits": {
            "smithy.api#documentation": "Required. The list of operations to perform on individual campaign assets."
          }
        },
        "partialFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
          }
        },
        "responseContentType": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequestResponseContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the request is validated but not executed. Only errors are returned, not results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CampaignAssetService.MutateCampaignAssets."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__CampaignAssetOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__CampaignAssetOperation"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequestResponseContentTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "RESOURCE_NAME_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NAME_ONLY"
          }
        },
        "MUTABLE_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTABLE_RESOURCE"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AppCampaignSetting": {
      "type": "structure",
      "members": {
        "appStore": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AppCampaignSettingAppStoreEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The application store that distributes this specific app."
          }
        },
        "biddingStrategyGoalType": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AppCampaignSettingBiddingStrategyGoalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Represents the goal which the bidding strategy of this app campaign should optimize towards."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. A string that uniquely identifies a mobile application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Campaign-level settings for App Campaigns."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AppCampaignSettingAppStoreEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "APPLE_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLE_APP_STORE"
          }
        },
        "GOOGLE_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_APP_STORE"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_AppCampaignSettingBiddingStrategyGoalTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "OPTIMIZE_INSTALLS_TARGET_INSTALL_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_INSTALLS_TARGET_INSTALL_COST"
          }
        },
        "OPTIMIZE_IN_APP_CONVERSIONS_TARGET_INSTALL_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_IN_APP_CONVERSIONS_TARGET_INSTALL_COST"
          }
        },
        "OPTIMIZE_IN_APP_CONVERSIONS_TARGET_CONVERSION_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_IN_APP_CONVERSIONS_TARGET_CONVERSION_COST"
          }
        },
        "OPTIMIZE_RETURN_ON_ADVERTISING_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_RETURN_ON_ADVERTISING_SPEND"
          }
        },
        "OPTIMIZE_PRE_REGISTRATION_CONVERSION_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_PRE_REGISTRATION_CONVERSION_VOLUME"
          }
        },
        "OPTIMIZE_INSTALLS_WITHOUT_TARGET_INSTALL_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_INSTALLS_WITHOUT_TARGET_INSTALL_COST"
          }
        },
        "OPTIMIZE_IN_APP_CONVERSIONS_WITHOUT_TARGET_CPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_IN_APP_CONVERSIONS_WITHOUT_TARGET_CPA"
          }
        },
        "OPTIMIZE_TOTAL_VALUE_WITHOUT_TARGET_ROAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE_TOTAL_VALUE_WITHOUT_TARGET_ROAS"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__SmartCampaignSearchTermView": {
      "type": "structure",
      "members": {
        "searchTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The search term."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Smart campaign search term view. Smart campaign search term view resource names have the form: `customers/{customer_id}/smartCampaignSearchTermViews/{campaign_id}~{URL-base64_search_term}`"
          }
        },
        "campaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Smart campaign the search term served in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Smart campaign search term view."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SmartCampaignEndedDetails": {
      "type": "structure",
      "members": {
        "endDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the campaign ended. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to Smart campaigns that have ended."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__CustomerSkAdNetworkConversionValueSchemaOperation": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__CustomerSkAdNetworkConversionValueSchema",
          "traits": {
            "smithy.api#documentation": "Update operation: The schema is expected to have a valid resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single update operation for a CustomerSkAdNetworkConversionValueSchema."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetView": {
      "type": "structure",
      "members": {
        "performanceLabel": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewPerformanceLabelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Performance of an asset linkage."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The asset which is linked to the ad group ad."
          }
        },
        "fieldType": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewFieldTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Role that the asset takes in the ad."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The status between the asset and the latest version of the ad. If true, the asset is linked to the latest version of the ad. If false, it means the link once existed but has been removed and is no longer present in the latest version of the ad."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the ad group ad asset view. Ad group ad asset view resource names have the form (Before V4): `customers/{customer_id}/adGroupAdAssets/{AdGroupAdAsset.ad_group_id}~{AdGroupAdAsset.ad.ad_id}~{AdGroupAdAsset.asset_id}~{AdGroupAdAsset.field_type}` Ad group ad asset view resource names have the form (Beginning from V4): `customers/{customer_id}/adGroupAdAssetViews/{AdGroupAdAsset.ad_group_id}~{AdGroupAdAsset.ad_id}~{AdGroupAdAsset.asset_id}~{AdGroupAdAsset.field_type}`"
          }
        },
        "adGroupAd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ad group ad to which the asset is linked."
          }
        },
        "pinnedField": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewPinnedFieldEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Pinned field."
          }
        },
        "source": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Source of the ad group ad asset."
          }
        },
        "policySummary": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetPolicySummary",
          "traits": {
            "smithy.api#documentation": "Output only. Policy information for the ad group ad asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a link between an AdGroupAd and an Asset. This view provides insights into the performance of assets within specific ads. AdGroupAdAssetView supports the following ad types: * App Ads * Demand Gen campaigns * Responsive Search Ads It does not support Responsive Display Ads."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewPerformanceLabelEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOD"
          }
        },
        "BEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewFieldTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION"
          }
        },
        "MANDATORY_AD_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANDATORY_AD_TEXT"
          }
        },
        "MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKETING_IMAGE"
          }
        },
        "MEDIA_BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_BUNDLE"
          }
        },
        "YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_VIDEO"
          }
        },
        "BOOK_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOK_ON_GOOGLE"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEAD_FORM"
          }
        },
        "PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTION"
          }
        },
        "CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALLOUT"
          }
        },
        "STRUCTURED_SNIPPET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED_SNIPPET"
          }
        },
        "SITELINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITELINK"
          }
        },
        "MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP"
          }
        },
        "HOTEL_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL_CALLOUT"
          }
        },
        "CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL"
          }
        },
        "PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE"
          }
        },
        "LONG_HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_HEADLINE"
          }
        },
        "BUSINESS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_NAME"
          }
        },
        "SQUARE_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARE_MARKETING_IMAGE"
          }
        },
        "PORTRAIT_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PORTRAIT_MARKETING_IMAGE"
          }
        },
        "LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGO"
          }
        },
        "LANDSCAPE_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDSCAPE_LOGO"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "CALL_TO_ACTION_SELECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SELECTION"
          }
        },
        "AD_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_IMAGE"
          }
        },
        "BUSINESS_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_LOGO"
          }
        },
        "HOTEL_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL_PROPERTY"
          }
        },
        "DEMAND_GEN_CAROUSEL_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_CAROUSEL_CARD"
          }
        },
        "BUSINESS_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_MESSAGE"
          }
        },
        "TALL_PORTRAIT_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TALL_PORTRAIT_MARKETING_IMAGE"
          }
        },
        "LANDING_PAGE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDING_PAGE_PREVIEW"
          }
        },
        "LONG_DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DESCRIPTION"
          }
        },
        "CALL_TO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewPinnedFieldEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "HEADLINE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_1"
          }
        },
        "HEADLINE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_2"
          }
        },
        "HEADLINE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_3"
          }
        },
        "DESCRIPTION_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_1"
          }
        },
        "DESCRIPTION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_2"
          }
        },
        "HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE"
          }
        },
        "HEADLINE_IN_PORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_IN_PORTRAIT"
          }
        },
        "LONG_HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_HEADLINE"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION"
          }
        },
        "DESCRIPTION_IN_PORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_IN_PORTRAIT"
          }
        },
        "BUSINESS_NAME_IN_PORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_NAME_IN_PORTRAIT"
          }
        },
        "BUSINESS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_NAME"
          }
        },
        "MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKETING_IMAGE"
          }
        },
        "MARKETING_IMAGE_IN_PORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKETING_IMAGE_IN_PORTRAIT"
          }
        },
        "SQUARE_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARE_MARKETING_IMAGE"
          }
        },
        "PORTRAIT_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PORTRAIT_MARKETING_IMAGE"
          }
        },
        "LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGO"
          }
        },
        "LANDSCAPE_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDSCAPE_LOGO"
          }
        },
        "CALL_TO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION"
          }
        },
        "YOU_TUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOU_TUBE_VIDEO"
          }
        },
        "SITELINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITELINK"
          }
        },
        "CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL"
          }
        },
        "MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP"
          }
        },
        "CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALLOUT"
          }
        },
        "STRUCTURED_SNIPPET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED_SNIPPET"
          }
        },
        "PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE"
          }
        },
        "PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTION"
          }
        },
        "AD_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_IMAGE"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEAD_FORM"
          }
        },
        "BUSINESS_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_LOGO"
          }
        },
        "DESCRIPTION_PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_PREFIX"
          }
        },
        "HEADLINE_AS_SITELINK_POSITION_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_AS_SITELINK_POSITION_ONE"
          }
        },
        "HEADLINE_AS_SITELINK_POSITION_TWO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE_AS_SITELINK_POSITION_TWO"
          }
        },
        "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_ONE"
          }
        },
        "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_TWO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_TWO"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdGroupAdAssetViewSourceEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER"
          }
        },
        "AUTOMATICALLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATICALLY_CREATED"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__SharedCriterion": {
      "type": "structure",
      "members": {
        "sharedSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The shared set to which the shared criterion belongs."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. If true, the criterion is excluded. If false, the criterion is targeted."
          }
        },
        "criterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the criterion. This field is ignored for mutates."
          }
        },
        "keyword": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__KeywordInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Keyword."
          }
        },
        "brand": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__BrandInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Brand."
          }
        },
        "verticalAdsItemGroupRule": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__VerticalAdsItemGroupRuleInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Vertical ads item group rule."
          }
        },
        "youtubeVideo": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__YouTubeVideoInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. YouTube Video."
          }
        },
        "mobileAppCategory": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__MobileAppCategoryInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Mobile App Category."
          }
        },
        "mobileApplication": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__MobileApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Mobile application."
          }
        },
        "webpage": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__WebpageInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Webpage."
          }
        },
        "type": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__SharedCriterionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the criterion."
          }
        },
        "placement": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__PlacementInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Placement."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the shared criterion. Shared set resource names have the form: `customers/{customer_id}/sharedCriteria/{shared_set_id}~{criterion_id}`"
          }
        },
        "youtubeChannel": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__YouTubeChannelInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. YouTube Channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A criterion belonging to a shared set."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__SharedCriterionTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD"
          }
        },
        "PLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT"
          }
        },
        "MOBILE_APP_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_CATEGORY"
          }
        },
        "MOBILE_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APPLICATION"
          }
        },
        "DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE"
          }
        },
        "LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION"
          }
        },
        "LISTING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LISTING_GROUP"
          }
        },
        "AD_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SCHEDULE"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        },
        "INCOME_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOME_RANGE"
          }
        },
        "PARENTAL_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENTAL_STATUS"
          }
        },
        "YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_VIDEO"
          }
        },
        "YOUTUBE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHANNEL"
          }
        },
        "USER_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXIMITY"
          }
        },
        "TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC"
          }
        },
        "LISTING_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LISTING_SCOPE"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE"
          }
        },
        "IP_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_BLOCK"
          }
        },
        "CONTENT_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_LABEL"
          }
        },
        "CARRIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARRIER"
          }
        },
        "USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTEREST"
          }
        },
        "WEBPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBPAGE"
          }
        },
        "OPERATING_SYSTEM_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_SYSTEM_VERSION"
          }
        },
        "APP_PAYMENT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_PAYMENT_MODEL"
          }
        },
        "MOBILE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_DEVICE"
          }
        },
        "CUSTOM_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_AFFINITY"
          }
        },
        "CUSTOM_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_INTENT"
          }
        },
        "LOCATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_GROUP"
          }
        },
        "CUSTOM_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_AUDIENCE"
          }
        },
        "COMBINED_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBINED_AUDIENCE"
          }
        },
        "KEYWORD_THEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_THEME"
          }
        },
        "AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE"
          }
        },
        "NEGATIVE_KEYWORD_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGATIVE_KEYWORD_LIST"
          }
        },
        "LOCAL_SERVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_SERVICE_ID"
          }
        },
        "SEARCH_THEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_THEME"
          }
        },
        "BRAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRAND"
          }
        },
        "BRAND_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRAND_LIST"
          }
        },
        "LIFE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFE_EVENT"
          }
        },
        "WEBPAGE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBPAGE_LIST"
          }
        },
        "VIDEO_LINEUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_LINEUP"
          }
        },
        "PLACEMENT_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT_LIST"
          }
        },
        "VERTICAL_ADS_ITEM_GROUP_RULE_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTICAL_ADS_ITEM_GROUP_RULE_LIST"
          }
        },
        "VERTICAL_ADS_ITEM_GROUP_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTICAL_ADS_ITEM_GROUP_RULE"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__VerticalAdsItemGroupRuleInfo": {
      "type": "structure",
      "members": {
        "regionCriterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Geo Target Constant for the region."
          }
        },
        "itemCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id specifying a particular Vertical Ad listing."
          }
        },
        "countryCriterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Geo Target Constant for the country."
          }
        },
        "cityCriterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Geo Target Constant for the city."
          }
        },
        "hotelClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer value specifying the class rating for a hotel. Ranges from 1 to 5 stars."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A criterion to represent a single item group rule in Vertical Ads."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateBiddingStrategyResult": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returned for successful operations."
          }
        },
        "biddingStrategy": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__BiddingStrategy",
          "traits": {
            "smithy.api#documentation": "The mutated bidding strategy with only mutable fields after mutate. The field will only be returned when response_content_type is set to \"MUTABLE_RESOURCE\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result for the bidding strategy mutate."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AdParameter": {
      "type": "structure",
      "members": {
        "parameterIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The unique index of this ad parameter. Must be either 1 or 2."
          }
        },
        "adGroupCriterion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The ad group criterion that this ad parameter belongs to."
          }
        },
        "insertionText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Numeric value to insert into the ad text. The following restrictions apply: - Can use comma or period as a separator, with an optional period or comma (respectively) for fractional values. For example, 1,000,000.00 and 2.000.000,10 are valid. - Can be prepended or appended with a currency symbol. For example, $99.99 is valid. - Can be prepended or appended with a currency code. For example, 99.99USD and EUR200 are valid. - Can use '%'. For example, 1.0% and 1,0% are valid. - Can use plus or minus. For example, -10.99 and 25+ are valid. - Can use '/' between two numbers. For example 4/1 and 0.95/0.45 are valid."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the ad parameter. Ad parameter resource names have the form: `customers/{customer_id}/adParameters/{ad_group_id}~{criterion_id}~{parameter_index}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ad parameter that is used to update numeric values (such as prices or inventory levels) in any text line of an ad (including URLs). There can be a maximum of two AdParameters per ad group criterion. (One with parameter_index = 1 and one with parameter_index = 2.) In the ad the parameters are referenced by a placeholder of the form \"{param#:value}\". For example, \"{param1:$17}\""
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_AdGroupCriterion_PositionEstimates": {
      "type": "structure",
      "members": {
        "firstPositionCpcMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The estimate of the CPC bid required for ad to be displayed in first position, at the top of the first page of search results."
          }
        },
        "estimatedAddCostAtFirstPositionCpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimate of how your cost per week might change when changing your keyword bid to the value in first_position_cpc_micros."
          }
        },
        "topOfPageCpcMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The estimate of the CPC bid required for ad to be displayed at the top of the first page of search results."
          }
        },
        "estimatedAddClicksAtFirstPositionCpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimate of how many clicks per week you might get by changing your keyword bid to the value in first_position_cpc_micros."
          }
        },
        "firstPageCpcMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The estimate of the CPC bid required for ad to be shown on first page of search results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Estimates for criterion bids at various positions."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__YoutubeVideoAsset": {
      "type": "structure",
      "members": {
        "youtubeVideoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YouTube video id. This is the 11 character string value used in the YouTube video URL."
          }
        },
        "youtubeVideoTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YouTube video title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A YouTube asset."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__ImageDimension": {
      "type": "structure",
      "members": {
        "widthPixels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Width of the image."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that returns the image with this height and width."
          }
        },
        "heightPixels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Height of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for an image at a certain size, either original or resized."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest": {
      "type": "structure",
      "members": {
        "aggregateMetrics": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__KeywordPlanAggregateMetrics",
          "traits": {
            "smithy.api#documentation": "The aggregate fields to include in response."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results to retrieve in a single page. A maximum of 10,000 results may be returned, if the page_size exceeds this, it is ignored. If unspecified, at most 10,000 results will be returned. The server may decide to further limit the number of returned resources. If the response contains fewer than 10,000 results it may not be assumed as last page of results."
          }
        },
        "historicalMetricsOptions": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__HistoricalMetricsOptions",
          "traits": {
            "smithy.api#documentation": "The options for historical metrics data."
          }
        },
        "siteSeed": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SiteSeed",
          "traits": {
            "smithy.api#documentation": "The site to generate ideas from, for example, www.example.com."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token of the page to retrieve. If not specified, the first page of results will be returned. To request next page of results use the value obtained from `next_page_token` in the previous response. The request fields must match across pages."
          }
        },
        "keywordAnnotation": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordAnnotationItemEnumList",
          "traits": {
            "smithy.api#documentation": "The keyword annotations to include in response."
          }
        },
        "keywordAndUrlSeed": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__KeywordAndUrlSeed",
          "traits": {
            "smithy.api#documentation": "A Keyword and a specific Url to generate ideas from for example, cars, www.example.com/cars."
          }
        },
        "keywordSeed": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__KeywordSeed",
          "traits": {
            "smithy.api#documentation": "A Keyword or phrase to generate ideas from, for example, cars."
          }
        },
        "urlSeed": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__UrlSeed",
          "traits": {
            "smithy.api#documentation": "A specific url to generate ideas from, for example, www.example.com/cars."
          }
        },
        "geoTargetConstants": {
          "target": "com.gcp.searchads360_v23#StringList",
          "traits": {
            "smithy.api#documentation": "The resource names of the location to target. Maximum is 10. An empty list MAY be used to specify all targeting geos."
          }
        },
        "keywordPlanNetwork": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordPlanNetworkEnum",
          "traits": {
            "smithy.api#documentation": "Targeting network. If not set, Google Search And Partners Network will be used."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the language to target. Each keyword belongs to some set of languages; a keyword is included if language is one of its languages. If not set, all keywords will be included."
          }
        },
        "includeAdultKeywords": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, adult keywords will be included in response. The default value is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for KeywordPlanIdeaService.GenerateKeywordIdeas."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordAnnotationItemEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "KEYWORD_CONCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_CONCEPT"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordAnnotationItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordAnnotationItemEnum"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequestKeywordPlanNetworkEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOOGLE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SEARCH"
          }
        },
        "GOOGLE_SEARCH_AND_PARTNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SEARCH_AND_PARTNERS"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignSharedSetsResponse": {
      "type": "structure",
      "members": {
        "partialFailureError": {
          "target": "com.gcp.searchads360_v23#GoogleRpc__Status",
          "traits": {
            "smithy.api#documentation": "Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
          }
        },
        "results": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignSharedSetResultList",
          "traits": {
            "smithy.api#documentation": "All results for the mutate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a campaign shared set mutate."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignSharedSetResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCampaignSharedSetResult"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateSharedCriteriaResponse": {
      "type": "structure",
      "members": {
        "partialFailureError": {
          "target": "com.gcp.searchads360_v23#GoogleRpc__Status",
          "traits": {
            "smithy.api#documentation": "Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
          }
        },
        "results": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateSharedCriterionResultList",
          "traits": {
            "smithy.api#documentation": "All results for the mutate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a shared criterion mutate."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateSharedCriterionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateSharedCriterionResult"
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ScheduleExperimentMetadata": {
      "type": "structure",
      "members": {
        "experiment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The scheduled experiment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata of the scheduled experiment."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__MediaBundle": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The url to access the uploaded zipped data. For example, https://tpc.googlesyndication.com/simgad/123 This field is read-only."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Raw zipped data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a ZIP archive media the content of which contains HTML5 assets."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__MutateCustomerClientLinkRequest": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__CustomerClientLinkOperation",
          "traits": {
            "smithy.api#documentation": "Required. The operation to perform on the individual CustomerClientLink."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the request is validated but not executed. Only errors are returned, not results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CustomerClientLinkService.MutateCustomerClientLink."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__AssetSetOperation": {
      "type": "structure",
      "members": {
        "create": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AssetSet",
          "traits": {
            "smithy.api#documentation": "Create operation: No resource name is expected for the new asset set"
          }
        },
        "update": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AssetSet",
          "traits": {
            "smithy.api#documentation": "Update operation: The asset set is expected to have a valid resource name."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldMask that determines which resource fields are modified in an update."
          }
        },
        "remove": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remove operation: A resource name for the removed asset set is expected, in this format: `customers/{customer_id}/assetSets/{asset_set_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single operation (create, remove) on an asset set."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest": {
      "type": "structure",
      "members": {
        "campaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the campaign to get suggestion for."
          }
        },
        "suggestionInfo": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SmartCampaignSuggestionInfo",
          "traits": {
            "smithy.api#documentation": "Required. Information needed to get budget options"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SmartCampaignSuggestService.SuggestSmartCampaignBudgetOptions."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources_Campaign_SelectiveOptimization": {
      "type": "structure",
      "members": {
        "conversionActions": {
          "target": "com.gcp.searchads360_v23#StringList",
          "traits": {
            "smithy.api#documentation": "The selected set of resource names for conversion actions for optimizing this campaign."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selective optimization setting for this campaign, which includes a set of conversion actions to optimize this campaign towards. This feature only applies to app campaigns that use MULTI_CHANNEL as AdvertisingChannelType and APP_CAMPAIGN or APP_CAMPAIGN_FOR_ENGAGEMENT as AdvertisingChannelSubType."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequest": {
      "type": "structure",
      "members": {
        "surveySatisfied": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SurveySatisfied",
          "traits": {
            "smithy.api#documentation": "Details about various factors for being satisfied with the lead."
          }
        },
        "surveyDissatisfied": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__SurveyDissatisfied",
          "traits": {
            "smithy.api#documentation": "Details about various factors for not being satisfied with the lead."
          }
        },
        "surveyAnswer": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequestSurveyAnswerEnum",
          "traits": {
            "smithy.api#documentation": "Required. Survey answer for Local Services Ads Lead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for LocalServicesLeadService.ProvideLeadFeedback."
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequestSurveyAnswerEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_SATISFIED"
          }
        },
        "SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATISFIED"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        },
        "DISSATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISSATISFIED"
          }
        },
        "VERY_DISSATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_DISSATISFIED"
          }
        }
      }
    },
    "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__Asset": {
      "type": "structure",
      "members": {
        "dynamicEducationAsset": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__DynamicEducationAsset",
          "traits": {
            "smithy.api#documentation": "A dynamic education asset."
          }
        },
        "finalUrlSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL template for appending params to landing page URLs served with parallel tracking."
          }
        },
        "hotelPropertyAsset": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Common__HotelPropertyAsset",
          "traits": {
            "smithy.api#documentation": "Immutable. A hotel property asset."
          }
        },
        "policySummary": {
          "target": "com.gcp.searchads360_v23#GoogleAdsSearchads360V23Resources__AssetPolicySummary",
          "traits": {
            "smithy.api#documentation": "Output only. Policy information for the asset."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the asset."
          }
        },
        "imageAsset": {
[...]
