{
  "smithy": "2.0",
  "metadata": {
    "service": "securitycenter",
    "version": "v1",
    "title": "Security Command Center API",
    "baseUrl": "https://securitycenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.securitycenter_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String"
        },
        "auditLogConfigs": {
          "target": "com.gcp.securitycenter_v1#AuditLogConfigList"
        }
      }
    },
    "com.gcp.securitycenter_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#AuditLogConfig"
      }
    },
    "com.gcp.securitycenter_v1#ListResourceValueConfigsResponse": {
      "type": "structure",
      "members": {
        "resourceValueConfigs": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfig"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1IamDetails": {
      "type": "structure",
      "members": {
        "iamRolePermissions": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1IamRolePermissionList"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1IamRolePermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1IamRolePermission"
      }
    },
    "com.gcp.securitycenter_v1#AiModel": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "library": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "publisher": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "deploymentPlatform": {
          "target": "com.gcp.securitycenter_v1#AiModelDeploymentPlatformEnum"
        },
        "usageCategory": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#AiModelDeploymentPlatformEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_PLATFORM_UNSPECIFIED"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        },
        "GKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE"
          }
        },
        "GCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE"
          }
        },
        "FINE_TUNED_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINE_TUNED_MODEL"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "expiryTime": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "mostRecentEditor": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1MuteConfigTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1MuteConfigTypeEnum": {
      "type": "enum",
      "members": {
        "MUTE_CONFIG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTE_CONFIG_TYPE_UNSPECIFIED"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATIC"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#AttackExposure": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1#AttackExposureStateEnum"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "latestCalculationTime": {
          "target": "smithy.api#String"
        },
        "attackExposureResult": {
          "target": "smithy.api#String"
        },
        "exposedHighValueResourcesCount": {
          "target": "smithy.api#Integer"
        },
        "exposedLowValueResourcesCount": {
          "target": "smithy.api#Integer"
        },
        "exposedMediumValueResourcesCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1#AttackExposureStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CALCULATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALCULATED"
          }
        },
        "NOT_CALCULATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CALCULATED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#Attack": {
      "type": "structure",
      "members": {
        "classification": {
          "target": "smithy.api#String"
        },
        "volumeBps": {
          "target": "smithy.api#Integer"
        },
        "volumeBpsLong": {
          "target": "smithy.api#String"
        },
        "volumePpsLong": {
          "target": "smithy.api#String"
        },
        "volumePps": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1#Notebook": {
      "type": "structure",
      "members": {
        "lastAuthor": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "service": {
          "target": "smithy.api#String"
        },
        "notebookUpdateTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#AwsMetadata": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.securitycenter_v1#AwsAccount"
        },
        "organizationalUnits": {
          "target": "com.gcp.securitycenter_v1#AwsOrganizationalUnitList"
        },
        "organization": {
          "target": "com.gcp.securitycenter_v1#AwsOrganization"
        }
      }
    },
    "com.gcp.securitycenter_v1#AwsOrganizationalUnitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#AwsOrganizationalUnit"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ComplianceDetails": {
      "type": "structure",
      "members": {
        "cloudControl": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2CloudControl"
        },
        "cloudControlDeploymentNames": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "frameworks": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2FrameworkList"
        }
      }
    },
    "com.gcp.securitycenter_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2FrameworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Framework"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#OrganizationSettings": {
      "type": "structure",
      "members": {
        "assetDiscoveryConfig": {
          "target": "com.gcp.securitycenter_v1#AssetDiscoveryConfig"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "enableAssetDiscovery": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.securitycenter_v1#ValidateEventThreatDetectionCustomModuleResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.securitycenter_v1#CustomModuleValidationErrors"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceSelector": {
      "type": "structure",
      "members": {
        "resourceTypes": {
          "target": "com.gcp.securitycenter_v1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1#SecurityMarks": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "marks": {
          "target": "com.gcp.securitycenter_v1#StringMap"
        },
        "canonicalName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securitycenter_v1#MemoryHashSignature": {
      "type": "structure",
      "members": {
        "binaryFamily": {
          "target": "smithy.api#String"
        },
        "detections": {
          "target": "com.gcp.securitycenter_v1#DetectionList"
        }
      }
    },
    "com.gcp.securitycenter_v1#DetectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#Detection"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "cloudProvider": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigCloudProviderEnum"
        },
        "sensitiveDataProtectionMapping": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "resourceType": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "tagValues": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "resourceLabelsSelector": {
          "target": "com.gcp.securitycenter_v1#StringMap"
        },
        "resourceValue": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigResourceValueEnum"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigCloudProviderEnum": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "GOOGLE_CLOUD_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD_PLATFORM"
          }
        },
        "AMAZON_WEB_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_WEB_SERVICES"
          }
        },
        "MICROSOFT_AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSOFT_AZURE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1ResourceValueConfigResourceValueEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_VALUE_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum"
        },
        "eventId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GcpMetadata": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "folders": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2FolderList"
        },
        "project": {
          "target": "smithy.api#String"
        },
        "parentDisplayName": {
          "target": "smithy.api#String"
        },
        "projectDisplayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Folder"
      }
    },
    "com.gcp.securitycenter_v1#ListSecurityHealthAnalyticsCustomModulesResponse": {
      "type": "structure",
      "members": {
        "securityHealthAnalyticsCustomModules": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModuleList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
      }
    },
    "com.gcp.securitycenter_v1#Dataset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttack": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String"
        },
        "primaryTechniques": {
          "target": "com.gcp.securitycenter_v1#MitreAttackPrimaryTechniquesItemEnumList"
        },
        "primaryTactic": {
          "target": "com.gcp.securitycenter_v1#MitreAttackPrimaryTacticEnum"
        },
        "additionalTactics": {
          "target": "com.gcp.securitycenter_v1#MitreAttackAdditionalTacticsItemEnumList"
        },
        "additionalTechniques": {
          "target": "com.gcp.securitycenter_v1#MitreAttackAdditionalTechniquesItemEnumList"
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackPrimaryTechniquesItemEnum": {
      "type": "enum",
      "members": {
        "TECHNIQUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNIQUE_UNSPECIFIED"
          }
        },
        "DATA_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION"
          }
        },
        "DATA_OBFUSCATION_STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION_STEGANOGRAPHY"
          }
        },
        "OS_CREDENTIAL_DUMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING"
          }
        },
        "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM"
          }
        },
        "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW"
          }
        },
        "DATA_FROM_LOCAL_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FROM_LOCAL_SYSTEM"
          }
        },
        "AUTOMATED_EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_EXFILTRATION"
          }
        },
        "OBFUSCATED_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBFUSCATED_FILES_OR_INFO"
          }
        },
        "STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEGANOGRAPHY"
          }
        },
        "COMPILE_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPILE_AFTER_DELIVERY"
          }
        },
        "COMMAND_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_OBFUSCATION"
          }
        },
        "SCHEDULED_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TRANSFER"
          }
        },
        "SYSTEM_OWNER_USER_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_OWNER_USER_DISCOVERY"
          }
        },
        "MASQUERADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASQUERADING"
          }
        },
        "MATCH_LEGITIMATE_NAME_OR_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_LEGITIMATE_NAME_OR_LOCATION"
          }
        },
        "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS"
          }
        },
        "STARTUP_ITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTUP_ITEMS"
          }
        },
        "NETWORK_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_DISCOVERY"
          }
        },
        "SCHEDULED_TASK_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB"
          }
        },
        "SCHEDULED_TASK_JOB_CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB_CRON"
          }
        },
        "CONTAINER_ORCHESTRATION_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ORCHESTRATION_JOB"
          }
        },
        "PROCESS_INJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_INJECTION"
          }
        },
        "INPUT_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE"
          }
        },
        "INPUT_CAPTURE_KEYLOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE_KEYLOGGING"
          }
        },
        "PROCESS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_DISCOVERY"
          }
        },
        "COMMAND_AND_SCRIPTING_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SCRIPTING_INTERPRETER"
          }
        },
        "UNIX_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIX_SHELL"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "EXPLOITATION_FOR_PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_PRIVILEGE_ESCALATION"
          }
        },
        "PERMISSION_GROUPS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_GROUPS_DISCOVERY"
          }
        },
        "CLOUD_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_GROUPS"
          }
        },
        "INDICATOR_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY"
          }
        },
        "INDICATOR_REMOVAL_FILE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_FILE_DELETION"
          }
        },
        "INDICATOR_REMOVAL_TIMESTOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_TIMESTOMP"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA"
          }
        },
        "APPLICATION_LAYER_PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_LAYER_PROTOCOL"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        },
        "SOFTWARE_DEPLOYMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_DEPLOYMENT_TOOLS"
          }
        },
        "VALID_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_ACCOUNTS"
          }
        },
        "DEFAULT_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACCOUNTS"
          }
        },
        "LOCAL_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNTS"
          }
        },
        "CLOUD_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNTS"
          }
        },
        "FILE_AND_DIRECTORY_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_AND_DIRECTORY_DISCOVERY"
          }
        },
        "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT"
          }
        },
        "PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY"
          }
        },
        "EXTERNAL_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PROXY"
          }
        },
        "MULTI_HOP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_HOP_PROXY"
          }
        },
        "ACCOUNT_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_MANIPULATION"
          }
        },
        "ADDITIONAL_CLOUD_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_CREDENTIALS"
          }
        },
        "ADDITIONAL_CLOUD_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_ROLES"
          }
        },
        "SSH_AUTHORIZED_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_AUTHORIZED_KEYS"
          }
        },
        "ADDITIONAL_CONTAINER_CLUSTER_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONTAINER_CLUSTER_ROLES"
          }
        },
        "MULTI_STAGE_CHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_STAGE_CHANNELS"
          }
        },
        "INGRESS_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TOOL_TRANSFER"
          }
        },
        "NATIVE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_API"
          }
        },
        "BRUTE_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRUTE_FORCE"
          }
        },
        "AUTOMATED_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_COLLECTION"
          }
        },
        "SHARED_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_MODULES"
          }
        },
        "DATA_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCODING"
          }
        },
        "STANDARD_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_ENCODING"
          }
        },
        "ACCESS_TOKEN_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN_MANIPULATION"
          }
        },
        "TOKEN_IMPERSONATION_OR_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_IMPERSONATION_OR_THEFT"
          }
        },
        "CREATE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ACCOUNT"
          }
        },
        "LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNT"
          }
        },
        "DEOBFUSCATE_DECODE_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEOBFUSCATE_DECODE_FILES_OR_INFO"
          }
        },
        "EXPLOIT_PUBLIC_FACING_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_PUBLIC_FACING_APPLICATION"
          }
        },
        "SUPPLY_CHAIN_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLY_CHAIN_COMPROMISE"
          }
        },
        "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS"
          }
        },
        "EXPLOITATION_FOR_CLIENT_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CLIENT_EXECUTION"
          }
        },
        "USER_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EXECUTION"
          }
        },
        "EXPLOITATION_FOR_CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CREDENTIAL_ACCESS"
          }
        },
        "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION"
          }
        },
        "DOMAIN_POLICY_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_POLICY_MODIFICATION"
          }
        },
        "DATA_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_DESTRUCTION"
          }
        },
        "DATA_ENCRYPTED_FOR_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCRYPTED_FOR_IMPACT"
          }
        },
        "SERVICE_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STOP"
          }
        },
        "INHIBIT_SYSTEM_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHIBIT_SYSTEM_RECOVERY"
          }
        },
        "FIRMWARE_CORRUPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_CORRUPTION"
          }
        },
        "RESOURCE_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_HIJACKING"
          }
        },
        "NETWORK_DENIAL_OF_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_DENIAL_OF_SERVICE"
          }
        },
        "CLOUD_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SERVICE_DISCOVERY"
          }
        },
        "STEAL_APPLICATION_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_APPLICATION_ACCESS_TOKEN"
          }
        },
        "ACCOUNT_ACCESS_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACCESS_REMOVAL"
          }
        },
        "TRANSFER_DATA_TO_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_DATA_TO_CLOUD_ACCOUNT"
          }
        },
        "STEAL_WEB_SESSION_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_WEB_SESSION_COOKIE"
          }
        },
        "CREATE_OR_MODIFY_SYSTEM_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_OR_MODIFY_SYSTEM_PROCESS"
          }
        },
        "EVENT_TRIGGERED_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TRIGGERED_EXECUTION"
          }
        },
        "BOOT_OR_LOGON_AUTOSTART_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_AUTOSTART_EXECUTION"
          }
        },
        "KERNEL_MODULES_AND_EXTENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERNEL_MODULES_AND_EXTENSIONS"
          }
        },
        "SHORTCUT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORTCUT_MODIFICATION"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING"
          }
        },
        "UNSECURED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSECURED_CREDENTIALS"
          }
        },
        "CREDENTIALS_IN_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_IN_FILES"
          }
        },
        "BASH_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASH_HISTORY"
          }
        },
        "PRIVATE_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_KEYS"
          }
        },
        "SUBVERT_TRUST_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBVERT_TRUST_CONTROL"
          }
        },
        "INSTALL_ROOT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_ROOT_CERTIFICATE"
          }
        },
        "COMPROMISE_HOST_SOFTWARE_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_HOST_SOFTWARE_BINARY"
          }
        },
        "CREDENTIALS_FROM_PASSWORD_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_FROM_PASSWORD_STORES"
          }
        },
        "MODIFY_AUTHENTICATION_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_AUTHENTICATION_PROCESS"
          }
        },
        "PLUGGABLE_AUTHENTICATION_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGGABLE_AUTHENTICATION_MODULES"
          }
        },
        "MULTI_FACTOR_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_FACTOR_AUTHENTICATION"
          }
        },
        "IMPAIR_DEFENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPAIR_DEFENSES"
          }
        },
        "DISABLE_OR_MODIFY_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_TOOLS"
          }
        },
        "INDICATOR_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_BLOCKING"
          }
        },
        "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM"
          }
        },
        "HIDE_ARTIFACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDE_ARTIFACTS"
          }
        },
        "HIDDEN_FILES_AND_DIRECTORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_FILES_AND_DIRECTORIES"
          }
        },
        "HIDDEN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_USERS"
          }
        },
        "EXFILTRATION_OVER_WEB_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_OVER_WEB_SERVICE"
          }
        },
        "EXFILTRATION_TO_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_TO_CLOUD_STORAGE"
          }
        },
        "DYNAMIC_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_RESOLUTION"
          }
        },
        "LATERAL_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_TOOL_TRANSFER"
          }
        },
        "HIJACK_EXECUTION_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW"
          }
        },
        "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING"
          }
        },
        "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE"
          }
        },
        "CREATE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SNAPSHOT"
          }
        },
        "CLOUD_INFRASTRUCTURE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_INFRASTRUCTURE_DISCOVERY"
          }
        },
        "DEVELOP_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES"
          }
        },
        "DEVELOP_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES"
          }
        },
        "OBTAIN_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES_VULNERABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_VULNERABILITIES"
          }
        },
        "ACTIVE_SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_SCANNING"
          }
        },
        "SCANNING_IP_BLOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_IP_BLOCKS"
          }
        },
        "STAGE_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_CAPABILITIES"
          }
        },
        "UPLOAD_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_MALWARE"
          }
        },
        "CONTAINER_ADMINISTRATION_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ADMINISTRATION_COMMAND"
          }
        },
        "DEPLOY_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_CONTAINER"
          }
        },
        "ESCAPE_TO_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCAPE_TO_HOST"
          }
        },
        "CONTAINER_AND_RESOURCE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_AND_RESOURCE_DISCOVERY"
          }
        },
        "REFLECTIVE_CODE_LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFLECTIVE_CODE_LOADING"
          }
        },
        "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES"
          }
        },
        "FINANCIAL_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINANCIAL_THEFT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackPrimaryTechniquesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#MitreAttackPrimaryTechniquesItemEnum"
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackPrimaryTacticEnum": {
      "type": "enum",
      "members": {
        "TACTIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TACTIC_UNSPECIFIED"
          }
        },
        "RECONNAISSANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONNAISSANCE"
          }
        },
        "RESOURCE_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DEVELOPMENT"
          }
        },
        "INITIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_ACCESS"
          }
        },
        "EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION"
          }
        },
        "PERSISTENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENCE"
          }
        },
        "PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGE_ESCALATION"
          }
        },
        "DEFENSE_EVASION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFENSE_EVASION"
          }
        },
        "CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIAL_ACCESS"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_MOVEMENT"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION"
          }
        },
        "COMMAND_AND_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_CONTROL"
          }
        },
        "EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION"
          }
        },
        "IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackAdditionalTacticsItemEnum": {
      "type": "enum",
      "members": {
        "TACTIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TACTIC_UNSPECIFIED"
          }
        },
        "RECONNAISSANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONNAISSANCE"
          }
        },
        "RESOURCE_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DEVELOPMENT"
          }
        },
        "INITIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_ACCESS"
          }
        },
        "EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION"
          }
        },
        "PERSISTENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENCE"
          }
        },
        "PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGE_ESCALATION"
          }
        },
        "DEFENSE_EVASION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFENSE_EVASION"
          }
        },
        "CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIAL_ACCESS"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_MOVEMENT"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION"
          }
        },
        "COMMAND_AND_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_CONTROL"
          }
        },
        "EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION"
          }
        },
        "IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackAdditionalTacticsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#MitreAttackAdditionalTacticsItemEnum"
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackAdditionalTechniquesItemEnum": {
      "type": "enum",
      "members": {
        "TECHNIQUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNIQUE_UNSPECIFIED"
          }
        },
        "DATA_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION"
          }
        },
        "DATA_OBFUSCATION_STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION_STEGANOGRAPHY"
          }
        },
        "OS_CREDENTIAL_DUMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING"
          }
        },
        "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM"
          }
        },
        "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW"
          }
        },
        "DATA_FROM_LOCAL_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FROM_LOCAL_SYSTEM"
          }
        },
        "AUTOMATED_EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_EXFILTRATION"
          }
        },
        "OBFUSCATED_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBFUSCATED_FILES_OR_INFO"
          }
        },
        "STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEGANOGRAPHY"
          }
        },
        "COMPILE_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPILE_AFTER_DELIVERY"
          }
        },
        "COMMAND_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_OBFUSCATION"
          }
        },
        "SCHEDULED_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TRANSFER"
          }
        },
        "SYSTEM_OWNER_USER_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_OWNER_USER_DISCOVERY"
          }
        },
        "MASQUERADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASQUERADING"
          }
        },
        "MATCH_LEGITIMATE_NAME_OR_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_LEGITIMATE_NAME_OR_LOCATION"
          }
        },
        "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS"
          }
        },
        "STARTUP_ITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTUP_ITEMS"
          }
        },
        "NETWORK_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_DISCOVERY"
          }
        },
        "SCHEDULED_TASK_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB"
          }
        },
        "SCHEDULED_TASK_JOB_CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB_CRON"
          }
        },
        "CONTAINER_ORCHESTRATION_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ORCHESTRATION_JOB"
          }
        },
        "PROCESS_INJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_INJECTION"
          }
        },
        "INPUT_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE"
          }
        },
        "INPUT_CAPTURE_KEYLOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE_KEYLOGGING"
          }
        },
        "PROCESS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_DISCOVERY"
          }
        },
        "COMMAND_AND_SCRIPTING_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SCRIPTING_INTERPRETER"
          }
        },
        "UNIX_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIX_SHELL"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "EXPLOITATION_FOR_PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_PRIVILEGE_ESCALATION"
          }
        },
        "PERMISSION_GROUPS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_GROUPS_DISCOVERY"
          }
        },
        "CLOUD_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_GROUPS"
          }
        },
        "INDICATOR_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY"
          }
        },
        "INDICATOR_REMOVAL_FILE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_FILE_DELETION"
          }
        },
        "INDICATOR_REMOVAL_TIMESTOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_TIMESTOMP"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA"
          }
        },
        "APPLICATION_LAYER_PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_LAYER_PROTOCOL"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        },
        "SOFTWARE_DEPLOYMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_DEPLOYMENT_TOOLS"
          }
        },
        "VALID_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_ACCOUNTS"
          }
        },
        "DEFAULT_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACCOUNTS"
          }
        },
        "LOCAL_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNTS"
          }
        },
        "CLOUD_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNTS"
          }
        },
        "FILE_AND_DIRECTORY_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_AND_DIRECTORY_DISCOVERY"
          }
        },
        "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT"
          }
        },
        "PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY"
          }
        },
        "EXTERNAL_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PROXY"
          }
        },
        "MULTI_HOP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_HOP_PROXY"
          }
        },
        "ACCOUNT_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_MANIPULATION"
          }
        },
        "ADDITIONAL_CLOUD_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_CREDENTIALS"
          }
        },
        "ADDITIONAL_CLOUD_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_ROLES"
          }
        },
        "SSH_AUTHORIZED_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_AUTHORIZED_KEYS"
          }
        },
        "ADDITIONAL_CONTAINER_CLUSTER_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONTAINER_CLUSTER_ROLES"
          }
        },
        "MULTI_STAGE_CHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_STAGE_CHANNELS"
          }
        },
        "INGRESS_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TOOL_TRANSFER"
          }
        },
        "NATIVE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_API"
          }
        },
        "BRUTE_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRUTE_FORCE"
          }
        },
        "AUTOMATED_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_COLLECTION"
          }
        },
        "SHARED_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_MODULES"
          }
        },
        "DATA_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCODING"
          }
        },
        "STANDARD_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_ENCODING"
          }
        },
        "ACCESS_TOKEN_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN_MANIPULATION"
          }
        },
        "TOKEN_IMPERSONATION_OR_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_IMPERSONATION_OR_THEFT"
          }
        },
        "CREATE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ACCOUNT"
          }
        },
        "LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNT"
          }
        },
        "DEOBFUSCATE_DECODE_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEOBFUSCATE_DECODE_FILES_OR_INFO"
          }
        },
        "EXPLOIT_PUBLIC_FACING_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_PUBLIC_FACING_APPLICATION"
          }
        },
        "SUPPLY_CHAIN_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLY_CHAIN_COMPROMISE"
          }
        },
        "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS"
          }
        },
        "EXPLOITATION_FOR_CLIENT_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CLIENT_EXECUTION"
          }
        },
        "USER_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EXECUTION"
          }
        },
        "EXPLOITATION_FOR_CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CREDENTIAL_ACCESS"
          }
        },
        "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION"
          }
        },
        "DOMAIN_POLICY_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_POLICY_MODIFICATION"
          }
        },
        "DATA_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_DESTRUCTION"
          }
        },
        "DATA_ENCRYPTED_FOR_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCRYPTED_FOR_IMPACT"
          }
        },
        "SERVICE_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STOP"
          }
        },
        "INHIBIT_SYSTEM_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHIBIT_SYSTEM_RECOVERY"
          }
        },
        "FIRMWARE_CORRUPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_CORRUPTION"
          }
        },
        "RESOURCE_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_HIJACKING"
          }
        },
        "NETWORK_DENIAL_OF_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_DENIAL_OF_SERVICE"
          }
        },
        "CLOUD_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SERVICE_DISCOVERY"
          }
        },
        "STEAL_APPLICATION_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_APPLICATION_ACCESS_TOKEN"
          }
        },
        "ACCOUNT_ACCESS_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACCESS_REMOVAL"
          }
        },
        "TRANSFER_DATA_TO_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_DATA_TO_CLOUD_ACCOUNT"
          }
        },
        "STEAL_WEB_SESSION_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_WEB_SESSION_COOKIE"
          }
        },
        "CREATE_OR_MODIFY_SYSTEM_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_OR_MODIFY_SYSTEM_PROCESS"
          }
        },
        "EVENT_TRIGGERED_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TRIGGERED_EXECUTION"
          }
        },
        "BOOT_OR_LOGON_AUTOSTART_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_AUTOSTART_EXECUTION"
          }
        },
        "KERNEL_MODULES_AND_EXTENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERNEL_MODULES_AND_EXTENSIONS"
          }
        },
        "SHORTCUT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORTCUT_MODIFICATION"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING"
          }
        },
        "UNSECURED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSECURED_CREDENTIALS"
          }
        },
        "CREDENTIALS_IN_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_IN_FILES"
          }
        },
        "BASH_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASH_HISTORY"
          }
        },
        "PRIVATE_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_KEYS"
          }
        },
        "SUBVERT_TRUST_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBVERT_TRUST_CONTROL"
          }
        },
        "INSTALL_ROOT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_ROOT_CERTIFICATE"
          }
        },
        "COMPROMISE_HOST_SOFTWARE_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_HOST_SOFTWARE_BINARY"
          }
        },
        "CREDENTIALS_FROM_PASSWORD_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_FROM_PASSWORD_STORES"
          }
        },
        "MODIFY_AUTHENTICATION_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_AUTHENTICATION_PROCESS"
          }
        },
        "PLUGGABLE_AUTHENTICATION_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGGABLE_AUTHENTICATION_MODULES"
          }
        },
        "MULTI_FACTOR_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_FACTOR_AUTHENTICATION"
          }
        },
        "IMPAIR_DEFENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPAIR_DEFENSES"
          }
        },
        "DISABLE_OR_MODIFY_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_TOOLS"
          }
        },
        "INDICATOR_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_BLOCKING"
          }
        },
        "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM"
          }
        },
        "HIDE_ARTIFACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDE_ARTIFACTS"
          }
        },
        "HIDDEN_FILES_AND_DIRECTORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_FILES_AND_DIRECTORIES"
          }
        },
        "HIDDEN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_USERS"
          }
        },
        "EXFILTRATION_OVER_WEB_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_OVER_WEB_SERVICE"
          }
        },
        "EXFILTRATION_TO_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_TO_CLOUD_STORAGE"
          }
        },
        "DYNAMIC_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_RESOLUTION"
          }
        },
        "LATERAL_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_TOOL_TRANSFER"
          }
        },
        "HIJACK_EXECUTION_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW"
          }
        },
        "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING"
          }
        },
        "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE"
          }
        },
        "CREATE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SNAPSHOT"
          }
        },
        "CLOUD_INFRASTRUCTURE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_INFRASTRUCTURE_DISCOVERY"
          }
        },
        "DEVELOP_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES"
          }
        },
        "DEVELOP_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES"
          }
        },
        "OBTAIN_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES_VULNERABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_VULNERABILITIES"
          }
        },
        "ACTIVE_SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_SCANNING"
          }
        },
        "SCANNING_IP_BLOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_IP_BLOCKS"
          }
        },
        "STAGE_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_CAPABILITIES"
          }
        },
        "UPLOAD_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_MALWARE"
          }
        },
        "CONTAINER_ADMINISTRATION_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ADMINISTRATION_COMMAND"
          }
        },
        "DEPLOY_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_CONTAINER"
          }
        },
        "ESCAPE_TO_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCAPE_TO_HOST"
          }
        },
        "CONTAINER_AND_RESOURCE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_AND_RESOURCE_DISCOVERY"
          }
        },
        "REFLECTIVE_CODE_LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFLECTIVE_CODE_LOADING"
          }
        },
        "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES"
          }
        },
        "FINANCIAL_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINANCIAL_THEFT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#MitreAttackAdditionalTechniquesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#MitreAttackAdditionalTechniquesItemEnum"
      }
    },
    "com.gcp.securitycenter_v1#File": {
      "type": "structure",
      "members": {
        "fileLoadState": {
          "target": "com.gcp.securitycenter_v1#FileFileLoadStateEnum"
        },
        "size": {
          "target": "smithy.api#String"
        },
        "operations": {
          "target": "com.gcp.securitycenter_v1#FileOperationList"
        },
        "partiallyHashed": {
          "target": "smithy.api#Boolean"
        },
        "diskPath": {
          "target": "com.gcp.securitycenter_v1#DiskPath"
        },
        "hashedSize": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "contents": {
          "target": "smithy.api#String"
        },
        "sha256": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#FileFileLoadStateEnum": {
      "type": "enum",
      "members": {
        "FILE_LOAD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_LOAD_STATE_UNSPECIFIED"
          }
        },
        "LOADED_BY_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOADED_BY_PROCESS"
          }
        },
        "NOT_LOADED_BY_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_LOADED_BY_PROCESS"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#FileOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#FileOperation"
      }
    },
    "com.gcp.securitycenter_v1#ListFindingsResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "listFindingsResults": {
          "target": "com.gcp.securitycenter_v1#ListFindingsResultList"
        },
        "readTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#ListFindingsResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#ListFindingsResult"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Dataset": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticalityTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticalityTypeEnum": {
      "type": "enum",
      "members": {
        "CRITICALITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICALITY_TYPE_UNSPECIFIED"
          }
        },
        "MISSION_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSION_CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Role": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2RoleKindEnum"
        },
        "ns": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2RoleKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        },
        "CLUSTER_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ROLE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#IpRules": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.gcp.securitycenter_v1#IpRulesDirectionEnum"
        },
        "destinationIpRanges": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "exposedServices": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "allowed": {
          "target": "com.gcp.securitycenter_v1#Allowed"
        },
        "sourceIpRanges": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "denied": {
          "target": "com.gcp.securitycenter_v1#Denied"
        }
      }
    },
    "com.gcp.securitycenter_v1#IpRulesDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "INGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS"
          }
        },
        "EGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGRESS"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#SecretStatus": {
      "type": "structure",
      "members": {
        "lastUpdatedTime": {
          "target": "smithy.api#String"
        },
        "validity": {
          "target": "com.gcp.securitycenter_v1#SecretStatusValidityEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1#SecretStatusValidityEnum": {
      "type": "enum",
      "members": {
        "SECRET_VALIDITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_VALIDITY_UNSPECIFIED"
          }
        },
        "SECRET_VALIDITY_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_VALIDITY_UNSUPPORTED"
          }
        },
        "SECRET_VALIDITY_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_VALIDITY_FAILED"
          }
        },
        "SECRET_VALIDITY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_VALIDITY_INVALID"
          }
        },
        "SECRET_VALIDITY_VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_VALIDITY_VALID"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#LoadBalancer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#SecurityBulletin": {
      "type": "structure",
      "members": {
        "bulletinId": {
          "target": "smithy.api#String"
        },
        "submissionTime": {
          "target": "smithy.api#String"
        },
        "suggestedUpgradeVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#SimulatedResource": {
      "type": "structure",
      "members": {
        "iamPolicyData": {
          "target": "com.gcp.securitycenter_v1#Policy"
        },
        "resourceType": {
          "target": "smithy.api#String"
        },
        "resourceData": {
          "target": "com.gcp.securitycenter_v1#DocumentMap"
        }
      }
    },
    "com.gcp.securitycenter_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "attributes": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "com.gcp.securitycenter_v1#Job": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1#JobStateEnum"
        },
        "errorCode": {
          "target": "smithy.api#Integer"
        },
        "location": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#JobStateEnum": {
      "type": "enum",
      "members": {
        "JOB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IpRules": {
      "type": "structure",
      "members": {
        "destinationIpRanges": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "direction": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IpRulesDirectionEnum"
        },
        "denied": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Denied"
        },
        "exposedServices": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "allowed": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Allowed"
        },
        "sourceIpRanges": {
          "target": "com.gcp.securitycenter_v1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IpRulesDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "INGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS"
          }
        },
        "EGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGRESS"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "target": "smithy.api#String"
        },
        "finding": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Object": {
      "type": "structure",
      "members": {
        "ns": {
          "target": "smithy.api#String"
        },
        "group": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "containers": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ContainerList"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Container"
      }
    },
    "com.gcp.securitycenter_v1#DynamicMuteRecord": {
      "type": "structure",
      "members": {
        "muteConfig": {
          "target": "smithy.api#String"
        },
        "matchTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#StaticMute": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1#StaticMuteStateEnum"
        },
        "applyTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#StaticMuteStateEnum": {
      "type": "enum",
      "members": {
        "MUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTE_UNSPECIFIED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        },
        "UNMUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMUTED"
          }
        },
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#DataFlowEvent": {
      "type": "structure",
      "members": {
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "violatedLocation": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1#DataFlowEventOperationEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1#DataFlowEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Cve": {
      "type": "structure",
      "members": {
        "upstreamFixAvailable": {
          "target": "smithy.api#Boolean"
        },
        "references": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ReferenceList"
        },
        "cvssv3": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Cvssv3"
        },
        "exploitReleaseDate": {
          "target": "smithy.api#String"
        },
        "impact": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2CveImpactEnum"
        },
        "zeroDay": {
          "target": "smithy.api#Boolean"
        },
        "observedInTheWild": {
          "target": "smithy.api#Boolean"
        },
        "exploitationActivity": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2CveExploitationActivityEnum"
        },
        "firstExploitationDate": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2ReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2Reference"
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2CveImpactEnum": {
      "type": "enum",
      "members": {
        "RISK_RATING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_RATING_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2CveExploitationActivityEnum": {
      "type": "enum",
      "members": {
        "EXPLOITATION_ACTIVITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_ACTIVITY_UNSPECIFIED"
          }
        },
        "WIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDE"
          }
        },
        "CONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "ANTICIPATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTICIPATED"
          }
        },
        "NO_KNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_KNOWN"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResource": {
      "type": "structure",
      "members": {
        "googleCloudMetadata": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "application": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "adcApplication": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "azureMetadata": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "awsMetadata": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "cloudProvider": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceCloudProviderEnum"
        },
        "adcApplicationTemplate": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "adcSharedTemplate": {
          "target": "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2IssueResourceCloudProviderEnum": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "GOOGLE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD"
          }
        },
        "AMAZON_WEB_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_WEB_SERVICES"
          }
        },
        "MICROSOFT_AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSOFT_AZURE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#AttackStepNode": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.securitycenter_v1#AttackStepNodeTypeEnum"
        },
        "labels": {
          "target": "com.gcp.securitycenter_v1#StringMap"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#AttackStepNodeTypeEnum": {
      "type": "enum",
      "members": {
        "NODE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_UNSPECIFIED"
          }
        },
        "NODE_TYPE_AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_AND"
          }
        },
        "NODE_TYPE_OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_OR"
          }
        },
        "NODE_TYPE_DEFENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_DEFENSE"
          }
        },
        "NODE_TYPE_ATTACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_ATTACKER"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1#GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String"
        },
        "applications": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "appliance": {
          "target": "smithy.api#String"
        },
        "backupType": {
          "target": "smithy.api#String"
        },
        "backupCreateTime": {
          "target": "smithy.api#String"
        },
        "policyOptions": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "profile": {
          "target": "smithy.api#String"
        },
        "policies": {
          "target": "com.gcp.securitycenter_v1#StringList"
        },
        "storagePool": {
          "target": "smithy.api#String"
        },
        "backupTemplate": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1#FileOperation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.securitycenter_v1#FileOperationTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1#FileOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENAME"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
[...]
