{
  "smithy": "2.0",
  "metadata": {
    "service": "securesourcemanager",
    "version": "v1",
    "title": "Secure Source Manager API",
    "baseUrl": "https://securesourcemanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.securesourcemanager_v1#Repository": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the instance in which the repository is hosted, formatted as `projects/{project_number}/locations/{location_id}/instances/{instance_id}` When creating repository via securesourcemanager.googleapis.com, this field is used as input. When creating repository via *.sourcemanager.dev, this field is output only."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create timestamp."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the repository."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Repository level service account (BYOSA)."
          }
        },
        "uris": {
          "target": "com.gcp.securesourcemanager_v1#URIs",
          "traits": {
            "smithy.api#documentation": "Output only. URIs for the repository."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the repository, which cannot exceed 500 characters."
          }
        },
        "scanConfig": {
          "target": "com.gcp.securesourcemanager_v1#ScanConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Provides configuration for scanning."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A unique identifier for a repository. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "initialConfig": {
          "target": "com.gcp.securesourcemanager_v1#InitialConfig",
          "traits": {
            "smithy.api#documentation": "Input only. Initial configurations for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a Secure Source Manager repository."
      }
    },
    "com.gcp.securesourcemanager_v1#ClosePullRequestRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "ClosePullRequestRequest is the request to close a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.securesourcemanager_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.securesourcemanager_v1#FetchBlobResponse": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA-1 hash of the blob."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the blob, encoded as base64."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing the content of a blob."
      }
    },
    "com.gcp.securesourcemanager_v1#UnresolvePullRequestCommentsRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The names of the pull request comments to unresolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request."
          }
        },
        "autoFill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to unresolved. If unset, all comments in the same thread need be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to unresolve multiple pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securesourcemanager_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.securesourcemanager_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.securesourcemanager_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Location"
      }
    },
    "com.gcp.securesourcemanager_v1#Review": {
      "type": "structure",
      "members": {
        "effectiveCommitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The effective commit sha this review is pointing to."
          }
        },
        "actionType": {
          "target": "com.gcp.securesourcemanager_v1#ReviewActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The review action type."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The comment body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The review summary comment."
      }
    },
    "com.gcp.securesourcemanager_v1#ReviewActionTypeEnum": {
      "type": "enum",
      "members": {
        "ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TYPE_UNSPECIFIED"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMENT"
          }
        },
        "CHANGE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_REQUESTED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#ResolvePullRequestCommentsResponse": {
      "type": "structure",
      "members": {
        "pullRequestComments": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestCommentList",
          "traits": {
            "smithy.api#documentation": "The list of pull request comments resolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to resolve multiple pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#PullRequestCommentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#PullRequestComment"
      }
    },
    "com.gcp.securesourcemanager_v1#Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A unique identifier for an instance. The name should be of the format: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` `project_number`: Maps to a unique int64 id assigned to each project. `location_id`: Refers to the region where the instance will be deployed. Since Secure Source Manager is a regional service, it must be one of the valid GCP regions. `instance_id`: User provided name for the instance, must be unique for a project_number and location_id combination."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "stateNote": {
          "target": "com.gcp.securesourcemanager_v1#InstanceStateNoteEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An optional field providing information about the current instance state."
          }
        },
        "labels": {
          "target": "com.gcp.securesourcemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs. Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. For more information, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/best-practices-labels#label_encoding)."
          }
        },
        "workforceIdentityFederationConfig": {
          "target": "com.gcp.securesourcemanager_v1#WorkforceIdentityFederationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Workforce Identity Federation to support third party identity provider. If unset, defaults to the Google OIDC IdP."
          }
        },
        "state": {
          "target": "com.gcp.securesourcemanager_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the instance."
          }
        },
        "hostConfig": {
          "target": "com.gcp.securesourcemanager_v1#HostConfig",
          "traits": {
            "smithy.api#documentation": "Output only. A list of hostnames for this instance."
          }
        },
        "privateConfig": {
          "target": "com.gcp.securesourcemanager_v1#PrivateConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Private settings for private instance."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Secure Source Manager instance."
      }
    },
    "com.gcp.securesourcemanager_v1#InstanceStateNoteEnum": {
      "type": "enum",
      "members": {
        "STATE_NOTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_NOTE_UNSPECIFIED"
          }
        },
        "PAUSED_CMEK_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED_CMEK_UNAVAILABLE"
          }
        },
        "INSTANCE_RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_RESUMING"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securesourcemanager_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#HostConfig": {
      "type": "structure",
      "members": {
        "api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API hostname."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. HTML hostname."
          }
        },
        "gitHttp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Git HTTP hostname."
          }
        },
        "gitSsh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Git SSH hostname."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HostConfig has different instance endpoints."
      }
    },
    "com.gcp.securesourcemanager_v1#OpenPullRequestRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "OpenPullRequestRequest is the request to open a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.securesourcemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.securesourcemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.securesourcemanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.securesourcemanager_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.securesourcemanager_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.securesourcemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.securesourcemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.securesourcemanager_v1#FileDiff": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.securesourcemanager_v1#FileDiffActionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The action taken on the file (eg. added, modified, deleted)."
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The commit pointing to the file changes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the file."
          }
        },
        "patch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The git patch containing the file changes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a FileDiff. FileDiff represents a single file diff in a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#FileDiffActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDED"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#MergePullRequestRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "MergePullRequestRequest is the request to merge a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#Code": {
      "type": "structure",
      "members": {
        "reply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The PullRequestComment resource name that this comment is replying to."
          }
        },
        "resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Boolean indicator if the comment is resolved."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The comment body."
          }
        },
        "effectiveRootComment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The root comment of the conversation, derived from the reply field."
          }
        },
        "effectiveCommitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The effective commit sha this code comment is pointing to."
          }
        },
        "position": {
          "target": "com.gcp.securesourcemanager_v1#Position",
          "traits": {
            "smithy.api#documentation": "Optional. The position of the comment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The comment on a code line."
      }
    },
    "com.gcp.securesourcemanager_v1#CreatePullRequestCommentRequest": {
      "type": "structure",
      "members": {
        "pullRequestComment": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestComment",
          "traits": {
            "smithy.api#documentation": "Required. The pull request comment to create."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The pull request in which to create the pull request comment. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to create a pull request comment."
      }
    },
    "com.gcp.securesourcemanager_v1#OpenIssueRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, opening will be blocked and an ABORTED error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to open an issue."
      }
    },
    "com.gcp.securesourcemanager_v1#PullRequestComment": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "com.gcp.securesourcemanager_v1#Comment",
          "traits": {
            "smithy.api#documentation": "Optional. The general pull request comment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique identifier for the pull request comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request}/pullRequestComments/{comment_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last updated timestamp."
          }
        },
        "review": {
          "target": "com.gcp.securesourcemanager_v1#Review",
          "traits": {
            "smithy.api#documentation": "Optional. The review summary comment."
          }
        },
        "code": {
          "target": "com.gcp.securesourcemanager_v1#Code",
          "traits": {
            "smithy.api#documentation": "Optional. The comment on a code line."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PullRequestComment represents a comment on a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#InitialConfig": {
      "type": "structure",
      "members": {
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default branch name of the repository."
          }
        },
        "readme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "README template name. Valid template name(s) are: default."
          }
        },
        "gitignores": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of gitignore template names user can choose from. Valid values: actionscript, ada, agda, android, anjuta, ansible, appcelerator-titanium, app-engine, archives, arch-linux-packages, atmel-studio, autotools, backup, bazaar, bazel, bitrix, bricx-cc, c, cake-php, calabash, cf-wheels, chef-cookbook, clojure, cloud9, c-make, code-igniter, code-kit, code-sniffer, common-lisp, composer, concrete5, coq, cordova, cpp, craft-cms, cuda, cvs, d, dart, dart-editor, delphi, diff, dm, dreamweaver, dropbox, drupal, drupal-7, eagle, eclipse, eiffel-studio, elisp, elixir, elm, emacs, ensime, epi-server, erlang, esp-idf, espresso, exercism, expression-engine, ext-js, fancy, finale, flex-builder, force-dot-com, fortran, fuel-php, gcov, git-book, gnome-shell-extension, go, godot, gpg, gradle, grails, gwt, haskell, hugo, iar-ewarm, idris, igor-pro, images, infor-cms, java, jboss, jboss-4, jboss-6, jdeveloper, jekyll, jenkins-home, jenv, jet-brains, jigsaw, joomla, julia, jupyter-notebooks, kate, kdevelop4, kentico, ki-cad, kohana, kotlin, lab-view, laravel, lazarus, leiningen, lemon-stand, libre-office, lilypond, linux, lithium, logtalk, lua, lyx, mac-os, magento, magento-1, magento-2, matlab, maven, mercurial, mercury, metals, meta-programming-system, meteor, microsoft-office, model-sim, momentics, mono-develop, nanoc, net-beans, nikola, nim, ninja, node, notepad-pp, nwjs, objective--c, ocaml, octave, opa, open-cart, openssl, oracle-forms, otto, packer, patch, perl, perl6, phalcon, phoenix, pimcore, play-framework, plone, prestashop, processing, psoc-creator, puppet, pure-script, putty, python, qooxdoo, qt, r, racket, rails, raku, red, redcar, redis, rhodes-rhomobile, ros, ruby, rust, sam, sass, sbt, scala, scheme, scons, scrivener, sdcc, seam-gen, sketch-up, slick-edit, smalltalk, snap, splunk, stata, stella, sublime-text, sugar-crm, svn, swift, symfony, symphony-cms, synopsys-vcs, tags, terraform, tex, text-mate, textpattern, think-php, tortoise-git, turbo-gears-2, typo3, umbraco, unity, unreal-engine, vagrant, vim, virtual-env, virtuoso, visual-studio, visual-studio-code, vue, vvvv, waf, web-methods, windows, word-press, xcode, xilinx, xilinx-ise, xojo, yeoman, yii, zend-framework, zephir."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License template name user can choose from. Valid values: license-0bsd, license-389-exception, aal, abstyles, adobe-2006, adobe-glyph, adsl, afl-1-1, afl-1-2, afl-2-0, afl-2-1, afl-3-0, afmparse, agpl-1-0, agpl-1-0-only, agpl-1-0-or-later, agpl-3-0-only, agpl-3-0-or-later, aladdin, amdplpa, aml, ampas, antlr-pd, antlr-pd-fallback, apache-1-0, apache-1-1, apache-2-0, apafml, apl-1-0, apsl-1-0, apsl-1-1, apsl-1-2, apsl-2-0, artistic-1-0, artistic-1-0-cl8, artistic-1-0-perl, artistic-2-0, autoconf-exception-2-0, autoconf-exception-3-0, bahyph, barr, beerware, bison-exception-2-2, bittorrent-1-0, bittorrent-1-1, blessing, blueoak-1-0-0, bootloader-exception, borceux, bsd-1-clause, bsd-2-clause, bsd-2-clause-freebsd, bsd-2-clause-netbsd, bsd-2-clause-patent, bsd-2-clause-views, bsd-3-clause, bsd-3-clause-attribution, bsd-3-clause-clear, bsd-3-clause-lbnl, bsd-3-clause-modification, bsd-3-clause-no-nuclear-license, bsd-3-clause-no-nuclear-license-2014, bsd-3-clause-no-nuclear-warranty, bsd-3-clause-open-mpi, bsd-4-clause, bsd-4-clause-shortened, bsd-4-clause-uc, bsd-protection, bsd-source-code, bsl-1-0, busl-1-1, cal-1-0, cal-1-0-combined-work-exception, caldera, catosl-1-1, cc0-1-0, cc-by-1-0, cc-by-2-0, cc-by-3-0, cc-by-3-0-at, cc-by-3-0-us, cc-by-4-0, cc-by-nc-1-0, cc-by-nc-2-0, cc-by-nc-3-0, cc-by-nc-4-0, cc-by-nc-nd-1-0, cc-by-nc-nd-2-0, cc-by-nc-nd-3-0, cc-by-nc-nd-3-0-igo, cc-by-nc-nd-4-0, cc-by-nc-sa-1-0, cc-by-nc-sa-2-0, cc-by-nc-sa-3-0, cc-by-nc-sa-4-0, cc-by-nd-1-0, cc-by-nd-2-0, cc-by-nd-3-0, cc-by-nd-4-0, cc-by-sa-1-0, cc-by-sa-2-0, cc-by-sa-2-0-uk, cc-by-sa-2-1-jp, cc-by-sa-3-0, cc-by-sa-3-0-at, cc-by-sa-4-0, cc-pddc, cddl-1-0, cddl-1-1, cdla-permissive-1-0, cdla-sharing-1-0, cecill-1-0, cecill-1-1, cecill-2-0, cecill-2-1, cecill-b, cecill-c, cern-ohl-1-1, cern-ohl-1-2, cern-ohl-p-2-0, cern-ohl-s-2-0, cern-ohl-w-2-0, clartistic, classpath-exception-2-0, clisp-exception-2-0, cnri-jython, cnri-python, cnri-python-gpl-compatible, condor-1-1, copyleft-next-0-3-0, copyleft-next-0-3-1, cpal-1-0, cpl-1-0, cpol-1-02, crossword, crystal-stacker, cua-opl-1-0, cube, c-uda-1-0, curl, d-fsl-1-0, diffmark, digirule-foss-exception, doc, dotseqn, drl-1-0, dsdp, dvipdfm, ecl-1-0, ecl-2-0, ecos-exception-2-0, efl-1-0, efl-2-0, egenix, entessa, epics, epl-1-0, epl-2-0, erlpl-1-1, etalab-2-0, eu-datagrid, eupl-1-0, eupl-1-1, eupl-1-2, eurosym, fair, fawkes-runtime-exception, fltk-exception, font-exception-2-0, frameworx-1-0, freebsd-doc, freeimage, freertos-exception-2-0, fsfap, fsful, fsfullr, ftl, gcc-exception-2-0, gcc-exception-3-1, gd, gfdl-1-1-invariants-only, gfdl-1-1-invariants-or-later, gfdl-1-1-no-invariants-only, gfdl-1-1-no-invariants-or-later, gfdl-1-1-only, gfdl-1-1-or-later, gfdl-1-2-invariants-only, gfdl-1-2-invariants-or-later, gfdl-1-2-no-invariants-only, gfdl-1-2-no-invariants-or-later, gfdl-1-2-only, gfdl-1-2-or-later, gfdl-1-3-invariants-only, gfdl-1-3-invariants-or-later, gfdl-1-3-no-invariants-only, gfdl-1-3-no-invariants-or-later, gfdl-1-3-only, gfdl-1-3-or-later, giftware, gl2ps, glide, glulxe, glwtpl, gnu-javamail-exception, gnuplot, gpl-1-0-only, gpl-1-0-or-later, gpl-2-0-only, gpl-2-0-or-later, gpl-3-0-linking-exception, gpl-3-0-linking-source-exception, gpl-3-0-only, gpl-3-0-or-later, gpl-cc-1-0, gsoap-1-3b, haskell-report, hippocratic-2-1, hpnd, hpnd-sell-variant, htmltidy, i2p-gpl-java-exception, ibm-pibs, icu, ijg, image-magick, imatix, imlib2, info-zip, intel, intel-acpi, interbase-1-0, ipa, ipl-1-0, isc, jasper-2-0, jpnic, json, lal-1-2, lal-1-3, latex2e, leptonica, lgpl-2-0-only, lgpl-2-0-or-later, lgpl-2-1-only, lgpl-2-1-or-later, lgpl-3-0-linking-exception, lgpl-3-0-only, lgpl-3-0-or-later, lgpllr, libpng, libpng-2-0, libselinux-1-0, libtiff, libtool-exception, liliq-p-1-1, liliq-r-1-1, liliq-rplus-1-1, linux-openib, linux-syscall-note, llvm-exception, lpl-1-0, lpl-1-02, lppl-1-0, lppl-1-1, lppl-1-2, lppl-1-3a, lppl-1-3c, lzma-exception, make-index, mif-exception, miros, mit, mit-0, mit-advertising, mit-cmu, mit-enna, mit-feh, mit-modern-variant, mitnfa, mit-open-group, motosoto, mpich2, mpl-1-0, mpl-1-1, mpl-2-0, mpl-2-0-no-copyleft-exception, ms-pl, ms-rl, mtll, mulanpsl-1-0, mulanpsl-2-0, multics, mup, naist-2003, nasa-1-3, naumen, nbpl-1-0, ncgl-uk-2-0, ncsa, netcdf, net-snmp, newsletr, ngpl, nist-pd, nist-pd-fallback, nlod-1-0, nlpl, nokia, nokia-qt-exception-1-1, nosl, noweb, npl-1-0, npl-1-1, nposl-3-0, nrl, ntp, ntp-0, ocaml-lgpl-linking-exception, occt-exception-1-0, occt-pl, oclc-2-0, odbl-1-0, odc-by-1-0, ofl-1-0, ofl-1-0-no-rfn, ofl-1-0-rfn, ofl-1-1, ofl-1-1-no-rfn, ofl-1-1-rfn, ogc-1-0, ogdl-taiwan-1-0, ogl-canada-2-0, ogl-uk-1-0, ogl-uk-2-0, ogl-uk-3-0, ogtsl, oldap-1-1, oldap-1-2, oldap-1-3, oldap-1-4, oldap-2-0, oldap-2-0-1, oldap-2-1, oldap-2-2, oldap-2-2-1, oldap-2-2-2, oldap-2-3, oldap-2-4, oldap-2-7, oml, openjdk-assembly-exception-1-0, openssl, openvpn-openssl-exception, opl-1-0, oset-pl-2-1, osl-1-0, osl-1-1, osl-2-0, osl-2-1, osl-3-0, o-uda-1-0, parity-6-0-0, parity-7-0-0, pddl-1-0, php-3-0, php-3-01, plexus, polyform-noncommercial-1-0-0, polyform-small-business-1-0-0, postgresql, psf-2-0, psfrag, ps-or-pdf-font-exception-20170817, psutils, python-2-0, qhull, qpl-1-0, qt-gpl-exception-1-0, qt-lgpl-exception-1-1, qwt-exception-1-0, rdisc, rhecos-1-1, rpl-1-1, rpsl-1-0, rsa-md, rscpl, ruby, saxpath, sax-pd, scea, sendmail, sendmail-8-23, sgi-b-1-0, sgi-b-1-1, sgi-b-2-0, shl-0-51, shl-2-0, shl-2-1, simpl-2-0, sissl, sissl-1-2, sleepycat, smlnj, smppl, snia, spencer-86, spencer-94, spencer-99, spl-1-0, ssh-openssh, ssh-short, sspl-1-0, sugarcrm-1-1-3, swift-exception, swl, tapr-ohl-1-0, tcl, tcp-wrappers, tmate, torque-1-1, tosl, tu-berlin-1-0, tu-berlin-2-0, u-boot-exception-2-0, ucl-1-0, unicode-dfs-2015, unicode-dfs-2016, unicode-tou, universal-foss-exception-1-0, unlicense, upl-1-0, vim, vostrom, vsl-1-0, w3c, w3c-19980720, w3c-20150513, watcom-1-0, wsuipa, wtfpl, wxwindows-exception-3-1, x11, xerox, xfree86-1-1, xinetd, xnet, xpp, xskat, ypl-1-0, ypl-1-1, zed, zend-2-0, zimbra-1-3, zimbra-1-4, zlib, zlib-acknowledgement, zpl-1-1, zpl-2-0, zpl-2-1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository initialization configuration."
      }
    },
    "com.gcp.securesourcemanager_v1#TreeEntry": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SHA-1 hash of the object (unique identifier). Output-only."
          }
        },
        "type": {
          "target": "com.gcp.securesourcemanager_v1#TreeEntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the object (TREE, BLOB, COMMIT). Output-only."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path of the file or directory within the tree (e.g., \"src/main/java/MyClass.java\"). Output-only."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The file mode as a string (e.g., \"100644\"). Indicates file type. Output-only."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the object in bytes (only for blobs). Output-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an entry within a tree structure (like a Git tree)."
      }
    },
    "com.gcp.securesourcemanager_v1#TreeEntryTypeEnum": {
      "type": "enum",
      "members": {
        "OBJECT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_TYPE_UNSPECIFIED"
          }
        },
        "TREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TREE"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "COMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#CloseIssueRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, closing will be blocked and an ABORTED error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to close an issue."
      }
    },
    "com.gcp.securesourcemanager_v1#BatchCreatePullRequestCommentsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.securesourcemanager_v1#CreatePullRequestCommentRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to create. There should be exactly one CreatePullRequestCommentRequest with CommentDetail being REVIEW in the list, and no more than 100 CreatePullRequestCommentRequests with CommentDetail being CODE in the list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to batch create pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#CreatePullRequestCommentRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#CreatePullRequestCommentRequest"
      }
    },
    "com.gcp.securesourcemanager_v1#IssueComment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique identifier for an issue comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue}/issueComments/{comment_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last updated timestamp."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The comment body."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IssueComment represents a comment on an issue."
      }
    },
    "com.gcp.securesourcemanager_v1#ScanConfig": {
      "type": "structure",
      "members": {
        "secretScanConfig": {
          "target": "com.gcp.securesourcemanager_v1#SecretScanConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for secret scanning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for scanning."
      }
    },
    "com.gcp.securesourcemanager_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.securesourcemanager_v1#Branch": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the branch."
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The commit at the tip of the branch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Branch represents a branch involved in a pull request."
      }
    },
    "com.gcp.securesourcemanager_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.securesourcemanager_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.securesourcemanager_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.securesourcemanager_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Operation"
      }
    },
    "com.gcp.securesourcemanager_v1#URIs": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. HTML is the URI for user to view the repository in a browser."
          }
        },
        "gitHttps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. git_https is the git HTTPS URI for git operations."
          }
        },
        "api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API is the URI for API access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URIs for the repository."
      }
    },
    "com.gcp.securesourcemanager_v1#Position": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The path of the file."
          }
        },
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The line number of the comment. Positive value means it's on the new side of the diff, negative value means it's on the old side."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The position of the code comment."
      }
    },
    "com.gcp.securesourcemanager_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "instances": {
          "target": "com.gcp.securesourcemanager_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "The list of instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Instance"
      }
    },
    "com.gcp.securesourcemanager_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.securesourcemanager_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.securesourcemanager_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.securesourcemanager_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Binding"
      }
    },
    "com.gcp.securesourcemanager_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#AuditConfig"
      }
    },
    "com.gcp.securesourcemanager_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.securesourcemanager_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.securesourcemanager_v1#Hook": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.gcp.securesourcemanager_v1#HookEventsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The events that trigger hook on."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A unique identifier for a Hook. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`"
          }
        },
        "targetUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The target URI to which the payloads will be delivered."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if the hook disabled or not. Set to true to stop sending traffic."
          }
        },
        "sensitiveQueryString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The sensitive query string to be appended to the target URI."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create timestamp."
          }
        },
        "pushOption": {
          "target": "com.gcp.securesourcemanager_v1#PushOption",
          "traits": {
            "smithy.api#documentation": "Optional. The trigger option for push events."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the hook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a Secure Source Manager Hook."
      }
    },
    "com.gcp.securesourcemanager_v1#HookEventsItemEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH"
          }
        },
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PULL_REQUEST"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#HookEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#HookEventsItemEnum"
      }
    },
    "com.gcp.securesourcemanager_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.securesourcemanager_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.securesourcemanager_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#ListHooksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "hooks": {
          "target": "com.gcp.securesourcemanager_v1#HookList",
          "traits": {
            "smithy.api#documentation": "The list of hooks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListHooksResponse is response to list hooks."
      }
    },
    "com.gcp.securesourcemanager_v1#HookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Hook"
      }
    },
    "com.gcp.securesourcemanager_v1#ListIssueCommentsResponse": {
      "type": "structure",
      "members": {
        "issueComments": {
          "target": "com.gcp.securesourcemanager_v1#IssueCommentList",
          "traits": {
            "smithy.api#documentation": "The list of issue comments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to list issue comments."
      }
    },
    "com.gcp.securesourcemanager_v1#IssueCommentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#IssueComment"
      }
    },
    "com.gcp.securesourcemanager_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.securesourcemanager_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.securesourcemanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#DocumentMap"
      }
    },
    "com.gcp.securesourcemanager_v1#FetchTreeResponse": {
      "type": "structure",
      "members": {
        "treeEntries": {
          "target": "com.gcp.securesourcemanager_v1#TreeEntryList",
          "traits": {
            "smithy.api#documentation": "The list of TreeEntry objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing a list of TreeEntry objects."
      }
    },
    "com.gcp.securesourcemanager_v1#TreeEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#TreeEntry"
      }
    },
    "com.gcp.securesourcemanager_v1#CustomHostConfig": {
      "type": "structure",
      "members": {
        "gitSsh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The custom git ssh hostname for the instance, e.g., \"ssh.source.internal.mycompany.com\""
          }
        },
        "gitHttp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The custom git http hostname for the instance, e.g., \"git.source.internal.mycompany.com\""
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The custom UI hostname for the instance, e.g., \"git.source.internal.mycompany.com\""
          }
        },
        "api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The custom API hostname for the instance, e.g., \"api.source.internal.mycompany.com\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom host config for the instance."
      }
    },
    "com.gcp.securesourcemanager_v1#BatchCreatePullRequestCommentsResponse": {
      "type": "structure",
      "members": {
        "pullRequestComments": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestCommentList",
          "traits": {
            "smithy.api#documentation": "The list of pull request comments created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to batch create pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#ListRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.securesourcemanager_v1#RepositoryList",
          "traits": {
            "smithy.api#documentation": "The list of repositories."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#RepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Repository"
      }
    },
    "com.gcp.securesourcemanager_v1#WorkforceIdentityFederationConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Whether Workforce Identity Federation is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkforceIdentityFederationConfig allows this instance to support users from external identity providers."
      }
    },
    "com.gcp.securesourcemanager_v1#BranchRule": {
      "type": "structure",
      "members": {
        "requiredStatusChecks": {
          "target": "com.gcp.securesourcemanager_v1#CheckList",
          "traits": {
            "smithy.api#documentation": "Optional. List of required status checks before merging to the branch."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        },
        "allowStaleReviews": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if allow stale reviews or approvals before merging to the branch."
          }
        },
        "annotations": {
          "target": "com.gcp.securesourcemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. These attributes can only be set and used by the user. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
          }
        },
        "minimumApprovalsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum number of approvals required for the branch rule to be matched."
          }
        },
        "includePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The pattern of the branch that can match to this BranchRule. Specified as regex. .* for all branches. Examples: main, (main|release.*). Current MVP phase only support `.*` for wildcard."
          }
        },
        "requireLinearHistory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if require linear history before merging to the branch."
          }
        },
        "requirePullRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if the branch rule requires a pull request or not."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A unique identifier for a BranchRule. The name should be of the format: `projects/{project}/locations/{location}/repositories/{repository}/branchRules/{branch_rule}`"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if the branch rule is disabled or not."
          }
        },
        "requireCommentsResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if require comments resolved before merging to the branch."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the repository."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create timestamp."
          }
        },
        "requireCodeOwnerApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if code owners must approve before merging to the branch."
          }
        },
        "minimumReviewsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum number of reviews required for the branch rule to be matched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a BranchRule. BranchRule is the protection rule to enforce pre-defined rules on designated branches within a repository."
      }
    },
    "com.gcp.securesourcemanager_v1#CheckList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Check"
      }
    },
    "com.gcp.securesourcemanager_v1#Comment": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The comment body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The general pull request comment."
      }
    },
    "com.gcp.securesourcemanager_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.securesourcemanager_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.securesourcemanager_v1#PushOption": {
      "type": "structure",
      "members": {
        "branchFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Trigger hook for matching branches only. Specified as glob pattern. If empty or *, events for all branches are reported. Examples: main, {main,release*}. See https://pkg.go.dev/github.com/gobwas/glob documentation."
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#PullRequest": {
      "type": "structure",
      "members": {
        "base": {
          "target": "com.gcp.securesourcemanager_v1#Branch",
          "traits": {
            "smithy.api#documentation": "Required. The branch to merge changes in."
          }
        },
        "closeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Close timestamp (if closed or merged). Cleared when pull request is re-opened."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. A unique identifier for a PullRequest. The number appended at the end is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request_id}`"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The pull request title."
          }
        },
        "head": {
          "target": "com.gcp.securesourcemanager_v1#Branch",
          "traits": {
            "smithy.api#documentation": "Immutable. The branch containing the changes to be merged."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last updated timestamp."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The pull request body. Provides a detailed description of the changes."
          }
        },
        "state": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the pull request (open, closed or merged)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of a PullRequest. PullRequest is the request from a user to merge a branch (head) into another branch (base)."
      }
    },
    "com.gcp.securesourcemanager_v1#PullRequestStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGED"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#ListPullRequestsResponse": {
      "type": "structure",
      "members": {
        "pullRequests": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestList",
          "traits": {
            "smithy.api#documentation": "The list of pull requests."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListPullRequestsResponse is the response to list pull requests."
      }
    },
    "com.gcp.securesourcemanager_v1#PullRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#PullRequest"
      }
    },
    "com.gcp.securesourcemanager_v1#Check": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The context of the check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check is a type for status check."
      }
    },
    "com.gcp.securesourcemanager_v1#ListPullRequestFileDiffsResponse": {
      "type": "structure",
      "members": {
        "fileDiffs": {
          "target": "com.gcp.securesourcemanager_v1#FileDiffList",
          "traits": {
            "smithy.api#documentation": "The list of pull request file diffs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListPullRequestFileDiffsResponse is the response containing file diffs returned from ListPullRequestFileDiffs."
      }
    },
    "com.gcp.securesourcemanager_v1#FileDiffList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#FileDiff"
      }
    },
    "com.gcp.securesourcemanager_v1#ListBranchRulesResponse": {
      "type": "structure",
      "members": {
        "branchRules": {
          "target": "com.gcp.securesourcemanager_v1#BranchRuleList",
          "traits": {
            "smithy.api#documentation": "The list of branch rules."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBranchRulesResponse is the response to listing branchRules."
      }
    },
    "com.gcp.securesourcemanager_v1#BranchRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#BranchRule"
      }
    },
    "com.gcp.securesourcemanager_v1#SecretScanConfig": {
      "type": "structure",
      "members": {
        "inspectTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The DLP inspect template to use for secret scanning."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables secret scanning for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for secret scanning."
      }
    },
    "com.gcp.securesourcemanager_v1#ListPullRequestCommentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to set as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "pullRequestComments": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestCommentList",
          "traits": {
            "smithy.api#documentation": "The list of pull request comments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to list pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#ListIssuesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "issues": {
          "target": "com.gcp.securesourcemanager_v1#IssueList",
          "traits": {
            "smithy.api#documentation": "The list of issues."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to list issues."
      }
    },
    "com.gcp.securesourcemanager_v1#IssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#Issue"
      }
    },
    "com.gcp.securesourcemanager_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.securesourcemanager_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.securesourcemanager_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securesourcemanager_v1#AuditLogConfig"
      }
    },
    "com.gcp.securesourcemanager_v1#PrivateConfig": {
      "type": "structure",
      "members": {
        "caPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. CA pool resource, resource must in the format of `projects/{project}/locations/{location}/caPools/{ca_pool}`."
          }
        },
        "customHostConfig": {
          "target": "com.gcp.securesourcemanager_v1#CustomHostConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Custom host config for the instance."
          }
        },
        "sshServiceAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service Attachment for SSH, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`."
          }
        },
        "isPrivate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Indicate if it's private instance."
          }
        },
        "httpServiceAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service Attachment for HTTP, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`."
          }
        },
        "pscAllowedProjects": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional allowed projects for setting up PSC connections. Instance host project is automatically allowed and does not need to be included in this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrivateConfig includes settings for private instance."
      }
    },
    "com.gcp.securesourcemanager_v1#UnresolvePullRequestCommentsResponse": {
      "type": "structure",
      "members": {
        "pullRequestComments": {
          "target": "com.gcp.securesourcemanager_v1#PullRequestCommentList",
          "traits": {
            "smithy.api#documentation": "The list of pull request comments unresolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to unresolve multiple pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.securesourcemanager_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.securesourcemanager_v1#Issue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique identifier for an issue. The issue id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}`"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Issue title."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last updated timestamp."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "state": {
          "target": "com.gcp.securesourcemanager_v1#IssueStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the issue."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Issue body. Provides a detailed description of the issue."
          }
        },
        "closeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Close timestamp (if closed). Cleared when is re-opened."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an Issue."
      }
    },
    "com.gcp.securesourcemanager_v1#IssueStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#ResolvePullRequestCommentsRequest": {
      "type": "structure",
      "members": {
        "autoFill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to resolved. If unset, all comments in the same thread need be present."
          }
        },
        "names": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The names of the pull request comments to resolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to resolve multiple pull request comments."
      }
    },
    "com.gcp.securesourcemanager_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.securesourcemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.securesourcemanager_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.securesourcemanager_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.securesourcemanager_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.securesourcemanager_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.securesourcemanager_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.securesourcemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.securesourcemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
[...]
