{
  "smithy": "2.0",
  "metadata": {
    "service": "servicemanagement",
    "version": "v1",
    "title": "Service Management API",
    "baseUrl": "https://servicemanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicemanagement_v1#MetricDescriptor": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description of the metric, which can be used in documentation."
          }
        },
        "metricKind": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorMetricKindEnum",
          "traits": {
            "smithy.api#documentation": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of `metric_kind` and `value_type` might not be supported."
          }
        },
        "labels": {
          "target": "com.gcp.servicemanagement_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that can be used to describe a specific instance of this metric type. For example, the `appengine.googleapis.com/http/server/response_latencies` metric type has a label for the HTTP response code, `response_code`, so you can look at latencies for successful responses or just for responses that failed."
          }
        },
        "metadata": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata which can be used to guide usage of the metric."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name `custom.googleapis.com` or `external.googleapis.com`. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\""
          }
        },
        "monitoredResourceTypes": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota."
          }
        },
        "valueType": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of `metric_kind` and `value_type` might not be supported."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. Different systems might scale the values to be more easily displayed (so a value of `0.02kBy` _might_ be displayed as `20By`, and a value of `3523kBy` _might_ be displayed as `3.5MBy`). However, if the `unit` is `kBy`, then the value of the metric is always in thousands of bytes, no matter how it might be displayed. If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an `INT64 CUMULATIVE` metric whose `unit` is `s{CPU}` (or equivalently `1s{CPU}` or just `s`). If the job uses 12,005 CPU-seconds, then the value is written as `12005`. Alternatively, if you want a custom metric to record data in a more granular way, you can create a `DOUBLE CUMULATIVE` metric whose `unit` is `ks{CPU}`, and then write the value `12.005` (which is `12005/1000`), or use `Kis{CPU}` and write `11.723` (which is `12005/1024`). The supported units are a subset of [The Unified Code for Units of Measure](https://unitsofmeasure.org/ucum.html) standard: **Basic units (UNIT)** * `bit` bit * `By` byte * `s` second * `min` minute * `h` hour * `d` day * `1` dimensionless **Prefixes (PREFIX)** * `k` kilo (10^3) * `M` mega (10^6) * `G` giga (10^9) * `T` tera (10^12) * `P` peta (10^15) * `E` exa (10^18) * `Z` zetta (10^21) * `Y` yotta (10^24) * `m` milli (10^-3) * `u` micro (10^-6) * `n` nano (10^-9) * `p` pico (10^-12) * `f` femto (10^-15) * `a` atto (10^-18) * `z` zepto (10^-21) * `y` yocto (10^-24) * `Ki` kibi (2^10) * `Mi` mebi (2^20) * `Gi` gibi (2^30) * `Ti` tebi (2^40) * `Pi` pebi (2^50) **Grammar** The grammar also includes these connectors: * `/` division or ratio (as an infix operator). For examples, `kBy/{email}` or `MiBy/10ms` (although you should almost never have `/s` in a metric `unit`; rates should always be computed at query time from the underlying cumulative or delta value). * `.` multiplication or composition (as an infix operator). For examples, `GBy.d` or `k{watt}.h`. The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: * `Annotation` is just a comment if it follows a `UNIT`. If the annotation is used alone, then the unit is equivalent to `1`. For examples, `{request}/s == 1/s`, `By{transmitted}/s == By/s`. * `NAME` is a sequence of non-blank printable ASCII characters not containing `{` or `}`. * `1` represents a unitary [dimensionless unit](https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in `1/s`. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as `1/d` or `{new-users}/d` (and a metric value `5` would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as `1000/d` or `k1/d` or `k{page_views}/d` (and a metric value of `5.3` would mean \"5300 page views per day\"). * `%` represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value `3` means \"3 percent\"). * `10^2.%` indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value `0.03` means \"3 percent\")."
          }
        },
        "launchStage": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the metric definition."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the metric descriptor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable. "
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorMetricKindEnum": {
      "type": "enum",
      "members": {
        "METRIC_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_KIND_UNSPECIFIED"
          }
        },
        "GAUGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAUGE"
          }
        },
        "DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELTA"
          }
        },
        "CUMULATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUMULATIVE"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#LabelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#LabelDescriptor"
      }
    },
    "com.gcp.servicemanagement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
        "VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT64"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "DISTRIBUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTRIBUTION"
          }
        },
        "MONEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONEY"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#SystemParameter": {
      "type": "structure",
      "members": {
        "httpHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the HTTP header name to use for the parameter. It is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the name of the parameter, such as \"api_key\" . It is case sensitive."
          }
        },
        "urlQueryParameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the URL query parameter name to use for the parameter. It is case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a parameter's name and location. The parameter may be passed as either an HTTP header or a URL query parameter, and if both are passed the behavior is implementation-dependent."
      }
    },
    "com.gcp.servicemanagement_v1#CppSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.servicemanagement_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for C++ client libraries."
      }
    },
    "com.gcp.servicemanagement_v1#BatchingDescriptorProto": {
      "type": "structure",
      "members": {
        "batchedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repeated field in the request message to be aggregated by batching."
          }
        },
        "discriminatorFields": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests."
          }
        },
        "subresponseField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing."
      }
    },
    "com.gcp.servicemanagement_v1#BackendRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the API backend. The scheme is used to determine the backend protocol and security. The following schemes are accepted: SCHEME PROTOCOL SECURITY http:// HTTP None https:// HTTP TLS grpc:// gRPC None grpcs:// gRPC TLS It is recommended to explicitly include a scheme. Leaving out the scheme may cause constrasting behaviors across platforms. If the port is unspecified, the default is: - 80 for schemes without TLS - 443 for schemes with TLS For HTTP backends, use protocol to specify the protocol version."
          }
        },
        "deadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for a response from a request. The default varies based on the request protocol and deployment environment."
          }
        },
        "jwtAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JWT audience is used when generating a JWT ID token for the backend. This ID token will be added in the HTTP \"authorization\" header, and sent to the backend."
          }
        },
        "overridesByRequestProtocol": {
          "target": "com.gcp.servicemanagement_v1#BackendRuleMap",
          "traits": {
            "smithy.api#documentation": "The map between request protocol and the backend address."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protocol used for sending a request to the backend. The supported values are \"http/1.1\" and \"h2\". The default value is inferred from the scheme in the address field: SCHEME PROTOCOL http:// http/1.1 https:// http/1.1 grpc:// h2 grpcs:// h2 For secure HTTP backends (https://) that support HTTP/2, set this field to \"h2\" for improved performance. Configuring this field to non-default values is only supported for secure HTTP backends. This field will be ignored for all other backends. See https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids for more details on the supported values."
          }
        },
        "loadBalancingPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The load balancing policy used for connection to the application backend. Defined as an arbitrary string to accomondate custom load balancing policies supported by the underlying channel, but suggest most users use one of the standard policies, such as the default, \"RoundRobin\"."
          }
        },
        "operationDeadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for the completion of a long running operation. The default is no deadline."
          }
        },
        "pathTranslation": {
          "target": "com.gcp.servicemanagement_v1#BackendRulePathTranslationEnum",
          "traits": {
            "smithy.api#documentation": "Path translation specifies how to combine the backend address with the request path in order to produce the appropriate forwarding URL for the request. See PathTranslation for more details."
          }
        },
        "disableAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When disable_auth is true, a JWT ID token won't be generated and the original \"Authorization\" HTTP header will be preserved. If the header is used to carry the original token and is expected by the backend, this field must be set to true to preserve the header."
          }
        },
        "minDeadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Deprecated, do not use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backend rule provides configuration for an individual API element."
      }
    },
    "com.gcp.servicemanagement_v1#BackendRuleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.servicemanagement_v1#BackendRule"
      }
    },
    "com.gcp.servicemanagement_v1#BackendRulePathTranslationEnum": {
      "type": "enum",
      "members": {
        "PATH_TRANSLATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH_TRANSLATION_UNSPECIFIED"
          }
        },
        "CONSTANT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTANT_ADDRESS"
          }
        },
        "APPEND_PATH_TO_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_PATH_TO_ADDRESS"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#Type": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.servicemanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "fields": {
          "target": "com.gcp.servicemanagement_v1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "syntax": {
          "target": "com.gcp.servicemanagement_v1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "oneofs": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "sourceContext": {
          "target": "com.gcp.servicemanagement_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicemanagement_v1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#Option"
      }
    },
    "com.gcp.servicemanagement_v1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#Field"
      }
    },
    "com.gcp.servicemanagement_v1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#AspectRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Selects the RPC methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "config": {
          "target": "com.gcp.servicemanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. Rules of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule-based configuration for an aspect."
      }
    },
    "com.gcp.servicemanagement_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicemanagement_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.servicemanagement_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.servicemanagement_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.servicemanagement_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#AuditConfig"
      }
    },
    "com.gcp.servicemanagement_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#Binding"
      }
    },
    "com.gcp.servicemanagement_v1#MetricRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "metricCosts": {
          "target": "com.gcp.servicemanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Metrics to update when the selected methods are called, and the associated cost applied to each metric. The key of the map is the metric name, and the values are the amount increased for the metric against which the quota limits are defined. The value must not be negative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bind API methods to metrics. Binding a method to a metric causes that metric's configured quota behaviors to apply to the method call."
      }
    },
    "com.gcp.servicemanagement_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicemanagement_v1#QuotaLimit": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.servicemanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported."
          }
        },
        "maxLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only."
          }
        },
        "freeTier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`)."
          }
        },
        "defaultLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the unit of the quota limit. It uses the same syntax as MetricDescriptor.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`."
      }
    },
    "com.gcp.servicemanagement_v1#Context": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicemanagement_v1#ContextRuleList",
          "traits": {
            "smithy.api#documentation": "A list of RPC context rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Context` defines which contexts an API requests. Example: context: rules: - selector: \"*\" requested: - google.rpc.context.ProjectContext - google.rpc.context.OriginContext The above specifies that all methods in the API request `google.rpc.context.ProjectContext` and `google.rpc.context.OriginContext`. Available context types are defined in package `google.rpc.context`. This also provides mechanism to allowlist any protobuf message extension that can be sent in grpc metadata using “x-goog-ext--bin” and “x-goog-ext--jspb” format. For example, list any service specific protobuf types that can appear in grpc metadata as follows in your yaml file: Example: context: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allowed_request_extensions: - google.foo.v1.NewExtension allowed_response_extensions: - google.foo.v1.NewExtension You can also specify extension ID instead of fully qualified extension name here."
      }
    },
    "com.gcp.servicemanagement_v1#ContextRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#ContextRule"
      }
    },
    "com.gcp.servicemanagement_v1#ManagedService": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service. See the [overview](https://cloud.google.com/service-infrastructure/docs/overview) for naming requirements."
          }
        },
        "producerProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project that produces and owns this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full representation of a Service that is managed by Google Service Management."
      }
    },
    "com.gcp.servicemanagement_v1#Endpoint": {
      "type": "structure",
      "members": {
        "aliases": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.servicemanagement_v1#CustomError": {
      "type": "structure",
      "members": {
        "types": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'."
          }
        },
        "rules": {
          "target": "com.gcp.servicemanagement_v1#CustomErrorRuleList",
          "traits": {
            "smithy.api#documentation": "The list of custom error rules that apply to individual API messages. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customize service error responses. For example, list any service specific protobuf types that can appear in error detail lists of error responses. Example: custom_error: types: - google.foo.v1.CustomError - google.foo.v1.AnotherError"
      }
    },
    "com.gcp.servicemanagement_v1#CustomErrorRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#CustomErrorRule"
      }
    },
    "com.gcp.servicemanagement_v1#LogDescriptor": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.]."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name for this log. This information appears on the user interface and should be concise."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of this log. This information appears in the documentation and can contain details."
          }
        },
        "labels": {
          "target": "com.gcp.servicemanagement_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer"
      }
    },
    "com.gcp.servicemanagement_v1#Monitoring": {
      "type": "structure",
      "members": {
        "producerDestinations": {
          "target": "com.gcp.servicemanagement_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        },
        "consumerDestinations": {
          "target": "com.gcp.servicemanagement_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
      }
    },
    "com.gcp.servicemanagement_v1#MonitoringDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#MonitoringDestination"
      }
    },
    "com.gcp.servicemanagement_v1#Http": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicemanagement_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "A list of HTTP configuration rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "fullyDecodeReservedExpansion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, URL path parameters will be fully URI-decoded except in cases of single segment matches in reserved expansion, where \"%2F\" will be left encoded. The default behavior is to not decode RFC 6570 reserved characters in multi segment matches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the HTTP configuration for an API service. It contains a list of HttpRule, each specifying the mapping of an RPC method to one or more HTTP REST API methods."
      }
    },
    "com.gcp.servicemanagement_v1#HttpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#HttpRule"
      }
    },
    "com.gcp.servicemanagement_v1#GenerateConfigReportRequest": {
      "type": "structure",
      "members": {
        "newConfig": {
          "target": "com.gcp.servicemanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. Service configuration for which we want to generate the report. For this version of API, the supported types are google.api.servicemanagement.v1.ConfigRef, google.api.servicemanagement.v1.ConfigSource, and google.api.Service"
          }
        },
        "oldConfig": {
          "target": "com.gcp.servicemanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Service configuration against which the comparison will be done. For this version of API, the supported types are google.api.servicemanagement.v1.ConfigRef, google.api.servicemanagement.v1.ConfigSource, and google.api.Service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GenerateConfigReport method."
      }
    },
    "com.gcp.servicemanagement_v1#Documentation": {
      "type": "structure",
      "members": {
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        },
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.servicemanagement_v1#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        },
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "pages": {
          "target": "com.gcp.servicemanagement_v1#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "rules": {
          "target": "com.gcp.servicemanagement_v1#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.servicemanagement_v1#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#Page"
      }
    },
    "com.gcp.servicemanagement_v1#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#DocumentationRule"
      }
    },
    "com.gcp.servicemanagement_v1#EnumValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        },
        "options": {
          "target": "com.gcp.servicemanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicemanagement_v1#SelectiveGapicGeneration": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces."
          }
        },
        "generateOmittedAsInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases."
      }
    },
    "com.gcp.servicemanagement_v1#ExperimentalFeatures": {
      "type": "structure",
      "members": {
        "restAsyncIoEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of asynchronous REST clients if `rest` transport is enabled. By default, asynchronous REST clients will not be generated. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        },
        "protobufPythonicTypesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of protobuf code using new types that are more Pythonic which are included in `protobuf>=5.29.x`. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        },
        "unversionedPackageDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables generation of an unversioned Python package for this client library. This means that the module names will need to be versioned in import statements. For example `import google.cloud.library_v2` instead of `import google.cloud.library`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experimental features to be included during client library generation. These fields will be deprecated once the feature graduates and is enabled by default."
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorMetadata": {
      "type": "structure",
      "members": {
        "ingestDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
          }
        },
        "launchStage": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorMetadataLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. Must use the MetricDescriptor.launch_stage instead."
          }
        },
        "samplePeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
          }
        },
        "timeSeriesResourceHierarchyLevel": {
          "target": "com.gcp.servicemanagement_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The scope of the timeseries data of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional annotations that can be used to guide the usage of a metric."
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorMetadataLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum": {
      "type": "enum",
      "members": {
        "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum"
      }
    },
    "com.gcp.servicemanagement_v1#Field": {
      "type": "structure",
      "members": {
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the default value of this field. Proto2 syntax only."
          }
        },
        "options": {
          "target": "com.gcp.servicemanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "jsonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field JSON name."
          }
        },
        "cardinality": {
          "target": "com.gcp.servicemanagement_v1#FieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "The field cardinality."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The field number."
          }
        },
        "typeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type URL, without the scheme, for message or enumeration types. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`."
          }
        },
        "kind": {
          "target": "com.gcp.servicemanagement_v1#FieldKindEnum",
          "traits": {
            "smithy.api#documentation": "The field type."
          }
        },
        "oneofIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the field type in `Type.oneofs`, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        },
        "packed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use alternative packed wire representation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single field of a message type. New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicemanagement_v1#FieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "CARDINALITY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_UNKNOWN"
          }
        },
        "CARDINALITY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_OPTIONAL"
          }
        },
        "CARDINALITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REQUIRED"
          }
        },
        "CARDINALITY_REPEATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REPEATED"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#FieldKindEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DOUBLE"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT64"
          }
        },
        "TYPE_UINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT64"
          }
        },
        "TYPE_INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT32"
          }
        },
        "TYPE_FIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED64"
          }
        },
        "TYPE_FIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED32"
          }
        },
        "TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BOOL"
          }
        },
        "TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STRING"
          }
        },
        "TYPE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GROUP"
          }
        },
        "TYPE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MESSAGE"
          }
        },
        "TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BYTES"
          }
        },
        "TYPE_UINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT32"
          }
        },
        "TYPE_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ENUM"
          }
        },
        "TYPE_SFIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED32"
          }
        },
        "TYPE_SFIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED64"
          }
        },
        "TYPE_SINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT32"
          }
        },
        "TYPE_SINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT64"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#MethodSettings": {
      "type": "structure",
      "members": {
        "autoPopulatedFields": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of top-level fields of the request message, that should be automatically populated by the client libraries based on their (google.api.field_info).format. Currently supported format: UUID4. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.CreateExample auto_populated_fields: - request_id"
          }
        },
        "batching": {
          "target": "com.gcp.servicemanagement_v1#BatchingConfigProto",
          "traits": {
            "smithy.api#documentation": "Batching configuration for an API method in client libraries. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.BatchCreateExample batching: element_count_threshold: 1000 request_byte_threshold: 100000000 delay_threshold_millis: 10"
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the method, for which the options below apply. This is used to find the method to apply the options. Example: publishing: method_settings: - selector: google.storage.control.v2.StorageControl.CreateFolder # method settings for CreateFolder..."
          }
        },
        "longRunning": {
          "target": "com.gcp.servicemanagement_v1#LongRunning",
          "traits": {
            "smithy.api#documentation": "Describes settings to use for long-running operations when generating API methods for RPCs. Complements RPCs that use the annotations in google/longrunning/operations.proto. Example of a YAML configuration:: publishing: method_settings: - selector: google.cloud.speech.v2.Speech.BatchRecognize long_running: initial_poll_delay: 60s # 1 minute poll_delay_multiplier: 1.5 max_poll_delay: 360s # 6 minutes total_poll_timeout: 54000s # 90 minutes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the generator configuration for a method."
      }
    },
    "com.gcp.servicemanagement_v1#UndeleteServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.servicemanagement_v1#ManagedService",
          "traits": {
            "smithy.api#documentation": "Revived service resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for UndeleteService method."
      }
    },
    "com.gcp.servicemanagement_v1#Billing": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.servicemanagement_v1#BillingDestinationList",
          "traits": {
            "smithy.api#documentation": "Billing configurations for sending metrics to the consumer project. There can be multiple consumer destinations per service, each one must have a different monitored resource type. A metric can be used in at most one consumer destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing related configuration of the service. The following example shows how to configure monitored resources and metrics for billing, `consumer_destinations` is the only supported destination and the monitored resources need at least one label key `cloud.googleapis.com/location` to indicate the location of the billing usage, using different monitored resources between monitoring and billing is recommended so they can be evolved independently: monitored_resources: - type: library.googleapis.com/billing_branch labels: - key: cloud.googleapis.com/location description: | Predefined label to support billing location restriction. - key: city description: | Custom label to define the city where the library branch is located in. - key: name description: Custom label to define the name of the library branch. metrics: - name: library.googleapis.com/book/borrowed_count metric_kind: DELTA value_type: INT64 unit: \"1\" billing: consumer_destinations: - monitored_resource: library.googleapis.com/billing_branch metrics: - library.googleapis.com/book/borrowed_count"
      }
    },
    "com.gcp.servicemanagement_v1#BillingDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#BillingDestination"
      }
    },
    "com.gcp.servicemanagement_v1#FlowErrorDetails": {
      "type": "structure",
      "members": {
        "flowStepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The step that failed."
          }
        },
        "exceptionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of exception (as a class name)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulation of flow-specific error details for debugging. Used as a details field on an error Status, not intended for external use."
      }
    },
    "com.gcp.servicemanagement_v1#CommonLanguageSettings": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.servicemanagement_v1#CommonLanguageSettingsDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The destination where API teams want this client library to be published."
          }
        },
        "selectiveGapicGeneration": {
          "target": "com.gcp.servicemanagement_v1#SelectiveGapicGeneration",
          "traits": {
            "smithy.api#documentation": "Configuration for which RPCs should be generated in the GAPIC client. Note: This field should not be used in most cases."
          }
        },
        "referenceDocsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to automatically generated reference documentation. Example: https://cloud.google.com/nodejs/docs/reference/asset/latest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required information for every language."
      }
    },
    "com.gcp.servicemanagement_v1#CommonLanguageSettingsDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "PACKAGE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_MANAGER"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#CommonLanguageSettingsDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#CommonLanguageSettingsDestinationsItemEnum"
      }
    },
    "com.gcp.servicemanagement_v1#SubmitConfigSourceResponse": {
      "type": "structure",
      "members": {
        "serviceConfig": {
          "target": "com.gcp.servicemanagement_v1#Service",
          "traits": {
            "smithy.api#documentation": "The generated service configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SubmitConfigSource method."
      }
    },
    "com.gcp.servicemanagement_v1#CustomErrorRule": {
      "type": "structure",
      "members": {
        "isErrorType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects messages to which this rule applies. Refer to selector for syntax details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom error rule."
      }
    },
    "com.gcp.servicemanagement_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.servicemanagement_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.servicemanagement_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#DocumentMap"
      }
    },
    "com.gcp.servicemanagement_v1#Control": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service controller environment to use. If empty, no control plane features (like quota and billing) will be enabled. The recommended value for most services is servicecontrol.googleapis.com."
          }
        },
        "methodPolicies": {
          "target": "com.gcp.servicemanagement_v1#MethodPolicyList",
          "traits": {
            "smithy.api#documentation": "Defines policies applying to the API methods of the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selects and configures the service controller used by the service. Example: control: environment: servicecontrol.googleapis.com"
      }
    },
    "com.gcp.servicemanagement_v1#MethodPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#MethodPolicy"
      }
    },
    "com.gcp.servicemanagement_v1#ConfigChange": {
      "type": "structure",
      "members": {
        "element": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object hierarchy path to the change, with levels separated by a '.' character. For repeated fields, an applicable unique identifier field is used for the index (usually selector, name, or id). For maps, the term 'key' is used. If the field has no unique identifier, the numeric index is used. Examples: - visibility.rules[selector==\"google.LibraryService.ListBooks\"].restriction - quota.metric_rules[selector==\"google\"].metric_costs[key==\"reads\"].value - logging.producer_destinations[0]"
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the changed object in the old Service configuration, in JSON format. This field will not be populated if ChangeType == ADDED."
          }
        },
        "advices": {
          "target": "com.gcp.servicemanagement_v1#AdviceList",
          "traits": {
            "smithy.api#documentation": "Collection of advice provided for this change, useful for determining the possible impact of this change."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the changed object in the new Service configuration, in JSON format. This field will not be populated if ChangeType == REMOVED."
          }
        },
        "changeType": {
          "target": "com.gcp.servicemanagement_v1#ConfigChangeChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type for this change, either ADDED, REMOVED, or MODIFIED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output generated from semantically comparing two versions of a service configuration. Includes detailed information about a field that have changed with applicable advice about potential consequences for the change, such as backwards-incompatibility."
      }
    },
    "com.gcp.servicemanagement_v1#AdviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#Advice"
      }
    },
    "com.gcp.servicemanagement_v1#ConfigChangeChangeTypeEnum": {
      "type": "enum",
      "members": {
        "CHANGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_TYPE_UNSPECIFIED"
          }
        },
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#DotnetSettings": {
      "type": "structure",
      "members": {
        "ignoredResources": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of full resource types to ignore during generation. This is typically used for API-specific Location resources, which should be handled by the generator as if they were actually the common Location resources. Example entry: \"documentai.googleapis.com/Location\""
          }
        },
        "common": {
          "target": "com.gcp.servicemanagement_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "forcedNamespaceAliases": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Namespaces which must be aliased in snippets due to a known (but non-generator-predictable) naming collision"
          }
        },
        "handwrittenSignatures": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Method signatures (in the form \"service.method(signature)\") which are provided separately, so shouldn't be generated. Snippets *calling* these methods are still generated, however."
          }
        },
        "renamedResources": {
          "target": "com.gcp.servicemanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from full resource types to the effective short name for the resource. This is used when otherwise resource named from different services would cause naming collisions. Example entry: \"datalabeling.googleapis.com/Dataset\": \"DataLabelingDataset\""
          }
        },
        "renamedServices": {
          "target": "com.gcp.servicemanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from original service names to renamed versions. This is used when the default generated types would cause a naming conflict. (Neither name is fully-qualified.) Example: Subscriber to SubscriberServiceApi."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Dotnet client libraries."
      }
    },
    "com.gcp.servicemanagement_v1#Quota": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.gcp.servicemanagement_v1#QuotaLimitList",
          "traits": {
            "smithy.api#documentation": "List of QuotaLimit definitions for the service."
          }
        },
        "metricRules": {
          "target": "com.gcp.servicemanagement_v1#MetricRuleList",
          "traits": {
            "smithy.api#documentation": "List of MetricRule definitions, each one mapping a selected method to one or more metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota configuration helps to achieve fairness and budgeting in service usage. The metric based quota configuration works this way: - The service configuration defines a set of metrics. - For API calls, the quota.metric_rules maps methods to metrics with corresponding costs. - The quota.limits defines limits on the metrics, which will be used for quota checks at runtime. An example quota configuration in yaml format: quota: limits: - name: apiWriteQpsPerProject metric: library.googleapis.com/write_calls unit: \"1/min/{project}\" # rate limit for consumer projects values: STANDARD: 10000 (The metric rules bind all methods to the read_calls metric, except for the UpdateBook and DeleteBook methods. These two methods are mapped to the write_calls metric, with the UpdateBook method consuming at twice rate as the DeleteBook method.) metric_rules: - selector: \"*\" metric_costs: library.googleapis.com/read_calls: 1 - selector: google.example.library.v1.LibraryService.UpdateBook metric_costs: library.googleapis.com/write_calls: 2 - selector: google.example.library.v1.LibraryService.DeleteBook metric_costs: library.googleapis.com/write_calls: 1 Corresponding Metric definition: metrics: - name: library.googleapis.com/read_calls display_name: Read requests metric_kind: DELTA value_type: INT64 - name: library.googleapis.com/write_calls display_name: Write requests metric_kind: DELTA value_type: INT64 "
      }
    },
    "com.gcp.servicemanagement_v1#QuotaLimitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#QuotaLimit"
      }
    },
    "com.gcp.servicemanagement_v1#MetricRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#MetricRule"
      }
    },
    "com.gcp.servicemanagement_v1#JwtLocation": {
      "type": "structure",
      "members": {
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies HTTP header name to extract JWT token."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies URL query parameter name to extract JWT token."
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies cookie name to extract JWT token."
          }
        },
        "valuePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value prefix. The value format is \"value_prefix{token}\" Only applies to \"in\" header type. Must be empty for \"in\" query type. If not empty, the header value has to match (case sensitive) this prefix. If not matched, JWT will not be extracted. If matched, JWT will be extracted after the prefix is removed. For example, for \"Authorization: Bearer {JWT}\", value_prefix=\"Bearer \" with a space at the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a location to extract JWT from an API request."
      }
    },
    "com.gcp.servicemanagement_v1#Page": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the page. It will be used as an identity of the page to generate URI of the page, text of the link to this page in navigation, etc. The full page name (start from the root page name to this page concatenated with `.`) can be used as reference to the page in your documentation. For example: pages: - name: Tutorial content: (== include tutorial.md ==) subpages: - name: Java content: (== include tutorial_java.md ==) You can reference `Java` page using Markdown reference link syntax: `Java`."
          }
        },
        "subpages": {
          "target": "com.gcp.servicemanagement_v1#PageList",
          "traits": {
            "smithy.api#documentation": "Subpages of this page. The order of subpages specified here will be honored in the generated docset."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Markdown content of the page. You can use ```(== include {path} ==)``` to include content from a Markdown file. The content can be used to produce the documentation page such as HTML format page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a documentation page. A page can contain subpages to represent nested documentation set structure."
      }
    },
    "com.gcp.servicemanagement_v1#Aspect": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this aspect configuration."
          }
        },
        "spec": {
          "target": "com.gcp.servicemanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Content of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        },
        "rules": {
          "target": "com.gcp.servicemanagement_v1#AspectRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Rules of the Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aspect represents Generic aspect. It is used to configure an aspect without making direct changes to service.proto"
      }
    },
    "com.gcp.servicemanagement_v1#AspectRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#AspectRule"
      }
    },
    "com.gcp.servicemanagement_v1#Backend": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicemanagement_v1#BackendRuleList",
          "traits": {
            "smithy.api#documentation": "A list of API backend rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Backend` defines the backend configuration for a service."
      }
    },
    "com.gcp.servicemanagement_v1#BackendRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#BackendRule"
      }
    },
    "com.gcp.servicemanagement_v1#AuthProvider": {
      "type": "structure",
      "members": {
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
          }
        },
        "jwtLocations": {
          "target": "com.gcp.servicemanagement_v1#JwtLocationList",
          "traits": {
            "smithy.api#documentation": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com"
          }
        },
        "jwksUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs"
          }
        },
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.servicemanagement_v1#JwtLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#JwtLocation"
      }
    },
    "com.gcp.servicemanagement_v1#Enum": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.servicemanagement_v1#EnumSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum type name."
          }
        },
        "options": {
          "target": "com.gcp.servicemanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "sourceContext": {
          "target": "com.gcp.servicemanagement_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "enumvalue": {
          "target": "com.gcp.servicemanagement_v1#EnumValueList",
          "traits": {
            "smithy.api#documentation": "Enum value definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum type definition. New usages of this message as an alternative to EnumDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicemanagement_v1#EnumSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicemanagement_v1#EnumValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicemanagement_v1#EnumValue"
      }
    },
    "com.gcp.servicemanagement_v1#MonitoringDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in Service.monitored_resources section."
          }
        },
        "metrics": {
          "target": "com.gcp.servicemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Types of the metrics to report to this monitoring destination. Each type must be defined in Service.metrics section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific monitoring destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.servicemanagement_v1#FieldPolicy": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects one or more request or response message fields to apply this `FieldPolicy`. When a `FieldPolicy` is used in proto annotation, the selector must be left as empty. The service config generator will automatically fill the correct value. When a `FieldPolicy` is used in service config, the selector must be a comma-separated string with valid request or response field paths, such as \"foo.bar\" or \"foo.bar,foo.baz\"."
          }
        },
        "resourcePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the required permission(s) for the resource referred to by the field. It requires the field contains a valid resource reference, and the request must pass the permission checks to proceed. For example, \"resourcemanager.projects.get\"."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource type for the resource referred to by the field."
          }
        }
      },
      "traits": {
[...]
