{
  "smithy": "2.0",
  "metadata": {
    "service": "serviceconsumermanagement",
    "version": "v1",
    "title": "Service Consumer Management API",
    "baseUrl": "https://serviceconsumermanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.serviceconsumermanagement_v1#Endpoint": {
      "type": "structure",
      "members": {
        "aliases": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        },
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#LoggingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
          }
        },
        "logs": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific logging destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#UndeleteTenantProjectRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Tag of the resource within the tenancy unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to undelete tenant project resource previously deleted from the tenancy unit."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#CustomHttpPattern": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this custom HTTP verb."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path matched by this custom verb."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern is used for defining custom HTTP verb."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Type": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "syntax": {
          "target": "com.gcp.serviceconsumermanagement_v1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "fields": {
          "target": "com.gcp.serviceconsumermanagement_v1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "oneofs": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceconsumermanagement_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Option"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Field"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptor": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL. For a list of types, see [Monitored resource types](https://cloud.google.com/monitoring/api/resources) and [Logging resource types](https://cloud.google.com/logging/docs/api/v2/resource-list)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the monitored resource descriptor: `\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where {type} is the value of the `type` field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format `\"monitoredResourceDescriptors/{type}\"`."
          }
        },
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels `\"database_id\"` and `\"zone\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, `\"Google Cloud SQL Database\"`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A detailed description of the monitored resource type that might be used in documentation."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the monitored resource definition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of `\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and `\"zone\"` to identify particular VM instances. Different APIs can support different monitored resource types. APIs generally provide a `list` method that returns the monitored resource descriptors used by the API. "
      }
    },
    "com.gcp.serviceconsumermanagement_v1#LabelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#LabelDescriptor"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BatchingConfigProto": {
      "type": "structure",
      "members": {
        "batchDescriptor": {
          "target": "com.gcp.serviceconsumermanagement_v1#BatchingDescriptorProto",
          "traits": {
            "smithy.api#documentation": "The request and response fields used in batching."
          }
        },
        "thresholds": {
          "target": "com.gcp.serviceconsumermanagement_v1#BatchingSettingsProto",
          "traits": {
            "smithy.api#documentation": "The thresholds which trigger a batched request to be sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingConfigProto` defines the batching configuration for an API method."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.serviceconsumermanagement_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Operation"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1QuotaOverride": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": " If this map is nonempty, then this override applies only to specific values for dimensions defined in the limit unit. For example, an override on a limit with the unit 1/{project}/{region} could contain an entry with the key \"region\" and the value \"us-east-1\"; the override is only applied to quota consumed in that region. This map has the following restrictions: * Keys that are not defined in the limit's unit are not valid keys. Any string appearing in {brackets} in the unit (besides {project} or {user}) is a defined key. * \"project\" is not a valid key; the project is already specified in the parent resource name. * \"user\" is not a valid key; the API does not support quota overrides that apply only to a specific user. * If \"region\" appears as a key, its value must be a valid Cloud region. * If \"zone\" appears as a key, its value must be a valid Cloud zone. * If any valid key other than \"region\" or \"zone\" appears in the map, then all valid keys other than \"region\" or \"zone\" must also appear in the map."
          }
        },
        "overrideValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The overriding quota limit value. Can be any nonnegative integer, or -1 (unlimited quota)."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The limit unit of the limit to which this override applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the producer override. An example name would be: `services/compute.googleapis.com/projects/123/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/producerOverrides/4a3f2c1d`"
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric to which this override applies. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "adminOverrideAncestor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ancestor that requested the override. For example: \"organizations/12345\" or \"folders/67890\". Used by admin overrides only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quota override"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1EnableConsumerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for the `EnableConsumer` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1ImportProducerQuotaPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.serviceconsumermanagement_v1#V1Beta1ProducerQuotaPolicyList",
          "traits": {
            "smithy.api#documentation": "The policies that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportProducerQuotaPolicies"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1ProducerQuotaPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#V1Beta1ProducerQuotaPolicy"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#CustomError": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1#CustomErrorRuleList",
          "traits": {
            "smithy.api#documentation": "The list of custom error rules that apply to individual API messages. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "types": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customize service error responses. For example, list any service specific protobuf types that can appear in error detail lists of error responses. Example: custom_error: types: - google.foo.v1.CustomError - google.foo.v1.AnotherError"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#CustomErrorRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#CustomErrorRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#AddTenantProjectRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Tag of the added project. Must be less than 128 characters. Required."
          }
        },
        "projectConfig": {
          "target": "com.gcp.serviceconsumermanagement_v1#TenantProjectConfig",
          "traits": {
            "smithy.api#documentation": "Configuration of the new tenant project to be added to tenancy unit resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to add a newly created and configured tenant project to a tenancy unit."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ClientLibrarySettings": {
      "type": "structure",
      "members": {
        "javaSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#JavaSettings",
          "traits": {
            "smithy.api#documentation": "Settings for legacy Java features, supported in the Service YAML."
          }
        },
        "restNumericEnums": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When using transport=rest, the client request will encode enums as numbers rather than strings."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the API to apply these settings to. This is the full protobuf package for the API, ending in the version element. Examples: \"google.cloud.speech.v1\" and \"google.spanner.admin.database.v1\"."
          }
        },
        "pythonSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#PythonSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Python client libraries."
          }
        },
        "nodeSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#NodeSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Node client libraries."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceconsumermanagement_v1#ClientLibrarySettingsLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Launch stage of this version of the API."
          }
        },
        "rubySettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#RubySettings",
          "traits": {
            "smithy.api#documentation": "Settings for Ruby client libraries."
          }
        },
        "cppSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#CppSettings",
          "traits": {
            "smithy.api#documentation": "Settings for C++ client libraries."
          }
        },
        "dotnetSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#DotnetSettings",
          "traits": {
            "smithy.api#documentation": "Settings for .NET client libraries."
          }
        },
        "phpSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#PhpSettings",
          "traits": {
            "smithy.api#documentation": "Settings for PHP client libraries."
          }
        },
        "goSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1#GoSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Go client libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how and where to publish client libraries."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ClientLibrarySettingsLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#QuotaLimit": {
      "type": "structure",
      "members": {
        "defaultLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration."
          }
        },
        "freeTier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only."
          }
        },
        "values": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only."
          }
        },
        "maxLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the unit of the quota limit. It uses the same syntax as MetricDescriptor.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BackendRule": {
      "type": "structure",
      "members": {
        "minDeadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Deprecated, do not use."
          }
        },
        "operationDeadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for the completion of a long running operation. The default is no deadline."
          }
        },
        "overridesByRequestProtocol": {
          "target": "com.gcp.serviceconsumermanagement_v1#BackendRuleMap",
          "traits": {
            "smithy.api#documentation": "The map between request protocol and the backend address."
          }
        },
        "loadBalancingPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The load balancing policy used for connection to the application backend. Defined as an arbitrary string to accomondate custom load balancing policies supported by the underlying channel, but suggest most users use one of the standard policies, such as the default, \"RoundRobin\"."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The protocol used for sending a request to the backend. The supported values are \"http/1.1\" and \"h2\". The default value is inferred from the scheme in the address field: SCHEME PROTOCOL http:// http/1.1 https:// http/1.1 grpc:// h2 grpcs:// h2 For secure HTTP backends (https://) that support HTTP/2, set this field to \"h2\" for improved performance. Configuring this field to non-default values is only supported for secure HTTP backends. This field will be ignored for all other backends. See https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids for more details on the supported values."
          }
        },
        "pathTranslation": {
          "target": "com.gcp.serviceconsumermanagement_v1#BackendRulePathTranslationEnum",
          "traits": {
            "smithy.api#documentation": "Path translation specifies how to combine the backend address with the request path in order to produce the appropriate forwarding URL for the request. See PathTranslation for more details."
          }
        },
        "jwtAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JWT audience is used when generating a JWT ID token for the backend. This ID token will be added in the HTTP \"authorization\" header, and sent to the backend."
          }
        },
        "deadline": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for a response from a request. The default varies based on the request protocol and deployment environment."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the API backend. The scheme is used to determine the backend protocol and security. The following schemes are accepted: SCHEME PROTOCOL SECURITY http:// HTTP None https:// HTTP TLS grpc:// gRPC None grpcs:// gRPC TLS It is recommended to explicitly include a scheme. Leaving out the scheme may cause constrasting behaviors across platforms. If the port is unspecified, the default is: - 80 for schemes without TLS - 443 for schemes with TLS For HTTP backends, use protocol to specify the protocol version."
          }
        },
        "disableAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When disable_auth is true, a JWT ID token won't be generated and the original \"Authorization\" HTTP header will be preserved. If the header is used to carry the original token and is expected by the backend, this field must be set to true to preserve the header."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backend rule provides configuration for an individual API element."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BackendRuleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.serviceconsumermanagement_v1#BackendRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BackendRulePathTranslationEnum": {
      "type": "enum",
      "members": {
        "PATH_TRANSLATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH_TRANSLATION_UNSPECIFIED"
          }
        },
        "CONSTANT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTANT_ADDRESS"
          }
        },
        "APPEND_PATH_TO_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_PATH_TO_ADDRESS"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BillingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in Service.monitored_resources section."
          }
        },
        "metrics": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the metrics to report to this billing destination. Each name must be defined in Service.metrics section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific billing destination (Currently only support bill against consumer project)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.serviceconsumermanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.serviceconsumermanagement_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.serviceconsumermanagement_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ListTenancyUnitsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token for large results."
          }
        },
        "tenancyUnits": {
          "target": "com.gcp.serviceconsumermanagement_v1#TenancyUnitList",
          "traits": {
            "smithy.api#documentation": "Tenancy units matching the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the list request."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#TenancyUnitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#TenancyUnit"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1ServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service account."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The P4 SA configuration tag. This must be defined in activation_grants. If not specified when creating the account, the tag is set to \"default\"."
          }
        },
        "iamAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. See b/136209818."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P4 SA resource name. An example name would be: `services/serviceconsumermanagement.googleapis.com/projects/123/serviceAccounts/default`"
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique and stable id of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account in the Identity and Access Management API."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Service": {
      "type": "structure",
      "members": {
        "documentation": {
          "target": "com.gcp.serviceconsumermanagement_v1#Documentation",
          "traits": {
            "smithy.api#documentation": "Additional API documentation."
          }
        },
        "enums": {
          "target": "com.gcp.serviceconsumermanagement_v1#EnumList",
          "traits": {
            "smithy.api#documentation": "A list of all enum types included in this API service. Enums referenced directly or indirectly by the `apis` are automatically included. Enums which are not referenced but shall be included should be listed here by name by the configuration author. Example: enums: - name: google.someapi.v1.SomeEnum"
          }
        },
        "control": {
          "target": "com.gcp.serviceconsumermanagement_v1#Control",
          "traits": {
            "smithy.api#documentation": "Configuration for the service control plane."
          }
        },
        "quota": {
          "target": "com.gcp.serviceconsumermanagement_v1#Quota",
          "traits": {
            "smithy.api#documentation": "Quota configuration."
          }
        },
        "logging": {
          "target": "com.gcp.serviceconsumermanagement_v1#Logging",
          "traits": {
            "smithy.api#documentation": "Logging configuration."
          }
        },
        "authentication": {
          "target": "com.gcp.serviceconsumermanagement_v1#Authentication",
          "traits": {
            "smithy.api#documentation": "Auth configuration."
          }
        },
        "metrics": {
          "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the metrics used by this service."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID for a specific instance of this message, typically assigned by the client for tracking purpose. Must be no longer than 63 characters and only lower case letters, digits, '.', '_' and '-' are allowed. If empty, the server may choose to generate one instead."
          }
        },
        "context": {
          "target": "com.gcp.serviceconsumermanagement_v1#Context",
          "traits": {
            "smithy.api#documentation": "Context configuration."
          }
        },
        "configVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Obsolete. Do not use. This field has no semantic meaning. The service config compiler always sets this field to `3`."
          }
        },
        "monitoring": {
          "target": "com.gcp.serviceconsumermanagement_v1#Monitoring",
          "traits": {
            "smithy.api#documentation": "Monitoring configuration."
          }
        },
        "types": {
          "target": "com.gcp.serviceconsumermanagement_v1#TypeList",
          "traits": {
            "smithy.api#documentation": "A list of all proto message types included in this API service. Types referenced directly or indirectly by the `apis` are automatically included. Messages which are not referenced but shall be included, such as types used by the `google.protobuf.Any` type, should be listed here by name by the configuration author. Example: types: - name: google.protobuf.Int32"
          }
        },
        "producerProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google project that owns this service."
          }
        },
        "apis": {
          "target": "com.gcp.serviceconsumermanagement_v1#ApiList",
          "traits": {
            "smithy.api#documentation": "A list of API interfaces exported by this service. Only the `name` field of the google.protobuf.Api needs to be provided by the configuration author, as the remaining fields will be derived from the IDL during the normalization process. It is an error to specify an API interface here which cannot be resolved against the associated IDL files."
          }
        },
        "usage": {
          "target": "com.gcp.serviceconsumermanagement_v1#Usage",
          "traits": {
            "smithy.api#documentation": "Configuration controlling usage of this service."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product title for this service, it is the name displayed in Google Cloud Console."
          }
        },
        "http": {
          "target": "com.gcp.serviceconsumermanagement_v1#Http",
          "traits": {
            "smithy.api#documentation": "HTTP configuration."
          }
        },
        "systemTypes": {
          "target": "com.gcp.serviceconsumermanagement_v1#TypeList",
          "traits": {
            "smithy.api#documentation": "A list of all proto message types included in this API service. It serves similar purpose as [google.api.Service.types], except that these types are not needed by user-defined APIs. Therefore, they will not show up in the generated discovery doc. This field should only be used to define system APIs in ESF."
          }
        },
        "monitoredResources": {
          "target": "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the monitored resources used by this service. This is required by the `Service.monitoring` and `Service.logging` configurations."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name, which is a DNS-like logical identifier for the service, such as `calendar.googleapis.com`. The service name typically goes through DNS verification to make sure the owner of the service also owns the DNS name."
          }
        },
        "billing": {
          "target": "com.gcp.serviceconsumermanagement_v1#Billing",
          "traits": {
            "smithy.api#documentation": "Billing configuration."
          }
        },
        "systemParameters": {
          "target": "com.gcp.serviceconsumermanagement_v1#SystemParameters",
          "traits": {
            "smithy.api#documentation": "System parameter configuration."
          }
        },
        "backend": {
          "target": "com.gcp.serviceconsumermanagement_v1#Backend",
          "traits": {
            "smithy.api#documentation": "API backend configuration."
          }
        },
        "logs": {
          "target": "com.gcp.serviceconsumermanagement_v1#LogDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the logs used by this service."
          }
        },
        "publishing": {
          "target": "com.gcp.serviceconsumermanagement_v1#Publishing",
          "traits": {
            "smithy.api#documentation": "Settings for [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from APIs defined as protocol buffers."
          }
        },
        "sourceInfo": {
          "target": "com.gcp.serviceconsumermanagement_v1#SourceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The source information for this configuration if available."
          }
        },
        "aspects": {
          "target": "com.gcp.serviceconsumermanagement_v1#AspectList",
          "traits": {
            "smithy.api#documentation": "Configuration aspects. This is a repeated field to allow multiple aspects to be configured. The kind field in each ConfigAspect specifies the type of aspect. The spec field contains the configuration for that aspect. The schema for the spec field is defined by the backend service owners."
          }
        },
        "endpoints": {
          "target": "com.gcp.serviceconsumermanagement_v1#EndpointList",
          "traits": {
            "smithy.api#documentation": "Configuration for network endpoints. If this is empty, then an endpoint with the same name as the service is automatically generated to service all defined APIs."
          }
        },
        "customError": {
          "target": "com.gcp.serviceconsumermanagement_v1#CustomError",
          "traits": {
            "smithy.api#documentation": "Custom error configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Service` is the root object of Google API service configuration (service config). It describes the basic information about a logical service, such as the service name and the user-facing title, and delegates other aspects to sub-sections. Each sub-section is either a proto message or a repeated proto message that configures a specific aspect, such as auth. For more information, see each proto message definition. Example: type: google.api.Service name: calendar.googleapis.com title: Google Calendar API apis: - name: google.calendar.v3.Calendar visibility: rules: - selector: \"google.calendar.v3.*\" restriction: PREVIEW backend: rules: - selector: \"google.calendar.v3.*\" address: calendar.example.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#EnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Enum"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MetricDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptor"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#TypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Type"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ApiList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Api"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#MonitoredResourceDescriptor"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#LogDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#LogDescriptor"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#AspectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Aspect"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#Endpoint"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#ExperimentalFeatures": {
      "type": "structure",
      "members": {
        "restAsyncIoEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of asynchronous REST clients if `rest` transport is enabled. By default, asynchronous REST clients will not be generated. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        },
        "unversionedPackageDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables generation of an unversioned Python package for this client library. This means that the module names will need to be versioned in import statements. For example `import google.cloud.library_v2` instead of `import google.cloud.library`."
          }
        },
        "protobufPythonicTypesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of protobuf code using new types that are more Pythonic which are included in `protobuf>=5.29.x`. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experimental features to be included during client library generation. These fields will be deprecated once the feature graduates and is enabled by default."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Authentication": {
      "type": "structure",
      "members": {
        "providers": {
          "target": "com.gcp.serviceconsumermanagement_v1#AuthProviderList",
          "traits": {
            "smithy.api#documentation": "Defines a set of authentication providers that a service supports."
          }
        },
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1#AuthenticationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#AuthProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#AuthProvider"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#AuthenticationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#AuthenticationRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#BatchingDescriptorProto": {
      "type": "structure",
      "members": {
        "batchedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repeated field in the request message to be aggregated by batching."
          }
        },
        "discriminatorFields": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests."
          }
        },
        "subresponseField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Usage": {
      "type": "structure",
      "members": {
        "requirements": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Requirements that must be satisfied before a consumer project can use the service. Each requirement is of the form /; for example 'serviceusage.googleapis.com/billing-enabled'. For Google APIs, a Terms of Service requirement must be included here. Google Cloud APIs must include \"serviceusage.googleapis.com/tos/cloud\". Other Google APIs should include \"serviceusage.googleapis.com/tos/universal\". Additional ToS can be included based on the business needs."
          }
        },
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1#UsageRuleList",
          "traits": {
            "smithy.api#documentation": "A list of usage rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "producerNotificationChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of a channel used for sending notifications to the service producer. Google Service Management currently only supports [Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification channel. To use Google Cloud Pub/Sub as the channel, this must be the name of a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format documented in https://cloud.google.com/pubsub/docs/overview."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration controlling usage of a service."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#UsageRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#UsageRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Monitoring": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.serviceconsumermanagement_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        },
        "producerDestinations": {
          "target": "com.gcp.serviceconsumermanagement_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MonitoringDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#MonitoringDestination"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1GenerateDefaultIdentityResponse": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.serviceconsumermanagement_v1#V1DefaultIdentity",
          "traits": {
            "smithy.api#documentation": "DefaultIdentity that was created or retrieved."
          }
        },
        "attachStatus": {
          "target": "com.gcp.serviceconsumermanagement_v1#V1GenerateDefaultIdentityResponseAttachStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the role attachment. Under development (go/si-attach-role), currently always return ATTACH_STATUS_UNSPECIFIED)"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role attached to consumer project. Empty if not attached in this request. (Under development, currently always return empty.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GenerateDefaultIdentity` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1GenerateDefaultIdentityResponseAttachStatusEnum": {
      "type": "enum",
      "members": {
        "ATTACH_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACH_STATUS_UNSPECIFIED"
          }
        },
        "ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHED"
          }
        },
        "ATTACH_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACH_SKIPPED"
          }
        },
        "PREVIOUSLY_ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUSLY_ATTACHED"
          }
        },
        "ATTACH_DENIED_BY_ORG_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACH_DENIED_BY_ORG_POLICY"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#OAuthRequirements": {
      "type": "structure",
      "members": {
        "canonicalScopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of publicly documented OAuth scopes that are allowed access. An OAuth token containing any of these scopes will be accepted. Example: canonical_scopes: https://www.googleapis.com/auth/calendar, https://www.googleapis.com/auth/calendar.read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes are a way to define data and permissions on data. For example, there are scopes defined for \"Read-only access to Google Calendar\" and \"Access to Cloud Platform\". Users can consent to a scope for an application, giving it permission to access that data on their behalf. OAuth scope specifications should be fairly coarse grained; a user will need to see and understand the text description of what your scope means. In most cases: use one or at most two OAuth scopes for an entire family of products. If your product has multiple APIs, you should probably be sharing the OAuth scope across all of those APIs. When you need finer grained OAuth consent screens: talk with your product management about how developers will use them in practice. Please note that even though each of the canonical scopes is enough for a request to be accepted and passed to the backend, a request can still fail due to the backend requiring additional scopes or permissions."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#RubySettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceconsumermanagement_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Ruby client libraries."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#DocumentationRule": {
      "type": "structure",
      "members": {
        "deprecationDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecation description of the selected element(s). It can be provided if an element is marked as `deprecated`."
          }
        },
        "disableReplacementWords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String of comma or space separated case-sensitive words for which method/field name replacement will be disabled."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The selector is a comma-separated list of patterns for any element such as a method, a field, an enum value. Each pattern is a qualified name of the element which may end in \"*\", indicating a wildcard. Wildcards are only allowed at the end and for a whole component of the qualified name, i.e. \"foo.*\" is ok, but not \"foo.b*\" or \"foo.*.bar\". A wildcard will match one or more components. To specify a default for all applicable elements, the whole pattern \"*\" is used."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the selected proto element (e.g. a message, a method, a 'service' definition, or a field). Defaults to leading & trailing comments taken from the proto source definition of the proto element."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A documentation rule provides information about individual API elements."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#EnumValue": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1BatchCreateProducerOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceconsumermanagement_v1#V1Beta1QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "The overrides that were created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BatchCreateProducerOverrides"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1Beta1QuotaOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#V1Beta1QuotaOverride"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Mixin": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the interface which is included."
          }
        },
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If non-empty specifies a path under which inherited HTTP paths are rooted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inheriting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Http": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "A list of HTTP configuration rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "fullyDecodeReservedExpansion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, URL path parameters will be fully URI-decoded except in cases of single segment matches in reserved expansion, where \"%2F\" will be left encoded. The default behavior is to not decode RFC 6570 reserved characters in multi segment matches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the HTTP configuration for an API service. It contains a list of HttpRule, each specifying the mapping of an RPC method to one or more HTTP REST API methods."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#HttpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#HttpRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#V1AddVisibilityLabelsResponse": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The updated set of visibility labels for this consumer on this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `AddVisibilityLabels` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#HttpRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which this rule applies. Refer to selector for syntax details."
          }
        },
        "post": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP POST. Used for creating a resource or performing an action."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the request field whose value is mapped to the HTTP request body, or `*` for mapping all request fields not captured by the path pattern to the HTTP body, or omitted for not having any HTTP request body. NOTE: the referred field must be present at the top-level of the request message type."
          }
        },
        "get": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP GET. Used for listing and getting information about resources."
          }
        },
        "put": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PUT. Used for replacing a resource."
          }
        },
        "patch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PATCH. Used for updating a resource."
          }
        },
        "additionalBindings": {
          "target": "com.gcp.serviceconsumermanagement_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "Additional HTTP bindings for the selector. Nested bindings must not contain an `additional_bindings` field themselves (that is, the nesting may only be one level deep)."
          }
        },
        "custom": {
          "target": "com.gcp.serviceconsumermanagement_v1#CustomHttpPattern",
          "traits": {
            "smithy.api#documentation": "The custom pattern is used for specifying an HTTP method that is not included in the `pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for this rule. The wild-card rule is useful for services that provide content to Web (HTML) clients."
          }
        },
        "delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP DELETE. Used for deleting a resource."
          }
        },
        "responseBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the response field whose value is mapped to the HTTP response body. When omitted, the entire response message will be used as the HTTP response body. NOTE: The referred field must be present at the top-level of the response message type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "gRPC Transcoding gRPC Transcoding is a feature for mapping between a gRPC method and one or more HTTP REST endpoints. It allows developers to build a single API service that supports both gRPC APIs and REST APIs. Many systems, including [Google APIs](https://github.com/googleapis/googleapis), [Cloud Endpoints](https://cloud.google.com/endpoints), [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway), and [Envoy](https://github.com/envoyproxy/envoy) proxy support this feature and use it for large scale production services. `HttpRule` defines the schema of the gRPC/REST mapping. The mapping specifies how different portions of the gRPC request message are mapped to the URL path, URL query parameters, and HTTP request body. It also controls how the gRPC response message is mapped to the HTTP response body. `HttpRule` is typically specified as an `google.api.http` annotation on the gRPC method. Each mapping specifies a URL path template and an HTTP method. The path template may refer to one or more fields in the gRPC request message, as long as each field is a non-repeated field with a primitive (non-message) type. The path template controls how fields of the request message are mapped to the URL path. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/{name=messages/*}\" }; } } message GetMessageRequest { string name = 1; // Mapped to URL path. } message Message { string text = 1; // The resource content. } This enables an HTTP REST to gRPC mapping as below: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(name: \"messages/123456\")` Any fields in the request message which are not bound by the path template automatically become HTTP query parameters if there is no HTTP request body. For example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get:\"/v1/messages/{message_id}\" }; } } message GetMessageRequest { message SubMessage { string subfield = 1; } string message_id = 1; // Mapped to URL path. int64 revision = 2; // Mapped to URL query parameter `revision`. SubMessage sub = 3; // Mapped to URL query parameter `sub.subfield`. } This enables a HTTP JSON to RPC mapping as below: - HTTP: `GET /v1/messages/123456?revision=2&sub.subfield=foo` - gRPC: `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))` Note that fields which are mapped to URL query parameters must have a primitive type or a repeated primitive type or a non-repeated message type. In the case of a repeated type, the parameter can be repeated in the URL as `...?param=A&param=B`. In the case of a message type, each field of the message is mapped to a separate parameter, such as `...?foo.a=A&foo.b=B&foo.c=C`. For HTTP methods that allow a request body, the `body` field specifies the mapping. Consider a REST update method on the message resource collection: service Messaging { rpc UpdateMessage(UpdateMessageRequest) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"message\" }; } } message UpdateMessageRequest { string message_id = 1; // mapped to the URL Message message = 2; // mapped to the body } The following HTTP JSON to RPC mapping is enabled, where the representation of the JSON in the request body is determined by protos JSON encoding: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })` The special name `*` can be used in the body mapping to define that every field not bound by the path template should be mapped to the request body. This enables the following alternative definition of the update method: service Messaging { rpc UpdateMessage(Message) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"*\" }; } } message Message { string message_id = 1; string text = 2; } The following HTTP JSON to RPC mapping is enabled: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" text: \"Hi!\")` Note that when using `*` in the body mapping, it is not possible to have HTTP parameters, as all fields not bound by the path end in the body. This makes this option more rarely used in practice when defining REST APIs. The common usage of `*` is in custom methods which don't use the URL at all for transferring data. It is possible to define multiple HTTP methods for one RPC by using the `additional_bindings` option. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/messages/{message_id}\" additional_bindings { get: \"/v1/users/{user_id}/messages/{message_id}\" } }; } } message GetMessageRequest { string message_id = 1; string user_id = 2; } This enables the following two alternative HTTP JSON to RPC mappings: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(message_id: \"123456\")` - HTTP: `GET /v1/users/me/messages/123456` - gRPC: `GetMessage(user_id: \"me\" message_id: \"123456\")` Rules for HTTP mapping 1. Leaf request fields (recursive expansion nested messages in the request message) are classified into three categories: - Fields referred by the path template. They are passed via the URL path. - Fields referred by the HttpRule.body. They are passed via the HTTP request body. - All other fields are passed via the URL query parameters, and the parameter name is the field path in the request message. A repeated field can be represented as multiple query parameters under the same name. 2. If HttpRule.body is \"*\", there is no URL query parameter, all fields are passed via URL path and HTTP request body. 3. If HttpRule.body is omitted, there is no HTTP request body, all fields are passed via URL path and URL query parameters. Path template syntax Template = \"/\" Segments [ Verb ] ; Segments = Segment { \"/\" Segment } ; Segment = \"*\" | \"**\" | LITERAL | Variable ; Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ; FieldPath = IDENT { \".\" IDENT } ; Verb = \":\" LITERAL ; The syntax `*` matches a single URL path segment. The syntax `**` matches zero or more URL path segments, which must be the last part of the URL path except the `Verb`. The syntax `Variable` matches part of the URL path as specified by its template. A variable template must not contain other variables. If a variable matches a single path segment, its template may be omitted, e.g. `{var}` is equivalent to `{var=*}`. The syntax `LITERAL` matches literal text in the URL path. If the `LITERAL` contains any reserved character, such characters should be percent-encoded before the matching. If a variable contains exactly one path segment, such as `\"{var}\"` or `\"{var=*}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{var}`. If a variable contains multiple path segments, such as `\"{var=foo/*}\"` or `\"{var=**}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding, except \"%2F\" and \"%2f\" are left unchanged. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{+var}`. Using gRPC API Service Configuration gRPC API Service Configuration (service config) is a configuration language for configuring a gRPC service to become a user-facing product. The service config is simply the YAML representation of the `google.api.Service` proto message. As an alternative to annotating your proto file, you can configure gRPC transcoding in your service config YAML files. You do this by specifying a `HttpRule` that maps the gRPC method to a REST endpoint, achieving the same effect as the proto annotation. This can be particularly useful if you have a proto that is reused in multiple services. Note that any transcoding specified in the service config will override any matching transcoding configuration in the proto. The following example selects a gRPC method and applies an `HttpRule` to it: http: rules: - selector: example.v1.Messaging.GetMessage get: /v1/messages/{message_id}/{sub.subfield} Special notes When gRPC Transcoding is used to map a gRPC to JSON REST endpoints, the proto to JSON conversion must follow the [proto3 specification](https://developers.google.com/protocol-buffers/docs/proto3#json). While the single segment variable follows the semantics of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String Expansion, the multi segment variable **does not** follow RFC 6570 Section 3.2.3 Reserved Expansion. The reason is that the Reserved Expansion does not expand special characters like `?` and `#`, which would lead to invalid URLs. As the result, gRPC Transcoding uses a custom encoding for multi segment variables. The path variables **must not** refer to any repeated or mapped field, because client libraries are not capable of handling such variable expansion. The path variables **must not** capture the leading \"/\" character. The reason is that the most common use case \"{var}\" does not capture the leading \"/\" character. For consistency, all path variables must share the same behavior. Repeated message fields must not be mapped to URL query parameters, because no client library can support such complicated mapping. If an API needs to use a JSON array for request or response body, it can map the request or response body to a repeated field. However, some gRPC Transcoding implementations may not support this feature."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#LabelDescriptor": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description for the label."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label key."
          }
        },
        "valueType": {
          "target": "com.gcp.serviceconsumermanagement_v1#LabelDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data that can be assigned to the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a label."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#LabelDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT64"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.serviceconsumermanagement_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1#DocumentMap"
      }
    },
    "com.gcp.serviceconsumermanagement_v1#RemoveTenantProjectRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Tag of the resource within the tenancy unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to remove a tenant project resource from the tenancy unit."
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MetricDescriptor": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. Different systems might scale the values to be more easily displayed (so a value of `0.02kBy` _might_ be displayed as `20By`, and a value of `3523kBy` _might_ be displayed as `3.5MBy`). However, if the `unit` is `kBy`, then the value of the metric is always in thousands of bytes, no matter how it might be displayed. If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an `INT64 CUMULATIVE` metric whose `unit` is `s{CPU}` (or equivalently `1s{CPU}` or just `s`). If the job uses 12,005 CPU-seconds, then the value is written as `12005`. Alternatively, if you want a custom metric to record data in a more granular way, you can create a `DOUBLE CUMULATIVE` metric whose `unit` is `ks{CPU}`, and then write the value `12.005` (which is `12005/1000`), or use `Kis{CPU}` and write `11.723` (which is `12005/1024`). The supported units are a subset of [The Unified Code for Units of Measure](https://unitsofmeasure.org/ucum.html) standard: **Basic units (UNIT)** * `bit` bit * `By` byte * `s` second * `min` minute * `h` hour * `d` day * `1` dimensionless **Prefixes (PREFIX)** * `k` kilo (10^3) * `M` mega (10^6) * `G` giga (10^9) * `T` tera (10^12) * `P` peta (10^15) * `E` exa (10^18) * `Z` zetta (10^21) * `Y` yotta (10^24) * `m` milli (10^-3) * `u` micro (10^-6) * `n` nano (10^-9) * `p` pico (10^-12) * `f` femto (10^-15) * `a` atto (10^-18) * `z` zepto (10^-21) * `y` yocto (10^-24) * `Ki` kibi (2^10) * `Mi` mebi (2^20) * `Gi` gibi (2^30) * `Ti` tebi (2^40) * `Pi` pebi (2^50) **Grammar** The grammar also includes these connectors: * `/` division or ratio (as an infix operator). For examples, `kBy/{email}` or `MiBy/10ms` (although you should almost never have `/s` in a metric `unit`; rates should always be computed at query time from the underlying cumulative or delta value). * `.` multiplication or composition (as an infix operator). For examples, `GBy.d` or `k{watt}.h`. The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: * `Annotation` is just a comment if it follows a `UNIT`. If the annotation is used alone, then the unit is equivalent to `1`. For examples, `{request}/s == 1/s`, `By{transmitted}/s == By/s`. * `NAME` is a sequence of non-blank printable ASCII characters not containing `{` or `}`. * `1` represents a unitary [dimensionless unit](https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in `1/s`. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as `1/d` or `{new-users}/d` (and a metric value `5` would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as `1000/d` or `k1/d` or `k{page_views}/d` (and a metric value of `5.3` would mean \"5300 page views per day\"). * `%` represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value `3` means \"3 percent\"). * `10^2.%` indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value `0.03` means \"3 percent\")."
          }
        },
        "metadata": {
          "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptorMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata which can be used to guide usage of the metric."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the metric definition."
          }
        },
        "valueType": {
          "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of `metric_kind` and `value_type` might not be supported."
          }
        },
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that can be used to describe a specific instance of this metric type. For example, the `appengine.googleapis.com/http/server/response_latencies` metric type has a label for the HTTP response code, `response_code`, so you can look at latencies for successful responses or just for responses that failed."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description of the metric, which can be used in documentation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name `custom.googleapis.com` or `external.googleapis.com`. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\""
          }
        },
        "metricKind": {
          "target": "com.gcp.serviceconsumermanagement_v1#MetricDescriptorMetricKindEnum",
          "traits": {
            "smithy.api#documentation": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of `metric_kind` and `value_type` might not be supported."
          }
        },
        "monitoredResourceTypes": {
          "target": "com.gcp.serviceconsumermanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the metric descriptor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable. "
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MetricDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1#MetricDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
[...]
