{
  "smithy": "2.0",
  "metadata": {
    "service": "servicenetworking",
    "version": "v1",
    "title": "Service Networking API",
    "baseUrl": "https://servicenetworking.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicenetworking_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.servicenetworking_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.servicenetworking_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.servicenetworking_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.servicenetworking_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicenetworking_v1#Monitoring": {
      "type": "structure",
      "members": {
        "producerDestinations": {
          "target": "com.gcp.servicenetworking_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        },
        "consumerDestinations": {
          "target": "com.gcp.servicenetworking_v1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
      }
    },
    "com.gcp.servicenetworking_v1#MonitoringDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#MonitoringDestination"
      }
    },
    "com.gcp.servicenetworking_v1#AddRolesResponse": {
      "type": "structure",
      "members": {
        "policyBinding": {
          "target": "com.gcp.servicenetworking_v1#PolicyBindingList",
          "traits": {
            "smithy.api#documentation": "Required. List of policy bindings that were added to the shared VPC host project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents IAM roles added to the shared VPC host project."
      }
    },
    "com.gcp.servicenetworking_v1#PolicyBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#PolicyBinding"
      }
    },
    "com.gcp.servicenetworking_v1#ValidateConsumerConfigRequest": {
      "type": "structure",
      "members": {
        "validateNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The validations will be performed in the order listed in the ValidationError enum. The first failure will return. If a validation is not requested, then the next one will be performed. SERVICE_NETWORKING_NOT_ENABLED and NETWORK_NOT_PEERED checks are performed for all requests where validation is requested. NETWORK_NOT_FOUND and NETWORK_DISCONNECTED checks are done for requests that have validate_network set to true."
          }
        },
        "consumerProject": {
          "target": "com.gcp.servicenetworking_v1#ConsumerProject",
          "traits": {
            "smithy.api#documentation": "NETWORK_NOT_IN_CONSUMERS_PROJECT, NETWORK_NOT_IN_CONSUMERS_HOST_PROJECT, and HOST_PROJECT_NOT_FOUND are done when consumer_project is provided."
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is a project number, as in '12345' {network} is network name."
          }
        },
        "checkServiceNetworkingUsePermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The IAM permission check determines whether the consumer project has 'servicenetworking.services.use' permission or not."
          }
        },
        "rangeReservation": {
          "target": "com.gcp.servicenetworking_v1#RangeReservation",
          "traits": {
            "smithy.api#documentation": "RANGES_EXHAUSTED, RANGES_NOT_RESERVED, and RANGES_DELETED_LATER are done when range_reservation is provided."
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#SourceContext": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: `\"google/protobuf/source_context.proto\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`SourceContext` represents information about the source of a protobuf element, like the file in which it is defined."
      }
    },
    "com.gcp.servicenetworking_v1#SystemParameters": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1#SystemParameterRuleList",
          "traits": {
            "smithy.api#documentation": "Define system parameters. The parameters defined here will override the default parameters implemented by the system. If this field is missing from the service config, default system parameters will be used. Default system parameters and names is implementation-dependent. Example: define api key for all methods system_parameters rules: - selector: \"*\" parameters: - name: api_key url_query_parameter: api_key Example: define 2 api key names for a specific method. system_parameters rules: - selector: \"/ListShelves\" parameters: - name: api_key http_header: Api-Key1 - name: api_key http_header: Api-Key2 **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "### System parameter configuration A system parameter is a special kind of parameter defined by the API system, not by an individual API. It is typically mapped to an HTTP header and/or a URL query parameter. This configuration specifies which methods change the names of the system parameters."
      }
    },
    "com.gcp.servicenetworking_v1#SystemParameterRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#SystemParameterRule"
      }
    },
    "com.gcp.servicenetworking_v1#SystemParameterRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "parameters": {
          "target": "com.gcp.servicenetworking_v1#SystemParameterList",
          "traits": {
            "smithy.api#documentation": "Define parameters. Multiple names may be defined for a parameter. For a given method call, only one of them should be used. If multiple names are used the behavior is implementation-dependent. If none of the specified names are present the behavior is parameter-dependent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a system parameter rule mapping system parameter definitions to methods."
      }
    },
    "com.gcp.servicenetworking_v1#SystemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#SystemParameter"
      }
    },
    "com.gcp.servicenetworking_v1#Range": {
      "type": "structure",
      "members": {
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CIDR range in \"10.x.x.x/y\" format that is within the allocated ranges and currently unused."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In the Shared VPC host project, the VPC network that's peered with the consumer network. For example: `projects/1234321/global/networks/host-network`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a found unused range."
      }
    },
    "com.gcp.servicenetworking_v1#Type": {
      "type": "structure",
      "members": {
        "oneofs": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "sourceContext": {
          "target": "com.gcp.servicenetworking_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "fields": {
          "target": "com.gcp.servicenetworking_v1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "syntax": {
          "target": "com.gcp.servicenetworking_v1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicenetworking_v1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Field"
      }
    },
    "com.gcp.servicenetworking_v1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Option"
      }
    },
    "com.gcp.servicenetworking_v1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#RemoveDnsRecordSetRequest": {
      "type": "structure",
      "members": {
        "dnsRecordSet": {
          "target": "com.gcp.servicenetworking_v1#DnsRecordSet",
          "traits": {
            "smithy.api#documentation": "Required. The DNS record set to remove."
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the private DNS zone in the shared producer host project from which the record set will be removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to remove a record set from a private managed DNS zone in the shared producer host project. The name, type, ttl, and data values must all exactly match an existing record set in the specified zone."
      }
    },
    "com.gcp.servicenetworking_v1#OAuthRequirements": {
      "type": "structure",
      "members": {
        "canonicalScopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of publicly documented OAuth scopes that are allowed access. An OAuth token containing any of these scopes will be accepted. Example: canonical_scopes: https://www.googleapis.com/auth/calendar, https://www.googleapis.com/auth/calendar.read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes are a way to define data and permissions on data. For example, there are scopes defined for \"Read-only access to Google Calendar\" and \"Access to Cloud Platform\". Users can consent to a scope for an application, giving it permission to access that data on their behalf. OAuth scope specifications should be fairly coarse grained; a user will need to see and understand the text description of what your scope means. In most cases: use one or at most two OAuth scopes for an entire family of products. If your product has multiple APIs, you should probably be sharing the OAuth scope across all of those APIs. When you need finer grained OAuth consent screens: talk with your product management about how developers will use them in practice. Please note that even though each of the canonical scopes is enough for a request to be accepted and passed to the backend, a request can still fail due to the backend requiring additional scopes or permissions."
      }
    },
    "com.gcp.servicenetworking_v1#Logging": {
      "type": "structure",
      "members": {
        "producerDestinations": {
          "target": "com.gcp.servicenetworking_v1#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the producer project. There can be multiple producer destinations, each one must have a different monitored resource type. A log can be used in at most one producer destination."
          }
        },
        "consumerDestinations": {
          "target": "com.gcp.servicenetworking_v1#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the consumer project. There can be multiple consumer destinations, each one must have a different monitored resource type. A log can be used in at most one consumer destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logging configuration of the service. The following example shows how to configure logs to be sent to the producer and consumer projects. In the example, the `activity_history` log is sent to both the producer and consumer projects, whereas the `purchase_history` log is only sent to the producer project. monitored_resources: - type: library.googleapis.com/branch labels: - key: /city description: The city where the library branch is located in. - key: /name description: The name of the branch. logs: - name: activity_history labels: - key: /customer_id - name: purchase_history logging: producer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history - purchase_history consumer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history"
      }
    },
    "com.gcp.servicenetworking_v1#LoggingDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#LoggingDestination"
      }
    },
    "com.gcp.servicenetworking_v1#Route": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route name. See https://cloud.google.com/vpc/docs/routes"
          }
        },
        "destRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination CIDR range that this route applies to."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified URL of the VPC network in the producer host tenant project that this route applies to. For example: `projects/123456/global/networks/host-network`"
          }
        },
        "nextHopGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified URL of the gateway that should handle matching packets that this route applies to. For example: `projects/123456/global/gateways/default-internet-gateway`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a route that was created or discovered by a private access management service."
      }
    },
    "com.gcp.servicenetworking_v1#LoggingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
          }
        },
        "logs": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific logging destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.servicenetworking_v1#AddDnsRecordSetMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by AddDnsRecordSet API"
      }
    },
    "com.gcp.servicenetworking_v1#SourceInfo": {
      "type": "structure",
      "members": {
        "sourceFiles": {
          "target": "com.gcp.servicenetworking_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "All files used during config generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source information used to create a Service Config"
      }
    },
    "com.gcp.servicenetworking_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#DocumentMap"
      }
    },
    "com.gcp.servicenetworking_v1#Endpoint": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        },
        "aliases": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.servicenetworking_v1#SelectiveGapicGeneration": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces."
          }
        },
        "generateOmittedAsInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases."
      }
    },
    "com.gcp.servicenetworking_v1#CleanupConnectionMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by Cleanup Connection API"
      }
    },
    "com.gcp.servicenetworking_v1#BatchingDescriptorProto": {
      "type": "structure",
      "members": {
        "batchedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repeated field in the request message to be aggregated by batching."
          }
        },
        "subresponseField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together."
          }
        },
        "discriminatorFields": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing."
      }
    },
    "com.gcp.servicenetworking_v1#ClientLibrarySettings": {
      "type": "structure",
      "members": {
        "launchStage": {
          "target": "com.gcp.servicenetworking_v1#ClientLibrarySettingsLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Launch stage of this version of the API."
          }
        },
        "javaSettings": {
          "target": "com.gcp.servicenetworking_v1#JavaSettings",
          "traits": {
            "smithy.api#documentation": "Settings for legacy Java features, supported in the Service YAML."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the API to apply these settings to. This is the full protobuf package for the API, ending in the version element. Examples: \"google.cloud.speech.v1\" and \"google.spanner.admin.database.v1\"."
          }
        },
        "pythonSettings": {
          "target": "com.gcp.servicenetworking_v1#PythonSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Python client libraries."
          }
        },
        "dotnetSettings": {
          "target": "com.gcp.servicenetworking_v1#DotnetSettings",
          "traits": {
            "smithy.api#documentation": "Settings for .NET client libraries."
          }
        },
        "goSettings": {
          "target": "com.gcp.servicenetworking_v1#GoSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Go client libraries."
          }
        },
        "cppSettings": {
          "target": "com.gcp.servicenetworking_v1#CppSettings",
          "traits": {
            "smithy.api#documentation": "Settings for C++ client libraries."
          }
        },
        "phpSettings": {
          "target": "com.gcp.servicenetworking_v1#PhpSettings",
          "traits": {
            "smithy.api#documentation": "Settings for PHP client libraries."
          }
        },
        "nodeSettings": {
          "target": "com.gcp.servicenetworking_v1#NodeSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Node client libraries."
          }
        },
        "restNumericEnums": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When using transport=rest, the client request will encode enums as numbers rather than strings."
          }
        },
        "rubySettings": {
          "target": "com.gcp.servicenetworking_v1#RubySettings",
          "traits": {
            "smithy.api#documentation": "Settings for Ruby client libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how and where to publish client libraries."
      }
    },
    "com.gcp.servicenetworking_v1#ClientLibrarySettingsLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.servicenetworking_v1#CloudSQLConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Peering service used for peering with the Cloud SQL project."
          }
        },
        "umbrellaNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the umbrella network in the Cloud SQL umbrella project."
          }
        },
        "umbrellaProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project number of the Cloud SQL umbrella project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud SQL configuration."
      }
    },
    "com.gcp.servicenetworking_v1#AspectRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Selects the RPC methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "config": {
          "target": "com.gcp.servicenetworking_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. Rules of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule-based configuration for an aspect."
      }
    },
    "com.gcp.servicenetworking_v1#DnsZone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
          }
        },
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS name suffix of this zone e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a DNS zone resource."
      }
    },
    "com.gcp.servicenetworking_v1#Api": {
      "type": "structure",
      "members": {
        "mixins": {
          "target": "com.gcp.servicenetworking_v1#MixinList",
          "traits": {
            "smithy.api#documentation": "Included interfaces. See Mixin."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
          }
        },
        "sourceContext": {
          "target": "com.gcp.servicenetworking_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "Source context for the protocol buffer service represented by this message."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the interface."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this interface, including package name followed by the interface's simple name."
          }
        },
        "methods": {
          "target": "com.gcp.servicenetworking_v1#MethodList",
          "traits": {
            "smithy.api#documentation": "The methods of this interface, in unspecified order."
          }
        },
        "syntax": {
          "target": "com.gcp.servicenetworking_v1#ApiSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1#MixinList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Mixin"
      }
    },
    "com.gcp.servicenetworking_v1#MethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Method"
      }
    },
    "com.gcp.servicenetworking_v1#ApiSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.servicenetworking_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.servicenetworking_v1#DeleteConnectionMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by Delete Connection API"
      }
    },
    "com.gcp.servicenetworking_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.servicenetworking_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.servicenetworking_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Operation"
      }
    },
    "com.gcp.servicenetworking_v1#FieldPolicy": {
      "type": "structure",
      "members": {
        "resourcePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the required permission(s) for the resource referred to by the field. It requires the field contains a valid resource reference, and the request must pass the permission checks to proceed. For example, \"resourcemanager.projects.get\"."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource type for the resource referred to by the field."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects one or more request or response message fields to apply this `FieldPolicy`. When a `FieldPolicy` is used in proto annotation, the selector must be left as empty. The service config generator will automatically fill the correct value. When a `FieldPolicy` is used in service config, the selector must be a comma-separated string with valid request or response field paths, such as \"foo.bar\" or \"foo.bar,foo.baz\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google API Policy Annotation This message defines a simple API policy annotation that can be used to annotate API request and response message fields with applicable policies. One field may have multiple applicable policies that must all be satisfied before a request can be processed. This policy annotation is used to generate the overall policy that will be used for automatic runtime policy enforcement and documentation generation."
      }
    },
    "com.gcp.servicenetworking_v1#ConsumerProject": {
      "type": "structure",
      "members": {
        "projectNum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project number of the consumer that is launching the service instance. It can own the network that is peered with Google or, be a service project in an XPN where the host project has the network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a consumer project."
      }
    },
    "com.gcp.servicenetworking_v1#AuthenticationRule": {
      "type": "structure",
      "members": {
        "oauth": {
          "target": "com.gcp.servicenetworking_v1#OAuthRequirements",
          "traits": {
            "smithy.api#documentation": "The requirements for OAuth credentials."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "allowWithoutCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the service accepts API keys without any other credential. This flag only applies to HTTP and gRPC requests."
          }
        },
        "requirements": {
          "target": "com.gcp.servicenetworking_v1#AuthRequirementList",
          "traits": {
            "smithy.api#documentation": "Requirements for additional authentication providers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication rules for the service. By default, if a method has any authentication requirements, every request must include a valid credential matching one of the requirements. It's an error to include more than one kind of credential in a single request. If a method doesn't have any auth requirements, request credentials will be ignored."
      }
    },
    "com.gcp.servicenetworking_v1#AuthRequirementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#AuthRequirement"
      }
    },
    "com.gcp.servicenetworking_v1#CustomHttpPattern": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this custom HTTP verb."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path matched by this custom verb."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern is used for defining custom HTTP verb."
      }
    },
    "com.gcp.servicenetworking_v1#CustomErrorRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects messages to which this rule applies. Refer to selector for syntax details."
          }
        },
        "isErrorType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom error rule."
      }
    },
    "com.gcp.servicenetworking_v1#Authentication": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1#AuthenticationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "providers": {
          "target": "com.gcp.servicenetworking_v1#AuthProviderList",
          "traits": {
            "smithy.api#documentation": "Defines a set of authentication providers that a service supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read"
      }
    },
    "com.gcp.servicenetworking_v1#AuthenticationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#AuthenticationRule"
      }
    },
    "com.gcp.servicenetworking_v1#AuthProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#AuthProvider"
      }
    },
    "com.gcp.servicenetworking_v1#AuthProvider": {
      "type": "structure",
      "members": {
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        },
        "jwtLocations": {
          "target": "com.gcp.servicenetworking_v1#JwtLocationList",
          "traits": {
            "smithy.api#documentation": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com"
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
          }
        },
        "jwksUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.servicenetworking_v1#JwtLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#JwtLocation"
      }
    },
    "com.gcp.servicenetworking_v1#Billing": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.servicenetworking_v1#BillingDestinationList",
          "traits": {
            "smithy.api#documentation": "Billing configurations for sending metrics to the consumer project. There can be multiple consumer destinations per service, each one must have a different monitored resource type. A metric can be used in at most one consumer destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing related configuration of the service. The following example shows how to configure monitored resources and metrics for billing, `consumer_destinations` is the only supported destination and the monitored resources need at least one label key `cloud.googleapis.com/location` to indicate the location of the billing usage, using different monitored resources between monitoring and billing is recommended so they can be evolved independently: monitored_resources: - type: library.googleapis.com/billing_branch labels: - key: cloud.googleapis.com/location description: | Predefined label to support billing location restriction. - key: city description: | Custom label to define the city where the library branch is located in. - key: name description: Custom label to define the name of the library branch. metrics: - name: library.googleapis.com/book/borrowed_count metric_kind: DELTA value_type: INT64 unit: \"1\" billing: consumer_destinations: - monitored_resource: library.googleapis.com/billing_branch metrics: - library.googleapis.com/book/borrowed_count"
      }
    },
    "com.gcp.servicenetworking_v1#BillingDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#BillingDestination"
      }
    },
    "com.gcp.servicenetworking_v1#DeletePeeredDnsDomainMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by DeletePeeredDnsDomain API."
      }
    },
    "com.gcp.servicenetworking_v1#HttpRule": {
      "type": "structure",
      "members": {
        "post": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP POST. Used for creating a resource or performing an action."
          }
        },
        "additionalBindings": {
          "target": "com.gcp.servicenetworking_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "Additional HTTP bindings for the selector. Nested bindings must not contain an `additional_bindings` field themselves (that is, the nesting may only be one level deep)."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which this rule applies. Refer to selector for syntax details."
          }
        },
        "custom": {
          "target": "com.gcp.servicenetworking_v1#CustomHttpPattern",
          "traits": {
            "smithy.api#documentation": "The custom pattern is used for specifying an HTTP method that is not included in the `pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for this rule. The wild-card rule is useful for services that provide content to Web (HTML) clients."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the request field whose value is mapped to the HTTP request body, or `*` for mapping all request fields not captured by the path pattern to the HTTP body, or omitted for not having any HTTP request body. NOTE: the referred field must be present at the top-level of the request message type."
          }
        },
        "responseBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the response field whose value is mapped to the HTTP response body. When omitted, the entire response message will be used as the HTTP response body. NOTE: The referred field must be present at the top-level of the response message type."
          }
        },
        "get": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP GET. Used for listing and getting information about resources."
          }
        },
        "patch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PATCH. Used for updating a resource."
          }
        },
        "put": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PUT. Used for replacing a resource."
          }
        },
        "delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP DELETE. Used for deleting a resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "gRPC Transcoding gRPC Transcoding is a feature for mapping between a gRPC method and one or more HTTP REST endpoints. It allows developers to build a single API service that supports both gRPC APIs and REST APIs. Many systems, including [Google APIs](https://github.com/googleapis/googleapis), [Cloud Endpoints](https://cloud.google.com/endpoints), [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway), and [Envoy](https://github.com/envoyproxy/envoy) proxy support this feature and use it for large scale production services. `HttpRule` defines the schema of the gRPC/REST mapping. The mapping specifies how different portions of the gRPC request message are mapped to the URL path, URL query parameters, and HTTP request body. It also controls how the gRPC response message is mapped to the HTTP response body. `HttpRule` is typically specified as an `google.api.http` annotation on the gRPC method. Each mapping specifies a URL path template and an HTTP method. The path template may refer to one or more fields in the gRPC request message, as long as each field is a non-repeated field with a primitive (non-message) type. The path template controls how fields of the request message are mapped to the URL path. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/{name=messages/*}\" }; } } message GetMessageRequest { string name = 1; // Mapped to URL path. } message Message { string text = 1; // The resource content. } This enables an HTTP REST to gRPC mapping as below: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(name: \"messages/123456\")` Any fields in the request message which are not bound by the path template automatically become HTTP query parameters if there is no HTTP request body. For example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get:\"/v1/messages/{message_id}\" }; } } message GetMessageRequest { message SubMessage { string subfield = 1; } string message_id = 1; // Mapped to URL path. int64 revision = 2; // Mapped to URL query parameter `revision`. SubMessage sub = 3; // Mapped to URL query parameter `sub.subfield`. } This enables a HTTP JSON to RPC mapping as below: - HTTP: `GET /v1/messages/123456?revision=2&sub.subfield=foo` - gRPC: `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))` Note that fields which are mapped to URL query parameters must have a primitive type or a repeated primitive type or a non-repeated message type. In the case of a repeated type, the parameter can be repeated in the URL as `...?param=A&param=B`. In the case of a message type, each field of the message is mapped to a separate parameter, such as `...?foo.a=A&foo.b=B&foo.c=C`. For HTTP methods that allow a request body, the `body` field specifies the mapping. Consider a REST update method on the message resource collection: service Messaging { rpc UpdateMessage(UpdateMessageRequest) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"message\" }; } } message UpdateMessageRequest { string message_id = 1; // mapped to the URL Message message = 2; // mapped to the body } The following HTTP JSON to RPC mapping is enabled, where the representation of the JSON in the request body is determined by protos JSON encoding: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })` The special name `*` can be used in the body mapping to define that every field not bound by the path template should be mapped to the request body. This enables the following alternative definition of the update method: service Messaging { rpc UpdateMessage(Message) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"*\" }; } } message Message { string message_id = 1; string text = 2; } The following HTTP JSON to RPC mapping is enabled: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" text: \"Hi!\")` Note that when using `*` in the body mapping, it is not possible to have HTTP parameters, as all fields not bound by the path end in the body. This makes this option more rarely used in practice when defining REST APIs. The common usage of `*` is in custom methods which don't use the URL at all for transferring data. It is possible to define multiple HTTP methods for one RPC by using the `additional_bindings` option. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/messages/{message_id}\" additional_bindings { get: \"/v1/users/{user_id}/messages/{message_id}\" } }; } } message GetMessageRequest { string message_id = 1; string user_id = 2; } This enables the following two alternative HTTP JSON to RPC mappings: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(message_id: \"123456\")` - HTTP: `GET /v1/users/me/messages/123456` - gRPC: `GetMessage(user_id: \"me\" message_id: \"123456\")` Rules for HTTP mapping 1. Leaf request fields (recursive expansion nested messages in the request message) are classified into three categories: - Fields referred by the path template. They are passed via the URL path. - Fields referred by the HttpRule.body. They are passed via the HTTP request body. - All other fields are passed via the URL query parameters, and the parameter name is the field path in the request message. A repeated field can be represented as multiple query parameters under the same name. 2. If HttpRule.body is \"*\", there is no URL query parameter, all fields are passed via URL path and HTTP request body. 3. If HttpRule.body is omitted, there is no HTTP request body, all fields are passed via URL path and URL query parameters. Path template syntax Template = \"/\" Segments [ Verb ] ; Segments = Segment { \"/\" Segment } ; Segment = \"*\" | \"**\" | LITERAL | Variable ; Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ; FieldPath = IDENT { \".\" IDENT } ; Verb = \":\" LITERAL ; The syntax `*` matches a single URL path segment. The syntax `**` matches zero or more URL path segments, which must be the last part of the URL path except the `Verb`. The syntax `Variable` matches part of the URL path as specified by its template. A variable template must not contain other variables. If a variable matches a single path segment, its template may be omitted, e.g. `{var}` is equivalent to `{var=*}`. The syntax `LITERAL` matches literal text in the URL path. If the `LITERAL` contains any reserved character, such characters should be percent-encoded before the matching. If a variable contains exactly one path segment, such as `\"{var}\"` or `\"{var=*}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{var}`. If a variable contains multiple path segments, such as `\"{var=foo/*}\"` or `\"{var=**}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding, except \"%2F\" and \"%2f\" are left unchanged. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{+var}`. Using gRPC API Service Configuration gRPC API Service Configuration (service config) is a configuration language for configuring a gRPC service to become a user-facing product. The service config is simply the YAML representation of the `google.api.Service` proto message. As an alternative to annotating your proto file, you can configure gRPC transcoding in your service config YAML files. You do this by specifying a `HttpRule` that maps the gRPC method to a REST endpoint, achieving the same effect as the proto annotation. This can be particularly useful if you have a proto that is reused in multiple services. Note that any transcoding specified in the service config will override any matching transcoding configuration in the proto. The following example selects a gRPC method and applies an `HttpRule` to it: http: rules: - selector: example.v1.Messaging.GetMessage get: /v1/messages/{message_id}/{sub.subfield} Special notes When gRPC Transcoding is used to map a gRPC to JSON REST endpoints, the proto to JSON conversion must follow the [proto3 specification](https://developers.google.com/protocol-buffers/docs/proto3#json). While the single segment variable follows the semantics of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String Expansion, the multi segment variable **does not** follow RFC 6570 Section 3.2.3 Reserved Expansion. The reason is that the Reserved Expansion does not expand special characters like `?` and `#`, which would lead to invalid URLs. As the result, gRPC Transcoding uses a custom encoding for multi segment variables. The path variables **must not** refer to any repeated or mapped field, because client libraries are not capable of handling such variable expansion. The path variables **must not** capture the leading \"/\" character. The reason is that the most common use case \"{var}\" does not capture the leading \"/\" character. For consistency, all path variables must share the same behavior. Repeated message fields must not be mapped to URL query parameters, because no client library can support such complicated mapping. If an API needs to use a JSON array for request or response body, it can map the request or response body to a repeated field. However, some gRPC Transcoding implementations may not support this feature."
      }
    },
    "com.gcp.servicenetworking_v1#HttpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#HttpRule"
      }
    },
    "com.gcp.servicenetworking_v1#PeeredDnsDomain": {
      "type": "structure",
      "members": {
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS domain name suffix e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User assigned name for this resource. Must be unique within the consumer network. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS domain suffix for which requests originating in the producer VPC network are resolved in the associated consumer VPC network."
      }
    },
    "com.gcp.servicenetworking_v1#SecondaryIpRangeSpec": {
      "type": "structure",
      "members": {
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The prefix length of the secondary IP range. Use CIDR range notation, such as `30` to provision a secondary IP range with an `x.x.x.x/30` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range."
          }
        },
        "requestedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the secondary IP range. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails."
          }
        },
        "outsideAllocationPublicIpRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Enable outside allocation using public IP addresses. Any public IP range may be specified. If this field is provided, we will not use customer reserved ranges for this secondary IP range."
          }
        },
        "rangeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name for the secondary IP range. The name must be 1-63 characters long, and comply with RFC1035. The name must be unique within the subnetwork."
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#AddDnsZoneResponse": {
      "type": "structure",
      "members": {
        "consumerPeeringZone": {
          "target": "com.gcp.servicenetworking_v1#DnsZone",
          "traits": {
            "smithy.api#documentation": "The DNS peering zone created in the consumer project."
          }
        },
        "producerPrivateZone": {
          "target": "com.gcp.servicenetworking_v1#DnsZone",
          "traits": {
            "smithy.api#documentation": "The private DNS zone created in the shared producer host project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents managed DNS zones created in the shared producer host and consumer projects."
      }
    },
    "com.gcp.servicenetworking_v1#GoogleCloudServicenetworkingV1ConsumerConfigReservedRange": {
      "type": "structure",
      "members": {
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The prefix length of the reserved range."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting address of the reserved range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix length is the CIDR range for the reserved range."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the reserved range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocated IP address ranges for this private service access connection."
      }
    },
    "com.gcp.servicenetworking_v1#UpdateDnsRecordSetRequest": {
      "type": "structure",
      "members": {
        "existingDnsRecordSet": {
          "target": "com.gcp.servicenetworking_v1#DnsRecordSet",
          "traits": {
            "smithy.api#documentation": "Required. The existing DNS record set to update."
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the private DNS zone in the shared producer host project from which the record set will be removed."
          }
        },
        "newDnsRecordSet": {
          "target": "com.gcp.servicenetworking_v1#DnsRecordSet",
          "traits": {
            "smithy.api#documentation": "Required. The new values that the DNS record set should be updated to hold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update a record set from a private managed DNS zone in the shared producer host project. The name, type, ttl, and data values of the existing record set must all exactly match an existing record set in the specified zone."
      }
    },
    "com.gcp.servicenetworking_v1#Mixin": {
      "type": "structure",
      "members": {
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If non-empty specifies a path under which inherited HTTP paths are rooted."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the interface which is included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inheriting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }"
      }
    },
    "com.gcp.servicenetworking_v1#SystemParameter": {
      "type": "structure",
      "members": {
        "urlQueryParameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the URL query parameter name to use for the parameter. It is case sensitive."
          }
        },
        "httpHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the HTTP header name to use for the parameter. It is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the name of the parameter, such as \"api_key\" . It is case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a parameter's name and location. The parameter may be passed as either an HTTP header or a URL query parameter, and if both are passed the behavior is implementation-dependent."
      }
    },
    "com.gcp.servicenetworking_v1#PythonSettings": {
      "type": "structure",
      "members": {
        "experimentalFeatures": {
          "target": "com.gcp.servicenetworking_v1#ExperimentalFeatures",
          "traits": {
            "smithy.api#documentation": "Experimental features to be included during client library generation."
          }
        },
        "common": {
          "target": "com.gcp.servicenetworking_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Python client libraries."
      }
    },
    "com.gcp.servicenetworking_v1#EnumValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1#SearchRangeRequest": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network name in the consumer project. This network must have been already peered with a shared VPC network using CreateConnection method. Must be in a form 'projects/{project}/global/networks/{network}'. {project} is a project number, as in '12345' {network} is network name."
          }
        },
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The prefix length of the IP range. Use usual CIDR range notation. For example, '30' to find unused x.x.x.x/30 CIDR range. Actual range will be determined using allocated range for the consumer peered network and returned in the result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to search for an unused range within allocated ranges."
      }
    },
    "com.gcp.servicenetworking_v1#MetricDescriptorMetadata": {
      "type": "structure",
      "members": {
        "ingestDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
          }
        },
        "launchStage": {
          "target": "com.gcp.servicenetworking_v1#MetricDescriptorMetadataLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. Must use the MetricDescriptor.launch_stage instead."
          }
        },
        "samplePeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
          }
        },
        "timeSeriesResourceHierarchyLevel": {
          "target": "com.gcp.servicenetworking_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The scope of the timeseries data of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional annotations that can be used to guide the usage of a metric."
      }
    },
    "com.gcp.servicenetworking_v1#MetricDescriptorMetadataLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum": {
      "type": "enum",
      "members": {
        "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum"
      }
    },
    "com.gcp.servicenetworking_v1#Publishing": {
      "type": "structure",
      "members": {
        "restReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to REST reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rest"
          }
        },
        "githubLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub label to apply to issues and pull requests opened for this API."
          }
        },
        "organization": {
          "target": "com.gcp.servicenetworking_v1#PublishingOrganizationEnum",
          "traits": {
            "smithy.api#documentation": "For whom the client library is being published."
          }
        },
        "librarySettings": {
          "target": "com.gcp.servicenetworking_v1#ClientLibrarySettingsList",
          "traits": {
            "smithy.api#documentation": "Client library settings. If the same version string appears multiple times in this list, then the last one wins. Settings from earlier settings with the same version string are discarded."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to product home page. Example: https://cloud.google.com/asset-inventory/docs/overview"
          }
        },
        "apiShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used as a tracking tag when collecting data about the APIs developer relations artifacts like docs, packages delivered to package managers, etc. Example: \"speech\"."
          }
        },
        "methodSettings": {
          "target": "com.gcp.servicenetworking_v1#MethodSettingsList",
          "traits": {
            "smithy.api#documentation": "A list of API method settings, e.g. the behavior for methods that use the long-running operation pattern."
          }
        },
        "newIssueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to a *public* URI where users can report issues. Example: https://issuetracker.google.com/issues/new?component=190865&template=1161103"
          }
        },
        "docTagPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A prefix used in sample code when demarking regions to be included in documentation."
          }
        },
        "protoReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to proto reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rpc"
          }
        },
        "codeownerGithubTeams": {
          "target": "com.gcp.servicenetworking_v1#StringList",
          "traits": {
            "smithy.api#documentation": "GitHub teams to be added to CODEOWNERS in the directory in GitHub containing source code for the client libraries for this API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message configures the settings for publishing [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from the service config."
      }
    },
    "com.gcp.servicenetworking_v1#PublishingOrganizationEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADS"
          }
        },
        "PHOTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTOS"
          }
        },
        "STREET_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_VIEW"
          }
        },
        "SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO"
          }
        },
        "GENERATIVE_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATIVE_AI"
          }
        },
        "HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1#ClientLibrarySettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#ClientLibrarySettings"
      }
    },
    "com.gcp.servicenetworking_v1#MethodSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#MethodSettings"
      }
    },
    "com.gcp.servicenetworking_v1#ListDnsZonesResponse": {
      "type": "structure",
      "members": {
        "dnsZonePairs": {
          "target": "com.gcp.servicenetworking_v1#DnsZonePairList",
          "traits": {
            "smithy.api#documentation": "All pairs of private DNS zones in the shared producer host project and the matching peering zones in the consumer project.."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents all DNS zones in the shared producer host project and the matching peering zones in the consumer project."
      }
    },
    "com.gcp.servicenetworking_v1#DnsZonePairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#DnsZonePair"
      }
    },
    "com.gcp.servicenetworking_v1#JavaSettings": {
      "type": "structure",
      "members": {
        "libraryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name to use in Java. Clobbers the java_package option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.java.package_name\" field in gapic.yaml. API teams should use the protobuf java_package option where possible. Example of a YAML configuration:: publishing: library_settings: java_settings: library_package: com.google.cloud.pubsub.v1"
          }
        },
        "serviceClassNames": {
          "target": "com.gcp.servicenetworking_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Configure the Java class name to use instead of the service's for its corresponding generated GAPIC client. Keys are fully-qualified service names as they appear in the protobuf (including the full the language_settings.java.interface_names\" field in gapic.yaml. API teams should otherwise use the service name as it appears in the protobuf. Example of a YAML configuration:: publishing: java_settings: service_class_names: - google.pubsub.v1.Publisher: TopicAdmin - google.pubsub.v1.Subscriber: SubscriptionAdmin"
          }
        },
        "common": {
          "target": "com.gcp.servicenetworking_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Java client libraries."
      }
    },
    "com.gcp.servicenetworking_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicenetworking_v1#DnsZonePair": {
      "type": "structure",
      "members": {
        "consumerPeeringZone": {
          "target": "com.gcp.servicenetworking_v1#DnsZone",
          "traits": {
            "smithy.api#documentation": "The DNS peering zone in the consumer project."
          }
        },
        "producerPrivateZone": {
          "target": "com.gcp.servicenetworking_v1#DnsZone",
          "traits": {
            "smithy.api#documentation": "The private DNS zone in the shared producer host project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* Represents a pair of private and peering DNS zone resources. *"
      }
    },
    "com.gcp.servicenetworking_v1#Documentation": {
      "type": "structure",
      "members": {
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.servicenetworking_v1#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        },
        "pages": {
          "target": "com.gcp.servicenetworking_v1#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "rules": {
          "target": "com.gcp.servicenetworking_v1#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.servicenetworking_v1#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#Page"
      }
    },
    "com.gcp.servicenetworking_v1#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1#DocumentationRule"
      }
    },
[...]
