{
  "smithy": "2.0",
  "metadata": {
    "service": "serviceusage",
    "version": "v1",
    "title": "Service Usage API",
    "baseUrl": "https://serviceusage.googleapis.com/"
  },
  "shapes": {
    "com.gcp.serviceusage_v1#Authentication": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceusage_v1#AuthenticationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "providers": {
          "target": "com.gcp.serviceusage_v1#AuthProviderList",
          "traits": {
            "smithy.api#documentation": "Defines a set of authentication providers that a service supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read"
      }
    },
    "com.gcp.serviceusage_v1#AuthenticationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#AuthenticationRule"
      }
    },
    "com.gcp.serviceusage_v1#AuthProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#AuthProvider"
      }
    },
    "com.gcp.serviceusage_v1#MonitoredResourceDescriptor": {
      "type": "structure",
      "members": {
        "launchStage": {
          "target": "com.gcp.serviceusage_v1#MonitoredResourceDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the monitored resource definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A detailed description of the monitored resource type that might be used in documentation."
          }
        },
        "labels": {
          "target": "com.gcp.serviceusage_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels `\"database_id\"` and `\"zone\"`."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL. For a list of types, see [Monitored resource types](https://cloud.google.com/monitoring/api/resources) and [Logging resource types](https://cloud.google.com/logging/docs/api/v2/resource-list)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the monitored resource descriptor: `\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where {type} is the value of the `type` field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format `\"monitoredResourceDescriptors/{type}\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, `\"Google Cloud SQL Database\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of `\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and `\"zone\"` to identify particular VM instances. Different APIs can support different monitored resource types. APIs generally provide a `list` method that returns the monitored resource descriptors used by the API. "
      }
    },
    "com.gcp.serviceusage_v1#MonitoredResourceDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#LabelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#LabelDescriptor"
      }
    },
    "com.gcp.serviceusage_v1#AuthProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
          }
        },
        "jwksUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs"
          }
        },
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        },
        "jwtLocations": {
          "target": "com.gcp.serviceusage_v1#JwtLocationList",
          "traits": {
            "smithy.api#documentation": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token"
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.serviceusage_v1#JwtLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#JwtLocation"
      }
    },
    "com.gcp.serviceusage_v1#ContextRule": {
      "type": "structure",
      "members": {
        "requested": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names of requested contexts, only the requested context will be made available to the backend."
          }
        },
        "allowedResponseExtensions": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names or extension IDs of extensions allowed in grpc side channel from backend to client."
          }
        },
        "provided": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names of provided contexts. It is used to support propagating HTTP headers and ETags from the response extension."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "allowedRequestExtensions": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names or extension IDs of extensions allowed in grpc side channel from client to backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A context rule provides information about the context for an individual API element."
      }
    },
    "com.gcp.serviceusage_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceusage_v1#HttpRule": {
      "type": "structure",
      "members": {
        "put": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PUT. Used for replacing a resource."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the request field whose value is mapped to the HTTP request body, or `*` for mapping all request fields not captured by the path pattern to the HTTP body, or omitted for not having any HTTP request body. NOTE: the referred field must be present at the top-level of the request message type."
          }
        },
        "custom": {
          "target": "com.gcp.serviceusage_v1#CustomHttpPattern",
          "traits": {
            "smithy.api#documentation": "The custom pattern is used for specifying an HTTP method that is not included in the `pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for this rule. The wild-card rule is useful for services that provide content to Web (HTML) clients."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which this rule applies. Refer to selector for syntax details."
          }
        },
        "get": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP GET. Used for listing and getting information about resources."
          }
        },
        "patch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP PATCH. Used for updating a resource."
          }
        },
        "responseBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the response field whose value is mapped to the HTTP response body. When omitted, the entire response message will be used as the HTTP response body. NOTE: The referred field must be present at the top-level of the response message type."
          }
        },
        "post": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP POST. Used for creating a resource or performing an action."
          }
        },
        "delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maps to HTTP DELETE. Used for deleting a resource."
          }
        },
        "additionalBindings": {
          "target": "com.gcp.serviceusage_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "Additional HTTP bindings for the selector. Nested bindings must not contain an `additional_bindings` field themselves (that is, the nesting may only be one level deep)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "gRPC Transcoding gRPC Transcoding is a feature for mapping between a gRPC method and one or more HTTP REST endpoints. It allows developers to build a single API service that supports both gRPC APIs and REST APIs. Many systems, including [Google APIs](https://github.com/googleapis/googleapis), [Cloud Endpoints](https://cloud.google.com/endpoints), [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway), and [Envoy](https://github.com/envoyproxy/envoy) proxy support this feature and use it for large scale production services. `HttpRule` defines the schema of the gRPC/REST mapping. The mapping specifies how different portions of the gRPC request message are mapped to the URL path, URL query parameters, and HTTP request body. It also controls how the gRPC response message is mapped to the HTTP response body. `HttpRule` is typically specified as an `google.api.http` annotation on the gRPC method. Each mapping specifies a URL path template and an HTTP method. The path template may refer to one or more fields in the gRPC request message, as long as each field is a non-repeated field with a primitive (non-message) type. The path template controls how fields of the request message are mapped to the URL path. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/{name=messages/*}\" }; } } message GetMessageRequest { string name = 1; // Mapped to URL path. } message Message { string text = 1; // The resource content. } This enables an HTTP REST to gRPC mapping as below: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(name: \"messages/123456\")` Any fields in the request message which are not bound by the path template automatically become HTTP query parameters if there is no HTTP request body. For example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get:\"/v1/messages/{message_id}\" }; } } message GetMessageRequest { message SubMessage { string subfield = 1; } string message_id = 1; // Mapped to URL path. int64 revision = 2; // Mapped to URL query parameter `revision`. SubMessage sub = 3; // Mapped to URL query parameter `sub.subfield`. } This enables a HTTP JSON to RPC mapping as below: - HTTP: `GET /v1/messages/123456?revision=2&sub.subfield=foo` - gRPC: `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))` Note that fields which are mapped to URL query parameters must have a primitive type or a repeated primitive type or a non-repeated message type. In the case of a repeated type, the parameter can be repeated in the URL as `...?param=A&param=B`. In the case of a message type, each field of the message is mapped to a separate parameter, such as `...?foo.a=A&foo.b=B&foo.c=C`. For HTTP methods that allow a request body, the `body` field specifies the mapping. Consider a REST update method on the message resource collection: service Messaging { rpc UpdateMessage(UpdateMessageRequest) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"message\" }; } } message UpdateMessageRequest { string message_id = 1; // mapped to the URL Message message = 2; // mapped to the body } The following HTTP JSON to RPC mapping is enabled, where the representation of the JSON in the request body is determined by protos JSON encoding: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })` The special name `*` can be used in the body mapping to define that every field not bound by the path template should be mapped to the request body. This enables the following alternative definition of the update method: service Messaging { rpc UpdateMessage(Message) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"*\" }; } } message Message { string message_id = 1; string text = 2; } The following HTTP JSON to RPC mapping is enabled: - HTTP: `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` - gRPC: `UpdateMessage(message_id: \"123456\" text: \"Hi!\")` Note that when using `*` in the body mapping, it is not possible to have HTTP parameters, as all fields not bound by the path end in the body. This makes this option more rarely used in practice when defining REST APIs. The common usage of `*` is in custom methods which don't use the URL at all for transferring data. It is possible to define multiple HTTP methods for one RPC by using the `additional_bindings` option. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/messages/{message_id}\" additional_bindings { get: \"/v1/users/{user_id}/messages/{message_id}\" } }; } } message GetMessageRequest { string message_id = 1; string user_id = 2; } This enables the following two alternative HTTP JSON to RPC mappings: - HTTP: `GET /v1/messages/123456` - gRPC: `GetMessage(message_id: \"123456\")` - HTTP: `GET /v1/users/me/messages/123456` - gRPC: `GetMessage(user_id: \"me\" message_id: \"123456\")` Rules for HTTP mapping 1. Leaf request fields (recursive expansion nested messages in the request message) are classified into three categories: - Fields referred by the path template. They are passed via the URL path. - Fields referred by the HttpRule.body. They are passed via the HTTP request body. - All other fields are passed via the URL query parameters, and the parameter name is the field path in the request message. A repeated field can be represented as multiple query parameters under the same name. 2. If HttpRule.body is \"*\", there is no URL query parameter, all fields are passed via URL path and HTTP request body. 3. If HttpRule.body is omitted, there is no HTTP request body, all fields are passed via URL path and URL query parameters. Path template syntax Template = \"/\" Segments [ Verb ] ; Segments = Segment { \"/\" Segment } ; Segment = \"*\" | \"**\" | LITERAL | Variable ; Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ; FieldPath = IDENT { \".\" IDENT } ; Verb = \":\" LITERAL ; The syntax `*` matches a single URL path segment. The syntax `**` matches zero or more URL path segments, which must be the last part of the URL path except the `Verb`. The syntax `Variable` matches part of the URL path as specified by its template. A variable template must not contain other variables. If a variable matches a single path segment, its template may be omitted, e.g. `{var}` is equivalent to `{var=*}`. The syntax `LITERAL` matches literal text in the URL path. If the `LITERAL` contains any reserved character, such characters should be percent-encoded before the matching. If a variable contains exactly one path segment, such as `\"{var}\"` or `\"{var=*}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{var}`. If a variable contains multiple path segments, such as `\"{var=foo/*}\"` or `\"{var=**}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding, except \"%2F\" and \"%2f\" are left unchanged. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{+var}`. Using gRPC API Service Configuration gRPC API Service Configuration (service config) is a configuration language for configuring a gRPC service to become a user-facing product. The service config is simply the YAML representation of the `google.api.Service` proto message. As an alternative to annotating your proto file, you can configure gRPC transcoding in your service config YAML files. You do this by specifying a `HttpRule` that maps the gRPC method to a REST endpoint, achieving the same effect as the proto annotation. This can be particularly useful if you have a proto that is reused in multiple services. Note that any transcoding specified in the service config will override any matching transcoding configuration in the proto. The following example selects a gRPC method and applies an `HttpRule` to it: http: rules: - selector: example.v1.Messaging.GetMessage get: /v1/messages/{message_id}/{sub.subfield} Special notes When gRPC Transcoding is used to map a gRPC to JSON REST endpoints, the proto to JSON conversion must follow the [proto3 specification](https://developers.google.com/protocol-buffers/docs/proto3#json). While the single segment variable follows the semantics of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String Expansion, the multi segment variable **does not** follow RFC 6570 Section 3.2.3 Reserved Expansion. The reason is that the Reserved Expansion does not expand special characters like `?` and `#`, which would lead to invalid URLs. As the result, gRPC Transcoding uses a custom encoding for multi segment variables. The path variables **must not** refer to any repeated or mapped field, because client libraries are not capable of handling such variable expansion. The path variables **must not** capture the leading \"/\" character. The reason is that the most common use case \"{var}\" does not capture the leading \"/\" character. For consistency, all path variables must share the same behavior. Repeated message fields must not be mapped to URL query parameters, because no client library can support such complicated mapping. If an API needs to use a JSON array for request or response body, it can map the request or response body to a repeated field. However, some gRPC Transcoding implementations may not support this feature."
      }
    },
    "com.gcp.serviceusage_v1#HttpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#HttpRule"
      }
    },
    "com.gcp.serviceusage_v1#RemoveEnableRulesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `RemoveEnableRules` method."
      }
    },
    "com.gcp.serviceusage_v1#DotnetSettings": {
      "type": "structure",
      "members": {
        "handwrittenSignatures": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Method signatures (in the form \"service.method(signature)\") which are provided separately, so shouldn't be generated. Snippets *calling* these methods are still generated, however."
          }
        },
        "renamedServices": {
          "target": "com.gcp.serviceusage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from original service names to renamed versions. This is used when the default generated types would cause a naming conflict. (Neither name is fully-qualified.) Example: Subscriber to SubscriberServiceApi."
          }
        },
        "common": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "ignoredResources": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of full resource types to ignore during generation. This is typically used for API-specific Location resources, which should be handled by the generator as if they were actually the common Location resources. Example entry: \"documentai.googleapis.com/Location\""
          }
        },
        "renamedResources": {
          "target": "com.gcp.serviceusage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from full resource types to the effective short name for the resource. This is used when otherwise resource named from different services would cause naming collisions. Example entry: \"datalabeling.googleapis.com/Dataset\": \"DataLabelingDataset\""
          }
        },
        "forcedNamespaceAliases": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Namespaces which must be aliased in snippets due to a known (but non-generator-predictable) naming collision"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Dotnet client libraries."
      }
    },
    "com.gcp.serviceusage_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceusage_v1#LoggingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
          }
        },
        "logs": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific logging destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.serviceusage_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.serviceusage_v1#ImportAdminOverridesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminOverrides."
      }
    },
    "com.gcp.serviceusage_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.serviceusage_v1#ImportAdminOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceusage_v1#QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "The overrides that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportAdminOverrides"
      }
    },
    "com.gcp.serviceusage_v1#QuotaOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#QuotaOverride"
      }
    },
    "com.gcp.serviceusage_v1#Impact": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent resource that the analysis is based on and the service name that the analysis is for. Example: `projects/100/services/compute.googleapis.com`, folders/101/services/compute.googleapis.com` and `organizations/102/services/compute.googleapis.com`. Usually, the parent resource here is same as the parent resource of the analyzed policy. However, for some analysis types, the parent can be different. For example, for resource existence analysis, if the parent resource of the analyzed policy is a folder or an organization, the parent resource here can still be the project that contains the resources."
          }
        },
        "impactType": {
          "target": "com.gcp.serviceusage_v1#ImpactImpactTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of impact."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User friendly impact detail in a free form message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message to group impacts of updating a policy."
      }
    },
    "com.gcp.serviceusage_v1#ImpactImpactTypeEnum": {
      "type": "enum",
      "members": {
        "IMPACT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_TYPE_UNSPECIFIED"
          }
        },
        "DEPENDENCY_MISSING_DEPENDENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENCY_MISSING_DEPENDENCIES"
          }
        },
        "RESOURCE_EXISTENCE_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXISTENCE_PROJECT"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisResult": {
      "type": "structure",
      "members": {
        "blockers": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaImpactList",
          "traits": {
            "smithy.api#documentation": "Blocking information that would prevent the policy changes at runtime."
          }
        },
        "warnings": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaImpactList",
          "traits": {
            "smithy.api#documentation": "Warning information indicating that the policy changes might be unsafe, but will not block the changes at runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An analysis result including blockers and warnings."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaImpactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaImpact"
      }
    },
    "com.gcp.serviceusage_v1#JavaSettings": {
      "type": "structure",
      "members": {
        "libraryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name to use in Java. Clobbers the java_package option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.java.package_name\" field in gapic.yaml. API teams should use the protobuf java_package option where possible. Example of a YAML configuration:: publishing: library_settings: java_settings: library_package: com.google.cloud.pubsub.v1"
          }
        },
        "common": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "serviceClassNames": {
          "target": "com.gcp.serviceusage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Configure the Java class name to use instead of the service's for its corresponding generated GAPIC client. Keys are fully-qualified service names as they appear in the protobuf (including the full the language_settings.java.interface_names\" field in gapic.yaml. API teams should otherwise use the service name as it appears in the protobuf. Example of a YAML configuration:: publishing: java_settings: service_class_names: - google.pubsub.v1.Publisher: TopicAdmin - google.pubsub.v1.Subscriber: SubscriptionAdmin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Java client libraries."
      }
    },
    "com.gcp.serviceusage_v1#PythonSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "experimentalFeatures": {
          "target": "com.gcp.serviceusage_v1#ExperimentalFeatures",
          "traits": {
            "smithy.api#documentation": "Experimental features to be included during client library generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Python client libraries."
      }
    },
    "com.gcp.serviceusage_v1#Option": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, `\"map_entry\"`. For custom options, it should be the fully-qualified name. For example, `\"google.api.http\"`."
          }
        },
        "value": {
          "target": "com.gcp.serviceusage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer option, which can be attached to a message, field, enumeration, etc. New usages of this message as an alternative to FileOptions, MessageOptions, FieldOptions, EnumOptions, EnumValueOptions, ServiceOptions, or MethodOptions are strongly discouraged."
      }
    },
    "com.gcp.serviceusage_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV1beta1GetServiceIdentityResponse": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1beta1ServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Service identity that service producer can use to access consumer resources. If exists is true, it contains email and unique_id. If exists is false, it contains pre-constructed email and empty unique_id."
          }
        },
        "state": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1beta1GetServiceIdentityResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Service identity state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for getting service identity."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV1beta1GetServiceIdentityResponseStateEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#BatchingSettingsProto": {
      "type": "structure",
      "members": {
        "flowControlElementLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements allowed by flow control."
          }
        },
        "elementCountLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements collected in a batch that could be accepted by server."
          }
        },
        "elementCountThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent."
          }
        },
        "flowControlLimitExceededBehavior": {
          "target": "com.gcp.serviceusage_v1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The behavior to take when the flow control limit is exceeded."
          }
        },
        "requestByteThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message."
          }
        },
        "delayThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which a batch should be sent, starting from the addition of the first message to that batch."
          }
        },
        "requestByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of the request that could be accepted by server."
          }
        },
        "flowControlByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of data allowed by flow control."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero."
      }
    },
    "com.gcp.serviceusage_v1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNSET_BEHAVIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET_BEHAVIOR"
          }
        },
        "THROW_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROW_EXCEPTION"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.serviceusage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.serviceusage_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.serviceusage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.serviceusage_v1#NodeSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Node client libraries."
      }
    },
    "com.gcp.serviceusage_v1#Documentation": {
      "type": "structure",
      "members": {
        "pages": {
          "target": "com.gcp.serviceusage_v1#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "rules": {
          "target": "com.gcp.serviceusage_v1#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.serviceusage_v1#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        },
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.serviceusage_v1#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#Page"
      }
    },
    "com.gcp.serviceusage_v1#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#DocumentationRule"
      }
    },
    "com.gcp.serviceusage_v1#SelectiveGapicGeneration": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces."
          }
        },
        "generateOmittedAsInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases."
      }
    },
    "com.gcp.serviceusage_v1#CustomErrorRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects messages to which this rule applies. Refer to selector for syntax details."
          }
        },
        "isErrorType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom error rule."
      }
    },
    "com.gcp.serviceusage_v1#Backend": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceusage_v1#BackendRuleList",
          "traits": {
            "smithy.api#documentation": "A list of API backend rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Backend` defines the backend configuration for a service."
      }
    },
    "com.gcp.serviceusage_v1#BackendRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#BackendRule"
      }
    },
    "com.gcp.serviceusage_v1#GetServiceIdentityResponse": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.serviceusage_v1#ServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Service identity that service producer can use to access consumer resources. If exists is true, it contains email and unique_id. If exists is false, it contains pre-constructed email and empty unique_id."
          }
        },
        "state": {
          "target": "com.gcp.serviceusage_v1#GetServiceIdentityResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Service identity state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for getting service identity."
      }
    },
    "com.gcp.serviceusage_v1#GetServiceIdentityResponseStateEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#BatchEnableServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1ServiceList",
          "traits": {
            "smithy.api#documentation": "The new state of the services after enabling."
          }
        },
        "failures": {
          "target": "com.gcp.serviceusage_v1#EnableFailureList",
          "traits": {
            "smithy.api#documentation": "If allow_partial_success is true, and one or more services could not be enabled, this field contains the details about each failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `BatchEnableServices` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV1ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1Service"
      }
    },
    "com.gcp.serviceusage_v1#EnableFailureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#EnableFailure"
      }
    },
    "com.gcp.serviceusage_v1#Http": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceusage_v1#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "A list of HTTP configuration rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "fullyDecodeReservedExpansion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, URL path parameters will be fully URI-decoded except in cases of single segment matches in reserved expansion, where \"%2F\" will be left encoded. The default behavior is to not decode RFC 6570 reserved characters in multi segment matches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the HTTP configuration for an API service. It contains a list of HttpRule, each specifying the mapping of an RPC method to one or more HTTP REST API methods."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaEnableRule": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the services that are enabled. Example: `services/storage.googleapis.com`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The consumer policy rule that defines enabled services, groups, and categories."
      }
    },
    "com.gcp.serviceusage_v1#ImportAdminQuotaPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.serviceusage_v1#AdminQuotaPolicyList",
          "traits": {
            "smithy.api#documentation": "The policies that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportAdminQuotaPolicies"
      }
    },
    "com.gcp.serviceusage_v1#AdminQuotaPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#AdminQuotaPolicy"
      }
    },
    "com.gcp.serviceusage_v1#ContentSecurityProvider": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of security service for content scanning, such as Google Cloud Model Armor or supported third-party ISV solutions. If it is Google 1P service, the name should be prefixed with `services/`. If it is a 3P service, the format needs to be documented. The currently supported values are: - `services/modelarmor.googleapis.com` for Google Cloud Model Armor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContentSecurityProvider contains the name of content security provider."
      }
    },
    "com.gcp.serviceusage_v1#LabelDescriptor": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label key."
          }
        },
        "valueType": {
          "target": "com.gcp.serviceusage_v1#LabelDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data that can be assigned to the label."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description for the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a label."
      }
    },
    "com.gcp.serviceusage_v1#LabelDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT64"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "resourceNames": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The full name of the resources that this operation is directly associated with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operation metadata returned for the batchend services operation."
      }
    },
    "com.gcp.serviceusage_v1#Quota": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.gcp.serviceusage_v1#QuotaLimitList",
          "traits": {
            "smithy.api#documentation": "List of QuotaLimit definitions for the service."
          }
        },
        "metricRules": {
          "target": "com.gcp.serviceusage_v1#MetricRuleList",
          "traits": {
            "smithy.api#documentation": "List of MetricRule definitions, each one mapping a selected method to one or more metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota configuration helps to achieve fairness and budgeting in service usage. The metric based quota configuration works this way: - The service configuration defines a set of metrics. - For API calls, the quota.metric_rules maps methods to metrics with corresponding costs. - The quota.limits defines limits on the metrics, which will be used for quota checks at runtime. An example quota configuration in yaml format: quota: limits: - name: apiWriteQpsPerProject metric: library.googleapis.com/write_calls unit: \"1/min/{project}\" # rate limit for consumer projects values: STANDARD: 10000 (The metric rules bind all methods to the read_calls metric, except for the UpdateBook and DeleteBook methods. These two methods are mapped to the write_calls metric, with the UpdateBook method consuming at twice rate as the DeleteBook method.) metric_rules: - selector: \"*\" metric_costs: library.googleapis.com/read_calls: 1 - selector: google.example.library.v1.LibraryService.UpdateBook metric_costs: library.googleapis.com/write_calls: 2 - selector: google.example.library.v1.LibraryService.DeleteBook metric_costs: library.googleapis.com/write_calls: 1 Corresponding Metric definition: metrics: - name: library.googleapis.com/read_calls display_name: Read requests metric_kind: DELTA value_type: INT64 - name: library.googleapis.com/write_calls display_name: Write requests metric_kind: DELTA value_type: INT64 "
      }
    },
    "com.gcp.serviceusage_v1#QuotaLimitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#QuotaLimit"
      }
    },
    "com.gcp.serviceusage_v1#MetricRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#MetricRule"
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalyzeConsumerPolicyResponse": {
      "type": "structure",
      "members": {
        "analysis": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisList",
          "traits": {
            "smithy.api#documentation": "The list of analyses returned from performing the intended policy update analysis. The analysis is grouped by service name and different analysis types. The empty analysis list means that the consumer policy can be updated without any warnings or blockers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of analyzing a consumer policy update."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysis"
      }
    },
    "com.gcp.serviceusage_v1#Type": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.serviceusage_v1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "fields": {
          "target": "com.gcp.serviceusage_v1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "oneofs": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceusage_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#Option"
      }
    },
    "com.gcp.serviceusage_v1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#Field"
      }
    },
    "com.gcp.serviceusage_v1#UsageRule": {
      "type": "structure",
      "members": {
        "allowUnregisteredCalls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use this rule to configure unregistered calls for the service. Unregistered calls are calls that do not contain consumer project identity. (Example: calls that do not contain an API key). WARNING: By default, API methods do not allow unregistered calls, and each method call must be identified by a consumer project identity."
          }
        },
        "skipServiceControl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the selected method should skip service control and the control plane features, such as quota and billing, will not be available. This flag is used by Google Cloud Endpoints to bypass checks for internal methods, such as service health check methods."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage configuration rules for the service."
      }
    },
    "com.gcp.serviceusage_v1#BatchingDescriptorProto": {
      "type": "structure",
      "members": {
        "subresponseField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together."
          }
        },
        "batchedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repeated field in the request message to be aggregated by batching."
          }
        },
        "discriminatorFields": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing."
      }
    },
    "com.gcp.serviceusage_v1#PhpSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "libraryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name to use in Php. Clobbers the php_namespace option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.php.package_name\" field in gapic.yaml. API teams should use the protobuf php_namespace option where possible. Example of a YAML configuration:: publishing: library_settings: php_settings: library_package: Google\\Cloud\\PubSub\\V1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Php client libraries."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpEnableRule": {
      "type": "structure",
      "members": {
        "mcpServices": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpServiceList",
          "traits": {
            "smithy.api#documentation": "List of enabled MCP services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "McpEnableRule contains MCP enablement related rules."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpService"
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpPolicy": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the policy. Only the `default` policy is supported. We allow the following formats: `projects/{PROJECT_NUMBER}/mcpPolicies/default`, `projects/{PROJECT_ID}/mcpPolicies/default`, `folders/{FOLDER_ID}/mcpPolicies/default`, `organizations/{ORG_ID}/mcpPolicies/default`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag indicating the current version of the policy, used for concurrency control."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was created. For singleton policies (such as the `default` policy), this is the first touch of the policy."
          }
        },
        "mcpEnableRules": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpEnableRuleList",
          "traits": {
            "smithy.api#documentation": "McpEnableRules contains MCP enablement related rules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MCP Consumer Policy is a set of rules that define MCP related policy for a cloud resource hierarchy."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpEnableRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaMcpEnableRule"
      }
    },
    "com.gcp.serviceusage_v1#LogDescriptor": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.]."
          }
        },
        "labels": {
          "target": "com.gcp.serviceusage_v1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of this log. This information appears in the documentation and can contain details."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name for this log. This information appears on the user interface and should be concise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer"
      }
    },
    "com.gcp.serviceusage_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1ServiceList",
          "traits": {
            "smithy.api#documentation": "The available services for the requested project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token that can be passed to `ListServices` to resume a paginated query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListServices` method."
      }
    },
    "com.gcp.serviceusage_v1#Api": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.serviceusage_v1#ApiSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of the service."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the interface."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
          }
        },
        "mixins": {
          "target": "com.gcp.serviceusage_v1#MixinList",
          "traits": {
            "smithy.api#documentation": "Included interfaces. See Mixin."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this interface, including package name followed by the interface's simple name."
          }
        },
        "methods": {
          "target": "com.gcp.serviceusage_v1#MethodList",
          "traits": {
            "smithy.api#documentation": "The methods of this interface, in unspecified order."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceusage_v1#SourceContext",
          "traits": {
            "smithy.api#documentation": "Source context for the protocol buffer service represented by this message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1#ApiSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#MixinList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#Mixin"
      }
    },
    "com.gcp.serviceusage_v1#MethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#Method"
      }
    },
    "com.gcp.serviceusage_v1#BatchEnableServicesRequest": {
      "type": "structure",
      "members": {
        "serviceIds": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The identifiers of the services to enable on the project. A valid identifier would be: serviceusage.googleapis.com Enabling services requires that each service is public or is shared with the user enabling the service. A single request can enable a maximum of 20 services at a time. If more than 20 services are specified, the request will fail, and no state changes will occur."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `BatchEnableServices` method."
      }
    },
    "com.gcp.serviceusage_v1#Context": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceusage_v1#ContextRuleList",
          "traits": {
            "smithy.api#documentation": "A list of RPC context rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Context` defines which contexts an API requests. Example: context: rules: - selector: \"*\" requested: - google.rpc.context.ProjectContext - google.rpc.context.OriginContext The above specifies that all methods in the API request `google.rpc.context.ProjectContext` and `google.rpc.context.OriginContext`. Available context types are defined in package `google.rpc.context`. This also provides mechanism to allowlist any protobuf message extension that can be sent in grpc metadata using “x-goog-ext--bin” and “x-goog-ext--jspb” format. For example, list any service specific protobuf types that can appear in grpc metadata as follows in your yaml file: Example: context: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allowed_request_extensions: - google.foo.v1.NewExtension allowed_response_extensions: - google.foo.v1.NewExtension You can also specify extension ID instead of fully qualified extension name here."
      }
    },
    "com.gcp.serviceusage_v1#ContextRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#ContextRule"
      }
    },
    "com.gcp.serviceusage_v1#UpdateContentSecurityPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `UpdateContentSecurityPolicy` method."
      }
    },
    "com.gcp.serviceusage_v1#FieldPolicy": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource type for the resource referred to by the field."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects one or more request or response message fields to apply this `FieldPolicy`. When a `FieldPolicy` is used in proto annotation, the selector must be left as empty. The service config generator will automatically fill the correct value. When a `FieldPolicy` is used in service config, the selector must be a comma-separated string with valid request or response field paths, such as \"foo.bar\" or \"foo.bar,foo.baz\"."
          }
        },
        "resourcePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the required permission(s) for the resource referred to by the field. It requires the field contains a valid resource reference, and the request must pass the permission checks to proceed. For example, \"resourcemanager.projects.get\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google API Policy Annotation This message defines a simple API policy annotation that can be used to annotate API request and response message fields with applicable policies. One field may have multiple applicable policies that must all be satisfied before a request can be processed. This policy annotation is used to generate the overall policy that will be used for automatic runtime policy enforcement and documentation generation."
      }
    },
    "com.gcp.serviceusage_v1#Aspect": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this aspect configuration."
          }
        },
        "rules": {
          "target": "com.gcp.serviceusage_v1#AspectRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Rules of the Configuration."
          }
        },
        "spec": {
          "target": "com.gcp.serviceusage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Content of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aspect represents Generic aspect. It is used to configure an aspect without making direct changes to service.proto"
      }
    },
    "com.gcp.serviceusage_v1#AspectRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#AspectRule"
      }
    },
    "com.gcp.serviceusage_v1#BillingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in Service.monitored_resources section."
          }
        },
        "metrics": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the metrics to report to this billing destination. Each name must be defined in Service.metrics section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific billing destination (Currently only support bill against consumer project)."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysis": {
      "type": "structure",
      "members": {
        "analysisType": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisAnalysisTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of analysis."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The names of the service that has analysis result of warnings or blockers. Example: `services/storage.googleapis.com`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user friendly display name of the analysis type. E.g. service dependency analysis, service resource usage analysis, etc."
          }
        },
        "analysisResult": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisResult",
          "traits": {
            "smithy.api#documentation": "Output only. Analysis result of updating a policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message to group the analysis information."
      }
    },
    "com.gcp.serviceusage_v1#GoogleApiServiceusageV2betaAnalysisAnalysisTypeEnum": {
      "type": "enum",
      "members": {
        "ANALYSIS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_TYPE_UNSPECIFIED"
          }
        },
        "ANALYSIS_TYPE_DEPENDENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_TYPE_DEPENDENCY"
          }
        },
        "ANALYSIS_TYPE_RESOURCE_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_TYPE_RESOURCE_USAGE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#ImportAdminQuotaPoliciesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminQuotaPolicies."
      }
    },
    "com.gcp.serviceusage_v1#ContentSecurity": {
      "type": "structure",
      "members": {
        "contentSecurityProviders": {
          "target": "com.gcp.serviceusage_v1#ContentSecurityProviderList",
          "traits": {
            "smithy.api#documentation": "List of content security providers that are enabled for content scanning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContentSecurity defines the content security related fields of a MCP policy."
      }
    },
    "com.gcp.serviceusage_v1#ContentSecurityProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#ContentSecurityProvider"
      }
    },
    "com.gcp.serviceusage_v1#Endpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "aliases": {
          "target": "com.gcp.serviceusage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        },
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.serviceusage_v1#EnableServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.serviceusage_v1#GoogleApiServiceusageV1Service",
          "traits": {
            "smithy.api#documentation": "The new state of the service after enabling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `EnableService` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceusage_v1#ConsumerPolicy": {
      "type": "structure",
      "members": {
        "enableRules": {
          "target": "com.gcp.serviceusage_v1#EnableRuleList",
          "traits": {
            "smithy.api#documentation": "Enable rules define usable services and service groups."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag indicating the current version of the policy, used for concurrency control."
          }
        },
        "annotations": {
          "target": "com.gcp.serviceusage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. [AIP-128](https://google.aip.dev/128#annotations)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the policy. We only allow consumer policy name as `default` for now: `projects/12345/consumerPolicies/default`, `folders/12345/consumerPolicies/default`, `organizations/12345/consumerPolicies/default`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last-modified time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Consumer Policy is a set of rules that define what services or service groups can be used for a cloud resource hierarchy."
      }
    },
    "com.gcp.serviceusage_v1#EnableRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#EnableRule"
      }
    },
    "com.gcp.serviceusage_v1#EnableServiceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the `EnableService` method."
      }
    },
    "com.gcp.serviceusage_v1#CommonLanguageSettings": {
      "type": "structure",
      "members": {
        "referenceDocsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to automatically generated reference documentation. Example: https://cloud.google.com/nodejs/docs/reference/asset/latest"
          }
        },
        "selectiveGapicGeneration": {
          "target": "com.gcp.serviceusage_v1#SelectiveGapicGeneration",
          "traits": {
            "smithy.api#documentation": "Configuration for which RPCs should be generated in the GAPIC client. Note: This field should not be used in most cases."
          }
        },
        "destinations": {
          "target": "com.gcp.serviceusage_v1#CommonLanguageSettingsDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The destination where API teams want this client library to be published."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required information for every language."
      }
    },
    "com.gcp.serviceusage_v1#CommonLanguageSettingsDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "PACKAGE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_MANAGER"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1#CommonLanguageSettingsDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1#CommonLanguageSettingsDestinationsItemEnum"
      }
    },
    "com.gcp.serviceusage_v1#EnumValue": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.serviceusage_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1#AdminQuotaPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the policy. This name is generated by the server when the policy is created. Example names would be: `organizations/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/adminQuotaPolicies/4a3f2c1d`"
          }
        },
        "policyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota policy value. Can be any nonnegative integer, or -1 (unlimited quota)."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The limit unit of the limit to which this policy applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric to which this policy applies. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "dimensions": {
          "target": "com.gcp.serviceusage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": " If this map is nonempty, then this policy applies only to specific values for dimensions defined in the limit unit. For example, a policy on a limit with the unit `1/{project}/{region}` could contain an entry with the key `region` and the value `us-east-1`; the policy is only applied to quota consumed in that region. This map has the following restrictions: * If `region` appears as a key, its value must be a valid Cloud region. * If `zone` appears as a key, its value must be a valid Cloud zone. * Keys other than `region` or `zone` are not valid."
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud resource container at which the quota policy is created. The format is `{container_type}/{container_number}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota policy created by quota administrator."
      }
    },
    "com.gcp.serviceusage_v1#DocumentationRule": {
      "type": "structure",
      "members": {
        "disableReplacementWords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String of comma or space separated case-sensitive words for which method/field name replacement will be disabled."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the selected proto element (e.g. a message, a method, a 'service' definition, or a field). Defaults to leading & trailing comments taken from the proto source definition of the proto element."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
[...]
