{
  "smithy": "2.0",
  "metadata": {
    "service": "solar",
    "version": "v1",
    "title": "Solar API",
    "baseUrl": "https://solar.googleapis.com/"
  },
  "shapes": {
    "com.gcp.solar_v1#LeasingSavings": {
      "type": "structure",
      "members": {
        "savings": {
          "target": "com.gcp.solar_v1#SavingsOverTime",
          "traits": {
            "smithy.api#documentation": "How much is saved (or not) over the lifetime period."
          }
        },
        "leasesAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether leases are allowed in this juristiction (leases are not allowed in some states). If this field is false, then the values in this message should probably be ignored."
          }
        },
        "leasesSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether leases are supported in this juristiction by the financial calculation engine. If this field is false, then the values in this message should probably be ignored. This is independent of `leases_allowed`: in some areas leases are allowed, but under conditions that aren't handled by the financial models."
          }
        },
        "annualLeasingCost": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Estimated annual leasing cost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cost and benefit of leasing a particular configuration of solar panels with a particular electricity usage."
      }
    },
    "com.gcp.solar_v1#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.solar_v1#BuildingInsights": {
      "type": "structure",
      "members": {
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Administrative area 1 (e.g., in the US, the state) that contains this building. For example, in the US, the abbreviation might be \"MA\" or \"CA.\""
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code (e.g., US zip code) this building is contained by."
          }
        },
        "boundingBox": {
          "target": "com.gcp.solar_v1#LatLngBox",
          "traits": {
            "smithy.api#documentation": "The bounding box of the building."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code for the country (or region) this building is in."
          }
        },
        "solarPotential": {
          "target": "com.gcp.solar_v1#SolarPotential",
          "traits": {
            "smithy.api#documentation": "Solar potential of the building."
          }
        },
        "detectedArrays": {
          "target": "com.gcp.solar_v1#BuildingInsightsDetectedArrays",
          "traits": {
            "smithy.api#documentation": "Solar arrays detected on the building. This field is only populated if DETECTED_ARRAYS is included in the request's FindClosestBuildingInsightsRequest.additional_insights."
          }
        },
        "center": {
          "target": "com.gcp.solar_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "A point near the center of the building."
          }
        },
        "imageryDate": {
          "target": "com.gcp.solar_v1#Solar_Date",
          "traits": {
            "smithy.api#documentation": "Date that the underlying imagery was acquired. This is approximate."
          }
        },
        "imageryQuality": {
          "target": "com.gcp.solar_v1#BuildingInsightsImageryQualityEnum",
          "traits": {
            "smithy.api#documentation": "The quality of the imagery used to compute the data for this building."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the building, of the format `buildings/{place_id}`."
          }
        },
        "imageryProcessedDate": {
          "target": "com.gcp.solar_v1#Solar_Date",
          "traits": {
            "smithy.api#documentation": "When processing was completed on this imagery."
          }
        },
        "statisticalArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Statistical area (e.g., US census tract) this building is in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `Solar.FindClosestBuildingInsights`. Information about the location, dimensions, and solar potential of a building."
      }
    },
    "com.gcp.solar_v1#BuildingInsightsImageryQualityEnum": {
      "type": "enum",
      "members": {
        "IMAGERY_QUALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_QUALITY_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        }
      }
    },
    "com.gcp.solar_v1#RoofSegmentSizeAndSunshineStats": {
      "type": "structure",
      "members": {
        "pitchDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Angle of the roof segment relative to the theoretical ground plane. 0 = parallel to the ground, 90 = perpendicular to the ground."
          }
        },
        "stats": {
          "target": "com.gcp.solar_v1#SizeAndSunshineStats",
          "traits": {
            "smithy.api#documentation": "Total size and sunlight quantiles for the roof segment."
          }
        },
        "center": {
          "target": "com.gcp.solar_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "A point near the center of the roof segment."
          }
        },
        "planeHeightAtCenterMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the roof segment plane, in meters above sea level, at the point designated by `center`. Together with the pitch, azimuth, and center location, this fully defines the roof segment plane."
          }
        },
        "azimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Compass direction the roof segment is pointing in. 0 = North, 90 = East, 180 = South. For a \"flat\" roof segment (`pitch_degrees` very near 0), azimuth is not well defined, so for consistency, we define it arbitrarily to be 0 (North)."
          }
        },
        "boundingBox": {
          "target": "com.gcp.solar_v1#LatLngBox",
          "traits": {
            "smithy.api#documentation": "The bounding box of the roof segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the size and sunniness quantiles of a roof segment."
      }
    },
    "com.gcp.solar_v1#Solar_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.solar_v1#DataLayers": {
      "type": "structure",
      "members": {
        "imageryProcessedDate": {
          "target": "com.gcp.solar_v1#Solar_Date",
          "traits": {
            "smithy.api#documentation": "When processing was completed on this imagery."
          }
        },
        "imageryDate": {
          "target": "com.gcp.solar_v1#Solar_Date",
          "traits": {
            "smithy.api#documentation": "When the source imagery (from which all the other data are derived) in this region was taken. It is necessarily somewhat approximate, as the images may have been taken over more than one day."
          }
        },
        "monthlyFluxUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the monthly flux map (sunlight on roofs, broken down by month) of the region. Values are kWh/kW/year. The GeoTIFF pointed to by this URL will contain twelve bands, corresponding to January...December, in order."
          }
        },
        "hourlyShadeUrls": {
          "target": "com.gcp.solar_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Twelve URLs for hourly shade, corresponding to January...December, in order. Each GeoTIFF will contain 24 bands, corresponding to the 24 hours of the day. Each pixel is a 32 bit integer, corresponding to the (up to) 31 days of that month; a 1 bit means that the corresponding location is able to see the sun at that day, of that hour, of that month. Invalid locations are stored as -9999 (since this is negative, it has bit 31 set, and no valid value could have bit 31 set as that would correspond to the 32nd day of the month). An example may be useful. If you want to know whether a point (at pixel location (x, y)) saw sun at 4pm on the 22nd of June you would: 1. fetch the sixth URL in this list (corresponding to June). 1. look up the 17th channel (corresponding to 4pm). 1. read the 32-bit value at (x, y). 1. read bit 21 of the value (corresponding to the 22nd of the month). 1. if that bit is a 1, then that spot saw the sun at 4pm 22 June. More formally: Given `month` (1-12), `day` (1...month max; February has 28 days) and `hour` (0-23), the shade/sun for that month/day/hour at a position `(x, y)` is the bit ``` (hourly_shade[month - 1])(x, y)[hour] & (1 << (day - 1)) ``` where `(x, y)` is spatial indexing, `[month - 1]` refers to fetching the `month - 1`st URL (indexing from zero), `[hour]` is indexing into the channels, and a final non-zero result means \"sunny\". There are no leap days, and DST doesn't exist (all days are 24 hours long; noon is always \"standard time\" noon)."
          }
        },
        "imageryQuality": {
          "target": "com.gcp.solar_v1#DataLayersImageryQualityEnum",
          "traits": {
            "smithy.api#documentation": "The quality of the result's imagery."
          }
        },
        "rgbUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for an image of RGB data (aerial or satellite photo) of the region."
          }
        },
        "annualFluxUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the annual flux map (annual sunlight on roofs) of the region. Values are kWh/kW/year. This is *unmasked flux*: flux is computed for every location, not just building rooftops. Invalid locations are stored as -9999: locations outside our coverage area will be invalid, and a few locations inside the coverage area, where we were unable to calculate flux, will also be invalid."
          }
        },
        "dsmUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for an image of the DSM (Digital Surface Model) of the region. Values are in meters above EGM96 geoid (i.e., sea level). Invalid locations (where we don't have data) are stored as -9999."
          }
        },
        "maskUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the building mask image: one bit per pixel saying whether that pixel is considered to be part of a rooftop or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the solar potential of a region. The actual data are contained in a number of GeoTIFF files covering the requested region, for which this message contains URLs: Each string in the `DataLayers` message contains a URL from which the corresponding GeoTIFF can be fetched. These URLs are valid for a few hours after they've been generated. Most of the GeoTIFF files are at a resolution of 0.1m/pixel, but the monthly flux file is at 0.5m/pixel, and the hourly shade files are at 1m/pixel. If a `pixel_size_meters` value was specified in the `GetDataLayersRequest`, then the minimum resolution in the GeoTIFF files will be that value."
      }
    },
    "com.gcp.solar_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.solar_v1#DataLayersImageryQualityEnum": {
      "type": "enum",
      "members": {
        "IMAGERY_QUALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_QUALITY_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        }
      }
    },
    "com.gcp.solar_v1#LatLngBox": {
      "type": "structure",
      "members": {
        "sw": {
          "target": "com.gcp.solar_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "The southwest corner of the box."
          }
        },
        "ne": {
          "target": "com.gcp.solar_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "The northeast corner of the box."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bounding box in lat/lng coordinates."
      }
    },
    "com.gcp.solar_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.solar_v1#SolarPanelConfig": {
      "type": "structure",
      "members": {
        "yearlyEnergyDcKwh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much sunlight energy this layout captures over the course of a year, in DC kWh, assuming the panels described above."
          }
        },
        "roofSegmentSummaries": {
          "target": "com.gcp.solar_v1#RoofSegmentSummaryList",
          "traits": {
            "smithy.api#documentation": "Information about the production of each roof segment that is carrying at least one panel in this layout. `roof_segment_summaries[i]` describes the i-th roof segment, including its size, expected production and orientation."
          }
        },
        "panelsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of panels. Note that this is redundant to (the sum of) the corresponding fields in roof_segment_summaries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SolarPanelConfig describes a particular placement of solar panels on the roof."
      }
    },
    "com.gcp.solar_v1#RoofSegmentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#RoofSegmentSummary"
      }
    },
    "com.gcp.solar_v1#FinancialDetails": {
      "type": "structure",
      "members": {
        "costOfElectricityWithoutSolar": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Total cost of electricity the user would have paid over the lifetime period if they didn't install solar."
          }
        },
        "initialAcKwhPerYear": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many AC kWh we think the solar panels will generate in their first year."
          }
        },
        "percentageExportedToGrid": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage (0-100) of solar electricity production we assumed was exported to the grid, based on the first quarter of production. This affects the calculations if net metering is not allowed."
          }
        },
        "remainingLifetimeUtilityBill": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Utility bill for electricity not produced by solar, for the lifetime of the panels."
          }
        },
        "solarPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage (0-100) of the user's power supplied by solar. Valid for the first year but approximately correct for future years."
          }
        },
        "federalIncentive": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Amount of money available from federal incentives; this applies if the user buys (with or without a loan) the panels."
          }
        },
        "lifetimeSrecTotal": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Amount of money the user will receive from Solar Renewable Energy Credits over the panel lifetime; this applies if the user buys (with or without a loan) the panels."
          }
        },
        "stateIncentive": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Amount of money available from state incentives; this applies if the user buys (with or without a loan) the panels."
          }
        },
        "utilityIncentive": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Amount of money available from utility incentives; this applies if the user buys (with or without a loan) the panels."
          }
        },
        "netMeteringAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether net metering is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a financial analysis. Some of these details are already stored at higher levels (e.g., out of pocket cost). Total money amounts are over a lifetime period defined by the panel_lifetime_years field in SolarPotential. Note: The out of pocket cost of purchasing the panels is given in the out_of_pocket_cost field in CashPurchaseSavings."
      }
    },
    "com.gcp.solar_v1#SizeAndSunshineStats": {
      "type": "structure",
      "members": {
        "areaMeters2": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The area of the roof or roof segment, in m^2. This is the roof area (accounting for tilt), not the ground footprint area."
          }
        },
        "sunshineQuantiles": {
          "target": "com.gcp.solar_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Quantiles of the pointwise sunniness across the area. If there are N values here, this represents the (N-1)-iles. For example, if there are 5 values, then they would be the quartiles (min, 25%, 50%, 75%, max). Values are in annual kWh/kW like max_sunshine_hours_per_year."
          }
        },
        "groundAreaMeters2": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The ground footprint area covered by the roof or roof segment, in m^2."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Size and sunniness quantiles of a roof, or part of a roof."
      }
    },
    "com.gcp.solar_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.solar_v1#BuildingInsightsDetectedArrays": {
      "type": "structure",
      "members": {
        "detectionStatus": {
          "target": "com.gcp.solar_v1#BuildingInsightsDetectedArraysDetectionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the detection status of solar arrays for this building."
          }
        },
        "latestCaptureDate": {
          "target": "com.gcp.solar_v1#Solar_Date",
          "traits": {
            "smithy.api#documentation": "The date indicating when the latest solar array data was captured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about solar arrays detected on the building."
      }
    },
    "com.gcp.solar_v1#BuildingInsightsDetectedArraysDetectionStatusEnum": {
      "type": "enum",
      "members": {
        "DETECTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTION_STATUS_UNSPECIFIED"
          }
        },
        "DETECTION_STATUS_DATA_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTION_STATUS_DATA_UNAVAILABLE"
          }
        },
        "DETECTION_STATUS_ARRAYS_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTION_STATUS_ARRAYS_DETECTED"
          }
        },
        "DETECTION_STATUS_NO_ARRAYS_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTION_STATUS_NO_ARRAYS_DETECTED"
          }
        }
      }
    },
    "com.gcp.solar_v1#SolarPotential": {
      "type": "structure",
      "members": {
        "maxArrayAreaMeters2": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size, in square meters, of the maximum array."
          }
        },
        "panelWidthMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Width, in meters in portrait orientation, of the panel used in the calculations."
          }
        },
        "buildingStats": {
          "target": "com.gcp.solar_v1#SizeAndSunshineStats",
          "traits": {
            "smithy.api#documentation": "Size and sunlight quantiles for the entire building, including parts of the roof that were not assigned to some roof segment. Because the orientations of these parts are not well characterised, the roof area estimate is unreliable, but the ground area estimate is reliable. It may be that a more reliable whole building roof area can be obtained by scaling the roof area from whole_roof_stats by the ratio of the ground areas of `building_stats` and `whole_roof_stats`."
          }
        },
        "panelCapacityWatts": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Capacity, in watts, of the panel used in the calculations."
          }
        },
        "roofSegmentStats": {
          "target": "com.gcp.solar_v1#RoofSegmentSizeAndSunshineStatsList",
          "traits": {
            "smithy.api#documentation": "Size and sunlight quantiles for each roof segment."
          }
        },
        "maxSunshineHoursPerYear": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of sunshine hours received per year, by any point on the roof. Sunshine hours are a measure of the total amount of insolation (energy) received per year. 1 sunshine hour = 1 kWh per kW (where kW refers to kW of capacity under Standard Testing Conditions)."
          }
        },
        "financialAnalyses": {
          "target": "com.gcp.solar_v1#FinancialAnalysisList",
          "traits": {
            "smithy.api#documentation": "A FinancialAnalysis gives the savings from going solar assuming a given monthly bill and a given electricity provider. They are in order of increasing order of monthly bill amount. This field will be empty for buildings in areas for which the Solar API does not have enough information to perform financial computations."
          }
        },
        "panelHeightMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Height, in meters in portrait orientation, of the panel used in the calculations."
          }
        },
        "maxArrayPanelsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the maximum array - that is, the maximum number of panels that can fit on the roof."
          }
        },
        "solarPanels": {
          "target": "com.gcp.solar_v1#SolarPanelList",
          "traits": {
            "smithy.api#documentation": "Each SolarPanel describes a single solar panel. They are listed in the order that the panel layout algorithm placed this. This is usually, though not always, in decreasing order of annual energy production."
          }
        },
        "solarPanelConfigs": {
          "target": "com.gcp.solar_v1#SolarPanelConfigList",
          "traits": {
            "smithy.api#documentation": "Each SolarPanelConfig describes a different arrangement of solar panels on the roof. They are in order of increasing number of panels. The `SolarPanelConfig` with panels_count=N is based on the first N panels in the `solar_panels` list. This field is only populated if at least 4 panels can fit on a roof."
          }
        },
        "wholeRoofStats": {
          "target": "com.gcp.solar_v1#SizeAndSunshineStats",
          "traits": {
            "smithy.api#documentation": "Total size and sunlight quantiles for the part of the roof that was assigned to some roof segment. Despite the name, this may not include the entire building. See building_stats."
          }
        },
        "panelLifetimeYears": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The expected lifetime, in years, of the solar panels. This is used in the financial calculations."
          }
        },
        "carbonOffsetFactorKgPerMwh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Equivalent amount of CO2 produced per MWh of grid electricity. This is a measure of the carbon intensity of grid electricity displaced by solar electricity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the solar potential of a building. A number of fields in this are defined in terms of \"panels\". The fields panel_capacity_watts, panel_height_meters, and panel_width_meters describe the parameters of the model of panel used in these calculations."
      }
    },
    "com.gcp.solar_v1#RoofSegmentSizeAndSunshineStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#RoofSegmentSizeAndSunshineStats"
      }
    },
    "com.gcp.solar_v1#FinancialAnalysisList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#FinancialAnalysis"
      }
    },
    "com.gcp.solar_v1#SolarPanelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#SolarPanel"
      }
    },
    "com.gcp.solar_v1#SolarPanelConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#SolarPanelConfig"
      }
    },
    "com.gcp.solar_v1#HttpBody": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.solar_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.solar_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.solar_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#DocumentMap"
      }
    },
    "com.gcp.solar_v1#FinancialAnalysis": {
      "type": "structure",
      "members": {
        "leasingSavings": {
          "target": "com.gcp.solar_v1#LeasingSavings",
          "traits": {
            "smithy.api#documentation": "Cost and benefit of leasing the solar panels."
          }
        },
        "panelConfigIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index in solar_panel_configs of the optimum solar layout for this bill size. This can be -1 indicating that there is no layout. In this case, the remaining submessages will be omitted."
          }
        },
        "financedPurchaseSavings": {
          "target": "com.gcp.solar_v1#FinancedPurchaseSavings",
          "traits": {
            "smithy.api#documentation": "Cost and benefit of buying the solar panels by financing the purchase."
          }
        },
        "monthlyBill": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "The monthly electric bill this analysis assumes."
          }
        },
        "defaultBill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the bill size selected to be the default bill for the area this building is in. Exactly one `FinancialAnalysis` in `BuildingSolarPotential` should have `default_bill` set."
          }
        },
        "averageKwhPerMonth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much electricity the house uses in an average month, based on the bill size and the local electricity rates."
          }
        },
        "financialDetails": {
          "target": "com.gcp.solar_v1#FinancialDetails",
          "traits": {
            "smithy.api#documentation": "Financial information that applies regardless of the financing method used."
          }
        },
        "cashPurchaseSavings": {
          "target": "com.gcp.solar_v1#CashPurchaseSavings",
          "traits": {
            "smithy.api#documentation": "Cost and benefit of buying the solar panels with cash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Analysis of the cost and benefits of the optimum solar layout for a particular electric bill size."
      }
    },
    "com.gcp.solar_v1#CashPurchaseSavings": {
      "type": "structure",
      "members": {
        "rebateValue": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "The value of all tax rebates."
          }
        },
        "upfrontCost": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Initial cost after tax incentives: it's the amount that must be paid during first year. Contrast with `out_of_pocket_cost`, which is before tax incentives."
          }
        },
        "outOfPocketCost": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Initial cost before tax incentives: the amount that must be paid out-of-pocket. Contrast with `upfront_cost`, which is after tax incentives."
          }
        },
        "savings": {
          "target": "com.gcp.solar_v1#SavingsOverTime",
          "traits": {
            "smithy.api#documentation": "How much is saved (or not) over the lifetime period."
          }
        },
        "paybackYears": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of years until payback occurs. A negative value means payback never occurs within the lifetime period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cost and benefit of an outright purchase of a particular configuration of solar panels with a particular electricity usage."
      }
    },
    "com.gcp.solar_v1#SolarPanel": {
      "type": "structure",
      "members": {
        "orientation": {
          "target": "com.gcp.solar_v1#SolarPanelOrientationEnum",
          "traits": {
            "smithy.api#documentation": "The orientation of the panel."
          }
        },
        "yearlyEnergyDcKwh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much sunlight energy this layout captures over the course of a year, in DC kWh."
          }
        },
        "segmentIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index in roof_segment_stats of the `RoofSegmentSizeAndSunshineStats` which corresponds to the roof segment that this panel is placed on."
          }
        },
        "center": {
          "target": "com.gcp.solar_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "The centre of the panel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SolarPanel describes the position, orientation, and production of a single solar panel. See the panel_height_meters, panel_width_meters, and panel_capacity_watts fields in SolarPotential for information on the parameters of the panel."
      }
    },
    "com.gcp.solar_v1#SolarPanelOrientationEnum": {
      "type": "enum",
      "members": {
        "SOLAR_PANEL_ORIENTATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLAR_PANEL_ORIENTATION_UNSPECIFIED"
          }
        },
        "LANDSCAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDSCAPE"
          }
        },
        "PORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PORTRAIT"
          }
        }
      }
    },
    "com.gcp.solar_v1#RoofSegmentSummary": {
      "type": "structure",
      "members": {
        "segmentIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index in roof_segment_stats of the corresponding `RoofSegmentSizeAndSunshineStats`."
          }
        },
        "pitchDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Angle of the roof segment relative to the theoretical ground plane. 0 = parallel to the ground, 90 = perpendicular to the ground."
          }
        },
        "panelsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of panels on this segment."
          }
        },
        "azimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Compass direction the roof segment is pointing in. 0 = North, 90 = East, 180 = South. For a \"flat\" roof segment (`pitch_degrees` very near 0), azimuth is not well defined, so for consistency, we define it arbitrarily to be 0 (North)."
          }
        },
        "yearlyEnergyDcKwh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much sunlight energy this part of the layout captures over the course of a year, in DC kWh, assuming the panels described above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a roof segment on the building, with some number of panels placed on it."
      }
    },
    "com.gcp.solar_v1#SavingsOverTime": {
      "type": "structure",
      "members": {
        "financiallyViable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this scenario is financially viable. Will be false for scenarios with poor financial viability (e.g., money-losing)."
          }
        },
        "presentValueOfSavingsLifetime": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Using the assumed discount rate, what is the present value of the cumulative lifetime savings?"
          }
        },
        "presentValueOfSavingsYear20": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Using the assumed discount rate, what is the present value of the cumulative 20-year savings?"
          }
        },
        "savingsLifetime": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Savings in the entire panel lifetime."
          }
        },
        "savingsYear1": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Savings in the first year after panel installation."
          }
        },
        "savingsYear20": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Savings in the first twenty years after panel installation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Financial information that's shared between different financing methods."
      }
    },
    "com.gcp.solar_v1#FinancedPurchaseSavings": {
      "type": "structure",
      "members": {
        "rebateValue": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "The value of all tax rebates (including Federal Investment Tax Credit (ITC))."
          }
        },
        "annualLoanPayment": {
          "target": "com.gcp.solar_v1#Money",
          "traits": {
            "smithy.api#documentation": "Annual loan payments."
          }
        },
        "loanInterestRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The interest rate on loans assumed in this set of calculations."
          }
        },
        "savings": {
          "target": "com.gcp.solar_v1#SavingsOverTime",
          "traits": {
            "smithy.api#documentation": "How much is saved (or not) over the lifetime period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cost and benefit of using a loan to buy a particular configuration of solar panels with a particular electricity usage."
      }
    },
    "com.gcp.solar_v1#GetDataLayersRequiredQualityEnum": {
      "type": "enum",
      "members": {
        "IMAGERY_QUALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_QUALITY_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        }
      }
    },
    "com.gcp.solar_v1#GetDataLayersViewEnum": {
      "type": "enum",
      "members": {
        "DATA_LAYER_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LAYER_VIEW_UNSPECIFIED"
          }
        },
        "DSM_LAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSM_LAYER"
          }
        },
        "IMAGERY_LAYERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_LAYERS"
          }
        },
        "IMAGERY_AND_ANNUAL_FLUX_LAYERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_AND_ANNUAL_FLUX_LAYERS"
          }
        },
        "IMAGERY_AND_ALL_FLUX_LAYERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_AND_ALL_FLUX_LAYERS"
          }
        },
        "FULL_LAYERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_LAYERS"
          }
        }
      }
    },
    "com.gcp.solar_v1#GetDataLayersExperimentsEnum": {
      "type": "enum",
      "members": {
        "EXPERIMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENT_UNSPECIFIED"
          }
        },
        "EXPANDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.solar_v1#GetDataLayersExperimentsEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#GetDataLayersExperimentsEnum"
      }
    },
    "com.gcp.solar_v1#GetDataLayersRequest": {
      "type": "structure",
      "members": {
        "location.latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
            "smithy.api#httpQuery": "location.latitude"
          }
        },
        "requiredQuality": {
          "target": "com.gcp.solar_v1#GetDataLayersRequiredQualityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum quality level allowed in the results. No result with lower quality than this will be returned. Not specifying this is equivalent to restricting to HIGH quality only.",
            "smithy.api#httpQuery": "requiredQuality"
          }
        },
        "view": {
          "target": "com.gcp.solar_v1#GetDataLayersViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The desired subset of the data to return.",
            "smithy.api#httpQuery": "view"
          }
        },
        "exactQualityRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to require exact quality of the imagery. If set to false, the `required_quality` field is interpreted as the minimum required quality, such that HIGH quality imagery may be returned when `required_quality` is set to MEDIUM. If set to true, `required_quality` is interpreted as the exact required quality and only `MEDIUM` quality imagery is returned if `required_quality` is set to `MEDIUM`.",
            "smithy.api#httpQuery": "exactQualityRequired"
          }
        },
        "location.longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
            "smithy.api#httpQuery": "location.longitude"
          }
        },
        "radiusMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The radius, in meters, defining the region surrounding that centre point for which data should be returned. The limitations on this value are: * Any value up to 100m can always be specified. * Values over 100m can be specified, as long as `radius_meters` <= `pixel_size_meters * 1000`. * However, for values over 175m, the `DataLayerView` in the request must not include monthly flux or hourly shade.",
            "smithy.api#httpQuery": "radiusMeters"
          }
        },
        "pixelSizeMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum scale, in meters per pixel, of the data to return. Values of 0.1 (the default, if this field is not set explicitly), 0.25, 0.5, and 1.0 are supported. Imagery components whose normal resolution is less than `pixel_size_meters` will be returned at the resolution specified by `pixel_size_meters`; imagery components whose normal resolution is equal to or greater than `pixel_size_meters` will be returned at that normal resolution.",
            "smithy.api#httpQuery": "pixelSizeMeters"
          }
        },
        "experiments": {
          "target": "com.gcp.solar_v1#GetDataLayersExperimentsEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the pre-GA experiments to enable. Requests using this field are classified as a pre-GA offering under the [Google Maps Platform Service Specific Terms](https://cloud.google.com/maps-platform/terms/maps-service-terms). See [launch stage descriptions]( https://cloud.google.com/maps-platform/terms/launch-stages) for more details.",
            "smithy.api#httpQuery": "experiments"
          }
        }
      }
    },
    "com.gcp.solar_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.solar_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.solar_v1#GetDataLayers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.solar_v1#GetDataLayersRequest"
      },
      "output": {
        "target": "com.gcp.solar_v1#DataLayers"
      },
      "errors": [
        {
          "target": "com.gcp.solar_v1#NotFound"
        },
        {
          "target": "com.gcp.solar_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/dataLayers:get"
        },
        "smithy.api#documentation": "Gets solar information for a region surrounding a location. Returns an error with code `NOT_FOUND` if the location is outside the coverage area."
      }
    },
    "com.gcp.solar_v1#GetGeoTiffRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the asset being requested.",
            "smithy.api#httpQuery": "id"
          }
        }
      }
    },
    "com.gcp.solar_v1#GetGeoTiff": {
      "type": "operation",
      "input": {
        "target": "com.gcp.solar_v1#GetGeoTiffRequest"
      },
      "output": {
        "target": "com.gcp.solar_v1#HttpBody"
      },
      "errors": [
        {
          "target": "com.gcp.solar_v1#NotFound"
        },
        {
          "target": "com.gcp.solar_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/geoTiff:get"
        },
        "smithy.api#documentation": "Returns an image by its ID."
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsExperimentsEnum": {
      "type": "enum",
      "members": {
        "EXPERIMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENT_UNSPECIFIED"
          }
        },
        "EXPANDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsExperimentsEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#FindClosestBuildingInsightsExperimentsEnum"
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsAdditionalInsightsEnum": {
      "type": "enum",
      "members": {
        "ADDITIONAL_INSIGHTS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_INSIGHTS_UNSPECIFIED"
          }
        },
        "DETECTED_ARRAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTED_ARRAYS"
          }
        }
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsAdditionalInsightsEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.solar_v1#FindClosestBuildingInsightsAdditionalInsightsEnum"
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsRequiredQualityEnum": {
      "type": "enum",
      "members": {
        "IMAGERY_QUALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY_QUALITY_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        }
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsightsRequest": {
      "type": "structure",
      "members": {
        "experiments": {
          "target": "com.gcp.solar_v1#FindClosestBuildingInsightsExperimentsEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the pre-GA experiments to enable. Requests using this field are classified as a pre-GA offering under the [Google Maps Platform Service Specific Terms](https://cloud.google.com/maps-platform/terms/maps-service-terms). See [launch stage descriptions](https://cloud.google.com/maps-platform/terms/launch-stages) for more details.",
            "smithy.api#httpQuery": "experiments"
          }
        },
        "additionalInsights": {
          "target": "com.gcp.solar_v1#FindClosestBuildingInsightsAdditionalInsightsEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of additional_insights to be included in the response.",
            "smithy.api#httpQuery": "additionalInsights"
          }
        },
        "exactQualityRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to require exact quality of the imagery. If set to false, the `required_quality` field is interpreted as the minimum required quality, such that HIGH quality imagery may be returned when `required_quality` is set to MEDIUM. If set to true, `required_quality` is interpreted as the exact required quality and only `MEDIUM` quality imagery is returned if `required_quality` is set to `MEDIUM`.",
            "smithy.api#httpQuery": "exactQualityRequired"
          }
        },
        "location.longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
            "smithy.api#httpQuery": "location.longitude"
          }
        },
        "location.latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
            "smithy.api#httpQuery": "location.latitude"
          }
        },
        "requiredQuality": {
          "target": "com.gcp.solar_v1#FindClosestBuildingInsightsRequiredQualityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum quality level allowed in the results. No result with lower quality than this will be returned. Not specifying this is equivalent to restricting to HIGH quality only.",
            "smithy.api#httpQuery": "requiredQuality"
          }
        }
      }
    },
    "com.gcp.solar_v1#FindClosestBuildingInsights": {
      "type": "operation",
      "input": {
        "target": "com.gcp.solar_v1#FindClosestBuildingInsightsRequest"
      },
      "output": {
        "target": "com.gcp.solar_v1#BuildingInsights"
      },
      "errors": [
        {
          "target": "com.gcp.solar_v1#NotFound"
        },
        {
          "target": "com.gcp.solar_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/buildingInsights:findClosest"
        },
        "smithy.api#documentation": "Locates the building whose centroid is closest to a query point. Returns an error with code `NOT_FOUND` if there are no buildings within approximately 50m of the query point."
      }
    }
  }
}
