{
  "smithy": "2.0",
  "metadata": {
    "service": "spanner",
    "version": "v1",
    "title": "Cloud Spanner API",
    "baseUrl": "https://spanner.googleapis.com/"
  },
  "shapes": {
    "com.gcp.spanner_v1#ListScansResponse": {
      "type": "structure",
      "members": {
        "scans": {
          "target": "com.gcp.spanner_v1#ScanList",
          "traits": {
            "smithy.api#documentation": "Available scans based on the list query parameters."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response method from the ListScans method."
      }
    },
    "com.gcp.spanner_v1#ScanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#Scan"
      }
    },
    "com.gcp.spanner_v1#Scan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the scan, specific to the Database service implementing this interface."
          }
        },
        "details": {
          "target": "com.gcp.spanner_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional information provided by the implementer."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A range of time (inclusive) for when the scan is defined. The lower bound for when the scan is defined."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The upper bound for when the scan is defined."
          }
        },
        "scanData": {
          "target": "com.gcp.spanner_v1#ScanData",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Key Visualizer scan data. Note, this field is not available to the ListScans method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scan is a structure which describes Cloud Key Visualizer scan information."
      }
    },
    "com.gcp.spanner_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.spanner_v1#ScanData": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The upper bound for when the contained data is defined."
          }
        },
        "data": {
          "target": "com.gcp.spanner_v1#VisualizationData",
          "traits": {
            "smithy.api#documentation": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization."
      }
    },
    "com.gcp.spanner_v1#VisualizationData": {
      "type": "structure",
      "members": {
        "dataSourceSeparatorToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token delimiting a datasource name from the rest of a key in a data_source."
          }
        },
        "dataSourceEndToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token signifying the end of a data_source."
          }
        },
        "endKeyStrings": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "We discretize the entire keyspace into buckets. Assuming each bucket has an inclusive keyrange and covers keys from k(i) ... k(n). In this case k(n) would be an end key for a given range. end_key_string is the collection of all such end keys"
          }
        },
        "indexedKeys": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Keys of key ranges that contribute significantly to a given metric Can be thought of as heavy hitters."
          }
        },
        "prefixNodes": {
          "target": "com.gcp.spanner_v1#PrefixNodeList",
          "traits": {
            "smithy.api#documentation": "The list of extracted key prefix nodes used in the key prefix hierarchy."
          }
        },
        "metrics": {
          "target": "com.gcp.spanner_v1#MetricList",
          "traits": {
            "smithy.api#documentation": "The list of data objects for each metric."
          }
        },
        "diagnosticMessages": {
          "target": "com.gcp.spanner_v1#DiagnosticMessageList",
          "traits": {
            "smithy.api#documentation": "The list of messages (info, alerts, ...)"
          }
        },
        "keySeparator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token delimiting the key prefixes."
          }
        },
        "keyUnit": {
          "target": "com.gcp.spanner_v1#VisualizationDataKeyUnitEnum",
          "traits": {
            "smithy.api#documentation": "The unit for the key: e.g. 'key' or 'chunk'."
          }
        },
        "hasPii": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this scan contains PII."
          }
        }
      }
    },
    "com.gcp.spanner_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.spanner_v1#PrefixNodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#PrefixNode"
      }
    },
    "com.gcp.spanner_v1#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#Metric"
      }
    },
    "com.gcp.spanner_v1#DiagnosticMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#DiagnosticMessage"
      }
    },
    "com.gcp.spanner_v1#VisualizationDataKeyUnitEnum": {
      "type": "enum",
      "members": {
        "KEY_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_UNIT_UNSPECIFIED"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY"
          }
        },
        "CHUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHUNK"
          }
        }
      }
    },
    "com.gcp.spanner_v1#PrefixNode": {
      "type": "structure",
      "members": {
        "word": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string represented by the prefix node."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the start key bucket of the range that this node spans."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the end key bucket of the range that this node spans."
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The depth in the prefix hierarchy."
          }
        },
        "dataSourceNode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this corresponds to a data_source name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a key prefix node in the key prefix hierarchy. for eg. Bigtable keyspaces are lexicographically ordered mappings of keys to values. Keys often have a shared prefix structure where users use the keys to organize data. Eg ///employee In this case Keysight will possibly use one node for a company and reuse it for all employees that fall under the company. Doing so improves legibility in the UI."
      }
    },
    "com.gcp.spanner_v1#Metric": {
      "type": "structure",
      "members": {
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the metric is visible to the end user."
          }
        },
        "displayLabel": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The displayed label of the metric."
          }
        },
        "unit": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The unit of the metric."
          }
        },
        "info": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Information about the metric."
          }
        },
        "category": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The category of the metric, e.g. \"Activity\", \"Alerts\", \"Reads\", etc."
          }
        },
        "hasNonzeroData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the metric has any non-zero data."
          }
        },
        "hotValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value that is considered hot for the metric. On a per metric basis hotness signals high utilization and something that might potentially be a cause for concern by the end user. hot_value is used to calibrate and scale visual color scales."
          }
        },
        "aggregation": {
          "target": "com.gcp.spanner_v1#MetricAggregationEnum",
          "traits": {
            "smithy.api#documentation": "The aggregation function used to aggregate each key bucket"
          }
        },
        "matrix": {
          "target": "com.gcp.spanner_v1#MetricMatrix",
          "traits": {
            "smithy.api#documentation": "The data for the metric as a matrix."
          }
        },
        "derived": {
          "target": "com.gcp.spanner_v1#DerivedMetric",
          "traits": {
            "smithy.api#documentation": "The references to numerator and denominator metrics for a derived metric."
          }
        },
        "indexedHotKeys": {
          "target": "com.gcp.spanner_v1#IndexedHotKeyMap",
          "traits": {
            "smithy.api#documentation": "The (sparse) mapping from time index to an IndexedHotKey message, representing those time intervals for which there are hot keys."
          }
        },
        "indexedKeyRangeInfos": {
          "target": "com.gcp.spanner_v1#IndexedKeyRangeInfosMap",
          "traits": {
            "smithy.api#documentation": "The (sparse) mapping from time interval index to an IndexedKeyRangeInfos message, representing those time intervals for which there are informational messages concerning key ranges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing the actual monitoring data, values for each key bucket over time, of a metric."
      }
    },
    "com.gcp.spanner_v1#MetricAggregationEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_UNSPECIFIED"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        }
      }
    },
    "com.gcp.spanner_v1#IndexedHotKeyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.spanner_v1#IndexedHotKey"
      }
    },
    "com.gcp.spanner_v1#IndexedKeyRangeInfosMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.spanner_v1#IndexedKeyRangeInfos"
      }
    },
    "com.gcp.spanner_v1#LocalizedString": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token identifying the message, e.g. 'METRIC_READ_CPU'. This should be unique within the service."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical English version of this message. If no token is provided or the front-end has no message associated with the token, this text will be displayed as-is."
          }
        },
        "args": {
          "target": "com.gcp.spanner_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of arguments used when creating the localized message. Keys represent parameter names which may be used by the localized version when substituting dynamic values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a user-facing string whose value may need to be translated before being displayed."
      }
    },
    "com.gcp.spanner_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.spanner_v1#MetricMatrix": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.gcp.spanner_v1#MetricMatrixRowList",
          "traits": {
            "smithy.api#documentation": "The rows of the matrix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a matrix of floats."
      }
    },
    "com.gcp.spanner_v1#MetricMatrixRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#MetricMatrixRow"
      }
    },
    "com.gcp.spanner_v1#MetricMatrixRow": {
      "type": "structure",
      "members": {
        "cols": {
          "target": "com.gcp.spanner_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "The columns of the row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a row of a matrix of floats."
      }
    },
    "com.gcp.spanner_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.spanner_v1#DerivedMetric": {
      "type": "structure",
      "members": {
        "numerator": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The name of the numerator metric. e.g. \"latency\"."
          }
        },
        "denominator": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The name of the denominator metric. e.g. \"rows\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a derived metric."
      }
    },
    "com.gcp.spanner_v1#IndexedHotKey": {
      "type": "structure",
      "members": {
        "sparseHotKeys": {
          "target": "com.gcp.spanner_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A (sparse) mapping from key bucket index to the index of the specific hot row key for that key bucket. The index of the hot row key can be translated to the actual row key via the ScanData.VisualizationData.indexed_keys repeated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a (sparse) collection of hot keys for specific key buckets."
      }
    },
    "com.gcp.spanner_v1#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.spanner_v1#IndexedKeyRangeInfos": {
      "type": "structure",
      "members": {
        "keyRangeInfos": {
          "target": "com.gcp.spanner_v1#KeyRangeInfosMap",
          "traits": {
            "smithy.api#documentation": "A (sparse) mapping from key bucket index to the KeyRangeInfos for that key bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a (sparse) collection of KeyRangeInfos for specific key buckets."
      }
    },
    "com.gcp.spanner_v1#KeyRangeInfosMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.spanner_v1#KeyRangeInfos"
      }
    },
    "com.gcp.spanner_v1#KeyRangeInfos": {
      "type": "structure",
      "members": {
        "infos": {
          "target": "com.gcp.spanner_v1#KeyRangeInfoList",
          "traits": {
            "smithy.api#documentation": "The list individual KeyRangeInfos."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total size of the list of all KeyRangeInfos. This may be larger than the number of repeated messages above. If that is the case, this number may be used to determine how many are not being shown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing a list of specific information for multiple key ranges."
      }
    },
    "com.gcp.spanner_v1#KeyRangeInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#KeyRangeInfo"
      }
    },
    "com.gcp.spanner_v1#KeyRangeInfo": {
      "type": "structure",
      "members": {
        "startKeyIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the start key in indexed_keys."
          }
        },
        "endKeyIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the end key in indexed_keys."
          }
        },
        "keysCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of keys this range covers."
          }
        },
        "metric": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The name of the metric. e.g. \"latency\"."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value of the metric."
          }
        },
        "unit": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The unit of the metric. This is an unstructured field and will be mapped as is to the user."
          }
        },
        "info": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Information about this key range, for all metrics."
          }
        },
        "contextValues": {
          "target": "com.gcp.spanner_v1#ContextValueList",
          "traits": {
            "smithy.api#documentation": "The list of context values for this key range."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time offset. This is the time since the start of the time interval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing information for a key range (possibly one key)."
      }
    },
    "com.gcp.spanner_v1#ContextValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#ContextValue"
      }
    },
    "com.gcp.spanner_v1#ContextValue": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The label for the context value. e.g. \"latency\"."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value for the context."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of the context value."
          }
        },
        "severity": {
          "target": "com.gcp.spanner_v1#ContextValueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of this context."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing context for a KeyRangeInfo, including a label, value, unit, and severity."
      }
    },
    "com.gcp.spanner_v1#ContextValueSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL"
          }
        }
      }
    },
    "com.gcp.spanner_v1#DiagnosticMessage": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.spanner_v1#DiagnosticMessageSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the diagnostic message."
          }
        },
        "metric": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The metric."
          }
        },
        "shortMessage": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The short message."
          }
        },
        "info": {
          "target": "com.gcp.spanner_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Information about this diagnostic information."
          }
        },
        "metricSpecific": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this message is specific only for the current metric. By default Diagnostics are shown for all metrics, regardless which metric is the currently selected metric in the UI. However occasionally a metric will generate so many messages that the resulting visual clutter becomes overwhelming. In this case setting this to true, will show the diagnostic messages for that metric only if it is the currently selected metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message representing the key visualizer diagnostic messages."
      }
    },
    "com.gcp.spanner_v1#DiagnosticMessageSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL"
          }
        }
      }
    },
    "com.gcp.spanner_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.spanner_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.spanner_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#Operation"
      }
    },
    "com.gcp.spanner_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.spanner_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.spanner_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.spanner_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.spanner_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.spanner_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.spanner_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#DocumentMap"
      }
    },
    "com.gcp.spanner_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.spanner_v1#AdapterSession": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the session. This is always system-assigned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A session in the Cloud Spanner Adapter API."
      }
    },
    "com.gcp.spanner_v1#AdaptMessageRequest": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier for the underlying wire protocol."
          }
        },
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Uninterpreted bytes from the underlying wire protocol."
          }
        },
        "attachments": {
          "target": "com.gcp.spanner_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Opaque request state passed by the client to the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message sent by the client to the adapter."
      }
    },
    "com.gcp.spanner_v1#AdaptMessageResponse": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Uninterpreted bytes from the underlying wire protocol."
          }
        },
        "stateUpdates": {
          "target": "com.gcp.spanner_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Opaque state updates to be applied by the client."
          }
        },
        "last": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether this is the last AdaptMessageResponse in the stream. This field may be optionally set by the server. Clients should not rely on this field being set in all cases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message sent by the adapter to the client."
      }
    },
    "com.gcp.spanner_v1#ListInstanceConfigsResponse": {
      "type": "structure",
      "members": {
        "instanceConfigs": {
          "target": "com.gcp.spanner_v1#InstanceConfigList",
          "traits": {
            "smithy.api#documentation": "The list of requested instance configurations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ListInstanceConfigs."
      }
    },
    "com.gcp.spanner_v1#InstanceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#InstanceConfig"
      }
    },
    "com.gcp.spanner_v1#InstanceConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the instance configuration. Values are of the form `projects//instanceConfigs/a-z*`. User instance configuration must start with `custom-`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this instance configuration as it appears in UIs."
          }
        },
        "configType": {
          "target": "com.gcp.spanner_v1#InstanceConfigConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this instance configuration is a Google-managed or user-managed configuration."
          }
        },
        "replicas": {
          "target": "com.gcp.spanner_v1#ReplicaInfoList",
          "traits": {
            "smithy.api#documentation": "The geographic placement of nodes in this instance configuration and their replication properties. To create user-managed configurations, input `replicas` must include all replicas in `replicas` of the `base_config` and include one or more replicas in the `optional_replicas` of the `base_config`."
          }
        },
        "optionalReplicas": {
          "target": "com.gcp.spanner_v1#ReplicaInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. The available optional replicas to choose from for user-managed configurations. Populated for Google-managed configurations."
          }
        },
        "baseConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base configuration name, e.g. projects//instanceConfigs/nam3, based on which this configuration is created. Only set for user-managed configurations. `base_config` must refer to a configuration of type `GOOGLE_MANAGED` in the same project as this configuration."
          }
        },
        "labels": {
          "target": "com.gcp.spanner_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. Therefore, you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a instance configuration from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform instance configuration updates in order to avoid race conditions: An etag is returned in the response which contains instance configurations, and systems are expected to put that etag in the request to update instance configuration to ensure that their change is applied to the same version of the instance configuration. If no etag is provided in the call to update the instance configuration, then the existing instance configuration is overwritten blindly."
          }
        },
        "leaderOptions": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Allowed values of the \"default_leader\" schema option for databases in instances that use this instance configuration."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the instance configuration is being created or updated. If false, there are no ongoing operations for the instance configuration."
          }
        },
        "state": {
          "target": "com.gcp.spanner_v1#InstanceConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current instance configuration state. Applicable only for `USER_MANAGED` configurations."
          }
        },
        "freeInstanceAvailability": {
          "target": "com.gcp.spanner_v1#InstanceConfigFreeInstanceAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Describes whether free instances are available to be created in this instance configuration."
          }
        },
        "quorumType": {
          "target": "com.gcp.spanner_v1#InstanceConfigQuorumTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The `QuorumType` of the instance configuration."
          }
        },
        "storageLimitPerProcessingUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The storage limit in bytes per processing unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A possible configuration for a Cloud Spanner instance. Configurations define the geographic placement of nodes and their replication."
      }
    },
    "com.gcp.spanner_v1#InstanceConfigConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MANAGED"
          }
        },
        "USER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_MANAGED"
          }
        }
      }
    },
    "com.gcp.spanner_v1#ReplicaInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#ReplicaInfo"
      }
    },
    "com.gcp.spanner_v1#InstanceConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.gcp.spanner_v1#InstanceConfigFreeInstanceAvailabilityEnum": {
      "type": "enum",
      "members": {
        "FREE_INSTANCE_AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_INSTANCE_AVAILABILITY_UNSPECIFIED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED"
          }
        }
      }
    },
    "com.gcp.spanner_v1#InstanceConfigQuorumTypeEnum": {
      "type": "enum",
      "members": {
        "QUORUM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUORUM_TYPE_UNSPECIFIED"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGION"
          }
        },
        "DUAL_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUAL_REGION"
          }
        },
        "MULTI_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_REGION"
          }
        }
      }
    },
    "com.gcp.spanner_v1#ReplicaInfo": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the serving resources, e.g., \"us-central1\"."
          }
        },
        "type": {
          "target": "com.gcp.spanner_v1#ReplicaInfoTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of replica."
          }
        },
        "defaultLeaderLocation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this location is designated as the default leader location where leader replicas are placed. See the [region types documentation](https://cloud.google.com/spanner/docs/instances#region_types) for more details."
          }
        }
      }
    },
    "com.gcp.spanner_v1#ReplicaInfoTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "WITNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITNESS"
          }
        }
      }
    },
    "com.gcp.spanner_v1#CreateInstanceConfigRequest": {
      "type": "structure",
      "members": {
        "instanceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the instance configuration to create. Valid identifiers are of the form `custom-[-a-z0-9]*[a-z0-9]` and must be between 2 and 64 characters in length. The `custom-` prefix is required to avoid name conflicts with Google-managed configurations."
          }
        },
        "instanceConfig": {
          "target": "com.gcp.spanner_v1#InstanceConfig",
          "traits": {
            "smithy.api#documentation": "Required. The `InstanceConfig` proto of the configuration to create. `instance_config.name` must be `/instanceConfigs/`. `instance_config.base_config` must be a Google-managed configuration name, e.g. /instanceConfigs/us-east1, /instanceConfigs/nam3."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "An option to validate, but not actually execute, a request, and provide the same response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for CreateInstanceConfig."
      }
    },
    "com.gcp.spanner_v1#UpdateInstanceConfigRequest": {
      "type": "structure",
      "members": {
        "instanceConfig": {
          "target": "com.gcp.spanner_v1#InstanceConfig",
          "traits": {
            "smithy.api#documentation": "Required. The user instance configuration to update, which must always include the instance configuration name. Otherwise, only fields mentioned in update_mask need be included. To prevent conflicts of concurrent updates, etag can be used."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A mask specifying which fields in InstanceConfig should be updated. The field mask must always be specified; this prevents any future fields in InstanceConfig from being erased accidentally by clients that do not know about them. Only display_name and labels can be updated."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "An option to validate, but not actually execute, a request, and provide the same response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for UpdateInstanceConfig."
      }
    },
    "com.gcp.spanner_v1#ListInstanceConfigOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.spanner_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "The list of matching instance configuration long-running operations. Each operation's name will be prefixed by the name of the instance configuration. The operation's metadata field type `metadata.type_url` describes the type of the metadata."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`next_page_token` can be sent in a subsequent ListInstanceConfigOperations call to fetch more of the matching metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ListInstanceConfigOperations."
      }
    },
    "com.gcp.spanner_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.spanner_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "The list of requested instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`next_page_token` can be sent in a subsequent ListInstances call to fetch more of the matching instances."
          }
        },
        "unreachable": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of unreachable instances. It includes the names of instances whose metadata could not be retrieved within instance_deadline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ListInstances."
      }
    },
    "com.gcp.spanner_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#Instance"
      }
    },
    "com.gcp.spanner_v1#Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the instance, which cannot be changed after the instance is created. Values are of the form `projects//instances/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the instance's configuration. Values are of the form `projects//instanceConfigs/`. See also InstanceConfig and ListInstanceConfigs."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The descriptive name for this instance as it appears in UIs. Must be unique per project and between 4 and 30 characters in length."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes allocated to this instance. At most, one of either `node_count` or `processing_units` should be present in the message. Users can set the `node_count` field to specify the target number of nodes allocated to the instance. If autoscaling is enabled, `node_count` is treated as an `OUTPUT_ONLY` field and reflects the current number of nodes allocated to the instance. This might be zero in API responses for instances that are not yet in the `READY` state. If the instance has varying node count across replicas (achieved by setting `asymmetric_autoscaling_options` in the autoscaling configuration), the `node_count` set here is the maximum node count across all replicas. For more information, see [Compute capacity, nodes, and processing units](https://cloud.google.com/spanner/docs/compute-capacity)."
          }
        },
        "processingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of processing units allocated to this instance. At most, one of either `processing_units` or `node_count` should be present in the message. Users can set the `processing_units` field to specify the target number of processing units allocated to the instance. If autoscaling is enabled, `processing_units` is treated as an `OUTPUT_ONLY` field and reflects the current number of processing units allocated to the instance. This might be zero in API responses for instances that are not yet in the `READY` state. If the instance has varying processing units per replica (achieved by setting `asymmetric_autoscaling_options` in the autoscaling configuration), the `processing_units` set here is the maximum processing units across all replicas. For more information, see [Compute capacity, nodes and processing units](https://cloud.google.com/spanner/docs/compute-capacity)."
          }
        },
        "replicaComputeCapacity": {
          "target": "com.gcp.spanner_v1#ReplicaComputeCapacityList",
          "traits": {
            "smithy.api#documentation": "Output only. Lists the compute capacity per ReplicaSelection. A replica selection identifies a set of replicas with common properties. Replicas identified by a ReplicaSelection are scaled with the same compute capacity."
          }
        },
        "autoscalingConfig": {
          "target": "com.gcp.spanner_v1#AutoscalingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The autoscaling configuration. Autoscaling is enabled if this field is set. When autoscaling is enabled, node_count and processing_units are treated as OUTPUT_ONLY fields and reflect the current compute capacity allocated to the instance."
          }
        },
        "state": {
          "target": "com.gcp.spanner_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current instance state. For CreateInstance, the state must be either omitted or set to `CREATING`. For UpdateInstance, the state must be either omitted or set to `READY`."
          }
        },
        "labels": {
          "target": "com.gcp.spanner_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. And so you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release."
          }
        },
        "instanceType": {
          "target": "com.gcp.spanner_v1#InstanceInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The `InstanceType` of the current instance."
          }
        },
        "endpointUris": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Deprecated. This field is not populated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the instance was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the instance was most recently updated."
          }
        },
        "freeInstanceMetadata": {
          "target": "com.gcp.spanner_v1#FreeInstanceMetadata",
          "traits": {
            "smithy.api#documentation": "Free instance metadata. Only populated for free instances."
          }
        },
        "edition": {
          "target": "com.gcp.spanner_v1#InstanceEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The `Edition` of the current instance."
          }
        },
        "defaultBackupScheduleType": {
          "target": "com.gcp.spanner_v1#InstanceDefaultBackupScheduleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the default backup schedule behavior for new databases within the instance. By default, a backup schedule is created automatically when a new database is created in a new instance. Note that the `AUTOMATIC` value isn't permitted for free instances, as backups and backup schedules aren't supported for free instances. In the `GetInstance` or `ListInstances` response, if the value of `default_backup_schedule_type` isn't set, or set to `NONE`, Spanner doesn't create a default backup schedule for new databases in the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An isolated set of Cloud Spanner resources on which databases can be hosted."
      }
    },
    "com.gcp.spanner_v1#ReplicaComputeCapacityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#ReplicaComputeCapacity"
      }
    },
    "com.gcp.spanner_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.gcp.spanner_v1#InstanceInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "FREE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_INSTANCE"
          }
        }
      }
    },
    "com.gcp.spanner_v1#InstanceEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.spanner_v1#InstanceDefaultBackupScheduleTypeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_BACKUP_SCHEDULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_BACKUP_SCHEDULE_TYPE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        }
      }
    },
    "com.gcp.spanner_v1#ReplicaComputeCapacity": {
      "type": "structure",
      "members": {
        "replicaSelection": {
          "target": "com.gcp.spanner_v1#InstanceReplicaSelection",
          "traits": {
            "smithy.api#documentation": "Required. Identifies replicas by specified properties. All replicas in the selection have the same amount of compute capacity."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes allocated to each replica. This may be zero in API responses for instances that are not yet in state `READY`."
          }
        },
        "processingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of processing units allocated to each replica. This may be zero in API responses for instances that are not yet in state `READY`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ReplicaComputeCapacity describes the amount of server resources that are allocated to each replica identified by the replica selection."
      }
    },
    "com.gcp.spanner_v1#InstanceReplicaSelection": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the location of the replicas (for example, \"us-central1\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ReplicaSelection identifies replicas with common properties."
      }
    },
    "com.gcp.spanner_v1#AutoscalingConfig": {
      "type": "structure",
      "members": {
        "autoscalingLimits": {
          "target": "com.gcp.spanner_v1#AutoscalingLimits",
          "traits": {
            "smithy.api#documentation": "Required. Autoscaling limits for an instance."
          }
        },
        "autoscalingTargets": {
          "target": "com.gcp.spanner_v1#AutoscalingTargets",
          "traits": {
            "smithy.api#documentation": "Required. The autoscaling targets for an instance."
          }
        },
        "asymmetricAutoscalingOptions": {
          "target": "com.gcp.spanner_v1#AsymmetricAutoscalingOptionList",
          "traits": {
            "smithy.api#documentation": "Optional. Optional asymmetric autoscaling options. Replicas matching the replica selection criteria will be autoscaled independently from other replicas. The autoscaler will scale the replicas based on the utilization of replicas identified by the replica selection. Replica selections should not overlap with each other. Other replicas (those do not match any replica selection) will be autoscaled together and will have the same compute capacity allocated to them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Autoscaling configuration for an instance."
      }
    },
    "com.gcp.spanner_v1#AsymmetricAutoscalingOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#AsymmetricAutoscalingOption"
      }
    },
    "com.gcp.spanner_v1#AutoscalingLimits": {
      "type": "structure",
      "members": {
        "minNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of nodes allocated to the instance. If set, this number should be greater than or equal to 1."
          }
        },
        "minProcessingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of processing units allocated to the instance. If set, this number should be multiples of 1000."
          }
        },
        "maxNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of nodes allocated to the instance. If set, this number should be greater than or equal to min_nodes."
          }
        },
        "maxProcessingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of processing units allocated to the instance. If set, this number should be multiples of 1000 and be greater than or equal to min_processing_units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The autoscaling limits for the instance. Users can define the minimum and maximum compute capacity allocated to the instance, and the autoscaler will only scale within that range. Users can either use nodes or processing units to specify the limits, but should use the same unit to set both the min_limit and max_limit."
      }
    },
    "com.gcp.spanner_v1#AutoscalingTargets": {
      "type": "structure",
      "members": {
        "highPriorityCpuUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The target high priority cpu utilization percentage that the autoscaler should be trying to achieve for the instance. This number is on a scale from 0 (no utilization) to 100 (full utilization). The valid range is [10, 90] inclusive. If not specified or set to 0, the autoscaler skips scaling based on high priority CPU utilization."
          }
        },
        "totalCpuUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The target total CPU utilization percentage that the autoscaler should be trying to achieve for the instance. This number is on a scale from 0 (no utilization) to 100 (full utilization). The valid range is [10, 90] inclusive. If not specified or set to 0, the autoscaler skips scaling based on total CPU utilization. If both `high_priority_cpu_utilization_percent` and `total_cpu_utilization_percent` are specified, the autoscaler provisions the larger of the two required compute capacities to satisfy both targets."
          }
        },
        "storageUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The target storage utilization percentage that the autoscaler should be trying to achieve for the instance. This number is on a scale from 0 (no utilization) to 100 (full utilization). The valid range is [10, 99] inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The autoscaling targets for an instance."
      }
    },
    "com.gcp.spanner_v1#AsymmetricAutoscalingOption": {
      "type": "structure",
      "members": {
        "replicaSelection": {
          "target": "com.gcp.spanner_v1#InstanceReplicaSelection",
          "traits": {
            "smithy.api#documentation": "Required. Selects the replicas to which this AsymmetricAutoscalingOption applies. Only read-only replicas are supported."
          }
        },
        "overrides": {
          "target": "com.gcp.spanner_v1#AutoscalingConfigOverrides",
          "traits": {
            "smithy.api#documentation": "Optional. Overrides applied to the top-level autoscaling configuration for the selected replicas."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AsymmetricAutoscalingOption specifies the scaling of replicas identified by the given selection."
      }
    },
    "com.gcp.spanner_v1#AutoscalingConfigOverrides": {
      "type": "structure",
      "members": {
        "autoscalingLimits": {
          "target": "com.gcp.spanner_v1#AutoscalingLimits",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, overrides the min/max limit in the top-level autoscaling configuration for the selected replicas."
          }
        },
        "autoscalingTargetHighPriorityCpuUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, overrides the autoscaling target high_priority_cpu_utilization_percent in the top-level autoscaling configuration for the selected replicas."
          }
        },
        "autoscalingTargetTotalCpuUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, overrides the autoscaling target `total_cpu_utilization_percent` in the top-level autoscaling configuration for the selected replicas."
          }
        },
        "disableHighPriorityCpuAutoscaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, disables high priority CPU autoscaling for the selected replicas and ignores high_priority_cpu_utilization_percent in the top-level autoscaling configuration. When setting this field to true, setting autoscaling_target_high_priority_cpu_utilization_percent field to a non-zero value for the same replica is not supported. If false, the autoscaling_target_high_priority_cpu_utilization_percent field in the replica will be used if set to a non-zero value. Otherwise, the high_priority_cpu_utilization_percent field in the top-level autoscaling configuration will be used. Setting both disable_high_priority_cpu_autoscaling and disable_total_cpu_autoscaling to true for the same replica is not supported."
          }
        },
        "disableTotalCpuAutoscaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, disables total CPU autoscaling for the selected replicas and ignores total_cpu_utilization_percent in the top-level autoscaling configuration. When setting this field to true, setting autoscaling_target_total_cpu_utilization_percent field to a non-zero value for the same replica is not supported. If false, the autoscaling_target_total_cpu_utilization_percent field in the replica will be used if set to a non-zero value. Otherwise, the total_cpu_utilization_percent field in the top-level autoscaling configuration will be used. Setting both disable_high_priority_cpu_autoscaling and disable_total_cpu_autoscaling to true for the same replica is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overrides the top-level autoscaling configuration for the replicas identified by `replica_selection`. All fields in this message are optional. Any unspecified fields will use the corresponding values from the top-level autoscaling configuration."
      }
    },
    "com.gcp.spanner_v1#FreeInstanceMetadata": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp after which the instance will either be upgraded or scheduled for deletion after a grace period. ExpireBehavior is used to choose between upgrading or scheduling the free instance for deletion. This timestamp is set during the creation of a free instance."
          }
        },
        "upgradeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If present, the timestamp at which the free instance was upgraded to a provisioned instance."
          }
        },
        "expireBehavior": {
          "target": "com.gcp.spanner_v1#FreeInstanceMetadataExpireBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the expiration behavior of a free instance. The default of ExpireBehavior is `REMOVE_AFTER_GRACE_PERIOD`. This can be modified during or after creation, and before expiration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Free instance specific metadata that is kept even after an instance has been upgraded for tracking purposes."
      }
    },
    "com.gcp.spanner_v1#FreeInstanceMetadataExpireBehaviorEnum": {
      "type": "enum",
      "members": {
        "EXPIRE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "FREE_TO_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_TO_PROVISIONED"
          }
        },
        "REMOVE_AFTER_GRACE_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_AFTER_GRACE_PERIOD"
          }
        }
      }
    },
    "com.gcp.spanner_v1#ListInstancePartitionsResponse": {
      "type": "structure",
      "members": {
        "instancePartitions": {
          "target": "com.gcp.spanner_v1#InstancePartitionList",
          "traits": {
            "smithy.api#documentation": "The list of requested instancePartitions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`next_page_token` can be sent in a subsequent ListInstancePartitions call to fetch more of the matching instance partitions."
          }
        },
        "unreachable": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of unreachable instances or instance partitions. It includes the names of instances or instance partitions whose metadata could not be retrieved within instance_partition_deadline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ListInstancePartitions."
      }
    },
    "com.gcp.spanner_v1#InstancePartitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#InstancePartition"
      }
    },
    "com.gcp.spanner_v1#InstancePartition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the instance partition. Values are of the form `projects//instances//instancePartitions/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length. An instance partition's name cannot be changed after the instance partition is created."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the instance partition's configuration. Values are of the form `projects//instanceConfigs/`. See also InstanceConfig and ListInstanceConfigs."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The descriptive name for this instance partition as it appears in UIs. Must be unique per project and between 4 and 30 characters in length."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes allocated to this instance partition. Users can set the `node_count` field to specify the target number of nodes allocated to the instance partition. This may be zero in API responses for instance partitions that are not yet in state `READY`."
          }
        },
        "processingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of processing units allocated to this instance partition. Users can set the `processing_units` field to specify the target number of processing units allocated to the instance partition. This might be zero in API responses for instance partitions that are not yet in the `READY` state."
          }
        },
        "autoscalingConfig": {
          "target": "com.gcp.spanner_v1#AutoscalingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The autoscaling configuration. Autoscaling is enabled if this field is set. When autoscaling is enabled, fields in compute_capacity are treated as OUTPUT_ONLY fields and reflect the current compute capacity allocated to the instance partition."
          }
        },
        "state": {
          "target": "com.gcp.spanner_v1#InstancePartitionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current instance partition state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the instance partition was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the instance partition was most recently updated."
          }
        },
        "referencingDatabases": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The names of the databases that reference this instance partition. Referencing databases should share the parent instance. The existence of any referencing database prevents the instance partition from being deleted."
          }
        },
        "referencingBackups": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: This field is not populated. Output only. The names of the backups that reference this instance partition. Referencing backups should share the parent instance. The existence of any referencing backup prevents the instance partition from being deleted."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used for optimistic concurrency control as a way to help prevent simultaneous updates of a instance partition from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform instance partition updates in order to avoid race conditions: An etag is returned in the response which contains instance partitions, and systems are expected to put that etag in the request to update instance partitions to ensure that their change will be applied to the same version of the instance partition. If no etag is provided in the call to update instance partition, then the existing instance partition is overwritten blindly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An isolated set of Cloud Spanner resources that databases can define placements on."
      }
    },
    "com.gcp.spanner_v1#InstancePartitionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.gcp.spanner_v1#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the instance to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length."
          }
        },
        "instance": {
          "target": "com.gcp.spanner_v1#Instance",
          "traits": {
            "smithy.api#documentation": "Required. The instance to create. The name may be omitted, but if specified must be `/instances/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for CreateInstance."
      }
    },
    "com.gcp.spanner_v1#UpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.gcp.spanner_v1#Instance",
          "traits": {
            "smithy.api#documentation": "Required. The instance to update, which must always include the instance name. Otherwise, only fields mentioned in field_mask need be included."
          }
        },
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A mask specifying which fields in Instance should be updated. The field mask must always be specified; this prevents any future fields in Instance from being erased accidentally by clients that do not know about them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for UpdateInstance."
      }
    },
    "com.gcp.spanner_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.spanner_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.spanner_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.spanner_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.spanner_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.spanner_v1#Binding"
      }
    },
    "com.gcp.spanner_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.spanner_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.spanner_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.spanner_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.spanner_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.spanner_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.spanner_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The set of permissions to check for 'resource'. Permissions with wildcards (such as '*', 'spanner.*', 'spanner.instances.*') are not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.spanner_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.spanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.spanner_v1#CreateInstancePartitionRequest": {
      "type": "structure",
      "members": {
        "instancePartitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the instance partition to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length."
          }
        },
        "instancePartition": {
          "target": "com.gcp.spanner_v1#InstancePartition",
          "traits": {
            "smithy.api#documentation": "Required. The instance partition to create. The instance_partition.name may be omitted, but if specified must be `/instancePartitions/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for CreateInstancePartition."
      }
    },
    "com.gcp.spanner_v1#UpdateInstancePartitionRequest": {
      "type": "structure",
      "members": {
        "instancePartition": {
          "target": "com.gcp.spanner_v1#InstancePartition",
          "traits": {
            "smithy.api#documentation": "Required. The instance partition to update, which must always include the instance partition name. Otherwise, only fields mentioned in field_mask need be included."
          }
        },
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A mask specifying which fields in InstancePartition should be updated. The field mask must always be specified; this prevents any future fields in InstancePartition from being erased accidentally by clients that do not know about them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for UpdateInstancePartition."
      }
    },
    "com.gcp.spanner_v1#ListInstancePartitionOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.spanner_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "The list of matching instance partition long-running operations. Each operation's name will be prefixed by the instance partition's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata."
          }
        },
[...]
