{
  "smithy": "2.0",
  "metadata": {
    "service": "storage",
    "version": "v1",
    "title": "Cloud Storage JSON API",
    "baseUrl": "https://storage.googleapis.com/storage/v1/"
  },
  "shapes": {
    "com.gcp.storage_v1#Bucket": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.gcp.storage_v1#BucketAccessControlList",
          "traits": {
            "smithy.api#documentation": "Access controls on the bucket."
          }
        },
        "billing": {
          "target": "com.gcp.storage_v1#BucketBilling",
          "traits": {
            "smithy.api#documentation": "The bucket's billing configuration."
          }
        },
        "cors": {
          "target": "com.gcp.storage_v1#BucketCorsItemList",
          "traits": {
            "smithy.api#documentation": "The bucket's Cross-Origin Resource Sharing (CORS) configuration."
          }
        },
        "customPlacementConfig": {
          "target": "com.gcp.storage_v1#BucketCustomPlacementConfig",
          "traits": {
            "smithy.api#documentation": "The bucket's custom placement configuration for Custom Dual Regions."
          }
        },
        "defaultEventBasedHold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The default value for event-based hold on newly created objects in this bucket. Event-based hold is a way to retain objects indefinitely until an event occurs, signified by the hold's release. After being released, such objects will be subject to bucket-level retention (if any). One sample use case of this flag is for banks to hold loan documents for at least 3 years after loan is paid in full. Here, bucket-level retention is 3 years and the event is loan being paid in full. In this example, these objects will be held intact for any number of years until the event has occurred (event-based hold on the object is released) and then 3 more years after that. That means retention duration of the objects begins from the moment event-based hold transitioned from true to false. Objects under event-based hold cannot be deleted, overwritten or archived until the hold is removed."
          }
        },
        "defaultObjectAcl": {
          "target": "com.gcp.storage_v1#ObjectAccessControlList",
          "traits": {
            "smithy.api#documentation": "Default access controls to apply to new objects when no ACL is provided."
          }
        },
        "encryption": {
          "target": "com.gcp.storage_v1#BucketEncryption",
          "traits": {
            "smithy.api#documentation": "Encryption configuration for a bucket."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for the bucket."
          }
        },
        "hierarchicalNamespace": {
          "target": "com.gcp.storage_v1#BucketHierarchicalNamespace",
          "traits": {
            "smithy.api#documentation": "The bucket's hierarchical namespace configuration."
          }
        },
        "iamConfiguration": {
          "target": "com.gcp.storage_v1#BucketIamConfiguration",
          "traits": {
            "smithy.api#documentation": "The bucket's IAM configuration."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the bucket. For buckets, the id and name properties are the same."
          }
        },
        "ipFilter": {
          "target": "com.gcp.storage_v1#BucketIpFilter",
          "traits": {
            "smithy.api#documentation": "The bucket's IP filter configuration. Specifies the network sources that are allowed to access the operations on the bucket, as well as its underlying objects. Only enforced when the mode is set to 'Enabled'."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For buckets, this is always storage#bucket."
          }
        },
        "labels": {
          "target": "com.gcp.storage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-provided labels, in key/value pairs."
          }
        },
        "lifecycle": {
          "target": "com.gcp.storage_v1#BucketLifecycle",
          "traits": {
            "smithy.api#documentation": "The bucket's lifecycle configuration. See [Lifecycle Management](https://cloud.google.com/storage/docs/lifecycle) for more information."
          }
        },
        "autoclass": {
          "target": "com.gcp.storage_v1#BucketAutoclass",
          "traits": {
            "smithy.api#documentation": "The bucket's Autoclass configuration."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Defaults to US. See the [Developer's Guide](https://cloud.google.com/storage/docs/locations) for the authoritative list."
          }
        },
        "locationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the bucket location."
          }
        },
        "logging": {
          "target": "com.gcp.storage_v1#BucketLogging",
          "traits": {
            "smithy.api#documentation": "The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generation of this bucket."
          }
        },
        "metageneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metadata generation of this bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket."
          }
        },
        "owner": {
          "target": "com.gcp.storage_v1#BucketOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the bucket. This is always the project team's owner group."
          }
        },
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project number of the project the bucket belongs to."
          }
        },
        "retentionPolicy": {
          "target": "com.gcp.storage_v1#BucketRetentionPolicy",
          "traits": {
            "smithy.api#documentation": "The bucket's retention policy. The retention policy enforces a minimum retention time for all objects contained in the bucket, based on their creation time. Any attempt to overwrite or delete objects younger than the retention period will result in a PERMISSION_DENIED error. An unlocked retention policy can be modified or removed from the bucket via a storage.buckets.update operation. A locked retention policy cannot be removed or shortened in duration for the lifetime of the bucket. Attempting to remove or decrease period of a locked retention policy will result in a PERMISSION_DENIED error."
          }
        },
        "objectRetention": {
          "target": "com.gcp.storage_v1#BucketObjectRetention",
          "traits": {
            "smithy.api#documentation": "The bucket's object retention config."
          }
        },
        "rpo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Recovery Point Objective (RPO) of this bucket. Set to ASYNC_TURBO to turn on Turbo Replication on a bucket."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of this bucket."
          }
        },
        "softDeletePolicy": {
          "target": "com.gcp.storage_v1#BucketSoftDeletePolicy",
          "traits": {
            "smithy.api#documentation": "The bucket's soft delete policy, which defines the period of time that soft-deleted objects will be retained, and cannot be permanently deleted."
          }
        },
        "storageClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bucket's default storage class, used whenever no storageClass is specified for a newly-created object. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Values include MULTI_REGIONAL, REGIONAL, STANDARD, NEARLINE, COLDLINE, ARCHIVE, and DURABLE_REDUCED_AVAILABILITY. If this value is not specified when the bucket is created, it will default to STANDARD. For more information, see [Storage Classes](https://cloud.google.com/storage/docs/storage-classes)."
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the bucket in RFC 3339 format."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modification time of the bucket in RFC 3339 format."
          }
        },
        "softDeleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The soft delete time of the bucket in RFC 3339 format."
          }
        },
        "hardDeleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hard delete time of the bucket in RFC 3339 format."
          }
        },
        "versioning": {
          "target": "com.gcp.storage_v1#BucketVersioning",
          "traits": {
            "smithy.api#documentation": "The bucket's versioning configuration."
          }
        },
        "website": {
          "target": "com.gcp.storage_v1#BucketWebsite",
          "traits": {
            "smithy.api#documentation": "The bucket's website configuration, controlling how the service behaves when accessing bucket contents as a web site. See the [Static Website Examples](https://cloud.google.com/storage/docs/static-website) for more information."
          }
        },
        "satisfiesPZS": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Reserved for future use."
          }
        },
        "satisfiesPZI": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Reserved for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bucket."
      }
    },
    "com.gcp.storage_v1#BucketAccessControlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#BucketAccessControl"
      }
    },
    "com.gcp.storage_v1#BucketBilling": {
      "type": "structure",
      "members": {
        "requesterPays": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, Requester Pays is enabled for this bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketCorsItem": {
      "type": "structure",
      "members": {
        "maxAgeSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses."
          }
        },
        "method": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of HTTP methods on which to include CORS response headers, (GET, OPTIONS, POST, etc) Note: \"*\" is permitted in the list of methods, and means \"any method\"."
          }
        },
        "origin": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\"."
          }
        },
        "responseHeader": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains."
          }
        }
      }
    },
    "com.gcp.storage_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.storage_v1#BucketCorsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#BucketCorsItem"
      }
    },
    "com.gcp.storage_v1#BucketCustomPlacementConfig": {
      "type": "structure",
      "members": {
        "dataLocations": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of regional locations in which data is placed."
          }
        }
      }
    },
    "com.gcp.storage_v1#ObjectAccessControlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#ObjectAccessControl"
      }
    },
    "com.gcp.storage_v1#BucketEncryption": {
      "type": "structure",
      "members": {
        "defaultKmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloud KMS key that will be used to encrypt objects inserted into this bucket, if no encryption method is specified."
          }
        },
        "googleManagedEncryptionEnforcementConfig": {
          "target": "com.gcp.storage_v1#BucketEncryptionGoogleManagedEncryptionEnforcementConfig",
          "traits": {
            "smithy.api#documentation": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Google Managed Encryption type by default."
          }
        },
        "customerManagedEncryptionEnforcementConfig": {
          "target": "com.gcp.storage_v1#BucketEncryptionCustomerManagedEncryptionEnforcementConfig",
          "traits": {
            "smithy.api#documentation": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Customer Managed Encryption type by default."
          }
        },
        "customerSuppliedEncryptionEnforcementConfig": {
          "target": "com.gcp.storage_v1#BucketEncryptionCustomerSuppliedEncryptionEnforcementConfig",
          "traits": {
            "smithy.api#documentation": "If set, the new objects created in this bucket must comply with this enforcement config. Changing this has no effect on existing objects; it applies to new objects only. If omitted, the new objects are allowed to be encrypted with Customer Supplied Encryption type by default."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionGoogleManagedEncryptionEnforcementConfig": {
      "type": "structure",
      "members": {
        "restrictionMode": {
          "target": "com.gcp.storage_v1#BucketEncryptionGoogleManagedEncryptionEnforcementConfigRestrictionModeEnum",
          "traits": {
            "smithy.api#documentation": "Restriction mode for Google-Managed Encryption Keys. Defaults to NotRestricted."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionGoogleManagedEncryptionEnforcementConfigRestrictionModeEnum": {
      "type": "enum",
      "members": {
        "NOTRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRestricted"
          }
        },
        "FULLYRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullyRestricted"
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionCustomerManagedEncryptionEnforcementConfig": {
      "type": "structure",
      "members": {
        "restrictionMode": {
          "target": "com.gcp.storage_v1#BucketEncryptionCustomerManagedEncryptionEnforcementConfigRestrictionModeEnum",
          "traits": {
            "smithy.api#documentation": "Restriction mode for Customer-Managed Encryption Keys. Defaults to NotRestricted."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionCustomerManagedEncryptionEnforcementConfigRestrictionModeEnum": {
      "type": "enum",
      "members": {
        "NOTRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRestricted"
          }
        },
        "FULLYRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullyRestricted"
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionCustomerSuppliedEncryptionEnforcementConfig": {
      "type": "structure",
      "members": {
        "restrictionMode": {
          "target": "com.gcp.storage_v1#BucketEncryptionCustomerSuppliedEncryptionEnforcementConfigRestrictionModeEnum",
          "traits": {
            "smithy.api#documentation": "Restriction mode for Customer-Supplied Encryption Keys. Defaults to NotRestricted."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-determined value that indicates the time from which configuration was enforced and effective. This value is in RFC 3339 format."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketEncryptionCustomerSuppliedEncryptionEnforcementConfigRestrictionModeEnum": {
      "type": "enum",
      "members": {
        "NOTRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRestricted"
          }
        },
        "FULLYRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullyRestricted"
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketHierarchicalNamespace": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, hierarchical namespace is enabled for this bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIamConfiguration": {
      "type": "structure",
      "members": {
        "bucketPolicyOnly": {
          "target": "com.gcp.storage_v1#BucketIamConfigurationBucketPolicyOnly",
          "traits": {
            "smithy.api#documentation": "The bucket's uniform bucket-level access configuration. The feature was formerly known as Bucket Policy Only. For backward compatibility, this field will be populated with identical information as the uniformBucketLevelAccess field. We recommend using the uniformBucketLevelAccess field to enable and disable the feature."
          }
        },
        "uniformBucketLevelAccess": {
          "target": "com.gcp.storage_v1#BucketIamConfigurationUniformBucketLevelAccess",
          "traits": {
            "smithy.api#documentation": "The bucket's uniform bucket-level access configuration."
          }
        },
        "publicAccessPrevention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bucket's Public Access Prevention configuration. Currently, 'inherited' and 'enforced' are supported."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIamConfigurationBucketPolicyOnly": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, access is controlled only by bucket-level or above IAM policies."
          }
        },
        "lockedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deadline for changing iamConfiguration.bucketPolicyOnly.enabled from true to false in RFC 3339 format. iamConfiguration.bucketPolicyOnly.enabled may be changed from true to false until the locked time, after which the field is immutable."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIamConfigurationUniformBucketLevelAccess": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, access is controlled only by bucket-level or above IAM policies."
          }
        },
        "lockedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deadline for changing iamConfiguration.uniformBucketLevelAccess.enabled from true to false in RFC 3339  format. iamConfiguration.uniformBucketLevelAccess.enabled may be changed from true to false until the locked time, after which the field is immutable."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIpFilter": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode of the IP filter. Valid values are 'Enabled' and 'Disabled'."
          }
        },
        "publicNetworkSource": {
          "target": "com.gcp.storage_v1#BucketIpFilterPublicNetworkSource",
          "traits": {
            "smithy.api#documentation": "The public network source of the bucket's IP filter."
          }
        },
        "vpcNetworkSources": {
          "target": "com.gcp.storage_v1#BucketIpFilterVpcNetworkSourcesItemList",
          "traits": {
            "smithy.api#documentation": "The list of [VPC network](https://cloud.google.com/vpc/docs/vpc) sources of the bucket's IP filter."
          }
        },
        "allowCrossOrgVpcs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow cross-org VPCs in the bucket's IP filter configuration."
          }
        },
        "allowAllServiceAgentAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow all service agents to access the bucket regardless of the IP filter configuration."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIpFilterPublicNetworkSource": {
      "type": "structure",
      "members": {
        "allowedIpCidrRanges": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of public IPv4, IPv6 cidr ranges that are allowed to access the bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIpFilterVpcNetworkSourcesItem": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the network. Format: projects/{PROJECT_ID}/global/networks/{NETWORK_NAME}"
          }
        },
        "allowedIpCidrRanges": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of IPv4, IPv6 cidr ranges subnetworks that are allowed to access the bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketIpFilterVpcNetworkSourcesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#BucketIpFilterVpcNetworkSourcesItem"
      }
    },
    "com.gcp.storage_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.storage_v1#BucketLifecycle": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.gcp.storage_v1#BucketLifecycleRuleItemList",
          "traits": {
            "smithy.api#documentation": "A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketLifecycleRuleItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.storage_v1#BucketLifecycleRuleItemAction",
          "traits": {
            "smithy.api#documentation": "The action to take."
          }
        },
        "condition": {
          "target": "com.gcp.storage_v1#BucketLifecycleRuleItemCondition",
          "traits": {
            "smithy.api#documentation": "The condition(s) under which the action will be taken."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketLifecycleRuleItemAction": {
      "type": "structure",
      "members": {
        "storageClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target storage class. Required iff the type of the action is SetStorageClass."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the action. Currently, only Delete, SetStorageClass, and AbortIncompleteMultipartUpload are supported."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketLifecycleRuleItemCondition": {
      "type": "structure",
      "members": {
        "age": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Age of an object (in days). This condition is satisfied when an object reaches the specified age."
          }
        },
        "createdBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when an object is created before midnight of the specified date in UTC."
          }
        },
        "customTimeBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when the custom time on an object is before this date in UTC."
          }
        },
        "daysSinceCustomTime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days elapsed since the user-specified timestamp set on an object. The condition is satisfied if the days elapsed is at least this number. If no custom timestamp is specified on an object, the condition does not apply."
          }
        },
        "daysSinceNoncurrentTime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days elapsed since the noncurrent timestamp of an object. The condition is satisfied if the days elapsed is at least this number. This condition is relevant only for versioned objects. The value of the field must be a nonnegative integer. If it's zero, the object version will become eligible for Lifecycle action as soon as it becomes noncurrent."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects."
          }
        },
        "matchesPattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A regular expression that satisfies the RE2 syntax. This condition is satisfied when the name of the object matches the RE2 pattern. Note: This feature is currently in the \"Early Access\" launch stage and is only available to a whitelisted set of users; that means that this feature may be changed in backward-incompatible ways and that it is not guaranteed to be released."
          }
        },
        "matchesPrefix": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of object name prefixes. This condition will be satisfied when at least one of the prefixes exactly matches the beginning of the object name."
          }
        },
        "matchesSuffix": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of object name suffixes. This condition will be satisfied when at least one of the suffixes exactly matches the end of the object name."
          }
        },
        "matchesStorageClass": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Objects having any of the storage classes specified by this condition will be matched. Values include MULTI_REGIONAL, REGIONAL, NEARLINE, COLDLINE, ARCHIVE, STANDARD, and DURABLE_REDUCED_AVAILABILITY."
          }
        },
        "noncurrentTimeBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when the noncurrent time on an object is before this date in UTC. This condition is relevant only for versioned objects."
          }
        },
        "sizeAboveBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Objects having a size greater than this value in bytes will be matched."
          }
        },
        "sizeBelowBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Objects having a size less than this value in bytes will be matched."
          }
        },
        "numNewerVersions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketLifecycleRuleItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#BucketLifecycleRuleItem"
      }
    },
    "com.gcp.storage_v1#BucketAutoclass": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not Autoclass is enabled on this bucket"
          }
        },
        "toggleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date and time in RFC 3339 format representing the instant at which \"enabled\" was last toggled."
          }
        },
        "terminalStorageClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage class that objects in the bucket eventually transition to if they are not read for a certain length of time. Valid values are NEARLINE and ARCHIVE."
          }
        },
        "terminalStorageClassUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date and time in RFC 3339 format representing the time of the most recent update to \"terminalStorageClass\"."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketLogging": {
      "type": "structure",
      "members": {
        "logBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination bucket where the current bucket's logs should be placed."
          }
        },
        "logObjectPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A prefix for log object names."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketOwner": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity, in the form project-owner-projectId."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the entity."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketRetentionPolicy": {
      "type": "structure",
      "members": {
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-determined value that indicates the time from which policy was enforced and effective. This value is in RFC 3339 format."
          }
        },
        "isLocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Once locked, an object retention policy cannot be modified."
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration in seconds that objects need to be retained. Retention duration must be greater than zero and less than 100 years. Note that enforcement of retention periods less than a day is not guaranteed. Such periods should only be used for testing purposes."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketObjectRetention": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bucket's object retention mode. Can be Enabled."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketSoftDeletePolicy": {
      "type": "structure",
      "members": {
        "retentionDurationSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration in seconds that soft-deleted objects in the bucket will be retained and cannot be permanently deleted."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-determined value that indicates the time from which the policy, or one with a greater retention, was effective. This value is in RFC 3339 format."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketVersioning": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "While set to true, versioning is fully enabled for this bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketWebsite": {
      "type": "structure",
      "members": {
        "mainPageSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the requested object path is missing, the service will ensure the path has a trailing '/', append this suffix, and attempt to retrieve the resulting object. This allows the creation of index.html objects to represent directory pages."
          }
        },
        "notFoundPage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the requested object path is missing, and any mainPageSuffix object is missing, if applicable, the service will return the named object from this bucket as the content for a 404 Not Found result."
          }
        }
      }
    },
    "com.gcp.storage_v1#AdvanceRelocateBucketOperationRequest": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration after which the relocation will revert to the sync stage if the relocation hasn't succeeded. Optional, if not supplied, a default value of 12h will be used."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time when the relocation will revert to the sync stage if the relocation hasn't succeeded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AdvanceRelocateBucketOperation request."
      }
    },
    "com.gcp.storage_v1#AnywhereCache": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For Anywhere Cache, this is always storage#anywhereCache."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource, including the project number, bucket name and anywhere cache ID."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this cache instance."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket containing this cache instance."
          }
        },
        "anywhereCacheId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Anywhere cache instance."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zone in which the cache instance is running. For example, us-central1-a."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current state of the cache instance."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the cache instance in RFC 3339 format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modification time of the cache instance metadata in RFC 3339 format."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TTL of all cache entries in whole seconds. e.g., \"7200s\". "
          }
        },
        "admissionPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cache-level entry admission policy."
          }
        },
        "pendingUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the cache instance has an active Update long-running operation."
          }
        },
        "ingestOnWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether objects are ingested into the cache upon write."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Anywhere Cache instance."
      }
    },
    "com.gcp.storage_v1#AnywhereCaches": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of Anywhere Caches, this is always storage#anywhereCaches."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "items": {
          "target": "com.gcp.storage_v1#AnywhereCacheList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Anywhere Caches."
      }
    },
    "com.gcp.storage_v1#AnywhereCacheList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#AnywhereCache"
      }
    },
    "com.gcp.storage_v1#BucketAccessControl": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain associated with the entity, if any."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address associated with the entity, if any."
          }
        },
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the entity, if any."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for the access-control entry."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the access-control entry."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl."
          }
        },
        "projectTeam": {
          "target": "com.gcp.storage_v1#BucketAccessControlProjectTeam",
          "traits": {
            "smithy.api#documentation": "The project team associated with the entity, if any."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access permission for the entity."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this access-control entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access-control entry."
      }
    },
    "com.gcp.storage_v1#BucketAccessControlProjectTeam": {
      "type": "structure",
      "members": {
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project number."
          }
        },
        "team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketAccessControls": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#BucketAccessControlList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access-control list."
      }
    },
    "com.gcp.storage_v1#BucketStorageLayout": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket."
          }
        },
        "customPlacementConfig": {
          "target": "com.gcp.storage_v1#BucketStorageLayoutCustomPlacementConfig",
          "traits": {
            "smithy.api#documentation": "The bucket's custom placement configuration for Custom Dual Regions."
          }
        },
        "hierarchicalNamespace": {
          "target": "com.gcp.storage_v1#BucketStorageLayoutHierarchicalNamespace",
          "traits": {
            "smithy.api#documentation": "The bucket's hierarchical namespace configuration."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For storage layout, this is always storage#storageLayout."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the bucket."
          }
        },
        "locationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the bucket location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The storage layout configuration of a bucket."
      }
    },
    "com.gcp.storage_v1#BucketStorageLayoutCustomPlacementConfig": {
      "type": "structure",
      "members": {
        "dataLocations": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of regional locations in which data is placed."
          }
        }
      }
    },
    "com.gcp.storage_v1#BucketStorageLayoutHierarchicalNamespace": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, hierarchical namespace is enabled for this bucket."
          }
        }
      }
    },
    "com.gcp.storage_v1#Buckets": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#BucketList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of buckets, this is always storage#buckets."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "unreachable": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of bucket resource names that could not be reached during the listing operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of buckets."
      }
    },
    "com.gcp.storage_v1#BucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#Bucket"
      }
    },
    "com.gcp.storage_v1#Channel": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
          }
        },
        "params": {
          "target": "com.gcp.storage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An notification channel used to watch for resource changes."
      }
    },
    "com.gcp.storage_v1#ComposeRequest": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.gcp.storage_v1#Storage_Object",
          "traits": {
            "smithy.api#documentation": "Properties of the resulting object."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is."
          }
        },
        "sourceObjects": {
          "target": "com.gcp.storage_v1#ComposeRequestSourceObjectsItemList",
          "traits": {
            "smithy.api#documentation": "The list of source objects that will be concatenated into a single object."
          }
        },
        "deleteSourceObjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the source objects will be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Compose request."
      }
    },
    "com.gcp.storage_v1#ComposeRequestSourceObjectsItem": {
      "type": "structure",
      "members": {
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generation of this object to use as the source."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source object's name. All source objects must reside in the same bucket."
          }
        },
        "objectPreconditions": {
          "target": "com.gcp.storage_v1#ComposeRequestSourceObjectsItemObjectPreconditions",
          "traits": {
            "smithy.api#documentation": "Conditions that must be met for this operation to execute."
          }
        }
      }
    },
    "com.gcp.storage_v1#ComposeRequestSourceObjectsItemObjectPreconditions": {
      "type": "structure",
      "members": {
        "ifGenerationMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only perform the composition if the generation of the source object that would be used matches this value. If this value and a generation are both specified, they must be the same value or the call will fail."
          }
        }
      }
    },
    "com.gcp.storage_v1#ComposeRequestSourceObjectsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#ComposeRequestSourceObjectsItem"
      }
    },
    "com.gcp.storage_v1#Folder": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket containing this folder."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the folder, including the bucket name, folder name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For folders, this is always storage#folder."
          }
        },
        "metageneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the metadata for this folder. Used for preconditions and for detecting changes in metadata."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the folder. Required if not specified by URL parameter."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this folder."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the folder in RFC 3339 format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modification time of the folder metadata in RFC 3339 format."
          }
        },
        "pendingRenameInfo": {
          "target": "com.gcp.storage_v1#FolderPendingRenameInfo",
          "traits": {
            "smithy.api#documentation": "Only present if the folder is part of an ongoing rename folder operation. Contains information which can be used to query the operation status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A folder. Only available in buckets with hierarchical namespace enabled."
      }
    },
    "com.gcp.storage_v1#FolderPendingRenameInfo": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the rename folder operation."
          }
        }
      }
    },
    "com.gcp.storage_v1#Folders": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#FolderList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of folders, this is always storage#folders."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of folders."
      }
    },
    "com.gcp.storage_v1#FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#Folder"
      }
    },
    "com.gcp.storage_v1#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax. The application context of the containing message determines which well-known feature set of CEL is supported."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional string indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an expression text. Example: title: \"User account presence\" description: \"Determines whether the request has a user account\" expression: \"size(request.user) > 0\""
      }
    },
    "com.gcp.storage_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is \"false\", it means the operation is still in progress. If \"true\", the operation is completed, and either \"error\" or \"response\" is available."
          }
        },
        "error": {
          "target": "com.gcp.storage_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.storage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the \"name\" should be a resource name ending with \"operations/{operationId}\"."
          }
        },
        "response": {
          "target": "com.gcp.storage_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal response of the operation in case of success. If the original method returns no data on success, such as \"Delete\", the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type \"XxxResponse\", where \"Xxx\" is the original method name. For example, if the original method name is \"TakeSnapshot()\", the inferred response type is \"TakeSnapshotResponse\"."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this long running operation."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For operations, this is always storage#operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.storage_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.storage_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "operations": {
          "target": "com.gcp.storage_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of operations, this is always storage#operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for storage.buckets.operations.list."
      }
    },
    "com.gcp.storage_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.storage_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.storage_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The \"Status\" type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each \"Status\" message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.storage_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#DocumentMap"
      }
    },
    "com.gcp.storage_v1#HmacKey": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For HMAC keys, this is always storage#hmacKey."
          }
        },
        "metadata": {
          "target": "com.gcp.storage_v1#HmacKeyMetadata",
          "traits": {
            "smithy.api#documentation": "Key metadata."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HMAC secret key material."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template to produce a JSON-style HMAC Key resource for Create responses."
      }
    },
    "com.gcp.storage_v1#HmacKeyMetadata": {
      "type": "structure",
      "members": {
        "accessId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the HMAC Key."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for the HMAC key."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the HMAC key, including the Project ID and the Access ID."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For HMAC Key metadata, this is always storage#hmacKeyMetadata."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID owning the service account to which the key authenticates."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this resource."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the key's associated service account."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of the key. Can be one of ACTIVE, INACTIVE, or DELETED."
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the HMAC key in RFC 3339 format."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification time of the HMAC key metadata in RFC 3339 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template to produce a JSON-style HMAC Key metadata resource."
      }
    },
    "com.gcp.storage_v1#HmacKeysMetadata": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#HmacKeyMetadataList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of hmacKeys, this is always storage#hmacKeysMetadata."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of hmacKeys."
      }
    },
    "com.gcp.storage_v1#HmacKeyMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#HmacKeyMetadata"
      }
    },
    "com.gcp.storage_v1#ManagedFolder": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket containing this managed folder."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managed folder, including the bucket name and managed folder name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For managed folders, this is always storage#managedFolder."
          }
        },
        "metageneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the metadata for this managed folder. Used for preconditions and for detecting changes in metadata."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managed folder. Required if not specified by URL parameter."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this managed folder."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the managed folder in RFC 3339 format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the managed folder metadata in RFC 3339 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A managed folder."
      }
    },
    "com.gcp.storage_v1#ManagedFolders": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#ManagedFolderList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of managed folders, this is always storage#managedFolders."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of managed folders."
      }
    },
    "com.gcp.storage_v1#ManagedFolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#ManagedFolder"
      }
    },
    "com.gcp.storage_v1#Notification": {
      "type": "structure",
      "members": {
        "custom_attributes": {
          "target": "com.gcp.storage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "An optional list of additional attributes to attach to each Cloud PubSub message published for this notification subscription."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for this subscription notification."
          }
        },
        "event_types": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If present, only send notifications about listed event types. If empty, sent notifications for all event types."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the notification."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For notifications, this is always storage#notification."
          }
        },
        "object_name_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, only apply this notification configuration to object names that begin with this prefix."
          }
        },
        "payload_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired content of the Payload."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical URL of this notification."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud PubSub topic to which this subscription publishes. Formatted as: '//pubsub.googleapis.com/projects/{project-identifier}/topics/{my-topic}'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription to receive Google PubSub notifications."
      }
    },
    "com.gcp.storage_v1#Notifications": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#NotificationList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of notifications, this is always storage#notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of notification subscriptions."
      }
    },
    "com.gcp.storage_v1#NotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#Notification"
      }
    },
    "com.gcp.storage_v1#Storage_Object": {
      "type": "structure",
      "members": {
        "acl": {
          "target": "com.gcp.storage_v1#ObjectAccessControlList",
          "traits": {
            "smithy.api#documentation": "Access controls on the object."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket containing this object."
          }
        },
        "cacheControl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache-Control directive for the object data. If omitted, and the object is accessible to all anonymous users, the default will be public, max-age=3600."
          }
        },
        "componentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of underlying components that make up this object. Components are accumulated by compose operations."
          }
        },
        "contentDisposition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content-Disposition of the object data."
          }
        },
        "contentEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content-Encoding of the object data."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content-Language of the object data."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content-Type of the object data. If an object is stored without a Content-Type, it is served as application/octet-stream."
          }
        },
        "crc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CRC32c checksum, as described in RFC 4960, Appendix B; encoded using base64 in big-endian byte order. For more information about using the CRC32c checksum, see [Data Validation and Change Detection](https://cloud.google.com/storage/docs/data-validation)."
          }
        },
        "customTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp in RFC 3339 format specified by the user for an object."
          }
        },
        "customerEncryption": {
          "target": "com.gcp.storage_v1#Storage_ObjectCustomerEncryption",
          "traits": {
            "smithy.api#documentation": "Metadata of customer-supplied encryption key, if the object is encrypted by such a key."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for the object."
          }
        },
        "eventBasedHold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an object is under event-based hold. Event-based hold is a way to retain objects until an event occurs, which is signified by the hold's release (i.e. this value is set to false). After being released (set to false), such objects will be subject to bucket-level retention (if any). One sample use case of this flag is for banks to hold loan documents for at least 3 years after loan is paid in full. Here, bucket-level retention is 3 years and the event is the loan being paid in full. In this example, these objects will be held intact for any number of years until the event has occurred (event-based hold on the object is released) and then 3 more years after that. That means retention duration of the objects begins from the moment event-based hold transitioned from true to false."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content generation of this object. Used for object versioning."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the object, including the bucket name, object name, and generation number."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For objects, this is always storage#object."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not currently supported. Specifying the parameter causes the request to fail with status code 400 - Bad Request."
          }
        },
        "md5Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 hash of the data; encoded using base64. For more information about using the MD5 hash, see [Data Validation and Change Detection](https://cloud.google.com/storage/docs/data-validation)."
          }
        },
        "mediaLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Media download link."
          }
        },
        "metadata": {
          "target": "com.gcp.storage_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-provided metadata, in key/value pairs."
          }
        },
        "contexts": {
          "target": "com.gcp.storage_v1#Storage_ObjectContexts",
          "traits": {
            "smithy.api#documentation": "User-defined or system-defined object contexts. Each object context is a key-payload pair, where the key provides the identification and the payload holds the associated value and additional metadata."
          }
        },
        "restoreToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restore token used to differentiate deleted objects with the same name and generation. This field is only returned for deleted objects in hierarchical namespace buckets."
          }
        },
        "metageneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the metadata for this object at this generation. Used for preconditions and for detecting changes in metadata. A metageneration number is only meaningful in the context of a particular generation of a particular object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the object. Required if not specified by URL parameter."
          }
        },
        "owner": {
          "target": "com.gcp.storage_v1#Storage_ObjectOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the object. This will always be the uploader of the object."
          }
        },
        "retentionExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A server-determined value that specifies the earliest time that the object's retention period expires. This value is in RFC 3339 format. Note 1: This field is not provided for objects with an active event-based hold, since retention expiration is unknown until the hold is removed. Note 2: This value can be provided even when temporary hold is set (so that the user can reason about policy without having to first unset the temporary hold)."
          }
        },
        "retention": {
          "target": "com.gcp.storage_v1#Storage_ObjectRetention",
          "traits": {
            "smithy.api#documentation": "A collection of object level retention parameters."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this object."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content-Length of the data in bytes."
          }
        },
        "storageClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage class of the object."
          }
        },
        "temporaryHold": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an object is under temporary hold. While this flag is set to true, the object is protected against deletion and overwrites. A common use case of this flag is regulatory investigations where objects need to be retained while the investigation is ongoing. Note that unlike event-based hold, temporary hold does not impact retention expiration time of an object."
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the object in RFC 3339 format."
          }
        },
        "timeDeleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the object became noncurrent in RFC 3339 format. Will be returned if and only if this version of the object has been deleted."
          }
        },
        "timeFinalized": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the object was finalized."
          }
        },
        "softDeleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the object became soft-deleted in RFC 3339 format."
          }
        },
        "hardDeleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time (in the future) when the soft-deleted object will no longer be restorable. It is equal to the soft delete time plus the current soft delete retention duration of the bucket."
          }
        },
        "timeStorageClassUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the object's storage class was last changed. When the object is initially created, it will be set to timeCreated."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modification time of the object metadata in RFC 3339 format. Set initially to object creation time and then updated whenever any metadata of the object changes. This includes changes made by a requester, such as modifying custom metadata, as well as changes made by Cloud Storage on behalf of a requester, such as changing the storage class based on an Object Lifecycle Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object."
      }
    },
    "com.gcp.storage_v1#Storage_ObjectCustomerEncryption": {
      "type": "structure",
      "members": {
        "encryptionAlgorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption algorithm."
          }
        },
        "keySha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA256 hash value of the encryption key."
          }
        }
      }
    },
    "com.gcp.storage_v1#Storage_ObjectContexts": {
      "type": "structure",
      "members": {
        "custom": {
          "target": "com.gcp.storage_v1#ObjectCustomContextPayloadMap",
          "traits": {
            "smithy.api#documentation": "User-defined object contexts."
          }
        }
      }
    },
    "com.gcp.storage_v1#ObjectCustomContextPayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.storage_v1#ObjectCustomContextPayload"
      }
    },
    "com.gcp.storage_v1#Storage_ObjectOwner": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity, in the form user-userId."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the entity."
          }
        }
      }
    },
    "com.gcp.storage_v1#Storage_ObjectRetention": {
      "type": "structure",
      "members": {
        "retainUntilTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A time in RFC 3339 format until which object retention protects this object."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bucket's object retention mode, can only be Unlocked or Locked."
          }
        }
      }
    },
    "com.gcp.storage_v1#ObjectAccessControl": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bucket."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain associated with the entity, if any."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address associated with the entity, if any."
          }
        },
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the entity, if any."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1 Entity tag for the access-control entry."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content generation of the object, if applied to an object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the access-control entry."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For object access control entries, this is always storage#objectAccessControl."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the object, if applied to an object."
          }
        },
        "projectTeam": {
          "target": "com.gcp.storage_v1#ObjectAccessControlProjectTeam",
          "traits": {
            "smithy.api#documentation": "The project team associated with the entity, if any."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access permission for the entity."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to this access-control entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access-control entry."
      }
    },
    "com.gcp.storage_v1#ObjectAccessControlProjectTeam": {
      "type": "structure",
      "members": {
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project number."
          }
        },
        "team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team."
          }
        }
      }
    },
    "com.gcp.storage_v1#ObjectAccessControls": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#ObjectAccessControlList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of object access control entries, this is always storage#objectAccessControls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access-control list."
      }
    },
    "com.gcp.storage_v1#ObjectCustomContextPayload": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the object context."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the object context was created in RFC 3339 format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the object context was last updated in RFC 3339 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payload of a single user-defined object context."
      }
    },
    "com.gcp.storage_v1#Objects": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.storage_v1#Storage_ObjectList",
          "traits": {
            "smithy.api#documentation": "The list of items."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For lists of objects, this is always storage#objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "prefixes": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of prefixes of objects matching-but-not-listed up to and including the requested delimiter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of objects."
      }
    },
    "com.gcp.storage_v1#Storage_ObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.storage_v1#Storage_Object"
      }
    },
    "com.gcp.storage_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.storage_v1#PolicyBindingsItemList",
          "traits": {
            "smithy.api#documentation": "An association between a role, which comes with a set of permissions, and members who may assume that role."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP 1.1  Entity tag for the policy."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of item this is. For policies, this is always storage#policy. This field is ignored on input."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource to which this policy belongs. Will be of the form projects/_/buckets/bucket for buckets, projects/_/buckets/bucket/objects/object for objects, and projects/_/buckets/bucket/managedFolders/managedFolder. A specific generation may be specified by appending #generationNumber to the end of the object name, e.g. projects/_/buckets/my-bucket/objects/data.txt#17. The current generation can be denoted with #0. This field is ignored on input."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The IAM policy format version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bucket/object/managedFolder IAM policy."
      }
    },
    "com.gcp.storage_v1#PolicyBindingsItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.storage_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. NOTE: an unsatisfied condition will not allow user access via current binding. Different bindings, including their conditions, are examined independently."
          }
        },
        "members": {
          "target": "com.gcp.storage_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A collection of identifiers for members who may assume the provided role. Recognized identifiers are as follows:  \n- allUsers - A special identifier that represents anyone on the internet; with or without a Google account.  \n- allAuthenticatedUsers - A special identifier that represents anyone who is authenticated with a Google account or a service account.  \n- user:emailid - An email address that represents a specific account. For example, user:alice@gmail.com or user:joe@example.com.  \n- serviceAccount:emailid - An email address that represents a service account. For example,  serviceAccount:my-other-app@appspot.gserviceaccount.com .  \n- group:emailid - An email address that represents a Google group. For example, group:admins@example.com.  \n- domain:domain - A Google Apps domain name that represents all the users of that domain. For example, domain:google.com or domain:example.com.  \n- projectOwner:projectid - Owners of the given project. For example, projectOwner:my-example-project  \n- projectEditor:projectid - Editors of the given project. For example, projectEditor:my-example-project  \n- projectViewer:projectid - Viewers of the given project. For example, projectViewer:my-example-project"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
[...]
