{
  "smithy": "2.0",
  "metadata": {
    "service": "streetviewpublish",
    "version": "v1",
    "title": "Street View Publish API",
    "baseUrl": "https://streetviewpublish.googleapis.com/"
  },
  "shapes": {
    "com.gcp.streetviewpublish_v1#Photo": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The download URL for the photo bytes. This field is set only when GetPhotoRequest.view is set to PhotoView.INCLUDE_DOWNLOAD_URL."
          }
        },
        "viewCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. View count of the photo."
          }
        },
        "mapsPublishStatus": {
          "target": "com.gcp.streetviewpublish_v1#PhotoMapsPublishStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status in Google Maps, whether this photo was published or rejected."
          }
        },
        "photoId": {
          "target": "com.gcp.streetviewpublish_v1#PhotoId",
          "traits": {
            "smithy.api#documentation": "Required. Output only. Required when updating a photo. Output only when creating a photo. Identifier for the photo, which is unique among all photos in Google."
          }
        },
        "shareLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The share link for the photo."
          }
        },
        "pose": {
          "target": "com.gcp.streetviewpublish_v1#Pose",
          "traits": {
            "smithy.api#documentation": "Optional. Pose of the photo."
          }
        },
        "connections": {
          "target": "com.gcp.streetviewpublish_v1#ConnectionList",
          "traits": {
            "smithy.api#documentation": "Optional. Connections to other photos. A connection represents the link from this photo to another photo."
          }
        },
        "transferStatus": {
          "target": "com.gcp.streetviewpublish_v1#PhotoTransferStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of rights transfer on this photo."
          }
        },
        "thumbnailUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The thumbnail URL for showing a preview of the given photo."
          }
        },
        "captureTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Absolute time when the photo was captured. When the photo has no exif timestamp, this is used to set a timestamp in the photo metadata."
          }
        },
        "places": {
          "target": "com.gcp.streetviewpublish_v1#PlaceList",
          "traits": {
            "smithy.api#documentation": "Optional. Places where this photo belongs."
          }
        },
        "uploadReference": {
          "target": "com.gcp.streetviewpublish_v1#UploadRef",
          "traits": {
            "smithy.api#documentation": "Input only. Required when creating a photo. Input only. The resource URL where the photo bytes are uploaded to."
          }
        },
        "uploadTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the image was uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Photo is used to store 360 photos along with photo metadata."
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoMapsPublishStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED_MAPS_PUBLISH_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_MAPS_PUBLISH_STATUS"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "REJECTED_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED_UNKNOWN"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Connection"
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoTransferStatusEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_STATUS_UNKNOWN"
          }
        },
        "NEVER_TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER_TRANSFERRED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "RECEIVED_VIA_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVED_VIA_TRANSFER"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#PlaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Place"
      }
    },
    "com.gcp.streetviewpublish_v1#BatchGetPhotosResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.streetviewpublish_v1#PhotoResponseList",
          "traits": {
            "smithy.api#documentation": "List of results for each individual Photo requested, in the same order as the requests in BatchGetPhotos."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to batch get of Photos."
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#PhotoResponse"
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.streetviewpublish_v1#Status",
          "traits": {
            "smithy.api#documentation": "The status for the operation to get or update a single photo in the batch request."
          }
        },
        "photo": {
          "target": "com.gcp.streetviewpublish_v1#Photo",
          "traits": {
            "smithy.api#documentation": "The Photo resource, if the request was successful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response payload for a single Photo in batch operations including BatchGetPhotos and BatchUpdatePhotos."
      }
    },
    "com.gcp.streetviewpublish_v1#Pose": {
      "type": "structure",
      "members": {
        "altitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Altitude of the pose in meters above WGS84 ellipsoid. NaN indicates an unmeasured quantity."
          }
        },
        "pitch": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pitch, measured at the center of the photo in degrees. Value must be >=-90 and <= 90. A value of -90 means looking directly down, and a value of 90 means looking directly up. NaN indicates an unmeasured quantity."
          }
        },
        "roll": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Roll, measured in degrees. Value must be >= 0 and <360. A value of 0 means level with the horizon. NaN indicates an unmeasured quantity."
          }
        },
        "level": {
          "target": "com.gcp.streetviewpublish_v1#Level",
          "traits": {
            "smithy.api#documentation": "Level (the floor in a building) used to configure vertical navigation."
          }
        },
        "latLngPair": {
          "target": "com.gcp.streetviewpublish_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "Latitude and longitude pair of the pose, as explained here: https://cloud.google.com/datastore/docs/reference/rest/Shared.Types/LatLng When creating a Photo, if the latitude and longitude pair are not provided, the geolocation from the exif header is used. A latitude and longitude pair not provided in the photo or exif header causes the photo process to fail."
          }
        },
        "gpsRecordTimestampUnixEpoch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of the GPS record since UTC epoch."
          }
        },
        "heading": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The following pose parameters pertain to the center of the photo. They match https://developers.google.com/streetview/spherical-metadata. Compass heading, measured at the center of the photo in degrees clockwise from North. Value must be >=0 and <360. NaN indicates an unmeasured quantity."
          }
        },
        "accuracyMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The estimated horizontal accuracy of this pose in meters with 68% confidence (one standard deviation). For example, on Android, this value is available from this method: https://developer.android.com/reference/android/location/Location#getAccuracy(). Other platforms have different methods of obtaining similar accuracy estimations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Raw pose measurement for an entity."
      }
    },
    "com.gcp.streetviewpublish_v1#UploadRef": {
      "type": "structure",
      "members": {
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An upload reference should be unique for each user. It follows the form: \"https://streetviewpublish.googleapis.com/media/user/{account_id}/photo/{upload_reference}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upload reference for media files."
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoSequence": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier for the photo sequence. This also acts as a long running operation ID if uploading is performed asynchronously."
          }
        },
        "uploadTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this photo sequence was created in uSV Store service."
          }
        },
        "failureReason": {
          "target": "com.gcp.streetviewpublish_v1#PhotoSequenceFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. If this sequence has processing_state = FAILED, this will contain the reason why it failed. If the processing_state is any other value, this field will be unset."
          }
        },
        "imu": {
          "target": "com.gcp.streetviewpublish_v1#Imu",
          "traits": {
            "smithy.api#documentation": "Input only. Three axis IMU data for the collection. If this data is too large to put in the request, then it should be put in the CAMM track for the video. This data always takes precedence over the equivalent CAMM data, if it exists."
          }
        },
        "photos": {
          "target": "com.gcp.streetviewpublish_v1#PhotoList",
          "traits": {
            "smithy.api#documentation": "Output only. Photos with increasing timestamps."
          }
        },
        "processingState": {
          "target": "com.gcp.streetviewpublish_v1#PhotoSequenceProcessingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The processing state of this sequence."
          }
        },
        "captureTimeOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Absolute time when the photo sequence starts to be captured. If the photo sequence is a video, this is the start time of the video. If this field is populated in input, it overrides the capture time in the video or XDM file."
          }
        },
        "failureDetails": {
          "target": "com.gcp.streetviewpublish_v1#ProcessingFailureDetails",
          "traits": {
            "smithy.api#documentation": "Output only. If this sequence has `failure_reason` set, this may contain additional details about the failure."
          }
        },
        "uploadReference": {
          "target": "com.gcp.streetviewpublish_v1#UploadRef",
          "traits": {
            "smithy.api#documentation": "Input only. Required when creating photo sequence. The resource name where the bytes of the photo sequence (in the form of video) are uploaded."
          }
        },
        "gpsSource": {
          "target": "com.gcp.streetviewpublish_v1#PhotoSequenceGpsSourceEnum",
          "traits": {
            "smithy.api#documentation": "Input only. If both raw_gps_timeline and the Camera Motion Metadata Track (CAMM) contain GPS measurements, indicate which takes precedence."
          }
        },
        "rawGpsTimeline": {
          "target": "com.gcp.streetviewpublish_v1#PoseList",
          "traits": {
            "smithy.api#documentation": "Input only. Raw GPS measurements with increasing timestamps from the device that aren't time synced with each photo. These raw measurements will be used to infer the pose of each frame. Required in input when InputType is VIDEO and raw GPS measurements are not in Camera Motion Metadata Track (CAMM). User can indicate which takes precedence using gps_source if raw GPS measurements are provided in both raw_gps_timeline and Camera Motion Metadata Track (CAMM)."
          }
        },
        "distanceMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The computed distance of the photo sequence in meters."
          }
        },
        "sequenceBounds": {
          "target": "com.gcp.streetviewpublish_v1#LatLngBounds",
          "traits": {
            "smithy.api#documentation": "Output only. A rectangular box that encapsulates every image in this photo sequence."
          }
        },
        "viewCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of views that all the published images in this PhotoSequence have received."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The filename of the upload. Does not include the directory path. Only available if the sequence was uploaded on a platform that provides the filename."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sequence of 360 photos along with metadata."
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoSequenceFailureReasonEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "LOW_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW_RESOLUTION"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE"
          }
        },
        "INSUFFICIENT_GPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_GPS"
          }
        },
        "NO_OVERLAP_GPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OVERLAP_GPS"
          }
        },
        "INVALID_GPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_GPS"
          }
        },
        "FAILED_TO_REFINE_POSITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_REFINE_POSITIONS"
          }
        },
        "TAKEDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAKEDOWN"
          }
        },
        "CORRUPT_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRUPT_VIDEO"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "INVALID_VIDEO_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VIDEO_FORMAT"
          }
        },
        "INVALID_VIDEO_DIMENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VIDEO_DIMENSIONS"
          }
        },
        "INVALID_CAPTURE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CAPTURE_TIME"
          }
        },
        "GPS_DATA_GAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPS_DATA_GAP"
          }
        },
        "JUMPY_GPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUMPY_GPS"
          }
        },
        "INVALID_IMU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_IMU"
          }
        },
        "INSUFFICIENT_IMU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_IMU"
          }
        },
        "INSUFFICIENT_OVERLAP_TIME_SERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_OVERLAP_TIME_SERIES"
          }
        },
        "IMU_DATA_GAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMU_DATA_GAP"
          }
        },
        "UNSUPPORTED_CAMERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_CAMERA"
          }
        },
        "NOT_OUTDOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_OUTDOORS"
          }
        },
        "INSUFFICIENT_VIDEO_FRAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_VIDEO_FRAMES"
          }
        },
        "INSUFFICIENT_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_MOVEMENT"
          }
        },
        "MAST_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAST_DOWN"
          }
        },
        "CAMERA_COVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMERA_COVERED"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Photo"
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoSequenceProcessingStateEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoSequenceGpsSourceEnum": {
      "type": "enum",
      "members": {
        "PHOTO_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTO_SEQUENCE"
          }
        },
        "CAMERA_MOTION_METADATA_TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMERA_MOTION_METADATA_TRACK"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#PoseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Pose"
      }
    },
    "com.gcp.streetviewpublish_v1#NoOverlapGpsFailureDetails": {
      "type": "structure",
      "members": {
        "gpsEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of last recorded GPS point."
          }
        },
        "videoEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of video."
          }
        },
        "gpsStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of first recorded GPS point."
          }
        },
        "videoStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to PhotoSequenceProcessingFailureReason#NO_OVERLAP_GPS."
      }
    },
    "com.gcp.streetviewpublish_v1#ImuDataGapFailureDetails": {
      "type": "structure",
      "members": {
        "gapStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative time (from the start of the video stream) when the gap started."
          }
        },
        "gapDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration of the gap in IMU data that was found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to ProcessingFailureReason#IMU_DATA_GAP. If there are multiple IMU data gaps, only the one with the largest duration is reported here."
      }
    },
    "com.gcp.streetviewpublish_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.streetviewpublish_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.streetviewpublish_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.streetviewpublish_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#DocumentMap"
      }
    },
    "com.gcp.streetviewpublish_v1#LatLngBounds": {
      "type": "structure",
      "members": {
        "southwest": {
          "target": "com.gcp.streetviewpublish_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "The southwest corner of these bounds."
          }
        },
        "northeast": {
          "target": "com.gcp.streetviewpublish_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "The northeast corner of these bounds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rectangle in geographical coordinates."
      }
    },
    "com.gcp.streetviewpublish_v1#GpsDataGapFailureDetails": {
      "type": "structure",
      "members": {
        "gapStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative time (from the start of the video stream) when the gap started."
          }
        },
        "gapDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration of the gap in GPS data that was found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to ProcessingFailureReason#GPS_DATA_GAP. If there are multiple GPS data gaps, only the one with the largest duration is reported here."
      }
    },
    "com.gcp.streetviewpublish_v1#Place": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the place, localized to the language_code."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Place identifier, as described in https://developers.google.com/places/place-id."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The language_code that the name is localized with. This should be the language_code specified in the request, but may be a fallback."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Place metadata for an entity."
      }
    },
    "com.gcp.streetviewpublish_v1#Level": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name assigned to this Level, restricted to 3 characters. Consider how the elevator buttons would be labeled for this level if there was an elevator."
          }
        },
        "number": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Floor number, used for ordering. 0 indicates the ground level, 1 indicates the first level above ground level, -1 indicates the first level under ground level. Non-integer values are OK."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Level information containing level number and its corresponding name."
      }
    },
    "com.gcp.streetviewpublish_v1#ProcessingFailureDetails": {
      "type": "structure",
      "members": {
        "imuDataGapDetails": {
          "target": "com.gcp.streetviewpublish_v1#ImuDataGapFailureDetails",
          "traits": {
            "smithy.api#documentation": "See ImuDataGapFailureDetails."
          }
        },
        "gpsDataGapDetails": {
          "target": "com.gcp.streetviewpublish_v1#GpsDataGapFailureDetails",
          "traits": {
            "smithy.api#documentation": "See GpsDataGapFailureDetails."
          }
        },
        "noOverlapGpsDetails": {
          "target": "com.gcp.streetviewpublish_v1#NoOverlapGpsFailureDetails",
          "traits": {
            "smithy.api#documentation": "See NoOverlapGpsFailureDetails."
          }
        },
        "insufficientGpsDetails": {
          "target": "com.gcp.streetviewpublish_v1#InsufficientGpsFailureDetails",
          "traits": {
            "smithy.api#documentation": "See InsufficientGpsFailureDetails."
          }
        },
        "notOutdoorsDetails": {
          "target": "com.gcp.streetviewpublish_v1#NotOutdoorsFailureDetails",
          "traits": {
            "smithy.api#documentation": "See NotOutdoorsFailureDetails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details to accompany the ProcessingFailureReason enum. This message is always expected to be used in conjunction with ProcessingFailureReason, and the oneof value set in this message should match the FailureReason."
      }
    },
    "com.gcp.streetviewpublish_v1#Imu": {
      "type": "structure",
      "members": {
        "gyroRps": {
          "target": "com.gcp.streetviewpublish_v1#Measurement3dList",
          "traits": {
            "smithy.api#documentation": "The gyroscope measurements in radians/sec with increasing timestamps from devices."
          }
        },
        "accelMpsps": {
          "target": "com.gcp.streetviewpublish_v1#Measurement3dList",
          "traits": {
            "smithy.api#documentation": "The accelerometer measurements in meters/sec^2 with increasing timestamps from devices."
          }
        },
        "magUt": {
          "target": "com.gcp.streetviewpublish_v1#Measurement3dList",
          "traits": {
            "smithy.api#documentation": "The magnetometer measurements of the magnetic field in microtesla (uT) with increasing timestamps from devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IMU data from the device sensors."
      }
    },
    "com.gcp.streetviewpublish_v1#Measurement3dList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Measurement3d"
      }
    },
    "com.gcp.streetviewpublish_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.streetviewpublish_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.streetviewpublish_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.streetviewpublish_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.streetviewpublish_v1#NotOutdoorsFailureDetails": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative time (from the start of the video stream) when an indoor frame was found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to ProcessingFailureReason#NOT_OUTDOORS. If there are multiple indoor frames found, the first frame is recorded here."
      }
    },
    "com.gcp.streetviewpublish_v1#PhotoId": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for a photo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier for a Photo."
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotosResponse": {
      "type": "structure",
      "members": {
        "photos": {
          "target": "com.gcp.streetviewpublish_v1#PhotoList",
          "traits": {
            "smithy.api#documentation": "List of photos. The pageSize field in the request determines the number of items returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list all photos that belong to a user."
      }
    },
    "com.gcp.streetviewpublish_v1#InsufficientGpsFailureDetails": {
      "type": "structure",
      "members": {
        "gpsPointsFound": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of GPS points that were found in the video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to ProcessingFailureReason#INSUFFICIENT_GPS."
      }
    },
    "com.gcp.streetviewpublish_v1#UpdatePhotoRequest": {
      "type": "structure",
      "members": {
        "photo": {
          "target": "com.gcp.streetviewpublish_v1#Photo",
          "traits": {
            "smithy.api#documentation": "Required. Photo object containing the new metadata."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask that identifies fields on the photo metadata to update. If not present, the old Photo metadata is entirely replaced with the new Photo metadata in this request. The update fails if invalid fields are specified. Multiple fields can be specified in a comma-delimited list. The following fields are valid: * `pose.heading` * `pose.lat_lng_pair` * `pose.pitch` * `pose.roll` * `pose.level` * `pose.altitude` * `connections` * `places` > Note: When updateMask contains repeated fields, the entire set of repeated values get replaced with the new contents. For example, if updateMask contains `connections` and `UpdatePhotoRequest.photo.connections` is empty, all connections are removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update the metadata of a Photo. Updating the pixels of a photo is not supported."
      }
    },
    "com.gcp.streetviewpublish_v1#LatLng": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.streetviewpublish_v1#BatchUpdatePhotosRequest": {
      "type": "structure",
      "members": {
        "updatePhotoRequests": {
          "target": "com.gcp.streetviewpublish_v1#UpdatePhotoRequestList",
          "traits": {
            "smithy.api#documentation": "Required. List of UpdatePhotoRequests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update the metadata of photos. Updating the pixels of photos is not supported."
      }
    },
    "com.gcp.streetviewpublish_v1#UpdatePhotoRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#UpdatePhotoRequest"
      }
    },
    "com.gcp.streetviewpublish_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.streetviewpublish_v1#BatchDeletePhotosRequest": {
      "type": "structure",
      "members": {
        "photoIds": {
          "target": "com.gcp.streetviewpublish_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. IDs of the Photos. HTTP GET requests require the following syntax for the URL query parameter: `photoIds=&photoIds=&...`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete multiple Photos."
      }
    },
    "com.gcp.streetviewpublish_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.streetviewpublish_v1#Connection": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.gcp.streetviewpublish_v1#PhotoId",
          "traits": {
            "smithy.api#documentation": "Required. The destination of the connection from the containing photo to another photo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection is the link from a source photo to a destination photo."
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotoSequencesResponse": {
      "type": "structure",
      "members": {
        "photoSequences": {
          "target": "com.gcp.streetviewpublish_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "List of photo sequences via Operation interface. The maximum number of items returned is based on the pageSize field in the request. Each item in the list can have three possible states, * `Operation.done` = false, if the processing of PhotoSequence is not finished yet. * `Operation.done` = true and `Operation.error` is populated, if there was an error in processing. * `Operation.done` = true and `Operation.response` contains a PhotoSequence message, In each sequence, only Id is populated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list all photo sequences that belong to a user."
      }
    },
    "com.gcp.streetviewpublish_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Operation"
      }
    },
    "com.gcp.streetviewpublish_v1#Measurement3d": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sensor measurement in the x axis."
          }
        },
        "z": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sensor measurement in the z axis."
          }
        },
        "captureTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the IMU measurement."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sensor measurement in the y axis."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Generic 3d measurement sample."
      }
    },
    "com.gcp.streetviewpublish_v1#BatchUpdatePhotosResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.streetviewpublish_v1#PhotoResponseList",
          "traits": {
            "smithy.api#documentation": "List of results for each individual Photo updated, in the same order as the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to batch update of metadata of one or more Photos."
      }
    },
    "com.gcp.streetviewpublish_v1#BatchDeletePhotosResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.streetviewpublish_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "The status for the operation to delete a single Photo in the batch request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to batch delete of one or more Photos."
      }
    },
    "com.gcp.streetviewpublish_v1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.streetviewpublish_v1#Status"
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotoSequencesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter expression. For example: `imagery_type=SPHERICAL`. The filters supported are: `imagery_type`, `processing_state`, `min_latitude`, `max_latitude`, `min_longitude`, `max_longitude`, `filename_query`, `min_capture_time_seconds`, `max_capture_time_seconds. See https://google.aip.dev/160 for more information. Filename queries should sent as a Phrase in order to support multiple words and special characters by adding escaped quotes. Ex: filename_query=\"example of a phrase.mp4\"",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The nextPageToken value returned from a previous ListPhotoSequences request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of photo sequences to return. `pageSize` must be non-negative. If `pageSize` is zero or is not provided, the default page size of 100 is used. The number of photo sequences returned in the response may be less than `pageSize` if the number of matches is less than `pageSize`. This is currently unimplemented but is in process.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.streetviewpublish_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotoSequences": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#ListPhotoSequencesRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#ListPhotoSequencesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/photoSequences"
        },
        "smithy.api#documentation": "Lists all the PhotoSequences that belong to the user, in descending CreatePhotoSequence timestamp order.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.streetviewpublish_v1#StartUploadPhotoRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.streetviewpublish_v1#Empty",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.streetviewpublish_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.streetviewpublish_v1#StartUploadPhoto": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#StartUploadPhotoRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#UploadRef"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photo:startUpload"
        },
        "smithy.api#documentation": "Creates an upload session to start uploading photo bytes. The method uses the upload URL of the returned UploadRef to upload the bytes for the Photo. In addition to the photo requirements shown in https://support.google.com/maps/answer/7012050?ref_topic=6275604, the photo must meet the following requirements: * Photo Sphere XMP metadata must be included in the photo metadata. See https://developers.google.com/streetview/spherical-metadata for the required fields. * The pixel size of the photo must meet the size requirements listed in https://support.google.com/maps/answer/7012050?ref_topic=6275604, and the photo must be a full 360 horizontally. After the upload completes, the method uses UploadRef with CreatePhoto to create the Photo object entry."
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhotoViewEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "INCLUDE_DOWNLOAD_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_DOWNLOAD_URL"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhotoRequest": {
      "type": "structure",
      "members": {
        "photoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the Photo.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used.",
            "smithy.api#httpQuery": "languageCode"
          }
        },
        "view": {
          "target": "com.gcp.streetviewpublish_v1#GetPhotoViewEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies if a download URL for the photo bytes should be returned in the Photo response.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhoto": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#GetPhotoRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Photo"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/photo/{photoId}"
        },
        "smithy.api#documentation": "Gets the metadata of the specified Photo. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested Photo. * google.rpc.Code.NOT_FOUND if the requested Photo does not exist. * google.rpc.Code.UNAVAILABLE if the requested Photo is still being indexed."
      }
    },
    "com.gcp.streetviewpublish_v1#DeletePhotoRequest": {
      "type": "structure",
      "members": {
        "photoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the Photo.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#DeletePhoto": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#DeletePhotoRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/photo/{photoId}"
        },
        "smithy.api#documentation": "Deletes a Photo and its metadata. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested photo. * google.rpc.Code.NOT_FOUND if the photo ID does not exist."
      }
    },
    "com.gcp.streetviewpublish_v1#CreatePhotoRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.streetviewpublish_v1#Photo",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#CreatePhoto": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#CreatePhotoRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Photo"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photo"
        },
        "smithy.api#documentation": "After the client finishes uploading the photo with the returned UploadRef, CreatePhoto publishes the uploaded Photo to Street View on Google Maps. Currently, the only way to set heading, pitch, and roll in CreatePhoto is through the [Photo Sphere XMP metadata](https://developers.google.com/streetview/spherical-metadata) in the photo bytes. CreatePhoto ignores the `pose.heading`, `pose.pitch`, `pose.roll`, `pose.altitude`, and `pose.level` fields in Pose. This method returns the following error codes: * google.rpc.Code.INVALID_ARGUMENT if the request is malformed or if the uploaded photo is not a 360 photo. * google.rpc.Code.NOT_FOUND if the upload reference does not exist. * google.rpc.Code.RESOURCE_EXHAUSTED if the account has reached the storage limit."
      }
    },
    "com.gcp.streetviewpublish_v1#UpdatePhotoRequest_": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for a photo.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask that identifies fields on the photo metadata to update. If not present, the old Photo metadata is entirely replaced with the new Photo metadata in this request. The update fails if invalid fields are specified. Multiple fields can be specified in a comma-delimited list. The following fields are valid: * `pose.heading` * `pose.lat_lng_pair` * `pose.pitch` * `pose.roll` * `pose.level` * `pose.altitude` * `connections` * `places` > Note: When updateMask contains repeated fields, the entire set of repeated values get replaced with the new contents. For example, if updateMask contains `connections` and `UpdatePhotoRequest.photo.connections` is empty, all connections are removed.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.streetviewpublish_v1#Photo",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#UpdatePhoto": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#UpdatePhotoRequest_"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Photo"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1/photo/{id}"
        },
        "smithy.api#documentation": "Updates the metadata of a Photo, such as pose, place association, connections, etc. Changing the pixels of a photo is not supported. Only the fields specified in the updateMask field are used. If `updateMask` is not present, the update applies to all fields. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested photo. * google.rpc.Code.INVALID_ARGUMENT if the request is malformed. * google.rpc.Code.NOT_FOUND if the requested photo does not exist. * google.rpc.Code.UNAVAILABLE if the requested Photo is still being indexed."
      }
    },
    "com.gcp.streetviewpublish_v1#BatchDeletePhotosRequest_": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.streetviewpublish_v1#BatchDeletePhotosRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BatchDeletePhotos": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#BatchDeletePhotosRequest_"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#BatchDeletePhotosResponse"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photos:batchDelete"
        },
        "smithy.api#documentation": "Deletes a list of Photos and their metadata. Note that if BatchDeletePhotos fails, either critical fields are missing or there is an authentication error. Even if BatchDeletePhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchDeletePhotosResponse.results. See DeletePhoto for specific failures that can occur per photo."
      }
    },
    "com.gcp.streetviewpublish_v1#BatchGetPhotosViewEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "INCLUDE_DOWNLOAD_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_DOWNLOAD_URL"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BatchGetPhotosRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used.",
            "smithy.api#httpQuery": "languageCode"
          }
        },
        "photoIds": {
          "target": "com.gcp.streetviewpublish_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. IDs of the Photos. For HTTP GET requests, the URL query parameter should be `photoIds=&photoIds=&...`.",
            "smithy.api#httpQuery": "photoIds"
          }
        },
        "view": {
          "target": "com.gcp.streetviewpublish_v1#BatchGetPhotosViewEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies if a download URL for the photo bytes should be returned in the Photo response.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BatchGetPhotos": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#BatchGetPhotosRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#BatchGetPhotosResponse"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/photos:batchGet"
        },
        "smithy.api#documentation": "Gets the metadata of the specified Photo batch. Note that if BatchGetPhotos fails, either critical fields are missing or there is an authentication error. Even if BatchGetPhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchGetPhotosResponse.results. See GetPhoto for specific failures that can occur per photo."
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotosViewEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "INCLUDE_DOWNLOAD_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_DOWNLOAD_URL"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotosRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.gcp.streetviewpublish_v1#ListPhotosViewEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies if a download URL for the photos bytes should be returned in the Photos response.",
            "smithy.api#httpQuery": "view"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of photos to return. `pageSize` must be non-negative. If `pageSize` is zero or is not provided, the default page size of 100 is used. The number of photos returned in the response may be less than `pageSize` if the number of photos that belong to the user is less than `pageSize`.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The nextPageToken value returned from a previous ListPhotos request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter expression. For example: `placeId=ChIJj61dQgK6j4AR4GeTYWZsKWw`. The filters supported are: `placeId`, `min_latitude`, `max_latitude`, `min_longitude`, `max_longitude`. See https://google.aip.dev/160 for more information.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used.",
            "smithy.api#httpQuery": "languageCode"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#ListPhotos": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#ListPhotosRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#ListPhotosResponse"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/photos"
        },
        "smithy.api#documentation": "Lists all the Photos that belong to the user. > Note: Recently created photos that are still being indexed are not returned in the response.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BatchUpdatePhotosRequest_": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.streetviewpublish_v1#BatchUpdatePhotosRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#BatchUpdatePhotos": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#BatchUpdatePhotosRequest_"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#BatchUpdatePhotosResponse"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photos:batchUpdate"
        },
        "smithy.api#documentation": "Updates the metadata of Photos, such as pose, place association, connections, etc. Changing the pixels of photos is not supported. Note that if BatchUpdatePhotos fails, either critical fields are missing or there is an authentication error. Even if BatchUpdatePhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchUpdatePhotosResponse.results. See UpdatePhoto for specific failures that can occur per photo. Only the fields specified in updateMask field are used. If `updateMask` is not present, the update applies to all fields. The number of UpdatePhotoRequest messages in a BatchUpdatePhotosRequest must not exceed 20. > Note: To update Pose.altitude, Pose.latLngPair has to be filled as well. Otherwise, the request will fail."
      }
    },
    "com.gcp.streetviewpublish_v1#StartUploadPhotoSequenceRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.streetviewpublish_v1#Empty",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#StartUploadPhotoSequence": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#StartUploadPhotoSequenceRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#UploadRef"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photoSequence:startUpload"
        },
        "smithy.api#documentation": "Creates an upload session to start uploading photo sequence data. The upload URL of the returned UploadRef is used to upload the data for the `photoSequence`. After the upload is complete, the UploadRef is used with CreatePhotoSequence to create the PhotoSequence object entry."
      }
    },
    "com.gcp.streetviewpublish_v1#CreatePhotoSequenceInputTypeEnum": {
      "type": "enum",
      "members": {
        "INPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TYPE_UNSPECIFIED"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "XDM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XDM"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#CreatePhotoSequenceRequest": {
      "type": "structure",
      "members": {
        "inputType": {
          "target": "com.gcp.streetviewpublish_v1#CreatePhotoSequenceInputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The input form of PhotoSequence.",
            "smithy.api#httpQuery": "inputType"
          }
        },
        "body": {
          "target": "com.gcp.streetviewpublish_v1#PhotoSequence",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#CreatePhotoSequence": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#CreatePhotoSequenceRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/photoSequence"
        },
        "smithy.api#documentation": "After the client finishes uploading the PhotoSequence with the returned UploadRef, CreatePhotoSequence extracts a sequence of 360 photos from a video or Extensible Device Metadata (XDM, http://www.xdm.org/) to be published to Street View on Google Maps. `CreatePhotoSequence` returns an Operation, with the PhotoSequence Id set in the `Operation.name` field. This method returns the following error codes: * google.rpc.Code.INVALID_ARGUMENT if the request is malformed. * google.rpc.Code.NOT_FOUND if the upload reference does not exist."
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhotoSequenceViewEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "INCLUDE_DOWNLOAD_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_DOWNLOAD_URL"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhotoSequenceRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.gcp.streetviewpublish_v1#GetPhotoSequenceViewEnum",
          "traits": {
            "smithy.api#documentation": "Specifies if a download URL for the photo sequence should be returned in `download_url` of individual photos in the PhotoSequence response. > Note: Currently not implemented.",
            "smithy.api#httpQuery": "view"
          }
        },
        "sequenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the photo sequence.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter expression. For example: `published_status=PUBLISHED`. The filters supported are: `published_status`. See https://google.aip.dev/160 for more information.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#GetPhotoSequence": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#GetPhotoSequenceRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/photoSequence/{sequenceId}"
        },
        "smithy.api#documentation": "Gets the metadata of the specified PhotoSequence via the Operation interface. This method returns the following three types of responses: * `Operation.done` = false, if the processing of PhotoSequence is not finished yet. * `Operation.done` = true and `Operation.error` is populated, if there was an error in processing. * `Operation.done` = true and `Operation.response` is poulated, which contains a PhotoSequence message. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested PhotoSequence. * google.rpc.Code.NOT_FOUND if the requested PhotoSequence does not exist."
      }
    },
    "com.gcp.streetviewpublish_v1#DeletePhotoSequenceRequest": {
      "type": "structure",
      "members": {
        "sequenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the PhotoSequence.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.streetviewpublish_v1#DeletePhotoSequence": {
      "type": "operation",
      "input": {
        "target": "com.gcp.streetviewpublish_v1#DeletePhotoSequenceRequest"
      },
      "output": {
        "target": "com.gcp.streetviewpublish_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.streetviewpublish_v1#NotFound"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Forbidden"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#BadRequest"
        },
        {
          "target": "com.gcp.streetviewpublish_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/photoSequence/{sequenceId}"
        },
        "smithy.api#documentation": "Deletes a PhotoSequence and its metadata. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested photo sequence. * google.rpc.Code.NOT_FOUND if the photo sequence ID does not exist. * google.rpc.Code.FAILED_PRECONDITION if the photo sequence ID is not yet finished processing."
      }
    }
  }
}
