{
  "smithy": "2.0",
  "metadata": {
    "service": "tagmanager",
    "version": "v2",
    "title": "Tag Manager API",
    "baseUrl": "https://tagmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.tagmanager_v2#ContainerFeatures": {
      "type": "structure",
      "members": {
        "supportTemplates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports templates."
          }
        },
        "supportBuiltInVariables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports built-in variables"
          }
        },
        "supportZones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports zones."
          }
        },
        "supportVariables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports variables."
          }
        },
        "supportFolders": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports folders."
          }
        },
        "supportTransformations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports transformations."
          }
        },
        "supportEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports environments."
          }
        },
        "supportWorkspaces": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports workspaces."
          }
        },
        "supportClients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports clients."
          }
        },
        "supportTriggers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports triggers."
          }
        },
        "supportVersions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports Container versions."
          }
        },
        "supportGtagConfigs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports Google tag config."
          }
        },
        "supportTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports tags."
          }
        },
        "supportUserPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Container supports user permissions managed by GTM."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#ListEnabledBuiltInVariablesResponse": {
      "type": "structure",
      "members": {
        "builtInVariable": {
          "target": "com.gcp.tagmanager_v2#BuiltInVariableList",
          "traits": {
            "smithy.api#documentation": "All GTM BuiltInVariables of a GTM container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of enabled built-in variables."
      }
    },
    "com.gcp.tagmanager_v2#BuiltInVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#BuiltInVariable"
      }
    },
    "com.gcp.tagmanager_v2#Parameter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.tagmanager_v2#ParameterTypeEnum",
          "traits": {
            "smithy.api#documentation": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
          }
        },
        "map": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "This map parameter's parameters (must have keys; keys must be unique)."
          }
        },
        "isWeakReference": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A parameter's value (may contain variable references). as appropriate to the specified type."
          }
        },
        "list": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "This list parameter's parameters (keys will be ignored)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Parameter."
      }
    },
    "com.gcp.tagmanager_v2#ParameterTypeEnum": {
      "type": "enum",
      "members": {
        "TYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "typeUnspecified"
          }
        },
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "template"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "map"
          }
        },
        "TRIGGERREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerReference"
          }
        },
        "TAGREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tagReference"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Parameter"
      }
    },
    "com.gcp.tagmanager_v2#RevertZoneResponse": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "com.gcp.tagmanager_v2#Zone",
          "traits": {
            "smithy.api#documentation": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of reverting a zone in a workspace."
      }
    },
    "com.gcp.tagmanager_v2#ContainerVersionHeader": {
      "type": "structure",
      "members": {
        "numCustomTemplates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of custom templates in the container version."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container Version's API relative path."
          }
        },
        "numTriggers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of triggers in the container version."
          }
        },
        "numTransformations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of transformations in the container version."
          }
        },
        "numTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of tags in the container version."
          }
        },
        "numVariables": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of variables in the container version."
          }
        },
        "numZones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of zones in the container version."
          }
        },
        "containerVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container Version ID uniquely identifies the GTM Container Version."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container version display name."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value of true indicates this container version has been deleted."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "numGtagConfigs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of Google tag configs in the container version."
          }
        },
        "numClients": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of clients in the container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Container Version Header."
      }
    },
    "com.gcp.tagmanager_v2#Client": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "The client's parameters."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client display name."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this tag in the container."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client type."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority determines relative firing order."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "parentFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent folder id."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM client's API relative path."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Client ID uniquely identifies the GTM client."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#ContainerAccess": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "permission": {
          "target": "com.gcp.tagmanager_v2#ContainerAccessPermissionEnum",
          "traits": {
            "smithy.api#documentation": "List of Container permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Google Tag Manager Container access permissions."
      }
    },
    "com.gcp.tagmanager_v2#ContainerAccessPermissionEnum": {
      "type": "enum",
      "members": {
        "CONTAINERPERMISSIONUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerPermissionUnspecified"
          }
        },
        "NOACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noAccess"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit"
          }
        },
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#RevertTagResponse": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "com.gcp.tagmanager_v2#Tag",
          "traits": {
            "smithy.api#documentation": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of reverting a tag in a workspace."
      }
    },
    "com.gcp.tagmanager_v2#RevertFolderResponse": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "com.gcp.tagmanager_v2#Folder",
          "traits": {
            "smithy.api#documentation": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of reverting folder changes in a workspace."
      }
    },
    "com.gcp.tagmanager_v2#AccountFeatures": {
      "type": "structure",
      "members": {
        "supportUserPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Account supports user permissions managed by GTM."
          }
        },
        "supportMultipleContainers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this Account supports multiple Containers."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#Condition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.tagmanager_v2#ConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of operator for this condition."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a predicate."
      }
    },
    "com.gcp.tagmanager_v2#ConditionTypeEnum": {
      "type": "enum",
      "members": {
        "CONDITIONTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conditionTypeUnspecified"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "MATCHREGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matchRegex"
          }
        },
        "GREATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater"
          }
        },
        "GREATEROREQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greaterOrEquals"
          }
        },
        "LESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less"
          }
        },
        "LESSOREQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessOrEquals"
          }
        },
        "CSSSELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cssSelector"
          }
        },
        "URLMATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urlMatches"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#Destination": {
      "type": "structure",
      "members": {
        "destinationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination ID."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination's API relative path."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination display name."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified."
          }
        },
        "destinationLinkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Destination link ID uniquely identifies the Destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Destination."
      }
    },
    "com.gcp.tagmanager_v2#TeardownTag": {
      "type": "structure",
      "members": {
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the teardown tag."
          }
        },
        "stopTeardownOnFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tag that fires after another tag in order to tear down dependencies."
      }
    },
    "com.gcp.tagmanager_v2#ListUserPermissionsResponse": {
      "type": "structure",
      "members": {
        "userPermission": {
          "target": "com.gcp.tagmanager_v2#UserPermissionList",
          "traits": {
            "smithy.api#documentation": "All GTM UserPermissions of a GTM Account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List user permissions response."
      }
    },
    "com.gcp.tagmanager_v2#UserPermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#UserPermission"
      }
    },
    "com.gcp.tagmanager_v2#BuiltInVariable": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.tagmanager_v2#BuiltInVariableTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of built-in variable."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the built-in variable to be used to refer to the built-in variable."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM BuiltInVariable's API relative path."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL."
      }
    },
    "com.gcp.tagmanager_v2#BuiltInVariableTypeEnum": {
      "type": "enum",
      "members": {
        "BUILTINVARIABLETYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "builtInVariableTypeUnspecified"
          }
        },
        "PAGEURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageUrl"
          }
        },
        "PAGEHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageHostname"
          }
        },
        "PAGEPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pagePath"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "CLICKELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickElement"
          }
        },
        "CLICKCLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickClasses"
          }
        },
        "CLICKID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickId"
          }
        },
        "CLICKTARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickTarget"
          }
        },
        "CLICKURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickUrl"
          }
        },
        "CLICKTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickText"
          }
        },
        "FIRSTPARTYSERVINGURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstPartyServingUrl"
          }
        },
        "FORMELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formElement"
          }
        },
        "FORMCLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formClasses"
          }
        },
        "FORMID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formId"
          }
        },
        "FORMTARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formTarget"
          }
        },
        "FORMURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formUrl"
          }
        },
        "FORMTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formText"
          }
        },
        "ERRORMESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorMessage"
          }
        },
        "ERRORURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorUrl"
          }
        },
        "ERRORLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorLine"
          }
        },
        "NEWHISTORYURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryUrl"
          }
        },
        "OLDHISTORYURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryUrl"
          }
        },
        "NEWHISTORYFRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryFragment"
          }
        },
        "OLDHISTORYFRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryFragment"
          }
        },
        "NEWHISTORYSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryState"
          }
        },
        "OLDHISTORYSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryState"
          }
        },
        "HISTORYSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "historySource"
          }
        },
        "CONTAINERVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerVersion"
          }
        },
        "DEBUGMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debugMode"
          }
        },
        "RANDOMNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "randomNumber"
          }
        },
        "CONTAINERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerId"
          }
        },
        "APPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appId"
          }
        },
        "APPNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appName"
          }
        },
        "APPVERSIONCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appVersionCode"
          }
        },
        "APPVERSIONNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appVersionName"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "language"
          }
        },
        "OSVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osVersion"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform"
          }
        },
        "SDKVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sdkVersion"
          }
        },
        "DEVICENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceName"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution"
          }
        },
        "ADVERTISERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertiserId"
          }
        },
        "ADVERTISINGTRACKINGENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertisingTrackingEnabled"
          }
        },
        "HTMLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "htmlId"
          }
        },
        "ENVIRONMENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environmentName"
          }
        },
        "AMPBROWSERLANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampBrowserLanguage"
          }
        },
        "AMPCANONICALPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalPath"
          }
        },
        "AMPCANONICALURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalUrl"
          }
        },
        "AMPCANONICALHOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalHost"
          }
        },
        "AMPREFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampReferrer"
          }
        },
        "AMPTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTitle"
          }
        },
        "AMPCLIENTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientId"
          }
        },
        "AMPCLIENTTIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientTimezone"
          }
        },
        "AMPCLIENTTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientTimestamp"
          }
        },
        "AMPCLIENTSCREENWIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScreenWidth"
          }
        },
        "AMPCLIENTSCREENHEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScreenHeight"
          }
        },
        "AMPCLIENTSCROLLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScrollX"
          }
        },
        "AMPCLIENTSCROLLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScrollY"
          }
        },
        "AMPCLIENTMAXSCROLLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientMaxScrollX"
          }
        },
        "AMPCLIENTMAXSCROLLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientMaxScrollY"
          }
        },
        "AMPTOTALENGAGEDTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTotalEngagedTime"
          }
        },
        "AMPPAGEVIEWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageViewId"
          }
        },
        "AMPPAGELOADTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageLoadTime"
          }
        },
        "AMPPAGEDOWNLOADTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageDownloadTime"
          }
        },
        "AMPGTMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampGtmEvent"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaign"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNACLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignAclid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNANID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignAnid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCLICKTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignClickTimestamp"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignContent"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignCp1"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNGCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignGclid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignSource"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignTerm"
          }
        },
        "FIREBASEEVENTPARAMETERCURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCurrency"
          }
        },
        "FIREBASEEVENTPARAMETERDYNAMICLINKACCEPTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterDynamicLinkAcceptTime"
          }
        },
        "FIREBASEEVENTPARAMETERDYNAMICLINKLINKID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterDynamicLinkLinkid"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGEDEVICETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageDeviceTime"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGEID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageId"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageName"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageTime"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONTOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationTopic"
          }
        },
        "FIREBASEEVENTPARAMETERPREVIOUSAPPVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPreviousAppVersion"
          }
        },
        "FIREBASEEVENTPARAMETERPREVIOUSOSVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPreviousOsVersion"
          }
        },
        "FIREBASEEVENTPARAMETERPRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPrice"
          }
        },
        "FIREBASEEVENTPARAMETERPRODUCTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterProductId"
          }
        },
        "FIREBASEEVENTPARAMETERQUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterQuantity"
          }
        },
        "FIREBASEEVENTPARAMETERVALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterValue"
          }
        },
        "VIDEOPROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoProvider"
          }
        },
        "VIDEOURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoUrl"
          }
        },
        "VIDEOTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoTitle"
          }
        },
        "VIDEODURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoDuration"
          }
        },
        "VIDEOPERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoPercent"
          }
        },
        "VIDEOVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoVisible"
          }
        },
        "VIDEOSTATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoStatus"
          }
        },
        "VIDEOCURRENTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoCurrentTime"
          }
        },
        "SCROLLDEPTHTHRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthThreshold"
          }
        },
        "SCROLLDEPTHUNITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthUnits"
          }
        },
        "SCROLLDEPTHDIRECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthDirection"
          }
        },
        "ELEMENTVISIBILITYRATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityRatio"
          }
        },
        "ELEMENTVISIBILITYTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityTime"
          }
        },
        "ELEMENTVISIBILITYFIRSTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityFirstTime"
          }
        },
        "ELEMENTVISIBILITYRECENTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityRecentTime"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "REQUESTMETHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestMethod"
          }
        },
        "CLIENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clientName"
          }
        },
        "QUERYSTRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queryString"
          }
        },
        "SERVERPAGELOCATIONURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverPageLocationUrl"
          }
        },
        "SERVERPAGELOCATIONPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverPageLocationPath"
          }
        },
        "SERVERPAGELOCATIONHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverPageLocationHostname"
          }
        },
        "VISITORREGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visitorRegion"
          }
        },
        "ANALYTICSCLIENTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsClientId"
          }
        },
        "ANALYTICSSESSIONID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsSessionId"
          }
        },
        "ANALYTICSSESSIONNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsSessionNumber"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#CreateContainerVersionRequestVersionOptions": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the container version to be created."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notes of the container version to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for new container versions."
      }
    },
    "com.gcp.tagmanager_v2#ListDestinationsResponse": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.gcp.tagmanager_v2#DestinationList",
          "traits": {
            "smithy.api#documentation": "All Destinations linked to a GTM Container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Destination"
      }
    },
    "com.gcp.tagmanager_v2#MergeConflict": {
      "type": "structure",
      "members": {
        "entityInWorkspace": {
          "target": "com.gcp.tagmanager_v2#Entity",
          "traits": {
            "smithy.api#documentation": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status."
          }
        },
        "entityInBaseVersion": {
          "target": "com.gcp.tagmanager_v2#Entity",
          "traits": {
            "smithy.api#documentation": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a merge conflict."
      }
    },
    "com.gcp.tagmanager_v2#ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        },
        "environment": {
          "target": "com.gcp.tagmanager_v2#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "All Environments of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Environments Response."
      }
    },
    "com.gcp.tagmanager_v2#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Environment"
      }
    },
    "com.gcp.tagmanager_v2#Folder": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this folder in the container."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Folder display name."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Folder's API relative path."
          }
        },
        "folderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Folder ID uniquely identifies the GTM Folder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Folder."
      }
    },
    "com.gcp.tagmanager_v2#VariableFormatValue": {
      "type": "structure",
      "members": {
        "convertToBoolean": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The option to convert a variable value to a boolean."
          }
        },
        "caseConversionType": {
          "target": "com.gcp.tagmanager_v2#VariableFormatValueCaseConversionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The option to convert a string-type variable value to either lowercase or uppercase."
          }
        },
        "convertNullToValue": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "The value to convert if a variable value is null."
          }
        },
        "convertUndefinedToValue": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "The value to convert if a variable value is undefined."
          }
        },
        "convertFalseToValue": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "The value to convert if a variable value is false."
          }
        },
        "convertToNumber": {
          "target": "com.gcp.tagmanager_v2#VariableFormatValueConvertToNumberEnum",
          "traits": {
            "smithy.api#documentation": "The option to convert a variable value to a number."
          }
        },
        "convertTrueToValue": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "The value to convert if a variable value is true."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#VariableFormatValueCaseConversionTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "LOWERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lowercase"
          }
        },
        "UPPERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uppercase"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#VariableFormatValueConvertToNumberEnum": {
      "type": "enum",
      "members": {
        "DECIMALSEPARATORTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decimalSeparatorTypeUnspecified"
          }
        },
        "PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "period"
          }
        },
        "COMMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comma"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#BulkUpdateWorkspaceResponse": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.gcp.tagmanager_v2#EntityList",
          "traits": {
            "smithy.api#documentation": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#EntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Entity"
      }
    },
    "com.gcp.tagmanager_v2#RevertTemplateResponse": {
      "type": "structure",
      "members": {
        "template": {
          "target": "com.gcp.tagmanager_v2#CustomTemplate",
          "traits": {
            "smithy.api#documentation": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of reverting a template in a workspace."
      }
    },
    "com.gcp.tagmanager_v2#GtagConfig": {
      "type": "structure",
      "members": {
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "The Google tag config's parameters."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google tag config's API relative path."
          }
        },
        "gtagConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID uniquely identifies the Google tag config."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google tag config type."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google tag account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google tag container ID."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google tag configuration."
      }
    },
    "com.gcp.tagmanager_v2#ZoneTypeRestriction": {
      "type": "structure",
      "members": {
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if type restrictions have been enabled for this Zone."
          }
        },
        "whitelistedTypeId": {
          "target": "com.gcp.tagmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of type public ids that have been whitelisted for use in this Zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Zone's type restrictions."
      }
    },
    "com.gcp.tagmanager_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.tagmanager_v2#Zone": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        },
        "boundary": {
          "target": "com.gcp.tagmanager_v2#ZoneBoundary",
          "traits": {
            "smithy.api#documentation": "This Zone's boundary."
          }
        },
        "typeRestriction": {
          "target": "com.gcp.tagmanager_v2#ZoneTypeRestriction",
          "traits": {
            "smithy.api#documentation": "This Zone's type restrictions."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified."
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID uniquely identifies the GTM Zone."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this zone in the container."
          }
        },
        "childContainer": {
          "target": "com.gcp.tagmanager_v2#ZoneChildContainerList",
          "traits": {
            "smithy.api#documentation": "Containers that are children of this Zone."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone display name."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Zone's API relative path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Zone's contents."
      }
    },
    "com.gcp.tagmanager_v2#ZoneChildContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#ZoneChildContainer"
      }
    },
    "com.gcp.tagmanager_v2#ListAccountsResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.tagmanager_v2#AccountList",
          "traits": {
            "smithy.api#documentation": "List of GTM Accounts that a user has access to."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Accounts Response."
      }
    },
    "com.gcp.tagmanager_v2#AccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Account"
      }
    },
    "com.gcp.tagmanager_v2#ListFoldersResponse": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "com.gcp.tagmanager_v2#FolderList",
          "traits": {
            "smithy.api#documentation": "All GTM Folders of a GTM Container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Folders Response."
      }
    },
    "com.gcp.tagmanager_v2#FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Folder"
      }
    },
    "com.gcp.tagmanager_v2#Environment": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Environment ID uniquely identifies the GTM Environment."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Environment's API relative path."
          }
        },
        "type": {
          "target": "com.gcp.tagmanager_v2#EnvironmentTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this environment."
          }
        },
        "authorizationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment authorization code."
          }
        },
        "enableDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to enable debug by default for the environment."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a link to a quick preview of a workspace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment display name. Can be set or changed only on USER type environments."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default preview page url for the environment."
          }
        },
        "containerVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a link to a container version."
          }
        },
        "authorizationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time-stamp for the authorization code."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment description. Can be set or changed only on USER type environments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types."
      }
    },
    "com.gcp.tagmanager_v2#EnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        },
        "WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspace"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#ProposedChange": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.gcp.tagmanager_v2#EntityList",
          "traits": {
            "smithy.api#documentation": "The list of workspace changes to be applied."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#ListGtagConfigResponse": {
      "type": "structure",
      "members": {
        "gtagConfig": {
          "target": "com.gcp.tagmanager_v2#GtagConfigList",
          "traits": {
            "smithy.api#documentation": "All Google tag configs in a Container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#GtagConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#GtagConfig"
      }
    },
    "com.gcp.tagmanager_v2#CustomTemplate": {
      "type": "structure",
      "members": {
        "galleryReference": {
          "target": "com.gcp.tagmanager_v2#GalleryReference",
          "traits": {
            "smithy.api#documentation": "A reference to the Community Template Gallery entry."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Custom Template ID uniquely identifies the GTM custom template."
          }
        },
        "templateData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom template in text format."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom Template display name."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Custom Template's API relative path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Custom Template's contents."
      }
    },
    "com.gcp.tagmanager_v2#ListTriggersResponse": {
      "type": "structure",
      "members": {
        "trigger": {
          "target": "com.gcp.tagmanager_v2#TriggerList",
          "traits": {
            "smithy.api#documentation": "All GTM Triggers of a GTM Container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List triggers response."
      }
    },
    "com.gcp.tagmanager_v2#TriggerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Trigger"
      }
    },
    "com.gcp.tagmanager_v2#RevertTriggerResponse": {
      "type": "structure",
      "members": {
        "trigger": {
          "target": "com.gcp.tagmanager_v2#Trigger",
          "traits": {
            "smithy.api#documentation": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of reverting a trigger in a workspace."
      }
    },
    "com.gcp.tagmanager_v2#GetWorkspaceStatusResponse": {
      "type": "structure",
      "members": {
        "workspaceChange": {
          "target": "com.gcp.tagmanager_v2#EntityList",
          "traits": {
            "smithy.api#documentation": "Entities that have been changed in the workspace."
          }
        },
        "mergeConflict": {
          "target": "com.gcp.tagmanager_v2#MergeConflictList",
          "traits": {
            "smithy.api#documentation": "The merge conflict after sync."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The changes that have occurred in the workspace since the base container version."
      }
    },
    "com.gcp.tagmanager_v2#MergeConflictList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#MergeConflict"
      }
    },
    "com.gcp.tagmanager_v2#PublishContainerVersionResponse": {
      "type": "structure",
      "members": {
        "containerVersion": {
          "target": "com.gcp.tagmanager_v2#ContainerVersion",
          "traits": {
            "smithy.api#documentation": "The container version created."
          }
        },
        "compilerErrors": {
          "target": "com.gcp.tagmanager_v2#CompilerErrorLiteList",
          "traits": {
            "smithy.api#documentation": "Compiler error details."
          }
        },
        "compilerError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Compiler errors or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publish container version response."
      }
    },
    "com.gcp.tagmanager_v2#CompilerErrorLiteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#CompilerErrorLite"
      }
    },
    "com.gcp.tagmanager_v2#SyncWorkspaceResponse": {
      "type": "structure",
      "members": {
        "syncStatus": {
          "target": "com.gcp.tagmanager_v2#SyncStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether synchronization caused a merge conflict or sync error."
          }
        },
        "mergeConflict": {
          "target": "com.gcp.tagmanager_v2#MergeConflictList",
          "traits": {
            "smithy.api#documentation": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response after synchronizing the workspace to the latest container version."
      }
    },
    "com.gcp.tagmanager_v2#Trigger": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.gcp.tagmanager_v2#ConditionList",
          "traits": {
            "smithy.api#documentation": "The trigger will only fire iff all Conditions are true."
          }
        },
        "autoEventFilter": {
          "target": "com.gcp.tagmanager_v2#ConditionList",
          "traits": {
            "smithy.api#documentation": "Used in the case of auto event tracking."
          }
        },
        "selector": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
          }
        },
        "parentFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent folder id."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Trigger's API relative path."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger display name."
          }
        },
        "eventName": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Name of the GTM event that is fired. Only valid for Timer triggers."
          }
        },
        "checkValidation": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this trigger in the container."
          }
        },
        "maxTimerLengthSeconds": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
          }
        },
        "interval": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
          }
        },
        "customEventFilter": {
          "target": "com.gcp.tagmanager_v2#ConditionList",
          "traits": {
            "smithy.api#documentation": "Used in the case of custom event, which is fired iff all Conditions are true."
          }
        },
        "visiblePercentageMax": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
          }
        },
        "type": {
          "target": "com.gcp.tagmanager_v2#TriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Defines the data layer event that causes this trigger."
          }
        },
        "visiblePercentageMin": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
          }
        },
        "horizontalScrollPercentageList": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
          }
        },
        "totalTimeMinMilliseconds": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Workspace ID."
          }
        },
        "verticalScrollPercentageList": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
          }
        },
        "triggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Trigger ID uniquely identifies the GTM Trigger."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "uniqueTriggerId": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
          }
        },
        "limit": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
          }
        },
        "continuousTimeMinMilliseconds": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
          }
        },
        "intervalSeconds": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
          }
        },
        "waitForTags": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
          }
        },
        "waitForTagsTimeout": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
          }
        },
        "visibilitySelector": {
          "target": "com.gcp.tagmanager_v2#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v2#ParameterList",
          "traits": {
            "smithy.api#documentation": "Additional parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Trigger"
      }
    },
    "com.gcp.tagmanager_v2#ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Condition"
      }
    },
    "com.gcp.tagmanager_v2#TriggerTypeEnum": {
      "type": "enum",
      "members": {
        "EVENTTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventTypeUnspecified"
          }
        },
        "PAGEVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageview"
          }
        },
        "DOMREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domReady"
          }
        },
        "WINDOWLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "windowLoaded"
          }
        },
        "CUSTOMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customEvent"
          }
        },
        "TRIGGERGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerGroup"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "init"
          }
        },
        "CONSENTINIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consentInit"
          }
        },
        "SERVERPAGEVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverPageview"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "FIREBASEAPPEXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseAppException"
          }
        },
        "FIREBASEAPPUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseAppUpdate"
          }
        },
        "FIREBASECAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseCampaign"
          }
        },
        "FIREBASEFIRSTOPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseFirstOpen"
          }
        },
        "FIREBASEINAPPPURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseInAppPurchase"
          }
        },
        "FIREBASENOTIFICATIONDISMISS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseNotificationDismiss"
          }
        },
        "FIREBASENOTIFICATIONFOREGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseNotificationForeground"
          }
        },
        "FIREBASENOTIFICATIONOPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseNotificationOpen"
          }
        },
        "FIREBASENOTIFICATIONRECEIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseNotificationReceive"
          }
        },
        "FIREBASEOSUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseOsUpdate"
          }
        },
        "FIREBASESESSIONSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseSessionStart"
          }
        },
        "FIREBASEUSERENGAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseUserEngagement"
          }
        },
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        },
        "CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "click"
          }
        },
        "LINKCLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linkClick"
          }
        },
        "JSERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jsError"
          }
        },
        "HISTORYCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "historyChange"
          }
        },
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        },
        "AMPCLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClick"
          }
        },
        "AMPTIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTimer"
          }
        },
        "AMPSCROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampScroll"
          }
        },
        "AMPVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampVisibility"
          }
        },
        "YOUTUBEVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youTubeVideo"
          }
        },
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        },
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#Account": {
      "type": "structure",
      "members": {
        "shareData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name."
          }
        },
        "tagManagerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto generated link to the tag manager UI"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account's API relative path."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID uniquely identifies the GTM Account."
          }
        },
        "features": {
          "target": "com.gcp.tagmanager_v2#AccountFeatures",
          "traits": {
            "smithy.api#documentation": "Read-only Account feature set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Account."
      }
    },
    "com.gcp.tagmanager_v2#Entity": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "com.gcp.tagmanager_v2#Tag",
          "traits": {
            "smithy.api#documentation": "The tag being represented by the entity."
          }
        },
        "changeStatus": {
          "target": "com.gcp.tagmanager_v2#EntityChangeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Represents how the entity has been changed in the workspace."
          }
        },
        "trigger": {
          "target": "com.gcp.tagmanager_v2#Trigger",
          "traits": {
            "smithy.api#documentation": "The trigger being represented by the entity."
          }
        },
        "folder": {
          "target": "com.gcp.tagmanager_v2#Folder",
          "traits": {
            "smithy.api#documentation": "The folder being represented by the entity."
          }
        },
        "client": {
          "target": "com.gcp.tagmanager_v2#Client",
          "traits": {
            "smithy.api#documentation": "The client being represented by the entity."
          }
        },
        "customTemplate": {
          "target": "com.gcp.tagmanager_v2#CustomTemplate",
          "traits": {
            "smithy.api#documentation": "The custom template being represented by the entity."
          }
        },
        "gtagConfig": {
          "target": "com.gcp.tagmanager_v2#GtagConfig",
          "traits": {
            "smithy.api#documentation": "The gtag config being represented by the entity."
          }
        },
        "variable": {
          "target": "com.gcp.tagmanager_v2#Variable",
          "traits": {
            "smithy.api#documentation": "The variable being represented by the entity."
          }
        },
        "transformation": {
          "target": "com.gcp.tagmanager_v2#Transformation",
          "traits": {
            "smithy.api#documentation": "The transformation being represented by the entity."
          }
        },
        "zone": {
          "target": "com.gcp.tagmanager_v2#Zone",
          "traits": {
            "smithy.api#documentation": "The zone being represented by the entity."
          }
        },
        "builtInVariable": {
          "target": "com.gcp.tagmanager_v2#BuiltInVariable",
          "traits": {
            "smithy.api#documentation": "The built in variable being represented by the entity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace."
      }
    },
    "com.gcp.tagmanager_v2#EntityChangeStatusEnum": {
      "type": "enum",
      "members": {
        "CHANGESTATUSUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeStatusUnspecified"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "added"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      }
    },
    "com.gcp.tagmanager_v2#QuickPreviewResponse": {
      "type": "structure",
      "members": {
        "compilerError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Were there compiler errors or not."
          }
        },
        "containerVersion": {
          "target": "com.gcp.tagmanager_v2#ContainerVersion",
          "traits": {
            "smithy.api#documentation": "The quick previewed container version."
          }
        },
        "compilerErrors": {
          "target": "com.gcp.tagmanager_v2#CompilerErrorLiteList",
          "traits": {
            "smithy.api#documentation": "Compiler error details."
          }
        },
        "syncStatus": {
          "target": "com.gcp.tagmanager_v2#SyncStatus",
          "traits": {
            "smithy.api#documentation": "Whether quick previewing failed when syncing the workspace to the latest container version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to quick previewing a workspace."
      }
    },
    "com.gcp.tagmanager_v2#FolderEntities": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "com.gcp.tagmanager_v2#TagList",
          "traits": {
            "smithy.api#documentation": "The list of tags inside the folder."
          }
        },
        "variable": {
          "target": "com.gcp.tagmanager_v2#VariableList",
          "traits": {
            "smithy.api#documentation": "The list of variables inside the folder."
          }
        },
        "trigger": {
          "target": "com.gcp.tagmanager_v2#TriggerList",
          "traits": {
            "smithy.api#documentation": "The list of triggers inside the folder."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Folder's contents."
      }
    },
    "com.gcp.tagmanager_v2#TagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Tag"
      }
    },
    "com.gcp.tagmanager_v2#VariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Variable"
      }
    },
    "com.gcp.tagmanager_v2#ListWorkspacesResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.gcp.tagmanager_v2#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "All Workspaces of a GTM Container."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of workspaces in a container."
      }
    },
    "com.gcp.tagmanager_v2#WorkspaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v2#Workspace"
      }
    },
    "com.gcp.tagmanager_v2#ZoneBoundary": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.tagmanager_v2#ConditionList",
          "traits": {
            "smithy.api#documentation": "The conditions that, when conjoined, make up the boundary."
          }
        },
        "customEvaluationTriggerId": {
          "target": "com.gcp.tagmanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Zone's boundaries."
      }
    },
    "com.gcp.tagmanager_v2#GalleryReference": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the community gallery template."
          }
        },
        "templateDeveloperId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the host for the community gallery template."
          }
        },
        "galleryTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for the gallery template that is generated once during first sync and travels with the template redirects."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository for the community gallery template."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the owner for the community gallery template."
          }
        },
        "isModified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If a user has manually edited the community gallery template."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the link between a custom template and an entry on the Community Template Gallery site."
      }
    },
    "com.gcp.tagmanager_v2#RevertVariableResponse": {
      "type": "structure",
      "members": {
        "variable": {
          "target": "com.gcp.tagmanager_v2#Variable",
          "traits": {
            "smithy.api#documentation": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version."
          }
        }
      },
      "traits": {
[...]
