{
  "smithy": "2.0",
  "metadata": {
    "service": "tasks",
    "version": "v1",
    "title": "Google Tasks API",
    "baseUrl": "https://tasks.googleapis.com/"
  },
  "shapes": {
    "com.gcp.tasks_v1#Tasks": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This is always \"tasks#tasks\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result."
          }
        },
        "items": {
          "target": "com.gcp.tasks_v1#TaskList_",
          "traits": {
            "smithy.api#documentation": "Collection of tasks."
          }
        }
      }
    },
    "com.gcp.tasks_v1#TaskList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.tasks_v1#Task"
      }
    },
    "com.gcp.tasks_v1#Task": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
          }
        },
        "due": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the resource. This is always \"tasks#task\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier."
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
          }
        },
        "assignmentInfo": {
          "target": "com.gcp.tasks_v1#AssignmentInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only."
          }
        },
        "webViewLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An absolute link to the task in the Google Tasks Web UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the task. Maximum length allowed: 1024 characters."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "links": {
          "target": "com.gcp.tasks_v1#TaskLinksItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Collection of links. This collection is read-only."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last modification time of the task (as a RFC 3339 timestamp)."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False."
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task. This is either \"needsAction\" or \"completed\"."
          }
        }
      }
    },
    "com.gcp.tasks_v1#TaskLinksItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description (might be empty)."
          }
        }
      }
    },
    "com.gcp.tasks_v1#TaskLinksItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tasks_v1#TaskLinksItem"
      }
    },
    "com.gcp.tasks_v1#AssignmentInfo": {
      "type": "structure",
      "members": {
        "driveResourceInfo": {
          "target": "com.gcp.tasks_v1#DriveResourceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only."
          }
        },
        "surfaceType": {
          "target": "com.gcp.tasks_v1#AssignmentInfoSurfaceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE."
          }
        },
        "linkToTask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.)."
          }
        },
        "spaceInfo": {
          "target": "com.gcp.tasks_v1#SpaceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the source of the task assignment (Document, Chat Space)."
      }
    },
    "com.gcp.tasks_v1#AssignmentInfoSurfaceTypeEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXT_TYPE_UNSPECIFIED"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPACE"
          }
        }
      }
    },
    "com.gcp.tasks_v1#SpaceInfo": {
      "type": "structure",
      "members": {
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Chat Space where a task was assigned from."
      }
    },
    "com.gcp.tasks_v1#TaskLists": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token that can be used to request the next page of this result."
          }
        },
        "items": {
          "target": "com.gcp.tasks_v1#TaskListList",
          "traits": {
            "smithy.api#documentation": "Collection of task lists."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This is always \"tasks#taskLists\"."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      }
    },
    "com.gcp.tasks_v1#TaskListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tasks_v1#TaskList"
      }
    },
    "com.gcp.tasks_v1#DriveResourceInfo": {
      "type": "structure",
      "members": {
        "driveFileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier of the file in the Drive API."
          }
        },
        "resourceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
      }
    },
    "com.gcp.tasks_v1#TaskList": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the task list. Maximum length allowed: 1024 characters."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the resource. This is always \"tasks#taskList\"."
          }
        }
      }
    },
    "com.gcp.tasks_v1#ListTasksRequest": {
      "type": "structure",
      "members": {
        "dueMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "smithy.api#httpQuery": "dueMin"
          }
        },
        "showHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
            "smithy.api#httpQuery": "showHidden"
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "completedMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "smithy.api#httpQuery": "completedMin"
          }
        },
        "showAssigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
            "smithy.api#httpQuery": "showAssigned"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "showCompleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
            "smithy.api#httpQuery": "showCompleted"
          }
        },
        "dueMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "smithy.api#httpQuery": "dueMax"
          }
        },
        "completedMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "smithy.api#httpQuery": "completedMax"
          }
        },
        "updatedMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
            "smithy.api#httpQuery": "updatedMin"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token specifying the result page to return. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
            "smithy.api#httpQuery": "showDeleted"
          }
        }
      }
    },
    "com.gcp.tasks_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.tasks_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.tasks_v1#ListTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#ListTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Tasks"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tasks/v1/lists/{tasklist}/tasks"
        },
        "smithy.api#documentation": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    },
    "com.gcp.tasks_v1#ClearTasksRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tasks_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.tasks_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.tasks_v1#ClearTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#ClearTasksRequest"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tasks/v1/lists/{tasklist}/clear"
        },
        "smithy.api#documentation": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list."
      }
    },
    "com.gcp.tasks_v1#DeleteTasksRequest": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tasks_v1#DeleteTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#DeleteTasksRequest"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "smithy.api#documentation": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there."
      }
    },
    "com.gcp.tasks_v1#InsertTasksRequest": {
      "type": "structure",
      "members": {
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
            "smithy.api#httpQuery": "previous"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
            "smithy.api#httpQuery": "parent"
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tasks_v1#Task",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#InsertTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#InsertTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tasks/v1/lists/{tasklist}/tasks"
        },
        "smithy.api#documentation": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time."
      }
    },
    "com.gcp.tasks_v1#GetTasksRequest": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tasks_v1#GetTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#GetTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "smithy.api#documentation": "Returns the specified task."
      }
    },
    "com.gcp.tasks_v1#MoveTasksRequest": {
      "type": "structure",
      "members": {
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
            "smithy.api#httpQuery": "previous"
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destinationTasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
            "smithy.api#httpQuery": "destinationTasklist"
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
            "smithy.api#httpQuery": "parent"
          }
        }
      }
    },
    "com.gcp.tasks_v1#MoveTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#MoveTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        },
        "smithy.api#documentation": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task."
      }
    },
    "com.gcp.tasks_v1#UpdateTasksRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tasks_v1#Task",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#UpdateTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#UpdateTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "smithy.api#documentation": "Updates the specified task."
      }
    },
    "com.gcp.tasks_v1#PatchTasksRequest": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tasks_v1#Task",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#PatchTasks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#PatchTasksRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#Task"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "smithy.api#documentation": "Updates the specified task. This method supports patch semantics."
      }
    },
    "com.gcp.tasks_v1#PatchTasklistsRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tasks_v1#TaskList",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#PatchTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#PatchTasklistsRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#TaskList"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "smithy.api#documentation": "Updates the authenticated user's specified task list. This method supports patch semantics."
      }
    },
    "com.gcp.tasks_v1#UpdateTasklistsRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tasks_v1#TaskList",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#UpdateTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#UpdateTasklistsRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#TaskList"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "smithy.api#documentation": "Updates the authenticated user's specified task list."
      }
    },
    "com.gcp.tasks_v1#GetTasklistsRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tasks_v1#GetTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#GetTasklistsRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#TaskList"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "smithy.api#documentation": "Returns the authenticated user's specified task list."
      }
    },
    "com.gcp.tasks_v1#DeleteTasklistsRequest": {
      "type": "structure",
      "members": {
        "tasklist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task list identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tasks_v1#DeleteTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#DeleteTasklistsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "smithy.api#documentation": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted."
      }
    },
    "com.gcp.tasks_v1#InsertTasklistsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.tasks_v1#TaskList",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tasks_v1#InsertTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#InsertTasklistsRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#TaskList"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        },
        {
          "target": "com.gcp.tasks_v1#BadRequest"
        },
        {
          "target": "com.gcp.tasks_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tasks/v1/users/@me/lists"
        },
        "smithy.api#documentation": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time."
      }
    },
    "com.gcp.tasks_v1#ListTasklistsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token specifying the result page to return. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.tasks_v1#ListTasklists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tasks_v1#ListTasklistsRequest"
      },
      "output": {
        "target": "com.gcp.tasks_v1#TaskLists"
      },
      "errors": [
        {
          "target": "com.gcp.tasks_v1#NotFound"
        },
        {
          "target": "com.gcp.tasks_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tasks/v1/users/@me/lists"
        },
        "smithy.api#documentation": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    }
  }
}
