{
  "smithy": "2.0",
  "metadata": {
    "service": "testing",
    "version": "v1",
    "title": "Cloud Testing API",
    "baseUrl": "https://testing.googleapis.com/"
  },
  "shapes": {
    "com.gcp.testing_v1#AppBundle": {
      "type": "structure",
      "members": {
        "bundleLocation": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": ".aab file representing the app bundle under test."
          }
        },
        "apks": {
          "target": "com.gcp.testing_v1#ApkSplits",
          "traits": {
            "smithy.api#documentation": ".apk files generated by bundletool to install as a single android app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles."
      }
    },
    "com.gcp.testing_v1#Service": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The android:name value"
          }
        },
        "intentFilter": {
          "target": "com.gcp.testing_v1#IntentFilterList",
          "traits": {
            "smithy.api#documentation": "Intent filters in the service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element"
      }
    },
    "com.gcp.testing_v1#IntentFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#IntentFilter"
      }
    },
    "com.gcp.testing_v1#ApkSplits": {
      "type": "structure",
      "members": {
        "bundleSplits": {
          "target": "com.gcp.testing_v1#FileReferenceList",
          "traits": {
            "smithy.api#documentation": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single dynamic feature apk."
      }
    },
    "com.gcp.testing_v1#FileReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#FileReference"
      }
    },
    "com.gcp.testing_v1#UsesFeature": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The android:name value"
          }
        },
        "isRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The android:required value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html"
      }
    },
    "com.gcp.testing_v1#DeviceIpBlockCatalog": {
      "type": "structure",
      "members": {
        "ipBlocks": {
          "target": "com.gcp.testing_v1#DeviceIpBlockList",
          "traits": {
            "smithy.api#documentation": "The device IP blocks used by Firebase Test Lab"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of IP blocks used by the Firebase Test Lab"
      }
    },
    "com.gcp.testing_v1#DeviceIpBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#DeviceIpBlock"
      }
    },
    "com.gcp.testing_v1#Account": {
      "type": "structure",
      "members": {
        "googleAuto": {
          "target": "com.gcp.testing_v1#GoogleAuto",
          "traits": {
            "smithy.api#documentation": "An automatic google login account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies an account and how to log into it."
      }
    },
    "com.gcp.testing_v1#Metadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The android:name value"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The android:value value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html"
      }
    },
    "com.gcp.testing_v1#ClientInfo": {
      "type": "structure",
      "members": {
        "clientInfoDetails": {
          "target": "com.gcp.testing_v1#ClientInfoDetailList",
          "traits": {
            "smithy.api#documentation": "The list of detailed information about client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client name, such as gcloud."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the client which invoked the test."
      }
    },
    "com.gcp.testing_v1#ClientInfoDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#ClientInfoDetail"
      }
    },
    "com.gcp.testing_v1#ClientInfoDetail": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of detailed client information."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key of detailed client information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}."
      }
    },
    "com.gcp.testing_v1#AndroidDeviceCatalog": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.gcp.testing_v1#AndroidModelList",
          "traits": {
            "smithy.api#documentation": "The set of supported Android device models."
          }
        },
        "runtimeConfiguration": {
          "target": "com.gcp.testing_v1#AndroidRuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "The set of supported runtime configurations."
          }
        },
        "versions": {
          "target": "com.gcp.testing_v1#AndroidVersionList",
          "traits": {
            "smithy.api#documentation": "The set of supported Android OS versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently supported Android devices."
      }
    },
    "com.gcp.testing_v1#AndroidModelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#AndroidModel"
      }
    },
    "com.gcp.testing_v1#AndroidVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#AndroidVersion"
      }
    },
    "com.gcp.testing_v1#DeviceIpBlock": {
      "type": "structure",
      "members": {
        "block": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IP address block in CIDR notation eg: 34.68.194.64/29"
          }
        },
        "form": {
          "target": "com.gcp.testing_v1#DeviceIpBlockFormEnum",
          "traits": {
            "smithy.api#documentation": "Whether this block is used by physical or virtual devices"
          }
        },
        "addedDate": {
          "target": "com.gcp.testing_v1#Testing_Date",
          "traits": {
            "smithy.api#documentation": "The date this block was added to Firebase Test Lab"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single device IP block"
      }
    },
    "com.gcp.testing_v1#DeviceIpBlockFormEnum": {
      "type": "enum",
      "members": {
        "DEVICE_FORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_FORM_UNSPECIFIED"
          }
        },
        "VIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        },
        "EMULATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMULATOR"
          }
        }
      }
    },
    "com.gcp.testing_v1#NoActivityIntent": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Skips the starting activity"
      }
    },
    "com.gcp.testing_v1#Distribution": {
      "type": "structure",
      "members": {
        "measurementTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this distribution was measured."
          }
        },
        "marketShare": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The estimated fraction (0-1) of the total market with this configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data about the relative number of devices running a given configuration of the Android platform."
      }
    },
    "com.gcp.testing_v1#IosTestSetup": {
      "type": "structure",
      "members": {
        "additionalIpas": {
          "target": "com.gcp.testing_v1#FileReferenceList",
          "traits": {
            "smithy.api#documentation": "iOS apps to install in addition to those being directly tested."
          }
        },
        "pullDirectories": {
          "target": "com.gcp.testing_v1#IosDeviceFileList",
          "traits": {
            "smithy.api#documentation": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID."
          }
        },
        "pushFiles": {
          "target": "com.gcp.testing_v1#IosDeviceFileList",
          "traits": {
            "smithy.api#documentation": "List of files to push to the device before starting the test."
          }
        },
        "networkProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of how to set up an iOS device prior to running the test."
      }
    },
    "com.gcp.testing_v1#IosDeviceFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#IosDeviceFile"
      }
    },
    "com.gcp.testing_v1#DeviceSession": {
      "type": "structure",
      "members": {
        "activeStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp that the session first became ACTIVE."
          }
        },
        "state": {
          "target": "com.gcp.testing_v1#DeviceSessionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the DeviceSession."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that the Session was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The title of the DeviceSession to be presented in the UI."
          }
        },
        "stateHistories": {
          "target": "com.gcp.testing_v1#SessionStateEventList",
          "traits": {
            "smithy.api#documentation": "Output only. The historical state transitions of the session_state message including the current session state."
          }
        },
        "androidDevice": {
          "target": "com.gcp.testing_v1#AndroidDevice",
          "traits": {
            "smithy.api#documentation": "Required. The requested device"
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED."
          }
        },
        "inactivityTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protobuf message describing the device message, used from several RPCs."
      }
    },
    "com.gcp.testing_v1#DeviceSessionStateEnum": {
      "type": "enum",
      "members": {
        "SESSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_STATE_UNSPECIFIED"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUESTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.testing_v1#SessionStateEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#SessionStateEvent"
      }
    },
    "com.gcp.testing_v1#UniformSharding": {
      "type": "structure",
      "members": {
        "numShards": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards."
      }
    },
    "com.gcp.testing_v1#ToolResultsExecution": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud project that owns the tool results execution."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A tool results history ID."
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A tool results execution ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool results execution resource. This has the results of a TestMatrix."
      }
    },
    "com.gcp.testing_v1#ListDeviceSessionsResponse": {
      "type": "structure",
      "members": {
        "deviceSessions": {
          "target": "com.gcp.testing_v1#DeviceSessionList",
          "traits": {
            "smithy.api#documentation": "The sessions matching the specified filter in the given cloud project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of device sessions."
      }
    },
    "com.gcp.testing_v1#DeviceSessionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#DeviceSession"
      }
    },
    "com.gcp.testing_v1#ShardingOption": {
      "type": "structure",
      "members": {
        "manualSharding": {
          "target": "com.gcp.testing_v1#ManualSharding",
          "traits": {
            "smithy.api#documentation": "Shards test cases into the specified groups of packages, classes, and/or methods."
          }
        },
        "smartSharding": {
          "target": "com.gcp.testing_v1#SmartSharding",
          "traits": {
            "smithy.api#documentation": "Shards test based on previous test case timing records."
          }
        },
        "uniformSharding": {
          "target": "com.gcp.testing_v1#UniformSharding",
          "traits": {
            "smithy.api#documentation": "Uniformly shards test cases given a total number of shards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for enabling sharding."
      }
    },
    "com.gcp.testing_v1#RoboStartingIntent": {
      "type": "structure",
      "members": {
        "startActivity": {
          "target": "com.gcp.testing_v1#StartActivityIntent",
          "traits": {
            "smithy.api#documentation": "An intent that starts an activity with specific details."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timeout in seconds for each intent."
          }
        },
        "launcherActivity": {
          "target": "com.gcp.testing_v1#LauncherActivityIntent",
          "traits": {
            "smithy.api#documentation": "An intent that starts the main launcher activity."
          }
        },
        "noActivity": {
          "target": "com.gcp.testing_v1#NoActivityIntent",
          "traits": {
            "smithy.api#documentation": "Skips the starting activity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for specifying the start activities to crawl."
      }
    },
    "com.gcp.testing_v1#LabInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lab specific information for a device."
      }
    },
    "com.gcp.testing_v1#AndroidDeviceList": {
      "type": "structure",
      "members": {
        "androidDevices": {
          "target": "com.gcp.testing_v1#AndroidDeviceList_",
          "traits": {
            "smithy.api#documentation": "Required. A list of Android devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Android device configurations in which the test is to be executed."
      }
    },
    "com.gcp.testing_v1#AndroidDeviceList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#AndroidDevice"
      }
    },
    "com.gcp.testing_v1#IosRoboTest": {
      "type": "structure",
      "members": {
        "appIpa": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "Required. The ipa stored at this file should be used to run the test."
          }
        },
        "appBundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file."
          }
        },
        "roboScript": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test that explores an iOS application on an iOS device."
      }
    },
    "com.gcp.testing_v1#IosRuntimeConfiguration": {
      "type": "structure",
      "members": {
        "locales": {
          "target": "com.gcp.testing_v1#LocaleList",
          "traits": {
            "smithy.api#documentation": "The set of available locales."
          }
        },
        "orientations": {
          "target": "com.gcp.testing_v1#OrientationList",
          "traits": {
            "smithy.api#documentation": "The set of available orientations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "iOS configuration that can be selected at the time a test is run."
      }
    },
    "com.gcp.testing_v1#LocaleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#Locale"
      }
    },
    "com.gcp.testing_v1#OrientationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#Orientation"
      }
    },
    "com.gcp.testing_v1#CancelDeviceSessionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request object for cancelling a Device Session."
      }
    },
    "com.gcp.testing_v1#Orientation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id for this orientation. Example: \"portrait\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for this orientation. Example: \"portrait\"."
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this dimension. Example: \"default\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Screen orientation of the device."
      }
    },
    "com.gcp.testing_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.testing_v1#FileReference": {
      "type": "structure",
      "members": {
        "gcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a file, used for user inputs."
      }
    },
    "com.gcp.testing_v1#IosDeviceList": {
      "type": "structure",
      "members": {
        "iosDevices": {
          "target": "com.gcp.testing_v1#IosDeviceList_",
          "traits": {
            "smithy.api#documentation": "Required. A list of iOS devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of iOS device configurations in which the test is to be executed."
      }
    },
    "com.gcp.testing_v1#IosDeviceList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#IosDevice"
      }
    },
    "com.gcp.testing_v1#IosModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
          }
        },
        "screenX": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen size in the horizontal (X) dimension measured in pixels."
          }
        },
        "perVersionInfo": {
          "target": "com.gcp.testing_v1#PerIosVersionInfoList",
          "traits": {
            "smithy.api#documentation": "Version-specific information of an iOS model."
          }
        },
        "supportedVersionIds": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of iOS major software versions this device supports."
          }
        },
        "screenY": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen size in the vertical (Y) dimension measured in pixels."
          }
        },
        "screenDensity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen density in DPI."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\"."
          }
        },
        "formFactor": {
          "target": "com.gcp.testing_v1#IosModelFormFactorEnum",
          "traits": {
            "smithy.api#documentation": "Whether this device is a phone, tablet, wearable, etc."
          }
        },
        "deviceCapabilities": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html"
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of an iOS device tests may be run on."
      }
    },
    "com.gcp.testing_v1#PerIosVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#PerIosVersionInfo"
      }
    },
    "com.gcp.testing_v1#IosModelFormFactorEnum": {
      "type": "enum",
      "members": {
        "DEVICE_FORM_FACTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_FORM_FACTOR_UNSPECIFIED"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLET"
          }
        },
        "WEARABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEARABLE"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "AUTOMOTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMOTIVE"
          }
        },
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "XR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XR"
          }
        }
      }
    },
    "com.gcp.testing_v1#NetworkConfiguration": {
      "type": "structure",
      "members": {
        "upRule": {
          "target": "com.gcp.testing_v1#TrafficRule",
          "traits": {
            "smithy.api#documentation": "The emulation rule applying to the upload traffic."
          }
        },
        "downRule": {
          "target": "com.gcp.testing_v1#TrafficRule",
          "traits": {
            "smithy.api#documentation": "The emulation rule applying to the download traffic."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique opaque id for this network traffic configuration."
          }
        }
      }
    },
    "com.gcp.testing_v1#UsesPermissionTag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The android:name value"
          }
        },
        "maxSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The android:name value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html"
      }
    },
    "com.gcp.testing_v1#AndroidRuntimeConfiguration": {
      "type": "structure",
      "members": {
        "locales": {
          "target": "com.gcp.testing_v1#LocaleList",
          "traits": {
            "smithy.api#documentation": "The set of available locales."
          }
        },
        "orientations": {
          "target": "com.gcp.testing_v1#OrientationList",
          "traits": {
            "smithy.api#documentation": "The set of available orientations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Android configuration that can be selected at the time a test is run."
      }
    },
    "com.gcp.testing_v1#GetApkDetailsResponse": {
      "type": "structure",
      "members": {
        "apkDetail": {
          "target": "com.gcp.testing_v1#ApkDetail",
          "traits": {
            "smithy.api#documentation": "Details of the Android App."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the details of the specified Android application."
      }
    },
    "com.gcp.testing_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.testing_v1#TestTargetsForShard": {
      "type": "structure",
      "members": {
        "testTargets": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Test targets for a shard."
      }
    },
    "com.gcp.testing_v1#AndroidVersion": {
      "type": "structure",
      "members": {
        "apiLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API level for this Android version. Examples: 18, 19."
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque id for this Android version. Use this id to invoke the TestExecutionService."
          }
        },
        "codeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
          }
        },
        "versionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
          }
        },
        "releaseDate": {
          "target": "com.gcp.testing_v1#Testing_Date",
          "traits": {
            "smithy.api#documentation": "The date this Android version became available in the market."
          }
        },
        "distribution": {
          "target": "com.gcp.testing_v1#Distribution",
          "traits": {
            "smithy.api#documentation": "Market share for this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A version of the Android OS."
      }
    },
    "com.gcp.testing_v1#ApkDetail": {
      "type": "structure",
      "members": {
        "apkManifest": {
          "target": "com.gcp.testing_v1#ApkManifest"
        }
      },
      "traits": {
        "smithy.api#documentation": "Android application details based on application manifest and archive contents."
      }
    },
    "com.gcp.testing_v1#EnvironmentMatrix": {
      "type": "structure",
      "members": {
        "androidDeviceList": {
          "target": "com.gcp.testing_v1#AndroidDeviceList",
          "traits": {
            "smithy.api#documentation": "A list of Android devices; the test will be run only on the specified devices."
          }
        },
        "androidMatrix": {
          "target": "com.gcp.testing_v1#AndroidMatrix",
          "traits": {
            "smithy.api#documentation": "A matrix of Android devices."
          }
        },
        "iosDeviceList": {
          "target": "com.gcp.testing_v1#IosDeviceList",
          "traits": {
            "smithy.api#documentation": "A list of iOS devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The matrix of environments in which the test is to be executed."
      }
    },
    "com.gcp.testing_v1#NetworkConfigurationCatalog": {
      "type": "structure",
      "members": {
        "configurations": {
          "target": "com.gcp.testing_v1#NetworkConfigurationList"
        }
      }
    },
    "com.gcp.testing_v1#NetworkConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#NetworkConfiguration"
      }
    },
    "com.gcp.testing_v1#TestExecution": {
      "type": "structure",
      "members": {
        "matrixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Id of the containing TestMatrix."
          }
        },
        "environment": {
          "target": "com.gcp.testing_v1#Environment",
          "traits": {
            "smithy.api#documentation": "Output only. How the host machine(s) are configured."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this test execution was initially created."
          }
        },
        "testDetails": {
          "target": "com.gcp.testing_v1#TestDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Additional details about the running test."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cloud project that owns the test execution."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique id set by the service."
          }
        },
        "testSpecification": {
          "target": "com.gcp.testing_v1#TestSpecification",
          "traits": {
            "smithy.api#documentation": "Output only. How to run the test."
          }
        },
        "state": {
          "target": "com.gcp.testing_v1#TestExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the current progress of the test execution (e.g., FINISHED)."
          }
        },
        "toolResultsStep": {
          "target": "com.gcp.testing_v1#ToolResultsStep",
          "traits": {
            "smithy.api#documentation": "Output only. Where the results for this execution are written."
          }
        },
        "shard": {
          "target": "com.gcp.testing_v1#Shard",
          "traits": {
            "smithy.api#documentation": "Output only. Details about the shard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single test executed in a single environment."
      }
    },
    "com.gcp.testing_v1#TestExecutionStateEnum": {
      "type": "enum",
      "members": {
        "TEST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_STATE_UNSPECIFIED"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UNSUPPORTED_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ARCHITECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ARCHITECTURE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.testing_v1#XcodeVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id for this version. Example: \"9.2\"."
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this Xcode version. Example: \"default\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Xcode version that an iOS version is compatible with."
      }
    },
    "com.gcp.testing_v1#GoogleCloudStorage": {
      "type": "structure",
      "members": {
        "gcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A storage location within Google cloud storage (GCS)."
      }
    },
    "com.gcp.testing_v1#Locale": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id for this locale. Example: \"en_US\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for this language/locale. Example: \"English\"."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale."
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this dimension. Example: \"default\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A location/region designation for language."
      }
    },
    "com.gcp.testing_v1#StartActivityIntent": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the action."
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action name. Required for START_ACTIVITY."
          }
        },
        "categories": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Intent categories to set on the intent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A starting intent specified by an action, uri, and categories."
      }
    },
    "com.gcp.testing_v1#Shard": {
      "type": "structure",
      "members": {
        "estimatedShardDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The estimated shard duration based on previous test case timing records, if available."
          }
        },
        "shardIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The index of the shard among all the shards."
          }
        },
        "numShards": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of shards."
          }
        },
        "testTargetsForShard": {
          "target": "com.gcp.testing_v1#TestTargetsForShard",
          "traits": {
            "smithy.api#documentation": "Output only. Test targets for each shard. Only set for manual sharding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Details about the shard."
      }
    },
    "com.gcp.testing_v1#MatrixErrorDetail": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a single error or issue with a matrix."
      }
    },
    "com.gcp.testing_v1#AndroidRoboTest": {
      "type": "structure",
      "members": {
        "appBundle": {
          "target": "com.gcp.testing_v1#AppBundle",
          "traits": {
            "smithy.api#documentation": "A multi-apk app bundle for the application under test."
          }
        },
        "maxDepth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50."
          }
        },
        "maxSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max number of steps Robo can execute. Default is no limit."
          }
        },
        "roboDirectives": {
          "target": "com.gcp.testing_v1#RoboDirectiveList",
          "traits": {
            "smithy.api#documentation": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided."
          }
        },
        "startingIntents": {
          "target": "com.gcp.testing_v1#RoboStartingIntentList",
          "traits": {
            "smithy.api#documentation": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
          }
        },
        "appApk": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "The APK for the application under test."
          }
        },
        "appPackageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The java package for the application under test. The default value is determined by examining the application's manifest."
          }
        },
        "roboMode": {
          "target": "com.gcp.testing_v1#AndroidRoboTestRoboModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically."
          }
        },
        "roboScript": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl."
          }
        },
        "appInitialActivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial activity that should be used to start the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes."
      }
    },
    "com.gcp.testing_v1#RoboDirectiveList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#RoboDirective"
      }
    },
    "com.gcp.testing_v1#RoboStartingIntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#RoboStartingIntent"
      }
    },
    "com.gcp.testing_v1#AndroidRoboTestRoboModeEnum": {
      "type": "enum",
      "members": {
        "ROBO_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROBO_MODE_UNSPECIFIED"
          }
        },
        "ROBO_VERSION_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROBO_VERSION_1"
          }
        },
        "ROBO_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROBO_VERSION_2"
          }
        }
      }
    },
    "com.gcp.testing_v1#AndroidModel": {
      "type": "structure",
      "members": {
        "accessDeniedReasons": {
          "target": "com.gcp.testing_v1#AndroidModelAccessDeniedReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only."
          }
        },
        "screenY": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen size in the vertical (Y) dimension measured in pixels."
          }
        },
        "supportedAbis": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version."
          }
        },
        "lowFpsVideoRecording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The manufacturer of this device."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company that this device is branded with. Example: \"Google\", \"Samsung\"."
          }
        },
        "labInfo": {
          "target": "com.gcp.testing_v1#LabInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Lab info of this device."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\"."
          }
        },
        "thumbnailUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a thumbnail image (photo) of the device."
          }
        },
        "formFactor": {
          "target": "com.gcp.testing_v1#AndroidModelFormFactorEnum",
          "traits": {
            "smithy.api#documentation": "Whether this device is a phone, tablet, wearable, etc."
          }
        },
        "perVersionInfo": {
          "target": "com.gcp.testing_v1#PerAndroidVersionInfoList",
          "traits": {
            "smithy.api#documentation": "Version-specific information of an Android model."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
          }
        },
        "codename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the industrial design. This corresponds to android.os.Build.DEVICE."
          }
        },
        "screenX": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen size in the horizontal (X) dimension measured in pixels."
          }
        },
        "form": {
          "target": "com.gcp.testing_v1#AndroidModelFormEnum",
          "traits": {
            "smithy.api#documentation": "Whether this device is virtual or physical."
          }
        },
        "supportedVersionIds": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of Android versions this device supports."
          }
        },
        "screenDensity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Screen density in DPI. This corresponds to ro.sf.lcd_density"
          }
        },
        "tags": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of an Android device tests may be run on."
      }
    },
    "com.gcp.testing_v1#AndroidModelAccessDeniedReasonsItemEnum": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED_REASON_UNSPECIFIED"
          }
        },
        "EULA_NOT_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EULA_NOT_ACCEPTED"
          }
        }
      }
    },
    "com.gcp.testing_v1#AndroidModelAccessDeniedReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#AndroidModelAccessDeniedReasonsItemEnum"
      }
    },
    "com.gcp.testing_v1#AndroidModelFormFactorEnum": {
      "type": "enum",
      "members": {
        "DEVICE_FORM_FACTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_FORM_FACTOR_UNSPECIFIED"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLET"
          }
        },
        "WEARABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEARABLE"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "AUTOMOTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMOTIVE"
          }
        },
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "XR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XR"
          }
        }
      }
    },
    "com.gcp.testing_v1#PerAndroidVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#PerAndroidVersionInfo"
      }
    },
    "com.gcp.testing_v1#AndroidModelFormEnum": {
      "type": "enum",
      "members": {
        "DEVICE_FORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_FORM_UNSPECIFIED"
          }
        },
        "VIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        },
        "EMULATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMULATOR"
          }
        }
      }
    },
    "com.gcp.testing_v1#TestEnvironmentCatalog": {
      "type": "structure",
      "members": {
        "deviceIpBlockCatalog": {
          "target": "com.gcp.testing_v1#DeviceIpBlockCatalog",
          "traits": {
            "smithy.api#documentation": "The IP blocks used by devices in the test environment."
          }
        },
        "androidDeviceCatalog": {
          "target": "com.gcp.testing_v1#AndroidDeviceCatalog",
          "traits": {
            "smithy.api#documentation": "Supported Android devices."
          }
        },
        "networkConfigurationCatalog": {
          "target": "com.gcp.testing_v1#NetworkConfigurationCatalog",
          "traits": {
            "smithy.api#documentation": "Supported network configurations."
          }
        },
        "softwareCatalog": {
          "target": "com.gcp.testing_v1#ProvidedSoftwareCatalog",
          "traits": {
            "smithy.api#documentation": "The software test environment provided by TestExecutionService."
          }
        },
        "iosDeviceCatalog": {
          "target": "com.gcp.testing_v1#IosDeviceCatalog",
          "traits": {
            "smithy.api#documentation": "Supported iOS devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a test environment."
      }
    },
    "com.gcp.testing_v1#SmartSharding": {
      "type": "structure",
      "members": {
        "targetedShardDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time tests within a shard should take. Default: 300 seconds (5 minutes). The minimum allowed: 120 seconds (2 minutes). The shard count is dynamically set based on time, up to the maximum shard limit (described below). To guarantee at least one test case for each shard, the number of shards will not exceed the number of test cases. Shard duration will be exceeded if: - The maximum shard limit is reached and there is more calculated test time remaining to allocate into shards. - Any individual test is estimated to be longer than the targeted shard duration. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. The rules for finding the test case timing records are: - If the service has processed a test case in the last 30 days, the record of the latest successful test case will be used. - For new test cases, the average duration of other known test cases will be used. - If there are no previous test case timing records available, the default test case duration is 15 seconds. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed test timeout (45 minutes for physical devices and 60 minutes for virtual), or that you use the custom test timeout value that you set. This approach avoids cancelling the shard before all tests can finish. Note that there is a limit for maximum number of shards. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500. To guarantee at least one test case for per shard, the number of shards will not exceed the number of test cases. Each shard created counts toward daily test quota."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shards test based on previous test case timing records."
      }
    },
    "com.gcp.testing_v1#ToolResultsHistory": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The cloud project that owns the tool results history."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A tool results history ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool results history resource."
      }
    },
    "com.gcp.testing_v1#IosDeviceFile": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "The source file"
          }
        },
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device."
          }
        },
        "devicePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the file on the device, inside the app's sandboxed filesystem"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file or directory to install on the device before the test starts."
      }
    },
    "com.gcp.testing_v1#AndroidTestLoop": {
      "type": "structure",
      "members": {
        "appApk": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "The APK for the application under test."
          }
        },
        "appPackageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The java package for the application under test. The default is determined by examining the application's manifest."
          }
        },
        "appBundle": {
          "target": "com.gcp.testing_v1#AppBundle",
          "traits": {
            "smithy.api#documentation": "A multi-apk app bundle for the application under test."
          }
        },
        "scenarios": {
          "target": "com.gcp.testing_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest."
          }
        },
        "scenarioLabels": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being."
      }
    },
    "com.gcp.testing_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.testing_v1#SystraceSetup": {
      "type": "structure",
      "members": {
        "durationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace."
          }
        }
      }
    },
    "com.gcp.testing_v1#Apk": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
          }
        },
        "location": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "The path to an APK to be installed on the device before the test begins."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Android package file to install."
      }
    },
    "com.gcp.testing_v1#IosDevice": {
      "type": "structure",
      "members": {
        "iosVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options."
          }
        },
        "iosModelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
          }
        },
        "orientation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single iOS device."
      }
    },
    "com.gcp.testing_v1#TestSetup": {
      "type": "structure",
      "members": {
        "environmentVariables": {
          "target": "com.gcp.testing_v1#EnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "Environment variables to set for the test (only applicable for instrumentation tests)."
          }
        },
        "dontAutograntPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to prevent all runtime permissions to be granted at app install"
          }
        },
        "filesToPush": {
          "target": "com.gcp.testing_v1#DeviceFileList",
          "traits": {
            "smithy.api#documentation": "List of files to push to the device before starting the test."
          }
        },
        "account": {
          "target": "com.gcp.testing_v1#Account",
          "traits": {
            "smithy.api#documentation": "The device will be logged in on this account for the duration of the test."
          }
        },
        "networkProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
          }
        },
        "initialSetupApks": {
          "target": "com.gcp.testing_v1#ApkList",
          "traits": {
            "smithy.api#documentation": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files."
          }
        },
        "directoriesToPull": {
          "target": "com.gcp.testing_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device."
          }
        },
        "additionalApks": {
          "target": "com.gcp.testing_v1#ApkList",
          "traits": {
            "smithy.api#documentation": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files."
          }
        },
        "systrace": {
          "target": "com.gcp.testing_v1#SystraceSetup",
          "traits": {
            "smithy.api#documentation": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of how to set up the Android device prior to running the test."
      }
    },
    "com.gcp.testing_v1#EnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#EnvironmentVariable"
      }
    },
    "com.gcp.testing_v1#DeviceFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#DeviceFile"
      }
    },
    "com.gcp.testing_v1#ApkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#Apk"
      }
    },
    "com.gcp.testing_v1#Environment": {
      "type": "structure",
      "members": {
        "androidDevice": {
          "target": "com.gcp.testing_v1#AndroidDevice",
          "traits": {
            "smithy.api#documentation": "An Android device which must be used with an Android test."
          }
        },
        "iosDevice": {
          "target": "com.gcp.testing_v1#IosDevice",
          "traits": {
            "smithy.api#documentation": "An iOS device which must be used with an iOS test."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment in which the test is run."
      }
    },
    "com.gcp.testing_v1#ObbFile": {
      "type": "structure",
      "members": {
        "obbFileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
          }
        },
        "obb": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "Required. Opaque Binary Blob (OBB) file(s) to install on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An opaque binary blob file to install on the device before the test starts."
      }
    },
    "com.gcp.testing_v1#IosTestLoop": {
      "type": "structure",
      "members": {
        "appBundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The bundle id for the application under test."
          }
        },
        "appIpa": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "Required. The .ipa of the application to test."
          }
        },
        "scenarios": {
          "target": "com.gcp.testing_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially."
      }
    },
    "com.gcp.testing_v1#ApkManifest": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.testing_v1#MetadataList",
          "traits": {
            "smithy.api#documentation": "Meta-data tags defined in the manifest."
          }
        },
        "versionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version number shown to users."
          }
        },
        "targetSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the API Level on which the application is designed to run."
          }
        },
        "versionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version number used internally by the app."
          }
        },
        "services": {
          "target": "com.gcp.testing_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "Services contained in the tag."
          }
        },
        "applicationLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-readable name for the application."
          }
        },
        "usesFeature": {
          "target": "com.gcp.testing_v1#UsesFeatureList",
          "traits": {
            "smithy.api#documentation": "Feature usage tags defined in the manifest."
          }
        },
        "minSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum API level required for the application to run."
          }
        },
        "usesPermissionTags": {
          "target": "com.gcp.testing_v1#UsesPermissionTagList",
          "traits": {
            "smithy.api#documentation": "Permissions declared to be used by the application"
          }
        },
        "usesPermission": {
          "target": "com.gcp.testing_v1#StringList"
        },
        "maxSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum API level on which the application is designed to run."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full Java-style package name for this application, e.g. \"com.example.foo\"."
          }
        },
        "intentFilters": {
          "target": "com.gcp.testing_v1#IntentFilterList"
        }
      },
      "traits": {
        "smithy.api#documentation": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html"
      }
    },
    "com.gcp.testing_v1#MetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#Metadata"
      }
    },
    "com.gcp.testing_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#Service"
      }
    },
    "com.gcp.testing_v1#UsesFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#UsesFeature"
      }
    },
    "com.gcp.testing_v1#UsesPermissionTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#UsesPermissionTag"
      }
    },
    "com.gcp.testing_v1#Testing_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.testing_v1#SessionStateEvent": {
      "type": "structure",
      "members": {
        "sessionState": {
          "target": "com.gcp.testing_v1#SessionStateEventSessionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The session_state tracked by this event"
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable message to explain the state."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that the session_state first encountered that state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states."
      }
    },
    "com.gcp.testing_v1#SessionStateEventSessionStateEnum": {
      "type": "enum",
      "members": {
        "SESSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_STATE_UNSPECIFIED"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUESTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.testing_v1#TrafficRule": {
      "type": "structure",
      "members": {
        "delay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Packet delay, must be >= 0."
          }
        },
        "burst": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Burst size in kbits."
          }
        },
        "bandwidth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bandwidth in kbits/second."
          }
        },
        "packetDuplicationRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Packet duplication ratio (0.0 - 1.0)."
          }
        },
        "packetLossRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Packet loss ratio (0.0 - 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network emulation parameters."
      }
    },
    "com.gcp.testing_v1#ResultStorage": {
      "type": "structure",
      "members": {
        "toolResultsHistory": {
          "target": "com.gcp.testing_v1#ToolResultsHistory",
          "traits": {
            "smithy.api#documentation": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value."
          }
        },
        "toolResultsExecution": {
          "target": "com.gcp.testing_v1#ToolResultsExecution",
          "traits": {
            "smithy.api#documentation": "Output only. The tool results execution that results are written to."
          }
        },
        "resultsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL to the results in the Firebase Web Console."
          }
        },
        "googleCloudStorage": {
          "target": "com.gcp.testing_v1#GoogleCloudStorage",
          "traits": {
            "smithy.api#documentation": "Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Locations where the results of running the test are stored."
      }
    },
    "com.gcp.testing_v1#RegularFile": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.testing_v1#FileReference",
          "traits": {
            "smithy.api#documentation": "Required. The source file."
          }
        },
        "devicePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file or directory to install on the device before the test starts."
      }
    },
    "com.gcp.testing_v1#CancelTestMatrixResponse": {
      "type": "structure",
      "members": {
        "testState": {
          "target": "com.gcp.testing_v1#CancelTestMatrixResponseTestStateEnum",
          "traits": {
            "smithy.api#documentation": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the current state of the specified test matrix."
      }
    },
    "com.gcp.testing_v1#CancelTestMatrixResponseTestStateEnum": {
      "type": "enum",
      "members": {
        "TEST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_STATE_UNSPECIFIED"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UNSUPPORTED_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ARCHITECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ARCHITECTURE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.testing_v1#PerIosVersionInfo": {
      "type": "structure",
      "members": {
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An iOS version."
          }
        },
        "deviceCapacity": {
          "target": "com.gcp.testing_v1#PerIosVersionInfoDeviceCapacityEnum",
          "traits": {
            "smithy.api#documentation": "The number of online devices for an iOS version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A version-specific information of an iOS model."
      }
    },
    "com.gcp.testing_v1#PerIosVersionInfoDeviceCapacityEnum": {
      "type": "enum",
      "members": {
        "DEVICE_CAPACITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_CAPACITY_UNSPECIFIED"
          }
        },
        "DEVICE_CAPACITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_CAPACITY_HIGH"
          }
        },
        "DEVICE_CAPACITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_CAPACITY_MEDIUM"
          }
        },
        "DEVICE_CAPACITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_CAPACITY_LOW"
          }
        },
        "DEVICE_CAPACITY_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_CAPACITY_NONE"
          }
        }
      }
    },
    "com.gcp.testing_v1#ManualSharding": {
      "type": "structure",
      "members": {
        "testTargetsForShard": {
          "target": "com.gcp.testing_v1#TestTargetsForShardList",
          "traits": {
            "smithy.api#documentation": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid."
      }
    },
    "com.gcp.testing_v1#TestTargetsForShardList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#TestTargetsForShard"
      }
    },
    "com.gcp.testing_v1#TestMatrix": {
      "type": "structure",
      "members": {
        "environmentMatrix": {
          "target": "com.gcp.testing_v1#EnvironmentMatrix",
          "traits": {
            "smithy.api#documentation": "Required. The devices the tests are being executed on."
          }
        },
        "state": {
          "target": "com.gcp.testing_v1#TestMatrixStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the current progress of the test matrix."
          }
        },
        "testMatrixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique id set by the service."
          }
        },
        "testSpecification": {
          "target": "com.gcp.testing_v1#TestSpecification",
          "traits": {
            "smithy.api#documentation": "Required. How to run the test."
          }
        },
        "testExecutions": {
          "target": "com.gcp.testing_v1#TestExecutionList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of test executions that the service creates for this matrix."
          }
        },
        "invalidMatrixDetails": {
          "target": "com.gcp.testing_v1#TestMatrixInvalidMatrixDetailsEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
          }
        },
        "failFast": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation."
          }
        },
        "flakyTestAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
          }
        },
        "outcomeSummary": {
          "target": "com.gcp.testing_v1#TestMatrixOutcomeSummaryEnum",
          "traits": {
            "smithy.api#documentation": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED."
          }
        },
        "clientInfo": {
          "target": "com.gcp.testing_v1#ClientInfo",
          "traits": {
            "smithy.api#documentation": "Information about the client which invoked the test."
          }
        },
        "extendedInvalidMatrixDetails": {
          "target": "com.gcp.testing_v1#MatrixErrorDetailList",
          "traits": {
            "smithy.api#documentation": "Output only. Details about why a matrix was deemed invalid. If multiple checks can be safely performed, they will be reported but no assumptions should be made about the length of this list."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this test matrix was initially created."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud project that owns the test matrix."
          }
        },
        "resultStorage": {
          "target": "com.gcp.testing_v1#ResultStorage",
          "traits": {
            "smithy.api#documentation": "Required. Where the results for the matrix are written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome."
      }
    },
    "com.gcp.testing_v1#TestMatrixStateEnum": {
      "type": "enum",
      "members": {
        "TEST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_STATE_UNSPECIFIED"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UNSUPPORTED_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ENVIRONMENT"
          }
        },
        "INCOMPATIBLE_ARCHITECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_ARCHITECTURE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.gcp.testing_v1#TestExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.testing_v1#TestExecution"
      }
    },
    "com.gcp.testing_v1#TestMatrixInvalidMatrixDetailsEnum": {
      "type": "enum",
      "members": {
        "INVALID_MATRIX_DETAILS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_MATRIX_DETAILS_UNSPECIFIED"
          }
        },
        "DETAILS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETAILS_UNAVAILABLE"
          }
        },
        "MALFORMED_APK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_APK"
          }
        },
        "MALFORMED_TEST_APK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_TEST_APK"
          }
        },
        "NO_MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MANIFEST"
          }
        },
        "NO_PACKAGE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PACKAGE_NAME"
          }
        },
        "INVALID_PACKAGE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PACKAGE_NAME"
          }
        },
        "TEST_SAME_AS_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_SAME_AS_APP"
          }
        },
        "NO_INSTRUMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_INSTRUMENTATION"
          }
        },
        "NO_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SIGNATURE"
          }
        },
        "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE"
          }
        },
        "NO_TEST_RUNNER_CLASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_TEST_RUNNER_CLASS"
          }
        },
        "NO_LAUNCHER_ACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LAUNCHER_ACTIVITY"
          }
        },
        "FORBIDDEN_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORBIDDEN_PERMISSIONS"
          }
        },
        "INVALID_ROBO_DIRECTIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ROBO_DIRECTIVES"
          }
        },
        "INVALID_RESOURCE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_RESOURCE_NAME"
          }
        },
        "INVALID_DIRECTIVE_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DIRECTIVE_ACTION"
          }
        },
        "TEST_LOOP_INTENT_FILTER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_LOOP_INTENT_FILTER_NOT_FOUND"
          }
        },
        "SCENARIO_LABEL_NOT_DECLARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCENARIO_LABEL_NOT_DECLARED"
          }
        },
[...]
