{
  "smithy": "2.0",
  "metadata": {
    "service": "texttospeech",
    "version": "v1",
    "title": "Cloud Text-to-Speech API",
    "baseUrl": "https://texttospeech.googleapis.com/"
  },
  "shapes": {
    "com.gcp.texttospeech_v1#GoogleCloudTexttospeechV1SynthesizeLongAudioMetadata": {
      "type": "structure",
      "members": {
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Do not use."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the request was received."
          }
        },
        "progressPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The progress of the most recent processing update in percentage, ie. 70.0%."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for response returned by the `SynthesizeLongAudio` method."
      }
    },
    "com.gcp.texttospeech_v1#ListVoicesResponse": {
      "type": "structure",
      "members": {
        "voices": {
          "target": "com.gcp.texttospeech_v1#VoiceList",
          "traits": {
            "smithy.api#documentation": "The list of voices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message returned to the client by the `ListVoices` method."
      }
    },
    "com.gcp.texttospeech_v1#VoiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#Voice"
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeLongAudioRequest": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.gcp.texttospeech_v1#SynthesisInput",
          "traits": {
            "smithy.api#documentation": "Required. The Synthesizer requires either plain text or SSML as input."
          }
        },
        "audioConfig": {
          "target": "com.gcp.texttospeech_v1#AudioConfig",
          "traits": {
            "smithy.api#documentation": "Required. The configuration of the synthesized audio."
          }
        },
        "outputGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specifies a Cloud Storage URI for the synthesis results. Must be specified in the format: `gs://bucket_name/object_name`, and the bucket must already exist."
          }
        },
        "voice": {
          "target": "com.gcp.texttospeech_v1#VoiceSelectionParams",
          "traits": {
            "smithy.api#documentation": "Required. The desired voice of the synthesized audio."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The top-level message sent by the client for the `SynthesizeLongAudio` method."
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeSpeechResponse": {
      "type": "structure",
      "members": {
        "audioContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The audio data bytes encoded as specified in the request, including the header for encodings that are wrapped in containers (e.g. MP3, OGG_OPUS). For LINEAR16 audio, we include the WAV header. Note: as with all bytes fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message returned to the client by the `SynthesizeSpeech` method."
      }
    },
    "com.gcp.texttospeech_v1#SafetySetting": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.texttospeech_v1#SafetySettingCategoryEnum",
          "traits": {
            "smithy.api#documentation": "The harm category to apply the safety setting to."
          }
        },
        "threshold": {
          "target": "com.gcp.texttospeech_v1#SafetySettingThresholdEnum",
          "traits": {
            "smithy.api#documentation": "The harm block threshold for the safety setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Safety setting for a single harm category."
      }
    },
    "com.gcp.texttospeech_v1#SafetySettingCategoryEnum": {
      "type": "enum",
      "members": {
        "HARM_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_UNSPECIFIED"
          }
        },
        "HARM_CATEGORY_HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HATE_SPEECH"
          }
        },
        "HARM_CATEGORY_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HARASSMENT"
          }
        },
        "HARM_CATEGORY_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#SafetySettingThresholdEnum": {
      "type": "enum",
      "members": {
        "HARM_BLOCK_THRESHOLD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_BLOCK_THRESHOLD_UNSPECIFIED"
          }
        },
        "BLOCK_LOW_AND_ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_LOW_AND_ABOVE"
          }
        },
        "BLOCK_MEDIUM_AND_ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_MEDIUM_AND_ABOVE"
          }
        },
        "BLOCK_ONLY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_ONLY_HIGH"
          }
        },
        "BLOCK_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_NONE"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#Voice": {
      "type": "structure",
      "members": {
        "ssmlGender": {
          "target": "com.gcp.texttospeech_v1#VoiceSsmlGenderEnum",
          "traits": {
            "smithy.api#documentation": "The gender of this voice."
          }
        },
        "languageCodes": {
          "target": "com.gcp.texttospeech_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The languages that this voice supports, expressed as [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g. \"en-US\", \"es-419\", \"cmn-tw\")."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this voice. Each distinct voice has a unique name."
          }
        },
        "naturalSampleRateHertz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The natural sample rate (in hertz) for this voice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of a voice supported by the TTS service."
      }
    },
    "com.gcp.texttospeech_v1#VoiceSsmlGenderEnum": {
      "type": "enum",
      "members": {
        "SSML_VOICE_GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_UNSPECIFIED"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALE"
          }
        },
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEMALE"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.texttospeech_v1#SynthesisInput": {
      "type": "structure",
      "members": {
        "multiSpeakerMarkup": {
          "target": "com.gcp.texttospeech_v1#MultiSpeakerMarkup",
          "traits": {
            "smithy.api#documentation": "The multi-speaker input to be synthesized. Only applicable for multi-speaker synthesis."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This system instruction is supported only for controllable/promptable voice models. If this system instruction is used, we pass the unedited text to Gemini-TTS. Otherwise, a default system instruction is used. AI Studio calls this system instruction, Style Instructions."
          }
        },
        "ssml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SSML document to be synthesized. The SSML document must be valid and well-formed. Otherwise the RPC will fail and return google.rpc.Code.INVALID_ARGUMENT. For more information, see [SSML](https://cloud.google.com/text-to-speech/docs/ssml)."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw text to be synthesized."
          }
        },
        "customPronunciations": {
          "target": "com.gcp.texttospeech_v1#CustomPronunciations",
          "traits": {
            "smithy.api#documentation": "Optional. The pronunciation customizations are applied to the input. If this is set, the input is synthesized using the given pronunciation customizations. The initial support is for en-us, with plans to expand to other locales in the future. Instant Clone voices aren't supported. In order to customize the pronunciation of a phrase, there must be an exact match of the phrase in the input types. If using SSML, the phrase must not be inside a phoneme tag."
          }
        },
        "markup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markup for Chirp 3: HD voices specifically. This field may not be used with any other voices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains text input to be synthesized. Either `text` or `ssml` must be supplied. Supplying both or neither returns google.rpc.Code.INVALID_ARGUMENT. The input size is limited to 5000 bytes."
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeLongAudioMetadata": {
      "type": "structure",
      "members": {
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Do not use."
          }
        },
        "progressPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The progress of the most recent processing update in percentage, ie. 70.0%."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the request was received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for response returned by the `SynthesizeLongAudio` method."
      }
    },
    "com.gcp.texttospeech_v1#CustomVoiceParams": {
      "type": "structure",
      "members": {
        "reportedUsage": {
          "target": "com.gcp.texttospeech_v1#CustomVoiceParamsReportedUsageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. The usage of the synthesized audio to be reported."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the AutoML model that synthesizes the custom voice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the custom voice to be synthesized."
      }
    },
    "com.gcp.texttospeech_v1#CustomVoiceParamsReportedUsageEnum": {
      "type": "enum",
      "members": {
        "REPORTED_USAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTED_USAGE_UNSPECIFIED"
          }
        },
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#AdvancedVoiceOptions": {
      "type": "structure",
      "members": {
        "relaxSafetyFilters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Deprecated, use safety_settings instead. If true, relaxes safety filters for Gemini TTS."
          }
        },
        "safetySettings": {
          "target": "com.gcp.texttospeech_v1#SafetySettings",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. This applies to Gemini TTS only. If set, the category specified in the safety setting will be blocked if the harm probability is above the threshold. Otherwise, the safety filter will be disabled by default."
          }
        },
        "lowLatencyJourneySynthesis": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only for Journey voices. If false, the synthesis is context aware and has a higher latency."
          }
        },
        "enableTextnorm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, textnorm will be applied to text input. This feature is enabled by default. Only applies for Gemini TTS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for advanced voice options."
      }
    },
    "com.gcp.texttospeech_v1#CustomPronunciationParams": {
      "type": "structure",
      "members": {
        "phoneticEncoding": {
          "target": "com.gcp.texttospeech_v1#CustomPronunciationParamsPhoneticEncodingEnum",
          "traits": {
            "smithy.api#documentation": "The phonetic encoding of the phrase."
          }
        },
        "phrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phrase to which the customization is applied. The phrase can be multiple words, such as proper nouns, but shouldn't span the length of the sentence."
          }
        },
        "pronunciation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pronunciation of the phrase. This must be in the phonetic encoding specified above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pronunciation customization for a phrase."
      }
    },
    "com.gcp.texttospeech_v1#CustomPronunciationParamsPhoneticEncodingEnum": {
      "type": "enum",
      "members": {
        "PHONETIC_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONETIC_ENCODING_UNSPECIFIED"
          }
        },
        "PHONETIC_ENCODING_IPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONETIC_ENCODING_IPA"
          }
        },
        "PHONETIC_ENCODING_X_SAMPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONETIC_ENCODING_X_SAMPA"
          }
        },
        "PHONETIC_ENCODING_JAPANESE_YOMIGANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONETIC_ENCODING_JAPANESE_YOMIGANA"
          }
        },
        "PHONETIC_ENCODING_PINYIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONETIC_ENCODING_PINYIN"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#SafetySettings": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.gcp.texttospeech_v1#SafetySettingList",
          "traits": {
            "smithy.api#documentation": "The safety settings for the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Safety settings for the request."
      }
    },
    "com.gcp.texttospeech_v1#SafetySettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#SafetySetting"
      }
    },
    "com.gcp.texttospeech_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.texttospeech_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.texttospeech_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.texttospeech_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#Operation"
      }
    },
    "com.gcp.texttospeech_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.texttospeech_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.texttospeech_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.texttospeech_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#DocumentMap"
      }
    },
    "com.gcp.texttospeech_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.texttospeech_v1#MultiSpeakerMarkup": {
      "type": "structure",
      "members": {
        "turns": {
          "target": "com.gcp.texttospeech_v1#TurnList",
          "traits": {
            "smithy.api#documentation": "Required. Speaker turns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of turns for multi-speaker synthesis."
      }
    },
    "com.gcp.texttospeech_v1#TurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#Turn"
      }
    },
    "com.gcp.texttospeech_v1#AudioConfig": {
      "type": "structure",
      "members": {
        "pitch": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20 semitones from the original pitch. -20 means decrease 20 semitones from the original pitch."
          }
        },
        "speakingRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Speaking rate/speed, in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any other values < 0.25 or > 2.0 will return an error."
          }
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The synthesis sample rate (in hertz) for this audio. When this is specified in SynthesizeSpeechRequest, if this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality), unless the specified sample rate is not supported for the encoding chosen, in which case it will fail the request and return google.rpc.Code.INVALID_ARGUMENT."
          }
        },
        "audioEncoding": {
          "target": "com.gcp.texttospeech_v1#AudioConfigAudioEncodingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The format of the audio byte stream."
          }
        },
        "volumeGainDb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Volume gain (in dB) of the normal native volume supported by the specific voice, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. Strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
          }
        },
        "effectsProfileId": {
          "target": "com.gcp.texttospeech_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. An identifier which selects 'audio effects' profiles that are applied on (post synthesized) text to speech. Effects are applied on top of each other in the order they are given. See [audio profiles](https://cloud.google.com/text-to-speech/docs/audio-profiles) for current supported profile ids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of audio data to be synthesized."
      }
    },
    "com.gcp.texttospeech_v1#AudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "LINEAR16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR16"
          }
        },
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP3"
          }
        },
        "OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OGG_OPUS"
          }
        },
        "MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULAW"
          }
        },
        "ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALAW"
          }
        },
        "PCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCM"
          }
        },
        "M4A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M4A"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#CustomPronunciations": {
      "type": "structure",
      "members": {
        "pronunciations": {
          "target": "com.gcp.texttospeech_v1#CustomPronunciationParamsList",
          "traits": {
            "smithy.api#documentation": "The pronunciation customizations are applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of pronunciation customizations."
      }
    },
    "com.gcp.texttospeech_v1#CustomPronunciationParamsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#CustomPronunciationParams"
      }
    },
    "com.gcp.texttospeech_v1#MultispeakerPrebuiltVoice": {
      "type": "structure",
      "members": {
        "speakerAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The speaker alias of the voice. This is the user-chosen speaker name that is used in the multispeaker text input, such as \"Speaker1\"."
          }
        },
        "speakerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The speaker ID of the voice. See https://cloud.google.com/text-to-speech/docs/gemini-tts#voice_options for available values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single speaker in a Gemini TTS multi-speaker setup. Enables dialogue between two speakers."
      }
    },
    "com.gcp.texttospeech_v1#Turn": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The text to speak."
          }
        },
        "speaker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The speaker of the turn, for example, 'O' or 'Q'. Please refer to documentation for available speakers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A multi-speaker turn."
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeSpeechRequest": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.gcp.texttospeech_v1#SynthesisInput",
          "traits": {
            "smithy.api#documentation": "Required. The Synthesizer requires either plain text or SSML as input."
          }
        },
        "voice": {
          "target": "com.gcp.texttospeech_v1#VoiceSelectionParams",
          "traits": {
            "smithy.api#documentation": "Required. The desired voice of the synthesized audio."
          }
        },
        "audioConfig": {
          "target": "com.gcp.texttospeech_v1#AudioConfig",
          "traits": {
            "smithy.api#documentation": "Required. The configuration of the synthesized audio."
          }
        },
        "advancedVoiceOptions": {
          "target": "com.gcp.texttospeech_v1#AdvancedVoiceOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Advanced voice options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The top-level message sent by the client for the `SynthesizeSpeech` method."
      }
    },
    "com.gcp.texttospeech_v1#MultiSpeakerVoiceConfig": {
      "type": "structure",
      "members": {
        "speakerVoiceConfigs": {
          "target": "com.gcp.texttospeech_v1#MultispeakerPrebuiltVoiceList",
          "traits": {
            "smithy.api#documentation": "Required. A list of configurations for the voices of the speakers. Exactly two speaker voice configurations must be provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a multi-speaker text-to-speech setup. Enables the use of up to two distinct voices in a single synthesis request."
      }
    },
    "com.gcp.texttospeech_v1#MultispeakerPrebuiltVoiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.texttospeech_v1#MultispeakerPrebuiltVoice"
      }
    },
    "com.gcp.texttospeech_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.texttospeech_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.texttospeech_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.texttospeech_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.texttospeech_v1#VoiceSelectionParams": {
      "type": "structure",
      "members": {
        "ssmlGender": {
          "target": "com.gcp.texttospeech_v1#VoiceSelectionParamsSsmlGenderEnum",
          "traits": {
            "smithy.api#documentation": "The preferred gender of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and name. Note that this is only a preference, not requirement; if a voice of the appropriate gender is not available, the synthesizer should substitute a voice with a different gender rather than failing the request."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the voice. If both the name and the gender are not set, the service will choose a voice based on the other parameters such as language_code."
          }
        },
        "voiceClone": {
          "target": "com.gcp.texttospeech_v1#VoiceCloneParams",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for a voice clone. If [VoiceCloneParams.voice_clone_key] is set, the service chooses the voice clone matching the specified configuration."
          }
        },
        "multiSpeakerVoiceConfig": {
          "target": "com.gcp.texttospeech_v1#MultiSpeakerVoiceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for a Gemini multi-speaker text-to-speech setup. Enables the use of two distinct voices in a single synthesis request."
          }
        },
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the model. If set, the service will choose the model matching the specified configuration."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The language (and potentially also the region) of the voice expressed as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g. \"en-US\". This should not include a script tag (e.g. use \"cmn-cn\" rather than \"cmn-Hant-cn\"), because the script will be inferred from the input provided in the SynthesisInput. The TTS service will use this parameter to help choose an appropriate voice. Note that the TTS service may choose a voice with a slightly different language code than the one selected; it may substitute a different region (e.g. using en-US rather than en-CA if there isn't a Canadian voice available), or even a different language, e.g. using \"nb\" (Norwegian Bokmal) instead of \"no\" (Norwegian)\"."
          }
        },
        "customVoice": {
          "target": "com.gcp.texttospeech_v1#CustomVoiceParams",
          "traits": {
            "smithy.api#documentation": "The configuration for a custom voice. If [CustomVoiceParams.model] is set, the service will choose the custom voice matching the specified configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of which voice to use for a synthesis request."
      }
    },
    "com.gcp.texttospeech_v1#VoiceSelectionParamsSsmlGenderEnum": {
      "type": "enum",
      "members": {
        "SSML_VOICE_GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSML_VOICE_GENDER_UNSPECIFIED"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALE"
          }
        },
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEMALE"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.texttospeech_v1#VoiceCloneParams": {
      "type": "structure",
      "members": {
        "voiceCloningKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Created by GenerateVoiceCloningKey."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of Voice Clone feature."
      }
    },
    "com.gcp.texttospeech_v1#ListVoicesRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Recommended. [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. If not specified, the API will return all supported voices. If specified, the ListVoices call will only return voices that can be used to synthesize this language_code. For example, if you specify `\"en-NZ\"`, all `\"en-NZ\"` voices will be returned. If you specify `\"no\"`, both `\"no-\\*\"` (Norwegian) and `\"nb-\\*\"` (Norwegian Bokmal) voices will be returned.",
            "smithy.api#httpQuery": "languageCode"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.texttospeech_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.texttospeech_v1#ListVoices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#ListVoicesRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#ListVoicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/voices"
        },
        "smithy.api#documentation": "Returns a list of Voice supported for synthesis."
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeLongAudioProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource states of the request in the form of `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.texttospeech_v1#SynthesizeLongAudioRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.texttospeech_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeLongAudioProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#SynthesizeLongAudioProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        },
        {
          "target": "com.gcp.texttospeech_v1#BadRequest"
        },
        {
          "target": "com.gcp.texttospeech_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}:synthesizeLongAudio"
        },
        "smithy.api#documentation": "Synthesizes long form text asynchronously."
      }
    },
    "com.gcp.texttospeech_v1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.texttospeech_v1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.texttospeech_v1#DeleteOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#DeleteOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#DeleteOperationsRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        },
        {
          "target": "com.gcp.texttospeech_v1#BadRequest"
        },
        {
          "target": "com.gcp.texttospeech_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.texttospeech_v1#CancelOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.texttospeech_v1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#CancelOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#CancelOperationsRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        },
        {
          "target": "com.gcp.texttospeech_v1#BadRequest"
        },
        {
          "target": "com.gcp.texttospeech_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeTextRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.texttospeech_v1#SynthesizeSpeechRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.texttospeech_v1#SynthesizeText": {
      "type": "operation",
      "input": {
        "target": "com.gcp.texttospeech_v1#SynthesizeTextRequest"
      },
      "output": {
        "target": "com.gcp.texttospeech_v1#SynthesizeSpeechResponse"
      },
      "errors": [
        {
          "target": "com.gcp.texttospeech_v1#NotFound"
        },
        {
          "target": "com.gcp.texttospeech_v1#Forbidden"
        },
        {
          "target": "com.gcp.texttospeech_v1#BadRequest"
        },
        {
          "target": "com.gcp.texttospeech_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/text:synthesize"
        },
        "smithy.api#documentation": "Synthesizes speech synchronously: receive results after all text input has been processed."
      }
    }
  }
}
