{
  "smithy": "2.0",
  "metadata": {
    "service": "toolresults",
    "version": "v1beta3",
    "title": "Cloud Tool Results API",
    "baseUrl": "https://toolresults.googleapis.com/"
  },
  "shapes": {
    "com.gcp.toolresults_v1beta3#ToolExitCode": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exit code from a tool execution."
      }
    },
    "com.gcp.toolresults_v1beta3#IosRoboTest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A Robo test for an iOS application."
      }
    },
    "com.gcp.toolresults_v1beta3#OverlappingUIElements": {
      "type": "structure",
      "members": {
        "screenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The screen id of the elements"
          }
        },
        "resourceName": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Resource names of the overlapping screen elements"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue."
      }
    },
    "com.gcp.toolresults_v1beta3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.toolresults_v1beta3#RoboScriptExecution": {
      "type": "structure",
      "members": {
        "totalActions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of actions in the Robo script."
          }
        },
        "successfulActions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of Robo script actions executed successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution stats for a user-provided Robo script."
      }
    },
    "com.gcp.toolresults_v1beta3#ListScreenshotClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.gcp.toolresults_v1beta3#ScreenshotClusterList",
          "traits": {
            "smithy.api#documentation": "The set of clusters associated with an execution Always set"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#ScreenshotClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#ScreenshotCluster"
      }
    },
    "com.gcp.toolresults_v1beta3#TestIssue": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief human-readable message describing the issue. Required."
          }
        },
        "category": {
          "target": "com.gcp.toolresults_v1beta3#TestIssueCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Category of issue. Required."
          }
        },
        "stackTrace": {
          "target": "com.gcp.toolresults_v1beta3#StackTrace",
          "traits": {
            "smithy.api#documentation": "Deprecated in favor of stack trace fields inside specific warnings."
          }
        },
        "warning_migration": {
          "target": "com.gcp.toolresults_v1beta3#Any",
          "traits": {
            "smithy.api#documentation": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings"
          }
        },
        "type": {
          "target": "com.gcp.toolresults_v1beta3#TestIssueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of issue. Required."
          }
        },
        "severity": {
          "target": "com.gcp.toolresults_v1beta3#TestIssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of issue. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An issue detected occurring during a test execution."
      }
    },
    "com.gcp.toolresults_v1beta3#TestIssueCategoryEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIEDCATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecifiedCategory"
          }
        },
        "COMMON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "common"
          }
        },
        "ROBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "robo"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#TestIssueTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIEDTYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecifiedType"
          }
        },
        "FATALEXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatalException"
          }
        },
        "NATIVECRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nativeCrash"
          }
        },
        "ANR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anr"
          }
        },
        "UNUSEDROBODIRECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unusedRoboDirective"
          }
        },
        "COMPATIBLEWITHORCHESTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compatibleWithOrchestrator"
          }
        },
        "LAUNCHERACTIVITYNOTFOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "launcherActivityNotFound"
          }
        },
        "STARTACTIVITYNOTFOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startActivityNotFound"
          }
        },
        "INCOMPLETEROBOSCRIPTEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incompleteRoboScriptExecution"
          }
        },
        "COMPLETEROBOSCRIPTEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completeRoboScriptExecution"
          }
        },
        "FAILEDTOINSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failedToInstall"
          }
        },
        "AVAILABLEDEEPLINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "availableDeepLinks"
          }
        },
        "NONSDKAPIUSAGEVIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nonSdkApiUsageViolation"
          }
        },
        "NONSDKAPIUSAGEREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nonSdkApiUsageReport"
          }
        },
        "ENCOUNTEREDNONANDROIDUIWIDGETSCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encounteredNonAndroidUiWidgetScreen"
          }
        },
        "ENCOUNTEREDLOGINSCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encounteredLoginScreen"
          }
        },
        "PERFORMEDGOOGLELOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performedGoogleLogin"
          }
        },
        "IOSEXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iosException"
          }
        },
        "IOSCRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iosCrash"
          }
        },
        "PERFORMEDMONKEYACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performedMonkeyActions"
          }
        },
        "USEDROBODIRECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usedRoboDirective"
          }
        },
        "USEDROBOIGNOREDIRECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usedRoboIgnoreDirective"
          }
        },
        "INSUFFICIENTCOVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "insufficientCoverage"
          }
        },
        "INAPPPURCHASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inAppPurchases"
          }
        },
        "CRASHDIALOGERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crashDialogError"
          }
        },
        "UIELEMENTSTOODEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uiElementsTooDeep"
          }
        },
        "BLANKSCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blankScreen"
          }
        },
        "OVERLAPPINGUIELEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overlappingUiElements"
          }
        },
        "UNITYEXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unityException"
          }
        },
        "DEVICEOUTOFMEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceOutOfMemory"
          }
        },
        "LOGCATCOLLECTIONERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logcatCollectionError"
          }
        },
        "DETECTEDAPPSPLASHSCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detectedAppSplashScreen"
          }
        },
        "ASSETISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assetIssue"
          }
        },
        "LICENSINGPROTECTIONTERMINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "licensingProtectionTermination"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#TestIssueSeverityEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIEDSEVERITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecifiedSeverity"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggestion"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "SEVERE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "severe"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#InconclusiveDetail": {
      "type": "structure",
      "members": {
        "infrastructureFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail."
          }
        },
        "hasErrorLogs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If results are being provided to the user in certain cases of infrastructure failures"
          }
        },
        "abortedByUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for an outcome with an INCONCLUSIVE outcome summary."
      }
    },
    "com.gcp.toolresults_v1beta3#Thumbnail": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail's content type, i.e. \"image/png\". Always set."
          }
        },
        "widthPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the thumbnail, in pixels. Always set."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set."
          }
        },
        "heightPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the thumbnail, in pixels. Always set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single thumbnail, with its size and format."
      }
    },
    "com.gcp.toolresults_v1beta3#TestTiming": {
      "type": "structure",
      "members": {
        "testProcessDuration": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Testing timing break down to know phases."
      }
    },
    "com.gcp.toolresults_v1beta3#ResultsStorage": {
      "type": "structure",
      "members": {
        "resultsStoragePath": {
          "target": "com.gcp.toolresults_v1beta3#FileReference",
          "traits": {
            "smithy.api#documentation": "The root directory for test results."
          }
        },
        "xunitXmlFile": {
          "target": "com.gcp.toolresults_v1beta3#FileReference",
          "traits": {
            "smithy.api#documentation": "The path to the Xunit XML file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The storage for test results."
      }
    },
    "com.gcp.toolresults_v1beta3#PerformedGoogleLogin": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A notification that Robo signed in with Google."
      }
    },
    "com.gcp.toolresults_v1beta3#ToolExecutionStep": {
      "type": "structure",
      "members": {
        "toolExecution": {
          "target": "com.gcp.toolresults_v1beta3#ToolExecution",
          "traits": {
            "smithy.api#documentation": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another."
      }
    },
    "com.gcp.toolresults_v1beta3#ProjectSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set"
          }
        },
        "defaultBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-project settings for the Tool Results service."
      }
    },
    "com.gcp.toolresults_v1beta3#ListTestCasesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "testCases": {
          "target": "com.gcp.toolresults_v1beta3#TestCaseList",
          "traits": {
            "smithy.api#documentation": "List of test cases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for StepService.ListTestCases."
      }
    },
    "com.gcp.toolresults_v1beta3#TestCaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#TestCase"
      }
    },
    "com.gcp.toolresults_v1beta3#Duration": {
      "type": "structure",
      "members": {
        "seconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years."
      }
    },
    "com.gcp.toolresults_v1beta3#NonSdkApiUsageViolation": {
      "type": "structure",
      "members": {
        "uniqueApis": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of unique hidden API's accessed."
          }
        },
        "apiSignatures": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Signatures of a subset of those hidden API's."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for a non-sdk API usage violation."
      }
    },
    "com.gcp.toolresults_v1beta3#PerformedMonkeyActions": {
      "type": "structure",
      "members": {
        "totalActions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of monkey actions performed during the crawl."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification that Robo performed some monkey actions."
      }
    },
    "com.gcp.toolresults_v1beta3#BlankScreen": {
      "type": "structure",
      "members": {
        "screenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The screen id of the element"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app."
      }
    },
    "com.gcp.toolresults_v1beta3#NonSdkApi": {
      "type": "structure",
      "members": {
        "invocationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of times this API was observed to have been called."
          }
        },
        "list": {
          "target": "com.gcp.toolresults_v1beta3#NonSdkApiListEnum",
          "traits": {
            "smithy.api#documentation": "Which list this API appears on"
          }
        },
        "apiSignature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature of the Non-SDK API"
          }
        },
        "exampleStackTraces": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Example stack traces of this API being called."
          }
        },
        "insights": {
          "target": "com.gcp.toolresults_v1beta3#NonSdkApiInsightList",
          "traits": {
            "smithy.api#documentation": "Optional debugging insights for non-SDK API violations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces"
      }
    },
    "com.gcp.toolresults_v1beta3#NonSdkApiListEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK"
          }
        },
        "GREY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY"
          }
        },
        "GREY_MAX_O": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY_MAX_O"
          }
        },
        "GREY_MAX_P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY_MAX_P"
          }
        },
        "GREY_MAX_Q": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY_MAX_Q"
          }
        },
        "GREY_MAX_R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY_MAX_R"
          }
        },
        "GREY_MAX_S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREY_MAX_S"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#NonSdkApiInsightList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#NonSdkApiInsight"
      }
    },
    "com.gcp.toolresults_v1beta3#AssetIssue": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "There was an issue with the assets in this test."
      }
    },
    "com.gcp.toolresults_v1beta3#IosTestLoop": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bundle ID of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A game loop test of an iOS application."
      }
    },
    "com.gcp.toolresults_v1beta3#TestCaseReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the test case. Required."
          }
        },
        "testSuiteName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the test suite to which this test case belongs."
          }
        },
        "className": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the class."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name."
      }
    },
    "com.gcp.toolresults_v1beta3#CPUInfo": {
      "type": "structure",
      "members": {
        "cpuProcessor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'"
          }
        },
        "numberOfCores": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the number of CPU cores"
          }
        },
        "cpuSpeedInGhz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "the CPU clock speed in GHz"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#ToolExecution": {
      "type": "structure",
      "members": {
        "commandLineArguments": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "The full tokenized command line including the program name (equivalent to argv in a C program). - In response: present if set by create request - In create request: optional - In update request: never set"
          }
        },
        "toolOutputs": {
          "target": "com.gcp.toolresults_v1beta3#ToolOutputReferenceList",
          "traits": {
            "smithy.api#documentation": "References to opaque files of any format output by the tool execution. The maximum allowed number of tool outputs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list"
          }
        },
        "toolLogs": {
          "target": "com.gcp.toolresults_v1beta3#FileReferenceList",
          "traits": {
            "smithy.api#documentation": "References to any plain text logs output the tool execution. This field can be set before the tool has exited in order to be able to have access to a live view of the logs while the tool is running. The maximum allowed number of tool logs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list"
          }
        },
        "exitCode": {
          "target": "com.gcp.toolresults_v1beta3#ToolExitCode",
          "traits": {
            "smithy.api#documentation": "Tool execution exit code. This field will be set once the tool has exited. - In response: present if set by create/update request - In create request: optional - In update request: optional, a FAILED_PRECONDITION error will be returned if an exit_code is already set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An execution of an arbitrary tool. It could be a test runner or a tool copying artifacts or deploying code."
      }
    },
    "com.gcp.toolresults_v1beta3#ToolOutputReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#ToolOutputReference"
      }
    },
    "com.gcp.toolresults_v1beta3#FileReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#FileReference"
      }
    },
    "com.gcp.toolresults_v1beta3#NonSdkApiInsight": {
      "type": "structure",
      "members": {
        "pendingGoogleUpdateInsight": {
          "target": "com.gcp.toolresults_v1beta3#PendingGoogleUpdateInsight",
          "traits": {
            "smithy.api#documentation": "An insight indicating that the hidden API usage originates from a Google-provided library."
          }
        },
        "matcherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)"
          }
        },
        "upgradeInsight": {
          "target": "com.gcp.toolresults_v1beta3#UpgradeInsight",
          "traits": {
            "smithy.api#documentation": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded."
          }
        },
        "exampleTraceMessages": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional sample stack traces, for which this insight applies (there should be at least one)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Non-SDK API insights (to address debugging solutions)."
      }
    },
    "com.gcp.toolresults_v1beta3#FatalException": {
      "type": "structure",
      "members": {
        "stackTrace": {
          "target": "com.gcp.toolresults_v1beta3#StackTrace",
          "traits": {
            "smithy.api#documentation": "The stack trace of the fatal exception. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for a fatal exception."
      }
    },
    "com.gcp.toolresults_v1beta3#AndroidAppInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app. Optional"
          }
        },
        "versionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version name of the app. Optional."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name of the app. Required."
          }
        },
        "versionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal version code of the app. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Android app information."
      }
    },
    "com.gcp.toolresults_v1beta3#PrimaryStep": {
      "type": "structure",
      "members": {
        "rollUp": {
          "target": "com.gcp.toolresults_v1beta3#PrimaryStepRollUpEnum",
          "traits": {
            "smithy.api#documentation": "Rollup test status of multiple steps that were run with the same configuration as a group."
          }
        },
        "individualOutcome": {
          "target": "com.gcp.toolresults_v1beta3#IndividualOutcomeList",
          "traits": {
            "smithy.api#documentation": "Step Id and outcome of each individual step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step."
      }
    },
    "com.gcp.toolresults_v1beta3#PrimaryStepRollUpEnum": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unset"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "FLAKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flaky"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#IndividualOutcomeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#IndividualOutcome"
      }
    },
    "com.gcp.toolresults_v1beta3#MemoryInfo": {
      "type": "structure",
      "members": {
        "memoryTotalInKibibyte": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total memory available on the device in KiB"
          }
        },
        "memoryCapInKibibyte": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum memory that can be allocated to the process in KiB"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#ListPerfSampleSeriesResponse": {
      "type": "structure",
      "members": {
        "perfSampleSeries": {
          "target": "com.gcp.toolresults_v1beta3#PerfSampleSeriesList",
          "traits": {
            "smithy.api#documentation": "The resulting PerfSampleSeries sorted by id"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#PerfSampleSeriesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#PerfSampleSeries"
      }
    },
    "com.gcp.toolresults_v1beta3#ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.gcp.toolresults_v1beta3#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "Environments. Always set."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A History id. Always set."
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Execution id Always set."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Project id. Always set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for EnvironmentService.ListEnvironments."
      }
    },
    "com.gcp.toolresults_v1beta3#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#Environment"
      }
    },
    "com.gcp.toolresults_v1beta3#Timestamp": {
      "type": "structure",
      "members": {
        "seconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings."
      }
    },
    "com.gcp.toolresults_v1beta3#MergedResult": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.toolresults_v1beta3#MergedResultStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the resource"
          }
        },
        "outcome": {
          "target": "com.gcp.toolresults_v1beta3#Outcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the resource"
          }
        },
        "testSuiteOverviews": {
          "target": "com.gcp.toolresults_v1beta3#TestSuiteOverviewList",
          "traits": {
            "smithy.api#documentation": "The combined and rolled-up result of each test suite that was run as part of this environment. Combining: When the test cases from a suite are run in different steps (sharding), the results are added back together in one overview. (e.g., if shard1 has 2 failures and shard2 has 1 failure than the overview failure_count = 3). Rollup: When test cases from the same suite are run multiple times (flaky), the results are combined (e.g., if testcase1.run1 fails, testcase1.run2 passes, and both testcase2.run1 and testcase2.run2 fail then the overview flaky_count = 1 and failure_count = 1)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result."
      }
    },
    "com.gcp.toolresults_v1beta3#MergedResultStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWNSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownState"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inProgress"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#TestSuiteOverviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#TestSuiteOverview"
      }
    },
    "com.gcp.toolresults_v1beta3#ListStepAccessibilityClustersResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents."
          }
        },
        "clusters": {
          "target": "com.gcp.toolresults_v1beta3#SuggestionClusterProtoList",
          "traits": {
            "smithy.api#documentation": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AccessibilityService.ListStepAccessibilityClusters."
      }
    },
    "com.gcp.toolresults_v1beta3#SuggestionClusterProtoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#SuggestionClusterProto"
      }
    },
    "com.gcp.toolresults_v1beta3#PendingGoogleUpdateInsight": {
      "type": "structure",
      "members": {
        "nameOfGoogleLibrary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Google-provided library with the non-SDK API dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action."
      }
    },
    "com.gcp.toolresults_v1beta3#IosAppCrashed": {
      "type": "structure",
      "members": {
        "stackTrace": {
          "target": "com.gcp.toolresults_v1beta3#StackTrace",
          "traits": {
            "smithy.api#documentation": "The stack trace, if one is available. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for an iOS app crash."
      }
    },
    "com.gcp.toolresults_v1beta3#UpgradeInsight": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package to be upgraded."
          }
        },
        "upgradeToVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs."
      }
    },
    "com.gcp.toolresults_v1beta3#Environment": {
      "type": "structure",
      "members": {
        "completionTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE."
          }
        },
        "shardSummaries": {
          "target": "com.gcp.toolresults_v1beta3#ShardSummaryList",
          "traits": {
            "smithy.api#documentation": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An Environment id."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A Project id."
          }
        },
        "dimensionValue": {
          "target": "com.gcp.toolresults_v1beta3#EnvironmentDimensionValueEntryList",
          "traits": {
            "smithy.api#documentation": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set"
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A History id."
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An Execution id."
          }
        },
        "creationTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Environment was created."
          }
        },
        "environmentResult": {
          "target": "com.gcp.toolresults_v1beta3#MergedResult",
          "traits": {
            "smithy.api#documentation": "Merged result of the environment."
          }
        },
        "resultsStorage": {
          "target": "com.gcp.toolresults_v1beta3#ResultsStorage",
          "traits": {
            "smithy.api#documentation": "The location where output files are stored in the user bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes)."
      }
    },
    "com.gcp.toolresults_v1beta3#ShardSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#ShardSummary"
      }
    },
    "com.gcp.toolresults_v1beta3#EnvironmentDimensionValueEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#EnvironmentDimensionValueEntry"
      }
    },
    "com.gcp.toolresults_v1beta3#History": {
      "type": "structure",
      "members": {
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
          }
        },
        "testPlatform": {
          "target": "com.gcp.toolresults_v1beta3#HistoryTestPlatformEnum",
          "traits": {
            "smithy.api#documentation": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch."
      }
    },
    "com.gcp.toolresults_v1beta3#HistoryTestPlatformEnum": {
      "type": "enum",
      "members": {
        "UNKNOWNPLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownPlatform"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "android"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ios"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#Step": {
      "type": "structure",
      "members": {
        "toolExecutionStep": {
          "target": "com.gcp.toolresults_v1beta3#ToolExecutionStep",
          "traits": {
            "smithy.api#documentation": "An execution of a tool (used for steps we don't explicitly support)."
          }
        },
        "runDuration": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional"
          }
        },
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set"
          }
        },
        "deviceUsageDuration": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional"
          }
        },
        "labels": {
          "target": "com.gcp.toolresults_v1beta3#StepLabelsEntryList",
          "traits": {
            "smithy.api#documentation": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value"
          }
        },
        "outcome": {
          "target": "com.gcp.toolresults_v1beta3#Outcome",
          "traits": {
            "smithy.api#documentation": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
          }
        },
        "hasImages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional"
          }
        },
        "creationTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The time when the step was created. - In response: always set - In create/update request: never set"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set"
          }
        },
        "dimensionValue": {
          "target": "com.gcp.toolresults_v1beta3#StepDimensionValueEntryList",
          "traits": {
            "smithy.api#documentation": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set"
          }
        },
        "multiStep": {
          "target": "com.gcp.toolresults_v1beta3#MultiStep",
          "traits": {
            "smithy.api#documentation": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional"
          }
        },
        "testExecutionStep": {
          "target": "com.gcp.toolresults_v1beta3#TestExecutionStep",
          "traits": {
            "smithy.api#documentation": "An execution of a test runner."
          }
        },
        "completionTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
          }
        },
        "state": {
          "target": "com.gcp.toolresults_v1beta3#StepStateEnum",
          "traits": {
            "smithy.api#documentation": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates a TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable."
      }
    },
    "com.gcp.toolresults_v1beta3#StepLabelsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#StepLabelsEntry"
      }
    },
    "com.gcp.toolresults_v1beta3#StepDimensionValueEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#StepDimensionValueEntry"
      }
    },
    "com.gcp.toolresults_v1beta3#StepStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWNSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownState"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inProgress"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#CrashDialogError": {
      "type": "structure",
      "members": {
        "crashPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package that caused the dialog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Crash dialog was detected during the test execution"
      }
    },
    "com.gcp.toolresults_v1beta3#IosTest": {
      "type": "structure",
      "members": {
        "iosAppInfo": {
          "target": "com.gcp.toolresults_v1beta3#IosAppInfo",
          "traits": {
            "smithy.api#documentation": "Information about the application under test."
          }
        },
        "iosRoboTest": {
          "target": "com.gcp.toolresults_v1beta3#IosRoboTest",
          "traits": {
            "smithy.api#documentation": "An iOS Robo test."
          }
        },
        "iosXcTest": {
          "target": "com.gcp.toolresults_v1beta3#IosXcTest",
          "traits": {
            "smithy.api#documentation": "An iOS XCTest."
          }
        },
        "testTimeout": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "Max time a test is allowed to run before it is automatically cancelled."
          }
        },
        "iosTestLoop": {
          "target": "com.gcp.toolresults_v1beta3#IosTestLoop",
          "traits": {
            "smithy.api#documentation": "An iOS test loop."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A iOS mobile test specification"
      }
    },
    "com.gcp.toolresults_v1beta3#ListStepThumbnailsResponse": {
      "type": "structure",
      "members": {
        "thumbnails": {
          "target": "com.gcp.toolresults_v1beta3#ImageList",
          "traits": {
            "smithy.api#documentation": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep)."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing the thumbnails in a step."
      }
    },
    "com.gcp.toolresults_v1beta3#ImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#Image"
      }
    },
    "com.gcp.toolresults_v1beta3#LogcatCollectionError": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A warning that there were issues in logcat collection."
      }
    },
    "com.gcp.toolresults_v1beta3#RegionProto": {
      "type": "structure",
      "members": {
        "topPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The top of the rectangle, in pixels. Always set."
          }
        },
        "leftPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The left side of the rectangle, in pixels. Always set."
          }
        },
        "heightPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height, in pixels. Always set."
          }
        },
        "widthPx": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width, in pixels. Always set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rectangular region."
      }
    },
    "com.gcp.toolresults_v1beta3#PerfMetricsSummary": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud project @OutputOnly"
          }
        },
        "perfEnvironment": {
          "target": "com.gcp.toolresults_v1beta3#PerfEnvironment",
          "traits": {
            "smithy.api#documentation": "Describes the environment in which the performance metrics were collected"
          }
        },
        "perfMetrics": {
          "target": "com.gcp.toolresults_v1beta3#PerfMetricsSummaryPerfMetricsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Set of resource collected"
          }
        },
        "appStartTime": {
          "target": "com.gcp.toolresults_v1beta3#AppStartTime"
        },
        "graphicsStats": {
          "target": "com.gcp.toolresults_v1beta3#GraphicsStats",
          "traits": {
            "smithy.api#documentation": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run."
          }
        },
        "historyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A tool results history ID. @OutputOnly"
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A tool results execution ID. @OutputOnly"
          }
        },
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A tool results step ID. @OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of perf metrics collected and performance environment info"
      }
    },
    "com.gcp.toolresults_v1beta3#PerfMetricsSummaryPerfMetricsItemEnum": {
      "type": "enum",
      "members": {
        "PERFMETRICTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perfMetricTypeUnspecified"
          }
        },
        "MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memory"
          }
        },
        "CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "GRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphics"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#PerfMetricsSummaryPerfMetricsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#PerfMetricsSummaryPerfMetricsItemEnum"
      }
    },
    "com.gcp.toolresults_v1beta3#GraphicsStats": {
      "type": "structure",
      "members": {
        "totalFrames": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total frames rendered by package."
          }
        },
        "jankyFrames": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total frames with slow render time. Should be <= total_frames."
          }
        },
        "p50Millis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "50th percentile frame render time in milliseconds."
          }
        },
        "slowDrawCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total \"slow draw\" events."
          }
        },
        "buckets": {
          "target": "com.gcp.toolresults_v1beta3#GraphicsStatsBucketList",
          "traits": {
            "smithy.api#documentation": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)"
          }
        },
        "slowBitmapUploadCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total \"slow bitmap upload\" events."
          }
        },
        "p99Millis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "99th percentile frame render time in milliseconds."
          }
        },
        "p95Millis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "95th percentile frame render time in milliseconds."
          }
        },
        "missedVsyncCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total \"missed vsync\" events."
          }
        },
        "p90Millis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "90th percentile frame render time in milliseconds."
          }
        },
        "highInputLatencyCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total \"high input latency\" events."
          }
        },
        "slowUiThreadCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total \"slow UI thread\" events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+."
      }
    },
    "com.gcp.toolresults_v1beta3#GraphicsStatsBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#GraphicsStatsBucket"
      }
    },
    "com.gcp.toolresults_v1beta3#FailedToInstall": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Failed to install the App."
      }
    },
    "com.gcp.toolresults_v1beta3#SkippedDetail": {
      "type": "structure",
      "members": {
        "incompatibleDevice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the requested OS version doesn't run on the specific device model."
          }
        },
        "pendingTimeout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the test could not be scheduled in the requested time because no suitable device was available."
          }
        },
        "incompatibleAppVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the App doesn't support the specific API level."
          }
        },
        "incompatibleArchitecture": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the App doesn't run on the specific architecture, for example, x86."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for an outcome with a SKIPPED outcome summary."
      }
    },
    "com.gcp.toolresults_v1beta3#Specification": {
      "type": "structure",
      "members": {
        "androidTest": {
          "target": "com.gcp.toolresults_v1beta3#AndroidTest",
          "traits": {
            "smithy.api#documentation": "An Android mobile test execution specification."
          }
        },
        "iosTest": {
          "target": "com.gcp.toolresults_v1beta3#IosTest",
          "traits": {
            "smithy.api#documentation": "An iOS mobile test execution specification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details about how to run the execution."
      }
    },
    "com.gcp.toolresults_v1beta3#LauncherActivityNotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Failed to find the launcher activity of an app."
      }
    },
    "com.gcp.toolresults_v1beta3#PublishXunitXmlFilesRequest": {
      "type": "structure",
      "members": {
        "xunitXmlFiles": {
          "target": "com.gcp.toolresults_v1beta3#FileReferenceList",
          "traits": {
            "smithy.api#documentation": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for StepService.PublishXunitXmlFiles."
      }
    },
    "com.gcp.toolresults_v1beta3#AndroidTestLoop": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent."
      }
    },
    "com.gcp.toolresults_v1beta3#FileReference": {
      "type": "structure",
      "members": {
        "fileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of a file stored in Google Cloud Storage. For example: `http://storage.googleapis.com/mybucket/path/to/test.xml` or in Cloud Storage URI format: `gs://mybucket/path/to/test.xml` with version-specific info, `gs://mybucket/path/to/test.xml#1360383693690000` An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a file."
      }
    },
    "com.gcp.toolresults_v1beta3#ShardSummary": {
      "type": "structure",
      "members": {
        "runs": {
          "target": "com.gcp.toolresults_v1beta3#StepSummaryList",
          "traits": {
            "smithy.api#documentation": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number."
          }
        },
        "shardResult": {
          "target": "com.gcp.toolresults_v1beta3#MergedResult",
          "traits": {
            "smithy.api#documentation": "Merged result of the shard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result summary for a shard in an environment."
      }
    },
    "com.gcp.toolresults_v1beta3#StepSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#StepSummary"
      }
    },
    "com.gcp.toolresults_v1beta3#ToolOutputReference": {
      "type": "structure",
      "members": {
        "output": {
          "target": "com.gcp.toolresults_v1beta3#FileReference",
          "traits": {
            "smithy.api#documentation": "A FileReference to an output file. - In response: always set - In create/update request: always set"
          }
        },
        "creationTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional"
          }
        },
        "testCase": {
          "target": "com.gcp.toolresults_v1beta3#TestCaseReference",
          "traits": {
            "smithy.api#documentation": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a ToolExecution output file."
      }
    },
    "com.gcp.toolresults_v1beta3#SuggestionProto": {
      "type": "structure",
      "members": {
        "shortMessage": {
          "target": "com.gcp.toolresults_v1beta3#SafeHtmlProto",
          "traits": {
            "smithy.api#documentation": "Concise message, in the user's language, representing the suggestion, which may contain markup. Always set."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "General title for the suggestion, in the user's language, without markup. Always set."
          }
        },
        "priority": {
          "target": "com.gcp.toolresults_v1beta3#SuggestionProtoPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Relative importance of a suggestion. Always set."
          }
        },
        "secondaryPriority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Relative importance of a suggestion as compared with other suggestions that have the same priority and category. This is a meaningless value that can be used to order suggestions that are in the same category and have the same priority. The larger values have higher priority (i.e., are more important). Optional."
          }
        },
        "region": {
          "target": "com.gcp.toolresults_v1beta3#RegionProto",
          "traits": {
            "smithy.api#documentation": "Region within the screenshot that is relevant to this suggestion. Optional."
          }
        },
        "longMessage": {
          "target": "com.gcp.toolresults_v1beta3#SafeHtmlProto",
          "traits": {
            "smithy.api#documentation": "Message, in the user's language, explaining the suggestion, which may contain markup. Always set."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to a view element, identified by its resource name, if it has one."
          }
        },
        "helpUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to a help center article concerning this type of suggestion. Always set."
          }
        },
        "pseudoResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A somewhat human readable identifier of the source view, if it does not have a resource_name. This is a path within the accessibility hierarchy, an element with resource name; similar to an XPath."
          }
        },
        "screenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the screen for the suggestion. It is used for getting the corresponding screenshot path. For example, screen_id \"1\" corresponds to \"1.png\" file in GCS. Always set."
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#SuggestionProtoPriorityEnum": {
      "type": "enum",
      "members": {
        "UNKNOWNPRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownPriority"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#ListStepsResponse": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.gcp.toolresults_v1beta3#StepList",
          "traits": {
            "smithy.api#documentation": "Steps."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to resume the query at the next item. If set, indicates that there are more steps to read, by calling list again with this value in the page_token field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for StepService.List."
      }
    },
    "com.gcp.toolresults_v1beta3#StepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#Step"
      }
    },
    "com.gcp.toolresults_v1beta3#ANR": {
      "type": "structure",
      "members": {
        "stackTrace": {
          "target": "com.gcp.toolresults_v1beta3#StackTrace",
          "traits": {
            "smithy.api#documentation": "The stack trace of the ANR crash. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for an ANR crash."
      }
    },
    "com.gcp.toolresults_v1beta3#EncounteredNonAndroidUiWidgetScreen": {
      "type": "structure",
      "members": {
        "distinctScreens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of encountered distinct screens with non Android UI widgets."
          }
        },
        "screenIds": {
          "target": "com.gcp.toolresults_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Subset of screens which contain non Android UI widgets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details about encountered screens with elements that are not Android UI widgets."
      }
    },
    "com.gcp.toolresults_v1beta3#Screen": {
      "type": "structure",
      "members": {
        "fileReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File reference of the png file. Required."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS version of the device that the screenshot was taken on. Required."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model of the device that the screenshot was taken on. Required."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Locale of the device that the screenshot was taken on. Required."
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#UnusedRoboDirective": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource that was unused."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details of an unused robodirective."
      }
    },
    "com.gcp.toolresults_v1beta3#SuccessDetail": {
      "type": "structure",
      "members": {
        "otherNativeCrash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If a native process other than the app crashed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange"
      }
    },
    "com.gcp.toolresults_v1beta3#InAppPurchasesFound": {
      "type": "structure",
      "members": {
        "inAppPurchasesFlowsStarted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of in-app purchases flows started."
          }
        },
        "inAppPurchasesFlowsExplored": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details of in-app purchases encountered during the crawl."
      }
    },
    "com.gcp.toolresults_v1beta3#SafeHtmlProto": {
      "type": "structure",
      "members": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests."
      }
    },
    "com.gcp.toolresults_v1beta3#AppStartTime": {
      "type": "structure",
      "members": {
        "fullyDrawnTime": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full"
          }
        },
        "initialDisplayTime": {
          "target": "com.gcp.toolresults_v1beta3#Duration",
          "traits": {
            "smithy.api#documentation": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#DetectedAppSplashScreen": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen)."
      }
    },
    "com.gcp.toolresults_v1beta3#BasicPerfSampleSeries": {
      "type": "structure",
      "members": {
        "perfUnit": {
          "target": "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesPerfUnitEnum"
        },
        "sampleSeriesLabel": {
          "target": "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesSampleSeriesLabelEnum"
        },
        "perfMetricType": {
          "target": "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesPerfMetricTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates the metadata for basic sample series represented by a line chart"
      }
    },
    "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesPerfUnitEnum": {
      "type": "enum",
      "members": {
        "PERFUNITUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perfUnitUnspecified"
          }
        },
        "KIBIBYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kibibyte"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent"
          }
        },
        "BYTESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesPerSecond"
          }
        },
        "FRAMESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "framesPerSecond"
          }
        },
        "BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byte"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesSampleSeriesLabelEnum": {
      "type": "enum",
      "members": {
        "SAMPLESERIESTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sampleSeriesTypeUnspecified"
          }
        },
        "MEMORYRSSPRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memoryRssPrivate"
          }
        },
        "MEMORYRSSSHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memoryRssShared"
          }
        },
        "MEMORYRSSTOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memoryRssTotal"
          }
        },
        "MEMORYTOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memoryTotal"
          }
        },
        "CPUUSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpuUser"
          }
        },
        "CPUKERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpuKernel"
          }
        },
        "CPUTOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpuTotal"
          }
        },
        "NTBYTESTRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ntBytesTransferred"
          }
        },
        "NTBYTESRECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ntBytesReceived"
          }
        },
        "NETWORKSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkSent"
          }
        },
        "NETWORKRECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkReceived"
          }
        },
        "GRAPHICSFRAMERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphicsFrameRate"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#BasicPerfSampleSeriesPerfMetricTypeEnum": {
      "type": "enum",
      "members": {
        "PERFMETRICTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perfMetricTypeUnspecified"
          }
        },
        "MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memory"
          }
        },
        "CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "GRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphics"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#MultiStep": {
      "type": "structure",
      "members": {
        "primaryStep": {
          "target": "com.gcp.toolresults_v1beta3#PrimaryStep",
          "traits": {
            "smithy.api#documentation": "Present if it is a primary (original) step."
          }
        },
        "multistepNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
          }
        },
        "primaryStepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Step Id of the primary (original) step, which might be this step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details when multiple steps are run with the same configuration as a group."
      }
    },
    "com.gcp.toolresults_v1beta3#UsedRoboDirective": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource that was used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details of a used Robo directive."
      }
    },
    "com.gcp.toolresults_v1beta3#StackTrace": {
      "type": "structure",
      "members": {
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stack trace message. Required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A stacktrace."
      }
    },
    "com.gcp.toolresults_v1beta3#MatrixDimensionDefinition": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "One dimension of the matrix of different runs of a step."
      }
    },
    "com.gcp.toolresults_v1beta3#DeviceOutOfMemory": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A warning that device ran out of memory"
      }
    },
    "com.gcp.toolresults_v1beta3#Image": {
      "type": "structure",
      "members": {
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The step to which the image is attached. Always set."
          }
        },
        "sourceImage": {
          "target": "com.gcp.toolresults_v1beta3#ToolOutputReference",
          "traits": {
            "smithy.api#documentation": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set."
          }
        },
        "thumbnail": {
          "target": "com.gcp.toolresults_v1beta3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The thumbnail."
          }
        },
        "error": {
          "target": "com.gcp.toolresults_v1beta3#Status",
          "traits": {
            "smithy.api#documentation": "An error explaining why the thumbnail could not be rendered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image, with a link to the main image and a thumbnail."
      }
    },
    "com.gcp.toolresults_v1beta3#IosAppInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app. Required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "iOS app information"
      }
    },
    "com.gcp.toolresults_v1beta3#ScreenshotCluster": {
      "type": "structure",
      "members": {
        "activity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that describes the activity of every screen in the cluster."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the cluster. @OutputOnly"
          }
        },
        "screens": {
          "target": "com.gcp.toolresults_v1beta3#ScreenList",
          "traits": {
            "smithy.api#documentation": "Full list of screens."
          }
        },
        "keyScreen": {
          "target": "com.gcp.toolresults_v1beta3#Screen",
          "traits": {
            "smithy.api#documentation": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm"
          }
        }
      }
    },
    "com.gcp.toolresults_v1beta3#ScreenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.toolresults_v1beta3#Screen"
      }
    },
    "com.gcp.toolresults_v1beta3#StartActivityNotFound": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "User provided intent failed to resolve to an activity."
      }
    },
    "com.gcp.toolresults_v1beta3#Execution": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
          }
        },
        "creationTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
          }
        },
        "dimensionDefinitions": {
          "target": "com.gcp.toolresults_v1beta3#MatrixDimensionDefinitionList",
          "traits": {
            "smithy.api#documentation": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
          }
        },
        "specification": {
          "target": "com.gcp.toolresults_v1beta3#Specification",
          "traits": {
            "smithy.api#documentation": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
          }
        },
        "state": {
          "target": "com.gcp.toolresults_v1beta3#ExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional"
          }
        },
        "completionTime": {
          "target": "com.gcp.toolresults_v1beta3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
          }
        },
        "outcome": {
          "target": "com.gcp.toolresults_v1beta3#Outcome",
          "traits": {
            "smithy.api#documentation": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
          }
        },
        "testExecutionMatrixId": {
          "target": "smithy.api#String",
          "traits": {
[...]
