{
  "smithy": "2.0",
  "metadata": {
    "service": "transcoder",
    "version": "v1",
    "title": "Transcoder API",
    "baseUrl": "https://transcoder.googleapis.com/"
  },
  "shapes": {
    "com.gcp.transcoder_v1#H265ColorFormatHLG": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Hybrid Log Gamma (HLG) video."
      }
    },
    "com.gcp.transcoder_v1#Color": {
      "type": "structure",
      "members": {
        "contrast": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
          }
        },
        "saturation": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
          }
        },
        "brightness": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color preprocessing configuration. **Note:** This configuration is not supported."
      }
    },
    "com.gcp.transcoder_v1#SegmentSettings": {
      "type": "structure",
      "members": {
        "segmentDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
          }
        },
        "individualSegments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Create an individual segment file. The default is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Segment settings for `ts`, `fmp4` and `vtt`."
      }
    },
    "com.gcp.transcoder_v1#NormalizedCoordinate": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Normalized y coordinate."
          }
        },
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Normalized x coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "2D normalized coordinates. Default: `{0.0, 0.0}`"
      }
    },
    "com.gcp.transcoder_v1#AnimationFade": {
      "type": "structure",
      "members": {
        "xy": {
          "target": "com.gcp.transcoder_v1#NormalizedCoordinate",
          "traits": {
            "smithy.api#documentation": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
          }
        },
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s"
          }
        },
        "fadeType": {
          "target": "com.gcp.transcoder_v1#AnimationFadeFadeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`."
          }
        },
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to start the fade animation, in seconds. Default: 0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Display overlay object with fade animation."
      }
    },
    "com.gcp.transcoder_v1#AnimationFadeFadeTypeEnum": {
      "type": "enum",
      "members": {
        "FADE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FADE_TYPE_UNSPECIFIED"
          }
        },
        "FADE_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FADE_IN"
          }
        },
        "FADE_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FADE_OUT"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#Deblock": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable deblocker. The default is `false`."
          }
        },
        "strength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deblock preprocessing configuration. **Note:** This configuration is not supported."
      }
    },
    "com.gcp.transcoder_v1#H264ColorFormatHLG": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Hybrid Log Gamma (HLG) video."
      }
    },
    "com.gcp.transcoder_v1#AudioMapping": {
      "type": "structure",
      "members": {
        "atomKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list."
          }
        },
        "inputChannel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The zero-based index of the channel in the input audio stream."
          }
        },
        "outputChannel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The zero-based index of the channel in the output audio stream."
          }
        },
        "inputTrack": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The zero-based index of the track in the input file."
          }
        },
        "inputKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Input.key that identifies the input file."
          }
        },
        "gainDb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs."
      }
    },
    "com.gcp.transcoder_v1#Playready": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Playready configuration."
      }
    },
    "com.gcp.transcoder_v1#JobConfig": {
      "type": "structure",
      "members": {
        "elementaryStreams": {
          "target": "com.gcp.transcoder_v1#ElementaryStreamList",
          "traits": {
            "smithy.api#documentation": "List of elementary streams."
          }
        },
        "inputs": {
          "target": "com.gcp.transcoder_v1#InputList",
          "traits": {
            "smithy.api#documentation": "List of input assets stored in Cloud Storage."
          }
        },
        "pubsubDestination": {
          "target": "com.gcp.transcoder_v1#PubsubDestination",
          "traits": {
            "smithy.api#documentation": "Destination on Pub/Sub."
          }
        },
        "muxStreams": {
          "target": "com.gcp.transcoder_v1#MuxStreamList",
          "traits": {
            "smithy.api#documentation": "List of multiplexing settings for output streams."
          }
        },
        "output": {
          "target": "com.gcp.transcoder_v1#Output",
          "traits": {
            "smithy.api#documentation": "Output configuration."
          }
        },
        "spriteSheets": {
          "target": "com.gcp.transcoder_v1#SpriteSheetList",
          "traits": {
            "smithy.api#documentation": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig."
          }
        },
        "adBreaks": {
          "target": "com.gcp.transcoder_v1#AdBreakList",
          "traits": {
            "smithy.api#documentation": "List of ad breaks. Specifies where to insert ad break tags in the output manifests."
          }
        },
        "editList": {
          "target": "com.gcp.transcoder_v1#EditAtomList",
          "traits": {
            "smithy.api#documentation": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest."
          }
        },
        "encryptions": {
          "target": "com.gcp.transcoder_v1#EncryptionList",
          "traits": {
            "smithy.api#documentation": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output."
          }
        },
        "manifests": {
          "target": "com.gcp.transcoder_v1#ManifestList",
          "traits": {
            "smithy.api#documentation": "List of output manifests."
          }
        },
        "overlays": {
          "target": "com.gcp.transcoder_v1#OverlayList",
          "traits": {
            "smithy.api#documentation": "List of overlays on the output video, in descending Z-order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job configuration"
      }
    },
    "com.gcp.transcoder_v1#ElementaryStreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#ElementaryStream"
      }
    },
    "com.gcp.transcoder_v1#InputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Input"
      }
    },
    "com.gcp.transcoder_v1#MuxStreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#MuxStream"
      }
    },
    "com.gcp.transcoder_v1#SpriteSheetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#SpriteSheet"
      }
    },
    "com.gcp.transcoder_v1#AdBreakList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#AdBreak"
      }
    },
    "com.gcp.transcoder_v1#EditAtomList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#EditAtom"
      }
    },
    "com.gcp.transcoder_v1#EncryptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Encryption"
      }
    },
    "com.gcp.transcoder_v1#ManifestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Manifest"
      }
    },
    "com.gcp.transcoder_v1#OverlayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Overlay"
      }
    },
    "com.gcp.transcoder_v1#Vp9ColorFormatSDR": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Standard Dynamic Range (SDR) video."
      }
    },
    "com.gcp.transcoder_v1#Manifest": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type."
          }
        },
        "muxStreams": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list."
          }
        },
        "dash": {
          "target": "com.gcp.transcoder_v1#DashConfig",
          "traits": {
            "smithy.api#documentation": "`DASH` manifest configuration."
          }
        },
        "type": {
          "target": "com.gcp.transcoder_v1#ManifestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the manifest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Manifest configuration."
      }
    },
    "com.gcp.transcoder_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.transcoder_v1#ManifestTypeEnum": {
      "type": "enum",
      "members": {
        "MANIFEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANIFEST_TYPE_UNSPECIFIED"
          }
        },
        "HLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HLS"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#H265ColorFormatSDR": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Standard Dynamic Range (SDR) video."
      }
    },
    "com.gcp.transcoder_v1#ListJobTemplatesResponse": {
      "type": "structure",
      "members": {
        "jobTemplates": {
          "target": "com.gcp.transcoder_v1#JobTemplateList",
          "traits": {
            "smithy.api#documentation": "List of job templates in the specified region."
          }
        },
        "unreachable": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of regions that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TranscoderService.ListJobTemplates`."
      }
    },
    "com.gcp.transcoder_v1#JobTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#JobTemplate"
      }
    },
    "com.gcp.transcoder_v1#SecretManagerSource": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for secrets stored in Google Secret Manager."
      }
    },
    "com.gcp.transcoder_v1#DashConfig": {
      "type": "structure",
      "members": {
        "segmentReferenceScheme": {
          "target": "com.gcp.transcoder_v1#DashConfigSegmentReferenceSchemeEnum",
          "traits": {
            "smithy.api#documentation": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`DASH` manifest configuration."
      }
    },
    "com.gcp.transcoder_v1#DashConfigSegmentReferenceSchemeEnum": {
      "type": "enum",
      "members": {
        "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED"
          }
        },
        "SEGMENT_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENT_LIST"
          }
        },
        "SEGMENT_TEMPLATE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENT_TEMPLATE_NUMBER"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#Aes128Encryption": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for AES-128 encryption."
      }
    },
    "com.gcp.transcoder_v1#H264CodecSettings": {
      "type": "structure",
      "members": {
        "sdr": {
          "target": "com.gcp.transcoder_v1#H264ColorFormatSDR",
          "traits": {
            "smithy.api#documentation": "Optional. SDR color format setting for H264."
          }
        },
        "frameRateConversionStrategy": {
          "target": "com.gcp.transcoder_v1#H264CodecSettingsFrameRateConversionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
          }
        },
        "bFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0."
          }
        },
        "vbvSizeBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps."
          }
        },
        "preset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
          }
        },
        "pixelFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
          }
        },
        "hlg": {
          "target": "com.gcp.transcoder_v1#H264ColorFormatHLG",
          "traits": {
            "smithy.api#documentation": "Optional. HLG color format setting for H264."
          }
        },
        "aqStrength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0."
          }
        },
        "rateControlMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
          }
        },
        "crfLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
          }
        },
        "tune": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
          }
        },
        "gopFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified frame count. Must be greater than zero."
          }
        },
        "bPyramid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
          }
        },
        "gopDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
          }
        },
        "bitrateBps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
          }
        },
        "allowOpenGop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
          }
        },
        "widthPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "heightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "frameRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120."
          }
        },
        "enableTwoPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
          }
        },
        "vbvFullnessBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits."
          }
        },
        "entropyCoder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`"
          }
        },
        "profile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "H264 codec settings."
      }
    },
    "com.gcp.transcoder_v1#H264CodecSettingsFrameRateConversionStrategyEnum": {
      "type": "enum",
      "members": {
        "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED"
          }
        },
        "DOWNSAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNSAMPLE"
          }
        },
        "DROP_DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP_DUPLICATE"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#VideoStream": {
      "type": "structure",
      "members": {
        "h264": {
          "target": "com.gcp.transcoder_v1#H264CodecSettings",
          "traits": {
            "smithy.api#documentation": "H264 codec settings."
          }
        },
        "h265": {
          "target": "com.gcp.transcoder_v1#H265CodecSettings",
          "traits": {
            "smithy.api#documentation": "H265 codec settings."
          }
        },
        "vp9": {
          "target": "com.gcp.transcoder_v1#Vp9CodecSettings",
          "traits": {
            "smithy.api#documentation": "VP9 codec settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video stream resource."
      }
    },
    "com.gcp.transcoder_v1#Widevine": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Widevine configuration."
      }
    },
    "com.gcp.transcoder_v1#AnimationStatic": {
      "type": "structure",
      "members": {
        "xy": {
          "target": "com.gcp.transcoder_v1#NormalizedCoordinate",
          "traits": {
            "smithy.api#documentation": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
          }
        },
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to start displaying the overlay object, in seconds. Default: 0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Display static overlay object."
      }
    },
    "com.gcp.transcoder_v1#SampleAesEncryption": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for SAMPLE-AES encryption."
      }
    },
    "com.gcp.transcoder_v1#PubsubDestination": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Pub/Sub destination."
      }
    },
    "com.gcp.transcoder_v1#Job": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.transcoder_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the transcoding finished."
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`"
          }
        },
        "config": {
          "target": "com.gcp.transcoder_v1#JobConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for this job."
          }
        },
        "batchModePriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job."
          }
        },
        "state": {
          "target": "com.gcp.transcoder_v1#JobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the job."
          }
        },
        "mode": {
          "target": "com.gcp.transcoder_v1#JobModeEnum",
          "traits": {
            "smithy.api#documentation": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`."
          }
        },
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          }
        },
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          }
        },
        "ttlAfterCompletionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the job was created."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the transcoding started."
          }
        },
        "labels": {
          "target": "com.gcp.transcoder_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels associated with this job. You can use these to organize and group your jobs."
          }
        },
        "fillContentGaps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream."
          }
        },
        "optimization": {
          "target": "com.gcp.transcoder_v1#JobOptimizationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The optimization strategy of the job. The default is `AUTODETECT`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transcoding job resource."
      }
    },
    "com.gcp.transcoder_v1#JobStateEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#JobModeEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_MODE_UNSPECIFIED"
          }
        },
        "PROCESSING_MODE_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_MODE_INTERACTIVE"
          }
        },
        "PROCESSING_MODE_BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_MODE_BATCH"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.transcoder_v1#JobOptimizationEnum": {
      "type": "enum",
      "members": {
        "OPTIMIZATION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZATION_STRATEGY_UNSPECIFIED"
          }
        },
        "AUTODETECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTODETECT"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#Input": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key for this input. Must be specified when using advanced mapping and edit lists."
          }
        },
        "preprocessingConfig": {
          "target": "com.gcp.transcoder_v1#PreprocessingConfig",
          "traits": {
            "smithy.api#documentation": "Preprocessing configurations."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          }
        },
        "attributes": {
          "target": "com.gcp.transcoder_v1#InputAttributes",
          "traits": {
            "smithy.api#documentation": "Optional. Input Attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input asset."
      }
    },
    "com.gcp.transcoder_v1#DrmSystems": {
      "type": "structure",
      "members": {
        "widevine": {
          "target": "com.gcp.transcoder_v1#Widevine",
          "traits": {
            "smithy.api#documentation": "Widevine configuration."
          }
        },
        "fairplay": {
          "target": "com.gcp.transcoder_v1#Fairplay",
          "traits": {
            "smithy.api#documentation": "Fairplay configuration."
          }
        },
        "playready": {
          "target": "com.gcp.transcoder_v1#Playready",
          "traits": {
            "smithy.api#documentation": "Playready configuration."
          }
        },
        "clearkey": {
          "target": "com.gcp.transcoder_v1#Clearkey",
          "traits": {
            "smithy.api#documentation": "Clearkey configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines configuration for DRM systems in use."
      }
    },
    "com.gcp.transcoder_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.transcoder_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.transcoder_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.transcoder_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#DocumentMap"
      }
    },
    "com.gcp.transcoder_v1#H265ColorFormatHDR10": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a High Dynamic Range 10 (HDR10) video."
      }
    },
    "com.gcp.transcoder_v1#Vp9ColorFormatHLG": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Hybrid Log Gamma (HLG) video."
      }
    },
    "com.gcp.transcoder_v1#Encryption": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier for this set of encryption options."
          }
        },
        "mpegCenc": {
          "target": "com.gcp.transcoder_v1#MpegCommonEncryption",
          "traits": {
            "smithy.api#documentation": "Configuration for MPEG Common Encryption (MPEG-CENC)."
          }
        },
        "sampleAes": {
          "target": "com.gcp.transcoder_v1#SampleAesEncryption",
          "traits": {
            "smithy.api#documentation": "Configuration for SAMPLE-AES encryption."
          }
        },
        "secretManagerKeySource": {
          "target": "com.gcp.transcoder_v1#SecretManagerSource",
          "traits": {
            "smithy.api#documentation": "Keys are stored in Google Secret Manager."
          }
        },
        "drmSystems": {
          "target": "com.gcp.transcoder_v1#DrmSystems",
          "traits": {
            "smithy.api#documentation": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled."
          }
        },
        "aes128": {
          "target": "com.gcp.transcoder_v1#Aes128Encryption",
          "traits": {
            "smithy.api#documentation": "Configuration for AES-128 encryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption settings."
      }
    },
    "com.gcp.transcoder_v1#Pad": {
      "type": "structure",
      "members": {
        "leftPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to add to the left. The default is 0."
          }
        },
        "rightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to add to the right. The default is 0."
          }
        },
        "topPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to add to the top. The default is 0."
          }
        },
        "bottomPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to add to the bottom. The default is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution."
      }
    },
    "com.gcp.transcoder_v1#JobTemplate": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.transcoder_v1#JobConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for this template."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`"
          }
        },
        "labels": {
          "target": "com.gcp.transcoder_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels associated with this job template. You can use these to organize and group your job templates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transcoding job template resource."
      }
    },
    "com.gcp.transcoder_v1#TextMapping": {
      "type": "structure",
      "members": {
        "atomKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list."
          }
        },
        "inputTrack": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The zero-based index of the track in the input file."
          }
        },
        "inputKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Input.key that identifies the input file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs."
      }
    },
    "com.gcp.transcoder_v1#MpegCommonEncryption": {
      "type": "structure",
      "members": {
        "scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for MPEG Common Encryption (MPEG-CENC)."
      }
    },
    "com.gcp.transcoder_v1#Overlay": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.transcoder_v1#Image",
          "traits": {
            "smithy.api#documentation": "Image overlay."
          }
        },
        "animations": {
          "target": "com.gcp.transcoder_v1#AnimationList",
          "traits": {
            "smithy.api#documentation": "List of animations. The list should be chronological, without any time overlap."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overlay configuration."
      }
    },
    "com.gcp.transcoder_v1#AnimationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Animation"
      }
    },
    "com.gcp.transcoder_v1#PreprocessingConfig": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.gcp.transcoder_v1#Color",
          "traits": {
            "smithy.api#documentation": "Color preprocessing configuration."
          }
        },
        "audio": {
          "target": "com.gcp.transcoder_v1#Audio",
          "traits": {
            "smithy.api#documentation": "Audio preprocessing configuration."
          }
        },
        "pad": {
          "target": "com.gcp.transcoder_v1#Pad",
          "traits": {
            "smithy.api#documentation": "Specify the video pad filter configuration."
          }
        },
        "deinterlace": {
          "target": "com.gcp.transcoder_v1#Deinterlace",
          "traits": {
            "smithy.api#documentation": "Specify the video deinterlace configuration."
          }
        },
        "deblock": {
          "target": "com.gcp.transcoder_v1#Deblock",
          "traits": {
            "smithy.api#documentation": "Deblock preprocessing configuration."
          }
        },
        "denoise": {
          "target": "com.gcp.transcoder_v1#Denoise",
          "traits": {
            "smithy.api#documentation": "Denoise preprocessing configuration."
          }
        },
        "crop": {
          "target": "com.gcp.transcoder_v1#Crop",
          "traits": {
            "smithy.api#documentation": "Specify the video cropping configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preprocessing configurations."
      }
    },
    "com.gcp.transcoder_v1#AdBreak": {
      "type": "structure",
      "members": {
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad break."
      }
    },
    "com.gcp.transcoder_v1#Denoise": {
      "type": "structure",
      "members": {
        "strength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0."
          }
        },
        "tune": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Denoise preprocessing configuration. **Note:** This configuration is not supported."
      }
    },
    "com.gcp.transcoder_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.transcoder_v1#EditAtom": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key for this atom. Must be specified when using advanced mapping."
          }
        },
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`."
          }
        },
        "inputs": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
          }
        },
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Edit atom."
      }
    },
    "com.gcp.transcoder_v1#Deinterlace": {
      "type": "structure",
      "members": {
        "yadif": {
          "target": "com.gcp.transcoder_v1#YadifConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the Yet Another Deinterlacing Filter Configuration."
          }
        },
        "bwdif": {
          "target": "com.gcp.transcoder_v1#BwdifConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the Bob Weaver Deinterlacing Filter Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deinterlace configuration for input video."
      }
    },
    "com.gcp.transcoder_v1#AudioStream": {
      "type": "structure",
      "members": {
        "mapping": {
          "target": "com.gcp.transcoder_v1#AudioMappingList",
          "traits": {
            "smithy.api#documentation": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs."
          }
        },
        "channelLayout": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency"
          }
        },
        "codec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
          }
        },
        "channelCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of audio channels. Must be between 1 and 6. The default is 2."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
          }
        },
        "bitrateBps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000."
          }
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The audio sample rate in Hertz. The default is 48000 Hertz."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio stream resource."
      }
    },
    "com.gcp.transcoder_v1#AudioMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#AudioMapping"
      }
    },
    "com.gcp.transcoder_v1#Clearkey": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Clearkey configuration."
      }
    },
    "com.gcp.transcoder_v1#TrackDefinition": {
      "type": "structure",
      "members": {
        "languages": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        },
        "detectLanguages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field."
          }
        },
        "detectedLanguages": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true."
          }
        },
        "inputTrack": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The input track."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Track definition for the input asset."
      }
    },
    "com.gcp.transcoder_v1#BwdifConfig": {
      "type": "structure",
      "members": {
        "deinterlaceAllFrames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
          }
        },
        "parity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bob Weaver Deinterlacing Filter Configuration."
      }
    },
    "com.gcp.transcoder_v1#Output": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of output file(s) in a Cloud Storage bucket."
      }
    },
    "com.gcp.transcoder_v1#TextStream": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
          }
        },
        "mapping": {
          "target": "com.gcp.transcoder_v1#TextMappingList",
          "traits": {
            "smithy.api#documentation": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs."
          }
        },
        "codec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encoding of a text stream. For example, closed captions or subtitles."
      }
    },
    "com.gcp.transcoder_v1#TextMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#TextMapping"
      }
    },
    "com.gcp.transcoder_v1#MuxStream": {
      "type": "structure",
      "members": {
        "encryptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key for this multiplexed stream."
          }
        },
        "elementaryStreams": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of ElementaryStream.key values multiplexed in this stream."
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)"
          }
        },
        "fmp4": {
          "target": "com.gcp.transcoder_v1#Fmp4Config",
          "traits": {
            "smithy.api#documentation": "Optional. `fmp4` container configuration."
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`."
          }
        },
        "segmentSettings": {
          "target": "com.gcp.transcoder_v1#SegmentSettings",
          "traits": {
            "smithy.api#documentation": "Segment settings for `ts`, `fmp4` and `vtt`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multiplexing settings for output stream."
      }
    },
    "com.gcp.transcoder_v1#Fmp4Config": {
      "type": "structure",
      "members": {
        "codecTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`fmp4` container configuration."
      }
    },
    "com.gcp.transcoder_v1#Image": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported."
          }
        },
        "resolution": {
          "target": "com.gcp.transcoder_v1#NormalizedCoordinate",
          "traits": {
            "smithy.api#documentation": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overlaid image."
      }
    },
    "com.gcp.transcoder_v1#Audio": {
      "type": "structure",
      "members": {
        "lowBoost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported."
          }
        },
        "lufs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization"
          }
        },
        "highBoost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio preprocessing configuration."
      }
    },
    "com.gcp.transcoder_v1#H264ColorFormatSDR": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Convert the input video to a Standard Dynamic Range (SDR) video."
      }
    },
    "com.gcp.transcoder_v1#Animation": {
      "type": "structure",
      "members": {
        "animationEnd": {
          "target": "com.gcp.transcoder_v1#AnimationEnd",
          "traits": {
            "smithy.api#documentation": "End previous animation."
          }
        },
        "animationFade": {
          "target": "com.gcp.transcoder_v1#AnimationFade",
          "traits": {
            "smithy.api#documentation": "Display overlay object with fade animation."
          }
        },
        "animationStatic": {
          "target": "com.gcp.transcoder_v1#AnimationStatic",
          "traits": {
            "smithy.api#documentation": "Display static overlay object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Animation types."
      }
    },
    "com.gcp.transcoder_v1#SpriteSheet": {
      "type": "structure",
      "members": {
        "columnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit."
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format type. The default is `jpeg`. Supported formats: - `jpeg`"
          }
        },
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file."
          }
        },
        "quality": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio."
          }
        },
        "spriteHeightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100."
          }
        },
        "filePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`."
          }
        },
        "spriteWidthPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sprite sheet configuration."
      }
    },
    "com.gcp.transcoder_v1#Fairplay": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Fairplay configuration."
      }
    },
    "com.gcp.transcoder_v1#H265CodecSettings": {
      "type": "structure",
      "members": {
        "gopDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
          }
        },
        "gopFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified frame count. Must be greater than zero."
          }
        },
        "bPyramid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
          }
        },
        "tune": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
          }
        },
        "rateControlMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
          }
        },
        "crfLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
          }
        },
        "aqStrength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0."
          }
        },
        "profile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
          }
        },
        "enableTwoPass": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
          }
        },
        "vbvFullnessBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits."
          }
        },
        "frameRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120."
          }
        },
        "heightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "widthPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "allowOpenGop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
          }
        },
        "bitrateBps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
          }
        },
        "bFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0."
          }
        },
        "frameRateConversionStrategy": {
          "target": "com.gcp.transcoder_v1#H265CodecSettingsFrameRateConversionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
          }
        },
        "hdr10": {
          "target": "com.gcp.transcoder_v1#H265ColorFormatHDR10",
          "traits": {
            "smithy.api#documentation": "Optional. HDR10 color format setting for H265."
          }
        },
        "sdr": {
          "target": "com.gcp.transcoder_v1#H265ColorFormatSDR",
          "traits": {
            "smithy.api#documentation": "Optional. SDR color format setting for H265."
          }
        },
        "pixelFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
          }
        },
        "hlg": {
          "target": "com.gcp.transcoder_v1#H265ColorFormatHLG",
          "traits": {
            "smithy.api#documentation": "Optional. HLG color format setting for H265."
          }
        },
        "preset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
          }
        },
        "vbvSizeBits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "H265 codec settings."
      }
    },
    "com.gcp.transcoder_v1#H265CodecSettingsFrameRateConversionStrategyEnum": {
      "type": "enum",
      "members": {
        "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED"
          }
        },
        "DOWNSAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNSAMPLE"
          }
        },
        "DROP_DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP_DUPLICATE"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#InputAttributes": {
      "type": "structure",
      "members": {
        "trackDefinitions": {
          "target": "com.gcp.transcoder_v1#TrackDefinitionList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of track definitions for the input asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input attributes that provide additional information about the input asset."
      }
    },
    "com.gcp.transcoder_v1#TrackDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#TrackDefinition"
      }
    },
    "com.gcp.transcoder_v1#AnimationEnd": {
      "type": "structure",
      "members": {
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to end overlay object, in seconds. Default: 0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video."
      }
    },
    "com.gcp.transcoder_v1#ListJobsResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.transcoder_v1#JobList",
          "traits": {
            "smithy.api#documentation": "List of jobs in the specified region."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token."
          }
        },
        "unreachable": {
          "target": "com.gcp.transcoder_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of regions that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TranscoderService.ListJobs`."
      }
    },
    "com.gcp.transcoder_v1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.transcoder_v1#Job"
      }
    },
    "com.gcp.transcoder_v1#Crop": {
      "type": "structure",
      "members": {
        "leftPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to crop from the left. The default is 0."
          }
        },
        "rightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to crop from the right. The default is 0."
          }
        },
        "bottomPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to crop from the bottom. The default is 0."
          }
        },
        "topPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of pixels to crop from the top. The default is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution."
      }
    },
    "com.gcp.transcoder_v1#ElementaryStream": {
      "type": "structure",
      "members": {
        "textStream": {
          "target": "com.gcp.transcoder_v1#TextStream",
          "traits": {
            "smithy.api#documentation": "Encoding of a text stream. For example, closed captions or subtitles."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key for this elementary stream."
          }
        },
        "audioStream": {
          "target": "com.gcp.transcoder_v1#AudioStream",
          "traits": {
            "smithy.api#documentation": "Encoding of an audio stream."
          }
        },
        "videoStream": {
          "target": "com.gcp.transcoder_v1#VideoStream",
          "traits": {
            "smithy.api#documentation": "Encoding of a video stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats."
      }
    },
    "com.gcp.transcoder_v1#Vp9CodecSettings": {
      "type": "structure",
      "members": {
        "frameRateConversionStrategy": {
          "target": "com.gcp.transcoder_v1#Vp9CodecSettingsFrameRateConversionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
          }
        },
        "sdr": {
          "target": "com.gcp.transcoder_v1#Vp9ColorFormatSDR",
          "traits": {
            "smithy.api#documentation": "Optional. SDR color format setting for VP9."
          }
        },
        "pixelFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
          }
        },
        "hlg": {
          "target": "com.gcp.transcoder_v1#Vp9ColorFormatHLG",
          "traits": {
            "smithy.api#documentation": "Optional. HLG color format setting for VP9."
          }
        },
        "rateControlMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate"
          }
        },
        "crfLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported."
          }
        },
        "gopFrameCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified frame count. Must be greater than zero."
          }
        },
        "gopDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
          }
        },
        "widthPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "bitrateBps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000."
          }
        },
        "profile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message."
          }
        },
        "heightPixels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
          }
        },
        "frameRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VP9 codec settings."
      }
    },
    "com.gcp.transcoder_v1#Vp9CodecSettingsFrameRateConversionStrategyEnum": {
      "type": "enum",
      "members": {
        "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED"
          }
        },
        "DOWNSAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNSAMPLE"
          }
        },
        "DROP_DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP_DUPLICATE"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#YadifConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
          }
        },
        "parity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
          }
        },
        "deinterlaceAllFrames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
          }
        },
        "disableSpatialInterlacing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable spacial interlacing. The default is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Yet Another Deinterlacing Filter Configuration."
      }
    },
    "com.gcp.transcoder_v1#CreateProjectsLocationsJobTemplatesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
            "smithy.api#httpQuery": "jobTemplateId"
          }
        },
        "body": {
          "target": "com.gcp.transcoder_v1#JobTemplate",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.transcoder_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.transcoder_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.transcoder_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.transcoder_v1#CreateProjectsLocationsJobTemplates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.transcoder_v1#CreateProjectsLocationsJobTemplatesRequest"
      },
      "output": {
        "target": "com.gcp.transcoder_v1#JobTemplate"
      },
      "errors": [
        {
          "target": "com.gcp.transcoder_v1#NotFound"
        },
        {
          "target": "com.gcp.transcoder_v1#Forbidden"
        },
        {
          "target": "com.gcp.transcoder_v1#BadRequest"
        },
        {
          "target": "com.gcp.transcoder_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/jobTemplates"
        },
        "smithy.api#documentation": "Creates a job template in the specified region."
      }
    },
    "com.gcp.transcoder_v1#ListProjectsLocationsJobTemplatesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `next_page_token` value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#ListProjectsLocationsJobTemplates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.transcoder_v1#ListProjectsLocationsJobTemplatesRequest"
      },
      "output": {
        "target": "com.gcp.transcoder_v1#ListJobTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.transcoder_v1#NotFound"
        },
        {
          "target": "com.gcp.transcoder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/jobTemplates"
        },
        "smithy.api#documentation": "Lists job templates in the specified region.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.transcoder_v1#GetProjectsLocationsJobTemplatesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.transcoder_v1#GetProjectsLocationsJobTemplates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.transcoder_v1#GetProjectsLocationsJobTemplatesRequest"
      },
      "output": {
        "target": "com.gcp.transcoder_v1#JobTemplate"
      },
      "errors": [
        {
          "target": "com.gcp.transcoder_v1#NotFound"
        },
        {
          "target": "com.gcp.transcoder_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns the job template data."
      }
    },
    "com.gcp.transcoder_v1#DeleteProjectsLocationsJobTemplatesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
            "smithy.api#httpQuery": "allowMissing"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#DeleteProjectsLocationsJobTemplates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.transcoder_v1#DeleteProjectsLocationsJobTemplatesRequest"
      },
      "output": {
        "target": "com.gcp.transcoder_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.transcoder_v1#NotFound"
        },
        {
          "target": "com.gcp.transcoder_v1#Forbidden"
        },
        {
          "target": "com.gcp.transcoder_v1#BadRequest"
        },
        {
          "target": "com.gcp.transcoder_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a job template."
      }
    },
    "com.gcp.transcoder_v1#DeleteProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
            "smithy.api#httpQuery": "allowMissing"
          }
        }
      }
    },
    "com.gcp.transcoder_v1#DeleteProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.transcoder_v1#DeleteProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.transcoder_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.transcoder_v1#NotFound"
        },
        {
          "target": "com.gcp.transcoder_v1#Forbidden"
        },
        {
[...]
