{
  "smithy": "2.0",
  "metadata": {
    "service": "translate",
    "version": "v3",
    "title": "Cloud Translation API",
    "baseUrl": "https://translation.googleapis.com/"
  },
  "shapes": {
    "com.gcp.translate_v3#ListGlossariesResponse": {
      "type": "structure",
      "members": {
        "glossaries": {
          "target": "com.gcp.translate_v3#GlossaryList",
          "traits": {
            "smithy.api#documentation": "The list of glossaries for a project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGlossaries."
      }
    },
    "com.gcp.translate_v3#GlossaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Glossary"
      }
    },
    "com.gcp.translate_v3#RefinementEntry": {
      "type": "structure",
      "members": {
        "originalTranslation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The original translation of the source text."
          }
        },
        "sourceText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The source text to be refined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single refinement entry for RefineTextRequest."
      }
    },
    "com.gcp.translate_v3#Translation": {
      "type": "structure",
      "members": {
        "translatedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
          }
        },
        "glossaryConfig": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfig",
          "traits": {
            "smithy.api#documentation": "The `glossary_config` used for this translation."
          }
        },
        "detectedLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single translation response."
      }
    },
    "com.gcp.translate_v3#ListExamplesResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.gcp.translate_v3#ExampleList",
          "traits": {
            "smithy.api#documentation": "The sentence pairs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListExamples."
      }
    },
    "com.gcp.translate_v3#ExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Example"
      }
    },
    "com.gcp.translate_v3#BatchDocumentOutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.translate_v3#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output configuration for BatchTranslateDocument request."
      }
    },
    "com.gcp.translate_v3#GlossaryTermsPair": {
      "type": "structure",
      "members": {
        "sourceTerm": {
          "target": "com.gcp.translate_v3#GlossaryTerm",
          "traits": {
            "smithy.api#documentation": "The source term is the term that will get match in the text,"
          }
        },
        "targetTerm": {
          "target": "com.gcp.translate_v3#GlossaryTerm",
          "traits": {
            "smithy.api#documentation": "The term that will replace the match source term."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single entry for an unidirectional glossary."
      }
    },
    "com.gcp.translate_v3#SupportedLanguages": {
      "type": "structure",
      "members": {
        "languages": {
          "target": "com.gcp.translate_v3#SupportedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of supported language responses. This list contains an entry for each language the Translation API supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for discovering supported languages."
      }
    },
    "com.gcp.translate_v3#SupportedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#SupportedLanguage"
      }
    },
    "com.gcp.translate_v3#ListAdaptiveMtDatasetsResponse": {
      "type": "structure",
      "members": {
        "adaptiveMtDatasets": {
          "target": "com.gcp.translate_v3#AdaptiveMtDatasetList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of Adaptive MT datasets."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of AdaptiveMtDatasets."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtDatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#AdaptiveMtDataset"
      }
    },
    "com.gcp.translate_v3#AdaptiveMtTranslateRequest": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`"
          }
        },
        "content": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The content of the input in string format."
          }
        },
        "referenceSentenceConfig": {
          "target": "com.gcp.translate_v3#ReferenceSentenceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for caller provided reference sentences."
          }
        },
        "glossaryConfig": {
          "target": "com.gcp.translate_v3#GlossaryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for sending an AdaptiveMt translation query."
      }
    },
    "com.gcp.translate_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.translate_v3#DatasetOutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.translate_v3#GcsOutputDestination",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage destination to write the output."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output configuration for datasets."
      }
    },
    "com.gcp.translate_v3#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.translate_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.translate_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.translate_v3#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.translate_v3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.translate_v3#ListAdaptiveMtSentencesResponse": {
      "type": "structure",
      "members": {
        "adaptiveMtSentences": {
          "target": "com.gcp.translate_v3#AdaptiveMtSentenceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of AdaptiveMtSentences."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List AdaptiveMt sentences response."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtSentenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#AdaptiveMtSentence"
      }
    },
    "com.gcp.translate_v3#GcsSource": {
      "type": "structure",
      "members": {
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location for the input content."
      }
    },
    "com.gcp.translate_v3#GlossaryEntry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
          }
        },
        "termsPair": {
          "target": "com.gcp.translate_v3#GlossaryTermsPair",
          "traits": {
            "smithy.api#documentation": "Used for an unidirectional glossary."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the glossary entry."
          }
        },
        "termsSet": {
          "target": "com.gcp.translate_v3#GlossaryTermsSet",
          "traits": {
            "smithy.api#documentation": "Used for an equivalent term sets glossary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single entry in a glossary."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtTranslateResponse": {
      "type": "structure",
      "members": {
        "glossaryTranslations": {
          "target": "com.gcp.translate_v3#AdaptiveMtTranslationList",
          "traits": {
            "smithy.api#documentation": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply."
          }
        },
        "translations": {
          "target": "com.gcp.translate_v3#AdaptiveMtTranslationList",
          "traits": {
            "smithy.api#documentation": "Output only. The translation."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The translation's language code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AdaptiveMtTranslate response."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtTranslationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#AdaptiveMtTranslation"
      }
    },
    "com.gcp.translate_v3#InputConfig": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty."
          }
        },
        "gcsSource": {
          "target": "com.gcp.translate_v3#GcsSource",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input configuration for BatchTranslateText request."
      }
    },
    "com.gcp.translate_v3#TranslateTextResponse": {
      "type": "structure",
      "members": {
        "translations": {
          "target": "com.gcp.translate_v3#TranslationList",
          "traits": {
            "smithy.api#documentation": "Text translation responses with no glossary applied. This field has the same length as `contents`."
          }
        },
        "glossaryTranslations": {
          "target": "com.gcp.translate_v3#TranslationList",
          "traits": {
            "smithy.api#documentation": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`."
          }
        }
      }
    },
    "com.gcp.translate_v3#TranslationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Translation"
      }
    },
    "com.gcp.translate_v3#GcsOutputDestination": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location for the output content."
      }
    },
    "com.gcp.translate_v3#FileInputSource": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's byte contents."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's mime type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An inlined file."
      }
    },
    "com.gcp.translate_v3#ImportAdaptiveMtFileResponse": {
      "type": "structure",
      "members": {
        "adaptiveMtFile": {
          "target": "com.gcp.translate_v3#AdaptiveMtFile",
          "traits": {
            "smithy.api#documentation": "Output only. The Adaptive MT file that was imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for importing an AdaptiveMtFile"
      }
    },
    "com.gcp.translate_v3#AdaptiveMtFile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this file was last updated."
          }
        },
        "entryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of entries that the file contains."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's display name."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this file was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AdaptiveMtFile."
      }
    },
    "com.gcp.translate_v3#OutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.translate_v3#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output configuration for BatchTranslateText request."
      }
    },
    "com.gcp.translate_v3#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.translate_v3#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.translate_v3#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Operation"
      }
    },
    "com.gcp.translate_v3#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.translate_v3#GlossaryInputConfig": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.translate_v3#GcsSource",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input configuration for glossaries."
      }
    },
    "com.gcp.translate_v3#ExportDataRequest": {
      "type": "structure",
      "members": {
        "outputConfig": {
          "target": "com.gcp.translate_v3#DatasetOutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The config for the output content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ExportData."
      }
    },
    "com.gcp.translate_v3#SupportedLanguage": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the language localized in the display language specified in the request."
          }
        },
        "supportTarget": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can be used as a target language."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN')."
          }
        },
        "supportSource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can be used as a source language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single supported language response corresponds to information related to one supported language."
      }
    },
    "com.gcp.translate_v3#Dataset": {
      "type": "structure",
      "members": {
        "exampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of examples in the dataset."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this dataset was last updated."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code of the source language."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code of the target language."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this dataset was created."
          }
        },
        "trainExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of training examples (sentence pairs)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
          }
        },
        "testExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of test examples (sentence pairs)."
          }
        },
        "validateExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of validation examples (sentence pairs)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dataset that hosts the examples (sentence pairs) used for translation models."
      }
    },
    "com.gcp.translate_v3#BatchTranslateTextRequest": {
      "type": "structure",
      "members": {
        "targetLanguageCodes": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "models": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used."
          }
        },
        "inputConfigs": {
          "target": "com.gcp.translate_v3#InputConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
          }
        },
        "labels": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
          }
        },
        "glossaries": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfigMap",
          "traits": {
            "smithy.api#documentation": "Optional. Glossaries to be applied for translation. It's keyed by target language code."
          }
        },
        "outputConfig": {
          "target": "com.gcp.translate_v3#OutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch translation request."
      }
    },
    "com.gcp.translate_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.translate_v3#InputConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#InputConfig"
      }
    },
    "com.gcp.translate_v3#TranslateTextGlossaryConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.translate_v3#TranslateTextGlossaryConfig"
      }
    },
    "com.gcp.translate_v3#LanguageCodesSet": {
      "type": "structure",
      "members": {
        "languageCodes": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used with equivalent term set glossaries."
      }
    },
    "com.gcp.translate_v3#DetectLanguageRequest": {
      "type": "structure",
      "members": {
        "documentInputConfig": {
          "target": "com.gcp.translate_v3#DocumentInputConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The document configuration of the input."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the input stored as a string."
          }
        },
        "labels": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for language detection."
      }
    },
    "com.gcp.translate_v3#DetectedLanguage": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-639 language code of the source content in the request, detected automatically."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence of the detection result for this language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for language detection."
      }
    },
    "com.gcp.translate_v3#DocumentTranslation": {
      "type": "structure",
      "members": {
        "detectedLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        },
        "byteStreamOutputs": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The translated document's mime type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A translated document message."
      }
    },
    "com.gcp.translate_v3#DatasetInputConfig": {
      "type": "structure",
      "members": {
        "inputFiles": {
          "target": "com.gcp.translate_v3#InputFileList",
          "traits": {
            "smithy.api#documentation": "Files containing the sentence pairs to be imported to the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input configuration for datasets."
      }
    },
    "com.gcp.translate_v3#InputFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#InputFile"
      }
    },
    "com.gcp.translate_v3#TranslateDocumentResponse": {
      "type": "structure",
      "members": {
        "glossaryDocumentTranslation": {
          "target": "com.gcp.translate_v3#DocumentTranslation",
          "traits": {
            "smithy.api#documentation": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
          }
        },
        "glossaryConfig": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfig",
          "traits": {
            "smithy.api#documentation": "The `glossary_config` used for this translation."
          }
        },
        "documentTranslation": {
          "target": "com.gcp.translate_v3#DocumentTranslation",
          "traits": {
            "smithy.api#documentation": "Translated document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A translated document response message."
      }
    },
    "com.gcp.translate_v3#GlossaryConfig": {
      "type": "structure",
      "members": {
        "glossary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
          }
        },
        "ignoreCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
          }
        },
        "contextualTranslationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the glossary will be used for contextual translation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures which glossary is used for a specific target language and defines options for applying that glossary."
      }
    },
    "com.gcp.translate_v3#GcsDestination": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location for the output content."
      }
    },
    "com.gcp.translate_v3#TranslateTextGlossaryConfig": {
      "type": "structure",
      "members": {
        "glossary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
          }
        },
        "ignoreCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
          }
        },
        "contextualTranslationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the glossary will be used for contextual translation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures which glossary is used for a specific target language and defines options for applying that glossary."
      }
    },
    "com.gcp.translate_v3#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.translate_v3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.translate_v3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#DocumentMap"
      }
    },
    "com.gcp.translate_v3#RefineTextRequest": {
      "type": "structure",
      "members": {
        "refinementEntries": {
          "target": "com.gcp.translate_v3#RefinementEntryList",
          "traits": {
            "smithy.api#documentation": "Required. The source texts and original translations in the source and target languages."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\"."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RefineText."
      }
    },
    "com.gcp.translate_v3#RefinementEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#RefinementEntry"
      }
    },
    "com.gcp.translate_v3#ListGlossaryEntriesResponse": {
      "type": "structure",
      "members": {
        "glossaryEntries": {
          "target": "com.gcp.translate_v3#GlossaryEntryList",
          "traits": {
            "smithy.api#documentation": "Optional. The Glossary Entries"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGlossaryEntries"
      }
    },
    "com.gcp.translate_v3#GlossaryEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#GlossaryEntry"
      }
    },
    "com.gcp.translate_v3#Glossary": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the glossary."
          }
        },
        "languageCodesSet": {
          "target": "com.gcp.translate_v3#LanguageCodesSet",
          "traits": {
            "smithy.api#documentation": "Used with equivalent term set glossaries."
          }
        },
        "languagePair": {
          "target": "com.gcp.translate_v3#LanguageCodePair",
          "traits": {
            "smithy.api#documentation": "Used with unidirectional glossaries."
          }
        },
        "entryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of entries defined in the glossary."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the glossary creation was finished."
          }
        },
        "submitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When CreateGlossary was called."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`."
          }
        },
        "inputConfig": {
          "target": "com.gcp.translate_v3#GlossaryInputConfig",
          "traits": {
            "smithy.api#documentation": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a glossary built from user-provided data."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtSentence": {
      "type": "structure",
      "members": {
        "sourceSentence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The source sentence."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this sentence was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this sentence was created."
          }
        },
        "targetSentence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The target sentence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AdaptiveMt sentence entry."
      }
    },
    "com.gcp.translate_v3#RefineTextResponse": {
      "type": "structure",
      "members": {
        "refinedTranslations": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The refined translations obtained from the original translations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for RefineText."
      }
    },
    "com.gcp.translate_v3#ReferenceSentencePair": {
      "type": "structure",
      "members": {
        "targetSentence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target sentence in the sentence pair."
          }
        },
        "sourceSentence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source sentence in the sentence pair."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pair of sentences used as reference in source and target languages."
      }
    },
    "com.gcp.translate_v3#GlossaryTerm": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text for the glossary term."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language for this glossary term."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single glossary term"
      }
    },
    "com.gcp.translate_v3#DetectLanguageResponse": {
      "type": "structure",
      "members": {
        "languages": {
          "target": "com.gcp.translate_v3#DetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for language detection."
      }
    },
    "com.gcp.translate_v3#DetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#DetectedLanguage"
      }
    },
    "com.gcp.translate_v3#TransliterationConfig": {
      "type": "structure",
      "members": {
        "enableTransliteration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, source text in romanized form can be translated to the target language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures transliteration feature on top of translation."
      }
    },
    "com.gcp.translate_v3#ListDatasetsResponse": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.gcp.translate_v3#DatasetList",
          "traits": {
            "smithy.api#documentation": "The datasets read."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListDatasets."
      }
    },
    "com.gcp.translate_v3#DatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Dataset"
      }
    },
    "com.gcp.translate_v3#ImportDataRequest": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.translate_v3#DatasetInputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The config for the input content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ImportData."
      }
    },
    "com.gcp.translate_v3#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.translate_v3#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.translate_v3#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Location"
      }
    },
    "com.gcp.translate_v3#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.translate_v3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.translate_v3#LanguageCodePair": {
      "type": "structure",
      "members": {
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used with unidirectional glossaries."
      }
    },
    "com.gcp.translate_v3#Example": {
      "type": "structure",
      "members": {
        "targetText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sentence in target language."
          }
        },
        "usage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`"
          }
        },
        "sourceText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sentence in source language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sentence pair."
      }
    },
    "com.gcp.translate_v3#Romanization": {
      "type": "structure",
      "members": {
        "romanizedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Romanized text. If an error occurs during romanization, this field might be excluded from the response."
          }
        },
        "detectedLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single romanization response."
      }
    },
    "com.gcp.translate_v3#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.translate_v3#ListModelsResponse": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.gcp.translate_v3#ModelList",
          "traits": {
            "smithy.api#documentation": "The models read."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListModels."
      }
    },
    "com.gcp.translate_v3#ModelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Model"
      }
    },
    "com.gcp.translate_v3#GcsInputSource": {
      "type": "structure",
      "members": {
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location for the input content."
      }
    },
    "com.gcp.translate_v3#TranslateTextRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used"
          }
        },
        "glossaryConfig": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "labels": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
          }
        },
        "contents": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
          }
        },
        "transliterationConfig": {
          "target": "com.gcp.translate_v3#TransliterationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Transliteration to be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for synchronous translation."
      }
    },
    "com.gcp.translate_v3#GlossaryTermsSet": {
      "type": "structure",
      "members": {
        "terms": {
          "target": "com.gcp.translate_v3#GlossaryTermList",
          "traits": {
            "smithy.api#documentation": "Each term in the set represents a term that can be replaced by the other terms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set."
      }
    },
    "com.gcp.translate_v3#GlossaryTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#GlossaryTerm"
      }
    },
    "com.gcp.translate_v3#BatchDocumentInputConfig": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.translate_v3#GcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input configuration for BatchTranslateDocument request."
      }
    },
    "com.gcp.translate_v3#RomanizeTextRequest": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The content of the input in string format."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for synchronous romanization."
      }
    },
    "com.gcp.translate_v3#DocumentOutputConfig": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        },
        "gcsDestination": {
          "target": "com.gcp.translate_v3#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document translation request output config."
      }
    },
    "com.gcp.translate_v3#ImportAdaptiveMtFileRequest": {
      "type": "structure",
      "members": {
        "fileInputSource": {
          "target": "com.gcp.translate_v3#FileInputSource",
          "traits": {
            "smithy.api#documentation": "Inline file source."
          }
        },
        "gcsInputSource": {
          "target": "com.gcp.translate_v3#GcsInputSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage file source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for importing an AdaptiveMt file along with its sentences."
      }
    },
    "com.gcp.translate_v3#BatchTranslateDocumentRequest": {
      "type": "structure",
      "members": {
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "models": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used."
          }
        },
        "enableRotationCorrection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, enable auto rotation correction in DVS."
          }
        },
        "glossaries": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfigMap",
          "traits": {
            "smithy.api#documentation": "Optional. Glossaries to be applied. It's keyed by target language code."
          }
        },
        "customizedAttribution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos"
          }
        },
        "outputConfig": {
          "target": "com.gcp.translate_v3#BatchDocumentOutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs."
          }
        },
        "targetLanguageCodes": {
          "target": "com.gcp.translate_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "inputConfigs": {
          "target": "com.gcp.translate_v3#BatchDocumentInputConfigList",
          "traits": {
            "smithy.api#documentation": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
          }
        },
        "enableShadowRemovalNativePdf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false"
          }
        },
        "formatConversions": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file."
          }
        },
        "pdfNativeOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, only native pdf pages will be translated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The BatchTranslateDocument request."
      }
    },
    "com.gcp.translate_v3#BatchDocumentInputConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#BatchDocumentInputConfig"
      }
    },
    "com.gcp.translate_v3#ReferenceSentenceConfig": {
      "type": "structure",
      "members": {
        "referenceSentencePairLists": {
          "target": "com.gcp.translate_v3#ReferenceSentencePairListList",
          "traits": {
            "smithy.api#documentation": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source language code."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target language code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message of caller-provided reference configuration."
      }
    },
    "com.gcp.translate_v3#ReferenceSentencePairListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#ReferenceSentencePairList"
      }
    },
    "com.gcp.translate_v3#AdaptiveMtTranslation": {
      "type": "structure",
      "members": {
        "translatedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The translated text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AdaptiveMt translation."
      }
    },
    "com.gcp.translate_v3#InputFile": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.translate_v3#GcsInputSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage file source."
          }
        },
        "usage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An input file."
      }
    },
    "com.gcp.translate_v3#Model": {
      "type": "structure",
      "members": {
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The BCP-47 language code of the source language."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The BCP-47 language code of the target language."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the model resource was created, which is also when the training started."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this model was last updated."
          }
        },
        "testExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples (sentence pairs) used to test the model."
          }
        },
        "validateExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples (sentence pairs) used to validate the model."
          }
        },
        "trainExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of examples (sentence pairs) used to train the model."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A trained translation model."
      }
    },
    "com.gcp.translate_v3#RomanizeTextResponse": {
      "type": "structure",
      "members": {
        "romanizations": {
          "target": "com.gcp.translate_v3#RomanizationList",
          "traits": {
            "smithy.api#documentation": "Text romanization responses. This field has the same length as `contents`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for synchronous romanization."
      }
    },
    "com.gcp.translate_v3#RomanizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#Romanization"
      }
    },
    "com.gcp.translate_v3#AdaptiveMtDataset": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this dataset was created."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code of the source language."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code of the target language."
          }
        },
        "exampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of examples in the dataset."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this dataset was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Adaptive MT Dataset."
      }
    },
    "com.gcp.translate_v3#ReferenceSentencePairList": {
      "type": "structure",
      "members": {
        "referenceSentencePairs": {
          "target": "com.gcp.translate_v3#ReferenceSentencePairList_",
          "traits": {
            "smithy.api#documentation": "Reference sentence pairs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of reference sentence pairs."
      }
    },
    "com.gcp.translate_v3#ReferenceSentencePairList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#ReferenceSentencePair"
      }
    },
    "com.gcp.translate_v3#DocumentInputConfig": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.translate_v3#GcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf"
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document's content represented as a stream of bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document translation request input config."
      }
    },
    "com.gcp.translate_v3#WaitOperationRequest": {
      "type": "structure",
      "members": {
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for Operations.WaitOperation."
      }
    },
    "com.gcp.translate_v3#TranslateDocumentRequest": {
      "type": "structure",
      "members": {
        "enableRotationCorrection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, enable auto rotation correction in DVS."
          }
        },
        "documentOutputConfig": {
          "target": "com.gcp.translate_v3#DocumentOutputConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type."
          }
        },
        "glossaryConfig": {
          "target": "com.gcp.translate_v3#TranslateTextGlossaryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned."
          }
        },
        "sourceLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model."
          }
        },
        "targetLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
          }
        },
        "documentInputConfig": {
          "target": "com.gcp.translate_v3#DocumentInputConfig",
          "traits": {
            "smithy.api#documentation": "Required. Input configurations."
          }
        },
        "customizedAttribution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos"
          }
        },
        "labels": {
          "target": "com.gcp.translate_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation."
          }
        },
        "isTranslateNativePdfOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
          }
        },
        "enableShadowRemovalNativePdf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document translation request."
      }
    },
    "com.gcp.translate_v3#ListAdaptiveMtFilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
          }
        },
        "adaptiveMtFiles": {
          "target": "com.gcp.translate_v3#AdaptiveMtFileList",
          "traits": {
            "smithy.api#documentation": "Output only. The Adaptive MT files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for listing all AdaptiveMt files under a given dataset."
      }
    },
    "com.gcp.translate_v3#AdaptiveMtFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v3#AdaptiveMtFile"
      }
    },
    "com.gcp.translate_v3#GetSupportedLanguagesProjectsRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
            "smithy.api#httpQuery": "model"
          }
        },
        "displayLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
            "smithy.api#httpQuery": "displayLanguageCode"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.translate_v3#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.translate_v3#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.translate_v3#GetSupportedLanguagesProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v3#GetSupportedLanguagesProjectsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v3#SupportedLanguages"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v3#NotFound"
        },
        {
          "target": "com.gcp.translate_v3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v3/{+parent}/supportedLanguages"
        },
        "smithy.api#documentation": "Returns a list of supported languages for translation."
      }
    },
    "com.gcp.translate_v3#TranslateTextProjectsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.translate_v3#TranslateTextRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.translate_v3#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.translate_v3#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.translate_v3#TranslateTextProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v3#TranslateTextProjectsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v3#TranslateTextResponse"
      },
      "errors": [
        {
[...]
