{
  "smithy": "2.0",
  "metadata": {
    "service": "verifiedaccess",
    "version": "v2",
    "title": "Chrome Verified Access API",
    "baseUrl": "https://verifiedaccess.googleapis.com/"
  },
  "shapes": {
    "com.gcp.verifiedaccess_v2#VerifyChallengeResponseRequest": {
      "type": "structure",
      "members": {
        "challengeResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The generated response to the challenge, the bytes representation of SignedData."
          }
        },
        "expectedIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed ChallengeResponse."
      }
    },
    "com.gcp.verifiedaccess_v2#CrowdStrikeAgent": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Agent ID of the Crowdstrike agent."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Customer ID to which the agent belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the CrowdStrike agent installed on a device."
      }
    },
    "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResult": {
      "type": "structure",
      "members": {
        "deviceSignals": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignals",
          "traits": {
            "smithy.api#documentation": "Output only. Device signals."
          }
        },
        "signedPublicKeyAndChallenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
          }
        },
        "virtualProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The client-provided ID of a profile on the device."
          }
        },
        "profileCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique customer id that this profile belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers"
          }
        },
        "keyTrustLevel": {
          "target": "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResultKeyTrustLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Device attested key trust level."
          }
        },
        "devicePermanentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device permanent id is returned in this field (for the machine response only)."
          }
        },
        "attestedDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Attested device ID (ADID)."
          }
        },
        "profileKeyTrustLevel": {
          "target": "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResultProfileKeyTrustLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Profile attested key trust level."
          }
        },
        "profilePermanentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique server-side ID of a profile on the device."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique customer id that this device belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers"
          }
        },
        "deviceEnrollmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device enrollment id for ChromeOS devices."
          }
        },
        "virtualDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Virtual device id of the device. The definition of virtual device id is platform-specific."
          }
        },
        "deviceSignal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. Device signal in json string representation. Prefer using `device_signals` instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result message for VerifiedAccess.VerifyChallengeResponse. The response returned when successful for Managed profiles on Unmanaged browsers will NOT have devicePermanentId, keyTrustLevel, virtualDeviceId and customerId fields. Managed profiles will INSTEAD have the profileCustomerId, virtualProfileId, profilePermanentId and profileKeyTrustLevel fields."
      }
    },
    "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResultKeyTrustLevelEnum": {
      "type": "enum",
      "members": {
        "KEY_TRUST_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TRUST_LEVEL_UNSPECIFIED"
          }
        },
        "CHROME_OS_VERIFIED_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_VERIFIED_MODE"
          }
        },
        "CHROME_OS_DEVELOPER_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_DEVELOPER_MODE"
          }
        },
        "CHROME_BROWSER_HW_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_HW_KEY"
          }
        },
        "CHROME_BROWSER_OS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_OS_KEY"
          }
        },
        "CHROME_BROWSER_NO_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_NO_KEY"
          }
        },
        "CHROME_OS_NO_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_NO_KEY"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResultProfileKeyTrustLevelEnum": {
      "type": "enum",
      "members": {
        "KEY_TRUST_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_TRUST_LEVEL_UNSPECIFIED"
          }
        },
        "CHROME_OS_VERIFIED_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_VERIFIED_MODE"
          }
        },
        "CHROME_OS_DEVELOPER_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_DEVELOPER_MODE"
          }
        },
        "CHROME_BROWSER_HW_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_HW_KEY"
          }
        },
        "CHROME_BROWSER_OS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_OS_KEY"
          }
        },
        "CHROME_BROWSER_NO_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BROWSER_NO_KEY"
          }
        },
        "CHROME_OS_NO_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS_NO_KEY"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#Antivirus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.verifiedaccess_v2#AntivirusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the antivirus on the device. Introduced in Chrome M136."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Antivirus information on a device."
      }
    },
    "com.gcp.verifiedaccess_v2#AntivirusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.verifiedaccess_v2#Challenge": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated challenge, the bytes representation of SignedData."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result message for VerifiedAccess.GenerateChallenge."
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignals": {
      "type": "structure",
      "members": {
        "operatingSystem": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsOperatingSystemEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the Operating System currently running on the device."
          }
        },
        "screenLockSecured": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsScreenLockSecuredEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Screen Lock password protection. On ChromeOS, this value will always be ENABLED as there is not way to disable requiring a password or pin when unlocking the device."
          }
        },
        "windowsMachineDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Windows domain that the current machine has joined. Available on Windows only."
          }
        },
        "browserVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Current version of the Chrome browser which generated this set of signals. Example value: \"107.0.5286.0\"."
          }
        },
        "systemDnsServers": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of the addesses of all OS level DNS servers configured in the device's network settings."
          }
        },
        "osFirewall": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsOsFirewallEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the OS level firewall. On ChromeOS, the value will always be ENABLED on regular devices and UNKNOWN on devices in developer mode. Support for MacOS 15 (Sequoia) and later has been introduced in Chrome M131."
          }
        },
        "profileAffiliationIds": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the Chrome Profile’s user or ChromeOS user."
          }
        },
        "imei": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. International Mobile Equipment Identity (IMEI) of the device. Available on ChromeOS only."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current version of the Operating System. On Windows and linux, the value will also include the security patch information."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the device."
          }
        },
        "macAddresses": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. MAC addresses of the device."
          }
        },
        "secureBootMode": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsSecureBootModeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the device's startup software has its Secure Boot feature enabled. Available on Windows only."
          }
        },
        "windowsUserDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Windows domain for the current OS user. Available on Windows only."
          }
        },
        "passwordProtectionWarningTrigger": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsPasswordProtectionWarningTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the Password Protection Warning feature is enabled or not. Password protection alerts users when they reuse their protected password on potentially suspicious sites. This setting is controlled by an enterprise policy: https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger. Note that the policy unset does not have the same effects as having the policy explicitly set to `PASSWORD_PROTECTION_OFF`."
          }
        },
        "profileEnrollmentDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Enrollment domain of the customer which is currently managing the profile."
          }
        },
        "deviceModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the device's model."
          }
        },
        "trigger": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The trigger which generated this set of signals."
          }
        },
        "realtimeUrlCheckMode": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsRealtimeUrlCheckModeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether Enterprise-grade (i.e. custom) unsafe URL scanning is enabled or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode"
          }
        },
        "allowScreenLock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Value of the AllowScreenLock policy on the device. See https://chromeenterprise.google/policies/?policy=AllowScreenLock for more details. Available on ChromeOS only."
          }
        },
        "deviceAffiliationIds": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the device. When the sets of device and profile affiliation IDs overlap, it means that the organizations managing the device and user are affiliated. To learn more about user affiliation, visit https://support.google.com/chrome/a/answer/12801245?ref_topic=9027936."
          }
        },
        "meid": {
          "target": "com.gcp.verifiedaccess_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Mobile Equipment Identifier (MEID) of the device. Available on ChromeOS only."
          }
        },
        "deviceManufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the device's manufacturer."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The serial number of the device. On Windows, this represents the BIOS's serial number. Not available on most Linux distributions."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the device, as defined by the user."
          }
        },
        "thirdPartyBlockingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. The corresponding policy is now deprecated. Whether Chrome is blocking third-party software injection or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/?policy=ThirdPartyBlockingEnabled. Available on Windows only."
          }
        },
        "diskEncryption": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsDiskEncryptionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The encryption state of the disk. On ChromeOS, the main disk is always ENCRYPTED."
          }
        },
        "siteIsolationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the Site Isolation (a.k.a Site Per Process) setting is enabled. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SitePerProcess"
          }
        },
        "builtInDnsClientEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether Chrome's built-in DNS client is used. The OS DNS client is otherwise used. This value may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled."
          }
        },
        "chromeRemoteDesktopAppBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether access to the Chrome Remote Desktop application is blocked via a policy."
          }
        },
        "deviceEnrollmentDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Enrollment domain of the customer which is currently managing the device."
          }
        },
        "antivirus": {
          "target": "com.gcp.verifiedaccess_v2#Antivirus",
          "traits": {
            "smithy.api#documentation": "Output only. Information about Antivirus software on the device. Available on Windows only."
          }
        },
        "safeBrowsingProtectionLevel": {
          "target": "com.gcp.verifiedaccess_v2#DeviceSignalsSafeBrowsingProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Safe Browsing Protection Level. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel."
          }
        },
        "crowdStrikeAgent": {
          "target": "com.gcp.verifiedaccess_v2#CrowdStrikeAgent",
          "traits": {
            "smithy.api#documentation": "Output only. Crowdstrike agent properties installed on the device, if any. Available on Windows and MacOS only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The device signals as reported by Chrome. Unless otherwise specified, signals are available on all platforms."
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsOperatingSystemEnum": {
      "type": "enum",
      "members": {
        "OPERATING_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_SYSTEM_UNSPECIFIED"
          }
        },
        "CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS"
          }
        },
        "CHROMIUM_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROMIUM_OS"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "MAC_OS_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC_OS_X"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsScreenLockSecuredEnum": {
      "type": "enum",
      "members": {
        "SCREEN_LOCK_SECURED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_LOCK_SECURED_UNSPECIFIED"
          }
        },
        "SCREEN_LOCK_SECURED_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_LOCK_SECURED_UNKNOWN"
          }
        },
        "SCREEN_LOCK_SECURED_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_LOCK_SECURED_DISABLED"
          }
        },
        "SCREEN_LOCK_SECURED_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_LOCK_SECURED_ENABLED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsOsFirewallEnum": {
      "type": "enum",
      "members": {
        "OS_FIREWALL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FIREWALL_UNSPECIFIED"
          }
        },
        "OS_FIREWALL_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FIREWALL_UNKNOWN"
          }
        },
        "OS_FIREWALL_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FIREWALL_DISABLED"
          }
        },
        "OS_FIREWALL_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_FIREWALL_ENABLED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsSecureBootModeEnum": {
      "type": "enum",
      "members": {
        "SECURE_BOOT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_BOOT_MODE_UNSPECIFIED"
          }
        },
        "SECURE_BOOT_MODE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_BOOT_MODE_UNKNOWN"
          }
        },
        "SECURE_BOOT_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_BOOT_MODE_DISABLED"
          }
        },
        "SECURE_BOOT_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_BOOT_MODE_ENABLED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsPasswordProtectionWarningTriggerEnum": {
      "type": "enum",
      "members": {
        "PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED"
          }
        },
        "POLICY_UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_UNSET"
          }
        },
        "PASSWORD_PROTECTION_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_PROTECTION_OFF"
          }
        },
        "PASSWORD_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_REUSE"
          }
        },
        "PHISHING_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING_REUSE"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsTriggerEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_UNSPECIFIED"
          }
        },
        "TRIGGER_BROWSER_NAVIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_BROWSER_NAVIGATION"
          }
        },
        "TRIGGER_LOGIN_SCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_LOGIN_SCREEN"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsRealtimeUrlCheckModeEnum": {
      "type": "enum",
      "members": {
        "REALTIME_URL_CHECK_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_URL_CHECK_MODE_UNSPECIFIED"
          }
        },
        "REALTIME_URL_CHECK_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_URL_CHECK_MODE_DISABLED"
          }
        },
        "REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsDiskEncryptionEnum": {
      "type": "enum",
      "members": {
        "DISK_ENCRYPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_ENCRYPTION_UNSPECIFIED"
          }
        },
        "DISK_ENCRYPTION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_ENCRYPTION_UNKNOWN"
          }
        },
        "DISK_ENCRYPTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_ENCRYPTION_DISABLED"
          }
        },
        "DISK_ENCRYPTION_ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_ENCRYPTION_ENCRYPTED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#DeviceSignalsSafeBrowsingProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#VerifyChallengeRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.verifiedaccess_v2#VerifyChallengeResponseRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.verifiedaccess_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.verifiedaccess_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.verifiedaccess_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.verifiedaccess_v2#VerifyChallenge": {
      "type": "operation",
      "input": {
        "target": "com.gcp.verifiedaccess_v2#VerifyChallengeRequest"
      },
      "output": {
        "target": "com.gcp.verifiedaccess_v2#VerifyChallengeResponseResult"
      },
      "errors": [
        {
          "target": "com.gcp.verifiedaccess_v2#NotFound"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#Forbidden"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#BadRequest"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/challenge:verify"
        },
        "smithy.api#documentation": "Verifies the challenge response."
      }
    },
    "com.gcp.verifiedaccess_v2#GenerateChallengeRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.verifiedaccess_v2#Empty",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.verifiedaccess_v2#GenerateChallenge": {
      "type": "operation",
      "input": {
        "target": "com.gcp.verifiedaccess_v2#GenerateChallengeRequest"
      },
      "output": {
        "target": "com.gcp.verifiedaccess_v2#Challenge"
      },
      "errors": [
        {
          "target": "com.gcp.verifiedaccess_v2#NotFound"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#Forbidden"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#BadRequest"
        },
        {
          "target": "com.gcp.verifiedaccess_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/challenge:generate"
        },
        "smithy.api#documentation": "Generates a new challenge."
      }
    }
  }
}
