{
  "smithy": "2.0",
  "metadata": {
    "service": "versionhistory",
    "version": "v1",
    "title": "versionhistory.googleapis.com API",
    "baseUrl": "https://versionhistory.googleapis.com/"
  },
  "shapes": {
    "com.gcp.versionhistory_v1#Channel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\""
          }
        },
        "channelType": {
          "target": "com.gcp.versionhistory_v1#ChannelChannelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Each Channel is owned by a Platform and owns a collection of versions. Possible Channels are listed in the Channel enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
      }
    },
    "com.gcp.versionhistory_v1#ChannelChannelTypeEnum": {
      "type": "enum",
      "members": {
        "CHANNEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_TYPE_UNSPECIFIED"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "DEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEV"
          }
        },
        "CANARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANARY"
          }
        },
        "CANARY_ASAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANARY_ASAN"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTENDED"
          }
        },
        "LTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTS"
          }
        },
        "LTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTC"
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#ListVersionsResponse": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.versionhistory_v1#VersionList",
          "traits": {
            "smithy.api#documentation": "The list of versions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListVersions."
      }
    },
    "com.gcp.versionhistory_v1#VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.versionhistory_v1#Version"
      }
    },
    "com.gcp.versionhistory_v1#ListReleasesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "releases": {
          "target": "com.gcp.versionhistory_v1#ReleaseList",
          "traits": {
            "smithy.api#documentation": "The list of releases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListReleases."
      }
    },
    "com.gcp.versionhistory_v1#ReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.versionhistory_v1#Release"
      }
    },
    "com.gcp.versionhistory_v1#Version": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\" e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\""
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String containing just the version number. e.g. \"84.0.4147.38\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Each Version is owned by a Channel. A Version only displays the Version number (e.g. 84.0.4147.38). A Version owns a collection of releases."
      }
    },
    "com.gcp.versionhistory_v1#Platform": {
      "type": "structure",
      "members": {
        "platformType": {
          "target": "com.gcp.versionhistory_v1#PlatformPlatformTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of platform."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Platform name. Format is \"{product}/platforms/{platform}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Each Platform is owned by a Product and owns a collection of channels. Available platforms are listed in Platform enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
      }
    },
    "com.gcp.versionhistory_v1#PlatformPlatformTypeEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_TYPE_UNSPECIFIED"
          }
        },
        "WIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIN"
          }
        },
        "WIN64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIN64"
          }
        },
        "MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "WEBVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBVIEW"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "MAC_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC_ARM64"
          }
        },
        "LACROS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACROS"
          }
        },
        "LACROS_ARM32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACROS_ARM32"
          }
        },
        "CHROMEOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROMEOS"
          }
        },
        "LACROS_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACROS_ARM64"
          }
        },
        "FUCHSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUCHSIA"
          }
        },
        "WIN_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIN_ARM64"
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#Release": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
          }
        },
        "serving": {
          "target": "com.gcp.versionhistory_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Timestamp interval of when the release was live. If end_time is unspecified, the release is currently live."
          }
        },
        "fractionGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout fraction group. Only fractions with the same fraction_group are statistically comparable: there may be non-fractional differences between different fraction groups."
          }
        },
        "rolloutData": {
          "target": "com.gcp.versionhistory_v1#RolloutDataList",
          "traits": {
            "smithy.api#documentation": "Rollout-related metadata. Some releases are part of one or more A/B rollouts. This field contains the names and data describing this release's role in any rollouts."
          }
        },
        "fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rollout fraction. This fraction indicates the fraction of people that should receive this version in this release. If the fraction is not specified in ReleaseManager, the API will assume fraction is 1."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String containing just the version number. e.g. \"84.0.4147.38\""
          }
        },
        "pinnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the release was available for version pinning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Release is owned by a Version. A Release contains information about the release(s) of its parent version. This includes when the release began and ended, as well as what percentage it was released at. If the version is released again, or if the serving percentage changes, it will create another release under the version."
      }
    },
    "com.gcp.versionhistory_v1#RolloutDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.versionhistory_v1#RolloutData"
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsResponse": {
      "type": "structure",
      "members": {
        "platforms": {
          "target": "com.gcp.versionhistory_v1#PlatformList",
          "traits": {
            "smithy.api#documentation": "The list of platforms."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListPlatforms."
      }
    },
    "com.gcp.versionhistory_v1#PlatformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.versionhistory_v1#Platform"
      }
    },
    "com.gcp.versionhistory_v1#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.gcp.versionhistory_v1#ChannelList",
          "traits": {
            "smithy.api#documentation": "The list of channels."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListChannels."
      }
    },
    "com.gcp.versionhistory_v1#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.versionhistory_v1#Channel"
      }
    },
    "com.gcp.versionhistory_v1#Interval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.versionhistory_v1#RolloutData": {
      "type": "structure",
      "members": {
        "rolloutName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the rollout."
          }
        },
        "tag": {
          "target": "com.gcp.versionhistory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags associated with a release's role in a rollout. Most rollouts will have at least one release with a \"rollout\" tag and another release with a \"control\" tag. Some rollouts may have additional named arms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rollout-related metadata for a release."
      }
    },
    "com.gcp.versionhistory_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The product, which owns this collection of platforms. Format: {product}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.versionhistory_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.versionhistory_v1#ListPlatforms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.versionhistory_v1#ListPlatformsRequest"
      },
      "output": {
        "target": "com.gcp.versionhistory_v1#ListPlatformsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.versionhistory_v1#NotFound"
        },
        {
          "target": "com.gcp.versionhistory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/platforms"
        },
        "smithy.api#documentation": "Returns list of platforms that are available for a given product. The resource \"product\" has no resource name in its name.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannelsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The platform, which owns this collection of channels. Format: {product}/platforms/{platform}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannels": {
      "type": "operation",
      "input": {
        "target": "com.gcp.versionhistory_v1#ListPlatformsChannelsRequest"
      },
      "output": {
        "target": "com.gcp.versionhistory_v1#ListChannelsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.versionhistory_v1#NotFound"
        },
        {
          "target": "com.gcp.versionhistory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/channels"
        },
        "smithy.api#documentation": "Returns list of channels that are available for a given platform.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannelsVersionsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Optional limit on the number of versions to include in the response. If unspecified, the server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"platform\", and \"channel\". Optionally, you can append \" desc\" or \" asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by version in descending order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc, channel, version\"",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", and \"channel\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. If version is not entirely written, the version will be appended with 0 in missing fields. Ex) version > 80 becoms version > 80.0.0.0 Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The channel, which owns this collection of versions. Format: {product}/platforms/{platform}/channels/{channel}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannelsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.versionhistory_v1#ListPlatformsChannelsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.versionhistory_v1#ListVersionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.versionhistory_v1#NotFound"
        },
        {
          "target": "com.gcp.versionhistory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/versions"
        },
        "smithy.api#documentation": "Returns list of version for the given platform/channel.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannelsVersionsReleasesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version, which owns this collection of releases. Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Optional limit on the number of releases to include in the response. If unspecified, the server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by starttime in descending order. Ex) \"...?order_by=starttime asc\" Ex) \"...?order_by=platform desc, channel, startime desc\"",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", \"channel\", \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. must be a valid channel when filtering by channel. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. Ex) 1.0.0.8 < 1.0.0.10. If version is not entirely written, the version will be appended with 0 for the missing fields. Ex) version > 80 becoms version > 80.0.0.0 When filtering by starttime or endtime, string must be in RFC 3339 date string format. Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81 Ex) \"...?filter=starttime>2020-01-01T00:00:00Z",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.versionhistory_v1#ListPlatformsChannelsVersionsReleases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.versionhistory_v1#ListPlatformsChannelsVersionsReleasesRequest"
      },
      "output": {
        "target": "com.gcp.versionhistory_v1#ListReleasesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.versionhistory_v1#NotFound"
        },
        {
          "target": "com.gcp.versionhistory_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/releases"
        },
        "smithy.api#documentation": "Returns list of releases of the given version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
