{
  "smithy": "2.0",
  "metadata": {
    "service": "vmwareengine",
    "version": "v1",
    "title": "VMware Engine API",
    "baseUrl": "https://vmwareengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.vmwareengine_v1#DatastoreNetwork": {
      "type": "structure",
      "members": {
        "networkPeering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering"
          }
        },
        "connectionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts."
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet"
          }
        },
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network configuration for the datastore."
      }
    },
    "com.gcp.vmwareengine_v1#HcxActivationKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`"
          }
        },
        "activationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. HCX activation key."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of HCX activation key."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#HcxActivationKeyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of HCX activation key."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones."
      }
    },
    "com.gcp.vmwareengine_v1#HcxActivationKeyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "CONSUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#RepairManagementDnsZoneBindingRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VmwareEngine.RepairManagementDnsZoneBindings"
      }
    },
    "com.gcp.vmwareengine_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.vmwareengine_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.vmwareengine_v1#ListExternalAddressesResponse": {
      "type": "structure",
      "members": {
        "externalAddresses": {
          "target": "com.gcp.vmwareengine_v1#ExternalAddressList",
          "traits": {
            "smithy.api#documentation": "A list of external IP addresses."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListExternalAddresses"
      }
    },
    "com.gcp.vmwareengine_v1#ExternalAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#ExternalAddress"
      }
    },
    "com.gcp.vmwareengine_v1#DnsBindPermission": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.gcp.vmwareengine_v1#PrincipalList",
          "traits": {
            "smithy.api#documentation": "Output only. Users/Service accounts which have access for binding on the intranet VPC project corresponding to the consumer project."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Output only. The name of the resource which stores the users/service accounts having the permission to bind to the corresponding intranet VPC of the consumer project. DnsBindPermission is a global resource and location can only be global. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/dnsBindPermission`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DnsBindPermission resource that contains the accounts having the consumer DNS bind permission on the corresponding intranet VPC of the consumer project."
      }
    },
    "com.gcp.vmwareengine_v1#PrincipalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#Principal"
      }
    },
    "com.gcp.vmwareengine_v1#VmwareUpgradeComponent": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "com.gcp.vmwareengine_v1#VmwareUpgradeComponentComponentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of component"
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#VmwareUpgradeComponentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Component's upgrade state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per component upgrade resource"
      }
    },
    "com.gcp.vmwareengine_v1#VmwareUpgradeComponentComponentTypeEnum": {
      "type": "enum",
      "members": {
        "VMWARE_COMPONENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VMWARE_COMPONENT_TYPE_UNSPECIFIED"
          }
        },
        "VCENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VCENTER"
          }
        },
        "ESXI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESXI"
          }
        },
        "NSXT_UC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSXT_UC"
          }
        },
        "NSXT_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSXT_EDGE"
          }
        },
        "NSXT_MGR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSXT_MGR"
          }
        },
        "HCX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HCX"
          }
        },
        "VSAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VSAN"
          }
        },
        "DVS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DVS"
          }
        },
        "NAMESERVER_VM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESERVER_VM"
          }
        },
        "KMS_VM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_VM"
          }
        },
        "WITNESS_VM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITNESS_VM"
          }
        },
        "NSXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSXT"
          }
        },
        "CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER"
          }
        },
        "VM_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_TOOLS"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#VmwareUpgradeComponentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#NetworkPolicy": {
      "type": "structure",
      "members": {
        "vmwareEngineNetworkCanonical": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "internetAccess": {
          "target": "com.gcp.vmwareengine_v1#NetworkService",
          "traits": {
            "smithy.api#documentation": "Network service that allows VMware workloads to access the internet."
          }
        },
        "externalIp": {
          "target": "com.gcp.vmwareengine_v1#NetworkService",
          "traits": {
            "smithy.api#documentation": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description for this network policy."
          }
        },
        "vmwareEngineNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "edgeServicesCidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy."
      }
    },
    "com.gcp.vmwareengine_v1#Subnet": {
      "type": "structure",
      "members": {
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range of the subnet in CIDR format '10.0.0.0/24'."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#SubnetStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the subnet. For example \"management\" or \"userDefined\"."
          }
        },
        "gatewayIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above."
          }
        },
        "vlanId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. VLAN ID of the VLAN on which the subnet is configured"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated."
      }
    },
    "com.gcp.vmwareengine_v1#SubnetStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "RECONCILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONCILING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#ListManagementDnsZoneBindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "managementDnsZoneBindings": {
          "target": "com.gcp.vmwareengine_v1#ManagementDnsZoneBindingList",
          "traits": {
            "smithy.api#documentation": "A list of management DNS zone bindings."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListManagementDnsZoneBindings"
      }
    },
    "com.gcp.vmwareengine_v1#ManagementDnsZoneBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#ManagementDnsZoneBinding"
      }
    },
    "com.gcp.vmwareengine_v1#Interval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.vmwareengine_v1#DnsForwarding": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of this DNS profile. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/dnsForwarding`"
          }
        },
        "forwardingRules": {
          "target": "com.gcp.vmwareengine_v1#ForwardingRuleList",
          "traits": {
            "smithy.api#documentation": "Required. List of domain mappings to configure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS forwarding config. This config defines a list of domain to name server mappings, and is attached to the private cloud for custom domain resolution."
      }
    },
    "com.gcp.vmwareengine_v1#ForwardingRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#ForwardingRule"
      }
    },
    "com.gcp.vmwareengine_v1#Constraints": {
      "type": "structure",
      "members": {
        "rescheduleDateRange": {
          "target": "com.gcp.vmwareengine_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. The user can only reschedule an upgrade that starts within this range."
          }
        },
        "minHoursDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Minimum number of hours must be allotted for the upgrade activities for each selected day. This is a minimum; the upgrade schedule can allot more hours for the given day."
          }
        },
        "minHoursWeek": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum number of weekly hours must be allotted for the upgrade activities. This is just a minimum; the schedule can assign more weekly hours."
          }
        },
        "disallowedIntervals": {
          "target": "com.gcp.vmwareengine_v1#WeeklyTimeIntervalList",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. A list of intervals in which maintenance windows are not allowed. Any time window that overlaps with any of these intervals will be considered invalid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constraints to be applied while editing a schedule. These constraints ensure that `Upgrade` specific requirements are met."
      }
    },
    "com.gcp.vmwareengine_v1#WeeklyTimeIntervalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#WeeklyTimeInterval"
      }
    },
    "com.gcp.vmwareengine_v1#ListAnnouncementsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "list of unreachable locations"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "announcements": {
          "target": "com.gcp.vmwareengine_v1#AnnouncementList",
          "traits": {
            "smithy.api#documentation": "A list of announcement runs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListAnnouncements"
      }
    },
    "com.gcp.vmwareengine_v1#AnnouncementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#Announcement"
      }
    },
    "com.gcp.vmwareengine_v1#LoggingServer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "sourceType": {
          "target": "com.gcp.vmwareengine_v1#LoggingServerSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of component that produces logs that will be forwarded to this logging server."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port number at which the logging server receives logs."
          }
        },
        "protocol": {
          "target": "com.gcp.vmwareengine_v1#LoggingServerProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Required. Protocol used by vCenter to send logs to a logging server."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logging server to receive vCenter or ESXi logs."
      }
    },
    "com.gcp.vmwareengine_v1#LoggingServerSourceTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "ESXI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESXI"
          }
        },
        "VCSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VCSA"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#LoggingServerProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        },
        "SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL"
          }
        },
        "RELP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELP"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#NodeTypeConfig": {
      "type": "structure",
      "members": {
        "customCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of nodes of this type in the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the type and number of nodes associated with the cluster."
      }
    },
    "com.gcp.vmwareengine_v1#NfsDatastore": {
      "type": "structure",
      "members": {
        "googleFileService": {
          "target": "com.gcp.vmwareengine_v1#GoogleFileService",
          "traits": {
            "smithy.api#documentation": "Google file service configuration"
          }
        },
        "googleVmwareFileService": {
          "target": "com.gcp.vmwareengine_v1#GoogleVmwareFileService",
          "traits": {
            "smithy.api#documentation": "GCVE file service configuration"
          }
        },
        "thirdPartyFileService": {
          "target": "com.gcp.vmwareengine_v1#ThirdPartyFileService",
          "traits": {
            "smithy.api#documentation": "Third party file service configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The NFS datastore configuration."
      }
    },
    "com.gcp.vmwareengine_v1#ResetNsxCredentialsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VmwareEngine.ResetNsxCredentials"
      }
    },
    "com.gcp.vmwareengine_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.vmwareengine_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.vmwareengine_v1#Vcenter": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name of the appliance."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the appliance."
          }
        },
        "internalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal IP address of the appliance."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#VcenterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the appliance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a vCenter Server management appliance."
      }
    },
    "com.gcp.vmwareengine_v1#VcenterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#TimeWindow": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The duration of the window. The max allowed duration for any window is 24 hours."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.vmwareengine_v1#TimeWindowDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. Day of the week for this window."
          }
        },
        "startTime": {
          "target": "com.gcp.vmwareengine_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Time in UTC when the window starts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the time window to perform upgrade activities."
      }
    },
    "com.gcp.vmwareengine_v1#TimeWindowDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#MountDatastoreRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "datastoreMountConfig": {
          "target": "com.gcp.vmwareengine_v1#DatastoreMountConfig",
          "traits": {
            "smithy.api#documentation": "Required. The datastore mount configuration."
          }
        },
        "ignoreColocation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount Datastore Request message"
      }
    },
    "com.gcp.vmwareengine_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.vmwareengine_v1#GrantDnsBindPermissionRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "principal": {
          "target": "com.gcp.vmwareengine_v1#Principal",
          "traits": {
            "smithy.api#documentation": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VmwareEngine.GrantDnsBindPermission"
      }
    },
    "com.gcp.vmwareengine_v1#ListPrivateConnectionsResponse": {
      "type": "structure",
      "members": {
        "privateConnections": {
          "target": "com.gcp.vmwareengine_v1#PrivateConnectionList",
          "traits": {
            "smithy.api#documentation": "A list of private connections."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListPrivateConnections"
      }
    },
    "com.gcp.vmwareengine_v1#PrivateConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#PrivateConnection"
      }
    },
    "com.gcp.vmwareengine_v1#ListPrivateCloudsResponse": {
      "type": "structure",
      "members": {
        "privateClouds": {
          "target": "com.gcp.vmwareengine_v1#PrivateCloudList",
          "traits": {
            "smithy.api#documentation": "A list of private clouds."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListPrivateClouds"
      }
    },
    "com.gcp.vmwareengine_v1#PrivateCloudList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#PrivateCloud"
      }
    },
    "com.gcp.vmwareengine_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.vmwareengine_v1#RevokeDnsBindPermissionRequest": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.gcp.vmwareengine_v1#Principal",
          "traits": {
            "smithy.api#documentation": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VmwareEngine.RevokeDnsBindPermission"
      }
    },
    "com.gcp.vmwareengine_v1#WeeklyTimeInterval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.vmwareengine_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Output only. The time on the start day at which the interval starts."
          }
        },
        "endDay": {
          "target": "com.gcp.vmwareengine_v1#WeeklyTimeIntervalEndDayEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The day on which the interval ends. Can be same as start day."
          }
        },
        "startDay": {
          "target": "com.gcp.vmwareengine_v1#WeeklyTimeIntervalStartDayEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The day on which the interval starts."
          }
        },
        "endTime": {
          "target": "com.gcp.vmwareengine_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Output only. The time on the end day at which the interval ends."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, spanning across days of the week. Until local timezones are supported, this interval is in UTC."
      }
    },
    "com.gcp.vmwareengine_v1#WeeklyTimeIntervalEndDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#WeeklyTimeIntervalStartDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#GoogleVmwareFileService": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Volume message captures user inputs for creation of file services managed by GCVE"
      }
    },
    "com.gcp.vmwareengine_v1#GoogleFileService": {
      "type": "structure",
      "members": {
        "netappVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume"
          }
        },
        "filestoreInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google service file service configuration"
      }
    },
    "com.gcp.vmwareengine_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.vmwareengine_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.vmwareengine_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#ListLoggingServersResponse": {
      "type": "structure",
      "members": {
        "loggingServers": {
          "target": "com.gcp.vmwareengine_v1#LoggingServerList",
          "traits": {
            "smithy.api#documentation": "A list of Logging Servers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListLoggingServers"
      }
    },
    "com.gcp.vmwareengine_v1#LoggingServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#LoggingServer"
      }
    },
    "com.gcp.vmwareengine_v1#MigrateManagementVmsRequest": {
      "type": "structure",
      "members": {
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user-provided identifier of the workload cluster to which the management VMs are to be migrated. The cluster must be in the same private cloud as the one specified in `name`, and must be a workload cluster. The eventual cluster name will be constructed from the private cloud name and this cluster ID."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VmwareEngine.MigrateManagementVms"
      }
    },
    "com.gcp.vmwareengine_v1#DatastoreMountConfig": {
      "type": "structure",
      "members": {
        "fileShare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File share name."
          }
        },
        "nfsVersion": {
          "target": "com.gcp.vmwareengine_v1#DatastoreMountConfigNfsVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3"
          }
        },
        "datastore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
          }
        },
        "accessMode": {
          "target": "com.gcp.vmwareengine_v1#DatastoreMountConfigAccessModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE"
          }
        },
        "datastoreNetwork": {
          "target": "com.gcp.vmwareengine_v1#DatastoreNetwork",
          "traits": {
            "smithy.api#documentation": "Required. The network configuration for the datastore."
          }
        },
        "servers": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Datastore Mount configuration"
      }
    },
    "com.gcp.vmwareengine_v1#DatastoreMountConfigNfsVersionEnum": {
      "type": "enum",
      "members": {
        "NFS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_VERSION_UNSPECIFIED"
          }
        },
        "NFS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS_V3"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#DatastoreMountConfigAccessModeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_MODE_UNSPECIFIED"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.vmwareengine_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.vmwareengine_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.vmwareengine_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#Operation"
      }
    },
    "com.gcp.vmwareengine_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.vmwareengine_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.vmwareengine_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#AuditLogConfig"
      }
    },
    "com.gcp.vmwareengine_v1#ListNetworkPoliciesResponse": {
      "type": "structure",
      "members": {
        "networkPolicies": {
          "target": "com.gcp.vmwareengine_v1#NetworkPolicyList",
          "traits": {
            "smithy.api#documentation": "A list of network policies."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListNetworkPolicies"
      }
    },
    "com.gcp.vmwareengine_v1#NetworkPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#NetworkPolicy"
      }
    },
    "com.gcp.vmwareengine_v1#ManagementDnsZoneBinding": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description for this resource."
          }
        },
        "vpcNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID."
          }
        },
        "vmwareEngineNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#ManagementDnsZoneBindingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager."
      }
    },
    "com.gcp.vmwareengine_v1#ManagementDnsZoneBindingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        },
        "clusters": {
          "target": "com.gcp.vmwareengine_v1#ClusterList",
          "traits": {
            "smithy.api#documentation": "A list of private cloud clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListClusters"
      }
    },
    "com.gcp.vmwareengine_v1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#Cluster"
      }
    },
    "com.gcp.vmwareengine_v1#Cluster": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "autoscalingSettings": {
          "target": "com.gcp.vmwareengine_v1#AutoscalingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of the autoscaling applied to this cluster."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        },
        "nodeTypeConfigs": {
          "target": "com.gcp.vmwareengine_v1#NodeTypeConfigMap",
          "traits": {
            "smithy.api#documentation": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`)."
          }
        },
        "datastoreMountConfig": {
          "target": "com.gcp.vmwareengine_v1#DatastoreMountConfigList",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration of a mounted datastore."
          }
        },
        "management": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#ClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the resource."
          }
        },
        "stretchedClusterConfig": {
          "target": "com.gcp.vmwareengine_v1#StretchedClusterConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of a stretched cluster. Required for clusters that belong to a STRETCHED private cloud."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cluster in a private cloud."
      }
    },
    "com.gcp.vmwareengine_v1#NodeTypeConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.vmwareengine_v1#NodeTypeConfig"
      }
    },
    "com.gcp.vmwareengine_v1#DatastoreMountConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#DatastoreMountConfig"
      }
    },
    "com.gcp.vmwareengine_v1#ClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#LocationMetadata": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.gcp.vmwareengine_v1#LocationMetadataCapabilitiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Capabilities of this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field."
      }
    },
    "com.gcp.vmwareengine_v1#LocationMetadataCapabilitiesItemEnum": {
      "type": "enum",
      "members": {
        "CAPABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPABILITY_UNSPECIFIED"
          }
        },
        "STRETCHED_CLUSTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRETCHED_CLUSTERS"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#LocationMetadataCapabilitiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#LocationMetadataCapabilitiesItemEnum"
      }
    },
    "com.gcp.vmwareengine_v1#ListNodeTypesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        },
        "nodeTypes": {
          "target": "com.gcp.vmwareengine_v1#NodeTypeList",
          "traits": {
            "smithy.api#documentation": "A list of Node Types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListNodeTypes"
      }
    },
    "com.gcp.vmwareengine_v1#NodeTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#NodeType"
      }
    },
    "com.gcp.vmwareengine_v1#ListPeeringRoutesResponse": {
      "type": "structure",
      "members": {
        "peeringRoutes": {
          "target": "com.gcp.vmwareengine_v1#PeeringRouteList",
          "traits": {
            "smithy.api#documentation": "A list of peering routes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListPeeringRoutes"
      }
    },
    "com.gcp.vmwareengine_v1#PeeringRouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#PeeringRoute"
      }
    },
    "com.gcp.vmwareengine_v1#VmwareEngineNetwork": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of this resource."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-generated unique identifier for the resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description for this VMware Engine network."
          }
        },
        "vpcNetworks": {
          "target": "com.gcp.vmwareengine_v1#VpcNetworkList",
          "traits": {
            "smithy.api#documentation": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services."
          }
        },
        "type": {
          "target": "com.gcp.vmwareengine_v1#VmwareEngineNetworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. VMware Engine network type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this resource."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#VmwareEngineNetworkStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the VMware Engine network."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VMware Engine network resource that provides connectivity for VMware Engine private clouds."
      }
    },
    "com.gcp.vmwareengine_v1#VpcNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#VpcNetwork"
      }
    },
    "com.gcp.vmwareengine_v1#VmwareEngineNetworkTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#VmwareEngineNetworkStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#VpcNetwork": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.vmwareengine_v1#VpcNetworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource."
      }
    },
    "com.gcp.vmwareengine_v1#VpcNetworkTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "INTRANET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTRANET"
          }
        },
        "INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNET"
          }
        },
        "GOOGLE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD"
          }
        }
      }
    },
    "com.gcp.vmwareengine_v1#ListPrivateConnectionPeeringRoutesResponse": {
      "type": "structure",
      "members": {
        "peeringRoutes": {
          "target": "com.gcp.vmwareengine_v1#PeeringRouteList",
          "traits": {
            "smithy.api#documentation": "A list of peering routes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes"
      }
    },
    "com.gcp.vmwareengine_v1#Thresholds": {
      "type": "structure",
      "members": {
        "scaleOut": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The utilization triggering the scale-out operation in percent."
          }
        },
        "scaleIn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The utilization triggering the scale-in operation in percent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thresholds define the utilization of resources triggering scale-out and scale-in operations."
      }
    },
    "com.gcp.vmwareengine_v1#ListSubnetsResponse": {
      "type": "structure",
      "members": {
        "subnets": {
          "target": "com.gcp.vmwareengine_v1#SubnetList",
          "traits": {
            "smithy.api#documentation": "A list of subnets."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached when making an aggregated query using wildcards."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListSubnets"
      }
    },
    "com.gcp.vmwareengine_v1#SubnetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#Subnet"
      }
    },
    "com.gcp.vmwareengine_v1#ListNetworkPeeringsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        },
        "networkPeerings": {
          "target": "com.gcp.vmwareengine_v1#NetworkPeeringList",
          "traits": {
            "smithy.api#documentation": "A list of network peerings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VmwareEngine.ListNetworkPeerings"
      }
    },
    "com.gcp.vmwareengine_v1#NetworkPeeringList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmwareengine_v1#NetworkPeering"
      }
    },
    "com.gcp.vmwareengine_v1#NetworkConfig": {
      "type": "structure",
      "members": {
        "managementCidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Management CIDR used by VMware management appliances."
          }
        },
        "managementIpAddressLayoutVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features."
          }
        },
        "dnsServerIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts."
          }
        },
        "vmwareEngineNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
          }
        },
        "vmwareEngineNetworkCanonical": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network configuration in the consumer project with which the peering has to be done."
      }
    },
    "com.gcp.vmwareengine_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.vmwareengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.vmwareengine_v1#Upgrade": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. End time of the upgrade."
          }
        },
        "schedule": {
          "target": "com.gcp.vmwareengine_v1#Schedule",
          "traits": {
            "smithy.api#documentation": "Schedule details for the upgrade."
          }
        },
        "state": {
          "target": "com.gcp.vmwareengine_v1#UpgradeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the upgrade."
          }
        },
        "startVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. The start version"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. The description of the upgrade. This is used to provide additional information about the private cloud upgrade, such as the upgrade's purpose, the changes included in the upgrade, or any other relevant information about the upgrade."
          }
        },
        "type": {
          "target": "com.gcp.vmwareengine_v1#UpgradeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Output Only. The type of upgrade."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the private cloud `Upgrade`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/privateClouds/my-cloud/upgrades/my-upgrade`"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. "
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
[...]
