{
  "smithy": "2.0",
  "metadata": {
    "service": "walletobjects",
    "version": "v1",
    "title": "Google Wallet API",
    "baseUrl": "https://walletobjects.googleapis.com/"
  },
  "shapes": {
    "com.gcp.walletobjects_v1#UpcomingNotification": {
      "type": "structure",
      "members": {
        "enableNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the object needs to have upcoming notification enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the issuer would like Google Wallet to send an upcoming card validity notification 1 day before card becomes valid/usable."
      }
    },
    "com.gcp.walletobjects_v1#InfoModuleData": {
      "type": "structure",
      "members": {
        "labelValueRows": {
          "target": "com.gcp.walletobjects_v1#LabelValueRowList",
          "traits": {
            "smithy.api#documentation": "A list of collections of labels and values. These will be displayed one after the other in a singular column."
          }
        },
        "showLastUpdateTime": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.walletobjects_v1#LabelValueRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#LabelValueRow"
      }
    },
    "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetails": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The TOTP algorithm used to generate the OTP."
          }
        },
        "periodMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time interval used for the TOTP value generation, in milliseconds."
          }
        },
        "parameters": {
          "target": "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsTotpParametersList",
          "traits": {
            "smithy.api#documentation": "The TOTP parameters for each of the {totp_value_*} substitutions. The TotpParameters at index n is used for the {totp_value_n} substitution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the time-based OTP substitutions. See https://tools.ietf.org/html/rfc6238"
      }
    },
    "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsAlgorithmEnum": {
      "type": "enum",
      "members": {
        "TOTP_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTP_ALGORITHM_UNSPECIFIED"
          }
        },
        "TOTP_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTP_SHA1"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsTotpParametersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsTotpParameters"
      }
    },
    "com.gcp.walletobjects_v1#SetPassUpdateNoticeRequest": {
      "type": "structure",
      "members": {
        "externalPassId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A fully qualified identifier of the pass that the issuer wants to notify the pass holder(s) about. Formatted as ."
          }
        },
        "updatedPassJwtSignature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The JWT signature of the updated pass that the issuer wants to notify Google about. Only devices that report a different JWT signature than this JWT signature will receive the update notification."
          }
        },
        "updateUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issuer endpoint URI the pass holder needs to follow in order to receive an updated pass JWT. It can not contain any sensitive information. The endpoint needs to authenticate the user before giving the user the updated JWT. Example update URI https://someissuer.com/update/passId=someExternalPassId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to send a private pass update notice information to Google, so that devices can then fetch the notice prompting the user to update a pass."
      }
    },
    "com.gcp.walletobjects_v1#ModifyLinkedOfferObjectsRequest": {
      "type": "structure",
      "members": {
        "linkedOfferObjectIds": {
          "target": "com.gcp.walletobjects_v1#ModifyLinkedOfferObjects",
          "traits": {
            "smithy.api#documentation": "The linked offer object ids to add or remove from the object."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#SmartTap": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#smartTap\"`."
          }
        },
        "infos": {
          "target": "com.gcp.walletobjects_v1#IssuerToUserInfoList",
          "traits": {
            "smithy.api#documentation": "Communication from merchant to user."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a smart tap. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is the Smart Tap id. The Smart Tap id is a Base64 encoded string which represents the id which was generated by the Google Pay app."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Smart Tap merchant ID of who engaged in the Smart Tap interaction."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#IssuerToUserInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#IssuerToUserInfo"
      }
    },
    "com.gcp.walletobjects_v1#GiftCardObject": {
      "type": "structure",
      "members": {
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#GiftCardObjectNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "disableExpirationNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "rotatingBarcode": {
          "target": "com.gcp.walletobjects_v1#RotatingBarcode",
          "traits": {
            "smithy.api#documentation": "The rotating barcode type and value."
          }
        },
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "state": {
          "target": "com.gcp.walletobjects_v1#GiftCardObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
          }
        },
        "balance": {
          "target": "com.gcp.walletobjects_v1#Money",
          "traits": {
            "smithy.api#documentation": "The card's monetary balance."
          }
        },
        "balanceUpdateTime": {
          "target": "com.gcp.walletobjects_v1#DateTime",
          "traits": {
            "smithy.api#documentation": "The date and time when the balance was last updated. Offset is required. If balance is updated and this property is not provided, system will default to the current time."
          }
        },
        "linkedObjectIds": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this giftcard object. If a user had saved this gift card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "hasLinkedDevice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
          }
        },
        "classReference": {
          "target": "com.gcp.walletobjects_v1#GiftCardClass",
          "traits": {
            "smithy.api#documentation": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET."
          }
        },
        "validTimeInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
          }
        },
        "passConstraints": {
          "target": "com.gcp.walletobjects_v1#PassConstraints",
          "traits": {
            "smithy.api#documentation": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
          }
        },
        "saveRestrictions": {
          "target": "com.gcp.walletobjects_v1#SaveRestrictions",
          "traits": {
            "smithy.api#documentation": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardObject\"`."
          }
        },
        "groupingInfo": {
          "target": "com.gcp.walletobjects_v1#GroupingInfo",
          "traits": {
            "smithy.api#documentation": "Information that controls how passes are grouped together."
          }
        },
        "eventNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card's event number, an optional field used by some gift cards."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "cardNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The card's number."
          }
        },
        "barcode": {
          "target": "com.gcp.walletobjects_v1#Barcode",
          "traits": {
            "smithy.api#documentation": "The barcode type and value."
          }
        },
        "classId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "smartTapRedemptionValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
          }
        },
        "pin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card's PIN."
          }
        },
        "hasUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the object has users. This field is set by the platform."
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the class, both will be displayed."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#GiftCardObjectNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
        "NOTIFY_ON_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFY_ON_UPDATE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#ImageModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#ImageModuleData"
      }
    },
    "com.gcp.walletobjects_v1#MerchantLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#MerchantLocation"
      }
    },
    "com.gcp.walletobjects_v1#GiftCardObjectStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ACTIVE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "COMPLETED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "EXPIRED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "INACTIVE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.walletobjects_v1#TextModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#TextModuleData"
      }
    },
    "com.gcp.walletobjects_v1#LatLongPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#LatLongPoint"
      }
    },
    "com.gcp.walletobjects_v1#ValueAddedModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#ValueAddedModuleData"
      }
    },
    "com.gcp.walletobjects_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#Message"
      }
    },
    "com.gcp.walletobjects_v1#EventReservationInfo": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventReservationInfo\"`."
          }
        },
        "confirmationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The confirmation code of the event reservation. This may also take the form of an \"order number\", \"confirmation number\", \"reservation number\", or other equivalent."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#AuthenticationKey": {
      "type": "structure",
      "members": {
        "publicKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketObjectAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#EventTicketObject",
          "traits": {
            "smithy.api#documentation": "The updated EventTicketObject resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#AirportInfo": {
      "type": "structure",
      "members": {
        "terminal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Terminal name. Eg: \"INTL\" or \"I\""
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#airportInfo\"`."
          }
        },
        "airportNameOverride": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Optional field that overrides the airport city name defined by IATA. By default, Google takes the `airportIataCode` provided and maps it to the official airport city name defined by IATA. Official IATA airport city names can be found at IATA airport city names website. For example, for the airport IATA code \"LTN\", IATA website tells us that the corresponding airport city is \"London\". If this field is not populated, Google would display \"London\". However, populating this field with a custom name (eg: \"London Luton\") would override it."
          }
        },
        "gate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name of the gate. Eg: \"B59\" or \"59\""
          }
        },
        "airportIataCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three character IATA airport code. This is a required field for `origin` and `destination`. Eg: \"SFO\""
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightCarrier": {
      "type": "structure",
      "members": {
        "airlineAllianceLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "A logo for the airline alliance, displayed below the QR code that the passenger scans to board."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightCarrier\"`."
          }
        },
        "wideAirlineLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "The wide logo of the airline. When provided, this will be used in place of the airline logo in the top left of the card view."
          }
        },
        "carrierIataCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two character IATA airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIcaoCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"LX\" for Swiss Air"
          }
        },
        "airlineName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A localized name of the airline specified by carrierIataCode. If unset, `issuer_name` or `localized_issuer_name` from `FlightClass` will be used for display purposes. eg: \"Swiss Air\" for \"LX\""
          }
        },
        "carrierIcaoCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Three character ICAO airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIataCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"EZY\" for Easy Jet"
          }
        },
        "airlineLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "A logo for the airline described by carrierIataCode and localizedAirlineName. This logo will be rendered at the top of the detailed card view."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#ModuleViewConstraints": {
      "type": "structure",
      "members": {
        "displayInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The period of time that the module will be displayed to users. Can define both a `startTime` and `endTime`. The module is displayed immediately after insertion unless a `startTime` is set. The module is displayed indefinitely if `endTime` is not set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constraints that all must be met for the module to be shown."
      }
    },
    "com.gcp.walletobjects_v1#CardRowOneItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "com.gcp.walletobjects_v1#TemplateItem",
          "traits": {
            "smithy.api#documentation": "The item to be displayed in the row. This item will be automatically centered."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FieldSelector": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.walletobjects_v1#FieldReferenceList",
          "traits": {
            "smithy.api#documentation": "If more than one reference is supplied, then the first one that references a non-empty field will be displayed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom field selector to use with field overrides."
      }
    },
    "com.gcp.walletobjects_v1#FieldReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#FieldReference"
      }
    },
    "com.gcp.walletobjects_v1#Permission": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user, group, or service account to which this permission refers to."
          }
        },
        "role": {
          "target": "com.gcp.walletobjects_v1#PermissionRoleEnum",
          "traits": {
            "smithy.api#documentation": "The role granted by this permission."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#PermissionRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "OWNER_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READER"
          }
        },
        "READER_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reader"
          }
        },
        "WRITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITER"
          }
        },
        "WRITER_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "writer"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TemplateItem": {
      "type": "structure",
      "members": {
        "firstValue": {
          "target": "com.gcp.walletobjects_v1#FieldSelector",
          "traits": {
            "smithy.api#documentation": "A reference to a field to display. If both `firstValue` and `secondValue` are populated, they will both appear as one item with a slash between them. For example, values A and B would be shown as \"A / B\"."
          }
        },
        "secondValue": {
          "target": "com.gcp.walletobjects_v1#FieldSelector",
          "traits": {
            "smithy.api#documentation": "A reference to a field to display. This may only be populated if the `firstValue` field is populated."
          }
        },
        "predefinedItem": {
          "target": "com.gcp.walletobjects_v1#TemplateItemPredefinedItemEnum",
          "traits": {
            "smithy.api#documentation": "A predefined item to display. Only one of `firstValue` or `predefinedItem` may be set."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TemplateItemPredefinedItemEnum": {
      "type": "enum",
      "members": {
        "PREDEFINED_ITEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDEFINED_ITEM_UNSPECIFIED"
          }
        },
        "FREQUENT_FLYER_PROGRAM_NAME_AND_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENT_FLYER_PROGRAM_NAME_AND_NUMBER"
          }
        },
        "FREQUENTFLYERPROGRAMNAMEANDNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frequentFlyerProgramNameAndNumber"
          }
        },
        "FLIGHT_NUMBER_AND_OPERATING_FLIGHT_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLIGHT_NUMBER_AND_OPERATING_FLIGHT_NUMBER"
          }
        },
        "FLIGHTNUMBERANDOPERATINGFLIGHTNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flightNumberAndOperatingFlightNumber"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#CardBarcodeSectionDetails": {
      "type": "structure",
      "members": {
        "secondTopDetail": {
          "target": "com.gcp.walletobjects_v1#BarcodeSectionDetail",
          "traits": {
            "smithy.api#documentation": "Optional second piece of information to display above the barcode. If `firstTopDetail` is defined, this will be displayed to the end side of this detail section."
          }
        },
        "firstTopDetail": {
          "target": "com.gcp.walletobjects_v1#BarcodeSectionDetail",
          "traits": {
            "smithy.api#documentation": "Optional information to display above the barcode. If `secondTopDetail` is defined, this will be displayed to the start side of this detail section."
          }
        },
        "firstBottomDetail": {
          "target": "com.gcp.walletobjects_v1#BarcodeSectionDetail",
          "traits": {
            "smithy.api#documentation": "Optional information to display below the barcode."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#GiftCardClassAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#GiftCardClass",
          "traits": {
            "smithy.api#documentation": "The updated GiftCardClass resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency code, such as \"USD\" or \"EUR.\""
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#money\"`."
          }
        },
        "micros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of money amount in micros. For example, $1 USD would be represented as 1000000 micros."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicy": {
      "type": "structure",
      "members": {
        "boardingPolicy": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingPolicyBoardingPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the policy the airline uses for boarding. If unset, Google will default to `zoneBased`."
          }
        },
        "seatClassPolicy": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingPolicySeatClassPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Seating policy which dictates how we display the seat class. If unset, Google will default to `cabinBased`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingPolicy\"`."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicyBoardingPolicyEnum": {
      "type": "enum",
      "members": {
        "BOARDING_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOARDING_POLICY_UNSPECIFIED"
          }
        },
        "ZONE_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_BASED"
          }
        },
        "ZONEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneBased"
          }
        },
        "GROUP_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_BASED"
          }
        },
        "GROUPBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groupBased"
          }
        },
        "BOARDING_POLICY_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOARDING_POLICY_OTHER"
          }
        },
        "BOARDINGPOLICYOTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boardingPolicyOther"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicySeatClassPolicyEnum": {
      "type": "enum",
      "members": {
        "SEAT_CLASS_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT_CLASS_POLICY_UNSPECIFIED"
          }
        },
        "CABIN_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CABIN_BASED"
          }
        },
        "CABINBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cabinBased"
          }
        },
        "CLASS_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_BASED"
          }
        },
        "CLASSBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classBased"
          }
        },
        "TIER_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_BASED"
          }
        },
        "TIERBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tierBased"
          }
        },
        "SEAT_CLASS_POLICY_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT_CLASS_POLICY_OTHER"
          }
        },
        "SEATCLASSPOLICYOTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seatClassPolicyOther"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassListResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.walletobjects_v1#FlightClassList",
          "traits": {
            "smithy.api#documentation": "Resources corresponding to the list request."
          }
        },
        "pagination": {
          "target": "com.gcp.walletobjects_v1#Pagination",
          "traits": {
            "smithy.api#documentation": "Pagination of the response."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#FlightClass"
      }
    },
    "com.gcp.walletobjects_v1#SmartTapMerchantData": {
      "type": "structure",
      "members": {
        "smartTapMerchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
          }
        },
        "authenticationKeys": {
          "target": "com.gcp.walletobjects_v1#AuthenticationKeyList",
          "traits": {
            "smithy.api#documentation": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#AuthenticationKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#AuthenticationKey"
      }
    },
    "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSignupInfo": {
      "type": "structure",
      "members": {
        "signupWebsite": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "The URL to direct the user to for the merchant's signup site."
          }
        },
        "signupSharedDatas": {
          "target": "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSignupInfoSignupSharedDatasItemEnumList",
          "traits": {
            "smithy.api#documentation": "User data that is sent in a POST request to the signup website URL. This information is encoded and then shared so that the merchant's website can prefill fields used to enroll the user for the discoverable program."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the merchant hosted signup flow for a program."
      }
    },
    "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSignupInfoSignupSharedDatasItemEnum": {
      "type": "enum",
      "members": {
        "SHARED_DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_DATA_TYPE_UNSPECIFIED"
          }
        },
        "FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_NAME"
          }
        },
        "LAST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_NAME"
          }
        },
        "STREET_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_ADDRESS"
          }
        },
        "ADDRESS_LINE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS_LINE_1"
          }
        },
        "ADDRESS_LINE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS_LINE_2"
          }
        },
        "ADDRESS_LINE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDRESS_LINE_3"
          }
        },
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY"
          }
        },
        "STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE"
          }
        },
        "ZIPCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIPCODE"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSignupInfoSignupSharedDatasItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSignupInfoSignupSharedDatasItemEnum"
      }
    },
    "com.gcp.walletobjects_v1#FlightClassAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#FlightClass",
          "traits": {
            "smithy.api#documentation": "The updated FlightClass resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightObjectListResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.walletobjects_v1#FlightObjectList",
          "traits": {
            "smithy.api#documentation": "Resources corresponding to the list request."
          }
        },
        "pagination": {
          "target": "com.gcp.walletobjects_v1#Pagination",
          "traits": {
            "smithy.api#documentation": "Pagination of the response."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#FlightObject"
      }
    },
    "com.gcp.walletobjects_v1#SaveRestrictions": {
      "type": "structure",
      "members": {
        "restrictToEmailSha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict the save of the referencing object to the given email address only. This is the hex output of SHA256 sum of the email address, all lowercase and without any notations like \".\" or \"+\", except \"@\". For example, for example@example.com, this value will be 31c5543c1734d25c7206f5fd591525d0295bec6fe84ff82f946a34fe970a1e66 and for Example@example.com, this value will be bc34f262c93ad7122763684ccea6f07fb7f5d8a2d11e60ce15a6f43fe70ce632 If email address of the logged-in user who tries to save this pass does not match with the defined value here, users won't be allowed to save this pass. They will instead be prompted with an error to contact the issuer. This information should be gathered from the user with an explicit consent via Sign in with Google integration https://developers.google.com/identity/authentication. Please contact with support before using Save Restrictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines restrictions on the object that will be verified during save. Note: this is an advanced feature, please contact Google for implementation support."
      }
    },
    "com.gcp.walletobjects_v1#ContentTypeInfo": {
      "type": "structure",
      "members": {
        "fromHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request."
          }
        },
        "fusionIdDetectionMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set."
          }
        },
        "bestGuess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scotty's best guess of what the content type of the file is."
          }
        },
        "fromFileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file derived from the file extension of the original file name used by the client."
          }
        },
        "fromBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file."
          }
        },
        "fromUrlPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API)."
          }
        },
        "fromFusionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the file detected by Fusion ID. go/fusionid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty."
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingInfo": {
      "type": "structure",
      "members": {
        "boardingPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of boarding position. eg: \"76\""
          }
        },
        "boardingGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object."
          }
        },
        "sequenceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\""
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`."
          }
        },
        "seatClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\""
          }
        },
        "seatAssignment": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\""
          }
        },
        "boardingDoor": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingInfoBoardingDoorEnum",
          "traits": {
            "smithy.api#documentation": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set."
          }
        },
        "boardingPrivilegeImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program."
          }
        },
        "seatNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\""
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingInfoBoardingDoorEnum": {
      "type": "enum",
      "members": {
        "BOARDING_DOOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOARDING_DOOR_UNSPECIFIED"
          }
        },
        "FRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRONT"
          }
        },
        "FRONT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "front"
          }
        },
        "BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACK"
          }
        },
        "BACK_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "back"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClass": {
      "type": "structure",
      "members": {
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "redemptionIssuers": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and one of object level `smartTapRedemptionValue`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "localizedRewardsTierLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the rewards_tier_label. Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
          }
        },
        "programName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The program name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "hexBackgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
          }
        },
        "localizedAccountNameLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the account_name_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClassMultipleDevicesAndHoldersAllowedStatusEnum",
          "traits": {
            "smithy.api#documentation": "Identifies whether multiple users and devices will save the same object referencing this class."
          }
        },
        "localizedIssuerName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "callbackOptions": {
          "target": "com.gcp.walletobjects_v1#CallbackOptions",
          "traits": {
            "smithy.api#documentation": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
          }
        },
        "secondaryRewardsTier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary rewards tier, such as \"Gold\" or \"Platinum.\""
          }
        },
        "localizedRewardsTier": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the rewards_tier. Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens."
          }
        },
        "discoverableProgram": {
          "target": "com.gcp.walletobjects_v1#DiscoverableProgram",
          "traits": {
            "smithy.api#documentation": "Information about how the class may be discovered and instantiated from within the Google Pay app."
          }
        },
        "allowMultipleUsersPerObject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
          }
        },
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClassNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "issuerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "wordMark": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "rewardsTierLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rewards tier label, such as \"Rewards Tier.\" Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
          }
        },
        "accountIdLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID label, such as \"Member ID.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
          }
        },
        "classTemplateInfo": {
          "target": "com.gcp.walletobjects_v1#ClassTemplateInfo",
          "traits": {
            "smithy.api#documentation": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead."
          }
        },
        "rewardsTier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rewards tier, such as \"Gold\" or \"Platinum.\" Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "review": {
          "target": "com.gcp.walletobjects_v1#Review",
          "traits": {
            "smithy.api#documentation": "The review comments set by the platform when a class is marked `approved` or `rejected`."
          }
        },
        "localizedProgramName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the program_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "accountNameLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account name label, such as \"Member Name.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
          }
        },
        "secondaryRewardsTierLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary rewards tier label, such as \"Rewards Tier.\""
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
          }
        },
        "enableSmartTap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and one of object level `smartTapRedemptionLevel`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "securityAnimation": {
          "target": "com.gcp.walletobjects_v1#SecurityAnimation",
          "traits": {
            "smithy.api#documentation": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
          }
        },
        "reviewStatus": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClassReviewStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "localizedSecondaryRewardsTier": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the secondary_rewards_tier."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#loyaltyClass\"`."
          }
        },
        "homepageUri": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
          }
        },
        "localizedSecondaryRewardsTierLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the secondary_rewards_tier_label."
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the object, both will be displayed."
          }
        },
        "wideProgramLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "The wide logo of the loyalty program or company. When provided, this will be used in place of the program logo in the top left of the card view."
          }
        },
        "programLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Required. The logo of the loyalty program or company. This logo is displayed in both the details and list views of the app."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        },
        "localizedAccountIdLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the account_id_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
          }
        },
        "viewUnlockRequirement": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClassViewUnlockRequirementEnum",
          "traits": {
            "smithy.api#documentation": "View Unlock Requirement options for the loyalty card."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassMultipleDevicesAndHoldersAllowedStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "MULTIPLE_HOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_HOLDERS"
          }
        },
        "ONE_USER_ALL_DEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ALL_DEVICES"
          }
        },
        "ONE_USER_ONE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ONE_DEVICE"
          }
        },
        "MULTIPLEHOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleHolders"
          }
        },
        "ONEUSERALLDEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserAllDevices"
          }
        },
        "ONEUSERONEDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserOneDevice"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
        "NOTIFY_ON_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFY_ON_UPDATE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassReviewStatusEnum": {
      "type": "enum",
      "members": {
        "REVIEW_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_UNSPECIFIED"
          }
        },
        "UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_REVIEW"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "underReview"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "APPROVED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "REJECTED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DRAFT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassViewUnlockRequirementEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED"
          }
        },
        "UNLOCK_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_NOT_REQUIRED"
          }
        },
        "UNLOCK_REQUIRED_TO_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_REQUIRED_TO_VIEW"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TransitObjectAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#TransitObject",
          "traits": {
            "smithy.api#documentation": "The updated TransitObject resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TicketRestrictions": {
      "type": "structure",
      "members": {
        "routeRestrictions": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\"."
          }
        },
        "routeRestrictionsDetails": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "More details about the above `routeRestrictions`."
          }
        },
        "timeRestrictions": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Restrictions about times this ticket may be used."
          }
        },
        "otherRestrictions": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Extra restrictions that don't fall under the \"route\" or \"time\" categories."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#CardTemplateOverride": {
      "type": "structure",
      "members": {
        "cardRowTemplateInfos": {
          "target": "com.gcp.walletobjects_v1#CardRowTemplateInfoList",
          "traits": {
            "smithy.api#documentation": "Template information for rows in the card view. At most three rows are allowed to be specified."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#CardRowTemplateInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#CardRowTemplateInfo"
      }
    },
    "com.gcp.walletobjects_v1#MerchantLocation": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Locations of interest for this class or object. Currently, this location is used for geofenced notifications. When a user is within a set radius of this lat/long, and dwells there, Google will trigger a notification. When a user exits this radius, the notification will be hidden."
      }
    },
    "com.gcp.walletobjects_v1#CardRowTemplateInfo": {
      "type": "structure",
      "members": {
        "twoItems": {
          "target": "com.gcp.walletobjects_v1#CardRowTwoItems",
          "traits": {
            "smithy.api#documentation": "Template for a row containing two items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set."
          }
        },
        "threeItems": {
          "target": "com.gcp.walletobjects_v1#CardRowThreeItems",
          "traits": {
            "smithy.api#documentation": "Template for a row containing three items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set."
          }
        },
        "oneItem": {
          "target": "com.gcp.walletobjects_v1#CardRowOneItem",
          "traits": {
            "smithy.api#documentation": "Template for a row containing one item. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#CompositeMedia": {
      "type": "structure",
      "members": {
        "cosmoBinaryReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field."
          }
        },
        "length": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of the data, in bytes"
          }
        },
        "blobstore2Info": {
          "target": "com.gcp.walletobjects_v1#Blobstore2Info",
          "traits": {
            "smithy.api#documentation": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
          }
        },
        "crc32cHash": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "crc32.c hash for the payload."
          }
        },
        "inline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Media data, set if reference_type is INLINE"
          }
        },
        "md5Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 hash for the payload."
          }
        },
        "referenceType": {
          "target": "com.gcp.walletobjects_v1#CompositeMediaReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Describes what the field reference contains."
          }
        },
        "sha1Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 hash for the payload."
          }
        },
        "blobRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef."
          }
        },
        "objectId": {
          "target": "com.gcp.walletobjects_v1#ObjectId",
          "traits": {
            "smithy.api#documentation": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the data, set if reference_type is PATH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites."
      }
    },
    "com.gcp.walletobjects_v1#CompositeMediaReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH"
          }
        },
        "BLOB_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB_REF"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INLINE"
          }
        },
        "BIGSTORE_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGSTORE_REF"
          }
        },
        "COSMO_BINARY_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSMO_BINARY_REFERENCE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#Resources": {
      "type": "structure",
      "members": {
        "flightClasses": {
          "target": "com.gcp.walletobjects_v1#FlightClassList",
          "traits": {
            "smithy.api#documentation": "A list of flight classes."
          }
        },
        "offerClasses": {
          "target": "com.gcp.walletobjects_v1#OfferClassList",
          "traits": {
            "smithy.api#documentation": "A list of offer classes."
          }
        },
        "genericObjects": {
          "target": "com.gcp.walletobjects_v1#GenericObjectList",
          "traits": {
            "smithy.api#documentation": "A list of generic objects."
          }
        },
        "eventTicketClasses": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassList",
          "traits": {
            "smithy.api#documentation": "A list of event ticket classes."
          }
        },
        "flightObjects": {
          "target": "com.gcp.walletobjects_v1#FlightObjectList",
          "traits": {
            "smithy.api#documentation": "A list of flight objects."
          }
        },
        "loyaltyObjects": {
          "target": "com.gcp.walletobjects_v1#LoyaltyObjectList",
          "traits": {
            "smithy.api#documentation": "A list of loyalty objects."
          }
        },
        "transitClasses": {
          "target": "com.gcp.walletobjects_v1#TransitClassList",
          "traits": {
            "smithy.api#documentation": "A list of transit classes."
          }
        },
        "giftCardClasses": {
          "target": "com.gcp.walletobjects_v1#GiftCardClassList",
          "traits": {
            "smithy.api#documentation": "A list of gift card classes."
          }
        },
        "loyaltyClasses": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClassList",
          "traits": {
            "smithy.api#documentation": "A list of loyalty classes."
          }
        },
        "eventTicketObjects": {
          "target": "com.gcp.walletobjects_v1#EventTicketObjectList",
          "traits": {
            "smithy.api#documentation": "A list of event ticket objects."
          }
        },
        "offerObjects": {
          "target": "com.gcp.walletobjects_v1#OfferObjectList",
          "traits": {
            "smithy.api#documentation": "A list of offer objects."
          }
        },
        "transitObjects": {
          "target": "com.gcp.walletobjects_v1#TransitObjectList",
          "traits": {
            "smithy.api#documentation": "A list of transit objects."
          }
        },
        "giftCardObjects": {
          "target": "com.gcp.walletobjects_v1#GiftCardObjectList",
          "traits": {
            "smithy.api#documentation": "A list of gift card objects."
          }
        },
        "genericClasses": {
          "target": "com.gcp.walletobjects_v1#GenericClassList",
          "traits": {
            "smithy.api#documentation": "A list of generic classes."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#OfferClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#OfferClass"
      }
    },
    "com.gcp.walletobjects_v1#GenericObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#GenericObject"
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#EventTicketClass"
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#LoyaltyObject"
      }
    },
    "com.gcp.walletobjects_v1#TransitClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#TransitClass"
      }
    },
    "com.gcp.walletobjects_v1#GiftCardClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#GiftCardClass"
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#LoyaltyClass"
      }
    },
    "com.gcp.walletobjects_v1#EventTicketObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#EventTicketObject"
      }
    },
    "com.gcp.walletobjects_v1#OfferObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#OfferObject"
      }
    },
    "com.gcp.walletobjects_v1#TransitObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#TransitObject"
      }
    },
    "com.gcp.walletobjects_v1#GiftCardObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#GiftCardObject"
      }
    },
    "com.gcp.walletobjects_v1#GenericClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#GenericClass"
      }
    },
    "com.gcp.walletobjects_v1#TransitObject": {
      "type": "structure",
      "members": {
        "customConcessionCategory": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom concession category to use when `concessionCategory` does not provide the right option. Both `concessionCategory` and `customConcessionCategory` may not be set."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "disableExpirationNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
          }
        },
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#TransitObjectNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "state": {
          "target": "com.gcp.walletobjects_v1#TransitObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
          }
        },
        "ticketRestrictions": {
          "target": "com.gcp.walletobjects_v1#TicketRestrictions",
          "traits": {
            "smithy.api#documentation": "Information about what kind of restrictions there are on using this ticket. For example, which days of the week it must be used, or which routes are allowed to be taken."
          }
        },
        "rotatingBarcode": {
          "target": "com.gcp.walletobjects_v1#RotatingBarcode",
          "traits": {
            "smithy.api#documentation": "The rotating barcode type and value."
          }
        },
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "purchaseDetails": {
          "target": "com.gcp.walletobjects_v1#PurchaseDetails",
          "traits": {
            "smithy.api#documentation": "Purchase details for this ticket."
          }
        },
        "concessionCategory": {
          "target": "com.gcp.walletobjects_v1#TransitObjectConcessionCategoryEnum",
          "traits": {
            "smithy.api#documentation": "The concession category for the ticket."
          }
        },
        "hexBackgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "tripType": {
          "target": "com.gcp.walletobjects_v1#TransitObjectTripTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of trip this transit object represents. Used to determine the pass title and/or which symbol to use between the origin and destination."
          }
        },
        "passengerNames": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name(s) of the passengers the ticket is assigned to. The above `passengerType` field is meant to give Google context on this field."
          }
        },
        "hasLinkedDevice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "ticketStatus": {
          "target": "com.gcp.walletobjects_v1#TransitObjectTicketStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the ticket. For states which affect display, use the `state` field instead."
          }
        },
        "linkedObjectIds": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this transit object. If a user had saved this transit card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you."
          }
        },
        "deviceContext": {
          "target": "com.gcp.walletobjects_v1#DeviceContext",
          "traits": {
            "smithy.api#documentation": "Device context associated with the object."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
          }
        },
        "classReference": {
          "target": "com.gcp.walletobjects_v1#TransitClass",
          "traits": {
            "smithy.api#documentation": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET."
          }
        },
        "validTimeInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
          }
        },
        "passConstraints": {
          "target": "com.gcp.walletobjects_v1#PassConstraints",
          "traits": {
            "smithy.api#documentation": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
          }
        },
        "saveRestrictions": {
          "target": "com.gcp.walletobjects_v1#SaveRestrictions",
          "traits": {
            "smithy.api#documentation": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
          }
        },
        "groupingInfo": {
          "target": "com.gcp.walletobjects_v1#GroupingInfo",
          "traits": {
            "smithy.api#documentation": "Information that controls how passes are grouped together."
          }
        },
        "activationStatus": {
          "target": "com.gcp.walletobjects_v1#ActivationStatus",
          "traits": {
            "smithy.api#documentation": "The activation status for the object. Required if the class has `activationOptions` set."
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed."
          }
        },
        "ticketLegs": {
          "target": "com.gcp.walletobjects_v1#TicketLegList",
          "traits": {
            "smithy.api#documentation": "Each ticket may contain one or more legs. Each leg contains departure and arrival information along with boarding and seating information. If only one leg is to be specified then use the `ticketLeg` field instead. Both `ticketLeg` and `ticketLegs` may not be set."
          }
        },
        "classId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
          }
        },
        "customTicketStatus": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom status to use for the ticket status value when `ticketStatus` does not provide the right option. Both `ticketStatus` and `customTicketStatus` may not be set."
          }
        },
        "barcode": {
          "target": "com.gcp.walletobjects_v1#Barcode",
          "traits": {
            "smithy.api#documentation": "The barcode type and value."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "passengerType": {
          "target": "com.gcp.walletobjects_v1#TransitObjectPassengerTypeEnum",
          "traits": {
            "smithy.api#documentation": "The number of passengers."
          }
        },
        "ticketLeg": {
          "target": "com.gcp.walletobjects_v1#TicketLeg",
          "traits": {
            "smithy.api#documentation": "A single ticket leg contains departure and arrival information along with boarding and seating information. If more than one leg is to be specified then use the `ticketLegs` field instead. Both `ticketLeg` and `ticketLegs` may not be set."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "smartTapRedemptionValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        },
        "tripId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This id is used to group tickets together if the user has saved multiple tickets for the same trip."
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the class, both will be displayed."
          }
        },
        "ticketNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of the ticket. This is a unique identifier for the ticket in the transit operator's system."
          }
        },
        "hasUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the object has users. This field is set by the platform."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TransitObjectNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
[...]
