{
  "smithy": "2.0",
  "metadata": {
    "service": "webrisk",
    "version": "v1",
    "title": "Web Risk API",
    "baseUrl": "https://webrisk.googleapis.com/"
  },
  "shapes": {
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawHashes": {
      "type": "structure",
      "members": {
        "prefixSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances."
          }
        },
        "rawHashes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression."
      }
    },
    "com.gcp.webrisk_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.webrisk_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.webrisk_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.webrisk_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.webrisk_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1RiceDeltaEncoding": {
      "type": "structure",
      "members": {
        "firstValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero."
          }
        },
        "riceParameter": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
          }
        },
        "entryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
          }
        },
        "encodedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encoded deltas that are encoded using the Golomb-Rice coder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices."
      }
    },
    "com.gcp.webrisk_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1ThreatEntryRemovals": {
      "type": "structure",
      "members": {
        "rawIndices": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawIndices",
          "traits": {
            "smithy.api#documentation": "The raw removal indices for a local list."
          }
        },
        "riceIndices": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1RiceDeltaEncoding",
          "traits": {
            "smithy.api#documentation": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the set of entries to remove from a local database."
      }
    },
    "com.gcp.webrisk_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.webrisk_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.webrisk_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.webrisk_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#DocumentMap"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "type": "structure",
      "members": {
        "additions": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1ThreatEntryAdditions",
          "traits": {
            "smithy.api#documentation": "A set of entries to add to a local threat type's list."
          }
        },
        "recommendedNextDiff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want."
          }
        },
        "removals": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1ThreatEntryRemovals",
          "traits": {
            "smithy.api#documentation": "A set of entries to remove from a local threat type's list. This field may be empty."
          }
        },
        "responseType": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponseResponseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of response. This may indicate that an action must be taken by the client when the response is received."
          }
        },
        "checksum": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
          "traits": {
            "smithy.api#documentation": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later."
          }
        },
        "newVersionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList."
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponseResponseTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_TYPE_UNSPECIFIED"
          }
        },
        "DIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "type": "structure",
      "members": {
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The expected state of a client's local database."
      }
    },
    "com.gcp.webrisk_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches the `/v1/{project-name}/operations/{operation-id}` pattern."
          }
        },
        "error": {
          "target": "com.gcp.webrisk_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.webrisk_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.webrisk_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Contains a `SubmitUriMetadata` object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1ThreatEntryAdditions": {
      "type": "structure",
      "members": {
        "rawHashes": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawHashesList",
          "traits": {
            "smithy.api#documentation": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes."
          }
        },
        "riceHashes": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1RiceDeltaEncoding",
          "traits": {
            "smithy.api#documentation": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawHashesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawHashes"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "type": "structure",
      "members": {
        "threatTypes": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUriThreatTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The ThreatList this threat belongs to."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains threat information on a matching uri."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUriThreatTypesItemEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "SOCIAL_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING"
          }
        },
        "UNWANTED_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_SOFTWARE"
          }
        },
        "SOCIAL_ENGINEERING_EXTENDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUriThreatTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUriThreatTypesItemEnum"
      }
    },
    "com.gcp.webrisk_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponse": {
      "type": "structure",
      "members": {
        "threat": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponseThreatUri",
          "traits": {
            "smithy.api#documentation": "The threat list matches. This might be empty if the URI is on no list."
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponse": {
      "type": "structure",
      "members": {
        "threats": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashList",
          "traits": {
            "smithy.api#documentation": "The full hashes that matched the requested prefixes. The hash will be populated in the key."
          }
        },
        "negativeExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For requested entities that did not match the threat list, how long to cache the response until."
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHash"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "type": "structure",
      "members": {
        "threatTypes": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashThreatTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The ThreatList this threat belongs to. This must contain at least one entry."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains threat information on a matching hash."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashThreatTypesItemEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "SOCIAL_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING"
          }
        },
        "UNWANTED_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_SOFTWARE"
          }
        },
        "SOCIAL_ENGINEERING_EXTENDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashThreatTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponseThreatHashThreatTypesItemEnum"
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1Submission": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI that is being reported for malicious content to be analyzed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wraps a URI that might be displaying malicious content."
      }
    },
    "com.gcp.webrisk_v1#GoogleCloudWebriskV1RawIndices": {
      "type": "structure",
      "members": {
        "indices": {
          "target": "com.gcp.webrisk_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The indices to remove from a lexicographically-sorted local list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of raw indices to remove from a local list."
      }
    },
    "com.gcp.webrisk_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.webrisk_v1#SearchUrisThreatTypesEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "SOCIAL_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING"
          }
        },
        "UNWANTED_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_SOFTWARE"
          }
        },
        "SOCIAL_ENGINEERING_EXTENDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#SearchUrisThreatTypesEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#SearchUrisThreatTypesEnum"
      }
    },
    "com.gcp.webrisk_v1#SearchUrisRequest": {
      "type": "structure",
      "members": {
        "threatTypes": {
          "target": "com.gcp.webrisk_v1#SearchUrisThreatTypesEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
            "smithy.api#httpQuery": "threatTypes"
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI to be checked for matches.",
            "smithy.api#httpQuery": "uri"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.webrisk_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.webrisk_v1#SearchUris": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#SearchUrisRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchUrisResponse"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/uris:search"
        },
        "smithy.api#documentation": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned."
      }
    },
    "com.gcp.webrisk_v1#ComputeDiffThreatListsThreatTypeEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "SOCIAL_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING"
          }
        },
        "UNWANTED_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_SOFTWARE"
          }
        },
        "SOCIAL_ENGINEERING_EXTENDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#ComputeDiffThreatListsConstraints_supportedCompressionsEnum": {
      "type": "enum",
      "members": {
        "COMPRESSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESSION_TYPE_UNSPECIFIED"
          }
        },
        "RAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW"
          }
        },
        "RICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RICE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#ComputeDiffThreatListsConstraints_supportedCompressionsEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#ComputeDiffThreatListsConstraints_supportedCompressionsEnum"
      }
    },
    "com.gcp.webrisk_v1#ComputeDiffThreatListsRequest": {
      "type": "structure",
      "members": {
        "constraints.maxDiffEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
            "smithy.api#httpQuery": "constraints.maxDiffEntries"
          }
        },
        "constraints.maxDatabaseEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
            "smithy.api#httpQuery": "constraints.maxDatabaseEntries"
          }
        },
        "threatType": {
          "target": "com.gcp.webrisk_v1#ComputeDiffThreatListsThreatTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType.",
            "smithy.api#httpQuery": "threatType"
          }
        },
        "versionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.",
            "smithy.api#httpQuery": "versionToken"
          }
        },
        "constraints.supportedCompressions": {
          "target": "com.gcp.webrisk_v1#ComputeDiffThreatListsConstraints_supportedCompressionsEnumList",
          "traits": {
            "smithy.api#documentation": "The compression types supported by the client.",
            "smithy.api#httpQuery": "constraints.supportedCompressions"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#ComputeDiffThreatLists": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#ComputeDiffThreatListsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1ComputeThreatListDiffResponse"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/threatLists:computeDiff"
        },
        "smithy.api#documentation": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list."
      }
    },
    "com.gcp.webrisk_v1#SearchHashesThreatTypesEnum": {
      "type": "enum",
      "members": {
        "THREAT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_TYPE_UNSPECIFIED"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "SOCIAL_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING"
          }
        },
        "UNWANTED_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_SOFTWARE"
          }
        },
        "SOCIAL_ENGINEERING_EXTENDED_COVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#SearchHashesThreatTypesEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.webrisk_v1#SearchHashesThreatTypesEnum"
      }
    },
    "com.gcp.webrisk_v1#SearchHashesRequest": {
      "type": "structure",
      "members": {
        "threatTypes": {
          "target": "com.gcp.webrisk_v1#SearchHashesThreatTypesEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
            "smithy.api#httpQuery": "threatTypes"
          }
        },
        "hashPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648).",
            "smithy.api#httpQuery": "hashPrefix"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#SearchHashes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#SearchHashesRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1SearchHashesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/hashes:search"
        },
        "smithy.api#documentation": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat."
      }
    },
    "com.gcp.webrisk_v1#GetProjectsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.webrisk_v1#GetProjectsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#GetProjectsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.webrisk_v1#DeleteProjectsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.webrisk_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.webrisk_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.webrisk_v1#DeleteProjectsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#DeleteProjectsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleProtobufEmpty"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        },
        {
          "target": "com.gcp.webrisk_v1#BadRequest"
        },
        {
          "target": "com.gcp.webrisk_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.webrisk_v1#CancelProjectsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.webrisk_v1#GoogleLongrunningCancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#CancelProjectsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#CancelProjectsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleProtobufEmpty"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        },
        {
          "target": "com.gcp.webrisk_v1#BadRequest"
        },
        {
          "target": "com.gcp.webrisk_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.webrisk_v1#ListProjectsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#ListProjectsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#ListProjectsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleLongrunningListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.webrisk_v1#CreateProjectsSubmissionsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1Submission",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.webrisk_v1#CreateProjectsSubmissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.webrisk_v1#CreateProjectsSubmissionsRequest"
      },
      "output": {
        "target": "com.gcp.webrisk_v1#GoogleCloudWebriskV1Submission"
      },
      "errors": [
        {
          "target": "com.gcp.webrisk_v1#NotFound"
        },
        {
          "target": "com.gcp.webrisk_v1#Forbidden"
        },
        {
          "target": "com.gcp.webrisk_v1#BadRequest"
        },
        {
          "target": "com.gcp.webrisk_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/submissions"
        },
        "smithy.api#documentation": "Creates a Submission of a URI suspected of containing phishing content for review. If the review confirms malicious phishing content, Google adds the site to [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) to help protect users. Only allowlisted projects can use this method during Early Access. To obtain access, contact Sales or your customer engineer."
      }
    }
  }
}
