{
  "smithy": "2.0",
  "metadata": {
    "service": "websecurityscanner",
    "version": "v1",
    "title": "Web Security Scanner API",
    "baseUrl": "https://websecurityscanner.googleapis.com/"
  },
  "shapes": {
    "com.gcp.websecurityscanner_v1#ListScanConfigsResponse": {
      "type": "structure",
      "members": {
        "scanConfigs": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigList",
          "traits": {
            "smithy.api#documentation": "The list of ScanConfigs returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListScanConfigs` method."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#ScanConfig"
      }
    },
    "com.gcp.websecurityscanner_v1#IapCredential": {
      "type": "structure",
      "members": {
        "iapTestServiceAccountInfo": {
          "target": "com.gcp.websecurityscanner_v1#IapTestServiceAccountInfo",
          "traits": {
            "smithy.api#documentation": "Authentication configuration when Web-Security-Scanner service account is added in Identity-Aware-Proxy (IAP) access policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration for Identity-Aware-Proxy (IAP)."
      }
    },
    "com.gcp.websecurityscanner_v1#StartScanRunRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `StartScanRun` method."
      }
    },
    "com.gcp.websecurityscanner_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigError": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the full name of the ScanConfig field that triggers this error, for example \"scan_config.max_qps\". This field is provided for troubleshooting purposes only and its actual value can change in the future."
          }
        },
        "code": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the reason code for a configuration failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a custom error message used by CreateScanConfig and UpdateScanConfig APIs when scan configuration validation fails. It is also reported as part of a ScanRunErrorTrace message if scan validation fails due to a scan configuration error."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigErrorCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "APPENGINE_API_BACKEND_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPENGINE_API_BACKEND_ERROR"
          }
        },
        "APPENGINE_API_NOT_ACCESSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPENGINE_API_NOT_ACCESSIBLE"
          }
        },
        "APPENGINE_DEFAULT_HOST_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPENGINE_DEFAULT_HOST_MISSING"
          }
        },
        "CANNOT_USE_GOOGLE_COM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANNOT_USE_GOOGLE_COM_ACCOUNT"
          }
        },
        "CANNOT_USE_OWNER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANNOT_USE_OWNER_ACCOUNT"
          }
        },
        "COMPUTE_API_BACKEND_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_API_BACKEND_ERROR"
          }
        },
        "COMPUTE_API_NOT_ACCESSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_API_NOT_ACCESSIBLE"
          }
        },
        "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT"
          }
        },
        "CUSTOM_LOGIN_URL_MALFORMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_MALFORMED"
          }
        },
        "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS"
          }
        },
        "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS"
          }
        },
        "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS"
          }
        },
        "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS"
          }
        },
        "DUPLICATE_SCAN_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_SCAN_NAME"
          }
        },
        "INVALID_FIELD_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_FIELD_VALUE"
          }
        },
        "FAILED_TO_AUTHENTICATE_TO_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_AUTHENTICATE_TO_TARGET"
          }
        },
        "FINDING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINDING_TYPE_UNSPECIFIED"
          }
        },
        "FORBIDDEN_TO_SCAN_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORBIDDEN_TO_SCAN_COMPUTE"
          }
        },
        "FORBIDDEN_UPDATE_TO_MANAGED_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORBIDDEN_UPDATE_TO_MANAGED_SCAN"
          }
        },
        "MALFORMED_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_FILTER"
          }
        },
        "MALFORMED_RESOURCE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_RESOURCE_NAME"
          }
        },
        "PROJECT_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_INACTIVE"
          }
        },
        "REQUIRED_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_FIELD"
          }
        },
        "RESOURCE_NAME_INCONSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NAME_INCONSISTENT"
          }
        },
        "SCAN_ALREADY_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_ALREADY_RUNNING"
          }
        },
        "SCAN_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_NOT_RUNNING"
          }
        },
        "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT"
          }
        },
        "SEED_URL_MALFORMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_MALFORMED"
          }
        },
        "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS"
          }
        },
        "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS"
          }
        },
        "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS"
          }
        },
        "SEED_URL_HAS_UNRESERVED_IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEED_URL_HAS_UNRESERVED_IP_ADDRESS"
          }
        },
        "SERVICE_ACCOUNT_NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_NOT_CONFIGURED"
          }
        },
        "TOO_MANY_SCANS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_SCANS"
          }
        },
        "UNABLE_TO_RESOLVE_PROJECT_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNABLE_TO_RESOLVE_PROJECT_INFO"
          }
        },
        "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT"
          }
        },
        "UNSUPPORTED_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_FILTER"
          }
        },
        "UNSUPPORTED_FINDING_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_FINDING_TYPE"
          }
        },
        "UNSUPPORTED_URL_SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_URL_SCHEME"
          }
        },
        "CLOUD_ASSET_INVENTORY_ASSET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ASSET_INVENTORY_ASSET_NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunWarningTrace": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunWarningTraceCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the warning code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Defines a warning trace message for ScanRun. Warning traces provide customers with useful information that helps make the scanning process more effective."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunWarningTraceCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "INSUFFICIENT_CRAWL_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_CRAWL_RESULTS"
          }
        },
        "TOO_MANY_CRAWL_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_CRAWL_RESULTS"
          }
        },
        "TOO_MANY_FUZZ_TASKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_FUZZ_TASKS"
          }
        },
        "BLOCKED_BY_IAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED_BY_IAP"
          }
        },
        "NO_STARTING_URL_FOUND_FOR_MANAGED_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_STARTING_URL_FOUND_FOR_MANAGED_SCAN"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListScanRunsResponse": {
      "type": "structure",
      "members": {
        "scanRuns": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunList",
          "traits": {
            "smithy.api#documentation": "The list of ScanRuns returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListScanRuns` method."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#ScanRun"
      }
    },
    "com.gcp.websecurityscanner_v1#OutdatedLibrary": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version number."
          }
        },
        "libraryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the outdated library."
          }
        },
        "learnMoreUrls": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "URLs to learn more information about the vulnerabilities in the library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information reported for an outdated library."
      }
    },
    "com.gcp.websecurityscanner_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.websecurityscanner_v1#Form": {
      "type": "structure",
      "members": {
        "actionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "! The URI where to send the form when it's submitted."
          }
        },
        "fields": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "! The names of form fields related to the vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "! Information about a vulnerability with an HTML."
      }
    },
    "com.gcp.websecurityscanner_v1#Xxe": {
      "type": "structure",
      "members": {
        "payloadLocation": {
          "target": "com.gcp.websecurityscanner_v1#XxePayloadLocationEnum",
          "traits": {
            "smithy.api#documentation": "Location within the request where the payload was placed."
          }
        },
        "payloadValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The XML string that triggered the XXE vulnerability. Non-payload values might be redacted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information reported for an XXE."
      }
    },
    "com.gcp.websecurityscanner_v1#XxePayloadLocationEnum": {
      "type": "enum",
      "members": {
        "LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_UNSPECIFIED"
          }
        },
        "COMPLETE_REQUEST_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE_REQUEST_BODY"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#CrawledUrl": {
      "type": "structure",
      "members": {
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The http method of the request that was used to visit the URL, in uppercase."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The body of the request that was used to visit the URL."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL that was crawled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against."
      }
    },
    "com.gcp.websecurityscanner_v1#Schedule": {
      "type": "structure",
      "members": {
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
          }
        },
        "intervalDurationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The duration of time between executions in days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scan schedule configuration."
      }
    },
    "com.gcp.websecurityscanner_v1#Finding": {
      "type": "structure",
      "members": {
        "vulnerableHeaders": {
          "target": "com.gcp.websecurityscanner_v1#VulnerableHeaders",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information about vulnerable or missing HTTP headers."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The body of the request that triggered the vulnerability."
          }
        },
        "frameUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported."
          }
        },
        "vulnerableParameters": {
          "target": "com.gcp.websecurityscanner_v1#VulnerableParameters",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information about request parameters which were found to be vulnerable."
          }
        },
        "findingType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the Finding. Detailed and up-to-date information on findings can be found here: https://cloud.google.com/security-command-center/docs/how-to-remediate-web-security-scanner-findings"
          }
        },
        "form": {
          "target": "com.gcp.websecurityscanner_v1#Form",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information reported for a vulnerability with an HTML form, if any."
          }
        },
        "fuzzedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability."
          }
        },
        "reproductionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL containing human-readable payload that user can leverage to reproduce the vulnerability."
          }
        },
        "violatingResource": {
          "target": "com.gcp.websecurityscanner_v1#ViolatingResource",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
          }
        },
        "finalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL where the browser lands when the vulnerability is detected."
          }
        },
        "severity": {
          "target": "com.gcp.websecurityscanner_v1#FindingSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The severity level of the reported vulnerability."
          }
        },
        "outdatedLibrary": {
          "target": "com.gcp.websecurityscanner_v1#OutdatedLibrary",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information about outdated libraries."
          }
        },
        "xss": {
          "target": "com.gcp.websecurityscanner_v1#Xss",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information reported for an XSS, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the vulnerability."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns."
          }
        },
        "xxe": {
          "target": "com.gcp.websecurityscanner_v1#Xxe",
          "traits": {
            "smithy.api#documentation": "Output only. An addon containing information reported for an XXE, if any."
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The http method of the request that triggered the vulnerability, in uppercase."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Finding resource represents a vulnerability instance identified during a ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1#FindingSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#VulnerableParameters": {
      "type": "structure",
      "members": {
        "parameterNames": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The vulnerable parameter names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about vulnerable request parameters."
      }
    },
    "com.gcp.websecurityscanner_v1#StopScanRunRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `StopScanRun` method."
      }
    },
    "com.gcp.websecurityscanner_v1#FindingTypeStats": {
      "type": "structure",
      "members": {
        "findingType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The finding type associated with the stats."
          }
        },
        "findingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The count of findings belonging to this finding type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunErrorTrace": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunErrorTraceCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the error reason code."
          }
        },
        "scanConfigError": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigError",
          "traits": {
            "smithy.api#documentation": "Output only. If the scan encounters SCAN_CONFIG_ISSUE error, this field has the error message encountered during scan configuration validation that is performed before each scan run."
          }
        },
        "mostCommonHttpErrorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. If the scan encounters TOO_MANY_HTTP_ERRORS, this field indicates the most common HTTP error code, if such is available. For example, if this code is 404, the scan has encountered too many NOT_FOUND responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Defines an error trace message for a ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunErrorTraceCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "SCAN_CONFIG_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_CONFIG_ISSUE"
          }
        },
        "AUTHENTICATION_CONFIG_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_CONFIG_ISSUE"
          }
        },
        "TIMED_OUT_WHILE_SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT_WHILE_SCANNING"
          }
        },
        "TOO_MANY_REDIRECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_REDIRECTS"
          }
        },
        "TOO_MANY_HTTP_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_HTTP_ERRORS"
          }
        },
        "STARTING_URLS_CRAWL_HTTP_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING_URLS_CRAWL_HTTP_ERRORS"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListCrawledUrlsResponse": {
      "type": "structure",
      "members": {
        "crawledUrls": {
          "target": "com.gcp.websecurityscanner_v1#CrawledUrlList",
          "traits": {
            "smithy.api#documentation": "The list of CrawledUrls returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCrawledUrls` method."
      }
    },
    "com.gcp.websecurityscanner_v1#CrawledUrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#CrawledUrl"
      }
    },
    "com.gcp.websecurityscanner_v1#Xss": {
      "type": "structure",
      "members": {
        "stackTraces": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Stack traces leading to the point where the XSS occurred."
          }
        },
        "storedXssSeedingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reproduction url for the seeding POST request of a Stored XSS."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message generated by a javascript breakage."
          }
        },
        "attackVector": {
          "target": "com.gcp.websecurityscanner_v1#XssAttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "The attack vector of the payload triggering this XSS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information reported for an XSS."
      }
    },
    "com.gcp.websecurityscanner_v1#XssAttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "LOCAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_STORAGE"
          }
        },
        "SESSION_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_STORAGE"
          }
        },
        "WINDOW_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOW_NAME"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFERRER"
          }
        },
        "FORM_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORM_INPUT"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOKIE"
          }
        },
        "POST_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_MESSAGE"
          }
        },
        "GET_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_PARAMETERS"
          }
        },
        "URL_FRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_FRAGMENT"
          }
        },
        "HTML_COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML_COMMENT"
          }
        },
        "POST_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_PARAMETERS"
          }
        },
        "PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL"
          }
        },
        "STORED_XSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORED_XSS"
          }
        },
        "SAME_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAME_ORIGIN"
          }
        },
        "USER_CONTROLLABLE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CONTROLLABLE_URL"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListFindingsResponse": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.gcp.websecurityscanner_v1#FindingList",
          "traits": {
            "smithy.api#documentation": "The list of Findings returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFindings` method."
      }
    },
    "com.gcp.websecurityscanner_v1#FindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#Finding"
      }
    },
    "com.gcp.websecurityscanner_v1#Authentication": {
      "type": "structure",
      "members": {
        "googleAccount": {
          "target": "com.gcp.websecurityscanner_v1#GoogleAccount",
          "traits": {
            "smithy.api#documentation": "Authentication using a Google account."
          }
        },
        "iapCredential": {
          "target": "com.gcp.websecurityscanner_v1#IapCredential",
          "traits": {
            "smithy.api#documentation": "Authentication using Identity-Aware-Proxy (IAP)."
          }
        },
        "customAccount": {
          "target": "com.gcp.websecurityscanner_v1#CustomAccount",
          "traits": {
            "smithy.api#documentation": "Authentication using a custom account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scan authentication configuration."
      }
    },
    "com.gcp.websecurityscanner_v1#ListFindingTypeStatsResponse": {
      "type": "structure",
      "members": {
        "findingTypeStats": {
          "target": "com.gcp.websecurityscanner_v1#FindingTypeStatsList",
          "traits": {
            "smithy.api#documentation": "The list of FindingTypeStats returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFindingTypeStats` method."
      }
    },
    "com.gcp.websecurityscanner_v1#FindingTypeStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#FindingTypeStats"
      }
    },
    "com.gcp.websecurityscanner_v1#VulnerableHeaders": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.websecurityscanner_v1#HeaderList",
          "traits": {
            "smithy.api#documentation": "List of vulnerable headers."
          }
        },
        "missingHeaders": {
          "target": "com.gcp.websecurityscanner_v1#HeaderList",
          "traits": {
            "smithy.api#documentation": "List of missing headers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about vulnerable or missing HTTP Headers."
      }
    },
    "com.gcp.websecurityscanner_v1#HeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#Header"
      }
    },
    "com.gcp.websecurityscanner_v1#Header": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a HTTP Header."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfig": {
      "type": "structure",
      "members": {
        "exportToSecurityCommandCenter": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigExportToSecurityCommandCenterEnum",
          "traits": {
            "smithy.api#documentation": "Controls export of scan configurations and results to Security Command Center."
          }
        },
        "latestRun": {
          "target": "com.gcp.websecurityscanner_v1#ScanRun"
        },
        "riskLevel": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigRiskLevelEnum",
          "traits": {
            "smithy.api#documentation": "The risk level selected for the scan"
          }
        },
        "staticIpScan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scan configuration has enabled static IP address scan feature. If enabled, the scanner will access applications from static IP addresses."
          }
        },
        "ignoreHttpStatusErrors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to keep scanning even if most requests return HTTP error codes."
          }
        },
        "schedule": {
          "target": "com.gcp.websecurityscanner_v1#Schedule",
          "traits": {
            "smithy.api#documentation": "The schedule of the ScanConfig."
          }
        },
        "blacklistPatterns": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls"
          }
        },
        "maxQps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error."
          }
        },
        "userAgent": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigUserAgentEnum",
          "traits": {
            "smithy.api#documentation": "The user agent used during scanning."
          }
        },
        "authentication": {
          "target": "com.gcp.websecurityscanner_v1#Authentication",
          "traits": {
            "smithy.api#documentation": "The authentication configuration. If specified, service will use the authentication configuration during scanning."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user provided display name of the ScanConfig."
          }
        },
        "targetPlatforms": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfigTargetPlatformsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
          }
        },
        "startingUrls": {
          "target": "com.gcp.websecurityscanner_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The starting URLs from which the scanner finds site pages."
          }
        },
        "managedScan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scan config is managed by Web Security Scanner, output only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ScanConfig resource contains the configurations to launch a scan."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigExportToSecurityCommandCenterEnum": {
      "type": "enum",
      "members": {
        "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigRiskLevelEnum": {
      "type": "enum",
      "members": {
        "RISK_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigUserAgentEnum": {
      "type": "enum",
      "members": {
        "USER_AGENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_AGENT_UNSPECIFIED"
          }
        },
        "CHROME_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_LINUX"
          }
        },
        "CHROME_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_ANDROID"
          }
        },
        "SAFARI_IPHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFARI_IPHONE"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigTargetPlatformsItemEnum": {
      "type": "enum",
      "members": {
        "TARGET_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_PLATFORM_UNSPECIFIED"
          }
        },
        "APP_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_ENGINE"
          }
        },
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE"
          }
        },
        "CLOUD_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RUN"
          }
        },
        "CLOUD_FUNCTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FUNCTIONS"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanConfigTargetPlatformsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#ScanConfigTargetPlatformsItemEnum"
      }
    },
    "com.gcp.websecurityscanner_v1#IapTestServiceAccountInfo": {
      "type": "structure",
      "members": {
        "targetAudienceClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Describes OAuth2 client id of resources protected by Identity-Aware-Proxy (IAP)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration when Web-Security-Scanner service account is added in Identity-Aware-Proxy (IAP) access policies."
      }
    },
    "com.gcp.websecurityscanner_v1#CustomAccount": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user name of the custom account."
          }
        },
        "loginUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The login form URL of the website."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration that uses a custom account."
      }
    },
    "com.gcp.websecurityscanner_v1#ViolatingResource": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this resource."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of this violating resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
      }
    },
    "com.gcp.websecurityscanner_v1#GoogleAccount": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user name of the Google account."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration that uses a Google account."
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRun": {
      "type": "structure",
      "members": {
        "urlsTestedCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads."
          }
        },
        "warningTraces": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunWarningTraceList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of warnings, if such are encountered during this scan run."
          }
        },
        "hasVulnerabilities": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the scan run has found any vulnerabilities."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100."
          }
        },
        "urlsCrawledCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now."
          }
        },
        "executionState": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The execution state of the ScanRun."
          }
        },
        "resultState": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunResultStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\"."
          }
        },
        "errorTrace": {
          "target": "com.gcp.websecurityscanner_v1#ScanRunErrorTrace",
          "traits": {
            "smithy.api#documentation": "Output only. If result_state is an ERROR, this field provides the primary reason for scan's termination and more details, if such are available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the ScanRun started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ScanRun is a output-only resource representing an actual run of the scan. Next id: 12"
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunWarningTraceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1#ScanRunWarningTrace"
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunExecutionStateEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ScanRunResultStateEnum": {
      "type": "enum",
      "members": {
        "RESULT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_STATE_UNSPECIFIED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "KILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILLED"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#StartProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1#StartScanRunRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1#StartProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#StartProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:start"
        },
        "smithy.api#documentation": "Start a ScanRun according to the given ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ListScanConfigsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/scanConfigs"
        },
        "smithy.api#documentation": "Lists ScanConfigs under a given project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1#DeleteProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#DeleteProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#DeleteProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing ScanConfig and its child resources."
      }
    },
    "com.gcp.websecurityscanner_v1#PatchProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#PatchProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#PatchProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a ScanConfig. This method support partial update of a ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1#CreateProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1#ScanConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#CreateProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#CreateProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/scanConfigs"
        },
        "smithy.api#documentation": "Creates a new ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ListScanRunsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/scanRuns"
        },
        "smithy.api#documentation": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1#StopProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1#StopScanRunRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#StopProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#StopProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:stop"
        },
        "smithy.api#documentation": "Stops a ScanRun. The stopped ScanRun is returned."
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsCrawledUrlsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsCrawledUrls": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsCrawledUrlsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ListCrawledUrlsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/crawledUrls"
        },
        "smithy.api#documentation": "List CrawledUrls under a given ScanRun.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRunsFindingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRunsFindings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#GetProjectsScanConfigsScanRunsFindingsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#Finding"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a Finding."
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindingsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindingsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ListFindingsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/findings"
        },
        "smithy.api#documentation": "List Findings under a given ScanRun.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindingTypeStatsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindingTypeStats": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1#ListProjectsScanConfigsScanRunsFindingTypeStatsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1#ListFindingTypeStatsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/findingTypeStats"
        },
        "smithy.api#documentation": "List all FindingTypeStats under a given ScanRun."
      }
    }
  }
}
