{
  "smithy": "2.0",
  "metadata": {
    "service": "workstations",
    "version": "v1",
    "title": "Cloud Workstations API",
    "baseUrl": "https://workstations.googleapis.com/"
  },
  "shapes": {
    "com.gcp.workstations_v1#ListWorkstationClustersResponse": {
      "type": "structure",
      "members": {
        "workstationClusters": {
          "target": "com.gcp.workstations_v1#WorkstationClusterList",
          "traits": {
            "smithy.api#documentation": "The requested workstation clusters."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkstationClusters."
      }
    },
    "com.gcp.workstations_v1#WorkstationClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#WorkstationCluster"
      }
    },
    "com.gcp.workstations_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.workstations_v1#GcePersistentDisk": {
      "type": "structure",
      "members": {
        "sourceImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the disk image to use as the source for the disk. Must be empty if source_snapshot is set. Updating source_image will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, please refer to the [COS documentation](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable."
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the snapshot to use as the source for the disk. Must be empty if source_image is set. Must be empty if read_only is false. Updating source_snapshot will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, see [the filesystems available in Container-Optimized OS](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the disk is read only. If true, the disk may be shared by multiple VMs and source_snapshot must be set."
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the disk to use. Defaults to `\"pd-standard\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An EphemeralDirectory is backed by a Compute Engine persistent disk."
      }
    },
    "com.gcp.workstations_v1#ListWorkstationConfigsResponse": {
      "type": "structure",
      "members": {
        "workstationConfigs": {
          "target": "com.gcp.workstations_v1#WorkstationConfigList",
          "traits": {
            "smithy.api#documentation": "The requested configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkstationConfigs."
      }
    },
    "com.gcp.workstations_v1#WorkstationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#WorkstationConfig"
      }
    },
    "com.gcp.workstations_v1#ListUsableWorkstationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        },
        "workstations": {
          "target": "com.gcp.workstations_v1#WorkstationList",
          "traits": {
            "smithy.api#documentation": "The requested workstations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListUsableWorkstations."
      }
    },
    "com.gcp.workstations_v1#WorkstationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Workstation"
      }
    },
    "com.gcp.workstations_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.workstations_v1#GatewayConfig": {
      "type": "structure",
      "members": {
        "http2Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether HTTP/2 is enabled for this workstation cluster. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for Cluster HTTP Gateway."
      }
    },
    "com.gcp.workstations_v1#BoostConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to be used for the boost configuration."
          }
        },
        "enableNestedVirtualization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable nested virtualization on boosted Cloud Workstations VMs running using this boost configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on boost configurations that specify a machine_type in the N1 or N2 machine series."
          }
        },
        "accelerators": {
          "target": "com.gcp.workstations_v1#AcceleratorList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of the type and count of accelerator cards attached to the boost instance. Defaults to `none`."
          }
        },
        "poolSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of boost VMs that the system should keep idle so that workstations can be boosted quickly. Defaults to `0`."
          }
        },
        "bootDiskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of machine that boosted VM instances will use—for example, `e2-standard-4`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types). Defaults to `e2-standard-4`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A boost configuration is a set of resources that a workstation can use to increase its performance. If you specify a boost configuration, upon startup, workstation users can choose to use a VM provisioned under the boost config by passing the boost config ID in the start request. If the workstation user does not provide a boost config ID in the start request, the system will choose a VM from the pool provisioned under the default config."
      }
    },
    "com.gcp.workstations_v1#AcceleratorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Accelerator"
      }
    },
    "com.gcp.workstations_v1#WorkstationConfig": {
      "type": "structure",
      "members": {
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this workstation configuration is currently being updated to match its intended state."
          }
        },
        "degraded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this workstation configuration is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the configuration."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding."
          }
        },
        "labels": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation configuration and that are also propagated to the underlying Compute Engine resources."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for this workstation configuration."
          }
        },
        "container": {
          "target": "com.gcp.workstations_v1#Container",
          "traits": {
            "smithy.api#documentation": "Optional. Container that runs upon startup for each workstation using this workstation configuration."
          }
        },
        "readinessChecks": {
          "target": "com.gcp.workstations_v1#ReadinessCheckList",
          "traits": {
            "smithy.api#documentation": "Optional. Readiness checks to perform when starting a workstation using this workstation configuration. Mark a workstation as running only after all specified readiness checks return 200 status codes."
          }
        },
        "host": {
          "target": "com.gcp.workstations_v1#Host",
          "traits": {
            "smithy.api#documentation": "Optional. Runtime host for the workstation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full name of this workstation configuration."
          }
        },
        "maxUsableWorkstations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of workstations under this configuration a user can have `workstations.workstation.use` permission on. Only enforced on CreateWorkstation API calls on the user issuing the API request. Can be overridden by: - granting a user workstations.workstationConfigs.exemptMaxUsableWorkstationLimit permission, or - having a user with that permission create a workstation and granting another user `workstations.workstation.use` permission on that workstation. If not specified, defaults to `0`, which indicates unlimited."
          }
        },
        "idleTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of seconds to wait before automatically stopping a workstation after it last received user traffic. A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration should never time out due to idleness. Provide [duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) terminated by `s` for seconds—for example, `\"7200s\"` (2 hours). The default is `\"1200s\"` (20 minutes)."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation configuration was most recently updated."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name for this workstation configuration."
          }
        },
        "encryptionKey": {
          "target": "com.gcp.workstations_v1#CustomerEncryptionKey",
          "traits": {
            "smithy.api#documentation": "Immutable. Encrypts resources of this workstation configuration using a customer-managed encryption key (CMEK). If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata. If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk might be lost. If the encryption key is revoked, the workstation session automatically stops within 7 hours. Immutable after the workstation configuration is created."
          }
        },
        "enableAuditAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable Linux `auditd` logging on the workstation. When enabled, a service_account must also be specified that has `roles/logging.logWriter` and `roles/monitoring.metricWriter` on the project. Operating system audit logging is distinct from [Cloud Audit Logs](https://cloud.google.com/workstations/docs/audit-logging) and [Container output logging](https://cloud.google.com/workstations/docs/container-output-logging#overview). Operating system audit logs are available in the [Cloud Logging](https://cloud.google.com/logging/docs) console by querying: resource.type=\"gce_instance\" log_name:\"/logs/linux-auditd\""
          }
        },
        "conditions": {
          "target": "com.gcp.workstations_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Status conditions describing the workstation configuration's current state."
          }
        },
        "annotations": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Client-specified annotations."
          }
        },
        "replicaZones": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Specifies the zones used to replicate the VM and disk resources within the region. If set, exactly two zones within the workstation cluster's region must be specified—for example, `['us-central1-a', 'us-central1-f']`. If this field is empty, two default zones within the region are used. Immutable after the workstation configuration is created."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation configuration was soft-deleted."
          }
        },
        "ephemeralDirectories": {
          "target": "com.gcp.workstations_v1#EphemeralDirectoryList",
          "traits": {
            "smithy.api#documentation": "Optional. Ephemeral directories which won't persist across workstation sessions."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation configuration was created."
          }
        },
        "runningTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of seconds that a workstation can run until it is automatically shut down. We recommend that workstations be shut down daily to reduce costs and so that security updates can be applied upon restart. The idle_timeout and running_timeout fields are independent of each other. Note that the running_timeout field shuts down VMs after the specified time, regardless of whether or not the VMs are idle. Provide duration terminated by `s` for seconds—for example, `\"54000s\"` (15 hours). Defaults to `\"43200s\"` (12 hours). A value of `\"0s\"` indicates that workstations using this configuration should never time out. If encryption_key is set, it must be greater than `\"0s\"` and less than `\"86400s\"` (24 hours). Warning: A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration have no maximum running time. This is strongly discouraged because you incur costs and will not pick up security updates."
          }
        },
        "persistentDirectories": {
          "target": "com.gcp.workstations_v1#PersistentDirectoryList",
          "traits": {
            "smithy.api#documentation": "Optional. Directories to persist across workstation sessions."
          }
        },
        "disableTcpConnections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disables support for plain TCP connections in the workstation. By default the service supports TCP connections through a websocket relay. Setting this option to true disables that relay, which prevents the usage of services that require plain TCP connections, such as SSH. When enabled, all communication must occur over HTTPS or WSS."
          }
        },
        "allowedPorts": {
          "target": "com.gcp.workstations_v1#PortRangeList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of PortRanges specifying single ports or ranges of ports that are externally accessible in the workstation. Allowed ports must be one of 22, 80, or within range 1024-65535. If not specified defaults to ports 22, 80, and ports 1024-65535."
          }
        },
        "grantWorkstationAdminRoleOnCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Grant creator of a workstation `roles/workstations.policyAdmin` role along with `roles/workstations.user` role on the workstation created by them. This allows workstation users to share access to either their entire workstation, or individual ports. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers."
      }
    },
    "com.gcp.workstations_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.workstations_v1#ReadinessCheckList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#ReadinessCheck"
      }
    },
    "com.gcp.workstations_v1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Status"
      }
    },
    "com.gcp.workstations_v1#EphemeralDirectoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#EphemeralDirectory"
      }
    },
    "com.gcp.workstations_v1#PersistentDirectoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#PersistentDirectory"
      }
    },
    "com.gcp.workstations_v1#PortRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#PortRange"
      }
    },
    "com.gcp.workstations_v1#EphemeralDirectory": {
      "type": "structure",
      "members": {
        "gcePd": {
          "target": "com.gcp.workstations_v1#GcePersistentDisk",
          "traits": {
            "smithy.api#documentation": "An EphemeralDirectory backed by a Compute Engine persistent disk."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location of this directory in the running workstation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation."
      }
    },
    "com.gcp.workstations_v1#GceHyperdiskBalancedHighAvailability": {
      "type": "structure",
      "members": {
        "maxSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size in GB to which this persistent directory can be resized. Defaults to unlimited if not set."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`."
          }
        },
        "reclaimPolicy": {
          "target": "com.gcp.workstations_v1#GceHyperdiskBalancedHighAvailabilityReclaimPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`."
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb must be empty. Must be formatted as ext4 file system with no partitions."
          }
        },
        "archiveTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Persistent Directory backed by a Compute Engine [Hyperdisk Balanced High Availability Disk](https://cloud.google.com/compute/docs/disks/hd-types/hyperdisk-balanced-ha). This is a high-availability block storage solution that offers a balance between performance and cost for most general-purpose workloads."
      }
    },
    "com.gcp.workstations_v1#GceHyperdiskBalancedHighAvailabilityReclaimPolicyEnum": {
      "type": "enum",
      "members": {
        "RECLAIM_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLAIM_POLICY_UNSPECIFIED"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETAIN"
          }
        }
      }
    },
    "com.gcp.workstations_v1#GceInstanceHost": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The ID of the Compute Engine instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The name of the Compute Engine instance."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The zone of the Compute Engine instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Compute Engine instance host."
      }
    },
    "com.gcp.workstations_v1#ListUsableWorkstationConfigsResponse": {
      "type": "structure",
      "members": {
        "workstationConfigs": {
          "target": "com.gcp.workstations_v1#WorkstationConfigList",
          "traits": {
            "smithy.api#documentation": "The requested configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListUsableWorkstationConfigs."
      }
    },
    "com.gcp.workstations_v1#ListWorkstationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Unreachable resources."
          }
        },
        "workstations": {
          "target": "com.gcp.workstations_v1#WorkstationList",
          "traits": {
            "smithy.api#documentation": "The requested workstations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkstations."
      }
    },
    "com.gcp.workstations_v1#Container": {
      "type": "structure",
      "members": {
        "args": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Arguments passed to the entrypoint."
          }
        },
        "workingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, overrides the default DIR specified by the image."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Docker container image that defines a custom environment. Cloud Workstations provides a number of [preconfigured images](https://cloud.google.com/workstations/docs/preconfigured-base-images), but you can create your own [custom container images](https://cloud.google.com/workstations/docs/custom-container-images). If using a private image, the `host.gceInstance.serviceAccount` field must be specified in the workstation configuration. If using a custom container image, the service account must have [Artifact Registry Reader](https://cloud.google.com/artifact-registry/docs/access-control#roles) permission to pull the specified image. Otherwise, the image must be publicly accessible."
          }
        },
        "env": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Environment variables passed to the container's entrypoint."
          }
        },
        "runAsUser": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If set, overrides the USER specified in the image with the given uid."
          }
        },
        "command": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, overrides the default ENTRYPOINT specified by the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Docker container."
      }
    },
    "com.gcp.workstations_v1#WorkstationCluster": {
      "type": "structure",
      "members": {
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Name of the Compute Engine subnetwork in which instances associated with this workstation cluster will be created. Must be part of the subnetwork specified for this workstation cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full name of this workstation cluster."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation cluster was soft-deleted."
          }
        },
        "workstationLaunchUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the launch URL for workstations in this cluster. Requests sent to unstarted workstations will be redirected to this URL. Requests redirected to the launch endpoint will be sent with a `workstation` and `project` query parameter containing the full workstation resource name and project ID, respectively. The launch endpoint is responsible for starting the workstation, polling it until it reaches `STATE_RUNNING`, and then issuing a redirect to the workstation's host URL."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation cluster was created."
          }
        },
        "controlPlaneIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The private IP address of the control plane for this workstation cluster. Workstation VMs need access to this IP address to work with the service, so make sure that your firewall rules allow egress from the workstation VMs to this address."
          }
        },
        "domainConfig": {
          "target": "com.gcp.workstations_v1#DomainConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration options for a custom domain."
          }
        },
        "workstationAuthorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the redirect URL for unauthorized requests received by workstation VMs in this cluster. Redirects to this endpoint will send a base64 encoded `state` query param containing the target workstation name and original request hostname. The endpoint is responsible for retrieving a token using `GenerateAccessToken` and redirecting back to the original hostname with the token."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Name of the Compute Engine network in which instances associated with this workstation cluster will be created."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this workstation cluster is currently being updated to match its intended state."
          }
        },
        "degraded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this workstation cluster is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the cluster."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding."
          }
        },
        "labels": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation cluster and that are also propagated to the underlying Compute Engine resources."
          }
        },
        "gatewayConfig": {
          "target": "com.gcp.workstations_v1#GatewayConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration options for Cluster HTTP Gateway."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for this workstation cluster."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation cluster was most recently updated."
          }
        },
        "privateClusterConfig": {
          "target": "com.gcp.workstations_v1#PrivateClusterConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for private workstation cluster."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name for this workstation cluster."
          }
        },
        "conditions": {
          "target": "com.gcp.workstations_v1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Status conditions describing the workstation cluster's current state."
          }
        },
        "tags": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
          }
        },
        "annotations": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Client-specified annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A workstation cluster resource in the Cloud Workstations API. Defines a group of workstations in a particular region and the VPC network they're attached to."
      }
    },
    "com.gcp.workstations_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.workstations_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.workstations_v1#RuntimeHost": {
      "type": "structure",
      "members": {
        "gceInstanceHost": {
          "target": "com.gcp.workstations_v1#GceInstanceHost",
          "traits": {
            "smithy.api#documentation": "Specifies a Compute Engine instance as the host."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime host for the workstation."
      }
    },
    "com.gcp.workstations_v1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.workstations_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.workstations_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for long-running operations."
      }
    },
    "com.gcp.workstations_v1#GceShieldedInstanceConfig": {
      "type": "structure",
      "members": {
        "enableSecureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the instance has Secure Boot enabled."
          }
        },
        "enableVtpm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the instance has the vTPM enabled."
          }
        },
        "enableIntegrityMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the instance has integrity monitoring enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Compute Engine Shielded instance options."
      }
    },
    "com.gcp.workstations_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.workstations_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.workstations_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.workstations_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#DocumentMap"
      }
    },
    "com.gcp.workstations_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.workstations_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.workstations_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.workstations_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.workstations_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Operation"
      }
    },
    "com.gcp.workstations_v1#PersistentDirectory": {
      "type": "structure",
      "members": {
        "gcePd": {
          "target": "com.gcp.workstations_v1#GceRegionalPersistentDisk",
          "traits": {
            "smithy.api#documentation": "A PersistentDirectory backed by a Compute Engine persistent disk."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of this directory in the running workstation."
          }
        },
        "gceHd": {
          "target": "com.gcp.workstations_v1#GceHyperdiskBalancedHighAvailability",
          "traits": {
            "smithy.api#documentation": "A PersistentDirectory backed by a Compute Engine hyperdisk high availability disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A directory to persist across workstation sessions. Updates to this field will not update existing workstations and will only take effect on new workstations."
      }
    },
    "com.gcp.workstations_v1#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.workstations_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.workstations_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.workstations_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Location"
      }
    },
    "com.gcp.workstations_v1#CustomerEncryptionKey": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the Google Cloud KMS encryption key. For example, `\"projects/PROJECT_ID/locations/REGION/keyRings/KEY_RING/cryptoKeys/KEY_NAME\"`. The key must be in the same region as the workstation configuration."
          }
        },
        "kmsKeyServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The service account to use with the specified KMS key. We recommend that you use a separate service account and follow KMS best practices. For more information, see [Separation of duties](https://cloud.google.com/kms/docs/separation-of-duties) and `gcloud kms keys add-iam-policy-binding` [`--member`](https://cloud.google.com/sdk/gcloud/reference/kms/keys/add-iam-policy-binding#--member)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A customer-managed encryption key (CMEK) for the Compute Engine resources of the associated workstation configuration. Specify the name of your Cloud KMS encryption key and the default service account. We recommend that you use a separate service account and follow [Cloud KMS best practices](https://cloud.google.com/kms/docs/separation-of-duties)."
      }
    },
    "com.gcp.workstations_v1#GceConfidentialInstanceConfig": {
      "type": "structure",
      "members": {
        "enableConfidentialCompute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the instance has confidential compute enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Compute Engine Confidential VM instance options."
      }
    },
    "com.gcp.workstations_v1#StartWorkstationRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validate the request and preview the result, but do not actually apply it."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag."
          }
        },
        "boostConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, the workstation starts using the boost configuration with the specified ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for StartWorkstation."
      }
    },
    "com.gcp.workstations_v1#GenerateAccessTokenRequest": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Port for which the access token should be generated. If specified, the generated access token grants access only to the specified port of the workstation. If specified, values must be within the range [1 - 65535]. If not specified, the generated access token grants access to all ports of the workstation."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GenerateAccessToken."
      }
    },
    "com.gcp.workstations_v1#PrivateClusterConfig": {
      "type": "structure",
      "members": {
        "clusterHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Hostname for the workstation cluster. This field will be populated only when private endpoint is enabled. To access workstations in the workstation cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment."
          }
        },
        "enablePrivateEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Whether Workstations endpoint is private."
          }
        },
        "serviceAttachmentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service attachment URI for the workstation cluster. The service attachment is created when private endpoint is enabled. To access workstations in the workstation cluster, configure access to the managed service using [Private Service Connect](https://cloud.google.com/vpc/docs/configure-private-service-connect-services)."
          }
        },
        "allowedProjects": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional projects that are allowed to attach to the workstation cluster's service attachment. By default, the workstation cluster's project and the VPC host project (if different) are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for private workstation clusters."
      }
    },
    "com.gcp.workstations_v1#StopWorkstationRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validate the request and preview the result, but do not actually apply it."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for StopWorkstation."
      }
    },
    "com.gcp.workstations_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.workstations_v1#Workstation": {
      "type": "structure",
      "members": {
        "persistentDirectories": {
          "target": "com.gcp.workstations_v1#WorkstationPersistentDirectoryList",
          "traits": {
            "smithy.api#documentation": "Optional. Directories to persist across workstation sessions."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full name of this workstation."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation was soft-deleted."
          }
        },
        "state": {
          "target": "com.gcp.workstations_v1#WorkstationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the workstation."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system-assigned unique identifier for this workstation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation was most recently updated."
          }
        },
        "runtimeHost": {
          "target": "com.gcp.workstations_v1#RuntimeHost",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Runtime host for the workstation when in STATE_RUNNING."
          }
        },
        "labels": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation and that are also propagated to the underlying Compute Engine resources."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this workstation was most recently successfully started, regardless of the workstation's initial state."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this workstation is currently being updated to match its intended state."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Google Cloud KMS encryption key used to encrypt this workstation. The KMS key can only be configured in the WorkstationConfig. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        },
        "annotations": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Client-specified annotations."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format `{port}-{host}`."
          }
        },
        "sourceWorkstation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The source workstation from which this workstation's persistent directories were cloned on creation."
          }
        },
        "env": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Environment variables passed to the workstation container's entrypoint."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name for this workstation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single instance of a developer workstation with its own persistent storage."
      }
    },
    "com.gcp.workstations_v1#WorkstationPersistentDirectoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#WorkstationPersistentDirectory"
      }
    },
    "com.gcp.workstations_v1#WorkstationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_STARTING"
          }
        },
        "STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_RUNNING"
          }
        },
        "STATE_STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_STOPPING"
          }
        },
        "STATE_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_STOPPED"
          }
        }
      }
    },
    "com.gcp.workstations_v1#ReadinessCheck": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to which the request should be sent."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Port to which the request should be sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A readiness check to be performed on a workstation."
      }
    },
    "com.gcp.workstations_v1#Host": {
      "type": "structure",
      "members": {
        "gceInstance": {
          "target": "com.gcp.workstations_v1#GceInstance",
          "traits": {
            "smithy.api#documentation": "Specifies a Compute Engine instance as the host."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime host for a workstation."
      }
    },
    "com.gcp.workstations_v1#DomainConfig": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Domain used by Workstations for HTTP ingress."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for a custom domain."
      }
    },
    "com.gcp.workstations_v1#Accelerator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type of accelerator resource to attach to the instance, for example, `\"nvidia-tesla-p100\"`."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of accelerator cards exposed to the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An accelerator card attached to the instance."
      }
    },
    "com.gcp.workstations_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.workstations_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.workstations_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.workstations_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#Binding"
      }
    },
    "com.gcp.workstations_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#AuditConfig"
      }
    },
    "com.gcp.workstations_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.workstations_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.workstations_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.workstations_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.workstations_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.workstations_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.workstations_v1#GceInstance": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Network tags to add to the Compute Engine VMs backing the workstations. This option applies [network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags) to VMs created with this configuration. These network tags enable the creation of [firewall rules](https://cloud.google.com/workstations/docs/configure-firewall-rules)."
          }
        },
        "vmTags": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource manager tags to be bound to this instance. Tag keys and values have the same definition as [resource manager tags](https://cloud.google.com/resource-manager/docs/tags/tags-overview). Keys must be in the format `tagKeys/{tag_key_id}`, and values are in the format `tagValues/456`."
          }
        },
        "poolSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of VMs that the system should keep idle so that new workstations can be started quickly for new users. Defaults to `0` in the API."
          }
        },
        "shieldedInstanceConfig": {
          "target": "com.gcp.workstations_v1#GceShieldedInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. A set of Compute Engine Shielded instance options."
          }
        },
        "disableSsh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable SSH access to the VM."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of machine to use for VM instances—for example, `\"e2-standard-4\"`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types)."
          }
        },
        "bootDiskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB."
          }
        },
        "enableNestedVirtualization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable nested virtualization on Cloud Workstations VMs created using this workstation configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on workstation configurations that specify a machine_type in the N1 or N2 machine series."
          }
        },
        "startupScriptUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Link to the startup script stored in Cloud Storage. This script will be run on the host workstation VM when the VM is created. The URI must be of the form gs://{bucket-name}/{object-name}. If specifying a startup script, the service account must have [Permission to access the bucket and script file in Cloud Storage](https://cloud.google.com/storage/docs/access-control/iam-permissions). Otherwise, the script must be publicly accessible. Note that the service regularly updates the OS version of the host VM, and it is the responsibility of the user to ensure the script stays compatible with the OS version."
          }
        },
        "boostConfigs": {
          "target": "com.gcp.workstations_v1#BoostConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of the boost configurations that workstations created using this workstation configuration are allowed to use. If specified, users will have the option to choose from the list of boost configs when starting a workstation."
          }
        },
        "confidentialInstanceConfig": {
          "target": "com.gcp.workstations_v1#GceConfidentialInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. A set of Compute Engine Confidential VM instance options."
          }
        },
        "pooledInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of instances currently available in the pool for faster workstation startup."
          }
        },
        "accelerators": {
          "target": "com.gcp.workstations_v1#AcceleratorList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of the type and count of accelerator cards attached to the instance."
          }
        },
        "serviceAccountScopes": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Scopes to grant to the service_account. When specified, users of workstations under this configuration must have `iam.serviceAccounts.actAs` on the service account."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email address of the service account for Cloud Workstations VMs created with this configuration. When specified, be sure that the service account has `logging.logEntries.create` and `monitoring.timeSeries.create` permissions on the project so it can write logs out to Cloud Logging. If using a custom container image, the service account must have [Artifact Registry Reader](https://cloud.google.com/artifact-registry/docs/access-control#roles) permission to pull the specified image. If you as the administrator want to be able to `ssh` into the underlying VM, you need to set this value to a service account for which you have the `iam.serviceAccounts.actAs` permission. Conversely, if you don't want anyone to be able to `ssh` into the underlying VM, use a service account where no one has that permission. If not set, VMs run with a service account provided by the Cloud Workstations service, and the image must be publicly accessible."
          }
        },
        "instanceMetadata": {
          "target": "com.gcp.workstations_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Custom metadata to apply to Compute Engine instances."
          }
        },
        "disablePublicIpAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, disables public IP addresses for VMs. If you disable public IP addresses, you must set up Private Google Access or Cloud NAT on your network. If you use Private Google Access and you use `private.googleapis.com` or `restricted.googleapis.com` for Container Registry and Artifact Registry, make sure that you set up DNS records for domains `*.gcr.io` and `*.pkg.dev`. Defaults to false (VMs have public IP addresses)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A runtime using a Compute Engine instance."
      }
    },
    "com.gcp.workstations_v1#BoostConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#BoostConfig"
      }
    },
    "com.gcp.workstations_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.workstations_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.workstations_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workstations_v1#AuditLogConfig"
      }
    },
    "com.gcp.workstations_v1#GceRegionalPersistentDisk": {
      "type": "structure",
      "members": {
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb and fs_type must be empty. Must be formatted as ext4 file system with no partitions."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`. If less than `200` GB, the disk_type must be `\"pd-balanced\"` or `\"pd-ssd\"`."
          }
        },
        "reclaimPolicy": {
          "target": "com.gcp.workstations_v1#GceRegionalPersistentDiskReclaimPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`."
          }
        },
        "archiveTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived."
          }
        },
        "maxSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size in GB to which this persistent directory can be resized. Defaults to unlimited if not set."
          }
        },
        "fsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set. Defaults to `\"ext4\"`."
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [type of the persistent disk](https://cloud.google.com/compute/docs/disks#disk-types) for the home directory. Defaults to `\"pd-standard\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Persistent Directory backed by a Compute Engine regional persistent disk. The persistent_directories field is repeated, but it may contain only one entry. It creates a [persistent disk](https://cloud.google.com/compute/docs/disks/persistent-disks) that mounts to the workstation VM at `/home` when the session starts and detaches when the session ends. If this field is empty, workstations created with this configuration do not have a persistent home directory."
      }
    },
    "com.gcp.workstations_v1#GceRegionalPersistentDiskReclaimPolicyEnum": {
      "type": "enum",
      "members": {
        "RECLAIM_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLAIM_POLICY_UNSPECIFIED"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETAIN"
          }
        }
      }
    },
    "com.gcp.workstations_v1#WorkstationPersistentDirectory": {
      "type": "structure",
      "members": {
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The mount path of the persistent directory."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Size of the persistent directory in GB. If specified in an update request, this is the desired size of the directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A directory to persist across workstation sessions. Updates to this field will only take effect on this workstation after it is restarted."
      }
    },
    "com.gcp.workstations_v1#PortRange": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Starting port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Ending port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PortRange defines a range of ports. Both first and last are inclusive. To specify a single port, both first and last should be the same."
      }
    },
    "com.gcp.workstations_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.workstations_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.workstations_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.workstations_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.workstations_v1#GenerateAccessTokenResponse": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the generated token will expire."
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname—for example, `Authorization: Bearer `."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GenerateAccessToken."
      }
    },
    "com.gcp.workstations_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
[...]
