{
  "smithy": "2.0",
  "metadata": {
    "service": "workloadmanager",
    "version": "v1",
    "title": "Workload Manager API",
    "baseUrl": "https://workloadmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.workloadmanager_v1#Notice": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Message of the notice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information generated by an execution."
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesProductVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of the product."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A product name and version."
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "type": "structure",
      "members": {
        "remainder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
          }
        },
        "patch": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The patch version number."
          }
        },
        "major": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The major version number."
          }
        },
        "build": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The build version number."
          }
        },
        "minor": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The minor version number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version is reported as Major.Minor.Build.Patch."
      }
    },
    "com.gcp.workloadmanager_v1#ListDiscoveredProfilesResponse": {
      "type": "structure",
      "members": {
        "workloadProfiles": {
          "target": "com.gcp.workloadmanager_v1#WorkloadProfileList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of workload profiles"
          }
        },
        "unreachable": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token identifying a page of results the server should return"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List discovered profile Response returns discovered profiles from agents"
      }
    },
    "com.gcp.workloadmanager_v1#WorkloadProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#WorkloadProfile"
      }
    },
    "com.gcp.workloadmanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.workloadmanager_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.workloadmanager_v1#LocationDetails": {
      "type": "structure",
      "members": {
        "createCommsFirewall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment."
          }
        },
        "dnsZoneNameSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DNS zone name suffix."
          }
        },
        "internetAccess": {
          "target": "com.gcp.workloadmanager_v1#LocationDetailsInternetAccessEnum"
        },
        "dnsZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DNS zone name."
          }
        },
        "regionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Region name."
          }
        },
        "vpcName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. VPC name."
          }
        },
        "networkProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Network project."
          }
        },
        "zone2Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Zone 2 name."
          }
        },
        "deploymentDnsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true."
          }
        },
        "customTags": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Network tags."
          }
        },
        "zone1Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Zone 1 name."
          }
        },
        "subnetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Subnet name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for SAP instance details."
      }
    },
    "com.gcp.workloadmanager_v1#LocationDetailsInternetAccessEnum": {
      "type": "enum",
      "members": {
        "INTERNETACCESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNETACCESS_UNSPECIFIED"
          }
        },
        "ALLOW_EXTERNAL_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_EXTERNAL_IP"
          }
        },
        "CONFIGURE_NAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURE_NAT"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapValidationValidationDetail": {
      "type": "structure",
      "members": {
        "sapValidationType": {
          "target": "com.gcp.workloadmanager_v1#SapValidationValidationDetailSapValidationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The SAP system that the validation data is from."
          }
        },
        "details": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The pairs of metrics data: field name & field value."
          }
        },
        "isPresent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Was there a SAP system detected for this validation type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the SAP validation metrics."
      }
    },
    "com.gcp.workloadmanager_v1#SapValidationValidationDetailSapValidationTypeEnum": {
      "type": "enum",
      "members": {
        "SAP_VALIDATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP_VALIDATION_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "COROSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COROSYNC"
          }
        },
        "PACEMAKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACEMAKER"
          }
        },
        "HANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HANA"
          }
        },
        "NETWEAVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWEAVER"
          }
        },
        "HANA_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HANA_SECURITY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.workloadmanager_v1#Rule": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describe rule in plain language."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message template for rule."
          }
        },
        "tags": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of user-defined tags."
          }
        },
        "primaryCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary category."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document url for the rule."
          }
        },
        "remediation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remediation for the rule."
          }
        },
        "ruleType": {
          "target": "com.gcp.workloadmanager_v1#RuleRuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the rule."
          }
        },
        "secondaryCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary category."
          }
        },
        "assetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the rule."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity of the rule."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name display in UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rule to be evaluated."
      }
    },
    "com.gcp.workloadmanager_v1#RuleRuleTypeEnum": {
      "type": "enum",
      "members": {
        "RULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_TYPE_UNSPECIFIED"
          }
        },
        "BASELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASELINE"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#OpenShiftValidation": {
      "type": "structure",
      "members": {
        "validationDetails": {
          "target": "com.gcp.workloadmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The validation details of the OpenShift cluster in JSON format."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data."
      }
    },
    "com.gcp.workloadmanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetail": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetailTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The Sqlserver system that the validation data is from."
          }
        },
        "details": {
          "target": "com.gcp.workloadmanager_v1#SqlserverValidationDetailsList",
          "traits": {
            "smithy.api#documentation": "Required. Details wraps map that represents collected data names and values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the Sqlserver validation metrics."
      }
    },
    "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetailTypeEnum": {
      "type": "enum",
      "members": {
        "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED"
          }
        },
        "OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS"
          }
        },
        "DB_LOG_DISK_SEPARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_LOG_DISK_SEPARATION"
          }
        },
        "DB_MAX_PARALLELISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_MAX_PARALLELISM"
          }
        },
        "DB_CXPACKET_WAITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_CXPACKET_WAITS"
          }
        },
        "DB_TRANSACTION_LOG_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_TRANSACTION_LOG_HANDLING"
          }
        },
        "DB_VIRTUAL_LOG_FILE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_VIRTUAL_LOG_FILE_COUNT"
          }
        },
        "DB_BUFFER_POOL_EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_BUFFER_POOL_EXTENSION"
          }
        },
        "DB_MAX_SERVER_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_MAX_SERVER_MEMORY"
          }
        },
        "INSTANCE_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_METRICS"
          }
        },
        "DB_INDEX_FRAGMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_INDEX_FRAGMENTATION"
          }
        },
        "DB_TABLE_INDEX_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_TABLE_INDEX_COMPRESSION"
          }
        },
        "DB_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB_BACKUP_POLICY"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SqlserverValidationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#SqlserverValidationDetails"
      }
    },
    "com.gcp.workloadmanager_v1#ListActuationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "actuations": {
          "target": "com.gcp.workloadmanager_v1#ActuationList",
          "traits": {
            "smithy.api#documentation": "The list of actuations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response object from `ListActuations`."
      }
    },
    "com.gcp.workloadmanager_v1#ActuationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Actuation"
      }
    },
    "com.gcp.workloadmanager_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.workloadmanager_v1#ListScannedResourcesResponse": {
      "type": "structure",
      "members": {
        "scannedResources": {
          "target": "com.gcp.workloadmanager_v1#ScannedResourceList",
          "traits": {
            "smithy.api#documentation": "All scanned resources in response."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListScannedResources RPC."
      }
    },
    "com.gcp.workloadmanager_v1#ScannedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#ScannedResource"
      }
    },
    "com.gcp.workloadmanager_v1#CloudResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
          }
        },
        "kind": {
          "target": "com.gcp.workloadmanager_v1#CloudResourceKindEnum",
          "traits": {
            "smithy.api#documentation": "Output only. "
          }
        },
        "instanceProperties": {
          "target": "com.gcp.workloadmanager_v1#InstanceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. All instance properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource on GCP"
      }
    },
    "com.gcp.workloadmanager_v1#CloudResourceKindEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_UNSPECIFIED"
          }
        },
        "RESOURCE_KIND_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_INSTANCE"
          }
        },
        "RESOURCE_KIND_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_DISK"
          }
        },
        "RESOURCE_KIND_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_ADDRESS"
          }
        },
        "RESOURCE_KIND_FILESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_FILESTORE"
          }
        },
        "RESOURCE_KIND_HEALTH_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_HEALTH_CHECK"
          }
        },
        "RESOURCE_KIND_FORWARDING_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_FORWARDING_RULE"
          }
        },
        "RESOURCE_KIND_BACKEND_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_BACKEND_SERVICE"
          }
        },
        "RESOURCE_KIND_SUBNETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_SUBNETWORK"
          }
        },
        "RESOURCE_KIND_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_NETWORK"
          }
        },
        "RESOURCE_KIND_PUBLIC_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_PUBLIC_ADDRESS"
          }
        },
        "RESOURCE_KIND_INSTANCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_KIND_INSTANCE_GROUP"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#AppDetails": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Machine type."
          }
        },
        "ersVm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ERS VM name."
          }
        },
        "ascsImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Image for the ASCS server."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Image for the app server and ASCS server."
          }
        },
        "ascsInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance ID for ASCS."
          }
        },
        "ersInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance ID for ERS."
          }
        },
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SAP SID is a three-digit server-specific unique identification code."
          }
        },
        "ascsVm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ASCS VM name."
          }
        },
        "vmsMultiplier": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. VMs multiplier."
          }
        },
        "ascsMachineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ASCS machine type."
          }
        },
        "appInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance ID for app."
          }
        },
        "ascsServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ASCS service account. Let customers bring their own service account for ASCS."
          }
        },
        "sharedStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Storage location."
          }
        },
        "appServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application service account. Let customers bring their own service account for the application."
          }
        },
        "appVmNames": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Customized VM names."
          }
        },
        "secretManagerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Secret Manager secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for SAP instance details."
      }
    },
    "com.gcp.workloadmanager_v1#WorkloadProfileHealth": {
      "type": "structure",
      "members": {
        "componentsHealth": {
          "target": "com.gcp.workloadmanager_v1#ComponentHealthList",
          "traits": {
            "smithy.api#documentation": "The detailed condition reports of each component."
          }
        },
        "checkTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the health check was performed."
          }
        },
        "state": {
          "target": "com.gcp.workloadmanager_v1#WorkloadProfileHealthStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The health state of the workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkloadProfileHealth contains the detailed health check of workload."
      }
    },
    "com.gcp.workloadmanager_v1#ComponentHealthList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#ComponentHealth"
      }
    },
    "com.gcp.workloadmanager_v1#WorkloadProfileHealthStateEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#DatabaseDetails": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Image for the database server."
          }
        },
        "primaryDbVm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Primary DB VM name."
          }
        },
        "secondaryDbVm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Secondary DB VM name."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Machine type."
          }
        },
        "databaseServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database service account. Let customers bring their own SA for the database."
          }
        },
        "secretManagerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Secret Manager secret."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance ID."
          }
        },
        "sid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SID is a three-digit server-specific unique identification code."
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disk type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for SAP instance details."
      }
    },
    "com.gcp.workloadmanager_v1#RuleOutput": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The message generated by rule."
          }
        },
        "details": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Violation details generated by rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The rule output of the violation."
      }
    },
    "com.gcp.workloadmanager_v1#Product": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of the product."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the details of a product."
      }
    },
    "com.gcp.workloadmanager_v1#Summary": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of failures."
          }
        },
        "newFailures": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of new failures compared to the previous execution."
          }
        },
        "newFixes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of new fixes compared to the previous execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution summary."
      }
    },
    "com.gcp.workloadmanager_v1#HealthCheck": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The message of the health check."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The health check source metric name."
          }
        },
        "state": {
          "target": "com.gcp.workloadmanager_v1#HealthCheckStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the health check."
          }
        },
        "resource": {
          "target": "com.gcp.workloadmanager_v1#CloudResource",
          "traits": {
            "smithy.api#documentation": "Output only. The resource the check performs on."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The source of the health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HealthCheck contains the detailed health check of a component based on asource."
      }
    },
    "com.gcp.workloadmanager_v1#HealthCheckStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ListDeploymentsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        },
        "deployments": {
          "target": "com.gcp.workloadmanager_v1#DeploymentList",
          "traits": {
            "smithy.api#documentation": "The list of deployments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing deployments."
      }
    },
    "com.gcp.workloadmanager_v1#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Deployment"
      }
    },
    "com.gcp.workloadmanager_v1#ViolationDetails": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account associated with the resource."
          }
        },
        "observed": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Details of the violation."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the asset."
          }
        },
        "ruleOutput": {
          "target": "com.gcp.workloadmanager_v1#RuleOutputList",
          "traits": {
            "smithy.api#documentation": "Output only. The rule output of the violation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The violation in an evaluation result."
      }
    },
    "com.gcp.workloadmanager_v1#RuleOutputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#RuleOutput"
      }
    },
    "com.gcp.workloadmanager_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.workloadmanager_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.workloadmanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#DocumentMap"
      }
    },
    "com.gcp.workloadmanager_v1#SapValidation": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project_id of the cloud project that the Insight data comes from."
          }
        },
        "validationDetails": {
          "target": "com.gcp.workloadmanager_v1#SapValidationValidationDetailList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of SAP validation metrics data."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The zone of the instance that the Insight data comes from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
      }
    },
    "com.gcp.workloadmanager_v1#SapValidationValidationDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#SapValidationValidationDetail"
      }
    },
    "com.gcp.workloadmanager_v1#TorsoValidation": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. agent_version lists the version of the agent that collected this data."
          }
        },
        "workloadType": {
          "target": "com.gcp.workloadmanager_v1#TorsoValidationWorkloadTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. workload_type specifies the type of torso workload."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. project_id lists the human readable cloud project that the data comes from."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. instance_name lists the human readable name of the instance that the data comes from."
          }
        },
        "validationDetails": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. validation_details contains the pairs of validation data: field name & field value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schema of torso workload validation data."
      }
    },
    "com.gcp.workloadmanager_v1#TorsoValidationWorkloadTypeEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_TYPE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        },
        "REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ResourceFilter": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
          }
        },
        "inclusionLabels": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`."
          }
        },
        "gceInstanceFilter": {
          "target": "com.gcp.workloadmanager_v1#GceInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Filter compute engine resources."
          }
        },
        "resourceIdPatterns": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource filter for an evaluation defining the scope of resources to be evaluated."
      }
    },
    "com.gcp.workloadmanager_v1#ActiveDirectory": {
      "type": "structure",
      "members": {
        "secretManagerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Secret Manager secret."
          }
        },
        "type": {
          "target": "com.gcp.workloadmanager_v1#ActiveDirectoryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Active Directory type."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human readable form of a domain such as “google.com”."
          }
        },
        "dnsAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DNS IP address."
          }
        },
        "domainUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Domain username."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active Directory details."
      }
    },
    "com.gcp.workloadmanager_v1#ActiveDirectoryTypeEnum": {
      "type": "enum",
      "members": {
        "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED"
          }
        },
        "GCP_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP_MANAGED"
          }
        },
        "SELF_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELF_MANAGED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapSystemS4Config": {
      "type": "structure",
      "members": {
        "allowStoppingForUpdate": {
          "target": "smithy.api#Boolean"
        },
        "gcpProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
          }
        },
        "app": {
          "target": "com.gcp.workloadmanager_v1#AppDetails",
          "traits": {
            "smithy.api#documentation": "Instance details."
          }
        },
        "database": {
          "target": "com.gcp.workloadmanager_v1#DatabaseDetails",
          "traits": {
            "smithy.api#documentation": "Database details."
          }
        },
        "vmPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VM prefix."
          }
        },
        "deploymentModel": {
          "target": "com.gcp.workloadmanager_v1#SapSystemS4ConfigDeploymentModelEnum",
          "traits": {
            "smithy.api#documentation": "Required. Supports non-HA and HA models."
          }
        },
        "sapBootDiskImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. SAP boot disk image."
          }
        },
        "ansibleRunnerServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ansible runner service account. Let customers bring their own service account for the Ansible runner."
          }
        },
        "location": {
          "target": "com.gcp.workloadmanager_v1#LocationDetails",
          "traits": {
            "smithy.api#documentation": "Database details."
          }
        },
        "scalingMethod": {
          "target": "com.gcp.workloadmanager_v1#SapSystemS4ConfigScalingMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. Supports scale up and scale out."
          }
        },
        "environmentType": {
          "target": "com.gcp.workloadmanager_v1#SapSystemS4ConfigEnvironmentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Deployment environment."
          }
        },
        "version": {
          "target": "com.gcp.workloadmanager_v1#SapSystemS4ConfigVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. SAP HANA version."
          }
        },
        "mediaBucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Media bucket name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for SAP system workload."
      }
    },
    "com.gcp.workloadmanager_v1#SapSystemS4ConfigDeploymentModelEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_MODEL_UNSPECIFIED"
          }
        },
        "DISTRIBUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTRIBUTED"
          }
        },
        "DISTRIBUTED_HA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTRIBUTED_HA"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapSystemS4ConfigScalingMethodEnum": {
      "type": "enum",
      "members": {
        "SCALE_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE_METHOD_UNSPECIFIED"
          }
        },
        "SCALE_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE_UP"
          }
        },
        "SCALE_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE_OUT"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapSystemS4ConfigEnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_TYPE_UNSPECIFIED"
          }
        },
        "NON_PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_PRODUCTION"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapSystemS4ConfigVersionEnum": {
      "type": "enum",
      "members": {
        "VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_UNSPECIFIED"
          }
        },
        "S4_HANA_2021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S4_HANA_2021"
          }
        },
        "S4_HANA_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S4_HANA_2022"
          }
        },
        "S4_HANA_2023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S4_HANA_2023"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "type": "structure",
      "members": {
        "rawString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Raw string of the kernel version."
          }
        },
        "osKernel": {
          "target": "com.gcp.workloadmanager_v1#SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "traits": {
            "smithy.api#documentation": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
          }
        },
        "distroKernel": {
          "target": "com.gcp.workloadmanager_v1#SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "traits": {
            "smithy.api#documentation": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KernelVersion encapsulates the kernel version data for the system."
      }
    },
    "com.gcp.workloadmanager_v1#BackupProperties": {
      "type": "structure",
      "members": {
        "latestBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the latest backup was performed."
          }
        },
        "latestBackupStatus": {
          "target": "com.gcp.workloadmanager_v1#BackupPropertiesLatestBackupStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the latest backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup properties."
      }
    },
    "com.gcp.workloadmanager_v1#BackupPropertiesLatestBackupStatusEnum": {
      "type": "enum",
      "members": {
        "BACKUP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_STATE_UNSPECIFIED"
          }
        },
        "BACKUP_STATE_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_STATE_SUCCESS"
          }
        },
        "BACKUP_STATE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_STATE_FAILURE"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#Evaluation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Evaluation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp."
          }
        },
        "resourceFilter": {
          "target": "com.gcp.workloadmanager_v1#ResourceFilter",
          "traits": {
            "smithy.api#documentation": "Resource filter for an evaluation defining the scope of resources to be evaluated."
          }
        },
        "ruleNames": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the rules used for this evaluation."
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource."
          }
        },
        "resourceStatus": {
          "target": "com.gcp.workloadmanager_v1#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] The current lifecycle state of the evaluation resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp."
          }
        },
        "bigQueryDestination": {
          "target": "com.gcp.workloadmanager_v1#BigQueryDestination",
          "traits": {
            "smithy.api#documentation": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
          }
        },
        "evaluationType": {
          "target": "com.gcp.workloadmanager_v1#EvaluationEvaluationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Evaluation type."
          }
        },
        "labels": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
          }
        },
        "customRulesBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage bucket name for custom rules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources."
      }
    },
    "com.gcp.workloadmanager_v1#EvaluationEvaluationTypeEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_TYPE_UNSPECIFIED"
          }
        },
        "SAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP"
          }
        },
        "SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SERVER"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The component's major version."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The component's type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the component."
          }
        },
        "extVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The component's minor version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A SAP software component name, version, and type."
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryResourceInstancePropertiesAppInstance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance name of the SAP application instance."
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance number of the SAP application instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fields to describe an SAP application server instance."
      }
    },
    "com.gcp.workloadmanager_v1#Actuation": {
      "type": "structure",
      "members": {
        "actuationOutput": {
          "target": "com.gcp.workloadmanager_v1#ActuationOutput",
          "traits": {
            "smithy.api#documentation": "Output only. Actuation output."
          }
        },
        "state": {
          "target": "com.gcp.workloadmanager_v1#ActuationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Actuation state."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time stamp."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}."
          }
        },
        "deploymentOutput": {
          "target": "com.gcp.workloadmanager_v1#DeploymentOutputList",
          "traits": {
            "smithy.api#documentation": "Output only. Deployment output."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time stamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software."
      }
    },
    "com.gcp.workloadmanager_v1#ActuationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INFRA_CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_CREATING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "POST_INFRA_CONFIGURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_INFRA_CONFIGURING"
          }
        },
        "INFRA_DESTROYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_DESTROYING"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#DeploymentOutputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#DeploymentOutput"
      }
    },
    "com.gcp.workloadmanager_v1#ListRulesResponse": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.workloadmanager_v1#RuleList",
          "traits": {
            "smithy.api#documentation": "All rules in response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListRules RPC."
      }
    },
    "com.gcp.workloadmanager_v1#RuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Rule"
      }
    },
    "com.gcp.workloadmanager_v1#BigQueryDestination": {
      "type": "structure",
      "members": {
        "destinationDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Destination dataset to save evaluation results."
          }
        },
        "createNewResultsTable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if a new results table will be created when an Execution is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BigQuery destination for evaluation results."
      }
    },
    "com.gcp.workloadmanager_v1#WriteInsightRequest": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The agent version collected this data point."
          }
        },
        "insight": {
          "target": "com.gcp.workloadmanager_v1#Insight",
          "traits": {
            "smithy.api#documentation": "Required. The metrics data details."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for sending the data insights."
      }
    },
    "com.gcp.workloadmanager_v1#ListExecutionsResponse": {
      "type": "structure",
      "members": {
        "executions": {
          "target": "com.gcp.workloadmanager_v1#ExecutionList",
          "traits": {
            "smithy.api#documentation": "The list of Execution."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListExecutions RPC."
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Execution"
      }
    },
    "com.gcp.workloadmanager_v1#ComponentHealth": {
      "type": "structure",
      "members": {
        "componentHealthChecks": {
          "target": "com.gcp.workloadmanager_v1#HealthCheckList",
          "traits": {
            "smithy.api#documentation": "The detailed health checks of the component."
          }
        },
        "componentHealthType": {
          "target": "com.gcp.workloadmanager_v1#ComponentHealthComponentHealthTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the component health."
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The component of a workload."
          }
        },
        "state": {
          "target": "com.gcp.workloadmanager_v1#ComponentHealthStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The health state of the component."
          }
        },
        "subComponentsHealth": {
          "target": "com.gcp.workloadmanager_v1#ComponentHealthList",
          "traits": {
            "smithy.api#documentation": "Sub component health."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HealthCondition contains the detailed health check of each component."
      }
    },
    "com.gcp.workloadmanager_v1#HealthCheckList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#HealthCheck"
      }
    },
    "com.gcp.workloadmanager_v1#ComponentHealthComponentHealthTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_REQUIRED"
          }
        },
        "TYPE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_OPTIONAL"
          }
        },
        "TYPE_SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SPECIAL"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ComponentHealthStateEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#Database": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Machine type."
          }
        },
        "tempdbOnSsd": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether to have TempDB on local SSD."
          }
        },
        "tenancyModel": {
          "target": "com.gcp.workloadmanager_v1#DatabaseTenancyModelEnum",
          "traits": {
            "smithy.api#documentation": "Required. SHARED or SOLE_TENANT."
          }
        },
        "soleTenantNodeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
          }
        },
        "floatingIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Only useful for Linux High Availability setup."
          }
        },
        "secondarySoleTenantNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a secondary-sole-tenant node/node group."
          }
        },
        "secretManagerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Secret Manager secret."
          }
        },
        "smt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether simultaneous multithreading is enabled or not."
          }
        },
        "soleTenantNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a primary sole-tenant node/node group."
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disk type."
          }
        },
        "secondarySoleTenantNodeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database details."
      }
    },
    "com.gcp.workloadmanager_v1#DatabaseTenancyModelEnum": {
      "type": "enum",
      "members": {
        "TENANCY_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TENANCY_MODEL_UNSPECIFIED"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        },
        "SOLE_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLE_TENANT"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ResourceStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.workloadmanager_v1#ResourceStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the Evaluation resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lifecycle status of an Evaluation resource."
      }
    },
    "com.gcp.workloadmanager_v1#ResourceStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#UpcomingMaintenanceEvent": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. End time"
          }
        },
        "maintenanceStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance status"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Start time"
          }
        },
        "onHostMaintenance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance Event"
      }
    },
    "com.gcp.workloadmanager_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.workloadmanager_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.workloadmanager_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Location"
      }
    },
    "com.gcp.workloadmanager_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionResult": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.workloadmanager_v1#Resource",
          "traits": {
            "smithy.api#documentation": "The resource that violates the rule."
          }
        },
        "commands": {
          "target": "com.gcp.workloadmanager_v1#CommandList",
          "traits": {
            "smithy.api#documentation": "The commands to remediate the violation."
          }
        },
        "type": {
          "target": "com.gcp.workloadmanager_v1#ExecutionResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Execution result type of the scanned resource."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity of violation."
          }
        },
        "violationMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The violation message of an execution."
          }
        },
        "rule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rule that is violated in an evaluation."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the documentation of the rule."
          }
        },
        "violationDetails": {
          "target": "com.gcp.workloadmanager_v1#ViolationDetails",
          "traits": {
            "smithy.api#documentation": "The details of violation in an evaluation result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of an execution."
      }
    },
    "com.gcp.workloadmanager_v1#CommandList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Command"
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionResultTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PASSED"
          }
        },
        "TYPE_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_VIOLATED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadProperties": {
      "type": "structure",
      "members": {
        "productVersions": {
          "target": "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesProductVersionList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SAP Products and their versions running on the system."
          }
        },
        "softwareComponentVersions": {
          "target": "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesSoftwareComponentPropertiesList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of SAP software components and their versions running on the system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of properties describing an SAP workload."
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesProductVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesProductVersion"
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesSoftwareComponentPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
      }
    },
    "com.gcp.workloadmanager_v1#DatabaseProperties": {
      "type": "structure",
      "members": {
        "backupProperties": {
          "target": "com.gcp.workloadmanager_v1#BackupProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Backup properties."
          }
        },
        "databaseType": {
          "target": "com.gcp.workloadmanager_v1#DatabasePropertiesDatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the database. `HANA`, `DB2`, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database Properties."
      }
    },
    "com.gcp.workloadmanager_v1#DatabasePropertiesDatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_TYPE_UNSPECIFIED"
          }
        },
        "HANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HANA"
          }
        },
        "MAX_DB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_DB"
          }
        },
        "DB2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DB2"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        },
        "SQLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER"
          }
        },
        "ASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASE"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.workloadmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.workloadmanager_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.workloadmanager_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.workloadmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.workloadmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.workloadmanager_v1#ListEvaluationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "evaluations": {
          "target": "com.gcp.workloadmanager_v1#EvaluationList",
          "traits": {
            "smithy.api#documentation": "The list of evaluations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListEvaluations RPC."
      }
    },
    "com.gcp.workloadmanager_v1#EvaluationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Evaluation"
      }
    },
    "com.gcp.workloadmanager_v1#ListExecutionResultsResponse": {
      "type": "structure",
      "members": {
        "executionResults": {
          "target": "com.gcp.workloadmanager_v1#ExecutionResultList",
          "traits": {
            "smithy.api#documentation": "The versions from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListExecutionResults RPC."
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#ExecutionResult"
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryComponentApplicationProperties": {
      "type": "structure",
      "members": {
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Kernel version for Netweaver running in the system."
          }
        },
        "abap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java."
          }
        },
        "ascsInstanceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance number of the ASCS instance."
          }
        },
        "applicationType": {
          "target": "com.gcp.workloadmanager_v1#SapDiscoveryComponentApplicationPropertiesApplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the application. Netweaver, etc."
          }
        },
        "ascsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource URI of the recognized ASCS host of the application."
          }
        },
        "appInstanceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance number of the SAP application instance."
          }
        },
        "nfsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
          }
        },
        "ersInstanceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instance number of the ERS instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of properties describing an SAP Application layer."
      }
    },
    "com.gcp.workloadmanager_v1#SapDiscoveryComponentApplicationPropertiesApplicationTypeEnum": {
      "type": "enum",
      "members": {
        "APPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "NETWEAVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWEAVER"
          }
        },
        "NETWEAVER_ABAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWEAVER_ABAP"
          }
        },
        "NETWEAVER_JAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWEAVER_JAVA"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#GceInstanceFilter": {
      "type": "structure",
      "members": {
        "serviceAccounts": {
          "target": "com.gcp.workloadmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter for matching Compute Engine instances."
      }
    },
    "com.gcp.workloadmanager_v1#SqlserverValidation": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project_id of the cloud project that the Insight data comes from."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
          }
        },
        "agentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The agent version collected this data point"
          }
        },
        "validationDetails": {
          "target": "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetailList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of SqlServer validation metrics data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data."
      }
    },
    "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#SqlserverValidationValidationDetail"
      }
    },
    "com.gcp.workloadmanager_v1#Execution": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.workloadmanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "engine": {
          "target": "com.gcp.workloadmanager_v1#ExecutionEngineEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Engine."
          }
        },
        "runType": {
          "target": "com.gcp.workloadmanager_v1#ExecutionRunTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field."
          }
        },
        "resultSummary": {
          "target": "com.gcp.workloadmanager_v1#Summary",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Result summary for the execution."
          }
        },
        "state": {
          "target": "com.gcp.workloadmanager_v1#ExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] State."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Start time stamp."
          }
        },
        "evaluationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Evaluation ID."
          }
        },
        "externalDataSources": {
          "target": "com.gcp.workloadmanager_v1#ExternalDataSourcesList",
          "traits": {
            "smithy.api#documentation": "Optional. External data sources."
          }
        },
        "notices": {
          "target": "com.gcp.workloadmanager_v1#NoticeList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information generated by the execution."
          }
        },
        "inventoryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Inventory time stamp."
          }
        },
        "ruleResults": {
          "target": "com.gcp.workloadmanager_v1#RuleExecutionResultList",
          "traits": {
            "smithy.api#documentation": "Output only. Execution result summary per rule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] End time stamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution that represents a single run of an Evaluation."
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "ENGINE_SCANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_SCANNER"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionRunTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ExecutionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.workloadmanager_v1#ExternalDataSourcesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#ExternalDataSources"
      }
    },
    "com.gcp.workloadmanager_v1#NoticeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#Notice"
      }
    },
    "com.gcp.workloadmanager_v1#RuleExecutionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.workloadmanager_v1#RuleExecutionResult"
      }
    },
    "com.gcp.workloadmanager_v1#Command": {
      "type": "structure",
      "members": {
        "shellCommand": {
[...]
