{
  "smithy": "2.0",
  "metadata": {
    "service": "youtube",
    "version": "v3",
    "title": "YouTube Data API v3",
    "baseUrl": "https://youtube.googleapis.com/"
  },
  "shapes": {
    "com.gcp.youtube_v3#VideoAbuseReportReasonSnippet": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized label belonging to this abuse report reason."
          }
        },
        "secondaryReasons": {
          "target": "com.gcp.youtube_v3#VideoAbuseReportSecondaryReasonList",
          "traits": {
            "smithy.api#documentation": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic details about a video category, such as its localized title."
      }
    },
    "com.gcp.youtube_v3#VideoAbuseReportSecondaryReasonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#VideoAbuseReportSecondaryReason"
      }
    },
    "com.gcp.youtube_v3#ThumbnailDetails": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "com.gcp.youtube_v3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The standard quality image for this resource."
          }
        },
        "default": {
          "target": "com.gcp.youtube_v3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The default image for this resource."
          }
        },
        "medium": {
          "target": "com.gcp.youtube_v3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The medium quality image for this resource."
          }
        },
        "high": {
          "target": "com.gcp.youtube_v3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The high quality image for this resource."
          }
        },
        "maxres": {
          "target": "com.gcp.youtube_v3#Thumbnail",
          "traits": {
            "smithy.api#documentation": "The maximum resolution quality image for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal representation of thumbnails for a YouTube resource."
      }
    },
    "com.gcp.youtube_v3#PlaylistStatus": {
      "type": "structure",
      "members": {
        "privacyStatus": {
          "target": "com.gcp.youtube_v3#PlaylistStatusPrivacyStatusEnum",
          "traits": {
            "smithy.api#documentation": "The playlist's privacy status."
          }
        },
        "podcastStatus": {
          "target": "com.gcp.youtube_v3#PlaylistStatusPodcastStatusEnum",
          "traits": {
            "smithy.api#documentation": "The playlist's podcast status."
          }
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistStatusPrivacyStatusEnum": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistStatusPodcastStatusEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistImageSnippet": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The image height."
          }
        },
        "playlistId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Playlist ID of the playlist this image is associated with."
          }
        },
        "type": {
          "target": "com.gcp.youtube_v3#PlaylistImageSnippetTypeEnum",
          "traits": {
            "smithy.api#documentation": "The image type."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The image width."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *playlistImage* resource identifies another resource, such as a image, that is associated with a playlist. In addition, the playlistImage resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistImages.list method to retrieve image data for any of those playlists. You can also add or remove images from those lists by calling the playlistImages.insert and playlistImages.delete methods."
      }
    },
    "com.gcp.youtube_v3#PlaylistImageSnippetTypeEnum": {
      "type": "enum",
      "members": {
        "HERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hero"
          }
        }
      }
    },
    "com.gcp.youtube_v3#VideoPaidProductPlacementDetails": {
      "type": "structure",
      "members": {
        "hasPaidProductPlacement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This boolean represents whether the video contains Paid Product Placement, Studio equivalent: https://screenshot.googleplex.com/4Me79DE6AfT2ktp.png"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about paid content, such as paid product placement, sponsorships or endorsement, contained in a YouTube video and a method to inform viewers of paid promotion. This data can only be retrieved by the video owner."
      }
    },
    "com.gcp.youtube_v3#VideoSuggestionsTagSuggestion": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The keyword tag suggested for the video."
          }
        },
        "categoryRestricts": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single tag suggestion with its relevance information."
      }
    },
    "com.gcp.youtube_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.youtube_v3#Comment": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#CommentSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the comment."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the comment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *comment* represents a single YouTube comment."
      }
    },
    "com.gcp.youtube_v3#LiveBroadcastListResponse": {
      "type": "structure",
      "members": {
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\"."
          }
        },
        "items": {
          "target": "com.gcp.youtube_v3#LiveBroadcastList",
          "traits": {
            "smithy.api#documentation": "A list of broadcasts that match the request criteria."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveBroadcastList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#LiveBroadcast"
      }
    },
    "com.gcp.youtube_v3#VideoMonetizationDetails": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.gcp.youtube_v3#AccessPolicy",
          "traits": {
            "smithy.api#documentation": "The value of access indicates whether the video can be monetized or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about monetization of a YouTube Video."
      }
    },
    "com.gcp.youtube_v3#Entity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "typeId": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.youtube_v3#ThirdPartyLink": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\"."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#ThirdPartyLinkSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the third- party account link."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource"
          }
        },
        "status": {
          "target": "com.gcp.youtube_v3#ThirdPartyLinkStatus",
          "traits": {
            "smithy.api#documentation": "The status object contains information about the status of the link."
          }
        },
        "linkingToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The linking_token identifies a YouTube account and channel with which the third party account is linked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service."
      }
    },
    "com.gcp.youtube_v3#SuperChatEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube assigns to uniquely identify the Super Chat event."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#SuperChatEventSnippet",
          "traits": {
            "smithy.api#documentation": "The `snippet` object contains basic details about the Super Chat event."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel."
      }
    },
    "com.gcp.youtube_v3#ActivityContentDetailsBulletin": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "com.gcp.youtube_v3#ResourceId",
          "traits": {
            "smithy.api#documentation": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a channel bulletin post."
      }
    },
    "com.gcp.youtube_v3#PlaylistImage": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImages\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this resource (playlist id and image type)."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#PlaylistImageSnippet"
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistItemListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.youtube_v3#PlaylistItemList",
          "traits": {
            "smithy.api#documentation": "A list of playlist items that match the request criteria."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "etag": {
          "target": "smithy.api#String"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\"."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#PlaylistItem"
      }
    },
    "com.gcp.youtube_v3#Playlist": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\"."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#PlaylistSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the playlist, such as its title and description."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "status": {
          "target": "com.gcp.youtube_v3#PlaylistStatus",
          "traits": {
            "smithy.api#documentation": "The status object contains status information for the playlist."
          }
        },
        "localizations": {
          "target": "com.gcp.youtube_v3#PlaylistLocalizationMap",
          "traits": {
            "smithy.api#documentation": "Localizations for different languages"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the playlist."
          }
        },
        "contentDetails": {
          "target": "com.gcp.youtube_v3#PlaylistContentDetails",
          "traits": {
            "smithy.api#documentation": "The contentDetails object contains information like video count."
          }
        },
        "player": {
          "target": "com.gcp.youtube_v3#PlaylistPlayer",
          "traits": {
            "smithy.api#documentation": "The player object contains information that you would use to play the playlist in an embedded player."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods."
      }
    },
    "com.gcp.youtube_v3#PlaylistLocalizationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.youtube_v3#PlaylistLocalization"
      }
    },
    "com.gcp.youtube_v3#ThirdPartyLinkStatus": {
      "type": "structure",
      "members": {
        "linkStatus": {
          "target": "com.gcp.youtube_v3#ThirdPartyLinkStatusLinkStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "The third-party link status object contains information about the status of the link."
      }
    },
    "com.gcp.youtube_v3#ThirdPartyLinkStatusLinkStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linked"
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatGiftMembershipReceivedDetails": {
      "type": "structure",
      "members": {
        "associatedMembershipGiftingMessageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the membership gifting message that is related to this gift membership. This ID will always refer to a message whose type is 'membershipGiftingEvent'."
          }
        },
        "gifterChannelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that made the membership gifting purchase. This matches the `snippet.authorChannelId` of the associated membership gifting message."
          }
        },
        "memberLevelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Level at which the viewer is a member. This matches the `snippet.membershipGiftingDetails.giftMembershipsLevelName` of the associated membership gifting message. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
          }
        }
      }
    },
    "com.gcp.youtube_v3#InvideoPosition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.youtube_v3#InvideoPositionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Defines the position type."
          }
        },
        "cornerPosition": {
          "target": "com.gcp.youtube_v3#InvideoPositionCornerPositionEnum",
          "traits": {
            "smithy.api#documentation": "Describes in which corner of the video the visual widget will appear."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one."
      }
    },
    "com.gcp.youtube_v3#InvideoPositionTypeEnum": {
      "type": "enum",
      "members": {
        "CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "corner"
          }
        }
      }
    },
    "com.gcp.youtube_v3#InvideoPositionCornerPositionEnum": {
      "type": "enum",
      "members": {
        "TOPLEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "topLeft"
          }
        },
        "TOPRIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "topRight"
          }
        },
        "BOTTOMLEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bottomLeft"
          }
        },
        "BOTTOMRIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bottomRight"
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelConversionPings": {
      "type": "structure",
      "members": {
        "pings": {
          "target": "com.gcp.youtube_v3#ChannelConversionPingList",
          "traits": {
            "smithy.api#documentation": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
      }
    },
    "com.gcp.youtube_v3#ChannelConversionPingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#ChannelConversionPing"
      }
    },
    "com.gcp.youtube_v3#I18nLanguage": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\"."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#I18nLanguageSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the i18n language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube."
      }
    },
    "com.gcp.youtube_v3#LiveChatMessage": {
      "type": "structure",
      "members": {
        "authorDetails": {
          "target": "com.gcp.youtube_v3#LiveChatMessageAuthorDetails",
          "traits": {
            "smithy.api#documentation": "The authorDetails object contains basic details about the user that posted this message."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube assigns to uniquely identify the message."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\"."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#LiveChatMessageSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat."
      }
    },
    "com.gcp.youtube_v3#ChannelSectionContentDetails": {
      "type": "structure",
      "members": {
        "playlists": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed."
          }
        },
        "channels": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The channel ids for type multiple_channels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a channelsection, including playlists and channels."
      }
    },
    "com.gcp.youtube_v3#ChannelListResponse": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\"."
          }
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "items": {
          "target": "com.gcp.youtube_v3#ChannelList"
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#Channel"
      }
    },
    "com.gcp.youtube_v3#AccessPolicy": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
          }
        },
        "exception": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A list of region codes that identify countries where the default policy do not apply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rights management policy for YouTube resources."
      }
    },
    "com.gcp.youtube_v3#ChannelStatistics": {
      "type": "structure",
      "members": {
        "viewCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of times the channel has been viewed."
          }
        },
        "commentCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of comments for the channel."
          }
        },
        "subscriberCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of subscribers that the channel has."
          }
        },
        "hiddenSubscriberCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the number of subscribers is shown for this user."
          }
        },
        "videoCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of videos uploaded to the channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics about a channel: number of subscribers, number of videos in the channel, etc."
      }
    },
    "com.gcp.youtube_v3#VideoProcessingDetailsProcessingProgress": {
      "type": "structure",
      "members": {
        "timeLeftMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video."
          }
        },
        "partsTotal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video."
          }
        },
        "partsProcessed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video processing progress and completion time estimate."
      }
    },
    "com.gcp.youtube_v3#Thumbnail": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "(Optional) Height of the thumbnail image."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail image's URL."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "(Optional) Width of the thumbnail image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A thumbnail is an image representing a YouTube resource."
      }
    },
    "com.gcp.youtube_v3#ActivityContentDetailsUpload": {
      "type": "structure",
      "members": {
        "videoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the uploaded video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the uploaded video."
      }
    },
    "com.gcp.youtube_v3#LiveChatBan": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube assigns to uniquely identify the ban."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#LiveChatBanSnippet",
          "traits": {
            "smithy.api#documentation": "The `snippet` object contains basic details about the ban."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `__liveChatBan__` resource represents a ban for a YouTube live chat."
      }
    },
    "com.gcp.youtube_v3#MembershipsDurationAtLevel": {
      "type": "structure",
      "members": {
        "memberSince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the user became a continuous member for the given level."
          }
        },
        "memberTotalDurationMonths": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer)."
          }
        },
        "level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pricing level ID."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatNewSponsorDetails": {
      "type": "structure",
      "members": {
        "memberLevelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
          }
        },
        "isUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatPollDetailsPollMetadata": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.youtube_v3#LiveChatPollDetailsPollMetadataPollOptionList",
          "traits": {
            "smithy.api#documentation": "The options will be returned in the order that is displayed in 1P"
          }
        },
        "questionText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatPollDetailsPollMetadataPollOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#LiveChatPollDetailsPollMetadataPollOption"
      }
    },
    "com.gcp.youtube_v3#CommentThreadListResponse": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "items": {
          "target": "com.gcp.youtube_v3#CommentThreadList",
          "traits": {
            "smithy.api#documentation": "A list of comment threads that match the request criteria."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        }
      }
    },
    "com.gcp.youtube_v3#CommentThreadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#CommentThread"
      }
    },
    "com.gcp.youtube_v3#ChannelSectionSnippet": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.youtube_v3#ChannelSectionSnippetTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the channel section."
          }
        },
        "channelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the channel that published the channel section."
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The position of the channel section in the channel."
          }
        },
        "defaultLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the channel section's default title and description."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel section's title for multiple_playlists and multiple_channels."
          }
        },
        "localized": {
          "target": "com.gcp.youtube_v3#ChannelSectionLocalization",
          "traits": {
            "smithy.api#documentation": "Localized title, read-only."
          }
        },
        "style": {
          "target": "com.gcp.youtube_v3#ChannelSectionSnippetStyleEnum",
          "traits": {
            "smithy.api#documentation": "The style of the channel section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic details about a channel section, including title, style and position."
      }
    },
    "com.gcp.youtube_v3#ChannelSectionSnippetTypeEnum": {
      "type": "enum",
      "members": {
        "CHANNELSECTIONTYPEUNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "channelsectionTypeUndefined"
          }
        },
        "SINGLEPLAYLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "singlePlaylist"
          }
        },
        "MULTIPLEPLAYLISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiplePlaylists"
          }
        },
        "POPULARUPLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "popularUploads"
          }
        },
        "RECENTUPLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recentUploads"
          }
        },
        "LIKES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "likes"
          }
        },
        "ALLPLAYLISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allPlaylists"
          }
        },
        "LIKEDPLAYLISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "likedPlaylists"
          }
        },
        "RECENTPOSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recentPosts"
          }
        },
        "RECENTACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recentActivity"
          }
        },
        "LIVEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "liveEvents"
          }
        },
        "UPCOMINGEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upcomingEvents"
          }
        },
        "COMPLETEDEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completedEvents"
          }
        },
        "MULTIPLECHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleChannels"
          }
        },
        "POSTEDVIDEOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postedVideos"
          }
        },
        "POSTEDPLAYLISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postedPlaylists"
          }
        },
        "SUBSCRIPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscriptions"
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelSectionSnippetStyleEnum": {
      "type": "enum",
      "members": {
        "CHANNELSECTIONSTYLEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "channelsectionStyleUnspecified"
          }
        },
        "HORIZONTALROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "horizontalRow"
          }
        },
        "VERTICALLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verticalList"
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveStreamHealthStatus": {
      "type": "structure",
      "members": {
        "lastUpdateTimeSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time this status was updated (in seconds)"
          }
        },
        "configurationIssues": {
          "target": "com.gcp.youtube_v3#LiveStreamConfigurationIssueList",
          "traits": {
            "smithy.api#documentation": "The configurations issues on this stream"
          }
        },
        "status": {
          "target": "com.gcp.youtube_v3#LiveStreamHealthStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status code of this stream"
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveStreamConfigurationIssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#LiveStreamConfigurationIssue"
      }
    },
    "com.gcp.youtube_v3#LiveStreamHealthStatusStatusEnum": {
      "type": "enum",
      "members": {
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "good"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "BAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bad"
          }
        },
        "NODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noData"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelSectionListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.youtube_v3#ChannelSectionList",
          "traits": {
            "smithy.api#documentation": "A list of ChannelSections that match the request criteria."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\"."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelSectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#ChannelSection"
      }
    },
    "com.gcp.youtube_v3#ChannelSettings": {
      "type": "structure",
      "members": {
        "showBrowseView": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the tab to browse the videos should be displayed."
          }
        },
        "featuredChannelsTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the featured channels tab."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the channel description."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country of the channel."
          }
        },
        "defaultTab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Which content tab users should see when viewing the channel."
          }
        },
        "profileColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A prominent color that can be rendered on this channel page."
          }
        },
        "keywords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lists keywords associated with the channel, comma-separated."
          }
        },
        "moderateComments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
          }
        },
        "unsubscribedTrailer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trailer of the channel, for users that are not subscribers."
          }
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the channel title."
          }
        },
        "trackingAnalyticsAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for a Google Analytics account to track and measure traffic to the channels."
          }
        },
        "featuredChannelsUrls": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The list of featured channels."
          }
        },
        "showRelatedChannels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether related channels should be proposed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Branding properties for the channel view."
      }
    },
    "com.gcp.youtube_v3#VideoSnippet": {
      "type": "structure",
      "members": {
        "liveBroadcastContent": {
          "target": "com.gcp.youtube_v3#VideoSnippetLiveBroadcastContentEnum",
          "traits": {
            "smithy.api#documentation": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's title. @mutable youtube.videos.insert youtube.videos.update"
          }
        },
        "channelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to."
          }
        },
        "defaultLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the videos's default snippet."
          }
        },
        "thumbnails": {
          "target": "com.gcp.youtube_v3#ThumbnailDetails",
          "traits": {
            "smithy.api#documentation": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
          }
        },
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YouTube video category associated with the video."
          }
        },
        "tags": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A list of keyword tags associated with the video. Tags may contain spaces."
          }
        },
        "publishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video was uploaded."
          }
        },
        "localized": {
          "target": "com.gcp.youtube_v3#VideoLocalization",
          "traits": {
            "smithy.api#documentation": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's description. @mutable youtube.videos.insert youtube.videos.update"
          }
        },
        "channelTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel title for the channel that the video belongs to."
          }
        },
        "defaultAudioLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default_audio_language property specifies the language spoken in the video's default audio track."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic details about a video, including title, description, uploader, thumbnails and category."
      }
    },
    "com.gcp.youtube_v3#VideoSnippetLiveBroadcastContentEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "UPCOMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upcoming"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatModeratorListResponse": {
      "type": "structure",
      "members": {
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\"."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "items": {
          "target": "com.gcp.youtube_v3#LiveChatModeratorList",
          "traits": {
            "smithy.api#documentation": "A list of moderators that match the request criteria."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveChatModeratorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#LiveChatModerator"
      }
    },
    "com.gcp.youtube_v3#ActivityListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.youtube_v3#ActivityList"
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\"."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ActivityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#Activity"
      }
    },
    "com.gcp.youtube_v3#ChannelLocalization": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized strings for channel's description."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized strings for channel's title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Channel localization setting"
      }
    },
    "com.gcp.youtube_v3#LiveChatSuperStickerDetails": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency in which the purchase was made."
          }
        },
        "superStickerMetadata": {
          "target": "com.gcp.youtube_v3#SuperStickerMetadata",
          "traits": {
            "smithy.api#documentation": "Information about the Super Sticker."
          }
        },
        "amountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount purchased by the user, in micros (1,750,000 micros = 1.75)."
          }
        },
        "amountDisplayString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A rendered string that displays the fund amount and currency to the user."
          }
        },
        "tier": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelSection": {
      "type": "structure",
      "members": {
        "localizations": {
          "target": "com.gcp.youtube_v3#ChannelSectionLocalizationMap",
          "traits": {
            "smithy.api#documentation": "Localizations for different languages"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the channel section."
          }
        },
        "contentDetails": {
          "target": "com.gcp.youtube_v3#ChannelSectionContentDetails",
          "traits": {
            "smithy.api#documentation": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#ChannelSectionSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the channel section, such as its type, style and title."
          }
        },
        "targeting": {
          "target": "com.gcp.youtube_v3#ChannelSectionTargeting",
          "traits": {
            "smithy.api#documentation": "The targeting object contains basic targeting settings about the channel section."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\"."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelSectionLocalizationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.youtube_v3#ChannelSectionLocalization"
      }
    },
    "com.gcp.youtube_v3#PlaylistImageListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "items": {
          "target": "com.gcp.youtube_v3#PlaylistImageList"
        }
      }
    },
    "com.gcp.youtube_v3#PlaylistImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#PlaylistImage"
      }
    },
    "com.gcp.youtube_v3#ActivityContentDetails": {
      "type": "structure",
      "members": {
        "like": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsLike",
          "traits": {
            "smithy.api#documentation": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like."
          }
        },
        "channelItem": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsChannelItem",
          "traits": {
            "smithy.api#documentation": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem."
          }
        },
        "upload": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsUpload",
          "traits": {
            "smithy.api#documentation": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload."
          }
        },
        "promotedItem": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsPromotedItem",
          "traits": {
            "smithy.api#documentation": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem."
          }
        },
        "recommendation": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsRecommendation",
          "traits": {
            "smithy.api#documentation": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation."
          }
        },
        "playlistItem": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsPlaylistItem",
          "traits": {
            "smithy.api#documentation": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem."
          }
        },
        "bulletin": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsBulletin",
          "traits": {
            "smithy.api#documentation": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin."
          }
        },
        "comment": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsComment",
          "traits": {
            "smithy.api#documentation": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment."
          }
        },
        "subscription": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsSubscription",
          "traits": {
            "smithy.api#documentation": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription."
          }
        },
        "social": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsSocial",
          "traits": {
            "smithy.api#documentation": "The social object contains details about a social network post. This property is only present if the snippet.type is social."
          }
        },
        "favorite": {
          "target": "com.gcp.youtube_v3#ActivityContentDetailsFavorite",
          "traits": {
            "smithy.api#documentation": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc."
      }
    },
    "com.gcp.youtube_v3#ChannelProfileDetails": {
      "type": "structure",
      "members": {
        "channelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YouTube channel ID."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel's display name."
          }
        },
        "profileImageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channels's avatar URL."
          }
        },
        "channelUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel's URL."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LevelDetails": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name that should be used when referring to this level."
          }
        }
      }
    },
    "com.gcp.youtube_v3#ChannelContentDetails": {
      "type": "structure",
      "members": {
        "relatedPlaylists": {
          "target": "com.gcp.youtube_v3#ChannelContentDetailsRelatedPlaylists"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the content of a channel."
      }
    },
    "com.gcp.youtube_v3#ChannelContentDetailsRelatedPlaylists": {
      "type": "structure",
      "members": {
        "watchLater": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
          }
        },
        "likes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
          }
        },
        "watchHistory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
          }
        },
        "favorites": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
          }
        },
        "uploads": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
          }
        }
      }
    },
    "com.gcp.youtube_v3#VideoContentDetailsRegionRestriction": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries."
          }
        },
        "blocked": {
          "target": "com.gcp.youtube_v3#StringList",
          "traits": {
            "smithy.api#documentation": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DEPRECATED Region restriction of the video."
      }
    },
    "com.gcp.youtube_v3#PlaylistItemSnippet": {
      "type": "structure",
      "members": {
        "channelTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel title for the channel that the playlist item belongs to."
          }
        },
        "videoOwnerChannelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel id for the channel this video belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item's description."
          }
        },
        "publishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time that the item was added to the playlist."
          }
        },
        "thumbnails": {
          "target": "com.gcp.youtube_v3#ThumbnailDetails",
          "traits": {
            "smithy.api#documentation": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
          }
        },
        "playlistId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in."
          }
        },
        "videoOwnerChannelTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel title for the channel this video belongs to."
          }
        },
        "channelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth."
          }
        },
        "resourceId": {
          "target": "com.gcp.youtube_v3#ResourceId",
          "traits": {
            "smithy.api#documentation": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item's title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15"
      }
    },
    "com.gcp.youtube_v3#CaptionSnippet": {
      "type": "structure",
      "members": {
        "audioTrackType": {
          "target": "com.gcp.youtube_v3#CaptionSnippetAudioTrackTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of audio track associated with the caption track."
          }
        },
        "isDraft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the caption track. The name is intended to be visible to the user as an option during playback."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the caption track. The property value is a BCP-47 language tag."
          }
        },
        "isAutoSynced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."
          }
        },
        "isCC": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the caption track was last updated."
          }
        },
        "isLarge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
          }
        },
        "status": {
          "target": "com.gcp.youtube_v3#CaptionSnippetStatusEnum",
          "traits": {
            "smithy.api#documentation": "The caption track's status."
          }
        },
        "trackKind": {
          "target": "com.gcp.youtube_v3#CaptionSnippetTrackKindEnum",
          "traits": {
            "smithy.api#documentation": "The caption track's type."
          }
        },
        "isEasyReader": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false."
          }
        },
        "failureReason": {
          "target": "com.gcp.youtube_v3#CaptionSnippetFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed."
          }
        },
        "videoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic details about a caption track, such as its language and name."
      }
    },
    "com.gcp.youtube_v3#CaptionSnippetAudioTrackTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commentary"
          }
        },
        "DESCRIPTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "descriptive"
          }
        }
      }
    },
    "com.gcp.youtube_v3#CaptionSnippetStatusEnum": {
      "type": "enum",
      "members": {
        "SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serving"
          }
        },
        "SYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syncing"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.gcp.youtube_v3#CaptionSnippetTrackKindEnum": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ASR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASR"
          }
        },
        "FORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forced"
          }
        }
      }
    },
    "com.gcp.youtube_v3#CaptionSnippetFailureReasonEnum": {
      "type": "enum",
      "members": {
        "UNKNOWNFORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownFormat"
          }
        },
        "UNSUPPORTEDFORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupportedFormat"
          }
        },
        "PROCESSINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processingFailed"
          }
        }
      }
    },
    "com.gcp.youtube_v3#SearchResult": {
      "type": "structure",
      "members": {
        "snippet": {
          "target": "com.gcp.youtube_v3#SearchResultSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
          }
        },
        "id": {
          "target": "com.gcp.youtube_v3#ResourceId",
          "traits": {
            "smithy.api#documentation": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\"."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
      }
    },
    "com.gcp.youtube_v3#VideoProjectDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "DEPRECATED. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677"
      }
    },
    "com.gcp.youtube_v3#Subscription": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that YouTube uses to uniquely identify the subscription."
          }
        },
        "contentDetails": {
          "target": "com.gcp.youtube_v3#SubscriptionContentDetails",
          "traits": {
            "smithy.api#documentation": "The contentDetails object contains basic statistics about the subscription."
          }
        },
        "subscriberSnippet": {
          "target": "com.gcp.youtube_v3#SubscriptionSubscriberSnippet",
          "traits": {
            "smithy.api#documentation": "The subscriberSnippet object contains basic details about the subscriber."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\"."
          }
        },
        "snippet": {
          "target": "com.gcp.youtube_v3#SubscriptionSnippet",
          "traits": {
            "smithy.api#documentation": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video."
      }
    },
    "com.gcp.youtube_v3#TestItemTestItemSnippet": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.youtube_v3#VideoListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.youtube_v3#VideoList"
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visitorId identifies the visitor."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of this resource."
          }
        },
        "prevPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.youtube_v3#TokenPagination"
        },
        "pageInfo": {
          "target": "com.gcp.youtube_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serialized EventId of the request which produced this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\"."
          }
        }
      }
    },
    "com.gcp.youtube_v3#VideoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.youtube_v3#Video"
      }
    },
    "com.gcp.youtube_v3#LiveStreamConfigurationIssue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.youtube_v3#LiveStreamConfigurationIssueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The kind of error happening."
          }
        },
        "severity": {
          "target": "com.gcp.youtube_v3#LiveStreamConfigurationIssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "How severe this issue is to the stream."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The long-form description of the issue and how to resolve it."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short-form reason for this issue."
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveStreamConfigurationIssueTypeEnum": {
      "type": "enum",
      "members": {
        "GOPSIZEOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopSizeOver"
          }
        },
        "GOPSIZELONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopSizeLong"
          }
        },
        "GOPSIZESHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopSizeShort"
          }
        },
        "OPENGOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openGop"
          }
        },
        "BADCONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "badContainer"
          }
        },
        "AUDIOBITRATEHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioBitrateHigh"
          }
        },
        "AUDIOBITRATELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioBitrateLow"
          }
        },
        "AUDIOSAMPLERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioSampleRate"
          }
        },
        "BITRATEHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitrateHigh"
          }
        },
        "BITRATELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitrateLow"
          }
        },
        "AUDIOCODEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioCodec"
          }
        },
        "VIDEOCODEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoCodec"
          }
        },
        "NOAUDIOSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noAudioStream"
          }
        },
        "NOVIDEOSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noVideoStream"
          }
        },
        "MULTIPLEVIDEOSTREAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleVideoStreams"
          }
        },
        "MULTIPLEAUDIOSTREAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleAudioStreams"
          }
        },
        "AUDIOTOOMANYCHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioTooManyChannels"
          }
        },
        "INTERLACEDVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interlacedVideo"
          }
        },
        "FRAMERATEHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frameRateHigh"
          }
        },
        "RESOLUTIONMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolutionMismatch"
          }
        },
        "VIDEOCODECMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoCodecMismatch"
          }
        },
        "VIDEOINTERLACEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoInterlaceMismatch"
          }
        },
        "VIDEOPROFILEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoProfileMismatch"
          }
        },
        "VIDEOBITRATEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoBitrateMismatch"
          }
        },
        "FRAMERATEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "framerateMismatch"
          }
        },
        "GOPMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopMismatch"
          }
        },
        "AUDIOSAMPLERATEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioSampleRateMismatch"
          }
        },
        "AUDIOSTEREOMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioStereoMismatch"
          }
        },
        "AUDIOCODECMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioCodecMismatch"
          }
        },
        "AUDIOBITRATEMISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioBitrateMismatch"
          }
        },
        "VIDEORESOLUTIONSUBOPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoResolutionSuboptimal"
          }
        },
        "VIDEORESOLUTIONUNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoResolutionUnsupported"
          }
        },
        "VIDEOINGESTIONSTARVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoIngestionStarved"
          }
        },
        "VIDEOINGESTIONFASTERTHANREALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoIngestionFasterThanRealtime"
          }
        }
      }
    },
    "com.gcp.youtube_v3#LiveStreamConfigurationIssueSeverityEnum": {
      "type": "enum",
      "members": {
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.gcp.youtube_v3#VideoRecordingDetails": {
      "type": "structure",
      "members": {
        "locationDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text description of the location where the video was recorded."
          }
        },
        "recordingDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video was recorded."
          }
        },
        "location": {
          "target": "com.gcp.youtube_v3#GeoPoint",
          "traits": {
            "smithy.api#documentation": "The geolocation information associated with the video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recording information associated with the video."
      }
    },
    "com.gcp.youtube_v3#VideoLocalization": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized version of the video's description."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized version of the video's title."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized versions of certain video properties (e.g. title)."
      }
    },
    "com.gcp.youtube_v3#WatchSettings": {
      "type": "structure",
      "members": {
        "featuredPlaylistId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that uniquely identifies a playlist that displays next to the video player."
          }
        },
        "textColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color for the video watch page's branded area."
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text color for the video watch page's branded area."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Branding properties for the watch. All deprecated."
      }
    },
    "com.gcp.youtube_v3#ActivityContentDetailsChannelItem": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "com.gcp.youtube_v3#ResourceId",
          "traits": {
            "smithy.api#documentation": "The resourceId object contains information that identifies the resource that was added to the channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a resource which was added to a channel."
      }
    },
    "com.gcp.youtube_v3#ImageSettings": {
      "type": "structure",
      "members": {
        "largeBrandedBannerImageUrl": {
          "target": "com.gcp.youtube_v3#LocalizedProperty",
          "traits": {
[...]
